[2021-10-18 09:21] msyyc opened #21303 "[Python] daily request issue release"
https://github.com/msyyc/file-storage/blob/release-issue-status/published_issues_python.csv
https://github.com/msyyc/file-storage/blob/release-issue-status/release_python_status.md

[2021-10-18 09:23] msyyc opened #21304 "[Python] Daily work"
Python Daily work include:
(1) release request issue
(2) handle customer-reported issue
(3) handle contributor PR
(4) swagger review
...

[2021-10-18 09:32] msyyc opened #21305 "[LLC] `azure-iot-deviceupdate` release with LLC"
https://github.com/Azure/azure-sdk-for-python-pr/pull/795

[2021-10-18 10:27] ArthurMa1978 opened #21306 "[Python] Upgrade service documents from Track 1 to Track 2"
80% documents on Docs should be updated

[2021-10-18 13:39] damiondoesthings opened #21307 "Mypy error: Function has duplicate type signatures"
- **Package Name**: azure-storage-file-share
- **Package Version**: 12.6.0
- **Operating System**: Mac OS 11.6 / ubuntu-18.04
- **Python Version**: 3.8

**Describe the bug**
Duplicate type information causes type checker to fail.
mypy 0.910 will fail with output `azure/storage/fileshare/_file_client.py:684: error: Function has duplicate type signatures`

**To Reproduce**
Steps to reproduce the beh

[2021-10-18 13:47] DamionWerner commented on #21307
Already fixed with [This pull request](https://github.com/Azure/azure-sdk-for-python/pull/19739)

[2021-10-18 13:47] #21307 closed, assigned to nobody

[2021-10-18 16:54] xiangyan99 commented on #19315
@drahnreb Thanks for your suggestion. Unfortunately, currently we don't have plan to integrate https proxy support for aiohttp library.

We understand this is a pain point and we will be working on a solution for async io with https proxies.

Thanks again for your feedback.

[2021-10-18 18:33] lmazuel commented on #21207
Hi @Codejune ,

First on the Python versions: the baseline we support today is 3.6, that is going EOL this December 2021. We are not sure yet if we will deprecate 3.6 support immediately at its EOL, but soon in 2022 we will stop supporting 3.6 completely anyway. Which will make 3.7 the new baseline. There are no "lower users", since we stopped supporting 3.5 and below for a few months already.

Th

[2021-10-18 20:50] kurtzeborn commented on #16765
@tasherif-msft, are you still seeing sporadic failures?  This is an old issue and I haven't heard much lately on concerns here.  Marking this to close automatically.  Please re-open or escalate through @amishra-dev if this is continuing to happen.

[2021-10-18 21:33] frank-lsf opened #21313 "_retrieve_token() missing 1 required positional argument: 'token_resource'"
- **Package Name**: azure-cli
- **Package Version**: 2.29.0
- **Operating System**: macOS Big Sur 11.6
- **Python Version**: Python 3.8.11

**Describe the bug**
A clear and concise description of what the bug is.

Try to create a resource with azure-cli, calling from Python, and I got:

[code]

**To Reproduce**
Steps to reproduce the behavior:

I'm using Ray Autoscaler. `ray up azure.yaml`.

**Exp

[2021-10-18 23:49] scbedd opened #21319 "Pull package owners into available metadata in `git_helper.py`"
The pypa API doesn't currently return the `maintainer` settings, so we need to do some exploration here.

[2021-10-18 23:49] scbedd commented on #20807
Follow-up issue filed [here](https://github.com/Azure/azure-sdk-for-python/issues/21319).

[2021-10-18 23:59] ivantarapov opened #21320 "Image URLs are broken in "Authenticating during local development" section"
Image URLs are broken in "Authenticating during local development" section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d20b7451-8831-4bf4-8d3d-424733763fcf
* Version Independent ID: 9da64e5d-90c7-8942-9ebd-ae092a6f63b3
* Content: [Azure Identity client library for Python](https://docs.microsoft.com/en-us/python/api/

[2021-10-19 00:30] mccoyp commented on #21320
@scbedd This is an interesting issue. These images were intentionally removed from the readme -- and this is reflected correctly in [azure-docs-sdk-python](https://github.com/MicrosoftDocs/azure-docs-sdk-python/blob/main/docs-ref-services/latest/identity-readme.md#authenticate-during-local-development) -- but the [docs.microsoft.com](https://docs.microsoft.com/python/api/overview/azure/identity-re

[2021-10-19 03:10] msyyc commented on #21303
https://gitter.im/Azure/azure-sdk-for-python?utm_source=notification&utm_medium=email&utm_campaign=unread-notifications

[2021-10-19 03:13] msyyc commented on #21302
contributor PR : https://github.com/Azure/azure-sdk-for-python/pull/20792

[2021-10-19 03:42] msyyc commented on #21304
morning meeting : https://microsoft-my.sharepoint.com/:x:/p/yuchaoyan/ERBFulQ0O-xCpVOw1-QuBXgB_n4l4-WVE6Tuhwoo1go2IQ?e=eNEaZv

[2021-10-19 06:30] gerhardhaering commented on #20877
FWIW I have a need for this as well.

[2021-10-19 11:34] shawnxzq commented on #20664
@chez-charlie any progress on this? Thanks!

[2021-10-19 20:07] lmazuel commented on #21313
@franklsf95 for clarity, we can't fix azure-common at this point based on internal changes in CLI core packages, so the way going forward is to use azure-identity and AzureCLICredential. I'm sorry we didn't communicated this in a more clear way, I'm taking the feedback on this.

[2021-10-19 20:17] franklsf95 commented on #21313
@lmazuel I see. Looks like the Ray package imported something from `azure.common`. I'll go ask them to fix this.

[2021-10-19 20:17] #21313 closed, assigned to nobody

[2021-10-19 21:00] parasharshah commented on #21193
Hi, it seems there are not Opinions in this text hence there is no output. The model is generic but should give output even for finance domain if there are opinions to be mined. Have you tried using KPE instead of OM? What is your goal here?

[2021-10-19 21:16] kristapratico commented on #21193
@ShivanshuPurohit just for clarity in context of the python library, KPE == key phrase extraction and can be used by calling the `extract_key_phrases` method on the TextAnalyticsClient.

[2021-10-19 22:07] lmazuel commented on #21313
I'm making the error more explicit though:
https://github.com/Azure/azure-sdk-for-python/pull/21337

[2021-10-19 22:40] kristapratico commented on #21285
we're pointing to the service docs now so we don't need to update anything.

[2021-10-19 23:11] bquantump commented on #21184
Yes, 1.0.0b2 works correctly and we are using it in a application that is working fine.

[2021-10-19 23:34] scbedd commented on #18048
This is happening in the new version of the docs pipeline. They are jumping to a minimum of sphinx 4.

[2021-10-19 23:44] scbedd commented on #17978
azure-rest-api-specs defaults to `main` now, so I'm confident in the change in [this PR.](https://github.com/Azure/azure-sdk-for-python/pull/21339)

[2021-10-19 23:45] scbedd commented on #17837
I'm closing this issue. If we absolutely need something like this, we should just build the wheel separately and reference it through `dev_requirements.txt` or the devops feed.

[2021-10-20 00:25] iscai-msft opened #21340 "[core rest] incorrect isinstance str check failing in 2.7"
for the key and value pairs in urlencoded `data` input, we do checks to make sure they are the correct primitive types. However, the isinstance(str) check fails in 2.7. Need to use `six.string_types` instead.

[2021-10-20 01:30] scbedd commented on #9430
This problem is not occurring anymore.

[2021-10-20 03:24] msyyc commented on #17015
resolved

[2021-10-20 03:24] #17015 closed

[2021-10-20 04:38] danieljurek opened #21346 "azure-mgmt-webpubsub Ref docs issues"
Cannot produce SDK API Reference Documentation for `azure-mgmt-webpubsub` because of errors in the docs CI process.

Instructions to fix:

1. Fix issue in package code to eliminate this error and check into main branch
2. Ensure output is correct in daily docs build (see @danieljurek or @sima-zhu for details)
3. Remove entry from [`$PackageExclusions` in `Language-Settings.ps1`](https://github.com

[2021-10-20 10:19] ArthurMa1978 opened #21349 "[Python] Remaining Issues clean up for Mgmt SDK"
1. Prioritize customer-reported PRs.
2. Prioritize customer-reported issues.
3. Clean up staled issues and PRs.

[2021-10-20 16:00] #21340 closed

[2021-10-20 17:45] #19829 closed

[2021-10-20 19:29] #21196 closed, assigned to tjprescott

[2021-10-21 01:18] annatisch opened #21355 "[WebPubSub] Exists methods should return bool"
All of the `<resource>_exits` APIs in the WebPubSubServiceClient should return a boolean rather than raise on the 404 in the case that the resource doesn't exist.

Likewise the `check_permission` API should also return a bool.
(This method should also be renamed to `has_permission` per cross-language consensus)

[2021-10-21 01:20] annatisch opened #21356 "[WebPubSub] Token methods should be merged to single `get_client_token` API"
Currently we have a standalone function `build_authentication_token`, and a client API `generate_client_token`.
These should be merged together into a single Client API called `get_client_token`.

Please refer to the .NET SDK for the implementation specifics.

[2021-10-21 02:10] dryleaf commented on #13363
Did anyone find a solution to this issue?

[2021-10-21 05:48] ahnaf012 commented on #13363
I was able to run download_blob_from_url() from azure.storage.blob package in Docker container by installing ca-certificates. I added the below line in my Dockerfile
`RUN apt-get -y --no-install-recommends install ca-certificates`
Its successfully running now.

[2021-10-21 15:32] xiangyan99 commented on #20518
@DhavalShewale We have merged the fix. It will be available in next release.

[2021-10-21 15:44] #21083 closed

[2021-10-21 18:14] Alec13355 opened #21364 "az staticwebapp disconnect is broken"
- ** azure-cli**:
- **2.29.0**:
- **Linux**:
- **3.6.10**:

**Describe the bug**
Running `az staticwebapp disconnect -n <your app name>` no longer works

The command failed with an unexpected error. Here is the traceback:
'StaticSitesOperations' object has no attribute 'detach_static_site'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 231, in in

[2021-10-21 18:28] maorleger opened #21365 "[KeyVault] - Address archboard review comments"
Address the following comments from the archboard review:

- [x] getCryptographyClient parameters: name -> keyName and version -> keyVersion
- [x] getRandomBytes should return a byte array instead of a model. You likely have started with this implementation so it should hopefully be an easy change

Note that there is still an open discussion for renaming SKR parameters and response values, but for

[2021-10-21 22:04] #21364 closed

[2021-10-21 22:49] danieljurek commented on #21346
This was wrongly associated with a PR. The PR in question does NOT fix the issue but prevents the package from onboarding and breaking downstream processes. The issue must still be fixed in the SDK code.

[2021-10-21 22:51] danieljurek opened #21366 "azure-mgmt-quota fails reference docs CI"
Cannot produce SDK API Reference Documentation for `azure-mgmt-quota` because of errors in the docs CI process.

Instructions to fix:

1. Fix issue in package code to eliminate this error and check into main branch
2. Ensure output is correct in daily docs build (see @danieljurek or @sima-zhu for details)
3. Remove entry from [`$PackageExclusions` in `Language-Settings.ps1`](https://github.com/Azu

[2021-10-21 22:59] #17217 closed, assigned to chlowell

[2021-10-22 00:23] kristapratico opened #21369 "[textanalytics] expose action job level errors"
We are ignoring the errors list at the job level. This contains errors that pertain to the entire action and includes an action pointer to help map to the correct action and its index.

Since we don't expose an *ActionResult result type these should probably be mapped into DocumentErrors in the response.

[2021-10-22 03:42] ArthurMa1978 opened #21373 "Migrate to the new test proxy system"
Follow this [guide](https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/test_proxy_migration_guide.md) migrate to new test proxy system.
There have around handcraft 900 test cases need to be migrated.

[2021-10-22 07:48] gm27rjpm opened #21374 "Calling python3 runbook from another runbook in azure automation"
Dear Team,

We have a function (named download_file()) which is in a python3 runbook named get_secret.py. We need to use it in an another python3 runbook called register.py.

All these runbooks are created under one of the automation accounts in Azure.

We would like to know how to call/invoke/import the function/script (get_secret.py) from register.py

The below links provide useful information f

[2021-10-22 08:19] 646826 opened #21375 "I can not update only one key=value for the web app application setting"
- **Package Name**:
azure.mgmt.web
- **Package Version**:
5.0.0
- **Operating System**:
linux
- **Python Version**:
Tested on 3.6 and 3.8

**Describe the bug**
I can not update only one key=value for the web app application setting.
If I try to set only one setting I lose other settings

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I want to be able to update onl

[2021-10-22 10:41] eeertel opened #21376 ""update" the graphrbac package to work with Microsoft Graph REST Api v1.0"
**Is your feature request related to a problem? Please describe.**
The package (as documented here: https://docs.microsoft.com/en-us/python/api/overview/azure/graph-rbac?view=azure-python) does not work with Microsoft Graph REST Api v1.0 (https://docs.microsoft.com/en-us/graph/api/overview?view=graph-rest-1.0)

**Describe the solution you'd like**
A python package that supports the Microsoft Graph

[2021-10-22 10:41] fvdnabee opened #21377 "azure.cosmos.database.DatabaseProxy.get_user_client does not raise CosmosHttpResponseError if the given user couldn't be retrieved."
- **Package Name**: azure-cosmos
- **Package Version**: 4.2.0
- **Operating System**: Arch Linux
- **Python Version**:  Python 3.9.7

**Describe the bug**
The docs of `azure.cosmos.database.DatabaseProxy.get_user_client` state the method raises an exception if the given user couldn't be retrieved. On my system such an exception is not thrown unless I call read() on the resulting UserProxy instance

[2021-10-22 15:59] pgodofsk opened #21378 "Error in documentation for receive_messages"
This is related to bug 19373: https://github.com/Azure/azure-sdk-for-python/issues/19373
The [documentation](https://docs.microsoft.com/en-us/python/api/azure-storage-queue/azure.storage.queue.queueclient?view=azure-python#receive-messages---kwargs-) on docs.microsoft.com says that the minimum value for `visibility_timeout` is 0, when in fact it is 1. Also, it does not mention that the maximum for

[2021-10-22 16:37] #21377 closed, assigned to nobody

[2021-10-22 16:58] heaths opened #21380 "SKR changes from Arch Board meeting"
After discussion with the Key Vault and Managed HSM teams on Secure Key Release, we have arrived at the following changes for SKR models to be done in the SDK (the service will not be renaming in the swagger):

* `KeyReleasePolicy.Data` -> `KeyReleasePolicy.EncodedPolicy`
* The `target` parameter in `KeyClient.ReleaseKey` -> `targetAttestationToken`

The `ReleaseKeyResult.Value` property should be

[2021-10-22 18:36] #21376 closed, assigned to nobody

[2021-10-22 21:21] mikeharder opened #21384 "[Perf] Add PerfTestBase and BatchPerfTest"
Port https://github.com/Azure/azure-sdk-for-net/pull/24653 to Python.

[2021-10-22 23:30] yunhaoling opened #21385 "[Service Bus] Thread safety on sender/receiver"
context: service bus sender/receiver is not thread safe, which will result in race condition when run in parallel execution, and the internal status would be corrupted

question: do we want our sender/receiver to be thread safe?

- if yes, then we should fix it
  - concern for thread safety
      - performance
      - sdk implementation guideline? e.g. in general, we don't guarantee thread-safety

[2021-10-24 02:14] Karishma-Tiwari-MSFT commented on #13085
@racchen, @shawnswlin - have you tried @changlong-liu's recommendation above? Please let us know.

[2021-10-25 05:05] gopika181480 opened #21391 "ShareDirectoryClient - method to check Azure File share directory exists or not in python"
The problem is to identify before creating a parent directory in Azure file share , weather it exists or not. The methods list_directories_and_files and get_directory_properties will allow only after creating the parent directory which i dont want.

I want to have a method like IsDirectoryExists which will tells me if the directory or sub directory exists or not.
The methods list_directories_and_f

[2021-10-25 16:05] annatisch opened #21405 "[QnA] Archboard feedback"
Renaming Items:

- [x]  `AnswerSpanRequest` -> `ShortAnswerOptions`
- [x]  Input: `confidence_score_threshold` -> `confidence_threshold`, Output: `confidence_score` -> `confidence`
- [x]  `ShortAnswerOptions.enable`: Configure as constant defaulted to True (user shouldn't have to set)
- [x]  `ShortAnswerOptions.top_answers_with_span` -> `ShortAnswerOptions.top`
- [x]  `KnowledgeBaseAnswerDialog.is

[2021-10-25 17:33] iscai-msft opened #21406 "[core rest] fix content description for 2.7 httpresquest"
The content description for 2.7 HttpRequest inclused asynciterable, which 2.7 can't handle https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/core/azure-core/azure/core/rest/_rest.py#L86. Remove from sphinx documentation

[2021-10-25 17:53] catalinaperalta opened #21407 "[formrecognizer] Add more tests for get_children methods"
Consider adding tests for different usage scenarios and edge cases. Test kwargs configurations.

[2021-10-25 21:27] catalinaperalta opened #21408 "[formrecognizer] Add support for selection marks in get children methods"
Investigate why spans for selection marks are not matching up with parent elements.
Add support once the issue is resolved.

[2021-10-25 23:14] #21200 closed, assigned to swathipil

[2021-10-26 03:29] jon-trust opened #21411 "[azure-mgmt-subscription ] The methods subscriptions.list() or subscriptions.get() raise error "Bearer token authentication is not permitted for non-TLS protected""
- **Package Name**: azure-mgmt-subscription
- **Package Version**:
azure-mgmt-subscription               1.0.0
azure-mgmt-core                       1.3.0
- **Operating System**:
Windows 10
- **Python Version**:
Python 3.7.4

**Describe the bug**
The methods subscriptions.list() or subscriptions.get() do not work. It throws an error on `azure.core.exceptions.ServiceRequestError: Bearer token authe

[2021-10-26 07:05] tasherif-msft opened #21413 "Check if share exists"
Add a new API to check if a share exists or not.
This would simplify users' experience saving them from writing more code to check if a share exists.

`share_client.exists()`

[2021-10-26 09:29] v-xuto opened #21414 "[Key Vault - Secrets/Certificate/Administration ]"Delete resource group error: (ResourceGroupNotFound) Resource group '***' could not be found" on UsGov and China cloud"
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
When running the tests about Key Vault Secrets/Certificate/Administration on UsGov and China cloud, it runs failed in section `Delete resource group` and the error message is shown as following, for more details

[2021-10-26 11:02] MislavSag opened #21415 "Installation"
It's unbelievable how confused azure docs are compared to Google / Amazon.
I have to make it work with Azure so I will try here.

I have created new conda virtual environment.

I tried to isntall Azure in this clean environemnt:
[code]
but I got an error
[code]
But it says in docs we can use python 3.8 ???

Than I tried to install azure functions, but it is impossible to fin in docs where is Azure

[2021-10-26 12:48] Indy2222 opened #21416 "Exception during tables error handling: 'NoneType' object has no attribute 'headers'"
- **Package Name**: azure-data-tables
- **Package Version**: 12.1.0
- **Operating System**: Linux
- **Python Version**: 3.9

Loading entities from a table raises this exception:

`Entrypoint raised exception <class 'AttributeError'>: 'NoneType' object has no attribute 'headers'`

with the following traceback:

[code]

The following warning was logged just before the exception was raised: `DefaultA

[2021-10-26 17:59] scbedd opened #21418 "Optional build variable `BuildTargetingString` is not being honored"
[See Here](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1160837&view=results)

The variable is set at build time, but it's [not being resolved properly. ](https://github.com/Azure/azure-sdk-for-python/blob/652f6e8612acc10ab850d104ffe8bcf97b22f141/eng/pipelines/templates/stages/archetype-sdk-client.yml#L77)

I have a very strong suspicion that this is a case where the parameter d

[2021-10-26 18:49] afogarty85 opened #21419 "Dataset.Tabular is NOT loading the specified file on storage"
- **Package Name**:  azureml.core.
- **Package Version**:  1.34.0
- **Operating System**: W10
- **Python Version**: 3.6.9

**Describe the bug**
When loading a Tabular file, it is not reading the file that is there.

**To Reproduce**
Steps to reproduce the behavior:

Following this guide on how to use these files:
https://github.com/Azure/MachineLearningNotebooks/blob/122df6e84622136690801685b183af

[2021-10-26 23:34] #21406 closed, assigned to iscai-msft

[2021-10-26 23:37] evanzeller-vi opened #21430 "[CostManagement] Query endpoint filters don't support logical "NOT" despite documentation"
According to the documentation [here](https://docs.microsoft.com/en-us/rest/api/cost-management/query/usage-by-external-cloud-provider-type#queryfilter) it seems like logical "NOT" was intended to be supported but the requests still don't work.

**Is your feature request related to a problem? Please describe.**
We need to make CostManagement queries excluding certain dimensions, currently to do so

[2021-10-27 01:10] #21061 closed, assigned to iscai-msft

[2021-10-27 01:13] catalinaperalta opened #21433 "[formrecognizer] Check what signature type fields should return in content"
Look to the selection mark pattern for reference.

[2021-10-27 06:37] AFengKK opened #21443 "Cognitive Language Question Answering readme issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/cognitivelanguage/azure-ai-language-questionanswering#ask-a-question), [link2](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/cognitivelanguage/azure-ai-language-questionanswering#ask-a-follow-up-question), [link3](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/cognitivelanguage/azure-ai-langua

[2021-10-27 08:17] ivan-ferrante opened #21447 "Raise an exception when passing an id that is not a string."
- **azure-cosmos**:
- **4.2.0**:
- **Windows**:
- **3.9.7**:

**Describe the bug**
Cosmos DB does not allow items with type `id` that is not string.  Using the azure-cosmos library you can pass with `id ` a value that is not a string and no exception is raised.

**To Reproduce**
Simple code example:

[code]

The code above return `None` (that is the same return value for query with empty result) t

[2021-10-27 08:34] v-xuto opened #21448 "[Text Analytics]"Unauthorized. Access token is missing, invalid, audience is incorrect (https://cognitiveservices.azure.us), or have expired." in USGOV and China"
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
When running the test [test_auth.py::TestAuth::test_active_directory_auth](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/textanalytics/azure-ai-textanalytics/tests/test_auth.py#L15), it runs failed

[2021-10-27 15:30] KeeganFlood opened #21449 "Authorization Role Definition Update The requested resource does not support http method 'PUT':"
- **azure.mgmt.authorization**:
- **azure-mgmt-authorization==2.0.0**:
- **Amazon Linux 2**:
- **Python 3.8**:

**Describe the bug**
When utilizing azure-mgmt-authorization AuthorizationManagementClient role_definitions.create_or_update() receiving The requested resource does not support http method 'PUT'. This is for an existing role definition (update). Using RoleDefinition class from azure.mgmt

[2021-10-27 15:35] helderpinto opened #21450 "Network resource provider API version is 8 versions behind the latest stable version"
The latest stable REST API version for the Network Resource provider is [2021-05-01](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/network/resource-manager/Microsoft.Network/stable). However, the Python SDK docs have not been updated since the `2020-06-01` version. Why do we have such a disparity, taking into account that the latest version of the [`azure-mgmt-network` pack

[2021-10-27 15:57] reach4bawer opened #21451 "Azure function list properties"
I am trying to get the information such as the `App Service Plan` linked to the Azure Function App and settings highlighted under Protocol settings like if the function has HTTP vs HTTPS as highlighted by the screenshot -

![image](https://user-images.githubusercontent.com/52763317/139101703-8fb3ade2-a84d-40b7-9c58-fb85e52a38d0.png)

I have read only access and using `python 3.9` version with `azu

[2021-10-27 20:02] maorleger opened #21456 "[KeyVault] - Prepare for GA release"
In order to prepare for GA release, ensure the following have been considered for all 4 packages:

- [x] Regenerate code from the stable 7.3 swagger when available for all 4 libraries
- [x] API view is approved (all 4 likely will have changes - either due to new RBAC roles or just service version change)
- [x] Version constants are updated to remove the "-beta.x" suffix
- [x] Documentation pass: e

[2021-10-27 21:04] #21284 closed, assigned to kristapratico

[2021-10-27 23:39] swathipil opened #21460 "[Schema Registry] update dependencies"
- update azure-core version to 1.19.1 after azure-core released
- update azure-schemaregistry version after GA release in serializer

[2021-10-27 23:41] yusuf-jkhan1 opened #21461 "Cannot Import Name 'BlobServiceClient', azure-storage-blob v12.9.0"
- **azure-storage-blob**
- **12.9.0**:
- **Ubuntu 20.04.3 LTS (Focal Fossa)**:
- **Python 3.8.10**:

**Describe the bug**
Latest version of azure-storage-blob does not seem to contain a BlobServiceClient module, although latest documentation, updated on 10/24/21 is referring to it. [See here](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python) .

**To Reproduce**

[2021-10-28 00:00] yunhaoling opened #21462 "[Schema Registry] bug bash - single method doesn't take logging_enable keyword argument"
when calling register_schema with logging_enable:
[code]

it throws:
[code]

because keyword argument is not passed properly

[2021-10-28 04:10] #21413 closed, assigned to tasherif-msft

[2021-10-28 09:29] ThibaultNocchi opened #21467 "B2B invitation endpoint SDK"
**Is your feature request related to a problem? Please describe.**
I'd like to invite users to work with my B2B external identity

**Describe the solution you'd like**
Having a function in the SDK to do it.

[2021-10-28 10:25] prdev89 opened #21468 "Object of type ConfigurationSetting is not JSON serializable"
**Is your feature request related to a problem? Please describe.**
I'm having difficulty in parsing the result from appConfiguruation (list_configuration_settings()) because of `datetime.datetime` in the result. It would be great if we can filter only the field we want. For example, I just need the key and value from the  result.

Sample result from the function:
`{'additional_properties': {}, 'ke

[2021-10-28 13:43] #21447 closed, assigned to Rodrigossz

[2021-10-28 17:23] catalinaperalta opened #21470 "[formrecognizer] Add parent element references in dict methods on models"
Will need to store parent references in to and from dict methods to ensure proper functionality when users call the get_children methods.

[2021-10-28 17:24] catalinaperalta opened #21471 "[formrecognizer] Consider adding get styles method on models"

[2021-10-28 21:54] #21405 closed, assigned to annatisch

[2021-10-28 21:54] #21443 closed, assigned to annatisch

[2021-10-28 21:59] catalinaperalta opened #21476 "[formrecognizer] Add tests for blank documents with custom forms"
Investigate whether we should add tests with blank documents/documents with different fields than those trained with custom model.

[2021-10-28 22:28] swathipil opened #21479 "[EventHubs + ServiceBus] replace API ref links to ms docs"
like with SR:
https://docs.microsoft.com/python/api/overview/azure/servicebus-readme
https://docs.microsoft.com/python/api/overview/azure/eventhub-readme

[2021-10-28 22:36] chlowell opened #21481 "Add live test recordings"
For the current live tests, and also add new tests for managed identity.

[2021-10-28 22:37] #21481 closed, assigned to nobody

[2021-10-28 22:50] xiangyan99 opened #21482 "Add samples for ClientCertificateCredential"
The other 3 primary langs have docs like this:

https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/samples/ClientCertificateCredentialSamples.md

[2021-10-28 23:45] maorleger opened #21484 "[KeyVault] - Consider providing a type for ISO8601 durations"
Key Rotation at the service level has and will continue to use to ISO8601 durations. Currently we use strings to represent these; however, this can be a source of confusion and errors as developers must author them by hand.

To alleviate such issues, consider (along with your language architects) whether it makes sense to provide a structure that can convert to and from ISO8601 durations.
Initial

[2021-10-29 00:42] mccoyp opened #21487 "[Test Proxy] Give clear sanitizer migration example in migration guide"
There's an example in the [Register sanitizers](https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/test_proxy_migration_guide.md#register-sanitizers) section of the migration guide that shows how the general regex sanitizer can be used as a substitute for registered name pairs in a `vcrpy` scrubber. This relation could be shown more clearly with before-and-after code snippets, and any

[2021-10-29 00:45] #20505 closed, assigned to laiapat

[2021-10-29 17:49] #21178 closed, assigned to rakshith91, yunhaoling, swathipil

[2021-10-29 18:27] tjprescott opened #21493 "[Search] Update Search to use Test Proxy server"
https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/test_proxy_migration_guide.md

[2021-10-29 18:29] tjprescott opened #21494 "[Search] Add Semantic Configuration to Azure Search"
Add support for:

https://github.com/Azure/azure-rest-api-specs/pull/16257#pullrequestreview-793122553

[2021-10-29 18:30] #19495 closed

[2021-10-29 18:30] #19801 closed

[2021-10-29 19:26] catalinaperalta opened #21495 "[formrecognizer] Optimize get children functionality"
Improve internal algorithm for get children to reduce processing time.

[2021-10-29 19:29] catalinaperalta opened #21496 "[formrecognizer] Add test assertion to check child element calls"
Add a test assertion to check the child elements returned from calling get_words and get_lines.

[2021-10-29 19:30] SaurabhSharma-MSFT commented on #21411
@jon-trust Thanks for your feedback. We are closing this issue. Please feel free to open a new issue when you

[2021-10-29 19:30] #21411 closed

[2021-10-29 22:04] #21289 closed

[2021-10-29 22:18] sebansal commented on #19263
Team is still ongoing making changes on Soft Delete.

[2021-10-29 22:23] tasherif-msft opened #21500 "Read timeout should be set dynamically"
There are three different timeouts, a timeout set on the service, `read_timeout` and `connection_timeout`.
Some customers hit an issue where the service never receives the request and we end up with a 20hr timeout (read_timeout).

Given that the default block size is 4MB (data broken down into 4MB blocks on uploads) and can be set up to 4000MB (in newer service versions), customers using the defau

[2021-10-29 22:51] SaurabhSharma-MSFT commented on #21450
@helderpinto We are looking into this and get back to you.

[2021-10-29 23:12] #21177 closed

[2021-10-30 17:29] pharrukh commented on #20427
/unresolve

[2021-10-31 04:28] KranthiPakala-MSFT commented on #15261
@bandsina - Following up to see if there is any update on this issue? - Thank you

[2021-10-31 04:39] KranthiPakala-MSFT commented on #15508
@DataDecay , We will now proceed to close this thread based on the update form @Sharmistha-Rai . Feel free to reopen if you have more related queries.

Thank you

[2021-10-31 04:39] #15508 closed

[2021-10-31 19:48] skatsaounis commented on #15312
Hi @Karishma-Tiwari-MSFT! This PR https://github.com/Azure/azure-sdk-for-python/pull/19144 seems to have solved the issue.

[2021-10-31 19:48] #15312 closed

[2021-11-01 06:30] v-xuto commented on #19012
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-python/pull/19662 merged.

[2021-11-01 06:30] #19012 closed

[2021-11-01 07:33] rakshith91 commented on #21281
Hi @kshilovskiy, Thanks for reporting the issue - it will be fixed in this PR https://github.com/Azure/azure-sdk-for-python/pull/21513 and will be released in the upcoming release next week.

[2021-11-01 14:34] KranthiPakala-MSFT commented on #12609
@changlong-liu - Following up to see if there is any update on this issue? - Thank you

[2021-11-01 14:35] KranthiPakala-MSFT commented on #12610
@mssaperla -  Following up to see if there is any update on this issue? - Thank you

[2021-11-01 14:39] skshetry opened #21516 "azure-core: no module named cchardet"
**Describe the bug**

It looks like azure-core depends on a dependency that aiohttp brings with `chardet`, which has been replaced with [`charset-normalizer`](https://github.com/aio-libs/aiohttp/blob/dccf502fbcb4bd0f5ab1c7dd5ae1fe69541f4f39/aiohttp/client_reqrep.py#L75). So, now chardet is unavailable but azure-core still looks for the [`chardet`](https://github.com/Azure/azure-sdk-for-python/blob

[2021-11-01 16:02] Hidendra opened #21517 "azure-storage-blob-changefeed 12.0.0b2 not pip installable w/ latest sdk"
- **Package Name**: azure-storage-blob-changefeed
- **Package Version**: 12.0.0b2
- **Operating System**: Ubuntu 20.04
- **Python Version**: 3.8.10

**Describe the bug**
`azure-storage-blob-changefeed` errors when installing on pip:

[code]

It appears it was fixed in a Sept 21 2020 commit to use a range instead of pinned version: https://github.com/Azure/azure-sdk-for-python/commit/db635d24a96729

[2021-11-01 16:36] tjprescott commented on #21517
Thanks @Hidendra for your report. @tasherif-msft could you please investigate?

[2021-11-01 16:40] tjprescott commented on #21467
@msyyc could you route this to the appropriate folks on the Graph team?

[2021-11-01 16:58] KranthiPakala-MSFT commented on #13008
@cahann  @kayousef , @lmazuel - Could you please have a look at the above feedback and share your thoughts? - Thank you

[2021-11-01 16:59] KranthiPakala-MSFT commented on #13032
@cahann , @kayousef , @lmazuel - Following up to see if there is any update on the above feedback? - Thank you

[2021-11-01 17:04] james-ki commented on #21516
Pinning `aiohttp = "<3.8.0"`, as mentioned in [the link above](https://github.com/iterative/dvc/issues/6899) has worked as a temporary fix for me

[2021-11-01 18:11] annatisch commented on #21416
So it looks like this should actually be an authentication error.
@mccoyp - could you please comment on what scenarios might result in the logged warning for `DefaultAzureCredential`?
@YalinLi0312 - to reproduce this locally, try running a list_entities test with an invalid credential. That should reproduce the same error stack and we should look at how we can fix this error experience to make sur

[2021-11-01 18:37] #20921 closed

[2021-11-01 18:56] SaurabhSharma-MSFT commented on #21283
@lizzbazan I could see that you internally that you are being helped from Aharna Moulick from support ticket on your open issue.  So, wanted to check with you if you want to keep this SDK Repo issue open ? Please let me know.

[2021-11-01 19:09] SaurabhSharma-MSFT commented on #21374
@gm27rjpm We are still waiting to hear back from you.

[2021-11-01 20:41] lizzbazan commented on #21283
Thanks for your help! @SaurabhSharma-MSFT

Actually they are still looking for a solution, they said is weird that is possible to get just the VM list for those locations (https://docs.microsoft.com/en-us/rest/api/compute/virtual-machines/list ), but the entire compute list quota is not available, I got those response errors

Maybe someone else could get helped with this ticket in case of having s

[2021-11-01 20:59] jbvsmo opened #21526 "ComputeManagementClient does not allow to list gallery_images"
- **Package Name**: azure.mgmt.compute
- **Package Version**: 23.1.0
- **Operating System**: MacOS
- **Python Version**: 3.7

**Describe the bug**
The following code produce an error

    from azure.mgmt.compute import ComputeManagementClient

    client = ComputeManagementClient(credentials, subscription_id, api_version='2021-07-01')
    list(client.gallery_images.list_by_gallery('group', 'galler

[2021-11-01 21:09] jbvsmo commented on #21526
Actually the issue is my group variable wasn't exactly what I meant it to be so the SDK is giving me a bogus error unrelated to my issue. I'm closing the bug report

[2021-11-01 21:09] #21526 closed

[2021-11-01 21:22] mccoyp commented on #21416
Hi @Indy2222, thanks again for opening this issue -- it does look like this could be an auth error. Could I ask which of the credentials [in this chain](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/identity/azure-identity#defaultazurecredential) you were expecting the DefaultAzureCredential to use? It might also help to refer to [this troubleshooting doc](https://github.com/Azure/az

[2021-11-01 21:34] mikeharder opened #21528 "[Perf] Add EventPerfTest to framework, add test for EventHubs and EventHubs.Processor"
Port https://github.com/Azure/azure-sdk-for-net/pull/22760 to Python.

[2021-11-01 22:17] KranthiPakala-MSFT commented on #13133
@dkkapur and @shawncx - Following up to see if there any update on the above follow-up query from @jay2017-git ? - Thank you

[2021-11-01 22:22] KranthiPakala-MSFT commented on #13316
@AddySanto Following up to see if there is any update on this issue? - Thank you

[2021-11-01 22:47] #21418 closed

[2021-11-01 23:06] cahann commented on #13008
Those SDKs so far are generated in a standard way so I am not sure we have control on this for LUIS but feedback noted for new services that will have better SDK support.

[2021-11-01 23:07] cahann commented on #13032
Feedback noted with the coming SDK version. Thanks.

[2021-11-01 23:17] KranthiPakala-MSFT commented on #17378
@ xiangyan99 Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:18] KranthiPakala-MSFT commented on #17439
@xiangyan99 Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:20] KranthiPakala-MSFT commented on #17572
@zhangyan133 Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:21] KranthiPakala-MSFT commented on #17659
@ryogok , @TFR258 , @tburns10  Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:22] KranthiPakala-MSFT commented on #17801
@kristapratico  Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:34] xiangyan99 commented on #17378
@kristapratico do you know where our customers can find the source code for it?

[2021-11-02 00:17] xiangyan99 commented on #21516
Thanks for reporting the issue.

aiohttp made a change to not install chardet and unfortunately it brake azure-core.

We released a patch https://pypi.org/project/azure-core/1.19.1/ to address it.

Please let us know if it does not work.

Thank you.

[2021-11-02 00:23] kristapratico commented on #17378
The speech SDK is not in our repo and I'm not certain if the source code can be found on Github. There is a [samples repo](https://github.com/Azure-Samples/cognitive-services-speech-sdk) for it where people open up issues against the SDK itself.

@robch or @oscholz may have more information/pointers.

[2021-11-02 00:35] skshetry commented on #21516
Thanks, I can confirm that it's fixed in 1.19.1.

[2021-11-02 00:35] #21516 closed

[2021-11-02 00:41] lmazuel commented on #17801
@KranthiPakala-MSFT we are working on this, and there is ongoing discussion on the issue to be sure we consider all possible impact of any decisions, and nobody would be broken by it.

[2021-11-02 01:10] dereklegenzoff opened #21536 "Broken links for suggester and similarity"
The links on this page for suggester and similarity are broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4108a354-4c9d-15d4-4439-78e2ac387dca
* Version Independent ID: da05acb7-89a9-2b96-b9bb-7aa352371bd6
* Content: [azure.search.documents.indexes.models.SearchIndex class](https://docs.microsoft.com/en-us/python/a

[2021-11-02 03:53] tasherif-msft commented on #21517
Hi @Hidendra I will look into this and get back to you

[2021-11-02 03:54] tasherif-msft commented on #21461
Hi @yusuf-jkhan1 have you tried the recommendation @rakshith91 gave? Please let me know

[2021-11-02 03:55] tasherif-msft commented on #19373
Sounds good, thanks for the update @scbedd

[2021-11-02 05:40] gm27rjpm commented on #21374
Dear @SaurabhSharma-MSFT,

As suggested, I've raised a new issue as suggested in the above forum.

https://docs.microsoft.com/en-us/answers/questions/602560/calling-python3-runbook-from-another-runbook-in-az.html

Regards,
Guru Mohan G

[2021-11-02 06:40] BigCat20196 commented on #21451
Hi @reach4bawer , thanks for the feedback !

After my investigation, this phenomenon is caused by the use of SDK.

Please change the code as follows：
[code]
Then you can get the results you want.

[2021-11-02 07:10] BigCat20196 commented on #21375
Hi @646826, thanks for the feedback !

Update operation is to update all parameters. If only one parameter is written, it will indeed delete other settings.

If you only want to update a parameter, here is an sample.
[code]
<br/>

BTW, many update operations in PythonSDK are implemented in this way. The implementation logic of CLI is the same, but it has been written for you.

[2021-11-02 14:30] #15222 closed

[2021-11-02 15:02] SaurabhSharma-MSFT commented on #21374
@gm27rjpm Thank you.  We are closing this issue for now.

[2021-11-02 15:02] #21374 closed

[2021-11-02 16:34] swathipil commented on #21180
decided that we will change the design, no preamble:
- updated design PR here: https://github.com/Azure/azure-sdk-for-python/pull/21431/files
- .NET updated encoder design: https://gist.github.com/JoshLove-msft/37d259ce080a8e45d0ebf789d2f91571

[2021-11-02 16:34] #21180 closed

[2021-11-02 16:35] swathipil commented on #21225
since the design is being updated to: https://gist.github.com/JoshLove-msft/37d259ce080a8e45d0ebf789d2f91571

closing this for now

[2021-11-02 16:35] #21225 closed

[2021-11-02 18:54] SaurabhSharma-MSFT commented on #21449
@KeeganFlood I have tried performing the update to existing role definitions and able to do the same without any issues.
![image](https://user-images.githubusercontent.com/38112130/139925812-ef59c0c8-ff09-445f-b6fc-e010335ba9a2.png)

**Result:**
![image](https://user-images.githubusercontent.com/38112130/139924447-2262c140-f570-4d61-b24f-18cee4e471b3.png)

Instead of creating a RoleDefinition clas

[2021-11-02 19:18] 646826 commented on #21375
This is exactly what I do, load all the settings, update and then send everything back. But it seems to me that it is unsafe and illogical to work with all settings if I only need to update one parameter.

[2021-11-02 20:06] mccoyp opened #21548 "[Core] Create general sample for using AzureJSONEncoder"

[2021-11-02 20:25] mccoyp commented on #21414
@v-xuto now that https://github.com/Azure/azure-sdk-for-python/pull/21458 has been merged, does this error still come up?

[2021-11-02 20:27] mccoyp commented on #20775
Note: see the [python - keyvault - tests-weekly](https://dev.azure.com/azure-sdk/internal/_build?definitionId=2943&_a=summary) pipeline for an example of multi-cloud testing.

[2021-11-02 20:31] #21462 closed

[2021-11-02 20:59] swathipil opened #21549 "[SchemaRegistry] bump avro dependency version after dropping Python 2.7"
bump avro version to 1.11.0

[2021-11-02 22:59] xiangyan99 opened #21553 "False alarm "API changes have been detected""
E.g. in https://github.com/Azure/azure-sdk-for-python/pull/21552, it only changes readme. But our tool reports

API changes have been detected in azure-cosmos.

[2021-11-02 23:18] scbedd commented on #21553
The create api review​ step lives in `​analyze.yml`​ and calls into `​eng/common/pipelines/templates/steps/create-apireview.yml​`.

However, you're talking about the auto-filer, which lives [here](https://github.com/Azure/azure-sdk-for-python/blob/main/eng/common/pipelines/templates/steps/detect-api-changes.yml).

This is the piece that is prompting `APIView` to process the PR.

[2021-11-03 00:23] rakshith91 commented on #21281
@kshilovskiy The issue is addressed and will be pushed to release early next week

[2021-11-03 01:15] catalinaperalta commented on #21433
Signature type fields will not return content for now.

[2021-11-03 01:15] #21433 closed

[2021-11-03 02:01] mccoyp commented on #21482
This is covered by the [key_vault_cert.py](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/samples/key_vault_cert.py) sample, but we don't cover rolling certificates. I'll look into adding that to our sample by writing an example custom credential, as other languages do.

[2021-11-03 03:02] rakshith91 commented on #21107
error when receiving messages of size `16`:
[code]

[2021-11-03 03:03] rakshith91 commented on #21107
This issue is no longer reproducible - tried with basic and standard configs - will re open if necessary

[2021-11-03 03:03] #21107 closed

[2021-11-03 04:03] #21415 closed

[2021-11-03 04:03] #21238 closed

[2021-11-03 04:03] #20883 closed

[2021-11-03 04:03] #20652 closed

[2021-11-03 04:03] #20549 closed

[2021-11-03 04:03] #20503 closed

[2021-11-03 04:03] #20452 closed

[2021-11-03 04:03] #19201 closed

[2021-11-03 04:03] #16765 closed

[2021-11-03 04:46] msyyc commented on #21301
https://github.com/Azure/sdk-release-request/issues/2200

[2021-11-03 04:48] msyyc opened #21557 "[Python] Release Helper for all languages"

[2021-11-03 05:43] v-xuto commented on #21414
PR #21458 fixed this issue. I will close this issue.

[2021-11-03 05:43] #21414 closed

[2021-11-03 06:04] v-xuto commented on #20875
@benbp  Any progress?

[2021-11-03 12:59] marcelvb opened #21560 "container.read_item() should return dict[str, Any]"
- **Package Name**: azure-cosmos
- **Package Version**: 4.2.0
- **Operating System**: Any
- **Python Version**: 3.8

**Describe the bug**
The type hint for the return type of `read_item()` in `container.py` is `dict[str, str]`. The documentation says it's dict[str, Any] which I think the code should also be.

Code: https://github.com/Azure/azure-sdk-for-python/blob/c8291ac6cb0dbd865da03a88dd2bcb92

[2021-11-03 13:00] gdippolito opened #21561 "Extract Azure email from cli credentials"
**Is your feature request related to a problem? Please describe.**

I would like to extract the user email from the Azure CLI credentials to use in my application.

I know the authentication details would be stored in `~/.azure/azureProfile.json`. However, I haven't found a native function to extract those automatically.

**Describe the solution you'd like**

[code]

**Describe alternatives you've

[2021-11-03 13:08] gdippolito opened #21562 "azureml SDK impose old version of azure-identity"
- **Package Name**: azureml-core, azureml-sdk
- **Package Version**:  1.35.0
- **Operating System**: Linux
- **Python Version**: 3.8.12

**Describe the bug**
`azureml-core` does not support `azure-identity>=1.4.1` which is quite old. This is quite annoying for building application that use the same package (`azure-identity`) for different purposes. More recent versions of `azure-identity` have fix

[2021-11-03 14:21] danieljurek opened #21563 "azure-mgmt-videoanalyzer fails reference docs CI"
Cannot produce SDK API Reference Documentation for `azure-mgmt-videoanalyzer` because of errors in the docs CI process.

Instructions to fix:

1. Fix issue in package code to eliminate this error and check into main branch
2. Ensure output is correct in daily docs build (see @danieljurek or @sima-zhu for details)
3. Remove entry from [`$PackageExclusions` in `Language-Settings.ps1`](https://github

[2021-11-03 16:49] mccoyp commented on #21320
This was fixed by the deployment; closing now. Thanks Scott!

[2021-11-03 16:49] #21320 closed

[2021-11-03 16:56] yunhaoling opened #21565 "[EventHubs] Stress test adopting latest eng scripts"
- use the latest scripts to prepare and deploy stress test
- check stress test wiki for more info

[2021-11-03 17:52] benbp commented on #20875
@v-xuto this is already available as `serviceBusEndpointSuffix`.

[2021-11-03 18:34] tjprescott commented on #21562
Thank you @gdippolito for reporting this issue. @Azure/cxp can you route the correct service team rep?

[2021-11-03 18:37] tjprescott commented on #21561
@xiangyan99 or @mccoyp could you provide guidance here?

[2021-11-03 18:38] tjprescott commented on #21560
Thank you @marcelvb for reporting this! @Rodrigossz could you take a look?

[2021-11-03 18:48] KeeganFlood commented on #21449
Hello SaurabhSharma-MSFT  - thank you for the response. With some finagling I was able to get it to go through with the following:
`scope = '/subscriptions/<subscription_id>
role_definition_id = <role_def_id>
role_definition=<BODY>`

First Question: In the documentation, it states a RoleDefinition class/model is a required parameter. Can these classes/models be swapped out for JSON representations

[2021-11-03 20:38] reach4bawer commented on #21451
@BigCat20196 Thank you, there are still has few missing details that are not returned , for example, how do I find out the names and the configuration (like trigger, status, Code+Test details, Integration, Function keys) of Function under Function App? Is that part of a different API call or different part of the SDK?

[2021-11-03 21:12] #12956 closed

[2021-11-03 21:53] paulshealy1 commented on #21562
@gdippolito you are installing both `azureml-core` and `azureml-sdk`. Would it work for you to only install `azureml-core`?

[2021-11-03 22:02] #20442 closed

[2021-11-03 22:04] ywang-qumulo opened #21575 "get_service_properties() returns JSON decode error on BlobServiceClient with premium storage account"
- **Package Name**: azure-core
- **Package Version**: 1.18.0
- **Operating System**: Linux
- **Python Version**: 3.6.9

**Describe the bug**
`get_service_properties()` returns JSON decode error on BlobServiceClient with premium storage account. **This only happened on premium storage account and standard storage account with BlobServiceClient is all good.**

Sample Stack trace:

[code]

**To Repro

[2021-11-03 23:15] #20953 closed

[2021-11-03 23:15] #21173 closed

[2021-11-03 23:41] benbp opened #21578 "Update smoke tests to auto-generate dependency checks for all t2 SDKs"
- Delete the legacy smoke tests for each language (applies to net, python, java).
- Pull in all track 2 packages to a single project and install/compile (nightly versions, GA/beta versions).
- Run the project and instantiate clients from each package, where useful (for detecting lazy loaded runtime dependency issues).

[2021-11-03 23:50] #20836 closed

[2021-11-04 00:26] SaurabhSharma-MSFT commented on #21283
@lizzbazan Thanks.  I am closing this issue for now.  Please feel free to provide the solution over here once your case gets resolved or if you have any additional questions for us.

Thank you.
Saurabh

[2021-11-04 00:26] #21283 closed

[2021-11-04 01:42] v-xuto commented on #20875
@benbp Okay. Thanks for your help.

[2021-11-04 06:11] tasherif-msft commented on #21378
Hi @pgodofsk I checked our rest docs and it is actually supposed to be in fact 0 not 1 https://docs.microsoft.com/en-us/rest/api/storageservices/put-message#uri-parameters

[2021-11-04 07:58] v-xuto opened #21583 "[EventHub] Failed to deploy test resources and an error "Database account creation failed" is reported on China Cloud"
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
When running the EventHub pipeline on China cloud, it runs failed at section `Deploy test resources` and the error message is shown as following, for more details please check [here](https://dev.azure.com/azure-s

[2021-11-04 08:57] v-xuto commented on #20517
@yunhaoling Any progress?

[2021-11-04 09:55] DaanDuppen opened #21584 "Writing data to linked service AzureSQL database using the python AzureML package does not work"
- **Package Name**: AzureML
- **Package Version**: 1.34.0
- **Operating System**: MacOs
- **Python Version**: 3.7.11

**Describe the bug**
Writing data to azureSQL database using Dataset.Tabular.from_sql_query() fails with error message:
Cannot load any data from the datastore using the SQL query.

**To Reproduce**
Steps to reproduce the behavior:
1. Add AzureSQL database to AzureML as datastore
2

[2021-11-04 10:45] qudiransari opened #21585 "Azure search synonyms mapping issue with word with space in between"
Hi Team,
However when i search the words where there is blank in between it not fetching any result whereas for other words in same mapping list its working.

Is that something i am doing wrong ?

Mapping API
`https://XX.search.windows.net/synonymmaps?api-version=2020-06-30
{
    "@odata.context": "https://ss-tsn.search.windows.net/$metadata#synonymmaps",
    "value": [
        {
            "@oda

[2021-11-04 11:45] gdippolito commented on #21562
Hi @paulshealy1 thanks for the suggestion. I thought the `azureml-sdk` was required for what I'm doing but effectively I only use `azureml-core` in my job launcher. I had a problem with a different dependency `azure-mgmt-resource` where azureml-core requires it to be <=15.0.0 while that version does not support `azure.identity` and I was relying on that in a different part of the codebase. I think

[2021-11-04 12:48] radirobi opened #21586 "How to create disk Backup Policy using azure python SDK?"
I am trying to create a Backup Policy using azure python SDK. I have not found any code examples, or unit tests in the repository related to the **dataprotection** package.
Question is related to the following package: **azure-mgmt-dataprotection==1.0.0b1**
Python version: **3.8**

**Code snippet:**
[code]

**Error message** I got:
[code]

How to investigate this issue further? What am I doing wro

[2021-11-04 13:56] radirobi commented on #21586
My bad, forgot about the properties..

**Correct** way:
`policy_resource = BaseBackupPolicyResource(properties=backup_policy)`

[code]

[2021-11-04 13:56] #21586 closed

[2021-11-04 15:24] flixman opened #21587 "vmCreationResourceGroup setting of DTL lab gets ignored / reset"
- **Package Name**: azure.mgmt.devtestlabs
- **Package Version**: 9.0.0
- **Operating System**: CentOS 8.4
- **Python Version**: 3.6.8

**Describe the bug**
When getting a lab through DevTestLabsClient.labs.get, the lab does not obtain the vmCreationResourceGroup setting. And, if set after and the DTL gets updated, it gets reset to the default (which makes the whole client unusable).

**To Reprodu

[2021-11-04 15:30] nchandhi opened #21588 "Unable to import ArtifactsClient in Synapse Notebook"
- **azure.synapse.artifacts**:
- **latest**:
- **Any**:
- **3.6**:

**Describe the bug**
I am trying to use Artifacts sdk from within Synapse Notebook to read details about pipelines and notebooks but it gives a no module error.
Note: I am able to run this code outside Synapse using VS Code and read the artifacts but I need to run this within Synapse.

**To Reproduce**
Steps to reproduce the behav

[2021-11-04 16:05] xiangyan99 commented on #21588
Thanks for reaching out to us.

Are you running the notebook in Synapse managed spark pool? If yes, could you check if you added azure.synapse.artifacts in your requirements file? e.g. https://sqlofthenorth.blog/2021/02/26/adding-new-python-libraries-to-azure-synapse-spark-pools/.

[2021-11-04 16:07] xiangyan99 commented on #21578
@benbp Hi Ben, to clarify, this is expected to be done by the Python team or the eng-sys team?

[2021-11-04 16:20] xiangyan99 commented on #21588
@nchandhi Thanks for the information.

@idear1203 Is there a way we can check logs to see what happened?

[2021-11-04 16:44] paulshealy1 commented on #21562
Thank you for the feedback!

[2021-11-04 16:44] #21562 closed

[2021-11-04 16:46] xiangyan99 commented on #21561
graph team. While we are deprecating graph library for track 2. Do we have work around/migration plan for customer?

[2021-11-04 17:15] #19472 closed

[2021-11-04 17:56] catalinaperalta opened #21592 "[formrecognizer] Add samples showcasing how to use the dict methods"
Consider also showing how these can be converted to JSON

[2021-11-04 17:57] simorenoh commented on #21560
Hi @marcelvb, thank you for catching this. You are right - this is a miss on our end. Here is the PR to address this:
https://github.com/Azure/azure-sdk-for-python/pull/21593

Thank you for helping us improve our product!

[2021-11-04 17:59] #21560 closed

[2021-11-04 18:00] tjprescott commented on #21587
@flixman thanks for opening an issue!

@Azure/cxp can you please route to the DTL service rep?

[2021-11-04 18:03] tjprescott commented on #21585
Thanks @qudiransari for your report. I will investigate and get back to you.

[2021-11-04 18:05] tjprescott commented on #21584
@DaanDuppen thank you for your question. @Azure/cxp can you route to the appropriate rep on the Azure ML team?

[2021-11-04 18:07] tjprescott commented on #21575
@ywang-qumulo thank you for the report!

@tasherif-msft can you please take a look?

[2021-11-04 18:29] heaths opened #21595 "Question Answering for Python (December 2021)"

[2021-11-04 18:29] heaths opened #21596 "Question Answering for Python (January 2022)"

[2021-11-04 18:29] heaths opened #21597 "Conversation Analysis for Python (December 2021)"

[2021-11-04 18:30] heaths opened #21598 "Conversation Analysis for Python (January 2022)"

[2021-11-04 19:42] Drewm3 commented on #18050
Removing Compute label on this issue because it is a generic issue with the CLI.

[2021-11-04 20:19] ynpandey commented on #21419
@afogarty85 Does the csv file that you are using contains multiline values? From our documentation:
`By default (support_multi_line=False), all line breaks, including those in quoted field values, will be interpreted as a record break. Reading data this way is faster and more optimized for parallel execution on multiple CPU cores. However, it may result in silently producing more records with misa

[2021-11-04 20:35] kristapratico opened #21601 "[textanalytics] raise better error when all actions fail"
When all actions fail in an analyze actions operation, it reports status == "failed" and runs through the poller code here:

https://github.com/Azure/azure-sdk-for-python/blob/34d80fd74f8f2d0b08fa326805dbbaa2a7ac8428/sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_lro.py#L103-L104

This raises an unfortunate error message where the job is seen as "Ok" but the actions failed:

`azu

[2021-11-04 20:41] afogarty85 commented on #21419
Thanks for the help!

By doing something like:

[code]

I get another error: `"Cannot load any data from the specified path. Make sure the path is accessible and contains data.\nThe Dataflow produced no records.`

If I set:

[code]

The data populates, but again it is inflated.

[2021-11-04 20:48] benbp commented on #21578
Hi @xiangyan99 sorry I should have made this more clear in the description. The intent is to add this to the MQ backlog for python. We (engsys) will need someone from the python team to discuss design with and to handle the bulk of the implementation. Any common tooling or infrastructure needs can be handled by engsys (along with pipeline integration).

[2021-11-04 20:51] ynpandey commented on #21419
@afogarty85 Is there any way for you to share the data file with us if it does not contain any sensitive information?

[2021-11-04 21:00] tjprescott commented on #21536
This is an issue with docs.ms ingestion pipeline because the github.io docs are correct.

[2021-11-04 21:11] afogarty85 commented on #21419
Unfortunately no, could you perhaps generate dummy data in a pandas dataframe that would highlight this: (?)

`all line breaks, including those in quoted field values, will be interpreted as a record break`

From there, investigations could be done.

[2021-11-04 21:20] heaths opened #21603 "Create MigrationGuide.md for QA"
Now that inference has GA'd, we need to produce the authoring client for Question Answering.

- [x] Generate `QuestionAnsweringProjectClient` in a subnamespace e.g., `azure.ai.language.questionanswering.project` (exact name TBD).
- [x] Add champion scenario(s) to README.md
- [x] Add additional authoring samples to samples/ directory.
- [x] Update documentation including MigrationGuide.md as needed

[2021-11-04 21:48] tjprescott commented on #21536
cc/ @danieljurek @scbedd @sima-zhu

[2021-11-04 21:57] #19906 closed

[2021-11-04 22:08] danieljurek commented on #21536
Internal issue filed: https://dev.azure.com/ceapex/Engineering/_workitems/edit/513060

[2021-11-04 22:24] lmazuel opened #21605 "Fix azure.core.serialization.NULL documentation"
Was discuss in archboard today we can clarify it:
https://azuresdkdocs.blob.core.windows.net/$web/python/azure-core/1.20.0/azure.core.html#azure.core.serialization.NULL

[2021-11-04 22:44] swathipil opened #21606 "[SchemaRegistry] AvroEncoder design"
- include Josh's design + discuss with Adam about his ideas
- discuss with architects

[2021-11-04 22:59] ynpandey commented on #21419
@afogarty85 Take this [multiline.csv](https://yogipublicblob.blob.core.windows.net/public/multiline.csv) file as an example.
[code]
Output:
[code]
Now if we execute the following code:
[code]
Output:
[code]

As you can see that the shape of dataframe without multiline support is (6, 3), with multiline support is (2, 3). Setting `support_multi_line=True` parses the file correctly and gives a datafr

[2021-11-04 23:49] idear1203 commented on #21588
It doesn't look like a SDK issue because @nchandhi can use the SDK in VSCode. @wonner , is this something that you are willing to do some investigation on your side?

[2021-11-04 23:52] idear1203 commented on #21588
@nchandhi could you please verify your package is installed correctly? https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-manage-python-packages#verify-installed-libraries

[2021-11-05 00:56] mccoyp commented on #21059
Hi @100kimch, just checking in! Do you still want to tackle this issue? We'll include this change in our next GA release, so we'd like to get this merged by the end of November.

[2021-11-05 01:31] #20661 closed

[2021-11-05 02:38] tasherif-msft commented on #21223
Hello @gmartinezmirai the issue has been resolved in this pr https://github.com/Azure/azure-sdk-for-python/pull/19739/files
The fix will be available in our next release!

[2021-11-05 02:38] #21223 closed

[2021-11-05 02:45] tasherif-msft commented on #20693
Resolution: reducing `read_timeout` to a more reasonable number (such as 2min). Another issue has been created to dynamically set read timeouts depending on block size https://github.com/Azure/azure-sdk-for-python/issues/21500

[2021-11-05 02:45] #20693 closed

[2021-11-05 02:46] tasherif-msft commented on #20650
Hi @bmc-msft could you provide me with a fresh failure/request-id so we can investigate it on our side

[2021-11-05 02:49] tasherif-msft commented on #21575
@xiangyan99 would this be on the core side?

[2021-11-05 02:52] bmc-msft commented on #20650
Unfortunately not easily.  I will do my best to replicate it again in the near future.

[2021-11-05 12:56] cccs-jc commented on #12188
yes this is still an issue for long running scripts.

[2021-11-05 15:15] nchandhi commented on #21588
Hi @idear1203, Thanks for helping with this. I double checked and the library installation didn't show any errors in logs.

[2021-11-05 15:54] reach4bawer commented on #21451
Also couldn't find the `inbound address` (IP) for the Azure function app with the SDK using get or get_configuration.

[2021-11-05 16:02] xiangyan99 commented on #21575
@tasherif-msft from the bug description, it seems to me the issue is we do not set mime_type to xml for premium storage account.

Do I miss anything?

[2021-11-05 19:00] #21365 closed

[2021-11-05 19:06] YalinLi0312 commented on #21057
Resolved.

[2021-11-05 19:06] #21057 closed

[2021-11-05 20:26] logachev opened #21623 "[BUG Bash] Azure KeyVault SDK uses hardcoded version of _models"
**Describe the bug**
Azure KeyvAult SDKs reference specific API version (7.1) in its code: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py#L7

It makes it impossible to use scripts that trim size of Azure SDKs and it also violates established patterns of dynamic versions usage.

https://github.com/Azure/azure-sdk-for-python/bl

[2021-11-05 21:06] scbedd opened #21626 "[Test-Proxy] Proxy Cert Trusting sometimes doesn't work"
@kristapratico is trying to migrate [a single textanalytics test](https://github.com/Azure/azure-sdk-for-python/compare/main...kristapratico:ta-test-proxy?expand=1) to Test-Proxy.

Locally, when she runs the trust-cert script and sets environment variables, she still cannot get through SSL Cert validation.

@mccoyp and @YalinLi0312 did not have this issue.

What's up here?

[2021-11-05 21:59] kristapratico commented on #21626
Complains of a self-signed certificate:

`requests.exceptions.SSLError: HTTPSConnectionPool(host='localhost', port=5001): Max retries exceeded with url: /record/start (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate (_ssl.c:1122)')))`

[2021-11-05 22:17] yunhaoling commented on #21184
apologize for the late response.

We have introduced breaking changes in the b3 release compared to b2 release regarding to the underlying http layer (encoding/decoding) behavior for data transferred to the service. And I believe it leads to service side failing to locate the exactly same content, and returns Not Found.

Recently the schema registry service has been formally GA, and they have done

[2021-11-05 23:52] catalinaperalta opened #21632 "[formrecognizer] Check description on get words samples"
Before GA check description on get_words samples about the version it's available for.

[2021-11-06 00:05] mccoyp commented on #21623
Hi @logachev, thank you for opening this issue! I'll add this item to our upcoming milestone.

[2021-11-06 00:14] #21176 closed

[2021-11-06 00:14] #21175 closed

[2021-11-06 00:23] YalinLi0312 opened #21633 "[Tables] Support decoded continuation token"
Now that the `continuation_token` used in list_entities() is an encoded long string, to match [the request from client in js](https://github.com/Azure/azure-sdk-for-js/issues/15868), we are going to support list with `ParitionKey` and `RowKey`.

Here are some inital thougts:
* First scenario:
[code]
* Second scenario:
[code]
* Third scenario:
[code]
* Fourth scenario:
[code]

[2021-11-06 21:33] JoshLove-msft opened #21634 "[Service Bus] Support Message State property"
See https://github.com/Azure/azure-sdk-for-net/pull/25158

[2021-11-06 22:02] #20427 closed

[2021-11-07 09:02] Ananthram opened #21635 "support to create/update VpnSiteLinksOperations"
right now only get() method is supported, need a method to update bgp and ipsec properties

[2021-11-08 00:01] kine-mcorb commented on #18649
@Karishma-Tiwari-MSFT Thanks for following up. I haven't tried the `begin_import_method()` since I was able to achieve my result using the 2-step method I described above.

But looking at it again fresh, I can probably see the problem is I's not using the `ImportExistingDatabaseDefinition` class, which must've been a change between the older version and `azure-mgmt-sql==1.0.0`.

These docs say the

[2021-11-08 02:15] qudiransari commented on #21585
Could you please suggest is it something wrong in the query or its a bug?

[2021-11-08 05:21] tasherif-msft opened #21636 "Investigate test_blob_tier_copy_blob"
Currently the test `test_blob_tier_copy_blob` is being skipped in live testing as it was failing and blocking release. Investigate why it's failing.

[2021-11-08 06:59] msyyc commented on #21302
[compare python and powerbi for issue.md](https://github.com/Azure/azure-sdk-for-python/files/7494851/compare.python.and.powerbi.for.issue.md)

[2021-11-08 07:23] msyyc opened #21637 "[Python] Daily work (RAY)"
The issue is to track daily work item that needs track:
https://github.com/msyyc/file-storage/blob/release-issue-status/published_issues_python.csv
https://github.com/msyyc/file-storage/blob/release-issue-status/release_python_status.md
community issue: https://gitter.im/Azure/azure-sdk-for-python?utm_source=notification&utm_medium=email&utm_campaign=unread-notifications

[2021-11-08 07:23] msyyc commented on #21303
move to another issue : https://github.com/Azure/azure-sdk-for-python/issues/21637

[2021-11-08 07:23] #21303 closed

[2021-11-08 07:26] msyyc opened #21638 "[Python] Daily work (BigCat)"
The issue is to track daily work item that needs track:
https://github.com/msyyc/file-storage/blob/release-issue-status/published_issues_python.csv
https://github.com/msyyc/file-storage/blob/release-issue-status/release_python_status.md

[2021-11-08 07:26] msyyc commented on #21302
move to another issue : https://github.com/Azure/azure-sdk-for-python/issues/21638

[2021-11-08 07:26] #21302 closed

[2021-11-08 08:40] andrea-cassioli-maersk opened #21639 "coroutine was never awaited"
- **Operating System**: linux
- **Python Version**: 3.8.8

**Describe the bug**

On termination we get `sys:1: RuntimeWarning: coroutine 'Lock.acquire' was never awaited` error message.

Given there is no `acquire` in our code and we only create tasks, I am assuming some of the async packages are doing so.

**To Reproduce**
I do not have a clear way to reproduce.

**Expected behavior**
Clean exit,

[2021-11-08 08:45] BigCat20196 commented on #21451
@reach4bawer, We can get function through this.
[code]
In addition, you can `web_client.web_apps.create_or_update_function_secret()` to change the function keys.

As for the above code + test details, integration seems to have no corresponding API to support.

[2021-11-08 09:55] shawnxzq commented on #20939
@gfranxman Could you please share the doc link you are refer to? Thanks a lot!

[2021-11-08 09:59] shawnxzq commented on #18905
@chez-charlie any update on this? Thanks a lot!

[2021-11-08 12:50] reach4bawer commented on #21451
@BigCat20196 I don't want to update or change the function keys, is there no get function for function keys? I have read only role so update or change wouldn't work.

[2021-11-08 15:57] xiangyan99 commented on #21639
Thanks for reporting the issue. Could you help to give more information?

e.g. which libraries are you using? Which version? And if possible, could you give us the repro steps?

Thank you.

[2021-11-08 16:28] ynpandey commented on #21584
@DaanDuppen Currently, `Dataset.Tabular.from_sql_query()` only supports creating a `TabularDataset` by reading data from a SQL database table. Inserting/writing data back is not supported using this API. For [writing the job output data](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-move-data-in-out-of-pipelines) back as a `TabularDataset`, you can use [`OutputFileDatasetConfig`](

[2021-11-08 16:34] xiangyan99 commented on #21635
Thanks for the feedback, we’ll investigate asap.

[2021-11-08 17:04] andrea-cassioli-maersk commented on #21639
@xiangyan99 here the libraries:

azure-common==1.1.27
azure-servicebus==7.3.3
azure-storage-blob==12.9.0

both storage and service bus are used in an async fashion.

It is quite difficult to reproduce without an informed guess on which library might cause it. Searching the sdk code base I have found a number of network/authentication related pieces of code calling `acquire` but there might be othe

[2021-11-08 17:06] xiangyan99 commented on #21639
Thank you. Do you know the azure-core version?

Because https://github.com/Azure/azure-sdk-for-python/issues/21061 is fixed in azure-core 1.20.0. Just want to check if it is the same issue or not.

[2021-11-08 17:07] andrea-cassioli-maersk commented on #21639
Yes, it is azure-core==1.18.0

[2021-11-08 17:09] xiangyan99 commented on #21639
Thank you.

Is there any chance you can try azure-core 1.20.0?

[2021-11-08 17:12] andrea-cassioli-maersk commented on #21639
I might, but it does not seem to be the same coroutine to me

[2021-11-08 17:21] xiangyan99 commented on #21639
Thank you for the information. We will investigate ASAP.

[2021-11-08 17:25] xiangyan99 commented on #21639
Are you using communication libraries? I do see some communication libraries call Lock.acquire() w/o await.

Not sure if they are the ones caused your problem.

[2021-11-08 17:30] andrea-cassioli-maersk commented on #21639
indeed we also use aiohttp, but I cannot find any mention of `Lock.acquire` in their code base. But I will post on their github as well tomorrow.

[2021-11-08 17:30] moritzxbe opened #21642 "'MsiCredential' object has no attribute 'signed_session'"
- **Package Name**: azure-identity, azure-mgmt-subscription
- **Package Version**: 1.7.0, 1.0.0
- **Operating System**: Windows
- **Python Version**: 3

**Describe the bug**
Since our function has often failed with the error "RuntimeError: MSI: Failed to retrieve a token" with the msrestazure package, we decided to use the azure-identity package. Unfortunately there we experience a different error

[2021-11-08 17:34] iscai-msft commented on #21639
@xiangyan99 this shouldn't be related to azure.core / azure.core.rest as far as I know, I don't think we have any `Lock.acquire` code there. Is there any possibility of getting a stacktrace, or does the code handling in place get rid of this information?

[2021-11-08 17:43] benbp commented on #21583
@v-xuto this is a service capacity issue.. Can you try changing the target region for the China cloud tests?

[2021-11-08 17:45] xiangyan99 commented on #21639
@andrea-cassioli-maersk I meant azure-communication-identity,  azure-communication-networktraversal, etc.

Are you using these libraries?

Sorry for the confusion.

[2021-11-08 18:00] rakshith91 commented on #19796
https://microsoft.sharepoint.com/teams/AzureDeveloperExperience/_layouts/OneNote.aspx?id=%2Fteams%2FAzureDeveloperExperience%2FShared%20Documents%2FLanguage%20-%20Python%2FAzure%20SDK%20-%20Language%20-%20Python&wd=target%28Services.one%7C7EDF4D8F-3CF7-4200-BCD2-567D6A7E429C%2FSync%20Receive%20-%20perf%20test%7CE3DFCB05-9B3B-4675-A0FF-008F133DC5BD%2F%29
onenote:https://microsoft.sharepoint.com/tea

[2021-11-08 18:45] benbp commented on #20875
@v-xuto Ok I think there was an issue with Azure Pipelines not refreshing it's cache of the subscription configuration secrets. Sorry I didn't notice that earlier. I refreshed the cache and re-ran your failed pipeline jobs, but for some reason I think it's picking up your latest changes with the `usgovcloudapi` hardcoded instead of the problem commit with the `serviceBusEndpointSuffix` value.

[2021-11-08 20:01] nchandhi commented on #21588
@idear1203 @xiangyan99, please let me know if you need any more details from me. We are really blocked at this step to continue a current project so looking forward to finding a solution or a work around. I can join a call to debug together if it helps accelerate the process.

[2021-11-08 20:29] afogarty85 commented on #21419
Thanks for the input -- this definitely appears to be the problem.

Are you aware of anything I can do to speed up training and loading of files?

I am in a situation where I need to specify `support_multi_line=True`, otherwise the shapes are messed up. The consequence of this (`support_multi_line=True`), is that it takes AML approximately 5 minutes to load a dataframe shaped: `(31733, 58)`

[2021-11-08 22:14] ynpandey commented on #21419
@afogarty85 I am happy that you were able to read the data in correct format.

Regarding the time difference that you are seeing, processing tabular files with multi-line data is slower because data has to be read line-by-line and multiple CPU cores cannot be used to ingest the data in parallel. This is the reason behind slower processing when we set `support_multi_line=True`.

[2021-11-08 22:20] afogarty85 commented on #21419
Thanks @ynpandey !

This makes sense for sure, but this almost certainly has to be an issue. I cannot imagine a scenario where Xeon processors, using a single core, take 5 minutes to load 30k rows at 50 columns. It should take seconds.

[2021-11-08 22:36] tjprescott commented on #21585
It is not clear to me--are you using the REST API directly, or the Python library?

[2021-11-08 23:21] sdebruyn opened #21653 "AzureCliCredential fails to get token because strptime() argument 1 must be str, not None"
- **Package Name**: azure-identity
- **Package Version**: 1.7.0
- **Operating System**: Linux-5.4.0-1059-azure-x86_64-with-glibc2.28 (Debian slim Buster)
- **Python Version**:  3.9.7

**Bug description**
AzureCliCredential fails to get token. Scope was `"https://database.windows.net//.default"`

[code]

**Context**
Azure CLI is logged in using MSI

Command: `az login -i`
Output:
[code]

When I use

[2021-11-09 00:49] yunhaoling commented on #21105
user study branch:

- mock implementation
- docstring
- test/sample code
- context doc

https://github.com/yunhaoling/azure-sdk-for-python/tree/yuling/eh%2Fuser-study%2Fbuffered-producer-aggregate/sdk/eventhub/azure-eventhub/ux-study
https://github.com/yunhaoling/azure-sdk-for-python/tree/yuling/eh%2Fuser-study%2Fbuffered-producer-separate/sdk/eventhub/azure-eventhub/ux-study

[2021-11-09 02:17] xsqian commented on #8002
I have the same issue doing `blob_service_client = BlobServiceClient.from_connection_string(connect_str)` the error is as below:
`azure.core.exceptions.ServiceRequestError: <urllib3.connection.VerifiedHTTPSConnection object at 0x7ff02a0bd2b0>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known`

[2021-11-09 02:24] BigCat20196 commented on #21451
@reach4bawer , So `list_function_secrets` might suit you.

[code]

[2021-11-09 03:38] reach4bawer commented on #21451
Thank you for this, I will give it a try.

@BigCat20196 any insights on the inbound IP?

[2021-11-09 08:01] v-xuto commented on #20875
@benbp After I update `.servicebus.windows.net` to `parameters('serviceBusEndpointSuffix')` and re-run pipiline, the same error was reported. The problem was not resolved. Please help me to confirm again. For more details please check [here](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1185621&view=logs&j=37d24fbc-679a-57a5-f3d2-cbe8fbd12ca9&t=b3d2368a-13ec-53b7-0aca-3eb4592902c

[2021-11-09 09:10] Mogztter opened #21663 "CosmosDB: Instantiate a CosmosClient using a ClientSecretCredential"
**Is your feature request related to a problem? Please describe.**

Currently, it's not possible to use a client secret credential (tenant id, client id and client secret) to instantiate a `CosmosClient`.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

It's possible to use `ClientSecretCredential` to instantiate a `CosmosDBManagementClient`:

[code]

Unf

[2021-11-09 09:45] RAY-316 commented on #21635
@Ananthram  The python SDK is generated according to swagger, so this issue may be better mentioned in https://github.com/Azure/azure-rest-api-specs

[2021-11-09 09:55] v-xuto commented on #21583
@benbp I have updated China location to `chinanorth2`, this issue was resolved. This is the test [result](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1185817&view=results). I will close this issue.
![image](https://user-images.githubusercontent.com/57166602/140902489-715522fc-bc12-4456-8d58-60c4c2707bea.png)

[2021-11-09 09:55] #21583 closed

[2021-11-09 09:58] sdebruyn commented on #21653
Source issue: https://github.com/Azure/azure-cli/issues/20211
But maybe should be properly error handled here as well?

[2021-11-09 10:08] andrea-cassioli-maersk commented on #21639
@iscai-msft we only get that message when the application exits. Not sure I can increase the verbosity.

@xiangyan99 not directly at least. Here all the "azure" packages

[code]

[2021-11-09 11:13] silhano opened #21664 "Documentation fix: Expected type 'TokenCredential', got 'UserPassCredentials' instead"
In azure-mgmt-dns version  8.0.0 functionality changed. Now is UserPassCredentials invalid and module required TokenCredential.
Any example of this? I can find only old documentation: https://docs.microsoft.com/en-us/python/api/overview/azure/dns?view=azure-python

I tried multiple ways, but without any success.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-11-09 11:18] mmasiuk opened #21665 "Typo in parameters"
Hello,
I just found out that there is most likely typo in this Class.

Documentation stated that constructor should be as follow:
AuthorizationManagementClient(credential, subscription_id, base_url=None, **kwargs)

but inside the Class .py file there is:
def __init__(
            self, credential**s**, subscription_id, base_url=None):

Therefore once using "credential" without "s" it resulted with

[2021-11-09 15:43] LazzariPaolo opened #21668 "ErrorCode:AuthorizationPermissionMismatch when using get_blob_tags() method."
I upgraded `azure-storage-blob` because I need to use the [get_blob_tags()](https://docs.microsoft.com/en-us/python/api/azure-storage-blob/azure.storage.blob.blobclient?view=azure-python#get-blob-tags---kwargs-) method, but unsurprisingly something went wrong.
[code]

Here's how I create the BlobClient:

[code]

this command:

[code]

works well (as it used to), but this:

[code]

throws:

File "C

[2021-11-09 16:27] nisani33 commented on #20284
Hello
I still need help
How can I get information about a tenant's license using an API endpoint?
Is the license premium or not, for example?
Thanks

[2021-11-09 17:19] flixman commented on #21587
Hi @tanmayeekamath, excuse me for explicitely referencing you: could you/MS share if there is any update on this matter?

[2021-11-09 17:32] xiangyan99 commented on #21588
@nchandhi Can you list all the modules you installed? I will try if I can repro it in my local dev box.

[2021-11-09 17:50] xiangyan99 commented on #21668
Thanks for the feedback, we’ll investigate asap.

[2021-11-09 17:53] xiangyan99 commented on #21665
Thanks for the feedback, we’ll investigate asap.

[2021-11-09 17:54] xiangyan99 commented on #21664
Thanks for the feedback, we’ll investigate asap.

[2021-11-09 17:55] xiangyan99 commented on #21663
Thanks for the feedback, we’ll investigate asap.

[2021-11-09 17:56] iscai-msft commented on #21639
talked with @annatisch and she thinks it's most likely either `azure-servicebus` or `azure-storage-blob`. @andrea-cassioli-maersk are you doing any blob uploads or message lock renewals in service bus?

cc @yunhaoling for servicebus just in case

[2021-11-09 18:00] xiangyan99 commented on #21642
Thanks for your feedback.

We have the guide for migrating to azure-identity from azure-common (https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/migration_guide.md). Could you check if this helps?

[2021-11-09 19:44] andrea-cassioli-maersk commented on #21639
@iscai-msft as a matter of fact we do both!

[2021-11-09 19:53] annatisch commented on #21639
Thanks @andrea-cassioli-maersk - how are you renewing the service bus message locks?
For example - are you using the auto-lock-renew feature?

[2021-11-09 20:09] logachev commented on #17801
@lmazuel I think one old proposal that won't break anything is to release separate `azure-sdk-slim` with only latest APIs (that are used by default) and possibly do something with comments (iirc, removing comments reduces the size by 30%)

[2021-11-09 22:19] jochav commented on #21430
NOT is currently not supported. We will be updating our documentation to reflect this.

[2021-11-09 22:46] benbp commented on #20875
@v-xuto I'm doing some testing but the issue should be fixed now. My updating scripts were targeting the wrong secret :( I'm going to prioritize some work to move these values into a more observable place so you can update and inspect them yourself, and also support logging non-secret arm parameter values.

[2021-11-09 23:58] avirishuv commented on #9549
Adding @amjads1 and removing @axayjo

[2021-11-10 01:32] sodul commented on #17801
Removing non latest APIs, will remove about 60% of the disk space needed. A further design issues is that some of the API definitions import prior APIs in order to have a complete set of objects. I have no idea why these API definitions where designed this way but it is definitely not very good. I did not think of the idea of stripping comments, which means that we could probably extend `azure-sdk

[2021-11-10 01:48] logachev commented on #17801
@sodul Yeah, agreed. So far I saw only keyvault being broken by your tool (which should be fixed soon I guess https://github.com/Azure/azure-sdk-for-python/issues/21623).

I think there are actually 2 scenarios we're talking about.. Development - I agree, comments & doc strings are useful.
However, building production image - docstrings are unnecessary.. The only trick there is - need to preserve

[2021-11-10 04:02] #21281 closed

[2021-11-10 07:11] andrea-cassioli-maersk commented on #21639
@annatisch we use `AutoLockRenewer` to keep lock on messages

[2021-11-10 07:46] msyyc commented on #21304
https://github.com/Azure/azure-sdk-for-python/pull/21689

[2021-11-10 09:49] MughundhanRaveendran-MSFT commented on #21665
@mmasiuk , Thanks for the feedback. I am trying to reproduce this issue at my end. Once I am able to repro, I will make the necessary changes to SDK.

I will keep you posted on this thread.

[2021-11-10 12:07] Katzmann1983 opened #21690 "[BUG Bash] Azure Cli and Azure ML SDK are incompatible."
Azure Cli and Azure ML SDK are incompatible. The CLI and ML SDK cannot be both used at the same time from the same cli.

**To Reproduce**
Try to install both in the latest azure-cli container:
docker run -it mcr.microsoft.com/azure-cli
pip install azureml-sdk azure-cli

**Expected behavior**
Both can be used in the same environment.

**Setup**
 - Python 3.9.6
 - azureml-sdk>=1.36.0
 - azure-cli>=2

[2021-11-10 12:43] grecoe commented on #15285
Based on the first report here....the documentation/examples seem out of date...

Coming from this landing page: https://docs.microsoft.com/en-us/azure/storage/common/storage-samples-python

Examples show using blob_service_client.credential.account_key in multiple examples

https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-blob/samples/blob_samples_authentication.p

[2021-11-10 14:34] izilic333 commented on #19600
Hi,

Is there any news?

Maybe there is one more problem here, on this Consumption client and also on this API,
https://management.azure.com/subscriptions/{}/providers/Microsoft.Consumption/usageDetails/download?startDate={}&endDate={}&api-version=2019-10-01,

 I  get this error for "pay-as-you-go" azure account:

`(400) Billing Period is not supported in (2019-10-01) API Version for Subscription

[2021-11-10 14:35] annatisch commented on #21639
Thanks @andrea-cassioli-maersk - is it possible that the code is using the synchronous AutoLockRenewer for messages received from an async client?
The async client will need to be paired with an async AutoLockRenewer - as seen here:
https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/servicebus/azure-servicebus/samples/async_samples/auto_lock_renew_async.py

[2021-11-10 15:13] PramodValavala-MSFT commented on #21664
@silhano The newer SDK use the `azure.identity` module which you could read more about in the [authentication docs](https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-authenticate?view=azure-python).

Do note that using username/password is not recommended and has some limitations since it's not interactive as mentioned [here](https://docs.microsoft.com/en-us/azure/developer/python/

[2021-11-10 16:52] xiangyan99 commented on #21642
Hi @moritzxbe Thanks for the information.

I tried the code:

    from azure.identity import ManagedIdentityCredential
    from azure.mgmt.subscription import SubscriptionClient
    credentials = ManagedIdentityCredential()
    client = SubscriptionClient(credentials)
and it worked.

Can you try if this also works for you?

@msyyc Do you know if we want to use the China cloud, how to create a Subs

[2021-11-10 17:52] #20698 closed

[2021-11-10 22:49] swathipil opened #21700 "[SchemaRegistry] update ODataV4Format error attribute on HttpResponseError"
sending in an invalid format (i.e. "fake" instead of "Avro") to `get_schema_properties`/`registery_schema` results in a 415 httpresponseerror. The error attribute on it can be updated with an object based on the `e.response.content`.
Laurent:
At least, you could extract the "detail" as "message": https://github.com/Azure/azure-sdk-for-python/blob/096b89cf015923a74621ba9c9c40fde04439f387/sdk/core/a

[2021-11-10 22:56] mccoyp opened #21701 "[Key Vault] Link to ISO 8601 documentation for rotation policies"
In `azure-keyvault-keys`, wherever ISO 8601 duration strings are accepted as input for key rotation policies, we should link to documentation to explain how they should be formatted ([Wikipedia](https://en.wikipedia.org/wiki/ISO_8601#Durations) should be fine).

[2021-11-10 23:16] #21380 closed

[2021-11-10 23:29] #20699 closed

[2021-11-11 01:45] jaymegordo commented on #19753
I also get this error frequently, ~2 times per day, while running code on a 15min interval on an azure functions app. The error never occurs while testing locally though. Is there a way to increase the retries?

[2021-11-11 04:58] h-vetinari opened #21713 "Package azureml-* for conda-forge?"
Hey all

I've recently become involved with a project that needs `azureml-defaults`, and it's a bit of a pain to use well in a conda-environment, because of some very specific version pinnings & ranges, and pip just trampling over the conda-environment (uninstalling package versions it doesn't like), potentially breaking the environment.

Right now, to avoid such collisions - i.e. to get to a poin

[2021-11-11 07:54] andrea-cassioli-maersk commented on #21639
@annatisch we are using all async code. It looks a bit like
[code]

[2021-11-11 08:45] BigCat20196 commented on #21642
hi @moritzxbe thanks for the feedback !

Track2 and track1 have slightly different methods for identity.
You need to store your credentials an environment variables. For example, in Linux based OS, you can do
[code]

And it no longer needs to set `signed_session`, this is a breaking change.

Please kindly let us know if it solves the issue.

[2021-11-11 09:09] v-xuto commented on #20875
@benbp Thanks for your help. This issue has fixed. This is the [result](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1190562&view=results). I will close this issue.

[2021-11-11 09:09] #20875 closed

[2021-11-11 09:18] silhano commented on #21664
Thank you for solution, but ... I can't use MSI because I am calling DNS zone in different tenant (different AAD). Is there any solution where I can use password like in past versions?

I tried this, but is NOT working ('UsernamePasswordCredential' object has no attribute 'signed_session'):
`
from azure.mgmt.dns import DnsManagementClient
from azure.identity import UsernamePasswordCredential

# Re

[2021-11-11 09:26] PramodValavala-MSFT commented on #21664
@silhano You could [authenticate with service principals](https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-authenticate-service-principals?view=azure-python) instead. This is like a username/password but for non-interactive clients. The Client Secret here should be secured like a password.

[2021-11-11 15:17] annatisch commented on #21639
Thanks @andrea-cassioli-maersk
Adding @yunhaoling from the messaging crew to take a closer look :)

I will double check the Storage SDK as well to see if there's any locks being used during upload that may cause this.

[2021-11-11 16:26] tmakowka-tc opened #21718 "DefaultAzureCredential is not working with az login"
- **Package Name**: azure-identity
- **Package Version**: 1.7.1
- **Operating System**: Windows 10
- **Python Version**: 3.9.7

**Describe the bug**
I'm trying to connect to a Key Vault from my dev environment, using DefaultAzureCredential, previously having logged in with az login. The code should run using managed identity in Azure, for development purposes a locally signed in user with az login

[2021-11-11 16:48] CedricOettel opened #21719 "Azure-identity importing for Python3 Runbook throws OpenSSL issue"
- **Package Name**: azure-identity
- **Package Version**: 1.7.1
- **Operating System**: Azure Automation Account
- **Python Version**: 3.8.0

**Describe the bug**
There seems to be a version conflict with OpenSSL package from Python3 vs. OpenSSL from package "cryptography", which is a dependency package from azure-identity or azure-storage-blob.
When using the [Import_py3package_from_PyPi](https:/

[2021-11-11 18:44] xiangyan99 commented on #21713
Thanks for the feedback, we’ll investigate asap.

[2021-11-11 18:51] xiangyan99 commented on #21719
@CedricOettel Msal (one of the identity dependencies) recently made a change of the dependent cryptography version. (https://github.com/AzureAD/microsoft-authentication-library-for-python/commit/16dcb22690c1c66e96a7c96b4dda4cf7ceb58e00#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7)

It bumped cryptography from <4 to 35 which may be the cause.

Could you try install cryptogr

[2021-11-11 18:55] xiangyan99 commented on #21718
@tmakowka-tc Thanks for the feedback.

From the log:
SharedTokenCacheCredential: Azure Active Directory error '(invalid_grant) AADSTS700082: The refresh token has expired due to inactivity. The token was issued on 2021-11-03T12:41:45.9066517Z and was inactive for 12:00:00.

Seems like it failed because the token expired.

Could you check the code if this was the case?

Thanks.

[2021-11-11 19:06] m-credera opened #21722 "Support Document Patching in CosmosDB SDK"
CosmosDB document patching was released to GA on 11/2/2021. Support for this in the Python SDK would be a huge RU and time saver from having to use custom stored procedures that achieve similar functionality.

https://devblogs.microsoft.com/cosmosdb/partial-document-update-ga/

[2021-11-11 19:41] tmakowka-tc commented on #21718
@xiangyan99 Thanks for taking time to look into this. I saw this warning, and re-tried "az login", but the issue remains. Could you please tell me where to check for the validity of the token, or how to refresh it?

Thanks

[2021-11-11 20:09] riedgar-ms commented on #21718
I'm seeing a similar issue (I'm on `azure-identity` version 1.7.0). I'm running in a notebook, and have the following block of code:
[code]
I can use the `cli_creds` object in a subsequent call to `BlobServiceClient`. However, if I try using the `creds` object instead, I get an error very much like that reported by @tmakowka-tc .

[2021-11-11 20:11] yunhaoling commented on #21639
as far as I know we are not using async lock in the Service Bus Auto Lock Renewer or in the Service Bus code.

However, async Lock is used in the uamqp, e.g., [ascyn connection lock](https://github.com/Azure/azure-uamqp-python/blob/master/uamqp/async_ops/connection_async.py#L111)

So I was wondering if it's the async connection that got interrupted before existing it gracefully.
hey @andrea-cassio

[2021-11-11 21:32] chinmaycpalande opened #21725 "AzureML Kubernetes service inference script error when used with inference-schema decorators"
I receive an error `run() got an unexpected keyword argument` (Screenshot Below) while testing Azure Kubernetes Service with UI. The service is deployed without any issues deployment.

The inference script works if
- I don't use the inference schema decorators. (I am using it to automatically generate a Swagger doc)
- I use Azure Container Instance instead of Kubernetes Service

My best guess is t

[2021-11-11 22:48] scbedd opened #21728 "[Python 2.7 Retirement] Ensure py3-only wheels are generated"
Given that py27 is being eliminated from the azure-sdk support matrix, we must also ensure that _all_ packages generated are no longer universal.

This is due to the fact that we have `setup.cfg` with `universal=1` almost everywhere.

Task Details:

1. Update `verify-sdist`/`verify-whl` to check setup requirements. We need to ensure that `setup.py` contains `python_requires=">=3"`.
2. Verify that

[2021-11-11 22:54] scbedd commented on #21728
Follow-up note from laurent. Add a config switch such that we can still service older versions for hotfix releases and the like.

[2021-11-11 23:30] mccoyp opened #21731 "[Test Proxy] Document auto-start fixture in migration guide"
See https://github.com/Azure/azure-sdk-for-python/pull/21538

[2021-11-12 00:29] kristapratico commented on #21626
@scbedd I think we can close this. My issue was that I had a VERY old image and once updating to the latest (despite some annoying docker caching issues that @mccoyp helped me through) everything "just worked".

[2021-11-12 02:52] h-vetinari commented on #21713
Thanks for the quick responses! Just to clarify, it's not necessary that the azure team does the packaging of azureml for conda-forge (though co-maintainership would be welcome!) - it's simply about the fact whether this would be desirable for azureml, and thus whether (ideally) the sources can be made publically available (or at least the dependency metadata).

[2021-11-12 05:28] bparikh99 opened #21734 "Want to Know field.confidence and form_type_confidence"
I have multiple models and running on pdf page by page each model is finding something on page but still field.confidence is always around 0.9 and form type confidence for correct model is also not accurate it is changing based on PDF's sometimes it is 0.7 or less than that

I am currently using Latest package with python 3.7 on windows 10 and I have trained custom models in FOTT Tool can anyone e

[2021-11-12 06:20] MughundhanRaveendran-MSFT commented on #21665
@mmasiuk , Doesnt seem like an issue. Inside the _authorization_management_client.py file, it is mentioned as credential , please check below

        credential: "AsyncTokenCredential",

https://github.com/Azure/azure-sdk-for-python/blob/98a07a276e63fc8708aabbe5bd4081b42b04daba/sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/aio/_authorization_management_client.py#L67

[2021-11-12 07:06] v-xuto commented on #16231
@jameszliao-msft , @lmazuel, @kyle-patterson, @tg-msft, @amishra-dev Do you have any ideas about this issue?

[2021-11-12 07:08] syamchanakya opened #21735 "[Azure Identity Python] Getting http status details from azure identity even not mentioning (logging_enable=True)"
I am using azure-identity version 1.7.1 to access the azure token using python 3.9.0. When I am running the code through VS code/Pycharm, I am getting HTTP status details for each run. If 1000 resources are in a loop, I will get 1000 HTTP request status in the terminal. It makes it difficult to find the print() items in the code.  The HTTP status code is shown in the figure.
![image](https://user-

[2021-11-12 07:17] v-xuto commented on #19200
@ramya-rao-a, @kyle-patterson, @tg-msft, @dw511214992 Any ideas about this issue?

[2021-11-12 07:47] silhano commented on #21664
I tried your way and migrated DNS zone to same tenant, but I am still getting error:
```'DefaultAzureCredential' object has no attribute 'signed_session'```
[code]

[2021-11-12 07:59] BigCat20196 commented on #19178
hi @bmclarnon-r7, thanks for feekback!

The latest version of azure MGMT monitor is now 3.0.0.
It is recommended to upgrade to the latest version and try again.

After my investigation, I now query a nonexistent resource group and its return is `ResourceGroupNotFound`.

[2021-11-12 08:17] CedricOettel commented on #21719
How can i do that in an Azure Automation Account?
Do i need to reference a specific version of azure-identity which does not have the reference to 35.0.0 ? If so, which version of azure-identity has a lower version of MSAL than 1.15.0?

[2021-11-12 09:18] bmclarnon-r7 commented on #19178
Thanks for the update! I'll try again with the latest version and update the issue.

[2021-11-12 11:45] bmclarnon-r7 commented on #19178
Looks like our issue is resolved. Thanks for your help!

[2021-11-12 13:53] Cukkimo opened #21736 "AttributeError: 'coroutine' object has no attribute 'http_response'"
Packages:

azure-core==1.20.1
azure-storage-blob==12.9.0

OS: Linux
Python 3.9 also with 3.6

I simply try to list containers. Throws error: AttributeError: 'coroutine' object has no attribute 'http_response'
There is proxy involved in this setup, but it seems to work fine with older version of the library.

I can paste Dockerfile and the full example code if requested.

[code]

Main points of the

[2021-11-12 14:13] yowl commented on #12264
In C# you can serialize the RecognizedForm, but you cant deserialize it as there is no parameterless ctor.  Can that be added?

[2021-11-12 15:22] tjprescott opened #21737 "`automation_generate.sh` script is intended for management plane but fails data plane CI"
The script `automation_generate.sh` is intended to check management plane generation, but it also runs in the azure-rest-api-specs repo when changes are made exclusively to data-plane specs, resulting in false-alarm failing CI builds.

[2021-11-12 15:48] xiangyan99 commented on #21722
Thanks for the feedback, we’ll investigate asap.

[2021-11-12 15:49] xiangyan99 commented on #21725
Thanks for the feedback, we’ll investigate asap.

[2021-11-12 15:51] xiangyan99 commented on #21734
Thanks for reaching out.

Could you tell us which library are you using? And if possible, which version?

Thank you.

[2021-11-12 15:51] xiangyan99 commented on #21736
Thanks for the feedback, we’ll investigate asap.

[2021-11-12 16:07] bparikh99 commented on #21734
Currently I am using library azure-ai-formrecognizer latest version 3.1.2

[2021-11-12 16:23] lmazuel commented on #12264
Hi @yowl , can you ask the question on the C# repo, so all the C# community will benefits from the answer? Also, we're not expert in C# :)
Thanks!
https://github.com/Azure/azure-sdk-for-net

[2021-11-12 16:23] yowl commented on #12264
Oh sorry. this is a python thread.  My bad.

[2021-11-12 16:24] lmazuel commented on #12264
@yowl no worries at all :)

[2021-11-12 16:24] lmazuel commented on #12264
@catalinaperalta , I would suggest you check with @mccoyp if the JsonEncoder is enough to solve the question

[2021-11-12 16:31] xiangyan99 commented on #21719
I am not an expert of Azure Automation. Is it possible that you can specify something like requirements and install cryptography < 4 before installing identity library?

[2021-11-12 16:35] irm-phoudek commented on #21719
Hello,
we have tried to install cryptography 3.2.2 (the version, that is installed with azure-identity/-storage-blob for Python 2.7 in Azure) before. Then the same error occures on the first install of azure-identity or -storage-blob. So it seems not to be a problem of the "wrong" version of cryptography.

[2021-11-12 16:36] lmazuel commented on #21665
It has been renamed `credential` in the first stable release 1.0.0, but indeed all old versions in 0.x were using `credentials`. The latest package on PyPI and the doc are now in sync, so closing the issue. Thanks!

[2021-11-12 16:36] #21665 closed

[2021-11-12 17:12] janluke opened #21740 "Model.get_model_path() shouldn't cache models at a relative path from cwd"
Two requests:
- It should be possible to specify a `cache_dir`
- the default cache should be at a fixed path system-wide, not at a relative path from the current working directory. I want to use the cache regardless of my current working directory.

[2021-11-12 17:13] lmazuel commented on #21450
Latest API has been merged to repo, closing the issue:
https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/network/azure-mgmt-network/azure/mgmt/network/v2021_05_01

[2021-11-12 17:13] #21450 closed

[2021-11-12 17:23] janluke opened #21741 "Feature: add progress callbacks for methods that download models"
**Is your feature request related to a problem? Please describe.**
The problem is poor user experience when downloading models with `Model.get_model_path` or `Model.download`. None of these methods provide any feedback at all nor expose argument that allow for such feedback to be implemented by the developer.

**Describe the solution you'd like**
Expose arguments to hook in the download process. T

[2021-11-12 17:33] kristapratico commented on #21734
@bparikh99 a few questions:

Are you using a different custom model per PDF page or is this a composed model?
How many documents have you labeled/trained in the FOTT tool? The more documents you label and train with, the better the confidence and accuracy of the fields returned.

Also I'm sorry but I'm not sure what you mean by "restrict to get correct output instead of getting random values from

[2021-11-12 18:49] #21601 closed

[2021-11-12 19:03] #21626 closed

[2021-11-12 19:25] josegallardo commented on #21587
Hi @flixman ,
The Python SDK is using an older version of the DevTest Labs API in which that property is still Read-Only. I'd assume this is because our latest DTL API is still in the process to be released as stable.
That process will take some time but, in the meantime, as a workaround, you can use directly the DTL 2018-10-15-preview API which allows you to update that same property.
Thanks for

[2021-11-12 20:00] bparikh99 commented on #21734
Yes I am using custom models in PDF's and also for some model it has 5 pages to maximum 10-15 pages in training but also one question In FOTT Model Field confidence and docTypeConfidence is different from code also it's varying in different models

[2021-11-12 20:02] mmasiuk commented on #9310
Hello guys,

I've occurred same problem for below packages version:
azure-identity-1.7.1
azure-graphrbac-0.61.1

_AttributeError: 'AzureCliCredential' object has no attribute 'signed_session'_

The same appears once using DefaultAzureCredential.
Any chance to know if there is any workaround or when azure-graphrbac will get update?
Many thanks in advance!

[2021-11-12 22:02] #21468 closed

[2021-11-12 22:02] #20518 closed

[2021-11-12 22:53] catalinaperalta commented on #21734
@bparikh99 this seems to be a training issue, adding @sandeepparab from the service side to help answer training related questions about how to get a higher confidence for models.

I'm curious what you mean about these being different? Where are you seeing the difference? Thanks!

[2021-11-13 01:15] ranweiler opened #21747 "`AzureMonitorTraceExporter` exports spans, but drops their events"
- **Package Name**: `azure-monitor-opentelemetry-exporter`
- **Package Version**: 1.0.0b5
- **Operating System**: Linux
- **Python Version**: 3.7.5

**Describe the bug**
`AzureMonitorTraceExporter` does not submit events that belong to a span.

**To Reproduce**
Here is a small script that repros:
[code]

**Expected behavior**
Spans should viewable in Application Insights, such as in the Transactio

[2021-11-13 04:02] #21184 closed

[2021-11-13 04:13] bparikh99 commented on #21734
Let's take a example I have analyze one page in FOTT model and it is giving high form type confidence and field confidence around 99.5 % for correct page but in my code form type confidence for correct page is not close to 99.5% for some models correct page is taking form type confidence around 30-50%

[2021-11-14 05:37] edoboker opened #21748 "Return code and HTTP errors in Event Grid client"
Hi,

I was wondering why both sync and async methods of 'send' do not return standard HTTP errors and responses. It would immensely help when trying to handle 429 or 413 (rate too high and message too large). Currently, my only way of knowing if send actions have failed is to check the logs of the event grid of shift to other SDKs (which have their own issues).

I believe it has to do with [this ]

[2021-11-14 15:06] andrea-cassioli-maersk commented on #21639
@yunhaoling we use the receiver as a context manager

[2021-11-14 22:10] #21460 closed

[2021-11-15 07:27] msyyc commented on #21300
https://github.com/Azure/azure-sdk-for-python/pull/21688

[2021-11-15 07:27] #21300 closed

[2021-11-15 07:40] amishra-dev commented on #21668
Can you please look at https://docs.microsoft.com/en-us/azure/storage/blobs/storage-manage-find-blobs?tabs=azure-portal#setting-blob-index-tags
Its not clear which auth type you are using but Tags requires special permissions if you are using SAS.

[2021-11-15 07:46] gavinHuang opened #21750 "azure-cosmos not able to disable "endpoint_discovery""
- **Package Name**: Azure-cosmos
- **Package Version**: 4.2.0 (and all other version)
- **Operating System**:Windows
- **Python Version**: 3.7

**Describe the bug**
"enable_endpoint_discovery" can't set to False at Cosmos_Client.py (line 82):
`policy.EnableEndpointDiscovery = kwargs.pop('enable_endpoint_discovery', None) or policy.EnableEndpointDiscovery
`
Even specifically set the value to False,

[2021-11-15 09:05] dreamflasher opened #21753 "[storage-blob] Add copy & sync download for folders"
**Is your feature request related to a problem? Please describe.**
Usually I want to download a folder and not a single file, currently I need to write my own code for that.

**Describe the solution you'd like**
Implement https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-sync sync, as well as copy functionality in the azure-storage-blob python API.

**Describe alternatives y

[2021-11-15 14:45] deaktomi opened #21760 "Exception messages in Python not showing nicely"
I generated a client with Autorest for C#, Node.js, and for Python as well. When my API is returning an error, I send back an503 status code with some error details in a JSON.

When I use my Node.js library and meet an error, I have a nice error message on the output of my script. See the second line
[code]

When I use the Python client, the error message is not so nice
[code]

The issue is that t

[2021-11-15 17:30] xiangyan99 commented on #21736
@tasherif-msft
In https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies_async.py#L16, should we import StorageRetryPolicy from policies_async not policies?

[2021-11-15 17:53] #21105 closed

[2021-11-15 18:06] iscai-msft commented on #21736
hey @Cukkimo, can you confirm that you're following [this](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-blob/samples/blob_samples_proxy_configuration.py) exact sample file and trying to adapt it to async? It would be great if you could share all of your code so we can confirm.

[2021-11-15 21:23] kurtzeborn commented on #21536
Since the issue in the docs repo has been opened, I'm going to go ahead and close this.  We don't need two issues in two different repos open and tracking this.  A link to the issue opened in the appropriate repo is sufficient.

[2021-11-15 21:23] #21536 closed

[2021-11-15 21:35] ywang-qumulo commented on #21575
Hi, Can I have some update with this issue if any? Thanks.

[2021-11-15 21:45] swathipil commented on #21740
Hi @janluke - Would you be able to specify the SDK that has this issue?

[2021-11-15 21:47] swathipil commented on #21741
Hi @janluke - Would you be able to specify the SDK that you are referring to in this feature request?
(I'm assuming that it is the same as #21740.)

[2021-11-15 22:12] annatisch commented on #21240
Hi @riccardo-di-lorenzo - this bug fix should now be released.
Please try out the latest package and let us know how it goes - or whether you still encounter any difficulties :)

[2021-11-15 22:15] annatisch commented on #20301
This bug fix has now been released :)

[2021-11-15 22:16] yunhaoling opened #21765 "[ServiceBus] Stress test onboarding"
after finishing up the issue: https://github.com/Azure/azure-sdk-for-python/issues/21565

get other python messaging crew onboard with the stress test project

[2021-11-15 22:16] annatisch commented on #20247
This bug fix has now been released :)

[2021-11-15 22:19] DFMERA opened #21766 "ImportError: cannot import name 'DocumentAnalysisClient' from 'azure.ai.formrecognizer'"
- **azure.ai.formrecognizer**:
- **3.1.2**:
- **Windows 10**:
- **3.9**:

**Describe the bug**
Hi. I'm trying to run this example:
https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_invoices.py
But I keep getting this error:
ImportError: cannot import name 'DocumentAnalysisClient' from 'azure.ai.formrecognizer'
even a

[2021-11-15 22:23] gdippolito commented on #21561
Any updates on the above? I think it is a valid use case and people would benefit from good guidelines on the matter.
Thanks!

[2021-11-15 22:28] kristapratico commented on #21766
Hi @DFMERA, DocumentAnalysisClient is only available in the recent beta release of the Form Recognizer library. Your snippet shows installing version 3.1.2 and you need 3.2.0b1 or greater. Use command `pip install azure-ai-formrecognizer --pre --upgrade` to upgrade to the latest beta package.

Also if you're intending to use the latest GA, stable package and not the beta, please see the samples he

[2021-11-15 23:21] SaurabhSharma-MSFT commented on #6483
@lmazuel Following to know if you have any actions items pending on this issue.

[2021-11-15 23:24] SaurabhSharma-MSFT commented on #20223
@robert4os Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-11-15 23:25] SaurabhSharma-MSFT commented on #16878
@rowco Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still facing this issue ? Please let us know .

[2021-11-15 23:28] SaurabhSharma-MSFT commented on #17280
@ietashish I am following to know if your issue is resolved ? Please let us know.

[2021-11-15 23:32] SaurabhSharma-MSFT commented on #19935
@ThorsteinSkaug Apologies for the delayed response. I see that this issue is opened few months back and no further activity had taken place. So wanted to check if you are still facing this issue ? Please let us know.

[2021-11-16 00:03] swathipil commented on #21748
@edoboker Thanks for the question! Routing this to people who can answer!

[2021-11-16 00:10] swathipil commented on #21750
@gavinHuang Thanks for the feedback - directing this to the right people!

[2021-11-16 00:12] swathipil commented on #21753
@dreamflasher Thanks for your feedback! We'll address it asap!

[2021-11-16 00:14] rakshith91 commented on #21748
Hi @edoboker
Thanks for the issue. The reason EG does not return anything here is because the service itself does not return a body.

You can always use a `raw_response_hook` to get the status code.

Define a callback method like:
[code]

and pass it as `raw_response_hook` in the send method
[code]

[2021-11-16 00:19] xiangyan99 commented on #21719
@irm-phoudek when you say same error, do you mean the error with message
"Please try creating a new virtual environment to resolve this issue. Loaded python version: 35.0.0, shared object version: b'2.8'"

Isn't 35.0.0 the version of cryptography library?

[2021-11-16 00:21] xiangyan99 commented on #21747
Thanks for the feedback, we’ll investigate asap.

[2021-11-16 00:57] lzchen commented on #21747
@ranweiler
This feature is not supported yet. Thanks for reporting. We will update this issue once the feature has been implemented.

[2021-11-16 01:04] #21017 closed

[2021-11-16 01:08] xiangyan99 commented on #21718
@riedgar-ms Thanks for the information. Could you share the logs when you use creds?

[2021-11-16 01:18] ranweiler commented on #21747
Thanks @lzchen, that confirms my reading of the exporter code.

1. Is there a roadmap or timeline for this feature work?
2. How do you plan on mapping OpenTelemetry Events to the App Insights data model? With this be user-configurable?
3. Do you plan on supporting [OpenTelemetry Logging](https://opentelemetry.io/status/#logging), once that API has stabilized?

[2021-11-16 01:25] xiangyan99 commented on #21653
@schaabs if expiresOn is null, should we give a default value? if yes, which one is suitable?

Thanks.

[2021-11-16 02:33] yunhaoling commented on #21131
based on the discussion, we will be using `asyncio` for async transport implementation as asyncio is the built-in cpython async transport lib which should in general work for most python developers.

other async transport support will be considered in the future, e.g. trio, curio
also, there are some async io frameworks which might help switching between different async transport libs easier, but

[2021-11-16 02:33] #21131 closed

[2021-11-16 02:53] #21356 closed

[2021-11-16 02:54] #21355 closed

[2021-11-16 07:17] irm-phoudek commented on #21719
@xiangyan99 of cause the versionnumber is changed as also the id of the runbook-VM and a few line numbers, but stacktrace and error is the same:
[code]

[2021-11-16 08:39] tmakowka-tc commented on #21718
@xiangyan99 Could you please look into my comment on how to refresh the token via az login? I wonder if there's anything I can do from my side to fix this.

Thanks!

[2021-11-16 08:57] brnbs commented on #21760
+1 we need this feature ASAP

[2021-11-16 09:25] flixman commented on #21587
Hi @josegallardo, I have just tried with that API version, and I am getting the same error :-/.

[2021-11-16 09:44] janluke commented on #21740
https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.model(class)?view=azure-ml-py

[2021-11-16 09:44] janluke commented on #21741
https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.model(class)?view=azure-ml-py

[2021-11-16 11:30] Cukkimo commented on #21736
https://github.com/Azure/azure-sdk-for-python/issues/9311
I think this was the issue here.

I made this program originally ~2 years ago, and back then there was examples to directly put proxies in initialized client internal attribute `_config.proxy_policies.proxies = proxies

Which seemed quite off, but it worked back then.

Now when revisiting this year ago I changed it to the deprecated example

[2021-11-16 12:16] edoboker commented on #21748
Thanks for the reply! I think it would be great if this could be added to the documentation as well, being such an important feature.
Just out of curiosity - why not return an HTTP response without a body then? The status code is still meaningful... In addition - I can see in other SDKs and when accessing the service directly, I can see HTTP errors body received from the service itself, such as:
[

[2021-11-16 12:19] robert4os commented on #20223
@SaurabhSharma-MSFT Was the bug fixed then? Since the code is not open source, it is not straight forward to check. Our workaround was to write our own waiting method to wait for the correct Return state.

[2021-11-16 14:33] riedgar-ms commented on #21718
So using the two above credentials, if I create a `BlobServiceClient` with the `cli_creds` things work. If I use `creds`, then the returned error is:
[code]
The relevant part of the stacktrace appears to be:
[code]
And finally, Python is `3.6.13 (default, Sep 23 2021, 07:38:49) [MSC v.1916 64 bit (AMD64)]`, and the pip packages are:
[code]

[2021-11-16 16:03] simorenoh commented on #21750
Hi @gavinHuang, thank you for reporting this. You are completely right, this is a current gap in the SDK; the line you outlined will always evaluate to True since the second condition (policy.EnableEndpointDiscovery) is set to True (and naturally any or statement with one True condition ends up being True).

I have gone ahead and fixed this here: https://github.com/Azure/azure-sdk-for-python/pull/

[2021-11-16 17:20] omrodrig commented on #18927
I apologize for the inconvenience. Upon further investigation, the API contract and corresponding Swagger do not integrate with the SDK in such a way to allow automatic pagination. We will add this API contract change as a work item into our backlog.

[2021-11-16 17:22] xiangyan99 commented on #21719
Looks like cryptography 2.8 is installed in Azure Automation Account. @automation team, can anyone help to confirm it?

[2021-11-16 17:37] iscai-msft commented on #21736
Agreed. Thanks for confirming that it was following the old sample that caused your issue. The old sample was definitely was definitely not the best implementation since it was using private code, and it wasn't clear how to adapt it from sync to async. The issue was caused because the `create_configuration` call in the sample introduced some sync-only policies to your async code, which caused the

[2021-11-16 17:42] xiangyan99 commented on #9311
#21762

[2021-11-16 18:21] swathipil commented on #21740
@janluke - Thanks! Directing this to the right people.

[2021-11-16 19:10] xiangyan99 commented on #21561
@jeking3 could you help?

[2021-11-16 19:17] rakshith91 commented on #21748
@edoboker  I will definitely improve the documentation

As for changing the response now, it would unfortunately be a breaking change and cannot be done.

[2021-11-16 19:17] rakshith91 commented on #21748
Keeping this issue open to document raw_response_hook

[2021-11-16 19:46] etiedem opened #21781 "Express Route Circuits route table device_path argument"
- **Package Name**: azure-mgmt-network
- **Package Version**: 19.3.0
- **Operating System**: macOS
- **Python Version**: 3.10.0

**Describe the bug**
Trying to use express_route_circuits.begin_list_routes_table and can't find what the device_path is in reference to. The documentation just says "the path to the device"...

**Additional context**
Suggest updating the documentation with an example or

[2021-11-16 19:48] rakshith91 commented on #21230
Duplicate of https://github.com/Azure/azure-sdk-for-python/issues/20928

[2021-11-16 19:48] #21230 closed

[2021-11-16 19:50] rakshith91 commented on #20794
https://pypi.org/project/azure-loganalytics/ is marked as inactive

https://pypi.org/project/azure-applicationinsights/ does not have complete feature compatibility. Closing this issue for now and will re open if necessary

[2021-11-16 19:50] swathipil commented on #21781
@etiedem Thanks for the feedback! We'll investigate asap.

[2021-11-16 21:15] swathipil commented on #21639
@andrea-cassioli-maersk
Would you be able to share your logs if you have any?
If not, would you be able to enable uamqp logging for ServiceBus (by following [this section](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/servicebus/azure-servicebus#logging)) and Storage Blobs (by following [this section](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-b

[2021-11-16 21:20] catalinaperalta opened #21784 "[formrecognizer] Re-enable prod tests"
Re-enable once the service issues have been resolved.

[2021-11-16 21:23] benbp commented on #21784
FYI @witemple-msft do you know is there a corresponding issue for js to make sure we don't lose track of this?

[2021-11-16 21:31] #13588 closed

[2021-11-16 21:37] rakshith91 opened #21786 "Document azure-core configurations in READMEs"
Link the https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/core/azure-core#configurations in individual READMEs of the package to help with discoverability.

[2021-11-16 21:57] xiangyan99 commented on #21718
@tmakowka-tc @riedgar-ms Thanks for your information. What happened here is DefaultAzureCredential found a refresh token in the cache but it expired. DefaultAzureCredential stopped there with the error message. It happens usually because you logged in with visual studio but had not used it again for some time.

This is by design because if there is a refresh token found, we don't want to silently

[2021-11-16 22:15] riedgar-ms commented on #21718
That does work (although there was a warning about `EnvironmentCredential.get_token failed` but that must have failed over to the next method.

Could the error message be made a bit more explicit? This was a token I had no idea was lying around, and the error message didn't point me at Visual Studio.

[2021-11-16 22:29] xiangyan99 opened #21788 "revisit error message when SharedTokenCacheCredential fails in DefaultAzureCredential"
If SharedTokenCacheCredential finds a refresh token but expires, we output something like

SharedTokenCacheCredential: Azure Active Directory error '(invalid_grant) AADSTS700082: The refresh token has expired due to inactivity. The token was issued on 2021-11-03T12:41:45.9066517Z and was inactive for 12:00:00.

and stop trying the rest of the credentials in the chain. (e.g. Azure CLI credential wh

[2021-11-16 22:30] kinelski commented on #21784
@benbp Just created one: https://github.com/Azure/azure-sdk-for-net/issues/25358

[2021-11-16 22:41] yunhaoling commented on #14447
let's wait for customer feedback.

[2021-11-16 22:41] #14447 closed

[2021-11-16 22:47] yunhaoling commented on #12954
wait for customer feedback
-----------
open a new one to improve livetest stability

[2021-11-16 22:47] #12954 closed

[2021-11-16 23:43] yunhaoling opened #21789 "[Service Bus & Event Hubs] Improve livetest test stability"
- finding if there's any tests repeatedly failing in our livetest
- whether it's an issue in SDK or VM agents' problem
- if not issue in SDK, improve the test

[2021-11-17 01:11] riedgar-ms commented on #21788
It would be particularly helpful if the error message could mention the constructor argument you need to pass to have `DefaultAzureCredential()` skip this check. I was using `DefaultAzureCredential()` because I wanted a quick solution to something I was trying in a Jupyter notebook (it has also been a while since I was writing code that needed Azure auth); having something called _default_ fail be

[2021-11-17 01:59] SaurabhSharma-MSFT commented on #21781
@etiedem You need to pass `device_path` as "primary" or "Secondary" to get the results. Thanks.

[2021-11-17 02:01] SaurabhSharma-MSFT commented on #6723
@zikalino Do you have any updates on this issue.

[2021-11-17 02:03] SaurabhSharma-MSFT commented on #18230
@CloudSecuritySmith Can you please check and confirm back if your issue is resolved.

[2021-11-17 02:19] SaurabhSharma-MSFT commented on #9191
@kouta-kun Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-11-17 02:47] kouta-kun commented on #9191
Hi! We're actually not using Azure anymore, and this was part of - although not the only reason - why.

[2021-11-17 02:47] #9191 closed

[2021-11-17 04:14] gavinHuang commented on #21750
Thanks for the quick turn around!

[2021-11-17 05:14] fswane commented on #18610
Thanks.  I will check out the latest release.  Happy to see metrics made it into this release!

Regards
Francois

--
Francois Swanepoel
CTO, Stone Three (Pty) Ltd
(w) +27-21-851 3123
http://www.stonethree.com

________________________________
From: msftbot[bot] ***@***.***>
Sent: 16 November 2021 20:12
To: Azure/azure-sdk-for-python ***@***.***>
Cc: Francois Swanepoel ***@***.***>; Mention ***@***

[2021-11-17 07:02] vivek-microsoft opened #21792 "Serialization of None property"
- **Package Name**: cosmosdb-preview extension of azure-cli-extension
- **Package Version**: under development
- **Operating System**:
- **Python Version**:

**Describe the bug**
A clear and concise description of what the bug is.
https://github.com/Azure/azure-cli-extensions/pull/3948#pullrequestreview-808184321

**To Reproduce**
Steps to reproduce the behavior:
1. Set AuthenticationMethodLdapPro

[2021-11-17 08:03] #21193 closed

[2021-11-17 08:03] #20826 closed

[2021-11-17 08:03] #20283 closed

[2021-11-17 08:03] #15221 closed

[2021-11-17 08:03] #14163 closed

[2021-11-17 08:03] #14199 closed

[2021-11-17 09:44] tmakowka-tc commented on #21718
@xiangyan99 Unfortunately this does not work in my situation. I changed my code as you suggested:

`credential = DefaultAzureCredential(exclude_shared_token_cache_credential=True)`

The error now is:

[code]

[2021-11-17 11:39] edoboker commented on #21748
@rakshith91 just to make clear - you're saying that it's possible to get the HTTP response from the service, but it would be a breaking change in the SDK?

[2021-11-17 15:17] techwithtim commented on #21760
+1

[2021-11-17 15:33] rakshith91 commented on #21748
@edoboker We were looking into this - I think you have a fair request - pushing a bug fix here in this PR https://github.com/Azure/azure-sdk-for-python/pull/21790

Will hopefully get it released by end of this week. Thanks a lot for reporting this :)

[2021-11-17 16:24] reach4bawer opened #21793 "Get All ARM Templates from subscription"
I am trying to get ARM Templates deployed in my subscription and see which resources and type (VM vs API app vs App Service) of the resource are linked to the templates via python. Is this possible through python sdk?

[2021-11-17 16:51] #21750 closed

[2021-11-17 17:00] swathipil commented on #21793
@reach4bawer - Thanks for your question! I'm not sure whether there is information linked to a resource about how it was created (ex. Azure Portal vs. ARM template vs. REST API etc.), so I'm not aware of an SDK that would allow you to do this.

However, someone from the ARM Template service may have a better idea if there is information somewhere on how a resource was created. Directing this to th

[2021-11-17 17:51] Hidendra commented on #21517
Hi! Wondering if there has been any traction on this @tasherif-msft ?

I want to release a new version of my package internally with changefeed as a requirement and was going to use a direct URL reference for now but unfortunately cannot... It gets rejected by DevOps Artifacts:

[code]

so my only hope currently is for a new pre-release version to be cut on pip with the mentioned install_requires

[2021-11-17 18:42] tcsatheesh opened #21794 "Cannot set data retention when adding a data feed."
- azure-ai-metricsadvisor:
- 1.0.0:
- Ubuntu 18.04.5
- Python 3.7.5:

When adding a datafeed I am not able to provide a data retention value. Hence when I try to load historical data via the SDK I get the following error. "(ERROR_INCORRECT_DATA_START_TIME) dataStartTime need comply with the max data retention constraints, the number of data slice between dataStartTime and created Time can't be mor

[2021-11-17 19:18] iscai-msft commented on #21760
@brnbs @techwithtim I'm starting work on a PR now!

[2021-11-17 19:51] deaktomi commented on #21760
Thank you so much! Does it mean that it can be released in December?

[2021-11-17 21:16] skylaro opened #21798 "azure-identity | CertificateCredential does not parse PEM file properly"
- **Package Name**: azure-identity
- **Package Version**: 1.7.1
- **Operating System**: Linux/Ubuntu
- **Python Version**: Python 3.8

**Describe the bug**
Seeing the following exception:
File '/opt/hostedtoolcache/Python/3.8.12/x64/lib/python3.8/site-packages/azure/identity/_credentials/certificate.py', line 54, in __init__
client_credential = get_client_credential(certificate_path, **kwargs)
Fil

[2021-11-17 21:56] #21494 closed

[2021-11-17 22:21] swathipil commented on #21798
@skylaro Thanks for your feedback! We'll investigate asap!

[2021-11-17 22:51] xiangyan99 commented on #21798
@skylaro Thanks for reporting the issue.

Could you help to check the cryptography library version you are using? Is it 35.0.0?

Thanks.

[2021-11-17 23:28] xiangyan99 commented on #21718
@tmakowka-tc Sorry for the inconvenience. This is same issue, when searching VS code credential we found a refresh token which expired. You can add exclude_visual_studio_code_credential=True to disable it:

credential = DefaultAzureCredential(exclude_shared_token_cache_credential=True, exclude_visual_studio_code_credential=True)

Can you take another try?

For the priorities of the DefaultAzureCre

[2021-11-18 00:39] rakshith91 commented on #20038
Duplicate of https://github.com/Azure/azure-sdk-for-python/issues/20930

Also, checked the link - no significant questions for now

[2021-11-18 00:39] #20038 closed

[2021-11-18 00:59] catalinaperalta commented on #21734
Hi @bparikh99! Are you sending the same document to multiple models? I've talked to some people on the service side about this, if this is your scenario, then it would be best to use a composed model and let the service determine the model that is the best fit for the document you sent. If that is the case then there would be no need for you to be checking the confidence scores to determine the ri

[2021-11-18 01:53] tasherif-msft commented on #21517
Hello @Hidendra I have released a new version https://pypi.org/project/azure-storage-blob-changefeed/
I will close this issue :) let me know if anything else comes up!

[2021-11-18 01:53] #21517 closed

[2021-11-18 01:59] Hidendra commented on #21517
Awesome, thank you!!! Looking good on my end, greatly appreciated.

[2021-11-18 04:10] mccoyp opened #21809 "[Test Proxy] Proxy errors don't have an `x-ms-error-code` header"
With test proxy docker image 1196074, the correct error is raised when a record mismatch is encountered, but the `error_code` of the response is `None`. Because of this, for Tables tests, a `TypeError: unsupported operand type(s) for +=: 'NoneType' and 'str'` is raised when [attempting to format the error code](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/tables/azure-data-tables/az

[2021-11-18 04:10] mccoyp commented on #21809
@scbedd

[2021-11-18 08:02] #20824 closed

[2021-11-18 08:46] PramodValavala-MSFT commented on #21793
@reach4bawer Once deployed, ARM Templates become Deployments which you can [list for a subscription](https://docs.microsoft.com/en-us/python/api/azure-mgmt-resource/azure.mgmt.resource.resources.v2021_04_01.aio.operations.deploymentsoperations?view=azure-python#list-at-subscription-scope-filter--optional-str----none--top--optional-int----none----kwargs--any-----asynciterable-azure-mgmt-resource-re

[2021-11-18 11:42] janluke commented on #21741
Is `azureml` closed-source?

[2021-11-18 12:53] Cukkimo commented on #21736
Yes, now it seems to work as intended.

[2021-11-18 12:53] #21736 closed

[2021-11-18 13:59] riedgar-ms opened #21810 "BlobServiceClient.get_account_information() failing with ResourceNotFound"
- **azure-storage-blob**:
- **12.9.0**:
- **Win11**:
- **3.6.13**:

**Describe the bug**

I have created a `BlobServiceClient` using `DefaultAzureCredential`, and I can use this to list containers in the storage account. However, when I try to call the `get_account_information()` method it fails with:

[code]

**To Reproduce**

Following was in a Jupyter notebook:
[code]

**Expected behaviour**

T

[2021-11-18 15:22] anibaldk opened #21811 "PoolAddParameter lacks support for user assigned identities"
Python PoolAddParameter constructor lacks support for a user assigned identity specification (unlike .NET which does).

Expectation (but equivalent in Python):
`
Identity = new BatchPoolIdentity {
    Type = PoolIdentityType.UserAssigned,
    UserAssignedIdentities = new Dictionary<string, UserAssignedIdentities>{
        ["Your Identity Resource Id"] = new UserAssignedIdentities()
    }
}
`

If s

[2021-11-18 17:29] rakshith91 commented on #21748
@edoboker We have released a bug fix to raise on any error - Thanks again for the issue!! https://pypi.org/project/azure-eventgrid/4.7.1/

[2021-11-18 17:51] amishra-dev commented on #21753
Hi @dreamflasher (Marcel),
we do want to add support for upload of directories across all our SDKs and we are working on a design for it. We want to keep all our SDKs in sync, hence the API design has to take other languages into account.
It would be great if you could send a PR to create a new sample and not update the SDK API signatures. Would that be ok with you? We can take your sample into co

[2021-11-18 17:58] swathipil commented on #21811
@anibaldk Thanks for your feedback! Investigating asap!

[2021-11-18 18:09] xiangyan99 commented on #21811
@anibaldk Thanks for the feedback. Could you tell us where is the online documentation you are referring to?

[2021-11-18 18:34] iscai-msft commented on #21736
@Cukkimo thank you for raising this issue and helping us improve our samples

[2021-11-18 18:59] anibaldk commented on #21811
Of course, mate: https://docs.microsoft.com/en-us/python/api/azure-batch/azure.batch.models.pooladdparameter?view=azure-python

This is the constructor I see:
`PoolAddParameter(*, id: str, vm_size: str, display_name: Optional[str] = None, cloud_service_configuration=None, virtual_machine_configuration=None, resize_timeout=None, target_dedicated_nodes: Optional[int] = None, target_low_priority_node

[2021-11-18 19:09] skylaro commented on #21798
Yes, 35.0.0. Thanks for your diligence in looking into this!

[2021-11-18 19:12] heaths opened #21816 "LLC does not add api-version to LRO URI in `UpdateStatus()`"
While working on the LLC for Question Answering authoring, @AhmedLeithy [found](https://github.com/Azure/azure-rest-api-specs/issues/16807) that the `api-version` query parameter was not being added to the URI returned by the `Operation-Location` header. This was causing a 404 but, even if the service handled that, assuming the latest api-version could result in unexpected response models.

Talkin

[2021-11-18 19:18] heaths commented on #21816
To note, while we do know [this problem exists for .NET](https://github.com/Azure/azure-sdk-for-net/issues/25411), we're not sure it exists for Python. But talking with @annatisch, we agreed it's worth opening a tracking bug to be sure.

[2021-11-18 19:25] xiangyan99 commented on #21798
@skylaro Thanks for the information.
cryptography 35.0.0 made a breaking change deserializing certificate in PEM or PKCS12 format.

They acknowledges it and merged the fix. But 36.0.0 is not released yet.

In the meanwhile, can you use cryptography < 4?

Does it work?

Thanks.

[2021-11-18 19:39] skylaro commented on #21798
@xiangyan99 can you please paste a link for the merge?

crypto 3.4 works ok for now. When is 36.0.0 being released? Thanks so much.

[2021-11-18 19:50] xiangyan99 commented on #21798
@skylaro unfortunately, cryptography is not owned by us. We cannot make promise on behalf of them. :)

The issue was tracked in https://github.com/pyca/cryptography/issues/6366.

[2021-11-18 20:36] rmeichsner commented on #13438
I would like to get the same guidance. I don‘t think the issue is addressed right now.

Thanks

[2021-11-18 21:27] jjgriff93 opened #21818 "Where is the documentation for the Synapse SDKs?"
It seems to be non-existent!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 307038e8-4959-ee4b-395c-8ee1b6150658
* Version Independent ID: eba7238b-84a9-dcf7-8f39-8488fe7d1e29
* Content: [Microsoft Azure SDK for Python](https://docs.microsoft.com/en-us/python/api/overview/azure/synapse-artifacts-readme?view=azure-pytho

[2021-11-18 21:58] scbedd commented on #21809
I know that we're properly updating the STATUS code, but this `error_code`..

@mccoyp is this in the body? Do I just need to have add it to the json body?

[code]

[2021-11-18 22:02] #20339 closed

[2021-11-18 22:03] mccoyp commented on #21809
@scbedd Ah, looks like this is a local variable in Tables. It's the value of the `x-ms-error-code` header in the response

[2021-11-18 22:13] skylaro commented on #21798
Thanks for that info. We can close this issue now :)

[2021-11-18 22:15] #21798 closed

[2021-11-18 22:52] tasherif-msft commented on #21668
@LazzariPaolo let us know if your issue is resolved.

[2021-11-18 23:01] esb797 opened #21820 "Azure Identity Package - ClientSecretCredential module"
- Base Docker image tried (Linux): Python:3.8, Python:3.9, Python:3.10

- Imported Packages:
`from azure.identity import ClientSecretCredential`
`from azure.storage.blob import BlobClient`
`import pickle`

- Code snippet:
`tenant_id = os.environ['TENANTID']`
`client_id = os.environ['CLIENTID']`
`client_secret = os.environ['CLIENTSECRET']`
`credentials = ClientSecretCredential(tenant_id= tenant_id,

[2021-11-18 23:25] mccoyp opened #21821 "[Test Proxy] Update PowerShellPreparer for test proxy"
Context: the PowerShellPreparer currently attempts to sanitize environment variable values [using `vcrpy`'s scrubber](https://github.com/Azure/azure-sdk-for-python/blob/main/tools/azure-sdk-tools/devtools_testutils/powershell_preparer.py#L70), and falls through if a scrubber isn't available. This creates confusion about how and when values are getting sanitized, since the fake values provided to t

[2021-11-18 23:28] tasherif-msft commented on #21575
Hi @ywang-qumulo, I'm still looking for a workaround for this issue. Either forcing the SDK to deserialize to xml or ensuring we return the content-type
I will let you know once I have any updates.

[2021-11-19 00:11] esb797 commented on #21820
The issue is gone. I think it could be the Docker side. Thanks!

[2021-11-19 00:11] #21820 closed

[2021-11-19 00:40] tasherif-msft commented on #21575
In the meantime, here is the workaround:
[code]
Let me know if this unblocks you until we put out a fix and a release!

[2021-11-19 01:18] iscai-msft commented on #21760
hey @deaktomi we have a PR open for it now, will give more updates on release later. Thanks so much for your patience!

[2021-11-19 08:03] #19818 closed

[2021-11-19 08:03] #18601 closed

[2021-11-19 08:03] #15258 closed

[2021-11-19 08:03] #14124 closed

[2021-11-19 08:03] #12654 closed

[2021-11-19 08:03] #12145 closed

[2021-11-19 08:03] #6401 closed

[2021-11-19 08:38] tmakowka-tc commented on #21718
@xiangyan99 Thanks for the update, it's working now for me also with this option enabled!

I'm wondering why the process of retrieving a valid credential is stopping when an invalid token is found. Wouldn't it be better to just continue searching for valid credentials in this case?

However, thanks for helping me to fix this!

[2021-11-19 10:03] #15925 closed

[2021-11-19 15:56] reach4bawer commented on #21451
Any way to get `inbound addresses` using the SDK?

![image](https://user-images.githubusercontent.com/52763317/142652412-c35189ca-22eb-4a26-a1cb-a69db15f56a7.png)

[2021-11-19 16:35] xiangyan99 commented on #21718
@tmakowka-tc Yes. This is a good point. Our design to try to avoid the scenario that some customers log in with VS code and they expect to use VS code credential to authorize but if the credential expires, we automatically use Azure CLI without any information. That might cause some security concerns. (Because you may operate on another account without awareness).

We see your pain and we will re-

[2021-11-19 16:37] xiangyan99 commented on #21811
@anibaldk Thanks for the information.

@annatisch I see we do have BatchPoolIdentity implemented. Could you take a look?

[2021-11-19 19:21] annatisch commented on #21811
@cRui861 - do you know who the best person to look at this would be?

[2021-11-19 20:49] kristapratico opened #21839 "[textanalytics] remove dep on unittest mock"
We have several tests that use unittest's mock. See if we can convert these instances to pytest's monkeypatch: https://docs.pytest.org/en/6.2.x/monkeypatch.html

[2021-11-19 21:13] #20816 closed

[2021-11-19 21:13] #21384 closed

[2021-11-19 21:13] #21159 closed

[2021-11-20 01:42] mccoyp opened #21843 "[Test Proxy] Provide guidance for tests with resource preparers"
Some tests that haven't fully migrated to using a `test-resources.json` file to deploy all test resources may still use preparers that create resources, like resource groups or storage accounts. These preparers require access to a management client, which they attempt to create with a call to [`self.test_class_instance.create_mgmt_client`](https://github.com/Azure/azure-sdk-for-python/blob/main/to

[2021-11-22 10:56] eavanvalkenburg opened #21847 "Event hub async client creation mypy bug"
- **Package Name**: eventhubs
- **Package Version**: 5.6.1
- **Operating System**: linux
- **Python Version**: 3.9

**Describe the bug**
A clear and concise description of what the bug is.
When I create a async EventHubProducerClient using the EventHubSharedKeyCredential mypy raises this error:
`error: Argument "credential" to "EventHubProducerClient" has incompatible type "EventHubSharedKeyCreden

[2021-11-22 12:40] andrea-cassioli-maersk commented on #21639
@swathipil I cannot really add more logging (especially uamqp that is very verbose...). We have not seen this issue happening for an entire week, so I guess it must be something happening in a very corner case. I have add some more log in our code to see if I can pin down a bit better where that might happen in our code.

[2021-11-22 16:23] SiddyP opened #21848 "More informative exceptions for PartitionKey and RowKey type errors in azure.data.tables"
Using `azure.data.tables`
When trying to add a table entity with erroneous PartitionKey and/or RowKey (here PartitionKey is an int instead of a str):

[code]
The end of the stack trace returns this:

`AttributeError: 'int' object has no attribute 'replace'`

because `_prepare_key()` tried to replace quotes on an integer instead of a string.

I would like to check the instance of the PartitionKey a

[2021-11-22 16:26] xiangyan99 commented on #21818
They are still in preview.

You need to switch to Preview version to find them.

[2021-11-22 16:53] Stael opened #21849 "Async `EventHubProducerClient` + `AzureFunctions`"
Hello !
I am posting this ticket here, but please let me know if you think I should close it and post it on [Azure/azure-functions-python-worker](https://github.com/Azure/azure-functions-python-worker/issues/755) instead.

We are currently using several AzureFunctions in production :
- Premium V2 pricing tier
- Operating system: Linux
- Plan type: App service plan
- Python version 3.6

Use case:
-

[2021-11-22 17:35] victornoriega opened #21850 "Response from service 'Microsoft.Capacity' does not contain sufficient information to enforce access control policy"
- **Package Name**:  azure.mgmt.reservation
- **Package Version**:  1.0.0
- **Operating System**: Ubuntu 20
- **Python Version**: 3.7.6

**Describe the bug**
When calling get_catalog(subscription, resource_type, location), it returns an error (same as the title).
azure.core.exceptions.HttpResponseError: (BadGateway) Response from service 'Microsoft.Capacity' does not contain sufficient information

[2021-11-22 18:21] yunhaoling commented on #21849
hey @Stael , thanks for reaching out, we'll investigate into the issue ASAP

[2021-11-22 18:33] etiedem commented on #21781
Appreciate the help. Could you please add it to the documentation? Some of the parameters for other methods list out the accepted values.

[2021-11-23 01:27] swathipil commented on #18986
I believe this should be re-enable pylint on `azure-eventhub`? https://github.com/Azure/azure-sdk-for-python/blob/eb96378c6b096b222c7bd68e769a17cf79779de5/eng/tox/allowed_pylint_failures.py#L62

[2021-11-23 01:44] anotherancientalien opened #21854 "Enable Backup : BMSUserErrorInvalidInput Message: Input provided for the call is invalid"
Hi,

I have trying the Backup API and SDK. This issue is still exists:

https://github.com/Azure/azure-sdk-for-python/issues/1422

Is there any recently updated example about enabling backup?
Any advice would be appreciated.

Best

[2021-11-23 04:02] #21642 closed

[2021-11-23 04:02] #21240 closed

[2021-11-23 04:02] #20301 closed

[2021-11-23 04:02] #20247 closed

[2021-11-23 11:09] alfador1 opened #21863 "Ansible 2.10 and azure modules (No module found)"
- **Package Name**: azure collection
- **Package Version**: 1.10
- **Operating System**: RHEL
- **Python Version**:  3.6

**Describe the bug**
I install the ansible 2.10, install the azcollection 1.10 (offline ) from tarball in ansible galaxy and then when reaching azure_rm_resourcegroup it fails
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Install ansible 2.10 and azurecollection1.

[2021-11-23 14:43] DFMERA commented on #21766
Hi, I tried the latest GA sdk and followed the example you shared and it worked, thank you very much.

[2021-11-23 15:25] catalinaperalta commented on #21766
Thanks for the response @DFMERA! Will close this issue now then, please feel free to open new issues if there are other things we can help with :)

[2021-11-23 15:25] #21766 closed

[2021-11-23 15:42] Stael commented on #21849
Hello @yunhaoling, perfect, thanks !

[2021-11-23 15:54] PramodValavala-MSFT commented on #21793
@reach4bawer Just following up here... Hope my previous comment clears things up.

[2021-11-23 16:29] xiangyan99 commented on #21863
Thanks for the feedback, we’ll investigate asap.

[2021-11-23 18:00] annatisch commented on #21848
Thanks for the report @SiddyP! This is a good catch :)
@YalinLi0312 let's get this fixed up!

[2021-11-23 18:16] kushagraThapar commented on #21792
@vivek-microsoft - is this an issue in Cosmos DB python SDK v4 ?

[2021-11-23 18:23] kushagraThapar commented on #21722
@gahl-levy - can you please take a look at this feature reqeust?

[2021-11-23 19:38] SaurabhSharma-MSFT commented on #21451
@BigCat20196 Can you please help here.

[2021-11-23 19:43] AnAncientAlien opened #21865 "Backup : self.session.request( # type: ignore TypeError: request() got an unexpected keyword argument 'raw'"
Hi,

[code]
rq returns : `site-packages/azure/core/pipeline/transport/_requests_basic.py", line 324, in send
    response = self.session.request(  # type: ignore
TypeError: request() got an unexpected keyword argument 'raw'
`
When I remove `raw=True` rq returns `None`
I have used [backup tests](https://github.com/Azure/azure-sdk-for-python/tree/3f6238b2a224df11fa88c6501e078aac96697277/sdk/recovery

[2021-11-23 21:53] #21282 closed

[2021-11-23 22:30] #20649 closed

[2021-11-23 23:53] blawrence-datadx opened #21870 "Frequent ConectionResetErrors using start_copy_from_url()"
- **Package Name**:
azure-storage-blob
- **Package Version**:
12.9.0
- **Operating System**:
Linux
- **Python Version**:
3.8.12

**Describe the bug**
I have a Python Azure Function that imports `BlobServiceClient` from `azure.storage.blob` and uses `start_copy_from_url()` to move blob files from a Standard/Hot StorageV2 container to a Standard/Cool StorageV2 container multiple times a day. Most of

[2021-11-24 04:24] morland96 opened #21872 "[BUG Bash] delete_blobs doesn't work with azurite"
**Describe the bug**
When use delete_blobs, azurite refused with status code 400

***Exception or Stack Trace***
python exception:
[code]

azurite debug error:
[code]
***Code Snippet***
[code]

**Setup (please complete the following information):**
 - Python Version: 3.9
 - SDK Version: azure-storage-blob==12.9.0
 - azurite: 3.14.3

[2021-11-24 05:28] reach4bawer commented on #21793
@PramodValavala-MSFT thank you for the example. Would reader role be able to pull all the attributes of the deployment?

[2021-11-24 08:02] #20884 closed

[2021-11-24 08:36] emeadows opened #21876 "get_paths recursive flag not working for ADLS File System"
azure-storage-file-datalake
20.0.2
Ubuntu 20.04
python 3.8

Calling get_paths using FileSystemClient with recursive=True does not navigate the file system

I have a ADLS gen2 storage account using the File System which I am attempting to list all the files and folders contained within.  When calling the code below, I only get the top level files and directories, regardless of if recursive is true

[2021-11-24 10:51] PramodValavala-MSFT commented on #21793
@reach4bawer Yes. Any account with the `reader` role should be able to do it. For custom roles, ensure you have the `Microsoft.Resources/deployments/*/read` permission.

[2021-11-24 11:15] janluke opened #21878 "Dataset.download() hangs for a long time and, when done, some files are missing in the destination folder"
- **Package Name**: azureml-core | azureml-dataset-runtime
- **Package Version**: 1.36.0.post2 | 1.36.0
- **Operating System**: Windows 10, macOS
- **Python Version**: 3.8

**Describe the bug**
I tried to use `Dataset.download()` method to download a registered dataset (made of multiple files) in my personal computer (Windows 10, ~50Mbps connection). For small test datasets (a few  MBs), it works

[2021-11-24 11:39] MarioPrietoMatica opened #21879 "How to get next Page of ADF Pipeline run details using continuation_token in Azure Data Factory"
I am using

adf_client.pipeline_runs.query_by_factory(resourceGroupName, factoryName, filter_parameters)

method of azure.mgmt.datafactory.DataFactoryManagementClient package to fetch ADF Pipeline Run details.

The response of above function returns 100 pipeline run records at once. Along with the response, it returns continuation_token which, I believe, is supposed to be used to fetch next set/pa

[2021-11-24 12:34] OS-nestorcolt commented on #15465
shame on microsoft

[2021-11-24 13:57] mkistler opened #21880 "The link to "SDK documentation" on this page in broken (404)"
The link to "SDK documentation" on this page in broken (404). It sends me to:

https://docs.microsoft.com/en-us/python/api/overview/azure/servicebus/client?view=azure-python

Maybe it should be

https://docs.microsoft.com/en-us/python/api/overview/azure/servicebus-readme?view=azure-python

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-11-24 14:55] scottaddie commented on #19417
@danieljurek Is this CI failure the reason why Monitor Query doesn't appear on [this page](https://docs.microsoft.com/python/api/?view=azure-python)?

[2021-11-24 15:03] DhavalShewale opened #21882 "Auto-resolve keyvault referenced secrets in azure-appconfiguration"
**Is your feature request related to a problem? Please describe.**
Currently azure-appconfiguration library return the secret uri for keyvault referenced secrects

**Describe the solution you'd like**
These secrets should be auto-resolved or there should be a configuration setting/parameter in the client which can be enabled to resolve the secret

[2021-11-24 16:35] xiangyan99 commented on #21882
Thanks for the feedback, we’ll investigate asap.

[2021-11-24 16:36] xiangyan99 commented on #21880
Thanks for the feedback, we’ll investigate asap.

[2021-11-24 16:37] xiangyan99 commented on #21879
Thanks for the feedback, we’ll investigate asap.

[2021-11-24 16:37] xiangyan99 commented on #21878
Thanks for the feedback, we’ll investigate asap.

[2021-11-24 16:38] xiangyan99 commented on #21876
Thanks for the feedback, we’ll investigate asap.

[2021-11-24 16:39] xiangyan99 commented on #21870
Thanks for the feedback, we’ll investigate asap.

[2021-11-24 16:40] xiangyan99 commented on #21865
Thanks for the feedback, we’ll investigate asap.

[2021-11-24 16:43] #18986 closed

[2021-11-24 17:44] polys commented on #20083
Just tried the [12.10.0b1](https://github.com/Azure/azure-sdk-for-python/releases/tag/azure-storage-blob_12.10.0b1) pre-release... there are still issues with typing 😞
[code]

Also, now `mypy` says `error: Need type annotation for "container_client"` wherever there's the pattern:
[code]

[2021-11-24 18:11] Dreamsorcerer commented on #20083
As suggested before, this should really be using inline annotations for new/updated types as well, instead of comments. This would have avoided many of the typing errors that have occurred. The library does not claim to support Python 2 (which itself is long unsupported), so there's no reason to keep using this legacy format.

[2021-11-24 20:46] SaurabhSharma-MSFT commented on #16018
@abarisuzuner Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-11-24 20:49] SaurabhSharma-MSFT commented on #16227
@jeking3 Following up to know if your issue is resolved.

[2021-11-24 21:09] tasherif-msft commented on #21876
Hi @emeadows thank you for reaching out. Which datalake version are you using?

[2021-11-24 21:25] yusuf-jkhan1 commented on #21461
Hi it seems this issue was occurring in azure databricks because the pre-defined cluster environment was still importing the old version.
In a clean new virtual environment I did not run into this issue any longer.

[2021-11-24 21:25] #21461 closed

[2021-11-24 21:38] tasherif-msft commented on #21810
Hi @riedgar-ms this usually means that you don't have the appropriate permissions to be able to get the account info.
What is your role set to for this account you're using? (for example contributor, reader, etc.)

[2021-11-25 02:43] EpicWink commented on #21663
Related: #19620

[2021-11-25 10:06] shawnxzq commented on #20664
@chez-charlie Please update here if any progress, thx!

[2021-11-25 12:08] andrea-cassioli-maersk commented on #21639
Hey, I got this new example (with a bit of better logging)

[code]

It definitely seems to be related to uamqp.

[2021-11-25 15:56] riedgar-ms commented on #21810
On the subscription, I'm at least contributor. And as I note, I was able to list the containers in the storage account using the same client.

[2021-11-25 16:50] PramodValavala-MSFT commented on #21879
@MarioPrietoMatica The [`RunFilterParameters`](https://docs.microsoft.com/en-us/python/api/azure-mgmt-datafactory/azure.mgmt.datafactory.models.runfilterparameters?view=azure-python) has the `continuation_token` parameter to be set when calling this method, the second time.

[2021-11-25 17:22] PramodValavala-MSFT commented on #21878
@janluke I believe in most cases this would happen due to network stability issues. Looks like [the method](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.filedataset?view=azure-ml-py#download-target-path-none--overwrite-false-) doesn't overwrite files by default, so running it a second time should do I suppose but I suppose a resume option would be better.

We are routing t

[2021-11-25 22:02] #21748 closed

[2021-11-26 07:30] emeadows commented on #21876
It's Azure Data Lake Storage Gen 2, here is the details of our setup.  I suspect some are not required but trying to be complete
Performance/Access tier: Standard/Hot
Replication: Locally-redundant storage (LRS)
Account kind: StorageV2 (general purpose v2)
Location: Switzerland North
Data Lake Storage
Hierarchical namespace: Enabled
Default access tier: Hot

[2021-11-26 07:45] silhano commented on #21664
It's working there was Azure issue with permission. Thank you for solution.

[2021-11-26 07:45] #21664 closed

[2021-11-26 12:43] lcouzens opened #21900 "[BUG Bash] create_or_update method throws 400 error when using a valid subscription_id"
**Describe the bug**
When trying to use the SDK to create a billing export via Create Or Update method it seems to throw a 400 error when using a valid subscription_id. Looking at the traceback it looks as if its some how setting the subscription_id to `providers`. My only guess for that is something is pursing out the ID from the URL but pulling the wrong part.

***Exception or Stack Trace***
[co

[2021-11-26 22:02] #21718 closed

[2021-11-27 08:02] #20981 closed

[2021-11-28 16:21] jimdigriz commented on #20617
As MS do not love us, I went spelunking and discovered:
[code]

[2021-11-28 20:55] Indy2222 commented on #21416
Even though it was really an authentication issue, the resulting error should not happen anyway.

The bug is an error while handling another (auth) error type of situation.

[2021-11-29 02:11] SeaDude opened #21902 "How to create new Azure Subscription using Python SDK?"
I cannot figure out how to create a new Azure Subscription using the Azure Pthon SDK. There does not appear to be an example anywhere on the internets.

I don't know which module to import.
- Is it  `azure.mgmt.subscription` or `azure.mgmt.resource`?

[code]

[2021-11-29 05:49] wtam opened #21910 "ImportError: cannot import name 'BlobServiceClient' from 'azure.storage.blob' (/usr/lib/python3/dist-packages/azure/storage/blob/__init__.py)"
- **Package Name**: azure-storage-blob:
- **Package Version**: 12.9.0
- **Operating System**: WSL:Ubuntu
- **Python Version**: 3.8.10

**Describe the bug**
cannot import name 'BlobServiceClient' from 'azure.storage.blob'

**To Reproduce**
Steps to reproduce the behavior:
1. pip3 install azure-storage-blob  --upgrade
2. from azure.storage.blob import BlobServiceClient

**Expected behavior**
no erro

[2021-11-29 06:33] msyyc commented on #21557
https://dev.azure.com/azure-sdk/internal/_build?definitionId=3391

[2021-11-29 06:42] msyyc commented on #21258
test PR (resources): https://github.com/Azure/azure-sdk-for-python/pull/21846

[2021-11-29 06:49] msyyc opened #21911 "[Deviceupdate] Update with new LLC"
https://github.com/Azure/azure-sdk-for-python-pr/pull/795

[2021-11-29 06:51] msyyc commented on #21305
same issue : https://github.com/Azure/azure-sdk-for-python/issues/21911

[2021-11-29 06:51] #21305 closed

[2021-11-29 15:19] danieljurek commented on #19417
Yes, and it is excluded here: https://github.com/Azure/azure-sdk-for-python/blob/main/eng/scripts/Language-Settings.ps1#L242

Once the underlying issue is fixed and released that line can be removed from the `Language-Settings.ps1` file and we can onboard docs.

[2021-11-29 16:59] chinmaycpalande commented on #21725
Hello 👋 ,
Are there any updates/further investigations for this issue?

Thanks!

[2021-11-29 17:09] swathipil commented on #21639
@andrea-cassioli-maersk These are super helpful, thank you!

This is definitely under uamqp, so we'll have a fix out for this asap!

[2021-11-29 17:33] kristapratico commented on #13877
this is done in APIView, no need for separate check

[2021-11-29 17:33] #13877 closed, assigned to kristapratico

[2021-11-29 17:49] tjprescott commented on #21585
Closing this issue as stale. If you are still experiencing this, please reopen it.

[2021-11-29 17:49] #21585 closed

[2021-11-29 18:21] swathipil commented on #21606
original gist with feedback here: https://gist.github.com/swathipil/f3a5b7f9b224f652403866261990fa22

[2021-11-29 18:55] corymcc commented on #21725
We're working on multiple fixes in this area for the UI. I'll use the sample above to check if these issues are fixed as well with these new changes

[2021-11-29 21:54] lzchen commented on #21747
@ranweiler

1. Not as of today.
2. This is being discussed [here](https://github.com/microsoft/common-schema/issues/217)
3. Yes, there will be an exporter to send log telemetry generated from OpenTelemetry Logging to App Insights sometime in the future. OpenTelemetry Python has already released an experimental logging SDK (https://github.com/open-telemetry/opentelemetry-python/releases/tag/v1.7.1)

[2021-11-29 22:04] #20573 closed

[2021-11-29 22:10] xiangyan99 commented on #977
@msyyc could you help to take a look?

[2021-11-29 22:12] xiangyan99 commented on #1208
@madhukargilla could you check if this works for you?

[2021-11-29 22:17] xiangyan99 commented on #9271
@ifeoluwaokunoren any update on this issue?

[2021-11-29 22:19] xiangyan99 commented on #4221
msrestazure is deprecated. Please use azure-identity library instead.

[2021-11-29 22:19] #4221 closed

[2021-11-29 22:24] xiangyan99 commented on #3238
@chandrasekarsrinivasan any updates?

[2021-11-29 22:38] chandrasekarsrinivasan commented on #3238
I don't work on Security rules in NRP.

@Xiudong ***@***.***> and @Nitin ***@***.***> can you please have a look at this?

From: Xiang Yan ***@***.***>
Sent: Monday, November 29, 2021 2:24 PM
To: Azure/azure-sdk-for-python ***@***.***>
Cc: Chandrasekar Srinivasan ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-python] [azure-mgmt-network] No security rule name validation (#323

[2021-11-29 23:01] scbedd opened #21918 "Newly Released Cryptography is breaking livetest runs"
Example1: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1217491&view=results
Example2: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1217950&view=results

This is happening because the newest version of `cryptography` does not ship a wheel for `pypy` running `3.6`. More specifically, it's hard-coded in the azure devops [`UsePythonVersion`](https://github.com/mic

[2021-11-29 23:30] xiangyan99 commented on #4323
It is not applicable for Python.

[2021-11-29 23:30] #4323 closed

[2021-11-29 23:36] xiangyan99 commented on #5775
@scbedd any ideas?

[2021-11-29 23:44] xiangyan99 commented on #7339
Fixed.

[2021-11-29 23:44] #7339 closed

[2021-11-29 23:46] xiangyan99 commented on #7219
Looks like it is fixed.

[2021-11-29 23:46] #7219 closed

[2021-11-29 23:47] xiangyan99 commented on #7161
Now we can "override" it.

[2021-11-29 23:47] #7161 closed

[2021-11-29 23:51] xiangyan99 commented on #8343
It is released. https://pypi.org/project/azure-mgmt-resourcehealth/

[2021-11-29 23:51] #8343 closed

[2021-11-29 23:59] xiangyan99 commented on #8004
@chlowell could you provide more information? :)

[2021-11-30 00:00] xiangyan99 commented on #7989
@chlowell could you provide more information? :)

[2021-11-30 00:18] xiangyan99 commented on #9602
@ms-premp @qiaozha any updates?

[2021-11-30 00:23] xiangyan99 commented on #10643
@tasherif-msft you can release azure-storage-file 2.1.1 with the readme. "This package is deprecated. Please use the new one xxxx"

[2021-11-30 00:26] janluke commented on #21878
@PramodValavala-MSFT The issue was consistently reproduced on three different machines, on three different OSes. None of us has been able to use this method to download a dataset of a few GB locally even a single time. If network stability is the issue, I'm afraid the network stability requirement of this method is too high for most people :)

[2021-11-30 00:32] shaunm-msft opened #21920 "no license file in azure-core python install"
- **Package Name**: azure-core
- **Package Version**: 1.20.1
- **Operating System**: Windows
- **Python Version**: 3.9.5

**Describe the bug**
There should be a license file dropped in the dist-info directory. A reference to the license on the project page on pypi.org isn't enough. Anyone redistributing an app needs to include the license files for each library used by the app.

[2021-11-30 00:33] shaunm-msft opened #21921 "no license file for azure-identity"
- **Package Name**: azure-identity
- **Package Version**: 1.7.1
- **Operating System**: Windows
- **Python Version**: 3.9.5

**Describe the bug**
There should be a license file dropped in the dist-info directory. A reference to the license on the project page on pypi.org isn't enough. Anyone redistributing an app needs to include the license files for each library used by the app.

[2021-11-30 00:35] xiangyan99 commented on #10321
@chunyu3 any updates?

[2021-11-30 00:36] xiangyan99 commented on #10277
@tasherif-msft any updates?

[2021-11-30 00:40] SeaDude commented on #21902
Any help would be appreciated.

https://stackoverflow.com/questions/70138455/how-to-create-new-azure-subscription-using-python?noredirect=1#comment124019895_70138455

[2021-11-30 00:40] xiangyan99 commented on #11376
azure-mgmt-mixedreality 1.0.0 was released in April, 2021.

[2021-11-30 00:40] #11376 closed

[2021-11-30 00:42] #11263 closed

[2021-11-30 00:48] xiangyan99 commented on #11149
Do we have any decisions?

We have similar problem when we ship conda packages.

[2021-11-30 00:48] #11137 closed

[2021-11-30 00:48] #11124 closed

[2021-11-30 01:09] xiangyan99 commented on #13401
@johanste any ideas?

[2021-11-30 01:14] xiangyan99 commented on #13061
@msyyc looks like azure-mgmt-subscription 2.0.0 has released. Could you help to update the issue?

[2021-11-30 01:16] scbedd commented on #21918
Update. PR submitted to [address the actual issue.](https://github.com/microsoft/azure-pipelines-tasks/pull/15553).

I'll follow that to completion, but in the meanwhile I'll adjust our `use-python-version` task.

[2021-11-30 01:57] xiangyan99 commented on #14150
@msyyc do you know if this is fixed?

[2021-11-30 02:21] SaurabhSharma-MSFT commented on #21850
@victornoriega I have tested this in my environment but I am not seeing any issues and the api is giving me results back-
![image](https://user-images.githubusercontent.com/38112130/143973338-987634a4-bfab-479a-8d69-fe0e40c18bf0.png).

[2021-11-30 02:27] YalinLi0312 commented on #21920
@shaunm-msft Thanks for your feedback, we'll investigate ASAP.

[2021-11-30 02:31] YalinLi0312 commented on #21902
@SeaDude Thanks for your feedback, we'll investigate asap.

[2021-11-30 03:10] yunhaoling commented on #21849
hey @Stael , it is expected that the EventHubProducerClient takes some time to establish the connection to the service. There're multiple AMQP layers initialization as well as authentication needed to be performed as per the AMQP spec.

In general, I would recommend you to reuse the same client if your application is time sensitive.

to answer your questions:

- I'm unfamiliar with the Azure funct

[2021-11-30 03:40] victornoriega commented on #21850
I'm using a conda environment. This is what I have:
azure-common==1.1.25
azure-core==1.8.2
azure-identity==1.4.1
azure-keyvault-secrets==4.2.0
azure-mgmt-compute==17.0.0
azure-mgmt-core==1.2.1
azure-mgmt-consumption==8.0.0
azure-mgmt-monitor==1.0.0
azure-mgmt-network==16.0.0
azure-mgmt-reservations==1.0.0
azure-mgmt-resource==15.0.0
azure-mgmt-storage==16.0.0
cffi==1.14.3
chardet==3.0.4
cryptograp

[2021-11-30 03:53] SaurabhSharma-MSFT commented on #21865
@AnAncientAlien
You are getting error as you are referring to old test example however in the recent SDK version `raw` has been removed.  Please refer to [this](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/CHANGELOG.md#100b1-2021-05-14) changelog.

Please let me know if you have any other questions.

Thanks
Saurabh

[2021-11-30 04:56] SatishBoddu-MSFT commented on #20206
Hello @davystrong Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-11-30 05:16] SatishBoddu-MSFT commented on #16796
Hello @SiweiWang Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. We are working on this to resolve asap.

[2021-11-30 05:27] SatishBoddu-MSFT commented on #10917
Hello @Fred-sun Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-11-30 06:32] DhavalShewale commented on #21882
@xiangyan99 Do we have any plans to support this in the near future?

[2021-11-30 07:19] yunhaoling commented on #21847
thanks @eavanvalkenburg for the feedback! we will improve on the mypy experience.

[2021-11-30 08:05] AFengKK opened #21928 "Conversation Analysis readme and samples issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_analyze_orchestration_app_conversation_response.py#L62), [link2](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_analyze_orchestration_app_luis_response.py#L62), [link3](https://g

[2021-11-30 08:06] AFengKK opened #21929 "Schema Registry readme and samples issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/sample_code_schemaregistry.py#L87), [link2](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/schema_registry.py#L83), [link3](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/schemaregi

[2021-11-30 08:06] AFengKK opened #21930 "Video Analyzer Edge readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/videoanalyzer/azure-media-videoanalyzer-edge#creating-a-pipeline-topology):
![image](https://user-images.githubusercontent.com/80307197/144002370-d75cb7b0-793c-45f8-bd98-de31cb37be1f.png)

Reason:
TypeError: __init__() takes 1 positional argument but 4 were given.

Suggestion:
Update to `name="msgSink", inputs=[node], hu

[2021-11-30 08:07] AFengKK opened #21931 "Form recognizer readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/formrecognizer/azure-ai-formrecognizer#using-the-general-document-model):
![image](https://user-images.githubusercontent.com/80307197/144004081-fa18a280-f7b8-4a88-be0a-ce7af69cc09a.png)

Reason:
NameError: name 'format_bounding_box' is not defined

Suggestion:
Add code:
[code]

@jameszliao-msft, @lmazuel, @meeraharidasa,

[2021-11-30 08:13] msyyc commented on #9602
Python SDK is generated by autorest with [swagger](https://github.com/Azure/azure-rest-api-specs). If you want to find which Python SDK operation to use, please tell us which Rest API you want to use.

[2021-11-30 09:05] c4g-wv opened #21932 "WorkflowRunsOperations.list arguments top and filter not working?"
Dear,

I'm trying to use the list method of the WorkflowRunsOperations, but when I specify top=5 for example, I still seem to be getting all runs. It's as if the top argument is not taken into account?
Additionally, I'm trying to use the filter on StartTime, but keeps giving a "not valid or not supported" error. Things I've tried so far:
* filter="StartTime>2021-11-23 00:00:00"
* filter="StartTime

[2021-11-30 09:52] qiaozha commented on #9602
@xiangyan99  I think this service you are using has probably been deprecated. their rest api specs hasn't been updated for 3 years https://github.com/Azure/azure-rest-api-specs/tree/main/specification/commerce/resource-manager/Microsoft.Commerce/preview/2015-06-01-preview

[2021-11-30 10:06] c4g-wv commented on #21932
For the "filter" argument, the right syntax seems to be:
StartTime gt 2021-11-23T00:00:00Z

For the "top" argument, still not picking up the integer value, also tried passing it as string.

[2021-11-30 10:34] ksridhar57 opened #21934 "ResourcesOperations.check_existence returns Bad Request"
- **Package Name**: azure-mgmt-resource
- **Package Version**: 20.0.0
- **Operating System**: Linux/Ubuntu 18.04
- **Python Version**:  3.6.9

**Describe the bug**
Using the method check_existence returns azure.core.exceptions.HttpResponseError: Operation returned an invalid status 'Bad Request'

**To Reproduce**

    exists = resource_mgmt_client.resources.check_existence(
        resource_group_

[2021-11-30 12:11] ksridhar57 opened #21935 "subscriptions.list_locations returns azure.core.exceptions.ServiceRequestError"
- **Package Name**: azure-mgmt-subscription
- **Package Version**: 2.0.0
- **Operating System**: linux/ubuntu 18.04
- **Python Version**: 3.6.9

**Describe the bug**
listing locations for  a given subscription returns
"Bearer token authentication is not permitted for non-TLS protected (non-https) URLs."

**To Reproduce**
def list_azure_locations():
    locations = subscription_client.subscriptions

[2021-11-30 15:27] catalinaperalta commented on #21931
Thanks for reporting this @AFengKK! Will get a fix out for this shortly.

[2021-11-30 15:52] Lameorc opened #21937 "Unable to authenticate using Azure AD ClientSecretCredential against ADLS gen 2"
- **Package Name**: azure-storage-file-datalake
- **Package Version**:  12.5.0
- **Operating System**:
- **Python Version**: 3.8.9
Not sure which library the issue is specifically with, here's the whole list of azure dependencies we've got
[code]

**Describe the bug**
When trying to use `DataLakeFileClient` authorized with `ClientSecretCredential`, I get exceptions with `ErrorCode:NoAuthentication

[2021-11-30 16:13] Stael commented on #21849
Hello @yunhaoling,
Thanks a lot for your comprehensive reply !

Ok, got it. This will be do-able once your PR fixing the reuse of `EventHubProducerClient` will be merged.

To be clear the timeout is ajustable on our side.
There is indeed no error raised, but from my tests, I believe that `client.send_batch` never finishes which triggers a timeout after 120 sec. Indeed, when I add a log right after

[2021-11-30 16:50] xiangyan99 commented on #9602
@qiaozha Thanks for the information.

I see the latest one was released on 2021-1-3.  https://pypi.org/project/azure-mgmt-commerce/6.0.0/. And it is a GA release.

Any ideas?

[2021-11-30 17:01] harneetvirk commented on #21690
The compatibility issue between azure cli and azureml-sdk  is because of lack of support for MSAL authentication in azureml-sdk. We are actively working on migrating from ADAL to MSAL authentication in azureml.

[2021-11-30 17:28] yunhaoling commented on #21929
hey @AFengKK , may I ask which version of azure-schemaregistry you are using?
In our latest GA version 1.0.0, we have renamed `schema_definition` to `definition`.

[2021-11-30 17:39] swathipil commented on #21929
@AFengKK - just to add on - we've gone back and forth on the naming here a few times, so apologies for the confusion! The final changes for the GA version (1.0.0) are listed here: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md#100-2021-11-10.

[2021-11-30 17:46] #19963 closed

[2021-11-30 18:06] xiangyan99 commented on #11627
@00Kai0 could you check if this is still reproable?

[2021-11-30 18:14] gahl-levy commented on #21663
Unfortunately, this does not currently work because the Python SDK for Cosmos DB does not support AAD role based access control. This feature is on our roadmap and we plan to tackle this next year. Please don't hesitate to reach out to check for updates.

[2021-11-30 18:18] gahl-levy commented on #20472
@msyyc  @xiangyan99 Should this issue be closed? It appears to be resolved.

[2021-11-30 18:23] gahl-levy commented on #17165
Closing due to inactivity. Please reopen if this is still an issue.

[2021-11-30 18:24] #17165 closed

[2021-11-30 18:42] xiangyan99 commented on #21882
@DhavalShewale unfortunately, it is not in our plan yet.

Well, we do have an app config provider that supports this feature.

https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-key-vault-references-dotnet-core?tabs=core5x

Does this work for you?

[2021-11-30 18:49] davystrong commented on #20206
Hello @SatishBoddu-MSFT. Since this didn't work, I have been working on other things. So, at the moment, I don't need this but I would like to get back to it again in future. It seems like an actual bug in the SDK as I don't think I was doing anything unusual.

[2021-11-30 18:50] YalinLi0312 commented on #21937
@Lameorc Thanks for your feedback, we'll investigate asap.

[2021-11-30 18:54] YalinLi0312 commented on #21935
@ksridhar57 Thanks for your feedback, we'll investigate asap.

[2021-11-30 18:58] YalinLi0312 commented on #21934
@ksridhar57 Thanks for your feedback, we'll investigate asap.

[2021-11-30 18:59] YalinLi0312 commented on #21932
@c4g-wv Thanks for your feedback, we'll investigate asap.

[2021-11-30 19:38] #19576 closed

[2021-11-30 19:47] blawrence-datadx commented on #21870
Hi @tasherif-msft, have you been able to look into this issue? It has started happening more and more frequently. I can give you example function invocation IDs if that would be helpful

[2021-11-30 20:36] SaurabhSharma-MSFT commented on #21781
@etiedem sure, thanks for you feedback.  I will work internally on the same to get the documentation updated.

Thanks
Saurabh

[2021-11-30 20:50] SatishBoddu-MSFT commented on #16235
Hello @andreif Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-11-30 21:00] amishra-dev commented on #20617
Apologies for the delay @jimdigriz (Alexander) and @chandrayan0011. I can confirm that the sample code you wrote is accurate. We are working on making our sample repositories better.

[2021-11-30 21:00] #20617 closed

[2021-11-30 22:53] #21931 closed

[2021-12-01 00:15] qiaozha commented on #9602
@msyyc may have more context here.

[2021-12-01 00:58] amishra-dev commented on #9596
@tasherif-msft this one is on you now

[2021-12-01 01:05] xiangyan99 commented on #15790
Is it still reproable?

I see recent builds passed.

@seankane-msft

[2021-12-01 01:10] xiangyan99 commented on #15789
Close since azure-mgmt-digitaltwins does not have tests.

[2021-12-01 01:10] #15789 closed

[2021-12-01 01:11] xiangyan99 commented on #15788
Close since azure-mgmt-security does not have tests.

[2021-12-01 01:11] #15788 closed

[2021-12-01 01:15] amishra-dev commented on #17301
@tasherif-msft ping

[2021-12-01 01:16] amishra-dev commented on #19755
@tasherif-msft can you sync with @annatisch about this

[2021-12-01 01:18] amishra-dev commented on #19753
@tasherif-msft we should have a sample about how to setup retry policy and modify it

[2021-12-01 01:19] amishra-dev commented on #19290
@tasherif-msft do you know what setting Emily was talking about here?

[2021-12-01 01:21] xiangyan99 commented on #14959
@HeliWang is this done?

[2021-12-01 01:34] xiangyan99 commented on #16356
@00Kai0 any updates?

[2021-12-01 02:07] scbedd opened #21951 "Manually install pypy37 in `UsePythonVersion` custom task. Remove pinned `cryptography`"
[This PR](https://github.com/microsoft/azure-pipelines-tasks/pull/15553/files) highlights the issue at play here. We can't use the default `UsePythonVersion` task because it's hardcoded for pypy3.6 only.

Need to use our installer script to pull down the pypy version, and bypass the task / manually prepend the path for the targeted  pypy3 versions.

After we address issues with pypy not being trul

[2021-12-01 06:47] AFengKK commented on #21929
@yunhaoling, @swathipil. Sorry, I downloaded the wrong package and tested the 1.0.0b3 version of the package. The 1.0.0 version of the package is correct. We will close the issue.

[2021-12-01 06:48] stevenzhao82 opened #21953 "_batch_send() in _base_client.py in azure-data-tables is hard coded to use https"
- **Package Name**:  Azure-Data-Tables
- **Package Version**: 12.2.0
- **Operating System**: Windows 10 Enterprise Edition
- **Python Version**: 3.8.8

**Describe the bug**
_batch_send() in _base_client.py in azure_data_tables is hard coded to use https.

I am using local kubernetes hosting azure storage emulator in my dev environment so I don't need SSL. I have explicitly specified http in my con

[2021-12-01 07:18] SatishBoddu-MSFT commented on #16769
Hello @urucoder Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-12-01 07:36] SatishBoddu-MSFT commented on #12335
Hello @Lilja , @lmazuel Apologies for the delayed response. I see that this issue is opened a long time ago and no further activity had taken place. So wanted to check if we are good to close this issue?

[2021-12-01 07:44] andrea-cassioli-maersk commented on #21639
@swathipil you are welcome! Is there any timeline for the patch release?

[2021-12-01 09:31] #21929 closed

[2021-12-01 10:13] Stael commented on #21849
Update on the `send_batch` + `timeout` + retry mechanism
I have added a lot of logging to help narrow down the issue
From my understanding, the arg `timeout` expect a value in seconds.

[code]

This code still triggered a timeout after `send_batch` was called.
It looks like `timeout=2` has no impact.
This doesn't happen everytime, and I am unable to find the correlation.

See logs: [here](https://

[2021-12-01 10:27] flying-pi opened #21955 "Message to a partitioned entity with duplicate detection enabled must have either PartitionKey or MessageId"
- **Package Name:**  azure-servicebus
- **Package Version:**  7.4.0
- **Operating System:** docker image python:3.8-buster
- **Python Version:** 3.8.12

**Describe the bug**
I create Standart SB Queue with enabled partitions and duplicate detection.
![image](https://user-images.githubusercontent.com/15072964/144216963-fb41884d-6488-4da2-8207-433d67c14173.png)

And for cases, when I send messages i

[2021-12-01 11:37] DhavalShewale commented on #21882
@xiangyan99 No I cannot migrate my python app to DotNet just for this feature. Can you pls take this up as a feature request.

This feature is supported by most of the azure SDKs like Java, Spring, DotNet. Infact even az cli supports this. It is a bit strange that python SDK left this out.

[2021-12-01 12:06] tzurE opened #21956 "Enqueue a batch of messages to azure storage queue"
**Is your feature request related to a problem? Please describe.**
Currently, we're heavy users of the azure queue service.
Our system is designed in a way, where every message is "heavy", so it's harder for us to chunk them.

**Describe the solution you'd like**
The main solution we would like to request is an API function that will give the option to write several messages to our storage queues.

[2021-12-01 12:06] edoboker opened #21957 "ACR returns error 413 Entity too large"
- **Package Name**: azure-containerregistry
- **Package Version**:  1.0.0b6
- **Operating System**: Ubuntu 20.04
- **Python Version**:  3.8.10

**Describe the bug**
When trying to fetch a refresh token to the ACR, error 413 is returned. I have tried running an equivalent `curl` with the AAD access token I have received, but received the same error.

When trying to figure out the reason for the err

[2021-12-01 15:35] seankane-msft commented on #15790
I think this can be closed @scbedd can confirm whether that is true?

[2021-12-01 15:47] LazzariPaolo commented on #21668
Apologies for the late response.
This is how I'm building the `BlobClient` object:

[code]
which permissions do I need to add to the `AccountSasPermissions` call? @amishra-dev

[2021-12-01 15:56] LazzariPaolo commented on #21668
Ok, by looking at this documentation page:
https://docs.microsoft.com/en-us/python/api/azure-storage-blob/azure.storage.blob.accountsaspermissions?view=azure-python

I can see that there is an explicit permission for tags.

The following works:

[code]

a bit of a weird decision to have `tag` as a standalone permission. I assumed, and I imagine others will too, that it would fall under `list` (for

[2021-12-01 15:56] #21668 closed

[2021-12-01 16:54] annatisch commented on #21953
Thanks for the report @stevenzhao82! We'll try to repro using your steps and get a fix out in the next release.

[2021-12-01 17:14] xiangyan99 commented on #21850
@victornoriega did you install your conda package from https://anaconda.org/microsoft?

You can find our latest packages from https://anaconda.org/microsoft repo and the latest version is 2021-12-01.

[2021-12-01 17:21] #19290 closed

[2021-12-01 17:28] #21209 closed

[2021-12-01 18:44] deeTEEcee commented on #16594
@qizhen816 can we reopen this? This seems to still be happening with the latest.

[2021-12-01 19:13] xiangyan99 commented on #21882
@DhavalShewale Thanks for the information.

I checked with the devs (we are in same team) and neither of them supports it.

Only app config providers support the feature and we have not released providers for Python yet.

Could you send us the link of Java and .net packages that support the feature? So we can confirm we are on same page.

[2021-12-01 19:25] xiangyan99 commented on #17389
https://pypi.org/project/azure-mgmt-msi/6.0.0b1/ is released.

[2021-12-01 19:33] DhavalShewale commented on #21882
@xiangyan99

Hey, my bad I did recheck and sadly even Java SDK does not support auto resolution. (we don't use a lot of plain java so pardon my ignorance)

Also, I am not exactly sure what do you mean by app config providers or how do they differ from SDK. I included .net into the list as the link you shared above was related to .net. (tbh, I have never worked with .net)

These are the packages th

[2021-12-01 19:46] xiangyan99 commented on #17478
@tasherif-msft could you check if this feature is added?

[2021-12-01 19:48] xiangyan99 commented on #17468
Is it still valid?

[2021-12-01 19:49] xiangyan99 commented on #17467
Is it still valid?

[2021-12-01 20:08] #20848 closed

[2021-12-01 20:19] tasherif-msft commented on #6306
We have added this to our future backlog. I will close this issue.

[2021-12-01 20:19] #6306 closed

[2021-12-01 20:20] tasherif-msft commented on #7430
This issue is resolved.

[2021-12-01 20:20] #7430 closed

[2021-12-01 20:23] tasherif-msft commented on #9311
Resolved

[2021-12-01 20:23] #9311 closed

[2021-12-01 20:35] #20840 closed

[2021-12-01 20:50] tasherif-msft commented on #7803
Put a PR for it - will close this issue.

[2021-12-01 20:50] #7803 closed

[2021-12-01 20:56] tasherif-msft commented on #8489
Created pr. closing.

[2021-12-01 20:56] #8489 closed

[2021-12-01 20:59] tasherif-msft commented on #8770
There has been no updates to the devtools on this. I will proceed to close this issue.

[2021-12-01 20:59] #8770 closed

[2021-12-01 21:00] tasherif-msft commented on #9070
This is a long way ahead as there is a lot of intricacies between languages currently and the transforms each language applies.

[2021-12-01 21:08] tasherif-msft commented on #9401
PR created, closing this.

[2021-12-01 21:08] #9401 closed

[2021-12-01 21:19] thoo1 commented on #16929
I'm looking to do something similar, to turn off the http logging for a specific request, what was the solution that came out of this?

[2021-12-01 21:22] tasherif-msft opened #21967 "[Storage][Perfstress] Investigate performance of blob upload/download serial/parallel"
mentioned in @mikeharder table in https://github.com/Azure/azure-sdk-for-python/issues/9596

[2021-12-01 21:22] tasherif-msft commented on #9596
This Perf investigation has been broken up to different pieces below:
Sharing HTTP session: https://github.com/Azure/azure-sdk-for-python/issues/13797
Listing: https://github.com/Azure/azure-sdk-for-python/issues/19755 and the PR to address this is currently being POC'd https://github.com/Azure/azure-sdk-for-python/pull/19814
Parallel Datalake Uploads: https://github.com/Azure/azure-sdk-for-python

[2021-12-01 21:22] #9596 closed

[2021-12-01 21:33] #9914 closed

[2021-12-01 21:48] tasherif-msft commented on #10277
There is no native way to sort these keys in python to how the backend .NET, and Java do it. We would have to implement our own sorting, which we currently have on hold.

[2021-12-01 21:50] tasherif-msft commented on #10473
No longer observed

[2021-12-01 21:50] #10473 closed

[2021-12-01 21:51] xiangyan99 commented on #16929
@thoo1  This is by design that DEBUG log may contain sensitive information. If you only want info level which is by default, we don't log credentials.

[2021-12-01 21:53] tasherif-msft commented on #10642
I'm bringing this up again with our team today

[2021-12-01 21:59] tasherif-msft commented on #10859
I have contacted @rakshith91 sto reopen his pr since it seems it should resolve everything. It was closed by mistake a while ago. Let's try to get that PR in @lmazuel

[2021-12-01 21:59] xiangyan99 commented on #18356
With the latest version https://pypi.org/project/azure-mgmt-containerregistry/8.2.0/ is released, closing the issue as fixed.

[2021-12-01 22:00] xiangyan99 commented on #18347
@00Kai0 do we have samples for this scenario?

[2021-12-01 22:03] tasherif-msft commented on #10863
Hi @praveenkuttappan @scbedd  I believe we no longer have these regression issues, I will close this issue, but please reopen if there is something I missed.

[2021-12-01 22:03] #10863 closed

[2021-12-01 22:05] xiangyan99 commented on #18433
@michalswi does the sample msyyc provided help?

Thanks.

[2021-12-01 22:12] xiangyan99 commented on #18337
Looks like it is fixed.

[2021-12-01 22:18] swathipil commented on #21639
@andrea-cassioli-maersk - So I took a look at where the issue might be happening (according to the logs), and it looks like the call to `asyncio.wait_for(self._async_lock.acquire()...)` seems to be correct. More specifically, according to the [`asyncio` docs, `wait_for`](https://docs.python.org/3/library/asyncio-task.html#asyncio.wait_for) does take a coroutine as the first parameter. In this case

[2021-12-01 22:24] tasherif-msft commented on #19741
We don't have this issue in our pagination.

[2021-12-01 22:24] #19741 closed

[2021-12-01 22:25] SaurabhSharma-MSFT commented on #21865
@AnAncientAlien Please let us know if you have any questions.

Thanks
Saurabh

[2021-12-01 23:15] xiangyan99 commented on #18895
@scbedd I guess it is fixed?

[2021-12-01 23:23] deeTEEcee commented on #16594
Requirements:
[code]

If I just run an import in the python shell
[code]

[2021-12-01 23:27] YalinLi0312 commented on #21957
@edoboker Thanks for your feedback, we'll investigate asap.

[2021-12-01 23:29] YalinLi0312 commented on #21956
@tzurE Thanks for your feedback, we'll investigate asap.

[2021-12-01 23:32] YalinLi0312 commented on #21955
@flying-pi Thanks for your feedback, we'll investigate asap.

[2021-12-01 23:41] xiangyan99 commented on #18840
Close as fixed.

[2021-12-01 23:41] #18840 closed

[2021-12-01 23:47] xiangyan99 commented on #18649
@msyyc could you help to validate it?

[2021-12-01 23:48] xiangyan99 commented on #18623
Looks like it is added?

[2021-12-01 23:56] xiangyan99 commented on #19203
@00Kai0 could you take a look?

[2021-12-01 23:57] #19178 closed

[2021-12-02 00:02] tasherif-msft commented on #20083
I have opened up a pr to resolve the issue https://github.com/Azure/azure-sdk-for-python/pull/21970
as for the `py.typed` file we added it to our `MANIFEST` starting 12.9.0b release, so you should be able to run `mypy` without having to create that file yourself manually. Could you please confirm this?

As for changing commented typing, given that the new way of typing is supported starting py>=3.

[2021-12-02 00:16] tasherif-msft opened #21971 "Validate `mypy` on all supported packages"
We need to ensure that mypy doesn't throw when ran against our packages and that all typing is correct.

[2021-12-02 00:18] #20083 closed

[2021-12-02 00:19] tasherif-msft commented on #16059
Done.

[2021-12-02 00:19] #16059 closed

[2021-12-02 00:21] #21967 closed

[2021-12-02 00:25] SaurabhSharma-MSFT commented on #21932
@c4g-wv Would you mind providing the code snippet you are using to get the results ?

[2021-12-02 00:27] tasherif-msft commented on #17119
Hi @aaptl what datalake version are you using?

[2021-12-02 00:31] tasherif-msft commented on #14848
Duplicate https://github.com/Azure/azure-sdk-for-python/issues/8799

[2021-12-02 00:33] tasherif-msft commented on #12719
Samples have been updated since and we will continue to add as requested samples from cxs come in

[2021-12-02 00:33] #12719 closed

[2021-12-02 00:37] tasherif-msft commented on #19755
Here's the POC https://github.com/Azure/azure-sdk-for-python/pull/19814
This will probably take a while so we are looking to ship a workaround to improve the perf in the meantime. I will update you soon.

[2021-12-02 00:46] tasherif-msft commented on #21810
Could you provide me with a requestId, I'm unable to reproduce this issue.

[2021-12-02 00:47] tasherif-msft commented on #19290
It has been resolved by the PR referenced above.

[2021-12-02 01:37] SaurabhSharma-MSFT commented on #21934
@ksridhar57 I could see the same behavior, when I use the resource type as 'virtualMachines'.
![image](https://user-images.githubusercontent.com/38112130/144341517-68a605f7-353d-45b4-88bb-e7816e48010a.png)

Additionally, when I use the api version as `2021-04-01` then I get `Operation returned an invalid status 'Method Not Allowed'` error.
![image](https://user-images.githubusercontent.com/3811213

[2021-12-02 01:41] xiangyan99 commented on #19440
@tasherif-msft  is it fixed?

[2021-12-02 01:41] xiangyan99 commented on #19439
@tasherif-msft is it fixed?

[2021-12-02 04:52] tonybaloney commented on #18895
The referenced link is still showing everything as required and a quick browse around all operations have all parameters required when they aren't

[2021-12-02 06:40] c4g-wv commented on #21932
@SaurabhSharma-MSFT test code could look something like this:
[code]
fyi: tested it on python 3.8 and 3.9

[2021-12-02 06:52] BigCat20196 commented on #21935
Hi @ksridhar57, thanks for your  feedback!

A sample may help you.
[code]
Hope this unblocks you

[2021-12-02 08:00] michalswi commented on #18433
@xiangyan99 yes

[2021-12-02 11:36] qizhen816 commented on #16594
It looks the error occurs again in the newest version. @deeTEEcee reported and my colleague found it too.

[2021-12-02 13:57] harisbal opened #21980 "Azure Event Hubs client as Azure service or WebApp"
Could you provide some examples as to how we can run an [event hub receiver/sender](https://github.com/Azure/azure-sdk-for-python/tree/azure-eventhub_5.6.1/sdk/eventhub/azure-eventhub/samples) as an Azure service.
I'm mostly interested in the cases where a continuous connection with the EventHub has to be maintained, therefore Azure Functions do not seem appropriate.

If deploying as a WebApp is t

[2021-12-02 14:38] HaraldVanWoerkom opened #21981 "Refreshing OnBehalfOf token does not work"
- **Package Name**: azure.identity.aio
- **Package Version**: 1.7.1
- **Operating System**: Windows
- **Python Version**: 3.8.10

**Describe the bug**
If the OnBehalfOfCredential from azure.identity.aio is used, the token is not refreshed properly, while OnBehalfOfCredential from azure.identity does refresh the token.

The root cause:
azure.identity.OnBehalfOfCredential uses msal to handle the tok

[2021-12-02 16:39] #18610 closed

[2021-12-02 16:41] #18433 closed

[2021-12-02 18:01] amnguye commented on #14848
Technically paritally it's not ;) Since that issue was made in November 2019 and did not encompass the User Delegation SAS new additions which got added to the service around September 2020.

But closing the issue since PR https://github.com/Azure/azure-sdk-for-python/pull/14659/files resolves the issue.