[2022-02-09 05:17] PramodValavala-MSFT commented on #22514
@taybin This has been fixed in #22536. Closing.

[2022-02-09 05:17] #22514 closed

[2022-02-09 09:40] rayluo commented on #22625
To clarify, we recommend ENABLE authority validation in almost all cases. The reason was hinted in the MSAL Python's error message, "*If it is indeed your legit customized domain name*, you can turn off this check by passing in `validate_authority=False`." For example, if the app developer is developing a Line-Of-Business (LOB) app for his employer only, that app could hardcode their customized do

[2022-02-09 11:41] chrisimcevoy commented on #22727
Hi @rakshith91. Interesting suggestion... I will try to find time to test that.

[2022-02-09 13:06] deaktomi commented on #21760
My code was generated with this command on the 25th of January. Please note that I used the `--legacy` argument.
[code]
In the generated code I see what you are telling:
[code]
This is generated automatically, I have never touch the `my_client.py` file. In my swagger file, a default response is defined for all endpoints with `MyException` model.
[code]

After this, I've tried to regenerate the cli

[2022-02-09 13:14] deaktomi commented on #21760
**UPDATE**
I have tried to add manually the lines that you highlight in the example. I checked the generated `my_client.py` file. Here are the imports:
[code]

In you example `map_error` and `HttpResponseError` are imported from `azure.core.exceptions`. There is no sign of it at all in my code. Why do you think it is happening?

[2022-02-09 13:44] oancea-cristian commented on #22844
@MughundhanRaveendran-MSFT thanks for your reply. By looking in Azure portal at swap with preview I can see that it is broken in two parts:
1st: In phase one, any slot-specific application settings and connections strings on the destination will be temporarily copied to the source slot
2nd: Swap the source slot with the destination slot

After looking at the code you provided I see that the first

[2022-02-09 14:01] kashifkhan commented on #22867
@xiangyan99 I think you are right about updating the bicep hardcoded location to simply be `location`. Perhaps a ternary for now since only China East 2 supports AI Enrichment.

<img width="980" alt="image" src="https://user-images.githubusercontent.com/361477/153216131-9825490a-7c3c-45cb-bd2f-d6b2ed8cd5b5.png">

The only issue I foresee is around Semantic Search, since that is not supported at al

[2022-02-09 16:42] iscai-msft commented on #21760
No problem at all, so just to confirm everything works now? If so, great!

Want to thank you again for all of your patience (and thank you for your patience with me thanking you all the time 😄). Your issue really helped us improve the overall experience of everyone using our client libraries!

And yep, you definitely diagnosed it right, I didn't realize but you were definitely using the old autore

[2022-02-09 18:21] #21132 closed

[2022-02-09 18:21] #21133 closed

[2022-02-09 18:37] swathipil commented on #22852
fix failing stress tests:
`FAILED test_stress_queues.py::test_stress_queue_long_renew_session_send_and_receive`

`2/8/2022, 7:58:44 PM | stress-python-servicebus-stress-test-4--1-cmgb4 | python-sb-stress | FAILED test_stress_queues.py::test_stress_queue_check_for_dropped_messages`

`ERROR azure_logger_test_stress_queue_check_for_dropped_messages:app_insights_metric.py:102 Error happened when runni

[2022-02-09 19:44] swathipil commented on #21789
A lot of these are failing b/c of this error:
`https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1343200&view=logs&j=fe7804ca-eaac-501a-67e8-e2604a50cb52&t=581043c6-4578-52e9-e224-2083bb8809be&l=3251`
and this: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1343200&view=logs&j=fe7804ca-eaac-501a-67e8-e2604a50cb52&t=581043c6-4578-52e9-e224-2083bb8809be&l=2979
And this

[2022-02-09 22:05] #21653 closed

[2022-02-09 22:14] tjprescott commented on #20691
@lmazuel since this has been closed, should we unpin the issue or keep it up?

[2022-02-10 01:39] benbp commented on #22867
@v-xuto the bicep file is equivalent to the ARM template (and compiles down to an ARM template at deploy time). I think @kashifkhan's above update looks like it will work.

[2022-02-10 08:02] #22486 closed

[2022-02-10 08:10] deaktomi commented on #21760
Yes, I can confirm that it works now. I think you can close the issue.

Thanks for your patience as well.

[2022-02-10 08:28] v-xuto commented on #22867
@kashifkhan Thanks for updating the bicep file.But, you may forgot to add Usgov's searchEndpointSuffix, we are not familiar with bicep, so not sure how to change it.

@benbp Thanks for the explanation, I got it. Because Usgov's searchEndpointSuffix is missing from the bicep file, and we are not familiar with it. So, we replaced bicep with the test_resource.json file. Besides, I removed the propert

[2022-02-10 10:59] mxkus opened #23006 "Cosmos replace-functions (e.g. store procedures) do not work with "serverScript" key in the SPROC dict"
- **Package Name**: azure-cosmos
- **Package Version**: At least 4.2.0, probably all other versions
- **Operating System**: Windows, but not OS specific
- **Python Version**: 3.9.5 but not version specific

**Describe the bug**
When replacing a stored procedure with the dictionary `{"id": SPROC_NAME, "serverScript": SPROC_CONTENT}`, there is a CosmosHttpResponseError. When using ` {"id": SPROC_NAM

[2022-02-10 10:59] azure-sdk commented on #23006
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.42701733,azure-spring:0.31864056,Event Hubs:0.029724412'

[2022-02-10 12:00] Miroslaw94 opened #23007 "Cosmos async operations produces aiohttp error - unexpected keyword argument `loop`"
- **Package Name**: azure-cosmos
- **Package Version**: 4.3.0b2
- **Operating System**: macOS 12.1
- **Python Version**: 3.8.9

**Describe the bug**
I wanted to test new async functionalities of azure-cosmos package but I'm getting an error:
[code]
end of traceback:
[code]

I checked that line in `_aiohttp.py` file and there is an initialization of `aiohttp.ClientSession` with `loop` argument but

[2022-02-10 14:20] AWendland-CryptoCompare opened #23008 "Line break default character doesn't display properly"
The default character for line end doesn't display properly. It just line breaks and puts the other ' on the begining of the next line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2e2b257-fe6b-67fe-ef24-bd60512b6285
* Version Independent ID: 1eef9045-84ec-4638-6880-7ddd1e281c42
* Content: [azure.storage.blob.Delimi

[2022-02-10 16:08] MPereira95 opened #23009 "Unable to create VPN Client configuration"
Hello, i'm trying to build a virtual network gateway with the vpn_client_configuration parameters.

Here's an example of my code:

[code]

It creates the virtual netwok gateway with all of the information **except the client configuration!**

![Screenshot 2022-02-10 at 16 07 32](https://user-images.githubusercontent.com/60042936/153447781-3ae8b0d7-537f-4957-8daa-2ec596e84238.png)

I couldn't find

[2022-02-10 16:40] xiangyan99 commented on #23009
Thanks for the feedback, we’ll investigate asap.

[2022-02-10 18:17] SatishBoddu-MSFT commented on #22669
Hello @danieljurek Could you please let us know further action on this Github issue? Should we close or keep it open//

[2022-02-10 19:12] annatisch opened #23013 "[CI feature] Create a CI Analyze step for verifying UA header in recordings"
Currently one of our preflight checklist items is to verify the User Agent header is correctly formatted.
We could add a step the Analyze pipeline to use the test recordings to verify the UA header is accurate.

[Here's an example of an incorrect header](https://github.com/Azure/azure-sdk-for-python/blob/1e6036066a7d807449f353fcdd6c565ffb7536e8/sdk/cognitivelanguage/azure-ai-language-questionanswe

[2022-02-10 19:37] swathipil commented on #21789
iter_with_defer_not_found:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1355297&view=logs&j=fa284728-64c9-5de0-4442-32743d14c85e&t=b93d123d-eb8b-5272-3a5e-e2a5347ca4ca&l=2009
test_message_lock_renew:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1358691&view=logs&j=217ad987-cc73-5dcd-abbd-eb23972de726&t=f10366f4-42a0-5bf3-0a2a-6be221a21989&l=4644

[2022-02-10 20:58] flobeier opened #23015 ""deleted" attribute of storage blobs is always "None""
- **Package Name**:  azure.storage.blob
- **Package Version**: 12.9.0
- **Operating System**: Windows 10 x64
- **Python Version**: 3.10.1

**Describe the bug**
The `deleted` attribute of storage blobs is always `None`, regardless if they are deleted or not. The `deleted_time` attribute is also `None` for deleted blobs.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload blobs to a storage

[2022-02-10 21:18] elygre opened #23016 "Avoid hanging when Azure CLI has autoupgrade enabled and upgrade is available"
**Is your feature request related to a problem? Please describe.**
Azure SDK hangs quietly when the azure cli has autoupgrade on, and there is an upgrade available. This is because the subprocess hangs waiting for user input:

[code]

**Describe the solution you'd like**
First help push the az cli team to support `--no-auto-upgrade` or similar mechanism (https://github.com/Azure/azure-cli/issues/2

[2022-02-10 21:18] azure-sdk commented on #23016
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.12010773,Service Bus:0.089710936,azure-spring:0.047952503'

[2022-02-10 21:25] danieljurek commented on #22669
I think that this is something a service team developer should be addressing, not necessarily CXP.

[2022-02-10 21:35] xiangyan99 commented on #23016
Thanks for reporting the issue. Could you help to add the repro steps?

Thanks.

[2022-02-10 22:10] xiangyan99 commented on #23016
After https://github.com/Azure/azure-cli/issues/21249 is fixed, we can enable it in AzureCliCredential class.

[2022-02-10 22:58] ramya-rao-a opened #23020 "Release messages from internal buffer when there is no active receive call"
Take the below scenario:
-  `ServiceBusReceiver.receive_messages()` is used to ask for 100 messages, but only 30 came over the wire before timeout. We give these 30 messages to the caller.
- 40 messages come over the wire before the next call to `receive_messages`

If there is too much of a gap between the two calls to `receive_messages` then these 40 messages will be expired. Due to this the call

[2022-02-10 22:58] catalinaperalta commented on #22379
@v-xuto on Tuesday I updated the `testingdata` container to include missing files that weren't added from the public cloud. However, I did notice several other differences between the public cloud containers and the us gov containers. I will be correcting these differences today. I will let you know once those updates are complete.

[2022-02-11 00:27] jalauzon-msft commented on #22860
Hi again @deepak6422, thanks for the info and apologies for the delay! We are still looking into this and trying to reproduce the issue.

I think our next step is to try and exactly re-create your environment on our end to see if we can reproduce the issue. For that could you please share the following:
- Python version (both global and venv if they are different)
- The output of `pip list`

[2022-02-11 01:11] #19254 closed

[2022-02-11 02:11] jalauzon-msft commented on #22297
Hi @AdmiralGT, apologies for the delay. We have been focused on a recent release.

I took a look at what the latest version of `django-storages` is doing and tested that scenario on our end and it works as expected.  In version 1.12, `django-storages` upgraded to version 12 of the Storage blob SDK which is a pretty big change and does come with lots of breaking changes [CHANGELOG](https://github.c

[2022-02-11 03:16] kazrael2119 commented on #22934
Hello @twacn ,After my attempt, I found that whether the rules already exist or not, begin_ delete will return the status value of 204. But when you have created this rule, begin_ delete can indeed delete it. So I don't think this should be the problem of SDK. Moreover, in our opinion, there is no difference between the three status values of 200，202，204. We can get the result that the rule is del

[2022-02-11 06:38] BigCat20196 commented on #21375
Hi @646826,  This is due to design. For example: if we have a scene, add a new setting and delete an existing setting at the same time. Do you think we should implement it in an API operation?

Getting all the settings, then modifying what you need, and then updating back at one time is a more efficient method used in the current architecture. Although it seems very inhumane, it is beneficial to t

[2022-02-11 06:44] BigCat20196 commented on #21252
Hi @iwayme, `azure-mgmt-network` has been released to version [19.3.0](https://pypi.org/project/azure-mgmt-network/19.3.0/). Please update to the latest version and try again.

Has it been wrong again recently? If not, we can treat it as an accidental one-time occurrence, which may be due to some unknown reason

[2022-02-11 07:09] Liubaituo opened #23029 "use opencensus-ext-azure==1.1.0 LiveMetrics show version is old or app is offonline"
- **Package Name**:  python Projrct
- **Package Version**:  1.1.0
- **Operating System**: windows
- **Python Version**: 3.8

**Describe the bug**
 "Not available: your app is offline or using an older SDK
Live Metrics Stream shows you key metrics within seconds. Monitor your app through deployments or critical periods.
Once enabled, Live Metrics Stream looks like this. Read more or watch the video

[2022-02-11 07:09] azure-sdk commented on #23029
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.17340362,Storage:0.15265064,Monitor:0.1260814'

[2022-02-11 08:02] #20356 closed

[2022-02-11 08:02] #8016 closed

[2022-02-11 08:02] #7688 closed

[2022-02-11 08:02] #7416 closed

[2022-02-11 08:02] #2898 closed

[2022-02-11 08:57] BigCat20196 commented on #19203
Hi @TobyHFerguson, It seems that the issue has been solved. Close this issue. Pls feel free to reopen it if you have any qustion.

[2022-02-11 08:57] #19203 closed

[2022-02-11 08:59] ZejiaJiang opened #23030 "[servicebus] Check SDK support described types in message serialization and deserialization"
We received a [bug report](https://github.com/Azure/azure-sdk-for-java/issues/26065) in java SDK. Customer cannot cast property attribute from servicebus messages which are sent by .net SDK.

After investigation, we found that .net SDK support `Uri`, `DateTimeOffset` and `TimeSpan` object by using described types in amqp. But java SDK haven't mapped any of these described types.

Here is .net doc:

[2022-02-11 09:23] BigCat20196 commented on #18928
Hi @elesel, actually, we prefer to use `from azure.mgmt.containerregistry.models import ImportSource`, which can avoid this issue.

In `v2019_ 04_01`,the missing model in version is caused by swagger breaking changes. In `v2019_ 05_01` This model was added back.

If you want the pin version, you can use the following:
[code]

[2022-02-11 10:34] tommasogallingani opened #23031 "cannot import name 'ContainerClient' from 'azure.storage.blob'"
- **Package Name**:  azure.storage.blob
- **Package Version**: 12.9.0
- **Operating System**: Win
- **Python Version**:  3.8

**Describe the bug**

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'ContainerClient' from 'azure.storage.blob' (unknown location)

[2022-02-11 12:25] MrKriss opened #23032 "Datasets .Net Core 2.1 runtime dependency is not supported on Linux Debian 11"
- **Package Name**:  azureml-dataset-runtime | dotnetcore2
- **Package Version**:  azureml-dataset-runtime  (1.38.0)   |  dotnetcore2  (2.1.23)
- **Operating System**: Linux Debian 11 (Bullseye)
- **Python Version**:  3.9

**Describe the bug**

Azure Datasets can't be saved on Linux OS running Debian 11 (latest stable at time of writing).

The .Net Core 2.1 runtime dependencies for Azure Datasets

[2022-02-11 12:37] andrea-cassioli-maersk commented on #21639
Hey Team, any update?

[2022-02-11 13:04] elesel commented on #18928
Thanks, @BigCat20196. Will do.

[2022-02-11 13:04] #18928 closed

[2022-02-11 16:41] azure-sdk commented on #23029
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.17340362,Storage:0.15265064,Monitor:0.1260814'

[2022-02-11 16:41] xiangyan99 commented on #23029
Thanks for the feedback, we’ll investigate asap.

[2022-02-11 17:26] swathipil commented on #21639
Hey @andrea-cassioli-maersk - sorry for the late response + really appreciate your patience! We've been pulled aside by a few other things but will definitely be digging into this again in this upcoming week.
Thanks!

[2022-02-11 20:46] jalauzon-msft commented on #22936
Hi @joelrbrandt, thanks for the feedback.

The `connection_timeout` parameter is not meant to be defined on individual methods, such as `upload_blob` but rather is an optional parameter when creating clients as defined in the [link you mentioned](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/storage/azure-storage-blob#other-client--per-operation-configuration).

The `connection_timeo

[2022-02-11 20:54] jalauzon-msft commented on #22936
@joelrbrandt as for your aside about `max_single_put_size`, there are a couple of ways to specify that parameter with a SAS URL.

`BlobClient.from_blob_url` actually does accept the `max_single_put_size` keyword parameter even though it is not explictlly documented. `from_blob_url` eventually calls into the normal constructor of `BlobClient` so any keyword arguments that the constructor can take,

[2022-02-11 20:59] jalauzon-msft commented on #22936
Closing as `connection_timeout` is not meant to be documented on individual methods and is an optional parameter on clients that is documented in the `README`.

[2022-02-11 20:59] #22936 closed

[2022-02-11 21:22] iscai-msft commented on #22941
closing this issue because the core patch release (release 1.22.1) unblocks end users. However, the real root cause of the issue are SDKs generated from incorrect swaggers, but @lmazuel is escalating that through different channels

[2022-02-11 21:22] #22941 closed

[2022-02-11 21:22] jalauzon-msft commented on #23008
Hi @AWendland-CryptoCompare, thanks for reporting this. This seems to be an issue in our process that creates these docs from the code. In the code, this is documented as `\n` as expected. I will investigate how we can get this fixed up.

[2022-02-12 02:17] #22853 closed

[2022-02-12 02:17] #22824 closed

[2022-02-12 06:39] 646826 commented on #21375
Oh, okay, thanks.
But I prefer to change only the needed setting. If  I make changes for all values I need to check all, because it was updated

[2022-02-12 06:40] 646826 commented on #21375
Oh, okay, thanks.
But I prefer to change only the needed setting. If I make changes for all values I need to check all, because it was updated

[2022-02-12 08:02] #22383 closed

[2022-02-12 08:02] #22338 closed

[2022-02-12 09:24] 3ttp commented on #22338
?? ???? 12 ??????? 2022 ?? 11:03 ?? ??? msftbot[bot] ***@***.***>:
Closed #22338.

?Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-02-13 05:24] fswane commented on #18610
/unresolve

As the opentelemetry-python package brougth *metrics* support into the main branch (end of 2021), do you have plans to bring metrics support into the main branch of the Azure exporter?

Regards
Francois

[2022-02-13 17:46] flobeier commented on #23015
@jalauzon-msft thanks for the thorough explanation! :+1:

[2022-02-14 02:24] kazrael2119 commented on #22337
Hi @andreamigotto ,thanks for the feedback. This sample will help you to solve this issue. Here is code.
[code]

[2022-02-14 02:25] BigCat20196 commented on #21375
Hi @646826, If so, I recommend you to use [Azure-cli](https://github.com/Azure/azure-cli), which is based on Python SDK and encapsulates many methods. It can `set` a modification you want into the configuration. The python SDK is generated based on [rest](https://github.com/Azure/azure-rest-api-specs), so it implements a single operation.

[2022-02-14 02:30] BigCat20196 commented on #21635
Hi @Ananthram, thanks for your feedback! There is no denying that it is a good function. However, Python SDK is generated based on [rest](https://github.com/Azure/azure-rest-api-specs/). Please go [here ](https://github.com/Azure/azure-rest-api-specs/issues)to open a new issue. Once it supports this operation, the SDK will release a new version to synchronize it. Thanks!

[2022-02-14 02:38] BigCat20196 commented on #21451
Hi @reach4bawer, Sorry for the late reply. It seems that this is a bug defined by the server. Because `inbound_addresses`  is not defined in the [model ](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/web/resource-manager/Microsoft.Web/stable/2021-03-01/CommonDefinitions.json#L2544)causes it to be discarded during deserialization.

Please go [here ](https://github.com/Azure/

[2022-02-14 04:39] 646826 commented on #21375
It's not exactly what I wanted, but I'll try. Thanks

[2022-02-14 04:54] msyyc opened #23042 "[sample] Fix outdated sample"
Fix outdated sample in https://github.com/Azure-Samples/azure-samples-python-management

[2022-02-14 08:02] #22295 closed

[2022-02-14 08:13] deepak6422 commented on #22860
hey @jalauzon-msft  I figured out the issue. It was due to the file name which was queue.py.
I think python causes this circular import error for any modules if their file name matches with the modules package file name.

[2022-02-14 09:25] Wzb123456789 commented on #21008
Hi @dalemyers, The Python SDK is built on Swagger, so there is a layer of properties missing when defining the model, Please go to https://github.com/Azure/azure-rest-api-specs/issues to open a new issue.

fyi: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/web/resource-manager/Microsoft.Web/stable/2021-03-01/WebApps.json#L23256

The correct model definition is as follows：
!

[2022-02-14 09:47] odidev opened #23048 "Add AARCH64 test support"
Hi Team,

I tried testing **azure-mgmt-kusto** package on X86 and Arm64 architectures but it is generating **0 test cases** and the error:
```no module named azure.core command```

So, I have used **pytest** as the test command and installed many modules as **azure-container ,azurecontainerregistry azure kusto** but the error is not resolving.

Also, explore in the local containers where the  inst

[2022-02-14 09:48] azure-sdk commented on #23048
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Container Registry:0.10312717,Azure.Core:0.09512474,Storage:0.08466798'

[2022-02-14 11:56] sortega opened #23049 "Wrong information about `connection_timeout`"
Docs:

Actually, there is a separate `read_timeout` parameter and `connection_timeout` has no influence over the read timeout.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f60c47f1-e4d8-f68e-5f9c-460c4fdc6da8
* Version Independent ID: 172e9f9b-25fb-2121-cb72-d383cc21763a
* Content: [Azure Storage Blobs client library

[2022-02-14 13:23] turtletennis commented on #9743
For anyone who gets here from a Google search (like me) you can now purge/restore deleted secrets by clicking on "Manage deleted secrets"

[2022-02-14 17:34] mccoyp commented on #22797
A fix for this issue will be included in the next stable release of Key Vault packages (currently planned for early March).

[2022-02-14 17:49] kristapratico opened #23050 "[textanalytics] leave breadcrumb on TA track 1 package"
We should redirect users to azure-ai-textanalytics on https://pypi.org/project/azure-cognitiveservices-language-textanalytics/

[2022-02-14 18:25] VishnuNairP opened #23051 "I can create a disk of size 64 GB from portal but gives an error while using python SDK for VMs"
Hi,

I have been trying to create an instance using the python SDK, but while running it, I get the following error:

But the same successfully goes through from the portal.

Code:

[code]

Any help would be greatly appreciated!

[2022-02-14 18:25] azure-sdk commented on #23051
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute - VM:0.22270338,Storage:0.14714763,Service Bus:0.054369718'

[2022-02-14 18:36] lzchen commented on #18610
@fswane

Metrics support for Azure exporter most likely will not be implemented until metrics in OpenTelemetry achieves stable status. Feel free to use this issue as a tracking ticket.

[2022-02-14 18:38] scottaddie commented on #20794
Fixed in https://github.com/Azure/azure-sdk-for-python/pull/23002

[2022-02-14 18:38] #20794 closed

[2022-02-14 18:45] danieljurek commented on #23008
This is also displaying improperly in our github.io docs which are directly rendered using sphinx -- https://azuresdkdocs.blob.core.windows.net/$web/python/azure-storage-blob/12.10.0b3/azure.storage.blob.html#azure.storage.blob.DelimitedTextDialect

![image](https://user-images.githubusercontent.com/2158838/153925870-184580b3-055f-4246-ba84-f46a1724b886.png)

I think the fix here is to escape the

[2022-02-14 18:55] danieljurek commented on #23008
Assigning to @jalauzon-msft to fix

[2022-02-14 19:12] swathipil opened #23052 "[SchemaRegistry] AvroEncoder finalize API"
- figure out way to use overloads to specify MessageType for typehints
ex. something like:
[code]
- add encode overload for EventData
- finalize naming with other languages
- check interoperability with other languages
- confirm that we want to allow passing in http_request_kwargs as a separate dict with Johan, as per previous discussion.

[2022-02-14 19:39] blawrence-datadx commented on #21870
Hi @tasherif-msft, this issue has started happening more and more frequently on a daily basis and not just from start_copy_from_url(). This is making the use of Azure Functions unsustainable for us and we're having to rely on retries which is not a clean solution. Please let us know if any progress has been made

[2022-02-14 19:57] yunhaoling commented on #22962
hey @lukipro , thanks for reaching out.

Could you share me with the piece of code that you used for client creation with `DefaultAzureCredential`?

From the error a renew lock operation has been performed on a non-received message, I was wondering if there's any other settings in within your client creation other than `DefaultAzureCredential`?

[2022-02-14 22:02] yunhaoling opened #23057 "[SchemaRegistry] Deprecate avro-serializer lib"
as we name the package from avro-serializer -> avro-encoder, we need to deprecate the serializer in an explicit way -- doing a last release for it, updating the docs/setup development status, etc.

check with @rakshith91 on how to deprecate a package

[2022-02-14 22:11] jalauzon-msft commented on #22860
Hi @deepak6422, thanks for following up on this. It looks like this was indeed the cause as I was able to reproduce this on our end by naming the file `queue.py`. Interestingly this is not actually conflicting with our module since it's called `azure.storage.queue` but instead with one of our dependencies, `six` (used by `urllib`). They have a module named `queue` which is causing this error. Unfo

[2022-02-14 22:11] #22860 closed

[2022-02-14 22:47] #21765 closed

[2022-02-15 01:15] yunhaoling commented on #21849
hey @Stael , apologize for the delayed response and thanks for sharing the logs!

from the logs we could conclude that:
1. when the producer tries to send out the event for the first time, it hits a `Connection reset by peer` error which indicates the previous connection is down.
2. then the producer tries to reestablish the connection and succeeds in authentication
3. however, the producer got st

[2022-02-15 01:27] yunhaoling commented on #21143
results:
![image](https://user-images.githubusercontent.com/47871814/153974885-654858cc-d724-4259-976d-09af01b9a03c.png)

async recv perf regressed

detailed analysis: https://gist.github.com/yunhaoling/2e8f27710c0351f2d7ab9badf9abbf9d

[2022-02-15 01:31] jalauzon-msft commented on #21870
Hi @blawrence-datadx, Connection resets come from the Storage service. The service team recommends retries as the solution for these types of intermittent failures so that is the best that can be done from the client side. We are aware that some of these errors are not automatically retried from the Storage SDK itself, and we are working to address that.

If you already have retry logic in place a

[2022-02-15 03:55] blawrence-datadx commented on #21870
Thank you @jalauzon-msft. I'm afraid we cancelled our support service because after 3 months the service team made 0 progress. Before the connection reset errors were only happening on start_copy_from_url() calls, but now they are happening at random places throughout the code. So the best solution is really to wrap every single blob storage call with retry logic?

[2022-02-15 07:01] amishra-dev commented on #21870
@blawrence-datadx can you share your storage account name and the last time period when this happened?

[2022-02-15 08:02] #21900 closed

[2022-02-15 08:02] #21863 closed

[2022-02-15 08:02] #20804 closed

[2022-02-15 08:02] #20679 closed

[2022-02-15 08:02] #18347 closed

[2022-02-15 08:02] #8256 closed

[2022-02-15 08:07] BigCat20196 commented on #23042
https://github.com/Azure-Samples/azure-samples-python-management/pull/88

[2022-02-15 08:31] lukipro commented on #22962
Hello @yunhaoling,

here is the code:
[code]
But as I mentioned. All works fine for newly created Service Bus namespaces.
Basically the situation is as follows:

[code]

[2022-02-15 09:10] Stael commented on #21849
Hello @yunhaoling,

I don't think that it is during "the first time".
Indeed this error happens wether if we have other calls to the function before it or not.
Moreover as you said, there is a `Connection reset by peer` which implies that there was a previous connection.
But maybe you don't mean "the first message once the `EventHubProducerClient` is created", but the "first try" to send the messa

[2022-02-15 10:54] ankitmounty2008 opened #23061 "Is there any Python SDK Available to Sync Peerings?"
Hi Team,

With new way of adding CIDR; add IP and resync peerings. This provides us a feature with no downtime which is great but is there any SDK available resync step, I can add CIDR using python SDK, but how will we resync vnet peerings(Programatically)?

Regards,
Ankit

[2022-02-15 10:54] azure-sdk commented on #23061
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.07022865,Tables:0.065957434,Synapse:0.054660767'

[2022-02-15 17:02] blawrence-datadx commented on #21870
Hi @amishra-dev, the storage account name is datadxdatalake and the last time period it happened was Monday 2/14 at 8:41pm PST

[2022-02-15 17:47] yunhaoling opened #23062 "[EventHubs] Buffered Producer API Review"
aggregate client design for the event hubs buffered producer feature

- gist: https://gist.github.com/yunhaoling/c300396e293c06beeb73c769012a9d2d
- apiview: https://apiview.dev/Assemblies/Review/e20c9d6e94a244ffbe448faaade3050f

feedbacks from api review meeting:

- action items for behaviors/implementation:
  - investigate into callback reentrancy behavior questions and define the behavior
    -

[2022-02-15 17:50] yunhaoling opened #23063 "[EventHubs] Preview BufferedProducer"
- Implement the buffered producer feature

[2022-02-15 18:44] jalauzon-msft commented on #23008
@danieljurek, thanks for the instructions. Unfortunately I don't think it worked quite as expected. I escaped the `\n` making it `\\n` in the code but the docs did not render the backslash, only the `'n'`. It did not render a newline though.
`Record separator, defaults to ‘n’.`

Should I add another backslash? Or another escaped backslash?

[2022-02-15 18:51] danieljurek commented on #23008
You may need to double escape the backslash (that is 4 backslashes) `\\\\`

[2022-02-15 19:08] jalauzon-msft commented on #23049
Hi @sortega, thanks for reporting this. There is some current discussion / work happening around `connection_timeout` and `read_timeout` that may influence this documentation, but we will work to get this corrected.

[2022-02-15 19:55] praveenkuttappan opened #23069 "Add New Token property for common Entity ID"
We need a new common entity ID property for each token to identify cross language implementations. This issue is to file new entity type in APIView which will be filled by individual parsers.

[2022-02-15 19:59] yunhaoling commented on #21849
apologize for not making it clear, it's the "first try to send the message".

Thanks for the extra info on which scripts you're using, will dig deep into it!

btw, I'm thinking of a workaround for you to unblock your deployment/application, in case fixing/locating the issue takes longer than I expect.

I think `asyncio.wait_for` could be used here as a temporary workaround to resolve the issue by

[2022-02-15 20:25] #23050 closed

[2022-02-15 20:28] #22686 closed

[2022-02-15 22:26] jalauzon-msft commented on #23008
@danieljurek thanks, that worked. I have merged the fix into `main`.

[2022-02-15 22:34] #21951 closed

[2022-02-15 22:45] #22158 closed

[2022-02-15 22:47] #21153 closed

[2022-02-15 22:55] simorenoh commented on #23007
Hi @Miroslaw94, thank you for raising this issue with us.

I'm not sure exactly what is happening here since the aiohttp package is not managed by us, but I would recommend you take a look at the way our async samples are set up in order to see the recommended way of using the async client. On one point for instance, in order to use the `await` keyword you'd generally need to have that in a functi

[2022-02-15 23:00] simorenoh commented on #23006
Hi @mxkus, thank you for bringing this up!
It seems you are correct, by passing the `serverScript` still in the kwargs without popping it we are providing the backend with an unexpected body type. I'll make a PR to address this issue, it should be getting publicly released in this month's release. Will keep you posted on this!

[2022-02-16 07:42] navba-MSFT commented on #17419
@reimarstier Apologies for the late reply. We are looking into this issue and we will update this thread once we have more details.

@mksuni, @bgklein, @mscurrell, @cRui861, @paterasMSFT, @gingi, @dpwatrous Could you please provide an update on this ? Awaiting your reply.

[2022-02-16 07:49] Wzb123456789 commented on #23009
@MPereira95  Thanks for your feedback, after my investigation, I noticed that the sku parameter in the example model you gave needs to be changed to VpnGw2, and the location parameter needs to be consistent with the location of resource groups.

  Also I found a tutorial to create a virtual gateway, please go to the link: https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-t

[2022-02-16 07:56] navba-MSFT commented on #16377
@mksuni, @bgklein, @mscurrell, @cRui861, @paterasMSFT, @gingi, @dpwatrous Could you please provide an update on this ? Awaiting your reply.

[2022-02-16 08:26] jiasli opened #23080 "[Azure Identity] `tenant_id` is not honored by `ManagedIdentityCredential.get_token`"
- **Package Name**: `azure-identity`
- **Package Version**: 1.7.1

**Describe the bug**

https://github.com/Azure/azure-sdk-for-python/pull/20940 added support for getting an access token from another tenant other than the tenant used in the constructor of the credential, using `get_token(tenant_id=xxx)` API.

However, as tested with this script in a VM with system assigned identity:

[code]

The

[2022-02-16 10:26] MPereira95 commented on #23009
@Wzb123456789 I changed the SKU but the VPN client configuration is stil not there. I don't want to do this manually trough the portal. I want this to be an automatic process, that's why i define the address prefix, the root certificate and the vpn protocol but still the information is not reaching Azure because when I open the JSON View of the virtual gateway there is no reference to vpn_client_c

[2022-02-16 12:15] Stael commented on #21849
Hello @yunhaoling.

Thank you for this snippet, I will try to implement and test it ASAP.

[2022-02-16 14:13] oskar-digital-power opened #23084 "incomplete example"
Hi, the example under 'List container groups' seems to be incomplete. The function only shows a print statement, but isn't listing available container groups. Looks like something is missing at the bottom.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e732e187-7ff4-bd4f-9aad-44953af44a86
* Version Independent ID: d4ba

[2022-02-16 14:13] azure-sdk commented on #23084
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5858673,Mgmt:0.27092683,Service:0.09484087'

[2022-02-16 17:59] #22970 closed

[2022-02-16 18:02] yunhaoling commented on #21639
hey @andrea-cassioli-maersk , I have been playing with the asyncio lib recently, and I feel it could be not handling asyncio error properly under the situation of "asyncio.wait_for" + interrupt.

I'm still working on getting some simplified code to reproduce the issue first.

[2022-02-16 18:47] #23008 closed

[2022-02-16 19:07] James-Beckwith opened #23091 "Add support for azure.identity authentication to azure.data.tables"
**Is your feature request related to a problem? Please describe.**
I'm trying to have a function update a table whenever it is called. I'd rather not have the account key hard coded, even in the environment. This is fine for blob storage as we can use the DefaultAzureCredential option with InteractiveTokenCredential active. However, this doesn't seem to work for tables. Funnily enough it does actu

[2022-02-16 20:59] simorenoh commented on #23006
Fix has been merged, will be available in this month's release.

[2022-02-16 22:15] yunhaoling opened #23094 "reaching out to customers who would be interested in trying the new sdk and collect feedback"

[2022-02-16 22:15] azure-sdk commented on #23094
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.10412867,Cognitive - Custom Vision:0.07643568,Azure.Core:0.05390315'

[2022-02-16 22:27] yunhaoling commented on #21246
check removing uamqp dependency whether breaking?

[2022-02-16 22:38] yunhaoling commented on #22829
aka.ms/link

[2022-02-16 23:02] swathipil commented on #22961
Hi @v-xuto - I think this may take a little more digging into. However, @yunhaoling mentioned that this error may be happening due to poor connection because of the long distance from US to China. Can you try increasing the `timeout` value to `10000` (or something greater) and seeing if that improves test passing rate?

[2022-02-16 23:29] deyaaeldeen opened #23095 "[Schema Registry] Testing error codes"
Error codes have been updated to match REST design guidelines. Since they are part of the customer client experience, we should add tests for them.

[JS PR](https://github.com/Azure/azure-sdk-for-js/pull/19723)

[2022-02-17 01:41] jalauzon-msft commented on #20771
Hi @anders-kiaer (and others), apologies for the delay in addressing this. Two of the errors were recently fixed in #22741 and I just created #23098 to address another. These will go in our next release (expected in March).

The `__aenter__` and `__aexit__` ones are more interesting since `ContainerClient` does have these methods through its inheritance of `AsyncStorageAccountHostsMixin`. I'm not

[2022-02-17 02:45] BigCat20196 commented on #21375
Close this issue. Pls feel free to reopen it  if you have any question.

[2022-02-17 02:45] #21375 closed

[2022-02-17 06:12] BigCat20196 commented on #21449
Hi @KeeganFlood, Both `JSON` and `model` formats can be passed as parameters. For those who are not familiar with `JSON` format, we recommend using `model`.

In my opinion, the `full id` is returned when using the `get` operation, and only a part is required when `updating`. This is not a conflict. The `full id` is for the server, while the `partial ID` is more convenient for users. This form is c

[2022-02-17 08:08] Wzb123456789 commented on #23009
@[MPereira95](https://github.com/MPereira95) For more complex parameters, we prefer to use model to pass parameters. The following is the parameter model that I have tried to successfully create a virtual gateway.

[code]

[2022-02-17 09:12] v-xuto commented on #22961
@swathipil I have updated `timeout` value to 10000. But its result is still `Fail`. For more details in pipeline please check [here](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1374219&view=results).

[2022-02-17 10:39] #22636 closed

[2022-02-17 14:33] chshihMSFT opened #23106 "remove Table name check"
- **Package Name**: [azure-data-tables](https://aka.ms/azsdk/python/tablespypi)
- **Package Version**: 12.2.0
- **Operating System**: any
- **Python Version**: 3.10.1

**Describe the bug**
SDK behavior should consider the difference while facing both **Cosmos DB Table API**, and **Storage Account Table Service**, and this issue is reporting for their naming rule difference then leads exception.

W

[2022-02-17 16:51] xiangyan99 commented on #23048
Thanks for reaching out.

Could you run pip install and share us the output?

We want to check if azure-core package is installed.

Thanks.

[2022-02-17 16:52] xiangyan99 commented on #23051
Thanks for the feedback, we’ll investigate asap.

[2022-02-17 16:54] xiangyan99 commented on #23084
Thanks for the feedback, we’ll investigate asap.

[2022-02-17 19:09] mccoyp commented on #22441
@thomasfrederikhoeck this is the place -- I'm sorry you haven't gotten any updates yet! I'll remind the ML team about this issue and re-tag it for their triage system.

[2022-02-17 20:04] singankit commented on #22441
@thomasfrederikhoeck Can you please share the conda.yml file from your MLflow model? If it doesn't contain any sensitive information. This will help us understand why AML is not able to identify that a private feed is there, and service connection needs to be used.

[2022-02-17 22:10] praveenkuttappan opened #23111 "Run apistubgen of test package in apiview pipeline"
API stub generator is not run to generate stub file of any package as part of apiview pipeline and this causes undetected issues to fail python pipeline when stub generator is triggered for actual SDK package. We now have a test package for api stub generato. We should run stub generator step for this test package as part of PR pipeline for APIView

[2022-02-17 22:12] #22886 closed

[2022-02-17 22:33] jalauzon-msft opened #23112 "[Storage] CI blocked by conda environment not having latest `azure-core` bits"
The recent release of `azure-mgmt-storage` depends on the `azure.core.rest` module from `azure-core` that is not present in the current `azure-core` of the Conda CI environment. This causes the Storage Conda CI to break as `azure-mgmt-storage` is a dependency.

In addition, an upcoming change to the Storage packages will also need `azure.core.rest`

[2022-02-18 02:06] Wzb123456789 commented on #23084
Thanks for the feedback, we’ll investigate asap.

[2022-02-18 02:10] kazrael2119 commented on #23051
Thanks for the feedback, we’ll investigate asap.

[2022-02-18 06:52] kazrael2119 commented on #23051
Hi, @VishnuNairP ,You said that you successfully created this VMS through the portal. Can you give me a screenshot of the VMS resource JSON？

[2022-02-18 07:43] stan-sz opened #23124 "SyntaxWarning with comparison"
- **Package Name**: storage
- **Package Version**: 1.5.0
- **Operating System**: Linux
- **Python Version**: 3.8

**Describe the bug**

[code]

**To Reproduce**
Used a `pyinstaller` to compile an app calling azure cli.

**Expected behavior**
No syntax warning

**Additional context**
Similar issue #9525

[2022-02-18 08:18] Wzb123456789 commented on #23084
Hi, @oskar-digital-power,  After my investigation, I found the `list_by_resource_group` method to find the container group in the resource group. hope this can unblock you.

fyi: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/operations/_container_groups_operations.py#L121

[2022-02-18 10:39] Liubaituo commented on #23029
@xiangyan99
Have you tried? Do you have the same problem?

[2022-02-18 14:50] bbl opened #23131 "upload_blob() method is on working with the reader stream from os.pipe()"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.9.0
- **Operating System**: Ubuntu 18.04.4 LTS
- **Python Version**: 3.9.10

**Describe the bug**
The reader stream from the `os.pipe()` call passed to the ContainerClient's instance `upload_blob` method produces an unhandled "OSError" exception.

**To Reproduce**
Here's a sample code block that's causing the issue:
[code]

The stack

[2022-02-18 16:23] VishnuNairP commented on #23051
Hey @kazrael2119, Thanks for the reply. But I just noticed that the disk was a data disk and the OsDisk is indeed 127GB. I assumed  from the schema `value=null` that the disk wasn't being created.

Attaching the JSON here anyway:

[code]
I will close the issue now.
Thanks for the help and sorry for the trouble.

[2022-02-18 16:23] #23051 closed

[2022-02-18 17:28] kristapratico opened #23133 "resolve dependency issue with sphinx doc generation and markupsafe"
Seeing this error in the "Generate Docs" step of CI:

[code]

Example build: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1376909&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t=651a14cc-88df-515d-1311-e0e8b23b578a&l=1229

`sphinx` uses `jinja2` which takes a dependency on a library called [markupsafe](https://pypi.org/project/markupsafe/).
 `markupsafe` released a new packag

[2022-02-18 18:28] xiangyan99 commented on #23029
@rakshith91 Could you help to take a look?

[2022-02-18 19:05] kingmemon0107 opened #23137 "Close"

[2022-02-18 19:49] lmazuel opened #23138 "Test all azure-identity credentials for injection of "tenant_id""
March will be the GA of the new KeyVault SDK that uses the `tenant_id` kwarg of `get_token`. In all circumstances, KV will inject that kwarg.

Today, azure-identity is not ready for this change. For instance, it doesn't work for ManagedIdentity :
<details>

[code]
</details>

For March, we need unittests and live-tests that all credentials shipped part of the azure-identity packages support inject

[2022-02-18 20:07] lmazuel opened #23139 "Document supportability of tenant_id in all docstring of azure-identity implementation"
Some credentials instance will support `tenant_id`, and some won't (like ManagedIdentity). For clarity for users, the docstring needs to explicitly state if the `tenant_id` will be ignored, or is an effective parameter

All credit for @mccoyp to have raised the issue

[2022-02-18 20:10] lmazuel commented on #23080
Hi @jiasli

`tenant_id` should be seem as a hint of how to increase the odds of getting a valid token. If the scenario doesn't support that hint, the expectation is to ignore it. Otherwise, it means you could never used ever again KeyVault and ManagedIdentity, since KeyVault will always inject the `tenant_id`.

So by design, if the hint is not applicable, we ignore it.

But thank you for the issue

[2022-02-18 20:10] #23080 closed

[2022-02-18 20:19] mccoyp commented on #23139
We should also explicitly state how we do or don't honor `claims`, and any other arguments specified in the [TokenCredential protocol](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md#tokencredential-protocol), for future reference

[2022-02-18 21:59] billwert opened #23142 "Unify behavior of clientId and resourceId"
Recently we added the ability to set both a `clientId` and `resourceId` for user assigned managed identity lookups. This exposes the problem that if an environment sets `AZURE_CLIENT_ID` while the deployed code sets `resourceId` we'll hit an exception.

The work item here is two parts:
- [ ] decide what the correct behavior is when the environment variable is set. Do we throw? Do we always prefer

[2022-02-18 22:05] #21595 closed

[2022-02-18 22:05] #21597 closed

[2022-02-18 22:08] #19446 closed

[2022-02-18 22:08] #19447 closed

[2022-02-18 22:08] #19448 closed

[2022-02-18 22:08] #19455 closed

[2022-02-18 22:08] #19456 closed

[2022-02-18 22:09] #19459 closed

[2022-02-18 22:09] #20742 closed

[2022-02-18 22:09] #21598 closed

[2022-02-18 22:10] #21013 closed

[2022-02-18 22:13] #19467 closed

[2022-02-18 22:14] #19465 closed

[2022-02-18 22:17] iscai-msft commented on #21273
we decided to not do this

[2022-02-18 22:17] #21273 closed

[2022-02-18 22:20] #19461 closed

[2022-02-18 22:23] #19457 closed

[2022-02-18 22:39] jalauzon-msft commented on #20771
I looked into the `__aenter__` and `__aexit__` issues and these seem to be caused by an issue with `mypy` (or one of its dependencies) that was addressed in v0.812 (see python/mypy#9739). I have verified these issues are not present with the provided code sample using `mypy==0.931`.

[2022-02-18 22:43] mccoyp commented on #21487
Resolved in https://github.com/Azure/azure-sdk-for-python/pull/22729

[2022-02-18 22:43] #21487 closed

[2022-02-18 23:29] #22278 closed

[2022-02-18 23:32] #22829 closed

[2022-02-19 00:36] lmazuel opened #23146 "[Investment] Python Matrix on optional dependency"
@lmazuel commented on [Wed Nov 18 2020](https://github.com/Azure/azure-sdk-pr/issues/656)

Python is designed to have a lot of optional dependencies, meaning the behavior of the package can automatically change if a package is detected to be installed on the fly (no compilation needed here).

The big items here are:
- Is our async HTTP lib installed (aiohttp)? What impact on code stability, and pe

[2022-02-19 00:41] lmazuel commented on #19464
Closing this empty for a more detailled one I wrote already

[2022-02-19 00:41] #19464 closed

[2022-02-19 00:49] lmazuel commented on #9256
Closing this issue as I feel it's definitely not on the radar of anyone at the moment. If one day it becomes necessary, I have no doubt the discussion will restart again.

[2022-02-19 07:30] #22100 closed

[2022-02-20 17:26] #23137 closed

[2022-02-20 17:35] tmoy61 commented on #8913
For MacOS you need to install cmake:  "brew install cmake".

[2022-02-20 17:37] kingmemon0107 commented on #20691
Close

[2022-02-20 23:57] amishra-dev commented on #23131
Thanks for reporting this @bbl Bogdan, let us look into this and get back to you.

[2022-02-21 01:23] #21378 closed

[2022-02-21 01:25] #20771 closed

[2022-02-21 01:26] #20430 closed

[2022-02-21 05:42] MohanrajBalakrishnan commented on #15683
I am facing the same issue. Can you explain clearly what you done to fix that?

[2022-02-21 05:44] MohanrajBalakrishnan commented on #15683
@bekraupov I am facing the same issue. Can you explain clearly what you done to fix that? What is version =1 and version =2?

[2022-02-21 08:36] msyyc opened #23156 "[DPG][pipeline] integration to swagger pipeline to trigger SDK generate for DPG"
test configuration: https://github.com/Azure/azure-rest-api-specs/tree/dw/llc-readme/specification/purview/data-plane

https://github.com/Azure/azure-sdk-tools/issues/3420

[2022-02-21 09:24] thomasfrederikhoeck commented on #22441
@singankit Yes, Here it is:
[code]

This then aligns with the connection if have defined:
[code]

[2022-02-21 14:10] tobys-playground opened #23158 "RuntimeError: Java gateway process exited before sending its port number when deploying Pyspark model to Azure Container Instance"
I am trying to deploy a PySpark model trained in Azure Databricks with MLflow to an ACI in Azure Machine Learning.

I am following the steps in this link:

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-mlflow-models#example-notebooks

but I get this error:

[code]
My code looks like this:

[code]
While my model settings are:
[code]
Can someone help please?

[2022-02-21 14:10] azure-sdk commented on #23158
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Machine Learning:0.5382375,App Services:0.10650265,Azure.Core:0.030425286'

[2022-02-21 14:22] tsabsch commented on #21385
Hi, we are using `azure-servicebus` as part of our FastAPI+uvicorn application, and are affected by this. A short documentation about thread-safety would be very appreciated, especially since [1] suggests that the SDK actually _is_ thread-safe:

[1] https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-performance-improvements?tabs=net-standard-sdk-2#reusing-factories-and-client

[2022-02-21 14:45] AWendland-CryptoCompare opened #23159 "Blob query has limited SQL interpretation"
- **Package Name**: azure.storage.blob
- **Package Version**: 12.9.0
- **Operating System**: Linux
- **Python Version**: 3.8.8

**Describe the bug**
When using BlobClient.query_blob the process does not return when using aggregate functions in SQL such as min, max, avg. Similarly does not return when using as within the column names.

**To Reproduce**
Steps to reproduce the behavior:
1. Make query

[2022-02-21 16:20] dmartin-r7 opened #23160 "LogicMangementClient Workflows Update method lacks logic to populate the request body"
- **Package**: azure-mgmt-logic
- **Version**: latest
- **OS**: macOS Catalina
- **Python Version**: 3.8

**Describe the bug**
The WorkflowOperations class in the LogicManagementClient has an update method that does not work. Inside this method the body for the request never gets set, and there is no way to pass in tags or properties to this method to get it to work.

**To Reproduce**
Steps to rep

[2022-02-21 16:20] azure-sdk commented on #23160
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.16276874,Cosmos:0.036992732,Service Bus:0.035003923'

[2022-02-21 17:37] petergaultney opened #23161 "query_items_change_feed does not honor is_start_from_beginning"
- **Package Name**:  azure.cosmos
- **Package Version**: 4.2.0
- **Operating System**: MacOS Monterey
- **Python Version**: 3.7.12

**Describe the bug**

I always get the full history for the container rather than only new history, as the documentation suggests I should expect. This happens both when using the default value (False) for `is_start_from_beginning` and when explicitly passing False.

[2022-02-21 20:02] hurtn opened #23162 "Non recursive call required for update / modify method"
**Is your feature request related to a problem? Please describe.**
Based on https://github.com/Azure/azure-sdk-for-python/blob/6d9bd4a62945e18b081d62ff2e74ca3627a75211/sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py we request a non recursive async call to update / modify ACLs.

**Describe the solution you'd like**
There currently is a function update_access_cont

[2022-02-21 22:04] JeffreyCA opened #23163 "Uploading blob with container client fails with auth error but succeeds with blob client when using Azure CDN"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.9.0
- **Operating System**: Windows 10
- **Python Version**: 3.10.2

**Describe the bug**
I have an Azure Storage account that is configured with an Azure CDN. When using `BlobServiceClient` with the account URL set to an Azure CDN, uploading a file using the container client fails with an authentication error, while it succeeds when

[2022-02-21 22:09] mlongtin0 commented on #21798
FYI: The fix in version 36 seems to support certificate and private key in the same file, but not "Bag attributes" and other items outside the BEGIN/END delimiters.

[2022-02-22 06:08] BigCat20196 commented on #8662
Close this issue, please feel free to reopen it if you have any questions.

[2022-02-22 06:08] #8662 closed

[2022-02-22 07:34] BigCat20196 commented on #23061
Hi @ankitmounty2008, thanks for your feedback! The python SDK is automatically generated based on the [rest API](https://github.com/Azure/azure-rest-api-specs/tree/main). Can you do this on the portal? If not, this API may not be supported yet. Please go [here ](https://github.com/Azure/azure-rest-api-specs/issues)to open a new issue.

Please provide more detailed context to help quickly locate an

[2022-02-22 08:21] anilreddypuresoftware commented on #23048
[Azure-sdk-for-python .txt.txt](https://github.com/Azure/azure-sdk-for-python/files/8114856/Azure-sdk-for-python.txt.txt)

Thanks.

[2022-02-22 12:11] Leon1201-spec opened #23166 "Create backup instance, Azure Python Sdk: "Method not allowed""
After a lot of changing and figuring out, how to create a backup instance in Azure Python SDK via the Azure dataprotection management CLI I'm still running into the following error:

[code]

My Code to create the backup instance looks like the following:

[code]

The properties are fetched from a .yaml file in the repository. Backup.name and backup.resource_group define the name and resource group

[2022-02-22 12:11] azure-sdk commented on #23166
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.18298085,Service Bus:0.06008966,Event Hubs:0.03932615'

[2022-02-22 12:17] toby-coleman commented on #22384
Similarly I'd like to upgrade a package containing `azureml-pipeline-steps` to Python 3.9, and this has a dependency on `azureml-train-automl-client`. Any update on the timeline @bandsina @kristapratico ?

[2022-02-22 14:32] soffensive commented on #20877
Thanks for your answer. Yes I have tried this library as well, please look at the source code in the issue which is using this library.

The following snippet using msgraph-sdk-python-core will result in the error shown above:

[code]

[2022-02-22 15:55] toby-htx commented on #23158
Tried to deploy as a realtime endpoint but failed with same error...

[2022-02-22 16:47] xiangyan99 commented on #23048
From the log: ModuleNotFoundError: No module named 'devtools_testutils'.

Looks like you are missing some testing tools.

You can find them in https://github.com/Azure/azure-sdk-for-python/tree/main/tools/azure-devtools & https://github.com/Azure/azure-sdk-for-python/tree/main/tools/azure-sdk-tools

[2022-02-22 17:00] lmazuel commented on #22650
Closing as we don't plan to never release a new version of this package

[2022-02-22 17:00] #22650 closed

[2022-02-22 17:00] #22651 closed

[2022-02-22 17:02] lmazuel commented on #22634
Closing as we don't plan to never release a new version of this package

[2022-02-22 17:02] #22634 closed

[2022-02-22 17:02] lmazuel commented on #22608
Closing as we don't plan to never release a new version of this package

[2022-02-22 17:02] #22608 closed

[2022-02-22 17:02] #22606 closed

[2022-02-22 17:02] #22605 closed

[2022-02-22 17:03] lmazuel commented on #22604
Closing as we don't plan to never release a new version of this package

[2022-02-22 17:03] #22604 closed

[2022-02-22 17:03] lmazuel commented on #22602
Closing as we don't plan to never release a new version of this package

[2022-02-22 17:03] lmazuel commented on #22601
Closing as we don't plan to never release a new version of this package

[2022-02-22 17:03] #22601 closed

[2022-02-22 17:03] lmazuel commented on #22600
Closing as we don't plan to release a new version of this package

[2022-02-22 17:03] lmazuel commented on #22599
Closing as we don't plan to release a new version of this package

[2022-02-22 17:03] lmazuel commented on #22598
Closing as we don't plan to release a new version of this package

[2022-02-22 17:03] #22598 closed

[2022-02-22 17:04] lmazuel commented on #22597
Closing as we don't plan to release a new version of this package

[2022-02-22 17:04] lmazuel commented on #22655
Closing as we don't plan to release a new version of this package

[2022-02-22 17:04] #22655 closed

[2022-02-22 17:07] soffensive commented on #20877
The problem is not the Azure Graph RBAC library, I want to authenticate via CLI credentials to send MS Graph calls, using the library msgraph-sdk-python-core.

[2022-02-22 17:08] lmazuel commented on #22642
Closing as we don't plan to release a new version of this package

[2022-02-22 17:08] #22642 closed

[2022-02-22 17:15] swathipil commented on #22961
@benbp - That would be very helpful. Do you know where/how we would set the agent VM location to test this?

[2022-02-22 18:44] joshfree commented on #23138
Thanks for filing this @lmazuel. @xiangyan99 can you follow up with @heaths to ensure we fully understand the scope of this March 2022 KeyVault SDK change and also to determine how much testing is happening in the KV crew as part of this upcoming GA?

Since the KV and Identity GAs do not align, Identity changes will have to be in a patch-release for March that sim-ships with the March Beta-2 relea

[2022-02-22 18:47] xiangyan99 commented on #23138
Yes. We will ship 1.7.2 (patch) and 1.8.0b2 (beta) in March.

[2022-02-22 18:51] benbp commented on #22961
We would need to spin up a separate agent pool and then configure the test matrix entries to reference that pool. I'll start a conversation with you and @mikeharder.

[2022-02-22 20:11] heaths commented on #23138
.NET has supported passing the tenant ID from the challenge for several months now without issue. To my knowledge, no other language has mentioned any problems but may not be getting as much coverage. Multi-tenant auth support shipped in Azure.Identity 1.5.0 for .NET.

What specifically is the concern here w.r.t. other lanugages?

[2022-02-22 20:19] sadasant commented on #23138
JavaScript has also been supporting this for a while 🙂

[2022-02-22 20:21] xiangyan99 commented on #23138
@sadasant does JS work fine if caller calls get_token with tenant_id to a managed identity?

[2022-02-22 20:58] vizhur commented on #22441
env.register(ws)
env.build(ws)

register returns an instance you'd want to build

regenv= env.register(ws)
regenv.build(ws)

[2022-02-22 21:28] sadasant commented on #23138
I was mistaken!

@xiangyan99 I just tried it and the `ManagedIdentityCredential` does not throw or complain if a `tenantId` is specified on `getToken` calls. However it will also do nothing with this parameter: it’s just omitted.

I have added an issue to support it: https://github.com/Azure/azure-sdk-for-js/issues/20498

[2022-02-22 21:43] lmazuel commented on #9676
See https://github.com/Azure/azure-sdk/issues/3959

[2022-02-22 22:08] lmazuel commented on #16240
Feels deprecated and not the right repo. @rakshith91 if this is still a problem, please create an issue to https://github.com/Azure/azure-sdk-tools and assign it to @tjprescott

[2022-02-22 22:08] #16240 closed

[2022-02-22 22:17] lmazuel commented on #10595
Hi @estensen , we made a lot of progress on changelog and organization since 2020. Everything is changelog.md now for instance. Could you give it a retry and tell us if the current experience is acceptable?
Thanks,

[2022-02-22 22:20] lmazuel commented on #14771
I believe it's fixed today

[2022-02-22 22:20] #14771 closed

[2022-02-22 22:34] simorenoh opened #23169 "[Cosmos] move `is_system_key` logic to be computed only once on container usage"
A user reported the fact that the async client couldn't properly deal with single partition queries since the result of the call to `is_system_key` was not being awaited properly. Due to this, we have a mitigation, but it is not ideal: https://github.com/Azure/azure-sdk-for-python/pull/22893

We are currently awaiting the result of this network call once for every query being executed with a parti

[2022-02-22 22:38] simorenoh commented on #22479
Closed with merge of this PR: https://github.com/Azure/azure-sdk-for-python/pull/22792

[2022-02-22 22:38] #22479 closed

[2022-02-22 22:43] lmazuel opened #23170 "[pylint] Issue's related to the custom pylint checkers"

[2022-02-22 22:43] azure-sdk commented on #23170
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Stream Analytics:0.17782584,Service Bus:0.15358351,Storage:0.13925494'

[2022-02-22 22:44] azure-sdk commented on #23170
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Stream Analytics:0.17782584,Service Bus:0.15358351,Storage:0.13925494'

[2022-02-22 23:59] swathipil commented on #22051
also fix incorrectly rendering docs here: https://docs.microsoft.com/en-us/python/api/azure-servicebus/azure.servicebus.servicebussender?view=azure-python#azure-servicebus-servicebussender-send-messages

[2022-02-23 01:34] jalauzon-msft commented on #23159
Hi @AWendland-CryptoCompare Alex, you are correct that this API is not well documented from the client, and it is also a bit picky. This service documentation is a good reference for what is/is not supported.
https://docs.microsoft.com/en-us/azure/storage/blobs/query-acceleration-sql-reference

I was able to get `AS` to work with column names so I believe that is supported. The service seems to be

[2022-02-23 01:50] jalauzon-msft commented on #23163
Hi @JeffreyCA, thanks for reporting this. We will look into it and get back to you.

[2022-02-23 06:15] yangchengs opened #23174 "Issue of container level find_blobs_by_tags"
- **Package Name**: azure.blob.storage
- **Package Version**: 12.9.0
- **Operating System**: Windows
- **Python Version**:  3.8

**Describe the bug**
One cx wants to call find_blobs_by_tags only for a container in storage account and he does not want to use account sas token because he wants to protect other containers in an account. I found several issues here:

**Sample code 1:**
1. The url cann

[2022-02-23 06:30] kazrael2119 commented on #18905
Hi @csotomon ,you can try to use
[code]
instead of
[code]

[2022-02-23 08:02] #21935 closed

[2022-02-23 08:09] victorsalesa opened #23175 "[Cost Management] [API Management] Azure Cost Management Package just throws first 1000 lines and not managing the paging from the cost management rest api"
- **Package Name**: azure-mgmt-costmanagement
- **Package Version**: 3.0.0
- **Operating System**: Windows
- **Python Version**: 3.9.6

**Describe the bug**
When you call the Usage method in python: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/costmanagement/azure-mgmt-costmanagement/azure/mgmt/costmanagement/operations/_query_operations.py
that is related to this REST api endpoint

[2022-02-23 08:09] azure-sdk commented on #23175
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.1822567,Cosmos:0.06052991,API Management:0.02198743'

[2022-02-23 08:42] AWendland-CryptoCompare commented on #23159
Hi @jalauzon-msft Jacob, thank you for looking into this.

The documentation there is very helpful. Could this be linked to the documentation for the [query_blob](https://docs.microsoft.com/en-us/python/api/azure-storage-blob/azure.storage.blob.blobclient?view=azure-python#azure-storage-blob-blobclient-query-blob) function?

Sorry about my poor knowledge of SQL, I believe when I tried as previousl

[2022-02-23 15:16] simorenoh commented on #23161
hi @petergaultney, I'll be taking a look at this and updating this issue as I progress, thank you for using our sdk!

[2022-02-23 17:32] lmazuel commented on #22961
If you can't have it in China (different permissions level from the US), there are many location in south korea, india, east asia,that might be able to simplify your scenario (just saying if it helps)

[2022-02-23 17:58] annatisch commented on #23158
Thanks @toby-htx!
Sorry for the delayed response - I'm tagging this for the ML team to take a look :)

[2022-02-23 18:08] annatisch commented on #23175
Thanks @victorsalesa, you're correct - it does not look like this operation has been identified as pageable in the specification that is used to generate the SDK:
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/costmanagement.json#L950

I have tagged the Cost Management team to hopefully get this reso

[2022-02-23 18:13] annatisch commented on #23174
Thanks @yangchengs - the container-level find blobs by tags API has been introduced in the latest beta release: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-blob/CHANGELOG.md#features-added
It would great if you could try out the beta to see if the new feature helps.

The Storage team has been tagged and will help diagnose the auth issues asap :)

[2022-02-23 18:20] annatisch commented on #23160
Thanks for finding and reporting this issue @dmartin-r7!
We really appreciate your time :)

@msyyc would you be able to take a look and confirm whether this is a bug in the swagger spec that needs to be addressed?

[2022-02-23 18:30] annatisch commented on #23166
Thanks so much @Leon1201-spec for taking the time to report this!

I have tagged the appropriate team to help diagnose this issue ASAP :)

[2022-02-23 18:31] danieljurek commented on #18459
Several redirects have been identified that belong in the conceptual repo:

[code]

There are also a couple entries in our docfx.json file for a `docs-ref-conceptual` folder which does not exist:

A [content entry](https://github.com/MicrosoftDocs/azure-docs-sdk-python/blob/main/docfx.json#L44):
[code]

And a [reference entry](https://github.com/MicrosoftDocs/azure-docs-sdk-python/blob/main/docfx.

[2022-02-23 18:46] mikeharder commented on #22961
Our SDK and tests should be reliable even if the client and service are in distant regions.  If we are seeing test failures in distant regions, to me this seems like a bug in either the SDK or the tests that should be investigated and fixed.  Moving the client to a closer region might hide a real issue that needs to be fixed.

[2022-02-23 18:52] Leon1201-spec commented on #23166
Thank you, for your help. I noticed that the backup_instance_name needs to be defined as a string without any extra signs. I'm sorry for the extra work.

[2022-02-23 18:52] #23166 closed

[2022-02-23 22:02] #22727 closed

[2022-02-23 22:07] heaths commented on #23138
In strongly-typed languages, we can only [pass (set) the tenant ID](https://github.com/Azure/azure-sdk-for-net/blob/9b187cab65418b15d74304ef93ce1ba529a38d93/sdk/keyvault/Azure.Security.KeyVault.Shared/src/ChallengeBasedAuthenticationPolicy.cs#L51) where it's defined. Azure.Identity [abstracts](https://github.com/Azure/azure-sdk-for-net/blob/9b187cab65418b15d74304ef93ce1ba529a38d93/sdk/core/Azure.C

[2022-02-23 22:51] jalauzon-msft commented on #20478
It looks like this was addressed by #20559 and is part of our latest two beta releases. This fix will part of our GA release, 12.7.0, which is targeted for early March.

[2022-02-23 22:51] #20478 closed

[2022-02-23 23:06] jalauzon-msft commented on #21870
Hi @blawrence-datadx, the SDK does have built-in retry logic that should be automatically retrying connection reset errors (with the exception of a potential known issue with `download_blob()`). We apply the following policy to all clients by default:
https://github.com/Azure/azure-sdk-for-python/blob/835adb397badbf4ac08c3bb8fffcb24abb075ded/sdk/storage/azure-storage-blob/azure/storage/blob/_share

[2022-02-23 23:24] rakshith91 commented on #23029
@lzchen can you take a look at this?

[2022-02-23 23:29] lzchen commented on #23029
@Liubaituo
Opencensus python sdk does not support sending data to live metrics.

[2022-02-24 00:02] yangchengs commented on #23174
@annatisch thanks, let me test the beta version, the f permission may be fixed as well in this release :).

[2022-02-24 00:18] chlowell commented on #22846
In offline discussion we decided to raise this with the arch board and in the meantime align on consistent behavior. When configured for a user assigned identity on a platform that doesn't support them (Arc, Cloud Shell, Service Fabric), ManagedIdentityCredential should:
1. log a warning that user assigned managed identities aren't supported in this environment
2. add a query parameter to the toke

[2022-02-24 00:21] catalinaperalta commented on #22379
@v-xuto sorry for the delay, the US Gov containers look complete to me now. I've been trying to upload blobs to the China cloud containers but I'm having access issues, I'll talk to Ben about it. If you already have access to both the `USGov` and `China` cloud accounts you could start copying the blobs from USGov to the China cloud containers.

[2022-02-24 00:41] yangchengs commented on #23174
@annatisch do you know where is the source code of the branch for 12.10.0b3?

[2022-02-24 00:52] jalauzon-msft commented on #23163
Hi again @JeffreyCA, I have tried out your sample with an Azure CDN configured on a Storage Account and was not able to reproduce the auth error. Both the `BlobClient` and `ContainerClient` method worked as expected with no errors. I tried a couple different combinations of how the container was initially created, etc.

Is this a consistent or intermittent? Is there anything special (outside of de

[2022-02-24 01:21] catalinaperalta commented on #20855
Added in referenced PRs.

[2022-02-24 01:21] #20855 closed

[2022-02-24 03:06] JeffreyCA commented on #23163
Yes I managed to save one request: d81ed268-301e-0068-63f7-263995000000

[code]

[2022-02-24 05:50] xboxeer opened #23183 "[Sample]Update Sample code Python KeyVault"
https://github.com/Azure-Samples/key-vault-python-network-acl
Update to T2 Python SDK

[2022-02-24 05:54] xboxeer opened #23184 "[Sample Update]Managing storage account keys in Azure Key Vault using the Azure Python SDK"
https://github.com/Azure-Samples/key-vault-python-storage-accounts
Update sample python sdk version to T2

[2022-02-24 06:00] xboxeer opened #23185 "[Sample Update]Encryption of Blobs using Key Vault Python SDK"
https://github.com/Azure/azure-sdk-for-python/issues/23184
Update python package to T2

[2022-02-24 07:05] xboxeer opened #23186 "[Sample Update]Authentication samples for Azure Key Vault using the Azure Python SDK"
https://github.com/Azure-Samples/key-vault-python-authentication
Update SDK Version to T2

[2022-02-24 07:27] mkrdip opened #23187 "Unable to Install Azure CLI ML Extension"
- **Package Name**: azure-cli-ml
- **Package Version**:
- **Operating System**: macOS
- **Python Version**: 3.10

**Describe the bug**
Unable to install Azure ML CLI extension on macOS with M1.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Azure CLI as described here: [Install Azure CLI on macOS](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos)
2. Try installing

[2022-02-24 07:27] azure-sdk commented on #23187
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.36900964,Extensions:0.34820312,Azure.Identity:0.030937294'

[2022-02-24 09:01] aticie opened #23191 "[ServiceBus] Queue receiver LinkDetach with UnknownError does not retry"
- **Package Name**: azure-servicebus
- **Package Version**: 7.6.0
- **Operating System**: Linux (Docker python:3.9.10-slim)
- **Python Version**: 3.9.10

**Describe the bug**
[code]

**To Reproduce**
Use this code:
[code]
The script waits at the 3rd line: `async for message in receiver:`. Sometime later, it might produce this error. I don't know how to reproduce this error as it happens in product

[2022-02-24 09:26] zedy-wj commented on #22379
@catalinaperalta - We have access to both the `UsGov `and `China` cloud accounts, and we have uploaded the blobs in `China` cloud. We've tried all the tests locally and pass.

But UsGov and China's tests in the pipeline always fail. It's the latest result in pipeline, you can get the details at [here ](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1384698&view=results).

Error de

[2022-02-24 18:08] lmazuel opened #23196 "aiohttp transport must NOT pass loop if value is None"
This line is wrong:
https://github.com/Azure/azure-sdk-for-python/blob/486becad35bfcf4b8a411e4c5eed31223ccb751a/sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py#L101

aiohttp has deprecated `loop`, and removed it from their "master" branch already. If the loop is None, we should not pass the value. I would suggest to build a kwargs dict, and pass it as `**kwargs` to handle the conditi

[2022-02-24 18:08] lmazuel commented on #23007
Hi @Miroslaw94

I do see `loop` in the init of 3.8.1 aiohttp:
https://github.com/aio-libs/aiohttp/blob/v3.8.1/aiohttp/client.py#L201

But I agree `loop` is deprecated, so this is a ticking bomb, and our code is not ready for that. It has even been removed from Python itself starting 3.10. I created a bug for that one:
https://github.com/Azure/azure-sdk-for-python/issues/23196

But again, this shou

[2022-02-24 18:51] jalauzon-msft opened #23198 "[Storage] Investigate SDK/OAuth support in non-public clouds"

[2022-02-24 19:20] kristapratico opened #23199 "[ACR] patch misspelled property to work with stable version"
@YalinLi0312 sorry I didn't realize that ACR was already GA/stable. In this case, we should fix `RepositoryProperties`'s property `last_updated_on` to work with both the correctly spelled word and _still_ work for the misspelled one as to not introduce a breaking change in a stable package.

Some pseudo-code of how we can do this dynamically and let users specify either spelling:

[code]

This way

[2022-02-24 19:37] jalauzon-msft commented on #23131
HI @bbl Bogdan, thanks for investigating this and providing the steps to reproduce. I was able to reproduce this error with your example (on Linux but not Windows). I think a valid fix would be just to catch `OSError` in `get_length()` to support this scenario.

I will create a PR for this soon and try and get this into our March release of 12.10.0.

[2022-02-24 19:44] annatisch commented on #23199
Thanks @kristapratico!

[2022-02-24 19:52] scbedd opened #23200 "seed failed due to failing to download wheels setuptools, pip"
Seeing intermittent [failures](https://dev.azure.com/azure-sdk/public/_build/results?buildId=1391297&view=logs&jobId=c7500c44-708b-56ec-f52b-02af33ea1457&j=c7500c44-708b-56ec-f52b-02af33ea1457&t=1b4dcb96-064e-59e6-e8aa-516f7e272f34)

This has to do with the fact that creation of the venv is downloading a specific pip version, then failing during download.

[2022-02-24 21:38] annatisch commented on #23020
I've done some initial testing here.
Our Python SDK design is slightly different to the .NET/Java SDK designs where prefetch is achieved via a background thread.
In the Python single-threaded design, extra messages can be received outside the context of the `receive_messages` call in the following circumstances:
- The link credit on the link is set according to the `max_message_count` value.
- Not

[2022-02-24 21:40] sadasant opened #23203 "[Identity] Add `allow_logging_account_identifiers` to the credential options"
This is a copy of the same issue in JS: https://github.com/Azure/azure-sdk-for-js/issues/20502

Draft PR in JS: https://github.com/Azure/azure-sdk-for-js/pull/20516

---

While investigating what sensitive logging to add to our credentials, we have determined that the most useful information we could log are the account identifiers after retrieving a token. This issue describes a flexible approach

[2022-02-24 21:50] scbedd opened #23204 "template package failing build"
[example failure](https://dev.azure.com/azure-sdk/public/_build/results?buildId=1388624&view=logs&j=4fa73ede-de59-50b0-851d-db96582ea108&t=509466f3-c56a-5675-22ae-c0eca5c09942)

This is most likely due to some conflict between the installed `packaging` and `pypy37`, but we will see.

[2022-02-24 22:07] #23112 closed

[2022-02-24 22:11] #23111 closed

[2022-02-24 22:16] lmazuel commented on #23199
If the property is writable, we must do a `__setattr__` as well

[2022-02-24 22:38] rakshith91 commented on #22962
@lukipro Would you be able to share the stack trace? Also, it'd be great if you can share the log by enabling it

[2022-02-24 23:20] jalauzon-msft commented on #16761
I wanted to provide a final update to this issue by saying that I have confirmed with the service team that specifying the `privatelink` endpoint (i.e. `https://[ommitted].privatelink.dfs.core.windows.net/`) directly when connecting to Storage is not a supported scenario. PrivateLinks are intended to be handled by DNS.

[The documentation](https://docs.microsoft.com/en-us/azure/storage/common/stor

[2022-02-24 23:20] #16761 closed

[2022-02-24 23:24] annatisch commented on #23187
Thanks for the report @mkrdip!
Unfortunately it looks like this issue is more related to the CLI rather than the underlying Azure SDK.
I would recommend opening your issue at the Azure CLI repo where they should be able to assist:
https://github.com/Azure/azure-cli

I'll close this issue for now - but if during debugging you find any errors being triggered from the SDK underneath, please reopen th

[2022-02-24 23:24] #23187 closed

[2022-02-24 23:31] scbedd commented on #22019
Additional fix commited by Krista [here](https://github.com/Azure/azure-sdk-for-python/pull/23132). Closing.

[2022-02-24 23:31] #22019 closed

[2022-02-24 23:33] scbedd commented on #23133
Resolved in #23132

[2022-02-24 23:33] #23133 closed

[2022-02-24 23:37] annatisch commented on #23191
Thanks so much for the report @aticie!
We will investigate asap and revisit the current retry policy with regards to this kind of error, and follow up with any info regarding repro or our findings. :)

[2022-02-24 23:56] scbedd commented on #21809
We now handle this in the python side by raising for status when getting back the 404. It's visible. Closing this issue!

[2022-02-24 23:56] #21809 closed

[2022-02-24 23:59] catalinaperalta opened #23207 "[pylint] Update guidelines url in pylint custom plugin tests"
Tests are failing since the URL doesnt exist.

[2022-02-25 00:07] catalinaperalta opened #23208 "[pylint] Consider adding a dev_requirements.txt for pylint custom plugins"
Pylint version should be minimum: `2.5.2`

[2022-02-25 00:39] kristapratico commented on #23207
For each test failing, the corresponding URL should be updated in the error message raised from the custom lint rule.

[2022-02-25 00:44] kristapratico opened #23210 "[pylint] set up CI pipeline for pylint custom checker tests"
The custom pylint checkers have unit tests, but these currently don't run on PRs which touch the linter code. We should set up a minimal pipeline that will run the tests in [test_pylint_custom_plugins.py](https://github.com/Azure/azure-sdk-for-python/blob/main/scripts/pylint_custom_plugin/tests/test_pylint_custom_plugins.py) on any PR that creates/edits the custom checkers. This will ensure that w

[2022-02-25 00:50] scbedd commented on #22569
@msyyc The document they're referring to on [pypi ](https://pypi.org/project/azure-servicefabric/) is powered by the readme associated with your package here: https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/servicefabric/azure-mgmt-servicefabric.

The request is to update the readme with more useful links. The package mentioned above was last published december 2021, and the readme was

[2022-02-25 07:22] andrea-cassioli-maersk opened #23217 "ServiceBus timeout exception type"
- **Package Name**: service-bus
- **Package Version**: 7.3.3
- **Operating System**: Linux
- **Python Version**: 3.9

**Describe the bug**
Due to authorization timeout in amqp layer, we got an exception like

[code]

however, in other context a `Timeout` from amqp is mapped to OperationTimeoutError

https://github.com/Azure/azure-sdk-for-python/blob/f68dd959a659579d299177195ea846b01aa16dc2/sdk/ser

[2022-02-25 07:33] andrea-cassioli-maersk commented on #23217
Sorry, I have not realised that the exception is actually caught and does not bubble up to the caller.

[2022-02-25 07:33] #23217 closed

[2022-02-25 07:50] andrea-cassioli-maersk opened #23218 "Servicebus logs exception also when only retrying"
- **Package Name**: servicebus
- **Package Version**: 7.3.3
- **Operating System**: linux
- **Python Version**: 3.9

**Describe the bug**
Not really a bug but I have noticed the following: we got an exception like

[code]

digging into the code, in my understanding this exception is logged here

https://github.com/Azure/azure-sdk-for-python/blob/f68dd959a659579d299177195ea846b01aa16dc2/sdk/service

[2022-02-25 08:02] #22862 closed

[2022-02-25 08:07] odidev commented on #23048
@xiangyan99, Thank you for the information.

As per your instructions, I installed azure-sdk-for-python, azure-devtools and azure-mgmt-kusto and after that I was able to run the tests.

Got 1 skipped and 1 warning on x86 as well as arm64. Attaching the logs.

Test output at x86_64 (success):[test_azure-sdk-for-python_x86_with_py38(success).txt.txt](https://github.com/Azure/azure-sdk-for-python/fil

[2022-02-25 08:29] gmotasilva commented on #19753
Is there any update on that? Any workaround? I'm having this errors intermittently.

[2022-02-25 08:36] odidev commented on #23048
@xiangyan99, Thank you for the information.

As per your instructions, I installed azure-sdk-for-python, azure-devtools and azure-mgmt-kusto and after that I was able to run the tests.

Got 1 skipped and 1 warning on x86 as well as arm64. Attaching the logs.

Test_output at x86_64 (skipped): [test_azure-mgmt-kusto_x86_with_py38(success).txt.txt](https://github.com/Azure/azure-sdk-for-python/files/

[2022-02-25 09:41] Stael commented on #21849
Hello @yunhaoling

 Here is the implementation I went for (`azure-eventhub==5.7.0`) :

[code]

Unfortunately no impact.

Here are two examples :
- This [one](https://www.dropbox.com/s/or0ivjarei240nh/send-ko.png?dl=0) fails and hangs until the function times out
- This [one](https://www.dropbox.com/s/cupys6bgicsh7wd/send-ok.png?dl=0) succeeds in sending the data, but requires ~ 1.500 ms which is u

[2022-02-25 10:25] v-xuto opened #23219 "Cosmos DB samples issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/cosmos/azure-cosmos/samples/index_management_async.py#L373):
![image](https://user-images.githubusercontent.com/57166602/155697660-ce326aed-99f2-409f-a985-ce65d3f36a38.png)

Reason:
TypeError: object AsyncItemPaged can't be used in 'await' expression.

Suggestion:
Delete the `await`.

@jameszliao-msft , @lmazuel , @kyle-

[2022-02-25 10:29] v-xuto opened #23220 "Anomaly Detector Readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/anomalydetector/azure-ai-anomalydetector/samples/README.md):
![image](https://user-images.githubusercontent.com/57166602/155699408-7b1fd8a2-3074-45eb-961d-d32c782c327f.png)

Suggestion:
Add link: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/anomalydetector/azure-ai-anomalydetector/samples/sample_multivaria

[2022-02-25 16:41] xiangyan99 commented on #23048
@odidev Thanks for your updates. It looks to me you have set up your tests correctly.

[2022-02-25 16:53] #23138 closed

[2022-02-25 17:06] #23139 closed

[2022-02-25 17:30] simorenoh commented on #23219
Closed with PR: https://github.com/Azure/azure-sdk-for-python/pull/23221

[2022-02-25 17:30] #23219 closed

[2022-02-25 18:06] amnguye opened #23222 "[QUERY] Check if AccessPolicy is accepted as an empty parameter from BlobContainer GetAccessPolicy"
In .NET we faced a bug due to unclear [documentation ](https://docs.microsoft.com/en-us/rest/api/storageservices/set-container-acl#request-body) where the if the CX specified an empty AccessPolicy on the BlobContainerClient and then went to grab the AccessPolicy information, they would get a Null Exception because we except the service to always give us back an access policy, if an id is specified

[2022-02-25 19:48] catalinaperalta commented on #22379
@zedy-wj - Thanks for uploading the blobs to the `China` cloud account. I triggered a build yesterday and have been looking through the results. I'm not seeing errors related to missing files anymore in the storage accounts. I also just checked again and saw that @v-xuto triggered a couple of builds yesterday and US Gov passed, as well as several environments in the China cloud. The containers for

[2022-02-25 22:22] #21125 closed

[2022-02-25 23:13] swathipil commented on #22961
Thanks @mikeharder! Will continue digging into the tests to see if there's a best way to fix this.

[2022-02-26 00:28] swathipil commented on #22529
Hey @Vprashant - we were able to fix this issue in the following PR: https://github.com/Azure/azure-uamqp-python/pull/310

This will fix will be out in the next `uamqp` release and the `uamqp` dependency version will be bumped for the next `azure-servicebus` release. To avoid waiting for the `azure-servicebus` release, you can install `uamqp==1.5.2` after it is released.

More details if you're in

[2022-02-26 00:48] catalinaperalta opened #23227 "[formrecognizer] Get daily pipeline more consistently green"
There has been a lot of flakiness when testing, mainly related to downloading images or accessing the Azure Storage Blob accounts. Consider adding a sleep time during live tests.

[2022-02-26 00:51] jalauzon-msft commented on #23222
It does not look like this is an issue in Python. I created a test that set a `SignedIndetifier` with an `id` and the `AccessPolicy` set to `None` and then fetched it with `get_container_access_policy()` and it came back as expected with the same id and `None`.

I also verified the generated `SignedIndetifier` class only requires an `id` and we do not expose a non-generated model class for signed

[2022-02-26 00:51] #23222 closed

[2022-02-26 14:09] Santhoshkumard11 commented on #23220
I can fix this!

[2022-02-27 08:02] #16166 closed

[2022-02-27 16:58] Vprashant commented on #22529
issue-addressed

[2022-02-27 22:36] annatisch commented on #23218
Thanks @andrea-cassioli-maersk for reporting this!
We will dig a bit deeper and see if we can revisit the error retry logging level :)

[2022-02-28 03:22] v-xuto commented on #20517
@rakshith91 Do you have any ideas instead of modifying the resource_testcase.py file?

[2022-02-28 03:25] Wzb123456789 commented on #23160
Hi, @dmartin-r7  Thanks for your feedback

SDK is generated by swagger;

In the preview of the 2018-07-01 version, the parameters are normally defined;
fyi: https://github.com/Azure/azure-rest-api-specs/blob/bb4175d29020cfff55f1d9087c2a5a89765067dc/specification/logic/resource-manager/Microsoft.Logic/preview/2018-07-01-preview/logic.json#L242-L283

Parameters are missing in the stable version of 2

[2022-02-28 05:45] rakshith91 commented on #20517
@v-xuto im currently working on getting rid of it completely and using the arm template. That will fix this issue. It should be done in a couple of weeks. Sorry for the late update.

[2022-02-28 07:31] msyyc commented on #22569
Hi @scbedd , I think using `update_pr` is good idea. But we need to very careful to avoid break current flow.^^

[2022-02-28 10:30] DhavalShewale commented on #22917
Any updates on this?

[2022-02-28 11:44] cbailiss opened #23232 "connection_timeout causing timeout in blob client upload_blob()"
**Package and Versions**
- azure.storage.blob:
- Debian GNU/Linux 11 (bullseye):
- 3.9.2 (default, Feb 28 2021, 17:03:44)

**Packages*
Package            Version
------------------ ---------
azure-core         1.22.1
azure-storage-blob 12.9.0
certifi            2021.10.8
cffi               1.15.0
charset-normalizer 2.0.12
cryptography       36.0.1
idna               3.3
isodate            0.6.1
ms

[2022-02-28 11:48] cbailiss commented on #23232
I've seen that there is a tiny doc entry for this at:
https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/storage/azure-storage-blob#other-client--per-operation-configuration
The tiny entry is listed under "Optional Configuration" and doesn't explain well what this setting does.

[2022-02-28 11:49] cbailiss commented on #23232
Also, the default value for this setting seems poorly chosen.  If I can't upload a 50MB file in 40 seconds (i.e. roughly 1MB/second) then that suggests the default value is poorly chosen or the implementation is broken.

[2022-02-28 12:09] OTDani commented on #22823
We are waiting on @ccmbpxpcrew
Please let me know what is the information you need from me?

[2022-02-28 12:37] Srkshaikh5 opened #23233 "Less Information on How to use Config"
[Enter feedback here]
I want to use ProfanityOption in speech to text but there is no code example is given only the parameter name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec25627d-5ad1-de7c-9682-fd57f5ce0243
* Version Independent ID: 46120212-86f0-b744-d329-ce3c0849cbd3
* Content: [azure.cognitiveservices.spee

[2022-02-28 14:57] lilumdaru opened #23234 "Old command for role assignment in documentation?"
Hi,
I'm trying to authentificate as described here: https://docs.microsoft.com/en-us/python/api/overview/azure/digitaltwins-core-readme?view=azure-python#authentication-permission

When executing

`az dt rbac assign-role --assignee '<user-email | application-id>' --role owner -n '<your-digital-twins-instance>'
`
I get:

`'rbac' is misspelled or not recognized by the system.
`
did the cli command c

[2022-02-28 15:34] estensen commented on #10595
hi @lmazuel, I haven't worked with this SDK for a while, and probably won't for the foreseeable future. Feel free to close this if you consider it solved.

[2022-02-28 16:22] Danferno opened #23235 "query_filter is not explained"
The method query_entities should link to documentation on how to construct a query_filter. At the moment it simply says `Specify a filter to return certain entities` which says very little in my opinion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3f0fbc3-700d-812f-1cc7-dbac5c748a9b
* Version Independent ID: a53bc3

[2022-02-28 18:02] annatisch commented on #23235
Thanks for the feedback @Danferno!
We have more details on this in the Samples directory here:
https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/tables/azure-data-tables/samples#writing-filters

However I agree that if you didn't know to look there it would be hard to find. I will look at linking to this information from the SDK reference docs!

[2022-02-28 18:08] gfranxman opened #23236 "AppConfigurationClient can not retrieve individual settings"
- **Package Name**: azure-appconfiguration
- **Package Version**: 1.3.0
- **Operating System**: Linux (Databricks)
- **Python Version**:  3.8

**Describe the bug**
AppConfigurationClient can not retrieve individual settings, but can retrieve them in bulk.

**To Reproduce**
Steps to reproduce the behavior:
1. `from azure.appconfiguration import AzureAppConfigurationClient`
2. `app_config_client = A

[2022-02-28 18:23] #21143 closed

[2022-02-28 19:09] #22898 closed

[2022-02-28 19:26] yunhaoling commented on #21142
after improvement

sending:
![image](https://user-images.githubusercontent.com/47871814/156045862-9ea8ea75-3ba5-4843-ac56-261e895648f3.png)

receiving:
![image](https://user-images.githubusercontent.com/47871814/156045893-60e1fb22-53fc-4c81-850c-f4dbabc364a8.png)
![image](https://user-images.githubusercontent.com/47871814/156045904-3c7d6b23-8575-4548-87ed-e9b55f513eb9.png)

[2022-02-28 20:19] #22534 closed

[2022-02-28 20:49] annatisch commented on #21953
Hi @stevenzhao82 - I do apologize for the delay in this!
I have opened an initial PR here #23240.
I will keep testing this and we can hopefully get this patch merged in to our March release.

@YalinLi0312 could you please help test and review?

[2022-02-28 20:51] annatisch commented on #23235
I've opened a PR (#23240) to get these docs updated, which we'll hopefully get into our March release :)

[2022-02-28 21:25] rakshith91 commented on #21135
Findings are here https://gist.github.com/rakshith91/70a4e22a5866b4efac8b91b504d736df

[2022-02-28 21:25] yunhaoling commented on #21849
hey @Stael , thanks for the updates and sharing me with your complete code.

I sincerely feel sorry about your bad experience, and I admit it's our fault that we didn't run enough test against the scenarios when the Event Hub SDK is integrated with Azure Function.

I have prioritized this issue and working on it now, making changes to the underlying dependency library uamqp where I believe the stu

[2022-02-28 22:11] jalauzon-msft commented on #22072
Closing due to lack of activity. Please re-open if you still have questions. Thanks

[2022-02-28 22:11] #22072 closed

[2022-02-28 22:18] stevenzhao82 commented on #21953
Hi @annatisch,

No worries. Thank you very much for the update!

Best regards.

[2022-02-28 22:27] jalauzon-msft commented on #23163
Hi @JeffreyCA Jeffery, unfortunately the service logs for this request have rolled over (I did check soon after you provided it). Are you able to reproduce the issue again and provide another request id? Thanks

[2022-02-28 22:32] mccoyp opened #23243 "[EngSys] Audit existing references to `azure_devtools` in `devtools_testutils`"
Moving forward, we'd like to consolidate our test tooling into one library: `devtools_testutils`. The `azure_devtools` library should be removed from the repo when possible, but we need to first move over any code from the library that's still used today -- for example, `devtools_testutils`'s `mgmt_testase.py` [imports seven classes](https://github.com/Azure/azure-sdk-for-python/blob/main/tools/az

[2022-02-28 22:43] yunhaoling commented on #23232
hey @cbailiss , thanks for reaching out. We'll investigate it asap.

[2022-02-28 22:44] danieljurek commented on #22569
Where are the code samples that we want to link?

If I'm reading correctly the scenario here is:

1. Land on PyPI page and click on the link for examples:
![image](https://user-images.githubusercontent.com/2158838/156069766-1ca024ab-5b1c-4c23-8f72-a0d652d4f093.png)

2. Arrive at Service Fabric's "Service-Level Overview" page:
![image](https://user-images.githubusercontent.com/2158838/156069825-105

[2022-02-28 22:58] yunhaoling commented on #23233
thanks @Srkshaikh5 for your feedback and yes, we should definitely improve the doc experience. The team working on the cognitiveservice.speech SDK should be able to help with it.

[2022-02-28 23:01] yunhaoling commented on #23234
thanks @lilumdaru for reaching out, we'll investigate it ASAP.

[2022-02-28 23:04] yunhaoling commented on #23236
thanks @gfranxman for reaching out, we'll investigate into it ASAP.

[2022-02-28 23:17] xiangyan99 commented on #23236
@gfranxman Thanks for reaching out. Did you have a chance to check if those configuration settings have labels?

When you use get_configuration_setting(key="sth"), you are looking for the setting with key = "sth" and no label. If the setting has
key = "sth" and label = "some label", you cannot get a successful match.

[2022-02-28 23:40] gfranxman commented on #23236
Wow.    I can confirm: No settings can be retrieved by key, unless the label is also passed.

Why?  Is that not a bug?

[2022-02-28 23:42] scbedd opened #23244 "Update PyPI Publishing"
Generate new token and use.

[2022-03-01 00:22] jalauzon-msft commented on #23159
Hi @AWendland-CryptoCompare Alex, I've heard back from our service team and have some updates.

It looks like using `AS` to rename columns in not officially supported. It does seem to work in some cases but that is not an intended feature. You could either provide the column names in your file as a header and use the `has_header=True` parameter to have them read in or you can rename them after the

[2022-03-01 00:54] amishra-dev commented on #19755
@tasherif-msft what is the latest on this?

[2022-03-01 00:54] amishra-dev commented on #19753
@jalauzon-msft Jacob was working on this. Jacob can you please post an update here?

[2022-03-01 00:55] amishra-dev commented on #17301
Was this merged @tasherif-msft/ @jalauzon-msft ?

[2022-03-01 01:03] jerrychenhf opened #23245 "DefaultAzureCredential doesn't authenticate even CLI login successfully"
- **Package Name**:
azure-identity
- **Package Version**:
1.7.0
- **Operating System**:
Ubuntu 18.04 LTS
- **Python Version**:
Python 3.7

**Describe the bug**
After used az login successfully, the program uses DefaultAzureCredential to authenticate the token but throw the following exception:

azure.core.exceptions.ClientAuthenticationError: DefaultAzureCredential failed to retrieve a token from

[2022-03-01 02:08] mikeharder commented on #19755
@tasherif-msft: Is adding `list_blob_names` back to the SDK still under consideration?

[2022-03-01 04:27] jwxd opened #23248 "how to specify `scopes` and retrieve TokenCredential"
Hi team,
I'm trying to migrate our service from using deprecated [msrestazure](https://github.com/Azure/msrestazure-for-python/blob/698eb06bcbf9fda4c7ae04d929f7b5b955fcbfed/msrestazure/azure_active_directory.py#L557) to Azure-identity.
I'm trying to figure out how to use the `scopes` parameter in the Credential.
For example, I'm trying to use azure-identity for getting secrets from azure keyvault:

[2022-03-01 07:20] JeffreyCA commented on #23163
No I'm not able to reproduce it anymore

[2022-03-01 08:57] Danferno commented on #23235
Thanks! If I could make one more request: on the [samples page](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/tables/azure-data-tables/samples#writing-filters), could you perhaps add a bit more explanation on the use of quotes? In particular that in a string comparison, the string to compare to should be enclosed in complementary quotes if it is provided literally. It suppose it make

[2022-03-01 09:08] KarishmaGhiya opened #23249 "[Identity] Getting a token via VisualStudioCodeCredential using v0.10.0 of the Azure Account Extension results in an error"
Name of the cache where the token is stored has [changed from version 0.9.11 to 0.10.0 for Azure Account extension for VS Code](https://github.com/microsoft/vscode-azure-account/issues/443#issuecomment-1048018144). As a result of this the Visual Studio Code Credential throws an error/ exception in JS with the following message because the cache with that name is not found
![image](https://user-ima

[2022-03-01 10:02] #22737 closed

[2022-03-01 10:02] #22243 closed

[2022-03-01 10:02] #21449 closed

[2022-03-01 10:58] AWendland-CryptoCompare commented on #23159
Hi @jalauzon-msft Jacob, thank you for looking into this. It is really helpful to know all this.

The only thing would be for this information to be more discoverable, as I previously mentioned linking it to the query_blob function in the [documentation](https://docs.microsoft.com/en-us/python/api/azure-storage-blob/azure.storage.blob.blobclient?view=azure-python#azure-storage-blob-blobclient-quer

[2022-03-01 10:58] #23159 closed

[2022-03-01 14:01] Ellebaek opened #23252 "Key vault authentication error retrieving first secret"
From an Azure Data Science Virtual Machine I'm able to retrieve secrets from my key vault, but retrieving the first secret always produces an 401 authentication error in the key vault log. Very confusing, since the Python script seems to run flawless and no exception reaches the Python environment.

### Example from log:
{ "time": "2022-03-01T12:16:03.1306734Z", "category": "AuditEvent", "operatio

[2022-03-01 14:46] UtkarshShrivastava16 opened #23256 "[BUG] Unable to connect to Storage from IoT Edge Device"
### Library name and version

Azure.Storage.Blob 12.9.0

### Describe the bug

I was trying to connect with the [local blob storage for IOT Edge device](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob?view=iotedge-2018-06) using python SDK.
This is my code:

[code]

I created the local connection string as follows:
`DefaultEndpointsProtocol=https;BlobEndpoint=<myBlobEndpoint

[2022-03-01 17:23] azure-sdk commented on #23260
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.12977357,Recovery Services Backup:0.08083114,Event Hubs:0.030618664'

[2022-03-01 17:35] xiangyan99 opened #23261 "Should use "\n" rather than "/n" for new line in log"
https://github.com/Azure/azure-sdk-for-python/pull/20300#pullrequestreview-896139928

[2022-03-01 18:06] assafi commented on #22231
@lilyjma We are working on a new article following recent documentation change.
Specifically, for sentiment analysis if you'd like to submit documents larger than 5120 characters you can use the async API that supports up to 125k characters per document. See more [here](https://docs.microsoft.com/en-us/azure/cognitive-services/language-service/concepts/use-asynchronously#data-limits).

[2022-03-01 18:18] #23131 closed, assigned to jalauzon-msft

[2022-03-01 18:52] scbedd commented on #22569
@danieljurek exactly. Given that the readme is generated, @msyyc will need to use the functionalities from [this function](https://github.com/Azure/azure-sdk-for-python/blob/5166ee94acdb80f2217a1ce694e169ea2b33219d/eng/tox/tox_helper_tasks.py#L28) to extract a namespace from a package and generate that package link correctly.

[Usage Example](https://github.com/Azure/azure-sdk-for-python/blob/5166

[2022-03-01 19:00] #22928 closed

[2022-03-01 19:40] #8799 closed

[2022-03-01 19:52] lilyjma commented on #22910
Thank you for your interest in the experience survey. The survey has now been closed.
If you didn't get a chance to provide feedback this time, please look out for future surveys.

[2022-03-01 19:52] #22910 closed

[2022-03-01 20:23] jalauzon-msft commented on #23163
@JeffreyCA so the issue is no longer happening and requests to the CDN endpoint are working as expected now?

If that is the case, I would probably say this was an intermittent issue with the service. Perhaps it took longer than expected for your CDN settings to take affect or there was a problem on the backend that got resolved.

[2022-03-01 20:50] rakshith91 commented on #20417
Reopening this issue since it's not addressed :)

[2022-03-01 20:58] kristapratico opened #23264 "[storage-fileshare] duplicate type signatures in async FileClient method"
The exact issue opened [here](https://github.com/Azure/azure-sdk-for-python/issues/21223) also exists for the async FileClient. This was fixed for the sync client in this [PR](https://github.com/Azure/azure-sdk-for-python/pull/19739/files), but still needs to be fixed for the equivalent async method:

https://github.com/Azure/azure-sdk-for-python/blob/eeb2f3b8c7c115337f9d71166aca91db732c931e/sdk/s

[2022-03-01 21:10] kristapratico opened #23265 "[communication] type signature for shared CommunicationTokenRefreshOptions prevents mypy from checking"
All of the packages under sdk/communication which contain the _shared directory are prevented from running mypy due to the typing in the __init__ of CommunicationTokenRefreshOptions:

https://github.com/Azure/azure-sdk-for-python/blob/eeb2f3b8c7c115337f9d71166aca91db732c931e/sdk/communication/azure-communication-chat/azure/communication/chat/_shared/user_token_refresh_options.py#L13-L24

This is r

[2022-03-01 21:10] kristapratico commented on #23265
Tagging @turalf for visibility

[2022-03-01 21:32] xiangyan99 commented on #23248
Did you have a chance to take a look at https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/migration_guide.md?

[2022-03-01 21:51] xiangyan99 commented on #23261
Fixed.

[2022-03-01 21:51] #23261 closed

[2022-03-01 22:07] jalauzon-msft commented on #19753
To update everyone on the thread. @fengzhuye @jaymegordo @gmotasilva

Connection Reset errors come from the service and there is not much that can be done to eliminate them from the client-side. The best that can be done from the client is to have retries when this error occurs. The SDK will automatically retry these errors 3 times with an exponential backoff policy.

If you are seeing these error

[2022-03-01 22:28] jalauzon-msft commented on #17301
@amishra-dev, it looks like this needs more investigation to come up with the right solution. I will investigate.

[2022-03-01 22:38] #23204 closed

[2022-03-01 22:39] #23200 closed

[2022-03-02 01:01] #22457 closed

[2022-03-02 01:29] msyyc commented on #6679
Python SDK is generated by [swagger](https://github.com/Azure/azure-rest-api-specs/tree/main/specification). This issue is more related with rest api. Please open an issue in https://github.com/Azure/azure-rest-api-specs/issues

[2022-03-02 04:59] yunhaoling commented on #23252
thank @Ellebaek for reaching out, we'll investigate it ASAP.

[2022-03-02 05:01] yunhaoling commented on #23256
thanks @UtkarshShrivastava16 for reaching out. We'll investigate it ASAP.

[2022-03-02 09:23] Stael commented on #21849
Hello @yunhaoling.

Thank you for the update.

Alright, you can send me a patch and I will try my best to test it asap.
But as you know, I am unable to trigger this bug manually. I can apply the patch but we will have to wait for ~ a week to see if it works (less if it does not).

[2022-03-02 11:49] hholst80 opened #23276 "meta data, custom headers or client strings"
Hi,
I would like to be able to communicate meta data or custom headers on the messages. This to allow side channel information without inspecting or enforcing specific storage conventions on the message payloads itself.

A way to communicate a trace Id or such to the message (or event) that I can use for trace logging in the application code that processes the message.

I have not found a way to d

[2022-03-02 14:09] OTDani commented on #22823
Thanks @BigCat20196 @kazrael2119 !!

1) in the @kazrael2119 code the scope is
[code]
Could you please double check this?  As AFAIK it should be a billing profile id at the end, this throws an error 500.

2) Using what i think was intended, the code times out with **(429) Too many requests. Please retry after 60 seconds.**
[code]
but it runs, but not fine for just a subscription scope:
[code]
**Ret

[2022-03-02 15:24] janluke opened #23277 "Model (unmanaged) endpoints: how to provide secrets?"
**Is your feature request related to a problem? Please describe.**
We deploy models to AKS and need a way to pass secrets into the service. Currently we pass them as environment variables (using the `Environment` class). Of course, the secrets are not hard-coded.

In [this StackOverflow question](https://stackoverflow.com/questions/69916579/how-to-provide-secrets-to-an-azure-machine-learning-infer

[2022-03-02 15:24] azure-sdk commented on #23277
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.27098504,KeyVault:0.11104659,Service Bus:0.07269551'

[2022-03-02 15:48] janluke opened #23278 "Model endpoints (unmanaged): environment variables are not updated after updating the service"
- **Package Name**: azureml-core
- **Package Version**: 1.38.0
- **Operating System**: Windows 10
- **Python Version**: 3.8

**Describe the bug**
I use `Environment.environment_variables` to provide values to our model services (deployed to AKS). The `Environment` is provided as part of the `InferenceConfig`. Sometimes I just want to change the value of one environment variable and updating the se

[2022-03-02 15:48] azure-sdk commented on #23278
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Tables:0.12529527,Azure.Identity:0.10530589,ARM:0.053060047'

[2022-03-02 15:58] simorenoh opened #23279 "[Cosmos] update documentation around _COMMON_OPTIONS for relevant methods"
Cosmos packages several options that apply to more than one method into a mapping called _COMMON_OPTIONS, but these request options are not specified per-request and as such users may not know they exist. A customer, for instance, asked about setting the time to live for resource tokens since it wasn't specified anywhere.

We should provide documentation around these options in their relevant meth

[2022-03-02 17:54] lmazuel opened #23281 ""authority" should be documented in credentials of azure-identity"
While I do agree we can't document every kwargs, especially not the more advanced and transport one, "authority" is an identity realted kwarg that is important for sovereignh cloud connection. It should be documented in all credential from azure-identity.

Example where it's not today:
https://docs.microsoft.com/en-us/python/api/azure-identity/azure.identity.environmentcredential?view=azure-python

[2022-03-02 18:11] SaurabhSharma-MSFT commented on #23264
@kristapratico Redirecting this to services team to look into the fix.

[2022-03-02 18:44] xiangyan99 opened #23282 "Fix https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-sovereign-domain#using-pre-defined-sovereign-cloud-constants"
Need to update https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-sovereign-domain#using-pre-defined-sovereign-cloud-constants

[2022-03-02 19:46] yunhaoling commented on #23276
hey @hholst80 , thanks for reaching out.

May I ask which Python SDK you're referring to? is it a blob storage service or service bus?

[2022-03-02 20:38] jwxd commented on #23248
Yes, But the migration guide and documentation did not cover how the usage of `resource` parameter changes to `scopes` and how it's supposed to be used in azure-identity to specify certain permission of the credential that we are requesting.

For example, we do use (resource)[https://github.com/Azure/msrestazure-for-python/blob/698eb06bcbf9fda4c7ae04d929f7b5b955fcbfed/msrestazure/azure_active_dire

[2022-03-02 20:41] islem-esi opened #23283 "Confusing exception message"
As I was looking at the code in this [File](https://github.com/Azure/azure-sdk-for-python/blob/0a0cc97f178a7476ec79f29c090b8c93ad5d4955/sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/__init__.py), I got confused by the exception message. I think the **word "not"** is mistakenly repeated in the **exception message**, otherwise it would be better to remove 'not not' (See code bel

[2022-03-02 20:45] annatisch commented on #23283
Thanks so much for reporting this @islem-esi - I think you're right, this is probably a mistake, if not - double-negatives are a confusing grammar choice for an error message :)
Let's get that fixed up....

[2022-03-02 20:56] annatisch commented on #23283
I opened a quick PR to fix - @mccoyp could you please do a quick review to confirm I haven't misinterpreted the error message?

[2022-03-02 20:59] #23235 closed

[2022-03-02 21:00] annatisch commented on #23235
Merged the updates. This should be released next week :)
Thanks again!

[2022-03-02 21:03] annatisch commented on #21953
I've merged the fix for this issue, and the release should go out next week.
Feel free to tests out the changes in the meantime and let us know if you feel it needs some further digging!

[2022-03-02 21:21] yunhaoling commented on #23277
hey @janluke , thanks for reaching out.

May I ask which SDK are you using? I saw you opened the issue https://github.com/Azure/azure-sdk-for-python/issues/23278.
Is this also a azureml-core issue?

[2022-03-02 21:22] yunhaoling commented on #23278
thanks for reaching out @janluke , I have tagged the issue and the service team should be able to help with it.

[2022-03-02 21:42] mccoyp commented on #23283
Thank you @islem-esi for catching this, and thank you @annatisch for opening a PR! I'll get that approved. We definitely didn't mean to leave confusing double-negatives around 😅

[2022-03-02 22:10] xiangyan99 commented on #23248
AAD v2 creates default scopes. https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#the-default-scope

if in track 1, resource='https://vault.azure.net/', you can get the according scope 'resource + "/.default"'.

[2022-03-02 22:27] jwxd commented on #23248
So you mean it's no longer necessary to specify the scope when using Azure-identity because it uses AAD v2 and it creates the default scopes for us?
What about use case in Soveriegn cloud and gov cloud? Is it also the same behavior?
Because in our use case we uses different resource for Sovereign cloud and gov cloud.
We want to make sure this works without having to specify an scope.

[2022-03-02 22:28] #23283 closed

[2022-03-02 22:29] xiangyan99 commented on #23248
In most cases, yes. If you need to explicitly specify one, you can convert the resource string into scope by appending "/.default".

[2022-03-02 22:37] jwxd commented on #23248
That's exactly where I'm struggling at. How do I explicitly the scopes when using [ManagedIdentityCredential class](https://github.com/Azure/azure-sdk-for-python/blob/e5fd9731260f1e234989e28769b2dd3371b193bd/sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py#L25)
Let's say I want to explicitly specify "https://vault.azure.net/.default". Where do I pass this var to?
The par

[2022-03-02 22:52] xiangyan99 commented on #23248
Did you try specifying the scope when you create the client? It will be used to create the BearTokenPolicy. https://docs.microsoft.com/en-us/python/api/azure-core/azure.core.pipeline.policies.bearertokencredentialpolicy?view=azure-python

[2022-03-02 22:58] janluke commented on #23277
Yes, the issue is about azureml-core and model deployment to AKS.

[2022-03-02 22:58] hholst80 commented on #23276
The Storage Queue messages.

[2022-03-02 23:00] janluke commented on #21878
Any update on this?

[2022-03-02 23:03] jwxd commented on #23248
Azure [SecretClient](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-keyvault-secrets/latest/azure.keyvault.secrets.html#azure.keyvault.secrets.SecretClient) does not provide option to specify a scope
Just to give you more context on what I'm working on.
[PR link](https://github.com/Hexadite/acs-keyvault-agent/pull/47)

[2022-03-02 23:14] jvschoen commented on #13033
Any update on this? what is the best approach to connecting to file service through python SDK?

[2022-03-02 23:24] xiangyan99 commented on #23248
@mccoyp Looks like you do not honor scope when creating your policy.

https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py#L69

Could you take a look?

[2022-03-02 23:26] yunhaoling commented on #23020
my investigation based on @annatisch 's approach:

1. message releasing only works when the message lock hasn't been expired yet. release message after lock expiration still increases the delivery count.
2. messages could arrive at socket when the client is not active.
3. those messages will stay in the socket unable to be handled until there're method calls (e.g. receive) triggering the transport

[2022-03-02 23:29] swathipil opened #23288 "[SchemaRegistry] Avro finalize API"
- [x] get firm answer about overloading encode with specific message types for Intellisense.
- [x] get rid of all mypy errors
- [x] get ApiView reviewed + signed off at least one week before CC.
- [x] check whether we want MessageType to be part of public API. (since it won't show __message_content__ anyway, so it can't be decoded if users subtype it).
 - [x]  Need to generate our own rst file. WI

[2022-03-02 23:31] swathipil opened #23289 "[SchemaRegistry] Avro perf tests"

[2022-03-02 23:55] lmazuel opened #23290 "Azure Schema Registry Avro GA"
Updates:
- [x] #23316

Documentation:
- [x] full pass over docstrings/logging (issue #23292)

Testing:
- [x]  perf tests (#23289)
- [x] full pass over tests

Design:
- [x] #23317
- [x] #23318
- [ ] cross language interop (#21199 )

[2022-03-02 23:57] xiangyan99 commented on #23252
@mccoyp Could you take a look?

[2022-03-03 00:57] swathipil opened #23292 "[SchemaRegistry] bug bash avro docs/logging/samples"
- [x] with messaging crew/schedule meeting to review together
- [x] check across languages if we're all logging the same things.
- [x] mypy over samples.
- [x] add docstring to MessageType.__message_content__
- [x] add type annotations to `encode` implementation.

[2022-03-03 01:18] swathipil opened #23293 "[SchemaRegistry] avro cross language interoperability"
- create post in the SR channel after March CC.

[2022-03-03 01:19] swathipil commented on #23293
duplicate

[2022-03-03 01:19] #23293 closed

[2022-03-03 01:32] yunhaoling commented on #23277
thanks for the sharing me with the package information, I've tagged the issue, the service team should be able to help!

[2022-03-03 01:34] yunhaoling commented on #23276
thanks for sharing me with the package information, I have tagged the issue, @tasherif-msft would you be able to help with this issue?

[2022-03-03 01:49] #22657 closed

[2022-03-03 01:49] #22660 closed

[2022-03-03 01:55] #22662 closed

[2022-03-03 02:07] jalauzon-msft commented on #23264
Thanks @kristapratico Krista, thanks for reporting this. Looks like it was previously missed. I will create a PR to address this soon.

[2022-03-03 02:20] jalauzon-msft commented on #23162
Chatting with Nick offline internally about this.

[2022-03-03 04:01] #23029 closed

[2022-03-03 07:26] jerrychenhf commented on #23245
Any update on this? it showed to be very basic problem.

[2022-03-03 08:02] #21934 closed

[2022-03-03 11:28] #22656 closed

[2022-03-03 11:28] #22661 closed

[2022-03-03 13:18] JPardinas opened #23304 "[BUG] DefaultAzureCredential not working when executing get_paths function from azure.storage.filedatalake.FileSystemClient"
- **Package Name**: azure-storage-file-datalake
- **Package Version**: 12.5.0
- **Operating System**: Windows / Linux
- **Python Version**: 3.8

**requirements.txt**
[code]
**Describe the bug**
Using Azure Functions with python:

When using Managed Identity for authentication **get_paths** function from **FileSystemClient** is raising the following exception:
- azure.core.exceptions.ResourceNotFou

[2022-03-03 14:52] marckhair opened #23306 "RoleAssignmentsOperations Class - Python SDK"
Hello,

I am trying to create role assignments for azure subscriptions programmatically using the Python SDK.

In the RoleAssignmentsOperations(client, config, serializer, deserializer) class, I found the appropriate .create() method to create Role Assignments

Can I have some additional information on the parameters of the RoleAssignmentsOperations constructor please?

- client: should this be an

[2022-03-03 15:50] MrCordeiro commented on #22441
Had a [very similar situation](https://github.com/MicrosoftDocs/azure-docs/issues/87920) when trying to build a Docker image that uses a private package.

[2022-03-03 15:53] xiangyan99 commented on #23245
It looks to me you wanted to use AzureCliCredential but it failed in ManagedIdentityCredential.

Have you tried to use AzureCliCredential directly and did it work?

credential = AzureCliCredential ()

Thanks.

[2022-03-03 15:58] j0rd1smit commented on #13913
What is the status of this? I'm running into the same problem

[2022-03-03 16:24] thomasfrederikhoeck commented on #22441
@MrCordeiro It looks similar and might be related but the error I'm hitting is not the same. Step 1-4 works fine and I think your issues was related to step 1-2. :-) It is when trying to deploying a model of type MLFLOW using Managed endpoint.

[2022-03-03 17:13] praveenkuttappan commented on #11069
Looks like it's already resolved with PR 11105. Closing this old issue.

[2022-03-03 17:13] #11069 closed

[2022-03-03 17:31] scottaddie opened #23311 "Document stats and visualizations support in Azure Monitor Query"
CXP recently asked for docs on stats and visualizations with regards to the Azure Monitor Query client library. Add the following details to a new section in the README:

- How to opt in to stats and/or visualizations data in a logs query request
- Explain the unstructured nature of the response

[2022-03-03 17:40] catalinaperalta opened #23312 "[formrecognizer] Update instances of pytest.fixture"
Look for instances of pytest.fixtures and replace with '@pytest_asyncio.fixture'. Note from deprecation warning:
[code]

[2022-03-03 17:42] #22959 closed

[2022-03-03 17:42] #23052 closed

[2022-03-03 17:49] swathipil commented on #21789
nightly runs have been green for a week so closing

[2022-03-03 17:57] swathipil opened #23316 "[SchemaRegistry] avro run black formatting"

[2022-03-03 17:57] azure-sdk commented on #23316
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5630496,Container Registry:0.21284173,Schema Registry:0.16359484'

[2022-03-03 17:59] swathipil opened #23317 "[SchemaRegistry] confirm avro APIVew with feature crew"

[2022-03-03 18:06] SaurabhSharma-MSFT commented on #23032
@bandsina Did you get a chance to look into this.

[2022-03-03 18:10] lmazuel commented on #23289
See https://github.com/Azure/azure-sdk-for-python/issues/20831 instead

[2022-03-03 18:35] swathipil opened #23318 "[Schema Registry] avro remove preamble back compat"
- report error people would get when they try to decode with preamble event to support team.
- maybe troubleshooting guide?
- maybe, in the error message, include "in order to decode content type, must have encoded with AvroEncoder"?

[2022-03-03 18:35] azure-sdk commented on #23318
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.31054354,Azure.Core:0.096200794,Service Bus:0.06399203'

[2022-03-03 19:46] josiahlaivins commented on #23252
I am getting a similar/identical(?) issue. The same code works for my home lan, but fails in a different location (sometimes). I am seeing authentication errors in the app insights also. The credentials worked fine yesterday. The error:
[code]
Which isn't true since I'm seeing auth errors in the cloud. I also tried the credentials using regular az login and they work. Is there a DNS flush that nee

[2022-03-03 19:58] mccoyp commented on #23252
Hi @Ellebaek, thank you for opening an issue! Seeing a 401 response on your first service request is expected because Key Vault uses challenge-based authentication. For example, our test recordings will show a [`401 Unauthorized` response](https://github.com/Azure/azure-sdk-for-python/blob/a7e3bf4ece801e49f3cfcf7e098881326a731158/sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_cl

[2022-03-03 20:16] swathipil commented on #22961
Hey @v-xuto - sorry for the long wait. It looks like the builds that you linked were deleted. Would you be able to post your error log here?

[2022-03-03 20:21] #23306 closed

[2022-03-03 20:29] jalauzon-msft commented on #23256
Hi @UtkarshShrivastava16 Utkarsh, this is likely an issue with Storage on IoT Edge devices that is not specific to Python. Adding @amishra-dev and @jaschrep-msft to have a look.

[2022-03-03 20:41] virtualdvid commented on #11009
How can I increase the BUFFER_SIZE for the chunks? Is there any docs?

[2022-03-03 20:58] xiangyan99 commented on #23248
@jwxd if you have a chance, could you try use default scope (not specify scope explicitly) and see if it works?

Thanks.

[2022-03-03 20:59] #23095 closed

[2022-03-03 21:02] jwxd commented on #23248
Sure, I'm working on an internal build to test with my new fix without explicitly specifying scopes.
I will keep you posted.

[2022-03-03 21:41] amnguye opened #23321 "[QUERY] Check for case insensitive behavior for parameters within the URL"
We received in an [issue](https://github.com/Azure/azure-sdk-for-net/issues/18401) in .NET where a customer attempted to use a URL with a version id. The versionid parameter name was formatted as `versionId` and the SDK was not able to find the parameter value because it was case sensitive and was looking for versionid in all lowercase.

The service is able to take parameter names with any cases.

[2022-03-03 21:56] mccoyp commented on #23248
@jwxd you're right that `scopes` can't be manually provided to a KV client. The challenge auth policy will automatically fetch the scope returned by the service's challenge response; [here's](https://github.com/Azure/azure-sdk-for-python/blob/0a0cc97f178a7476ec79f29c090b8c93ad5d4955/sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/challenge_auth_policy.py#L75) where that happens.

[2022-03-03 22:19] iscai-msft opened #23323 "[linter]"

[2022-03-03 22:19] #23323 closed

[2022-03-03 22:25] iscai-msft opened #23324 "[linter] don't allow people to alias"
When SDK writers alias model names to rename the generated code, i.e. `from ._generated import AuthenticationTypeEnum as DatasourceAuthenticationType`, this breaks apiview, sphinx documentation, and does not show up well for end users

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/43154838/156662964-9eb89095-e331-4bdd-abab-643427d042ae.png)

We should look through the `__in

[2022-03-03 22:30] lmazuel commented on #23324
There is many solutions to avoid this problem:
- Create an handcrafted class with from_generated/to_generated
- Rename the Swagger. Even a directive if necessary, so the name is right.
- Inherit the internal class:
[code]

But the nbame alias is confusing for all automation, since this is a local name alias in the SDK code, and doesn't reflect nicely in outside code.

[2022-03-03 22:50] jalauzon-msft commented on #23276
Hi @hholst80 Henrik, would the `PopReceipt` not work for your needs? The `PopReceipt` is returned by the service on a `PutMessage` call ([doc](https://docs.microsoft.com/en-us/rest/api/storageservices/put-message#response-body)) and inside the [QueueMessage](https://github.com/Azure/azure-sdk-for-python/blob/74a192aa212ca5734fcc37bc0152bc4a5f7f7c85/sdk/storage/azure-storage-queue/azure/storage/que

[2022-03-03 23:51] jalauzon-msft opened #23326 "Intermittent pipeline failures for macOS due to seed failures."
Seeing intermittent pipeline failures due to failures in task `Populate the seed dir`.
[Example ](https://dev.azure.com/azure-sdk/public/_build/results?buildId=1408191&view=logs&jobId=c7500c44-708b-56ec-f52b-02af33ea1457&j=c7500c44-708b-56ec-f52b-02af33ea1457&t=630fb06f-c454-5b07-1e0a-a3e8eb1f5fe0) (Storage ci)

[2022-03-04 00:54] yunhaoling commented on #23304
thanks @JPardinas for reaching out, we'll investigate it asap.

[2022-03-04 01:14] #22298 closed

[2022-03-04 02:20] v-xuto commented on #22961
@swathipil This is the latest log：https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1397767&view=results

[2022-03-04 09:35] KewinOsborn opened #23342 "missing code in import library parts"
The missing parts are bold.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 086893ce-7b34-6c37-f2e5-36a3505baa69
* Version Independent ID: 14650046-8b8a-8f9c-b5be-8ae6bd27044b
* Content: [Azure Monitor Query client library for Python](https://docs.microsoft.com/en-us/python/api/overview/azure/monitor-query-readme

[2022-03-04 09:36] azure-sdk commented on #23342
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.21068047,Monitor - Query:0.15286049,Tables:0.064396605'

[2022-03-04 12:39] lukipro commented on #22962
Hello @rakshith91 , there is nothing interesting on the client code side. Please check on the server side. The reason is that messages sent from old ServiceBus namespaces do not have the `locked_until_utc` set (but only when using DefaultAzureCredentials).

[2022-03-04 15:50] briglx commented on #16731
/unresolve Can you please show the code
where you can pass credentials to the private repo?

[2022-03-04 17:45] jaschrep-msft commented on #23256
While I am unfamiliar with Python SDK internals, this is url structure is giving me concern. The SDK currently expects account names to be in the host, not the path, as that is how the Storage service is organized. Technically, you can just construct a client with any URI and the SDK will assume you got it right, but when you start traversing clients (e.g. going from a service client to a containe

[2022-03-04 18:01] danieljurek opened #23344 "Use `typing.Callable` in docstrings instead of Callable"
Original issue: https://ceapex.visualstudio.com/Engineering/_workitems/edit/438504

We don't use `typing.Callable` anywhere in our code today according to my searches.

[2022-03-04 18:39] danieljurek opened #23346 "Update docstrings for `ContainerProxy`"
Fix doc strings here: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/cosmos/azure-cosmos/azure/cosmos/container.py#L47-L48

To reference the containing modules. Also, looks like `create_container` might need to be coming from `DatabaseProxy` instead of `Database`:

Suggestion:

[code]

Source issue: https://ceapex.visualstudio.com/Engineering/_workitems/edit/470993#9319299

[2022-03-04 18:42] #21142 closed

[2022-03-04 18:43] danieljurek commented on #23344
Started on a PR here: https://github.com/Azure/azure-sdk-for-python/pull/23345 ... However, `Callable` is showing up in other entities like `:keyword` ... Someone with more domain expertise should fix this issue.

[2022-03-04 18:56] yunhaoling commented on #23342
thanks @KewinOsborn for reaching out.

Just to confirm is it **from azure.core.exceptions import HttpResponseError** that is missing import in your code?
also could you share us with the package version information for azure-core?

[2022-03-04 19:00] lmazuel commented on #11276
Actually this issue is also true for situation where we have a custom transport and requests is not available, renaming the issue to a more generic problem.

[2022-03-04 19:00] iscai-msft opened #23347 "[core] implement our own CaseInsensitiveDict"
Right now, our [current implementation](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/core/azure-core/azure/core/utils/_utils.py#L84) relies on either having the `requests` or `aiohttp` library installed. Instead, we want to implement our own case insensitive dict, so we can get rid of this dependency

[2022-03-04 19:04] xiangyan99 commented on #23342
Seems like we are missing import statement in the samples in https://github.com/MicrosoftDocs/azure-docs-sdk-python/blob/main/docs-ref-services/latest/monitor-query-readme.md.

Adding @sima-zhu since she edited the file.

[2022-03-04 19:04] lmazuel opened #23348 "Make custom transport implementation possible without "requests" installed."
We will have situation in the future where "requests" will not be available at all, and people will write their own transport. Today, we expect "requests" to be available in  a few places, making azure-core not truly independant.

See also:
- https://github.com/Azure/azure-sdk-for-python/issues/11276
- https://github.com/Azure/azure-sdk-for-python/issues/23347

[2022-03-04 21:00] scbedd commented on #23326
Query for reference.

[code]

All failing due to a specific exception on mac / python 3.7. It is no longer a network traversal issue. I am going forward with wrapping the whole thing in a retry, but I have a bad feeling that will not be a permanent solution.

[2022-03-04 21:38] #23196 closed

[2022-03-04 21:57] lmazuel commented on #17287
Duplicate of https://github.com/Azure/azure-sdk-for-python/issues/10179

[2022-03-04 21:57] #17287 closed

[2022-03-04 22:02] #23048 closed

[2022-03-04 22:14] kristapratico opened #23351 "type checking work across repo"
[Mypy](https://mypy.readthedocs.io/en/stable/introduction.html) and [pyright](https://github.com/microsoft/pyright) are static type checkers that can be run on code to evaluate type annotations and find bugs. The type annotations we write in our code ship as part of our client libraries and our developer customers rely on our typing as a further check of the code that they're writing. Therefore, i

[2022-03-04 22:25] lmazuel opened #23352 "Post-test proxy test clean-up"
Once all SDKs are in text proxy, there is an important clean-up to do on the test framework:
- Simplify the double packaging infra that is inherited of the time we were sharing with CLI team
- Delete obsolete code
- Migrating preparers to use all the engsys Powershell script system

[2022-03-04 22:25] azure-sdk commented on #23352
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.2813655,Storage:0.20406488,Cosmos:0.1034038'

[2022-03-04 22:39] scbedd commented on #19051
Related to #23146

[2022-03-04 22:40] #22797 closed

[2022-03-04 22:42] scbedd commented on #18796
@benbp have you seen an error like this before?

[2022-03-04 22:46] benbp commented on #18796
@scbedd this issue is from last May, do we still even provision storage resources via the test preparer anymore? My guess would be bad test parallelization or resource scoping.

[2022-03-04 22:47] benbp commented on #18796
It's also possible the group was tagged improperly, as was a frequent issue with the old python preparers, and it was deleted during a cleanup sweep.

[2022-03-04 22:52] scbedd commented on #23013
@annatisch This is a great candidate to put into the test-proxy. We can check it there no problem.

[2022-03-05 00:08] lzchen commented on #23342
I am not an owner of this. Please reassign.

[2022-03-05 01:07] kristapratico opened #23355 "[cosmos] mypy: function has duplicate type signatures"
There are duplicate type signatures present in these 2 functions which prevents mypy from continuing to run checks:

https://github.com/Azure/azure-sdk-for-python/blob/c247151acbb19591444144ca723c723cabfd45a6/sdk/cosmos/azure-cosmos/azure/cosmos/aio/container.py#L659-L665

and

https://github.com/Azure/azure-sdk-for-python/blob/c247151acbb19591444144ca723c723cabfd45a6/sdk/cosmos/azure-cosmos/azure

[2022-03-05 01:11] kristapratico opened #23356 "[confidentialledger] mypy: function has duplicate type signatures"
There are duplicate type signatures present in this __init__ which prevents mypy from continuing to run checks:

https://github.com/Azure/azure-sdk-for-python/blob/c247151acbb19591444144ca723c723cabfd45a6/sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_models.py#L291-L296

This prevents customers from getting typing information from the package.

This is reproducible by r

[2022-03-05 01:17] kristapratico opened #23357 "[security-attestation] mypy: function has duplicate type signatures"
There are duplicate type signatures present in this function which prevents mypy from continuing to run checks:

https://github.com/Azure/azure-sdk-for-python/blob/c247151acbb19591444144ca723c723cabfd45a6/sdk/attestation/azure-security-attestation/azure/security/attestation/aio/_client_async.py#L376-L378

This prevents customers from getting typing information from the package.

This is reproducib

[2022-03-05 08:02] #22775 closed

[2022-03-05 09:09] estepangugu opened #23359 "Change Private IP Assignment Of VM"
Hi,

I create a vm via ARM template. But I have to change private IP assignment from Dynamic to Static via SDK. I have investigate the SDK but I'm not sure what method / class is right for this purpose.

Any advice or sample would be appreciated.

Best
Jasmin

[2022-03-06 14:17] #23359 closed

[2022-03-06 14:59] hholst80 commented on #23276
Unfortunately no, that would not be something we could use end to end. It needs to be something we can set on the message send and pick up on receive.

[2022-03-06 18:52] 4vadim4 commented on #11437
i have the same problem;

- Package Name: azure-storage-blob
- Package Version: 12.9.0
- Python Version: 3.10.0

i use Azurite and try to upload image:

code:
[code]

output:
[code]

upload_blob is hangs always by 1-1,5min and crashing with traceback:

[code]

what wrong ?

[2022-03-06 19:48] 4vadim4 opened #23360 "BlobServiceClient.upload_blob hangs always"
- Package Name: azure-storage-blob
- Package Version: 12.9.0
- Python Version: 3.10.0

i use docker compose and i have Azurite in a separate docker container like a blob storage and try to upload image to this blob storage (this is official [documentation](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python?tabs=environment-variable-windows#upload-blobs-to-a-contai

[2022-03-06 22:02] #22529 closed

[2022-03-07 03:21] jayqi opened #23362 "azure-storage-blob BlobClient.upload_blob mistyped argument"
- **Package Name**: `azure-storage-blob`
- **Package Version**:  12.9.0

**Describe the bug**

`azure.storage.blob.BlobClient.upload_blob` and the method that it wraps `BlobClient._upload_blob_options` both have the type annotation `Union[Iterable[AnyStr], IO[AnyStr]]` for the `data` argument.

https://github.com/Azure/azure-sdk-for-python/blob/d720e568b7dde29af68fe6a0f57c0dba8dff4b55/sdk/storage/

[2022-03-07 03:26] #22937 closed

[2022-03-07 07:48] msyyc opened #23364 "[pipeline] trigger `update_pr` to update files from template"
details is in `RE: Do the management plane libraries still support Python 2?`

There are two possible solutions:
(1) update pipeline:
[code]
(2) update bot account to create pr in main repo

[2022-03-07 09:11] yunhaoling commented on #21849
hey @Stael , thanks for your patience and I have got some updates and potential workarounds for you.

### Background knowledge: connection idle time out
- In the screenshot you shared, the two kinds of error scenarios are initiated by the same reason -- **connection idle times out**.
  - The connection between EventHubProducerClient and the EventHubs Service is a bidirectional long amqp connection

[2022-03-07 10:52] hilalSnKS commented on #1264
Hello @indumathyn ,
I was trying to achieve a similar task to get RSV infos. Could you find any useful answer regarding " what to give for 'VAULT' parameter?" issue?
Any guidance would be appriciate.
Thanks a lot :))

[2022-03-07 11:03] hilalSnKS commented on #1264
@lmazuel , @indumathyn
I figured that 'VAULT' variable is the name of the RSV resource. But I don't want to get only the specific RSV infos but all the RSV resources under a given resource group.
Any ideas on How to achieve this task?

[2022-03-07 11:49] JPardinas opened #23369 "[BUG] DefaultAzureCredential not working when executing upload_data function from azure.storage.filedatalake.FileSystemClient"
- **Package Name**: azure-storage-file-datalake
- **Package Version**: 12.5.0
- **Operating System**: Windows / Linux
- **Python Version**: 3.8

**Describe the bug**
Using Azure Functions with python:

When using Managed Identity for authentication **upload_data** function from **FileSystemClient** is raising the following exception:
[code]

When using connection string is working as expected

**T

[2022-03-07 12:30] JPardinas commented on #23304
Just created another issue that maybe is related: https://github.com/Azure/azure-sdk-for-python/issues/23369

[2022-03-07 13:14] zargaryanlilit commented on #5749
I've encountered the same issue, but when trying to dead_letter, I get this error. Result: Failure Exception: AttributeError: 'ServiceBusMessage' object has no attribute 'dead_letter'.
For python runtime, we cannot set autocomplete to false and deadletter the message either using ServiceBusReceiver because the message is not of type ServiceBusReceivedMessage or directly calling the method on the o

[2022-03-07 14:00] #23304 closed

[2022-03-07 14:01] JPardinas commented on #23369
I have to apologize, after some deep investigation I just discovered I was using a .blob. endpoint and not the .dfs. in the storage endpoint

I am sorry for the inconveniences!

[2022-03-07 15:47] SaurabhSharma-MSFT commented on #23357
@kristapratico I am redirecting this to respective team to look into it for the fix.

[2022-03-07 15:53] JoelCanteroGCO opened #23371 "DLL load failed while importing win32file"
- **Package Name**: azureml-core
- **Package Version**: 1.39
- **Operating System**: Windows 10
- **Python Version**: 3.9

**Describe the bug**
When I try to retrieve the workspace:
`workspace = Workspace.from_config()`

it throws an error:

`Performing interactive authentication. Please follow the instructions on the terminal.

[2022-03-07 15:53] azure-sdk commented on #23371
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.22023511,Event Hubs:0.14809982,Service Bus:0.11493054'

[2022-03-07 17:39] jalauzon-msft commented on #23360
Hi @4vadim4 vadim, thanks for reaching out. we'll investigate this and get back to you.

[2022-03-07 17:48] jalauzon-msft commented on #23124
Hi @stan-sz, sorry this was missed for so long.

It appears you are using a very old version of `azure-storage-blob` and so these issues are likely fixed in more recent versions. I would try updating to a more recent version if possible. Especially something at least after 12.0.

[2022-03-07 17:56] jalauzon-msft commented on #20157
Hi all, sorry for the long delay getting these fixed. I believe these have been addressed in #22741 and #23098 and will be part of our next release of 12.10.

[2022-03-07 17:56] #20157 closed

[2022-03-07 18:02] jalauzon-msft opened #23373 "[Storage] Fix failing tests in weekly pipeline"
We have two tests failing in our weekly pipeline: [example](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1413121&view=ms.vss-test-web.build-test-results-tab)

There seem to not be running in nightly or locally due to `@pytest.mark.skipif(is_version_before(ServiceVersion.V2019_12_12), reason="SV too low")` so it seems that is only working in weekly. Another task would be to find

[2022-03-07 21:18] jalauzon-msft commented on #23276
Hi @hholst80 Henrik, Unfortunately the Storage Queue service does not support any other form custom properties on messages. My one other suggestion would be to use some form of schema (e.g. JSON) in your Queue message where you can specify the metadata separate from the message body but I realize this still relies on reading the message.

We can take this as a service feature request but it is not

[2022-03-07 21:23] jalauzon-msft commented on #23232
Going to close this. Please reopen if you have more questions/issues. Thanks

[2022-03-07 21:23] #23232 closed

[2022-03-07 21:25] jalauzon-msft commented on #23163
Looks like this may have been a service issue that recovered. I'm going to close this but please feel free to re-open if this reoccurs. Thanks.

[2022-03-07 21:25] #23163 closed

[2022-03-07 22:16] catalinaperalta opened #23380 "[formrecognizer] Improve naming"
Improvements suggested by service team:
- Rename `model_count` and `model_limit` on `AccountInfo` to `document_model_count` and `document_model_limit`.
- Rename `begin_copy_model()` --> `begin_copy_model_to()`.
- In `begin_composed_model()` rename `model_ids` to `component_model_ids`.

[2022-03-07 22:23] swathipil commented on #21789
more failures 3/7: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1413650&view=results

[2022-03-07 22:37] catalinaperalta opened #23381 "[formrecognizer] Revert test sleep time"
Revert sleep time after each test once service issues are resolved.

[2022-03-07 23:46] l0lawrence opened #23382 "[pylint] Add test for PackageNameDoesNotUseUnderscoreOrPeriod,"

[2022-03-08 00:25] #23227 closed

[2022-03-08 00:55] gl-Roy opened #23385 "Get this error "Date must have only digits and -. Received: yyyy-02-04" on line "poller.result()""
This is for Form Recognizer service and with prebuilt invoice model.

With some of forms, I got this error "Date must have only digits and -. Received: yyyy-02-04" on line "poller.result()" and couldn't continue.   I had to skip the whole form.

Sample codes:
            poller = document_analysis_client.begin_analyze_document_from_url("prebuilt-invoice", formUrl)
            invoices = poller.res

[2022-03-08 00:56] azure-sdk commented on #23385
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Form Recognizer:0.35939333,Service Bus:0.04805943,KeyVault:0.043147214'

[2022-03-08 01:13] catalinaperalta commented on #23371
Thanks for your question @JoelCanteroGCO! We'll get back to you with an answer asap

[2022-03-08 01:34] catalinaperalta commented on #23385
Hi @gl-Roy! Thanks for reporting this issue. I will let the Form Recognizer service team know so that they can add a fix for this ASAP. I will update you here when they've released an update with the fix.

[2022-03-08 07:31] ankitmounty2008 commented on #23061
Guys,

I am basically looking for Python SDK to achieve syncRemoteAddressSpace.
https://docs.microsoft.com/en-us/rest/api/virtualnetwork/virtual-network-peerings/create-or-update

is there any SDK or example code available

[2022-03-08 08:02] #22664 closed

[2022-03-08 08:49] anotherancientalien opened #23402 "RecoveryServicesClient Item Paged and Authority Error"
Please delete as the issue transferred to support

[2022-03-08 08:49] azure-sdk commented on #23402
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Recovery Services:0.38581645,Recovery Services Backup:0.09857807,KeyVault:0.075183116'

[2022-03-08 09:10] Ellebaek commented on #23252
Thank you all for looking into this. Sounds like a reasonable explanation. However, I still consider it confusing it appear as an error in the Key Vaults insights page in the portal.

[2022-03-08 11:30] anotherancientalien commented on #22873
@SaurabhSharma-MSFT I have the same issue that giving the service principal 'Reader' or 'User Access Administrator' permissions doesn't solve the problem. What is the necessary permissions for backup? Thanks

https://github.com/Azure/azure-sdk-for-python/issues/23402

[2022-03-08 11:46] anotherancientalien commented on #22625
validate_authority=False is not working. The problem still exist and all our codes for RSV are failed. Please provide solution.

[2022-03-08 11:51] anotherancientalien commented on #23402
Please provide solution. Support doesn't accept SDK problems!! If there isn't support for solution for sdk, please inform us for using another solutions or break developments for azure!!!!!

[2022-03-08 11:56] anotherancientalien commented on #22332
Hi, what is the right permission?

[2022-03-08 12:48] anotherancientalien opened #23404 "Recovery Services does not work with identity anymore"
please delete as it transferred su support

[2022-03-08 12:49] azure-sdk commented on #23404
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Recovery Services Backup:0.4320591,Azure.Identity:0.11100615,KeyVault:0.03836041'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5421921,Mgmt:0.45373228,Service:0.0037370725'

[2022-03-08 17:00] adancarrasco opened #23406 "Cannot generate token for System Managed Identity for PostgreSQL"
- **Package Name**: azure_identity
- **Package Version**: 1.8.0
- **Operating System**: Azure App Service: Linux Python 3.9.7
- **Python Version**: 3.9.7

**Describe the bug**
Cannot get access token when using System Manage Identity in Azure App Service from a Python Web App.

**To Reproduce**
Steps to reproduce the behavior:
1. [Create a Python Web App with Django](https://docs.microsoft.com/en-

[2022-03-08 17:35] catalinaperalta commented on #23402
Hi @anotherancientalien! I will close this for now then, please feel free to reopen if you need more help.

[2022-03-08 17:35] #23402 closed

[2022-03-08 17:37] catalinaperalta commented on #23404
Thanks for letting us know @anotherancientalien. Closing for now then, please feel free to reopen if you need more help.

[2022-03-08 17:37] #23404 closed

[2022-03-08 17:40] catalinaperalta commented on #23406
Thanks for the question @adancarrasco! We will investigate and get back to you ASAP.

[2022-03-08 17:44] #22659 closed

[2022-03-08 18:15] xiangyan99 commented on #23406
Thanks for reporting the issue.

Could you help to check the value of environment variable "IDENTITY_ENDPOINT"?

[2022-03-08 18:50] adancarrasco commented on #23406
I see the following props in the env variables that could be related to the Managed Identity:
[code]

This is what I see from a VSCode deployment.

[2022-03-08 19:29] xiangyan99 commented on #23406
If possible, could you try azure-identity 1.9.0b1? (which was released today :))

[2022-03-08 19:53] adancarrasco commented on #23406
I already tried. I thought it could be fixed with this PR: https://github.com/Azure/azure-sdk-for-python/pull/23034
But I'm still getting the same issue. 😢
[code]

[2022-03-08 20:50] #23264 closed

[2022-03-08 21:44] #23208 closed

[2022-03-08 21:46] l0lawrence opened #23415 "[pylint] Add test files for testing pylint checkers"

[2022-03-08 23:28] sima-zhu commented on #23342
Docs repo readme reads from sdk repo
https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/monitor/azure-monitor-query/README.md#specify-timespan

The link above is the place fix the issue. Please verify and get it fixed. Docs will update live site weekly.

[2022-03-08 23:36] xiangyan99 commented on #23342
@sima-zhu Thank you for the information.

@rakshith91 @swathipil I see you modified the README above. Could you help to take a look?

[2022-03-08 23:53] xiangyan99 commented on #23406
I tried to repro the issue but failed.

I was using azure_identity 1.8.0 with Python 3.8.12 in App service.

I ran following code:

[code]

It worked for me. Here are the packages installed in my environment:

Package            Version
------------------ ---------
azure-core         1.23.0
azure-identity     1.8.0
certifi            2021.10.8
cffi               1.15.0
charset-normalizer 2.0.12
cl

[2022-03-09 00:46] SaurabhSharma-MSFT commented on #8899
@swiftarrow11 @Petermarcu Do you have any updates on this issue.

[2022-03-09 04:02] #6679 closed

[2022-03-09 05:03] msyyc opened #23423 "[pipeline] update configuration file for all mgmt services"
# Context
(1) After https://github.com/Azure/autorest.python/pull/1154 merged, there is conflict in [autorest configuration](https://github.com/Azure/azure-sdk-for-python/blob/main/swagger_to_sdk_config_autorest.json) and readme configuration.
(2) Python SDK has not maintained track1, so there is no need to distinguish track1 and track2.

# Steps
(1) update sample file:
https://github.com/Azure/az

[2022-03-09 07:32] JoelCanteroGCO commented on #23371
Thank you @catalinaperalta, I will remain attentive to your answer.

[2022-03-09 08:25] JoelCanteroGCO opened #23431 "Error in Dataset finalization in a local run using OutputFileDatasetConfig."
- **Package Name**: azureml-sdk
- **Package Version**:  1.39
- **Operating System**: Windows 10
- **Python Version**: 3.9.7

**Describe the bug**
Executing a local run with **ScriptRunConfig** object, specifying 'local' as a **compute_target** and setting some dataset arguments in **command** parameter, it throws an error:

[code]

With this warning message:

[code]

We set the OutputFileDatasetCo

[2022-03-09 08:25] azure-sdk commented on #23431
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Machine Learning:0.10427844,Data Factory:0.090381116,App Services:0.06629382'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.5567577,Client:0.4419897,Service:0.0010687346'

[2022-03-09 11:46] adancarrasco commented on #23406
Hi Xiang,
I tried with **Flask** and the token generation **works perfectly** (I haven't tried the access to the DB yet). When trying with **Django** is when **the issue happens**. The application we have is built with Django already, won't be possible to migrate to Flask.

Is there any chance you can try to reproduce it with Django?

Here are the packages installed in my environment for Django:

[2022-03-09 17:30] amishra-dev commented on #23362
@iscai-msft / @jalauzon-msft is this issue fixed or still needs a fix from us?

[2022-03-09 17:37] jalauzon-msft commented on #23362
@amishra-dev, @jayqi made a pull request for this already (thanks Jay!).

@jayqi, Laurent left a comment on your PR asking if you could implement the same fix in the async client as well since we like to keep those in sync. Please let us know if this is something you can do.

[2022-03-09 17:46] jalauzon-msft opened #23439 "Improve `datetime` to string logic to support a wider range of inputs"
For Storage packages, most noticeably file-share, all date headers are treated as strings and logic is implemented in the client layer to convert user-provided `datetime` objects to strings the Storage service will accept. This is because the Storage service expects one more digit of precision in the `microseconds` than Python provides. [This function](https://github.com/Azure/azure-sdk-for-python

[2022-03-09 17:46] azure-sdk commented on #23439
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5799338,Azure.Core:0.20338458,Service Bus:0.0190688'

[2022-03-09 17:51] AWendland-CryptoCompare opened #23440 "Multiple aggregated SQL query freezing"
- Package Name: azure.storage.blob
- Package Version: 12.9.0
- Operating System: Linux
- Python Version: 3.8.8

**Describe the bug**
Multiple aggregators for SQL queries break the request. This follows on from [issue 23159](https://github.com/Azure/azure-sdk-for-python/issues/23159) about using the queer_blob function on the BlobClient class.

**To Reproduce**
The following queries runs fine:
a)
S

[2022-03-09 18:03] xiangyan99 commented on #23406
I updated my env to:

Package            Version
------------------ ---------
asgiref            3.2.10
azure-core         1.23.0
azure-identity     1.8.0
certifi            2021.10.8
cffi               1.15.0
charset-normalizer 2.0.12
cryptography       36.0.1
Django             3.1
idna               3.3
msal               1.17.0
msal-extensions    0.3.1
pip                21.3.1
portalocker

[2022-03-09 18:04] catalinaperalta commented on #23431
Thanks for you question @JoelCanteroGCO! Adding @bandsina who may be able to provide more insight.

[2022-03-09 18:09] catalinaperalta commented on #23440
Thanks for reporting this @AWendland-CryptoCompare! Adding @jalauzon-msft who may have more insight on the issue.

[2022-03-09 18:29] yunhaoling commented on #21849
awesome, looking forward to your good news.

The azure function eventhub output binding has internally integrated with a .NET SDK EventHubProducerClient, and I assume it's kept alive by the azure function for sending events.

[2022-03-09 19:43] BillmanH opened #23445 "Error Mesasges from `service_client.upsert_digital_twin` API"
When using the python API, I'm unable to get good error messages from `service_client.upsert_digital_twin()`. The only thing it returns is "Invalid twin specified".

**However** when I went to the ADT Explorer tool and entered the values manually I got a full description of the problem:
[code]

That is way more useful than just saying "Invalid twin specified".  It would be so helpful to end users

[2022-03-09 19:43] azure-sdk commented on #23445
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.25039646,Digital Twins:0.15617016,Tables:0.04328848'

[2022-03-09 19:55] BillmanH commented on #23445
good robot

[2022-03-09 20:48] annatisch commented on #23445
Thanks for the report @BillmanH!
We should definitely find a way to surface the useful parts of the error message.
The information _should_ be available on the raised Exception - however this means one had to know if advance to catch and inspect it in order to get the data.
In the meantime, if you do catch the error, you should find this on the `HttpResponseError.model` attribute.

Adding the DT t

[2022-03-09 20:48] swathipil commented on #22961
@v-xuto - I've confirmed that Windows is much slower than the other platforms, which would explain why this fails on only Windows. Based on this, I'm still thinking this is an issue with the timeout being set too low. Would you be able to try setting timeout to 20000, 30000, 40000, 50000, 60000, etc. and see if there's a change in rate of tests passing?

[2022-03-09 21:28] BillmanH commented on #23445
Ah, but an invalid request does not create an exception in Python.  `upsert_digital_twin` runs the error and choses what to send back, removing the needed `details`

Looking at the [client library](https://github.com/Azure/azure-sdk-for-python/blob/c8291ac6cb0dbd865da03a88dd2bcb9279e2c4a6/sdk/digitaltwins/azure-digitaltwins-core/azure/digitaltwins/core/_digitaltwins_client.py)

You can see that it

[2022-03-09 21:39] yunhaoling commented on #22547
we could ask PM on the ratio of users standard/basic

[2022-03-09 21:44] BillmanH commented on #23445
Actually, after some consideration @annatisch has a good remediation. I did catch the issue, but I didn't store the `e` Going back through it I found that I could get the full message from:
[code]
@annatisch is right. The values are there. This is good to go.

[2022-03-09 21:44] #23445 closed

[2022-03-09 22:02] #21953 closed

[2022-03-09 22:05] stevenzhao82 commented on #21953
Thanks @annatisch

[2022-03-09 22:39] #23362 closed

[2022-03-09 22:55] mikeharder commented on #22961
@swathipil: How much slower is Windows, and what is the scenario?  Perf should be similar across Windows and Linux for most scenarios.

[2022-03-09 23:01] heaths opened #23450 "Regenerate CLU SDK"
Now that 2021-11-01-preview is merged into main, please update your autorest.md files to commit 330e4ef04601fd09fd75896a8fe5c0da26b2fe09 and regenerate / re-record tests.

[2022-03-09 23:29] annatisch commented on #23445
Hi @BillmanH - thanks for following up!
Good to hear that the workaround is working for you :)

[2022-03-10 00:00] swathipil commented on #22961
@mikeharder - just got clarification, and it looks like I misunderstood. Windows is slower for file operations, but I misconstrued that this affected the tests somehow (which it shouldn't). Thanks for the correction!

[2022-03-10 00:41] brad-lucas commented on #19755
Originally reported in #11593

[2022-03-10 01:12] jalauzon-msft commented on #23360
Hi @4vadim4 Vadim, just wanted to check to ensure you setup Azurite to work with the Storage SDKs as outlined [in this doc](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite?tabs=visual-studio#azure-sdks)?

[2022-03-10 01:23] jalauzon-msft commented on #23440
Hi again @AWendland-CryptoCompare Alex, my guess is that types of queries, with multiple aggregations or aggregations included with columns, are not supported by the service. I also get an error when I try similar queries.

I can reach out to the service team internally and verify.

[2022-03-10 01:39] catalinaperalta opened #23457 "[Test-Proxy] Enable skip recording request bodies"
Leverage changes implemented in this PR to allow not recording request bodies: https://github.com/Azure/azure-sdk-tools/pull/2692

[2022-03-10 02:10] xiangyan99 commented on #23406
@adancarrasco Thanks for the information.

My hypothesis is when you saw the error "No connection adapters were found for '[Managed identity has been configured.
This value is not viewable in Kudu but is exposed to the app.]?api-version=2017-09-01&resource=https://ossrdbms-aad.database.windows.net'"

Your environment variable was set to "[Managed identity has been configured.
This value is not vie

[2022-03-10 10:13] sdebruyn opened #23466 "Incorrect information about storage account"
From the current version of this page:

This is incorrect. You can also use Managed Identity on the Form Recognizer that has access to the storage account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07c46934-593b-6b31-f57f-ab77fb1f428e
* Version Independent ID: 8c347ddf-05a4-31c2-1951-e0b75daa50ce
* Content: [azure

[2022-03-10 14:19] sdebruyn commented on #23466
Related https://github.com/MicrosoftDocs/azure-docs/issues/89555

[2022-03-10 15:43] MrToustous opened #23467 "Async iteration over AsyncSearchItemPaged raises Forbidden on fetching next page"
- **Package Name**: azure-search-documents
- **Package Version**: 11.2.1
- **Operating System**: Ubuntu
- **Python Version**: 3.9.7

**Describe the bug**
When using the Async version of the SearchClient from azure-search-documents python SDK, I get an error when iterating over a Search result with more than 50 products. It looks like the error occurs when thz AsyncSearchItemPaged object tries to p

[2022-03-10 17:35] simorenoh commented on #22861
@stevesimmons The change has been released today with the new beta version, thank you again for pointing this out and for using our SDK!

[2022-03-10 17:36] simorenoh commented on #23006
@mxkus Change is released with the new beta version, thank you for pointing this out and using our SDK!

[2022-03-10 17:36] #23006 closed

[2022-03-10 18:30] kristapratico commented on #23466
@sdebruyn thanks for pointing this out! We'll get the docs fixed up asap.

[2022-03-10 18:32] kristapratico commented on #23467
Hi @MrToustous thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-10 19:52] yunhaoling opened #23472 "[AMQP Python] Message settlement"
### Issue
implement the amqp protocol section 3.4, This is the feature required by service bus received message settlement (complete/defer/deadletter/abandon)

<img width="219" alt="image" src="https://user-images.githubusercontent.com/47871814/157743552-dc5779e6-ab75-4544-bf9b-610226e225c5.png">

### references
- uamqp implementation details:
  - python
    - message.py: https://github.com/Azure/

[2022-03-10 19:55] yunhaoling opened #23473 "[AMQP Python] MISC improvement"
This issue is for tracking misc items that we could improve based on the uamqp development experience:

- The constructor of `ReceiveClient` supports overwriting on_message_received_callback. ([issue](https://github.com/Azure/azure-sdk-for-python/pull/23285#discussion_r824016119))

[2022-03-10 22:05] #23380 closed

[2022-03-10 22:06] #22825 closed

[2022-03-10 22:10] #23326 closed

[2022-03-10 22:14] mccoyp commented on #17169
Resolved by https://github.com/Azure/azure-sdk-for-python/pull/23303

[2022-03-10 22:14] #17169 closed

[2022-03-10 23:13] yunhaoling opened #23476 "Event Hubs Client Library for Python - April Milestone"

[2022-03-11 00:00] yunhaoling opened #23478 "Service Bus Client Library for Python - April Milestone"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-11 00:10] travcunn commented on #11149
Any updates?

[2022-03-11 00:12] #10595 closed

[2022-03-11 00:14] #23220 closed

[2022-03-11 00:30] varun-shahdadpuri commented on #12568
@xiafu-msft How do we use Azurite in case we cannot expose Azurite using localhost or 127.0.0.1?

[2022-03-11 00:36] amishra-dev commented on #12568
Hi @varun-shahdadpuri it might be better to ask that question [here](https://github.com/Azure/Azurite/issues)
I think the SDK can parse IP addresses for the azurite case

[2022-03-11 00:38] sodul commented on #11149
@travcunn you can try my tool, which will bring the azure packages down to something less massive (300-400MB), but that might still be too large for Lambda.
https://github.com/clumio-code/azure-sdk-trim

As far as I can tell, this is something that was reported years ago and each release is still growing bigger, so it does not seem to be a priority at Microsoft.

@jsntcy you did communicate almost

[2022-03-11 00:52] jalauzon-msft commented on #23360
@4vadim4 Vadim, beyond that I would recommend you open the issue on the Azurite repo [here](https://github.com/Azure/Azurite/issues) as they will be better to assist. Thanks.

[2022-03-11 01:31] kashifkhan commented on #23467
Hi @MrToustous I am working on fixing the issue on my side. In the meantime as a work around, I was able to use the sync client and retrieve the items from the index properly.

[2022-03-11 01:38] jalauzon-msft commented on #23440
@AWendland-CryptoCompare Alex, I heard back from the service team and wanted to provide an update.

For example c: `SELECT MIN(CAST("price" AS FLOAT), MAX(CAST("price" AS FLOAT)` - Unfortunately, the service does not currently support multiple aggregations in a single query so this kind of query will not work.
For example d: `SELECT "timestamp", "side", MIN(CAST("price" AS FLOAT)` - I do not belie

[2022-03-11 01:38] #23440 closed

[2022-03-11 02:08] msyyc opened #23480 "[tool] Improve changelog tool of `packaging_tool`"
There are duplicated item in changelog like: https://github.com/Azure/azure-rest-api-specs/pull/17925/checks?check_run_id=5492263156

[2022-03-11 02:37] msyyc opened #23481 "[testproxy] conceal sensitive info in recording files"
add sanitizer for each service to conceal sensitive info in recording files

[2022-03-11 02:37] msyyc commented on #23481
https://github.com/Azure/azure-sdk-for-python/pull/23425
https://github.com/Azure/azure-sdk-for-python/pull/23426
https://github.com/Azure/azure-sdk-for-python/pull/23427
https://github.com/Azure/azure-sdk-for-python/pull/23428
https://github.com/Azure/azure-sdk-for-python/pull/23429
https://github.com/Azure/azure-sdk-for-python/pull/23430
https://github.com/Azure/azure-sdk-for-python/pull/23456
h

[2022-03-11 06:56] v-xuto commented on #22961
@swathipil By increasing the timeout time, the pass rate does not improve. This makes me think whether the test has much to do with timeout.
I also tried to debug the test, waiting 1~2 minutes when running to this line of code
`received = partition.receive_message_batch(timeout=5000)`, but the test still failed.

[2022-03-11 07:19] jsntcy commented on #11149
@sodul, I'm not in SDK team now. @msyyc, please share the update for this issue.

[2022-03-11 07:31] msyyc commented on #11149
HI, we have gradually reduced the size for several release: https://github.com/Azure/azure-sdk-for-python/issues/21301.
What size do you expect?

[2022-03-11 07:36] micafer opened #23483 "TypeError: argument of type 'NoneType' is not iterable in msal_client.py"
- **Azure.Identity**:
- **1.8.0**:
- **Ubuntu 20.04**:
- **Python 3.8**:

**Describe the bug**

Sometimes when authenticating with ClientSecretCredential class I get this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
The error appears sometimes, I cannot reproduce the error with a fixed set ot steps.

**Expected behavior**

It should raise a ClientAuthenticationError with the c

[2022-03-11 07:56] jiasli commented on #21301
21.1MB is still too large. Azure CLI 2.34.1 (https://azcliprod.blob.core.windows.net/msi/azure-cli-2.34.1.msi) is 52.3MB, which means `azure-mgmt-network` is almost half the size of whole Azure CLI.

[2022-03-11 07:56] jiasli commented on #11149
According to https://github.com/Azure/azure-sdk-for-python/issues/21301#issuecomment-958653096, 21.1MB is still too large. Azure CLI 2.34.1 (https://azcliprod.blob.core.windows.net/msi/azure-cli-2.34.1.msi) is 52.3MB, which means `azure-mgmt-network` is almost half the size of whole Azure CLI.

[2022-03-11 08:02] #22934 closed

[2022-03-11 08:02] #21451 closed

[2022-03-11 10:06] zedy-wj commented on #22379
@catalinaperalta -
1. For live tests: `Error: The file is corrupted or format is unsupported.` After we increase the expired time of sastoken, it is no longer reproduced.
![image](https://user-images.githubusercontent.com/81678720/157840469-840564c8-53a3-4d2a-a3be-c26f87682d6a.png)

2. For samples tests: `some tests fail occasionally when downloading images or attempting to access the storage blob

[2022-03-11 14:37] Fenigor commented on #23406
@xiangyan99 Indeed, we saw that in the kudu environment variables MSI_ENDPOINT & IDENTITY_ENDPOINT are set to "[Managed identity has been configured.
This value is not viewable in Kudu but is exposed to the app.]".
We also connected to the container via ssh and saw the variables have correct values there.

[2022-03-11 17:50] #22517 closed

[2022-03-11 19:15] catalinaperalta commented on #23483
Thanks for reporting this @micafer! We'll investigate and get back to you ASAP.

[2022-03-11 23:44] swathipil commented on #22961
@v-xuto Thanks for testing this out! I was actually able to reproduce this error locally when testing against an EH namespace where the location is set far away and has a long round trip (specifically, Australia). I'm currently debugging right now to see if we're retrying incorrectly or whether there's a problem elsewhere. Will have more updates to you in the next week.

[2022-03-12 01:11] catalinaperalta commented on #22379
@zedy-wj I have implemented a similar workaround by adding a sleep time between each test. The concern with the retries is that the service may still be affected with increased requests, but since it is for the samples which are a limited number of calls, I think that solution can remain for now and we can revert once the environments are more stable. I do agree that these are not the best solutio

[2022-03-12 01:36] yunhaoling commented on #21639
hey @andrea-cassioli-maersk , apologize for the late reply.

I tried multiple code snippets but didn't get good luck. what I'm thinking right now is that based on the logging:

[code]

- Is there a chance that the async event loop got closed when the program is interrupted while the coroutines are already added to the async event loop event queue but don't get a chance to be executed -- when clean

[2022-03-12 07:51] Spiro-001 commented on #23233
@Srkshaikh5
Similar to speechConfig in the sample code they give in their documentation, you want to first create a variable that will be used as the setting for Profanity. I created a variable and named it setProfanity.

From here you want bring up the ProfanityOption class, which is also included in the documentation. ProfanityOption has 3 functions within this class.

ProfanityOption::Masked |

[2022-03-12 21:46] jdudleyie opened #23487 "uamqp.errors.TokenAuthFailure: CBS Token authentication failed. - ExpiredToken: The token is expired"
- **Package Name**: azure-servicebus
- **Package Version**: 7.6.0
- **Operating System**: Debian-Buster
- **Python Version**: 3.9

python:3.9-buster docker image is what I am using, and this appears to use Debian-Buster docker image.

Also using fastapi==0.74.0 and uvicorn==0.17.5 if it helps, the below process is running on a background thread triggered from the startup event.

**Describe the bug

[2022-03-12 22:28] jdudleyie commented on #23487
I am trying a temporary fix for now which, when this exception (or just any exception for now) occurs, it would exit the existing loop but a new outer loop would create new service bus client and topic receiver - not sure if this will work.

[code]

[2022-03-12 23:15] nvigne commented on #22813
I think it is already tracked by this one #8544

[2022-03-13 08:02] #21635 closed

[2022-03-13 13:46] SomanathSankaran opened #23488 "dataflow Reference is missing in Pipeline.get"
- **Package Name**:  azure_mgmt_datafactory-2.3.0-py3-none-any.whl
- **Package Version**: 2.3.0
- **Operating System**:ubuntu
- **Python Version**: 3.8.10

**Describe the bug**
We have a pipeline with for each activity which has a if activity which in-turns calls a data flow activity
we called adf_client.pipelines.get and when we tried to get data flow name from dataflow activity by using
df_act.d

[2022-03-13 13:54] SomanathSankaran commented on #23488
I also tried to validate the returned dataflow activity using validate()
and got below error

df_act.validate()
msrest.exceptions.ValidationError("Parameter 'ExecuteDataFlowActivity.data_flow' can not be None."

[2022-03-13 19:28] woefulpines commented on #22557
Hi, I'm new to open source contributing. I have read your contributing guide and I was wondering if I could grab this issue.

[2022-03-13 23:28] javhd72 opened #23489 "Personalizer RankResponse reamined probability"
Question: Personalizer splits the remained probability evenly between the other actions?
Personalizer service ranked the actions with the probabilities as below:
steak 0.85
ice cream 0
apple pie 0
juice 0
salad 0.05
crepes 0
spice chicken 0.05
pasta 0.05

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f9de7f3-22b9-c9c2

[2022-03-13 23:29] azure-sdk commented on #23489
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.55286,Cognitive Services:0.28275028,Cognitive - Form Recognizer:0.055858053'

[2022-03-14 01:32] msyyc commented on #21301
Let me paste the data in e-mail to raise more attention for architect

[2022-03-14 01:54] zedy-wj commented on #22379
@catalinaperalta - Since the service's response time on the UsGov and China clouds is also unstable, we set the timeout time for the form recognizer pipeline to be 400 minutes, sometimes even timeout, so it is set for 8 hours, but for now, 5-6 hours after stabilization is enough.

[2022-03-14 03:07] msyyc commented on #11149
Let me paste the data in e-mail to raise more attention for architect

[2022-03-14 05:29] msyyc opened #23493 "[pipeline] improve log info for swagger pipeline"
The log in swagger pipeline does not contain effective info. For example:

(1)https://github.com/Azure/azure-rest-api-specs/pull/18204/checks?check_run_id=5532302403
![image](https://user-images.githubusercontent.com/70930885/158110117-a9fa739e-a0ec-443f-80bf-e53bf5189ee3.png)
(2) the log does not contain effective info, either.
[logs (90).txt](https://github.com/Azure/azure-sdk-for-python/files/8

[2022-03-14 13:42] JoelCanteroGCO commented on #23431
Thanks @catalinaperalta.

Any news about this? @bandsina

Thank you,
Joel

[2022-03-14 13:58] adancarrasco commented on #23406
@xiangyan99 as @Fenigor mentioned, we verified the values and those values are set like that.

[2022-03-14 14:01] josvo opened #23494 "Version 20.1.0 of azure-mgmt-resource breaks PolicyClient"
- **azure-mgmt-resource**:
- **20.1.0**:
- **Linux**:
- **3.9**:

**Describe the bug**
When executing the PolicyClient Python example from the MS Website, it works with `azure-mgmt-resource` `20.0.0`, but returns an error with version `20.1.0`:
AttributeError: 'NoneType' object has no attribute 'format'

**To Reproduce**
Steps to reproduce the behavior:
1. Execute the example provided at: https://

[2022-03-14 15:57] xiangyan99 commented on #23406
@adancarrasco @Fenigor Thanks for the confirmation. It is by design that we cannot get the values correctly in kudu.

Please use ssh to deploy the apps.

[2022-03-14 17:46] #23467 closed

[2022-03-14 17:59] kristapratico opened #23498 "[textanalytics] CT ux study action items"
- [x] make sure samples are published to sample browser: https://docs.microsoft.com/en-us/samples/azure/azure-sdk-for-python/textanalytics-samples/
- [x] participants did not understand "deployment name". (this is explained/linked to in the MS service docs)
- [x] rename `deployed_model_name` variable to `deployment_name` for all CT samples
- [x] unify samples/terminology used between languages - t

[2022-03-14 18:08] #22672 closed

[2022-03-14 18:37] yunhaoling commented on #23487
hey @jdudleyie thanks for reaching out.

May I ask what credential you are using to connect to the service, are you using connection string or service principals (credentials from azure-identity library)?

[2022-03-14 19:54] jdudleyie commented on #23487
Hi @yunhaoling,

Thanks for your reply.

I am using azure-identity (I see I am on 1.7.1 and there is now version 1.8.0 so I am not sure if this would help) - using concepts from this article: https://docs.microsoft.com/en-us/python/api/overview/azure/identity-readme?view=azure-python

The application is running in a docker container in Azure App Service, where the App Service System Assigned Ident

[2022-03-14 21:33] annatisch commented on #23106
Hi @chshihMSFT
This should now be resolved in the latest Tables release :)

[2022-03-14 21:37] annatisch opened #23505 "[QnA] Refactor to use new patch customizations"
The current generated QnA SDK has manual edits to add method overloads to the Mixin.
The updated autorest support for patching operations should be used instead to allow for easy regeneration.

The WebPubSub updates should provide a good template: #23504
FYI @iscai-msft

[2022-03-15 03:07] weltonrodrigo opened #23510 "Send EventDataBatch with per-message partition_key"
It would be nice to be able to send a batch where every message has it's own partition_key.

The case here is when I get a batch from an external client, but I need to repartition this batch. Send every message isolated it not ideal, so using a batch is essential.

But there is no public interface to set the partition key for a single EventData, only EventDataBatch. It used to exist, but was remov

[2022-03-15 08:02] #23084 closed

[2022-03-15 08:02] #22337 closed

[2022-03-15 08:02] #22212 closed

[2022-03-15 08:16] JuanBoisan commented on #23406
We can't deploy via SSH because in Azure App Service the container doesn't start until the container starts running.
We tried many methods, including manually updating in Kudu and then starting the container, but we experienced the same issue. The container didn't get the correct values.

[2022-03-15 08:56] v-xuto commented on #19200
@tasherif-msft Do you have any progress on this issue?

[2022-03-15 08:58] v-xuto commented on #16231
@tasherif-msft Do you have any progress on this issue?

[2022-03-15 09:00] navba-MSFT commented on #19263
@asimarora Apologies for the late reply. We will update this thread once we have more details on this.

@sebansal Could you please provide an update on this once you get a chance ? Awaiting your reply.

[2022-03-15 10:02] #23252 closed, assigned to xiangyan99, laiapat

[2022-03-15 14:50] afogarty85 opened #23513 "azure-storage-file-datalake AIO capability not working"
- **azure-storage-file-datalake --pre**:
- **12.5.0**:
- **Windows 10**:
- **3.8**:

**Describe the bug**
The `AIO` version runs no faster than without AIO

**To Reproduce**
[code]

**Expected behavior**
AIO-level speed.

**Screenshots**
N/A

**Additional context**
Contrast this with the same method for blob storage (which actually works) in terms of speed:

[code]

[2022-03-15 15:38] xiangyan99 commented on #23494
Thanks for the feedback, we’ll investigate asap.

[2022-03-15 15:53] xiangyan99 commented on #23406
Loop in app service team. Is this behavior by design? And any suggestions for the scenario?

[2022-03-15 16:13] rikiAnodot opened #23515 "ConsumptionClient reservations_summaries.list error of MissingSubscription"
- **Package Name**:  ConsumptionManagementClient
- **Package Version**: 9.0.0
- **Operating System**: IOS
- **Python Version**: 3.7

**Describe the bug**
After updating the creds for app registration as described here: https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#cost-management-reader

I am facing the same error: '(MissingSubscription) The request did not have a

[2022-03-15 16:13] azure-sdk commented on #23515
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Subscription:0.38470247,Consumption - UsageDetailsAndExport:0.31340492,ARM:0.088677295'

[2022-03-15 16:33] catalinaperalta commented on #23385
Just wanted to give an update, that the service team is working on this and should have a fix out soon. Will post again once the fix is out.

[2022-03-15 16:36] cindyloo opened #23516 "flask run throws `ImportError: No module named azure.storage.blob`"
% flask run

Usage: flask run [OPTIONS]

Error: While importing "app", an ImportError was raised:

Traceback (most recent call last):
  File "/Library/Python/2.7/site-packages/flask/cli.py", line 240, in locate_app
    __import__(module_name)
  File "/Users/cindybishop/Documents/GitHub/chomskyvschomsky/chomskyPipeline/app.py", line 4, in <module>
    from azure.storage.blob import BlobServiceClien

[2022-03-15 16:55] yunhaoling commented on #14543
hey @MR-KO , hope you are keeping well!

I'm excited to announce that we redesigned our SDK to not rely on any C code anymore, it’s now entirely implemented in Python [(5.8.0a3 - pypi)](https://pypi.org/project/azure-eventhub/5.8.0a3/). We’d love to get your feedback and perspective on this new version, as we believe you are using this SDK in an environment that would benefit from the changes.

He

[2022-03-15 16:56] yunhaoling commented on #13739
hey @jannekeskitalo  , hope you are keeping well!

I'm excited to announce that we redesigned our Python EventHubs SDK to not rely on any C code anymore, it’s now entirely implemented in Python [(5.8.0a3 - pypi)](https://pypi.org/project/azure-eventhub/5.8.0a3/). We’d love to get your feedback and perspective on this new version, as we believe you are using this SDK in an environment that would be

[2022-03-15 16:58] cindyloo commented on #23516
I had to do this from within a venv and it is running now

[2022-03-15 16:58] #23516 closed

[2022-03-15 17:25] yunhaoling commented on #23510
hey @weltonrodrigo , thanks for your feedback!

The `EventDataBatch` is designed to host a batch of events of the same partition_key or partition_id for high sending performance. Within the `EventHubProducerClient` there are producers for each partition id. events with no partition_id but with partition_key will be sent out by default producer.

I need to first check whether setting different part

[2022-03-15 17:34] #20704 closed

[2022-03-15 17:51] woefulpines commented on #22557
Sure, I'll try my best to have everything set up and focus on getting that example you showed up to spec. Thank you for the opportunity.

[2022-03-15 17:52] scbedd opened #23519 "Azure-core timing out 100% of the time during regression testing"
We've crossed the rubicon into the land of "not possible in a single job".

Need to distribute the targeted regression test per service. This will increase the number of jobs during regression run, but this is nightly job anyway.

Current process, using `sdk/core` as service we're building CI for.

[code]

We are breaking this up to generate a matrix for each dependent service.

[code]

[2022-03-15 18:13] marckhair commented on #22254
Does not seem to have a relevant package for blueprints in the python sdk...

[2022-03-15 18:51] scbedd commented on #22489
In the past 20 days.

![image](https://user-images.githubusercontent.com/45376673/158450351-570da820-9389-46ef-8c83-192a7904029e.png)

Need to continue to reduce disk pressure. We've made progress on this issue though.

[2022-03-15 20:28] #23466 closed

[2022-03-15 20:34] yunhaoling commented on #23510
thanks for confirmation.

this is expected by me actually because for a batch event, it's the partition id/partition key on the batch event that dominates.

Yes, so far you would need to create batch for each message (partition).

But we're working on a new feature called buffered producer in which you don't have to manage batch by yourselves and does automatically batching and sending in the back

[2022-03-15 20:51] xiangyan99 commented on #23483
Thanks for reporting the issue. The fix has been merged and will be available in next release.

[2022-03-15 20:52] xiangyan99 commented on #23142
Python will continue to use identity_config rather than introducing a new argument resource_id.

[2022-03-15 20:52] #23142 closed

[2022-03-15 21:01] rakshith91 commented on #22547
Profiling link: https://microsoft.sharepoint.com/teams/AzureDeveloperExperience/_layouts/OneNote.aspx?id=%2Fteams%2FAzureDeveloperExperience%2FShared%20Documents%2FLanguage%20-%20Python%2FAzure%20SDK%20-%20Language%20-%20Python&wd=target%28Rakshith%20Temp%20-%20messaging%20perf.one%7C802CA18E-3802-468B-BD7C-A9679B9258AF%2F[profiling](onenote:https://microsoft.sharepoint.com/teams/AzureDeveloperExp

[2022-03-15 21:01] #22547 closed

[2022-03-15 21:24] rakshith91 commented on #22962
@lukipro I have tagged the service team here for further investigation. Meanwhile, can you check if the AAD credentials are right on your end? It is possible that it is some other authentication issue that is not being surfaced correctly.

[2022-03-15 22:27] yunhaoling commented on #21789
success criteria: 90% pass rate for the past two weeks

[2022-03-15 22:34] yunhaoling commented on #22852
align with Go/JS tasks

[2022-03-15 22:50] #19460 closed

[2022-03-15 22:50] #19458 closed

[2022-03-15 22:50] #19452 closed

[2022-03-15 22:59] yunhaoling commented on #22881
this is for cross-language feature consistency

[2022-03-15 23:03] kristapratico opened #23526 "[textanalytics] support language API version"
- [x] regenerate on April version swagger when available
- [x] remove instances of v3.2-preview and update docs to show this
- [x] add necessary transforms to make TA / language coexist with multi-api

[2022-03-15 23:05] kristapratico opened #23527 "[textanalytics] add support for healthcare entities action"
- [ ] Add healthcare entities as an action and result type in begin_analyze_actions
- [ ] Samples
- [ ] Tests
- [ ] Readme/changelog

[2022-03-15 23:10] kristapratico opened #23528 "[textanalytics] add missing bespoke methods"
We aim to improve discoverability by adding bespoke methods for extractive summarization (TBD) and custom text tasks (custom entities, single/multi classification). These are the only features missing on the client and will create 1:1 consistency with what's found on the client and what can be called in begin_analyze_actions. See gist: https://gist.github.com/kristapratico/b70f6513e25d4f4af5b9866c

[2022-03-15 23:15] kristapratico opened #23529 "[textanalytics] move custom poller metadata to `details`"
Currently we expose two custom pollers in TA - AnalyzeHealthcareEntitiesLROPoller and AnalyzeActionsLROPoller. These were stabilzed with metadata directly on the poller as read-only properties, e.g. https://apiview.dev/Assemblies/Review/d3b9aeb03357454b9e083ef519156a94?diffOnly=False&diffRevisionId=4cfad4949b1c40fdb0c9b437d086f0d0#azure.ai.textanalytics.aio.AsyncAnalyzeActionsLROPoller

We want to

[2022-03-15 23:20] kristapratico opened #23530 "[textanalytics] support for cancellation of an analyze job"
Swagger here: https://github.com/Azure/azure-rest-api-specs/pull/17281

- [x] Determine whether we should expose cancel on the poller object or client itself (precedence in TA is to put cancel on the poller -- see healthcare)
- [x] Determine how cancel should work if initiated from the the healthcare poller + language API version

[2022-03-15 23:24] kristapratico opened #23531 "[textanalytics] investigate error behavior for TA"
With supporting language API side-by-side in the TA library, we need to ensure that any new error behavior in language API translates well to the existing error behavior to avoid breaking changes. Specifically interested in analyze actions, as there might be some upfront service validation in language API that did not exist in previous TA versions.

[2022-03-15 23:31] kristapratico opened #23532 "[textanalytics] check client side validation with multi-api"
This concern was brought up in arch board. The question posed was that with supporting older API versions, should we (the client library) validate against arguments intended and only supported by the latest API version, or should we defer to the service? We need to check these scenarios to see how the service handles e.g. an action type that wasn't yet introduced in an older version. Another point

[2022-03-16 04:52] Santhoshkumard11 commented on #23031
@tommasogallingani  Are you inside your venv?

[2022-03-16 08:13] msyyc opened #23537 "[release helper] add `assign policy`"
`release helper` shall permit each language to define customized assign-policy

[2022-03-16 13:04] davystrong opened #23538 "Support azureml-pipeline-steps on M1 Mac"
- **Package Name**: azureml-pipeline-steps
- **Package Version**: 1.39.0
- **Operating System**: macOS Monterey 12.3
- **Python Version**: 3.8.12

**Describe the bug**
I can't install `azureml-pipeline-steps` on an M1 Mac because some dependencies don't support ARM. I have found four problem dependencies:
* `pyarrow` (`azureml-pipeline-steps` uses an old version which doesn't have ARM support. New

[2022-03-16 15:38] HaraldVanWoerkom commented on #21981
Is there any progress on this issue?

[2022-03-16 15:55] HaraldVanWoerkom commented on #21981
Yes, I am using the same registered app.
Note that the current code of the AadClient used for the async token update just cannot work, since it does not have the client_secret. If you hack the code so it does have the client_secret, it works.

I tried the following hack, which I do not like. But it does get the job done:
azure\identity\aio\_credentials\on_behalf_of.py: OnBehalfOfCredential._reques

[2022-03-16 17:39] #23505 closed

[2022-03-16 18:00] JoshLove-msft opened #23540 "[FEATURE REQ] Add ability to manage rules with the ServiceBusReceiver"
This existed in Track 1, and allowed users with only Listen claims to manage rules on the subscription that they had listen claims for. In Track 2, this can be done using the ServiceBusAdministrationClient, but it requires Manage claims.

.NET issue - https://github.com/Azure/azure-sdk-for-net/issues/25523
.NET PR - https://github.com/Azure/azure-sdk-for-net/pull/27346

[2022-03-16 18:03] l0lawrence opened #23541 "[pylint] tests for python2 and python3 formatting"

[2022-03-16 18:18] #22906 closed

[2022-03-16 19:29] jalauzon-msft opened #23543 "[Storage] Fix sending empty headers to service on certain operations"
In the following operations, the SDK is sending an empty header to the service. While this is not technically a problem, we should not be sending these empty headers if there is no information.
- file-share
    - `start_copy_from_url()` - We send empty `x-ms-file-create-time` and `x-ms-file-last-write-time` if they are not provided
- file-datalake
    - `_create_path()` (`create_directory()`, `cre

[2022-03-16 22:02] #21849 closed

[2022-03-16 22:58] SaurabhSharma-MSFT commented on #23489
@javhd72 Can you please provide more details if this happens to any number of inputs you are providing to the RankAPI ?

[2022-03-17 01:13] xiangyan99 commented on #21981
Thanks for the investigation.

I opened a PR https://github.com/Azure/azure-sdk-for-python/pull/23551.

If possible, could you try if it works for you?

Thanks.

[2022-03-17 04:05] clintsinger commented on #21633
Currently the continuation token only lets one move forward in the query but in some situations it would good to also be able to move backwards in the pages without having to re-query.

Ideally each page could have both a continuation token for the next page and previous page token.

My specific use case is that I'm putting a GraphQL frontend on the Table Storage data.   Using Connections there is

[2022-03-17 08:02] #18905 closed

[2022-03-17 11:30] sunnycarter opened #23561 "azure.mgmt.resource.resources.list with filter for VM name throws exception if the list is too long"
I'm abridging my code to explain the problem:
[code]

I have found on a subscription with a small number of VMs, this code works fine.  However, on a subscription with a high number of VMs, I get the logs and stack trace below, the pertinent of these is:
`InvalidFilterInQueryString) Invalid $filter 'name eq 'myvm-name' and resourceType eq 'Microsoft.Compute/virtualMachines',name eq 'myvm-name' and

[2022-03-17 11:33] azure-sdk commented on #23561
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute:0.23376025,Compute - VM:0.22253354,ARM:0.07520742'

[2022-03-17 13:40] #22643 closed

[2022-03-17 16:30] dunalduck0 opened #23563 "How to fix warning: Metric once published using sync API should always use sync API to publish following metrics"
- **Package Name**: azureml-defaults
- **Package Version**: 1.36.0.post2
- **Operating System**: linux
- **Python Version**: 3.8.10

**Describe the bug**
I am running a HyperDrive job for hyperparameter search with Bayesian sampling. The metric is logged by azureml as [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-tune-hyperparameters#specify-primary-metric-to-optimize). I a

[2022-03-17 17:00] YutongTie-MSFT commented on #23489
@javhd72 Hello Javier, I don't think we have this internal logic, but I will double check to confirm and let you know.

[2022-03-17 17:14] metamoof opened #23564 "403 Authentication Failure with Blob SAS"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.10.0
- **Operating System**: Windows 10
- **Python Version**: 3.9.9

**Describe the bug**
I'm attempting to generate a blob-specific Shared Access Signature, but the signature in question is not working correctly.

**To Reproduce**
Steps to reproduce the behavior:
I have prepared a small test script against the default azurite instal

[2022-03-17 17:29] weishengtoh opened #23565 "Please rework the pipeline interactions with azureml.data.OutputFileDatasetConfig"
### Problem Description

Azure ML Python SDK documentation has provided numerous options to pass data between training pipelines, but currently the recommended option appears to be `azureml.data.OutputFileDatasetConfig`.

However, `azureml.data.OutputFileDatasetConfig` has a limitation that it cannot be accepted as a valid input for the `inputs`  parameter for all the classes in `azureml.pipeline.

[2022-03-17 17:41] pdavies commented on #23561
Hi - I saw this issue along with @sunnycarter. The key flow here is:

- SDK hits /resources endpoint to list resources, and includes a filter in the query string
- This request succeeds, but if pagination occurs, SDK gets back a response with a nextLink, which includes the filter in the query string
- The SDK then tries to add the filter to the nextLink even though it's already present, with the e

[2022-03-17 21:10] #23244 closed

[2022-03-17 21:11] #23234 closed

[2022-03-17 22:36] swathipil opened #23572 "[SchemaRegistry] Post-GA Avro test mypy errors and typing"
Discussed potential mypy/typing issues with Laurent
Laurent:
- "I would suggest you write a gist with all possible valid combination. EventData, callback, callback that returns 1, etc. Goal for GA is that it passes (meaning we're not screaming by mistake). It also we will ignore bad things, and not provide the best value, but at least we're not false positive."
- "you want to write a bad file, ful

[2022-03-17 23:46] SaurabhSharma-MSFT commented on #20938
@armleads-azure Do you have any updates on this.

[2022-03-18 08:02] #23007 closed

[2022-03-18 09:39] #23199 closed

[2022-03-18 11:39] HaraldVanWoerkom commented on #21981
@xiangyan99 I ran my test application again, both with main and with the identity_async_oob_refresh branch. With the former I get the error I got previously (as expected) and with the latter the token is properly refreshed.
So it works for me.
Thank you.

[2022-03-18 13:23] DanielMescheder-TomTom opened #23576 "azure-servicebus regression in 7.6.0: 'utf-8' codec can't decode byte 0xe4"
- Package: **azure-servicebus**:
- Version: **7.6.0**:
- OS: **Linux**:
- Python version: **3.6.9**:

**Describe the bug**
A simple code snippet to fetch messages from a servicebus queue (see below) fails with the error message
`Authentication Put-Token failed. Retries exhausted`.
The debug logs reveal that the problem might be related to encoding issues:
[code]

**To Reproduce**
Steps to reproduc

[2022-03-18 14:17] DanielMescheder-TomTom commented on #23576
I now have a working version with 7.6.0 so it might not be related to that particular version after all. I need to check what changed between the run the worked and the run that failed.