[2022-07-29 22:03] #23744 closed

[2022-07-29 23:16] catalinaperalta commented on #25441
Checked and there are no references to these types.

[2022-07-29 23:16] #25441 closed

[2022-07-29 23:31] viktorfreiman commented on #25456
@scbedd Thank for clarifying the problem. I totally missed "$web" being no escaped for bash shell.
I checked again and the urls are correct and working when escaped.

[code]

Thank for all the help

[2022-07-29 23:31] #25456 closed

[2022-07-29 23:57] jenhagg opened #25476 "Calling get_paths on publicly accessible container raises auth error"
- **Package Name**: azure-storage-file-datalake
- **Package Version**: 12.8.0
- **Operating System**: mac os
- **Python Version**: 3.9.12

**Describe the bug**
I have a blob container, hierarchical namespace enabled, with container level public access. I'm able to download files as expected, but listing paths using `get_paths` raises a `ClientAuthenticationError`. I am not totally sure if this is

[2022-07-30 01:36] #21147 closed

[2022-07-30 06:27] DarknessChen opened #25477 "Typo for the error code "IncrementalCopyOfEarlierVersionSnapshotNotAllowed""
**Describe the bug**
I think the error code "IncrementalCopyOf**Eralier**VersionSnapshotNotAllowed" here has a typo right? It should be "IncrementalCopyOf**Earlier**VersionSnapshotNotAllowed".

https://github.com/Azure/azure-sdk-for-python/blob/1d5096eb1bc8cbd77223ecc7a628738a5f88751c/sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_azure_blob_storage_enums.py#L291

If the user

[2022-07-30 07:47] DarknessChen commented on #25477
Besides, it should be "Snap**shot**OperationRateExceeded" instead of "Snap**hot**OperationRateExceeded".

https://github.com/Azure/azure-sdk-for-python/blob/c8291ac6cb0dbd865da03a88dd2bcb9279e2c4a6/sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/models/_azure_blob_storage_enums.py#L321

[2022-07-30 08:03] #24925 closed

[2022-07-30 08:03] #24527 closed

[2022-07-30 08:03] #24229 closed

[2022-07-30 08:03] #19749 closed

[2022-07-31 09:18] tamirkamara opened #25478 "Copy blobs with AD auth"
- **Package Name**: azure.storage.blob
- **Package Version**: 12.12.0
- **Operating System**: Linux
- **Python Version**: 3.8

**Describe the bug**
Copying blobs between accounts doesn't work with AD Auth - returns error: `CannotVerifyCopySource`.
I tried other tools like azcopy and saw that this same action works correctly there (without any download/reupload or accessing the account keys to gene

[2022-08-01 01:17] EpicWink commented on #25418
I still think using exception groups is useful for programmatic inspection of the individual exceptions, even if my use-case isn't supported.

I also disagree that `DefaultAzureCredential` should only be used for development purposes: our policy is to use the same code in development as in production (even if the code does different things between the two environments). This means using managed id

[2022-08-01 02:27] Wzb123456789 commented on #25273
Hi @NCarter3, thanks for your feedback.

We are about to release a new package of `azure-mgmt-network`, which contains the parameters of custom `headers`, which you can use according to your own needs.

[2022-08-01 03:03] BigCat20196 opened #25482 "New test system migration"
Complete the migration of the following packages:
•	azure-purview-administration https://github.com/Azure/azure-sdk-for-python/pull/25486
•	azure-purview-catalog https://github.com/Azure/azure-sdk-for-python/pull/25547
•	azure-purview-scanning https://github.com/Azure/azure-sdk-for-python/pull/25551
•	azure-synapse-artifacts https://github.com/Azure/azure-sdk-for-python/pull/25600
•	azure-mgmt-ser

[2022-08-01 03:03] azure-sdk commented on #25482
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Synapse:0.18765107,Docs:0.088581614,Communication:0.057847057'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5501144,Mgmt:0.44697312,Service:0.0021089846'

[2022-08-01 06:23] jcocchi opened #25483 "Cosmos DB max_integrated_cache_staleness_in_ms should allow 0 as a value"
- **Package Name**: azure-cosmos
- **Package Version**: 4.3.0b3
- **Operating System**: Windows 11
- **Python Version**: 3.8.3

**Describe the bug**
Setting `max_integrated_cache_staleness` for `read_item` to 0 should be valid but throws a "ValueError: Parameter 'max_integrated_cache_staleness_in_ms' can only be a positive integer." error. This input parameter is valid for the `query_items` functi

[2022-08-01 07:00] enjis commented on #25385
@vincenttran-msft @jalauzon-msft Thanks for your reply.
My only concern while using` list_paths` to generate a list of paths to all the files and directories that are in the container is that it will be very slow like `list_blobs`.
Can you confirm if the `list_paths` is better than `list_blobs` in terms of space and time complexity??

[2022-08-01 07:20] VaKale-ptc opened #25484 "FlowLog class attribute values not populated"
- **Package Name**:
- azure-mgmt-network
- **Package Version**:
- 20.0.0
- **Operating System**:
- Windows 10 21H2
- **Python Version**:
Python 3.9.9

**Describe the bug**
We are using Python API to create NSG FLowLog 'NetworkWatchersOperations::begin_set_flow_log_configuration'. This does not provided info about FlowLog. How can we check the FlowLog Provisioning state using Python API? I have att

[2022-08-01 07:21] azure-sdk commented on #25484
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.11249544,Event Hubs:0.08363691,Network - Virtual Network:0.05020503'

[2022-08-01 09:16] zzhxiaofeng commented on #19200
@jalauzon-msft Thanks for your contribution. This issue has been fixed. I will close the issue now.

[2022-08-01 09:16] #19200 closed

[2022-08-01 15:44] danieljurek commented on #25463
This issue is for a Java ref docs build. Transferring to Java repo...

[2022-08-01 15:52] danieljurek commented on #25464
Thanks for the notification. This looks like a transient issue that has been resolved since Saturday. Closing.

[2022-08-01 15:52] #25464 closed

[2022-08-01 16:04] #25384 closed

[2022-08-01 16:04] #25381 closed

[2022-08-01 16:04] #25259 closed

[2022-08-01 17:04] harneetvirk opened #25489 "Error while uploading an empty file to blob using azure-storage-blob: Data should be bytes or a seekable file-like object."
- **azure-storage-blob**:
- **12.13.0**:
- **Windows**:
- **Python 3.8**:

**Describe the bug**
While using azure-storage-blob 12.13.0, we are getting an exception on uploading an empty file to blob storage: ValueError: Data should be bytes or a seekable file-like object.

**To Reproduce**
Steps to reproduce the behavior:
1. conda create -n storageblobpy38 python=3.8 -y
2. conda activate storagebl

[2022-08-01 17:25] kristapratico commented on #25467
Hi @uriii3, it looks like the conversation transcription feature was added in version 1.21.0 of the client library: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/releasenotes?tabs=speech-sdk#speech-sdk-1210-april-2022-release

Can you try updating your package to this version and see if that works?
`pip install azure-cognitiveservices-speech --upgrade` should update you

[2022-08-01 17:51] scbedd opened #25490 "Storage Nightly Alpha Build Failing on unretrievable dependency"
[Build Here](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1746022&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t=76d9b154-b861-59e4-d8e3-dfd06fc0fc10)

`azure-storage-file-datalake` depends on `azure-storage-blob`. It has bumped it's dependency on `azure-storage-blob` to an as-yet-unreleased version. Now the nightly alpha build is crashing because it can't retrieve the corre

[2022-08-01 19:44] vincenttran-msft commented on #25385
Hi @enjis Anjali, unfortunately I cannot confirm whether `list_paths` is better than `list_blobs` in terms of time and space complexity for your specific workflow. However I think comparing their performance may be trivial, as you mentioned previously it is not an option for you to change from your preexisting HNS enabled storage account with data to a new FNS enabled storage account (which would

[2022-08-01 19:55] #22511 closed

[2022-08-01 21:40] rodrigo3000rodrigo commented on #9743
you safe my life thanks

[2022-08-01 21:59] xiangyan99 commented on #25418
`DefaultAzureCredential` works perfectly in most of the scenarios.

But if you want 100% deterministic behavior, `DefaultAzureCredential` may be not your best answer.

And agreed with you. This is orthogonal to the original post. :)

[2022-08-01 23:00] #25046 closed

[2022-08-01 23:51] jalauzon-msft commented on #25476
Hi @jenhagg, thanks for opening the issue.

Unfortunately, this is by design from the service side. Operations on the `dfs` endpoint such as `get_paths` ([Path List](https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/list) from the service) do not support anonymous access.

To work around this, you can use the [azure-storage-blob](https://pypi.org/project/azure-stor

[2022-08-02 00:29] jalauzon-msft commented on #25478
Hi @tamirkamara Tamir, thanks for reaching out.

When doing copy operations using ADD with the Python SDK, you need to generate the OAuth token yourself and provide it to the `source_authorization` keyword argument. Here is a sample based on your sample:

[code]

Hopefully this helps resolve your issue but please let me know if it does not. Thanks.

[2022-08-02 05:14] tamirkamara commented on #25478
Thanks @jalauzon-msft.
That requires_sync requirement is a downside since I deal with large files and not sure the caller can wait...
Any plans/work to remove that requirement?

[2022-08-02 05:58] yangchengs opened #25506 "[Compute Gallery] Typo in file test_mgmt_compute_galleries.py"
- **Package Name**:
- azure-mgmt-compute
- **Package Version**:
- latest
- **Operating System**:
- **Python Version**:
3.8

**Describe the bug**
Issue 1:
https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/compute/azure-mgmt-compute/tests/test_mgmt_compute_galleries.py

Line 137
hyper_vgeneration should be hyper_v_generation

Issue 2:
If I run delete version and delete gallery image defini

[2022-08-02 06:20] niteshmacha commented on #25431
Hi @swathipil - The workaround resolved our issue. Thanks

[2022-08-02 07:28] AFengKK opened #25508 "Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=308914&view=results

@danieljurek for notification.

[2022-08-02 07:28] azure-sdk commented on #25508
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.24021192,Storage:0.16537163,Event Hubs:0.052299026'

[2022-08-02 17:00] SaurabhSharma-MSFT commented on #25506
@yangchengs We are looking into it and get back to you for any additional information.

[2022-08-02 17:01] SaurabhSharma-MSFT commented on #25483
@jcocchi We are looking into it and get back to you for any additional information.

[2022-08-02 17:24] JericHunter commented on #25483
Hi @jcocchi we found the reason why it was raising the error when setting 0, it's a very small and easy fix and we will try to have that out asap. Thank you very much for being thorough with your explanation of the issue.

[2022-08-02 18:05] soferreira opened #25516 "contaioner.replace_item exception"
- **Package Name**:  azure.cosmos
- **Package Version**: 4.3.0
- **Operating System**: windows
- **Python Version**: 3.10.4

**Describe the bug**

When I try to replace an existing item by a new one where id or partitionKey is missing, the code throws the following error:
azure.cosmos.exceptions.CosmosResourceNotFoundError: (NotFound) Entity with the specified id does not exist in the system.

whi

[2022-08-02 20:21] #25475 closed

[2022-08-02 20:28] xiangyan99 commented on #11276
#25344

[2022-08-02 20:28] xiangyan99 commented on #23348
#25344

[2022-08-02 20:49] kashifkhan commented on #23347
We can close this one because of #25074 right ?

[2022-08-02 21:23] catalinaperalta commented on #22980
Removed references in titles and explanations, some CLI commands still use that wording.

[2022-08-02 21:23] #22980 closed

[2022-08-02 21:29] #25436 closed

[2022-08-02 21:47] catalinaperalta commented on #20850
We named the fields `polygon` after the service update. We wont make these a class until the need for the helper methods becomes evident.

[2022-08-02 21:47] #20850 closed

[2022-08-02 21:48] catalinaperalta commented on #20861
This will depend on future navigation helper method design.

[2022-08-02 21:48] #20861 closed

[2022-08-02 21:54] georgewfisher opened #25518 "Reduce dependencies for azure-core"
**Is your feature request related to a problem? Please describe.**

I would love to use the `azure.identity` package but it has dependencies via azure-core that conflict with other projects and this is frustrating. In my particular case the conflict is with `typing-extensions` which although sounds useful to development, is not related to Azure at all and should not be present in azure-core. Given

[2022-08-02 21:55] azure-sdk commented on #25518
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.4729176,Extensions:0.14902386,Azure.Identity:0.11857724'

[2022-08-02 22:01] #20866 closed

[2022-08-02 22:02] mccoyp commented on #22162
After discussion with other language teams, it seems like the easiest solution would be to fetch an image tag from `/eng/common`  each time the test proxy is started up ([JS example](https://github.com/Azure/azure-sdk-for-js/blob/a47af26db471d30488112c1c2855c3ea6c9b6d07/common/tools/dev-tool/src/util/testProxyUtils.ts#L84)) instead of only doing so when an `ambitious-azsdk-test-proxy` container is

[2022-08-02 23:58] kristapratico opened #25521 "[CLU] convert to test proxy"
Tests use the vcrpy currently.

[2022-08-02 23:59] kristapratico opened #25523 "[QA] convert to test proxy"

[2022-08-02 23:59] azure-sdk commented on #25523
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.17667165,Azure.Core:0.11257148,Cognitive - Language:0.08609808'

[2022-08-03 00:05] SaurabhSharma-MSFT commented on #25242
Hi @wanpeng-cds,
Please let us know if you have any questions else, we will proceed with closing this issue.

Thanks
Saurabh

[2022-08-03 00:45] #25077 closed

[2022-08-03 04:12] voney commented on #24789
Still broken, keeping the issue alive.

[2022-08-03 10:08] domjancik commented on #24556
@BigCat20196 Hi, have you looked at this issue?

Is being able to get the required permissions something you could be looking into in the future?

[2022-08-03 12:44] major opened #25528 "azure-ai-formrecognizer: Include vcr cassettes in pypi package"
- **Package Name**: azure-ai-formrecognizer
- **Package Version**: 3.1.2
- **Operating System**: Fedora 36
- **Python Version**: 3.10.5

**Describe the bug**
Although the tests are included with azure-ai-formrecognizer in pypi packages, the vcr cassettes are not provided. This causes almost all of the tests to fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Download azure-ai-formrecogn

[2022-08-03 12:44] soferreira opened #25529 "Some fields are wrongly marked as required"
Some fields are wrongly marked as required in the azure.cosmos.container

Created a PR here as I did not find where this page is generated: https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/1592/files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f4a7941-9eb0-3ec5-6412-29b5d6e77bda
* Version Independent ID:

[2022-08-03 13:02] wanpeng-cds commented on #25242
Hi @SaurabhSharma-MSFT and @Wzb123456789, thank you so much for the hard work. I can confirm that the new version works!

[2022-08-03 13:02] #25242 closed

[2022-08-03 13:18] wonhyeongseo commented on #24583
@pallavit I have interest in this issue, and I'm trying to write a PR.
But I am having trouble understanding what the exact difference between the code and documentation. Thank you!

[2022-08-03 14:32] scottaddie commented on #23817
After reviewing with the arch board, a decision was made to not make this change. As a workaround, the Draft service team can run a contains operation on the user agent string to identify the caller. This workaround has been communicated to Dan Hadari.

[2022-08-03 14:32] #23817 closed

[2022-08-03 14:42] BaherAbdullah opened #25530 "A document is not running using the sdk"
One of the documents I tried using Custom NER SDK, does not return any extracted entities. But when I try other documents, the SDK works fine. I tried the same document using API and portal, and it worked fine and returned entities

[2022-08-03 14:43] azure-sdk commented on #25530
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Search:0.2752608,Cosmos:0.21471411,Storage:0.08544603'

[2022-08-03 15:02] xiangyan99 commented on #25530
Could you help to give more details about the library you used?

Thanks.

[2022-08-03 16:00] kristapratico commented on #25530
This is for text analytics, we're discussing in chat. Will update the thread once I know more.

[2022-08-03 16:05] #24553 closed

[2022-08-03 16:25] xiangyan99 commented on #25518
Thanks for the feedback, we’ll investigate asap.

[2022-08-03 16:27] xiangyan99 commented on #25528
Thanks for the feedback, we’ll investigate asap.

[2022-08-03 16:32] kristapratico commented on #25530
I'm able to reproduce this. The currently released SDK targets 2022-04-01-preview API version while the API and Portal used were targeting 2022-05-01. Entities are not returned with the April version, but do get returned with the May version for this particular sample. Upgrading to the v5.2.0b5 SDK (which targets 2022-05-01) will solve this problem.

[2022-08-03 16:32] #25530 closed

[2022-08-03 17:07] iscai-msft commented on #23347
yep, closing now

[2022-08-03 17:07] #23347 closed

[2022-08-03 18:01] eladkal commented on #24661
Is there an estimated release date for 12.14.0?
Apache Airflow uses azure-storage-blob for the Azure provider and currently we are unable to update package version due to the typing problem. It seems like you already fixed it but have not yet release.

https://github.com/apache/airflow/pull/25426

[2022-08-03 18:18] lmazuel opened #25533 "KV should not import anything requests specific"
This is wrong:
https://github.com/Azure/azure-sdk-for-python/blob/93a12a966d09c86c73386de531a121b21dd83232/sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py#L62

This overrides the default transport that azure-core is providing, KV should trust azure-core to provide a transport in absence of the kwarg.

If `requests` is not installed on the machine, the import will be laz

[2022-08-03 20:13] jalauzon-msft opened #25536 "[Storage] Improve documentation / samples around using non-standard account URLs"
We get many questions/issues from customers attempting to use non-standard account URLs (CDN, partitioned DNS, custom domains, etc.) so it would seem our documentation about how to handle this scenario could use some improvement. Updating the documentation for client constructors around non-standard account URLs and the when/how to use the credential dictionary would go a long way.

Additionally a

[2022-08-03 20:29] kristapratico commented on #16891
This was completed when metric advisor was converted to DPG

[2022-08-03 20:29] #16891 closed

[2022-08-03 20:32] kristapratico commented on #19368
We don't alias types like this anymore. There is a linter rule to prevent it.

[2022-08-03 20:32] #19368 closed

[2022-08-03 21:35] jenhagg commented on #25476
Hi @jalauzon-msft, thanks for the suggestion. I have confirmed that this will work for my use case. Just wondering what level of support/stability I should expect using the `azure-storage-blob` sdk for an HNS enabled account? E.g. is the `list_blobs` operation supported, but not necessarily others? Or is support for any operation subject to change.

[2022-08-03 21:48] Stevenjin8 commented on #25489
I think the issue is in

https://github.com/Azure/azure-sdk-for-python/blob/93a12a966d09c86c73386de531a121b21dd83232/sdk/core/azure-core/azure/core/rest/_rest_py3.py#L151-L158

I was able to solve it by changing the method to

[code]

or by switching the order to

[code]

though the former seems more robust.

[2022-08-03 22:09] Stevenjin8 commented on #25489
Spoke to @iscai-msft who is wrote the code above. She asked me to make a PR with the `None`-check

[2022-08-03 22:27] vincenttran-msft commented on #25476
Hi @jenhagg, I am glad that the above suggestion is sufficient for your use case! In regard to the level of support one should expect using the `azure-storage-blob` SDK for an HNS enabled account, because this is not an officially supported scenario, support for any operation is subject to change and thus no real stability can be guaranteed.
In general, our only officially supported scenarios (and

[2022-08-03 22:27] #25476 closed

[2022-08-03 22:53] keystroke commented on #25244
Fix for this issue is here, however it won't be merged into MSAL PY directly so need to consume MSAL PY from this fork / branch. MSAL PY will release a larger change later this year with some other way to disable the internet calls.

https://github.com/AzureAD/microsoft-authentication-library-for-python/pull/490

[2022-08-03 23:44] SaurabhSharma-MSFT commented on #25506
@yangchengs I have submitted a PR to fix your 1st issue.  Regarding 2nd issue, like you said you may have to wait for some time after deleting image versions before deleting image definitions.  Did you try doing the same using [CLI](https://docs.microsoft.com/en-us/azure/virtual-machines/update-image-resources?tabs=cli%2Ccli2%2Ccli4) if it gets deleted without a wait.

[2022-08-04 00:38] JeffGiroux commented on #22213
I ran into same issue on terraform. What is the status of the fix?

https://github.com/hashicorp/terraform-provider-azurerm/issues/17872

[2022-08-04 00:51] amoghstayade commented on #8913
This worked. Thanks

[2022-08-04 02:43] dmc-au commented on #15261
Having the same problem July 2022 running from OS X following this Microsoft guide: https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/training/train-on-local/train-on-local.ipynb

[2022-08-04 04:25] iwahing opened #25549 "Cannot find job after running BackupsOperations.trigger()"
When triggering backup it does not return anything and I cannot find the job that does the backup.
![image](https://user-images.githubusercontent.com/23308457/182761767-bd5835ba-0c79-478a-bca7-e3b3d97ea77c.png)

It says in the documentation to use `GetProtectedItemOperationResult API` and I am assuming its in ProtectedItemOperationResultsOperations
![image](https://user-images.githubusercontent.co

[2022-08-04 04:25] azure-sdk commented on #25549
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Recovery Services Backup:0.09203808,Data Factory:0.08257722,KeyVault:0.052206587'

[2022-08-04 06:48] Wzb123456789 commented on #25273
Hi @NCarter3

Please check if the `headers` defined like this match your expectations:
[code]
Please let me know if it meets your expectations, we will release a new version of `azure-mgmt-network` as soon as possible

[2022-08-04 06:51] hemantmehra14 opened #25552 "AKS User Assigned Managed Identity - Unexpected content type"
- **Package Name**:  azure-core==1.18.0, azure-identity==1.6.1
- **Operating System**: Ubuntu
- **Python Version**:  3.7

**Issue**
When using User assigned managed identity on Azure Kubernetes Cluster where Kubernetes job pulls an image from Azure Container Registry, I encountered the following error:
[code]
Python Traceback:
[code]

**Dockerfile for image in ACR**
[code]

**Code**
[code]
The abo

[2022-08-04 07:31] yangchengs commented on #25506
@SaurabhSharma-MSFT I test az command for several times but cannot reproduce the same issue, the az command seems to be good.

az sig image-version delete --resource-group yangshenrg001 --gallery-name gallery1 --gallery-image-definition imagedefinition --gallery-image-version 1.0.2
az sig image-definition delete --resource-group yangshenrg001 --gallery-name gallery1 --gallery-image-definition imag

[2022-08-04 08:04] #25095 closed

[2022-08-04 15:45] yehudacohen commented on #21301
Is there an update on when this will be ready? It's august already

[2022-08-04 16:04] xiangyan99 commented on #25552
Thanks for reaching out.

Can you enable debug logging and share us the log file?

[2022-08-04 17:23] #24777 closed

[2022-08-04 17:30] kristapratico opened #25557 "[QA] investigate why pylance shows linting error for get_answers"
![image](https://user-images.githubusercontent.com/31998003/182913928-6f731557-2fd4-413f-8e99-e0c3919336ba.png)

[2022-08-04 17:31] azure-sdk commented on #25557
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute:0.13728407,Storage:0.07206131,EngSys:0.06978722'

[2022-08-04 19:01] jalauzon-msft commented on #24661
Hi @eladkal, we are planning a **preview** release for 12.14.0b1 early this month (ideally next week) and a full release of 12.14.0 in early September.

If you need a solution faster, please share an example of your typing error and _possibly_ we can come up with a workaround.

[2022-08-04 19:06] scbedd opened #25559 "Integration publishing should honor `BuildTargetingString`"
The python builds have the concept of `BuildTargetingstring` queue time variable that can narrow the scope of a build to select artifacts.

Unfortunately, when we use it to get something like `a single dev publish of azure-storage-blob` out the door, we crash after uploading the target, [because the expected artifacts aren't present in their folder.](https://dev.azure.com/azure-sdk/internal/_build

[2022-08-04 19:07] azure-sdk commented on #25559
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3575137,Storage:0.3024703,azure-spring:0.07378103'

[2022-08-04 19:14] eladkal commented on #24661
@jalauzon-msft failure is:

[code]

On:
https://github.com/apache/airflow/blob/cda40836ca55702c543391367d0829ed231c1b35/airflow/providers/microsoft/azure/hooks/wasb.py#L302

[2022-08-04 19:47] #25490 closed

[2022-08-04 20:51] annatisch commented on #25058
Now resolved :)

[2022-08-04 20:51] #25058 closed

[2022-08-04 21:33] scbedd opened #25562 "Adjust ml-samples-submission pipeline to push branch directly"
Right now, we push the updated branch to a fork `azure-sdk/azureml-samples` -> submit PR from fork branch.

The issue is that the ML automation is not able to share the secrets to an action triggered against a fork. We need to adjust our pipelines such that

- instead of pushing to a **fork**, we push to a branch directly on the samples repo
- file PR against that

Awaiting confirmation from @sing

[2022-08-04 21:33] azure-sdk commented on #25562
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.13767773,Storage:0.10190728,Machine Learning:0.08564497'

[2022-08-04 22:42] ShivangiReja opened #25567 "[Search] Enable national cloud support for Azure Search SDK"
We need to enable multi cloud support in Azure Search SDK. Search service currently supports challenge based authentication, however the support is not always guaranteed. Since challenge based response isn’t guaranteed, add configuration to allow the users to set the audience when using a cloud other than public cloud.

Please refer .NET implementation to see how to expose the audience:
https://gi

[2022-08-04 23:17] catalinaperalta commented on #25528
Hi @major, thanks for reaching out. We are going to be including test recordings as of package version 3.2.0b6.

[2022-08-04 23:18] major commented on #25528
Thank you!

[2022-08-04 23:23] jalauzon-msft commented on #24661
@eladkal, thanks. I can confirm this should be addresed in `main` already and should be part of the upcoming releases but
if you wanted a workaround in the meantime, you could try adjusting your code to something like what I have below. The trick is to explicitly set the result of `stream.readall()` to have a type of `bytes`.

[code]

Hopefully this can resolve this issue for you prior to us relea

[2022-08-04 23:31] #21121 closed

[2022-08-04 23:48] NCarter3 commented on #25273
That looks great! And I assume the same for begin_delete:
[code]

Thank you much!

[2022-08-05 00:45] #24993 closed

[2022-08-05 08:04] #25217 closed

[2022-08-05 08:43] hemantmehra14 commented on #25552
Actually I am using prefect to run my python code on Kubernetes and I could only get INFO and WARNING logs out of it. Not sure how to get DEBUG logs too.

I used below code to get azure.identity logs:
[code]
Following are INFO and WARNING logs.
[code]

[2022-08-05 16:04] #25326 closed

[2022-08-05 17:28] xiangyan99 commented on #25549
Thanks for reaching out.

Could you help to provide the information which library did you use and the version?

Thanks.

[2022-08-05 19:48] jalauzon-msft commented on #25478
Hi @tamirkamara Tamir, unfortunately this is a service limitation. For some reason only the [Copy Blob From URL](https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob-from-url) operations support AAD auth while [Copy Blob](https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob) does not. This is sort of what the `requires_sync` parameter controls.

I think this may actua

[2022-08-05 21:15] vincenttran-msft opened #25586 "[Storage] Test Proxy Migrate DateTime (interim)"
For the test proxy migration, there is a requirement of using `variables` when using `datetime` in order to allow recordings to work properly. This behavior will become a util, so after that change is made, we then need to go back and migrate the following files to remove the copy paste and use the util:

- [ ] `test_append_blob`
- [ ] `test_blob_access_conditions`
- [ ] `test_blob_api_version`
-

[2022-08-05 21:49] jackphillipsjmu opened #25589 "Upgrade internal azureml-dataprep azure-identity dependency to 1.8.0 or greater"
**Is your feature request related to a problem? Please describe.**
Using the Python `azureml-dataprep` library (versions `>4.1`) it has a dependency on azure-identity `1.7.0` which causes issues if you would like to use an upgraded version of the `azure-identity` library. This has caused us trouble with Azure Functions that need to use an updated identity package ([related Stack Overflow issue](ht

[2022-08-05 22:13] xiangyan99 commented on #25552
You can add

[code]

And when you create the credential object, please add logging_enable=True.

Thank you.

[2022-08-05 22:15] xiangyan99 commented on #25589
@azureml-github

[2022-08-05 22:54] #25528 closed

[2022-08-05 23:43] kristapratico commented on #25557
This may be solved by using the autorest postprocessing script: https://github.com/Azure/autorest.python/blob/autorestv3/docs/customizations.md#postprocessing

This regenerates the imports in the init: https://github.com/Azure/autorest.python/blob/autorestv3/packages/autorest.python/test/dpg/version-tolerant/Expected/AcceptanceTests/DPGCustomizationCustomizedVersionTolerant/dpgcustomizationcustomi

[2022-08-06 01:47] singankit commented on #25062
@annatisch  Regarding azure-core dependency. This is just pinning the major version removes a yanked version. Any issues for lower version being pinned ?

# This should be easy to align to latest core
"azure-core<2.0.0,>=1.19.1,!=1.22.0",

[2022-08-06 08:04] #24847 closed

[2022-08-06 08:43] eladkal commented on #24661
Tried that.. it didn't work.
We managed to find another work around to make mypy happy but then it caused our tests to fail. You can see in https://github.com/apache/airflow/pull/25426

We will release next azure provider for Airflow with old versions. Once 12.14.0 is released we will adjust accordingly.

[2022-08-06 18:02] hansmbakker commented on #24315
[`aiohttp.ClientSession.ws_connect`](https://docs.aiohttp.org/en/stable/client_reference.html#aiohttp.ClientSession.ws_connect) with [`aiohttp.ClientWebSocketResponse`](https://docs.aiohttp.org/en/stable/client_reference.html#aiohttp.ClientWebSocketResponse) works quite well.

It has support for async, proxy, ssl settings, etc.

[2022-08-08 04:40] annatisch commented on #24315
Thanks for this input @hansmbakker!
FYI @l0lawrence, @kashifkhan, @swathipil - we should look at this soon as we will need an async story for EH before GA.

[2022-08-08 04:43] annatisch commented on #25062
@singankit - no there's no issue with pinning the lower version - this should be fine.

[2022-08-08 05:50] Wzb123456789 commented on #25273
Hi @NCarter3

The new `azure-mgmt-network` package has been released, please try to use the new package to solve your problem.
https://pypi.org/project/azure-mgmt-network/21.0.0/

[2022-08-08 18:28] PramodValavala-MSFT commented on #24929
@packet-sniffer Apologies for not getting back on this sooner! If you are referring to the all cap variables names, they are [constants](https://peps.python.org/pep-0008/#constants) here and do conform to pep-8 as linked.

Do let me know if you are referring to something else here.

[2022-08-08 21:27] sima-zhu opened #25604 "Revisit suppression placeholder list"
Refer to the issue: https://github.com/Azure/azure-sdk-tools/issues/3885

[2022-08-08 21:28] azure-sdk commented on #25604
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.35100725,EngSys:0.10619544,Storage:0.091071874'

[2022-08-08 22:03] #25418 closed

[2022-08-08 22:34] swathipil opened #25605 "[EventHub] BUG: send_batch raises incorrect error when assigning non-matching partition_key"
When trying to re-send a received event with a partition key by calling producer.send_batch and passing in a non-matching partition key, the error raised should be [[this one](https://github.com/Azure/azure-sdk-for-python/blob/ea6200cdec48623f5d203638acce09fb6cdacdc2/sdk/eventhub/azure-eventhub/azure/eventhub/_common.py#L614)] and not [[this one](https://github.com/Azure/azure-sdk-for-python/blob/

[2022-08-08 22:54] jalauzon-msft commented on #25477
Hi @DarknessChen, thanks for reporting this.

You are correct that `IncrementalCopyOfEralierVersionSnapshotNotAllowed` would be a typo but just to note, the code reference you linked is generated code and not the class that is actually exported as part of the blob package. The exported class would be from the shared module. The typo still exists there though so this issue is still valid.
https://g

[2022-08-08 23:58] #25483 closed

[2022-08-09 04:57] Petermarcu commented on #17102
@mccoyp I can't tell from the issue but is this resolved with the PR that was merged? Can you confirm?

[2022-08-09 08:04] #25126 closed

[2022-08-09 14:40] davystrong commented on #23538
It's almost 5 months since I opened this issue, would love an update. Is this anywhere near being fixed?

[2022-08-09 14:49] mattmshell commented on #25552
This feels similar to #25450 which has been reproduced and escalated the the product team for over a week now

[2022-08-09 17:21] #22665 closed

[2022-08-09 17:45] kristapratico opened #25619 "[textanalytics] quota limit exceeded behavior"
Customer reported on the "I ran into an issue" button that they were seeing hanging with the sentiment API when they exceeded the 5000 calls/month quota. It's likely that the service is sending a 429 and we're trying to retry on that. We should inject a custom policy that instead throws an exception in this case.

[2022-08-09 17:45] azure-sdk commented on #25619
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.20153065,Cognitive - Text Analytics:0.09220232,Service Bus:0.067519926'

[2022-08-09 18:00] kristapratico commented on #25619
Error message:

{"error": {"code": "403", "message": "Out of call volume quota for TextAnalytics F0 pricing tier. Please retry after 15 days. To increase your call volume switch to a paid tier."}}

[2022-08-09 18:48] vincenttran-msft opened #25623 "[Storage] Batch Request Sanitizer (List to Update)"
During test proxy migration, we have run into an issue with having difficulties sanitizing batch operations. This issue serves to maintain a list of what tests should be recorded once we have the batch sanitizer.

**test_container.py (sync & async)**
- test_delete_blobs_simple
- test_delete_blobs_with_version_id
- test_delete_blobs_simple_no_raise
- test_delete_blobs_snapshot
- test_standard_blob_

[2022-08-09 19:29] kristapratico commented on #23754
closing this since we don't have models generated in CLU.

[2022-08-09 19:29] #23754 closed

[2022-08-09 19:47] kristapratico commented on #25619
We don't normally retry on a 403, but since a Retry-After is included in the headers we do. This is problematic because the Retry-After is set for 15 days (in seconds).

[2022-08-09 19:56] lmolkova opened #25624 "ACR: add troubleshooting guide"
Add troubleshooting guide for ACR.

Here's [Java TSG](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/containerregistry/azure-containers-containerregistry/TROUBLESHOOTING.md).

[2022-08-09 20:08] rakshith91 opened #25625 "Search 11.3.0 GA for python"
We are targeting Azure Search SDK GA next month. Here is the scope for upcoming GA:

Public surface area of last GA version
AAD support including multi cloud support
Any bug fixes since then
GA release version:

Release azure-search-documents GA version 11.3.0 with the features listed above
Right after releasing GA 11.3.0, release 11.4.0b1 with all the preview features released after 11.3.0, so th

[2022-08-09 20:09] azure-sdk commented on #25625
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Search:0.48668343,SQL:0.09990058,Storage:0.03749073'

[2022-08-09 23:04] #7504 closed

[2022-08-09 23:28] jalauzon-msft commented on #24636
Hi @cheryl-catalog Cheryl / @jasonoberme, apologies for the delay in response.

Connection reset errors come from the Storage service and there is not much we can do on the client-side except retry. The client should be automatically retrying these errors and that _usually_ will lead to a successful request, but we recently identified an issue with our retry logic, specifically when streaming larg

[2022-08-09 23:48] #25619 closed

[2022-08-10 00:34] kevjumba opened #25635 "CLI authentication"
- **Package Name**: azure-cli
- **Package Version**: 2.39.0
- **Operating System**: M1 Monterey
- **Python Version**: 3.10.3

**Describe the bug**
I can't authenticate to azure or get the azure credentials. I've logged in through vs code and `az login` through the cli.  I can see my resources under the Azure pulldown in vscode but when I run code, I get
[code]

I'm just running this code:
[code]
*

[2022-08-10 03:03] matt-mi opened #25640 "Result of `query_entities` of `TableClient` cannot be returned in `with` keyword successfully"
- **Package Name**: azure-data-tables
- **Package Version**: 12.4.0
- **Operating System**: macos
- **Python Version**: 3.9.13

**Describe the bug**
Result of `query_entities` of `TableClient` cannot be returned in `with` keyword

**To Reproduce**
Steps to reproduce the behavior:
1. create a record in table store. E.g., a row has value `cluster4` under `RowKey`.
2. Query the record from table stor

[2022-08-10 03:03] azure-sdk commented on #25640
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Tables:0.4404969,Storage:0.094060935,Azure.Core:0.06135202'

[2022-08-10 04:05] annatisch commented on #25640
Thanks @matt-mi!
This is an interesting scenario :)

The context manager of the `TableClient` will close the connection - though you are correct that this will leave the auto-iterating query response with a severed connection that will fail when it needs to collect the next page of results.
On the one hand, this is the expected behaviour.
On the other hand - that is a pretty awful stacktrace/error

[2022-08-10 04:25] matt-mi commented on #25640
Thanks @annatisch for your prompt response on this!

There's one thing I'm kind of confused about, which is for example if I normally use a `return` from a with, even though the connection is closed but still the results can be returned before closing if I understood the concept correctly. An example would be

[code]

And I could get result successfully from above like

[code]

And even when I was

[2022-08-10 04:40] annatisch commented on #25640
Thanks @matt-mi - that is.... very interesting indeed.
I've repro-ed the same behaviour and having a dig around now.

[2022-08-10 05:01] annatisch commented on #25640
Ah - I have discovered the reason - and there's possibly something we could look at fixing as well... though might need more discussion.

In this case, using the context manager - i.e. the `with` syntax, you are pre-emptively opening the connection pool, even though no request has yet been made. And in fact, this `get_cluster` function is not making a single request to the service, which is not do

[2022-08-10 06:23] matt-mi commented on #25640
Thank you for your detailed explanation Anna! I thought the connection was already initiated when a `TableClient` spawned, turns out when the item is being iterated then connection is initiated ...

So in this case if I don't want to use `with` keyword then I would need to close the client (`table_client.close()) after everything is iterated right?

[2022-08-10 06:47] annatisch commented on #25640
Yes @matt-mi - that is correct, so the following (adding `list()` - which forces the full iteration up-front) would close the connection:
[code]

[2022-08-10 06:51] matt-mi commented on #25640
Awesome, I will try to adapt `with` syntax to my code. Thanks again @annatisch, you save my day!

[2022-08-10 06:54] annatisch commented on #25640
You're very welcome @matt-mi!
Any thank you so much for reporting this!

[2022-08-10 13:14] cheryl-catalog commented on #24636
Thank you Jacob. It was seen consistently in a test scenario that is not often run. I will try it out in your next release and let you know if it fixes the problem.

All the best,
Cheryl

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Jacob ***@***.***>
Sent: Tuesday, August 9, 2022 7:30 PM
To: ***@***.***>
Cc: Cheryl ***@***.***>; ***@***.***>
Subject: Re: [Azur

[2022-08-10 13:22] freegor opened #25646 "Exception on USER_AGENT platform.platform() on Apple Silicon M1 Python 3.9.13"
- **azure_identity**:
- **1.10.0**:
- **macOS Monterey 12.5 (21G72) Apple Silicone M1**:
- **3.9.13**:

**Describe the bug**
During the import from opencensus.ext.azure import metrics_exporter I get an exception
The import pointed to **azure/identity/_internal/user_agent.py**, which contains the next code:

[code]
So problem with  platform.platform(), it throws exception _{AttributeError}'list' ob

[2022-08-10 15:06] #25646 closed

[2022-08-10 15:06] freegor commented on #25646
after remove and recreate the virtual environment it works

[2022-08-10 15:47] xiangyan99 commented on #25635
Thanks for reaching out.

It's a known issue that VisualStudioCodeCredential doesn't work with Azure Account extension versions newer than 0.9.11. A long-term fix to this problem is in progress. In the meantime, consider [authenticating via the Azure CLI](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/README.md#authenticate-via-the-azure-cli).

For more details

[2022-08-10 17:07] Prajyotbiradar commented on #16018
Can you post the answer here?

[2022-08-10 17:17] kevjumba commented on #25635
@xiangyan99 Hello, I've actually tried logging in with the azure cli. I get output when i run `az login` with a json dump of the correct credentials. However when I run `curl 'http://169.254.169.254/metadata/identity/oauth2/token?resource=https://management.core.windows.net&api-version=2018-02-01' -H "Metadata: true"` I get operation timed out and I still get the error above when I try to connect

[2022-08-10 17:21] xiangyan99 commented on #25635
From your code shared above,

[code]

It looks to me you only tried the VSCode credential.

Have you tried

AzureCliCredential?

[2022-08-10 17:28] kevjumba commented on #25635
Yes, I had tried that but I fixed the issue. You have to do this https://stackoverflow.com/questions/43983718/set-global-path-environment-variable-in-vs-code to update the vscode path.

I was running jupyter notebooks inside of the vscode cli and that was not using the same $PATH variable as the vscode terminal.

[2022-08-10 17:53] kristapratico commented on #24087
This pipeline is passing now: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1770979&view=results

[2022-08-10 17:53] #24087 closed

[2022-08-10 20:19] davystrong opened #25653 "Azure AI ML: Creating a pipeline component with multiple inputs"
**Is your feature request related to a problem? Please describe.**
Hello! I'm trying to use the Python SDK v2 for ML Studio and I need to run a pipeline on data from a blob storage location. My storage location is divided into folders and each folder contains multiple files. I want to run my pipeline on, say, 20 of these folders, and not the other 50. However, 20 is just an example, it's variable

[2022-08-10 22:35] xiangyan99 commented on #25653
@azureml-github

[2022-08-10 23:50] mikeharder commented on #21528
Fixed in #22002

[2022-08-10 23:50] #21528 closed

[2022-08-10 23:59] mikeharder opened #25660 "[Perf] Move tests from "system_perfstress" to a "normal" project"
If possible, I think we should eliminate the special `system_perfstress` project, and move all the tests to "normal" perf projects, that are built and run just like the service perf tests (i.e. using command `perfstress` instead of `systemperf`).

It's simpler and more consistent to run all tests the same way, rather than having a special case for `system_perfstress`.

[2022-08-10 23:59] azure-sdk commented on #25660
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.3652767,Azure.Core:0.114529915,Service Bus:0.086459056'

[2022-08-11 01:02] yongjiaaaa commented on #25653
Hi! One option you can try is using mltable. Please check this doc for reference: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-data-assets?tabs=CLI#create-a-mltable-data-asset

[2022-08-11 01:09] davystrong commented on #25653
Hi @yongjiaaaa, thanks for the suggestion! I thought of that too since the old `Dataset` object seems to be backed by `MLTable` now (I've actually been reading that page to try to find a solution). However, my files are image files, not parts of a tabular dataset, and I can't find a way of getting this to work. I imagine it must be possible somehow to get an MLTable dataset to act as a file datase

[2022-08-11 05:55] #25039 closed

[2022-08-11 07:40] msyyc commented on #25484
Hi @VaKale-ptc In python SDK, if operation name has `begin_` prefix, it is long running operation. You'd better use it like:
[code]
in `final_response`, you shall see some status returned by server(provisioning_state, etc)

[2022-08-11 07:47] jenshnielsen opened #25663 "azure.monitor.opentelemetry.exporter add support for stable metrics export in opentelemetry 1.12"
**Is your feature request related to a problem? Please describe.**

It looks like the newly released stable version of opentelemetry 1.12.0 broke the telemetry exporter in
azure.monitor.opentelemetry.exporter

**Describe the solution you'd like**

Adapt to match stable api in opentelemetry 1.12

There seems to be two changes required.

```AzureMonitorMetricExporter``` does not implement the abstra

[2022-08-11 08:01] msyyc commented on #17254
Hi @logachev We find the cause is that there is too deep nest in swagger: https://github.com/Azure/azure-rest-api-specs/blob/6c065f8439e6d9cd02bf4f8268fae7f86a5f0fa9/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2022-05-15-preview/managedCassandra.json#L1083-L1170. We will rename it in swagger and release a new version. Thanks for the patience!

[2022-08-11 08:30] msyyc commented on #24572
Hi, For Q1, please try to update msrest to `0.6.21`. For Q2, you could open issue in https://github.com/Azure/azure-rest-api-specs/issues and then service team shall pick up it

[2022-08-11 08:35] msyyc commented on #24556
Hi, as [annatisch](https://github.com/annatisch) said, SDK is just tool to send/receive http request/response. So your feature is more about feature-request for ARM. I advise you open an issue in https://github.com/Azure/azure-rest-api-specs/issues

[2022-08-11 08:40] msyyc commented on #23488
Hi @SomanathSankaran We can't reproduce the error. Please provide more details about the issue like: https://github.com/Azure/azure-sdk-for-python/issues/24740.

[2022-08-11 11:33] specterz commented on #15258
still the same issue... for some reason `marketplace_client.marketplace_agreements.sign` doesn't allow you to accept..

I see similar issue has been resolved for GO [https://github.com/Azure/azure-sdk-for-go/issues/14768](url)

[2022-08-11 15:09] #25188 closed

[2022-08-11 15:10] xiangyan99 commented on #25663
Thanks for the feedback, we’ll investigate asap.

[2022-08-11 15:40] rakshith91 commented on #25663
@lzchen can you take a look ?

[2022-08-11 16:03] lzchen commented on #25663
https://github.com/Azure/azure-sdk-for-python/pull/25659

[2022-08-11 17:07] #25663 closed

[2022-08-11 17:52] pallavit opened #25670 "[ACR] Add troubleshooting guides for ACR SDK"
Please add troubleshooting guides for ACR SDK

Please use - https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/containerregistry/azure-containers-containerregistry/TROUBLESHOOTING.md as reference.

[2022-08-11 18:15] lmolkova commented on #25624
closing as dup of #25670

[2022-08-11 18:15] #25624 closed

[2022-08-11 18:33] jeff-shepherd commented on #22384
I just completed the change to allow azureml-train-automl-client to work with Python 3.9.
This should be available in the next Azure ML SDK release, 1.45.0.

[2022-08-11 18:45] timgabrhel opened #25673 "AzureML - v1 ParallelRunStep arguments in v2"
In the V1 SDK, I can create a `ParallelRunStep` and execute this directly within a `Pipeline` (`Job`, here in v2). The `ParallelRunStep` allows me to configure a set of `arguments` that are passed in to the host driver that kicks off each of the steps.

[code]

This is a snippet from the logging output from `70_driver_log.txt` from a completed inference run. You can see the arguments above were pa

[2022-08-11 18:46] azure-sdk commented on #25673
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Batch:0.092903234,Storage:0.05441652,Cosmos:0.049568687'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.57247156,Mgmt:0.4217827,Service:0.005308377'

[2022-08-11 18:55] jalauzon-msft commented on #25489
This has been fixed in Storage by #25655, though the Core change in #25540 should still be considered.
Closing this issue since its resolved for Storage.

[2022-08-11 18:55] #25489 closed

[2022-08-11 19:37] #25412 closed

[2022-08-11 19:47] Man-MSFT commented on #25653
Hey @davystrong , while `MLTable` has tabular in mind, the transformations section is optional. So to use multiple paths you can do something like:
`MLTable`:
[code]
cc @SturgeonMi for doc updates, adding the MLTable schema JSON and calling out the required/optional portions. Thanks!!

[2022-08-11 19:57] davystrong opened #25675 "Azure AI ML: Job ignores timeout value"
- **Package Name**: azure-ai-ml
- **Package Version**: 0.1.0b6
- **Operating System**: macOS 12.5
- **Python Version**: 3.8.12

**Describe the bug**
I have an Azure ML pipeline job defined in YAML. It consists of a single parallel run step which has a timeout of 1800 seconds. When I create a job with the not-even-public-preview CLI v2, it works as expected. However, when I submit it using the Pyth

[2022-08-11 19:58] azure-sdk commented on #25675
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Factory:0.49535987,Event Hubs:0.049816728,Cognitive - Form Recognizer:0.022198211'

[2022-08-11 20:10] davystrong commented on #25653
Hi @Man-MSFT, my main problem was actually slightly further on. I finally worked out today that the path when defining the input must point to a folder containing the MLTable file, not to the MLTable file itself, even though I don't actually include any local files in my MLTable. I understand why this is but it would be helpful to mention this specifically in the docs (it's the same for the YAML s

[2022-08-11 20:29] AJAnderhub commented on #25127
So, after testing a cut down hard-coded version like you said it worked. I compared the results with our library's original call and it was requesting a token from the wrong resource ID (it was using the resource ID for the configuration of a different tenant). So, that seemed to be the issue. The error message that I first posted with was just misleading for tracking that down.

So I guess this i

[2022-08-11 20:37] xiangyan99 commented on #25127
Thanks for the updates.

Unfortunately, this error message is directly from the identity service and hard for the client library to interpret it into "wrong resource id" :)

[2022-08-11 20:37] #25127 closed

[2022-08-11 20:39] jalauzon-msft commented on #22297
Hi all, some final updates here:

After some internal investigation and discussion, it was found that the Microsoft CDN uses the presence of a range-like header to determine if the request is for partial content or the entire content. They use this information to inform the request they should make to the backing service, caching, and to determine what the response should look like. The issue is t

[2022-08-11 20:39] #22297 closed

[2022-08-11 20:41] xiangyan99 commented on #25673
@azureml-github

[2022-08-11 20:41] xiangyan99 commented on #25675
@azureml-github

[2022-08-11 21:36] Man-MSFT commented on #25653
@davystrong I see we added a purple note [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-data-assets?tabs=CLI#create-a-mltable-data-asset) that path must point to the folder. But that is good feedback and we will see if we can make it more obvious. Thanks again!
Let me know if there's anything else, otherwise will consider the matter resolved.

[2022-08-11 21:36] scbedd opened #25677 "`proxy_startup.py` should properly pull new image versions if one exists"
This should be based against `eng/common/testproxy/target_version.txt`

[2022-08-12 00:35] mccoyp commented on #17102
@Petermarcu the linked PR will help with this issue, but the serialization story hasn't been resolved yet. I'll bump the priority of this work; thanks for double-checking 🙂

[2022-08-12 01:55] msyyc commented on #17254
There is no weird type in latest version:  https://pypi.org/project/azure-mgmt-cosmosdb/8.0.0b2/

[2022-08-12 05:32] mikeharder opened #25683 "[Perf] Rename PerfStress to Perf"

[2022-08-12 05:32] azure-sdk commented on #25683
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5301161,Network - Virtual Network:0.11506318,Service Bus:0.0223931'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5324535,Mgmt:0.45491743,Central-EngSys:0.0064050793'

[2022-08-12 08:36] bupt-wenxiaole commented on #25673
@timgabrhel  please reference [this document](https://github.com/Azure/azureml-examples/blob/sdk-preview/sdk/jobs/pipelines/1g_pipeline_with_parallel_nodes/pipeline_with_parallel_nodes.ipynb to how to set the arguments.
you may need the extra permission to access this notebook.
note that the PRS SDK V2 is under the private preview, and the argument name has been changed from "arguments" to "args"

[2022-08-12 08:50] majdoulinamakbal commented on #21725
Hello, any feedback ? it's actually not just the UI, when i test it with the SDK it does not work as well, it's like the inference script does not consider the scond parameter 'GlobalParameters' . Any update please ?

[2022-08-12 08:55] MrNickArcher opened #25684 "azure-storage-file-datalake raises error - cannot import name 'case_insensitive_dict'"
- **Package Name**:   azure.storage.filedatalake
- **Package Version**:  12.8.0
- **Operating System**: Azure Synapse / PySpark (Linux/4.15.0-1146-azure ubuntu/18.04.6 glibc/2.27)
- **Python Version**: 3.8

**Describe the bug**

Can install this package into PySpark via `%pip install azure-storage-file-datalake`
However it does not work when used. The issue may be a problem with the python package

[2022-08-12 11:34] davystrong commented on #25653
@Man-MSFT Well, not sure how I missed that! Not sure how you could make it more obvious. That's exactly what I needed. Thanks for your help!

[2022-08-12 11:34] #25653 closed

[2022-08-12 13:38] majdoulinamakbal commented on #21725
Hello, it seems that the problem is with the GlobalParameters, try removing this input from both the decorators and function, and handle the cases inside the function. My aks started working after it. But it still do not explain why there is this problem.

[2022-08-12 15:46] davystrong commented on #25675
One further detail: if I submit the run via the CLI, open it in the portal and got to Parameters>Run settings, it says that "Run invocation timeout" is 1800. If I submit it via the SDK it says it's 60, with and identical config. Not sure why it says 60 there and only fails at 90 seconds, but anyway it's wrong.

[2022-08-12 16:20] xiangyan99 commented on #25684
Thanks for reaching out.

Synapse / Spark may pin some package versions.

Is there a way for you to get the list of what exact versions are in use?
(not sure if pip list works or not)

[2022-08-12 16:35] mattmshell commented on #25450
Support helped me recreate and resolve this: keyvault URIs when used in a managed identity scope are case sensitive. Lowercasing my URI fixed the issue.

[2022-08-12 19:21] #25586 closed

[2022-08-12 21:18] padauer commented on #11593
@xiafu-msft
Hi Xiaoxi,
first of all thank you for the hints, they are very helpful.

In some cases I get the following error:
_azure.core.exceptions.HttpResponseError: Operation could not be completed within the specified time._

[code]

Do you have any hints here to solve this?

[2022-08-13 01:05] #25549 closed

[2022-08-13 02:04] yangchengs commented on #25506
/unresolve

[2022-08-13 02:06] yangchengs commented on #25506
@SaurabhSharma-MSFT can you check the second issue? I tested az cli and it works good.

[2022-08-13 07:07] JJHWAN commented on #25148
@kashifkhan
I'm Interested in this issue. Can i dig into it?

[2022-08-13 08:03] #25081 closed

[2022-08-13 08:03] #24898 closed

[2022-08-13 08:03] #21878 closed

[2022-08-15 01:47] MrNickArcher commented on #25684
Hi @xiangyan99

I am not sure how to determine if a package has been frozen... I'll try figure that out.

I re-did the `pip install` and did a `pip list`. Output below;

Many thanks

[code]

[code]

[2022-08-15 06:00] bupt-wenxiaole commented on #25675
@davystrong  For azure.ai.ml.load_job(), please use the yaml with this lines:
`args: >-
        --run_invocation_timeout 1800`

[2022-08-15 07:18] mhoang-woolworths-com-au opened #25698 "receive_deferred_messages does not work"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
When I use receive_deferred_messages I always get this error below. Note this only happens when using receive_deferred_messages. When I use PeekLock=1 and peek_messages(max_message_count=count, sequence_number=sequence) I have no problem receiving the deferred messages

File "C:\Python3.7

[2022-08-15 07:31] bupt-wenxiaole commented on #25675
@davystrong for the "Not sure why it says 60 there and only fails at 90 seconds", it is expected, Parallel Run Step run time has a default system overhead, which is set to 30s, so the run failed at 30 + 60 = 90s.

[2022-08-15 12:04] davystrong commented on #25675
@bupt-wenxiaole, thanks for the suggestion! Where exactly should I put that? If I add it to the root of my config it throws a validation exception; if I add it to the parallel job section or add `--run_invocation_timeout 1800` to my arguments in the parallel job component (which I create separately using the Python SDK), it doesn't fix the problem.

[2022-08-15 15:56] xiangyan99 commented on #25684
Maybe we can run

'''py
import azure.core
print(azure.core.VERSION)
[code]

[2022-08-15 16:52] swathipil opened #25700 "[Event Hubs] investigate moving do_retryable_operation into transport"
https://github.com/Azure/azure-sdk-for-python/pull/25494#discussion_r944103746
As per Anna's comment, we should investigate moving `do_retryable_operation` from the SDK layer into the transport.
(Since this is only supported by pyamqp so far, probably this will need to happen after we drop uamqp?)

[2022-08-16 00:55] annatisch commented on #25698
Thanks for reporting @mhoang-woolworths-com-au!
We will investigate asap :)
To help is reproduce the error - are you able to provide some details regarding the configuration of the queue/subscription that is being received from?
For example - are sessions enabled, is the entity partitioned etc?

@swathipil - are you able to take a look?

[2022-08-16 02:12] billwert opened #25713 "Tracking SSO Investigation"
`VisualStudioCodeCredential` will depend on a new authentication tool which replaces the Azure Account extension in Visual Studio Code. This tool is not yet built; more details to come.

[2022-08-16 02:14] billwert commented on #23249
This issue will be addressed in a future releae. #25713

[2022-08-16 02:14] #23249 closed

[2022-08-16 02:20] billwert commented on #23685
Addressed by #25493. Error messages already had links to TSG.

[2022-08-16 02:20] #23685 closed

[2022-08-16 03:17] swathipil commented on #25148
Hi @JJHWAN - Thank you for your interest!
This PR for dropping Python 3.5 from Service Bus should be very similar to what you'll be doing (except with 3.6): https://github.com/Azure/azure-sdk-for-python/pull/17751/files. Feel free to open a PR!

In case this is not something you're interested in, feel free to look through/contribute to any issues that are tagged `help-wanted` in our repo. 🙂 https:

[2022-08-16 04:45] MrNickArcher commented on #25684
Well this is embarrassing :(

It seems the problem was that in my testing I was running the `%pip install azure-storage-file-datalake` after importing other `azure.~` packages or without properly starting a new PySpark session. `pip install azure-storage-file-datalake` must be the first thing that happens. Otherwise any library that depends on `azure.core` pollutes the `sys.modules` with an old ve

[2022-08-16 04:45] #25684 closed

[2022-08-16 14:40] #22715 closed

[2022-08-16 14:44] xiangyan99 commented on #25684
Thank you for the updates.

[2022-08-16 21:44] xiangyan99 commented on #23686
Done

[2022-08-16 21:44] #23686 closed

[2022-08-16 21:47] nimishkumar opened #25718 "AzureDLFileSystem mv() does not move file to destination, deletes file from source"
azure.datalake.store.core.AzureDLFileSystem class's mv() method removes the file from the source, but does not actually move the file to the destination. This effectively deletes the file entirely.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a46e370-1db0-4259-a3e9-6baf23dce72a
* Version Independent ID: 286b6a96-189

[2022-08-16 21:47] azure-sdk commented on #25718
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.41052717,Data Lake Storage Gen2:0.19773383,Cognitive - Form Recognizer:0.09860063'

[2022-08-16 22:07] annatisch commented on #25062
azure-storage
- Should be able to remove unused storage libs
- Multiple deps because provider may be unknown to user
pathspec
- Investigate possibility of replacing or vendoring the one function that is being used.
azure-identity
- Vendoring any base classes as needed.

marshmallow
- Used for schema tools, not customer facing (i.e. could be refactored out without breaking changes)
- Chat to Johan

[2022-08-16 22:56] swathipil commented on #25698
Hi @mhoang-woolworths-com-au - In addition to answering Anna's questions above, would you be able to provide the following information?
* azure-servicebus Version:
* Operating System:
* Based on your logs, it looks like you're using Python 3.7. Can you confirm this?
Thanks!

[2022-08-17 01:33] mhoang-woolworths-com-au commented on #25698
Hi, there is no session, partition, yes Python 3.7 and updated to lastest sdk version

[2022-08-17 01:34] mhoang-woolworths-com-au commented on #25698
Windows 10, sdk latest updated today

[2022-08-17 02:29] msyyc opened #25729 "[CI] permit users to add customized content in `README.md`"
we could update [README.md template](https://github.com/Azure/azure-sdk-for-python/blob/main/tools/azure-sdk-tools/packaging_tools/templates/README.md#usage) to permit users to appoint specific link for samples. And we also a variable(we can name it `sample_link`) in [sdk_packaging.toml](https://github.com/Azure/azure-sdk-for-python/blob/4472c35249c8595da2b82b6cda0915606a0ee792/tools/azure-sdk-too

[2022-08-17 02:46] #25068 closed

[2022-08-17 02:48] msyyc opened #25731 "[pipeline] upgrade autorest.python from `6.0.1` to `6.1.4`"
| Library                                                                 | Min Version |
| ----------------------------------------------------------------------- | ----------- |
| `@autorest/core`                                                        | `3.8.4`     |
| `@autorest/modelerfour`                                                 | `4.23.5`    |
| `azure-core` dep of generated code

[2022-08-17 02:49] azure-sdk commented on #25731
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.2501438,Storage:0.18522298,Event Hubs:0.05921005'

[2022-08-17 03:19] ponopono0322 commented on #22162
According to the `eng/common/testproxy/target_version.txt` file, i deleted the previous version of the container and completed the code to create the required version of the docker image and container. Could you please check if it is the same as the intended result?

[2022-08-17 07:58] lozanov95 opened #25739 "explore management api link returns 404"
Explore management API link in the article doesn't work - https://docs.microsoft.com/en-us/python/api/overview/azure/authorization/management It goes to a 404 page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1ae83ca-48ac-213a-611d-1efd1d41b170
* Version Independent ID: 33c94d96-111b-f933-69c1-a811fe0a78fb
* Conten

[2022-08-17 07:59] azure-sdk commented on #25739
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Authorization:0.5601895,Docs:0.39376947,Managed Identity:0.0053128796'

[2022-08-17 09:50] BigCat20196 opened #25744 "Add rest repo hash"
like this:
![image](https://user-images.githubusercontent.com/51037443/185089478-1e25a5ca-01e2-4671-b639-e705fa27fe84.png)

[2022-08-17 09:50] azure-sdk commented on #25744
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.081212476,EngSys:0.052487124,Storage:0.03486478'

[2022-08-17 11:28] blasttask commented on #24282
For anyone else that encountered this. Seems like AzureCliCredential and az cli are authenticating differently. AzureCliCredential requires the correct RBAC, so I had assign myself "Storage Blob Data Contributor" to run without getting AuthorizationPermissionMismatch. The az cli didn't require it this role set though, I suppose az cli might be generating a short-lived SAS token and make the reques

[2022-08-17 15:16] swathipil commented on #23510
Hi @weltonrodrigo - Thanks for your patience on this!
@kashifkhan was able to reproduce and fix this issue with the async BufferedProducer send hanging. This bug fix will be out in our next `azure-eventhub` release. I will update this issue as soon as it has been released.

More context on the bug from @kashifkhan: In our async producer, internally, we are using a sync queue to hold events. There

[2022-08-17 15:29] weltonrodrigo commented on #23510
We've been using it since it was merged and seems fine. thanks.

[2022-08-17 15:29] #23510 closed

[2022-08-17 16:44] xiangyan99 commented on #23787
We are working on a long-term solution, and this becomes invalid.

[2022-08-17 16:44] #23787 closed

[2022-08-17 17:43] mccoyp commented on #22162
@ponopono0322 I'll take a look -- thanks so much for opening a PR!

[2022-08-17 17:44] mccoyp commented on #25677
Closing as a duplicate of https://github.com/Azure/azure-sdk-for-python/issues/22162.

[2022-08-17 17:44] #25677 closed

[2022-08-17 18:46] vincenttran-msft commented on #24282
Hi @blasttask, thanks for your response to this issue. This was some very valuable information, and we really appreciate your contribution to the discussion (especially when we are having difficulties reproducing the errors locally).

Hi @samy-dougui Samy, apologies for the delay in response. I just wanted to check in and see if this problem still persists? If so, could you please try the solution

[2022-08-17 22:04] #25635 closed

[2022-08-17 22:34] kashifkhan opened #25750 "PyAMQP (Zinc October 2022 - March 2023)"
###FIXME

[2022-08-17 22:35] azure-sdk commented on #25750
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.1495941,Event Hubs:0.093977906,Search:0.0894419'

[2022-08-18 05:20] annatisch commented on #25739
Thank you for reporting @lozanov95!
@msyyc , @lmazuel - do you where we can repoint this reference URL to?

[2022-08-18 05:26] annatisch commented on #25718
Thanks for reporting @nimishkumar!
Directing to the right team for investigation :)

[2022-08-18 08:22] wallflower762 opened #25764 "Azure Blob Storage delete_blobs() raises TypeError: quote_from_bytes() expected bytes"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.13.1
- **Operating System**: Windows 10
- **Python Version**: 3.8.6

**Describe the bug**
Passing a list of `BlobProperties `or string blob names to `delete_blobs` raises `TypeError: quote_from_bytes() expected bytes`

**To Reproduce**
[code]

The above code should give a stack trace like this:
[code]

**Expected behavior**
The blobs

[2022-08-18 10:03] #25092 closed

[2022-08-18 11:32] GeorgeH-MS opened #25766 "Azure Blob Storage can't create blob service client for storage accounts in Azure Edge Zone"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.13.1
- **Operating System**: Windows 11
- **Python Version**: 3.8.6

**Describe the bug**
New a BlobServiceClient for a storage account created in Azure Edge Zone with account URL and credential, raised ValueError("Unable to determine account name for shared key credential")

**To Reproduce**
Steps to reproduce the behavior:
1. Creat

[2022-08-18 11:33] GeorgeH-MS commented on #25766
Potential issue exists in https://github.com/Azure/azure-sdk-for-python/blob/afce4523ab32e6f3b12bc7f65f2076b99516972e/sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py#L87-L94, which hardcoded the storage endpoints

[2022-08-18 17:09] Rama-Ayyagari opened #25771 "need to update api-version of security contacts api from 2017-08-01-preview to 2020-01-01-preview"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Need details of of person to send email notifications from Microsoft Defender for Cloud to persons with specific RBAC roles on the subscription.Also Defines whether to send email notifications about new security alerts

**Describe the solu

[2022-08-18 17:10] azure-sdk commented on #25771
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Security:0.1338345,Event Hubs:0.05458893,Service Bus:0.05248691'

[2022-08-18 17:58] jalauzon-msft commented on #25764
Hi @wallflower762, thanks for reporting this! We'll investigate and get back to you ASAP.

[2022-08-18 18:04] kristapratico opened #25772 "[textanalytics] AttributeError: NoneType object has no attribute 'errors'"
Got a customer report that this error arises transiently when calling `begin_analyze_healthcare_entities` in the 5.1.0 version of the library.

I've mocked what I think might be happening here, but I haven't been able to reproduce the error on my own to confirm it.

My assumption is that the service is failing or cancelling the task which is resulting in the [HealthcareTaskResult](https://github.c

[2022-08-18 18:04] azure-sdk commented on #25772
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Text Analytics:0.18936774,Cognitive Services:0.13805436,Service Bus:0.0820461'

[2022-08-18 18:05] Stevenjin8 commented on #25764
Hi @wallflower762, could try modifying your `delete_blobs` function to

[code]

according to the [docs](https://docs.microsoft.com/en-us/azure/developer/python/sdk/storage/azure-storage-blob/azure.storage.blob.containerclient?view=storage-py-v12#delete-blobs--blobs----kwargs-), the `ContainerClient.delete_blobs` method takes `*blobs` as its first argument. So if you pass in a list without unpackin

[2022-08-18 18:35] kristapratico opened #25773 "Add troubleshooting guide for using pip in conda environments"
Our official conda package supports stable/GA packages. If someone wants to use a beta package with conda, they will need to install it with pip. This can lead to environment issues which can be hard to troubleshoot, conda details this in their blog here: https://www.anaconda.com/blog/using-pip-in-a-conda-environment

We should create a troubleshooting guide (if it doesn't exist already) to help u

[2022-08-18 18:36] azure-sdk commented on #25773
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.44308805,Cosmos:0.058227994,Storage:0.042192772'

[2022-08-18 21:28] mccoyp commented on #25457
Resolved by https://github.com/Azure/azure-sdk-for-python/pull/25638.

[2022-08-18 21:28] #25457 closed

[2022-08-18 21:37] mccoyp commented on #22370
Still awaiting OKP availability.

[2022-08-18 22:00] l0lawrence opened #25774 "[PyAMQP] Remove test/scripts/pyamqp"
In a few months if the pyamqp perf test folder is not used, remove it from the feature branch

https://github.com/Azure/azure-sdk-for-python/tree/feature/eventhub/pyproto/sdk/eventhub/azure-eventhub/stress/pyamqp

[2022-08-18 22:04] #22384 closed

[2022-08-18 22:45] jmwoloso commented on #22384
@jeff-shepherd thanks so much!

[2022-08-19 00:24] kristapratico commented on #25772
The service is cancelling the job and returning this:

{"jobId":"36fff21c-2ece-46ce-9618-e926971bf812","lastUpdateDateTime":"2022-08-18T20:53:50Z","createdDateTime":"2022-08-18T20:53:50Z","expirationDateTime":"2022-08-19T20:53:50Z","status":"cancelled","errors":[]}

[2022-08-19 01:27] kristapratico commented on #25772
We've tracked down why the job is being cancelled by the service -- apparently the call quota limit is being exceeded for the free tier resource. That being said, there is work to do: 1) for the service to send an error message that explains this, and, 2) for the client library to handle this gracefully.

[2022-08-19 01:39] #22162 closed

[2022-08-19 02:08] wallflower762 commented on #25764
Ah I see, that makes sense. Thanks for clarifying Steven.

Looking at the docs within the code base, it indicates that the blobs parameter can be a list of str, list of dict, or list of BlobProperties
![image](https://user-images.githubusercontent.com/81551380/185526494-8ca6eb9a-0ce4-4f15-a3a7-0d5dc07e42e5.png)

I found this a bit misleading.

[2022-08-19 02:08] #25764 closed

[2022-08-19 02:47] msyyc commented on #25739
I also find some similar broken link:
https://docs.microsoft.com/en-us/python/api/overview/azure/webapps/management
https://docs.microsoft.com/en-us/python/api/overview/azure/commerce/management
https://docs.microsoft.com/en-us/python/api/overview/azure/batch/management
https://docs.microsoft.com/en-us/python/api/overview/azure/redis/management
https://docs.microsoft.com/en-us/python/api/overview/

[2022-08-19 05:29] msyyc opened #25776 "[Docs][Load Testing] add link in MS docs"
add link in https://docs.microsoft.com/en-us/python/api/overview/azure/?view=azure-python.

https://github.com/MicrosoftDocs/azure-docs-sdk-python/tree/main/preview/docs-ref-autogen/azure-developer-loadtesting

[2022-08-19 05:30] azure-sdk commented on #25776
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.29034364,Docs:0.093086235,Search:0.030359188'

[2022-08-19 10:25] andrii-kokhan commented on #22384
Thank you.

[2022-08-19 12:38] jeesang7 opened #25778 "Add `azure-keyvault-administration` to overview article for KV"
[Enter feedback here]

I think that It should be added `azure-keyvault-administration` library.
If you need to add it to this document, please guide me and I'll contribute. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3954c3a2-54d1-442c-67f9-a8cc74dcb215
* Version Independent ID: aaef787f-1494-246b-e6a2-6c70d

[2022-08-19 14:53] DanielGumbletonWood commented on #25018
Hi, i am getting this issue, i cannot install the library on my M1 pro

[2022-08-19 16:03] #17254 closed

[2022-08-19 16:11] squirrelsc opened #25779 "Remove hard coded api versions"
I tried to use the quota API. But the API version is hard coded, and the preview version is gone. So the call won't be successful. Can you update to a workable API version, and remove the hard coded version?

https://github.com/Azure/azure-sdk-for-python/blob/d7c30a90ca19083f626c54680582bf02a549f8ca/sdk/quota/azure-mgmt-quota/azure/mgmt/quota/operations/_quota_operations.py#L83

[2022-08-19 16:12] azure-sdk commented on #25779
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'API Management:0.10504134,KeyVault:0.049473736,Docs:0.046988126'

[2022-08-19 17:47] Stevenjin8 opened #25780 "Misleading warning when downloading empty blob"
- **Azure Storage Blob**:
- **12.13.0**:
- **Ubuntu (WSL 2)**:
- **3.9.6**:

**Describe the bug**

Downloading an empty blob logs an error including a traceback despite downloading successfully.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

The code should run without any error or warnings.

**Screenshots**

Here is the output

[code]

If you miss the first lin

[2022-08-19 18:03] jalauzon-msft commented on #25764
Thanks for confirming @wallflower762. I do agree that type hint is a bit misleading. We will make a change to properly document the type here as just `Union[str, dict, BlobProperties]` as that would be the proper way to type hint a `*arg`.

[2022-08-19 19:01] jalauzon-msft commented on #19755
I'm happy to share that we finally have opened #25747 to add `list_blob_names` to the Track2 Blob SDK. This API, like the Track1 equivalent, will call the standard List Blobs API but only parse and return the blob names which results in a significant speedup over the traditional `list_blobs` API when only names are desired.

Some initial perf testing results show this API is 1.5-14 times faster th

[2022-08-19 20:46] ynden commented on #24789
It seems that 'azure-graphrbac' is still incompatible with azure-identity (ref. https://github.com/Azure/azure-sdk-for-python/issues/9432#issuecomment-1127951202).

In other words,  **GraphRbacManagementClient** can't work yet with a *credential* created through **azure-identity**, hence the error:
```AttributeError: 'xxxCredential' object has no attribute 'signed_session'```

As you mentioned, th

[2022-08-19 21:58] mmb5 opened #25784 "Getting HTTP conditional header(s) is not met"
- azure-storage-file-datalake
- 12.8.0
- Windows
- Python 3.9

I'm receiving a ConditionNotMet on the upload_data method of the file client

Code is included to create a simple file:
`
import asyncio
import traceback
from azure.storage.filedatalake.aio import DataLakeServiceClient

async def write_file(datalake_connection, container_name, directory_name, file_name, file_content):
    try:

[2022-08-19 22:04] #24572 closed

[2022-08-19 22:04] #24556 closed

[2022-08-19 22:46] swathipil commented on #25698
Hey @mhoang-woolworths-com-au - I followed the steps you outlined and was not able to reproduce the error, unfortunately.

FYI: Here is my code snippet. Please let me know if anything looks incorrect.
[code]
A few more questions for you:
1) How many messages are you deferring and receiving at a time?
2) In your code to reproduce, you mention that you check the Service Bus Explorer online for the s

[2022-08-19 23:55] catalinaperalta opened #25786 "[formrecognizer] Check prebuilt address fields"
Also check currency fields.
Verify if behavior is consistent across prebuilts.

[2022-08-20 00:06] jalauzon-msft commented on #25784
Hi @mmb5, thanks for reaching out. Without looking at the code too much, my suspicion is that the one Storage account that is not working has `Hierarchical namespace (HNS)` disabled meaning it is not an ADLS Gen 2 account. The working account likely has this enabled. You can check from the Overview page in the Azure Portal
![image](https://user-images.githubusercontent.com/96087589/185721042-6ee1d

[2022-08-20 01:15] mccoyp commented on #25175
A PR is now up to fix this: https://github.com/Azure/azure-sdk-for-python/pull/25788

[2022-08-20 03:05] DavidPaf opened #25789 "Example for uploading dataurl type"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Need an example for uploading dataurl to azure file share with python. In the current article, it uses existing file, not data url
https://do

[2022-08-20 03:05] azure-sdk commented on #25789
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Lake Storage Gen2:0.22771856,Docs:0.21537232,Subscription:0.10174035'

[2022-08-20 10:50] DevRyu commented on #22373
Dear @mccoyp
Do this issue still valid?
If so then I want to refactor this code.

[2022-08-20 12:57] mmb5 commented on #25784
Thanks for the quick reply.  Strangely it appears to be the opposite.  The working one has Hierarchical disabled.  The non-working one has Hierarchical enabled.

[2022-08-21 06:44] SHSongs commented on #25779
I fixed issue. Could you review [this PR?](https://github.com/Azure/azure-sdk-for-python/pull/25790)

[2022-08-21 10:14] SHSongs opened #25794 "[ServiceBus] Need type hints"
**Is your feature request related to a problem? Please describe.**
As the python version goes up to version 3.6, I think it would be better to write type hints as well.

**Describe the solution you'd like**
Write the parameter type referring to the [python typing docs](https://docs.python.org/3/library/typing.html)

**Additional context**
[servicebus example](https://github.com/Azure/azure-sdk-for

[2022-08-21 10:20] SaidBySolo commented on #25794
https://github.com/Azure/azure-sdk-for-python/tree/388efaaa2b8f4a14a4c306dc5ea6f77f1ba7fa6b/sdk/servicebus/azure-servicebus/azure/servicebus/aio

I am trying to migrate type annotations with a focus here.

[2022-08-21 21:04] jmwoloso commented on #22384
@jeff-shepherd one more question. any idea on the timeline for the next release?

[2022-08-21 22:41] annatisch commented on #25771
Thanks for reporting @Rama-Ayyagari!
I'm directing to the right team to investigate for you ASAP :)

[2022-08-21 22:46] annatisch commented on #25778
Thanks for reporting @jeesang7!
@mccoyp - would you be able to confirm that the keyvault-administration package should be listed on the [overview page here](https://docs.microsoft.com/python/api/overview/azure/key-vault?view=azure-python)?

[2022-08-21 22:49] annatisch commented on #25779
Thanks so much for reporting and PR contribution!
Unfortunately this SDK is auto-generated, and probably needs to be corrected using a new code generation.
@msyyc - could you please investigate this issue and the referenced fix PR above to determine the best next steps?

[2022-08-21 22:49] azure-sdk commented on #25779
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'API Management:0.10504134,KeyVault:0.049473736,Docs:0.046988126'

[2022-08-21 22:58] annatisch commented on #25789
Thanks for reporting @DavidPaf - just to clarify the specifics of the sample you are looking for, are you looking to create the file client pointing to the upload uri?
For example:
[code]
Or are you looking for a sample that demonstrates uploading from a different source, e.g. copying source data from a URL?
Adding @jalauzon-msft and @vincenttran-msft for visibility.

[2022-08-21 22:59] azure-sdk commented on #25789
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.4618508,Data Lake Storage Gen2:0.22391312,Storage:0.05912905'

[2022-08-21 23:04] annatisch commented on #25794
Thanks for reporting @SHSongs, @SaidBySolo!
Since we officially dropped support for 2.7 at the beginning of 2022, we have slowly been cleaning up legacy code to reflect the latest Python 3 best practices.
While I can't commit to an exact time frame for when the full ServiceBus SDK will have the typehints migrated - rest assured that we are making progress as part of an internal refactor for the AM

[2022-08-22 01:20] mhoang-woolworths-com-au commented on #25698
Hi,

Im using your exact test code just populate with my deferred message sequence and get same error. I'm using premium tier and have > 300K deferred messages, I tried changing timeout to really long and makes no difference, this error just appear in few seconds

Status code: 500
Message: b'Failed to lock one or more specified messages. Either the message is already locked or does not exist. Trac

[2022-08-22 01:43] msyyc commented on #25779
Hi @squirrelsc SDK is generated automatically with [swagger](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/quota/resource-manager#basic-information). If you find that the api version doesn't work, please make an issue in https://github.com/Azure/azure-rest-api-specs/issues. After service team update the api version, we can publish a new sdk version to fix the problem.

[2022-08-22 01:47] msyyc commented on #25771
Hi @Rama-Ayyagari Do you mean that the response from service changes compared with api-version `2017-08-01-preview` and `2020-01-01-preview`? If that, I advise to open an issue in https://github.com/Azure/azure-rest-api-specs/issues since SDK is generated with [swagger definition](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/security/resource-manager)

[2022-08-22 02:11] msyyc commented on #25776
After https://github.com/Azure/azure-sdk/pull/4717 merged, The doc link shall be updated: https://github.com/MicrosoftDocs/azure-docs-sdk-python/tree/main/docs-ref-services/preview

[2022-08-22 04:58] Zhupku commented on #25766
Any update on this?

[2022-08-22 06:24] ninallam commented on #25776
@msyyc The pull request https://github.com/Azure/azure-sdk/pull/4717 was merged 3 days ago. How long would it take to update the reference docs at https://docs.microsoft.com/en-us/python/api/overview/azure/?view=azure-python?

[2022-08-22 07:55] JeroenMBooij opened #25799 "Create Workspace with existing resource in another resource group"
When creating a workspace with existing resources from another resource group, a provisioning error is thrown as discussed in this issue in the docs repository https://github.com/MicrosoftDocs/azure-docs/issues/97360#issuecomment-1221971719

However when creating a Azure Machine Learning Worspace with Azure Portal it is possible to create a workspace with resources from another resource group. Wou

[2022-08-22 07:55] azure-sdk commented on #25799
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Services:0.12401701,ARM:0.087678656,Compute:0.0638926'

[2022-08-22 11:55] swathipil commented on #25471
related issue: #25794

[2022-08-22 11:55] swathipil commented on #25794
Yes, we have a related issue here: #25471

[2022-08-22 12:19] swathipil commented on #25698
@mhoang-woolworths-com-au - Would you be able to turn on info-level logging and respond with those logs?

To turn on logging, you can pass in `logging_enable=True` to the ServiceBusClient during creation. You can also [turn on additional `azure.servicebus` and `uamqp` level logs](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/servicebus/azure-servicebus#logging). ex.
[code]

[2022-08-22 13:14] SaidBySolo commented on #25794
Hello @swathipil!
If you haven't already done the migration here servicebus/azure-servicebus/azure/servicebus/aio, i want to contribute.
Do you have any plans?

[2022-08-22 13:15] swathipil commented on #25794
I haven't already done the migration, so feel free to open a PR and tag me for a review. :)
Thank you!

[2022-08-22 15:12] mccoyp commented on #22373
Hi @DevRyu, thank you for offering to help! This issue is still open and hasn't been started on, so I would be happy to review any PRs you'd like to submit 🙂

[2022-08-22 18:21] needuv commented on #25060
This has now been addressed. Closing this issue.

[2022-08-22 18:21] #25060 closed

[2022-08-22 19:03] richardpark-msft commented on #24915
I'll take a look, it's been awhile since I've looked at it. Just regenerating the package might have been enough since it appeared to just be a data contract mismatch.

[2022-08-22 19:26] vincenttran-msft commented on #25766
Hi @GeorgeH-MS George, thanks for bringing this issue to our attention and sorry for the delay in response. I believe that the issue does lie with how the parser operates. We are aware of this issue and are working on developing a solution that will not break pre-existing customer workflows and will only be additive in its nature.

For now, I believe this workaround should resolve your issue. As s

[2022-08-22 20:23] jalauzon-msft commented on #22443
Hi @ArvidMartensRenson, apologies for the long delay on this. Are you still experiencing the issue?

If so, would you mind sharing a little bit more information about your scenario as I am not able to reproduce this issue.
1. A code snippet of how you are querying the file specifically?
2. The general schema for your parquet file?
3. The specific error you are getting? Ideally including the servic

[2022-08-22 20:55] catalinaperalta opened #25810 "[formrecognizer] Add document_url message in async client"
Add document_url input check for str and message in async client.

[2022-08-22 20:55] azure-sdk commented on #25810
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.41704553,Cognitive - Form Recognizer:0.39395747,Storage:0.08262492'

[2022-08-22 21:00] catalinaperalta opened #25811 "[formrecognizer] Fix test imports"
- [] DAC analyze custom model async line 14

[2022-08-22 21:40] delahondes commented on #10572
Building on @mockodin fine remarks I implemented a file like object on top of blob object, and I was very successful (it does not the reauth trick he mentionned because I did not need that), the downloading speed was enhanced maybe ten times when using this iterator vs the one included in the SDK, many thanks to you, @mockodin !

[code]

[2022-08-22 21:55] jalauzon-msft commented on #25784
Hi @mmb5, I had a closer look at this, and I think I understand what is going wrong. I think the main issue in your sample is that you are first calling `create_file`, which creates the empty file and then `upload_data` without specifying any access conditions or `overwrite=True`. For accounts with HNS enabled, access conditions are required when overwriting data to avoid certain issues, but this

[2022-08-22 22:00] timovv opened #25812 "[Key Vault] Verify pagination tests cover more than one page"
Raising this issue following up from last week's team meeting.

As part of this month's release cycle, I released a migration of the Key Vault packages to JavaScript's Core v2 HTTP pipeline implementation. This change required some changes to the pagination methods each of the SDKs. One method in keyvault-secrets wasn't migrated properly, leading to a regression where the pagination would fail, bu

[2022-08-22 22:01] azure-sdk commented on #25812
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'KeyVault:0.33741778,Azure.Core:0.16748804,Event Hubs:0.0480024'

[2022-08-22 22:25] #25148 closed

[2022-08-22 23:47] jeff-shepherd commented on #22384
@jmwoloso Currently, we release the Azure ML SDK once a month.
I think Azure ML SDK 1.45.0 will be released to PyPI on August 29th, 2022.

[2022-08-22 23:49] jmwoloso commented on #22384
Perfect, thank you @jeff-shepherd!

[2022-08-23 01:49] msyyc commented on #25776
I will confirm that in e-mail

[2022-08-23 13:45] mmb5 commented on #25784
Thank you for the examples and your help.  #1 is working fine.  I will close this issue.

[2022-08-23 13:45] #25784 closed

[2022-08-23 16:47] #25167 closed

[2022-08-23 16:49] #25166 closed

[2022-08-23 20:54] mccoyp commented on #25778
It does look like `azure-keyvault-administration` should be listed among the data access packages, per [.NET's analogous overview page](https://docs.microsoft.com/dotnet/api/overview/azure/key-vault). Thank you @jeesang7 for making us aware!

[2022-08-23 22:09] JoshLove-msft opened #25826 "[Service Bus] Create Troubleshooting Guide"
Here is the [template]( https://gist.github.com/JoshLove-msft/4b3ffbc041067602612a2d81fe514a97) that each language can follow to ensure all topics are covered in a consistent way.

As part of this work, we should update relevant exceptions to link out to aka.ms links that point to the corresponding section of the Troubleshooting guide, similar to what we did for [Identity](https://azure.grep.app/s

[2022-08-24 00:56] #25477 closed

[2022-08-24 00:58] #25533 closed

[2022-08-24 01:34] msyyc commented on #25776
Hi @ninallam since `load testing` is still in preview, you can see the doc link in https://docs.microsoft.com/en-us/python/api/overview/azure/?view=azure-python-preview

[2022-08-24 02:25] Eddielin0926 commented on #24765
My `azure-core` version is 1.25.0 and `msrest` version is 0.7.1, but I still got the error. Is there any possible solution that I can follow?

[2022-08-24 05:56] GeorgeH-MS commented on #25766
Thanks @vincenttran-msft for suggesting the workaround, it works. But we found the CLI behavior related the Edge Zone was broken. And the regression should be caused by its dependency on Python, which is exactly this issue. So the fix of this issue seems to be critical. Thanks.

[2022-08-24 08:02] wonhyeongseo commented on #25557
Hello, @kristapratico!

Shouldn't a simple change to the argument name be enough?
`short_answer_options` -> `options`
I made a https://github.com/Azure/azure-sdk-for-python/pull/25833 with this change. May you please check it out?

Thank you!

[2022-08-24 08:04] #25431 closed

[2022-08-24 08:05] wonhyeongseo commented on #22057
Hello @kristapratico, may I try this issue? I also found cognitive-language to have samples with unicode strings. Is it possible to PR multiple libraries at once? Thank you!

[2022-08-24 15:57] xiangyan99 commented on #24765
@Eddielin0926 could you share more information about your environment?

[2022-08-24 16:35] Eddielin0926 commented on #24765
@xiangyan99 Sure!
The list of the packages in my environment is quite long, so I post it [here](https://hackmd.io/@eddielin0926/ryCcZRmJs).

[2022-08-24 16:37] xiangyan99 commented on #24765
@Eddielin0926 I saw 403 forbidden. :(

[2022-08-24 16:43] Eddielin0926 commented on #24765
@xiangyan99 Sorry, that's my fault. Can you please try the same link again?

[2022-08-24 16:50] #25810 closed

[2022-08-24 16:50] #25811 closed

[2022-08-24 17:03] xiangyan99 commented on #24765
@Eddielin0926 Thanks for sharing. It looks to me your environment is messed up. E.g. azure library is already deprecated and is not fully compatible with other libraries.

Could you try creating a new virtual environment and install those packages again?

[2022-08-24 17:08] Eddielin0926 commented on #24765
@xiangyan99 Thanks! A new virtual environment does help me fix the problem.👍

[2022-08-24 17:11] lmolkova opened #25838 "GA OpenTelemetry tracing plugin"
We have a partner ask to GA OTel tracing plugins across all languages in [Zn], this is an uber-issue to track python work in this space.
Here're the sub-tasks:

- [ ] https://github.com/Azure/azure-sdk-for-python/issues/36779

- Cleanups and breaking changes
  - [ ] [P2] Set az.namespace, client library name and version on tracer instrumentation scope
  - [ ] [P0] https://github.com/Azure/azure-sd

[2022-08-24 17:11] azure-sdk commented on #25838
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Monitor - Exporter:0.33717316,Event Hubs:0.15609778,Service Bus:0.096411765'

[2022-08-24 22:15] kristapratico commented on #25557
Hey @wonhyeongseo thanks for taking a look at this issue. `short_answer_options` is the correct name for this keyword argument. We can't change the name to `options` because 1) this is a breaking change for our customers and 2) `get_answers` already takes a positional argument called `options` which accepts an `AnswersOptions` type. That being said, the error is arising from a naming clash in the

[2022-08-24 22:22] kristapratico commented on #22057
Hey @wonhyeongseo it's recommended to keep PRs specific to one library only. Feel free to work on the cognitive-language samples (I can help review these ones 😄). For the storage queue samples, I would like to check with @jalauzon-msft or @vincenttran-msft first to make sure that this is the right approach.

[2022-08-24 22:31] jalauzon-msft commented on #22057
@wonhyeongseo, definitely feel free to work on this issue for Queues as well! Removing the Unicode strings should be totally fine since we no longer support Python 2. As Krista mentioned, its best to have separate PRs for each library but I'd be happy to help review these changes for Storage. Thanks!

[2022-08-24 23:12] vincenttran-msft opened #25846 "[Storage] Fix `test_directory.py` live-only tests once dual sanitizer fix is in"
While working on the migration of `test_directory.py` and `test_directory_async.py`, we ran into an issue with some tests that require 2 sanitizers to run on them (SAS sanitizer & tenant ID sanitizer) that are colliding due to the nature of the sanitizers and the order they are running in (currently, tenant ID sanitizer beats the SAS sanitizer and so the SAS sanitizer is left to operate on already

[2022-08-24 23:13] azure-sdk commented on #25846
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.32734138,Security:0.062050138,Cosmos:0.051902127'

[2022-08-25 00:39] #25168 closed

[2022-08-25 05:18] sravantiaketi1 opened #25857 "Classifier missing Python3.9"
- **Package Name**: azure-mgmt-resourcegraph
- **Package Version**: 8.0.0
- **Operating System**: linux
- **Python Version**: 3.9

**Describe the bug**
A clear and concise description of what the bug is. Classifier for this library is missing Python3.9 hence getting No module found error.

**To Reproduce**
Steps to reproduce the behavior:
1. https://pypi.org/project/azure-mgmt-resourcegraph/
 chec

[2022-08-25 05:18] azure-sdk commented on #25857
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.37469435,Azure.Core:0.12538026,Graph:0.02912764'

[2022-08-25 05:34] sravantiaketi1 commented on #25857
can you please respond? Its very urgent

[2022-08-25 06:09] jeeva1711 opened #25860 "Mounting the dataset causes error"
Is there a right way to mount the dataset in jupyter notebook of ML Studio ?
Can a dataset point to two different datastore ?
p.s : I have created dataset pointing to two different datastores and registered it as well.
But while mounting the dataset, it shows some error.
![err1](https://user-images.githubusercontent.com/72345296/186587884-36bce118-345d-4b5a-a18c-7cc497232813.JPG)
![err2](https://u

[2022-08-25 07:35] Antyteza opened #25861 "azureml-core 1.44.0 fails to deploy model to webservice"
- azureml-core
- 1.44.0
- conda virtualenv (compute instance):
-  Azure Machine Learning
- ML

**Describe the bug**
Model fails to deploy when I run the deployment code in Azure Notebook using virtualenv with azureml-core 1.44.0

It works just fine with older version (1.43.0) or the default Python 3.8 - Azure ML that uses 1.42.0 at the moment.

The output:

[code]

**To Reproduce**
Steps to reprod

[2022-08-25 07:35] azure-sdk commented on #25861
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.105218,Storage:0.10487843,Machine Learning:0.09506302'

[2022-08-25 07:55] jeesang7 commented on #25778
Can I edit or contribute to the overview article? I can't find a similar case in another PR or contribution guide for the article.

[2022-08-25 08:14] sgsshankar opened #25862 "[Data Factory] [Synapse Analytics] Snowflake source export settings validation error"
- **Package Name**: azure-mgmt-datafactory
- **Package Version**: 2.7.0
- **Package Name**: azure-mgmt-synapse
- **Package Version**: 2.0.0
- **Operating System**: Windows 11 V 21H2 (OS Build 22000.856)
- **Python Version**: Python 3.10.4 (tags/v3.10.4:9d38120, Mar 23 2022, 23:13:41) [MSC v.1929 64 bit (AMD64)] on win32

**Describe the bug**
There is no validation for the Snowflake Source. The SDK

[2022-08-25 08:26] sgsshankar commented on #25862
Fix provided in PR #25863

[2022-08-25 13:48] wonhyeongseo opened #25867 "[cognitive-language] Modernize strings throughout code"
**Is your feature request related to a problem? Please describe.**
Python 2 used unicode strings, but Python 3 can handle unicode by default.
Format methods can be replaced with f-strings.

**Describe the solution you'd like**
We should remove unicode strings from the code, and replace format methods with f-strings if possible.

- [x] Question & Answer Maker
- [x] Conversations

**Additional conte

[2022-08-25 13:49] azure-sdk commented on #25867
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'azure-spring:0.16730382,Cosmos:0.14677903,Storage:0.055877768'

[2022-08-25 14:41] James-Beckwith commented on #20497
Agreed - Not having the ability to use GROUP BY and aggregations in python SDK queries is a huge limitation. Is there any update on when this will be available?

[2022-08-25 14:58] James-Beckwith opened #25868 "GROUP BY and aggregations for Azure Cosmos DB SQL API client library for Python"
**Is your feature request related to a problem? Please describe.**
I want to be able to send queries with groupings and aggregations to automatically summarize the information in my cosmos instance table for various, scriptable instances via the Azure Cosmos DB SQL API client library for Python. The field I want to group by is variable and is one of a list of items (all of which I want to group by

[2022-08-25 16:31] kristapratico commented on #25867
Thanks for opening this issue @wonhyeongseo! I understand that you want to work on this so I'm assigning it to you. 😃

[2022-08-25 17:18] rbuenoc opened #25870 "Send an event to Azure Event Hub authenticating via Service Principal throws "azure.eventhub.exceptions.EventHubError: get_token must be a coroutine function" error"
- **Package Name**: azure-eventhub
- **Package Version**: 5.10.1
- **Operating System**: Windows
- **Python Version**: 3.9.4

**Describe the bug**
Trying to send an event to Azure Event Hub authenticating via Service Principal throws "azure.eventhub.exceptions.EventHubError: get_token must be a coroutine function" error

**To Reproduce**
Steps to reproduce the behavior:
1. Install requirements
[co

[2022-08-25 17:18] Rodrigossz commented on #20497
@simorenoh can add details...

[2022-08-25 18:08] #25870 closed

[2022-08-25 18:12] catalinaperalta commented on #25857
Thanks for reaching out @sravantiaketi1! @msyyc can you please take a look ASAP?

[2022-08-25 18:27] jinlow opened #25871 "Passing kwargs into `ContainerClient.get_blob_client` method"
**Is your feature request related to a problem? Please describe.**
I have been creating `BlobClient` objects using the `ContainerClient.get_blob_client` method. However, I want to be able to specify any valid parameter that can be passed to the `BlobClient` constructor, specifically the `max_chunk_get_size` argument. However, the `get_blob_client` method does not allow for arbitrary keyword argume

[2022-08-25 19:45] l0lawrence opened #25873 "[PyAMQP] Fix raise error on connection timeout"
There is a difference between uamqp and pyamqp with regards to whether or not we raise an error on a connection timeout.

Specifically, looking at the 'test_receive_connection_idle_timeout_and_reconnect' tests for async and sync:

New PyAMQP workflow:
- ReceiveClient.do_work() calls client_run() which calls self._link.flow() which attempts to send an outgoing flow frame. On a connection timeout, t

[2022-08-25 22:10] swathipil opened #25875 "[Python AMQP] add timeout/msg_timeout/kwargs TODOs"
For parity with uamqp:
- [ ] Add a `msg_timeout` kwarg to the [pyamqp.SendClient](https://github.com/Azure/azure-sdk-for-python/blob/dcacd0cb2372d3a47fd78a0e9fcd1e738d562070/sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py#L398) like in the [uamqp.SendClient](https://github.com/Azure/azure-uamqp-python/blob/375b99b1c6aa890270bde6af2e2cc9e1630d8f0e/uamqp/client.py#L488)
- [ ] Add a `tim

[2022-08-25 23:01] #25283 closed

[2022-08-25 23:02] #25325 closed

[2022-08-25 23:15] azure-sdk commented on #25860
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Factory:0.36336526,Compute:0.07812735,Storage:0.059026662'

[2022-08-25 23:19] azure-sdk commented on #25861
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.10296796,Service Bus:0.10236401,Machine Learning:0.09914659'

[2022-08-25 23:22] catalinaperalta commented on #25868
Thanks for reaching out @James-Beckwith! Adding @simorenoh to help out with this issue.

[2022-08-25 23:24] catalinaperalta commented on #25871
Thanks for reaching out @jinlow! Adding @jalauzon-msft to help out with this issue.

[2022-08-25 23:31] catalinaperalta commented on #25861
Thanks for reaching out @Antyteza! Adding @azureml-github to help investigate.

[2022-08-25 23:31] catalinaperalta commented on #25860
Thanks for reaching out! Adding @azureml-github to help investigate.

[2022-08-26 00:52] hugoaponte commented on #25861
We have created an incident ticket to investigate.

Thanks,

Hugo

[2022-08-26 00:53] catalinaperalta opened #25878 "[formrecognizer] Unskip 2.0 compatibility tests"
Unskip v2.0 compatibility tests in multiapi tests.

[2022-08-26 02:11] singankit commented on #25062
dependency on azure-identity has been removed.

[2022-08-26 03:14] v-jiaodi opened #25882 "Ref docs issue"
For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1795811&view=results

@danieljurek for notification.

[2022-08-26 07:51] wonhyeongseo commented on #25557
Hello @kristapratico! Thank you for your guidance. I tried to edit the `_patch.py` to no avail. I stumbled upon [this thread](https://github.com/PyCQA/pylint/issues/2820) in pylint. It seems the problem came up 22 days ago. Can it be a `pylint` bug?

[2022-08-26 08:20] msyyc commented on #25857
We will release a new version for azure-mgmt-resourcegraph the doc shall be updated with clarify for all supported python version including py3.9

[2022-08-26 09:01] v-xuto commented on #20517
@rakshith91  How is your PR going so far to fix this issue?

[2022-08-26 16:04] #25861 closed

[2022-08-26 16:15] simorenoh commented on #20497
@James-Beckwith @metamoof @docgregt
Thank you all for showing interest in this feature, a lot had been going on this last year with the team. While we can't provide an estimate for a date yet, we have been knocking out several other limitations, bugs, and improvements - and I assure you this item is in the backlog.

If I get any concrete updates, I'll be sure to keep updating this thread. Thank yo

[2022-08-26 16:19] simorenoh commented on #25868
Hi @James-Beckwith, thank you for filing this feature request and for using our SDK!

Optimizations to our querying capabilities (like these) are present in our backlog, but we have not been able to get to it yet. I'll make sure to keep you posted as we progress and as any updates develop on my end.

[2022-08-26 16:36] kristapratico commented on #25557
Hey @wonhyeongseo I think the post-processing script edits the `__init__` file, not the `_patch.py`. Can you elaborate on what problem you ran into?

[2022-08-26 17:02] NCarter3 commented on #25273
Hi @Wzb123456789

I had a chance to try the new package, and it's almost perfect! Thanks for releasing this! There's one remaining edge that I see -- my headers are not in the status requests that LROPoller makes. If I'm reading the code accurately, the headers are popped out of the kwargs now. This means those headers are not present in the "operation_config" passed to ARMPolling/LROPoller. I nee

[2022-08-26 17:17] hugoaponte commented on #25861
@Antyteza: Could you share application logs showing the actual error on the container?

[2022-08-26 17:25] JericHunter commented on #25318
Hello @pierre-tagheuer could you please share a screenshot of the code you produced to get this error?

[2022-08-26 18:58] jalauzon-msft commented on #25871
Hi @jinlow James, while I understand the potential need for this, it may be difficult to implement correctly. The idea with the `create_x_client` functions is that everything on the "parent" client carries over into the child client. This includes many things such as configuration settings like `max_chunk_get_size`, pipeline polices, the transport layer, retry settings, etc. There would need to be

[2022-08-26 19:07] singankit commented on #25061
This will be handled as a part of internal refactoring. Since it is not public facing should be a non-breaking change. Will mark this as a non-blocking issue for GA.

[2022-08-26 20:25] jinlow commented on #25871
@jalauzon-msft
Hi Jacob, thanks for this additional info and context!
That makes sense, I did see the `_config` member and had tested modifying that, and it does seem to work as expected! However, as you point out it has greater potential to break in the future, however I think that might be a good enough solution for now.
Yes, maybe there could be some `update_configuration` method that could be

[2022-08-26 21:12] Antyteza commented on #25861
@hugoaponte I'm not sure which logs to report; where can I find them? In container instances -> container -> logs in Azure Portal?

[code]

[2022-08-26 21:50] jalauzon-msft commented on #25766
As discussed offline this is not a regression in v12 of the SDK but rather something that needs to be handled in the CLI after their Track2 migration. Closing this issue. Please open a feature request to CLI if this is needed. Thanks.

[2022-08-26 21:50] #25766 closed

[2022-08-27 00:31] jalauzon-msft commented on #19315
I talked with @xiangyan99 offline and unfortunately, there doesn't seem like much we can do here due to the lack of support for HTTPS proxies in `aiohttp`. So, I'm going to close this issue for now but there is a chance this could be supported in the future, once [httpx](https://www.python-httpx.org/) is released and that can replace `aiohttp` as an async transport layer.

Sorry for the inconvenie

[2022-08-27 00:31] #19315 closed

[2022-08-27 00:38] jalauzon-msft commented on #25789
Hi @DavidPaf David, to add to what Anna mentioned, perhaps you are looking for the way to copy a file from the Storage URL? If that's the case, you'll want to look into [start_copy_from_url](https://github.com/Azure/azure-sdk-for-python/blob/2c51e02a73399234f02dd76c7458e10aad74dc72/sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py#L569). You can also check out our [sampl

[2022-08-27 00:48] jalauzon-msft commented on #25358
Hi @ktaebum, apologies for the long delay. Read timeouts will be automatically retried by the SDK and it seems, from the screenshot you shared, this did help for that particular download as you see it time out and then continue. Changing the retry count will not eliminate read timeouts but will change the number of times a read timeout can be retried. Are you still seeing downloads not complete be

[2022-08-27 00:53] jalauzon-msft commented on #25871
Thanks @jinlow,

An `upload_configuration` function is definitely also a possibility. We can also consider something like this when investigating a solution. The issue with an override via `kwargs` approach is that we may not be able to support all of the `kwargs` that a client constructor would take since not all of them affect the configuration. It is possible to just support the ones we can and

[2022-08-27 01:35] ysmu commented on #25861
You should see three containers in this page. From your description, there should be a container named `heart-disease-classification-env`. Can you paste the logs of that here?

Alternatively, you can navigate to [the endpoint page in Azure Machine Learning Studio](https://ml.azure.com/endpoints) and find the logs under "Deployment logs".

[2022-08-27 02:34] heaths opened #25899 "Update Text Analytics swagger references"
Now that https://github.com/Azure/azure-rest-api-specs/issues/20024 is resolved, update your Text Analytics swagger references to pick up the properly cased `HealthcareEntityCategory` enum values:

* https://raw.githubusercontent.com/Azure/azure-rest-api-specs/1646226d874de6e8d36ebd3ad088c6c5f6cc6ed0/specification/cognitiveservices/data-plane/TextAnalytics/stable/v3.1/TextAnalytics.json
* https://

[2022-08-27 02:36] DavidPaf commented on #25789
Hello @jalauzon-msft  and @annatisch ,

I am finding a way to upload image file using based64 format. I used to use firebase storage to upload image but now I changed my cloud storage to Microsoft Azure, therefore I would love to migrate my code from using Firebase to Azure Fileshare.

Here is the example from Google Firebase: https://firebase.google.com/docs/storage/web/upload-files#upload_from_a

[2022-08-27 03:51] docgregt commented on #20497
"we have been knocking out several other limitations, bugs, and improvements"...please provide link to all of these and please not the blog posts as those dont cover much.

[2022-08-27 07:41] Antyteza commented on #25861
@ysmu  There are no logs of the failed deployment; I Indeed can find the logs from the successful deployment

![image](https://user-images.githubusercontent.com/31469104/187020402-dfae6417-f633-45be-ba5e-2340ee39075b.png)

However, I can find the logs from the succesful one:

[code]

I'm not sure if it's any help.

[2022-08-28 12:26] somil55 opened #25911 "Authentication not working with Service Principle for azure-mgmt-serialconsole API"
- **Package Name**: azure-mgmt-serialconsole
- **Package Version**: 1.0.0
- **Operating System**: Windows
- **Python Version**: 3.8

**Describe the bug**
I am unable to determine the correct SP scope and permissions to create connection string for accessing the serial console websocket. The code works fine if I use scope as "" with `DefaultAzureCredential` credential and login using `az login`. Ho

[2022-08-28 12:30] azure-sdk commented on #25911
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.12815304,Service Bus:0.1167382,Authorization:0.039674185'

[2022-08-29 04:03] #25779 closed

[2022-08-29 06:35] wonder6845 commented on #25731
Hi @msyyc. Is the issue still valid? if you don't mind, I want to handle with it about metricsadvisor.

[2022-08-29 07:13] wonder6845 opened #25917 "[metricsadvisor] update min dependency package"
I find a issue during updating about drop python 3.6  at metricsadvisor (ref #https://github.com/Azure/azure-sdk-for-python/pull/25814)

I think it's better updating min dependency package autorest.

-autorest-
https://github.com/Azure/azure-sdk-for-python/issues/25731

please inform me if anything problem found
Thank you.

[2022-08-29 07:13] azure-sdk commented on #25917
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.38922182,Storage:0.16220847,Event Hubs:0.028365484'

[2022-08-29 08:58] v-xuto opened #25918 "Storage blob samples issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-blob/samples/blob_samples_common.py#L207), [link2](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-blob/samples/blob_samples_common_async.py#L209):
![image](https://user-images.githubusercontent.com/57166602/187160031-ae0e3e52-419f-4185-905d-4ffbcc2e2f2c.png)

Reas

[2022-08-29 08:58] v-xuto opened #25919 "Azure monitor Readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/cognitivelanguage/ai-language-text#custom-single-label-classification):
![image](https://user-images.githubusercontent.com/57166602/187159018-03e5b1ae-1a45-443f-abab-1acaad6bf7f9.png)

Suggestion:
Add link for `[azure_monitor_create_using_portal]`:
https://docs.microsoft.com//azure/azure-monitor/logs/log-analytics-workspace-

[2022-08-29 08:58] v-xuto opened #25920 "Key vault Readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/keyvault/azure-keyvault-secrets#examples):
![image](https://user-images.githubusercontent.com/57166602/187158105-16e1c6e4-84c8-450d-bf6a-e6f475a2e890.png)
![image](https://user-images.githubusercontent.com/57166602/187158116-c1a7b7c6-7e0e-4b5f-843f-2e3a5b6d4933.png)

Suggestion:
Add the title `Async API` in section `Exam

[2022-08-29 08:58] azure-sdk commented on #25919
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.3603945,Monitor:0.10290116,Monitor - ApplicationInsights:0.08783135'

[2022-08-29 09:04] Antyteza commented on #25861
After succesfully deploying a model with 1.42.0, the only difference in logs I can see is:

1.42.0:

[code]

1.44.0: failed:

[code]

[2022-08-29 13:30] tomasvanpottelbergh opened #25925 "[Question] [Azure ML] Retrieving secret in Azure ML SDK v2"
In the Azure ML Python SDK v1 a secret can be retrieved from the Azure Key Vault associated to the workspace using the following snippet:
[code]
(see https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-secrets-in-runs).

However, I can't seem to find an equivalent for this in v2 of the SDK. Will this still be added or is there another recommended solution for doing this?

[2022-08-29 13:30] azure-sdk commented on #25925
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.57477796,Client:0.41079152,Service:0.012580089'

[2022-08-29 14:16] simorenoh commented on #20497
@docgregt Sure, I'll attach some of them here. Our Changelog file should also outline all the things we've been up to - anything after release 4.3.0b1 is new changes: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/cosmos/azure-cosmos/CHANGELOG.md

**General Limitations**
New Cosmos Asynchronous client: https://github.com/Azure/azure-sdk-for-python/pull/21404
Split-proof sync client: h

[2022-08-29 17:12] JericHunter commented on #25405
Thank you very much for the detailed explanation as well as the code snippet, I have found the fix for this issue and it will be out asap. Thanks again!

[2022-08-29 17:33] xiangyan99 opened #25930 "Expose API to configure filename of token cache"
**Intro:**
Customers expect the identity can be shared between Azure PowerShell and Azure CLI. It allows the user to log into Azure once using either Azure PowerShell or Azure CLI. Customers can then switch script language according to their needs. It's very important to end users when there's a feature gap between Azure PowerShell and Azure CLI.

**Proposal:**
Currently, the token cache file is s

[2022-08-29 17:33] azure-sdk commented on #25930
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Configuration:0.56844413,Extensions:0.13713013,API Management:0.05199336'

[2022-08-29 18:00] ysmu commented on #25861
Thanks for the additional information. We will investigate and get back to you.

[2022-08-29 18:33] JericHunter commented on #25516
@soferreira Could you send full code snippet for this issue you are having? Thank you so much for showing us this bug I will take a look to see if we can get this fixed asap.

[2022-08-29 18:43] #23887 closed

[2022-08-29 18:43] #25405 closed

[2022-08-29 19:31] swathipil opened #25936 "[Python AMQP] fix pylint on feature/eventhub/pyproto branch"
- fix pylint errors and:
- uncomment this section: https://github.com/Azure/azure-sdk-for-python/blob/dcacd0cb2372d3a47fd78a0e9fcd1e738d562070/eng/pipelines/templates/steps/build-artifacts.yml#L83
- remove eventhub and checkpointstoreblob-aio: https://github.com/Azure/azure-sdk-for-python/blob/dcacd0cb2372d3a47fd78a0e9fcd1e738d562070/eng/tox/allowed_pylint_failures.py#L63

[2022-08-29 20:02] janluke opened #25938 "Azure ML model endpoint rollouts: add `maxUnavailable` and `maxSurge` fields"
**Is your feature request related to a problem? Please describe.**
There's currently no control over how a service rolling update is performed. The k8s deployment configuration says `maxUnavailable: 1` and `maxSurge: 1` (but I've seen multiple pods created at once, so I'm not sure the `maxSurge` value is even respected). For my use case, I'd like to have `maxUnavailable` to 0. Different people may

[2022-08-29 20:02] azure-sdk commented on #25938
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Configuration:0.13130349,Tables:0.09713374,Extensions:0.09624837'

[2022-08-29 20:07] #25899 closed

[2022-08-29 21:16] vincenttran-msft commented on #25918
Hi @v-xuto Tong, thanks for bringing these issues to our attention!

For your first feedback, I can see that having a check such as that could be useful, although the only reason why you should be running into that exception is a timing related issue (i.e. the operation completes before you have a chance to abort it).

For your second feedback, again this is likely a timing related issue if you ar

[2022-08-29 21:24] jalauzon-msft commented on #25789
Thanks for the follow-up @DavidPaf David, that cleared things up. I wasn't very familiar with the Data URL format.

The SDK doesn't currently support the Data URL format natively as it's mostly a web format used to encode data, like images, in strings. Currently the best approach would be to convert the data URL to its parts on the client side and upload that information with `upload_file`. It see

[2022-08-29 22:04] #25771 closed

[2022-08-29 22:04] #25673 closed

[2022-08-29 22:04] #25484 closed

[2022-08-29 22:04] #24282 closed

[2022-08-29 22:58] anujissarMS opened #25946 "Body Serialization silently drops invalid parameters"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
The autorest serializer for request body drops the invalid parameter silently before sending out reqeusts. The serializer raises an exception but it consumes that itself and continues with the serialization. This causes unreliable behavior, for example in Rooms service if an invalid datet

[2022-08-29 23:02] azure-sdk commented on #25946
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.06603674,Search:0.05757067,Authorization:0.050607286'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5054299,Mgmt:0.4724534,Service:0.019175867'

[2022-08-29 23:17] iscai-msft commented on #25946
@anujissarMS can you point me to the generated code for the SDK? I'm trying to determine which serialization code is dropping the datetime. Thanks!

[2022-08-29 23:36] anliakho2 commented on #25860
@jeeva1711 looks like the mount point directory you are trying to mount to is on SMB2 file system and you can't mount on that file system. I would suggest either changing your mount_point argument to some folder on ordinary linux file system or remove the argument alltogether so that the system creates mount point automatically (in the tmp folder), you can then query mount_context.mount_point prop

[2022-08-30 00:09] anujissarMS commented on #25946
I don't think its just limited to datetime. It would be same for any other serialization errors of other types.
[This line](https://github.com/Azure/azure-sdk-for-python/blob/f12d7eac3d6f60b49a4b9b4876e53f59103a074b/sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/_serialization.py#L598) Is where the exception would be raised.
As you can see its inside a try block a

[2022-08-30 00:50] #25918 closed

[2022-08-30 01:19] birdman-65 opened #25952 "Bad link"
[Enter feedback here]

The Explorer management API link is bad.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5dd478f-5bb1-3b90-27f3-d1b04db40e3f
* Version Independent ID: 60658b32-abc1-3787-ec6d-24ef3bfade4c
* Content: [Azure Data Factory SDK for Python](https://docs.microsoft.com/en-us/python/api/overview/azure/data

[2022-08-30 01:20] azure-sdk commented on #25952
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.5731602,Data Factory:0.38451025,Managed Identity:0.004498618'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.50966364,Client:0.29447046,Central-EngSys:0.16871549'

[2022-08-30 02:25] msyyc commented on #25731
@wonder6845 This issue is mainly for mgmt package. I am not sure which version of autorest.python you use to `generate azure-ai-metricsadvisor`. You can refer to https://github.com/Azure/autorest.python/blob/autorestv3/packages/autorest.python/ChangeLog.md to update your min dependency.

[2022-08-30 02:59] JJ11teen opened #25954 "Uncatchable error message printed when downloading blob that is an HN directory"
- **Package Name**: azure-storage-blob
- **Package Version**: v12.13.1 (latest)
- **Operating System**: Don't believe OS specific
- **Python Version**: 3.9 but don't believe python version specific

**Describe the bug**
When calling `download_blob().read_all()` on a blob that is actually a directory with hierarchical namespace enabled, the following error message is printed out:
[code]
This error

[2022-08-30 03:52] bupt-wenxiaole commented on #25675
@davystrong , please upgrade the latest azure-ai-ml package and reference this:
[example](https://github.com/Azure/azureml-examples/blob/main/sdk/jobs/pipelines/1g_pipeline_with_parallel_nodes/pipeline_with_parallel_nodes.ipynb)

[2022-08-30 06:33] eqvyoo commented on #25826
i am interested in this issue. Can @kyc5644 and i work with it ?

[2022-08-30 06:59] jeeva1711 commented on #25860
@anliakho2 I have removed the argument like you said, used the method mentioned in documentation page and it worked fine.
But still there is this warning and I don't know what to do with that. I have added the image below for your reference.
![err2](https://user-images.githubusercontent.com/72345296/187370948-2920ee98-8031-411e-96f9-55b8a1cdd437.JPG)

[2022-08-30 08:04] #24929 closed

[2022-08-30 08:08] Wzb123456789 commented on #25857
Hi @sravantiaketi1
We have released new package about `azure-mgmt-resourcegraph`.
https://pypi.org/project/azure-mgmt-resourcegraph/8.1.0b2/

Please try the new azure-mgmt-resourcegraph to solve your problem.

Hope it can help you.

[2022-08-30 13:29] arunansu opened #25959 "azure-eventhub python library bundle installation"
Customer is trying to install azure-eventhub library in their onprem VM to test eventhub. But their network setup does not allow downloading libraries from internet. They can however download the whl file in their personal machine and FTP to their work machine. But even that does not work, because azure-eventhub has dependency on azure-core that requires download from internet.

Is it possible to

[2022-08-30 15:18] soferreira commented on #25516
[JericHunter](https://github.com/JericHunter) please find above the full code snippet for this issue.

I am aware that the container. Replace() call fails because 'lastName' property (the partition key) is not part of the body. I believe it should say something like "The input content is invalid because the required properties - 'lastName; ' - are missing."

[The documentation] (https://docs.micro

[2022-08-30 15:55] JericHunter commented on #25516
thank you @soferreira for responding swiftly with the detailed info, I will go ahead and take a closer look at this asap.

[2022-08-30 16:09] #22679 closed

[2022-08-30 16:18] #25867 closed

[2022-08-30 17:03] #22595 closed

[2022-08-30 17:34] iscai-msft commented on #25946
@anujissarMS this is our planned course of action: https://github.com/Azure/autorest.python/issues/1413

[2022-08-30 18:42] jalauzon-msft commented on #25954
Hi @JJ11teen Lucas, thanks for bringing this to our attention. We'll investigate and get back to you ASAP.

@xiangyan99 or @iscai-msft is this something either of you have seen before or know anything about?

[2022-08-30 19:14] kashifkhan commented on #25826
Hi @eqvyoo, thank you so much for wanting to help us out with this effort, we really appreciate it 😀. This particular issue would be a little tricky since it requires working with some teams internally etc, which can lead up to a lot of back and forth + rework. I would encourage you to look at some of the other issues within the SDK where engagement can be easier.

Thank you for help :)

[2022-08-30 20:31] drkennetz opened #25964 "Ability to set CostManagement Results Pagination"
Hi all, thanks for your time. I have been writing a cost reporting tool in go for a given time range of data and upon executing the QueryDefinition, I realized that I was always getting a maximum of 1000 results back.

This becomes increasingly problematic when I have > 1000 results for a single day, as I've realized I cannot accurately retrieve cost by resourceId (which is important to see which

[2022-08-30 20:32] azure-sdk commented on #25964
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.23220293,ARM:0.083856665,azure-spring:0.07088131'

[2022-08-30 21:11] kristapratico commented on #25772
Update: the client library is unable to discern whether the "cancelled" status comes from the service or is initiated by the user. We do not want to raise an exception in the latter case. The service plans to add an error code/message at the job level if the quota is exceeded on the free tier. Once this fix is in place, we can handle this gracefully in the library. Service tracking issue: https://

[2022-08-30 21:19] jinlow commented on #16166
Also, experiencing the exact same issue still with the `DataLakeFileClient` class.

[2022-08-30 21:28] #25562 closed

[2022-08-30 21:36] #23290 closed

[2022-08-30 22:19] swathipil commented on #25794
need to update type aliases as well to the following: https://github.com/Azure/azure-sdk-tools/issues/3138

[2022-08-30 22:29] iscai-msft commented on #25954
@JJ11teen the reason it can't be caught is it's not an actual thrown error. We do run into this error, but we catch it internally and only log the issue you ran into. That being said it's not very clear, will continue offline discussions and get back to you. Thanks!

[2022-08-30 23:40] #25920 closed

[2022-08-31 00:43] jalauzon-msft commented on #25780
Thanks @Stevenjin8! Closing this one and using customer-reported #25954 to track.

[2022-08-31 00:43] #25780 closed

[2022-08-31 07:29] Wzb123456789 commented on #25273
Hi @NCarter3

According to my investigation, polling is by default, your polling method will be `ARMPolling`. Pass in False for this operation to not poll, or pass in your own initialized polling object for a personal polling strategy.

[2022-08-31 11:36] JJ11teen commented on #25954
Thanks both. Let me know if you need any more details.

Yes confirming that is my understanding as well @iscai-msft. The bug is that an error message is logged and cannot be caught or silenced. I am writing a library that will be consumed by others, and having an error message printed out even when things work is confusing for everyone 😄. Expected behaviour is that either an error can be caught or

[2022-08-31 13:12] kashifkhan commented on #25959
Hi @arunansu , Ill ask a few people within my team and see what options are available to help you out and get back to you asap.

[2022-08-31 15:27] #25919 closed

[2022-08-31 18:01] sauadwaya opened #25974 "How to use nextLink property in Azure Python SDK while listing all VMs"
I am trying to list all virtual machines in a subscription in Azure using the code given here:

     from azure.mgmt.compute import ComputeManagementClient
     from azure.identity import ClientSecretCredential

     credentials = ClientSecretCredential(
        client_id='',
        client_secret='',
        tenant_id=''
     )

     subID= ''

     computer_client = ComputeManagementClient(crede

[2022-08-31 18:16] jalauzon-msft commented on #19755
Hi @jochen-ott-by and others, the `list_blob_names` API was released yesterday in a beta release, `12.14.0b2`! Please feel free to try out the beta and provide any feedback on the API. We are planning to do a full release that will include `list_blob_names` sometime in September/early October.

Since this is merged and released, I'm going to close this issue. Thanks!

[2022-08-31 19:11] swathipil commented on #22835
get rid of all logging for expected/passing case in this file: https://github.com/Azure/azure-sdk-for-python/blob/c143274b96c29bc5e17e893164222abf0098bbc5/sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/cbs.py#L155
remove misc debug logging: https://github.com/Azure/azure-sdk-for-python/blob/c143274b96c29bc5e17e893164222abf0098bbc5/sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py#L2

[2022-08-31 20:41] mattmazzola opened #25977 "consumer.receive will only process events at interval of ~2 seconds. How to increase rate?"
- **Package Name**:
- `azure-eventhub`
- **Package Version**:
- `"^5.10.0"`
- **Operating System**:
- `Windows 11`
- **Python Version**:
- `Python 3.10.6`

**Describe the bug**

I am trying to diagnose a latency issue when subscribing to EvenHub using python sdk. It is only processing received events at a rate interval of ~2 seconds (which is very suspicious it is some default configuration value)

[2022-08-31 21:15] jalauzon-msft commented on #25238
Hi @dkreeft, sorry for my long delay.

Looking back at this, and maybe I'm missing/forgetting something, but would it not be possible to use `set_access_control` (non-recursive) to set the owning group of a directory? This function accepts the `group` parameter and should pass it as `x-ms-group`. While this wouldn't be recursive, it should cover solution 3 you described? You could do this on whate

[2022-08-31 21:18] kashifkhan commented on #25959
@arunansu the best way to create an installer would be to use the pip download option. You would have to make sure that the machine downloading the dependencies has the same OS and python version as the VM where it will be installed (  if not, then at least know the OS and Python version)

Here are the steps to go about it:-

- Create a folder for example `eventhub-deps`
- Then run the following c

[2022-08-31 21:41] l0lawrence opened #25980 "[pyAMQP] link_credit default value"
#25451

[2022-08-31 21:42] azure-sdk commented on #25980
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'KeyVault:0.3109458,Azure.Identity:0.065055385,Storage:0.045510672'

[2022-08-31 21:43] l0lawrence commented on #24846
testing timeout in client.py

[2022-08-31 21:49] sauadwaya commented on #25974
I have seen documentation in Azure SDK for Java where pagination is taken care of internally. Is it the same for python? (i.e the above code will take care of pagination calls itself and return me the full list?)

[2022-08-31 21:52] mattmazzola commented on #25977
We have changed our test consumer to use the async version similar to [this sample](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/eventhub/azure-eventhub/samples/async_samples/recv_async.py) and found that it works as expected receiving hundreds of events within seconds instead of processing 1 event for 2 seconds.

To me this does indicate a limitation with sync version.

[2022-08-31 22:26] iscai-msft commented on #25954
@jalauzon-msft I just released autorest version `6.1.4`. This error will not be logged at the debug level, so only users who are doing debug level of logging will see this error. This should clear up the main issue where end users are seeing confusing logs. There is a separate issue about how we should actually deserialize the streamed error response, see here https://github.com/Azure/autorest.pyt

[2022-08-31 22:34] jalauzon-msft commented on #25954
Thanks @iscai-msft! I will work on re-generating the Storage packages with the latest autorest to address the issue before our next GA release.

[2022-08-31 23:14] #25670 closed

[2022-08-31 23:33] jalauzon-msft commented on #22144
Hi @YoshicoppensE61, apologies for this never getting looked at. It seems it fell off the radar. Are you still experiencing the issue? I was not able to repro this in local testing so it seems the SDK should support this scenario just fine.

My one suspicion is your use of `ClientSecretCredential` here which means you are using AAD Auth to attempt to update the ACLs. Have you configured your RBAC

[2022-08-31 23:51] #22594 closed

[2022-09-01 00:19] #22057 closed

[2022-09-01 01:56] JJ11teen commented on #25954
Thanks for the fast work everyone! 🚀

[2022-09-01 03:52] anikdash opened #25990 "How to create a VM with an existing/stored SSH key pair?"
- **Package Name**: azure.mgmt.compute
- **Package Version**: 27.2.0
- **Operating System**:
- **Python Version**: 3.6+

**Describe the bug**
How do we use the existing SSH key or new created keys in azure ssh key while creating vm using azure python sdk . What is the syntax to do this using parameters when creating VM  .

We have the option to do this while creating VM using azure portal . We can

[2022-09-01 06:36] maximeLeurent opened #25996 "[Python] Lock always expired when client's clock is not synchronized"
Hello,

I face a problem on one of my device that use a service bus with session in [pattern Request/Response](https://blog.jeremylandon.com/fr/2020/03/22/azure-pattern-request-response-avec-azure-service-bus/). My other devices using the same code and the same Service bus didn't have any problems.
Here the code :

[code]
[code]
On this device, I always got a `SessionLockLostError` immediately aft

[2022-09-01 09:00] dkreeft commented on #25238
That could work, I think. I am not sure about the workflow, though, so I would need to experiment with it. I think it should be either 1 or 2:

*workflow 1*
1. use `set_access_control(acl=<desired acl>, group=<desired owning group>)` on the root folder
2. use `set_access_control_recursive(acl=<desired acl>)` on the underlying folders/files

*workflow 2*
1. use `set_access_control(group=<desired ow

[2022-09-01 12:13] rushikesh0900 opened #25993 "Azure Blob Module installation issue in azure Virtual machine"
1) **Describe the bug**

Azure.storage.blob module 12.9.0 is installed in Python 2.7.13 but still its failing with no module found

2) ***Code Snippet***

Error added in same issue .

3) **Expected behavior**

Python 2.7.13 (default, Jan 11 2017, 10:56:06) [GCC] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", li

[2022-09-01 13:25] kashifkhan commented on #25977
Thank you @mattmazzola for the detailed bug report and video showing the issue. I just had a few clarification questions:
* The python script in the video, does it first send 100 events and then try to receive them? Are you using buffered mode when sending?
* Do you see the same issue if you step down a version to 5.9?

I will update you as soon as I have information on this.

Thanks

[2022-09-01 13:27] bclements opened #25994 "Breaking change between azure.mgmt.subscription 3.0.0 and 3.1.0 Missing api_version"
- **Package Name**: azure.mgmt.subscription
- **Package Version**:  3.1.0
- **Operating System**: Ubuntu 22.04
- **Python Version**:  3.9

**Describe the bug**
When calling any subscription operation, specifically the list operation, exception is raised about missing api_version

**To Reproduce**
Steps to reproduce the behavior:
1. pip3 install latest azure.mgmt.subscription version.
2. Run the fo

[2022-09-01 15:44] mattmazzola commented on #25977
Yes

No

The creation of clients was using this snippet

[code]

Do you see the same issue if you step down a version to 5.9?

I have not tested this.

[2022-09-01 16:18] kashifkhan commented on #25977
Thank you for the info @mattmazzola . Can you also share the version of uamqp that is installed in your environment.

[2022-09-01 17:35] KeerthiYandaOS opened #25998 "Support 200 status code for success response"
**Is your feature request related to a problem? Please describe.**
In BlobOperations class, only the [202 status code is considered a success response](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_blob_operations.py#L684) but it is possible that some endpoints return 200 or 2xx status codes as a success status

[2022-09-01 17:49] swathipil commented on #25977
Hi @mattmazzola - A few more follow-up questions:
1) In your video, it looks like your Event Hub has 7 partitions. Is this correct?
2) If you use fewer partitions (1 or 2), do you see this issue?
Thanks!

[2022-09-01 18:10] mattmazzola commented on #25977
Yes

I also haven't this but might get around to testing this when I test version 5.9 of library per suggestion above.  Our team was delayed attempting various changes to diagnose this issue, write the testing tools to isolate the problem, and produce the video. Now that we have a solution using the async version, we are trying to catch up. Unlikely we would get to this quickly

[2022-09-01 18:24] swathipil commented on #25977
@mattmazzola - No problem. Appreciate you bringing this bug to our attention and apologies for the inconvenience! A few last questions to help us get to the bottom of this:
* In your .NET sample, what is the starting position that you are passing in?
* In you .NET sample, were you receiving one event at a time or receiving a batch of max size 10?
*
Thank you!

[2022-09-01 18:37] mattmazzola commented on #25977
The dotnet testing tool uses a slightly different testing pattern than the python since it has more advanced features with process and cancelation tokens.

The dotnet sequence is this:
1. Establish consumer connection and start processing
2. Establish producer connection and send events

This means the consumer can use default/latest and it would still receive the events.

The dotnet tool is actua

[2022-09-01 19:14] catalinaperalta commented on #22217
Completed.

[2022-09-01 19:14] #22217 closed

[2022-09-01 20:04] vincenttran-msft commented on #25993
Hi @rushikesh0900 , thanks for bringing this to our attention. We'll investigate and get back to you ASAP.

Thanks!

[2022-09-01 20:22] lmazuel opened #26002 "[FEATURE REQ] Update Schema Type to support JSON"
Library name
Schema Registry

Please describe the feature.
From Eric:
the schema registry client will need to support the same set of operations for avro with json and custom. Peeking at the code/api, it looks like the only thing that is preventing the current client to do things like put/get schema of other type is the schemaType parameter (which is an enum) so from interface point of view, addin

[2022-09-01 21:35] singankit commented on #25062
We can have major version upper bounds.

storage dependency - this should be good to have
pathspec - @annatisch had a PR to vendor it. Currently under Mozilla 2.0. Check with CELA contact for the license
tqdm. colorama - good for GA. Should showing progress bar be enable by default?
app insights - Needs separate discussion

[2022-09-01 22:00] singankit commented on #25062
azure-common - Leave it since generated code uses it.

[2022-09-01 22:51] iscai-msft commented on #25917
@wonder6845 metrics advisor currently doesn't use autorest to generate its setup.py, I will work on updating the mindep for metricsadvisor though

[2022-09-01 22:56] #22596 closed

[2022-09-01 22:57] iscai-msft commented on #25964
@drkennetz it appears this is an issue with a Go SDK, not a Python SDK. Is this correct? If so can you transfer your issue to this repo https://github.com/Azure/azure-sdk-for-go

[2022-09-01 23:49] jalauzon-msft commented on #25998
Hi @KeerthiYandaOS, thanks for reaching out. The success status codes that are in `BlobOperations` are generated from our service Swagger and are determined by the Storage service. These are supposed to be the only codes the Storage service is expected to return. For example, using the API that you linked Delete Blob, you can see from the [service docs](https://docs.microsoft.com/en-us/rest/api/st

[2022-09-02 00:17] #21632 closed

[2022-09-02 00:30] iscai-msft commented on #25938
@azureml-github

[2022-09-02 00:30] wonder6845 commented on #25917
@iscai-msft  Hello, first of all i want to apologize to post a rather unfriendly and not detailed issue.
I want to add the latest dependency package with reference to #25731
I pull requested drop python 3.6 and I found and It has been found that the Autorest package is not the latest version.
So, if there is no problem, I would like to update the autorest on the metrics advisor, Is it okay?

Thank

[2022-09-02 00:31] iscai-msft commented on #25925
@azureml-github

[2022-09-02 08:58] zedy-wj opened #26013 "[Form Recognizer] Connect call failed."
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**

We found that `Connect call failed` in the form recognizer were the main problem with unstable tests ( It occured in many tests. Such as: `test_compose_model_transform`, `test_content_url_auth_bad_key`, `test_co

[2022-09-02 08:59] azure-sdk commented on #26013
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.13106492,Storage:0.12243542,Service Bus:0.11149711'

[2022-09-02 09:07] zedy-wj commented on #23879
It doesn't reproduce anymore, we'll close it, thanks!

[2022-09-02 09:07] #23879 closed

[2022-09-02 09:11] kamrapooja commented on #25232
I am also facing the same issue. What i observed is when we install azure storage package from requirement.txt file the size of __init__.py file of blob package is different than the file we got while manually installaing the package.
PFA files.
[init_files.zip](https://github.com/Azure/azure-sdk-for-python/files/9476619/init_files.zip)
In this zip file, two files are available.
1. __init__.py get

[2022-09-02 09:18] pierre-tagheuer commented on #25318
![screen](https://user-images.githubusercontent.com/107849605/188107466-29efd05c-16f2-4a18-a5aa-1ff0ca95a45a.png)

[2022-09-02 09:27] v-xuto commented on #22961
It doesn't reproduce anymore, we'll close it, thanks!

[2022-09-02 09:27] #22961 closed

[2022-09-02 12:08] ben-xD commented on #20083
Hello team :), this problem still exists, can we re-open this MR to track it more accurately?

[2022-09-02 12:46] colinbreame opened #26015 "Async `ServiceBusClient` does not respect the `connection_verify` parameter"
The async `ServiceBusClient` is not using the `connection_verify` parameter.

This version works as expected:

[code]

but the async version does not:

[code]

With the async version, you can use any value for `connection_verify` and it does not complain if the file does not exist (unlike the sync version).

azure-servicebus version installed from pip:
[code]

[2022-09-02 14:07] rnestler commented on #20083
I feel a bit bad about getting all of this started with my original issue after seeing how much trouble it caused :see_no_evil:

[2022-09-02 16:54] xiangyan99 commented on #25974
Thanks for reaching out.

Could you share the doc for the Java SDKs?

We should have similar (if not same) behavior between Python and Java. Just want to double check.

[2022-09-02 17:17] SaurabhSharma-MSFT commented on #25990
@anikdash We are looking into it and get back to you for any additional information.

[2022-09-02 17:18] xiangyan99 commented on #25996
Thanks for the feedback, we’ll investigate asap.

[2022-09-02 17:19] xiangyan99 commented on #26015
Thanks for the feedback, we’ll investigate asap.

[2022-09-02 17:27] sauadwaya commented on #25974
@xiangyan99 Yep sure here is the link:

https://docs.microsoft.com/en-us/azure/developer/java/sdk/pagination

[2022-09-02 17:36] xiangyan99 commented on #25974
Thank you.

I see list_all returns
Iterable["_models.VirtualMachineListResult"]

for vm in vms:
    print( vm.name )
should call `next_page` automatically for you.

[2022-09-02 17:38] luigiw commented on #25925
@tomasvanpottelbergh, thx for your question. May I ask your use case for the secret? What do you use it for during training runtime?

A bit background of v2 SDK. v2 SDK is designed to be more of a control plane SDK than a runtime SDK, meaning you use the v2 SDK to submit jobs and manage ML assets, but don't need to include it in your training/inferencing environment. For runtime use cases, we reco

[2022-09-02 17:51] kashifkhan commented on #26015
Thanks for reporting @colinbreame ! We will investigate asap :)

[2022-09-02 19:04] benbp commented on #26013
@zedy-wj we have been experiencing some networking issues with our test agents that I expect us to resolve next week.

[2022-09-02 22:05] ysmu commented on #25861
Sorry for the delay. We've identified the issue and I'll update again once the fix is released. We will try to get it released next week.

[2022-09-02 22:52] NCarter3 commented on #25273
Yep, that's what I ended up doing. It just feels a little awkward, and doesn't match what I would have expected. Thanks for making it possible!

[2022-09-02 22:52] #25273 closed

[2022-09-02 23:26] #22663 closed

[2022-09-02 23:32] #22669 closed

[2022-09-03 15:27] erikpa1 opened #26026 "Add client.count_entities and client.entity_exists"
Hi I checked some examples (c# too), and code but I don't see very basic functionality like

**1. does entity even exists?**
Not sure how to check if entity event exists without this kind of code:

[code]

If there is easier way, please write me (and upload examples please), I can't do code like this for everything.

**2. how many entities are there?**

Again, do I have to iterate through ItemPage

[2022-09-03 15:27] azure-sdk commented on #26026
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Tables:0.47904283,Storage:0.10672751,Azure.Identity:0.10034525'

[2022-09-04 08:04] #25552 closed

[2022-09-04 11:04] k-oellers opened #26028 "AttributeError when using invalid base64-encoded AccountKey for BlobClient.download_blob"
- **Package Name**:  azure.storage.blob
- **azure.storage.blob**: 12.13.1
- **12.13.1**: Windows 10
- **Python Version**: Python 3.7

**Describe the bug**

If an invalid base64-encoded AccountKey is used for downloading blobs, after some time the following exception is thrown instead of the correct error message:

AttributeError: 'NoneType' object has no attribute 'status_code'.

This is because t

[2022-09-05 06:11] colinbreame commented on #26015
- **Package Name**: azure-servicebus
- **Package Version**: 7.8.0
- **Operating System**: Windows
- **Python Version**: 3.8.12

[2022-09-05 06:32] colinbreame opened #26034 "Service Bus client fails to connect if the cacerts.pem file contains duplicates"
- **Package Name**: azure-servicebus
- **Package Version**: 7.8.0
- **Operating System**: Windows
- **Python Version**: 3.8.12

**Describe the bug**
The Service Bus client fails to connect if the cacerts.pem file contains duplicates.

With debug log output enabled, the messages below can be seen:

INFO:uamqp.c_uamqp:b'Cannot add certificates to store' (b'D:\\a\\1\\s\\src\\vendor\\azure-uamqp-c\\de

[2022-09-05 07:07] Wzb123456789 commented on #25990
Hi @anikdash

From my investigation, the code to create a VM with an existing ssh key via python SDK is as follows:
[code]

You can try it, hope it can help you.

[2022-09-05 13:18] Itamar-Erez-Cognata opened #26037 "Task remains active even if the task it depends on fails."
- **Package Name=azure-batch**:
- **Package Version=12.0.0**:
- **Operating System=ubuntu**:
- **Python Version=3.8**:

**Describe the bug**
Running a job on Azure batch pool, with two tasks A and B that have the dependency: B dependent on A.
A failed; however, B does not fail and is still in status running.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a job with two tasks, A and B

[2022-09-05 13:26] gpnikhil opened #26038 "How to connect and work with Azure Cosmos Gremlin API for Python SDK"
I am not able to find a proper page to how to connect to a gremlin database and do queries with python

fount this module - 'https://pypi.org/project/gremlinpython/' but no luck

[2022-09-05 13:30] #24974 closed

[2022-09-05 16:10] Saxamos opened #26039 "Mac M1 (ARM) support"
- Package name: azureml-sdk
- Package version: all version
- Operating System: macOS Monterey 12.3
- Python Version: 3.8.12

Impossible to install the azureml-sdk with pip on mac M1.

**To Reproduce**
Steps to reproduce the behavior:
`pip install azureml-sdk`

**Expected behavior**
azureml-sdk to be installed

[2022-09-05 21:36] tomasvanpottelbergh commented on #25925
The use case would be to get the credentials for a Service Principal which is used to access some data sources. As far as I can see, this is the only way to make a certain resource available to the whole Azure ML workspace, regardless of the compute instance or cluster the job is run. Is this correct or is there a better way without having to use the v1 SDK?

[2022-09-05 22:48] annatisch opened #26040 "[Tables] Support geo-redundancy for Cosmos"
Add support for Geo-redundancy in the Tables SDK.
This is supported by Cosmos as multiple failover regions for both read and write.

Initial proposal suggests exposing two client configuration settings:
- `read_regions`: A list of strings with the regional account URLs, in the order that they will be attempted.
- `write_regions`: Same but for write operations.

This should likely be implemented as

[2022-09-05 22:48] azure-sdk commented on #26040
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.48398525,Azure.Core:0.08160349,Storage:0.060417693'

[2022-09-06 09:18] BigCat20196 commented on #25911
Hi @somil55, thanks for your feedback.

`DefaultAzureCredential ` is verified based on the `AZURE_TENANT_ID`, `AZURE_CLIENT_ID` and `AZURE_CLIENT_SECRET` in the environment variable, while the service principal is verified by another certificate. `azure-mgmt-service` is used through DefaultAzureCredential, which is our recommended use.

Maybe [Azure-cli-extensions](https://github.com/Azure/azure-c

[2022-09-06 09:23] JJHWAN commented on #25794
@swathipil
I changed type annotations to type hints in servicebus/amqp/

I saw your comment to update as following [Azure/azure-sdk-tools#3138](https://github.com/Azure/azure-sdk-tools/pull/4036)

In my case, I cannot find way to apply NewType.
Will these changes to just alright?

[2022-09-06 13:31] kashifkhan commented on #26034
Thanks for the feedback @colinbreame , we’ll investigate asap.

[2022-09-06 13:32] kashifkhan commented on #26028
Thanks for the feedback @k-oellers , we’ll investigate asap.

[2022-09-06 13:38] kashifkhan commented on #26026
Thanks for the feedback @erikpa1, just wanted to clarify, is this for the Table sdk?

[2022-09-06 13:39] kashifkhan commented on #26038
Thanks for the feedback @gpnikhil , we’ll investigate asap.

[2022-09-06 15:55] #22667 closed

[2022-09-06 16:04] #25675 closed

[2022-09-06 16:19] kristapratico commented on #25467
Hi @uriii3, hmm let's try to be more explicit then. Can you try specifying the exact version in your install command?

`pip install azure-cognitiveservices-speech==1.21.0`

[2022-09-06 16:50] uriii3 commented on #25467
Hello,

I just resolved the issue today with another problem that i was having.
Turns out my python was outdated and then the version wasn't suited for the
one i had.

Thank you very much for everything!

El dt., 6 de set. 2022, 18:20, Krista Pratico ***@***.***> va
escriure:

[2022-09-06 17:09] iscai-msft commented on #25917
No worries @wonder6845 , thanks for the clarification!

The setup.py that metrics advisor has actually isn't generated by AutoRest. There are some specific dependencies that we've added, so the SDK author currently has full control of the setup.py, and AutoRest generation won't change anything about the setup.py.

That being said, I'm not opposed to an AutoRest regeneration PR, it has been a while

[2022-09-06 17:50] luigiw commented on #26039
@Saxamos thx for your feedback. Can you provide the full error message/stack trace?

[2022-09-06 18:24] swathipil opened #26051 "[Event Hubs] add tests for sending/receiving from multiple partitions"
Currently, all EH live tests send to and receive from Event Hubs that have 2 partitions. (This is configured in the `azure-eventhub/conftest.py` file). However, we should test against Event Hubs that have up to 32 partitions. As we add partitions, it seems like our receives become proportionally slower in sync.

Potential bug as per @kashifkhan's investigation of issue #25977: In the sync eventpro

[2022-09-06 19:06] ianhelle opened #26054 "azure-mgmt-subscription: cannot import name 'DeserializationError' from 'azure.core.exceptions'"
- azure-mgmt-subscription:
- 3.11:
- multiple - Linux, Windows:
- 3.8:

**Describe the bug**
This release seems to try to import an exception type (DeserializationError) from azure.core that does not exist.

**To Reproduce**
Steps to reproduce the behavior:
1. install azure-mgmt-subscription 3.11
2. from azure.mgmt.subscription import SubscriptionClient
3. import fails when subscription._serializa

[2022-09-06 19:06] azure-sdk commented on #26054
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.18069218,Subscription:0.1101027,Service Bus:0.07013098'

[2022-09-06 19:21] jalauzon-msft commented on #25232
Hi @wtam and @kamrapooja, sorry for the delay, looks like this one was missed by us.

Import errors like this are typically an indication of some issue with environment setup or some unwanted interaction between dependencies. They normally need to be looked at on a case-by-case basis.

---
@wtam
Could you share what package you are trying to install and how you are doing it? Looking at your `pip f

[2022-09-06 20:25] JoshLove-msft opened #26056 "[Service Bus] Respect TryTimeout when opening next available session link"
The service hardcodes a max of 1 minute and 5 seconds when accepting a session. This means the TryTimeout that the user specifies in the client is ignored if they specify a value higher than this. We should specify the timeout property in the link settings properties when opening a link for next available session to support long polling. In the .NET library, we've found that using long polling res

[2022-09-06 20:38] #23498 closed

[2022-09-06 20:47] kristapratico commented on #22468
@EmanueleGusso apologies for the late response on this, but I wanted to check in and make sure your questions were answered regarding the SDK. Is there anything else we can help you with?

[2022-09-06 20:53] ianhelle commented on #26054
BTW - although I'm not a customer this has been reported to us by several external customers on the Sentinel Discussion email list.

[2022-09-06 22:12] l0lawrence commented on #26034
Hello @colinbreame!
Would you be able to try moving over to the pip-system-certs certifi patch package [here](https://pypi.org/project/pip-system-certs/)? I noticed that python-certifi-win32 says it is no longer being maintained on PyPI.

I was able to repro your issue locally after manually creating the duplicate certificates in the .pem file, and I will look into how we handle duplication.

[2022-09-06 22:28] xiangyan99 commented on #26054
Could you help to which version of azure-core is installed?

[2022-09-06 22:45] cRui861 commented on #26037
Hi, @Itamar-Erez-Cognata at the task level, this is by design. If you are looking for a failure signal, you can set the Job's OnTaskFailure option to initiate a terminate Job action instead.

[2022-09-06 22:46] jalauzon-msft commented on #21500
After some further investigation and testing it turns out this does not need to be set dynamically since it's a socket level timeout and does not depend on our data chunk size. We have created #25950 to adjust the default `read_timout` to a fixed value of 60 seconds and update the documetnation.

Closing this issue accodingly.

[2022-09-06 22:46] #21500 closed

[2022-09-06 22:59] petebryan commented on #26054
I get this issue with all versions of Azure-Core before 1.24.0

[2022-09-07 00:34] jalauzon-msft commented on #26028
Hi @k-oellers Konstantin, thanks for the report!

I took a look at this and can confirm that this is a bug. It is specific to `download_blob` since we have an additional check against status code on a failed request, but we are missing the check for `None` first. Other operations should properly show the `AzureSigningError`.

We will work to get this addressed in the upcoming release, thanks again

[2022-09-07 01:36] msyyc commented on #25994
@bclements please try new version: https://pypi.org/project/azure-mgmt-subscription/3.1.1/

[2022-09-07 02:02] #25994 closed

[2022-09-07 06:45] colinbreame commented on #26034
Hi @l0lawrence,

Thanks for the response!  Great to hear you are looking at it.

Removing the `python-certifi-win32` package resolves the issue, but the path to the pem file returned by `certifi.where()` does not include our corporate CA (which is needed for other packages).  `pip-system-certs` does not help in this respect because it does not modify the certifi pem file.

As a work around; we con

[2022-09-07 08:15] dushuning commented on #13242
this question is so easy, you need to close the aiohttp's session, and the response is not need to close
![image](https://user-images.githubusercontent.com/48204151/188826942-cdbd8ffa-fb32-493d-921a-a8ce32c66ab3.png)

[2022-09-07 09:32] copdips commented on #19680
@chlowell
Known that azcli is based on Python, do you have any information why azcli without `client_id` works ?
[code]
I cannot figure it out from the source code.

[2022-09-07 09:53] Saxamos commented on #26039
Of course, here it is:
[code]
[6000 lines of clang errors...]
[code]

[2022-09-07 13:41] marcgardner opened #26066 "Support for FormRecognizer 2022-08-31 in Pypi packages"
- **Package Name**: Azure Form Recognizer client library for Python
- **Package Version**: 3.2.0b6
- **Operating System**: Linux
- **Python Version**: 3.8.14

**Describe the bug**
There is no PyPi package supporting the DocumentAnalysis V2022_08_31 (which is the current GA version).

**To Reproduce**

1. Try to install Azure SDK FormRecognizer from pypi
2. Notice that you cannot use it with V2022_

[2022-09-07 15:40] edgBR commented on #24787
/unresolve

[2022-09-07 17:11] l0lawrence commented on #26034
I see, thank you for the clarification! I will also take a look at your other issue.

[2022-09-07 17:25] GuyCarmy commented on #13060
Hi @yunhaoling and @YijunXieMS
Im getting the same error exactly on version 1.1.4.
It started when I have tried upgrading the storage account to premium (since the checkpoint doesn't really store anything, but do access the files metadata a lot, using premium will cut the costs and improve the performance!).
I have copied an existing set of blobs for checkpoints and ownerships, I have validated th

[2022-09-07 17:32] anikdash commented on #25990
/unresolve

[2022-09-07 17:35] anikdash commented on #25990
The solution provided is for keys created and stored on local system . The query is regarding how can we use the shh keys stored and created in azure .

[2022-09-07 18:17] l0lawrence opened #26069 "[Eventhub + Servicebus] Stress Test To-Do List"
- [x] Update stress tests in Main to use the new pg cluster
- [ ] Figure out how to get Values.yaml accessible in chart.yaml to avoid the giant logic tree we currently have in pyamqp-> this will be matrix generation
- [x] Look at metrics (Montior cpu usage etc.) naming, names are currently descriptions, and they should be more succinct
- [x] Change Naming (see richard chat)
- [x] #26243

[2022-09-07 18:17] azure-sdk commented on #26069
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.5499389,Event Hubs:0.09879755,Storage:0.096362494'

[2022-09-07 18:20] swathipil opened #26070 "[Event Hubs] update docstring for Pyamqp/Uamqp/AmqpTransport"
address:
- https://github.com/Azure/azure-sdk-for-python/pull/25965/files#r965088236
-

[2022-09-07 18:22] #26070 closed

[2022-09-07 18:47] #22644 closed

[2022-09-07 18:56] #22680 closed

[2022-09-07 19:20] #25954 closed

[2022-09-07 21:50] catalinaperalta commented on #26066
Thanks for reaching out @marcgardner! We are planning on releasing the stable SDK later this week. It will target service version 2022-08-31. I will update here again once it's been released.

[2022-09-08 04:03] #25358 closed

[2022-09-08 08:52] gvnn opened #26088 "azure.communication.email.EmailClient send method not throwing error if response status code is 429"
- **Package Name**: azure-communication-email
- **Package Version**: 1.0.0b1
- **Operating System**: Linux
- **Python Version**: 3.8

**Describe the bug**
When calling `send` method of `EmailClient` and rate limiting (Response status 429) has been reached, script hangs and doesn't throw an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a little script to call the `send` method

[2022-09-08 13:20] angusrw commented on #23656
Any update on this?

[2022-09-08 13:20] kashifkhan commented on #26088
Thanks for the feedback @gvnn, we'll investigate asap.

[2022-09-08 15:07] scottaddie opened #26099 "Incorporate Monitor Ingestion Beta UX study feedback"
Tracking issue to update the next Azure Monitor Ingestion release to incorporate UX study feedback.

Action items:
- *README* file changes:
  - [ ] ~~Add a “Handle logs ingestion response” section that shows the response object hierarchy. See [Handle logs query response](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/monitor/azure-monitor-query/README.md#handle-logs-query-response) for

[2022-09-08 17:37] PramodValavala-MSFT commented on #26038
@gpnikhil There is [quickstart doc](https://docs.microsoft.com/en-us/azure/cosmos-db/graph/create-graph-python) that you can refer to which covers the step to run this [python sample](https://github.com/Azure-Samples/azure-cosmos-db-graph-python-getting-started).

[2022-09-08 17:54] #22641 closed

[2022-09-08 18:00] #26028 closed

[2022-09-08 21:52] kristapratico opened #26108 "[QA] update polling_interval"
This currently defaults to 30s, per the azure-core default. It should be overridden in the library to 5s per the service team.

[2022-09-08 21:53] kristapratico opened #26109 "[CLU] update polling_interval"
This currently defaults to 30s, per the azure-core default. It should be overridden in the library to 5s per the service team.

[2022-09-08 21:53] azure-sdk commented on #26108
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.19490567,Service Bus:0.18760651,azure-spring:0.05371034'

[2022-09-08 21:53] azure-sdk commented on #26109
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.18280782,Service Bus:0.17741549,azure-spring:0.050571837'

[2022-09-08 22:09] catalinaperalta commented on #26066
We've released the package. It can be found on PyPi here: https://pypi.org/project/azure-ai-formrecognizer/3.2.0/. Thanks for reaching out!

[2022-09-08 23:18] #19974 closed

[2022-09-08 23:59] jalauzon-msft commented on #25993
Hi @rushikesh0900, module errors such as this typically indicate a setup issue. There are a couple of things that I suspect could be the culprit here:

- You may have multiple Python's/pips installed on the system and where you are using `pip install` is not the same location where your Python code is running. We can see that your `pip` is coming from `/usr/lib/python2.7/site-packages/pip (python

[2022-09-09 00:44] gvnn commented on #26088
After a bit of debugging we've found a solution to our problem, using a no retry policy.

e.g.

[code]

This because the email client uses `PipelineClient` and arguments trickle down to that class and it accept a policy with no retries.

[2022-09-09 04:49] SeaDude opened #26121 "RECEIVE SMS messages using Python SDK?"
**Is your feature request related to a problem? Please describe.**
- The Azure Comm Services (ACS) Github repo says the capability to "send and receive SMS messages" exists
- But this does not appear to be the case for the Python SDK
- REF: https://docs.microsoft.com/en-us/answers/questions/1000280/is-it-possible-to-receive-sms-texts-using-azure-co.html

**Describe the solution you'd like**
Would

[2022-09-09 04:49] azure-sdk commented on #26121
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.14654307,Service Bus:0.08424358,Communication:0.054395504'

[2022-09-09 08:41] sh0rtcircuit opened #26123 "Azure Identity required permission errors are not surfaced."
- **Package Name**: azure-cosmos
- **Package Version**: 4.3.0
- **Operating System**: Windows 10
- **Python Version**: 3.9

**Describe the bug**
When trying to get the CosmosClient with Azure AAD auth with

[code]

and _not_ having the required AAD rights (i.e., `Microsoft.DocumentDB/databaseAccounts/readMetadata`), an exception that _should_ be surfaced is caught within the library:

Expected sur

[2022-09-09 08:42] Wzb123456789 commented on #25990
When creating ssh in SSH Keys on the azure portal, a window like this pops up:

![image](https://user-images.githubusercontent.com/51410816/189303016-bc22e449-1210-43f5-90b6-e1b3c526c7b7.png)

After selecting `Download private key and create resource` to download to the local, fill in the corresponding key file address in the code of the above answer.

[2022-09-09 12:36] Waddaben commented on #25018
Hi, I am also still getting this issue, /unresolve

[2022-09-09 13:21] kashifkhan commented on #26121
Thanks for the feedback @SeaDude, we'll investigate asap. cc @turalf

[2022-09-09 13:22] kashifkhan commented on #26123
Thanks for the feedback @sh0rtcircuit , we'll investigate asap.

[2022-09-09 14:40] nagydavid commented on #25018
/unresolved

[2022-09-09 14:45] vholmer opened #26126 "Refreshing Storage Explorer while writing to AppendBlob leads to exception: "The blob has been modified while being read""
- **Package Name**: azure-storage-blob
- **Package Version**: 12.13.1
- **Operating System**: Ubuntu 20.04 on WSL, Windows 10
- **Python Version**: 3.8.9
- **Storage Explorer Version**: 1.25.1

**Describe the bug**
Refreshing storage explorer while uploading data to an AppendBlob in a container in an ADLS Gen2 storage account leads to the following error: "azure.core.exceptions.ResourceExistsError

[2022-09-09 15:41] ameitg opened #26127 "Page should have an example of how to call azure function with files data."
I was trying to develop an Azure Logic app that calls azure function with each attachment of incoming email. I suggest that page have an example of how to call azure function with files data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6003782-85da-7eed-4a4c-08fb0d6527e9
* Version Independent ID: d4992fb7-6373-3bb1

[2022-09-09 15:47] #26015 closed

[2022-09-09 20:42] kashifkhan commented on #26126
Thanks for the feedback @vholmer, we'll investigate asap.

[2022-09-09 22:04] #25974 closed

[2022-09-09 22:55] rakshith91 opened #26137 "Support uploading a gzip file as input"
Currently, a list of logs is supported which is later gzipped.

It's not ideal that if the user has a gzipped file, they'd have to unzip it , upload it as a list and the we re-zip it again.

[2022-09-09 22:56] azure-sdk commented on #26137
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.48067015,Cosmos:0.08271223,Event Hubs:0.052253187'

[2022-09-09 23:02] mccoyp opened #26138 "[Test Proxy] Add error response with debug information when startup hangs"
While adding test proxy support to a new test suite, a user was having issues running tests -- `pytest` would correctly collect tests and the test proxy container would start, but things would hang at that point. Below is a snippet of test proxy container logs, which continued with many more "Recorded: 0 Played Back: 0" statements.
[code]
Normally, before the "Recorded: 0 Played Back: 0" logs, the

[2022-09-10 00:14] #22677 closed

[2022-09-11 06:43] ponopono0322 commented on #26039
@Saxamos To avoid bug, using python 3.9 will helpful.
I used `conda`, it said:
[code]

[2022-09-11 16:44] SeaDude commented on #26121
Answers were given [here ](https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/create-communication-resource?tabs=windows&pivots=platform-azp)and [here](https://stackoverflow.com/questions/73669076/is-it-possible-to-receive-sms-texts-using-azure-communication-services-python-sd/73680398#73680398).

Thank you

[2022-09-11 16:44] #26121 closed

[2022-09-12 08:08] SHSongs commented on #15795
Hi, @ramya-rao-a
I have interest in this issue, and I wrote PR.  https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/1614
Could you review this PR?

i pr, could you review docs?

[2022-09-12 08:09] SHSongs commented on #15795
Hi, @ramya-rao-a
I have interest in this issue, and I wrote PR.  https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/1614
Could you review this PR?

[2022-09-12 08:32] YoshicoppensE61 commented on #22144
@jalauzon-msft Hi, I think I worked around it or maybe I managed to fix it somehow, but in any case, the setup I was going for, works now, so you can close this ticket!

[2022-09-12 12:51] isham-iqbal opened #26156 "Why was Extractive Text Summarization removed from azure-ai-textanalytics==5.2.0b5"
I found a PR with that implementation however I couldn't open it (getting unicorn error page). Is there a specific reason for doing it?

[2022-09-12 16:07] kristapratico commented on #26156
Hi @isham-iqbal, thanks for reaching out. The Extractive Summarization feature is a beta/preview feature. azure-ai-textanalytics==5.2.0b5 was the first version to target the stable/GA version of the Language service API (2022-05-01). Since this was a stable version, only GA features were included and so Extractive Summarization was removed. You can still access the feature if you install azure-ai-

[2022-09-12 16:58] isham-iqbal commented on #26156
Hi, yes I was able to access the functionality via azure-ai-textanalytics==5.2.0b4. Just keen to know if this feature will be available in any future GA packages.

[2022-09-12 16:58] #26156 closed

[2022-09-12 17:36] kristapratico commented on #26156
@isham-iqbal it will be added back in a future release. I do not have a timeline for you as of yet.

[2022-09-12 17:54] joshfree opened #26159 "Azure Identity October Release Doc Consistency Review"
tracking item for README, Samples, TROUBLESHOOT, and Changelog consistency review

[2022-09-12 18:22] #22144 closed

[2022-09-12 19:59] #22685 closed

[2022-09-12 20:08] DuneganS commented on #21366
Is there any possibility of getting these documents generated at this point in time?

[2022-09-12 21:26] #22668 closed

[2022-09-12 21:43] #22591 closed

[2022-09-12 21:47] #22645 closed

[2022-09-12 22:14] #22592 closed

[2022-09-12 22:52] kristapratico opened #26163 "[textanalytics] unskip tests after cancel regression fixed"
service bug: https://dev.azure.com/msazure/Cognitive%20Services/_workitems/edit/14303656/

[2022-09-12 23:25] kristapratico opened #26165 "Language pillar commitments"
Current service swaggers: https://github.com/Azure/azure-rest-api-specs/tree/main/dev/cognitiveservices/data-plane/Language

This issue represents high-level commitments. Will spin off individual issues for each work item where they don't already exist.

# Text Analytics runtime

- Regenerate on service version 2022-10-01-preview #26185
- Add back support for extractive summarization and FHIR. #26

[2022-09-12 23:25] azure-sdk commented on #26165
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.22824429,Authorization:0.11288287,Docs:0.043663062'

[2022-09-12 23:59] #22683 closed

[2022-09-13 05:15] #25776 closed

[2022-09-13 05:19] #25731 closed

[2022-09-13 06:35] Wzb123456789 commented on #25990
The following code example is to obtain the ssh key stored in Azure to create a vm.
[code]

[2022-09-13 08:00] jeesang7 commented on #22716
I'll look into this issue. Thanks.

[2022-09-13 17:27] kristapratico opened #26176 "[textanalytics] how should client-level default_language and auto-detect default_language coexist"
https://github.com/Azure/azure-sdk-for-js/pull/23208#discussion_r969841961

[2022-09-13 17:47] gdippolito opened #26177 "Enable token caching in azure-identity"
**Is your feature request related to a problem? Please describe.**
Running DefaultAzureCredentials authentication on different threads do not cache the token and would make separate authentication requests. This is especially annoying when using ManagedIdentity when running with many threads. The managed identity endpoint will rate limit the request and therefore cause authentication errors on som

[2022-09-13 17:50] kristapratico commented on #26177
Hi @gdippolito thanks for your feedback, we'll look into this as soon as possible.

[2022-09-13 18:19] #22640 closed

[2022-09-13 18:24] anliakho2 commented on #25860
This warning is there for a reason, given you want to mount multiple paths or multiple datastores to the same location this dataset couldn't be mounted as a volume, which a supported scenario but has performance implications as file system requests to mount couldn't be just mapped to storage service requests and instead need to go trough execution engine to figure things out.
If your mount works f

[2022-09-13 18:40] kristapratico commented on #23962
Closed in #26153

[2022-09-13 18:40] #23962 closed

[2022-09-13 18:41] jalauzon-msft commented on #26126
Hi @vholmer Viktor, I talked with the service team, and this is an unfortunate side-effect / limitation of how Append Blobs on ADLS Gen 2 accounts work in the backend. Without going into too much detail, performing a List Blobs call (the operation that happens when you refresh the container view in Storage Explorer) when writing to a blob will currently cause a conflict in the backend and return t

[2022-09-13 18:54] #22681 closed

[2022-09-13 20:01] swathipil opened #26180 "[SchemaRegistry] avroencoder - reserved type name in record no longer raises error in avro 1.11.1"
- **Package Name**:  `azure-schemaregistry-avroencoder`
- **Package Version**: 1.0.0
- **Operating System**: Windows
- **Python Version**:  3.10

**Describe the bug**
With avro==1.11.1, the following test case no longer raises an InvalidSchemaError as it did with avro==1.10.1: https://github.com/Azure/azure-sdk-for-python/blob/244b26c3740076ade55dc97b3f203059656215aa/sdk/schemaregistry/azure-schem

[2022-09-13 20:19] #22633 closed

[2022-09-13 21:44] kristapratico opened #26182 "[textanalytics] align swagger transforms across languages"
- Add transforms to readme and split into general (which we can share across languages) and python-specific sections
- Update source code where needed (might be substantial depending on how many renames we do in the transforms)

[2022-09-13 22:28] sima-zhu commented on #21366
@DuneganS
https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/612/Use-Docker-for-Package-Validation?anchor=reproduce-the-docker-errors

Here is the wiki for you to validate the errors in local. Ping me if anything unclear

[2022-09-13 22:54] swathipil commented on #26180
allowed names were changed in version 1.11.1: https://github.com/apache/avro/pull/1533/files

- previously restricted complex names, and in 1.11.1, only restrict primitive type names

[2022-09-13 23:05] swathipil commented on #26180
According to the issue listed above, this was an intentional decision. Bumping the avro min dependency for the avroencoder.

[2022-09-13 23:34] sima-zhu commented on #21366
@DuneganS If the docs passed the validation, then we can add the package back to docs.

[2022-09-13 23:37] DuneganS commented on #21366
Both of links as part of this inc show that I do not have access (and there is no way to request)

[2022-09-13 23:42] xiangyan99 commented on #26177
Thanks for reaching out.

Could you give more details about your scenario?

And if possible, can you share the code how you used the ManagedIdentityCredential?

[2022-09-13 23:55] kristapratico opened #26185 "[textanalytics] regenerate on 2022-10-01-preview"
https://github.com/Azure/azure-rest-api-specs/blob/main/dev/cognitiveservices/data-plane/Language/analyzetext.json

[2022-09-13 23:57] kristapratico opened #26186 "[textanalytics] add support for extractive summarization"
Can look at the PR removing it to help add it back.

- [x] implementation
- [x] samples
- [x] tests
- [x] docs

[2022-09-13 23:58] azure-sdk commented on #26186
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Text Analytics:0.58314633,Storage:0.12011632,SQL:0.049920026'

[2022-09-13 23:58] kristapratico opened #26187 "[textanalytics] add support for FHIR"
Can look at PR removing it to add it back.

- [x] implementation
- [x] samples
- [x] tests
- [x] docs

[2022-09-13 23:59] kristapratico opened #26188 "[textanalytics] add support for abstractive summarization"
- [x] implementation
- [x] samples
- [x] tests
- [x] docs

[2022-09-14 00:01] kristapratico opened #26189 "[textanalytics] add support for dynamic classification"
- [x] implementation
- [x] samples
- [x] tests
- [x] docs

[2022-09-14 00:01] kristapratico opened #26190 "[textanalytics] add support for script detection and automatic language detection"
Reference this issue as well: https://github.com/Azure/azure-sdk-for-python/issues/26176

[2022-09-14 00:02] kristapratico opened #26191 "[textanalytics] Add support for document types in healthcare analysis"

[2022-09-14 00:03] kristapratico opened #26192 "[textanalytics] Add support for confidence scores in healthcare relations"

[2022-09-14 00:30] kristapratico opened #26194 "[CLU] regenerate on 2022-10-01-preview"
https://github.com/Azure/azure-rest-api-specs/tree/main/dev/cognitiveservices/data-plane/Language

[2022-09-14 00:31] azure-sdk commented on #26194
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive Services:0.21471268,Cognitive - Speech:0.089440756,Docs:0.08176714'

[2022-09-14 00:31] kristapratico opened #26195 "[CLU] add support for ConversationalSentimentTask"
This is DPG so by "add support" this will be writing samples, tests, and docs.

Also CustomConversationSummarization

[2022-09-14 00:32] kristapratico opened #26196 "[CLU] add support for chapterTitle and narrative resolutions"
Add samples/tests/docs

[2022-09-14 01:00] kristapratico opened #26197 "[CLU] add support for summarization options"
Add samples/tests for the following:

- Optional utterance level timing to transcript conversation item
- Optional length control by count of sentences
- Summary context

[2022-09-14 01:01] azure-sdk commented on #26197
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.10465762,Docs:0.09239645,Cognitive Services:0.066544004'

[2022-09-14 02:59] dimaqq opened #26200 "List `aiohttp` in optional dependencies"
**Versions**

[code]

**Describe the bug**
The `.aio` API of this library depends on `aiohttp` but the package does not require it.

**To Reproduce**
Steps to reproduce the behavior:
1. `pip install azure-storage-blob`
2. `python -c "from azure.storage.blob.aio import BlobServiceClient"
3. Fails because `aiohttp` is not installed

**Expected behavior**
Expected the package to have an optional depe

[2022-09-14 03:28] rkworkzone opened #26201 "Unable to resolve the DataFactory.models LinkedServiceResource #datafactory API"
I have migrated from
azure-mgmt-datafactory = "==2.6.0" to azure-mgmt-datafactory = "==2.7.0"

getting following error in PyCharm in 2.7.0 version. However, there is no issue in 2.6.0 version. Unable to use any module in this library.

Unresolved reference 'LinkedServiceResource'

Please find the code snippet.
------------
import sys
from azure.mgmt.datafactory.models import *
ls_azure_storage = L

[2022-09-14 03:29] azure-sdk commented on #26201
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.2917548,Service Bus:0.11321433,Event Hubs:0.05127346'

[2022-09-14 04:37] jeeva1711 commented on #25860
Thanks a lot @anliakho2 . It really helped.

[2022-09-14 05:09] navba-MSFT commented on #25739
@lozanov95 Thanks for reporting this issue. We have created the above PR to fix this. It is currently under review. In the meantime if you have any questions, please feel free to ask.

[2022-09-14 07:14] vholmer commented on #26126
Thanks for your answer @jalauzon-msft Jacob. Is this same issue also present in regular Blob Storage accounts? I actually don't have a specific need for ADLS Gen2 here, that's just an existing account I ended up using.

[2022-09-14 08:04] #25698 closed

[2022-09-14 08:04] #22443 closed

[2022-09-14 08:18] Saxamos commented on #26039
I got another issue with python 3.10:
[code]
Several lines later...
[code]

[2022-09-14 09:55] MingCai06 opened #26207 "Pipeline failed due to LinkedServiceReference==2.8.0: __init__() missing 1 required keyword-only argument: 'type'"
- **Package Name**: azure-mgmt-datafactory
- **Package Version**: 2.8.0
- **Operating System**: Ubuntu
- **Python Version**: 3.9

**Describe the bug**
Initializes a new instance of the LinkedServiceReference failed.
Error:
2022-09-14T08:58:04.8677668Z   linked_service_name=LinkedServiceReference(reference_name=reference_name),
2022-09-14T08:58:04.8678498Z TypeError: __init__() missing 1 required k

[2022-09-14 09:56] azure-sdk commented on #26207
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Factory:0.43010306,Service Bus:0.20873217,Synapse:0.06696254'

[2022-09-14 10:32] JJHWAN opened #26209 "[EventHub] typing for class variables"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Some class variables in eventhub has older version of typing.

Such as
`class EventProcessorMixin(object):

    _eventhub_client = (
        None
    )  # type: Optional[Union[EventHubConsumerClient, EventHubConsumerClientAsync]]
    _cons

[2022-09-14 11:27] ponopono0322 commented on #26039
@Saxamos How about install `clang`?
[code]

Idea from:
[code]

[2022-09-14 12:04] schmocker opened #26210 "Error using DefaultAzureCredential with CLI"
Hi,

I'm using DefaultAzureCredential on a Mac where I also us VS Code from time to time. Mostly I program in Pycharm and use CLI Auth. Now when using DefaultAzureCredential there is an Error VisualStudioCodeCredential even thought i'm actually trying to use AzureCliCredential (see error below). In my opinion there should be no such error but it should try to use AzureCliCredential if VisualStudio

[2022-09-14 15:36] tomasvanpottelbergh opened #26213 "[Azure ML SDK v2] Method to download Data asset locally"
The `Data` class in the Azure ML SDK v2 allows the uploading and creation of a new Data asset, but not its downloading. I understand that the idea is to not use the new SDK inside training jobs. However, for exploration purposes it is very handy to be able to download a registered Data asset, as is possible with the SDK v1.

Would it be possible to add this feature? Alternatively, is there a way (

[2022-09-14 15:37] azure-sdk commented on #26213
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.5414302,Data Lake Storage Gen2:0.053330887,Tables:0.029985525'

[2022-09-14 16:04] #26054 closed

[2022-09-14 16:14] gio88oig opened #26215 "[azure-identity] Authentication via service principal returns generic error"
**Describe the bug**
Hi all, i am using the azure-identity to try authenticate a service principal against a storage account but I receive a generic Authentication failed: 1

***Exception or Stack Trace***
DefaultAzureCredential failed to retrieve a token from the included credentials.
Attempted credentials:
EnvironmentCredential: Authentication failed: 1
To mitigate this issue, please refer to th

[2022-09-14 16:27] kristapratico commented on #26201
Hi @rkworkzone thanks for your detailed issue. Just checking - does the error actually occur at runtime or does it just show up in Pycharm like in your screenshots?

[2022-09-14 16:35] kristapratico commented on #26207
@MingCai06 thanks for opening this issue. Just checking - this is regarding azure-mgmt-factory? Your link points to azure-synapse-artifacts. Just want to make sure we investigate in the right library.

@msyyc - can you take a look at this? It seems like a required keyword-only parameter was added for this model.

[2022-09-14 16:36] lzchen opened #26216 "Add schema validation checks to data types in exporter"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-model as the source of truth of what ingestion service expects from telemetry payload.

This can be used for truncation logic: https://github.com/MohanGsk/ApplicationInsights-Home/tree/master/EndpointSpecs/Schemas/Bond

Edit: Truncation logic is already implemented.

[2022-09-14 16:37] azure-sdk commented on #26216
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Monitor - Exporter:0.4053787,Monitor:0.10095756,Schema Registry:0.086871974'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.48011822,Client:0.37550038,Service:0.1367769'

[2022-09-14 16:57] kristapratico commented on #26210
Hi @schmocker thanks for your feedback, we will take a look as soon as possible. Can you also share what version of the client library you are using?

[2022-09-14 17:03] kristapratico commented on #26213
Hi @tomasvanpottelbergh, thanks for your feedback. @azureml-github can you take a look at this issue?

[2022-09-14 17:17] swathipil commented on #26209
@JJHWAN - Thanks for submitting a PR to address this! https://github.com/Azure/azure-sdk-for-python/pull/26208#pullrequestreview-1107908667

Just reviewed and can take another look after my comments have been addressed.

[2022-09-14 17:42] xiangyan99 commented on #26210
Thanks for reporting the issue.

It's a [known issue](https://github.com/Azure/azure-sdk-for-python/issues/23249) that VisualStudioCodeCredential doesn't work with [Azure Account extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.azure-account) versions newer than 0.9.11. A long-term fix to this problem is in progress. In the meantime, consider [authenticating via the Azure C

[2022-09-14 17:49] kristapratico commented on #26215
Hi @gio88oig thanks for your feedback. We will take a look as soon as possible.

[2022-09-14 17:54] rkworkzone commented on #26201
Hi @kristapratico,
It does show up in the Pycharm as in the screenshots.

[2022-09-14 17:56] rkworkzone commented on #26201
Hi @kristapratico,
When I downgrade the version to <2.6 there are no errors.

[2022-09-14 18:11] xiangyan99 commented on #26215
Thanks for reaching out.

Could you help to check

[code]

And see if we can get a token?

Thanks.

[2022-09-14 18:30] jalauzon-msft commented on #26126
Hi @vholmer Viktor, this issue should not be present when using a regular Storage Account (with HNS disabled). I just tried the same example with a regular Storage Account and could not get the issue to repro.

So, if switching to a regular Storage Account is an option for you, that may be a good idea. Beyond this specific issue, if you do not need the ADLS Gen 2 capabilities, it's best to be usin

[2022-09-14 19:18] #26180 closed

[2022-09-14 19:43] xiangyan99 commented on #26177
@gdippolito Thank you for sharing the code.

Our token caching mechanism is per-instance caching.

If every time you create a new credential instance, the token caching will not work as you expected.

We can use single credential or single storage client to make the caching work.

Please let me know if it works.

Thank you.

[2022-09-14 19:58] swathipil commented on #25072
Hi @harshdeep78singh - Appreciate your patience here! I just merged the feature. (sample [[here](https://github.com/Azure/azure-sdk-for-python/blob/376224e541576c351e6b5cec27fcbc030ca5685f/sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/schema_registry.py#L100)]), and it'll be out in our next release. I'll update this issue as soon as it's out.

In the meantime, if you're interested,

[2022-09-14 19:59] iscai-msft opened #26221 "[dpg models] make readonly properties not attribute settable"
We want to not allow users to set readonly properties with attribute syntax, i.e. not allow `model.readonly_property = "new_value"`.

Want to make sure it doesn't even show up in intellisense

[2022-09-14 19:59] azure-sdk commented on #26221
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.2239175,Search:0.065448046,Compute:0.061312623'

[2022-09-14 20:39] iscai-msft opened #26222 "[dpg models] determine behavior if required inputs aren't passed during model creation"
Right now, if a model has required input parameters and a user doesn't pass them in them, we accept the input. We want to make sure required parameters are inputted when creating the model with attribute syntax. Need to consider how this plays with passing mappings directly to the model, because I don't think we can raise in this case for backwards compatibility reasons.

[2022-09-14 20:40] azure-sdk commented on #26222
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'azure-spring:0.11895889,Cognitive - Form Recognizer:0.115842886,Azure.Identity:0.06966799'

[2022-09-14 20:42] iscai-msft opened #26223 "[dpg models] raise DeserializationError from errors during incorrect attribute deserialization"
[code]

[2022-09-14 20:43] azure-sdk commented on #26223
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.083579004,azure-spring:0.06155681,Cognitive - Form Recognizer:0.05136012'

[2022-09-14 20:54] ysmu commented on #25861
We've published [0.7.6](https://pypi.org/project/azureml-inference-server-http/) to address this issue. Please let us know if you continue to experience this issue in the latest version. Thanks!

[2022-09-14 21:01] chlowell commented on #19680
The Azure CLI is an application registered in Azure AD, so it simply sends its own client ID in token requests.

[2022-09-14 21:21] swathipil commented on #24888
after investigation: Found that this would require complicated updates to pyamqp. Decided to just update uamqp so that `client.do_work()` takes in `batch` and disregards.

[2022-09-14 21:21] #24888 closed

[2022-09-14 21:42] #24239 closed

[2022-09-14 21:52] swathipil opened #26226 "[EventHubs] pyamqp GA"
Testing/Typing:
- [x] @swathipil - #26227
- [x] @kashifkhan - turn on and fix pylint: #25396
- [x] @swathipil - check all mypy/typing stuff: #25471
- [x] @l0lawrence - stress testing: #21201
- [x] Ask Anna + Rakshith - #26230
- [x] @swathipil - #26229
- [x] @kashifkhan - fix logging: #22835

Features:
- [x] @kashifkhan - Investigate aiohttp for websocket: #24315
  - [x] ~Ask Anna about adding asyn

[2022-09-14 21:53] swathipil opened #26227 "[EventHubs] pyamqp run black formatting"

[2022-09-14 21:53] swathipil opened #26228 "[EventHubs] merge in servicebus pyamqp"

[2022-09-14 21:53] swathipil opened #26229 "[EventHubs] SDK layer exception parity for uamqp/pyamqp"
- EH error story: add a bunch of tests to for all test scenarios. and check that uamqp and pyamqp raise the same errors. check that we have tests for optional params, like timeout flags etc.

Test cases:
- [x] 1) Sending EventHubProducerClient(...connection_verify="cacert.pem").
    - Behavior: `uamqp`- pytest.raises `EventHubError`. pyamqp - pytest.raises `ConnectError`. --> Issue here : #27128

[2022-09-14 21:53] azure-sdk commented on #26226
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.16693956,Azure.Core:0.15889466,Event Hubs:0.13844733'

[2022-09-14 22:01] swathipil opened #26230 "[EventHubs] pyamqp perf testing"

[2022-09-15 00:33] kristapratico commented on #26176
Okay took more than a minute to look at this and realized that "auto" is passed at a per-document level. So I agree with your approach and think this will coexist nicely with our default_language at the client-level and our language at the client-method-level since these two options are just a short-cut for setting a per-document language for the user. My one thought is that we might want to renam

[2022-09-15 01:53] mccoyp opened #26237 "[Identity] Make manual managed identity tests compatible with migrated tests"
Per https://github.com/Azure/azure-sdk/issues/1908#issuecomment-1229867818, manual tests for Azure Arc have run into errors because of `azure-identity`'s recent migration to the test proxy. We need to adjust tests meant for live test environments to be runnable, most likely without the test proxy tool present. Otherwise, setting up the test proxy on, for example, an Azure VM would be necessary to

[2022-09-15 06:17] Tjianke commented on #25403
Second this feature, timestamp in metadata needs additional wrapper to merge with contents in entity.

[2022-09-15 06:34] msyyc commented on #26201
Hi @rkworkzone Thanks for your feedback. We can reproduce it locally and will discuss about how to handle it: https://github.com/Azure/autorest.python/issues/1444.
nit: vscode works well and you can have a try