[2020-05-08 01:01] kristapratico commented on #11182
We decided to keep the use of "label" for FormField and will differentiate between form field labels and training time labels by renaming `use_labels` to `use_training_labels` tracked in this issue: #11230

[2020-05-08 01:01] #11182 closed

[2020-05-08 01:08] kristapratico opened #11323 "[formrecognizer] Handle "failed" status consistently across LROs"
See: https://github.com/azure/azure-sdk-for-net/issues/11473

We should consider having consistent behavior across all endpoints (always raise on a "failed" status) or decide if it makes sense to not throw exceptions specifically for training operations.

We don't raise on a "failed" status for training and instead return the model with errors. There are two errors lists on a model: top-level mode

[2020-05-08 01:11] kristapratico opened #11324 "[formrecognizer] Add sample for using table cells in common UI framework"
To be consistent with .NET samples: https://github.com/azure/azure-sdk-for-net/issues/10537

[2020-05-08 07:32] changlong-liu commented on #10240
yes, @nancybelser, azure-mgmt-subscriptions don't have tag yet.
If you just want to retrieve subscription tags, would you have a try on azure-mgmt-resource? https://github.com/Azure/azure-sdk-for-python/blob/cd25de58e00d624511b5154e9fe8683826020bc0/sdk/resources/azure-mgmt-resource/azure/mgmt/resource/subscriptions/v2019_11_01/models/_models_py3.py#L293

[2020-05-08 09:07] chunyu3 commented on #11281
I cannot created a vm without os_profile. And if I can get the os_profile metadata from the created VM by compute_client.virtual_machines.list.
Ask service team to check why there are compute vms who have no os_profile, or check if the service REST CALL return the os_profile correctly.

[2020-05-08 12:16] claverru opened #11331 "azureml.core.model.Mode.deploy: "Exactly one of the ModelIds or Models must be specified for a service" when it used to work."
- **azureml-core**:
- **1.4**:
- **Ubuntu 18.04 bionic**:
- **Python 3.6.9**:

**Describe the bug**
WebserviceException when calling **azureml.core.model.Mode.deploy** with:

"code":"ServiceModelConflict",
"message":"Exactly one of the ModelIds or Models must be specified for a service."

It used to work before with the exact same environment (versions, OS, etc). Also, it's always been explicitily

[2020-05-08 13:20] timewalker08 opened #11332 "How can I get 5 message from queue?"
I find that there is no means to get specified count of message from queue by azrure sdk for python.
There are such API for C# sdk:
`GetMessagesAsync(Int32, Nullable<TimeSpan>, QueueRequestOptions, OperationContext)`

How can I achieve the same behavior in Python?

Thanks

[2020-05-08 13:37] rajata07 commented on #902
@lmazuel Where can i find example of batch send operation for service bus using AMQP?

[2020-05-08 14:10] brandonwatts commented on #11331
I'm seeing the same issue. Believe [other people](https://github.com/Azure/azure-cli-extensions/issues/1645) are too.

[code]

[2020-05-08 14:34] nancybelser commented on #10240
Just tried it and it worked. Thanks!

From: changlong-liu <notifications@github.com>
Reply-To: Azure/azure-sdk-for-python <reply@reply.github.com>
Date: Friday, May 8, 2020 at 3:33 AM
To: Azure/azure-sdk-for-python <azure-sdk-for-python@noreply.github.com>
Cc: Nancy Belser <Nancy.Belser@genesys.com>, Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for-python] subscription class

[2020-05-08 15:32] jeking3 opened #11333 "KeyVault VaultProperties vault_uri is not marked readonly"
- **Package Name**: azure-mgmt-keyvault
- **Package Version**: 2.2.0
- **Operating System**: Linux
- **Python Version**: 3.7.7

**Describe the bug**
In the [documentation](https://docs.microsoft.com/en-us/python/api/azure-mgmt-keyvault/azure.mgmt.keyvault.v2019_09_01.models.vaultproperties?view=azure-python) and [generated python](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/keyva

[2020-05-08 16:29] AlexGhiondea opened #11336 "Release Azure Cognitive Search Track 2 Library Preview 5 for Python"
This tracks the work to release the Azure Cognitive Search Track2 Preview 5 Library

### API Review
- [ ] Final architecture board review

### Features
- [ ] Search paging << API change
- [x] Change to type constructors << API change

### Testing

### Docs

[2020-05-08 16:30] chlowell commented on #11333
@iscai-msft is this because of the way `VaultProperties` is defined in the spec?

[2020-05-08 17:15] KieranBrantnerMagee commented on #10113
Hey folks,
Glad you were able to address the clock skew as a workaround, Jainit.

Thanks as well for pointing this issue our way Sean, and for the assistance.  I'd agree that the non-UTC lock comparison is suspicious, but when obtaining the time from the message annotation we also extract the timestamp into local time, so the comparison is consistent, if surprising.  We've taken steps to address t

[2020-05-08 17:15] #10113 closed

[2020-05-08 17:35] kristapratico commented on #11324
@rakshith91

[2020-05-08 17:36] kristapratico commented on #10894
@rakshith91

[2020-05-08 17:37] kristapratico commented on #11323
@rakshith91

[2020-05-08 19:00] yunhaoling commented on #9402
Hey @K3UL ,thanks for the feedback, I get your point on the "consistency in the behavior".

Right now we're having internal discussion on this topic and you've made your point quite well. I'll bring your concern to the team.

The reason why we choose not to override the behavior of 60s timeout for no-available-session as it's a service side setting, there could be service side concern on this -- e

[2020-05-08 19:00] keerthiadu commented on #11331
this is a regression and we are working on hotfix.

[2020-05-08 19:09] trojrobert commented on #11331
I can't deploy on LocalWebservice too. Is this the same issue?

ERROR - Service deployment polling reached non-successful terminal state, current service state: Unhealthy
Operation ID: 2ce5b8cc-489b-4201-a896-ede97d6c329b
More information can be found using '.get_logs()'
Error:
{
  "code": "DeploymentTimedOut",
  "statusCode": 504,
  "message": "The deployment operation polling has TimedOut. The s

[2020-05-08 21:29] bryevdv opened #11344 "Remove swagger README transforms"
The current generate code was generated with this readme:
[code]

This removes `x-ms-pageable` and the reason is that some results need transformations on individual results, e.g.
[code]
before returning/yielding them.

 @lmazuel  mentions there will be a hook added that will make this transform unecessary

cc @xiangyan99 @heaths

[2020-05-08 21:30] bryevdv opened #11345 "Clean up Samples and Links to Samples"
Need to provide context for UX study participants

[2020-05-08 21:37] yunhaoling commented on #6332
Closing the issue here as uAMQP v1.2.5+ should have get this problem resolved.

[2020-05-08 21:37] #6332 closed

[2020-05-08 22:34] chlowell opened #11346 "Use App Service managed identity version 2019-08-01"
Documentation: https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity#obtain-tokens-for-azure-resources

Changes in the new version:
- MSI_ENDPOINT -> IDENTITY_ENDPOINT
- MSI_SECRET -> IDENTITY_HEADER
- "secret" header replaced by "X-IDENTITY-HEADER"
- "clientid" parameter -> "client_id"
- params for user-assigned identity object id ("principal_id") and resource ID ("mi_res_i

[2020-05-08 22:59] yunhaoling commented on #9144
Hi @Indy2222  and @engebret ,

from the error log that @Indy2222 has posted, this error usually occurs when the receiver that message related to is closed.

The service side would choose to disconnect a receiver if there's no activity in 10 mins. It might be the reason you're encountering this error (or you close that receiver proactively).

Would you be able to share me with the problematic code?

[2020-05-08 23:20] chlowell opened #11347 "Persistent token cache for service principals"
Enable `ClientCertificateCredential` and `ClientSecretCredential` to persistently cache access tokens by adding the `enable_persistent_cache` keyword argument currently supported by `MsalCredential`.

[2020-05-08 23:31] mkrdip commented on #11331
@keerthiadu the hotfix fixed the issue. I can deploy locally now!

[2020-05-08 23:46] keerthiadu commented on #11331
Hotfix deployed to all regions.

[2020-05-08 23:52] #11331 closed

[2020-05-09 00:33] KieranBrantnerMagee commented on #4073
Hey Johnlento,
Have to apologize that this fell through the cracks so long, but in an effort to at least have an answer for anyone who comes across this with similar questions/to close the loop on this, I'd call out that our current generation azure-mgmt-servicebus package provides these details via the `count_details` object on a Queue/Subscription (inner field `dead_letter_message_count`), like

[2020-05-09 00:33] #4073 closed

[2020-05-09 02:52] RodgeFu commented on #11224
i mean pre-create the scheduled task in windows with the account, and then trigger the scheduled task programmatically which will in-turn trigger your script in scheduled task with the account you need.
https://docs.microsoft.com/en-us/powershell/module/scheduledtasks/start-scheduledtask?view=winserver2012r2-ps&redirectedfrom=MSDN

[2020-05-09 02:53] RodgeFu commented on #11271
Assign to Nick for the doc issue

[2020-05-09 03:22] nickzhums commented on #11271
Will add this to doc work backlog

[2020-05-09 04:19] timewalker08 opened #11353 "What is the relationship between azure-storage-python and azure-sdk-for-python?"
I find that there are another repo for azure sdk: https://github.com/Azure/azure-storage-python.
I wonder what's the difference between azure-storage-python and azure-sdk-for-python. Which one should I use?

[2020-05-09 08:08] v-xuto opened #11357 "azure-storage-blob Readme and Samples Issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/storage/azure-storage-blob#examples ):
![image](https://user-images.githubusercontent.com/57166602/81467796-ad6c2f80-920d-11ea-816d-ca349e7499a7.png)

Suggestion:
Missing title "create a container" in examples summary.
2.
Section [link](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage

[2020-05-09 08:30] v-xuto opened #11358 "azure-storage-file-datalake Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage-file-datalake/README.md#create-a-storage-account):
![image](https://user-images.githubusercontent.com/57166602/81468225-cde9b900-9210-11ea-925f-fdf8c6d295ec.png)

Reason:
All three correspond to the same link 'Azure Portal'.

Suggestion:
Update these link:
Azure Portal: https://docs.microsoft.com/

[2020-05-09 09:22] v-xuto commented on #11357
@jongio please review.

[2020-05-09 09:23] v-xuto commented on #11358
@jongio please review.

[2020-05-09 14:02] #11353 closed

[2020-05-09 16:33] philippemnoel commented on #11224
Oh interesting -- I'll take a look, thanks!

[2020-05-09 16:33] #11224 closed

[2020-05-10 12:18] ludokriss opened #11363 "Ambiguity of definition of "endpoint" in portal and in SDK"
Hey,

Just to make it easier to use some of your libraries, you should probably make sure "Endpoint" means the same thing in the portal as it does in the SDK. For example, using the sdk for bing news cognitive services, copying the endpoint from the portal and adding it to the sdk config, will fail due to the sdk adding trailing version and resource see:

![image](https://user-images.githubusercon

[2020-05-10 15:06] nickzhums commented on #11271
@estensen could you give a bit more details on this?

[2020-05-10 20:05] estensen commented on #11271
@nickzhums have you tried running the examples I've linked?

The problem is that this example creates the legacy (classic) alerts which you are not allowed to do anymore.

Some things that are broken:
- You have to use `client.metric_alerts.create_or_update` instead of `client.alert_rules.create_or_update`
- `location` has to be `global`
- `alert_rule_resource_name` is renamed

[2020-05-11 03:57] nickzhums commented on #11271
@estensen thanks, will look into this

[2020-05-11 09:48] RoozbehBandpey opened #11368 "Experiment name length limit"
- **Package Name**: azureml.core
- **Package Version**: 1.1.5
- **Operating System**: Windows 10 64-bit
- **Python Version**:  3.7.3 64-bit

While trying to fetch runs for experiments which have names longer that 36 character, the SDK returns this:
[code]
While still it is possible to submit experiments with names longer than 36 chars via AML pipeline
**How to handle metrics for those experiments?

[2020-05-11 10:01] v-xuto opened #11369 "azure-search-documents Readme Issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/search/azure-search-documents#prerequisites):
![image](https://user-images.githubusercontent.com/57166602/81546666-49806d00-93ad-11ea-9f28-243ce577a8fb.png)

Reason:
msrest.exceptions.SerializationError: 'S' is not valid value for enum <enum 'SkuName'>

Suggestion:
[code]
2.
Section [Link](https://github.com/Azure/azur

[2020-05-11 10:04] v-xuto commented on #11369
@jongio please review.

[2020-05-11 17:13] KieranBrantnerMagee commented on #9708
Hey andrea,
Wanted to loop back that we've addressed this via [this UAMQP change](https://github.com/Azure/azure-uamqp-python/pull/159).

Expect this to percolate out both in the final 0.50 release "coming soon", and in the 7.0.0 GA releases working their way through preview. (b3 coming EOM).

As always don't hesitate to reopen this/reach out if any issues or questions.

[2020-05-11 17:13] #9708 closed

[2020-05-11 17:45] Drewm3 commented on #11281
The OS profile is only required when a VM is deployed from a generalized image. If the VM is deployed from a specialized OS disk then an OS Profile is not required. This is because the primary use for the OSProfile is for configuration of the VM when it is deployed from a generalized image.

Note: The compute name in the OSProfile is only the initial computer name. It is possible that the computer

[2020-05-11 17:45] #11281 closed

[2020-05-11 17:56] yunhaoling commented on #3765
Hey @motsu35 ,

Apologize for reaching out to you so late.

We're in the process of releasing a new generation of python servicebus sdk v7.0.0 (currently in preview status) and we'll bring fix into our next preview release -- v7.0.0b3.

I'm sorry to tell you that we've decided not to bring any control plane fixes into v0.50. We're focusing our main efforts on v7. v0.50 is a preview version which w

[2020-05-11 18:24] yunhaoling commented on #2593
Hey @hrncek , I'm closing the issue assuming that problem has been addressed.

Feel free to re-open if the problem still exists.

[2020-05-11 18:24] #2593 closed

[2020-05-11 18:37] kristapratico commented on #11230
Some of this work was already done in this draft PR: https://github.com/Azure/azure-sdk-for-python/pull/11232/commits/3640d3a20523c85b655338bb37f4ed1fa6c90693

[2020-05-11 18:39] kristapratico commented on #11130
Some of the work done in this commit: https://github.com/Azure/azure-sdk-for-python/pull/11232/commits/8c64688060a256c09d1d726ba61a625955e848a0

However, this commit also has work that we don't want - like the rename of url and stream parameters.

[2020-05-11 18:49] KieranBrantnerMagee commented on #11332
Hey timewalker,
Assuming you're on a 0.50.* version, what you want is `fetch_next`.
please find some breadcrumbs in both our [samples](https://github.com/Azure/azure-sdk-for-python/blob/300d00e56a80711230902fcd285e347ac0de121b/sdk/servicebus/azure-servicebus/samples/sync_samples/example_queue_send_receive_batch.py#L32) and in our [official docs](https://docs.microsoft.com/en-us/azure/service-bus-m

[2020-05-11 18:49] #11332 closed

[2020-05-11 18:56] yunhaoling commented on #10769
Closing the issue as the issue has been mitigated via settlement through receiver-link for normal received messages.

[2020-05-11 18:56] #10769 closed

[2020-05-11 19:56] KieranBrantnerMagee commented on #9263
Hey K3UL,
First let me apologize that this sat for so long.

Second, I did some digging into the azure-mgmt-servicebus SDK, and it appears that you can create a custom correlationfilter via `ServiceBusManagementClient.rules.create_or_update(rg, namespace, topic, subscription, rule_name, parameters)`, see [here](https://docs.microsoft.com/en-us/python/api/azure-mgmt-servicebus/azure.mgmt.servicebus

[2020-05-11 20:14] #10641 closed

[2020-05-11 21:27] zikalino opened #11376 "API returns "bad request" -- package seems to be outdated"
- **Package Name**:
azure-mgmt-mixedreality

- **Package Version**:
0.1.0
- **Operating System**:
- **Python Version**:

**Describe the bug**

Error when trying to create:

        if response.status_code not in [200, 201]:

E           azure.mgmt.mixedreality.models.error_response_py3.ErrorResponseException: Operation returned an invalid status code 'Bad Request'

**To Reproduce**
Steps to reprod

[2020-05-11 23:45] yunhaoling commented on #4247
Closing the issue here. We're shifting our main efforts to the new generation of python servicebus library 7.0.0.

Support for latest HTTP mgmt API would be brought in 7.0.0b3.

[2020-05-11 23:45] #4247 closed

[2020-05-11 23:59] annatisch commented on #10759
Thanks @Rodrigossz - sorry for the delay.
I would like to clarify the issue a bit more. If I create the following item:
[code]
When I read this document back from the service it is deserialized correctly as a boolean:
[code]
The Python SDK will automatically JSON serialize the dict that is passed in, so the item representation passed to the service will be in the form:
[code]
I'm not sure why you

[2020-05-12 02:11] dw511214992 commented on #11376
Hi mixedreality team, the sdk is outdated. So we need to release a new sdk with current swagger in https://github.com/Azure/azure-rest-api-specs. I want to know whether the swagger is latest and ready for release. If yes, please create a release request to release it. Thank you

[2020-05-12 02:17] changlong-liu commented on #10240
Thanks for feedback @nancybelser , I close this issue for now.

[2020-05-12 02:17] #10240 closed

[2020-05-12 08:36] K3UL commented on #9263
Hi @KieranBrantnerMagee, thank you for your answer.
Indeed I am using `control_client.ServiceBusService` for the subscription and rule creation, as `azure.servicebus.ServiceBusClient` does not offer these capabilities.

I do use the new SDK for the other operations (publishing and fetching messages).

I had seen that the management package can do something like this but I have two probles with it

[2020-05-12 14:53] iscai-msft commented on #11333
Yep, I checked the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/260aa3d5e9467700068787493861f92fc590800c/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/keyvault.json#L1107) and vaultUri is just defined as a string. In order to make it readonly, a line like [this](https://github.com/Azure/azure-rest-api-specs/blob/260aa3d5e9467700068787493861f92fc590800

[2020-05-12 15:19] FernanOrtega opened #11386 "Error when calling complete() method in Run class"
- **Package Name**: azureml-sdk
- **Package Version**: 1.5.0
- **Operating System**: Windows 10
- **Python Version**: 3.6.9

**Describe the bug**
It's impossible to complete a run through this SDK since it raises the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create or get workspace
2. Create new experiment
3. Create new run and log some stuff
4. Call `run.compl

[2020-05-12 15:20] tartieret commented on #10980
It would work, but we found a way to restructure the app to use two hubs to do the repartitioning

It does not play nice with the limit of 10 hubs per namespace though

[2020-05-12 16:19] KieranBrantnerMagee commented on #9263
It's a very apt time for you to mention this, since we've heard similar responses from other users, reinforcing the aformentioned decision to modernize the management tooling within the core library enabled by SAS/connection string.

In that vein, as hinted at previously, we'll likely have the capabilities you want within the next 1-2 preview releases.  Shout if this is a more urgent need/if a com

[2020-05-12 19:54] iscai-msft opened #11389 "[form recognizer] rename `models` property of `CustomFormModel` to `submodels`"

[2020-05-12 20:06] KieranBrantnerMagee commented on #7079
Hey folks,
First let me apologize that this sat for so long.
Second, to address the (what I believe are) two distinct points here.
1. receiver reuse.
  Unfortunately in the 0.50.* versions, reuse of the push handler (`for message in receiver` vs the pull handler `fetch_next`) was explicitly not allowed due to issues with connection/credential state.  This has been mitigated in the version of this

[2020-05-12 20:41] alanjcastonguay opened #11392 "Wrong type hint for azure.storage.queue.QueueClient.from_connection_string() -> None"
- **Package Name**: azure.storage.queue
- **Package Version**: 12.1.1
- **Operating System**: MacOS 10.15.4 (19E287)
- **Python Version**: 3.8.2

**Describe the bug**

This code implies that `azure.storage.queue.QueueClient.from_connection_string()` returns `None`:

https://github.com/Azure/azure-sdk-for-python/blob/ab4f3090be02dcedddf9969f565bf43670a10f7a/sdk/storage/azure-storage-queue/azure/sto

[2020-05-12 21:42] #11369 closed

[2020-05-12 22:01] #10199 closed

[2020-05-12 23:23] scbedd opened #11397 "Organize Generated Artifacts Into Per-Package folders"
After building, the artifacts available to the rest of the build are organized like this:
![image](https://user-images.githubusercontent.com/45376673/81754981-5912bb00-946c-11ea-8549-a46a419b1773.png)

Which necessitates a pre-step when handling the artifacts during **release**.

[code]

This is useless duplicate work on the release side.

If we instead organize the artifacts like

[code]

This is

[2020-05-13 00:07] YijunXieMS commented on #5315
Hi @alanjcastonguay,
A SAS token has expiry time, so in your use case, do the customer IoT aggregator / sender devices need to provide a new SAS token with a new expiry time before it expires while they keep sending events? How often do they send events and what do you expect them to do when the token expires?

[2020-05-13 08:10] K3UL commented on #9263
That sounds great thank you ! I think it is fine to wait for a couple months and keep using the SqlFilter, it is good to know you guys are working on the management library towards this, because it is a lib I wanted to use beside the Azure AD neeed :)

As for the docs, I think they should at the very minimum point to the samples/test in the Github repos, this is usually how I find the information.

[2020-05-13 08:10] #9263 closed

[2020-05-13 12:17] gison93 opened #11413 "pip install azure-storage==0.37.0 fails"
- **Package Name**:  azure-storage
- **Package Version**:  0.37.0
- **Operating System**: Windows-10
- **Python Version**: 3.6.2

**Describe the bug**
pip install azure-storage==0.37.0 generates the error:
ERROR: Command errored out with exit status 1: python setup.py egg_info
**To Reproduce**
Steps to reproduce the behavior:
1.  pip install azure-storage==0.37.0

[2020-05-13 12:41] Abhishekchechani opened #11414 "ADLS Gen2 file owner issue"
I am referring the below Microsoft doc for creating file in ADLS gen 2 storage through python

"Use Python to manage directories, files, and ACLs in Azure Data Lake Storage Gen2"

https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-python

I am connecting ADLS Gen2 storage through sas key and run the below code.

Code :
========================================

[2020-05-13 14:20] annatisch opened #11415 "[Core-OpenTelemetry] 'DefaultSpan' object has no attribute 'start'"
- **azure-core-tracing-opentelemetry**:
- **1.0.0b4**:
- **Windows**:
- **3.7.4**:

**Describe the bug**
When configuring a tracer - any SDK calls made in-between configuring the Core tracing settings and building a tracer will fail with an AttributeError.
This issue can be worked around if the tracer is configured before any other SDK calls are made.

**To Reproduce**
[code]
**Observed behavior**

[2020-05-13 14:29] bingoarun opened #11416 "VM creation error message should be meaningful"
- **Package Name**: azure-mgmt-compute
- **Package Version**: 9.0.0 (also tried on 12.0.0, same error)
- **Operating System**: Ubuntu
- **Python Version**: Python 2.7.15+

**Describe the bug**
Can't create VM, it errors at
[code]
Later identified that is a quota issue. I would like to see in the error message that it is a quota issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a

[2020-05-13 15:57] #11230 closed

[2020-05-13 16:39] lmazuel commented on #11415
@rakshith91 spent some time in OpenTelemetry code, and actually `start()` is not part of `opentelemetry.trace.Span` ABC class. Two things:
- I would think mypy would see it, so I assume we are missing type annotations. I would suggest to type the code until you get a "span_instance doesn't contain attribute start" to be sure we have it right
- Just remove all `span_instance.start()`, creating the

[2020-05-13 17:30] sfc-gh-mkeller opened #11419 "progress_callback in azure-storage-blob"
- **Package Name**: `azure-storage-blob`
- **Package Version**: `12.3.1`
- **Operating System**: `CentOS 7`
- **Python Version**: `3.5`

**Describe the bug**
A clear and concise description of what the bug is.

Hi, I'm updating one of our libraries to version 12 from 2 and I can't seem to find where `progress_callback` went when uploading or downloading blobs.
Was this feature removed? Or is it ju

[2020-05-13 17:42] annatisch commented on #11419
Hi @sfc-gh-mkeller,

We no longer support the callbacks directly - however you can hook into the request pipeline in much the same way to achieve a similar result.
Here's a small sample from our test suite showing how to do this with the new API:
[code]
Let me know if you need further details :)

[2020-05-13 18:09] KieranBrantnerMagee commented on #9263
Great to hear.

Wanted to follow up and mention that I've given the feedback to the mgmt docs owners, and they'll be looking to bolster that section.  In the interim, I've added [a small snippet to our README](https://github.com/Azure/azure-sdk-for-python/pull/11420/files#diff-929e0e0578533597397c5a7dadf9cc7cR245); let me know if you find that this would have given you enough breadcrumbs as you me

[2020-05-13 18:40] sfc-gh-mkeller commented on #11419
Thank you so much for your quick answer @annatisch
I'll give this a go!

[2020-05-13 18:45] rakshith91 opened #11421 "Pylint in tox not catching unused-import error"
tox is not catching the unused import in the CI

I deliberately added an unused import and here's the output if i use `tox tox -c ../../../eng/tox/tox.ini -e lint`

[code]

howeever, if i use `pylint .`

[code]

fyi, CI is not catching this either

[2020-05-13 18:46] rakshith91 commented on #11421
@scbedd @praveenkuttappan

[2020-05-13 18:48] jeking3 opened #11422 "VirtualMachineExtension metadata error handling response from create_or_update: KeyError "Use twice the key""
- **Package Name**: azure-mgmt-compute
- **Package Version**: 12.0.0
- **Operating System**: Debian 10
- **Python Version**: 3.7.3

**Describe the bug**

After calling VirtualMachineExtension.create_or_update, the response coming back from the server cannot go through a deserialize/serialize cycle, likely due to something with the metadata handling (there are two fields with the key "type" in the

[2020-05-13 19:36] jeking3 commented on #11422
This is likely an internal error in the program I was using; I will investigate that and re-open this if necessary.

[2020-05-13 20:17] jeking3 commented on #11422
Reopened, this is not an issue in my code; it is happening in the library.

[2020-05-13 20:19] #10981 closed

[2020-05-13 20:41] lmazuel commented on #11416
Hi @bingoarun
This string exception error was fixed in the underlying runtime "msrestazure 0.6.3". Could you update to that version and confirm that you get a more interesting message?
Thank you

[2020-05-13 20:44] lmazuel commented on #11413
Hi @gison93
This is by design, pip will print in output the rationale behind it:

[code]

Thanks!

[2020-05-13 20:44] #11413 closed

[2020-05-13 21:41] lmazuel commented on #11422
Hi @jeking3
Assigning to myself since it touches the serialization part and not really the Compute specific part. I actually wrote that "double key" detection mechanism :). Your Github report is awesome, all the details I can dream of, I'll try to investigate that asap (can't promise date though I'm sorry).

[2020-05-14 03:18] jeking3 commented on #11422
Thanks!

My guess is in this case the metadata is wrong, or it is not reversible.  i.e. when converting from python to rest you take the virtual_machine_extension_type and stuck it in properties.type, and the same on the way back out.  But if you as_dict then from_dict a VirtualMachineExtension object, the content stays in python form, and the lookup is expecting server form:

[code]

In this case

[2020-05-14 05:18] danieljurek opened #11436 "Smoke tests failing because of dependency update in dev feed"
`azure-identity` recently changed a dependency on `msal-extensions` from `~=0.1.3` to `~=0.2.2`. This package is required by the `azure-identity` package in the dev feed but an older version of `msal-extensions` is required by the package on PyPI. The result is a break during package installation that causes smoke tests to fail:

[code]
([link](https://dev.azure.com/azure-sdk/internal/_build/resul

[2020-05-14 05:20] AlexeyRaga opened #11437 "BlobClient.upload_blob hangs sometimes"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.3.1
- **Operating System**: Linux
- **Python Version**: 3.5.2

**Describe the bug**
Calling to `blob_client.upload_blob` hangs forever.

The essence of my script is here:

[code]

When I run it it _sometimes_ works fine, but _sometimes_ hangs after printing `Uploading the file` line.

**To Reproduce**
I don't have a clear path to rep

[2020-05-14 08:41] espenairmine opened #11440 "Appconfiguration logs extensively and does not respect log levels"
- **Azure.Appconfiguration**:
- **1.0.0**:
- **Docker image: FROM mcr.microsoft.com/vscode/devcontainers/python:0-3, also effects functions deployed to Azure (tested with consumption, v3)**:
- **3.8.2**:

**Describe the bug**
Using appconfig spams the logs + function monitoring, annoying but not a show stopper.
Setting the loglevel has no effect,

**To Reproduce**
Steps to reproduce the behavior:

[2020-05-14 09:36] gison93 commented on #11413
Hi @lmazuel, thank you for the quick answer. My bad, I read that is deprecated but I missed "cannot be installed anymore".
Actually the issue arised because I had a job that installed azure-storage without specifying the version.
In the next days I will switch to the new specific package.

Thanks again!

[2020-05-14 10:17] blueww commented on #11292
We have discussed offline.
This is related with server issue, and has include feature team to the discussion.
Will update if get any conclusion.

[2020-05-14 11:02] qiaozha commented on #11292
@zfchen95  Seems I can't assign you.

[2020-05-14 14:02] jeking3 commented on #11422
I'd like to stress the urgency for a fix on this...  Any virtual machine with an extension installed cannot be deserialized by azure-mgmt-compute 12.0 (the current version).

[2020-05-14 15:05] iscai-msft opened #11442 "[text analytics] test issues"
- [x] switch instances of TextDocumentInput in tests for LD to DetectLanguageInput: https://github.com/Azure/azure-sdk-for-python/blob/feature/text_analytics_v3.0/sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language.py#L62
- [x] service has fixed, remove skip: https://github.com/Azure/azure-sdk-for-python/blob/feature/text_analytics_v3.0/sdk/textanalytics/azure-ai-textanalytics/test

[2020-05-14 16:25] lmazuel commented on #11440
Hi @espenairmine
I'm not sure I agree on:

SDK are able to log into all levels, critical, warning, info and debug depending of what is necessary. What you see is the HTTP info logger, which is here on purpose, and can be disabled using usual logging level setting by level. For instance:
[code]

[2020-05-14 17:15] KieranBrantnerMagee opened #11444 "Track 2 - Service Bus - ATOM management API"
We need to bring forward the ATOM management API.

There are two ways to approach this.  Manually and mutate the existing, or attempt to create an autogen.  More detail will be provided as we move further into this.

Would call out that however we approach this, sync with @KieranBrantnerMagee about security issues that must be addressed in the VNext.

[2020-05-14 18:22] xiafu-msft commented on #11414
Hi @Abhishekchechani

Thanks for reaching out!
Have you tried set_access_control() you should be able to set the owner there.
Let me know if it's not working!

[2020-05-14 18:24] xiafu-msft commented on #11028
Hi @sebastiaanzaaijer

Would you like to confirm if you still have the problem?

Thanks

[2020-05-14 21:46] #10118 closed

[2020-05-14 23:40] chlowell opened #11448 "SharedTokenCacheCredential accepts an AuthenticationRecord"
A user who wants to authenticate only silently using the identity described by an `AuthenticationRecord` may reasonably assume `SharedTokenCacheCredential` is the right tool for the job. It should accept a record as an optional parameter.

[2020-05-14 23:44] chlowell opened #11449 "Add new user auth API to UsernamePasswordCredential"
The `authenticate` method is strange on this credential because it isn't interactive, but it should at least provide some way to get an `AuthenticationRecord`. This enables an application to authenticate a user with a password during one execution, caching a refresh token, then silently authenticate the same user during a subsequent execution.

[2020-05-14 23:50] kristapratico commented on #10894
We will follow .NET and move this to preview 4.

[2020-05-14 23:51] kristapratico commented on #11324
Since #10894 moved to preview 4, this corresponding issue will as well.

[2020-05-14 23:54] kristapratico opened #11450 "Release Form Recognizer Track 2 Python Preview 4"

[2020-05-15 01:57] Hanse00 commented on #8670
Can we get some more detail on this? I understand the concept of a backoff option, but if you intend for this to be a good first issue, the contributor will need a bit of background.

[2020-05-15 03:05] Abhishekchechani commented on #11414
Hi @xiafu-msft ,

Thanks for your support!

I have only got the below function to do via set access control.

new_dir_permissions = "rwxr-xrw-"             directory_client.set_access_control(permissions=new_dir_permissions)

Could you please share the sample code to set file owner as service principal through set_access_control.

[2020-05-15 03:23] Drewm3 commented on #11416
It looks like this issue has been resolved. Please reopen the issue if the correct error message is not seen.

[2020-05-15 03:23] #11416 closed

[2020-05-15 06:00] AlexeyRaga opened #11457 "BlobClient.upload_blob hangs and crashes (2 in 1)"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.3.1
- **Operating System**: Linux
- **Python Version**: 3.7.7

**Describe the bug**
`BlobClient.upload_blob` hangs for 1.5 minutes if a metadata value contains a leading space. Then it crashes with a deep Python stack trace and `ServiceRequestError` exception.

It crashes much faster when a metadata value ends with a space though! Wh

[2020-05-15 08:35] K3UL commented on #9263
The docs are the main breadcrumb we need but anything helps and I think indeed having it in the Readme helps having a place to look in, without having to search all over the place. For sure it would have saved me some time. Thank you !

[2020-05-15 08:36] espenairmine commented on #11440
Hi @lmazuel

I should have been more precise in my statement:

_appconfiguration should not produce verbose  logs unless loglevel set to debug_

I assumed setting the log level to warning with (as sett in the docs):
``` logging.basicConfig(level=logging.WARNING)```
would reduce the logs, but the above has no effect.

Following your approach did the trick.
Thanks for quick and helpful reply!

[2020-05-15 08:36] #11440 closed

[2020-05-15 09:53] faisquinha commented on #4362
Hello people,
Is it possible to return a json? Now an object returns.

#Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions
consumption_client = ConsumptionManagementClient(credentials, subscription_id, base_url=None)

results = consumption_client.usage_details.list(scope = '/subscriptions/' + subscription_id +'/', expand='properties/meterDetai

[2020-05-15 10:51] RodgeFu commented on #11149
We did some investigation and found that the current network package still include very old api-version. Add "Service Attention" label to include service team to confirm whether we still need to support all the api-versions, it will be helpful to reduce the size if some old api-version can be removed from the package. thanks.

[2020-05-15 14:56] annatisch commented on #9079
This appears to be related to how spans are handled in azure-core pageables.
There is ongoing discussion on the best approach to this topic.
@southpolesteve - no changes will need to introduced into azure-cosmos SDK for this for the time being. It's likely that if a fix is needed, that it will go into azure-core.

[2020-05-15 17:03] xiangyan99 opened #11462 "AttributeException in azure/core/pipeline/transport/_requests_basic.py"
line 140 in _requests_basic.py assumes that Pipeline.run() returns a RequestsTransportResponse, while it actually returns PipelineResponse. This throws an AttributeException and disables normal handling of retries.

[2020-05-15 17:27] yunhaoling commented on #9144
@Indy2222 @engebret , is there any update from your side?

[2020-05-15 18:25] lmazuel commented on #11422
@jeking3 could you try downgrading msrest to 0.6.12 or below? I wonder if its a regression introduced in 0.6.13

[2020-05-15 18:45] KieranBrantnerMagee opened #11465 "EventGrid - Sprint 1 - Ramp up for prototyping EventGrid Track2"
Rampup

- [ ] Familiarize Azure Concepts and tooling
- [ ] Familiarize with EventGrid utilization and their REST API
- [ ] Familiarize with CodeGen
- [ ] Familiarize with Azure Identity
- [ ] Familiarize with Azure Core
- [ ] Review existing SDKs and scenarios.

API Design

- [ ] (Stretch) Identify and enumerate hero scenarios

Deliverables

- [ ] A demo app that plumbs EventGrid together with blo

[2020-05-15 19:20] mayurid commented on #11358
@xiafu-msft and @amishra-dev  to help triage

[2020-05-15 19:20] mayurid commented on #11357
@xiafu-msft and @amishra-dev to help traige

[2020-05-15 21:27] sebastiaanzaaijer commented on #11028
Hi,

I just upgraded to azure-storage-blob==12.3.1 using pip and I still appear to have the issue. I also installed azure-core, azure-common and azure-storage-blob from master but that also didn't seem to help.

[2020-05-15 22:19] lmazuel commented on #11422
Hi @jeking3
Something I don't understand, why would you do that:

It seems you got `result._result` as a correct instance of VirtualMachineExtension already from create_or_update, meaning you didn't get an exception from `create_or_update` (which is what you title made me thing).

I don't deny there is a bug somewhere of course, I'm just challenging the title to be misleading a little, since to me

[2020-05-15 23:25] lmazuel commented on #11422
So, this happens because `from_string` has three extractors by default, you can't workaround the issue specifying the one you want to use:
[code]

`attribute_key_extractor` is the opposite part of `as_dict`, making it more deterministic.

I'm still unsure what is the best way to fix the issue, since it's deep inside the deserialization logic and any changes could update many MANY packages (there i

[2020-05-15 23:43] lmazuel commented on #11422
Hi @jeking3
I got a fix in PR, where instead of raise in case of duplicate, I apply extractors in order and precedence is most important. It means that the only change of behavior is when this exception was raised (the rest doesn't change). I added a log still.

[code]

Could you give it a shot?
https://github.com/Azure/msrest-for-python/pull/204

Thanks,

[2020-05-16 00:30] scbedd commented on #11421
@rakshith91 This does not repro for me using the same installed versions of `pylint` and dependent packages as CI has.

![image](https://user-images.githubusercontent.com/45376673/82105714-9a57d480-96d1-11ea-88b7-5fdce572448d.png)

I'm betting this is another instance of shifting dependencies identifying issues that we hadn't seen before.

Please repro the behavior, then run `pip freeze` and dump

[2020-05-16 01:00] scbedd commented on #11421
Thanks @rakshith91 !

Talked via Teams and got this:

[code]

[2020-05-16 01:09] scbedd commented on #10533
Picking this up Monday 5/18. #11421 is simply an instance of a new error from a newer version of `pylint`/`astroid`

[2020-05-16 01:09] scbedd commented on #11421
Closing in favor of #10533. I expect the new errors to be picked up after we bump the pinned CI versions.

[2020-05-16 01:09] #11421 closed

[2020-05-16 05:23] mkrdip opened #11476 "AKS Deployment Can't find model file but ACI and Local Deployments are fine"
- **azureml-core**:
- **1.5.0.post4**:
- **Ubuntu 16**:
- **3.7**:

**Describe the bug**
Aks Deployment doesn't download model files into the `outputs` folder, instead, it creates a single file `outputs`. So, when deployed the `init()` can't find the model files.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Local and ACI Deployment with a model that has multiple files
2. Create an

[2020-05-18 02:59] toddkitta opened #11478 "DataLakeFileClient.rename_file fails if there are spaces anywhere in the path."
- **Package Name**: azure-storage-file-datalake
- **Package Version**: 12.0.1
- **Operating System**: Windows 10 (18363.836)
- **Python Version**: 3.7.0

**Describe the bug**
When using DataLakeFileClient to rename a file with spaces in the path (file name or folder name), I get an error when calling rename_file. Error is:

"The source URI is invalid."

**To Reproduce**
Steps to reproduce the beha

[2020-05-18 08:08] K3UL commented on #9402
Actually I understand what you mean about the need to NOT re-establish connections too often (but still think it should be my choice), but I was more thinking about making it a longer timeout. In my case I get new messages after more than a minute almost always.

And tell me if I'm wrong, but service bus being charged per-operation and per-request, I could optimize our costing a little by having a

[2020-05-18 09:38] TheHunter896 opened #12203 "ContentDecodePolicy generates __new__() error"
**Using azure-storage-blob 12.3.1**

### Steps to reproduce
At some point in your code, __init__ or just in a plain file initialize a **BlobServiceClient** class with the classmethod **from_connection_string** with your own storage account connection string

Use then **get_container_client** to get your container client.

[code]
Run this, the output will be ->
[code]
The main issue:

[code]

[code

[2020-05-18 12:29] TadasBaltrusaitis opened #11492 "Access ShareClient using ClientSecretCredential"
Currently it is possible to access `azure.storage.blob.ContainerClient` using `azure.identity.ClientSecretCredential`. However, unless I am missing something, to access `azure.storage.fileshare.ShareClient` we need to provide an SAS token or an account key (which might be difficult to acquire).

It would be great if we could pass the same credentials that we use to access `ContainerClient` to acce

[2020-05-18 14:25] #11442 closed

[2020-05-18 15:33] Abhishekchechani commented on #11414
Hi @xiafu-msft ,
 Could you please update on the above issue.

[2020-05-18 16:26] #11323 closed

[2020-05-18 16:34] jeking3 commented on #11422
This fixes the issue I was seeing.  Seems like a pretty major change to reorder the deserializer preferences?

[2020-05-18 16:36] lmazuel commented on #9079
Tagging feature-request, since this is the regular behaviour for listing operation:
- The method call will return an iterator object and close the method span
- Iterating over this iterator will create span that are not sub-span

Talking with @johanste we could imagine using link instead, this needs more precise discussion.

[2020-05-18 17:12] lmazuel commented on #11422
It was not ordered before, we were trying all, and then, we were discarding None, and checking the remaining were all the same values. It's where your problem was, in this last scenario you get in a situation where the when we check all the extracted values are consistent, they are not and we raised an exception.
The new version will not raise an exception, but instead pick the first one in order

[2020-05-18 17:30] jeking3 commented on #11422
It fixed a test in the repository that was expecting an error, so I would agree with you.

[2020-05-18 17:54] #11297 closed

[2020-05-18 19:19] iMicknl opened #11503 "CustomVision - create_project throws AttributeError: 'str' object has no attribute 'signed_session'"
- **Package Name**: Custom Vision
- **Package Version**: 2.0.0
- **Operating System**: Linux
- **Python Version**: 3.6

**Describe the bug**
Creating a project via `create_project` does throw a `AttributeError: 'str' object has no attribute 'signed_session'`. This is solved when calling the `CustomVisionTrainingClient` with `ApiKeyCredentials`, however this is not documented as a breaking change o

[2020-05-18 19:24] kaerm commented on #11042
@maggiepint could you help send it to the right docs team?

[2020-05-18 19:31] iMicknl opened #11504 "CustomVision - CustomVisionTrainingClient can not be imported from azure.cognitiveservices.vision.customvision"
- **Package Name**: Custom Vision
- **Package Version**: 2.0.0
- **Operating System**: Linux
- **Python Version**: 3.6

**Describe the bug**
[azure-cognitiveservices-vision-customvision 2.0.0 on PyPi](https://pypi.org/project/azure-cognitiveservices-vision-customvision/) mentions:

[code]

**To Reproduce**
Steps to reproduce the behavior:
`from azure.cognitiveservices.vision.customvision import Cu

[2020-05-18 19:45] xiafu-msft commented on #11414
Hi @Abhishekchechani
Did you try to set the keyword argument **owner** when you call directory_client.set_access_control()
Let me know if setting owner doesn't work!

[2020-05-18 19:46] xiafu-msft commented on #11392
Hi @alanjcastonguay

Thanks for catching this, we will log this as a bug and fix it later!

[2020-05-18 20:22] #11126 closed

[2020-05-18 20:30] xiafu-msft commented on #11492
Hi @TadasBaltrusaitis

Thanks for reaching out. We will have a discussion with service side and see if they have plan to add AAD auth support!

[2020-05-18 20:53] xiafu-msft commented on #11457
@AlexeyRaga

Thanks for reaching out and sorry that you are having this issue.
May I know the size of the blob and the region your account is located?
Thanks for the info

[2020-05-18 20:56] xiafu-msft commented on #11437
Hi @AlexeyRaga

Thanks for reaching out! It looks like there is an similar issue you created in the repo, would you mind if we close one of these two(probably this one)?
https://github.com/Azure/azure-sdk-for-python/issues/11457

[2020-05-18 21:25] yunhaoling opened #11505 "[Service Bus] Configurable wait time for opening SessionReceiver using NEXT_AVAILABLE"
When SessionReceiver is created with session_id being NEXT_AVAILABLE and if there's no available session on the service side, after 60s (service side setting), a timeout exception would be returned from the service indicating no session available.

It would be nice to give customers the granular control of how long to wait for session receiver opening attempt before giving up.

Proposal for the AP

[2020-05-18 21:48] heaths opened #11506 "Search model renames"
There are a few more renames to make. But not just renames: the "V2" models should be collapsed with their v1 (no suffix, that is) counterparts and original `@odata.type` retained for round-tripping. When new ones are created, the "V2" equivalent should always be created because the v1s will cause the service to fail when using the new api-version.

Old name | New name | Notes
--- | --- | ---
Edge

[2020-05-18 21:55] heaths opened #11507 "Refactor SearchServiceClient into SearchIndexClient and SearchIndexerClient"
To avoid too many methods in `SearchServiceClient`, we will refactor it into two separate clients that group the functionality into index management, and skillsets (enrichments) management. Method names will retain their names they have today, like `CreateIndex`, `DeleteIndex`, `CreateDataSource`, `DeleteDataSource`, etc. This also means there should be the `GetServiceStatistics` like we should ha

[2020-05-18 22:01] bryevdv commented on #11507
@xiangyan99 Do you have a preference about https://github.com/Azure/azure-sdk-for-python/pull/11342 ? I have broken that PR in to very discrete commits it might be simpler for you to cherry pick the ones you want to keep, given this and other new rename changes in the original rename issue. What do you think?

[2020-05-18 22:07] yunhaoling commented on #9402
Hi @K3UL , We respect your thoughts on this and has internally started drafting API proposal for our latest library -- **azure-servicebus v7.0.0**.

However, I'm sorry to tell you that the change won't go into the old preview library v0.50, v0.50 is about to be deprecated.

Currently we're putting all our efforts into [azure-servicebus v7.0.0](https://pypi.org/project/azure-servicebus/7.0.0b2/) (c

[2020-05-18 22:08] heaths opened #11508 "Split searchindex.json and searchservice.json models and operations into separate namespaces"
Models and operations in searchindex.json shoud go into namespaces like so (adjusted for your language):

* Azure.Search.Documents (SearchClient, SearchClientOptions)
* Azure.Search.Documents.Models

Models and operations in searchservice.json should go into namespaces like so (adjusted for your language):

* Azure.Search.Documents.Indexes (SearchIndexClient, SearchIndexerClient)
* Azure.Search.Do

[2020-05-18 22:18] bryevdv commented on #11508
@xiangyan99 just noting that this is the current file system split:

* searchindex.json -> `azure.search.documents._index`
* searchservice.json  -> `azure.search.documents._service`

and then currently everything is brought up to the `azure.search.documents` level. This task should be a fairly straightforward rename of `azure.search.documents._service` to `azure.search.documents.indexes`

[2020-05-18 22:44] bryevdv opened #11509 "Consider mapping API for Search synonym maps"
Currently the methods to create or update synonym maps accepts lists of strings in [Apache SOLR format](https://docs.microsoft.com/en-us/rest/api/searchservice/create-synonym-map#apache-solr-synonym-format), eg:
[code]
The reasoning for this this is that in many "real world" usage scenarios synonyms will be specified in this format in files with hundred or thousands of lines. However, during the U

[2020-05-18 22:48] heaths commented on #11509
The SOLR format is more expressive than that. That only works for some cases. In actuality, the service team has asked that we not have specialized support for things like this that only work in examples anyway. In practice, devs will be specifying the content of large files of these aliases and other things SOLR can do. So, you need to have methods that take a string (the entire content, new line

[2020-05-18 22:49] bryevdv opened #11510 "Improvements to Search field helper for searchable fields"
Currently `SeachableField` helper accepts a type. However, this is not necessary, since only `edm.String` and `edm.Collection(edm.String)` may be searchable. Instead, `SeachableField` should accept a boolean flag for whether it is a collection or not:
[code]

cc @xiangyan99 @heaths

[2020-05-18 22:55] bryevdv opened #11511 "Search Field helper functions and edm types are not very discoverable"
UX study participants stated that it was not clear how they would have easily found search field helpers or information about the edm types except for the sample code.

IIRC in other languages the edm types are referred under a different enum or namespace related to "odata". Perhaps this is more commonly known.

cc @xiangyan99 @heaths

[2020-05-18 22:56] bryevdv commented on #11510
Thinking more, perhaps `SimpleField` should similarly get a `collection=true` boolean? UX study participants also seemed to have a hard time composing `edm.Collection` with other types (they were surprised it was a function, for one).

[2020-05-18 22:57] heaths commented on #11511
The type should actually be `SearchFieldDataType` - an enum-like structure with the option to pass one of those types to a function-like `Collection`, which makes it a string like "edm.Collection(edm.String)" (for a collection of string). See .NET for an example.

[2020-05-18 23:03] bryevdv commented on #11509
But there will be some people who will actually have simple cases, and wouldn't start with wanting to read a file. Are you saying we should go out of our way to make life more difficult for them?

[2020-05-18 23:08] bryevdv commented on #11509
BTW:

In that case the REST API docs are very confusing on this point, because the link to them I gave above states "The Apache Solr format supports ***equivalent and explicit synonym mappings***" and only mentions directly shows these two possibilities, not any others.

[2020-05-18 23:21] xiangyan99 commented on #11507
Either one works.

[2020-05-18 23:22] bryevdv opened #11513 "Reconsider use of "string pointers" in the Search API"
Currently to specify a synonym map, one is created with a name, e.g. "test-syn-map":
[code]
and then later this name this passed to a `SearchableField`
[code]

This was confusing to some US study paticipants. It was not obvious that a parameter called `synonym_map` expected a string synonym map *name*. There are two potential ways to improve this:

### change the parameter name
Changing to `synony

[2020-05-18 23:26] bryevdv opened #11514 "Search Synonym Map creation should return a model"
Following the experience with Cosmos SDK, the early methods such as synonym maps creation were made to return dicts, not models. However from the UX study it is clear that returning a model would be preferable, e.g. so that `syn_map.name` is easily discoverable.

cc @xiangyan99  @heaths

[2020-05-18 23:29] lmazuel commented on #11422
Fixed part of msrest 0.6.14
https://pypi.org/project/msrest/0.6.14/

Could you confirm before I close the issue?

[2020-05-18 23:32] bryevdv opened #11515 "Better name for Search Indexer DataSource"
Currently to create a `SearchIndexer` you must first create a `DataSource` that desribes a connection to some external data source to be indexed (e.g. data in Azure blob storage). Nearly every UX study participant was confused by this, and thought e.g. that the `DataSource` object *was* somehow the external data source (rather than a description of if) or that blob storage clients could be passed

[2020-05-18 23:38] #11130 closed

[2020-05-18 23:41] brjohnstmsft commented on #11515
FWIW I like `DataSourceConnection`. Adding @bleroy for his opinion.

[2020-05-18 23:50] bryevdv commented on #11345
The participants got a custom README

[2020-05-18 23:50] #11345 closed

[2020-05-19 00:36] lmazuel commented on #11422
Re-opening, since I want manual confirmation and Github closed it

[2020-05-19 01:04] AlexeyRaga commented on #11457
@xiafu-msft Hi, the size seems to be irrelevant (I tested on files that are from ~200B to ~30KB).
I think the problem here is in HTTP headers: metadata is sent via the headers, headers are not validated/cleaned by the API which causes the problem.

I am testing in `East Australia` region.

[2020-05-19 01:07] AlexeyRaga commented on #11437
@xiafu-msft I am not sure if it is the same issue one or not. #11457 is about the metadata.
In this case I don't set _any_ metadata and am just uploading the file (~40KB).

#11457 crashes by timeout after ~90 seconds while this one doesn't seem to crash even after many minutes of wait.

It looks like a different issue.

[2020-05-19 02:04] #9715 closed

[2020-05-19 02:09] ramaganesan-rg commented on #7338
This is already fixed. Please feel free to validate if this issue persists and reopen as needed.

[2020-05-19 02:09] #7338 closed

[2020-05-19 03:21] Abhishekchechani commented on #11414
HI @xiafu-msft

There is two way to connect ADLS GEN2 storage account.

1)storage_account_key - We have generated the account SAS key and try to connect and it allow us to connect the storage account and also able to create the Directory and file  but the issue is file and directory owner come as $superuser and group is "8922472JHJD***98"(Service principal).
And when we try to change the owner get

[2020-05-19 06:14] #10962 closed

[2020-05-19 08:12] K3UL commented on #9402
Hi @yunhaoling,
That is fine by me, I try to get rid of the legacy SDK as much as I can actually. I only use the old one for subscriptions management, but one of your colleagues told me you have a new management SDK brewingm that will be a little less "intrusive" on the credentials needed :)

Thank you for your time and for adding this issue on v7 ! I'll be watching out for it

[2020-05-19 08:12] #9402 closed

[2020-05-19 10:01] deeagar commented on #6776
@neerajmangal - I have a follow up question for the exact same issue in this thread.
Even if you use AutoLockRenew.register() method in python which takes care of automatically renewing the lock for you - in case the `renewable.renew_lock()` throws an exception if message lock expired, it fails silently and it doesn't give

The parent thread which is still executing business logic keeps on executi

[2020-05-19 17:03] jlichwa commented on #11159
We had a defect. That issue should be fixed right now. @chlowell  can you try again?

[2020-05-19 18:10] heaths commented on #11344
To note, the only list operation that should be pageable is listing indexes. The others should just return a list of objects. For a pageable of indexes, just have the nextLink effectively be None.

[2020-05-19 18:19] heaths commented on #11515
I like "connection", although, that should be `SearchIndexerDataSourceConnection` given the naming convention we already established.

[2020-05-19 18:27] heaths commented on #11513
It would be harder for typed languages without unions (ahem, C#, I'm looking at you) to accept a string name or object, but this could be a place where other languages can do both. I do like the simplicity of  `synonym_map_name`, though. @bleroy , thoughs?

[2020-05-19 18:29] heaths commented on #11510
We could do that. The `ODataType.Collection` also acts like a function in other languages, but while we could still allow that, the parallel to have `collection=True` is nice. @brjohnstmsft and @bleroy, thoughts?

[2020-05-19 18:31] heaths commented on #11509
Even if Search only supports those two mappings, the ask from @brjohnstmsft was not to have something that only works for samples, i.e. the list of strings or a map. Practically, these would never be used as developers are importing thousands of them from a file, hence only a single string `synonyms` or a buffer representing a file.

[2020-05-19 18:43] bryevdv commented on #11344
Right, the issue is that the swagger generated code has been changed to return an async iterator, that the following (current) code stopped working without the above readme transform:
[code]
I guess the full list of options is:
* change the swagger back to not be pageable
* keep a readme transform
* explicitly consume the async iterator in `list_synonym_maps` (with or without and azure core hook t

[2020-05-19 19:12] heaths commented on #11344
I'm not sure whether it was intentional. @brjohnstmsft?

[2020-05-19 19:13] engebret commented on #9144
Hi @yunhaoling - we have been running on that 0.50.3b1 update you previously provided & it has been working for our cases in test.  When I last commented on this issue we observed a similar failure mode, but I now suspect one system had not been updated with this patch properly.  I will let you know if we see anything fail, and look forward to getting the official fix release.

[2020-05-19 20:07] #11298 closed

[2020-05-19 20:22] #11436 closed

[2020-05-19 20:55] kristapratico opened #11530 "[formrecognizer] Update async methods to return AsyncLROPoller and support continuation token"
Currently waiting on:
1. PR for azure-core: https://github.com/Azure/azure-sdk-for-python/pull/10801
2. Work from autorest to support this, which is pending.

This will allow us to return `AsyncLROPoller` for our async methods and support continuation tokens. Because of the change in return type we will do a re-naming to align with other languages (feel free to spin-off on a different issue):

* s

[2020-05-19 22:56] #3765 closed

[2020-05-19 23:00] kristapratico commented on #11273
Moving to backlog because I cannot reproduce this locally and it's been awhile since we have had this particular error in CI

[2020-05-20 00:35] sandeepkv93 opened #11536 "Support new Azure Compute API "SimulateEviction" for both Standalone VM and VMSS VM via Python SDK"
**Is your feature request related to a problem? Please describe.**
We released new API "SimulateEviction" in Azure Compute. We want Python SDK support for it. There are two APIs with the same API name. One for Standalone VM and another for VMScaleSet VM.

https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/simulateeviction
https://docs.microsoft.com/en-us/rest/api/compute/virtualmach

[2020-05-20 00:47] yunhaoling opened #11538 "[ServiceBus] Track 2 - Dead Letter doesn't set description and reason properly"
PR out: https://github.com/Azure/azure-sdk-for-python/pull/11535
waiting for the DLQ support to update livetest

[2020-05-20 03:22] Abhishekchechani commented on #11414
@xiafu-msft : when I authenticate through Storage key and use set_access_control, getting the Authorization mismatch error.

[2020-05-20 03:47] yunhaoling commented on #9306
Investigation: There is almost no difference in sync and async mgmt request implementation in uamqp. From the code I would even conclude that what happens to the async one would happen to the sync one as well.

So probably the most efficient way to handle corner case I'm thinking of is to add checking in EH/SB library unless we can stably reproduce the issue.

------ ref

mgmt request sync impl:
h

[2020-05-20 03:47] #9306 closed

[2020-05-20 04:02] brjohnstmsft commented on #11344
The only pageable API in the Swagger is List Indexes, as we had previously agreed:

https://github.com/Azure/azure-rest-api-specs/blob/be0569400241b7849182f4d26932a0fb0d6c53ab/specification/search/data-plane/Azure.Search/preview/2019-05-06-preview/searchservice.json#L1298

[2020-05-20 04:07] brjohnstmsft commented on #11509
Per the guidelines, we should do what's idiomatic for the language, while balancing that with real-world usage. This observation is key:

@bryevdv I think that's a fine reason for Python to be different and accept a list of strings, if that's more idiomatic. Accepting a dict really would be optimizing for samples though, as @heaths mentioned.

[2020-05-20 04:09] brjohnstmsft commented on #11510
Our type system is relatively simple today, but what if in the future we add something weird like unions? The nice thing about modeling type composition with functions is that it's trivially extensible without breaking backwards compatibility. Boolean flags, not so much.

[2020-05-20 04:10] heaths commented on #11509
Taking an `IEnumerable<string>` is common for .NET. Per our discussion, you said it's not common outside of samples to take a list of strings because, typically, devs are importing large files of synonyms. Is this okay to define something easier for demonstrating samples then?

[2020-05-20 06:02] xiafu-msft commented on #11414
Hi @Abhishekchechani
Thanks for the details!
When use storage_account_key as credential to set owner, you should make sure the service principal is assigned the proper role.
Please try to go into your storage account > IAM > Add role STORAGE BLOB DATA CONTRIBUTOR for that service principal.
It will take a while like 15min for everything get populated. Then you should be able to set owner to servic

[2020-05-20 07:59] TiunovNN opened #11543 "Deadlock when getting a token in asynchronous mode"
- **Package Name**: azure-core
- **Package Version**: 1.5.0
- **Operating System**: Ubuntu 14/18/20
- **Python Version**: 3.6.5, 3.8.2

**Describe the bug**
I've faced a deadlock when trying to get access to several blobs.

**To Reproduce**
Code:
[code]
1. Run this script
2. It got frozen.

**Expected behavior**
The script must work correctly.

**Additional context**
Traceback after killing of the

[2020-05-20 11:58] jiasli opened #11546 "[Identity] UsernamePasswordCredential should expose authenticate method which returns AuthenticationRecord"
`UsernamePasswordCredential` should expose `authenticate` method which returns `AuthenticationRecord`.

Otherwise when **username+password** is used as the authentication method, Azure CLI **can't persist user's auth record and utilize refresh tokens stored in MSAL cache**. In such case, Azure CLI will have to **save user's password** by itself, which is absolutely not a good idea from a security

[2020-05-20 12:44] robwe opened #11548 "DefaultAzureCredential does not work for exclude_interactive_browser_credential = False"
- **Package Name**: identity
- **Package Version**: 1.4.0b4
- **Operating System**:
- **Python Version**:

**Describe the bug**
When DefaultAzureCredential is created with exclude_interactive_browser_credential = False then an InteractiveBrowserCredential is created with no arguments. This means that it defaults to the "organizations" tenant, because that is what MsalCredential uses, if "tenant_id

[2020-05-20 12:51] robwe opened #11549 "SharedTokenCacheCredential defaults to the "common" tenant without the option to change that"
- **Package Name**: identity
- **Package Version**: 1.4.0b4
- **Operating System**:
- **Python Version**: 3.7

**Describe the bug**
In SharedTokenCacheCredential _get_auth_client() creates an AadClient with tenant_id="common". All subsequent calls to get_token() will use this tenant, which might not be the tenant for which the token should be obtained. Hence SharedTokenCacheCredential is unusable

[2020-05-20 12:58] robwe opened #11550 "SharedTokenCacheBase does not handle multiple accounts for the same refresh token correctly"
- **Package Name**: identity
- **Package Version**: 1.4.0b4
- **Operating System**:
- **Python Version**: 3.7

**Describe the bug**
I am using the latest version (16.5.5) of Visual Studio 2019. My cache contains four accounts for the same username, but different tenants. Hence, in _get_accounts_having_matching_refresh_tokens() of the SharedTokenCacheBase class, all_accounts has four elements, all

[2020-05-20 13:04] robwe opened #11551 "_filtered_accounts in shared_token_cache.py does not filter accounts by tenant correctly"
- **Package Name**: identity
- **Package Version**: 1.4.0b4
- **Operating System**:
- **Python Version**: 3.7

**Describe the bug**
I am using the latest version (16.5.5) of Visual Studio 2019. The _filtered_accounts() function of SharedTokenCacheBase assumes, that that the second part of the home_account_id of an account consist of the tenant id. At least in the cache used by VS 2019, located at

[2020-05-20 15:01] #11299 closed

[2020-05-20 15:04] chlowell commented on #11546
Duplicate of #11449

[2020-05-20 15:04] #11546 closed

[2020-05-20 15:39] #11241 closed

[2020-05-20 15:44] #10485 closed

[2020-05-20 15:47] chlowell opened #11553 "SharedTokenCacheCredential.get_token() should raise ValueError"
Today it raises `ClientAuthenticationError` because the method is decorated with `wrap_exceptions`. The purpose of that decorator is to prevent leaking exceptions from `msal`. This can be achieved in a more focused manner, allowing the method to raise the more appropriate `ValueError` when called with no scopes.

[2020-05-20 16:44] chlowell commented on #11159
Thank you, I see it's been fixed.

[2020-05-20 16:44] #11159 closed

[2020-05-20 17:06] bryevdv commented on #11344
Sorry I was recalling the "listize" part but mis-recalling the exact context. It was indeed the list index function that caused the issue with a  very similar call to a `listize_flags_for_index` on the returned results. In which case the original suggestion to use a (future) azure core async iterator hook seems like the way to go.

[2020-05-20 17:12] kaerm commented on #11536
Thanks @sandeepkv93, @nickzhums could you take a look at this

[2020-05-20 17:15] kaerm commented on #11543
Thanks @TiunovNN for reporting this! Tagging the right folks to take a look at this: @lmazuel @xiangyan99

[2020-05-20 17:17] kaerm commented on #11549
Thanks @robwe for reporting this, @chlowell could you take a look at this

[2020-05-20 17:17] chlowell commented on #11548
Thanks for reporting this! I think a fix can make it into our next release.

[2020-05-20 17:19] kaerm commented on #11550
Thanks @robwe for reporting this, @chlowell could you take a look at this

[2020-05-20 17:21] kaerm commented on #11551
Thanks @robwe for reporting this, @chlowell could you take a look at this

[2020-05-20 17:36] lmazuel opened #11556 "Autorest job fails since autorest tests are adapted to msrest 0.6.14"
Since msrest 0.6.14 requires a slight change of autorest tests, right now the job pulls the latest autorest tests but pin msrest to 0.6.13, which broke them

[code]

We need to pin to 0.6.14, or at least install 0.6.14, or not pin at all (I guess I like >=0.6.14 here)

[2020-05-20 17:50] scbedd commented on #11556
@lmazuel Going to keep it consistent and still keep it pinned. We will keep circling back about once a month and update these. The version updates I'm doing here match the versions I'm working through on another PR that will bump the deps that have updated.

[2020-05-20 17:51] #11449 closed

[2020-05-20 18:02] bryevdv commented on #10860
@heaths @xiangyan99  I have edited the table in the OP

[2020-05-20 18:13] chlowell commented on #11551
In short, this is by design. Is the credential not working as you expect when you provide a tenant ID?

Longer explanation: the second part of `home_account_id` is a tenant ID, specifically that of the user's home tenant. An account's `realm` is the ID of the tenant in which the user authenticated. These two IDs differ when a user authenticates in a foreign tenant. `SharedTokenCacheCredential` use

[2020-05-20 18:39] chlowell commented on #11550
This is deliberate. Refresh tokens are tenant-independent, and in the cache are joined to accounts on `home_account_id`. So from the perspective of `SharedTokenCacheCredential`, which is searching for a refresh token by way of an account, four accounts with the same `home_account_id` are identical.

Can you be more specific about what you mean by the credential not working for a user with multiple

[2020-05-20 18:48] chlowell commented on #11549
"common" isn't a tenant; it multiplexes across all Azure AD tenants (see e.g. this [Azure AD documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant#update-your-code-to-send-requests-to-common)) and can service token requests for a user from any tenant.

Can you be more specific about the scenario in which the credential doesn't work as y

[2020-05-20 21:04] heaths commented on #11510
We had previously decided on `collection=true` in other languages, since `ComplexField` can only be complex or collection(complex), and searchable can only be string or collection(string). Are you suggesting we not use the `collection` property there, or just in this case (for consistency)?

[2020-05-20 21:34] brjohnstmsft commented on #11510
Just in the case of `SimpleField`

[2020-05-20 21:38] heaths opened #11565 "More Search renames"
Based on UX studies, please make the following changes as well:

Old name | New name | Notes
--- | --- | ---
SearchIndexerDataSource | SearchIndexerDataSourceConnection
SearchField.SynonymMaps | SearchField.SynonymMapNames | For dynamic languages with union support, you could instead accept either a string or object and, if an object that is a SynonymMap, extract it's name. But it's not always pra

[2020-05-20 22:29] heaths commented on #11510
Fair enough. Let's leave the `ODataType.Collection()` function-like construct we have in other languages currently.

[2020-05-20 22:31] YijunXieMS opened #11568 "msrest deserialization doesn't read object-typed attributes when xml namespace is present"
- **Package Name**: msrest
- **Package Version**:
- **Operating System**: Windows
- **Python Version**: 3.7

**Describe the bug**
object-typed attributes is `None` when deserializing an xml with a namespace into a Model object

**To Reproduce**
Steps to reproduce the behavior:
Run the following code that serialize and then deserialize to restore the object. "author" becomes `None`. Debugging shows

[2020-05-20 22:59] #10976 closed

[2020-05-21 01:26] nickzhums commented on #11536
@RodgeFu please help have a look

[2020-05-21 01:46] yunhaoling commented on #9242
Hi @MichaelWeedon , apologize for the late response. We've released azure-servicebus v0.50.3 today which should have the issue addressed. Please update the library.

One thing I want to note is that v0.50.3 would be our final release for v0.50.

The good news is you can try using our latest preview library, we're putting all our efforts into [azure-servicebus v7.0.0](https://pypi.org/project/azure

[2020-05-21 01:46] #9242 closed

[2020-05-21 02:06] yunhaoling commented on #9144
hey @Indy2222 @engebret , we've released azure-servicebus v0.50.3 today which brings the fix for keeping receiver link alive when renewing locks. I hope this would have the issue resolved. Please update your library dependency.

---

The important thing worth your attention here is that v0.50.3 would be our final release for v0.50 -- it is about to be deprecated.

We're shipping a brand-new [azure

[2020-05-21 02:06] #9144 closed

[2020-05-21 02:56] praaadip commented on #8557
I am facing the same issue , while trying to run a container as an executable. deployed in a virtual network,  it needs to access vault using system assigned identity.

My code usually runs 3-5 minutes and work's fine if i use a service principle by passing AZURE_CLIENT_ID,AZURE_CLIENT_SECRET,AZURE_TENANT_ID as environment variables.

I want to use managed identities to avoid passing environment v

[2020-05-21 09:21] tompauwaert opened #11577 "Uploading file to blob where blob-name contains '\x01\x05' fails."
- **Package Name**: azure-storage-blob
- **Package Version**: 12.3.1
- **Operating System**: macOS High Sierra Version 10.13.6
- **Python Version**: 3.7.7

**Describe the bug**
Uploading a file which has "\x01\x05" in the filename fails.
This occurs when using BlobClient.upload_blob() as well when using the storage explorer to upload a directory containing such files. Each file with such a path fa

[2020-05-21 11:25] RodgeFu commented on #11504
An issue in changelog tool to generate the doc? + @lmazuel to confirm. thanks.

[2020-05-21 11:30] antoncyrol commented on #8557
@praaadip: You are facing a different (additional) issue, that is why the sleep alone does not help:

As you can read in the [docs](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-virtual-network-concepts) in the other limitations section,

you cannot use managed identities in combination with virtual networks. I was told this is about to change, but cannot provide y

[2020-05-21 12:32] MichaelWeedon commented on #9242
@yunhaoling, Thanks for the update.  I tried the 7.0.0b2 using the newer api/examples and the same problem occurs - Users Errors in the portal.  I see there is a comment in the sample code disclaiming there maybe user errors in the portal.  I've attempted to find an async method for processing service bus messages without such errors, but have found no way to re-engineer the code to eliminate this

[2020-05-21 12:55] vikramadhav commented on #6888
Above soultion still fails if ResourceExistsError exception thrown , Any work around for that ?

[2020-05-21 12:57] zikalino commented on #11504
@RodgeFu this is not an issue with the tool. Currently we use template for general breaking changes and modify it manually to suit particular release (client names etc.). So yes, it's error prone...
Perhaps general breaking changes should be automatically generated by changelog tool as well.

The proper string in this case should be:

•	CustomVisionPredictionClient cannot be imported from azure.co

[2020-05-21 14:15] annatisch opened #11580 "[Tables] Set up Tables test suite"
Start moving the test suite ported from the previous SDK:
https://github.com/Azure/azure-cosmos-table-python/tree/master/azure-cosmosdb-table/tests

[2020-05-21 15:57] RodgeFu commented on #5957
Close old issues without update for 3+ month. Feel free to reopen if needed. thanks.

[2020-05-21 15:57] #5957 closed

[2020-05-21 16:08] RodgeFu commented on #7065
@scopatz, this package has been deprecated and please use the service specific Python package. detail can be found at https://pypi.org/project/azure/ . thanks.

Close old issue without update for 3+ months. Feel free to repoen if needed. thanks.

[2020-05-21 16:08] #7065 closed

[2020-05-21 16:28] lmazuel commented on #11503
Hi @iMicknl
I agree documentation should be updated. That being said, what you described is not a breaking change, this SDK required since day 1 `ApiKeyCredentials` as credentials type (we can see it already in the outdated samples you mention).

Could you rename your issue to be more accurate, about updating samples and documentations?

Thanks!

[2020-05-21 17:07] xiangyan99 commented on #11507
Fixed in #11572

[2020-05-21 17:07] #11507 closed

[2020-05-21 17:46] praaadip commented on #8557
Thank you.  i was in an assumption that 90 seconds is not enough and totally missed to check the limitations.

[2020-05-21 17:53] xiangyan99 opened #11583 "Nightly regression run for azure core fails"
The newly released uamqp breaks latest released eventhub which breaks nightly regression run for azure.core

[2020-05-21 18:15] chlowell opened #11585 "Build AuthenticationRecord from id token when client_info unavailable"
ADFS doesn't return `client_info` in authentication responses, so we'll need to follow MSAL's lead and get the data we need from an id token instead: https://github.com/AzureAD/microsoft-authentication-library-for-python/blob/1.3.0/msal/token_cache.py#L142-L144

[2020-05-21 18:19] MichaelWeedon commented on #9242
My apologies for the previous response (deleted).
This is working correctly in 0.50.3 - Thanks!

[2020-05-21 18:42] KieranBrantnerMagee commented on #7079
Just wanted to mention that we've officially released ServiceBus 0.50.3 which contains the aformentioned fixes for the long-term service side connection disconnect.

I would hope between this and the aformentioned call patterns the issues here are mitigated; if there's any recurrence of this or further questions don't hesitate to reopen and/or reach out.

[2020-05-21 18:42] #7079 closed

[2020-05-21 18:52] Drewm3 commented on #11104
@philippemnoel, could you let us know if using the suggested DSC Extension resolved your question?

[2020-05-21 18:56] philippemnoel commented on #11104
It did not. We had to setup WinRM via azure VM template and use remote-powershell

[2020-05-21 18:56] #11104 closed

[2020-05-21 19:28] yunhaoling opened #11588 "[uAMQP] Integrate regression test of uAMQP within CI"
It would be great if uAMQP livetest pipeline can trigger EH/SB livetest pipleline with the built whl files.

Regression test uAMQP requires using the generated uAMQP whl files to
- EventHub livetests
- ServiceBus livetests

uAMQP has its own [client build pipeline](https://dev.azure.com/azure-sdk/internal/_build?definitionId=88)  and repo is here: https://github.com/Azure/azure-uamqp-python

gener

[2020-05-21 19:39] xiangyan99 commented on #11508
Fixed in #11584

[2020-05-21 19:39] #11508 closed

[2020-05-21 20:45] lmazuel commented on #11422
Closing the issue after a few days since I strongly believed this is fixed, feel free to create a new issue if necessary. Thanks!

[2020-05-21 20:45] #11422 closed

[2020-05-21 21:46] chlowell commented on #11543
Thanks again for reporting this. I opened a PR to fix it.

@xiafu-msft, it's interesting we haven't seen this deadlock in our tests. It appears the storage test suite doesn't cover concurrent operations similar to the snippet above?

[2020-05-21 21:56] #11556 closed

[2020-05-21 22:40] mockodin opened #11593 "list_blobs is slow when paging through large containers"
list_blobs is slow when paging through a container containing millions of blobs where prefix filtering is not viable (millions of guids). Scanning a container of ~70M objects takes 8-12 hours.

Iterating a container for blob properties should allow for concurrent page calls. This should be either internally controlled/throttled (similar in concept to threaded azcopy downloads) or by providing cont

[2020-05-21 23:22] #11515 closed

[2020-05-21 23:24] bryevdv opened #11595 "Add a hook to transform items returned by async paged iterators"
This is needed to complete https://github.com/Azure/azure-sdk-for-python/issues/11344 where the async paged index returns need to have a function called on each item:

https://github.com/Azure/azure-sdk-for-python/blob/2598959164c9d1e87f20060e8ca76ec563d180d6/sdk/search/azure-search-documents/azure/search/documents/_service/aio/_indexes_client.py#L77-L78

cc @lmazuel @xiangyan99

[2020-05-21 23:25] heaths commented on #11515
I opened #11565 which includes this (similar bugs opened across other languages).

[2020-05-21 23:52] robwe commented on #11551
My Microsoft account "myEmail" is also a User of three Azure Active Directories with three different tenant ids (guid5, guid6, guid7). In the Subscription of the tenant with id guid5 there is a Key Vault with an Access Policy for my user "myEmail". I want to get a secret from that vault. Here is my code:
[code]
When I run it, I get the exception:

The file %LocalAppData%\.IdentityService\V2Account

[2020-05-21 23:57] robwe commented on #11549
Lease see my [comment on issue 11551](https://github.com/Azure/azure-sdk-for-python/issues/11551#issuecomment-632403017) about the scenario that does not work for me.

[2020-05-21 23:57] robwe commented on #11550
Lease see my [comment on issue 11551](https://github.com/Azure/azure-sdk-for-python/issues/11551#issuecomment-632403017) about the scenario that does not work for me.

[2020-05-22 00:15] bryevdv commented on #11595
Looks like the existing `cls` parameter could be used for this.

[2020-05-22 00:15] #11595 closed

[2020-05-22 18:29] xiangyan99 commented on #11514
Fixed in #11590

[2020-05-22 18:29] #11514 closed

[2020-05-22 23:41] xiangyan99 commented on #10860
Fixed

[2020-05-22 23:41] #10860 closed

[2020-05-23 04:53] zikalino commented on #11536
@sandeepkv93 please request release of the new package via: https://portal.azure-devex-tools.com/tools/request-api-release

[2020-05-23 06:11] RodgeFu commented on #8662
assign to @changlong-liu who is working on an improvement to reduce the breaking change of python SDK. @kapilt, thanks for reporting the issue and sorry for the troubles. Could you help to provide the packages you are using so that we can look into them and talk with service team to see how we can mitigate the issue. thanks.

[2020-05-23 06:22] RodgeFu commented on #8907
python SDK didn't manipulate the json content. add "Service Attention" label for service team to double confirm the behavior difference from portal and SDK (which is a pass-through from restful call). thanks.

[2020-05-23 06:30] RodgeFu commented on #7416
the response content and code is determined by service team and the defined swagger. Add "Service Attention" label to include service team to comment on the proper response expected. thanks.

[2020-05-23 06:44] RodgeFu commented on #9832
Got a thumb-up from davidemiceli :),  so assume the issue is fixed and close this one to clean up our issues. Feel free to reopen if needed. thanks.

[2020-05-23 06:44] #9832 closed

[2020-05-23 06:47] RodgeFu commented on #9526
@lmazuel for codegen issue. thanks.

[2020-05-23 06:49] RodgeFu commented on #9499
No update for 2+ month with solution provided, so close this one to clean up our issues. Feel free to reopen if needed. thanks.

[2020-05-23 06:49] #9499 closed

[2020-05-23 06:55] tirkarthi commented on #9526
pyupgrade automatically fixes these warnings : https://github.com/asottile/pyupgrade/

[2020-05-23 12:22] deeagar opened #11611 "Duplicate message to subscribers even using AutoLockRenew"
I am using AutoLockRenew class register method after receiving message from azure service bus topic subscription using azure sdk for python.

Even if you use AutoLockRenew.register() method in python which takes care of automatically renewing the lock for you - in case the renewable.renew_lock() throws an exception if message lock expired, it fails silently!

The parent thread which is still execu

[2020-05-23 18:41] lmy269 commented on #8907
@shawnxzq to take a look

[2020-05-25 08:48] estensen commented on #10595
Sometimes you don't get all the release notes, which is confusing.
For [azure-cosmos_4.0.0](https://github.com/Azure/azure-sdk-for-python/releases/tag/azure-cosmos_4.0.0) I expected there to be a breaking change since this is a major version update, but there are none in the release notes.

I don't know what's the best practice on this, but maybe include the changelog from the beta versions too? T

[2020-05-25 08:56] estensen opened #11623 "Package tag per package"
I would love to have tags for each package so you can list all the releases of a specific package

Trying to find all the releases is [time consuming](https://github.com/Azure/azure-sdk-for-python/issues/10595#issuecomment-633458327) since GitHub only shows [10 releases per page](https://github.com/Azure/azure-sdk-for-python/releases) and there are so many packages in this repo

Today packages are

[2020-05-25 09:34] toelli-msft opened #11624 "Outdated links to old "azure" package in READMEs"
The README files for the individual packages contain references to the old "azure" package, like

For example, https://github.com/Azure/azure-sdk-for-python/blob/7a432a8240d7dd5766f7fd2cdb2e778a3308b11e/sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/README.md

However, the ["azure" package](https://pypi.org/project/azure/) says

so it looks like the individual packages' READMEs are

[2020-05-25 12:16] iMicknl commented on #11503
@lmazuel Thanks! I am not sure if I fully understand what you mean. The `ApiKeyCredentials` is not mentioned in the two samples I mention, I have added the specific samples below again.

Does this mean that both examples are not using the correct approach? Or is this a breaking change after all? :-)

https://github.com/MicrosoftDocs/azure-docs/commit/c26516ce1e42e2a7a6d0fb151cf31c8ccefcaf17#diff-3

[2020-05-25 15:33] cladic opened #11625 "Help me to convert "az login" to the equivalent API"
Which is the API version equivalent of the execution of command line "AZ login -u user -p password" ?

[2020-05-26 06:27] 00Kai0 opened #11627 "CheckPrivateLinkServiceVisibility api in network has changed"
[code]
This  [checkPrivateLinkServiceVisibility api](https://docs.microsoft.com/en-us/rest/api/virtualnetwork/privatelinkservices/checkprivatelinkservicevisibility) returned an unexcepted code 202. I think it has been change to a LRO method, but hasn't been updated in swagger.

[2020-05-26 06:28] 00Kai0 commented on #11627
#11601

[2020-05-26 13:11] #11300 closed

[2020-05-26 16:04] lmazuel commented on #11627
That should be a critical bug fix in Swagger, not something you workaround here, just my two cents. CC @RodgeFu

[2020-05-26 16:07] RodgeFu commented on #11627
+1, let's wait for network team to confirm the behavior change and work with them to fix the swagger. thanks.

[2020-05-26 16:18] lmazuel commented on #11625
Hi @cladic
I'm not sure I understand the details of your question, being it's authentication, maybe this page would be useful?
https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-authenticate?tabs=bash

Thanks,

[2020-05-26 16:26] lmazuel commented on #11624
Hi @toelli-msft

We changed our template and new packages does not refer to it anymore. However, every packages we didn't release since the change are still mentioning it, they will slowly auto-update as releases comes. We do not plan a massive repo change, since the content is actually the one of the latest release of PyPI.

Does that solve your question?

[2020-05-26 16:28] lmazuel commented on #11623
Hi @estensen

As you say, we tag with the format "package_version", for example "azure-keyvault_4.1.0" so I'm not sure you would want different? Could you give an actual example?
Thank you,

[2020-05-26 17:24] estensen commented on #11623
If you could tag with `azure-keyvault` in addition to `azure-keyvault_4.1.0` it would be possible to list all versions of `azure-keyvault` instead of manually going through the list to find all the versions.

[2020-05-26 17:36] xiangyan99 commented on #11511
Fixed in #11597

[2020-05-26 17:36] #11511 closed

[2020-05-26 17:52] kristapratico commented on #10453
Should be fixed in #11586

[2020-05-26 17:52] #10453 closed

[2020-05-26 19:29] toelli-msft commented on #11624
OK, thanks!

[2020-05-26 19:59] MS-syh2qs commented on #10927
@sopeal, Would it be possible to see how you instantiated the ComputeManagementClient?

[2020-05-26 20:00] cladic commented on #11625
Thanks for your attention... I will be more specific.

I have a routine to get information from AZURE...so i use 'az login -u myuser -p mypassword' and next I execute the next command like = az monitor log-analytics query -w (my GUID) --analytics-query "AzureDiagnostics | where TimeGenerated > ago(1d) | summarize count() by Category"

So I want to write a Python program equivalent these commands..

[2020-05-26 20:40] BenMatase opened #11634 "get_effective_route_table is misleading"
**Is your feature request related to a problem? Please describe.**
When looking through the documentation [here](https://docs.microsoft.com/en-us/python/api/azure-mgmt-network/azure.mgmt.network.v2020_04_01.operations.networkinterfacesoperations?view=azure-python#get-effective-route-table-resource-group-name--network-interface-name--custom-headers-none--raw-false--polling-true----operation-config-

[2020-05-26 21:01] #3692 closed

[2020-05-26 21:03] yunhaoling commented on #11235
Closing the issue as all the issue have been addressed and the final track1 release [0.50.3](https://pypi.org/project/azure-servicebus/0.50.3/) is out.

[2020-05-26 21:03] #11235 closed

[2020-05-26 21:08] KieranBrantnerMagee commented on #11611
Hey @deeagar, thanks for letting me pull you over here to continue the conversation, and again for coming to us with your question/your patience thus far.
Echoing my response from SO here with some verbosity (Due to lack of character limit)

You're correct that the purpose of locking is to prevent another subscriber from taking it, the subtlety here is that the lock _has_ been lost, it's just not

[2020-05-26 21:47] #11344 closed

[2020-05-26 21:54] chlowell opened #11636 "SharedTokenCacheCredential cache updates"
- [ ] load the cache on Linux and macOS
- [ ] add `allow_unencrypted_cache`
- [ ] write acquired tokens to the cache

[2020-05-26 22:03] cladic commented on #11625
I closed  the issue for mistake....Now it is opened again !

[2020-05-27 01:34] scbedd commented on #11583
Resolved with [this commit.](https://github.com/Azure/azure-sdk-for-python/commit/c05cec2bfaefa68310e9be8be2135eb94eb4bde8)

[2020-05-27 01:34] #11583 closed

[2020-05-27 02:24] shabbyrobe opened #11643 "Cosmos: RecordDiagnostics.request_charge is always 0"
- **Package Name**: azure-cosmos
- **Package Version**: 4.0.0
- **Operating System**: macOS Catalina
- **Python Version**: 3.6

**Describe the bug**

RecordDiagnostics.request_charge is always 0 after calling `container.query_items`.

**To Reproduce**

Setup:
[code]

Query code:
[code]

**Expected behavior**

I expect to see a non-zero number.

[2020-05-27 04:35] deeagar commented on #11611
Thanks @KieranBrantnerMagee for detailed response. Few follow-up questions on this (I believe this would also take care of "two birds with one stone" you are talking about) -
- I understand now this is by design and we could check the auto_renew_error property. However, question still remains as to how/when we should frequently check for auto_renew_error? Is there any callback (ideally)? We couldn

[2020-05-27 06:31] xiafu-msft commented on #11577
Hi @tompauwaert

"\x01x05" was taken as "x05", and  "" seems not to be a valid name even you create the file locally. If you skip '\' in this way "\\x01x05" you should be able to create a file with this name \x01x05.

Let me know if I didn't understand you problem properly!

[2020-05-27 07:05] xiafu-msft commented on #11593
Hi @mockodin

Thanks for reaching out!
Did you notice that you can use by_page() in this way:
[code]
you can submit each block as a task, then every time a task finishes, you can grab the continuation_token and submit a new task

Would you like to explain more about "requiring the list to be consumed first", sorry that I didn't get it clearly.

Let me know if this doesn't help!

[2020-05-27 08:49] tompauwaert commented on #11577
Hi @xiafu-msft,
Thanks for the response.
Apparently I made a small mistake in the bug-report. The filename should contain "\x01\x05" instead of "\x01x05" (lacking the second slash). But the end-result should still be the same in both  cases.

I've uploaded the file I created locally to recreate the issue. (I hope the encoding of the filename passes through correctly after uploading). But, this fil

[2020-05-27 09:28] xiafu-msft commented on #11577
Hi @tompauwaert

Thanks for the details! I wasn't able to create a file with this name "\x01\x05" on windows. If you refers to the reserved characters in other file systems, you will see ` " * / : < > ? \ |` are reserved. Service side should also using the same set of reserved characters ` " * / : < > ? \ |`.

I can download that file (on windows), while the downloaded file has is named "invalid_f

[2020-05-27 09:30] m4rk4l commented on #10914
I think this ticket might need to be reopened?

Looked into the source code where `BlockBlobService` should exist (`[__init__.py](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py)` file from `azure.storage.blob`) but its no longer there.

I tried to get it from my local environment (after using pip to install, got version 12.3.

[2020-05-27 09:35] m4rk4l commented on #10914
There is new [documentation](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-storage-blob/12.0.0b5/index.html)!
Also found this [ticket](https://github.com/Azure/azure-storage-python/issues/640)

[2020-05-27 09:48] sandeepkv93 commented on #11536
@zikalino Sure, created a request

[2020-05-27 10:28] Santhosh-KS opened #11656 "from azure.cognitiveservices.vision.computervision.models import TextOperationStatusCodes fails with version 0.6.0"
- **Package Name**:
[code]
- **Package Version**:
`0.6.0`
- **Operating System**:
`Linux` and `Windows`, Installing Azure dependencies using anaconda and virtual environment
- **Python Version**:
`3.6` and `3.8`

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install anaconda using the steps [here](https://www.digitalocean.com/community/tutorials/how-to-install-t

[2020-05-27 13:05] jiasli opened #11658 "[azure-mgmt-core] is_valid_resource_id returns True for invalid resource IDs"
**Is your feature request related to a problem? Please describe.**
In https://github.com/Azure/azure-cli/issues/10641#issuecomment-581873193, Azure CLI receives an incorrect `--scope` `/subscriptions/{subscription_id}/resourceGroups/` which lacks the **resource group name**. It gets injected into the resource URL, thus corrupting the command.

In order to fix it, I try to use `azure.mgmt.core.tool

[2020-05-27 14:06] seyoung-solteq opened #11659 "`ContainerClient.upload_blob` fails before given `timeout`"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.3.0
- **Operating System**: macOS 10.15.4
- **Python Version**: 3.6 and 3.7

**Describe the bug**
`ContainerClient.upload_blob(..., timeout=some_large_number)` fails always at around 161~163 seconds mark regardless of timeout value.

Error message:
[code]

**To Reproduce**
[code]

**Expected behavior**
It should only fail after the g

[2020-05-27 15:06] tompauwaert commented on #11577
Ah, I think I understand the confusion.
The filename does not actually contain, literally ```\x01\x05```. As in, the name of the file is not:
```backslash x 0 1 backslash x 0 5```. Those are the unicode encodings of the characters.

So the unicode encoding of the full filename, from python would be:
[code]
The filename is not actually using the reserved backslash character ```\```, it's only using

[2020-05-27 15:47] lmazuel commented on #11658
Hi @jiasli
This part of the code has been written by the CLI team back in the days in msrestazure, and I ported it as-is in azure-mgmt-core. I have no knowledge of it, and also @RodgeFu told me that @changlong-liu will now take care of azure-mgmt-core.
Thanks!

[2020-05-27 15:50] lmazuel commented on #11656
Hi @Santhosh-KS
This doesn't exist anymore indeed, and the main Readme of the package has been updated:
https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/cognitiveservices/azure-cognitiveservices-vision-computervision

What document are you referring?

[2020-05-27 17:46] Santhosh-KS commented on #11656
Hi Imazule,

I am using the documentation provided in this official guide.

https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts-sdk/client-library?pivots=programming-language-python

I use the official release pypi installation approach.

https://pypi.org/project/azure-cognitiveservices-vision-computervision/

[code]

and try to import

[code]
I get the error

[co

[2020-05-27 18:03] markusweimer commented on #9939
@TomFinley has validated that the code in dask actually works. Which make me wonder what the relationship between that and this project is or should be?

[2020-05-27 18:22] luuk-codebeez commented on #11272
Seems to be fixed in later versions.

[2020-05-27 18:22] #11272 closed

[2020-05-27 18:34] kaerm commented on #10060
@brandonmbanks the 4.0.0 full cosmos release is done - you can find the documentation and more information here: https://aka.ms/azsdk/python. I am closing this issue but feel free to follow up if you have any other questions

[2020-05-27 18:34] #10060 closed

[2020-05-27 18:55] lmazuel commented on #11503
@areddish I'm confused here how you got a sample working before by just passing a string, autorest would never have supported that? Was it manually written?

[2020-05-27 19:00] lmazuel commented on #11503
@iMicknl I get what happen now, sorry for my initial answer. There is a pattern to follow that custom vision was not following, and `ApiKeyCredentials` is the correct way to go.

I assign this issue to @areddish who will handle the samples as necessary, thanks for the report!

[2020-05-27 19:02] areddish commented on #11503
@lamazuel Yes, this release aligns us with the other SDK's using ApiKeyCredentials. I've updated the documentation, but looks like I missed a sample. Will do that now.

[2020-05-27 19:21] ecc256 opened #11663 "get_azure_cli_credentials / ClientSecretCredential / ServicePrincipalCredentials difference"
This is NOT a bug report, don’t know to classify it properly…

I’m trying to replicate C# code to Python
The Python code below works fine with `get_azure_cli_credentials`, but neither `ClientSecretCredential` nor `ServicePrincipalCredentials` works...
[code]
The former throws the error
_AttributeError: 'ClientSecretCredential' object has no attribute 'signed_session'_
And the latter:
_azure.logana

[2020-05-27 19:31] #11548 closed

[2020-05-27 19:33] ecc256 commented on #11663
Just to add:
`from azure.common.client_factory import get_client_from_cli_profile`
and
`from azure.common.client_factory import get_client_from_json_dict`
with the same client_id / client_secret
both throw same error:
_azure.loganalytics.models.error_response_py3.ErrorResponseException: (MissingApiVersionParameter) The api-version query parameter (?api-version=) is required for all requests._

[2020-05-27 19:45] ecc256 commented on #11663
Ugh…
As usual, fiddled for whole day, have to open github issue to find the solution in the next 5 min…
[RTFM](https://docs.microsoft.com/en-us/python/api/msrestazure/msrestazure.azure_active_directory.serviceprincipalcredentials?view=azure-python), meaning
`credential, subscription = get_azure_cli_credentials(resource="https://api.loganalytics.io")`
equivalent is
`credential = ServicePrincipalCre

[2020-05-27 19:45] #11663 closed

[2020-05-27 20:19] ecc256 commented on #11663
Just wanted to [add](https://gist.github.com/lmazuel/cc683d82ea1d7b40208de7c9fc8de59d) `CredentialWrapper(ClientSecretCredential, ...)` works too:
[code]

[2020-05-27 20:24] iMicknl commented on #11503
Thanks @lmazuel & @areddish! Great that all SDK's are aligned now, makes sense :).

Would it be wise to note this as a breaking change on PyPi? This will help users of the <2.0.0 package. Especially since other (faulty) breaking changes are mentioned there, which is confusing. (https://github.com/Azure/azure-sdk-for-python/issues/11504)

[2020-05-27 21:27] yunhaoling commented on #10741
Hey @MichaelWeedon , I know you're shifting to our latest SDK v7 but still suffering from this problem.

I see your last request for the SDK sample update:

`the sample code be updated to reflect the proper way to process a session based Service Bus queue using NEXT_AVAILABLE.`

I'd like to know more about your use case:

- Are you mainly using the [session_pool_receive](https://github.com/Azure/a

[2020-05-28 00:18] weshaggard commented on #11623
I think we are tagging the way you are requesting but github UI doesn't do a great job in showing tags, but you can do it from the command line:

[code]

[2020-05-28 00:20] weshaggard commented on #11623
Reading your request again I think you were asking if we could also add a tag called "azure-keyvault" to all the releases, however that will not work as git tags can only point to a single sha. However with the command line you can list all the package version tags in the manor I suggested.

[2020-05-28 00:40] A30001611 commented on #2908
Could you please point me in the right direction in terms of what module within the SDK supports creating Azure functions without using vscode?

[2020-05-28 00:57] yunhaoling opened #11667 "[Track 2] Dead Letter Queue Receiver Support"

[2020-05-28 02:04] xiafu-msft commented on #11659
Hi @seyoung-solteq

Thanks for reaching out! Do you know size of image_encoded? We need this to reproduce the problem. Also did you set the max_single_put_size? or you are using the default one?

Those info could be helpful for us to reproduce the problem, we are appreciated if you can provide those.

It would also be nice if you have the response headers x-ms-request-id, don't worry if it's not c

[2020-05-28 04:01] xiafu-msft commented on #11577
hi @tompauwaert

Thanks for clarifying!
The file name cannot have control characters, so if you want to put '\\x01' as a character in file name then service doesn't allow.
`some ASCII or Unicode characters, like control characters (0x00 to 0x1F, \u0081, etc.), are also not allowed`
Here is the name rules for storage blob https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referenc

[2020-05-28 06:04] estensen commented on #11623
aha, didn't know that tags have to be unique

But back to the problem. Updating a package I have to find the changelog of al the packages between the version I'm updating from and to the version I'm updating to. It seems cumbersome to download the repo to use the command line. How would you go about doing this?

[2020-05-28 06:18] seyoung-solteq commented on #11659
Hi @xiafu-msft! Thank you for your reply.

- The images were larger than 55MB. It could be as large as 100MB or more.
    - I managed to have the image sent once but only once.
- `max_single_put_size` is set to default
- I don't have `x-ms-request-id`. I can dig it out if it is necessary.

Thank you!

[2020-05-28 06:23] anandchugh opened #11674 "How to set expiry of a blob?"
We have a requirement to delete the blobs after certain time interval(lets say 2 days).
I am not able to see any settings like this. In azure queue we use similar functionality by setting time_to_live while pushing an item in queue. Is there a way to perform similare operation while uploading a blob or set time to live for all blobs at container level.

[2020-05-28 08:27] xiafu-msft commented on #11457
Hi @AlexeyRaga

Thanks for the info! It should be a SDK bug, SDK should trim the metadata value for user before sending to the service. We will file a bug and fix it.

Does this sound good to you? Let me know how you feel about SDK trimming the prepended/appended space for you! Thanks.

[2020-05-28 09:20] xiafu-msft commented on #11457
https://github.com/Azure/azure-sdk-for-python/pull/11677

[2020-05-28 09:26] xiafu-msft commented on #11437
Hi @AlexeyRaga

Is it convenient for you to get the response header x-ms-request-id, I wasn't able to reproduce the hanging problem...
If you are on windows, you can use fiddler to see the request and response, if you are on Mac you can use WireShark. Sometimes https doesn't work then you can set the accout url to http.

Thanks for your help! Let me know if it's not convenient for you to get the r

[2020-05-28 09:30] xiafu-msft commented on #11414
If this is no longer a problem we will close the issue! Feel free to reopen it if you have further questions!

[2020-05-28 09:30] #11414 closed

[2020-05-28 09:45] tompauwaert commented on #11577
Ah yes. I missed that in the documentation.
Is it possible to give a clearer error message as to why the uploading fails? The current error gives little indication as to where the actual issue is.

Considering the fact that some of these characters are 'hardly visible', it makes for very strenuous debugging without a clearer indication of what went wrong.

[2020-05-28 11:48] MichaelWeedon commented on #10741
@yunhaoling,
Our use case is an unknown number of sessions with unknown session ids, thus the original use of NEXT_AVAILABLE. Using NEXT_AVAILABLE is not a requirement.

The v7.0.0 Sample no longer uses NEXT_AVAILABLE - which is fine. However it still suffers from the Users Errors seen in the Azure Portal Metrics.

I tried a different approach to receive messages for a specific session by attempti

[2020-05-28 12:13] AlexeyRaga commented on #11457
Sounds good to me.
Trimming vs. validation - doesn't matter in my use case, whatever is more canonical for Python...

[2020-05-28 12:15] AlexeyRaga commented on #11437
I will try finding time to reproduce it again.
As I said, it didn't happen _all the time_, and I have worked it around for now.

[2020-05-28 13:55] cg6 opened #11681 "ContainerClient batch operations (delete_blobs, set_standard_blob_tier_blobs ..) don't work with SAS tokens"
- **Package Name**:
azure-storage-blob
- **Package Version**:
azure-storage-blob>=12.0.0,<=12.3.1
- **Operating System**:
Windows 10,
WSL (Ubuntu)
- **Python Version**:
3.6, 3.7

**Describe the bug**
ContainerClient batch operations (delete_blobs, set_standard_blob_tier_blobs ..) don't work with SAS tokens.

Please see https://github.com/Azure/azure-storage-python/issues/650 - Details have been ad

[2020-05-28 14:20] #11389 closed

[2020-05-28 17:47] yunhaoling opened #11684 "[ServiceBus] Fix inconsistency in docstring and sample snippets"
Need to go over every public API
- compare the parameters -- add or remove
- check code snippet part, whether the reference is correct

Callout for Management Models:
- Needs to add ivar stanzas for each of the params we publicly expose (for e.g. AuthorizationRules)

See this comment https://github.com/Azure/azure-sdk-for-python/pull/13552#discussion_r485171168
Determine if this is an issue that w

[2020-05-28 18:08] yunhaoling opened #11685 "[ServiceBus] Expand **kwargs in both sync and async APIs to improve intellisense"
In current public async API, kwargs are not expanded which means only required parameters shows up when IDE/Editor try to do intellisense stuff -- auto-code-complete and hint.

To make intellisense work better, expand `(param, **kwargs)` to `(param1, *, kwarg1=default, kwarg2=default, ...)` in async APIs.

not applicable for sync due to the compatibility with py2.7

[2020-05-28 18:14] timMSFT commented on #11634
Closing. Please follow https://github.com/Azure/azure-rest-api-specs/issues/9589 for further updates.

[2020-05-28 18:14] #11634 closed

[2020-05-28 18:15] lmazuel opened #11686 "On pickle serialization, HttpResponse should whitelist the exact context to save"
We don't control if the context values are pickable or not, we shall start with an actual whitelist that contains the deserialized body (RawDeserializer work), and skip the rest, and extend from there.

Need to be done for the 1.6.0 cycle

[2020-05-28 18:49] chlowell commented on #11551
Thanks for all the details, I think I grasp the situation now. First, one quick clarification: `SharedTokenCacheCredential` reads a different file, %LocalAppData%\.IdentityService\msal.cache. I don't know how it lines up with V2AccountStore.json.

Regardless, I do see a problem with the credential here. Its `tenant_id` parameter specifies a desired home tenant as a means of choosing between accoun

[2020-05-28 19:18] #11580 closed

[2020-05-28 19:55] sordonia opened #11687 "list_blob_names is slow on my storage, returns markers"
- **Package Name**:
azure-storage-python

- **Package Version**:
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
azure-storage-file==2.1.0

- **Operating System**:
Ubuntu 18

- **Python Version**:
3.6

**Describe the bug**
list_blob_names is extremely slow for a particular blob as it seems to be listing "markers" , never seen that before, I just call list_blob_names without num_results.

The

[2020-05-28 20:42] weshaggard commented on #11623
Isn't the change log on pypi.org enough for you to find the information? https://pypi.org/project/azure-keyvault/

[2020-05-28 21:40] nonokangwei opened #11689 "Cosmos: query_items_change_feed reture same resualt with is_start_from_beginning parameters"
- **Package Name**:  azure-cosmos
- **Package Version**: 4.0.0
- **Operating System**: Linux
- **Python Version**: 3.5.3

**Describe the bug**
query_items_change_feed fucntion return the same result with the parameter is_start_from_beginning=True and False

**To Reproduce**
Steps to reproduce the behavior:
[code]
Query
[code]

**Expected behavior**
Read the change feed from the last checkpoint, tr

[2020-05-28 21:41] richardpark-msft commented on #11685
Short of being able to remove Python 2.7 perhaps we can introduce some newlines or something into the text between the individual keyword args?

That would at least help with readability - it's a huge block of fairly undelimited text otherwise.

[2020-05-28 21:56] yunhaoling opened #11690 "[ServiceBus] No session available after 60s timeout being classified as user error in Azure Portal"
Our customer @MichaelWeedon has found that when trying to use NEXT_AVAILABLE to connect to a queue session while no session is available (triggering 60s timeout), the service side would classifies it as a user error leading to the service bus metrics of user error count in Azure Portal > 0.

Michael thinks this should not be counted as user error in Portal.

This is the service side behavior and @

[2020-05-28 22:07] annatisch commented on #11643
Thanks @shabbyrobe - taking a look now.

[2020-05-28 22:24] yunhaoling commented on #10741
@MichaelWeedon thanks again for your patience and clarifying your scenario.

1) As this is a service behavior, v7 is expected to suffer from this as long as the service still classifies this as a user error. (in fact v7 is using NEXT_AVAILABLE internally if no session id is provided)

    **NEXT STEP:** I have opened a separate issue to draw service team's attention so that they have a better plac

[2020-05-28 22:51] annatisch commented on #11643
Hi @shabbyrobe, I tried adding your query code to one of our tests:
[code]
And this test is passing - (`'x-ms-request-charge': '2.25'`)

@southpolesteve - could you please confirm the expected service behaviour of this header? Maybe I need to tweak my test to repro this?

[2020-05-28 23:37] heaths opened #11693 "Rename "DataSource" methods on SearchIndexerClient to "DataSourceConnection""
As part of #11565 to rename `SearchIndexerDataSource` to `SearchIndexerDataSourceConnection`, also rename methods on `SearchIndexerClient` idiomatically matching "*DataSource" to "*DataSourceConnection".

[2020-05-28 23:53] scbedd commented on #10533
Services other than `storage` have committed their pylint cleanups. Waiting for next release cycle of `storage` to come in before resolving those and merging this PR.

Moving back to backlog for now. Revisit Release week 6/8.

[2020-05-29 04:25] amishra-dev commented on #11674
Hi @anandchugh,
Deletion (part of lifecycle management) is supported through management plane operations, https://docs.microsoft.com/en-us/rest/api/storagerp/managementpolicies/delete is the REST API for it. @vinjiang are you aware of any management plane SDK for it?

[2020-05-29 05:21] robwe commented on #11551
msal.cache is not directly readable, but in the debugger I saw that it corresponds to what is in V2AccountStore.json, so I used that for illustration.
Mainly I develop in C# using Visual Studio 2019. As VS contains a Python development module (Workload), it was quite natural to stick to the same IDE and use it also for Python development. I have not used VS Code so far. My team uses Team Foundatio

[2020-05-29 06:11] anandchugh commented on #11674
Is it possible to add policy while creating container vis sdk?

[2020-05-29 06:37] shabbyrobe commented on #11643
Thanks heaps for looking into it, @annatisch. I tried my script again in case it was just an intermittent gremlin, but I still get the same result. Could it possibly be that I'm doing something silly and using a bad combination of versions for the relevant libs? I can try to post a "minimum viable requirements.txt" file if it would help?

[2020-05-29 06:50] estensen commented on #11623
Thanks! It works for manually checking, but not for Dependabot. Upgrading `azure-cosmos` from 3.1.2 to 4.0.0 it does not list the changes in the beta versions in between:

<img width="662" alt="Screenshot 2020-05-25 at 10 37 57" src="https://user-images.githubusercontent.com/9142800/82795189-f100a380-9e73-11ea-82e3-28b028a3cf3d.png">

Not sure if this is a problem with Dependabot or the way the re

[2020-05-29 07:02] eavanvalkenburg opened #11708 "Eventhub asyncio producer client bug"
- **Package Name**: eventhub
- **Package Version**: 5.1.0
- **Operating System**: Ubuntu
- **Python Version**: 3.6.9

**Describe the bug**
I'm building a integration for Azure Event Hubs in Home Assistant and am upgrading it to use asyncio and sdk v 5.1.0. My code creates a client, creates a batch (from data that is stored in a asyncio queue in the meantime, and sends it, then closes the client an

[2020-05-29 10:13] RodgeFu commented on #11536
https://github.com/Azure/sdk-release-request/issues/382 has been created to track the request release, so close this one. thanks.

[2020-05-29 10:13] #11536 closed

[2020-05-29 10:16] RodgeFu commented on #11625
@yungezz , do you have any insights from CLI side? thanks.

[2020-05-29 12:08] yungezz commented on #11625
HI @cladic do you attempt to auth with username/password like az login -u -p? seems it's deprecated in SDK based on doc shared by @lmazuel https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-authenticate?tabs=bash#deprecated-authenticate-with-userpasscredentials. As alternative, you can login with azure cli, then use CLI auth https://docs.microsoft.com/en-us/azure/developer/python/az

[2020-05-29 13:34] annatisch commented on #11643
Thanks @shabbyrobe - I think a lib version issue seems unlikely - as I believe in that scenario the code snippet above wouldn't work at all and we would see more fundamental errors...
Admittedly I did run my repro in Python 3.7, so I will try it again in 3.6 just to rule that out.

However I'm not an expert in the Cosmos service behaviour. @southpolesteve could this difference be related to how ou

[2020-05-29 13:59] eavanvalkenburg commented on #11708
Turned out that I had my `async with client:` statement after the batch was created, and only before my  send_batch, after moving the async with before the create batch this issue didn't occur again.

[2020-05-29 13:59] #11708 closed

[2020-05-29 14:19] iscai-msft opened #11712 "[form recognizer] remove USReceipt"
See .net issue [here](https://github.com/Azure/azure-sdk-for-net/issues/11912)

We will remove USReceipt class and related types

[2020-05-29 14:19] iscai-msft commented on #11283
Closing, and tracking remaining receipt_locale issue here: https://github.com/Azure/azure-sdk-for-python/issues/11712

[2020-05-29 14:19] #11283 closed

[2020-05-29 15:18] kristapratico opened #11713 "[formrecognizer] Increase test sample coverage and ensure test parity across languages"
This issues tracks 2 things we'd like to accomplish before GA:

1) We need more sample forms from the service team so that we are testing many types of forms (especially multipage ones). We have reached out to the service team and the sample gap table has been shared and posted in this issue: https://github.com/Azure/azure-sdk-for-net/issues/12139

2) Sometimes we see live tests failures from one

[2020-05-29 15:54] mockodin commented on #11593
@xiafu-msft
The example you gave is the method I'm using today (sample included bellow).

Answering and expanding slightly:
continuation_token is None until the paged return has been read (aka consumed) I do this via "list(next(blobs))". Each iteration take 5-10 seconds to complete. Calling a smaller page size does not seem to impact interval time significantly, if anything lengthens the overall p

[2020-05-29 16:19] KieranBrantnerMagee commented on #11611
A few points in response.
1. Callback gets to my question of "what pattern do you expect" and unfortunately no, there is no callback in the existing library that would allow this, but I'll bring that suggestion up for 7.0 design; I can see the value in it.  I'll ensure we add samples for proper failure mode handling as well.
To answer your question about watching for failure, I would check the val

[2020-05-29 17:23] yunhaoling opened #11714 "[ServiceBus] List Sessions Support"
NOTE: This currently is classified as a post-GA feature.

In track1, we have the list sessions on the Receiver which list session ids on a sessionful.

But there're issues that it may only list sessions that the state of which have been set, and it only returns session id, no other information.

track2 should investigate the issue and to see if it's possible to return other useful informations.

[2020-05-29 19:56] yunhaoling opened #11716 "[EventHubs] Automatic cleaning up created test resources after livetest running"
If livetest stops/breaks with error (e.g. segmentation fault), pytest is unable to run the resource cleaning up procedure.

Should investigate whether it's possible to add an extra step in CI to do the check and clean up stuff.

- Consider using Resource Group Preparer to align with other library testing

[2020-05-29 21:09] nemakam commented on #11690
@DorothySun216 , Could you please take this forward? Thanks.

[2020-05-29 21:18] yunhaoling commented on #9435
another livetest that triggers segmentation fault:

**tests/livetest/asynctests/test_send_async.py::test_send_with_create_event_batch_async Fatal Python error: Segmentation fault

Current thread 0x00000001137e8dc0 (most recent call first):**
  File "/Users/runner/hostedtoolcache/Python/3.7.7/x64/lib/python3.7/_collections_abc.py", line 666 in __contains__
  File "/Users/runner/runners/2.168.2/work

[2020-05-29 21:29] xiangyan99 commented on #11693
Fixed in #11683

[2020-05-29 21:29] #11693 closed

[2020-05-29 21:29] xiangyan99 commented on #11565
Fixed in #11683

[2020-05-29 21:29] #11565 closed

[2020-05-29 21:30] xiangyan99 commented on #11513
Fixed in #11683

[2020-05-29 21:30] #11513 closed

[2020-05-29 21:31] xiangyan99 commented on #11510
Fixed in #11683

[2020-05-29 21:31] #11510 closed

[2020-05-29 21:32] xiangyan99 commented on #11506
Fixed in #11683

[2020-05-29 21:32] #11506 closed

[2020-05-29 23:06] weshaggard commented on #11623
Not sure either as the dependabot doesn't clearly identify how they are supposed to be structured. If we are down to just figuring out dependabot again lets close this issue and continue that conversation at https://github.com/Azure/azure-sdk-for-python/issues/10595.

[2020-05-30 02:27] faisquinha commented on #6403
The same for : consumption_client.price_sheet.api_version = '2019-10-01'

[2020-05-30 02:45] databasedav opened #11721 "[CosmosDB] nested index query working through portal doesn't work via sdk"
- **Package Name**: azure-cosmos
- **Package Version**: 4.0.0
- **Operating System**: Ubuntu 20.04
- **Python Version**: 3.8.2

**Describe the bug**
Queries of the format described [here](https://docs.microsoft.com/en-us/azure/cosmos-db/index-overview#querying-with-indexes) (e.g. `SELECT location FROM location IN company.locations WHERE location.country = 'France'`) do not work using the sdk.

**T

[2020-05-30 04:44] bpdohall commented on #10917
@Fred-sun - `storage-profile` was removed from the REST API for this resource type - https://github.com/Azure/azure-rest-api-specs/pull/3487

[2020-05-30 07:41] seyoung-solteq commented on #11659
@xiafu-msft Changing `max_single_put_size` values helped. Here's a mini performance test. For this particular file size, `max_single_put_size=20MB` seems to be most optimal. What is the best practice?

![Screenshot 2020-05-28 at 10 58 55](https://user-images.githubusercontent.com/60608315/83322620-dbb7ba80-a261-11ea-9dd9-a79709d53e8e.jpg)

Thank you!

[2020-05-30 14:21] deeagar commented on #11611
Thank you Kieran for detailed explanation. However, I'm afraid, I still don't see much clarity on the solution. Comments below for some thoughts mentioned by you -

_"To answer your question about watching for failure, I would check the value commensurate with how much processing too long is going to hurt you. (e.g. if you have hours of work, maybe check every ten minutes or so). For smaller workl

[2020-05-31 07:14] xiafu-msft commented on #11687
Close this one since here is not the repo for this issue, there's a duplicate issue in the proper repo

[2020-05-31 07:14] #11687 closed

[2020-05-31 07:14] xiafu-msft commented on #11687
https://github.com/Azure/azure-storage-python/issues/663

[2020-05-31 08:02] xiafu-msft commented on #11681
Hi @cg6
Thanks for reporting this issue! I was able to reproduce this issue, we will dig into more and get back to you!

[2020-05-31 10:56] deeagar commented on #11611
Also, please note - I tried using the 0.50.3 library and it doesn't work when message LockTimeout period is maximum i.e. 5 minutes. Please try once at your end and let me know. The exception it gives is "AMQPConnectionError - Failed to open mgmt link: MgmtOpenStatus.Error".

With "7.0.0b2" it used to work earlier, but tried today and it is giving me lock lost exception almost every time.
A sample

[2020-06-01 09:41] ashisa opened #11735 "Deleting disks, NICs and other resources when deleting a VM"
- **Package Name**: Azure SDK for Python
- **Package Version**: *
- **Operating System**: Ubuntu 18
- **Python Version**: 3.6

**Describe the bug**
When we delete a VM, the disks and NICs etc are left behind. The SDK doesn't seem to delete everything related to the VM.

**To Reproduce**
Steps to reproduce the behavior:
1. Delete a VM using the SDK and observe the leftover artifacts

**Expected beh

[2020-06-01 16:31] iscai-msft opened #11737 "[text analytics] Upgrade to v3.1-preview.1"
- [ ] Add `aspects` and `opinions` to `SentenceSentiment` if `opinion_mining` is True and passed to `analyze_sentiment`

[2020-06-01 16:36] davegaulke opened #11738 "seg fault with azure cli authentication in azure-identity"
- **Package Name**: azure-identity
- **Package Version**: 1.4.0 b3
- **Operating System**: Linux
- **Python Version**: 3.8.3

**Describe the bug**
I'm trying to use the new Azure CLI authentication integration and in a simple program that tries to get and set vault secrets, I get the segmentation fault given below.

[code]

[2020-06-01 16:37] annatisch commented on #11689
Thanks @nonokangwei - I will try to repro today :)

[2020-06-01 16:50] lmazuel commented on #11656
Thanks for the pointer, it helps to know what to update :)
In the meantime, the PyPI front page was updated:
https://pypi.org/project/azure-cognitiveservices-vision-computervision/

Assigning right team, thanks!

[2020-06-01 17:09] kaerm commented on #11738
Thanks @davegaulke for reporting this, @chlowell can you take a look at this

[2020-06-01 17:32] #11302 closed

[2020-06-01 17:40] mssfang opened #11741 "[Form Recognizer] Redact accessToken information from Form Recognizer tests"
Add beginCopy tests back with redacted accessToken information.

[2020-06-01 17:43] kristapratico commented on #11741
accessToken information is already redacted

[2020-06-01 17:43] #11741 closed

[2020-06-01 20:21] xiangyan99 commented on #11738
Could you send us your re-pro steps?

I tried on Ubuntu 18.04 with Python 3.8.3.

I ran the code:

from azure.identity._credentials.vscode_credential import VSCodeCredential

def test_live():
    credential = VSCodeCredential()
    str=credential.get_token('https://vault.azure.net/.default')
    print(str)

It works.

[2020-06-01 20:22] #10630 closed

[2020-06-01 20:22] iscai-msft commented on #11215
Made changes and merged back into master

[2020-06-01 20:22] #11215 closed

[2020-06-01 20:23] iscai-msft commented on #10293
tracking in #11737

[2020-06-01 20:23] #10293 closed

[2020-06-01 20:24] iscai-msft commented on #10283
Merged into feature branch

[2020-06-01 20:24] #10283 closed

[2020-06-01 20:24] iscai-msft commented on #10220
Merged into feature branch, ended up removing mentions of grapheme for v3.0

[2020-06-01 20:24] #10220 closed

[2020-06-01 20:24] iscai-msft commented on #10292
merged changes into feature branch

[2020-06-01 20:24] #10292 closed

[2020-06-01 20:25] iscai-msft commented on #11140
merged into feature branch

[2020-06-01 20:25] #11140 closed

[2020-06-01 20:28] #10036 closed

[2020-06-01 20:41] davegaulke commented on #11738
I'm running Python 3.8.3 on Clear Linux.
I did this:
[code]

[2020-06-01 20:47] #11415 closed

[2020-06-01 20:57] rakshith91 commented on #10861
Confirmed that all the samples exist from this link
https://github.com/Azure-Samples/storage-python-getting-started/commit/e5b35292e7485b008c7c491e175bdbe49f22ab0b

checked the files Blobs.py, Queue.py and Files.py

[2020-06-01 20:57] #10861 closed

[2020-06-01 21:03] rakshith91 opened #11744 "Support Opentelemetry 0.8b0 in the azure core tracing integration"

[2020-06-01 21:12] xiangyan99 commented on #11738
Looks like there are some know compatibility issues for Python 3.8 & Clear Linux?

https://community.clearlinux.org/t/python-3-8-in-clear-linux-os/2371

[2020-06-01 21:15] annatisch commented on #11689
Hi @nonokangwei - I put together some sample code based on our tests demonstrating the continuation support that is hopefully helpful:
[code]
Here is the actual test with more detail:
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/cosmos/azure-cosmos/test/test_query.py#L50

As for the behaviour of `is_start_from_beginning` - @southpolesteve could you please weigh in with regards to

[2020-06-01 21:32] davegaulke commented on #11738
Thanks for finding that. I was able to get it working in another environment, so I also suspect this is a Clear Linux python issue.

[2020-06-01 22:42] KieranBrantnerMagee commented on #11611
Hey Deeagar,

I'll address the two "thrusts" of the discussion I see us having above distinctly.
1. locking/guaranteed single-ownership.  You bring up Azure Functions.  I'd first observe that this isn't the most apt comparison, since they provide a full runtime, whereas we only provide an SDK.  As such, its their prerogative to do things such as interrupt your runtime if lock is about to be lost.

[2020-06-01 23:04] xiangyan99 commented on #11320
Fixed in #11739

[2020-06-01 23:04] #11320 closed

[2020-06-01 23:06] xiangyan99 opened #11747 "autocomplete & suggest methods should take search_text & suggester_name as inputs"

[2020-06-02 00:22] xiangyan99 commented on #11747
Fixed in #11748

[2020-06-02 00:22] #11747 closed

[2020-06-02 01:57] Hazhzeng opened #11751 "Cannot set Service Bus Message ContentType"
- **Package Name**: azure-servicebus
- **Package Version**: 0.50.3
- **Operating System**: Windows 10 Enterprise
- **Python Version**: Python 3.8.1

**Describe the bug**
Original Thread: https://github.com/Azure/azure-functions-python-worker/issues/682

Thanks @allenc97, according to the documentation in the REST API https://docs.microsoft.com/en-us/rest/api/servicebus/message-headers-and-properti

[2020-06-02 06:10] deeagar commented on #11611
Splendid ! Thanks Kieran for your detailed explanation - appreciate it!

- Internally here, we are also somewhat aligned with your thoughts on having those checks before committing to DB.
- Since you mentioned the code is working for you - I'll try from my end again today and let you know with complete stack trace if I get that exception.
- Yes, I mean LockDuration property of Service bus.
-  Yes,

[2020-06-02 08:10] deeagar commented on #11611
@KieranBrantnerMagee  I verified and the renew_lock always fails with below error with
`azure-servicebus==0.50.3` package giving below exception
_'Management request failed: Failed to open mgmt link: MgmtOpenStatus.Error'_

Any reason why its not working with the stable version?

With `azure-servicebus==7.0.0b2`, it fails always with below exception
_Failed to complete mgmt operation.
Status code:

[2020-06-02 10:16] estensen commented on #11623
sure!

[2020-06-02 10:16] #11623 closed

[2020-06-02 10:39] TiunovNN opened #11757 "Error "IMDS endpoint unavailable", although it's available"
- **Package Name**: azure-identity
- **Package Version**: 1.3.1
- **Operating System**: Ubuntu 14/Ubuntu18
- **Python Version**: 3.6.5

**Describe the bug**
Some time after the service starts, the error appears and is thrown out every time until the service restarts.

`azure.identity._exceptions.CredentialUnavailableError: IMDS endpoint unavailable`

**To Reproduce**
[code]

**Expected behavior**

[2020-06-02 14:42] chlowell commented on #8391
[MSAL Python 1.3.0](https://github.com/AzureAD/microsoft-authentication-library-for-python/releases/tag/1.3.0) adds an `http_client` parameter to `ClientApplication`. This should enable channeling all MSAL's requests into our pipeline.

[2020-06-02 16:35] kristapratico opened #11759 "[formrecognizer] deprecate track 1 package after we GA track 2"
https://pypi.org/project/azure-cognitiveservices-formrecognizer/

[2020-06-02 17:12] #11667 closed

[2020-06-02 17:13] #11538 closed

[2020-06-02 17:36] #11744 closed

[2020-06-02 18:35] xiafu-msft commented on #11593
Hi @mockodin
Thanks for reporting this, this should be optimized on SDK.
Currently you can optimize it by only call next(blobs) first instead of list(next(blobs)) so that to avoid one round of iteration:
[code]
Sorry about the inconvenience!

[2020-06-02 21:20] KieranBrantnerMagee opened #11761 "ServiceBus - Track2 - Design/Add Callback Handler to autolockrenew"
**Is your feature request related to a problem? Please describe.**
Users consuming autolockrenew would like a more responsive mechanism to react to issues in lock renewal.  (see https://github.com/Azure/azure-sdk-for-python/issues/11611)  This would cleanly mirror the pattern used in the processors of other language sdks (onError handlers)

**Describe the solution you'd like**
An onError callback

[2020-06-02 22:43] iscai-msft opened #11765 "[form recognizer] readme updates"
- [x] change the heading formatting from h3 to h4 for section "Create a FormRecognizer resource"

[2020-06-02 22:52] chlowell opened #11767 "SharedTokenCacheCredential uses MSAL"
`SharedTokenCacheCredential` must handle its cache as MSAL does because that cache is shared by applications accessing it through MSAL. The current approach, duplicating MSAL Python's logic as needed, is fragile and error prone, and adds considerable complexity. It would be better for the credential to access the cache through MSAL.

For the async `SharedTokenCacheCredential`, this is blocked by A

[2020-06-02 23:38] #11765 closed

[2020-06-03 00:40] chlowell commented on #11757
This is the intended behavior. Your code simulates a VM that has no managed identity, for example because the feature is disabled on that VM. We didn't want an instance of the credential to keep attempting to authenticate in that scenario. If it were to try again and succeed, that could cause unexpected behavior such as a chained credential changing its method of authentication between requests. I

[2020-06-03 04:15] southpolesteve commented on #11689
@nonokangwei Is this a partitioned collection? You'll need to pass the partition key range id as the example above

@annatisch Thanks for investigating. The API is a bit strange here. Partition Key Range ID is an integer representing the physical partition that a logical partition key maps to. But it's not something we normally expose to the user. I don't see any methods in the SDK that let a user

[2020-06-03 04:19] Drewm3 commented on #11735
This is the expected behavior. Disks and NICs which are no longer needed need to be deleted independently unless the resource group that contains the disks and/or NICs is deleted.

We are investigating the possibility to have a simple manner to delete the VM and trigger Azure Resource Manager to automatically delete the associated disks and NICs, but this is a separate feature. For feature request

[2020-06-03 04:19] #11735 closed

[2020-06-03 04:30] southpolesteve commented on #11643
@annatisch I'm not seeing anything out of the ordinary between the two examples.

COUNT queries are a bit tricky as they need to run till completion. The requests are aggregated on the client and you might have to call an iterator multiple times. Still getting a grasp on Python, is the `list()` call in the code do that? It may be that since your example has only a few docs, the query is done on th

[2020-06-03 06:00] TiunovNN commented on #11757
@chlowell, Thanks for answer!

Indeed, the problem has occurred on a VM with enabled managed identity. I don't know why, but azure cloud gave response with error. Other services are continuing work with managed identity at the same time.

I think this solution is good for short-lived program, but it is bad for long-lived program such as web-service.

In this case, we have to recreate service clien

[2020-06-03 07:31] RodgeFu commented on #6403
We need to release a new SDK version to fix this issue. Add "Service Attention" to include service team to confirm they are fine with the new release and their swgger are ready. thx

[2020-06-03 09:03] chris-jaec opened #11777 "Tag Azure Subscription via Python SDK?"
Is it possible to tag a subscription through the Python SDK? If yes, is there some documentation around this? I unfortunately could not find anything in the official Azure docs.

[2020-06-03 12:40] pkvk14 opened #11782 "Unable to create get_client_from_cli_profile"
Hi,

I am trying to manage azure resources via python but unable to create credentials from the CLI login.

Please share the steps.

[2020-06-03 16:33] xiangyan99 commented on #11462
Fixed in #11463

[2020-06-03 16:33] #11462 closed

[2020-06-03 16:53] markkuleinio opened #11784 "QueueClient.receive_messages() receives more than one message"
- **Package Name**: azure-storage-queue
- **Package Version**: 12.1.1
- **Operating System**: Debian Linux 10
- **Python Version**: 3.7.3

**Describe the bug**
`QueueClient.receive_messages(messages_per_page=1)` returns more than one message from the queue.

**To reproduce**

`help(QueueClient.receive_messages)` says:

[code]

Testing code:

[code]

As you can see, all three messages were returned

[2020-06-03 17:29] ms-premp commented on #9687
please try this.

https://github.com/ms-premp/AzureConsumptionSamples/blob/master/Python_sdk/usage_details_list_python_sdk_example.py

[2020-06-03 17:58] #11686 closed

[2020-06-03 18:01] lmazuel commented on #11543
Merged for release in azure-core 1.6.0

[2020-06-03 18:01] #11543 closed

[2020-06-03 18:30] mockodin commented on #11593
Hi @xiafu-msft

I tested the above method, to list 50K blobs is consistently ~40-45 seconds, that being irrespective of page size. ~99.9847% of the processing time centers on "next()" operation.

Example:
[code]

Moving the next operation outside to be handled in parallel threads would have huge performance impact. I think with next() to generate the continuation_token that will remain be the chok

[2020-06-03 18:41] iscai-msft opened #11785 "Release Text Analytics Track 2 Python Preview 7"

[2020-06-03 18:45] iscai-msft opened #11787 "[text analytics] Update readme"
- [ ] get rid of --pre in pip install section
- [ ] follow [.net](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/textanalytics/Azure.AI.TextAnalytics#authenticate-the-client) for header and splitting of AAD auth and AzureKeyCredential auth
- [ ] remove some examples from key concepts (generally this section doesn't really have examples, based on your own discretioni)
- [ ] Update sampl

[2020-06-03 19:15] iscai-msft commented on #11787
cc @czubair

[2020-06-03 19:27] davegaulke commented on #11738
On further investigation, I believe this is not a Clear Linux issue. The key to reproducing this is to have libsecret installed. I have reproduced this in a python 3.8.3 container (debian buster based) with libsecret installed. Can you verify if libsecret was installed in your Ubuntu test? If not, please run again after installing libsecret.

[2020-06-03 19:38] xiangyan99 commented on #11738
If LoadLibrary("libsecret-1.so.0") fails, we raise error not "segmentation fault". :)

I will double check

[2020-06-03 19:41] davegaulke commented on #11738
I would expect that the LoadLibrary succeeds when the segmentation fault happens, since it is the presence of the library that leads to the seg fault.

[2020-06-03 19:43] xiangyan99 commented on #11738
I think so. So I assume when you saw "segmentation fault". this means you already had libsecret installed on Clear Linux?

[2020-06-03 19:45] davegaulke commented on #11738
Yes, libsecret was installed when seg fault happened. If you remove libsecret, it works.

[2020-06-03 19:46] kaerm commented on #11777
Thanks for reaching out @chris-jaec, @nickzhums could you help out here?

[2020-06-03 19:47] kaerm commented on #11782
Thanks @pkvk14, @nickzhums could you take a look at this?

[2020-06-03 19:49] xiangyan99 commented on #11738
Yes. When libsecret is not installed, the vscode credential will be ignored.

In the meantime, you can use credential = DefaultAzureCredential(exclude_visual_studio_code_credential=True) to disable the vscode credential.

And we will test Debian linux.

[2020-06-03 19:55] xiafu-msft commented on #11593
Hi @mockodin

continuation_token is returned by service to indicate where you want to continue. next() is to call the next page of items(in this case 5000 items) and get the continuation token, it's impossible that we can get continuation without sending request first.
Most time was consumed on waiting service response, so you can use up the waiting time to process BlobBatch.
What we can optimize

[2020-06-03 19:58] chlowell commented on #10478
#10092 added integration with the Azure CLI, and #10840 added integration with Visual Studio Code's Azure Account extension. These are the only integrations we plan to add in 1.4.0.

[2020-06-03 19:58] #10478 closed

[2020-06-03 20:23] #11712 closed

[2020-06-03 20:23] aalapatirvbd opened #11791 "Match condition not being honored in Upsert item calls"
- **Package Name**: azure.cosmos
- **Package Version**: 4.0.0
- **Operating System**: osx
- **Python Version**: 3.8.1

**Describe the bug**
Upsert item function is ignoring the match_condition options. After looking at the code, found that the upsert_item method is ignoring the created request_options.

https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/cosmos/azure-cosmos/azure/cosmos/

[2020-06-03 20:29] aalapatirvbd commented on #11791
Looks like the developer missed passing the request_options to the subsequent calls. I have made the change and verified the fix.  Will open a PR shortly.

[2020-06-03 20:57] kaerm commented on #11791
Thanks @aalapatirvbd for opening the issue, @annatisch @southpolesteve could you take a look at this

[2020-06-03 21:05] annatisch commented on #11791
Thanks for the report and investigation @aalapatirvbd!
Definitely looks like a bug - I will PR a fix.

[2020-06-03 21:10] kaerm commented on #11791
@annatisch, @aalapatirvbd already submitted a PR here: https://github.com/Azure/azure-sdk-for-python/pull/11792

[2020-06-03 21:11] Rabbit994 opened #11793 "Azure Cosmos Module throws incorrect error type when not passing string for id item"
- azure-cosmos:
- 4.0.0:
- Windows 10 Enterprise 1909:
- Python 3.6.8:

**Describe the bug**
When attempting to upsert an item where 'id' field is not set to string, you get AttributeError.

 While throwing error is correct in keeping with CosmosDB requirements that ID field be string, I believe TypeError in following with Python standards is more appropriate error.

https://docs.python.org/3/libr

[2020-06-03 21:22] kaerm commented on #11793
Thanks @Rabbit994 for posting the issue, @southpolesteve, @annatisch could you take a look at this

[2020-06-03 21:31] lmazuel commented on #11782
This might help as well:
https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-authenticate?tabs=cmd#cli-based-authentication-development-purposes-only

[2020-06-03 21:35] Rabbit994 commented on #11793
File "C:\Users\rabbit\Python Projects\AzureCosmosDBTesting\.env\lib\site-packages\azure\cosmos\_cosmos_client_connection.py", line 2483, in __ValidateResource
    if id_.find("/") != -1 or id_.find("\\") != -1 or id_.find("?") != -1 or id_.find("#") != -1:
AttributeError: 'int' object has no attribute 'find'

There is exact error with line number to assist in debugging.

[2020-06-03 21:44] #11530 closed

[2020-06-03 22:08] annatisch commented on #11643
Thanks @southpolesteve - you're correct in that the cast to `list()` will iterate the query to completion, so the code in both of our samples should indicate a completed query.

[2020-06-03 22:15] annatisch commented on #11721
@southpolesteve  - can you comment on whether the cosmos portal is doing any special manipulation of queries and whether this would work in the JS SDK?
If so I can dig deeper into why this is isn't working in Python.

[2020-06-03 22:29] annatisch commented on #11793
Thank you @Rabbit994 - good call - I will get a PR out for this this week :)

[2020-06-03 22:55] xiangyan99 opened #11799 "search method should only takes searchText"

[2020-06-04 01:53] xiangyan99 opened #11803 "Create_or_updates methods should take object"

[2020-06-04 04:26] jiasli opened #11808 "[Storage] Storage data-plane track 1 SDK triggers SyntaxWarning on Python 3.8"
- **Package Name** and **Package Version**:
https://pypi.org/project/azure-storage-blob/2.1.0/

- **Operating System**:
All

- **Python Version**:
3.8

**Describe the bug**

When the source of **Storage data-plane track 1 SDK** is compiled for the first time (no `__pycache__` folders present), Python 3.8 gives warning:

[code]

This usage is against the Python 3.8 definition:

https://docs.python.

[2020-06-04 05:30] pkvk14 commented on #11782
Thanks,

I want to create vm using python.

I have put my correct azure subscription still getting the error message.

$ C:/Users/pradeep/AppData/Local/Programs/Python/Python38/python.exe f:/Python_Lab/06_06_20/test.py
Traceback (most recent call last):
  File "f:/Python_Lab/06_06_20/test.py", line 6, in <module>
    subscription_id = os.environ["7065525-8726-4862-96f4-f536kl9"]
  File "C:\Users\p

[2020-06-04 08:54] hanifahhad opened #11816 "azure-mgmt-network version 10.2.0 not supported in westeurope (ApplicationGateway)"
- **Package Name**:
azure-mgmt-network
- **Package Version**:
10.2.0
- **Operating System**:
Linux Alpine 3.11.5
- **Python Version**:
3.8.2
**Describe the bug**
I'm using the azure-mgmt-network to get backend health information for the Azure Application Gateway. Few hours ago, the package version 10.2.0, API version 2020_04_01, is giving unsupported api.

Older versions are working fine, like 10.

[2020-06-04 08:59] ietashish opened #11817 "Azure SDK limitation while fetching app registrations."
Our requirement is to list all the registered applications for a tenant. The response should also contain information about the owners of the application.

To do so, we currently had to resort to calling Graph REST API natively instead of using Python SDK API.
The Graph REST API allows us to pass 'expand' parameter [OData query parameters](https://docs.microsoft.com/en-us/graph/query-parameters) w

[2020-06-04 11:17] infa-dgowran commented on #10927
I am initiating ComputeManagementClient and trying to loop through resource groups, it works for disks , not for snapshots.

`# Intialize the compute management client with the RunAs credential and subscription
compute_client = ComputeManagementClient(
    azure_credential,
    str(runas_connection["SubscriptionId"]),
    base_url=resourceManager_url)

# Intialize the resource management client wi

[2020-06-04 13:51] mpderbec opened #11819 "AzureCliCredential interrupts credential chain if Azure CLI is not logged in"
- **Package Name**: azure-identity
- **Package Version**: 1.4.0b3
- **Operating System**: Windows
- **Python Version**: 3.7

**Describe the bug**
On Windows (haven't tried other OSes, but would expect the same), if the Azure CLI client is logged out, then the `AzureCliCredential` class will raise `ClientAuthenticationError`, which causes the credential chain to stop. A common need is to include `I

[2020-06-04 15:18] jeking3 commented on #11816
When I try to back off to azure-mgmt-network 9.x and run the same test I get:

msrest.exceptions.ClientRequestError: Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/.../providers/Microsoft.Network/locations/eastus/operations/6f9361e5-b775-445a-bbe9-c134643396e8?api-version=2019-11-01 (Caused by Respon

[2020-06-04 15:24] #11585 closed

[2020-06-04 15:31] jeking3 commented on #11816
So this is not a bug in the library; see: https://status.azure.com/en-us/status

[2020-06-04 15:40] #11165 closed

[2020-06-04 16:22] annatisch commented on #11793
Thanks @Rabbit994 - this fix has been merged and will ship with the next release.
I'm not sure when that will be yet - I will close this issue once the release is out.

[2020-06-04 16:35] MS-syh2qs commented on #10927
@infa-dgowran,

1. Are you the same person as @sopeal?

2. <azure.mgmt.compute.compute.v2016_04_30_preview.models.snapshot_paged.SnapshotPaged object at 0x0000000589781080> isn't an error message. It's just trying to print an object but that object doesn't have a toString method. It's just printing out the memory location of that object. You should be printing the snapshots by using a for loop lik

[2020-06-04 16:41] infa-dgowran commented on #10927
no , not same person as @sopeal , as mentioned tried for loop below. the disks list correctly , snapshots not so tried couple of options for snap.

`groups = resource_client.resource_groups.list()
for group in groups:
    print ("#############################################################################")
    print ("Resource Group Name Disks: "),group.name.encode('utf-8'), ("Location: "),group

[2020-06-04 16:43] MS-syh2qs commented on #10927
@infa-dgowran, does it not print anything out for snapshots when you run that code?

[2020-06-04 16:45] infa-dgowran commented on #10927
syntax error , invalid syntax

[2020-06-04 16:46] MS-syh2qs commented on #10927
@infa-dgowran Are you missing the : after for snap in snapshots?

[2020-06-04 16:59] infa-dgowran commented on #10927
sorry typo, output below and screenshot attached. this is via azure automation and appears to be still using python 2.7 which was deprecated.

`Failed
Traceback (most recent call last):  File "C:\Temp\shfapard.t2p\da9346ae-9996-413e-a0f0-1c876cb3538b", line 80, in <module>    for snap in snapshots:  File "C:\Python27\lib\site-packages\msrest\paging.py", line 109, in __next__    self.advance_page()

[2020-06-04 18:03] iscai-msft opened #11821 "[text analytics] review docs.microsoft.com of latest release"

[2020-06-04 18:04] erikanderson opened #11822 "The property "key" must be a valid JsonWebKey object"
- **Package Name**: azure.keyvault.keys
- **Package Version**: 4.1.0
- **Operating System**: OSX
- **Python Version**: 3.8

**Describe the bug**
Using the [import_key method on KeyClient](https://docs.microsoft.com/en-us/python/api/azure-keyvault-keys/azure.keyvault.keys.keyclient?view=azure-python#import-key-name--key----kwargs-) with a valid [JsonWebKey](https://docs.microsoft.com/en-us/python/a

[2020-06-04 18:34] kaerm commented on #11817
@ietashish thanks for reaching out, @nickzhums could you help out here

[2020-06-04 18:37] kaerm commented on #11819
@mpderbec thanks for reporting this, @chlowell could you take a look at this

[2020-06-04 18:41] kaerm commented on #11822
@erikanderson thanks for reporting this, @chlowell can you take a look at this

[2020-06-04 19:11] databasedav commented on #11721
you mentioned a special manipulation that may be transforming this query; what is the alternative way to perform this query while utilizing the nested index? my goal is to efficiently check if a `user_id` is in the list of moderators for a given `chat_id` and found this query format in the docs but am not married to using it

[2020-06-04 19:47] anuragdalmia commented on #10966
Investigating.

[2020-06-04 19:51] anuragdalmia commented on #10814
Investigating

[2020-06-04 20:33] weshaggard commented on #11397
If possible we should do it as part of the packaging step itself and have the output going directly into a separate folder but if that isn't easy then we should do this reorganization as post-build step but during the build/package pipeline job. No need for us add another job to download, organize, and then re-upload.

[2020-06-04 20:42] scbedd commented on #11397
When I say `post-build` I mean `post-the-step-that-actually-builds`. It doesn't necessarily mean "download from artifact store, reupload after organizing".

 Not only that, but I think you're right in that it's still a possibility of issue. I also would prefer to generate them into the appropriate location.  The piece I'm a little bit uncertain of is how I'm going to get that input into the `build

[2020-06-04 21:21] lmazuel commented on #10927
Hi @infa-dgowran
Could you confirm with a `pip list` what version of msrest your are using? Could you try to update to latest one `pip install -U msrest`
Thanks

[2020-06-04 21:29] lmazuel commented on #11503
@iMicknl does #11827 look ok?

[2020-06-04 21:32] iMicknl commented on #11503
@lmazuel looks good to me!

[2020-06-04 22:47] anuragdalmia commented on #11777
Assigning this to @rthorn17 who is driving this.  Existing documentation for doing this is [here] (https://docs.microsoft.com/en-us/rest/api/resources/tags/createorupdateatscope#update-tags-on-a-subscription). I will let @rthorn17 talk about support for python SDK.

@ramaganesan-rg to track this appropriately under Management Group

[2020-06-04 22:49] #11503 closed

[2020-06-04 22:50] anuragdalmia commented on #10814
This behavior is currently by design. We explicitly did not enable this to prevent accidental cancellations of subscriptions with active resources that could impact prod services. If you would like to cancel subscriptions, you should be able to delete all resources and then cancel the subscriptions via the APIs. The reason we support this in UX and not in API is that the UX has enough warnings and

[2020-06-04 23:54] chlowell commented on #11819
Thanks @mpderbec, this will be fixed in our next release.

[2020-06-05 00:01] dannyromans commented on #9310
Hello @lmazuel I'm linking this here https://stackoverflow.com/questions/61944440/accessing-azure-storage-via-certificate-based-service-principal-credentials-azu
Thank you, will be pending.

[2020-06-05 00:16] #11819 closed

[2020-06-05 00:18] heaths opened #11830 "Rename AnalyzeRequest to AnalyzeTextOptions, and add constructor overloads / helpers for required fields"
Per discussion,

- [ ] Rename `AnalyzeRequest` to `AnalyzeTextOptions`. `SearchIndexClient.AnalyzeText` should look like: `AnalyzeText(string indexName, AnalyzeTextOptions options, ...)`.
- [ ] Add constructor overloads or other initialization helpers to require `text`, and either `analyer` or `tokenizer` (or, if you want, `analyzerName`, and `tokenizerName`, though I'll open up a separate issue f

[2020-06-05 01:37] nickzhums commented on #11817
@RodgeFu to double check if python sdk misses this functionality

[2020-06-05 02:07] heaths opened #11833 "Rename properties and parameters for analyzer, tokenizer, and synonymMaps to *Name(s)"
To be consistent with past renames for SearchField, SearchIndex, et. al, please make sure that all properties and parameters of type `LexicalAnalyzerName` or `LexicalTokenizerName`, and any string or string[] parameters for synonym map name(s) end in "Name" or "Names", as appropriate.

The following list was generated from .NET. Some renames have already been done, but please check in your code al

[2020-06-05 08:42] akucer commented on #11142
Closing out - please reopen if last feedback didn't resolve issue for you.

[2020-06-05 08:42] #11142 closed

[2020-06-05 15:25] MS-syh2qs commented on #10927
Hi @infa-dgowran,

Since your issue seems like different issue from @sopeal's isuse. I'm going to go ahead and close this issue. If you are still having issues after updating msrest, you can submit a new issue.

[2020-06-05 15:25] #10927 closed

[2020-06-05 15:30] MS-syh2qs commented on #10927
@sopeal,

Here's my test result printing out the snapshots.

![image](https://user-images.githubusercontent.com/64601530/83894757-bd4d3580-a71f-11ea-8f99-7adeccae1951.png)

Here's my result from using an invalid resource group name.

![image](https://user-images.githubusercontent.com/64601530/83894901-eb327a00-a71f-11ea-8c7d-5073964952c9.png)

[2020-06-05 16:57] weshaggard opened #11850 "Support publishing private dev packages to private DevOps feed."
Similar to other languages like .NET we should enable publish of daily dev packages to a private DevOps feed, I already setup the feed at https://dev.azure.com/azure-sdk/internal/_packaging?_a=feed&feed=azure-sdk-for-python-pr.

[2020-06-05 18:12] #11347 closed

[2020-06-05 18:16] #11448 closed

[2020-06-05 18:19] xiangyan99 commented on #11833
Fixed in #11800

[2020-06-05 18:19] #11833 closed

[2020-06-05 18:19] xiangyan99 commented on #11830
Fixed in #11800

[2020-06-05 18:19] #11830 closed

[2020-06-05 18:20] xiangyan99 commented on #11803
Fixed in #11800

[2020-06-05 18:20] #11803 closed

[2020-06-05 18:20] xiangyan99 commented on #11799
Fixed in #11800

[2020-06-05 18:20] #11799 closed

[2020-06-05 18:53] websolut commented on #11593
I am not able to make it work as per the examples below. Any help would be appreciated.

`continuation_token = ""
while continuation_token is not None:
    blobs = container_client.list_blobs(results_per_page=10).by_page(continuation_token=continuation_token)
    page = next(blobs)

    data = { 'name': [], 'length': [] }

    for blob in page:
        data['name'].append(blob.name)
        data['

[2020-06-05 19:36] ms-premp commented on #10434
Please check this sample
https://github.com/ms-premp/AzureConsumptionSamples/blob/master/Python_sdk/costmanagement_query_python_example.py

[2020-06-05 20:59] chlowell commented on #11822
These examples are valid in the narrow sense that our library allows constructing them. However, our library doesn't attempt to validate them as JWKs. It leaves that to Key Vault, which is the source of the error message. The first example can't be an RSA key, because `k` should be the bytes of a symmetric key. The second example includes no key material, which is to say it has nothing to import.

[2020-06-05 21:06] lmazuel commented on #11568
Released part of msrest 0.6.15

[2020-06-05 21:06] #11568 closed

[2020-06-05 21:09] #11624 closed

[2020-06-05 21:09] erikanderson commented on #11822
Ok, thank you very much @chlowell , will take a look at the test suite, test some more on end and then report back here

[2020-06-05 21:11] lmazuel commented on #9526
`azure-mgmt-documentdb` and `azure-servicemanagement-legacy` and won't be updated, the rest will be updated part of next gen re-generation, closing

[2020-06-05 21:11] #9526 closed

[2020-06-05 22:29] chlowell opened #11860 "Minimize generated code"
The specs for 7.1-preview and 7.2-preview are divided into feature areas. In these versions we have `certificates.json`, `keys.json`, and `secrets.json` instead of the monolithic `keyvault.json`. We could generate only the code each library needs. For example, the generated client in `azure-keyvault-keys` could have only the methods described by `keys.json`.

[2020-06-05 22:49] yunhaoling opened #11861 "[ServiceBus] The behavior of max_wait_time when combing with idle_timeout in pull receive"
The `idle_timeout` and `max_wait_timeout` are ambiguous when both provided in the pull mode, leading to behavior beyond user's expectation:

  | Idle_timeout | Max_wait_timeout | Current behavior | Expected behavior
-- | -- | -- | -- | --
Case1 | YES | YES | The shorter one wins | **TBD**
Case2 | NO | YES | Wait max_wait_timeout | Wait max_wait_timeout
Case3 | YES | NO | Wait idle_timeout | **TBD*

[2020-06-05 23:47] rakshith91 commented on #10642
@jongio There are a few concerns with this issue:

1) `azure-storage-common` is still necessary for the the track 1 libraries which we still support - so we cannot deprecate it unlike the azure-storage meta package.
2)  `azure-storage-common` is not something that can be used independently and is always used in coherence with the track1 blobs, queues or files. So landing on the pypi page for azure

[2020-06-06 00:25] #10989 closed

[2020-06-06 00:51] #11636 closed

[2020-06-06 00:59] jongio commented on #10642
@lmazuel - Can you please review and comment?  I would like the page to point to the new SDKs.  I found this page, other users will as well.

[2020-06-06 04:06] YijunXieMS opened #11863 "[Service Bus] list operations (list_queues and others) should return Pageable instead list"
In 7.0.0b3 we decided to return a list for list_queues and list_queues_runtime_info.
In new versions we should change them to return Pageable.

[2020-06-06 04:10] YijunXieMS opened #11865 "[Service Bus] 7.0.0b3 followup questions"
- [ ] 1. Should msrestazure be removed from setup.py?
- [x] 2. should QueueDescription.created_at be renamed to created_at_utc?
- [x] 3. Add context manager to async ServiceBusManagementClient
- [ ] 4. Access QueueDescription and QueueRuntimeInfo like dictionary
- [x] 5. Clean up control_client (Pin EH dependency to a legacy version, 0.50?)

[2020-06-06 11:43] deeagar commented on #11611
@KieranBrantnerMagee Thanks for getting back. Sorry didn't get back to you soon, was caught up in other things.

Firstly, I don't understand why I'd need to supply 'timeout' parameter. The execution of code has (or might have) many external calls and its always difficult to find how much time it will take to execute in a distributed. We just hope for the best and prepare for the worst. IMO, once I

[2020-06-08 06:03] pvrk commented on #9574
We are following up with SDK teams on the appropriate place for examples. Post that I can provide an update.

[2020-06-08 10:20] alexcombessie opened #11875 "Timeframe for Azure Text Analytics 3.1 general availability"
Hi,

I have developed a Dataiku DSS plugin for Azure Cognitive Services Text Analytics: https://github.com/dataiku/dss-plugin-azure-cognitive-services-nlp.

This plugin used the `entities/recognition/pii` REST API endpoint. Unfortunately, this endpoint is still on the v3.1-Preview.1. I am looking at this [page](https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/quickstarts/py

[2020-06-08 15:06] kristapratico commented on #11875
@assafi could you comment on an approx timeframe?

[2020-06-08 15:36] #11152 closed

[2020-06-08 15:38] #11713 closed

[2020-06-08 15:53] RodgeFu commented on #11782
@LianwMS , please talk with Kaihui to provide some sample code for pkvk14. Thanks.

[2020-06-08 16:32] assafi commented on #11875
I don't have specific timeframe, but we are hard at work on making sure it turns GA ASAP.

[2020-06-08 16:43] alexcombessie commented on #11875
Thanks! I have to say, I find the PII endpoint very promising. A unique selling point compared to other similar NLP-as-a-Service APIs.

[2020-06-08 17:10] kristapratico opened #11880 "[formrecognizer] Remove RecognizedReceipt, return RecognizedForm"
for begin_recognize_receipt APIs

[2020-06-08 17:45] vairamsvsjdo commented on #9574
First, the text says to look here for examples and it doesn't have one.
Two,  how one should use that API, no examples.

[2020-06-08 18:29] kristapratico opened #11881 "[formrecognizer] Address Arch Board Feedback"
- [ ] follow up if there could be something labeled that is not text when thinking of naming for `FieldText`. Should this be `FieldData` or alternate naming? Otherwise property/model naming difference between languages is okay  **Tracked in** #12274
- [x] `requested_on` and `completed_on` should be renamed to `training_started_on` and `training_completed_on` #12207
- [ ] possibly add training dura

[2020-06-08 18:30] kristapratico opened #11882 "[formrecognizer] Address Feedback from JS/Java UX Studies"
- [x] In unsupervised recognize [sample](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_differentiate_output_models_trained_with_and_without_labels.py#L80), show how to search for a certain field name in the dict  #12164
- [x] Add to documentation description about what SAS Url is – link to service docs about training (we might a

[2020-06-08 18:32] kristapratico opened #11883 "[formrecognizer] Improve error messages where service message is unclear"
See .NET issue where we are tracking unclear error messages needing improvement: https://github.com/azure/azure-sdk-for-net/issues/12478

[2020-06-08 19:03] anuragdalmia commented on #10966
@SiddharthPant - We have enabled support for this in our latest version. Can you please take a look at that and let us know if that addresses the issue for you - https://pypi.org/project/azure-mgmt-subscription/0.6.0/

[2020-06-08 19:03] #10966 closed

[2020-06-08 20:36] KieranBrantnerMagee commented on #11611
No worries whatsoever (Re: time to respond back).  I should be thanking you for your patience as we work through this.

The timeout long predates me so this is an assumption, but I believe it exists to try and avoid a scenario where a caller processes indefinitely (as a problem, not intentionally), and never releases a message back to the queue to be taken by another node.  Whether we should allow

[2020-06-08 20:56] yunhaoling opened #11889 "[ServiceBus] Samples Improvement"
- python2.7 session_pool_receive.py
  - No handlers could be found for logger "uamqp.receiver"
- replace message body "DATADATADATA" with meaningful words like scientist name
- async aiohttp related samples (identity, mgmt) reporting unclosed session, OSError
    - identity should be wrapped within context manager, may need code update?
    - mgmt client needs update as well?
- receive deadlettere

[2020-06-08 21:51] xiafu-msft commented on #11808
a note: this is an issue discussed with @jiasli offline, this is a issue for track1. storage will discuss about whether this will be fixed by a release or not

[2020-06-08 21:55] xiafu-msft commented on #11784
hi @markkuleinio
you need to do like this:
[code]

[2020-06-08 22:13] xiafu-msft commented on #11681
Hi @cg6
These two prs are to fix this issue, it will be released soon
https://github.com/Azure/azure-sdk-for-python/pull/11802
https://github.com/Azure/azure-sdk-for-python/pull/11864

[2020-06-08 22:16] xiafu-msft commented on #11674
Hi @anandchugh

Currently it's impossible to add the policy via SDK, while we will discuss with service side to see if they can enable this in the future

[2020-06-08 22:20] xiafu-msft commented on #11659
Hi @seyoung-solteq
Thanks for digging into this, currently we don't have a recommended value, sorry about that...

[2020-06-08 22:22] xiafu-msft commented on #11577
Hi @tompauwaert
It's a good feedback, thanks. We will talk to service to see if the error message could be more specific!

[2020-06-08 22:23] xiafu-msft commented on #11577
I will close this issue for now! feel free to open it if you have any concern!

[2020-06-08 22:23] #11577 closed

[2020-06-08 22:30] xiafu-msft commented on #11457
Thanks @AlexeyRaga for reporting this issue, this has been merged and will be released in this week.
For the other issue you opened we will dig into it!

Close this one for now, feel free to reopen it if you have any concern! Thanks again!

[2020-06-08 22:30] #11457 closed

[2020-06-08 23:03] chlowell commented on #11757
You mean the endpoint responded 400 after working for some period of time, then later responded 200 again, without any changes to the VM's configuration?

I think it's the best workaround for now. Anything else would require modifying the internal state of the credential or client.

[2020-06-08 23:26] KieranBrantnerMagee commented on #11444
Moving Milestone to July, as this work has been split into parts, of which Queue management made its way out in June thanks to Yijun's good work.

[2020-06-08 23:27] KieranBrantnerMagee commented on #10934
This has been included in the questions to evaluate as part of python UX studies.  Bringing milestone forward to July, as those studies will be performed in the next 2-3 weeks.

[2020-06-08 23:29] KieranBrantnerMagee commented on #11234
The followup questions for autocomplete and double-with have been included in our UX study agenda.  Any actions following from that will come in during the July milestone.

[2020-06-08 23:29] #11234 closed

[2020-06-09 00:04] xiafu-msft commented on #9159
So the conclusion for this issue is you should set directory="/" instead of directory="."

Feel free to reopen it if you have further questions!

[2020-06-09 00:04] #9159 closed

[2020-06-09 01:12] nonokangwei commented on #11689
@annatisch @southpolesteve i do some test based on the @annatisch sample code, if i do not give the **partition key range id**  paramterer it seems not works. as @southpolesteve said i review the SDK, it seems no function for customer to get the partition key range id.  So what is the suggested method to get the partition key range id, i only saw the description in rest-api interface.

[2020-06-09 06:03] markkuleinio commented on #11784
Thanks @xiafu-msft, with that I tried this (using the same `q` as in my first message):

[code]

Seems to be working.

Please make sure that the `receive_messages()` docstring gets corrected.

Thanks!

[2020-06-09 07:47] RodgeFu commented on #11782
@00Kai0  , please help to provide some sample code here for pkvk14. thanks.

[2020-06-09 08:51] TiunovNN commented on #11757
Yes. This is exactly what I meant

[code]
Why are you assign `False` to `self._endpoint_available`? It has been verified that the endpoint is available at startup.

[2020-06-09 08:52] deeagar commented on #11611
Thanks @KieranBrantnerMagee for your response. With exactly the same code and enabling logging as you demonstrated for version 0.50.3 - same error. We can more deeper look over scheduled call of-course.
Attached is the complete error trace which I get from logging.
[error.txt](https://github.com/Azure/azure-sdk-for-python/files/4750964/error.txt)

Some important points to note -

- Your suggestion

[2020-06-09 09:09] hanifahhad commented on #11816
The issue has been resolved. azure-mgmt-network version 10.2.0 is supported again (westeurope)

[2020-06-09 09:09] #11816 closed

[2020-06-09 10:40] deeagar commented on #11611
@KieranBrantnerMagee I see your code uses queues - I wonder why in this context. Anyways, I've used exactly your code with below change suggested by @sagar027

[code]

Update - Just for testing purpose, I created new topic-subscription from Azure portal (keeping all defaults) - create a new venv for my python code - installed 0.50.3 version of python service bus package - used your code with above

[2020-06-09 16:10] iscai-msft commented on #11821
checked and looks good (except for the known issues of the method signatures and keyword argument documentation not showing up)

[2020-06-09 16:10] #11821 closed

[2020-06-09 16:13] chlowell commented on #11757
We assign that variable `False` to prevent the credential sending requests we expect to fail. With managed identity disabled the endpoint is "available" in that it responds, however it always responds 400 to token requests. `_identity_available` would perhaps be a better name.

How often do you see this transient 400 behavior?

[2020-06-09 16:14] #11785 closed

[2020-06-09 16:24] chlowell opened #11914 "VSCodeCredential CredentialUnavailableError on Linux"
`VSCodeCredential` may raise an error stating no user is logged in even when one is:
[code]
This occurs on Linux when using Python 2.7, and when using Python 3.8 on some distros.

Related: #11738

[2020-06-09 17:34] chlowell commented on #10829
Closing this issue because we haven't seen this failure again.

[2020-06-09 17:34] #10829 closed

[2020-06-09 17:39] yunhaoling commented on #10934
.Net has the concept of `prefetch` as well but looks like they have a different strategy when receiving messages. Need to sync with Josh on this.

[2020-06-09 17:55] lmazuel commented on #10642
Fair enough, let me discuss with Ze then

[2020-06-09 18:52] Mahesh-git20 opened #11920 "azure BillingManagementClient is not working"
Hi,
{Code}
#correct values are given to get proper credentials
credentials = ServicePrincipalCredentials(client_id=client_id,secret=client_secret,tenant=tenant_id)
dd = BillingManagementClient(credentials,subscription_id,base_url=BASE_URL)
 if dd is None:
            print "Null billing object"
 df = dd.invoices.list()
res = dd.invoices.get_latest()
{/Code}

As per above python code snippet, billi

[2020-06-09 18:54] iscai-msft opened #11921 "[keyvault] add py.typed files for each module"
see https://github.com/Azure/azure-sdk-for-python/issues/9572

[2020-06-09 19:08] southpolesteve commented on #11721
@databasedav Does it work if you hard code the value of `user_id` into the query? The only thing that looks off to me is the potential issue with the string interpolation. The error the backend returns makes it look like the query is *much* larger when it actually gets sent to the server. You can see that in the `start` and `end` values that get returned.

[2020-06-09 21:14] rakshith91 opened #11927 "import error in azure-core-tracing"
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/azure/core/tracing/__init__.py#L5

This line should be modified to

[code]

However, when that is done the CI fails.

**Steps to reprodce:**

Installed this with the removed _abstract_span from the import line

The wheels are created using
[code]
[code]
followed by
[code]

Here is the stack trace.
[code]

[2020-06-09 22:11] kristapratico opened #11932 "[formrecognizer] look into speeding up recorded runs"
recorded test runs can take up to 30 mins. See if we can play around with the polling interval to shorten run times.

Also refactor how we're doing the delay between account creation and training in order to skip the sleep for recorded runs.

[2020-06-09 22:12] chlowell commented on #11134
This is available now in azure-identity 1.4.0b4. `DeviceCodeCredential`, `InteractiveBrowserCredential`, and `UsernamePasswordCredential` cache in memory by default. The argument `enable_persistent_cache` opts in to persistent caching. On Linux the cache is encrypted by default, which requires `libsecret` and [PyGObject](https://pypi.org/project/PyGObject/). You can disable this requirement with t

[2020-06-09 22:12] #11134 closed

[2020-06-09 23:03] lmazuel commented on #11927
After invstigation it's a misunderstanding (I take the blame for it)

[2020-06-09 23:03] #11927 closed

[2020-06-09 23:04] kristapratico commented on #11273
Turns out this is due to a slight race condition found on the service side: Teams [link](https://teams.microsoft.com/l/message/19:88f2d9dea2344075b5d4bc34d82a3d1c@thread.skype/1591734758922?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1591734758922&teamName=Azure%20SDK&channelName=Service%20-%20Form%20Recognizer&createdTime=159173475892

[2020-06-09 23:54] anand-rengasamy commented on #11920
Only account admins can list/download invoices. for other users see https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/manage-billing-access to know how to give permissions to others.

Also, Can you try using the latest api version (https://docs.microsoft.com/en-us/rest/api/billing/2019-10-01-preview/invoices)?

[2020-06-10 01:17] KieranBrantnerMagee opened #11935 "ServiceBus - Service side connection idle timeout is not surfaced, and can be compromised with improper values of autorenewer renew_period"
- **Package Name**:
azure-servicebus
- **Package Version**:
0.50.3 (Same issue will occur in 7.0.* as well)
- **Operating System**:
All
- **Python Version**:
All

**Describe the bug**
The ServiceBus Service has a connection idle_timeout of 240000 ms (4 minutes).  Not only is this unclear to users, but if renew_period for autolockrenewal is set to >4 minutes, (when max lock duration is theoreticall

[2020-06-10 01:18] KieranBrantnerMagee commented on #11611
Echoing our out-of-band conversation for progeny who finds this thread:

Once again the logs to the rescue; the full logs you linked contained the key breadcrumb: That when you set the lock duration at 5 minutes, the supposed maximum on the server, for whatever reason the expiry would show up as > than the 5 minute threshold, and thus the lock would be expired by the time we went to renew it.

Whe

[2020-06-10 01:18] #11611 closed

[2020-06-10 02:24] xiafu-msft commented on #10642
I created a backlog item https://msazure.visualstudio.com/One/_workitems/edit/7406932 to keep track of this

[2020-06-10 04:31] kuba-lilz opened #11941 "azure-storage-blob - sas credentials break client accessing local Azurite container"
- **Package Name**: azure.storage.blob
- **Package Version**: 12.3.1
- **Operating System**: OSX 10.15.5
- **Python Version**: 3.5.6

**Describe the bug**
When using sas token credentials for BlobServiceClient, requests sent to Azurite container are malformed

**To Reproduce**
Start azurite container (e.g. `arafato/azurite:2.6.5`), then run following code that uses credentials and connection strin

[2020-06-10 05:00] Mahesh-git20 commented on #11920
@anand-rengasamy   : Thanks for your quick response.

On Azure portal - https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/manage-billing-access : I have enabled the options for "Allow others to download invoice" and saved the settings.
- Even after that, still I am getting the same error msg.
ErrorResponseException: Operation returned an invalid status code 'Unauthorized'

Furt

[2020-06-10 05:18] kuba-lilz commented on #11941
Here is a complete script (that runs a small flask server) from which above code snipped was taken away in case that's any help:
[code]

[2020-06-10 06:14] anand-rengasamy commented on #11920
We are in process of releasing powershell sdk and CLI for latest api version. If you are using rest, you can list invoices using below method:
GET https://management.azure.com/providers/Microsoft.Billing/billingAccounts/default/invoices?$filter=Properties/SubscriptionId+eq+%2**<subId>**%27&periodStartDate=2020-03-01T00:00:00.000Z&periodEndDate=2020-06-01T00:00:00.000Z&api-version=2019-10-01-previe

[2020-06-10 06:19] anand-rengasamy commented on #11920
GET https://management.azure.com/providers/Microsoft.Billing/billingAccounts/default/invoices?$filter=Properties/SubscriptionId eq 'subID'&periodStartDate=2020-03-01T00:00:00.000Z&periodEndDate=2020-06-01T00:00:00.000Z&api-version=2019-10-01-preview

[2020-06-10 06:35] seyoung-solteq commented on #11659
Thank you for the reply @xiafu-msft !

[2020-06-10 06:35] #11659 closed

[2020-06-10 08:10] jiasli opened #11944 "[Identity] connection_verify not working in Azure Identity"
- **Package Name**:  Identity
- **Package Version**: 1.4.0b4
- **Operating System**: Windows
- **Python Version**: 3.8.3

**Describe the bug**
When `connection_verify=False` is used to create any credential, like `InteractiveBrowserCredential`, `RequestsTransport` will be configured as `self.connection_config.verify=False`:

https://github.com/Azure/azure-sdk-for-python/blob/0e82fae6b881d39497f8eb

[2020-06-10 08:19] rakeshakkera opened #11945 "Python: Support 'Delete' eviction policy for Azure Spot Standalone VMs"
**Is your feature request related to a problem? Please describe.**
Currently Azure Spot standalone VMs only support eviction policy of 'Deallocate'. We have made changes in the CRP service for standalone Spot VMs to support 'Delete' eviction policy as well. Changes need to be made in Python SDK should to support this.

**Describe the solution you'd like**
Currently Python SDK blocks choosing 'Dele

[2020-06-10 08:26] jiasli commented on #8391
I think the current patching logic is not enough:

https://github.com/Azure/azure-sdk-for-python/blob/b299320a619087c7c33e1041af4a89ef8cbf2400/sdk/identity/azure-identity/azure/identity/_internal/msal_transport_adapter.py#L69

MSAL still uses `requests` for this line:

https://github.com/Azure/azure-sdk-for-python/blob/b15cededb71a33d787ab30a1e676b798825d0d0d/sdk/identity/azure-identity/azure/iden

[2020-06-10 08:42] planetmarshall opened #11947 "ModuleNotFoundError: No module named 'azure.storage.blob' with pip user install"
- **Package Name**:
azure-storage-blob==12.3.1

- **Operating System**:
Windows Server 2016 (Hosted agent on Azure Pipelines)

- **Python Version**:
3.8.3

**Describe the bug**

`ModuleNotFoundError: No module named 'azure.storage.blob'`

**To Reproduce**
Steps to reproduce the behavior:
1. pip install --user azure-storage-blob
2. Execute the following code in a script:
[code]
**Expected behavior*

[2020-06-10 09:07] databasedav commented on #11721
@southpolesteve I'll post a full repro in a bit but the `user_id` isn't the issue since I used the same one to perform the query via the portal. Can you explain what the `start` and `end` values mean? Thanks.

[2020-06-10 09:29] jiasli commented on #8391
This is because the client created at [`msal.application.ClientApplication.__init__`](https://github.com/AzureAD/microsoft-authentication-library-for-python/blob/0f67285f0afc5072134cb01b496e3cb807558154/msal/application.py#L202)
[code]

is not reused at [`msal.application.ClientApplication._acquire_token_silent_by_finding_specific_refresh_token`](https://github.com/AzureAD/microsoft-authentication

[2020-06-10 17:35] kristapratico opened #11952 "[formrecognizer] expose request id in exception"
this is a helpful tidbit when debugging that should be exposed

[2020-06-10 19:18] scbedd opened #11956 "Handle ServiceBus Regression Errors"
With [this commit](https://github.com/Azure/azure-sdk-for-python/commit/821f993bbbd8e89a0c42de2649be7423b2e75b37#diff-3121ca446bcaf260a2234cb561e66f10) we added a dependency on `azure-core` to a long-history package for the first time. Each and every other package that has taken dependency on a package has all the appropriate tags present in the repository.

For `azure-servicebus` that just was ad

[2020-06-10 19:43] t-swpill opened #11958 "EventGrid - Sprint 2 - Prototyping EventGrid Python Track2"
Rampup

- [x] Familiarize existing champion scenarios/main customer requirements outlined by the Event Grid team (https://github.com/Azure/azure-sdk/issues/1405)

Implementation

- [ ] Add SAS authentication to Python client SDK
- [ ] Create code samples for the generated Python client SDK to meet main customer requirements/champion scenarios
- [ ] Explore which of these changes can be auto-genera

[2020-06-10 20:48] KieranBrantnerMagee opened #11960 "Release Service Bus Track 2 Library Preview 4 for Python"
**Design**
* [x] AMQP Data types
* [x] Plugins
* [ ] ATOM API Integration
* [ ] (stretch) Transactions

**Implement**
* [x] ATOM api: topics, subscriptions, rules

**Misc**
* [x] UX study feedback
  * [x] Single/multiple message naming
  * [x] Timeout reconciliation
  * [x] Prefetch/batch size reconciliation
  * [ ] AutoRenew improvements
  * [x] Multiple-with
  * [x] Iterator design
* [x] Consist

[2020-06-10 21:05] #6949 closed, assigned to chlowell

[2020-06-10 23:01] #11553 closed

[2020-06-10 23:14] yunhaoling commented on #6835
This is no longer being an issue in azure-servicebus v7 as all the time related variables/parameters in the sdk have been aligned to using UTC time.

[2020-06-10 23:14] #6835 closed

[2020-06-11 01:34] #11014 closed

[2020-06-11 02:17] scbedd opened #11967 "Resolve W0611(unused-import) occurring only in CI"
As evidenced starting with [this build](https://dev.azure.com/azure-sdk/public/_build/results?buildId=420114&view=logs&j=b70e5e73-bbb6-5567-0939-8415943fadb9) `core` CI is failing with a single unused import error. However, the member `Tuple` that `pylint` is saying is unused? It's actually used further on in the file.

Not only this, but the error started seemingly randomly. There were no code-ch

[2020-06-11 04:04] #10543 closed

[2020-06-11 04:04] #10502 closed

[2020-06-11 04:10] DebFro commented on #4259
Hello,
As there has not been a response, I'm going to close this issue at this time.  Please re-open if there is further need for this thread.
Thanks,
Deb

[2020-06-11 04:10] #4259 closed

[2020-06-11 04:26] heaths opened #11975 "Implement full vault backup and restore"
Implement full vault backup and restore based on https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2/backuprestore.json. Note that restore should probably be implemented as an LRO, which would poll the "pending" endpoint instead of exposing it outright. I have Azure/azure-rest-api-specs#9806 opened to track.

[2020-06-11 09:53] changlong-liu opened #11980 "lint issue in azure core"
The pipeline task PyLint failed In this PR: https://github.com/Azure/azure-sdk-for-python/pull/11949.

I found below in the task detail log:
************* Module azure.core.polling._poller
azure/core/polling/_poller.py:34: [W0611(unused-import), ] Unused Tuple imported from typing

It seems will block all PR, shall we have an urgent fix on it?

[2020-06-11 10:08] v-xuto opened #11982 "azure-cosmos Readme and Samples Issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/cosmos/azure-cosmos#configure-a-virtual-environment-optional):
![image](https://user-images.githubusercontent.com/57166602/84359604-71a4fb00-abfb-11ea-8374-9aad3d41f411.png)

Suggestion:
Remove an extra 'your'.
2.
Section [link](https://github.com/Azure/azure-sdk-for-python/tree/0385add4a893682534b1dba48ad13e1a26f2225b

[2020-06-11 12:04] berlogb opened #11983 "AutoLockRenew doesn't work. Failed to auto-renew lock: ServiceBusError('Management request failed: Failed to open mgmt link: MgmtOpenStatus.Error'). Closing thread."
- **azure-servicebus**:
- **0.50.3**:
- **RHEL**:
- **3.7.7**:

**Describe the bug**
Running debug example from here https://gist.github.com/KieranBrantnerMagee/e403c4f77f630d6664243dd52721fae3
results in the message expired exception

**To Reproduce**
` pip freeze | grep azu
azure-common==1.1.25
azure-servicebus==0.50.3
msrestazure==0.6.3`
Steps to reproduce the behavior:
1. pip install azure
2.

[2020-06-11 14:22] Mahesh-git20 commented on #11920
Thanks Anand for the reply.

Will try the operations with REST API and will update about the outcome.

[2020-06-11 16:25] kaerm commented on #11982
Thanks @v-xuto, //cc: @southpolesteve and @annatisch

[2020-06-11 17:04] #8550 closed

[2020-06-11 17:04] #8551 closed

[2020-06-11 17:04] #8552 closed

[2020-06-11 17:05] #8561 closed

[2020-06-11 17:05] #9385 closed

[2020-06-11 17:05] #9386 closed

[2020-06-11 18:15] lmazuel commented on #11980
@scbedd is there a reason why pylint is failing here, and was not failing before?

[2020-06-11 18:24] KieranBrantnerMagee commented on #11983
Hey @berlogb, thanks for making this really robust report.

I'm inclined to think you're hitting the same scenario [this other user](https://github.com/Azure/azure-sdk-for-python/issues/11611) ran across recently.  There was a bit of back and forth before we drilled down on the core issue so don't hesitate to just scroll to the bottom and see the suggested workaround.  In short, there are two prob

[2020-06-11 18:33] scbedd commented on #11980
@lmazuel I spent a couple hours yesterday trying to track this down. This does not repro locally, and as far as I can tell the environment dep and python versions are identical.

Submitted a [PR](https://github.com/Azure/azure-sdk-for-python/pull/11966) that has since been supplanted by Xiang, but could have unblocked CI with an approval and a merge. Check teams channel for further discussion.

I'

[2020-06-11 18:33] #11980 closed

[2020-06-11 19:51] #11880 closed

[2020-06-11 20:51] scbedd commented on #11967
Found a pretty essentially change. Agent version went from

`20200518.1` -> `20200604.1`

Diffing the package versions.

[2020-06-11 20:59] kristapratico opened #11989 "[formrecognizer] fix sample tests to use envars or values from mgmt_settings_real.py"

[2020-06-11 21:14] KieranBrantnerMagee commented on #11444
Just a note from our triage discussion: we had been wondering if any of the routing stuff had to do with mgmt, I poked around a bit and didn't see anything obvious in the -mgmt package docs OR in the portal/CLI commands, but it did serve as a good opportunity to mention "migration" and "key regeneration/auth rules" as two things that we haven't touched on yet.  This hasn't come up in the SB meetin

[2020-06-11 23:08] xiangyan99 opened #11996 "[Language consistency]SearchFilter"
.NET has SearchFilter.Create and JS has the odata tagged template literal (unclear if it handles dates/NaN/etc.), but Java and Python only allow have setFilter(literal). It could be added in the future without breaking but the dev experience is worse without it.

[2020-06-11 23:09] #9644 closed

[2020-06-12 01:55] v-xuto commented on #11982
@jongio , notification of this issue.

[2020-06-12 08:25] qianwens opened #12014 "Azure-Identity SDK not working in python 3.6 on windows"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
import Azure-Identity SDK in python 3.6 on windows will throw "OSError: [Errno 22] Invalid argument". 

Error stack
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-u8z3aah0\azure-identity\azure\identity\__init__.py", line 10, in <module>  File "C:\Users\VSSADM~1\AppData\Local\Tem

[2020-06-12 15:07] iscai-msft opened #12020 "Release KeyVault Track 2 Python 4.2.0b2"

[2020-06-12 15:07] #12020 closed

[2020-06-12 15:08] iscai-msft opened #12021 "[keyvault] regenerate keys with latest autorest"

[2020-06-12 15:09] iscai-msft opened #12022 "[keyvault] regenerate secrets with latest autorest"

[2020-06-12 15:10] iscai-msft opened #12023 "[keyvault] regenerate certs with latest autorest"

[2020-06-12 15:11] iscai-msft opened #12024 "[keyvault] add async poller methods to keys"

[2020-06-12 15:13] iscai-msft opened #12025 "[keyvault] add async poller methods to secrets"

[2020-06-12 15:14] iscai-msft opened #12026 "[keyvault] add async poller methods to certs"

[2020-06-12 15:15] iscai-msft opened #12027 "[keyvault] add continuation token to pollers in keys"

[2020-06-12 15:15] iscai-msft opened #12028 "[keyvault] add continuation token to pollers in secrets"

[2020-06-12 15:41] iscai-msft opened #12029 "[keyvault] add continuation token to pollers in certs"

[2020-06-12 16:11] lmazuel commented on #12014
https://bugs.python.org/issue29097

[2020-06-12 16:15] #12014 closed

[2020-06-12 17:06] iscai-msft opened #12032 "[text analytics] add support for optional string-index-type query param"

[2020-06-13 00:14] chlowell opened #12036 "msrest escapes backslashes when de/serializing"
Using msrest 0.6.16:
[code]

[2020-06-13 02:34] jongio commented on #11358
According to this, https://github.com/MicrosoftDocs/azure-docs/issues/24481, it looks like a CLI extension is required.

[2020-06-15 03:32] v-xuto commented on #11358
@jongio,  Thank you for your advice. I've updated it.

[2020-06-15 07:56] HarleyB123 opened #12046 "Changing Azure Storage to GRS turns off HTTPS Only"
- azure-mgmt-storage
- 10.0.0 (2020-05-07)
- Python 3.7

I have a script that changes all storage accounts from LRS to GRS replication. When looking at the change history actions, I can also see that it turns HTTPS Only to False.

Steps to reproduce the behavior:
1. When running this script:

[code]

You should then go to the change history of the bucket and see that both the storage account sku h

[2020-06-15 10:30] cdunklau opened #12048 "[Identity] azure.identity.aio.AzureCliCredential unusable due to malformed command line"
- **Package Name**: azure-identity
- **Package Version**: 1.4.0b5
- **Operating System**: macOS Catalina 10.15.5
- **Python Version**: 3.7.5

**Describe the bug**

The async flavor of AzureCliCredential doesn't properly construct the args for its `az account get-access-token` call, so `/bin/sh` (bash on my system) barfs:

[code]

It looks like this is the culprit:

https://github.com/Azure/azure-s

[2020-06-15 14:24] 00Kai0 commented on #11782
Hi @pkvk14 ,this error message means you don't set env value correctly.
According to the way you provide， you just need set `subscription_id = "7065525-8726-4862-96f4-f536kl9"`, if you don't want to get value from environment.
And this is a sample about creating vm: https://github.com/00Kai0/azure-playground/blob/master/samples/azure/createVM/track1.py#L75

[2020-06-15 14:43] nikhil-lunawat opened #12050 "[Data Factory] Unable to preserve metadata with Data factory v2 blob to blob CopyActivity"
- **Package Name**: azure-mgmt-datafactory
- **Package Version**: 0.10.0
- **Operating System**: Linux
- **Python Version**: 3.8.2

**Describe the bug**
Preserve metadata is not getting updated in copy activity with below code. As this is for automation, manually adding preserve element from data factory from UI is not feasible.
blob_source = BlobSource()
blob_sink = BlobSink()
dsin_ref = DatasetR

[2020-06-15 14:52] iscai-msft opened #12051 "[form recognizer] update aka links"
See https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/233/Azure-SDK-AKA.ms-Links

[2020-06-15 14:54] iscai-msft opened #12052 "[text analytics] update aka links"
See https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/233/Azure-SDK-AKA.ms-Links

[2020-06-15 14:56] iscai-msft opened #12053 "Release Text Analytics Track 2 Python First Post-GA release"

[2020-06-15 14:57] iscai-msft commented on #10224
Determined this is not an issue for Python

[2020-06-15 14:57] #10224 closed

[2020-06-15 15:37] #10326 closed

[2020-06-15 16:00] lmazuel commented on #12036
@chlowell `r"\\"` and "\\\\" are literally the same thing, since the `r` is telling to ignore the escaping. Write this in a Python interpreter you will see:
[code]

[2020-06-15 16:01] lmazuel commented on #12036
I'm not aware of any decoding issue in the body, we don't apply any transform to value in the body if there are "str"-typed. And your code doesn't show an issue either :)

[2020-06-15 16:24] #12036 closed

[2020-06-15 16:34] kristapratico opened #12055 "[formrecognizer] more cross-language test parity"
* [x] test encoding of url with %20 (form, receipt, content, training)
* [x] single blank page (form labels/without labels)
* [x] bad model_id passed into copy (wait to enable this test per Chris)
* [x] emulate big endian tiff file detect content-type

[2020-06-15 17:14] chlowell commented on #12048
Thanks for reporting this! It will be fixed in the next release.

Yes: to search the path for `az` rather than execute something named `az` in the working directory.

[2020-06-15 17:46] lmazuel commented on #12046
Hi @HarleyB123

The recommended pattern to update is to always do a GET first, to get the object as it is and change it. Otherwise, you will send default client value that are not default on the server, and see what you get. Something like this (written on the fly on this issue, not tested):

[code]

@RodgeFu @changlong-liu @zikalino I realize the sample I wrote was not taking this into account, a

[2020-06-15 19:31] #11932 closed

[2020-06-15 23:20] xiafu-msft commented on #11941
Hi @kuba-lilz
Thanks for reporting this! We have logged a bug and it will be fixed later

[2020-06-15 23:22] xiafu-msft commented on #11784
Hi @markkuleinio

Thanks for the feedback, we will try to make the docstring more clear

[2020-06-15 23:26] xiafu-msft commented on #9684
Hi @JADawson
Sorry that I just noticed you comments under this open issue! Please feel free to create a new one next time!
And you are right this is a bug in SDK, while it's fixed in the most recent release! We are appreciated that you reported this!

Thanks again

[2020-06-15 23:27] xiafu-msft commented on #9684
close this issue for now, feel free to reopen it if you have any question

[2020-06-15 23:27] #9684 closed

[2020-06-15 23:29] xiafu-msft commented on #10886
Hi @riazjahangir
This problem is fixed in the most recent release, thanks for reporting this

[2020-06-15 23:29] #10886 closed

[2020-06-16 01:57] fedler commented on #9076
How can i specify overwrite = true and headers at the same time?

[2020-06-16 02:52] 00Kai0 commented on #12046
Hi @HarleyB123 , I tried with 10.0.0, but didn't get this problem.
Here is the test code:
[code]

Can you show more useful info?

[2020-06-16 06:41] qiaozha commented on #11945
@rakeshakkera  Hi, I am confused. The swagger PR link you attached only changed the description of evictionPolicy. and the description in python sdk has already include both 'Deallocate' and 'Delete' https://github.com/Azure/azure-sdk-for-python/blob/release/v3/sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_03_01/models/_models_py3.py#L7853.
And since the enum value evictionPolicy has inc

[2020-06-16 07:14] changlong-liu commented on #10622
close since it's a local environment issue.

[2020-06-16 07:14] #10622 closed

[2020-06-16 09:24] v-xuto opened #12072 "azure-search-documents Readme and Samples Issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/search/azure-search-documents#create-an-index):
![image](https://user-images.githubusercontent.com/57166602/84754331-d47b0580-aff2-11ea-9177-59d7b74d5042.png)
Question 1:
Reason:
Cannot import name 'CorsOptions' from 'azure.search.documents.indexes'

Suggestion:
[code]
Question 2:
Reason:
azure.core.exceptions.HttpResp

[2020-06-16 09:27] v-xuto commented on #12072
@jongio, for notification.

[2020-06-16 10:58] cdunklau commented on #12048
Hi @chlowell, thanks for the speedy response!

The fix (#12056) seems to only address *nix, but I wonder if the bug exists on Windows too. Do you have the ability to test there? The synchronous client builds the args consistently for both platforms:

https://github.com/Azure/azure-sdk-for-python/blob/485ee381ecec64fb5efb5c56bd0809feec774c8f/sdk/identity/azure-identity/azure/identity/_credentials/a

[2020-06-16 13:04] HarleyB123 commented on #12046
Hi @00Kai0 - thanks for this.

I have tried altered my script so that it prints out the properties either side of the update. Below is my console output:

[code]

I have not yet got round to running your script, but will do so and let you know the output

[2020-06-16 13:34] HarleyB123 commented on #12046
Correction, have noticed I was using an older API version, have fixed this

[2020-06-16 13:34] #12046 closed

[2020-06-16 15:45] MiyKh opened #12073 "role assignment not set correctly"
- **Package Name**: azure-mgmt-authorization
- **Package Version**: 0.60.0
- **Operating System**: Windows
- **Python Version**: 3.7.3

**Describe the bug**
I try to create a role assignement between a ServicePrincipal as a Contributor on a ressource. The role assignment is created and it can be found through CLI but there is no "principalName" value and the IAM policy from the portal do not displ

[2020-06-16 16:54] MiyKh commented on #12073
resolved: I was using the AppID instead of the ObjectID of the ServicePrincipal

[2020-06-16 16:54] #12073 closed

[2020-06-16 17:46] chlowell commented on #12048
Yes, it works on Windows.

I agree it would be better to be consistent with the sync version, if only so no one else wonders whether it works on Windows 😊

I haven't tested this behavior of `subprocess`. Even if it does the thing we want, we'd still invoke a shell here because doing so consistently across all our SDKs (.NET, Java, JavaScript) makes the implementation easier for us to reason about.

[2020-06-16 18:24] danieljurek opened #12075 "Python dev packages don't have correct version suffix"
Python version [guidelines](https://github.com/Azure/azure-sdk/blob/master/docs/policies/releases.md#python) specify dev versions as being `X.Y.Z.devYYYYMMDDrrr`

However, for packages that have beta versions specified on the package, the generated version is `X.Y.ZbN.devYYYYMMDDrrr` .. The `bN` portion is extra. It should be `X.Y.Z.devYYYYMMDDrrr` per the policy.

Example beta package in dev feed

[2020-06-16 21:38] #10939 closed