[2020-02-10 23:32] KarishmaGhiya opened #9803 "[testing] why is msft bot triggering on my new issue i create :("

[2020-02-10 23:46] weshaggard commented on #9286
@praveenkuttappan DevOps feeds are immutable after you upload a package to them so we cannot delete them. I think in the failure case we may not have any choice but to abandon that package upload. What case is this failure is it for a dev build? I don't see a dev version in your example.

[2020-02-10 23:59] iscai-msft commented on #9545
Released in 1.2.2

[2020-02-11 02:14] rfernand2 commented on #9744
@chlowell, is there a quick-fix I can add to my code to cache the credentials while I am waiting for the official fix from you?  Thanks...

[2020-02-11 03:59] krisbock opened #9809 "PermissionError: [Errno 13] Permission denied: '/root/.azureml' with Azure Databricks High Concurrency/Passthrough"
- **Package Name**:  azureml-sdk[databricks]
- **Package Version**:  SDK version: 1.0.85
- **Operating System**: Azure Databricks
- **Python Version**:

**Describe the bug**
Unable to initialise Azure ML Workspace in Azure Databricks (ADB) notebook, using ADB High Concurrency with Passthrough enabled.  Standard clusters with/without passthrough work fine, as does High concurrency without passthrou

[2020-02-11 04:17] #9803 closed

[2020-02-11 07:57] 00Kai0 opened #9811 "body format error in mgmt-servicefabric"
- **azure.mgmt.servicefabric**:

**Describe the bug**
Lost params after format, example:

[code]
lost `id` and `name` in this ex.

[2020-02-11 09:06] welabbar1 commented on #573
I have managed to workaround this using:

1.  Flask-SocketIO to emit a dictionary of VM information ( list_all().next().as_dict() ) to the frontend's knockout JS observables (name, rg, type, size, subid, status showing loading gif, and extensions showing loading gif)

2.For every VM that gets processed, it would immediately write a row in the paginated jQuery Datatable to display to the user immed

[2020-02-11 09:14] praveenkuttappan opened #9812 "Auto version increment is failing for Python"
Version increment failed with invalid path error on Unix machine. Path should be adjusted to abspath to avoid looking for path like "setup.py//.."

[2020-02-11 11:06] antoncyrol commented on #8557
Any updates on this? Is this on the roadmap? Or is there any reliable workaround for this?

[2020-02-11 14:19] chlowell commented on #8557
Pod Identity's text/plain issue was fixed in version 1.5.4 and I haven't seen it since (1.5.5 is the latest). Are you still seeing "DecodeError: Cannot deserialize content-type: text/plain"?

[2020-02-11 14:58] kdazzle commented on #9660
@YijunXieMS - quick question about the version of that. The zip file says azure-eventhub-5.0.0 - does that mean that the version with the fix will also be 5.0.0?

[2020-02-11 16:12] kaerm commented on #9809
@krisbock thanks for reporting this, someone from our team will take a look at this

[2020-02-11 17:15] annatisch commented on #9534
Update:
I have managed to repro this locally and have confirmed that it's actually an incompatibility in the forming the Storage "batch" requests, and the way oauth policy in azure-core enforcing the 'https' URL scheme.
This fix will need to be added to Azure core, so updating the labels.
Adding @lmazuel and @chlowell
The issue is that each part in the multi-part requests for storage do not use a

[2020-02-11 18:03] kristapratico opened #9818 "[textanalytics] create references for Readme links"
Put all links in readme as references at bottom of page

[2020-02-11 18:37] lmazuel commented on #9534
I suggest we don't apply this check when the URL is partial (parse and check the scheme, instead of startswith)

[2020-02-11 19:22] praveenkuttappan commented on #9663
@scbedd I believe this is the same random issue we have fixed last week with different cache path. I am tagging it to old PR and marking it closed.

[2020-02-11 19:22] #9663 closed

[2020-02-11 19:56] scbedd commented on #9663
100% ok with this!

[2020-02-11 20:05] #9812 closed

[2020-02-11 20:06] #9750 closed

[2020-02-11 20:08] praveenkuttappan commented on #9751
https://github.com/Azure/azure-sdk-for-python/pull/9778

[2020-02-11 20:21] #9749 closed

[2020-02-11 20:21] #9751 closed

[2020-02-11 20:26] nancybelser commented on #9715
Any updates on this issue?

[2020-02-11 21:03] lilyjma commented on #9715
Hi @nancybelser thanks so much for the feedback and the patience. I'm working to route this issue to someone on the Consumption team. I apologize for the delay.

[2020-02-11 21:53] chlowell commented on #9744
I'm afraid there isn't a quick fix. We don't have a cache ready to bolt on, and `InteractiveBrowserCredential` doesn't expose its caching behavior for modification anyway.

[2020-02-11 22:06] kristapratico commented on #9539
released

[2020-02-11 22:06] #9539 closed

[2020-02-11 23:01] mayurid commented on #9763
@dharmab : Thanks for the report. Can you let us know what Python SDKs are you using?

[2020-02-11 23:14] chlowell commented on #9633
Closing this because we can't address it in the SDK. For future reference, #9689 added a minimal app using azure-identity in Azure Functions.

Thanks again for opening this. Please feel free to open another issue if you encounter other problems.

[2020-02-11 23:14] #9633 closed

[2020-02-11 23:20] chlowell commented on #9298
Closing this because it's hard to investigate now that build has been deleted. It may have been addressed by #9716, which ensures HTTP errors in azure-keyvault-* always raise azure-core exception types.

[2020-02-11 23:20] #9298 closed

[2020-02-11 23:54] jjgriff93 opened #16768 "Exception when using BlobClient.download_blob with MSI authentication: AttributeError: 'NoneType' object has no attribute 'status_code'"
### Which service(blob, file, queue) does this issue concern?
Blob Service

### Which version of the SDK was used? Please provide the output of `pip freeze`.
azure-common==1.1.24
azure-core==1.1.1
azure-functions==1.0.7
azure-identity==1.2.0
azure-keyvault-secrets==4.0.0
azure-storage-blob==12.1.0
cryptography==2.8
msal==1.1.0
msal-extensions==0.1.3
msrest==0.6.10
py==1.8.1
pytz==2019.3
pywin32==2

[2020-02-12 00:48] lilyjma commented on #9715
@ms-premp  please loop in the right people to take a look at the issue. Thanks!

[2020-02-12 11:42] antoncyrol commented on #8557
I should have been clearer: We got an error message using an ACI with managed identity:

We did not dig further into this and did not see the decode error, but only suspected that this issue is affecting me.

However, we get an at least similar error while trying to access a key vault with the managed identity of an ACI:

  File "/usr/local/lib/python3.8/site-packages/azure/identity/_credentials/d

[2020-02-12 15:05] kdazzle opened #9830 "Event Hub consumers silently dropping events?"
- **Package Name**:  azure-eventhub
- **Package Version**: 5.0.0
- **Operating System**: Windows
- **Python Version**:  3.6.5

**Describe the bug**
I've got about 13,000 events that I'm consuming from event hub. The events are all utf8 byte streams of (often fairly large) json objects. I've noticed that a good chunk of them aren't being received (I'd say 1,000-3,000 of them).

Many of the events t

[2020-02-12 15:39] davidemiceli opened #9832 "[azure-mgmt-containerinstance] Error 'ImageRegistryCredential' object is not iterable"
- **Package Name**: azure-mgmt-containerinstance
- **Package Version**:  1.5.0
- **Operating System**: Ubuntu
- **Python Version**: 3.7

**Describe the bug**

Returning a TypeError ("object is not iterable") error on creation of an Azure Container Instance of an image hosted on a Azure Container Registry:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Run a container from an image

[2020-02-12 15:57] kdazzle commented on #9830
Actually, I'm an idiot and am closing the issue. The problem had to do with the starting position I was using.

Thanks, and apologies :P

[2020-02-12 15:57] #9830 closed

[2020-02-12 16:18] federicosalvi opened #9833 "PipelineDraft.list() throws exception"
- **Package Name**:
azureml.pipeline.core
- **Package Version**:
1.0.85.1
- **Operating System**:
Windows 10
- **Python Version**:
3.7.4

**Describe the bug**
When calling PipelineDraft.list() an AttributeError is thrown. It happens only when a pipelinedraft has been created from the Azure ML studio.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a pipeline draft from the Azure ML st

[2020-02-12 16:26] chlowell commented on #8557
There's no interaction between azure-identity and the Azure CLI (there will be in the future). Your workaround works because it takes time. ACI containers commonly start before the managed identity endpoint is ready. An application can therefore fail to authenticate when it tries to do so immediately upon starting but succeed when its first authentication attempt comes some seconds after starting.

[2020-02-12 18:34] chlowell opened #9834 "Key Vault clients raise msrest errors"
For example:
[code]

[2020-02-12 20:44] danieljurek opened #9837 "smoke tests break on dependency changes for scripts in eng folder"
Is there a way to install requirements for a tool like `install_dev_build_dependency.py` without requiring updates to the smoke tests' installations?

A recent [change to common_tasks.py](https://github.com/Azure/azure-sdk-for-python/blob/master/scripts/devops_tasks/common_tasks.py#L31) introduced a dependency on `pkginfo` ... The smoke tests broke when this dependency was introduced but not insta

[2020-02-12 20:48] danieljurek opened #9838 "quick fix: add pkginfo to smoke test install pipeline"
There is a longer term fix that needs to be thought about here: https://github.com/Azure/azure-sdk-for-python/issues/9837

[2020-02-12 20:50] danieljurek commented on #9837
cc @scbedd, @praveenkuttappan

[2020-02-12 21:15] kaerm commented on #9832
@davidemiceli thanks for reporting this, looping in the right team to take a look at this //cc: @nickzhums

[2020-02-12 21:37] iscai-msft opened #9840 "Add RequestIdPolicy to pipeline"
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/azure/core/pipeline/policies/_universal.py#L111

[2020-02-12 21:38] scbedd commented on #9837
We actually have a plan for this going forward. @danieljurek

We intend to move all our tooling scripts (where it makes sense, like everythin under scripts/devops_tasks) under a namespace in `azure-devtools.`

This would mean that it would take a simple `pip install azure-devtools` to get access to what you need. Then, as you mentioned, we could uninstall it after it runs to leave the environment

[2020-02-12 23:26] iscai-msft opened #9844 "Pass kwargs to ContentDecodePolicy"

[2020-02-12 23:51] yunhaoling commented on #6731
Hello @andrewkittredge , thanks for reaching out.

We're in the middle of plan for next ServiceBus preview.
Retry policy is definitely something we'll add support to, but we can't guarantee a specific time.

Thanks for your patience in advance and will update you if there's any progress.

[2020-02-12 23:54] praveenkuttappan opened #9846 "Regression test fails when package has nested dependency"
Azure-storage-file-share has a dependency with Azure-core and Azure-storage-blob. Regression test for Azure-storage-blob against data lake uses old version of azure-core instead of latest version due to nested dependency on core from azure-storage-blob also.

Regression test filters only the package that is currently being tested from dev requirements and as a result it installed old version of az

[2020-02-13 01:01] praveenkuttappan opened #9848 "Change log version check ignored unreleased tag when releasing package"
Version check must ensure that "Unreleased" tag is not present in version title when releasing package. for an instance, change log was not updated to release date for azure-storage-file-datalake

Fore.g. Version title should not have tag like the one in below sample.
## 1.2.3 (Unreleased)

[2020-02-13 01:32] #9844 closed

[2020-02-13 01:32] #9840 closed

[2020-02-13 01:51] nickzhums commented on #9832
@RodgeFu can you take a look at this please, thanks!

[2020-02-13 01:56] RodgeFu commented on #9832
@changlong-liu to have a look. thanks.

[2020-02-13 03:26] v-xuto commented on #9649
Hi @wjia7 ,
Here are the steps to dissociate public IP address from NIC( You can click the [link](https://docs.microsoft.com/zh-cn/python/api/azure-mgmt-network/azure.mgmt.network.v2019_09_01.models.networkinterfaceipconfiguration?view=azure-python ) for your reference)：
Step 1, create a Network Management Client Object.
Step 2, get subnet_obj.
Step 3, configure network interface parameters.  When

[2020-02-13 08:46] antoncyrol commented on #8557
Thank you, @chlowell, you are completely right! Could we have read this somewhere in the docs?

**Workaround (better)**
If it is okay for you that your container sleeps a bit before it starts to do its work, you can simply use:
`CMD sleep 30 && python XXX`

**Off-topic**
Is this delay also the reason why one can't use an ACI's managed identity to deploy images from Azure container registries?

[2020-02-13 09:55] federicosalvi commented on #9833
An update:
it seems that the issue occurs only when at least one of the pipeline drafts has been created from the azure ml studio. I suspect that's because you don't need to specify an experiment when doing so, while you do have to when you create it from the sdk.

I'll update the steps to reproduce.

[2020-02-13 11:06] changlong-liu commented on #9832
Hi @davidemiceli , the parameter image_registry_credentials of ContainerGroup(...) should be assigned as a list. In this case, would you please help to try below instead?
[code]
Thanks.

[2020-02-13 14:28] keithdarragh opened #9856 "service bus .complete()"
- **Package Name**: azure-servicebus
- **Package Version**: 0.50.2
- **Operating System**: linux
- **Python Version**: 3.6

**Describe the bug**
A clear and concise description of what the bug is.
I'm following the docs on how to subscribe to data in a topic and send back an acknowledgement  after processing. However the complete method throws an error saying it is unavailable.

**To Reproduce**
S

[2020-02-13 14:55] khaoulaB1 commented on #2302
**my code :**
def run_example():
    """Resource Group management example."""

    # Create the Resource Manager Client with an Application (service principal) token provider
subscription_id = os.environ.get(
       'AZURE_SUBSCRIPTION_ID',
       'xxxxxxxxxxxxxxxxxxxxxxxx')
credentials = ServicePrincipalCredentials(
    client_id = 'xxxxxxxxxxxxxxxxxx',
    secret = 'xxxxxxxxxxxxxxxxxx',
    tena

[2020-02-13 15:04] nickzhums commented on #9312
@steveharrington1 thanks for opening this issue. Looks like this issue needs help from the service team. We'll route to the appropriate person

[2020-02-13 16:13] BarryBo opened #9857 "keyvault client fails with (1783, 'CredWrite', 'The stub received bad data')"
This is similar to https://github.com/Azure/azure-sdk-for-python/issues/4610, but repros using msrest 0.6.11.

This repros on Windows 10, with Python 3.8.1 64-bit.  It does not repro on Ubuntu Linux.

**Describe the bug**
azure.keyvault.key_vault_client.KeyVaultClient - call get_secret(), and it throws the above exception.

**To Reproduce**
Steps to reproduce the behavior:
1.  Use ADAL to authenti

[2020-02-13 16:32] kaerm commented on #9856
@keithdarragh thanks for letting us know! Someone from our team will look into that

[2020-02-13 16:37] kaerm commented on #9857
@BarryBo thanks for letting us know, someone from our team will take a look into this

[2020-02-13 16:50] chlowell commented on #8557
Not in the azure-identity docs; possibly in docs for the AKS/ACI managed identity implementation ([Pod Identity](https://github.com/Azure/aad-pod-identity)).

I think that's due to other details of the ACI implementation I can only speculate about. I'd guess the cluster deploying the container instance can't use a user-assigned managed identity to pull an image.

I'm closing this issue now because

[2020-02-13 16:50] #8557 closed

[2020-02-13 18:07] chlowell commented on #9857
@lmazuel looks like a recurrence of #4610 in the latest msrest?

[2020-02-13 18:24] KieranBrantnerMagee commented on #9180
@YijunXieMS  kindly confirmed that now in T2 container is specifiable so this is implicitly solved.  Closing,  Thanks all!

[2020-02-13 18:24] #9180 closed

[2020-02-13 22:02] scbedd opened #9862 "Encapsulated Return Type Not Resolving on Docs.Microsoft.com"
This is what it looks like on the review site:

https://review.docs.microsoft.com/en-us/python/api/azure-ai-textanalytics/azure.ai.textanalytics.textanalyticsclient?view=azure-python-preview&branch=smoke-test-preview#analyze-sentiment-inputs--language-none----kwargs-
![image](https://user-images.githubusercontent.com/45376673/74482122-c9f40800-4e68-11ea-87e1-ad9800ac3614.png)

We believe that the

[2020-02-13 22:02] xiafu-msft commented on #9538
Hi @letmaik
Thanks for providing the thought to optimize our upload function, we will create an item in backlog to look into that

[2020-02-13 22:03] scbedd commented on #9862
@kristapratico made a suggestion that we can try adjusting the code to have a space between the two models in the return type.

Will try that on our side.

[2020-02-13 22:23] xiafu-msft commented on #9782
Hi @lx1054331851

Thanks for reaching out. If it is a public file then you should be able to copy that.
Also I've tested and I'm pretty sure you will be able to copy https://static.zara.cn/photos///2019/I/0/1/p/2387/778/712/6/w/1920/2387778712_1_1_1.jpg

Let me know if you need anything else!
Best,
Emily

[2020-02-13 22:39] letmaik commented on #9538
@xiafu-msft Great, thanks. Do you have a rough estimate on when this improvement would land?

[2020-02-13 23:34] Drewm3 commented on #9514
Hi @v-doquag, thanks for bringing this to my attention. This feature was added as an "experimental" without appropriate documentation clarifying that the parameter is not available for general use. Currently this feature cannot be used in any subscription that is not whitelisted for the experimental feature.

We do not intend to roll-out this feature broadly in the near term. The documentation wil

[2020-02-14 00:01] v-doquag commented on #9514
Ok.  Thanks.

[2020-02-14 00:24] xiafu-msft commented on #9783
Hi @gverkes

I was able to reproduce the problem. It should be a storage bug(either service or client) we are still investigating that.
Sorry about the inconvenience...

[2020-02-14 02:28] xiafu-msft commented on #9783
Created an issue in our dependency and see if they have any insight about this https://github.com/aio-libs/yarl/issues/420

[2020-02-14 02:35] v-xuto commented on #9782
Hi @lx1054331851 ,
You can install the latest blob version 12.2.0 using the following command:
[code]
The detailed code using blob version 12.2.0 is shown below (You can click the [link](https://github.com/Azure/azure-sdk-for-python/blob/a59b39a1bc11fe8556c94df26a71aa7ebf7d9d8f/sdk/storage/azure-storage-blob/samples/blob_samples_copy_blob.py) for your reference):
[code]
@jongio

[2020-02-14 03:36] nickzhums commented on #9514
Thanks @Drewm3
Since the issue is explained, I'm closing the issue for now. @v-doquag  feel free to re-open

[2020-02-14 03:36] #9514 closed

[2020-02-14 03:38] Drewm3 commented on #9499
@vaibhav-agar, could you take a look at this issue?

[2020-02-14 07:28] nickzhums commented on #9312
@steveharrington1 Per investigation from service team, this is on their radar with high priority and we are working on resolving this issue. In the mean-time, if reverting to an older version of SDK is an option for you, you could try **0.43.1**

Let us know if you have other questions

[2020-02-14 07:34] heaths opened #9866 "July release of KeyVault for Python"
# Features

- [ ] (Preview) Support local key encryption for CryptographyClient (#9754)
- [ ] (Preview) Support Role-based Access Control (RBAC) for data plane (#9755)
- [ ] ~Allow customers to parse certificate, key, and secret IDs from URLs (#9908)~

[2020-02-14 09:19] keithdarragh commented on #9856
Hi @kaerm,

Issue appears to be resolved by following the example found here: https://github.com/Azure/azure-sdk-for-python/blob/8e8d5ab93c5c37e48adac04fc3825ddae88b9210/sdk/servicebus/azure-servicebus/examples/subscription_receive.py#L34

Have some old apis for this been deprecated or support dropped?

[2020-02-14 16:15] chradek opened #9868 "[Event Hubs] Test in Azure Stack and document any workarounds"
This issue is to track testing the Event Hubs track2 SDK in Azure Stack including the storage blob checkpoint store and document any workarounds needed.

- [ ] Test Event Hubs track 2 SDK in Azure Stack
- [ ] Test Event Hubs with Storage Blob checkpoint store in Azure Stack
- [ ] Document any workarounds needed to support checkpointing.

To validate that Event Hubs is working correctly, we should

[2020-02-14 19:16] kristapratico opened #9869 "[textanalytics] more changes from ux debrief"
* [x] Allow explicit `"none"` for country_hint. Service will support this in the future, but make it possible now  #9889
* [x] Rename `sentiment_scores` to `confidence_scores` for document/sentence sentiment (add to docstrings that these scores represent the Softmax score)
* [x] Rename linked entity `id` to `data_source_entity_id`
* [x] Rename `SentimentScorePerLabel` back to `SentimentConfidenceS

[2020-02-14 21:25] scbedd opened #9872 "Class references within :raises: directive are not resolving"
[Not Resolving CredentialUnavailableError](https://review.docs.microsoft.com/en-us/python/api/azure-identity/azure.identity.aio.sharedtokencachecredential?view=azure-python&branch=smoke-test#get-token)

However, [other class references](https://review.docs.microsoft.com/en-us/python/api/azure-identity/azure.identity.aio.chainedtokencredential?view=azure-python&branch=smoke-test#get-token) actually

[2020-02-14 21:55] YijunXieMS commented on #9351
The fix was released with uamqp 1.2.6

[2020-02-14 21:55] #9351 closed

[2020-02-14 21:57] #9179 closed

[2020-02-14 22:12] #9677 closed

[2020-02-15 01:49] heaths opened #9874 "Importing PEM-encoded certificates may not work"
While fixing azure/azure-sdk-for-net#9963, I found that we are base64-encoding PEM files but, despite the parameter name and description in swagger, the service expects PEM files as plain strings. On top of that, we don't know how the developer encoded the PEM file so we can't correctly decode it unless we ask or, instead, add a string overload and handle encoding/decoding internally ourselves.

[2020-02-15 18:54] brunojuliao commented on #5630
I hope the script below helps :)
[create_sync_test.zip](https://github.com/Azure/azure-sdk-for-python/files/4208888/create_sync_test.zip)

I tried to find a way to avoid code duplication as requested, but this (a)sync seems we can't scape it. So, I thought you and your team could do something like create the async tests. They will be the base of the sync tests. Then, just call the attached script

[2020-02-18 01:55] v-xuto commented on #9782
Hi @lx1054331851 ,
How is this issue going? Feel free to let us know if further help is needed.

[2020-02-18 01:56] v-xuto commented on #9649
Hi @wjia7 ,
How is this issue going? Feel free to let us know if further help is needed.

[2020-02-18 09:26] Ravi-cell opened #9885 "Programmatically how to get the CPU and RAM utilization for Azure VM."
Please let me know how to get the cpu and ram size of azure VM.we are trying to get the CPU and RAM utilization by using python sdk.

[2020-02-18 14:48] nancybelser commented on #9715
Any updates on this?

[2020-02-18 16:25] praveenkuttappan opened #9887 "Unpin idna version when new version of requests is released"
idna latest(2.9) is installed as requirement for yarl which is a required package for vcrpy. Azure SDK packages has a dependency on ~~~requests~~~ package which requires idna version <2.9 and this leads to version conflict.

requests package has fixed this issue as per a recent PR merged into their branch by supporting idna 2.9. Pinning idna version 2.8 until requests new version is released.

htt

[2020-02-18 17:46] kaerm commented on #9885
@Ravi-cell thanks for reaching out tagging the right team to take a look at this //cc: @nickzhums

[2020-02-18 18:35] ms-premp commented on #9715
@addesai please have a look... it looks like the filter is not passed in correctly.

[2020-02-18 20:34] chlowell commented on #9302
Addressed by #9302, thanks @HankiGreed!

[2020-02-18 20:34] #9302 closed

[2020-02-18 20:38] chlowell commented on #9622
Addressed by #9727

[2020-02-18 20:38] #9622 closed

[2020-02-18 21:07] YijunXieMS commented on #9660
@kdazzle, I increment the version number to 5.0.1 for a new dev build. [azure-eventhub-5.0.1.zip](https://github.com/Azure/azure-sdk-for-python/files/4221661/azure-eventhub-5.0.1.zip)

[2020-02-18 21:19] #7829 closed

[2020-02-18 21:25] #9761 closed

[2020-02-18 21:58] rakshith91 opened #9893 "[Storage] Support live test provisioning"
https://github.com/Azure/azure-sdk-for-python/issues/9796

[2020-02-18 22:08] #9838 closed

[2020-02-18 22:55] kristapratico opened #9896 "Text Analytics Track 2 Preview 3"
#9869
#9818
#9445
#9404
#8946
#9902
#9967
#9992

[2020-02-18 23:00] #8726 closed

[2020-02-18 23:00] #9846 closed

[2020-02-18 23:27] kurtzeborn opened #9897 "Add Python support to ApiView for reviews"

[2020-02-19 01:41] scbedd opened #9898 "Establish Scenario Testing Support for Python"
Getting this epic filed for tracking purposes. First, some context.

The method by which `azure-identity` is currently scenario-tested across various configurations and platforms is the following:

1. A "script" markdown is shared. This is essentially a set of manual steps necessary to properly execute the scenario test.
    * A sample of one such step would be `az appserviceplan create <params>`

[2020-02-19 01:49] #9273 closed

[2020-02-19 03:09] v-xuto commented on #9684
Hi @markpearl ,
Here are the steps on how to use rename_file, your question appears in step3.:
Step 1, create a DataLakeServiceClient Object.
Step 2, get file client.
step 3, create target path.
step 4, rename file.

The detailed code is shown below for how to use rename_file (here is the official  [sample](https://github.com/Azure/azure-sdk-for-python/blob/33c8614005d60e7991ff6ed21e78b1c608f35a51

[2020-02-19 04:19] HankiGreed commented on #9302
Thanks for giving me a chance to do this. This is my first contribution on GitHub and it felt good doing it. Thanks @chlowell for bearing with me throughout. !

[2020-02-19 04:32] kristapratico opened #9902 "[textanalytics] refactor exceptions to use azure.core OData"
Refactoring to make sure inner error code/message still get raised

[2020-02-19 12:44] estensen opened #9904 "Why is `pre_warmed_instance_count` not part of AppServicePlan?"
It seems logical to group it together with `maximum_elastic_worker_count`, `location` and `sku`.
I cannot from the documentation find a way to programmatically specify how many pre-warmed instances I want.

[2020-02-19 13:34] F-Schmidt1 opened #12204 "inconsistent encoding behaviour in QueueClient.send_message()"
### Which service(blob, file, queue) does this issue concern?
Queue

### Which version of the SDK was used? Please provide the output of `pip freeze`.
azure-storage-queue==12.1.0

### What problem was encountered?
#### Repro:
Following the documentation at https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/storage/azure-storage-queue#sending-messages

[code]
The first message shows up c

[2020-02-19 17:22] kaerm commented on #9904
@estensen thanks for reaching out to us, someone from our team is going to take a look at this //cc: @nickzhums

[2020-02-19 17:45] luanshixia commented on #1127
Hi @madhukargilla ,

There is a limitation in the underlying Azure Resource Manager resource query API. This API won't return any private properties of the resources (i.e. what are in the `properties` property). Thus, the `$expand` OData query parameter won't be able to expand it. The `$expand` parameter can only be used on `changedTime`, `createdTime`, and `provisioningState` in this API.

To get

[2020-02-19 18:30] heaths opened #9907 "Add new Soft Delete properties to Key Vault data plane"
Add the new `recoverableDays` property from https://github.com/Azure/azure-rest-api-specs/pull/8223/files#diff-01e396717629c41e5cdbf565ed5a764a to models and, as needed, the new enumeration values therein.

[2020-02-19 18:52] heaths opened #9908 "Allow customers to parse certificate, key, and secret IDs from URLs"
We will add methods to parse URLs into VaultUri, Collection, Name, and optional Version components for Certificates, Keys, and Secrets

[2020-02-19 19:04] annatisch opened #9909 "[Storage] Migrate DataLake tests to new framework"
We need to migrate the DataLake tests to resolve some parallelization issues.

Adding @xiafu-msft  - you mentioned that you had some concerns about this?

[2020-02-19 19:08] annatisch opened #9910 "[Storage] Update async client methods to use keyword-only syntax"
Async method signatures shouldn't use `kwargs` for keyword-only parameters - and should be updated with Python3 syntax:
https://www.python.org/dev/peps/pep-3102/

[2020-02-19 19:21] annatisch opened #9911 "[Storage] Enable configuring live tests to run against specific API version"
Live tests will fail when testing SDKs against an un-rolled-out API version.
We need to either update the live-test CI endpoint to run against staging/canary, or some other means of configuring the live tests to run against an available API version.

cc @rakshith91 , @scbedd , @praveenkuttappan

[2020-02-19 19:23] annatisch opened #9912 "[Storage] Add API version parameter to SAS generation"
Currently SAS tokens are only generated for latest API version. This should be configurable.

[2020-02-19 20:37] twsouthwick commented on #9874
My 2 cents: It would be great if we could just provide the certificate, and any encoding is done internally. Dealing with byte arrays is fine, but a bit cumbersome. The previous SDK would accept certifcates directly.

[2020-02-19 20:51] annatisch opened #9914 "[Storage] Resolve API version config param in DataLake"
Currently the API version in the generated `version.py` is different to that generated in `_configuration.py`.

We need to add the `api_version` parameter to the DataLake clients, however the implementation currently used for Blobs etc replies on importing and using the value generated in `version.py`.
This structure will have to change with the new autorest, which doesn't use `version.py` for API

[2020-02-19 21:21] scbedd commented on #9898
[Example "script" ](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/identity/azure-identity/tests/managed-identity-live/appservice.md)

[2020-02-19 21:40] yunhaoling opened #9916 "[ServiceBus] Docs Missing for v0.50.2"
ServiceBus v0.50.2 is released from branch [release/servicebus-v1](https://github.com/Azure/azure-sdk-for-python/tree/release/servicebus-v1) which doesn't have the documentation generated.

Missing doc for:
https://azuresdkdocs.blob.core.windows.net/$web/python/azure-servicebus/0.50.2/index.html

[2020-02-19 21:42] xiafu-msft commented on #9507
Hi @subesokun
Sorry about the late response.
You can map the http status code according to [this chart](https://docs.microsoft.com/en-us/rest/api/storageservices/blob-service-error-codes), it would help you debug.
All of the exceptions are children of `StorageErrorException`

[2020-02-19 22:09] luann-trend opened #9917 "The connection was inactive for more than the allowed 240000 milliseconds and is closed by container"
- **Package Name**:  azure-eventhub
- **Package Version**: 5.0.0
- **Operating System**: docker image python:3.7-alpine3.10
- **Python Version**: 3.7

**Describe the bug**
Follow the example for Consuming events from an Event Hub asynchronously, having the consumer streaming client running in low incoming event to the eventhub. The connection got disconnected from the server without any exception

[2020-02-19 22:24] kaerm commented on #9917
@luann-trend thanks for letting us know, someone from our team will take a look at this //cc: @mayurid @yunhaoling @YijunXieMS

[2020-02-19 23:23] scbedd commented on #9916
Merged master, rebuilt docs, manually uploaded after confirmation with @yunhaoling

Version now showing up here: https://azure.github.io/azure-sdk-for-python/ref/Service-Bus.html

[2020-02-19 23:25] #9916 closed

[2020-02-20 00:30] #9743 closed

[2020-02-20 00:30] chlowell commented on #9743
Closing this because it concerns the Azure Portal, not the SDK.

[2020-02-20 01:45] YijunXieMS opened #9920 "[Event Hubs] EventHubConsumerClient.get_eventhub_properties( ) got status code 401 on Azure Stack"
- **Package Name**: azure-eventhub
- **Package Version**: 5.0.0
- **Operating System**: Windows
- **Python Version**: 3.8
- **Azure Platform: Azure Stack

**Describe the bug**
On Azure Stack, EventHubConsumerClient.get_eventhub_properties( ) returns 401 unauthorized access.

**To Reproduce**
Steps to reproduce the behavior:
1. Call EventHubConsumerClient.get_eventhub_properties( ) on an Azure Stac

[2020-02-20 03:52] nickzhums commented on #9904
This seems to be a design question for the App Services Plan, will need their expertise :)

[2020-02-20 05:53] praveenkuttappan opened #9922 "CI fails randomly with version info not found error"
Sample error log as follows:

================================= log start ===================================
ERROR: Exception:
Traceback (most recent call last):
  File "/home/vsts/work/1/s/sdk/textanalytics/azure-ai-nspkg/.tox/sdist/lib/python3.6/site-packages/pip/_vendor/pkg_resources/__init__.py", line 2681, in version
    return self._version
  File "/home/vsts/work/1/s/sdk/textanalytics/azur

[2020-02-20 05:58] praveenkuttappan opened #9923 "CI fails randomly with missing build directory error"
CI fails randomly with a missing directory "build" within source directory. For e.g one instance of such failure for a package in cognitive services is as follows:

_ ERROR collecting sdk/cognitiveservices/azure-cognitiveservices-vision-face/build/bdist.linux-x86_64/wheel/azure/cognitiveservices/vision/face/__init__.py _
.tox/sdist/lib/python3.6/site-packages/py/_error.py:66: in checked_call
    r

[2020-02-20 06:04] praveenkuttappan opened #9924 "Refactor CI scripts to move them as module within azure-sdk-tools package ci_tools"
Currently we have few duplicate scripts across the scripts used by tox tasks and ci specific scripts. We can move most of these scripts as utility modules/methods under ci tools to avoid duplicate code as well as to keep it simpler for the consumers of this script instead of rewriting them again.

[2020-02-20 15:49] superhrusha opened #9928 "Using InteractiveBrowserCredential with keyring on Windows crashes authentication"
**Environment**
- azure-storage-blob:
- 12.2.0
- Windows 10:
- 3.7:

I obtain a token from InteractiveBrowserCredential. While obtaining it, I store a serialized version of the token in keyring for later use.

I then try to access BlobServiceClient with this credential. I get an error saying "OSError: [WinError 1783] The stub received bad data". (Full Stack trace below).

Here comes the crazy part

[2020-02-20 16:30] chlowell commented on #9928
Hi @superhrusha, thanks for reporting this. I'm closing this issue as a duplicate of jaraco/keyring#355 because the Azure SDK doesn't depend on `keyring` or use the Windows credential vault, meaning we can't address that behavior here.

That being said, we're working on a persistent cache design for `InteractiveBrowserCredential` that I hope will make custom caching code unnecessary (tracked by #9

[2020-02-20 16:30] #9928 closed

[2020-02-20 16:59] superhrusha commented on #9744
@chlowell , I attempted to do it myself with keyring. Did not succeed (as the mentioned issue shows). Are you planning to do the same thing that is done in azure CLI (az login)

[2020-02-20 17:31] rfernand2 commented on #9744
I just added a **placeholder** for  my project (XT), while awaiting the official solution from your team.  My project now runs a background process to hold the cached info I get upon the first authentication.

How does the azure CLI does their creds caching?

[2020-02-20 17:54] heaths opened #9930 "KeyOperations needs to support "import" for 7.1-preview"
We also need to support the "import" key_ops value per:

* https://github.com/Azure/azure-rest-api-specs/blob/56b2d1fccfc7707c48a7c30cd82716d914845196/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.1/keys.json#L1348
* https://github.com/Azure/azure-rest-api-specs/blob/56b2d1fccfc7707c48a7c30cd82716d914845196/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.1/keys.json

[2020-02-20 19:23] #8946 closed

[2020-02-20 19:24] kaerm commented on #9856
Hey @keithdarragh I started a discussion on the docs and seems like they weren't able to reproduce https://github.com/MicrosoftDocs/azure-docs/issues/48056#issuecomment-588881382

[2020-02-20 19:54] scbedd commented on #9924
I'm thinking the local `azure_devtools` instead of `azure-sdk-tools`.

Reason being: any new test work is being implemented in azure_devtools as far as I know.

[2020-02-20 19:57] praveenkuttappan commented on #9924
@scbedd Absolutely right. I mentioned it as azure-sdk-tools by mistake. it should be azure-devtools since ci_tools module is in it currently.

[2020-02-20 20:52] bryevdv commented on #9665
@AlexGhiondea I think this and the other design issue can be closed? I have addressed Bruce's comments in the ongoing implementation PR

[2020-02-20 21:04] #9869 closed

[2020-02-20 22:55] #9477 closed

[2020-02-20 23:16] Hazhzeng commented on #8533
This issue should be fixed in the next release.

[2020-02-20 23:19] maggiepint commented on #9616
Hi - given we haven't heard back, assuming that this can be closed. Feel free to open a new issue if you need further assistance.

[2020-02-20 23:19] #9616 closed

[2020-02-20 23:35] maggiepint commented on #9583
Hi- assuming that this question has been answered, so closing. Feel free to re-open an issue if this is still unresolved.

[2020-02-20 23:35] #9583 closed

[2020-02-21 01:40] markusweimer opened #9939 "File-Like Objects for Azure Storage"
Many libraries in the Python ecosystem rely on [file-like objects](https://docs.python.org/3/glossary.html#term-file-object) for reading and writing from and to files. There are other cloud storage libraries which support this. For example, [`azure-data-lake-store-python`](https://github.com/Azure/azure-data-lake-store-python) provides such an API for ADLS Gen1. So does [`s3fs`](https://pypi.org/p

[2020-02-21 02:22] v-xuto commented on #9885
Hi @Ravi-cell ，
About how to get the RAM utilization for Azure VM by using python sdk , it's not support now. The related [issue](https://github.com/Azure/azure-sdk-for-python/issues/977) for you reference.

But about how to get the CPU utilization for Azure VM by using python sdk, it's support.
The detailed code is shown below for how to  get the CPU utilization (here is the officle [document](ht

[2020-02-21 02:43] v-xuto commented on #9684
Hi @markpearl ，
How is this issue going? Feel free to let us know if further help is needed.

[2020-02-21 02:49] tzhanl commented on #9649
We are going to close this issue because we haven’t heard from you in a few days, but please re-open it if the issue still persists.

[2020-02-21 02:49] #9649 closed

[2020-02-21 07:20] Drewm3 commented on #9885
@LianwMS, could you please assign this to the Azure Monitor folks. This information comes from Azure Monitor instead of Azure Compute.

[2020-02-21 18:44] #7790 closed

[2020-02-21 19:17] #8838 closed

[2020-02-21 19:30] #7228 closed

[2020-02-21 20:50] praveenkuttappan commented on #9922
PR to fix this issue: https://github.com/Azure/azure-sdk-for-python/pull/9951

[2020-02-21 23:17] SolomDancer opened #9959 "QnA Maker - python SDK using the FileDTO()"
Hello folks,

So following the tutorial on the MS Doc worked fine when using the URL(S) now I removed the URL(S) and I wanted to use the file, which required me to use the FileDTO. For me this did not work So any pointers would help.

Here is the code:
`'''
Import the following libraries
'''
import os
import time

from azure.cognitiveservices.knowledge.qnamaker import QnAMakerClient
from azure.cog

[2020-02-22 00:55] praveenkuttappan opened #9961 "Azure-core-tracing-opentelemetry is failing to import tracer module"
azure-core-tracing-opentelemetry is taking dependency on opentelemetry aand opentelemetry has released a new version 0.4a0 and module import is failing with this latest version. azure-core-tracing-opentelemetry has opentelemetry>= 0.3a0 requirement so it uses latest released version.

Work around: We are pinning version 0.3a0 to unblock CI.

Can you please have look at this error?

[code]

[2020-02-22 02:40] kristapratico opened #9967 "[textanalytics] response hook policy should inherit from SansIOHTTPPolicy"
also rename to `TextAnalyticsResponseHookPolicy`

[2020-02-23 02:02] akshaybabloo opened #9970 "Add __len__ to ItemPaged class"
**Is your feature request related to a problem? Please describe.**
For the class `ItemPaged` at

https://github.com/Azure/azure-sdk-for-python/blob/90fc2a709d9a20f7a3659255320c98d3beb8aa1e/sdk/core/azure-core/azure/core/paging.py#L84

It would be nice to add `__len__` function.

**Describe the solution you'd like**

Because it's an iterator using `len()` on it will give `TypeError: object of type

[2020-02-23 08:00] kaerm commented on #9970
@akshaybabloo thanks for the feedback! Someone from our team will take a look into this //cc: @lmazuel

[2020-02-23 10:20] lx1054331851 commented on #9782
@xiafu-msft @v-xuto  Thanks very much , I update to the latest blob version, the problem has been solved. I will close this issue.

[2020-02-23 10:20] #9782 closed

[2020-02-23 12:26] User1000 opened #9971 "[QUESTION] How to copy an existing database using python sdk?"
Is there any possibility to run command:
`az sql db copy`
using python sdk?

[2020-02-23 22:01] gel11 opened #9972 "load_workspace_from_config() is unable to load workspace when using LocalWebservice"
- **Operating System**:
Ubuntu 18.04.3 LTS
- **Python Version**:
Python 3.6.9

**Describe the bug**
load_workspace_from_config() is unable to load workspace when using LocalWebservice

**To Reproduce**
[code]
**Expected behavior**
Should be able to load without errors.

**Screenshots**
![image](https://user-images.githubusercontent.com/37292332/75120996-4e782f00-5690-11ea-9b38-2450a0e9e11b.png)

*

[2020-02-24 09:07] secstu commented on #9499
Is there a reason why an avg response takes 2-3 weeks? This is a very straight forward question and I've been really dissapointing that there is way more updates to the core while the documentation for the added functions to the SDK is next to nothing. My company is ready to move all our operations to AWS since we've been struggling with Microsoft Support and now this. Really poor outlook for the

[2020-02-24 17:11] chlowell commented on #8630
This doesn't repro in 4.0.0, apparently it was fixed after 4.0.0b6.

[2020-02-24 17:11] #8630 closed

[2020-02-24 17:48] lmazuel commented on #9971
Hi @User1000

The CLI is written using the SDK only, it means it's always possible :). Doesn't mean it has to be as simple as CLI though, since usually CLI is abstracting a little more than SDK.

I recommend you look into the CLI code of this operation:
https://github.com/Azure/azure-cli/blob/9387d5859ce028467061ac50ee47aa1ec73d4de2/src/azure-cli/azure/cli/command_modules/sql/custom.py#L753

Thank

[2020-02-24 19:04] KieranBrantnerMagee commented on #7336
Hey folks,

Resurrecting this discussion as it seems to be the root for #9010 and #8707 as well, to throw a wider net echoing if individuals are still seeing issues in this path. (Given UAMQP 1.2.6 / SB 0.50.2 releases made in December)

Don't hesitate to shout if there's another repro, in testing the code from AndreaCassioli I was not able to reproduce the failure with latest versions, so "cautio

[2020-02-24 19:11] KieranBrantnerMagee commented on #9242
Hey @MichaelWeedon, my apologies for the slow reply, am digging into this issue and will loop back with ETA once we get a sense for the resolution.

Thanks in advance for all your patience thus far.

[2020-02-24 19:30] lilyjma commented on #9602
Hi @qiaozha, could you please take a look at this issue?

[2020-02-24 19:50] User1000 commented on #9971
Thanks a lot!

[2020-02-24 19:50] #9971 closed

[2020-02-24 23:30] bryevdv opened #9982 "Python Azure Search Client: Document Operations Proposal"
## Basics

* Library name: **Azure Cognitive Search client library for Python**

* Language for review: **Python**

* Contacts

  **Alex Ghiondea** (PM)
  **Bryan Van de Ven** (Dev Lead)

## Library Details

* Link to documentation describing the client library:

  [**README.md**](https://github.com/Azure/azure-sdk-for-python/blob/67162af1c0b179bfdd7daadcbc62096b3b74a1f7/sdk/search/azure-search/RE

[2020-02-25 01:00] bryevdv commented on #9982
Will re-open on main sdk repo

[2020-02-25 02:08] tg-msft commented on #9982
(Reopening and just transferring it over so you don't have to re-create the whole thing.)

[2020-02-25 02:09] tg-msft commented on #9982
(And closing again because apparently Transfer Issue won't let me jump across to azure-sdk????  Sorry for the noise.)

[2020-02-25 02:09] #9982 closed

[2020-02-25 02:48] qiaozha commented on #9602
@ms-premp Hi, Do you know why the  'meter_region' value  in rate_card.get  doesn't match with any value from subscription.list_location

[2020-02-25 03:24] kristapratico commented on #9610
This will not be done for v3

[2020-02-25 03:24] #9610 closed

[2020-02-25 03:24] kristapratico commented on #9561
This will not be done by service team

[2020-02-25 03:24] #9561 closed

[2020-02-25 05:46] Drewm3 commented on #9499
@kaerm, is there someone from the python SDK team who could help @secstu? The question looks to be more of a how-to on importing the functions for the python SDK as compared to the functionality of the actual back-end APIs. As such someone from the python team will probably be able to help quicker than someone from the Managed Disks team.

[2020-02-25 14:45] nancybelser commented on #9715
If the filter logic I am using is incorrect, can someone give me the correct syntax, please? Thanks.

[2020-02-25 18:21] yunhaoling commented on #9917
Hi @luann-trend , thanks for bringing this up. We're investigating the issue.

Just for curiosity, does this behavior affect your functionality? -- The `ConsumerClient` should be able to automatically re-connect to the service.
And how're are you dealing with the error that is thrown back to the client?

[2020-02-25 18:27] luann-trend commented on #9917
Yes, this behavior affect our functionality since our application was expected the streaming connection is never get disconnected. If the connection got disconnected the consumerClient.receive should throw exception or throw error to the on_error call back so that we can re-establish the connection again.

[2020-02-25 19:47] YijunXieMS commented on #9917
@luann-trend How often does this error happen to you? Our design is to keep the connection alive. My environments don't have this 24000ms problem. I'll test with your environment. What container environment do you use?
Besides, the ConsumerClient.receive( ) is a high level API. It calls callback on_error and automatically reconnects when a connection problem happens. It doesn't raise the connectio

[2020-02-25 19:49] luann-trend commented on #9917
I am using docker image python:3.7-alpine3.10

[2020-02-25 19:53] YijunXieMS commented on #9917
Is the OS windows or Linux where you install the docker? Or do you use AKS?

[2020-02-25 20:28] bryevdv opened #9989 "Tracing decorators lose return type"
**Describe the bug**
The azure-core tracing decorators return Any, requiring any functions calling decorated functions to use explicit casts if they pass on the result.

**To Reproduce**
Given the following code snippet:
[code]
Mypy thinks `index_batch` returns Any, and will complain:
[code]

**Expected behavior**

Functions wrapped with tracing decorators should still specify the same return type

[2020-02-25 21:19] yunhaoling commented on #9917
Hello @luann-trend ,

As @YijunXieMS  mentioned, in our implementation the sdk is supposed to keep trying to reconnect internally.
In your observation, the sdk would stop receiving after being 240s inactive and no error is raised
 out (suppose you have passed in `on_error` callback, the callback is never called).

Is my statement correct?

[2020-02-25 22:13] luann-trend commented on #9917
@YijunXieMS  Yes, it is linux.
Linux 4.19.76+ #1 SMP Tue Oct 8 23:17:06 PDT 2019 x86_64 Linux

@yunhaoling It is correct. The SDK stop sending logs to the consumer client, and there is no error or exception thrown. The consumer client passes in the on_event, on_partition_initialize,                on_partition_closed, on_error.

[2020-02-25 22:20] dharmab commented on #9763
Here's the imports I'm using, does that help?

[code]

and the code I use:

[code]

[2020-02-25 22:26] luann-trend opened #9990 "Activity logs export to Eventhub got truncated when consumer client receive it"
Package Name: azure-eventhub
Package Version: 5.0.0
Operating System: docker image python:3.7-alpine3.10
Python Version: 3.7

**Describe the bug**
When the activity log is too big (> 20KB) the message send from the eventhub got truncated.
The consumer client is not able to parse it.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure to export the activity logs to the eventhub
2. Start

[2020-02-25 22:44] kristapratico opened #9992 "[textanalytics] Rename offset/length to grapheme_length and grapheme_offset"
Places to rename:
* `SentenceSentiment`
* `CategorizedEntity`
* `PiiEntity`
* `LinkedEntityMatch`

[2020-02-25 23:18] kaerm commented on #9990
@luann-trend thanks for letting us know about this, someone from our team will take a look at it //cc: @yunhaoling @YijunXieMS

[2020-02-26 00:59] yunhaoling commented on #9917
@luann-trend Great thanks for the extra information, it really helps.
We'll keep you updated if we've made any progress on the issue.

[2020-02-26 02:07] RodgeFu commented on #9499
@zikalino should be able to help have a look. @Drewm3 , @kaerm , the 'service attention' label is marked on this issue which means the Compute team is taking care of this issue, so do you mind we remove the label so that this issue will show up in our radar when Zim is working on it? thanks.

[2020-02-26 03:18] annatisch opened #9995 "[Storage][Queue] Response from send/update is encoded"
- **Package**: azure-storage-queue
- **Version**: latest
- **Operating System**: Any
- **Python Version**:  Any

**Describe the bug**
The response from `QueueClient.send_message` and `QueueClient.update_message` is the message itself, however if an encoding policy has been applied, the returned message is in its encoded form.

**To Reproduce**
[code]

**Expected behavior**
Message returned by send

[2020-02-26 04:14] amishra-dev commented on #9995
Thanks for recording this Anna. Emily can you please follow up with other platforms and make sure we are all doing the same right thing.
We will have to also consider if the fix is a breaking change.

[2020-02-26 07:39] v-xuto commented on #9732
Hi @siminchengithub，
Please update **"if entity_data.entities.value:"** to **"if entity_data.places.value:"** in code.

Because the Entity Search API lets you send a search query to Bing and get back search results that include entities and places:
- Place results include restaurants, hotel, or other local businesses. For places, the query can specify the name of the local business or it can ask f

[2020-02-26 09:29] secstu commented on #9499
Glad to see some movement. Looking forward to maybe arranging to fix this in a timely manner as its crucial to get them disks encrypted for our ISO cert.

[2020-02-26 17:15] kristapratico opened #10000 "[textanalytics] arch board issues"
* [x] Should we return ItemPaged instead of a list? **No**
* [x] How will the service represent warnings? **warnings list on each result object**
* [x] length/offset is in graphemes **we will call them grapheme_offset and grapheme_length for now, and make proposal to service to pass encoding as option**

[2020-02-26 17:20] #9818 closed

[2020-02-26 19:19] kaerm commented on #9990
The issue does not seem to be related to the SDK but to the Activity Logs @Nkiest, @asheniam , @kamathashwin , @sameergMS

[2020-02-26 19:27] nancybelser commented on #9715
What I am gathering is the test case example I found in this repo is not a valid option for usage_details.
def test_consumption_subscription_usage_filter(self):
        date_filter ='usageEnd le '+ str(MgmtConsumptionTest.endDate)
        pages = self.consumption_client.usage_details.list(expand='meterDetails', filter=date_filter, top=10)
        first_page = pages.advance_page()
        output =

[2020-02-26 19:34] lilyjma commented on #6474
Testing if cc-ing this handle works: @Azure/aks-pm

[2020-02-26 19:35] lilyjma commented on #9792
@Azure/aks-pm can you please take a look at this issue?

[2020-02-26 19:50] lmazuel opened #10005 "Support for OpenTelemetry 0.4.0a"
https://pypi.org/project/opentelemetry-api/0.4a0/

azure-core-tracing-opentelemetry 1.0.0b2 should support this version of the plugin.
Code complete: 3/6
Release: 3/10

[2020-02-26 21:10] #9487 closed

[2020-02-26 21:16] danieljurek opened #10008 "Service Bus live tests create resource with static name"
When looking through live test runs I noticed that Service Bus live tests was creating a resource named `testingpythontestcasequeue` in its dynamically allocated resource group. Since live tests are run in parallel against many platforms this statically defined name looks like it will introduce a race condition in live testing.

Where possible we should be avoiding statically defined names so we c

[2020-02-26 21:29] KieranBrantnerMagee commented on #10008
Thanks Daniel.  Noting to myself from brief investigation that it's arising from the mgmt. tests having a hardcoded namespace and only consuming the ResourceGroupPreparer at the top level.  Need to briefly sync with someone in the know re: test recordings to ensure there wasn't some intent there that mandates a fixed name, and otherwise it should be a straightforward fix. (add the new preparers us

[2020-02-26 22:02] alzimmermsft opened #10009 "Ensure RequestIdPolicy and API Layer Use the Same Request ID Header"
This is a copy of an issue filed against the Java repository so some details may differ.

Search clients that aren't using their own custom pipeline will be created with a `RequestIdPolicy`, the policy is built with the name of the request ID header it should set (the default is `x-ms-client-request-id`). Search APIs also have the ability to accept `RequestOptions` which has a configuration of the

[2020-02-26 22:11] scbedd opened #10010 "Ensure that silently exited tox invocations will still fail build"
Related to #10007

We need to make _certain_ that the build itself will still be RED if this happens.

[2020-02-26 23:08] lmazuel commented on #9625
@scbedd we have an additional scenario where we want to point to a policy documentation, but the version doesn't actually matter (dev documentation). So I'm more keen than ever to see that :)

[2020-02-26 23:29] scbedd opened #10013 "Patch tox to handle incorrect encoding during parallel run"
[This PR](https://github.com/Azure/azure-sdk-for-python/pull/10007)

Encapsulates a test fix for a tox issue that we've discovered. Specifically, when an encoding error occurs during the `pytest` run, both executions exit with 0. If there is an encoding error, this is a real failure!

1. Fully investigate the variables at play
2. Either A) adjust CI to resolve the situation causing this not to bub

[2020-02-27 00:44] #10000 closed

[2020-02-27 01:44] YijunXieMS commented on #9917
@luann-trend I don't have an Alpine linux env. But I just tested on Ubuntu with docker (image python:3.7.6-buster). The 240000 connection inactivity didn't happen even though there were no events received for long time. This is by design.
So the problem is why that happened in your env. One thing may cause the problem is some operations block the program so there isn't network activity between the

[2020-02-27 09:28] ms-premp commented on #9715
@nancybelser apologies for bad examples. we will work on fixing those.
Meanwhile, please use following as example on how to pass in date filters for calling consumption.

https://github.com/ms-premp/AzureConsumptionSamples/blob/master/Python_sdk/usage_details_list_python_sdk_example.py

Please note that API expects both start and end dates to be able to filter data as mentioned in following doc ht

[2020-02-27 10:35] alexagr commented on #9763
I experience the same issue - I'm using a script written in Python 3 (and Python Azure SDK), to manage my Azure VMs. When I'm trying to create more VMs that my subscription limits allow, Python Azure SDK throws the following exception:
[code]

I was able to solve the problem by applying the following patch:
[code]

I'm using the latest version of Python Azure libraries installed via "pip3 install

[2020-02-27 12:56] F-Schmidt1 opened #10029 "Queue Storage Encoding"
I have already posted the following in the azure-storage-python github, but did get a response there, so i thought i'd give it a try here.

- **Package Name**:  azure.storage.queue
- **Package Version**: 12.1.0
- **Operating System**: Windows
- **Python Version**: 3.7.3

### What problem was encountered?
#### Repro:
Following the documentation at https://github.com/Azure/azure-sdk-for-python/tree/

[2020-02-27 14:16] dharmab commented on #9763
Nice patch @alexagr. Some quick suggestions;

- [Unicode is backwards compatible with ASCII](https://en.wikipedia.org/wiki/UTF-8#Description), so I believe that the `decode('ascii')` call can be entirely removed.
- [You catch catch UnicodeDecodeException instead of Exception](https://docs.python.org/3/library/exceptions.html#UnicodeDecodeError). Since this is a fairly deep piece of library code, a

[2020-02-27 15:18] annatisch commented on #10029
Thanks @F-Schmidt1 - it looks like the documentation is incorrect, the correct parameter is `message_encode_policy`:
[code]
I have opened a PR here to fix the docs: #10031

[2020-02-27 15:20] annatisch commented on #9172
Fix in PR #10031

[2020-02-27 17:47] kurtzeborn commented on #9898
@scbedd, is this different than the work needed to get samples integrated into the smoke test builds and runs?

[2020-02-27 18:41] kristapratico opened #10036 "[textanalytics] Support warnings on result models"
Context from email:

All TA outputs will of the following format for V3.0*. Taking key phrases for example.

{
  "documents": [
    {
      "id": "0",
      "keyPhrases": [
        "huge impact",
        "individual access"
      ],
      "warnings": [
        {
          "code": "DataError",
          "message": "The document contains very long words (longer than 64 characters). These words may r

[2020-02-27 18:47] scbedd commented on #9898
It would be reasonable to call the samples integration an implementation of this scenario, 100%.

[2020-02-27 18:50] #9461 closed

[2020-02-27 18:53] #8505 closed

[2020-02-27 19:16] annatisch commented on #9534
@lmazuel, @xiangyan99  - did we land on a solution for this issue?

[2020-02-27 19:51] jongio opened #10040 "Support UseDevelopmentStorage=true; as connection string"
- **Package Name**: azure.storage.blob
- **Package Version**: 12.2
- **Operating System**: windows
- **Python Version**: 3.8

**Describe the bug**

We should support local emulation with azure storage explorer and azurite.  This was possible in old sdk.

Reported by customer here: https://stackoverflow.com/questions/60437824/blob-storage-connection-to-emulator-local-development-fail

**To Reproduc

[2020-02-27 20:09] lmazuel opened #10041 ""azure-core" should not be required when using "get_client_from_cli_profile" for a mgmt package"
See details here:
https://stackoverflow.com/questions/60436301/cant-import-installed-azure-core-module

[2020-02-27 20:45] annatisch commented on #9172
Fix merged :)

[2020-02-27 20:45] #9172 closed

[2020-02-27 21:18] scbedd commented on #10010
Resolved in #10016

[2020-02-27 21:18] #10010 closed

[2020-02-27 21:20] scbedd opened #10045 "Publish core dumps from Linux and MacOS builds"
I currently have a branch [here](https://github.com/Azure/azure-sdk-for-python/tree/get_mac_core_dump) that specifically does this for Mac builds. This will assist an investigation into a uamqp segfault that is occurring in the servicebus livetests.

This is the second such ask since december. Time to just add these to the pipelines.

[2020-02-27 22:34] #9796 closed

[2020-02-27 22:37] #9967 closed

[2020-02-27 22:59] xiafu-msft commented on #9939
Hi @markusweimer

Thanks for reaching out! May I know which API do you mean specifically for this SDK: [`azure-data-lake-store-python`](https://github.com/Azure/azure-data-lake-store-python)

[2020-02-27 23:09] annatisch commented on #9939
@xiafu-msft - I believe @markusweimer is referring to the "file-like" behaviour (mkdir, ls, open, etc), as demonstrated in the samples here: https://dev.azure.com/devdiv/DevDiv/_build?definitionId=10802&_a=summary

Specifically, the API for a file-like object would be operations like this:
[code]

@johanste also did a POC library for this file-like API for the Blobs SDK here:
https://github.com/jo

[2020-02-27 23:21] markusweimer commented on #9939
Correct. The most important one from my perspective is support for `open()`, which returns a file-like object. Those could then be passed to e.g. Pandas to read a CSV file stored on ADLS.

For the file *management* APIs, I would actually look towards implementing [`fsspec`](https://github.com/intake/filesystem_spec). That would allow apps to be written to work across Google, S3 and Azure File syst

[2020-02-27 23:45] xiafu-msft commented on #9939
Hi @markusweimer
Thanks for the feedback, we will discuss about it and get back to you!

[2020-02-28 02:02] jongio opened #10050 "Update DefaultAzureCredential Exception Message"
Update the python defaultAzureCredential exception message to match the new one that is in the .NET SDK.

https://github.com/Azure/azure-sdk-for-net/pull/9821
https://github.com/Azure/azure-sdk-for-net/pull/9958

[2020-02-28 03:31] xiafu-msft commented on #9684
Hi @markpearl
Sorry about the late response. Based on your code, I think you just didn't create the original file that you want to rename. Would you like to try the code below(which is based on your existing code) and see if it's working.
[code]

[2020-02-28 13:42] brandonmbanks opened #10060 "When can we expect a cosmos 4.* release?"
It looks like 4.0 is going to give us a lot of things that are needed.  It looks like the [last preview release](https://pypi.org/project/azure-cosmos/4.0.0b6/) was back on November 18th.

**When can we expect that release? Where should we be looking for code releases?**

I opened an [issue](https://github.com/Azure/azure-cosmos-python/issues/188) on the old cosmos client library repo but moved it

[2020-02-28 13:46] miksanch commented on #7771
Having debugged this a bit more.  The issue seems to be a disconnect between the backend and the frontend on when a VNET delete operation is actually complete.  The below steps seem to seem to reproduce the issue reasonably reliably.

1) Delete an existing VNET and wait for the LRO to return as complete.
2) At this point, if you check to see if the VNET is there with the SDK, it will not be there,

[2020-02-28 15:59] praveenkuttappan commented on #9286
Discussed this issue with Wes. This reported failure is during upload to boiler plate feed and bigger  question now is whether we need to upload to this feed during scheduled CI

[2020-02-28 16:49] kaerm commented on #10060
**When:**
@brandonmbanks thanks for reaching out to us. Looping in @mayurid who should know the most up-to-date plans on Azure Cosmos v4.0 release.

**Where:**
You can find the list of releases here: https://aka.ms/azsdkpackages
We also publish release notes with releases every month that you can find in the left menu after following the link above.

[2020-02-28 18:41] weshaggard commented on #9286
@praveenkuttappan the DevOps feed publishing issue may be related to https://github.com/Azure/azure-sdk/issues/1048.

[2020-02-28 21:40] #9992 closed

[2020-02-28 21:58] xiafu-msft opened #10064 "[Bug]upload blob for Block, Page, Append Blob doesn't support set blob tier"
When customers want to set blob tier when upload blob, like this:
`blob.upload_blob(text, encoding='utf-16', blob_type=BlobType.AppendBlob, overwrite=True, standard_blob_tier=StandardBlobTier.Cool)
`
An Error is thrown:
`TypeError: request() got an unexpected keyword argument 'standard_blob_tier'`

Because append_block and upload_pages, stage_block doesn't accept set tier parameter

[2020-02-28 23:04] xiafu-msft commented on #10040
Hi @jongio

Thanks for your feedback! We will add this task to our backlog!

[2020-02-29 01:41] xiafu-msft commented on #9911
For new features, we should develop using a feature branch instead of master, and the feature branch will not be merged until service is released. So enable overriding doesn't help test new features.
Besides, any old features update should be merged into master, so we also don't need to config anything for live test.

So SDK couldn't help much on this.

[2020-02-29 05:15] #1127 closed

[2020-02-29 16:54] Petermarcu commented on #7604
@joshfree I see there are still two things tracked on this but all up, is this complete other than keeping up to take with the OpenTelemetry libraries progress?

[2020-03-02 13:36] martinResearch opened #10071 "option to provide list of source directories in Estimator's constructor"
**Is your feature request related to a problem? Please describe.**

Some of my AzureML experiments depend on code from several folders that are on very different location on my machine (even on different drives). At the moment I have to make a temporal copy of all the files into a single temporary folder that I then provide to the Estimator constructor through the source_directory option. When run

[2020-03-02 15:30] carlosotgz commented on #8566
Hi :) Any luck with this issue? It would be really nice to be able to use play with the SDK without having to create additional service accounts :(

[2020-03-02 19:59] yunhaoling opened #10074 "[ServiceBus] New Examples For Preview 1"
- [x] Send single message
  - [x] Send batch
- [x] Receive batch and message settlement
  - [x] Peeklock/receive and delete
  - [x] renew lock on message
    - [x] Auto-lock-renew
- [x] Receive deferred messages
- [x] Iterator and message settlement
- [x] AAD
- [ ] http proxy/websocket
- [x] Peek messages
- [x] Async version
- [x] Sessions

[2020-03-02 20:05] yunhaoling opened #10075 "[ServiceBus] New LiveTests for Preview 1"
- [x] Send single message
  - [x] Send Batch
- [x] Receive batch and message settlement
  - [x] Peeklock/receive and delete
  - [x] renew lock on message
    - [x] Auto-lock-renew tests
- [x] Receive deferred messages
- [x] Iterator and message settlement
- [x] Peek tests
- [x] AAD
- [x] http proxy/websocket
- [x] Async version
- [x] Stress test

[2020-03-02 20:12] #10041 closed

[2020-03-02 20:13] lmazuel commented on #10041
Fixed in azure-common 1.1.25

[2020-03-02 20:13] yunhaoling opened #10076 "[ServiceBus] Track2 Preview1 New API Implementation"
https://github.com/Azure/azure-sdk-for-python/pull/9900
https://github.com/Azure/azure-sdk-for-python/pull/9937
Feature set for preview1:
- [x] Send single message
- [x] Receive batch and message settlement
  - [x] Peeklock/receive and delete
  - [x] renew lock on message
- [x] Receive deferred messages
- [x] Iterator and message settlement
- [x] AAD
- [x] http proxy/websocket
- [x] Async version

[2020-03-02 21:03] scbedd opened #10078 "Why does new version of importlib-resources cause CI to break?"
`importlib-resources` went from version `1.0.2` to `1.1.0` over the weekend. It is a dependency of `virtualenv` the environment wrapper `tox` uses for `py27`.

The additional dependencies introduced by this update cause CI to fail on python 2.7.

We need to understand why.

[2020-03-02 21:23] lilyjma opened #10079 "testing bot"

[2020-03-02 21:29] yunhaoling commented on #4598
The issue has been fixed in our October uamqp release (>=1.2.3).
Close it for now, but feel free to re-open if the issue still exist.

[2020-03-02 21:29] #4598 closed

[2020-03-02 21:49] #10079 closed

[2020-03-02 23:33] yehoshuadimarsky commented on #8636
I desperately would want this as well, kinda surprised it wasn't done yet considering the importance MSFT places on Cosmos. Anyway, count me in for this

[2020-03-02 23:34] yehoshuadimarsky commented on #8636
and why did @shurd remove the `Cosmos` label from this issue? Took me a while to find this, I was going to open a new one, would have been much easier if the `Cosmos` label was still on it

[2020-03-03 02:40] shurd commented on #8636
From my investigation, this is a change that the SDK team will make, not the Cosmos DB team. At the time, that label was making this appear in our backlog. I removed it from our backlog since we do not own that aspect.

[2020-03-03 04:07] annatisch commented on #8636
@shurd - please leave the service-name label in place and if you need to filter out service-team issues please use the `client` (SDK team) vs `Service Attention` (service team) labels.

On the other hand - doing a fully asynchronous query pipeline in the Cosmos SDK will need service-team input. :)

[2020-03-03 13:11] martinResearch commented on #10071
A better solution that would be easy for the user to undersand could be to keep a single folder in source_directory (that should contain script entry file), and add a new argument ("local_dependencies_folders" for example) that correspond to a list of other folders that need to be copied too. each of these folder can contain an .amlignore file.

[2020-03-03 14:55] luann-trend commented on #9990
Any update ?

[2020-03-03 14:57] luann-trend commented on #9917
We have seen the problem couple time 2 weeks ago, but have not seen it again. I will post an update when I see it.

[2020-03-03 17:34] rakshith91 opened #10087 "docs.microsoft.com doesn't document keyword only args."
IT seems like docs.microsoft.com is not documenting kwargs anywhere.

Here are some examples:

Storage:
https://docs.microsoft.com/en-us/python/api/azure-storage-blob/azure.storage.blob.blobclient?view=azure-python#get-page-ranges-offset-none--length-none--previous-snapshot-diff-none----kwargs-

Keyvault:
https://docs.microsoft.com/en-us/python/api/azure-keyvault-keys/azure.keyvault.keys.keyclient

[2020-03-03 17:34] rakshith91 commented on #10087
@maggiepint @scbedd @kaerm

[2020-03-03 17:37] kaerm commented on #10087
And here is an example of customer confusion:

[2020-03-03 18:10] scbedd commented on #10087
We have an item [filed](https://ceapex.visualstudio.com/Engineering/_workitems/edit/168574) against the docs team for this. I thought I had an issue filed against this repo to track on our side, but obviously not. Thanks @rakshith91

[2020-03-03 18:24] joshfree commented on #7604
@Petermarcu yes, this is done.  I can close it on @lmazuel 's behalf.

[2020-03-03 18:24] #7604 closed

[2020-03-03 19:05] #10078 closed

[2020-03-03 20:39] scbedd opened #10088 "Update Build Matrix NOT to use Variable Named OSName"
![image](https://user-images.githubusercontent.com/45376673/75817434-edb1bc00-5d4b-11ea-82b6-90892a22c4e7.png)

This is the warning being thrown. Need to just update the naming here.

[2020-03-03 20:52] #9887 closed

[2020-03-03 20:52] #9923 closed

[2020-03-03 20:52] #9922 closed

[2020-03-03 22:01] scbedd commented on #10088
Closing as dup of Azure/azure-sdk-tools#364
.

[2020-03-03 22:01] #10088 closed

[2020-03-03 22:25] yunhaoling opened #10091 "[ServiceBus] Docs update - Readme, Changelog, Dosctring"
- [x] Readme
  - [x] Troubleshooting section
- [x] Changelog
- [x] Docstring
- [x] Code snippets
- [x] Migration guide

[2020-03-04 02:08] #9445 closed

[2020-03-04 02:25] brandonmbanks commented on #10060
Following up on this. @kaerm @mayurid

[2020-03-04 12:24] TzlilSwimmer123 opened #10098 "Why Python sdk does't have RegisterMessageHandler method like C# has?"
- **Package Name**: azure-servicebus
- **Package Version**: 0.50.2
- **Operating System**: Mac
- **Python Version**: 3.6

**Describe the bug**
I want to get a in my Flask application a message every time I send it. With get_receiver I can only get it once per program running. I saw that C# Subscription client has RegisterMessageHandler that make the program listen to the topic and waits to a messa

[2020-03-04 15:51] arbatazi opened #10099 "ImportError: cannot import name 'BlobServiceClient' from 'azure.storage.blob'"
Hi,

I have trouble importing BlobServiceClient in my Databrick's notebook. I have the error message :
`ImportError: cannot import name 'BlobServiceClient' from 'azure.storage.blob' (/databricks/python/lib/python3.7/site-packages/azure/storage/blob/__init__.py)`

Here is the result of my pip freeze :
adal==1.2.2
aiohttp==3.6.2
alembic==1.4.1
apache-airflow==1.10.9
apispec==1.3.3
argcomplete==1.11.

[2020-03-04 20:05] kaerm commented on #10098
Hey @TzlilSwimmer123 thanks for reaching out to us, looping in our team to take a look at this //cc: @KieranBrantnerMagee

[2020-03-04 20:40] Jainit25 opened #10113 "Message Lock Expired"
# Description
I am writing a python consumer to consume messages from service bus queue. I am running it in a while loop such that it consumes some messages and then process it and then repeatedly do the same. It works fine locally however, when I try to run it in Azure VM it throws the following error:
I tried to debug the issue and it is able to connect to the service bus and only fails when the

[2020-03-04 20:51] amishra-dev commented on #10099
@xiafu-msft please take a look.

[2020-03-05 00:54] sworisbreathing commented on #9076
@rakshith91 I just ran into this issue. Any ETA on when the documentation will be updated? It's been 3 months already.

[2020-03-05 00:59] sworisbreathing commented on #9076
also does this apply to the aio client? I've tried the `overwrite=True` kwarg and it's still failing

[2020-03-05 01:21] #9995 closed

[2020-03-05 03:24] xiafu-msft commented on #10099
Hi @arbatazi

It looks like you didn't install that properly.
Would you like to create a new virtual environment and just do
`pip install azure-storage-blob`

Feel free to let me know if it's still not working or you need any info!

[2020-03-05 08:01] brijan opened #10106 "adf_client.data_flows.create_or_update throws error msrestazure.azure_exceptions.CloudError: Azure Error: BadRequest"
- **Package Name**: \azure\mgmt\datafactory
- **Package Version**:
- **Operating System**: windows
- **Python Version**: 3

**Describe the bug**
 File "C:\Users\AppData\Local\Continuum\anaconda3\lib\site-packages\azure\mgmt\datafactory\operations\_data_flows_operations.py", line 107, in create_or_update
    raise exp
msrestazure.azure_exceptions.CloudError: Azure Error: BadRequest
Message: The doc

[2020-03-05 08:04] chethanack opened #10107 "Pausing and resuming option in azure blob upload using javascript."
How to pause the on progress upload of browser files to azure storage account and resume when required using azure storage blob javascript(v12) library file?

[2020-03-05 08:18] #10107 closed

[2020-03-05 09:34] #10099 closed

[2020-03-05 12:59] 96vksingh opened #10108 "face_client.person_group_person.add_face_from_stream giving error Image size is too small"
- **Macosx**:
- **Python 3.7**:

**Describe the bug**
Whenever i try to add face i receive error image size is too small for this error i did not find any reference n azure docs

**To Reproduce**
Steps to reproduce the behavior:
1. try running this syntax for any image face_client.person_group_person.add_face_from_stream([person_group_id],[personid],[img])
use person_group_id,person_id,img of your

[2020-03-05 14:47] RodgeFu commented on #9499
Hi secstu,

Sorry for the delay response. I saw someone has asked the same question on stackoverflow. I have tried the sample code provided and it works well on my side. I think you can give it a try and feel free to let us know if you have further questions.

Link: https://stackoverflow.com/questions/59785672/python-azure-sdk-enabling-disk-encryption
Because the operation may take a while to comp

[2020-03-05 15:56] kiranpvsr opened #10109 "Clarity around in-memory checkpointing"
Hi

I'm just after information regarding the reliability/stability of in-memory checkpointing.
Assuming that this is something that is stored on Eventhub, is it safe to assume that the checkpoint information is always the current one as marked by client using "partition_context.update_checkpoint(event)".
What happens to the checkpoint information when the Azure/Eventhub servers are rebooted/crashe

[2020-03-05 17:19] xiangyan99 opened #10110 "Async retry is not tested"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional cont

[2020-03-05 18:26] kaerm commented on #10106
@brijan thanks for reporting this, I am looping in the right team to take a look at this //cc: @nickzhums

[2020-03-05 18:29] YijunXieMS commented on #9917
Thanks Launn, let us know if it happened again.

[2020-03-05 18:43] kaerm commented on #10109
@kiranpvsr thanks for reaching out, someone from our team will take a look at this //cc: @yunhaoling @YijunXieMS

[2020-03-05 18:52] iscai-msft opened #10111 "SentimentConfidenceScorePerLabel -> SentimentConfidenceScore"

[2020-03-05 19:44] kaerm commented on #10113
@SeanFeldman thanks for forwarding and @Jainit25 thanks for reporting. //cc: @KieranBrantnerMagee and @mayurid could you take a look at this

[2020-03-05 19:49] iscai-msft opened #10114 "Remove rounding, grapheme mentions from readme"

[2020-03-05 20:51] Jainit25 commented on #10113
Thanks everyone for jumping into the conversation. I further debugged and found out that the following logic is failing in **message.py** being the root cause of the issue.
[code]
On the VM I printed the locked_until time and the current time and found out that the locked_until time is less than the time when the message was read. For example, if I am reading/marking the message as complete at 10:

[2020-03-05 21:01] scbedd commented on #10045
Provided Yijun and Adam with a build that can get them a core dump. Moving back to backlog as there are higher priorities right now.

[2020-03-05 21:02] SeanFeldman commented on #10113
Time from the server is always in UTC. The servers on Azure might have a slight clock skew, but it should not be as big as 30 seconds. If it's a custom VM, perhaps time should be synchronized.

I'm no Python expert, but `datetime.datetime.now():` looks suspicious. Unless it's a UTC time. Perhaps it should be `datetime.now(timezone.utc)`?

[2020-03-05 21:09] Jainit25 commented on #10113
`datetime.datetime.now():` is the logic from Service Bus python package when we import packages using `from azure.servicebus import Message`
I believe the `datetime.now()` picks up the system time. Since, the clock is skewed it is getting the time 15 mins prior from the current time. So the logic of service bus `message.complete()` is failing.

[2020-03-05 21:13] SeanFeldman commented on #10113
In that case it could be the issue. The time should be always UTC and if the SDK is testing it against a non-UTC time, based on where the location/time zone, the condition will fail even the lock wasn't technically lost. I'm also starting to question this guarding statement. Rather send the message to the broker and if the time has elapsed, the broker will reject the completion, resulting in lock

[2020-03-05 23:14] #10114 closed

[2020-03-05 23:24] annatisch commented on #10029
Hi @F-Schmidt1 - did using the parameter `message_encode_policy` resolve this issue for you?

[2020-03-05 23:47] danieljurek opened #10118 "Smoke tests: enable failure notifications"
* move smoke test yml file into smoke test folder
* set CODEOWNERS for smoke test folder (service owners)
* update pipeline configuration to use smoke tests folder

[2020-03-05 23:56] danieljurek opened #10119 "Gov Cloud: Get Smoke Tests working"
Identity advice: https://blog.jongallant.com/2020/02/azure-identity-other-clouds/

[2020-03-06 01:41] v-xuto commented on #9732
Hi @siminchengithub ,
How is this issue going? Feel free to let us know if further help is needed.

[2020-03-06 01:51] #9404 closed

[2020-03-06 01:54] nkiest commented on #9990
If this is not an SDK bug, then you need to open a support ticket to address it. However, we (Activity Log) is a pipeline, not the generator of the logs. We don't truncate them ourselves, that is happening with the generating team, who you should contact to request they don't truncate, or create such long logs.

[2020-03-06 01:54] #9990 closed

[2020-03-06 02:33] v-xuto commented on #9687
Hi @vsnarkhede13 ,
You can use service commerce to extract all the resources, resource type(storage/vm/any else) and its consumed price ,and please install package azure-mgmt-commerce.

The detailed code  is shown below (here is the official [document](https://docs.microsoft.com/en-us/python/api/overview/azure/commerce?view=azure-python) for your reference):
[code]
@jongio

[2020-03-06 02:42] yunhaoling commented on #10098
Hi @TzlilSwimmer123 , thanks for bringing up this topic.

We're having internal discussion on whether to introduce the `traditional push mode` (register a callback method to handle messages) into our sdk. your thoughts on this are most welcome:

- What kind of using scenario makes you want this push mode?
  - it would be really nice if you could describe your use case.
- We provide the iterator re

[2020-03-06 06:48] KieranBrantnerMagee opened #10127 "Service Bus AMQP links are force disconnected after 10 minutes idle, regardless of keepalive"
- **Package Name**: ServiceBus
- **Package Version**: All versions (tested on 0.50.2)
- **Operating System**: All OS's (Service-side root cause)
- **Python Version**:  All versions (tested on 3.8)

**Describe the bug**
Service Bus Service force disconnects links after 10 minutes.  Keep-alive does not mitigate this issue.

This can be noted within the following log:
`
2020-03-05 15:31:20,869 - INFO

[2020-03-06 16:08] brandonmbanks commented on #10060
Bump @kaerm @mayurid

[2020-03-06 18:42] iscai-msft opened #10132 "Release Text Analytics Track 2 Python Preview 4"

[2020-03-06 18:43] KieranBrantnerMagee commented on #10008
Should be dealt with per #10082 feel free to reopen/shout if any issues; hopefully this mitigation will also allow other management tests to utilize the same functionality going forward. (We broadcasted this advice in standup as well, that management tests in the future with hardcoded resource names should plumb through get_replayable_random_resource_name)

[2020-03-06 18:43] #10008 closed

[2020-03-06 18:43] iscai-msft opened #10133 "[text analytics] scores -> confidence_scores"
Leaving out for detect_language rn, could change soon

[2020-03-06 18:44] iscai-msft opened #10134 "[text analytics] SentimentConfidenceScores -> ConfidenceScores"

[2020-03-06 18:46] iscai-msft opened #10135 "[text analytics] AnalyzeDocumentInput and DetectLanguageInput inherit from DocumentInput"

[2020-03-06 18:47] KieranBrantnerMagee commented on #9438
After discussions with the Service team, it appears that there is demand for the Atom management APIs for the forseeable future due to SAS key support.  We'll be revisiting how best to emplace this functionality within the lib with Track2 work, but it will ostensibly stay in some form or another.

Will likely be reopening #9293 when we begin bringing this logic into Track2 previews, to incorporate

[2020-03-06 18:47] #9438 closed

[2020-03-06 18:56] #10111 closed

[2020-03-06 19:14] #10135 closed

[2020-03-06 19:17] #10134 closed

[2020-03-06 19:40] xiangyan99 commented on #10110
Fixed in #10117

[2020-03-06 19:40] #10110 closed

[2020-03-06 19:58] alanjcastonguay commented on #5315
@yunhaoling I have not managed to re-locate the dotnet examples I mentioned earlier - I should have linked them then.

https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features#publisher-policy suggests that the Publisher ID is part of both the Connection String/URL and the SAS Token. The holders of those SAS Tokens are authorized to publish to an EventHub, and those SAS Tokens can be

[2020-03-06 21:09] scbedd opened #10140 "Allow Selected Management Packages to Pylint During CI Checks"
Right now we wholesale exclude `*-mgmt-*` from our `pylint` checks given that they are generated code.

`azure-mgmt-core` is coming in, and we need to make certain that it gets pylint checked!

[2020-03-06 21:09] scbedd commented on #10140
Ideally we complete this prior to Tuesday 3/10.

[2020-03-06 21:42] #9575 closed

[2020-03-06 21:42] #9868 closed

[2020-03-07 00:13] #9907 closed

[2020-03-07 00:13] #9930 closed

[2020-03-07 00:52] #9665 closed

[2020-03-07 00:52] #9669 closed

[2020-03-07 00:52] #9667 closed

[2020-03-07 00:52] #9671 closed

[2020-03-07 00:52] #9664 closed

[2020-03-07 00:52] #9668 closed

[2020-03-07 00:55] bryevdv opened #10149 "Handle faceting on paged search results"
Search should define a custom paged iterable that has attributes for any response-level information (e.g. facets)

[2020-03-07 01:02] bryevdv commented on #9669
closed by https://github.com/Azure/azure-sdk-for-python/pull/9775

[2020-03-07 17:54] alanjcastonguay opened #10154 "EventHub deadlock on network connection sever in EventHubProducer.send() -> ... -> EventHubProducer.close()"
- **Package Name**: azure-eventhub
- **Package Version**: 5.0.0
- **Operating System**: macOS Catalina 10.15.2 (19C57)
- **Python Version**: Python 3.6.6

**Describe the bug**
If a connection to Azure EventHub is established and messages are sent, but then the connection is severed, the send path's error handling deadlocks on itself when trying to close the connection.

**To Reproduce**
Steps to r

[2020-03-07 18:09] alanjcastonguay commented on #10154
Alternative hack - slightly less invasive, but still touching private module.

[code]

[2020-03-07 18:13] alanjcastonguay commented on #10154
The relevant locking came from commit ddb7a3f51e in #8515 by @yunhaoling on 2019-11-19. This was a large refactor.

[code]

[2020-03-07 19:19] alanjcastonguay commented on #10154
Actually, closing like `DeadlockFreeEventHubProducer` above doesn't work, as the context manager in `EventHubProducer.send()` will attempt to release the lock again and cause a `RuntimeError: release unlocked lock`. It could _reclaim_ the lock before returning, but this hack is getting very messy.

[2020-03-07 20:35] rfernand2 opened #10155 "DeviceCodeCredential() error: "need admin approval""
azure-identity==1.2.0
azure-keyvault-secrets==4.0.1
Windows 10
python 3.6.10

My command line app can successfully use InteractiveBrowserCredential() to get credentials for the user when the OS has a browser, but for SSH connections, we need a solution like DeviceCodeCredential().  For some reason, DeviceCodeCredential requires a client id, and is difficult to find the right configuration to make

[2020-03-08 04:22] praveenkuttappan opened #10157 "Pylint is failing for service with only one package that is management pkg"
CI filters management packages which are not required to run pylint in common filtering logic. But this common filtering logic is not triggered if service has only one package and if it is management package. Reasoning for that different code path in existing code is to allow bypassing this filtering when a specific package (that is by default filtered) needs to be built and tested.

Fix: Apply fi

[2020-03-08 07:34] TzlilSwimmer123 commented on #10098
Hi @yunhaoling , thanks for your response

- I have a scenario where I want to delete chunks of data from Mysql tables. I want to do it without delaying the user until the process is done. It can take some time until deleting all the data. We thought to use the topic and subscription in order to loop over the things we need to delete and that this process will be asynchronously done.

User picks a

[2020-03-08 18:52] praveenkuttappan opened #10161 "Regression test is failing when dependent package is not released to PyPI"
Azure-search is a new package that added azure-core as a dependent package and azure-search is not yet released.

Regression test scans all packages to find  which all packages needs to be covered in regression test (basically any package that takes other azure SDK package as required package is eligible for regression test of that required package)

In this case azure-search is found as a candida

[2020-03-09 09:15] F-Schmidt1 commented on #10029
Sorry for the delayed feedback - changing the parameter to message_encode_policy solved the issue. Thank you for your help!

[2020-03-09 09:15] #10029 closed

[2020-03-09 09:29] brijan commented on #10106
@nickzhums please let me know if you need more information

[2020-03-09 10:21] nickzhums commented on #10106
@RodgeFu could you let someone take a look to see if it is service related, thanks

[2020-03-09 12:07] kiranpvsr opened #10168 "In memory Checkpointing doesn't seem to work"
- **Package Name**: azure-eventhub
- **Package Version**: 5.0
- **Operating System**: Ubuntu 16
- **Python Version**: 3.5

**Describe the bug**
In memory checkpointing is only fetching data from the current datetime.

**To Reproduce**
Steps to reproduce the behavior:
1. stop the receiver today. start it tomorrow. the incoming logs will have a timestamp as of tomorrow.

**Expected behavior**
the re

[2020-03-09 14:28] qiaozha commented on #10106
I will take a look at this.

[2020-03-09 14:29] qiaozha commented on #10106
@brijan  Can you show me your code of using this package and how your parameters look like?

[2020-03-09 17:51] yunhaoling commented on #10154
Hi @alanjcastonguay , thanks for reporting the issue and providing detailed context which would be really helpful to us.
We'll look into the issue and keep you updated about the progress here.

[2020-03-09 18:14] iscai-msft opened #10179 "Create multiapi azure-core based client"
Right now, the python mutliapi SDK clients use the MultiApiClientMixin from azure.profiles.multiapiclient and it requires a dummy SDKClient on our part.

Create a multiapi azure-core based client that does not require this dummy SDKClient

[2020-03-09 18:30] lmazuel commented on #8867
"polling_interval"

[2020-03-09 18:30] #8867 closed

[2020-03-09 18:41] YijunXieMS commented on #10109
Hi @kiranpvsr , sorry I just realized that I missed this issue.

The in-memory checkpoint store stores data in the memory of the computer that runs the SDK. It doesn't save data when your server is rebooted/crashed. It doesn't store data in the event hub server either. It's only useful when exception happens during event processing and reconnect to the eventhub.

BlobCheckpoitStore of package [azu

[2020-03-09 18:44] YijunXieMS commented on #10168
Hi @kiranpvsr , thanks for the feedback. And sorry that I missed your question of in-memory checkpoint. I just replied in that issue.
Let me know if you have more questions.

[2020-03-09 18:57] iscai-msft opened #10183 "Text Analytics backlog"

[2020-03-09 19:08] iscai-msft commented on #8929
1. For language it was decided to leave as string in all cognitive Services (see more here
	Assaf Israel: Re - language codes. Apparently there's already a mandatory standard in… )

2. For countryHint we don't provide a list just to avoid political implications. The user can send whatever and the service is responsible to validate it.

[2020-03-09 19:08] #8929 closed

[2020-03-09 19:35] #9902 closed

[2020-03-09 19:42] lmazuel commented on #9970
@akshaybabloo the problem here is that we don't necessarly know in advance the length of this iterable. This is lazy loading, as you move around the iterator.
https://docs.python.org/3.8/library/collections.abc.html?highlight=abc

as you can see an iterator has no len

[2020-03-09 19:46] lmazuel commented on #9857
The keyring problem was actually not in msrest, but in msrestazure. @BarryBo if you update your msrestazure to at least 0.5.0.

Please confirm this solves your issue so we can close, thanks!

[2020-03-09 19:47] lmazuel commented on #9481
I would assume @daviwil is interested too :)

[2020-03-09 19:48] bryevdv opened #10187 "Add support for returning count and coverage information"
ref: https://github.com/Azure/azure-sdk-for-python/pull/10182#discussion_r389909487

[2020-03-09 19:51] #9989 closed

[2020-03-09 19:52] kristapratico opened #10188 "[FormRecognizer] Design track 2 library for preview 1"
Note: this is not an exhaustive list of all design issues, just issues with notes that need resolving before preview 1

Open design issues for preview 1:

- [x] Client design - current proposals:
    - ReceiptClient, FormLayoutClient, CustomFormClient
    - FormRecognizerClient (receipt, layout) and CustomFormClient
    - PrebuiltFormClient (receipt, layout) and CustomFormClient
    - PrebuiltForm

[2020-03-09 19:55] kristapratico opened #10189 "[FormRecognizer] Implement sync APIs"
- [ ] Receipt
- [ ] Layout
- [ ] Custom
   - [ ] Training labeled/unlabeled
   - [ ] Analyze/extract form
   - [ ] List models
   - [ ] Get models summary
   - [ ] Delete model
   - [ ] Get custom model (2 methods - labeled and unlabeled)

[2020-03-09 19:55] kristapratico opened #10190 "[FormRecognizer] Implement async APIs"
- [ ] Receipt
- [ ] Layout
- [ ] Custom
   - [ ] Training labeled/unlabeled
   - [ ] Analyze/extract form
   - [ ] List models
   - [ ] Get models summary
   - [ ] Delete model
   - [ ] Get custom model (2 methods - labeled and unlabeled)

[2020-03-09 19:56] kristapratico opened #10191 "[FormRecognizer] Create Readme"

[2020-03-09 19:57] lmazuel commented on #6953
Done, closing

[2020-03-09 19:57] #6953 closed

[2020-03-09 19:58] lmazuel commented on #8738
Checked @chidozieononiwu and it's closable

[2020-03-09 19:58] #8738 closed

[2020-03-09 19:59] kristapratico opened #10192 "[FormRecognizer] Add sync/async tests and set up testing pipelines"
- [x] Set up form recognizer CI pipeline
- [x] Set up preparer test framework for form recognizer
- [x] Write sync tests
- [x] Write async tests
- [x] Record tests and ensure playback works
- [ ] Set up live test pipeline and schedule nightly

[2020-03-09 20:00] kristapratico opened #10193 "[FormRecognizer] Add samples and snippets"
Add sync/async samples and snippets for ref docs

[2020-03-09 20:02] kristapratico opened #10195 "[FormRecognizer] Add docstrings for ref docs"
- [x] Add docstrings, verify in sphinx locally
- [x] Make sure added to toctree for CI build so docs get published

[2020-03-09 20:04] kristapratico opened #10197 "[FormRecognizer] Pylint, mypy set up in CI"
Get clean pylint and mypy library, and enable checks in CI.

[2020-03-09 20:06] kristapratico opened #10198 "[FormRecognizer] client library version"
Decide on what the client library version will be across languages. Also add Microsoft as a package owner after release on PyPI.

[2020-03-09 20:07] #6637 closed

[2020-03-09 20:07] lmazuel commented on #6637
Issue moved to [Azure/autorest.python #479](https://github.com/Azure/autorest.python/issues/479) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-09 20:08] kristapratico opened #10199 "[FormRecognizer] Support AAD authentication"
This might be trivial, but we had some hiccups with getting everything lined up to work with text analytics so address this earlier than later.

[2020-03-09 20:41] #10149 closed

[2020-03-09 21:38] lmazuel commented on #9534
Yes, waiting for https://github.com/Azure/azure-sdk-for-python/pull/9821 to make it to azure-core (we missed the 1.3 timeline)

[2020-03-09 21:42] kaerm commented on #7231
@nickzhums could you take a look at this?

[2020-03-09 22:43] vamathan commented on #7231
Hi Team,

Is there an ETA on this ? With this issue, Microsoft.Azure.Management.EventHub .NET SDK is not able to successfully create EventHubs.

Is there a work around or alternative to create Azure EventHub namespaces and EventHubs via .NET C# SDK ?

[2020-03-09 22:44] lmazuel opened #10205 "Add an autorest-v3 job in CI"
Same as the current autorest job (to test azure-core), but using the "autorestv3" branch of autorest.python.

[2020-03-09 22:46] carlosotgz commented on #9002
@jongio hi, I would just like to mention that I'm facing the same issue. Although it's possible to create a Service Principal and set its details as environment variables to let the DefaultAzureCredential method see them, it introduces the inconvenience of having to create these Service Principals just for this, and having to deal with the corresponding secrets/certificates carefully. It would be

[2020-03-09 22:48] jongio commented on #9002
If all goes well this week, we'll have a preview out soon.  I"ll flag this thread to post more info when we have it.

[2020-03-10 01:58] v-xuto commented on #10155
Hi @rfernand2, Here is a [sample](https://github.com/Azure/azure-sdk-for-python/blob/bb62c962f4b145e0363e7dad7bf277a9027167a5/sdk/identity/azure-identity/tests/test_live.py#L16) of DeviceCodeCredential.
For the value of the parameter cliend_id in DeviceCodeCredential, you should use AZURE_CLI_CLIENT_ID directly in the azure/identity/_constants.py file.

Sample code snippet:
[code]
Please feel free

[2020-03-10 02:08] rfernand2 commented on #10155
Hi @v-xuto, **thanks** for the code sample.  I love the simplicity - who knew there was an AZURE_CLI_CLIENT_ID?!  Any way, I just pasted in my Vault URL and tried it.  I get the following error:

Maybe I am using a different version than you?  My info:

[2020-03-10 03:37] nickzhums commented on #7231
@RodgeFu @zikalino could you please help with this

[2020-03-10 04:00] YijunXieMS commented on #10154
Hi @alanjcastonguay, appreciate you for the detailed bug report. We happened to release 5.0.1 today and there were code change related to this exception handling. The exception handler doesn't call .close() directly any more. I think this issue should disappear in 5.0.1. Could you please try it?

[2020-03-10 04:17] vamathan commented on #7231
I see a similar issue with .Net SDK. Do we have an issue tracker for .Net SDK ?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: nickzhums <notifications@github.com>
Sent: Monday, March 9, 2020 8:37:47 PM
To: Azure/azure-sdk-for-python <azure-sdk-for-python@noreply.github.com>
Cc: Vandhana Mathan <Vandhana.Mathan@microsoft.com>; Manual <manual@noreply.github.

[2020-03-10 04:42] alanjcastonguay commented on #10154
Ah; I see PR #9617 - will retest with 5.0.1.

[2020-03-10 05:20] 00Kai0 opened #10215 "the list operation of virtual_machine_scale_set_vms doesn't send request."
@zikalino , when I test vmss , this operation always return [], but it has two vms in this vmss. So I test this:
[code]
this function will just print `test started.` , but not print url or response.

[2020-03-10 06:10] nickzhums commented on #7231
@vamathan could you please open a new issue in .NET for this? thanks

[2020-03-10 08:04] v-xuto commented on #10155
Hi @rfernand2,
When you run azure_device_code_test.py file, you need according to the following instructions on the browser to open the link https://microsoft.com/devicelogin, then enter the corresponding code (such as BFNHY86BX) for authentication. I wonder if you have done so?
[code]

[2020-03-10 11:47] damnedOperator opened #10219 "Azure DL Storage Gen2 runs into timeout on get_paths"
- **Package Name**:
from azure.storage.filedatalake import DataLakeServiceClient
- **Package Version**:
azure-storage-file-datalake==12.0.0b6
- **Operating System**:
Unix/Debian/Ubuntu
- **Python Version**:
Python 3.7.3

**Describe the bug**
[1]
[code]
When running this code on ADLS Gen2 I run into a timeout:

`azure.storage.filedatalake._generated.models._models_py3.StorageErrorException: Operati

[2020-03-10 14:14] iscai-msft opened #10220 "[text analytics] Modification of grapheme to deal with service changes"
Hold off until service has made changes, verify how it works once they add text to Text Analytics

[2020-03-10 14:15] BarryBo commented on #9857
I have msrestazure 0.6.2 and the problem repros.

[code]

I checked with Python in verbose mode, and it's loading msrestazure from C:\Users\barrybo\AppData\Local\Programs\Python\Python38\lib\site-packages\msrestazure\.

[2020-03-10 14:15] iscai-msft opened #10221 "[text analytics] Rename input parameter name"
`inputs` to `documents`

Make sure to update samples, readme, docstrings

[2020-03-10 14:17] iscai-msft opened #10222 "[text analytics] Performance testing"
1. Brainstorm about performance scenarios we want to test and design them
2. Evaluate where we're at and whether that's OK. Are there any improvements we need?

[2020-03-10 14:18] iscai-msft opened #10223 "[text analytics] Update documentation and versioning"

[2020-03-10 14:21] iscai-msft opened #10224 "[text analytics] Investigate what we want to do with IDs"
1. Look into whether this is an issue for Python

[2020-03-10 15:14] pvrk commented on #9574
Currently, we don't have ready-made samples to be uploaded in docs. We have to prepare them and upload. This is the first ask and hence I would treat as a feature request. If the Python SDK is used for CLI, then we have the CLI doc updated.

[2020-03-10 16:28] lmazuel commented on #9857
I tried to to install azure-keyvault 1.1.0 (which I think is what you use correct?) but "keyring" is not installed anymore and I can't reproduce it.

Could you list the entire set of packages you have? Could you try a fresh env?

Thank you

[2020-03-10 16:41] allenliuchina commented on #7201
That's true .I got the same issue...  your comment helps me  o lot

[2020-03-10 16:48] YijunXieMS commented on #9660
@kdazzle azure-eventhub 5.0.1 is released. It has the fix for this issue.

[2020-03-10 16:52] BarryBo commented on #9857
Here's my current environment:

Package                               Version
------------------------------------- ----------
adal                                  1.2.2
astroid                               2.3.3
azure                                 4.0.0
azure-applicationinsights             0.1.0
azure-batch                           4.1.3
azure-common                          1.1.24
azure-co

[2020-03-10 17:02] BarryBo commented on #9857
I uninstalled as much as I could, down to just this:
C:\Users\barrybo>pip3 list
Package    Version
---------- -------
-ffi       1.14.0
pip        20.0.2
setuptools 41.2.0

I then installed my team's default set of packages using the attached requirements.txt.
[requirements.txt](https://github.com/Azure/azure-sdk-for-python/files/4313689/requirements.txt) then used pip3 to install azure-keyvault,

[2020-03-10 17:15] amishra-dev commented on #10219
Thanks @damnedOperator for reporting this. The issue seems to be that the service took a long time to respond. As an immediate workaround you can increase the timeout you pass to the service. Meanwhile I will check with the service team as to what is causing this delay.

[2020-03-10 17:17] #7808 closed

[2020-03-10 17:17] #9920 closed

[2020-03-10 17:18] #9795 closed

[2020-03-10 17:22] kdazzle commented on #9660
That's awesome - thanks a lot!

On Tue, Mar 10, 2020 at 12:48 PM Yijun Xie <notifications@github.com> wrote:

[2020-03-10 17:26] bryevdv opened #10231 "Azure search mgmt live tests are failing"
Here is link to one of the failing builds:

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=287371&view=logs&j=e4797745-1ad6-5989-d345-8ffe02e82111&t=dc7fc283-abe8-503f-8514-57700b43cb5c

cc @scbedd

[2020-03-10 17:35] alanjcastonguay commented on #10154
Reproduced using the script with 5.0.0 and did not reproduce with 5.0.1. I'll call this resolved by PR #9617

[2020-03-10 17:35] #10154 closed

[2020-03-10 17:41] lmazuel commented on #9857
I wonder who brought "keyring" in your environment, we definitly don't. Could you just try to uninstall "keyring"?
Also, if your app requires only keyvault , try to just install "azure-keyvault==1.1.0" and not "azure"

[2020-03-10 18:14] brjohnstmsft commented on #10231
@bryevdv Our management plane Swagger was [updated recently](https://github.com/Azure/azure-rest-api-specs/pull/8572). Could that be related?

FYI @careyjmac

[2020-03-10 18:25] Careyjmac commented on #10231
It looks to me like none of the tests are failing but something is wrong in the generation?  @abhi1509 perhaps can comment?

[2020-03-10 18:31] amishra-dev commented on #10219
Hi @damnedOperator,
my friends on the service side are telling me your account got throttled when you hit this error. can you try again and see if you are still running into this? If you do, please send me the logs again like you did earlier and I can followup with the service team again.

[2020-03-10 18:34] scbedd opened #10234 "Update Existing Releases w/ Appropriate Changelog Contents"
Target: Any client releases recently on Azure/azure-sdk-for-python.

Doesn't look like the release bodies are getting the changelog contents like they should during release.

This started on Feb 6th with this PR: https://github.com/Azure/azure-sdk-for-python/pull/9548

[2020-03-10 18:46] #9753 closed

[2020-03-10 18:46] chlowell commented on #9753
These features are available now in 4.2.0b1

[2020-03-10 19:04] rfernand2 commented on #10155
Yes, for the above test, I was running on my home computer (tried it multiple times).  The web page gave me the response "You have signed in to the Microsoft Azure Cross-platform Command Line Interface application on your device. You may now close this window.".

However, I just ran the same test at work, and... **it worked!**  Same confirmation message from the browser but without the stack trace

[2020-03-10 19:18] rfernand2 commented on #10155
Also, can you direct me to any documentation you have on **AZURE_CLI_CLIENT_ID**?  I can't seem to find much about it searching the web.  I am trying to figure out if there are condition under which it won't work.  Thanks...

[2020-03-10 19:33] bryevdv opened #10236 "sample_crud_operations_async.py"
example uses asyncio.run which is only for python 3.7+

[2020-03-10 19:49] chlowell commented on #10155
It's the third one, an admin for your Azure AD tenant needs to grant the permission to your application.

Unless you use a VPN (or live at the office), you're on a different network at home. Your Key Vault may have network access restrictions ([docs](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-network-security)).

It's undocumented. The `_constants` module is internal and changes wi

[2020-03-10 19:52] iscai-msft opened #10239 "[text analytics] link to endpoint documentation in readme"

[2020-03-10 19:56] nancybelser opened #10240 "subscription class should return the tags associated with the subscription"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-10 19:57] nancybelser commented on #10240
https://docs.microsoft.com/en-us/python/api/azure-mgmt-subscription/azure.mgmt.subscription.models.subscription?view=azure-python
This class does not include tags, although tags are included in the rest api:
![image](https://user-images.githubusercontent.com/41346295/76353830-d17fc300-62e7-11ea-8502-b330cb40f551.png)

[2020-03-10 20:43] kaerm commented on #10240
@nancybelser thanks for reporting this, @nickzhums could you take a look at this?

[2020-03-10 20:43] scbedd commented on #10234
Updated client packages back through feb 6th. We have had new releases properly populate as well. Closing this issue.

[2020-03-10 20:43] #10234 closed

[2020-03-10 20:52] brandonmbanks commented on #10060
Bump @kaerm @mayurid. Still haven't received any answer on this.

[2020-03-10 20:54] mayurid commented on #10060
We are planning for a release later this month. Will keep you posted on when it goes out.
//: @srinathnarayanan and @annatisch

[2020-03-10 20:58] chlowell commented on #8566
The first preview of `DefaultAzureCredential` integrating the Azure CLI is available now in [azure-identity 1.4.0b1](https://pypi.org/project/azure-identity/1.4.0b1/). In this preview, `DefaultAzureCredential` will attempt to authenticate with the identity you've set up with `az login`, with no configuration required in your code. Please try it out and let us know what you think.

[2020-03-10 21:09] rfernand2 opened #10243 "azure.identity.InteractiveBrowserCredential: good/bad token depends on calling order"
azure-identity==1.2.0
azure-keyvault-secrets==4.0.1
Windows 10
python 3.6.10

After creating a credential object from InteractiveBrowserCredential(), if I immediately call credential.get_token(), then the returned token can successfully be used with Microsoft Graph API.

However, if I first use the credential for a SecretClient get_secret() call, and then do the credential.get_token() call, the re

[2020-03-10 21:17] kristapratico opened #10244 "[FormRecognizer] Detect content-type of input form"
Automatically detect content type so user doesn't have to pass this as a parameter

[2020-03-10 21:53] #8599 closed

[2020-03-10 21:54] #8601 closed

[2020-03-10 21:55] #10157 closed

[2020-03-10 21:55] #10161 closed

[2020-03-10 21:58] #10140 closed

[2020-03-10 22:22] yunhaoling commented on #9242
Hi @MichaelWeedon , sorry for keeping you waiting for such a long time.

I have created a patch wheel for the issue, can you test whether it solves the problem on your side?
[dead-letter-description-patch.zip](https://github.com/Azure/azure-sdk-for-python/files/4315071/dead-letter-description-patch.zip)

(Code change could be found here if you're interested in implementation detail https://github.

[2020-03-10 22:59] BarryBo commented on #9857
OK, closing out the bug.  The failing keyring call was coming from code I wrote, inside the callback function invoked by KeyVaultAuthentication, to cache the results of the device authentication, since the auth itself is valid for 60 minutes.

keyring.set_password() fails on Windows with a 1281 character password, with the (1783, 'CredWrite', 'The stub received bad data') message, but succeeds wit

[2020-03-10 22:59] #9857 closed

[2020-03-10 23:02] amotley commented on #10231
Here's a helpful link to view the tests - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=287371&view=ms.vss-test-web.build-test-results-tab.

Based on the errors from the failing tests, there may be a UT setup issue with the resource groups being used:
No match for the request (<Request (PUT) https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceG

[2020-03-10 23:02] lmazuel commented on #8669
@jongio closing, since the PR @kaerm mentionned has been merged.

[2020-03-10 23:02] #8669 closed

[2020-03-10 23:10] yunhaoling commented on #10098
@TzlilSwimmer123 , thanks for the feedback, I agree that registering a callback is a commonly used pattern to receive messages from messaging services and makes things easy.

We'll take your thoughts into consideration, thanks!

note: although we don't have "listen" api in current sdk, the receiver itself is a "generator" which runs forever until forced/asked to stop.

You can take a look at the s

[2020-03-10 23:33] #8565 closed

[2020-03-11 06:45] yunhaoling commented on #9402
@K3UL sorry for missing the issue here.
We're looking into the issue and will update you if we make any progress on this.
Thanks for your patience in advance.

[2020-03-11 06:45] damnedOperator commented on #10219
Hi @amishra-dev , thanks for responding so fast. I am checking the service right now, but it doesn't look promising. I didn't find any way to increase timeout values, am I missing something?

[2020-03-11 06:51] amishra-dev commented on #10219
@damnedOperator can you send me the log that has the RequestId again. I will check with the service team again tomorrow. Lets get you unblocked.

[2020-03-11 06:58] damnedOperator commented on #10219
@amishra-dev Hmm.. Seems like I cannot extract the request ID from my traceback on python...

[2020-03-11 07:04] amishra-dev commented on #10219
@damnedOperator how frequent is this issue for you? does it happen everytime? once an hour? or more frequently?

[2020-03-11 07:05] damnedOperator commented on #10219
@amishra-dev The issue occurs on every request I try to send.

[2020-03-11 07:06] amishra-dev commented on #10219
@damnedOperator in that case you can capture a fiddler and pull this info out of it. I need the guid with the lots of 0 at the end.

[2020-03-11 07:06] amishra-dev commented on #10219
meanwhile let me pull up your account and see whats going on there

[2020-03-11 07:37] damnedOperator commented on #10219
One Moment, I am currently trying to get them over the logger. Any news on the account?

[2020-03-11 07:39] amishra-dev commented on #10219
nothing that I could see wrong at my skill level, we will have to wait for the service folks to respond.

[2020-03-11 07:39] damnedOperator commented on #10219
Request ID is RequestId:31f106e9-101f-00fe-6a78-f71b33000000

´´´
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/benjamin/.local/lib/python3.7/site-packages/azure/core/paging.py", line 122, in __next__
    return next(self._page_iterator)
  File "/home/benjamin/.local/lib/python3.7/site-packages/azure/core/paging.py", line 74, in __next__
    self._response

[2020-03-11 09:10] nickzhums commented on #7231
@vamathan @ha-gg-i it looks like the properties are not present in the swagger, therefore they are not exposed in the SDK. To expose these properties we need to start from the swagger, here's the issue to track:
https://github.com/Azure/azure-rest-api-specs/issues/2255

This is the swagger we are discussing about:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/eventhub/res

[2020-03-11 10:06] brijan commented on #10106
`from azure.common.credentials import ServicePrincipalCredentials
from azure.mgmt.resource import ResourceManagementClient
from azure.mgmt.datafactory import DataFactoryManagementClient
from azure.mgmt.datafactory.models import *
from datetime import datetime, timedelta
import time

def main():

    # Azure subscription ID
    subscription_id = 'subscription_id'

    # This program creates this re

[2020-03-11 10:17] brijan commented on #10106
@qiaozha  code in failing at data_flow_created = adf_client.data_flows.create_or_update
and I am using DelimitedTextDataset as dataset and AzureBlobFSLinkedService as I have data lake gen 2 as data source
'def main():

    # Azure subscription ID
    subscription_id = 'subscription_id'

    # This program creates this resource group. If it's an existing resource group, comment out the code that cr

[2020-03-11 11:14] pengwinsurf opened #10257 "IPv6 support"
Azure eventhub
5.0.0
Centos
3.8

Bug description
I am trying to connect to the azure eventhub in an environment that only supports IPv6. This is the log output.

[code]

[2020-03-11 12:39] TzlilSwimmer123 commented on #10098
@yunhaoling I am not sure how the "generator" can help me in my situation. When I used this bit of code I did not get messages in real time...

Thanks

[2020-03-11 14:50] MichaelWeedon commented on #9242
@yunhaoling
installed the patch - getting an exception in dead_letter().
Suspect I am missing something.

  File "/Users/xxxx/projects/venv/lib/python3.6/site-packages/azure/servicebus/aio/async_message.py", line 108, in dead_letter
    raise MessageSettleFailed("reject", e)
azure.servicebus.common.errors.MessageSettleFailed: Failed to reject message. Error: Management request failed: Management r

[2020-03-11 15:13] qiaozha commented on #10106
Thanks for sharing the code. I will look into it

[2020-03-11 16:22] kaerm commented on #10257
Hi @pengwinsurf thanks for letting us know, someone from our team will look into that // cc: @mayurid @yunhaoling @YijunXieMS

[2020-03-11 16:59] amotley commented on #10231
Hey Bryan, can you kick off the tests again and see if they pass? I'm seeing another job where these passed this morning - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=288775&view=results

[2020-03-11 17:14] Jainit25 commented on #10113
When we run the command timedatectl, we saw a mismatch between the RTC and Universal time.
This is to update that the issue has been fixed by matching the RTC time to the Universal time when we update the `chronyd.conf` file to add the following command.
`refclock PHC /dev/ptp0 poll 3 dpoll -2 offset 0`

After updating the configuration we need to run the following command in the terminal to resta

[2020-03-11 17:18] scbedd commented on #10231
That's because they were disabled to confirm a clean run. I've re-enabled them and kicked a build here: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=288919&view=results

[2020-03-11 17:55] YijunXieMS commented on #10257
@pengwinsurf My computer couldn't find host "test.servicebus.windows.net" either. So what eventhub namespace (not event hub name) do you have?
As a test, could you ping "yijun-eventh.servicebus.windows.net" from that IPv6 computer?

Here is the result from my computer.
[code]

[2020-03-11 17:55] markusweimer commented on #9939
There is an ongoing project over in [dask](https://github.com/dask/adlfs) to do the fsspec implementation.

[2020-03-11 18:08] scbedd commented on #10231
Hey @amotley @bryevdv guidance from @lmazuel is that we don't need to livetest mgmt (generated code!) and mgmt packages should be excluded from the livetests.

In this case @amotley I will return the build configuration to the state it was last night (excluding azure-mgmt-search). That also means you have no further action items here. Sorry for the inconvenience!

[2020-03-11 18:08] #10231 closed

[2020-03-11 20:28] ramya-rao-a opened #10263 "Release Event Hubs April 2020 update for Python"
This is a parent issue tracking the work planned for Event Hubs for the April update.
Code complete date: April 3rd, 2020

## API design
- [ ] **In Progress** Propose smarter send APIs such that the user doesnt have to one by one fill the `EventDataBatch` to be able to send events
- [ ] **In Progress** Propose API to control greedy claiming of partitions by the Event Processor

## Features
- [x] R

[2020-03-11 21:24] yunhaoling commented on #9242
@MichaelWeedon,

Which version of uamqp library are you using, can you try installing the the latest uamqp library by `pip install uamqp --upgrade`? -- that should install uamqp v1.2.6 for you.

We're aware of the [issue](https://github.com/Azure/azure-sdk-for-python/issues/7336) `Error: Management request failed: Management request returned status code: 500. Description: b'Unsupported type 0x40 f

[2020-03-11 22:04] jongio commented on #9002
A preview of DefaultAzureCredential with Az Cli credential support was released yesterday: https://pypi.org/project/azure-identity/1.4.0b1/

Please try it out and provide feedback.  Thanks, Jon

[2020-03-11 23:35] amishra-dev commented on #10219
Hi @damnedOperator,
The service team told me that you should not be hitting this error anymore. Please test, confirm and do let me know.

[2020-03-12 00:11] #9081 closed

[2020-03-12 00:11] rakshith91 commented on #9501
FIxed

[2020-03-12 00:11] #9501 closed

[2020-03-12 00:12] rakshith91 commented on #10005
Fixed. Closing this.

[2020-03-12 00:12] #10005 closed

[2020-03-12 00:13] lmazuel commented on #8784
Initial PR from @jongio here: https://github.com/Azure/azure-sdk-for-python/pull/8793
Closed since Storage team preferred to restart the fix from scratch, but could be used as inspiration for the fix (maybe even chrry-pick commits from it).

[2020-03-12 08:20] damnedOperator commented on #10219
HiHi I am currently on vacation, let me check in on monday.

Get Outlook for Android<https://aka.ms/ghei36>

Benjamin Reinecke
PTV GROUP

IT Solutions
Haid- und Neu-Straße 15, 76131 Karlsruhe
Phone:+49 721 9651-7654
benjamin.reinecke@ptvgroup.com
www.ptvgroup.com
 --
 Explore the PTV Group in 2 minutes!
 Register for the PTV-Newsletter

 Follow us on social media:
 Linkedin
​ Twitter
 Xing
​ ​Inst

[2020-03-12 09:10] rfernand2 opened #10274 "SubscriptionClient Error: AttributeError: 'InteractiveBrowserCredential' object has no attribute 'signed_session'"
azure-identity==1.2.0
azure-mgmt-resource==2.2.0
python==3.6.10
Windows 10

**Describe the bug**
The following code to list subscriptions gives the above error:

[code]

[2020-03-12 12:26] MichaelWeedon commented on #9242
@yunhaoling
Already at 1.2.6 of uamqp.

$ pip list | grep uamqp
uamqp                                         1.2.6
$ pip install uamqp --upgrade
Requirement already up-to-date: uamqp in /Users/xxx/projects/venv/lib/python3.6/site-packages (1.2.6)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /Users/xxx/projects/venv/lib/python3.6/site-packages (from uamqp) (2019.9.11)
Req

[2020-03-12 14:02] chlowell commented on #10274
Closing this as a duplicate of #9756. In brief, no azure-mgmt-* accepts azure-identity credentials. Work to change that is tracked by #9310.

[2020-03-12 14:02] #10274 closed

[2020-03-12 15:31] bno1 opened #10277 "[azure-storage-blob] AuthenticationFailed when metadata keys contain underscores"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.2.0
- **Operating System**: Ubuntu 18.04
- **Python Version**: Python 2.7.17

**Describe the bug**
Azure seems to sort metadata keys containing underscores differently, causing a `AuthenticationFailed` error.

In the example below the metadata keys are: `i0` and `i_`. Lexicographically, `i0` < `i_`, but in the Azure response (in the

[2020-03-12 15:49] superhrusha opened #10278 "Allow refreshing the token obtained by InteractiveBrowserCredential"
**The problem I am trying to solve:**

* I am writing a desktop client app that will programmatically connect to Azure storages
* The app will be run by multiple stakeholders in the organization from their personal computers
* The storages contain sensitive information so I want to properly secure access- access should be based on AD, much like Azure CLI works.
* I have a working solution but the

[2020-03-12 17:06] yunhaoling commented on #9242
That's interesting, when I test the functionality it works for me.

Which platform are you using, windows/linux/mac?
Are you doing some long-period operation on a single message? It would be great if you could share me with the simplified code to reproduce the `b'Unsupported type 0x40 for array.` issue.

Thanks

[2020-03-12 17:46] chlowell commented on #10278
Hi @superhrusha, thanks for opening this. We're working on improvements to caching (tracked by #9744) and user authentication that will enable the solution you'd like in an upcoming release. I'll use this issue to track work around giving applications more control over how and when `InteractiveBrowserCredential` and other user credentials authenticate.

[2020-03-12 17:46] kaerm commented on #10277
Thanks @bno1 for reaching out, tagging the right team to take a look at this // cc: @xgithubtriage

[2020-03-12 17:47] yunhaoling opened #10281 "[ServiceBus] Share connection in Top level ServiceBusClient"
Test Work:
- live test
  - [ ] negative cases connection recovery
      - [ ] send
      - [ ] receive
      - [ ] settle message (normal settlement failed and switch to mgmt settlement)
      - [ ] mgmt auto lock renew
      - [ ] other mgmt schedule/cancel/peek/deferred
      - [ ] combination of those
- stress test
  - [ ] multiple send
  - [ ] multiple receive
  - [ ] multiple send + receive

[2020-03-12 17:48] MichaelWeedon commented on #9242
@yunhaoling
I am on Mac OS.
I pulled the latest sdk samples and they have been reworked and I no longer get the 0x40.
Using example_session_send_receive_with_pool_async.py in async_samples
replace line #32 with the following (sending all message to dead_leter)
                    await message.dead_letter("Bad Message")
 but still no dead letter attributes

[2020-03-12 17:48] yunhaoling opened #10282 "[ServiceBus] BatchMessage support"

[2020-03-12 18:43] amishra-dev commented on #10277
@xiafu-msft can you please investigate, also make sure that this does not happen in Java, .Net and JS.

[2020-03-12 18:55] bno1 commented on #10277
Is it possible that this might be a server bug? I can't see any reason for the server to sort `i_` before `i0` unless it transforms the key somehow, for example removing `_` and other special characters. The same thing happens if you use `^` instead of `_`: lexicographically `i0` < `i^`, but Azure sorts them the other way around.

The only documentation that I could find about metadata keys is: [1

[2020-03-12 19:51] praveenkuttappan commented on #9286
Closing this issue. Fix has been done in Azure/azure-sdk#1048 to handle burner feed availability.

[2020-03-12 19:51] #9286 closed

[2020-03-12 19:53] praveenkuttappan commented on #9924
This is duplicate of issue https://github.com/Azure/azure-sdk-for-python/issues/9638

[2020-03-12 19:53] #9924 closed

[2020-03-12 20:10] iscai-msft opened #10283 "[text analytics] Add sentence_text property on SentenceSentiment"
Wait until service releases api

[2020-03-12 20:42] chlowell commented on #10243
Access tokens are scoped to resources. A token for Key Vault isn't valid for Graph. You're sending Key Vault tokens to Graph. Here's why:
1. `get_secret` provokes a request for a Key Vault access token
1. that access token is cached
1. you call `get_token()`, specifying no scope
1. the cache searches for an access token matching the requested scopes
1. You didn't specify any scope. By the cache's

[2020-03-12 23:54] brandonmbanks commented on #10060
That is really good news. This would be a full release or another preview release? @mayurid

We look forward to hearing back from

[2020-03-12 23:56] kaerm commented on #10060
It will be a full release this time @brandonmbanks

[2020-03-13 00:32] praveenkuttappan opened #10285 "Make live test timeout configurable"
Live test is currently set to 120 minutes. This should be configurable as a parameter.

[2020-03-13 02:24] tzhanl commented on #9732
We are going to close this issue because we haven’t heard from you in a few days, but please re-open it if the issue still persists.

[2020-03-13 02:24] #9732 closed

[2020-03-13 10:03] kiranpvsr commented on #10109
Thank you for that information. If its saved in the memory of the computer that runs the SDK, if the computer isn't restarted or the memory cache isn't flushed, then checkpointing should work isn't it ?
In my case, I've stopped the script that connects to Eventhub and started it after an hour. But instead of fetching events from when it was stopped, it started to fetch events based on the latest t

[2020-03-13 10:58] pengwinsurf commented on #10257
@YijunXieMS the scenario I have in my environment here is that I am behind a proxy in a ipv6 environment. When I try to set the proxy by passing http_proxy dict to EventHubConsumerClient.from_connection_string it doesn't respect the proxy because the host doesn't have an ipv4 address/adapter.

Testing from a host with an ipv4 address the connection works fine and I get the client instantiated fine

[2020-03-13 11:17] superhrusha commented on #10278
Thank you!

Is there an ETA?

On Thu, Mar 12, 2020, 19:46 Charles Lowell <notifications@github.com> wrote:

[2020-03-13 14:09] JADawson commented on #9684
Hi @xiafu-msft

I'm doing some development with this SDK and Azure Functions. I've noticed that the file_client.rename_file method fails if there are spaces in the source file name.

If there are spaces in the source file name (the one for which you get the file_client and execute the rename_file method) you get the: Operation returned an invalid status 'The source URI is invalid.' error.

If you

[2020-03-13 15:01] iscai-msft opened #10291 "[text analytics] score -> confidence_score in detect language"

[2020-03-13 15:02] iscai-msft opened #10292 "[text analytics] massage NER models to accommodate service change"
Service is changing `type` and `subtype` to `category` and `subcategory`

[2020-03-13 15:05] iscai-msft opened #10293 "[text analytics] add aspects and opinions"
wait for service v3.1-preview1

Adding `aspects` and `opinions` to results. They have a many to many relationship (i.e., you can have "restaurant" and "hotel" aspects, and they both refer to the opinion "close to plenty". aspects will have a field that is a list of the opinions that refer to it.

Service team will return references for the relations between opinions and aspects and we'll have to r

[2020-03-13 15:05] iscai-msft opened #10294 "[text analytics] add PHI"
The PII rest endpoint will accept optional query parameter "PHI", which will then return the subset of PII entities that refer to health info

[2020-03-13 17:14] dennispg commented on #4250
What is the update on this? Is my pull request redundant with upcoming updates , or can it be merged as a minor update to the current version of the library at least?

[2020-03-13 17:29] chlowell commented on #10278
User auth changes will roll out in beta releases over the next few months. I'll update this issue when something's available for feedback.

[2020-03-13 17:43] KieranBrantnerMagee commented on #4250
Hey Dennis,

Apt timing, as we're very literally on a call discussing this right now.  (There was some back and forth under whether this would be coming in via our next major version, but we've settled on looking into this now.)

Thanks in advance for all your patience thus far re: the delay to our engaging in this.  Expect PR comments shortly :)

[2020-03-13 17:56] chradek opened #10296 "[event hubs] support receiver redirect"
## Background
The Event Hubs service supports redirects for amqp receiver links. When the client creates an amqp receiver link with redirects enabled, the service will respond with an `amqp:link:redirect` error if it also supports redirects. The error contains the information needed to create a new connection to the service.

The main benefit of receiver redirect is it allows a more direct connect

[2020-03-13 19:51] #10133 closed

[2020-03-13 19:51] #10239 closed

[2020-03-13 20:26] yunhaoling commented on #9242
@MichaelWeedon thanks for the additional context, I would try to reproduce the issue.
Will keep you updated.

[2020-03-13 20:56] YijunXieMS commented on #10257
@pengwinsurf My test showed that ipv4 with proxy worked. http_proxy doesn't need to be passed to AMQPClient here because "mgmt_auth" already takes it.
Looks like it's more an ipv6-related problem than a http_proxy problem. I'll  look into it.

But, did you find that putting http_proxy in AMQPClient fixed the problem in your environment?

[2020-03-13 22:41] pastine commented on #8670
Is this still an issue? I would like to work on it if possible.

[2020-03-13 23:05] dennispg commented on #4250
Thanks for the update, I'll work through all the comments this weekend!

[2020-03-13 23:05] lmazuel opened #10301 "ARM pipeline client doesn't pass kwargs to default policies"

[2020-03-14 00:41] YijunXieMS commented on #10109
Sorry for confusing you by saying "in the memory of the computer". More specifically, it works in the scope of the receive( ) method. It's just to maintain the internal status for that receive call, which can recover from exceptions and use the checkpoint internally.

[2020-03-14 01:01] YijunXieMS commented on #9660
@kdazzle can I close this issue?

[2020-03-15 01:48] itssimon opened #10308 "Support for Computer Vision Read API v3.0 (preview)"
It seems like the current SDK does not yet support the new Cognitive Services Computer Vision [Read API v3.0](https://westus2.dev.cognitive.microsoft.com/docs/services/5d98695995feb7853f67d6a6/operations/5d986960601faab4bf452005).

Are there plans to support the preview at all or are we only going to see this in the SDK once the final v3.0 is released?

[2020-03-16 03:25] reazura opened #10311 "ADLSv2 rename_directory to an existing path"
- **Package Name**: azure.storage.filedatalake
- **Package Version**: 12.0.0
- **Operating System**: Databricks 6.4
- **Python Version**: python3.7 (?)

**Describe the bug**
Attempting to rename an adlsv2 directory to an existing directory via directory_client.rename_directory gives an error: _The recursive query parameter value must be true to delete a non-empty directory_ .

I'm not entirely sur

[2020-03-16 07:35] damnedOperator commented on #10219
Hi @amishra-dev, yep, the error is not thrown anymore. I think it had something to do with my application cycle of 1 minute. Thanks.

[2020-03-16 07:41] #10219 closed

[2020-03-16 09:36] nickzhums commented on #5775
@lmazuel Hi Laurent, just wanna check if  "API Management" section has been created yet?

[2020-03-16 13:36] #10109 closed

[2020-03-16 13:37] #10168 closed

[2020-03-16 15:18] eparizzi opened #10315 "[azure-mgmt-kusto] Does this library supports the creation of databases?"
I'm looking for a way to create ADX databases programmatically, preferably by using a Python SDK, but I cannot find anything. Is this operation supported? If not, the only supported way is through the Azure Portal? I need to be able to programmatically manage databases and their permissions.

[2020-03-16 16:50] kaerm commented on #10311
Thanks for reaching out @reazura! Looping in the right team to take a look at this @sumantmehtams

[2020-03-16 17:46] AlexGhiondea opened #10318 "Update package name and namespace"
`azure-search` > `azure-search-documents` or equivalent

[2020-03-16 19:10] iscai-msft opened #10320 "[text analytics] fix links in docstrings"

[2020-03-16 20:08] zinkj opened #10321 "VirtualMachine Update to change tags is slow to complete"
- **Package Name**: azure-mgmt-compute
- **Package Version**: 11.1.0
- **Operating System**: Windows 10
- **Python Version**: 3.6.8

**Describe the bug**
Setting tags on a Virtual Machine in azure always takes ~31 seconds. In the UI and from powershell this is a 1-2 second operation

**To Reproduce**
Steps to reproduce the behavior:
1. Have an azure VM configured with or without tags.
2. Use the p

[2020-03-16 20:37] #10221 closed

[2020-03-16 21:13] #9670 closed

[2020-03-16 21:15] #9590 closed

[2020-03-16 22:32] bryevdv opened #10323 "Design Proposal for Azure Search - Skillset and Synonyms"

[2020-03-16 22:33] bryevdv opened #10324 "Implement Azure Search Index Management Operations"

[2020-03-16 22:35] bryevdv opened #10325 "Improve Azure Search continuation token"
Probably want to add service version in addition to current base64 encode

[2020-03-16 22:38] bryevdv opened #10326 "Types for Azure Search facet results"
Currently returns simple dict, but may want to consider types to better represent things like facet ranges.

[2020-03-16 22:58] xiangyan99 commented on #9970
Agree with Laurent. For paged item, we only know the length of this page which is not the real length of the operation. Close as by design but feel free to reopen it if you have concern.

[2020-03-16 22:58] #9970 closed

[2020-03-16 22:59] xiangyan99 commented on #9961
Fixed in #10046

[2020-03-16 23:28] #10301 closed

[2020-03-16 23:35] Drewm3 commented on #10321
@kaerm, if the python SDK is operating significantly slower than PowerShell or UI then I believe the issue needs to be first reviewed by the python SDK team because the issue sounds to be specific to the SDK as compared to the backend service. If the issue was in the backend service, then we would see similar times across PowerShell, UI and the python SDK.

[2020-03-17 01:40] kaerm commented on #10321
@nickzhums to the review then :)

[2020-03-17 03:09] xiafu-msft commented on #10277
Hi @bno1

Thanks so much for reaching out with the detailed reproduce steps!
I was able to reproduce the bug. I have reached out service people and I will get back to you by the end of tomorrow!

[2020-03-17 03:36] srikkar opened #10330 "Auto-Args to main in Azure function App are not generated at new bindings"
- **Package Name**:  Azure func core tools
- **Package Version**: 2.7.2254
- **Operating System**: Windows
- **Python Version**:  3.6

**Describe the bug**
Have followed this URL: https://docs.microsoft.com/en-us/azure/python/tutorial-vs-code-serverless-python-07 to get the auto bindings generated. But, still after following the steps, I couldn’t get the auto generated arguments

**To Reproduce**

[2020-03-17 03:40] nickzhums commented on #10321
@RodgeFu could you let someone take a look to see why the SDK call is slower than Powershell / UI ? thanks

[2020-03-17 03:46] RodgeFu commented on #10321
Crystal can help to have a look. thanks.

[2020-03-17 10:52] pengwinsurf commented on #10257
Hi @YijunXieMS ,

I have not tested whether putting the http_proxy on AMPQClient fixed the issue, but I suspect that wont be the problem as you mentioned. This is more to do with ipv6 support.

[2020-03-17 10:57] chencivalue opened #10336 "Blob client is encoding '/' in blob name while generating URL"
- **Package Name**:
azure-storage-blob

- **Package Version**:
12.3.0

- **Operating System**:
MACOS CATALINA 10.15.2

- **Python Version**:
 3.7.3

**Describe the bug**
Blob client is encoding reserved character '/' in blob name while generating blob URL
Blob name = blob/test.csv
Generated URL = https://<storage_account>.blob.core.windows.net/<container_name>/blob%2Ftest.csv

**To Reproduce**

[2020-03-17 17:03] kaerm commented on #10336
@chencivalue thanks for reporting this, tagging it for the right team to take a look into this @xgithubtriage

[2020-03-17 17:56] yunhaoling opened #10343 "[ServiceBus] Double "With" statement when using top level ServiceBusClient"
Current way may look a bit awkward, this could be improved:

[code]

[2020-03-17 17:59] weshaggard commented on #7210
@praveenkuttappan  can you look to see if this is still an issue?

[2020-03-17 18:01] weshaggard commented on #9837
@scbedd is someone actively working on the azure-devtools work? If not is there a tracking issue for it?

[2020-03-17 18:07] weshaggard commented on #9848
Closing as a duplicate of https://github.com/Azure/azure-sdk-tools/issues/421. We should have a common script that will verify the changelog on release.

[2020-03-17 18:07] #9848 closed

[2020-03-17 18:08] praveenkuttappan commented on #9837
@weshaggard We have a tracking issue for this change and I have started on it. I will resume this task once API review integration for python is completed.
https://github.com/Azure/azure-sdk-for-python/issues/9638

[2020-03-17 18:12] praveenkuttappan commented on #7210
Sure. I will take a look at it today.

[2020-03-17 19:47] YijunXieMS commented on #10257
@pengwinsurf I'm afraid this won't be supported in the near future. Is it possible to use a proxy with an ipv4 address in your network environment?

[2020-03-17 20:01] #10318 closed

[2020-03-17 21:11] malthe commented on #7201
Segfault fixed here: https://github.com/Azure/azure-uamqp-python/pull/147.

(Although apparently the fix doesn't fly with the Windows builds.)

[2020-03-17 21:13] chlowell commented on #10155
Thanks for opening this issue, please open another if you encounter further problems. I'm closing this issue because the mentioned problems are due to Azure AD and Key Vault configuration, and can't be resolved by the SDK.

[2020-03-17 21:13] #10155 closed

[2020-03-17 21:39] #10285 closed

[2020-03-17 21:54] KieranBrantnerMagee opened #10351 "Test Preparer infrastructure should have tests for cache management"
Per the work [here](https://github.com/Azure/azure-sdk-for-python/pull/10126) the test preparer infrastructure has become much more complicated, and as such should probably be validated more robustly.

Add tests of some sort to ensure proper functionality going forward.

[2020-03-17 21:55] #10236 closed

[2020-03-17 22:22] lilyjma commented on #10079
@lilyjma test

[2020-03-17 23:15] bryevdv commented on #10187
cc @brjohnstmsft This is the issue I mentioned in the call. `min_coverage` and `coverage` working find, but setting `count=True` on the query results in `response.count` still being None. Noting that this document:

https://docs.microsoft.com/en-us/rest/api/searchservice/search-documents#response

mentions count as being returned in `@odata.count` but also from prior discussion we are setting the

[2020-03-17 23:28] bryevdv commented on #10324
Source: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Azure.Search/src/SearchServiceClient.cs#L201
Single Test ported from Track 1: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Azure.Search/tests/SearchServiceClientTests.cs#L133

[2020-03-17 23:47] praveenkuttappan opened #10354 "Versioning tool is not handling version.py"
Versioning tool is failing when version file name is "version.py". Currently versioning tool is considering only _version.py as file name.

[2020-03-17 23:49] praveenkuttappan opened #10355 "Update version file name in update_pr"
Change is required in update_pr to ensure version file name in _version.pr and not "version.py" and update version file name in setup.py

[2020-03-18 03:47] #10119 closed

[2020-03-18 09:40] RodgeFu commented on #10315
Assign to Crystal to have a look. thanks.

[2020-03-18 09:41] RodgeFu commented on #10321
assign to crystal to have some initial investigation. thanks.

[2020-03-18 14:13] dennispg commented on #4250
@KieranBrantnerMagee @yunhaoling are the updates ok?

[2020-03-18 15:34] kiranpvsr opened #10359 "Eventhub ConsumerClient for multiple consumer groups"
**Is your feature request related to a problem? Please describe.**
Currently, I use the code sample from github for eventhub to read from a consumer group

[code]

**Describe the solution you'd like**
Single script to run for multiple consumer groups. Maybe provide the list of consumer groups as a list when instantiating the client.

**Describe alternatives you've considered**
Run a script for eac

[2020-03-18 16:01] kaerm commented on #10359
Hi @kiranpvsr thanks for reaching out, looping in my team to take a look at this //cc: @yunhaoling @YijunXieMS

[2020-03-18 18:31] kiranpvsr commented on #10359
also, could someone please clarify if all consumer groups have access to all partitions ? i.e., is there any point in reading from more than one consumer group. this isn't clear in the docs

[2020-03-18 19:06] YijunXieMS commented on #10359
@kiranpvsr An `EventHubConsumerClient` can't be used to receive from multiple consumer group. A consumer group has access to all partitions of an event hub.

A scenario of using multiple consumer group is, for instance you have two separate applications receiving from the same event hub, you may want to have two consumer groups.
When method `update_checkpoint( )` is called, it saves checkpoint by

[2020-03-18 21:04] KieranBrantnerMagee commented on #10351
Unit tests have been added (We ended up glomming it into the existing PR) so this issue can be closed.

[2020-03-18 21:04] #10351 closed

[2020-03-18 21:29] #10187 closed

[2020-03-18 22:15] bryevdv commented on #9666
Source: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Azure.Search/src/SearchServiceClient.cs#L201
Single Test ported from Track 1: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Azure.Search/tests/SearchServiceClientTests.cs#L133

[2020-03-18 23:22] xiafu-msft commented on #10277
Hi @bno1
We have confirmed it's a bug which is because service is using word-sorted Sort() while the SDK is not assigning weight to characters when doing sort.
We will track the bug and fix in the future.

Sorry about the inconvenience and hope it's not blocking you.

[2020-03-18 23:30] xiafu-msft commented on #10336
Hi @chencivalue
I think that is as expected, we need to encode the url components when sending out request.
If you open portal.azure and see your uploaded file, I think the file name should be the correct one.

[2020-03-18 23:33] bno1 commented on #10277
@xiafu-msft thanks for the assistance! This bug is not a big problem for me.

[2020-03-19 00:07] YijunXieMS commented on #10359
@kiranpvsr you can create multiple `EventHubConsumerClient` instances if you do need to use multiple consumer groups to receive from an event hub in one script.
But I'm curious what scenario you have to receive with multiple consumer groups from one event hub in one script.

[2020-03-19 06:25] chunyu3 commented on #10315
[Azure-mgmt-kusto] is the python SDK for ADX database (Azure Data Explorer database).
You can use this libary to create/get/update/delete database, and assign principal.

[2020-03-19 06:26] chunyu3 commented on #10315
Add service team to comfirm

[2020-03-19 07:49] davidobrien1985 commented on #9002
Does this work with `from azure.mgmt.storage import StorageManagementClient`?
Doesn't seem like the storage library likes these sorts of credentials.

Any ideas to get this working? It's quite a lot of overhead to push my function to Azure for every small change that I want to test.

[2020-03-19 08:20] radennis commented on #10315
Yes, the library supports creating and managing a database. Please see example here: https://docs.microsoft.com/en-us/azure/data-explorer/create-cluster-database-python

It's of course also supported through the portal, see here https://docs.microsoft.com/en-us/azure/data-explorer/create-cluster-database-portal

[2020-03-19 08:54] kiranpvsr commented on #10359
@YijunXieMS sorry! yes i figured out that yesterday. thank you for patiently answering my questions

[2020-03-19 08:55] kiranpvsr commented on #10359
sorry! yes i figured out that yesterday. thank you for patiently answering my questions

[2020-03-19 09:42] chencivalue commented on #10336
Hi @xiafu-msft
I think that reserved characters such as '/' should not be encoded in the blob name component.
If I try to download the blob using the generated URL, the new downloaded blob changes its name. For example:

Blob name = blob/test.csv
Generated URL = https://<storage_account>.blob.core.windows.net/<container_name>/blob%2Ftest.csv
downloaded blob name is blob_test.csv instead of just te

[2020-03-19 14:13] #10320 closed

[2020-03-19 14:43] #10359 closed

[2020-03-19 17:06] jongio commented on #9002
@davidobrien1985 - Azure.Identity support is coming to Management Plane soon.  In the meantime, I created an adapter for DefaultAzureCredential called DefaultAzureMgmtCredential, which you can find here: https://github.com/jongio/azidext  Please give it a try and let me know if you run into any issues.

[2020-03-19 17:12] #10354 closed

[2020-03-19 21:18] bryevdv opened #10384 "Fix Credential Rolling for Azure Search"
ref: https://github.com/Azure/azure-sdk-for-python/pull/10371#discussion_r395319208

[2020-03-19 21:29] yunhaoling commented on #10098
Hello @TzlilSwimmer123 , Sorry for not getting back to you sooner.

I read your case again in detail and it looks to me that the major goal you want to achieve is "sdk not blocking" -- "do it without delaying the user until the process is done".

My following thoughts are:

- Are you using the **sync** or the **async** API?
    - *async" apis are non-blocking.
- If the push mode is introduced, but

[2020-03-19 21:39] kristapratico opened #10385 "Release Form Recognizer Track 2 Python Preview 1"

[2020-03-19 21:46] bryevdv opened #10387 "Samples and Snippets for Search Preview 2"

[2020-03-19 21:47] #9666 closed

[2020-03-19 21:48] bryevdv opened #10388 "Correct sdk_monitor for azure-search-documents"

[2020-03-19 22:43] yunhaoling commented on #9242
@MichaelWeedon sorry for not getting back to you sooner.

It took me some time to figure out the difference between session/non-session entity when handling dead letter. I've made another patch, this one works well for both type of entity on my side. Can you help verify the patch solves your problem or not?

[azure_servicebus-0.50.3b2-py2.py3-none-any.zip](https://github.com/Azure/azure-sdk-for-py

[2020-03-19 22:47] amitgadhavi7 opened #10389 "Azure EventHub - Using Azure identity(Client id/secret) how to use Checkpoint store"
Hi,

I am using EventHub 5.0.0 sdk and i am using Azure identity(Client Id/Client Secret) for connection instead of Connection string.

All your samples mainly use connection string and so can you please show me how to use checkpoint store while using Client ID/Client Secret to establish the connection.

Waiting for your reply,

Best regards,
Amit.

[2020-03-19 22:56] kaerm commented on #10389
Hi @amitgadhavi7 thanks for reporting this! Adding a couple of folks on my team to see if there is any documentation here that we should add //cc: @yunhaoling @YijunXieMS

[2020-03-19 23:36] sanjaiganesh commented on #3766
This is expected (by design).
Important thing to note is that ARM does NOT store 'Properties' field in its cache. ARM only stores metadata. Only resource providers store full schema.

ARM always forwards 'GET by id' call to respective resource provider. So, the response always includes properties field.

Where as 'list by RG' using ARM (RM) client, is served by ARM based out of its storage. Hence

[2020-03-20 01:20] davidobrien1985 commented on #9002
@jongio thanks (pinged you on Teams as well)

@anthonychu actually helped me with this and I got it working following his example here: https://github.com/anthonychu/python-azure-resources-msi/blob/master/ListResourceGroups/__init__.py

[2020-03-20 01:53] chunyu3 commented on #10321
I am investigating.

[2020-03-20 03:18] sanjaiganesh commented on #3766
@ifeoluwaokunoren  @lmazuel  please resolve the issue appropriately (notes previous comment). Thanks.

[2020-03-20 09:31] v-xuto commented on #10311
Hi @reazura ,
Add "mode" parameter. This parameter determines the behavior of the rename operation. The value should be "legacy" or "posix". In rename_directory method, the default value of mode is "legacy". But in this operation, we should use "posix".
[code]
Please feel free to reach us with more detailed information if the error still persists by using my suggestion.

[2020-03-20 12:02] MichaelWeedon commented on #9242
@yunhaoling, installed latest patch and do not see a difference in behavior in the samples or my program - meaning no attributes in dead letter.  Do you have code that illustrates this properly sending the attributes to the dead letter queue?

[2020-03-20 13:57] jorgeso opened #10403 "Not able to log in parent run when using hyperdrive"
- **Package Name**: azureml-core
- **Package Version**: 1.0.72
- **Operating System**: Windows
- **Python Version**: 3.7.2

**Describe the bug**
I'm using `HyperDriveConfig` and `BayesianParameterSampling` to tune my hyperparamenters. When I submit my experiment, the system creates a run (parent run) which then creates several child runs. Each child run executes my script with the different parame

[2020-03-20 14:04] tezzigator opened #10404 "changing loglevel for azure is not working"
azure-identity==1.3.0
azure-keyvault-keys==4.1.0
azure-keyvault-secrets==4.1.0
Win10
Py 3.8.2

**Describe the bug**
Instructions for changing loglevel for the azure sdk is near the bottom of https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/keyvault/azure-keyvault-secrets
The default log level that the azure sdk uses is INFO.  I am logging my microservice container at INFO via `logging

[2020-03-20 14:43] #10404 closed

[2020-03-20 14:43] tezzigator commented on #10404
nevermind

[2020-03-20 16:18] YijunXieMS commented on #10389
@amitgadhavi7 You can use `BlobCheckpointStore` constructor to pass in a credential object.
[code]
where the `blob_account_url` is like "https://*mystorageaccount*.blob.core.windows.net".

Thanks for the feedback. I'll improve the sample.

[2020-03-20 17:51] yunhaoling commented on #9242
@MichaelWeedon Here is the code I used, please replace `CONN_STR `, `QUEUE_NAME` and `SESSION_ID ` with your own configs.

[code]

[2020-03-20 18:12] bmc-msft opened #10407 "Updating an ad app registration to set a pre_authorized_applications fails"
- **Package Name**: azure-graphrbac
- **Package Version**: 0.61.1
- **Operating System**: linux
- **Python Version**: 3.7.5

**Describe the bug**
Trying to update an existing app registration to add a pre-authorized app generates an error.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
preAuthorizedApplications in the app manifest now has the new app listed.

What

[2020-03-20 18:22] ramya-rao-a opened #10408 "Missing system properties when consuming messages from IotHub"
This is regarding the issue logged by a customer for the JS Event Hubs package regarding missing system properties. The same applies to the Python package for Event Hubs as well

Please see https://github.com/Azure/azure-sdk-for-js/issues/7801

Looks like we need to extract certain properties from the AMQP message and add it to system properties.

cc @YijunXieMS, @KieranBrantnerMagee, @yunhaoling,

[2020-03-20 19:13] heaths opened #10409 "PatternAnalyzer and PatternTokenizer should accept an array of RegexFlags"
Because it's expected that multiple `RegexFlags` may be used in `PatternAnalyzer` and `PatternTokenizer`, the `flags` property should be an array of `RegexFlags` that de/serialize as a |-delimited string.

[2020-03-20 20:09] lilyjma commented on #7687
@kaerm, do we have any update on this?

[2020-03-20 20:11] kaerm commented on #10407
@bmc-msft thanks for reporting this, someone should look at this //cc: @lilyjma @mayurid

[2020-03-20 20:13] yunhaoling opened #10410 "[ServiceBus] Can't establish sender link when former receiver link failed in uamqp.Session sharing with WriteOnly policy"
This is a corner negative case when read/write-only policy is used to create receiver/sender.

1. Prepare a write-only policy(connection string)
2. Using the code bellow (supposing the issue https://github.com/Azure/azure-uamqp-python/issues/149 is hotfixed):
3. The service would return that the handle of a link has already been used.
[code]

detailed logging:

[code]

[2020-03-20 20:16] suryapotla opened #10411 "abc"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional cont

[2020-03-20 20:16] ANPTA opened #10412 "test"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional cont

[2020-03-20 20:21] kaerm commented on #7687
Maybe @nickzhums can follow up on this

[2020-03-20 20:40] ANPTA opened #10414 "[bug] [permissions] UNABLE TO ASSIGN A GODDAMN LABEL IN THIS REPOSITORY THANKS NICK"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional cont

[2020-03-20 20:47] #10414 closed

[2020-03-20 20:47] ANPTA commented on #10414
going to ping @yunhaoling to see if we can have a customer-reported label added to a customer issue that has been pending for months with support and stalling hard.

[2020-03-20 20:49] tezzigator opened #10415 "KeyCurveName.p_256_k resolves to incorrect data"
azure-keyvault-keys==4.1.0

[The SDK docs](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-keyvault-keys/4.0.0/azure.keyvault.keys.html#azure.keyvault.keys.KeyCurveName) says this resolves as `p_256_k = 'P-256K'` and the SDK does behave this way, unfortunately however Azure keyvault itself returns `SECP256K1` instead of `P-256K`

**To Reproduce**
I use this to check if the keyvault re

[2020-03-20 20:53] amitgadhavi7 commented on #10389
Hi Yijun,

This is how my code looks below. Can you please tell me how to pass the Checkpoint store to the client.

checkpoint_store = BlobCheckpointStore.from_connection_string(blobstore_conn, "data_checkpoint_store")
    credential = ClientSecretCredential("TenantId", "ClientID", "ClientSecret")
    client = EventHubConsumerClient(Address, eventhub, consumergroup, credential)
    #client = Event

[2020-03-20 21:07] YijunXieMS commented on #10389
Just add checkpoint_store to the constructor call of EventHubConsumerClient.

[code]

[2020-03-20 21:09] kristapratico opened #10417 "[FormRecognizer] Find better way to set include_keys=True for unsupervised training methods"
Talking with the service team, we have decided to default the `include_keys` param to True for the unsupervised training methods for sync/async. They currently default this to False in service.

Problem is, this parameter is not set on the training endpoint (which returns the location of the result in the headers), but on the GET endpoint for getting the training result. Our poller does this GET f

[2020-03-20 21:22] yunhaoling commented on #10410
as per discussion with @annatisch :
- When a session received a DETACH frame in half-attached status (ATTACH sent out), uamqp didn't send out a DETACH frame out. (https://github.com/Azure/azure-uamqp-python/blob/master/src/vendor/azure-uamqp-c/src/link.c#L604)
- The service side may not be aware that the handle is free to use.

Next plan:
- Tweak the uamqp code to send DETACH out in half attached

[2020-03-20 21:24] #9896 closed

[2020-03-20 21:28] kristapratico opened #10418 "[textanalytics] Remove PII endpoint"
Remove all traces of PII endpoint before preview 4 release. Code, samples, tests, mentions in readme.

This was also removed in the swagger, so regenerate: https://github.com/Azure/azure-rest-api-specs/pull/8621/files

[2020-03-20 23:12] #3766 closed

[2020-03-20 23:15] lmazuel commented on #5775
Hi don't see it @docs-product @rloutlaw for insights

[2020-03-20 23:23] lilyjma commented on #10411
Hi @suryapotla, please provide more descriptive information about your bug, like this [issue](https://github.com/Azure/azure-sdk-for-python/issues/10277). To keep up with repo hygiene, I'm going to close the issue. Please feel free to create a new issue once you're experiencing any problem with our SDKs. Thanks.

[2020-03-20 23:23] #10411 closed

[2020-03-20 23:25] lilyjma commented on #10412
Hi @ANPTA, you could reference issues like this [one](https://github.com/Azure/azure-sdk-for-python/issues/10277) to file bugs. To keep up with repo hygiene, I'm going to close the issue. Thanks.

[2020-03-20 23:25] #10412 closed

[2020-03-20 23:55] chlowell commented on #10415
Thanks for opening this issue. Here's what's happening:

The latest Key Vault version names this curve "P-256K". The prior version named it "SECP256K1" (it's the same curve). For the sake of compatibility Key Vault accepts either name for new keys and didn't change the name on existing keys when the new version rolled out. You can therefore see either name, or both, in a vault. `KeyClient` passes

[2020-03-21 13:15] nickzhums commented on #7771
@RodgeFu could you have someone take a look at this, thanks!

[2020-03-21 14:10] RodgeFu commented on #7771
This seems a resource status consistency problem in the backend when you keep CRUD a resource with no interval between the operations. + service attention label for the PG team to investigate and double confirm. thanks.

[2020-03-21 15:44] brijan commented on #10106
Any update ? or am I doing wrong?

[2020-03-22 01:25] qiaozha commented on #10106
Can you try to change this line
[code]
into
[code]
to see if it works?
Looks like the references format for sources and sinks is inconsistent.

[2020-03-22 07:40] YashrajSP7 commented on #713
How do you query using multiple tags or attributes

[2020-03-22 11:04] Limor-Sh commented on #10098
Hi @yunhaoling when I used python I tried:
  # Receive messages as a continuous generator
 for message in receiver:
     print("Message: {}".format(message))
     print("Sequence number: {}".format(message.sequence_number))
     message.complete()
     total += 1

Now I am using the JS skd, using the RegisterMessageHandler.
Does this handler uses an another thread? I really don't know.

I just wan

[2020-03-22 11:08] TzlilSwimmer123 commented on #10098
Hi @yunhaoling when I used python I tried:

Now I am using the JS skd, using the RegisterMessageHandler.
Does this handler uses an another thread? I really don't know.

I just want to get subscription messages on real time when they sent to the subscription without pulling them manually. Exactly what RegisterMessageHandler does.

Thanks,
Tzlil

[2020-03-22 20:44] superhrusha commented on #10278
@chlowell, any chance you can recommend a workaround or a temporary solution, however hacky it maybe?
e.g - suppose I can get hold of the refresh token. How would I use it with the existing API?

[2020-03-22 21:04] jsquire opened #10425 "Nightly Test Run Integration for Samples"
# Summary

In order to ensure that our samples are up-to-date and in good working order, they should be routinely validated by smoke testing them as part of the nightly test runs.

# Scope of Work

- Devise an approach to allow published samples to be smoke tested and run as part of the live test suite.

- Validate the design with your language team, architect, and, if needed, the engineering team

[2020-03-23 10:39] azureml-github commented on #10403
@Swati Gharse<mailto:swatig@microsoft.com>

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: msftbot[bot] <notifications@github.com>
Sent: Friday, March 20, 2020 9:30:44 AM
To: Azure/azure-sdk-for-python <azure-sdk-for-python@noreply.github.com>
Cc: azureml-github <azureml-github@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for

[2020-03-23 13:05] evollution opened #10434 "Examples of code use for CostManagement Module"
Hi, can someone make some examples of CostManagement module in use ?

Is very hard to understand how to use it without any code examples.

I went here:
https://docs.microsoft.com/en-us/python/api/overview/azure/?view=azure-python

But i could not find any example.

Thank you

[2020-03-23 16:25] chlowell commented on #10278
The public API never returns or accepts a refresh token, and we don't intend to change that. Any workaround involving getting or using one would therefore rely on private APIs which will soon change.

After rereading this issue I wonder whether I've misunderstood the problem. `InteractiveBrowserCredential` doesn't discard refresh tokens. If Azure AD provided one at the initial authentication, `Int

[2020-03-23 17:00] rringham opened #10436 "Async azure-servicebus 0.50.x, 0.21.x broken on Python 3.6 - asyncio has no attribute get_running_loop"
- **Package Name**: azure.servicebus
- **Package Version**: 0.50.2, 0.50.1, 0.50.0, 0.21.1
- **Operating System**: Ubuntu 18.04 LTS
- **Python Version**: 3.6.9

**Describe the bug**
`AttributeError: module 'asyncio' has no attribute 'get_running_loop'` as soon as you call `ServiceBusClient.from_connection_string`.

This is what you get, instantly:

`Traceback (most recent call last):
  File "/opt/

[2020-03-23 17:05] praveenkuttappan opened #10437 "Analyze step in CI is failing"
Analyze step is failing for Azure-servicefabric due to non standard version format in change log. As per the discussion with Laurent, version should not be changed to standard format of x.y.z since service team wants it this way.
Currently verify step fails if it doesn't find change log. Fix Analyze step in CI by skipping check for servicefabric

[2020-03-23 17:08] praveenkuttappan opened #10438 "Minimum dependency test is failing for Eventhub"
Eventhub is failing minimum dependency test due to long path name.

2020-03-23T14:56:19.6421759Z ERROR: Could not install packages due to an EnvironmentError: [Errno 2] No such file or directory: 'd:\\a\\1\\s\\sdk\\eventhub\\azure-eventhub-checkpointstoreblob-aio\\.tox\\minimumdependency\\Lib\\site-packages\\azure\\eventhub\\extensions\\checkpointstoreblobaio\\_vendor\\storage\\blob\\_generated\\a

[2020-03-23 17:13] swatig007 commented on #10403
Thanks for the feedback @jorgeso - we are looking into this.
In the meanwhile, are you able to use the Child Runs tab to get the metrics logged to all child runs in a single place? Or is there a specific reason you need to log the metrics of all child runs to the parent run?

[2020-03-23 17:39] superhrusha commented on #10278
The latter - persist across executions.

[2020-03-23 17:54] jorgeso commented on #10403
I’m able to see the child runs, but the graphs and analysis I can do there is very limited (almost useless I would say). So essentially, I want to able to download the data from all my child runs (scores and hyperparameters), so I can do my own analysis and graphs. The data in the Raw JSON tab is almost there, but I would also need the score for each child run (right now it only includes hyperpara

[2020-03-23 18:20] kaerm commented on #10436
@rringham thanks for reporting this, someone from our team will take a look at this //cc: @mayurid, @KieranBrantnerMagee

[2020-03-23 18:23] swatig007 commented on #10403
@jorgeso got it.
Re: the parallel co-ordinates chart, we do plan to add it to the ui in the future, but for now the only place to access this visual is in the notebook widget.

can you try to reload the run once it completes, to load the parallel coordinates visual? here is a sample snippet of code you can execute in the notebook, once the parent run completes -

hd_run_2=HyperDriveRun(experiment,

[2020-03-23 18:28] #10388 closed

[2020-03-23 18:42] kaerm opened #10449 "Search package reference docs do not show on azure.github.io"
Missing link for the new preview of the libraries: https://azure.github.io/azure-sdk-for-python/ref/Search.html

package: https://pypi.org/project/azure-search/

[2020-03-23 18:44] swatig007 commented on #10403
@jorgeso also, if you are looking to access the hyperparameter values and metric of each child run, that can be done using the following SDK method -

https://docs.microsoft.com/en-us/python/api/azureml-train-core/azureml.train.hyperdrive.hyperdriverun?view=azure-ml-py#get-children-sorted-by-primary-metric-top-0--reverse-false--discard-no-metric-false-

we are also looking into how we can provide

[2020-03-23 18:58] jorgeso commented on #10403
@swatig007 those are good solutions! thanks!

[2020-03-23 19:27] praveenkuttappan opened #10452 "Enable PR testing on Windows"
Currently PR pipelines are running on Linux image only. This has caused a platform level issue to slipped into master branch and failed on CI. We need to run atleast one PR run on Windows image. As per the preference from language team, we should run PR on Windows using Python 3.5

[2020-03-23 19:33] kristapratico opened #10453 "[pylint checker] Investigate add_message failure with newer versions of pylint/astroid"
with pylint == 2.4.3 and astroid == 2.3.2 this error was seen coming from the pylint checkers:

`TypeError: add_message() got an unexpected keyword argument 'msg_id'`

A quick check of the pylint src code does not show a change for add_message(). Investigate why this fails with newer versions and not for pylint version ==2.31 and astroid version == 2.25

[2020-03-23 19:42] #8045 closed

[2020-03-23 19:42] #8064 closed

[2020-03-23 19:42] kaerm commented on #8064
done

[2020-03-23 19:42] #8608 closed

[2020-03-23 19:43] #8747 closed

[2020-03-23 19:43] #8748 closed

[2020-03-23 19:43] #8749 closed

[2020-03-23 19:43] kaerm commented on #8750
done

[2020-03-23 19:43] #8750 closed

[2020-03-23 19:47] kristapratico opened #10454 "[textanalytics] remove async decorators on tests"
This PR https://github.com/Azure/azure-sdk-for-python/pull/10394 should remove the need for these async decorators:

https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py#L38

[2020-03-23 23:44] #5571 closed

[2020-03-24 00:05] chlowell commented on #10278
Then we're on the same page. That persistence is the work in progress I mentioned above. If you need to implement your own persistence today, the best way is to write your own credential ([the interface is simple](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/azure/core/credentials.py#L15)).

If your users happen to be signed in to the CLI, there might be a workarou

[2020-03-24 00:12] amitgadhavi7 commented on #10389
Hi Yijun,

We are getting an error,

An exception occurred during list_ownership for namespace 'mqds-non-prod.servicebus.windows.net' eventhub 'market-quote-quote-change-dev-v1' consumer group 'uddf_consumer_group'. Exception is HttpResponseError('The specifed resource name contains invalid characters.\nRequestId:322b0711-201e-0030-1765-01ba81000000\nTime:2020-03-23T22:47:54.4482291Z\nErrorCode:In

[2020-03-24 00:38] YijunXieMS commented on #10389
@amitgadhavi7 "data_checkpoint_store" should be an invalid name because container name shouldn't have underscore. Is it "data-checkpoint-store" or something else?

[2020-03-24 05:52] antgonmir commented on #9159
Any news on this? It has been three months since the issue was raised.
I am experiencing the same error running Python code from an Azure function and the latest stable (12.0.0) version of the azure-storage-file-datalake library.
I can mitigate the problem by pinning the urllib3 library version to 1.24.1, but this is definitely not ideal.

[2020-03-24 06:17] xiafu-msft commented on #9159
Hi @antgonmir

Sorry about the inconvenience!
Would you like to use '/' to represent root directory as a workaround currently. I think that should work.

Feel free to let me know if that doesn't help!

[2020-03-24 06:34] xiafu-msft commented on #10311
Hi @reazura

We are sorry that currently we don't support 'posix' mode which is mensioned in @v-xuto 's comment.
Renaming the directory to an non-empty directory is not working as expected.
If you really need to rename the directory to an non-empty directory, let me know!

[2020-03-24 06:40] xiafu-msft commented on #10336
Hi @chencivalue

It looks like you are downloading the blob by pasting the generated url(the one generated in SDK) in azure portal.
Absolutely we can make the generated url compatible with azure portal, while it will not be available until the next release.

If it blocks you, you can unquote the generated url first before paste it into azure portal.
Sorry about the inconvenience!

[2020-03-24 06:54] chencivalue commented on #10336
Thanks for the reply,
Actually we have an automated system that generates a url using azure blob SDK and send it by email to the customer, so we can't really use the portal in this case.
We are currently using the previous version (azure-storage-blob==1.5.0) and it works fine by using the make_blob_url function.
I guess we will have to wait with this migration.

[2020-03-24 07:26] xiafu-msft commented on #10336
Hi @chencivalue

Thanks for your patience and we are appreciated that you are using a workaround!
I have a PR to fix that, https://github.com/Azure/azure-sdk-for-python/pull/10467/files
It should be able to get merged tomorrow. While the next release is at least a month.

While there are ways to use the updated code immediately, it's pretty simple:
1. run `git clone https://github.com/Azure/azure-

[2020-03-24 07:42] chencivalue commented on #10336
Thank you for your assistance @xiafu-msft

[2020-03-24 15:56] chlowell opened #10472 "Authenticate via Visual Studio Code"
Add a credential to authenticate with the identity signed in to Visual Studio Code's Azure extension. This credential should be internal because it may be exposed to users only as part of an aggregate credential. The Azure extension uses [keytar](https://www.npmjs.com/package/keytar) to store a refresh token, so the credential will need to make native calls to get that token. I expect `msal-extens

[2020-03-24 16:45] YijunXieMS commented on #10408
Verified that Python already retrieves all system properties.

[2020-03-24 16:55] kurtzeborn commented on #10452
I agree we should do some validation on widnows, however, I'm not sure we should run all of our tests on Windows for PR validation.  Would the issue you're describing that slipped through have been caught by running just a few "general" tests on Windows?  I want to be careful about doubling the load of each PR on our DevOps pool of machines.

[2020-03-24 17:21] praveenkuttappan commented on #10452
I think original description of issue is not completely clear. Currently are running tests on python 2.7, Python 3.5, python 3.7 and python 3.8 and all of them are running on Linux image. Language team's request is to run current python 3.5 test on Windows instead of Linux image so we will not add more load for PR test.

[2020-03-24 17:42] KieranBrantnerMagee commented on #4251
Closing this as the work is complete, and coming out with our Track-2 (1.0) release; preview will be coming in the next few weeks.

If there is a high-pri need to have this in the 0.50 library, don't hesitate to reopen this or make an issue that we'll triage accordingly.

[2020-03-24 17:42] #4251 closed

[2020-03-24 17:58] rakshith91 opened #10473 "Storage flaky live test"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=328751&view=ms.vss-test-web.build-test-results-tab&runId=9781412&paneView=debug&resultId=100578

TestFailure:
test_incremental_copy_blob
(both sync and async)

AssertionError: False is not true

Stack Trace:
[code]

[2020-03-24 18:24] jorgeso commented on #10099
@xiafu-msft I was getting the same error before and went through the trouble of deleting my old environment and creating an environment from scratch. I installed azure and then installed azure-storage-blob and I'm still getting this error.

[2020-03-24 18:48] chlowell commented on #10243
Thanks again for opening this issue. I'm closing it as resolved by #10366.

[2020-03-24 18:48] #10243 closed

[2020-03-24 19:16] jorgeso commented on #10099
It worked after I uninstalled azure. For whatever crazy reason, the azure package requires azure-storage-blob version 1.{something}

[2020-03-24 19:29] danieljurek opened #10476 "smoke tests should use dynamic resource allocation"

[2020-03-24 19:30] #10384 closed

[2020-03-24 19:32] xiafu-msft commented on #10099
Hi @jorgeso
Thanks for reaching out.
Please follow this to reinstall you azure-storage-blob. Don't install azure! ^_^

[2020-03-24 20:26] chlowell opened #10478 "Update DefaultAzureCredential with dev tool authentication"

[2020-03-24 20:56] abhishakvarshney commented on #9521
Hi @ChrisHMSFT
I am facing the same issue when using python-SDK. I am using the same Endpoint structure as mentioned above but It is giving me same error Key Error: 'Endpoint'. Kindly help me with that.

[2020-03-24 21:07] ChrisHMSFT commented on #9521
Hi @abhishakvarshney ,

are you using the computer vision SDK? If so, could you share which version?

Thanks,

Chris

[2020-03-24 21:07] danieljurek opened #10480 "Smoke tests should validate Known Authority Constants"

[2020-03-24 21:08] danieljurek commented on #10480
https://github.com/Azure/azure-sdk-for-python/pull/10469

[2020-03-24 21:22] abhishakvarshney commented on #9521
Hey @ChrisHMSFT
Thanks for helping me out. I resolved the issue somehow. I am verifying two images but it's accuracy is quite low on using sdk/API while on website same files are giving me better accuracy(around double). Can you help me how can I improve this accuracy to dashboard/website level?

[2020-03-24 21:59] #10438 closed

[2020-03-24 22:03] mkrdip opened #10481 "Azure Blob Listing Blobs with a Limit Doesn't Work in v12.3"
In v12.3.0
This doesn't work anymore
`container_client.list_blobs(name_starts_with="Data_", results_per_page=2)` instead of limiting it to 2, it return all the blobs. From code it looks like it's implemented, [here](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py#L673).

In v2.1.0
`block_blob_service.list_blobs(contai

[2020-03-24 22:34] amitgadhavi7 commented on #9917
Hi Yijun,

I got the below error when i used the Sync code to establish the connection using Client ID/Secret. it ran fine but after 1000 events i got the below error,

LinkDetach("ErrorCodes.ConnectionCloseForced: The connection was inactive for more than the allowed 240000 milliseconds and is closed by container 'b86583903f7441ba8a60ee7041ab1b16_G6'.")

I thought the concept is to keep the conne

[2020-03-24 22:42] YijunXieMS commented on #9917
1. Do you have a long operation that blocks the receiving for long time?
2. The server closes the connection if there is no request to it. A long operation or other problems can cause it. But the client will reconnect to the server automatically even with this error and receive from where it left off. Do you find it resumes receiving?

[2020-03-24 22:44] #10437 closed

[2020-03-24 22:55] YijunXieMS commented on #9917
@amitgadhavi7 not sure about your scenario. If you have I/O bound operations after receiving the events, I recommend the async instead of the sync one.

[2020-03-24 23:44] annatisch opened #10484 "[Core] Need to be able to pass context options to multipart pipeline"
Each sub-request in a multipart operation is passed through a "mini pipeline".
However we're unable to configure the policies in the pipeline with context options (e.g. `enfore_https=False`) because we're currently not passing any kwargs into the context object:
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/azure/core/pipeline/_base.py#L177

Proposing that we add an

[2020-03-24 23:47] annatisch opened #10485 "[Core] Support changesets in multipart requests"
A feature of Odata batch request formatting is changesets.
This is one or more nested boundaries within the batch as documented here:
http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_Toc453752316

This is a requirement to support Azure Storage/Cosmos Tables API.

[2020-03-25 01:19] reazura commented on #10311
I worked around the issue by having DataFactory load the same files into both the /processing and /processed folder then deleting the /processing folder afterwards; but it's not really an ideal scenario as this causes confusion when someone manually drops a file inside the /processing folder.

So yes, I would really love the capability to rename a directory to a non-empty directory

[2020-03-25 01:41] evileagle opened #10488 "ManagedIdentityCredential throw ClientAuthenticationError instead of CredentialUnavailableError when identity doesn't exist"
- **azure-identity**:
- **1.3.0**:
- **Notebook**:
- **3.6**:

**Issue**
[code]
Doesn't work in compute vm that doesn't have managed identity. ChainedTokenCredential directly failed when call ManagedIdentityCredential.get_token, didn't try other methods.

**Expected behavior**
ManagedIdentityCredential should throw CredentialUnavailableError so that ChainedTokenCredential can catch it, and try the

[2020-03-25 01:53] jasonzio opened #10489 "Code examples should use MSI for credential management"
It would be great if example code used MSI for authentication/authorization instead of assuming "Oh, you have credentials that you've somehow magically and securely embedded in your code". For services which directly support MSI, use that; for services which do not, at least link to a page that shows how to securely store and retrieve credentials from Azure KeyVault.

[2020-03-25 12:47] MichaelWeedon commented on #9242
@yunhaoling,  Thanks.  Able to get it to work.  One caveat is I cannot get the reason (i.e description) to be set if I process the dead_letter within a handle exception.  Meaning if while processing the message an exception occurs, I want to dead_letter the message using the exception as the reason. In this scenario, no reason is set - thoughts?

[2020-03-25 15:17] amitgadhavi7 commented on #9917
Hi Yijun,

We have approx 7500 events in EventHub but i only got 1145 events. The potential root cause could be when i write the event into JSON file. Per each event, i create a JSON file and stamp the date time in the file name together with the partition ID. However, the precision of the time is only at second meaning that i would be able to get 1 event/second/partition which does not seems righ

[2020-03-25 16:13] #10418 closed

[2020-03-25 16:19] suside commented on #6933
Worth noting that this still works:
[code]
so this is indeed only docstrings issue.

[2020-03-25 16:35] gargiulman opened #10502 "Parent step doesnt wait until all child run steps complete"
- **Package Name**:  azureml-sdk
- **Package Version**: 1.0.85
- **Operating System**:
- **Python Version**:

**Describe the bug**
I have a pipeline run created, which has 4 steps. I want to create 4 child runs from step 2, each child is a pythonscriptstep and has a different script file. Though the child runs gets submitted , but the parent i.e step 2, doesnt wait until all its child have complet

[2020-03-25 17:25] amitgadhavi7 commented on #10389
Hi Yijun,

I am getting an error using Checkpoint store. Below is the error,

An exception occurred during list_ownership for namespace 'mqds-non-prod.servicebus.windows.net' eventhub 'market-quote-quote-change-dev-v1' consumer group 'uddf_consumer_group'. Exception is HttpResponseError('The requested URI does not represent any resource on the server.\nRequestId:c5ca6172-d01e-0043-68c8-02ca4200000

[2020-03-25 17:25] KevinBlasko commented on #9885
You can get memory metrics using the Azure Monitor (preview) sink for the WAD agent (note that Linux is currently not supported).  The sink can either be enabled [programmatically](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/collect-custom-metrics-guestos-resource-manager-vm) or through the "Diagnostic Settings" UI in the Azure Portal.

Once you enable the Azure Monitor sink, you

[2020-03-25 17:25] #9885 closed

[2020-03-25 17:54] amitgadhavi7 commented on #10389
Hi Yijun,

I am getting an error using Checkpoint store. Below is the error,

An exception occurred during list_ownership for namespace 'mqds-non-prod.servicebus.windows.net' eventhub 'market-quote-quote-change-dev-v1' consumer group 'uddf_consumer_group'. Exception is HttpResponseError('The requested URI does not represent any resource on the server.\nRequestId:c5ca6172-d01e-0043-68c8-02ca4200000

[2020-03-25 18:11] xiangyan99 commented on #9773
Fixed in #10456

[2020-03-25 18:11] #9773 closed

[2020-03-25 18:49] bryevdv commented on #10325
The relevant code is here:

https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/search/azure-search-documents/azure/search/documents/_index/_paging.py

Currently the request is already base64, the ask is to also include the service version somehow (TBD with team)

[2020-03-25 19:01] kaerm commented on #10481
Hi @mkrdip thanks for letting us know, tagging the right team to take a look at this: @xgithubtriage

[2020-03-25 19:07] kaerm commented on #10489
Hey @jasonzio thanks for reporting this. Just so that I can better understand how you're using it: could you give me an example of a sample where you couldn't find the authentication instructions?

[2020-03-25 19:07] iscai-msft opened #10507 "[text analytics] take AzureKeyCredential from core"

[2020-03-25 21:06] YijunXieMS commented on #10389
Hi @amitgadhavi7 , looks like the params you pass to BlobCheckpointStore have wrong information of the Azure Storage Blob Container. Could you check if they're correct?

[2020-03-25 21:16] KieranBrantnerMagee commented on #4248
Hey folks;

Sorry that this sat for so long, as we're picking up work in this SDK in force we're going to be implementing this within the track 2 (non 0.*) release.  Please keep an eye out for this work and the planning surrounding it as we move past Preview1 of the new lib.

If there's a critical need for this in T1 don't hesitate to reopen/follow up with us so we can prioritize accordingly.

[2020-03-25 21:17] KieranBrantnerMagee commented on #4248
Edit:  Reopening and tagging as a track2 work item, thanks for your patience with the alert-spam!

[2020-03-25 21:19] #5156 closed

[2020-03-25 21:20] YijunXieMS commented on #9917
@amitgadhavi7 could you verify by just counting the number of message received? For instance, something like this.
[code]

For the filename, you can add a serial number as a part of the filename to avoid filename duplicate.

[2020-03-25 21:26] KieranBrantnerMagee commented on #6178
Hey folks, in leiu of hearing any recurring issues with this, closing this out.  Don't hesitate to reopen if this problem is still occuring.

[2020-03-25 21:26] #6178 closed

[2020-03-25 21:37] #7336 closed

[2020-03-25 21:38] KieranBrantnerMagee commented on #8707
Closing this as it's ostensibly fixed by the same fix for #7336, as always if folks are still seeing recurrences of this bug, don't hesitate to reopen this and/or reach out to us with details.

[2020-03-25 21:38] #8707 closed

[2020-03-25 21:39] #8711 closed

[2020-03-25 21:39] #9010 closed

[2020-03-25 21:47] KieranBrantnerMagee commented on #9228
Thanks for creating the other issue Andrea, (and for your time/patience as we looked into this!)

We'll be closing this out and will pick up work on that topic in that chain to keep the work encapsulated.

[2020-03-25 21:47] #9228 closed

[2020-03-25 21:59] #10127 closed

[2020-03-25 22:07] KieranBrantnerMagee commented on #10343
Some thoughts as we do triage:

The one way I see for us to broach this and minimize the extra boilerplate is if ServiceBusClient sanely closes out the lifecycles of all sub-clients on its own closing (and, necessarily, opens() either implicitly with creation or on first action).  We can assess this as we mature the connection pooling work in T2.

[2020-03-25 22:08] KieranBrantnerMagee commented on #10410
We're moving the connection sharing direction of having multiple sessions on a single connection, rather than multiple links.  As such this can be closed.

[2020-03-25 22:08] #10410 closed

[2020-03-25 22:11] chlowell commented on #10488
Thanks for reporting this! I'll fix it for the next release. If you need a workaround in the meantime, one option is to subclass `ChainedTokenCredential` to add a special case to `get_token` ([see this gist](https://gist.github.com/chlowell/44099a29306d5231b0e3038633c039cf) for an example).

[2020-03-26 00:51] yunhaoling commented on #10436
Hello @rringham ,

The code: `sb_client = ServiceBusClient.from_connection_string(connection_str)` should be called inside a coroutine like:

[code]

More async samples could be found here: https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/servicebus/azure-servicebus/samples/async_samples

In async world, the ServiceBusClient needs to get an event loop prepared for further async operat

[2020-03-26 06:50] lsongcoles opened #10517 "Bug Persist output file to Azure Storage with the Batch service API in Python"
- **Package Name**: azure
- **Operating System**: Ubuntu16
- **Python Version**: 3.7.6

**Describe the bug**
I am trying to push the output files generated from Azure batch to Storage account container, by using the OutputFile module from azure.batch.models

The issue is with the file_pattern. The following is part of my code:
[code]

When I pass a parameter with value of "../std*.txt", it will th

[2020-03-26 13:10] taheni149 opened #10526 "azure-mgmt-storagecache"
- **Package Name**:  azure-mgmt-storagecache
- **Package Version**:  0.2.0
- **Operating System**: RHEL 7.6
- **Python Version**: 2.7.3

**Describe the bug**
When we install the module with python installed with the system:
which python: /usr/bin/python
pip install azure-mgmt
pip install azure-mgmt-storagecache
azure.mgmt.storagecache
=> pass successfully

But when we install the package with pyth

[2020-03-26 15:34] amitgadhavi7 commented on #10389
Hi Yijun,

I checked the BlobCheckpointStore and the name of storage container is correct. Below is the sample code but am i properly writing it in the code.

checkpoint_store = BlobCheckpointStore.from_connection_string(blobstore_conn, "uddf-ggot-bc01/plats_checkpoint_store", api_version=STORAGE_SERVICE_API_VERSION

I also tried out below code, but i am still getting same error.

checkpoint_store

[2020-03-26 15:34] iscai-msft opened #10529 "[core] create AzureKeyCredential and policy"

[2020-03-26 15:36] iscai-msft opened #10530 "[search] take AzureKeyCredential from core"

[2020-03-26 17:40] YijunXieMS commented on #10389
Could you check in the azure portal whether the container name is "uddf-ggot-bc01/plats_checkpoint_store"? It doesn't look like a correct container name.

[2020-03-26 17:41] kaerm commented on #10517
Hi @lsongcoles thanks for reporting this @lsongcoles, adding the right team to take a look at this: @xgithubtriage

[2020-03-26 17:43] kaerm commented on #10526
@taheni149 thanks for contacting us, tagging the right team to take a look at this: @nickzhums

[2020-03-26 17:47] scbedd opened #10532 "lock dev requirements"
Due to the fact that we can't float our dev requirements because breaking changes have begun to be introduced to our tooling.

Instead of only locking the tools that CANT float, we're locking everything.

dev dependency top level dependencies for our CI are defined in 4 locations. are present here:
- `eng/ci_tools.txt`
- `eng/test_tools.txt`
- `tools/azure-devtools/setup.py`
- `tools/azure-sdk-too

[2020-03-26 17:49] scbedd opened #10533 "May Tooling Update - Python"
Check the requirements defined below. Update as necessary.

- `eng/ci_tools.txt`
- `eng/test_tools.txt`
- `tools/azure-devtools/setup.py`
- `tools/azure-sdk-tools/setup.py`
- `eng/autorest_req.txt`

To be completed:

- [ ] Updates completed
- [ ] New issue filed for **June** tooling update

[2020-03-26 18:03] amitgadhavi7 commented on #10389
Hi Yijun,

The container name is "udsfgcopt" and the blob_container_name within this container is uddf-ggot-bc01 and the foldername in the blob_container is plats_checkpoint_store. Hence we are doing ""uddf-ggot-bc01/plats_checkpoint_store".

According to you what should the container name be then ?

[2020-03-26 18:29] YijunXieMS commented on #10389
I think "udsfgcopt" will do. The 5.x doesn't need blob name or folder name. Instead, the SDK will create folders and blobs in that container and use the metadata of blobs to store the load balancing and checkpoint information.

[2020-03-26 19:00] yunhaoling commented on #9242
Hi @MichaelWeedon , can you share me with code that reproduce the issue? -- dead_letter message when an exceptions occurs and use the exception as the reason.

[2020-03-26 20:36] amitgadhavi7 commented on #10389
Hi Yijun,

We were able to establish the connection using Checkpoint. It has successfully created folders and files but all those files are of 0 B and empty. Can you please tell me when they will get updated? Do we need to add any extra lines of code to update them or they will be automatically updated?

Also, we are getting another error after long execution of code,
LinkDetach("ErrorCodes.Connec

[2020-03-26 21:01] YijunXieMS commented on #10389
Hi Amit,

The data is actually stored on the metadata of those blobs. In Azure Portal you can see the metadata of every blob.
For the second question, the server closes the connection if there is no traffic between the client (both the SDK and your code are considered client) and the event hub service after 240000 seconds. The long operation blocks the receiving. However as I said before, connecti

[2020-03-26 21:12] kwontae opened #10537 "Clarity on use of checkpoint store"
Hello, I was unsure if this clarity question goes under bug or feature.
Anyways, our team is working on a project that will automate network device management and eventhub is an essential component. We've set up the blob storage for checkpoint store and created an application that will instantiate a consumer client to receive events. When we created multiple replicas in our kubernetes cluster, we

[2020-03-26 21:30] scbedd commented on #7099
We have since departed the method of building docs in this way. Not relevant anymore.

[2020-03-26 21:57] YijunXieMS commented on #10537
@kwontae The SDK's load balancing should balance the number of partitions among all clients if you use multiple containers and/or processes that use the same blob container. Could you turn on the logs and see the error message?
Is it 5.0.0 or 5.0.1?

[2020-03-26 22:17] YijunXieMS commented on #10537
Could you please start the containers and wait a while because the load balancer takes some time to balance the the number of partitions among all clients?
The 1st client will take all partitions, then other clients will start to take partitions from it gradually and will balance.
How many partitions do you have, and how many containers?

[2020-03-26 22:18] kwontae commented on #10537
We are currently using 5.0.0

[2020-03-26 22:18] kwontae commented on #10537
we have 32 partitions and running 32 containers just for testing. We are trying to run some benchmark testing

[2020-03-26 22:34] YijunXieMS commented on #10537
The load_balancing_interval is 10 seconds. It shouldn't take very long time. I think it will be balanced in a a few minutes. If you see only one container is working for long time, there must be something wrong.
If the problem persists, could you try 5.0.1? We have a small change on the load balancer in 5.0.1

[2020-03-26 22:35] kwontae commented on #10537
this is the log we get
`ConnectionClose('ErrorCodes.UnknownError: Connection in an unexpected error state.',)`

[2020-03-26 22:43] YijunXieMS commented on #10537
From this log, the client has taken the partition and is trying to receive from it but has a connection error so the client will give away the partition.
Does it keep happening or just occasionally? The client will try to grab a partition again  if it finds it doesn't have enough partitions every `load_balancing_interval` (default 10s).

[2020-03-26 23:20] kwontae commented on #10537
@YijunXieMS so does that mean it will load balance all clients every 10 seconds or it will sequentially add a client and load balance at 10 sec interval. For instance, if we spin up 32 containers, 1st container will take all partitions for the first run, after 10 seconds, it will load balance between a pool of 32 consumer clients or 2, 3, 4 and so on at 10 sec interval

[2020-03-26 23:22] kwontae commented on #10537
@YijunXieMS  This seems to keep happening when we use async receive. Seems to work without async.

[2020-03-26 23:44] dciborow opened #10539 "The docstring param for credentials is incorrectly set to None."
https://github.com/Azure/azure-sdk-for-python/blob/77d7c28427bac002469a494bf23e9e4a54210f2d/sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/_configuration.py#L26

This should probably be AbstractAuthentication? Or Authentication? I can't really even tell and am just trying to guess now.

[2020-03-26 23:48] kristapratico opened #10540 "[FormRecognizer] Replace service specific credential type/policy with azure-core type/policy"
Once this PR merges: https://github.com/Azure/azure-sdk-for-python/pull/10509

[2020-03-27 00:18] YijunXieMS commented on #10537
@kwontae All other containers after the 1st one will steal their a random partition from the 1st one concurrently every 10s (configurable). If two happen to be stealing the same partition, only one will succeed. The failed one will wait 10s to steal another partition.

Good to know that the sync works. In theory the async should be the same as sync at the connection level. Do you see other detaile

[2020-03-27 00:39] YijunXieMS commented on #10537
@kwontae sure, no rush for that.

[2020-03-27 02:15] dw511214992 commented on #10526
Hi @taheni149
I find the python you filled in the issue is 2.7.3, but the version you showed in command is 3.7.2. So please make sure you use corresponding pip with python.

Also, Please use `StorageCacheManagementClient` instead of `StorageCacheMgmtClient`. e.g.
[code]
Please try again and let me know the result.
Thank you.

[2020-03-27 03:06] gargiulman opened #10543 "get_steps() or get_children() dont provide all the child/steps post submitting a pipeline run"
- **Package Name**: azureml-sdk
- **Package Version**: 1.0.85
- **Operating System**:
- **Python Version**:

**Describe the bug**
When a pipeline run is submitted and you have an immediate next line to iterate through all its steps or get children, it fails to enter into the for loop. It is seen if wait period is imposed , then it enters into for loop. This shows there is some delay in get_steps()

[2020-03-27 14:09] nancybelser commented on #10240
Any status updates on this?

[2020-03-27 14:15] nickzhums commented on #10240
@RodgeFu please have someone take a look at this, thanks!

[2020-03-27 15:56] lmazuel commented on #10539
Hi @dciborow
This is `from msrest.authentication import CognitiveServicesCredentials`

See also:
https://github.com/Azure-Samples/cognitive-services-python-sdk-samples/blob/master/samples/vision/computer_vision_samples.py

This is a known bug in the version of the code generator we used to do this client. This issue will be fixed eventually, since it has been fixed in the generator itself:
https:/

[2020-03-27 15:56] #10539 closed

[2020-03-27 16:14] #10454 closed

[2020-03-27 17:12] chriseizus opened #10549 "need to support azure firewall multiple public address deployment"
Azure released this new feature to add more than 1 public ip addresses to azure firewall.
It's beneficial to the incoming and outgoing traffic management.

https://docs.microsoft.com/en-us/azure/firewall/deploy-multi-public-ip-powershell

Here is the powershell cli which can achieve this.
$rgName = "resourceGroupName"

$vnet = Get-AzVirtualNetwork `
  -Name "vnet" `
  -ResourceGroupName $rgName

$

[2020-03-27 19:19] #10449 closed

[2020-03-27 19:19] #10532 closed

[2020-03-27 19:23] scbedd commented on #9625
This is going in either Monday or Tuesday. I just need to adjust the `versioning` JS in each repo to handle when they're in the `latest` folder versus a valid version.

The code itself to copy the additional files is completed.