[2016-01-21 19:53] Korijn commented on #513
Ah, I see. Well, if 60 seconds is the default, we'll definitely be sending a PR for that feature pretty soon, since the processing will be done by a human. :)

[2016-01-22 00:41] huguesv commented on #496
I've done some tests with aiohttp (https://pypi.python.org/pypi/aiohttp) and that seemed to be a good library to use.  It's basically the 'requests' equivalent for asyncio that we need.

We're currently testing our newly rewritten AutoRest Python code generator.
https://github.com/Azure/autorest/tree/python

Asyncio support won't be part of the initial release.   We're focused on getting generated

[2016-01-25 16:49] bear454 commented on #427
Replication and publishing is now supported in `azurectl`, using PR #497, #501, #511, #514.

[2016-01-25 16:52] bear454 opened #517 "No documentation on how to run/create tests"
From https://github.com/Azure/azure-sdk-for-python/pull/501#issuecomment-161407088 :

As I'm adding new tests, from Linux, I'd like to see this happen soon ;-)

[2016-01-25 17:16] lmazuel commented on #517
Hi,

I'm the quoted new dev, and yes it's one of my first tasks (note the use of "one of the first tasks", it was not the only first task :-) )
I hope to be able to work on this soon. In the meantime, please feel free to write here your questions. I will post here a direct the documentation link asap.

[2016-01-25 17:17] lmazuel commented on #427
Thank you for your report @bear454 ! Do you think we can close this bug now?

[2016-01-25 17:32] schaefi commented on #427
yep this can be closed

[2016-01-25 17:38] schaefi commented on #517
Hi we are happy to have you on board, especially with the recordings for new methods in the SDK a documented working solution from Linux would be really great. So far I wasn't able to manage token based authentication without the need of the nodejs azure utility. In the end I still can't get the authentication to work which is for sure just me being too stupid :smile:

This would also help us to s

[2016-01-25 17:52] bear454 commented on #427
Yes!

[2016-01-25 18:14] lmazuel commented on #427
Thank you!

[2016-01-25 18:14] #427 closed

[2016-01-27 00:08] bear454 commented on #517
I found https://msdn.microsoft.com/en-us/library/azure/ee460782.aspx#bk_cert , but it seems to no longer be valid, as "Windows Azure Service Management API" isn't on the list anymore...

I was able to get a token for ARM by following https://azure.microsoft.com/en-us/documentation/articles/resource-group-create-service-principal-portal/ , but that doesn't help with ASM ;-)

[2016-01-27 01:14] lmazuel commented on #517
I was finally able to get a valid token from a AAD user/password, working with ASM....
I'm writing that tomorrow here:
https://github.com/Azure/azure-sdk-for-python/wiki/Contributing-to-the-tests

[2016-01-27 15:34] bear454 commented on #517
YAY :+1: :fireworks: :tada:

[2016-01-27 18:22] lmazuel commented on #517
Hi @bear454

I updated the link with useful information about login. Please tell me if you are able to get a token with AAD for ASM.

Thank you!

[2016-01-27 18:33] lmazuel commented on #101
Closing due to inactivity. Please feel free to re-open it if needed.

[2016-01-27 18:33] #101 closed

[2016-01-27 18:34] lmazuel commented on #158
Closing due to inactivity. Please feel free to re-open the bug if needed to continue the discussion.

[2016-01-27 18:34] #158 closed

[2016-01-27 18:35] lmazuel commented on #159
Closing due to inactivity. Please feel free to re-open the bug if you still see the issue.

[2016-01-27 18:35] #159 closed

[2016-01-27 18:46] yamspog opened #521 "Read Timeout when changing local IP address"
In my application, I send a message to a topic based on a local event.  This works quite well until I run into a network issue.

On the network side, my device is going through an access point that provides primary/secondary connection to the internet.  The primary connection is through an ADSL line but if that fails, it switches over to an LTE network.  When the switch-over occurs, the IP address

[2016-01-27 19:20] lmazuel commented on #521
We are using `requests.session` under the hood: http://docs.python-requests.org/en/latest/user/advanced/#session-objects

You can see that `session` uses a connection pool of TCP connection. I think in your situation you might be in trouble by this (just an hypothesis).

I suggest to try to re-create the `ServiceBusService` instance if you detect the change of connection. Our code does not provide

[2016-01-28 23:46] bear454 commented on #517
Got it, and added a recording to https://github.com/Azure/azure-sdk-for-python/pull/519 (which is now passing :D ) ... Close at your discression

[2016-01-28 23:52] lmazuel commented on #517
Awesome! :+1:
I close this bug, I assume that the doc is clear and useful if you get the record :). Feel free to re-open if you want more details about something, or open a more specific bug.
Thank you!

[2016-01-28 23:52] #517 closed

[2016-01-28 23:53] bear454 opened #522 "Can't access disconnected regions with ASM"
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-servicemanagement-legacy/azure/servicemanagement/constants.py#L27 defines one specific hostname for API access. This effectively blocks use of the SDK for disconnected regions with their own API endpoints, like China East & China North.

The publishsettings file includes a management endpoint reference ( /PublishData/PublishProfile/Su

[2016-01-29 00:33] huguesv commented on #522
You should be able to override that by passing a different value for the `host` parameter when you instantiate your service class:
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-servicemanagement-legacy/azure/servicemanagement/servicemanagementservice.py#L67

[2016-01-29 17:47] bear454 commented on #522
Are you suggesting that _every app_ that consumes this SDK and supports disconnected regions should provide a method of overriding the SDK?

[2016-01-29 17:53] lmazuel commented on #522
Hi @bear454 !

@huguesv was just answered to your sentence:

This is possible, since you can specify the host in the \_\_init\_\_ method :)

Could you be more specific and describe what you expected?
Thank you!

[2016-01-29 18:16] bear454 commented on #522
I will move forward with an override in [azurectl](https://github.com/suse/azurectl), if this project chooses not to natively support disconnected regions, but what I expected is for this project to maintain parity with azure SDKs for other languages/environments:

* https://github.com/Azure/azure-xplat-cli/blob/896b1bae02e56c5a732358b665ebf3bab2f9d7b7/lib/util/profile/publishSettings.js#L70
* htt

[2016-01-29 19:05] lmazuel commented on #522
We had already thought about a way to create a ASM client instance directly from the publish profile. We have an issue with `requests`, which do not handle in-memory certificate currently (your Go link shows clearly that they use in-memory certificate)
We chose that it's a too serious security issue to write the certificate in a temp file automatically. But the code to extract it is available:
htt

[2016-01-29 19:10] bear454 commented on #522
Of course! It's no problem to contribute a pull request; I just wanted to establish the issue first. ;-)

[2016-02-01 22:42] pneumee opened #523 "API objects can't make round trip"
This may not be true for all objects retrieved via the various `get()` methods, but take attaching a data disk to a `VirtualMachine` instance for example. To attach a data disk to a VM, the process seems like it should be:

1. get the VM from the API
` vm = compute_client.virtual_machines.get(resource_group_name, vm_name)`

2. modify the local instance by appending a data disk to the VM
`vm.storag

[2016-02-04 18:59] rjschwei opened #525 "Version numbers, packaging, and releases"
Hi,

We are trying to provide the azure-sdk-for-python as a package to openSUSE and SUSE Linux Enterprise users. We are also using this as a basis to develop azurectl. While this is possible today it has become much more cumbersome since the reorganization of the project structure a while back. Also there is some inconsistency that can cause confusion and it would be great if these things can be e

[2016-02-05 23:36] lmazuel commented on #523
Hi,

I agree with this is a problem.
However at short term, we are currently finishing the 2.0.0 version of the SDK with a totally new code inside. I keep your bug open to check if the 2.0.0 is impacted by this problem.
Thank you,

[2016-02-05 23:43] lmazuel commented on #525
Hello,

First of all, azure-storage is not in this repository (managed directly by the storage team), I will not be able to make one unique tar.gz with everything including storage.
However, using the "release" on github you are able to download the full source code easily:
https://github.com/Azure/azure-sdk-for-python/archive/v1.0.3.tar.gz

We are currently working on the 2.0.0 release, where som

[2016-02-08 16:44] pneumee commented on #523
Thanks! Looking forward to 2.0.0

[2016-02-08 17:10] zooba commented on #525
Also, our intent is that the version of the `azure` package should reflect the overall SDK version, as it will (should) pin the versions of the subpackages.

So installing `azure==x.y.z` may not get you the latest version of `azure-storage`, but it will always get the same one. Users who want/need a later patch to the storage APIs are able to directly update that, which is only reliable with `pip`

[2016-02-08 21:07] rjschwei commented on #525
OK, I know storage is managed separately and I probably should have left it out. Our best approach there is to probably create a python-azure-storage package and manage that version according to that project.

I also suppose it is fair to call the current pypi "package" azure as it is a conglomeration of azure related Python modules, even if they are only used by reference and all these have their

[2016-02-09 19:59] zooba commented on #525
The intention is actually to keep splitting up azure-python-sdk, but unless the correct team is able to actually care for the package we prefer to keep them.

I'll admit I'm still trying to figure out what you're asking for. Certainly any single release of the `azure` package has an associated fixed set of code, but because they can be managed separately we don't release that big piece of code in

[2016-02-16 18:08] sametimesolutions opened #526 "Bug in computemanagement.py when creating vm's from storage vhd."
Problem: When trying to create a vm instance from a storage image an error is thrown because the storage image uri can not be derived. The problem is a reference to the wrong attribute (uri) on the source_image object.  It should use the referenced_uri attribute.

Dev Environment: -  azure sdk (1.0.2) azure compute 0.20.2 - error is also in master
OS -RHEL 6.7  - python 2.75

Solution:
On line 630

[2016-02-17 17:54] afeldman opened #527 "iot Hub"
Hi all,

I really like to use the python azure sdk to work with for rapid prototyping. In the past I work with the event hub but I want to use the IoT hub too. Is there a timeline to include the IoT Hub Service for python?

cheers

Anton

[2016-02-17 18:27] lmazuel commented on #527
Hi Anton,

The way the Python SDK is built now requires that the IoT Hub team makes a Swagger description of their REST API. They didn’t publish it currently, I just forward your message as a proof of interest by our customers to the IoT team for an ETA on the Swagger file. I’ll let you know when I receive an answer. Please feel free to do a follow up if it takes too much time.

Thank you!

Lauren

[2016-02-17 18:32] lmazuel commented on #526
Hi,

Unfortunately, the "reference_uri" is not officially supported by the ARM API currently, as you can see here (no mention of this parameter):
https://msdn.microsoft.com/en-us/library/azure/mt163591.aspx#bk_storage

The parameter will disapear in the 2.0.0 version of the Python SDK. You have to use the others parameters to point to your image. Sorry about that....

[2016-02-18 03:35] sametimesolutions commented on #526
Hi Laurent,

Thank you for your reply. In the link above I do not see any mention of a SourceImageReference. If you do not have the SourceImageReference how can you create vms from generalized (custom) images in a storage account?  Note this is different from the ImageReference which would only be used to create VMS from a market place platform image.

In the Azure SDK for Python Documentation, Re

[2016-02-19 00:10] bear454 commented on #522
We've elected to handle this locally in the app, and explicitly send an endpoint to the SDK.

[2016-02-19 00:10] #522 closed

[2016-02-19 17:17] lmazuel commented on #523
Hi,

Version 2.0.0a1 is just released. If you have the opportunity to test your issue in this new version, it would be awesome!
Thank you!

[2016-02-19 17:18] lmazuel commented on #521
Hi,

Have any news about this issue? Did you try my suggestion?
Thank you!

[2016-02-19 17:46] lmazuel commented on #496
HI,

Just to give some news, as @huguesv said the new AutoRest Python generated code is finally released with the 2.0.0a1 version. No specific code about async inside, but if you have time to look at the version and give feedback, it would be awesome!

Thank you!

[2016-02-19 19:39] lmazuel commented on #454
Hi @schaefi, the role assignment can be made as @huguesv said by the portal using:
https://azure.microsoft.com/en-us/documentation/articles/resource-group-rbac/

Also, the new 2.0.0a1 release has Azure AD GraphRBAC API + Authorization API, which should allows us to assign roles using the SDK (didn't try this specific scenario for now however).

What is your thoughts about all this post and the lat

[2016-02-19 21:59] lmazuel commented on #387
Now need the Swagger file
https://github.com/Azure/azure-rest-api-specs/issues/67

[2016-02-19 21:59] #387 closed

[2016-02-19 22:00] lmazuel commented on #426
Tested, this actually overwrite the file. Easy issue :)

[2016-02-19 22:00] #426 closed

[2016-02-19 22:06] lmazuel commented on #214
Hi @antonydenyer

Finally we have released the version 2.0.0a1 with update job included:
http://azure-sdk-for-python.readthedocs.org/en/latest/ref/azure.mgmt.scheduler.operations.html#azure.mgmt.scheduler.operations.JobsOperations.create_or_update

It would be awesome if you have the possibility to give us feedback about this new API :)
Thank you!

[2016-02-19 22:08] lmazuel commented on #155
Hi all,

We juste release SDK 2.0.0a1 which should cover this feature. We release in alpha currently, any feedback or comments is welcome!
Thank you!

[2016-02-23 14:09] antonydenyer commented on #214
Cool, sadly the project that I was using it on isn't being actively developed. If I get a chance I'll try and take a look in my spare time.

[2016-02-23 16:28] lmazuel commented on #214
Ok thank you! Every feedback will be appreciated!
In the meantime, I close this bug for now since the initial problem of having Scheduler support is done.
Please feel free to open a new bug if there is something wrong in the current implementation.

[2016-02-23 16:28] #214 closed

[2016-02-24 21:34] chaudum opened #532 "Package azure==2.0.0.a1 fails to install from pypi"
Traceback:

[code]
[full log](https://gist.github.com/chaudum/c551aca3c7b8620f30a8#file-terminal-log)

This is because `readme.rst` is missing from the `msrestazure` package on pypi. There is an open issue already: https://github.com/Azure/autorest/issues/718

[2016-02-25 00:24] lmazuel commented on #532
Hi,

The source package are broken (but not the wheels, it's why we did not notice that during our tests). I found the issue I will speak with the Autorest team to fix that ASAP

Thank you!

[2016-02-25 01:13] lmazuel commented on #532
PR in Autorest repo https://github.com/Azure/autorest/pull/732

[2016-02-29 04:00] ldimans commented on #532
+1

[2016-02-29 21:21] lmazuel commented on #532
Just release the new versions of the broken dependencies of Pypi:
https://pypi.python.org/pypi/msrestazure/0.0.2
https://pypi.python.org/pypi/msrest/0.0.3

Content:
https://github.com/Azure/autorest/pull/761

Sorry about the delay... I close this bug, feel free to re-open if your problem still persist.

[2016-02-29 21:21] #532 closed

[2016-03-01 18:02] pneumee opened #534 "Resolving references?"
Is there any helper function or API functionality that I'm missing that will resolve references to objects? Eg: Retrieve a VM instance, which has a reference to its network interface (NetworkInterfaceReference). I want a NetworkInterface object, not a reference. Is the only way to do this to pick apart the reference URI to grab the resource group name and network interface name and then do get()?

[2016-03-01 18:58] chaudum commented on #532
works now. thanks!

[2016-03-01 23:48] lmazuel commented on #534
Hi,

Unfortunately, the `VirtualMachine` REST API which we use only gives the reference:
https://msdn.microsoft.com/en-us/library/azure/mt163682.aspx

Moreover, `Network` is not the same client of `Compute` and they are two separate packages with no inter-dependencies.

So, you have to do something like this:
[code]

[2016-03-02 07:37] MatijaSrbic commented on #527
Hi Laurent,

Any news on Python SDK for IoT Hub?

Thank you,

Matija

[2016-03-02 17:29] pneumee commented on #534
Thanks for confirming!

[2016-03-02 17:29] #534 closed

[2016-03-07 22:17] sedouard opened #537 "Doc - Elaborate what 'vhd_prefix' parameter means"
http://azure-sdk-for-python.readthedocs.org/en/v2.0.0rc1/ref/azure.mgmt.compute.models.html#azure.mgmt.compute.models.VirtualMachineCaptureParameters

For `VirtualMachineCaptureParameters` is `vhd_prefix` value given a vhd blob with this name:

[code]

`myvhdblob`?

[2016-03-08 09:15] catap opened #539 "Enable basic auth on winrm"
Good day!

After I created a virtual machine with windows over ARM I have disabled basic auth:
[code]

If I use legacy service management API, after I create a new virtual machine I has enabled basic auth over WinRM.

Can you suggest for me the way to do it without login to machine over RDP and set up it by hand?

[2016-03-08 09:19] EfrenRey commented on #539
Probably you could use the Custom Script Extension to enable it on provisioning.

[2016-03-08 09:27] catap commented on #539
@EfrenRey sounds grate, but I don't find it on compute model. Can you suggest an example?

[2016-03-08 10:05] EfrenRey commented on #539
In the legacy code you have to create a ```ResourceExtensionReferences``` (azure-servicemanagement-legacy/azure/servicemanagement/models.py) and pass it as parameter to ```create_virtual_machine_deployment``` function.
But not sure if this feature has been already migrated to ```azure-mgmt```.

[2016-03-08 10:15] catap commented on #539
@EfrenRey, yes, I can.

But I don't find any way to do this on `azure-mgmt`.

[2016-03-08 14:59] pipoupiwam opened #540 "Deadlink Storage Runtime - Table, Blob, File, Queue"
On the repository root : Storage Runtime - Table, Blob, File, Queue is a dead link.

[2016-03-08 22:34] lmazuel commented on #540
Fixed this, storage is more in this repository.
Thank you!

[2016-03-08 22:34] #540 closed

[2016-03-11 19:55] BurtBiel opened #541 ""Top" for listing resource groups doesn't work"
rmc = ResourceManagementClient...
rmc.resource_groups.list(top=1)

returns all groups.  Should return just top 1

[2016-03-11 20:40] lmazuel commented on #541
@annatisch ? What do you think?

[2016-03-11 20:45] annatisch commented on #541
Are you able to give us the complete URL that's used to make the request?
This should be logged in debug.

[2016-03-11 21:19] BurtBiel commented on #541
Here's one: https://management.azure.com/subscriptions/<subID>/resourcegroups?api-version=2015-11-01&%24top=1&%24filter=tagname+eq+%27Arm%27&%24skiptoken=<token>0%3d HTTP/1.1

For some reason the request is also very slow when Top is used

[2016-03-11 21:28] annatisch commented on #541
Thanks!
I suspect that these query parameters are being url-encoded when they're not supposed to be.... I will investigate.

[2016-03-11 23:55] bryanar opened #542 "Get/Set metadata story is a bummer"
The following code should 'just work', in my opinion:

[code]

What I am expecting to happen here is that I retrieve the metadata, and then re-write it. At the moment this isn't possible and returns with the following error:

[code]

This EXACT scenario isn't required/necessary, but it is the crux of the problem where I'd simply like to 'append' metadata to existing metadata. In order to work arou

[2016-03-12 00:05] emgerner-msft commented on #542
Issue Migrated to Azure/azure-storage-python#141

[2016-03-12 00:20] #542 closed

[2016-03-15 08:54] EfrenRey commented on #539
@catap In ARM deployment model you have to define the custom script extension in the template:
https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-extensions-customscript-with-template/

[2016-03-15 09:07] catap commented on #539
@EfrenRey but I can't do it over python SDK

[2016-03-15 17:38] tjprescott opened #544 "Cannot deserialize response data which contains values of type None"
When trying to show a resource:
[code]
I get an msrest DeserializationError:

The response data contains the information I want although numerous fields have None as their value.

[2016-03-15 18:25] lmazuel commented on #544
I'm not able to reproduce your problem. If you were able to get the JSON answer, could you add it in this issue?
Thank you

[2016-03-15 18:39] lmazuel commented on #537
Hi @sedouard did you figure out this one?

[2016-03-15 18:41] sedouard commented on #537
Its the prefix of the VHD name. so if your vhd is os-disk123098135.vhd and your vhd prefix is set to 'os-disk' it gets copied.

I think it's to make it easier to copy the vhd without having to know the exact file name.

[2016-03-15 18:41] #537 closed

[2016-03-15 20:58] tjprescott commented on #544
This is the exception message with the data:

And here's the call stack upstream of our code

[2016-03-15 22:05] tjprescott commented on #544
So, when I use the SDK method to retrieve a storage account, it worked fine. The above issue occurred when I tried to retrieve a server farm resource.

[2016-03-16 00:19] lmazuel commented on #544
I think you fall into this known bug https://github.com/Azure/azure-rest-api-specs/issues/137
However, I didn't open that bug with the exact same code as you (I used the mgmt-web API directly)
I will try asap to confirm this is the same bug.

[2016-03-17 03:07] hula100 opened #547 "missing method FormatDeadLetterPath"
In SDK for .NET, there is a mehod "FormatDeadLetterPath" to get dead-letter queue path, but seems missing here.

[2016-03-17 07:42] m-moris opened #548 "Instance view of virtual machine"
I'm using Azure Python SDK 2.0.0rc1.

I want to get instance view of virtual machine.
ex) https://msdn.microsoft.com/en-us/library/azure/mt163682.aspx

But I could not find VirtualMachine.get_instance_view method().
How do I get instance view of virtual machine?

thanks.

[2016-03-17 16:03] lmazuel commented on #548
I think this could be interesting to read:
https://github.com/Azure/azure-rest-api-specs/issues/117

You have to use the `expand` parameter with the `instanceview` string.

In addition, I saw that the latest version of the Swagger file replaces the string parameter by an enum parameter to make this more clear.
https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/2015-06-15/swagger

[2016-03-17 16:21] lmazuel commented on #547
You are right, we didn't have these helper functions.
Thank you for your report, we will try to prioritize this soon.

In the meantime, since these functions are just string building, if you want to do a PR I will be happy to check it :-)

[2016-03-17 23:35] m-moris commented on #548
@lmazuel
Thank you for your advice. I was able to resolve the problem.
I read the rest-api-specs#117 issue and understood it.
So I tried to use expand parameter.
[code]
I cloud get an insntance view of virtual mahcine.

Thanks.

[2016-03-17 23:45] lmazuel commented on #548
Thank you for your confirmation!

I add this specific case in our unit tests suite to be safe.

Please feel free to reopen if something is not correct!

[2016-03-17 23:45] #548 closed

[2016-03-18 16:34] nitzmahone opened #549 "get_instance_view for virtual machine?"
Unless I'm missing something, it looks like in the 2.0rc there's no way to get the instance view for a virtual machine? Specifically, we need access to the PowerState of the VM- unless something's changed, the instance view is the only place I'm aware of to get it.

[2016-03-18 16:40] lmazuel commented on #549
Hi,

There was already an issue for this one which was solved:
https://github.com/Azure/azure-sdk-for-python/issues/548

It seems clear now that I have to improve the documentation on this :)
Please feel free to re-open if you think the linked issue does not solve your problem.

[2016-03-18 16:40] #549 closed

[2016-03-18 16:43] nitzmahone commented on #549
Looks like that'll do what I need- thanks!

[2016-03-18 17:18] lmazuel commented on #439
Hi,

I will close this post since this is not exactly an issue, this does not mean that you can't help :)
Since the new SDK is now Auto-generated, the best way to help currently is testing, to allows us to cover every kind of scenarios. You can do a PR from your fork and we will discuss around that.
Thank you for your support!

[2016-03-18 17:18] #439 closed

[2016-03-18 18:37] lmazuel commented on #541
Hi @BurtBiel @annatisch

I was curious to investigate this one, so I just try.
In fact, there is a problem around what `top` semantic is. The REST API consider that `top` is the number of elements in each page. I agree that the doc is not explicit on this:
https://msdn.microsoft.com/en-us/library/azure/dn790529.aspx

But even with `top=2`, you get the `nextLink` link to get another page of 2 eleme

[2016-03-18 18:42] lmazuel commented on #541
For the record, website ARM API is not clear:
[code]

[2016-03-18 21:29] lmazuel commented on #544
I was wrong, it was not related. I just created a PR to the underlying runtime library for fix.

[2016-03-18 21:45] lmazuel commented on #285
I close this bug for inactivity. Feel free to reopen it or a new one if necessary!

[2016-03-18 21:45] #285 closed

[2016-03-19 02:07] aznashwan opened #552 "network_security_group ignored during network.models.NetworkInterface creation."
I know we had a similar issue with subnets in the NetworkInterfaceIPConfiguration init.
Reporting it so you guys know what to check when you re-gen that part of the code.

https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-network%2Fazure%2Fmgmt%2Fnetwork%2Fmodels%2Fnetwork_interface.py#L76

[2016-03-21 11:56] BhaviniVelankani commented on #155
Hi all,

I need python api for virtual network creation badly.
Is there any API already?
Then please tell the details about it ASAP.

[2016-03-21 15:48] lmazuel commented on #155
Hi,

Virtual Network is covered now. You have an example of creation here:
http://azure-sdk-for-python.readthedocs.org/en/latest/resourcemanagementcomputenetwork.html

You have the detailed Network client operations here:
http://azure-sdk-for-python.readthedocs.org/en/latest/ref/azure.mgmt.network.html

I close this issue since now Virtual Network is available (initial inquiry). Please feel free t

[2016-03-21 15:48] #155 closed

[2016-03-21 15:50] lmazuel commented on #552
Thank you for the report!

This is fixed on dev branch using the fixed generator:
https://github.com/Azure/azure-sdk-for-python/blob/dev/azure-mgmt-network/azure/mgmt/network/models/network_interface.py

I let this issue open until the next version is released.

[2016-03-21 16:58] lmazuel commented on #544
Hi,

I just released msrest 0.1.3 which fixes this bug
https://pypi.python.org/pypi/msrest/0.1.3

Thank you for your report again!

[2016-03-21 16:58] #544 closed

[2016-03-21 17:04] lmazuel commented on #267
I think the initial problem is now fixed by @huguesv code.
Please feel free to re-open if you still have a problem even with @huguesv suggestion.

I also recommend you to use the latest SDK version which handles more clearly the async methods.
Please also note that when we will add the async support, it will be on the new SDK and not on the legacy one.

[2016-03-21 17:04] #267 closed

[2016-03-21 17:08] lmazuel commented on #344
I don't think we will do it in the legacy code now.
In the latest 2.0.0 version, async methods returns an [AzureOperationPoller](http://msrestazure.readthedocs.org/en/msrestdoc/msrestazure.html#msrestazure.azure_operation.AzureOperationPoller) instance with the [.wait()](http://msrestazure.readthedocs.org/en/msrestdoc/msrestazure.html#msrestazure.azure_operation.AzureOperationPoller.wait) and the

[2016-03-21 17:08] #344 closed

[2016-03-21 17:54] tjprescott opened #553 "Unable to get generic resources from SQL endpoints"
When trying to show a resource:
[code]
I get an msrest DeserializationError:

msrest.exceptions.DeserializationError: Unable to deserialize to object: type, AttributeError: 'str' object has no attribute 'get'

In the SDK resource_operations.py at line 461 when it tries to deserialize the response is when I'm getting the exception.

The traceback:
[code]
And the response.content that won't deserial

[2016-03-21 18:07] lmazuel commented on #553
Could you be more precise about the parameters you used in `resource_client.resources.get`?

`msrest` is not able to handle XML result. If you find a way to get an XML answer from a Autorest/msrest call, this is an interesting case to dig.

[2016-03-21 18:32] tjprescott commented on #553
This happens when I attempt to get a SQL Database or SQL Server.

resource_provider_namespace = Microsoft.Sql
resource_type = databases (or servers)
parent (for Database) = servers/<servername>
api_version = 2015-05-01-preview (I get the same error if I manually use a non-preview version)

[2016-03-21 19:08] lmazuel commented on #553
Found, msrest does not use content negotiation and SQL endpoints returns XML by default.
Adding Accept header to JSON format fix the bug.

Will publish an update asap.

[2016-03-22 19:09] lmazuel commented on #553
In the meantime adding `custom_headers` works:
[code]

[2016-03-22 20:40] tjprescott commented on #553
Yep, that worked, thanks!

[2016-03-22 20:40] #553 closed

[2016-03-23 08:26] samshinde opened #555 "Add support to get metrics data of vm using resource manager."
Add support to get metrics data of vm using resource manager In REST as well as SDK.

[2016-03-23 13:12] siddheshwar-more commented on #555
Hey this seems nice idea- currently powershell supports cmdlets(classic ASM) to add diagnostic extension to azure resources(VM's) and to retrieve data from diagnostic storage account.
Where as with help ARM powershell cmdlets you can get metrics directly no need to query diagnostic storage table.

 @lmazuel  could you please help here!

[2016-03-23 15:23] lmazuel commented on #555
Hi,

To be more specific, could you give here the list of Powershell commands you know that you would like to use from Python?

[2016-03-24 12:42] AbelHu opened #556 "P1: Only one network security rule can be added successfully."
I have created a network security group and associated it to my subnet. When I were using azure-sdk-for-python to add multiple rules, only one rule could be added successfully. Do I need to use other methods to check the last result until it succeeds every time before creating a new rule? Expect a solution.

Please see my code as below. You can see more code [here](
https://github.com/AbelHu/azure

[2016-03-24 17:16] lmazuel commented on #556
Hi,

We worked a lot on the documentation recently and I think the version in `dev` branch currently is more accurate that the one in `latest`: [ReadTheDocs on security_rules.create_or_update](http://azure-sdk-for-http://azure-sdk-for-python.readthedocs.org/en/dev/ref/azure.mgmt.network.operations.html#azure.mgmt.network.operations.SecurityRulesOperations.create_or_update)

You can see that `creat

[2016-03-25 01:27] AbelHu commented on #556
@lmazuel Thanks so much. It works.

[2016-03-25 01:27] #556 closed

[2016-03-25 17:30] lmazuel commented on #541
I close this issue, please feel free to reopen it if you have additional questions!

[2016-03-25 17:30] #541 closed

[2016-03-26 08:42] siddheshwar-more commented on #555
@lmazuel

For ARM cmdlets helps you to get metrics data.
https://msdn.microsoft.com/en-us/library/mt282452.aspx

For ASM, retrieve metric data from diagnostic storage-
[code]

[2016-03-28 17:22] lmazuel commented on #555
Unfortunately, we will not put effort on ASM in the future.
However, for ARM your point is totally something we should provide, but I can give you an ETA for now.

I keep this issue open for the record.

[2016-03-28 19:11] lmazuel commented on #552
I just released 2.0.0rc2 which fixes the bug. Please feel free to re-open if you experience any trouble.

Thank you again for your report!

[2016-03-28 19:11] #552 closed

[2016-03-31 15:20] andrewgross opened #562 "Issue creating VM from custom Image"
Hey,

I have been following the v2.0.0 tutorial [here](http://azure-sdk-for-python.readthedocs.org/en/latest/resourcemanagementcomputenetwork.html) to try and spin up some Azure VMs from a custom image I made.  I had to tweak a bit of the code to fix it for some minor API changes, however, when I attempt to launch the VM I am getting an issue that my newly created storage container already had an

[2016-03-31 16:04] andrewgross commented on #562
Did a bit more debugging, and as far as I can see the codebase is only doing 1 PUT request with a body similar to this:

[code]

I checked before the PUT request was done that the storage account did not have any blobs in it, so there is no way that the lease was already in place.  Is this is an issue I need to escalate to the Azure API teams?  It seems like such a simple action though that I thin

[2016-03-31 17:14] lmazuel commented on #562
Hi,

Thank you for your very precise report. Are you using 2.0.0rc1 or rc2? Because the API-version of Compute has changed because this two versions.
It does not seems to be a Python problem, but as your are saying directly a Compute problem directly. I will try to reproduce it to be sure.

[2016-03-31 17:38] andrewgross commented on #562
Hey,

I am using 2.0.0rc2

[code]

[2016-03-31 19:13] andrewgross commented on #562
What is also strange, is if I go to the storage account for this script, it does not show any blobs/containers actually being created.  So it seems that either the error message is wrong, or I am calling it in a very unexpected fashion.

[2016-03-31 19:15] andrewgross commented on #562
I take that back, it is creating them, just not under the storage account I thought.

[2016-03-31 19:30] andrewgross commented on #562
I guess I am a bit confused about how this should.  In my "classic" storage account I have a VHD container with VHD of my base image, as well as the VHDs of these new machines I am creating.  Looking in the console several of them have existing leases, while several do not.  The error message:

[code]

[2016-03-31 19:37] andrewgross commented on #562
I am wondering I should be using `StorageProfile.image_reference` instead of `OSDisk.image` to setup my virtual machine.  However, if that is the case where would I get the info for `publisher, offer, sku, version`.  That information only seems to be available for public images.

[2016-03-31 19:56] andrewgross commented on #562
So it looks like the Storage Container for VHDs that I am using *does* have an outstanding lock on it.  I am not sure what is holding the lock or why it would need one, but I'll see if I can figure out how to deactivate and see if that lets me start a machine.  Oddly, even though there is a lock I am able to create the new VHDs for these machines, but I cannot use them when creating a VM.

[2016-03-31 20:45] andrewgross commented on #562
I think I found my issue.  My VHD was created using a "classic" Storage account, and I am trying to use it to create a VM in ARM.

[code]

https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-windows-compare-deployment-models/

[2016-03-31 20:48] andrewgross commented on #562
Unsure why everything on the storage accounts are locked, or if that is a red herring error message masking this issue.

[2016-03-31 20:52] lmazuel commented on #562
Honestly, I didn't try your case before. It's interesting to read your experiment, please continue :)
I'm not surprised that ASM don't work in ARM stuff. And yes, I sometime saw error messages which are not related to the exact problem, I think you can have found your problem.

[2016-03-31 20:55] andrewgross commented on #562
I am making a new ARM image, I will update if I have more issues.

[2016-03-31 22:08] andrewgross commented on #562
Using an ARM image and the "image" url provided by the `azure` CLI when making the image fixed the issue.  I don't think there is a "problem" here beyond perhaps poor API errors.  Thanks for looking in to this.

[2016-04-01 00:06] lmazuel commented on #562
Thank you for you detailed comments! This can help people who find this post :)
I close it since you solve your problem, please feel free to re-open it or open a new one if you find another problem.

[2016-04-01 00:06] #562 closed

[2016-04-04 16:42] lmazuel commented on #105
I will close this bug for now, since:
- We will no more work on the ASM legacy code
- The ARM support for SQL management will be followed here: https://github.com/Azure/azure-rest-api-specs/issues/175
- For the BACPAC question, there is evidences that it's currently possible to[ deploy with BACPAC using ARM template](https://blogs.msdn.microsoft.com/kaevans/2016/03/28/deploy-bacpac-to-azure-sql-da

[2016-04-04 16:42] #105 closed

[2016-04-13 18:26] chouseknecht opened #573 "Return Virtual Machine Instance View from list() or list_all() methods"
Is there a way to get an instance view returned from the list() or list_all() methods of the VirtualMachineOperations class?

Building the Azure inventory script for Ansible. Fetching the list of machines for a subscription of for a specific resource group returns data within 3 or 4 seconds. However, the machine objects do not include the instance view and thus no power state information. To get t

[2016-04-13 19:12] lmazuel commented on #573
It seems that the REST API itself does not provide this feature:
https://msdn.microsoft.com/en-us/library/azure/mt163572.aspx

@devigned do you have someone in the Compute team which can help us here? The SDK 2.0.0rc2 is using the 2016-03-30 Swagger file.

[2016-04-13 20:01] chouseknecht opened #574 "VirtualMachineOperations list_all() method returns invalid ID value"
The ID attribute on the VirtualMachine objects being returned seems to include a resourceGroups value in ALL CAPS rather than mixed case.  Here is an example of an ID value being returned:

/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/GALAXY-PRODUCTION/providers/Microsoft.Compute/virtualMachines/xxxxxxxxxxx

Notice the 'GALAXY-PRODUCTION' value for resourceGroups. In this cas

[2016-04-13 20:26] lmazuel commented on #574
The resource group name is not case sensitive, there is no difference between 'GALAXY-PRODUCTION' and 'galaxy-production'. You will use the same Resource group.

Then, it's not an invalid ID, since you can use it with no problem. If not, can you provide an example of scenario where the caps version in the ID prevents you for using the SDK?

[2016-04-14 16:09] lmazuel commented on #454
Close this issue due to inactivity. Feel free to re-open it if you want to continue the discussion and you think there is something more to say.
Thank you!

[2016-04-14 16:09] #454 closed

[2016-04-14 18:58] chouseknecht commented on #574
The issue is that I'm relying on the ID to figure out the resource group to which the VM belongs. The VM object doesn't include the resource group.

It's not an issue with the SDK. It's an inconsistency in the API. Is there a way to kick this to the API team?

[2016-04-14 22:45] lmazuel commented on #574
@devigned Do you have a contact in Compute team to discuss this point?

[2016-04-15 00:13] devigned commented on #574
@singhkay, can you provide some guidance on this one?

[2016-04-15 00:22] singhkay commented on #574
@chouseknecht Is this only with VM APIs?

[2016-04-15 23:13] lyan-git opened #577 "Deployment template launch fail missing error code or reason"
We found that when deployment template launch failed, the exception doesn't provide error code or reason.

Here is snippet of code:

        try:
            result = resource_client.deployments.create_or_update(
                    resource_group,
                    deployment_name,
                    properties=DeploymentProperties(
                        mode=DeploymentMode.incremental,

[2016-04-16 02:41] lmazuel commented on #577
In this situation you will a ClourError:
https://msrestazure.readthedocs.org/en/latest/msrestazure.html#msrestazure.azure_exceptions.CloudError

You have two attributes:
- error, string of the error
- response, which is the requests.Response full last response where you should have to error

[2016-04-17 03:24] lyan-git opened #578 "Any API to list out ARM supported VM locations and sizes?"
We found that some of the classical portal supported VM sizes such as ExtraSmall and etc are not supported in ARM and the locations supported in ARM is different too.

Is there an API to get the above info? Right now we workaround by looking at the ARM portal and figure out what is supported.

Thanks.
Li

[2016-04-17 05:10] lyan-git commented on #577
I dumped the CloudError exception here is the output:

{'error': <Response [200]>,
 'inner_exception': <Response [200]>,
 'message': "Long running operation failed with status 'Failed'",
 'request_id': None,
 'response': <Response [200]>,
 'status_code': 200}

Looks like it's not giving any detailed information of why the VM deployment template failed(in my case it should fail at the image storage

[2016-04-18 16:09] lmazuel commented on #577
Hi,

You should be able to get the information you need using the `list` of `deployment_operations`
https://azure-sdk-for-python.readthedocs.org/en/latest/ref/azure.mgmt.resource.resources.operations.html#azure.mgmt.resource.resources.operations.DeploymentOperationsOperations.list

Which correspond to this REST API:
https://msdn.microsoft.com/en-us/library/azure/dn790518.aspx

Please tell me if it

[2016-04-18 16:23] lmazuel commented on #578
From a [compute client](https://azure-sdk-for-python.readthedocs.org/en/latest/resourcemanagementcomputenetwork.html), you have the `virtual_machine_sizes` attribute with a list function:
https://azure-sdk-for-python.readthedocs.org/en/latest/ref/azure.mgmt.compute.operations.html#azure.mgmt.compute.operations.VirtualMachineSizesOperations.list

[2016-04-18 21:24] chouseknecht commented on #574
I have only tried using VirtualMachineOperations with the Compute Management Client, so I don't know if other operations return the resource group name in all caps. I do know that other clients (i.e. storage management, network management, etc.) return the resource group name as expected - in mixed case. VM operations is the first and only place I have seen it show up in all caps, that's why it fe

[2016-04-18 21:25] chouseknecht commented on #573
Any insights on this one?

[2016-04-18 22:41] singhkay commented on #574
@chouseknecht Got it, let me check with the compute dev team and see what's up.

[2016-04-20 04:24] abdulito opened #584 "reinstalling causes partial uninstall"
reinstall azure when if its already installed causes some modules to be uninstalled

[code]

then if you do this import it fails

[code]

I am using python 2.7.6 on Ubuntu 12.10

Thanks!

[2016-04-20 14:47] lmazuel commented on #584
Hi,

I'm not able to reproduce your problem in this environment:
- Ubuntu 15.10
- Python 2.7.10
- Pip 1.5.6
- Virtualenv (not as root)

The most possible cause is an older version of pip in your system. Could try to update pip to a newer one? At least, could you give the version of pip you use?

Thank you,

[2016-04-20 15:20] lmazuel commented on #584
I reproduce it with:
- Ubuntu 12.04.5
- Python 2.7.3
- pip 1.1
- Virtualenv

However, by upgrading just pip using `pip install -U pip` the problem is gone (pip 8.1.1)

It's clear that it is a bug in an old version of pip. Please update your pip installer for this scenario to work.

I close this bug, feel free to re-open it if you really think we should handle this here.

Thank you,

[2016-04-20 15:20] #584 closed

[2016-04-20 17:41] lyan-git opened #585 "Deleting deployment in a resource group doesn't delete the resources in the deployment"
Hi,

I was trying to delete a resource group deployment by calling
resource_client.deployments.delete()...
But found that the deployment was gone but the resources in the deployment were not deleted actually. Tried with ARM portal as well, same result.
I know this is not related to SDK but more of the result of REST API. Just want to find out a way to delete the deployment and included resources w

[2016-04-20 21:07] devigned commented on #585
Hi @lyan-git. Thank you for reaching out.

What you are experiencing is exactly what I ran into initially when developing in ARM. I expected that when I delete a deployment, that all of the resource created in that deployment would also be deleted. Unfortunately, that is not the case.

To clean up a deployment, you will have to delete the items one by one, or you would need to delete the resource

[2016-04-20 21:07] #585 closed

[2016-04-26 12:07] michaelarnauts commented on #493
I have the same issue with the PHP SDK, also with processing messages from Dynamics CRM. The Service Bus Explorer is displaying the messages fine, but the PHP SDK (and it seems the python sdk also) isn't. I've also noticed that it seems to be related with the `CorrelationId` property. When I manually resubmit a message to a different queue, and leave out the `CorrelationId`, the messages is return

[2016-04-28 18:08] lyan-git commented on #585
Hi David,

Thanks for your reply.
But we have a case where we have a vnet that contains a load balancer with multiple gateways attached to it. The load balancer and the gateway need to be within one resource group according to my experience in ARM.  So we have a resource group that contain both load balancer deployment and multiple gateway deployments.
Now if the user want to delete a gateway only

[2016-04-28 18:36] lyan-git commented on #577
The list of deployment_operations works well, now we can have detail error if the template fails. Here is snippet of the code if any one is interested:
dep_itr=resource_client.deployment_operations.list(resource_group,
                              deployment_name)
...
And the detail error seems to reside at
dep_op.properties.status_message['error']['details'][0]

Thanks.
Li

[2016-04-28 18:36] #577 closed

[2016-04-28 19:03] devigned commented on #585
Thank you for your thorough explanation of why and how you are approaching this problem. I'm including @ravbhatnagar from the Azure Resource Manager team to provide some additional guidance (and to correct me if I'm guiding you down the wrong path).

As far as I know, you will need to delete the resources one by one. You don't need to delete the whole resource group as that will delete all of the

[2016-04-28 20:43] lyan-git commented on #578
Thanks. We are able to get vm sizes available to certain region through the above api.
How do we get supported regions for ARM?
And one comment on the APIs, I found region parameter require different format for different APIs, for this list function region need to be used with lowercase and without space such as 'westus'. But some of the APIs in ARM use original 'West US'. Either the document need

[2016-04-28 21:02] ravbhatnagar commented on #585
@lyan-git - Yes, deleting the resource group will delete all the resources in that resource group. So if you want to only delete specific resources, you will have to delete the resources individually.

However, depending on your scenario, there might be another option. If all these resources, are now part of the same template, you can remove the resources you don't need anymore from the template.

[2016-04-28 22:13] huguesv commented on #578
For an example of enumerating locations:
https://github.com/Azure/azure-sdk-for-python/blob/master/examples/AzureResourceViewer/AzureResourceViewer/models.py#L147

[2016-04-29 09:45] miketonks commented on #555
+1 For ARM, it would be nice to get list of metric definitions for a virtual machine, and to query for metric data, using the python API.

I managed to get a list of metric definitions from the REST API using ComputeManagementClient with url:

  /subscriptions/<subscription_id>/resourceGroups/<resource_group>/providers/Microsoft.Compute/virtualMachines/<vm_name>/metricDefinitions

but unfortunatel

[2016-04-30 17:56] lyan-git commented on #585
I thought that is what the delete API of the deployment suppose do. So you create a deployment with a template of resources as a logical group in a resource group and when you delete the deployment the resources in the template are removed. Right now the delete of the deployment is not removing any of the resource in the deployment as a delete of resource group does.

Thanks.
Li

[2016-05-02 18:03] prashanthmadi opened #590 "Azure python vm create fails when trying to create image with custom image"
VM create fails with is osDisk error: msrestazure.azure_exceptions.CloudError: Changing property 'osDisk.image.uri' is not allowed.

Code snippet is as follows:

[code]
image is defined in the python API and the URi defined works fine with the Azure CLI

API azure==2.0.0rc3

If it helps this is the transaction being sent to azure:

url: hps://management.azure.com/subscriptions/b97ddb69-f825-48b4-9

[2016-05-02 18:03] prashanthmadi commented on #590
http://stackoverflow.com/questions/36899051/azure-python-vm-create-fails-when-trying-to-create-image-with-custom-imagehttp://stackoverflow.com/questions/36899051/azure-python-vm-create-fails-when-trying-to-create-image-with-custom-image

[2016-05-03 18:52] prashanthmadi commented on #590
The error message is misleading but the cause was due to the target disk already existing. Once that was removed the process was successful.

[2016-05-03 18:52] #590 closed

[2016-05-06 04:43] BurtBiel opened #592 "Resource group deployment failures don't return error text"
Deploy an ARM template for VM Create and choose a password of "123".

Expected: Password is too weak message (error message from Azure)

Actual: Long running operation failed (no details about what actually went wrong)

Note: running the SDK at the Debug log level shows that the error message is indeed sent down in the response, but it is not surfaced to the user.

[2016-05-06 23:02] bviktor commented on #508
I see 2.0.0rc3 is out, is there any update on this?

[2016-05-07 06:16] lmazuel commented on #508
Hi @bviktor

The DNS service is not yet available, but the Swagger meta-description used to generate it is in progress:
https://github.com/Azure/azure-rest-api-specs/pull/278

Once this file is published, we would be able to publish a DNS preview for Python soon after.

[2016-05-07 06:18] lmazuel commented on #592
Hi @BurtBiel

If you get a CloudError exception, this should contains the response as attribute I think?

I check that asap.

[2016-05-07 06:19] lmazuel commented on #578
I close this issue since it seems that we solved the question, but feel free to re-open it if needed.

[2016-05-07 06:19] #578 closed

[2016-05-09 02:23] bviktor commented on #508
Thanks, Laurent!

[2016-05-10 10:51] one1zero1one opened #594 "AADSTS50059 when using AD User/Password"
If the Organizational Account is a guest in another tenant, or multiple tenants, then you must specify the specific **tenant** that you want the token issued by, yet this is not currently possible.

[code]

[2016-05-10 16:42] lmazuel commented on #594
Hi @one1zero1one

The full documentation of `UserPassCredentials` is available here:
http://msrestazure.readthedocs.io/en/latest/msrestazure.html#msrestazure.azure_active_directory.UserPassCredentials

You can see that the kwargs accept the `tenant` parameter (which is at `common` by default)

[2016-05-10 16:55] one1zero1one commented on #594
Thank you for the clarification @lmazuel , I came to this from the ansible azure_rm_resourcegroup module - I'll do the follow up there.

[2016-05-10 16:55] #594 closed

[2016-05-10 18:07] lmazuel commented on #592
Hi @BurtBiel

The exception you got has a `message` attribute:
![image](https://cloud.githubusercontent.com/assets/1050156/15157095/e858c098-169e-11e6-96be-1cff4ddf660a.png)

You also have the `response` attribute with the full response:
![image](https://cloud.githubusercontent.com/assets/1050156/15157125/0bc4696a-169f-11e6-8857-7c6417157e04.png)

I close this bug since I think I answered your que

[2016-05-11 11:03] saraswat2385 opened #595 "Creating Puppet Image using Java SDK doesn't have puppet works fine with Azure CLI"
I am just trying to create Puppet VM on azure using Azure java SDK and using puppet labs VM image to build my machine.

 when i do the same using Azure UI or Azure Cli it's works fine but when i do it using Azure Java Sdk machine is created but puppet is not installed on that.

Tried with all three images

||Publisher||Offer||Sku||
|PuppetLabs|PuppetEnterprise|2015.3|
|PuppetLabs|PuppetEnterprise|

[2016-05-11 11:06] saraswat2385 opened #596 "Creating Puppet Image using Java SDK doesn't have puppet works fine with Azure CLI"
I am just trying to create Puppet VM on azure using Azure java SDK and using puppet labs VM image to build my machine.

 when i do the same using Azure UI or Azure Cli it's works fine but when i do it using Azure Java Sdk machine is created but puppet is not installed on that.

Tried with all three images

|Publisher|Offer|Sku|
|---------|-----|---
|PuppetLabs|PuppetEnterprise|2015.3
|PuppetLabs|P

[2016-05-11 14:31] lmazuel commented on #595
This is a duplicate of https://github.com/Azure/azure-sdk-for-python/issues/596

[2016-05-11 14:31] #595 closed

[2016-05-11 14:33] lmazuel commented on #596
Hi @saraswat2385

You are on Python SDK issue tracker, I suggest you to fill your issue into the Java issue tracker:
https://github.com/Azure/azure-sdk-for-java/issues

Thank you, and feel free to open an issue here if you try the Python SDK one day :)

[2016-05-11 14:33] #596 closed

[2016-05-11 21:09] BurtBiel commented on #592
Hi Laurent,

I don’t have permissions to re-open the issue, but here is what I found.

To get at the useful error message (detail of what went wrong instead of ‘deployment failed’), I have to do this:

message = json.loads(json.loads(json.loads(client_exception.error.content.decode("utf-8"))['error']['details'][0]['message'])['error']['details'][0]['details'][0]['message'])['error']['message’]

Is

[2016-05-11 23:05] lmazuel commented on #592
@annatisch Do you know why there is so much level here?

[2016-05-11 23:07] annatisch commented on #592
Eek, that certainly is well buried... I will investigate!

[2016-05-11 23:09] lmazuel commented on #592
@obsoleted, is this a reason why you decided to do a recursive lookup in the Ansible module?
https://github.com/ansible/ansible-modules-extras/blob/devel/cloud/azure/azure_rm_deployment.py#L527

[2016-05-12 00:01] obsoleted commented on #592
I think I was just copying logic I found in azure cli (https://github.com/Azure/azure-xplat-cli/blob/dev/lib/commands/arm/group/groupUtils._js#L406). I assumed it is because the deployment fans out into so many operations each of which can have their own failures (and perhaps sub operations?). But I honestly didn't look that closely at the resulting format as I mostly cared that we weren't loosing

[2016-05-24 17:44] rockypandalu opened #600 "Does the SDK support Billing API?"
Hi, I want to get the resource usage data form my Azure VM, and I think I need to use the Billing API (Resource Usage API) to do this. I am wondering whether there is any class that support the Billing API in the python SDK?
Appreciate for the help!

[2016-05-25 00:04] lmazuel commented on #600
Hi,

I will publish a preview package called azure-mgmt-commerce this week. I keep this issue open till them, and do not hesitate to provide feedback if you have issues on it!

Thank you!

[2016-05-25 00:40] rockypandalu commented on #600
Thanks a lot, looking forward to your new package!

[2016-05-25 22:01] BurtBiel opened #611 "Azure Container Services missing from SDK"
The other SDKs supply a "composite swagger" flag in their config file (here: https://github.com/Azure/azure-sdk-for-python/blob/master/swagger_to_sdk_config.json#L33) which picks up both the compute and container services files.  That flag is missing in the python SDK (node has it).

[2016-05-25 22:24] lmazuel commented on #611
You will have it in a few seconds :). I was about publishing RC4 and this is part of it.

[2016-05-25 22:37] lmazuel commented on #611
Released as Compute 0.30.0rc4
https://pypi.python.org/pypi/azure-mgmt-compute/0.30.0rc4

Please fill  an issue if something wrong :)

[2016-05-25 22:37] #611 closed

[2016-05-25 22:40] lmazuel commented on #600
Package just released:
https://pypi.python.org/pypi/azure-mgmt-commerce/0.30.0rc4

As part of the azure 2.0.0rc4 distribution:
https://pypi.python.org/pypi/azure/2.0.0rc4

Sample:
http://azure-sdk-for-python.readthedocs.io/en/latest/resourcemanagementcommerce.html

This is a preview package. Please fill an issue if you encounter difficulties.

Thank you!

[2016-05-25 22:40] #600 closed

[2016-05-26 07:48] trondhindenes opened #612 "Version doesn't report number"
When installing using pip install azure --pre, I'm not getting a version number from the azure module:
azure.mgmt.compute.VERSION

This breaks a ton of dependencies, please fix!

[2016-05-26 18:13] lmazuel commented on #612
Hello,

The version number was not accurate before and did not reflect the current package version, it was an internal version number not relevant to the content.
Could you explain why it's breaking something in your case?

Thank you,

[2016-05-26 18:21] trondhindenes commented on #612
The AzureRM modules for Ansible (which were written by MSFT @devigned and some others) perform a version check. That version check seems to fail for newer versions of the module. I haven't dug too deep, but I feel we need all the consistency we can get, especially with the python modules changing left and right atm.

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/azure_rm_c

[2016-05-26 20:18] lmazuel commented on #612
Actually the current Ansible plugin can not work with the RC4, I made the PR to fix the plugin:
https://github.com/ansible/azurerm/pull/12
https://github.com/ansible/ansible-modules-extras/pull/2319

[2016-05-28 19:42] th3v0ice opened #617 "VM create error"
Hello everyone.

While I was using the RC3 version without problems, with RC4 I am getting this error:

public_ip_address=azure.mgmt.network.models.ResourceId(
AttributeError: 'module' object has no attribute 'ResourceId'

The newest release candidate was installed with pip. Both "pip install azure==2.0.0rc4" and "pip install --pre azure" are giving this error. Can You please resolve this?

[2016-05-28 20:35] lmazuel commented on #617
Hi,

Could you give more details about the exact operation you call here?

Thank you,

[2016-05-29 05:19] th3v0ice commented on #617
Hi Imazuel,

Sure, I am just calling slightly modified "create_network_interface" from the documentation. Here is the code

[code]

The rest of the code is also very similar to the one from the documentation.
Thanks.

[2016-05-29 20:58] lmazuel commented on #617
`public_ip_address` takes a PublicIPAddress object in parameter:
https://azure-sdk-for-python.readthedocs.io/en/latest/ref/azure.mgmt.network.models.html#azure.mgmt.network.models.PublicIPAddress

But it was always the case in RC3:
http://azure-sdk-for-python.readthedocs.io/en/v2.0.0rc3/ref/azure.mgmt.network.models.html#azure.mgmt.network.models.NetworkInterfaceIPConfiguration

It wasn't suppose

[2016-05-30 07:18] th3v0ice commented on #617
Thank You for the answer :). That indeed removed the error that I was getting. However newly created VM's are created without any IP address. Status for the VM just says "Failed", and as far as Audit logs are concerned there was no error. What could be the problem?

[2016-05-30 10:06] th3v0ice commented on #617
Thank You very much. That indeed solved my problem.  :) One side question, why is in the documentation and the code samples "ResourceId" put instead of the "PublicIPAddress"?

[2016-05-30 10:06] #617 closed

[2016-05-30 14:20] trondhindenes commented on #612
Thanks, but we still need to be able to check the installed version thru code. The python module doesn't seem to honor the __version__ attribute, so how are we supposed to do that?

[2016-05-30 20:44] trondhindenes opened #618 "Example for deploying template from file"
Hi,
Whatever I do, I cannot do file.read() on a json template and create a deployment from it. I'm getting "request content was invalid and could not be serialized". When trying the exact same template in the azure portal everything works, so there's nothing wrong with my template. This was working before I updated to the 2.0.0-wave of the python module. Could you please provide a working example

[2016-06-01 03:34] lmazuel commented on #618
Hi,
This could help:
http://azure-sdk-for-python.readthedocs.io/en/latest/resourcemanagement.html#create-deployment-from-template

I guess you give the template as a string, but we actually take a dict as a template. Add a simple `json.loads` should be enough :)

[2016-06-01 03:36] lmazuel commented on #617
Good catch with the doc, it's an error from the previous 1.x versions. I will fix.

Thank you!

[2016-06-01 03:37] trondhindenes commented on #618
okay, I'll try parsing the file with json.loads instead of just sending the string streight to the def. I guess that's a breaking change from the earlier python versions.

[2016-06-01 03:39] lmazuel commented on #618
Yes, in 1.x versions of the SDK we were using a string. Since the 2.x, it's directly a dict.
I wrote this here:
https://github.com/Azure/azure-sdk-for-python/wiki/Migrate-from-1.0.0-ARM-preview-to-2.0.0rc1#models

But it's not really easy to find I agree...

[2016-06-01 03:40] trondhindenes commented on #618
:-) no worries.

[2016-06-01 16:28] boumenot opened #619 "TokenExpiredError: Who's Responsible for Refreshing the Token"
azure-sdk-for-python: v2.0.0rc3
Python v3.5.1 on Windows 10

I got the following exception in long running code.

[code]

It isn't clear to me who owns refreshing the token.  I would have thought the SDK does this automatically and transparently.

Is this the correct way to refresh the token?

[code]

[2016-06-01 18:05] trondhindenes commented on #612
@lmazuel so what's the plan going forwad? How can I from within my python code check the installed version of the python module for azure?

[2016-06-01 20:11] rockypandalu commented on #600
Dear Mr. Imazuel,
Thank you so much for the package. I can now download some object using your package. But I am wondering how can I load the data inside the object. For example, the usage data I can retrieve using your package is like
<azure.mgmt.commerce.models.usage_aggregation_paged.UsageAggregationPaged object at 0x7f593994cd90>
But I do not know how can I get the understandable data from thi

[2016-06-01 20:14] rockypandalu opened #620 "Question about load data got from Billing API"
Dear Mr. Imazuel,
Thank you so much for the package. I can now download some object using your package. But I am wondering how can I load the data inside the object. For example, the usage data I can retrieve using your package is like

azure.mgmt.commerce.models.usage_aggregation_paged.UsageAggregationPaged object at 0x7f593994cd90

But I do not know how can I get the understandable data from thi

[2016-06-01 20:17] rockypandalu commented on #620
The code I am using are just follow the instruction provided on the instruction:

from azure.common.credentials import ServicePrincipalCredentials
from azure.mgmt.commerce import UsageManagementClient
from azure.mgmt.resource.resources import ResourceManagementClient
from datetime import date, timedelta
import json

subscription_id = ''
credentials = ServicePrincipalCredentials(
    client_id = ''

[2016-06-01 20:30] rockypandalu commented on #620
I just find the document at

http://azure-sdk-for-python.readthedocs.io/en/latest/ref/azure.mgmt.commerce.models.html?highlight=azure.mgmt.commerce.models

So this issue can be closed, thanks for the Azure team!

[2016-06-01 20:30] #620 closed

[2016-06-02 01:52] lmazuel commented on #620
Thank you for your feedback, if you want modification or update in the docs, just tell me :)

[2016-06-02 01:57] lmazuel commented on #620
Thank you for your feedback, if you want modification or update in the docs, just tell me :)

[2016-06-02 02:16] lmazuel commented on #619
You should not have to refresh the token yourself, should be automatic. We got some problem with it and there is a fix in the RC4 for the refresh. Could you try the RC4? I know this does not solve the whole problem, but it will be interested to see if it solves yours.

Thank you

+ @annatisch

[2016-06-02 06:02] boumenot commented on #619
Will do.  I did not realize RC4 was out.

[2016-06-02 17:08] lmazuel commented on #612
You can't currently :(
I talked with @nitzmahone at the PyCon, it seems that you can maybe disable this for now, and I will add a `__version__` attribute in the next release.

[2016-06-02 17:12] trondhindenes commented on #612
wow, you guys certainly don't make it easy for us. Thanks for adding __version__ back.

[2016-06-02 17:13] trondhindenes commented on #612
btw, it would be really great if the new `__version__` attribute would follow standard versioning formatting, like every other python module in the world does.

[2016-06-02 18:13] lmazuel commented on #612
@trondhindenes "don't make it easy"? :(
At the second I published the RC4, I was doing the PR to the Ansible repo with the new code. I didn't know that you were using the version attribute, since the content was false I didn't realize that someone could use it (my mistake). I answered to you as fast as possible, considering the PyCon. I went to the Ansible booth at the PyCon to discuss this point

[2016-06-02 18:26] trondhindenes commented on #612
My apologies, that was unnecessary.

[2016-06-02 20:19] boumenot opened #622 "Add has_container_name to *BlobService"
It would be nice if the BlobService class had a method called has_container_name.  I'm not sure if the request is more appropriate for here or Swagger.

[2016-06-03 00:24] lmazuel commented on #622
You talk about the Storage BlobService? Then you should move this issue here:
https://github.com/Azure/azure-storage-python/issues

[2016-06-03 04:52] boumenot commented on #622
Yes, I moved it.

[2016-06-03 04:52] #622 closed

[2016-06-07 05:04] annatisch commented on #619
Hi @boumenot, did you find upgrading to RC4 resolved this issue? Let me know if you're still getting any errors with regards to token refresh :)

[2016-06-07 17:56] rockypandalu opened #623 "When can the commerce (billing) package be integrated into the azure official release"
Hi, thank you so much for designing the azure-mgmt-commerce python package, it helped my work significantly.

Now I have programmed using this package and test it. And now I want to deploy my code on cloud. To do that I will put all library I need in a requirements.txt, the cloud server will help me to launch these packages using "pip" install.

However, it seems that the sdk downloaded by "pip in

[2016-06-07 18:20] lmazuel commented on #623
Hi!
To give you a full overview, this is our planned roadmap for package publishing:
- Early summer move the "azure" meta-package to stable 2.0.0 including several package to stable at the same time. At least Compute, Resource, SQL Management, KeyVault, Storage, WebApp, Network. This is the minimal list to release as stable, there will be no stable release if one is missing.
- We might decide that

[2016-06-07 18:38] rockypandalu commented on #623
Hi Imazuel, thank you for your reply! But I am not sure whether I understand your answer correctly.

It seems that you think I can get the azure-mgmt-commerce "preview" package by "pip install --pre azure". But I have tested for 4 times on different machines, and can not get the package. Actually I have checked all packages I installed from "pip install --pre azure" under "azure-mgmt" prefix, and

[2016-06-07 19:06] lmazuel commented on #623
Sorry if I was not clear. I know you don't have commerce using `pip install --pre azure`, because I didn't plug it yet.

To do a more direct short answer: I need to discuss the "preview" tag with the commerce team before planning to plug it inside "azure", since "azure" will shortly move to "stable".

In the best case, commerce could be inside "azure" for the end of June, in the worst case commerc

[2016-06-07 19:10] rockypandalu commented on #623
Dear Imazurl, now I understand. Thank you a lot. Our application will be launched in fall, I will try the C# solution.
But still thank you a lot for your help!

[2016-06-07 19:10] #623 closed

[2016-06-07 19:14] lmazuel commented on #623
Dear @rockypandalu

I'm sad to hear that you will move from Python to C# :(
Could you provide me more context of your situation by email? I would like to understand your scenario and see if I can help.
My email is my github alias + @microsoft.com

Thank you!

[2016-06-08 20:10] boumenot commented on #619
Sorry, I've been OOF since I first reported the issue.  I've pulled RC4, and I'm trying it now.  I'll report back.

[2016-06-08 23:04] boumenot commented on #619
I tried to upgrade to 2.0.0rc4 on Windows, and I keep getting the following error.

[code]

I upgraded to 2.0.0rc4 with the following command.

[code]

When this failed, I tried deleting all pip packages, and reinstalling but the error is the same.

I **think** the issue is with me, but I am not able to determine what or where it is.

[2016-06-08 23:06] lmazuel commented on #619
Hi @boumenot

This specific error is because `StorageManagementClientConfiguration` does not exist anymore in RC4. See the ChangeLog of RC4 for details:
https://github.com/Azure/azure-sdk-for-python/releases/tag/v2.0.0rc4

[2016-06-08 23:33] boumenot commented on #619
Thank you!  I like the changes.

[2016-06-13 18:29] boumenot commented on #619
I finally have evidence that everything is working well.  I setup up a job to run over the weekend that was continually interacting with Azure.  I can see from the logs that the token was refreshed by the SDK, and no exceptions were raised.  I'm closing the issue.

Thanks!

[2016-06-13 18:29] #619 closed

[2016-06-15 10:23] eiliven opened #628 "Service Bus Queues: custom properties string values containing quotes are mutated in the received message"
String custom properties containing quotes are mutated in the received message. 'This "should" work fine' as a value for a custom property in the input message becomes '\\"This \\"should\\" work fine\\"' in the received message.

Python code to reproduce
[code]

[2016-06-15 16:25] yugangw-msft opened #629 "mgmt.compute: deserialization code is wrong on azure container service"
The fix should be from either swagger or code-gen. This makes the "list/get" unusable
Check out the generated code [here](https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-compute/azure/mgmt/compute/models/container_service.py#L78-L82). The `String`, should be 'str'

[code]

[2016-06-15 17:29] xingwu1 commented on #629
Not repro with latest code gen.

[2016-06-15 17:47] lmazuel commented on #628
Thank you for your precise feedback! I take a look asap.

Regards,

[2016-06-15 23:07] lmazuel commented on #629
If Autorest is ok, will be fixed officially in the next release, in theory next week.

[2016-06-15 23:07] #629 closed

[2016-06-16 19:42] zhaojohn opened #630 "failed to create credential"
I am using Python 2.7.9 and current Azure SDK.   When I tried to get credentials, I got the following error.

from azure.common.credentials import UserPassCredentials
UserPassCredentials('myaccount', 'mypassword',)

Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "/usr/share/lib/python2.7/site-packages/msrestazure/azure_active_directory.py", line 336, in __init__

[2016-06-16 20:24] prashanthmadi commented on #630
https://azure-sdk-for-python.readthedocs.io/en/latest/resourcemanagementauthentication.html
has the sample code zhao is refeering and username,password is not a recommended approach

Below code works

[code]

below link has details on how to get client_id, secret and tenant.

https://azure.microsoft.com/en-us/documentation/articles/resource-group-create-service-principal-portal/

[2016-06-16 21:10] zhaojohn commented on #630
got a different error this time.
from azure.mgmt.authorization import AuthorizationManagementClient
from azure.common.credentials import ServicePrincipalCredentials
from azure.mgmt.resource.resources import ResourceManagementClient

credentials = ServicePrincipalCredentials(
    client_id = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
    secret = 'XXXXXXXXXXXXXXXXXXXXXXXX',
    tenant = 'XXXXXXXX"
)
author

[2016-06-16 21:15] zooba commented on #630
(On a vaguely related note - why validate credentials on construction? We should really wait until they're used, or provide a function to create the credentials rather than instantiate a class...)

[2016-06-16 21:29] zhaojohn commented on #630
I am switching from AWS to Azure, so try to validate the login and set up the dev environment.

[2016-06-17 01:18] lmazuel commented on #630
Hi @zhaojohn

You have role problem with your account used for the connection:
https://azure.microsoft.com/en-us/documentation/articles/role-based-access-control-configure/

According to this:
https://azure.microsoft.com/en-us/documentation/articles/role-based-access-built-in-roles/

You need to add “Reader” or “Virtual Machine Contributor” role to the user you use to connect.

[2016-06-17 09:03] madhulika opened #632 "VirtualMachineSizeTypes mistmatch causes deserialization errors"
Currently the VirtualMachineSizeTypes enum misses out the 'F' size types
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-compute/azure/mgmt/compute/models/compute_management_client_enums.py

Deserialization fails when we try to get the list of vms using
compute_client.virtual_machines.list_all() and we can't access the returned object.

It makes automation of vm creation impos

[2016-06-17 16:47] lmazuel commented on #632
Hi @madhulika,

This issue was supposed to be fixed in the RC4. You can see in the ChangeLog the "Enum refactoring" part:
https://github.com/Azure/azure-sdk-for-python/releases/tag/v2.0.0rc4

Could you confirm your version?

Thank you,

[2016-06-17 17:02] lmazuel commented on #630
Hi @zhaojohn

@prashanthmadi just told me that that the above links solved your problem. Then, I close this issue. Feel free to open new issue if necessary.

Thank you,

[2016-06-17 17:02] #630 closed

[2016-06-17 17:09] lmazuel commented on #527
The Swagger spec is currently in review, which means that I should be able to do a preview package soon.
https://github.com/Azure/azure-rest-api-specs/pull/356

Thank you for your patience!

[2016-06-17 17:13] lmazuel commented on #428
Hi @schaefi

Did you or @bear454 finally do the PR about this one? Do I still need to keep this issue open?

Thank you!

[2016-06-17 17:33] lmazuel commented on #495
The ServiceBus team told us that the recommended way is Proton for AMQP:
https://azure.microsoft.com/en-us/documentation/articles/service-bus-amqp-python/
http://www.mikelanzetta.com/2014/11/talking-to-eventhub-with-amqp-1-0/

[2016-06-17 17:33] #495 closed

[2016-06-17 20:09] bear454 commented on #428
This was merged in as https://github.com/Azure/azure-sdk-for-python/pull/497 . Please close the issue, @lmazuel !

[2016-06-17 20:44] lmazuel commented on #428
Thank you for the quick feedback! :)

[2016-06-17 20:44] #428 closed

[2016-06-18 02:35] madhulika commented on #632
Thank you @lmazuel
I was using rc3. I moved to rc4 and the soft enum fix is there.

[2016-06-18 02:35] #632 closed

[2016-06-18 03:20] chuckus opened #635 "PowerBI embedded preview client"
In the next release candidate, could you be able to add a PowerBI embedded preview client please?

I have attempted to do it myself. I used Docker to pull `azuresdk/autorest:latest` and the [latest PowerBI embedded swagger specs as of today](https://github.com/mattmazzola/azure-rest-api-specs/blob/63f0ba43360ec396eba6f84f1f7ea697f68c7aa8/arm-powerbiembedded/2016-01-29/swagger/powerbiembedded.json)

[2016-06-18 17:12] lmazuel commented on #635
Hi @chuckus !

I will check the state of the file ([the official is this one](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-powerbiembedded/2016-01-29/swagger/powerbiembedded.json)) with the team and try to do it for the next release, no problem :)

@devigned is this Docker image still valid? Automatically rebuild? Manually rebuild?

[2016-06-20 14:43] devigned commented on #635
@lmazuel it is automatic and latest was updated as of 3 days ago.

[2016-06-21 12:34] the-hof commented on #74
Which "blob_storage" object has a put_blob method?

[2016-06-21 15:32] lmazuel commented on #74
Hi @the-hof , since the initial time when this issue was created, the storage data SDK is now here:
https://github.com/Azure/azure-storage-python

[2016-06-23 05:54] freefood89 opened #644 "msrest and msrestazure dependencies not installed"
Is it just me, or does this package not install dependencies?
1. installed via `pip3 install azure`
   `from azure.common.credentials import UserPassCredentials` resulted in `ImportError: No module named 'msrest'`
2. installed msrest via `pip3 install msrest`
   `from azure.common.credentials import UserPassCredentials` resulted in `ImportError: No module named 'msrestazure'`
3. installed msrest a

[2016-06-23 15:17] lmazuel commented on #644
Hi @freefood89 ,

I saw rare situations where msrest(azure) dependencies are not installed. I think it's related to this pip issue:
https://github.com/pypa/pip/issues/988

Because msrest(azure) in a sub-dependencies of an `azure-common` extension called `autorest`. But since some other package does not need the extension, it seems that if pip sees an `azure-common` dependency before it sees `azure

[2016-06-23 23:41] lmazuel commented on #635
Hi @chuckus

I just released a preview of this library:
https://pypi.python.org/pypi/azure-mgmt-powerbiembedded/0.30.0rc5

I didn't have the time to make string testing of it, it's why it's a preview right now. IF you encounter any troubles, please open an issue I will be happy to look at it!

I close this issue right now because the main purpose of this issue was releasing the preview client, but

[2016-06-23 23:41] #635 closed

[2016-06-23 23:42] chuckus commented on #635
@lmazuel Thanks for that!

[2016-06-23 23:43] lmazuel commented on #612
Hi @trondhindenes

The releases 2.0.0RC5 / 0.30.0rc5 are released with the `__version__` attribute ready to use. Sorry again for the inconvenience caused by this issue.

[2016-06-23 23:43] lmazuel commented on #618
Hi @trondhindenes

Did you have the expected answer, can we close this issue?
Thank you!

[2016-06-23 23:51] nitzmahone commented on #612
@lmazuel Thanks!

[2016-06-24 02:15] techhat opened #648 "Unexpected keyword argument 'name' creating NetworkInterface"
Found this trying to create a `NetworkInterface` in Salt Cloud:
[code]
Looking closely, `__init__()` inside `azure/mgmt/network/models/network_interface.py` doesn't have `name` specified, even though it's referenced several other times in the file.

[2016-06-24 17:04] techhat commented on #648
Also finding the same thing in `azure/mgmt/compute/models/virtual_machine.py`.

[2016-06-24 17:17] techhat commented on #648
#649 addresses both now.

[2016-06-24 17:33] lmazuel commented on #648
Hi @techhat
Thank you for you feedback. However, there is no mistake, "name" is a read_only attribute which cannot be set by the user. To create a network interface, code will look like this (you can see, no need to set `name` in the `NetworkInterface.__init__` method) :

[code]

I don't see mention of the 2.0.0 SDK version here:
https://docs.saltstack.com/en/latest/topics/cloud/azure.html

Are yo

[2016-06-24 17:48] techhat commented on #648
Hi @lmazuel. The Azure doc still refers to the old driver, using the service management stuff. It will be updated once we get our ARM driver stable.

[2016-06-24 17:50] techhat commented on #648
I'm updating my code to remove the `name` attribute for `NetworkInterface`. However, are you also saying that the `name` attribute is read-only for `VirtualMachine` as well?

[2016-06-24 17:54] lmazuel commented on #648
Yes, exactly, you will see that name will be given as methods parameter of the create.

Before (in 1.0 series), you would have been able to do things like this (pseudo-code):
[code]

which was confusing, because the `name` inside `VirtualMachine` was ignored anyway. Now, the models have in their `__init__` methods only the parameters which can be changed by the user.

[2016-06-24 18:00] techhat commented on #648
Thanks @lmazuel, I have my code updated.

[2016-06-24 18:05] #648 closed

[2016-06-24 21:06] prashanthmadi opened #651 "Creating shared access signature for container to upload blobs"
Could you provide a sample to create shared access signature with new version of python SDK.

i'm trying to use my old py code and was getting below error

[code]

Error :
[code]

[2016-06-24 21:16] lmazuel commented on #651
Hi @prashanthmadi

Issue about Storage runtime have to be submitted here:
https://github.com/Azure/azure-storage-python

You will also find a samples folder to help you:
https://github.com/Azure/azure-storage-python/tree/master/samples

[2016-06-24 21:16] #651 closed

[2016-06-24 21:21] prashanthmadi commented on #651
Thanks Laurent.

Below link has a sample for SAS
https://github.com/Azure/azure-storage-python/blob/master/samples/blob/sas_usage.py

[2016-06-24 21:41] prashanthmadi commented on #651
sample GIST : https://gist.github.com/prashanthmadi/91fd0f8a1a8e8cfdfb6a764263297540

[2016-06-24 23:51] derekbekoe opened #652 "'Storage accounts update' operation has required field that should be optional"
`storage_accounts.update` takes a `StorageAccountUpdateParameters` object.
This `StorageAccountUpdateParameters` object takes a `Sku` object.
`Sku` has a name field that is required.

This means to update a storage account, you **have** to set Sku.name which is not the case with the raw REST API.

I've marked this as an issues in the azure-rest-api-specs repo [#370](https://github.com/Azure/azure-

[2016-06-25 06:25] lmazuel commented on #652
Hi @derekbekoe

The Sku name is actually the account_type, see here:
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt/tests/test_mgmt_storage.py#L46

[2016-06-25 06:39] lmazuel commented on #652
Hi @derekbekoe

As you can see here the ''sku"object is optional:
http://azure-sdk-for-python.readthedocs.io/en/latest/ref/azure.mgmt.storage.models.html#azure.mgmt.storage.models.StorageAccountUpdateParameters

If you use "Sku", you have to give a name. But you don't have to use Sku.

Just use something like this and you should be good:
[code]

[2016-06-27 15:09] sfonteneau opened #653 "Result 100 max for list function"
Hello

The list function in " user_operation " returns a maximum of 100 users. Is it done way to return more ?

Thank you

[2016-06-27 16:11] boumenot opened #654 "Release Notes for v2.0.0rc5 has a Broken Link"
This bullet's link is broken.

There is some breaking changes in the Storage client, due to the update the latest API-Version. There is a storage sample with the new version available here: **https://github.com/Azure-Samples/storage-python-manage**

[2016-06-27 17:01] lmazuel commented on #654
Yes, the github account is still private, in review by the documentation team :(. Bad timing.
In the meantime, you could use the unittesting I made to see the change:
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt/tests/test_mgmt_storage.py

I keep this issue opened until they finally move this repository to public "state".
Thank you for the feedback!

[2016-06-27 17:11] derekbekoe commented on #652
Thanks @lmazuel this does indeed resolve the issue.

e.g.
[code]

[2016-06-27 17:11] #652 closed

[2016-06-27 17:34] lmazuel commented on #653
100 is the default number of users on one page, we should automatically fetch the next page using this kind of code:
[code]

We are investigating why it's not working.

Also note that I was about giving you a workaround, but we miss the "top" parameter for that, I open a bug on this in the Swagger repo:
https://github.com/Azure/azure-rest-api-specs/issues/373

At short terms, if you have less than

[2016-06-27 20:11] sfonteneau opened #655 "passwordPolicies"
I find nothing for " passwordPolicies " , is something that we just add ?

https://msdn.microsoft.com/en-us/library/azure/ad/graph/api/entity-and-complex-type-reference#passwordprofiletype

[2016-06-27 20:12] sfonteneau commented on #653
I have more than 999 users.

[2016-06-27 21:50] boumenot opened #656 "RFC: How do you handle different clouds?"
I opened an [issue][1] against the Azure/go-autorest team to better support Azure Stack.  One of the questions was how do other SDKs intend to support Azure Stack.  (I am not sure if this is the right place to log the issue or not.)

The go-autorest library has a [type][2] to encapsulate the various links that are required to support a different cloud environment.  I could not find anything equiva

[2016-06-27 23:04] lmazuel commented on #653
Hi @sfonteneau

There is clearly a bug, I'm working on the exact cause and might link new bugs I'll open in some other SDK core repo here. I'll do my best to give you update.

Thank you,

[2016-06-27 23:35] #612 closed

[2016-06-27 23:41] lmazuel commented on #656
Hi @boumenot

You can do it by changing the `base_url` of each client and overriding the authentication endpoint (or use ADAL 0.3.0 to get the token). However, I agree that it's not convenient.
We have a task in our backlog to support an "Environment". An "Environment" is inspired of what does NodeJS right now:
https://github.com/Azure/autorest/blob/master/ClientRuntimes/NodeJS/ms-rest-azure/lib/a

[2016-06-27 23:49] boumenot commented on #656
Thank you!

[2016-06-27 23:49] #656 closed

[2016-06-27 23:56] lmazuel commented on #655
For what I understand the password policies is fixed on Azure AD:
https://azure.microsoft.com/en-us/documentation/articles/active-directory-passwords-policy/

I'm not an expert in this specific point, you could comment the previous article to ask how to change the password policies for a given tenant in AAD. If this is possible and there is a Rest endpoint for that, we could ask for support.

[2016-06-28 07:03] sfonteneau commented on #655
I'm not an expert.

I may well pass the parameter "passwordPolicies" on this line:
https://github.com/Azure/azure-sdk-for-python/blob/3e80c20b0008ba6004753004be1462f0295c4b1b/azure-mgmt/tests/recordings/test_graphrbac.test_graphrbac_users.yaml#L59

This is a missing parameter " UserCreateParameters " ?

Simon

[2016-06-28 16:19] lmazuel commented on #655
I asked the question to the RestApi spec group: https://github.com/Azure/azure-rest-api-specs/issues/375

[2016-06-28 16:22] lmazuel commented on #618
Close this bug now, feel free to open a new issue if you have another problem!
Thank you!

[2016-06-28 16:22] #618 closed

[2016-06-29 00:18] mckkentmwk commented on #163
Exist some way to retrieved the publics ip of each virtual machine listed of the previous function?

[2016-06-29 00:21] lmazuel commented on #163
Hi @mckkentmwk
This issue was initially about ASM (classic Azure VM). This client is now in the legacy package. Are you talking about the ASM or the new ARM package in preview in 2.0.0RC?

[2016-06-29 00:30] mckkentmwk commented on #163
I do not know exactly in which case I am, I follow this tutorial to install azure https://azure.microsoft.com/en-us/documentation/articles/python-how-to-install/ and those are the versions of the principle libraries that I am using
azure-storage==0.32.0
azure-servicemanagement-legacy==0.20.3

[2016-06-29 00:36] lmazuel commented on #163
As you can see in the tutorial you point, you can install ARM or ASM libraries. On the Azure Portal you should see two kind of VM: classic and current:
![image](https://cloud.githubusercontent.com/assets/1050156/16436887/95e8de36-3d56-11e6-9268-4f66cfa97e8e.png)

If you use "Virtual Machines (classic)", you need the ASM library and azure-servicemanagement-legacy. If you use "Virtual Machines" with

[2016-06-29 00:58] mckkentmwk commented on #163
I want to do the follow:

1.- Create a n(is a parameter of my script in python) virtual machines.
2.- Copy a folder containing a program in C++ to each virtual machine(each machine will run the C++ program with different parameters).
3.- Run it C++ program in each virtual machine
4.- Get the output of each machine and copy it to my script python script

I have gotten create machines with it https:

[2016-06-29 01:10] lmazuel commented on #163
If you don't have constraints on ASM/ARM by a previous existing codebase, I would recommend using ARM, even if the client is still in preview (preview client are not recommended for prod).
You have a sample of ARM for VirtualMachine here:
http://azure-sdk-for-python.readthedocs.io/en/latest/resourcemanagementcomputenetwork.html

Install the preview 2.0.0RC5 client:
http://azure-sdk-for-python.read

[2016-06-30 21:45] krimkus opened #663 "Newly created StorageAccounts are returned with no ID or name"
StorageManagementClient.storage_accounts.create() returns an instance of AzureOperationPoller, which eventually returns an instance of StorageAccount. But, most fields are empty. The account is created and is available in the Portal, but there is no way to fetch additional information about the account from the SDK since there is no name or ID returned to pass to .get_properties().

[2016-07-01 05:43] lmazuel commented on #663
Hi @krimkus
This is a bug with the internal dependencies msrestazure 0.4.0. Please update to 0.4.1 and this should be ok ([ChangeLog in Pypi](https://pypi.python.org/pypi/msrestazure) for reference).
Thank for the report!

[2016-07-01 19:36] lmazuel commented on #653
Hi @sfonteneau

We fixed the bug on our dev branch. The fix will need a new "msrest" and "azure-graphrbac" package to work. We need to do more testing, since the bug is inside the code generator, we need to check that we don't break any other clients by an unexpected side-effect. Monday being an holiday in the US, we might have on official release around Wednesday 6th.
If you wish and are still in

[2016-07-03 04:01] yab-arz opened #668 "azure-storage-blob - sas tokens for azurite container invalid in version 2.1.0"
- **Package Name**:
azure-storage-blob
- **Package Version**:
2.1.0
- **Operating System**:
OSX 10.15.5
- **Python Version**:
3.8
**Describe the bug**
sas tokens generated for files stored in azurite container (`arafato/azurite:2.6.5`) are invalid and container returns 403 response.
For same code and data, but with `azure-storage-blob==1.5.0` valid tokens are generated and data can be accessed.
(s

[2016-07-03 23:46] lmazuel commented on #668
Thank you for you report.
@annatisch any idea? This call is not even an async call. Timeout issue somewhere?

[2016-07-05 14:36] FlavioAlexander opened #669 "Value Error when calling receive_queue_message method"
Hello,

I have been using the azure SDK for some time now. I have never really bothered to look into the codebase until it started throwing a `ValueError` few days ago. The problem comes when calling `receive_queue_message` method which calls other methods. By looking at the code, the error is caused by this line [_create_message](https://github.com/Azure/azure-sdk-for-python/blob/master/azure-ser

[2016-07-05 16:25] annatisch commented on #668
Hi @yab-arz,
I think I may have seen this before but we were never able to reproduce it - can I ask what OS you're running on?

[2016-07-05 17:15] lmazuel commented on #669
Hi @FlavioAlexander ,

Yes, you are not alone :). It's a change in the SB RestAPI. I released the servicebus SDK 0.20.2 to fix this problem:
https://pypi.python.org/pypi/azure-servicebus/0.20.2

[2016-07-05 18:50] FlavioAlexander commented on #669
@lmazuel I am glad to hear that :). By reading the description, it seems I need to upgrade `python sdk` in order to use `azure-servicebus`.

[2016-07-05 19:06] lmazuel commented on #669
@FlavioAlexander Actually just `pip install -U azure-servicebus` should be enough if you have azure >= 1.x. If you use azure < 1.0 (like 0.10), yes, you will have to move to azure 1.0.3 first.

[2016-07-05 19:28] FlavioAlexander commented on #669
@lmazuel Sadly, I am running azure 0.7.1. Well, sooner or later I needed to move to a new version.

[2016-07-05 20:31] lmazuel commented on #669
@FlavioAlexander Moving to 0.11.0 should be easy, this is the same generation of API. You could start with that. It's the last one before 1.0
Moving to 1.0 will require you to read the ChangeLog of the 1.0.0 which describes the update process. It essentially package/module/classes renaming.

I close this issue since I think your initial question is answered. Feel free to open an issue if you have

[2016-07-05 20:31] #669 closed

[2016-07-05 21:02] yab-arz commented on #668
@annatisch , CentOS 7 (Linux kernel 3.10.0-327.18.2.el7.x86_64). We're running under Python 3.5.1.

The order of operations we've been doing in (perhaps rapid succession?) is list_vms() a couple of times, then for each VM execute a get() to get the InstanceView. The entire cycle repeats at most once per minute. It's kind of random as to which get() call the hang occurs. Sometimes it's early in the

[2016-07-05 22:23] annatisch commented on #668
Thanks for this info @yab-arz,
One last request - could you possibly send me the stack trace from a CTRL+C interrupt during a stuck call?
That would hopefully confirm whether this issue is one we've seen before where the endpoint never receives the request but urllib3 is already in recv mode on the socket.

Thanks!

[2016-07-06 02:07] ndenny opened #671 "ServiceBus queue messages sent via azure-servicebus 0.20.2 can't be received by 0.20.1"
I upgraded one half of my project to use 0.20.2 of azure-servicebus, but the other half of my project using 0.20.1 suddenly started failing:
[code]
It seems that the new package is not backwards compatible with the previous version.  Is this expected?

[2016-07-06 03:27] lmazuel commented on #671
Hi,
There is a breaking change in the ServiceBus Rest API that unfortunately forces people to move to

[2016-07-06 21:34] krimkus opened #672 "'disk_size_gb' property is blank for virtual machines"
After fetching virtual machine info using `ComputeClient.virtual_machines.get()`, I always get a null value for `storage_profile.os_disk.disk_size_gb`. Is there an alternate way of getting that property?

[2016-07-06 22:12] yab-arz commented on #668
@annatisch will see if I can get you a stack trace within a couple of weeks. Unfortunately I overwrote the old log, so I'll have to generate a new one when I get a chance.

[2016-07-07 00:29] ndenny commented on #671
Is there some place that these kind of things are announced? I'd like to avoid further surprises.

[2016-07-07 01:15] lmazuel commented on #672
Yes, it seems to be a Rest Api issue. [I had seen this too when I made the sample](https://github.com/Azure-Samples/virtual-machines-python-manage/blob/master/example.py#L174).

I didn't try yet, but I guess it should be possible to do something using the storage mgmt lib.

[2016-07-07 19:16] lmazuel commented on #653
Hi @sfonteneau

We don't forget you, the problem is really complex to solve.
https://github.com/Azure/autorest/issues/1232

[2016-07-07 23:04] lmazuel commented on #473
Actually, this is interesting. For instance, I'm able to build every wheel with this command:
[code]
with no need for a build script (which reduce the number of places where I have to write an explicit list of packages to build).

[2016-07-07 23:04] #473 closed

[2016-07-14 05:31] clarkbreyman-yammer opened #682 "Add generic PATCH support to ResourcesOperations"
azure.mgmt.resource.resources.operations.ResourcesOperations supports PUT via create_or_update but it would be preferable to also support PATCH for resources that benefit from it. One example come to mind immediately: update policies on a KeyVault.

[2016-07-14 23:31] lmazuel commented on #682
Hi @clarkbreyman-yammer

I agree with you, but we need to handle this by adding definition inside the Resources Swagger file. Could you open this issue on the RestApi repo?
https://github.com/Azure/azure-rest-api-specs/issues
Thanks,

[2016-07-18 23:24] rshirani commented on #482
Hey folks,

I have the same issue using C#. I also tried to do what you recommended in this thread but did not work. Any thoughts?

Here is the full exception:

Error: System.AggregateException: One or more errors occurred. ---> Microsoft.Rest.Azure.CloudException: The request content was invalid and could not be deserialized: 'Error converting value "

}" to type 'Microsoft.WindowsAzure.ResourceS

[2016-07-19 00:00] rshirani opened #693 "Unable to deploy uisng ARM template by passing the content of the json file."
Hi folks,

I am trying to do a deployment but rather than passing the TemplateLink and ParametersLink, I'd rather passing the content. When I do so however I get an error as follows. What I do right now is simply loading the content of my template file

        public static Object GetTemplate() {
            return File.ReadAllText( @"E:\OfficialTemp\tmplt.json" ); }

        public static Object

[2016-07-19 00:16] lmazuel commented on #693
Hi @rshirani

I'm always glad to help, but unfortunately I can't answer a C# issue in the Python issue tracker :(
Please submit your issue in the C# Python tracker and the C# expert (who I'm not) will be able to help you:
https://github.com/Azure/azure-sdk-for-net/issues

Thanks and sorry about that,

[2016-07-19 00:16] #693 closed

[2016-07-19 00:25] rshirani commented on #693
OOPS. I actually wanted to post it there. Sorry for the noise. For the record, here is the link: https://github.com/Azure/azure-sdk-for-net/issues/2190

[2016-07-19 09:20] schaefi opened #695 "support for ip association in classic model"
# Problem description

azure-servicemanagement-legacy has no methods to associate / disassociate a reserved ip to a deployment. REST docs: https://msdn.microsoft.com/en-us/library/azure/mt416758.aspx

# Solution

I'm going to add support for that in the SDK which will then be used in
https://github.com/SUSE/azurectl

__Current state of implementation visible here:__

* git clone https://github.com

[2016-07-19 16:11] lmazuel commented on #695
Thank you :)

[2016-07-19 16:18] schaefi commented on #695
If I only can get the recording to work :) I sent you an e-mail about my issue, hope you don't mind

[2016-07-19 22:56] johanste opened #697 "API version should not be generated as a parameter with a default value for operations classes when using composite swagger"
For example, as of rc5, the vm operations class generated for the compute mgmt package (https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-compute/azure/mgmt/compute/operations/virtual_machines_operations.py) has the following definition for the get method:

    def get(self, resource_group_name, vm_name, api_version="2016-03-30", expand=None, custom_headers=None, raw=False, **op

[2016-07-20 00:54] lmazuel commented on #697
Thanks for the bug report :)

Yes, this should be an operation class attribute.

[2016-07-20 01:29] lmazuel commented on #695
@schaefi was a crazy day, sorry for the delay in response, but you were right to send me an email :). I look asap.

[2016-07-20 23:44] lmazuel commented on #654
The link is now public, sorry about the inconvenience, I didn't expect this will last that long... :(

[2016-07-20 23:44] #654 closed

[2016-07-20 23:45] lmazuel commented on #663
Hi @krimkus , could you conform updating to msrestazure 0.4.1 solves the issue?
Thanks!

[2016-07-20 23:46] lmazuel commented on #697
@johanste Could you write your exact needs. I mean, not what it should not be, but what you need in your code :)
I told @annatisch that it was a metadata inspection, is this correct?

[2016-07-20 23:47] lmazuel commented on #695
This PR should allow you to do your testing more easily:
https://github.com/Azure/azure-sdk-for-python/pull/699

[2016-07-20 23:55] lmazuel commented on #682
I have created the issue in the RestApi repository. I close this bug here, when the RestApi issue will be closed, if they add the Patch operation it will be automatically pushed here.
Thanks for the report!

[2016-07-20 23:55] #682 closed

[2016-07-21 00:02] lmazuel commented on #672
Did you figure out a way to get the size?

[2016-07-21 00:15] lmazuel commented on #592
Fixed by https://github.com/Azure/autorest/pull/1300

[2016-07-21 00:15] #592 closed

[2016-07-21 13:06] schaefi commented on #695
Thanks, I merged and rebased my branch so working on top of your changes. However I'm still facing an authentication problem. More details by mail. Thanks for your help

[2016-07-25 21:11] lmazuel commented on #523
This problem is fixed in the 2.0.0 version of the SDK. You can see an example in the official VM sample:
https://github.com/Azure-Samples/virtual-machines-python-manage/blob/master/example.py#L148

Thanks for the report! Feel free to open a new bug if you see something else.

[2016-07-25 21:11] #523 closed

[2016-07-25 22:24] lmazuel commented on #672
Hi @krimkus ,

I got a response from the VM team:

So, it's not a bug, it gives you the initial value you wrote. It might be enough for your situation if you are able to fill it at VM creation. Otherwise, you will have to do it another way. Did you try with the storage mgmt lib?

[2016-07-26 00:38] lmazuel commented on #260
Just had a discussion with the ServiceBus team. For problem around performance and missing features, the current recommendation from the ServiceBus team is to use AMQP instead of HTTP:
https://azure.microsoft.com/en-us/documentation/articles/service-bus-amqp-python/

The ServiceBus team were not able to propose better performance using HTTP, due to HTTP limit.

[2016-07-26 00:38] #260 closed

[2016-07-26 00:40] lmazuel commented on #261
Just had a discussion with the ServiceBus team. For problem around performance and missing features, the current recommendation from the ServiceBus team is to use AMQP instead of HTTP:
https://azure.microsoft.com/en-us/documentation/articles/service-bus-amqp-python/

The ServiceBus team were not able to propose better performance using HTTP, due to HTTP limit.

[2016-07-26 00:40] #261 closed

[2016-07-26 00:41] lmazuel commented on #459
Just had a discussion with the ServiceBus team. For problem around performance and missing features, the current recommendation from the ServiceBus team is to use AMQP instead of HTTP:
https://azure.microsoft.com/en-us/documentation/articles/service-bus-amqp-python/

The ServiceBus team were not able to propose better performance using HTTP, due to HTTP limit.

[2016-07-26 00:41] #459 closed

[2016-07-26 00:42] lmazuel commented on #521
Close this issue due to inactivity and since the suggestion could have solve it.
If you still have an issue, feel free to open a new issue here.
Thanks!

[2016-07-26 00:42] #521 closed

[2016-07-26 00:45] lmazuel commented on #493
Just had a discussion with the ServiceBus team. The current recommendation from the ServiceBus team is to use AMQP instead of HTTP:
https://azure.microsoft.com/en-us/documentation/articles/service-bus-amqp-python/

[2016-07-26 00:45] #493 closed

[2016-07-26 00:47] lmazuel commented on #152
Just had a discussion with the ServiceBus team. For problem around performance and missing features, the current recommendation from the ServiceBus team is to use AMQP instead of HTTP:
https://azure.microsoft.com/en-us/documentation/articles/service-bus-amqp-python/

The ServiceBus team were not able to propose better performance using HTTP, due to HTTP limit.

[2016-07-26 00:47] #152 closed

[2016-07-26 00:48] lmazuel commented on #319
Close this issue due to inactivity. Please feel free to open a new issue if you still experiencing the problem with the latest version.
Thanks!

[2016-07-26 00:48] #319 closed

[2016-07-26 00:49] lmazuel commented on #336
Closing this issue due to inactivity. Please feel free to open a new issue if the problem still persists using the latest version.
Thanks!

[2016-07-26 00:49] #336 closed

[2016-07-26 00:52] lmazuel commented on #509
For ServiceBus, just had a discussion with the ServiceBus team. For problem around performance and missing features, the current recommendation from the ServiceBus team is to use AMQP instead of HTTP:
https://azure.microsoft.com/en-us/documentation/articles/service-bus-amqp-python/

The ServiceBus team were not able to propose better performance using HTTP, due to HTTP limit.

For ServiceManagemen

[2016-07-26 00:52] #509 closed

[2016-07-26 00:56] lmazuel commented on #671
With a fixed APIVersion, the API should not have break :(. I should have nothing to announce, we missed an opportunity to do a perfect integration testing between the RestAPI and the Python SDK. It's the first time it happens since 2012 we launched this SDK...
I'm still sorry, we will do our best for this situation to not happen again. We are not happy about that :(

[2016-07-26 00:56] #671 closed

[2016-07-26 18:05] zfrenchee opened #703 "ImportError: No module named 'msrest'"
Hello Azure developers!

I've just done a fresh install of python 3, then fresh `pip3.5 install azure` and I open up the shell, and do `from azure.common.credentials import ServicePrincipalCredentials` and this is what I get:

	Python 3.5.1 (default, Jan 22 2016, 08:54:32)
	[GCC 4.2.1 Compatible Apple LLVM 7.0.2 (clang-700.1.81)] on darwin
	Type "help", "copyright", "credits" or "license" for more

[2016-07-26 19:55] zfrenchee opened #704 "Can't figure out ComputeManagementClient, documentation is out of date."
To make this simple, here's the code:

	#!/usr/bin/python3

	from azure.common.credentials import ServicePrincipalCredentials
	from azure.mgmt.compute import ComputeManagementClient

	credentials = ServicePrincipalCredentials(
	    client_id = '...',
	    secret = '...',
	    tenant = '...'
	)
	subscription_id = '...'
	compute_client = ComputeManagementClient(credentials, subscription_id)  # line

[2016-07-26 21:23] lmazuel commented on #704
The `latest` documentation points on the 2.0.0RC5 version of the SDK. Since it's a release candidate, you have to install it using the `--pre` flag:
http://azure-sdk-for-python.readthedocs.io/en/latest/#installation

Could then confirm with a `pip freeze` that you are using the 2.0.0RC5 version? We plan to release the stable version which will avoid using `--pre` very soon (this month probably).

[2016-07-26 21:26] lmazuel commented on #703
The documentation you used for this code is using the 2.0.0RC5 version of the SDK. Since it's a release candidate, you have to install it using the `--pre` flag:
http://azure-sdk-for-python.readthedocs.io/en/latest/#installation

If you don't use the flag, you will install the `1.0.3` version which does not have `msrest` in dependencies. We plan to release the stable version which will avoid using

[2016-07-26 22:51] zfrenchee commented on #703
Using the `--pre` flag I get errors:

    Failed building wheel for azure
    ----------------------------------------
    Failed building wheel for azure-mgmt

[2016-07-26 23:27] lmazuel commented on #703
Coud you give the full trace of your `pip install --pre azure` command? And what OS / Python version used?
Thanks,

[2016-07-26 23:33] lmazuel commented on #230
Hi, sorry for the late answer, but we were not expert in HiveSQL :(
The final answer I got from a Python user, is to upload your script with Hive SQL into a storage account blob, and then use WebHCat RestAPI calls (directly with `requests`, since there is no Python SDK) to launch your script.
I hope this helps, feel free to open a new issue if you have a problem.

This might be useful too:
https:/

[2016-07-26 23:33] #230 closed

[2016-07-26 23:37] zfrenchee commented on #703
~/Documents/Fraenkel/fraenkel_galaxy_scripts » pip install --pre azure                [py3env]Alex@Maxs-MacBook-Pro-3
    Collecting azure
      Downloading azure-2.0.0rc5.zip
    Collecting azure-mgmt==0.30.0rc5 (from azure)
      Downloading azure-mgmt-0.30.0rc5.zip
    Collecting azure-batch==0.30.0rc5 (from azure)
      Downloading azure_batch-0.30.0rc5-py2.py3-none-any.whl (275kB)
        100

[2016-07-27 00:03] lmazuel commented on #703
Based on your trace, the installation was still possible anyway and is written `Successfully installed` (` Running setup.py install for azure-mgmt ... done)`

We had problems with wheels building and `azure` and `azure-mgmt` packages with old version of `pip`. Could you try to update your pip and retry?

[2016-07-27 15:08] zfrenchee commented on #703
I'm using 8.1.2, it still gives me the same output.

[2016-07-27 15:36] lmazuel commented on #102
I just have a conversation with the VMDepot team, the service will shut down in a couple of month.

Sorry if we missed the opportunity to provide the VMDepot support during its lifetime. :(

[2016-07-27 15:36] #102 closed

[2016-07-27 16:51] lmazuel commented on #703
I uploaded `azure` and `azure-mgmt` wheel files on PyPI. Should be better now if you could try?

[2016-07-27 18:16] zfrenchee commented on #703
success!

[2016-07-27 18:16] #703 closed

[2016-07-27 22:27] ahmetalpbalkan opened #709 "LICENSE: copyright clause missing"
LICENSE should have

[code]

[2016-07-27 22:46] brettcannon commented on #709
The clause should be on every source file in the repository, making it apply that way.

[2016-07-27 22:47] brettcannon commented on #709
But obviously tossing the clause into `LICENSE` doesn't hurt either.

[2016-07-28 00:00] lyan-git commented on #695
Wonder how the sdk perform the ARM public ip association and disassociation? Please let me know if you have any sample code to reference.

Thanks.
Li

[2016-07-28 21:02] lmazuel commented on #695
For ARM, just use the NIC sdk:
[code]

And thanks @lyan-git for your tests on this ;)

This is the same approach than PowerShell:
https://azure.microsoft.com/en-us/documentation/articles/virtual-network-ip-addresses-overview-arm/#comment-2789018446

[2016-07-28 21:28] bearrito commented on #340
Is it possible to share those changes?

Does the client still not support used generated  as described here - https://azure.microsoft.com/en-us/documentation/articles/service-bus-shared-access-signature-authentication/

[2016-07-28 21:34] lmazuel commented on #340
Here is the sample to connect using SAS:
http://azure-sdk-for-python.readthedocs.io/en/latest/servicebus.html#shared-access-signature-authentication

Tell me if you need something else!

[2016-07-28 22:04] bearrito commented on #340
I had the same question as the OP which was using generated SAS tokens e.g. use the key from the portal to generate something like `SharedAccessSignature sig=<signature-string>&se=<expiry>&skn=<keyName>&sr=<URL-encoded-resourceURI>
`

It looks not supported in this version of the client?

[2016-07-28 23:17] lvh opened #713 "How do you use resource filters?"
I've successfully made a ResourceManagementClient and it can list resources with `client.resources.list()`. I'd like to filter them by type, to e.g. access compute resources. The list method has a `filter` kwarg that looks appropriate, but the docstring/Swagger doesn't explain how to use it.

I've found this document online: https://msdn.microsoft.com/en-us/library/azure/dn790569.aspx which sugges

[2016-07-28 23:22] lvh commented on #713
I have also tried `'type eq "Microsoft.Storage/storageAccounts"'`, with and without quotes, and URL-quoted variants of all of the above.

[2016-07-28 23:25] lmazuel commented on #713
The odata filter is using single quotes:
[code]

[2016-07-28 23:26] lvh commented on #713
Awesome, thanks! Where can I find the full set of available properties? `kind` seems like what I want.

[2016-07-28 23:28] lvh commented on #713
The expression `list(rmc.resources.list(filter="type eq 'Microsoft.Storage/storageAccounts'"))` results in the same aforementioned error.

[2016-07-28 23:29] lmazuel commented on #713
Each service team decides what they want to support, so I recommend looking at the RestAPI documentation of the specific operation you want. Base on the one you gave, it seems that the supported property are `tagname`, `tagvalue` `name`, `location` and `resourceType`.

[2016-07-28 23:43] lmazuel commented on #257
Bug fixed, will be a release in a few days as azure-servicemanagement-legacy 0.20.4

[2016-07-28 23:43] #257 closed

[2016-07-28 23:45] lmazuel commented on #709
You mean it's a problem than the file is called `LICENCE.txt` and not `LICENCE`?

[2016-07-28 23:46] lmazuel commented on #704
Hi @zfrenchee , could we close this bug? If not, could you tell me what do you need to consider this bug fixed?
Thanks!

[2016-07-28 23:50] lmazuel commented on #340
@bearrito ok, understood.
@riccardobecker do you still have the code you used to fix your problem?

[2016-07-29 00:42] ahmetalpbalkan commented on #709
oh nope the copyright clause is missing in license file. But I guess files have it so it's fine, feel free to close.

[2016-07-29 03:08] lmazuel commented on #709
I will soon merge the `dev` branch, where LICENCE is now MIT. And the copyright is in:
https://github.com/Azure/azure-sdk-for-python/blob/dev/LICENSE.txt

It was not on purpose, I admit :p

[2016-07-29 03:09] #709 closed

[2016-07-29 07:10] #704 closed

[2016-08-01 13:58] SattaRavi commented on #482
@huguesv you are a saver, my couple of days of searching ended here with your link to MSDN. (i was trying an inlined template and paramater from the nodejs sdk)

[2016-08-01 19:59] krimkus commented on #663
Yes, that was it. Thanks for the update!

[2016-08-01 19:59] #663 closed

[2016-08-01 20:09] krimkus commented on #672
By 'storage mgmt lib', do you mean the [Azure Storage SDK](https://github.com/Azure/azure-storage-python) or the [Storage Resource Management section ](https://github.com/Azure/azure-sdk-for-python/tree/master/azure-mgmt-storage) of the full Python SDK? I'm assuming you mean the latter, but I have not found that info via either. Do you know what model would provide that info? I don't see any field

[2016-08-01 21:38] lmazuel commented on #713
Hi @lvh

Did you retry using resourceType?
[code]

[2016-08-01 21:39] lmazuel commented on #695
Released in 0.20.4, I authorize myself to close the issue, please tell me if there is something else to add.
Thanks again for the PR!

[2016-08-01 21:39] #695 closed

[2016-08-01 21:47] lvh commented on #713
Hey; sorry -- I wasn't sure that that was an appropriate thing to add for the resolution of this ticket. This was a few days ago, but ISTR that resourceType worked fine. Is there a way to find this in a standardized way other than Googling and hoping for the best?

[2016-08-01 23:02] lmazuel commented on #713
Not really, each service team supports a different set of keyword :(
The best way I recommend is to look at the RestAPI documentation of the given operation you need, since we don't parse the string and send them directly to the RestAPI.

[2016-08-07 23:59] clarkbreyman-yammer opened #728 "Installing dependencies via setuptools fails"
While the pip install method works fine, pip and easy_install are different enough that dependencies are not installed correctly. The symptom is that azure.mgmt and its sub-packages never get created.

To reproduce, setup a virtual environment

[code]

then create file setup.py as:

[code]

Installing as `pip install -e .` works fine. If you destroy and recreate the virtualenv and try:
`./setup.py

[2016-08-08 00:23] clarkbreyman-yammer commented on #728
Also discovered I can't build a wheel via pip then install from that wheel. Makes it hard to build libraries that pull in the azure-sdk transitively.

[2016-08-08 09:08] elemantalcode commented on #644
I seem to have the same problem. I initially did: `pip install azure==2.0.0rc5` and tried to run [https://github.com/ansible/ansible/blob/devel/contrib/inventory/azure_rm.py](https://github.com/ansible/ansible/blob/devel/contrib/inventory/azure_rm.py) but get:

[code]
mrestazure was not installed as a dependency during the initial install of `pip install azure`

Some versioning:
OS: Red Hat Enterp

[2016-08-08 21:00] lmazuel commented on #728
Thanks for the feedback! I will take a look asap.

[2016-08-08 23:47] lmazuel commented on #644
Thanks for the feedback @elemantalcode !

[2016-08-09 23:00] derekbekoe opened #733 "[Key Vault] When creating vault, Sku.family has to be specified"
In https://github.com/Azure/azure-sdk-for-python/blob/dev/azure-mgmt-keyvault/azure/mgmt/keyvault/models/sku.py, Sku.family is marked as optional when it appears the server requires this.

Creating this issue to track https://github.com/Azure/azure-rest-api-specs/issues/462 as the API spec would be the root cause.

[2016-08-09 23:07] lmazuel commented on #733
Thanks @derekbekoe !

[2016-08-10 00:44] lmazuel commented on #713
Hi @lvh
Could we close this issue? Thanks!

[2016-08-10 01:02] lmazuel commented on #672
Hi @krimkus

I make a few tests and find how to handle this (valid for 2.0.0rc5)
[code]

I hope this helps, please tell me what you think about it.

Thanks!

[2016-08-10 01:26] lvh commented on #713
Sure! I mean, it's not really "solved" in the general sense but this isn't a reasonable place to track it :)

[2016-08-10 01:26] #713 closed

[2016-08-10 17:00] derekbekoe commented on #733
Refers to PR https://github.com/Azure/azure-sdk-for-python/pull/736

[2016-08-10 17:02] annatisch commented on #668
Hi @yab-arz,
Just wondering if you were still encountering difficulties here, and if so, whether you were able to dig up any further data/stack trace?
Would love to get to the bottom of why this is happening.

Cheers.

[2016-08-10 19:41] krimkus commented on #672
That works pretty well, thanks. I had to modify it in a few places (in case anyone else uses this example):

The `storage_mgmt_client.storage_account` property should be `storage_mgmt_client.storage_accounts`

Since `storage_mgmt_client.storage_accounts.list_keys()` requires the resource group of the storage account, I had to fetch that. It doesn't appear to be a property of the vm, and not part o

[2016-08-10 20:37] yab-arz commented on #668
Hi @annatisch . Thanks for checking in, and apologies for the radio silence. The workaround (by just not performing the InstanceView query) has been working ok. I'm not sure when I'll be able to touch this again, as I haven't had a chance to get back to it in the face of other deadlines. If we encounter it again I'll definitely remember to send over a trace.

[2016-08-11 14:54] bearrito opened #737 "Unable to parse HTTP header"
Same as:  https://github.com/Azure/azure-sdk-for-ruby/issues/400

[code]

[code]

[2016-08-11 16:42] lmazuel commented on #737
Hi @bearrito

This was supposed to be fixed in 0.20.2 of servicebus (https://github.com/Azure/azure-sdk-for-python/pull/657)
I take a look right now.

[2016-08-11 16:53] bearrito commented on #737
I was running in a virtualenv, maybe I had site packages enabled. I'll double check on my end.

[2016-08-11 16:56] diegoguidotti opened #738 "session enabled queue [serviceBus]"
I am trying to send and receive messages to a queue with sessionID enabled. I am not able to assign a sessionID to the message. I get a 405 code with the following message:

I tried in several way to assign a sessionID to message with no result.

[code]

[2016-08-11 17:23] lmazuel commented on #737
Based on the "line 100", you are using the 0.20.2 version (the fix in 0.20.2 was added line 87, then the previous exception came from line 99). I wasn't able to reproduce it yet, but seems a real problem.

[2016-08-11 17:29] lmazuel commented on #737
I executed exactly the same code (it seems):
[code]
But was not able to reproduce it. Could you confirm the state of your double check?

[2016-08-11 17:35] bearrito commented on #737
Looks fine. I confirmed I had an issue with my virtualenv.

I think this ticket can be closed.

[2016-08-11 17:39] lmazuel commented on #737
Ok, no problem! Feel free to re-open the issue if necessary :)

[2016-08-11 17:39] #737 closed

[2016-08-11 17:47] lmazuel commented on #738
The sessionId has to be defined in the broker_properties header:
[code]

more details about the syntax here:
https://msdn.microsoft.com/en-us/library/azure/hh780742.aspx

[2016-08-11 22:46] #112 closed

[2016-08-11 23:13] lmazuel commented on #340
@bearrito I just tested, using SAS to authenticate with policy to a specific queue/topic works with the existing code. Otherwise I miss something?

[2016-08-11 23:21] lmazuel commented on #107
There is an interface you can use to provide the signature to the request, which is close to the behavior asked here. The class must provide an implementation of the `sign_request` method:

[code]

Then, create the `ServiceBusService` using an instance of this class:
[code]

[ACS implementation](https://github.com/Azure/azure-sdk-for-python/blob/master/azure-servicebus/azure/servicebus/servicebuss

[2016-08-12 12:57] grindthemall commented on #644
Just ran into this same issue.

"pip install msrestazure" corrected the problem for me.

OS: Centos 7.2
PIP: 8.1.2
Python 2.7.5

[2016-08-12 16:10] lmazuel commented on #513
The package 'azure-servicebus' was released yesterday as 0.20.3 with the renew lock feature.
I think it closes this issue, please comment on it if necesseray.
Thank you!

[2016-08-12 16:10] #513 closed

[2016-08-12 16:11] lmazuel commented on #628
The package 'azure-servicebus' was released yesterday as 0.20.3 with the fix.
Thank you for your patience and sorry for the delay!

[2016-08-12 16:11] #628 closed

[2016-08-12 16:27] lmazuel commented on #547
I released yesterday azure-servicebus 0.20.3 with these methods. They don't have exactly the same name, since the Python client has not the same interface, but the purpose is the same:
[code]

Thank you for the feedback!

[2016-08-12 16:27] #547 closed

[2016-08-12 16:27] lmazuel commented on #738
Hi @diegoguidotti do you confirm it's solves your problem?

Thank you

[2016-08-12 17:03] lmazuel commented on #389
Unfortunately it's a limitation on the RestAPI, which does not give the Public IP for "get role":
https://msdn.microsoft.com/en-us/library/azure/jj157193.aspx

We won't be able to fix the problem :(

[2016-08-12 17:03] #389 closed

[2016-08-12 19:33] lmazuel commented on #527
I just released the first preview version of IoTHub Management client:
https://pypi.python.org/pypi/azure-mgmt-iothub

There is no sample yet, but the basic test can help you to start:
https://github.com/Azure/azure-sdk-for-python/blob/dev/azure-mgmt/tests/test_mgmt_iothub.py

The is also IoTHub device SDK for Python, handled directly by the IoTHub team:
https://github.com/Azure/azure-iot-sdks/tre

[2016-08-12 19:33] #527 closed

[2016-08-12 19:34] lmazuel commented on #672
Hi @krimkus

I close this issue, I think we have covered the question, do not hesitate to comment back if you think there is more to say or have any problems with the solution.

Thank you!

[2016-08-12 19:34] #672 closed

[2016-08-12 19:45] lmazuel commented on #539
Hi @catap

Sorry about the very late answer, I wasn't sure about the right answer until recently.

You can create the virtual machine extensions @EfrenRey gave to you using the "virtual_machine_extensions" property of your compute client. This is an example which use the parameters in the previous link

[code]

I hope it helps, please tell me if it answers your question.
Thanks,

[2016-08-12 22:42] lmazuel commented on #728
After looking, I remember now that the setuptools install/develop is using egg install and not wheel (i.e. it downloads the source from PyPI and build an egg). We don't support egg install on the `azure` SDK for Python.
So, you have to use pip and wheel. I might override the "bdist_egg" command in our setup.py to fail explicitly and write a message to explain.

[2016-08-12 23:51] lmazuel commented on #728
Finally found a solution in Python 3 with the help of @brettcannon , thanks to [PEP420](https://www.python.org/dev/peps/pep-0420/). Will do a fix asap.

Otherwise, there is no way to make it work in Python 2.7 with eggs. I will maybe add an error on "bdist_egg" command if Python 2.7 is used.

[2016-08-13 12:13] diegoguidotti commented on #738
Thank you @lmazuel I have just tested now and it works.

Thank you,
Diego

[2016-08-13 16:30] lmazuel commented on #738
Glad to help :)

[2016-08-13 16:30] #738 closed

[2016-08-17 20:49] jerrywiltse commented on #555
The issue is affecting most of the third party SDK's right now, including java.

Situation is best documented here:
https://github.com/Azure/azure-xplat-cli/issues/2698

In short, VM's behave differently than other resources types right now, and it will continue to change.  The metrics for VM's are stored on azure storage tables, which means you have to use a completely different API/library to ge

[2016-08-17 21:29] lmazuel commented on #555
Thank you @jerrywiltse, yes it helps :)

[2016-08-17 22:10] tmarballi opened #745 "Adding public SSH key while creating a VM using ComputeManagementClient issue"
I am working on creating a virtual machine using this logic: http://azure-sdk-for-python.readthedocs.io/en/latest/resourcemanagementcomputenetwork.html#create-virtual-machine. In this I was hard coding the username and password to login until now and it works fine. But now, I want to add my public SSH key while creating a VM to allow login using ssh keys.
All I could find to do that belonged to th

[2016-08-17 22:44] lmazuel commented on #745
Hi @tmarballi

Yes, you can do it. Take a look at the VM sample in Python here:
https://github.com/Azure-Samples/virtual-machines-python-manage/blob/master/example.py#L280

The `os_profile` node should be like this ([taken from here](https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-sshkey)):
[code]
If you don't use the dict syntax, you can still use the model instance:
http:/

[2016-08-17 23:01] tmarballi commented on #745
Great @lmazuel I was not able to find it until now! Thanks a ton! I will try using that!

[2016-08-18 12:55] bearrito commented on #340
So our setup is what is suggested here https://azure.microsoft.com/en-us/documentation/articles/storage-dotnet-shared-access-signature-part-1/

`2. A lightweight service authenticates the client as needed and then generates a SAS. Once the client receives the SAS, they can access storage account resources directly with the permissions defined by the SAS and for the interval allowed by the SAS. The

[2016-08-18 13:08] bearrito commented on #340
Would you guys like that as PR? I've never looked at the contribution guidelines, so not sure what's involved.

[2016-08-18 18:02] tmarballi commented on #745
This worked, so closing this issue! Thanks for your help!

[2016-08-18 18:02] #745 closed

[2016-08-18 20:24] lmazuel commented on #107
Close this one due to inactivity. Please feel free to open a new issue or re-comment here if you think my latest comment does not response to the bug.
Thanks!

[2016-08-18 20:24] #107 closed

[2016-08-24 05:15] solvingJ commented on #555
Finally got an example working in Java/Groovy thanks to some help on StackOverflow.

[http://stackoverflow.com/questions/39112101/java-8-time-equivalent-of-net-datetime-maxvalue-ticks/39112535?noredirect=1#comment65572581_39112535](url)

In short, from a /metricDefinition result, you can take the : partition key , table name, sasToken, and tableEndpoint.  With those, you can construct most of the

[2016-08-24 15:44] vaibhavparnalia opened #749 "resources.create_or_update returns 'Bad Request'"
I hope I got the documentation right. I am trying to iterate though resources.list() and update the resource tags. However I am getting an error while using create_or_update method.

[code]

Sample output:
[code]

I put some print statements in resources_operations to debug.
`body_content`:  `{'tags': {'hidden-related:/subscriptions/****-***-****-****-********/resourcegroups/Build/providers/Micros

[2016-08-24 16:01] brettcannon commented on #749
The main developer is on vacation for the rest of the week, but I wanted to let you know this bug report has not gone unnoticed by the team.

[2016-08-24 23:13] annatisch commented on #749
Hi @vaibhavparnalia,

I've just tried out your code on a couple of other resources (specifically storage account and batch account) and the code appears to run successfully (the new tag is added).
The body content also looks to be accurate to my knowledge....

This makes me wonder if it's some combination of resource type + api version.
I'll keep digging :)

Have you be able to perform successful

[2016-08-24 23:24] vaibhavparnalia commented on #749
Hi annatisch,

I just solved the issue, there is a possible bug in the source.

I tried to pass the parameters like the document suggested, it works.

[code]

But using parameters=resource does not work. Looking at the error from response.__dict__ in the azure\mgmt\resource\resources\operations\resources_operations.py create_or_update method, it throws "Message":"The parameter properties has an in

[2016-08-24 23:24] #749 closed

[2016-08-24 23:32] annatisch commented on #749
@vaibhavparnalia,
Thanks so much for your perseverance here! And good to hear that a workaround was found. :)
"properties" is not marked as a "required" property, nor does the API specification provide a default value for it.
I will take a look as to whether this problem was caused because either a) this particular provider handles resources differently or b) all services should require the "prope

[2016-08-25 00:55] vaibhavparnalia opened #751 "resources.create_or_update returns 'Bad Request' for Microsoft.Web/serverFarms"
Hello,

I had created an issue https://github.com/Azure/azure-sdk-for-python/issues/749 and found a workaround with the snippet:
[code]

There is similar issue with the resource.type Microsoft.Web/serverFarms, which returns

The error message from response.___dict___ being: **"Message":"The parameter SKU cannot be null.**

Can you please suggest a similar workaround? The request does not accept 's

[2016-08-25 20:59] annatisch commented on #751
Thanks @vaibhavparnalia, I'll take a look.
I believe SKU is usually represented as a string, so you should try setting as an empty string as a quick workaround, however I think it usually needs to be one of a discreet set of values...

Does this mean that the serverFarms resource returned from the .list() command does not contain any SKU information?

[2016-08-28 23:58] c-n-d opened #755 "azure 1.0.3 is not compatible with requests >= 2.11.0"
Hi Team,

It seems that `azure==1.0.3` and `requests>=2.11.0` are incompatible. The code sample below successfully executes with  `requests==2.10.0`.

[code]

[code]
Please let me know if you need any additional information.

Thanks!

[2016-08-29 01:21] bbayles commented on #755
The relevant change in requests is documented [here](https://github.com/kennethreitz/requests/blob/master/HISTORY.rst#2110-2016-08-08), and was implemented in [requests PR 3390](https://github.com/kennethreitz/requests/pull/3390).

[2016-08-29 14:52] lmazuel commented on #755
Hi @c-n-d @bbayles

Yes, the package `azure-mgmt-resource` 0.20.x you use is not compatible with requests 2.11.0. [I already had a conversation with the requests team on this.](https://github.com/kennethreitz/requests/issues/3477)

Note that this version of this package was released as a preview package only ([see the "This is a preview release" section on PyPI](https://pypi.python.org/pypi/azure-

[2016-08-29 15:01] lmazuel commented on #751
Hi @vaibhavparnalia

Did you try the [azure-mgmt-web client](https://pypi.python.org/pypi/azure-mgmt-web/0.30.0rc5)? It contains the server_farms create_or_update method, [as you can see in this unittest](https://github.com/Azure/azure-sdk-for-python/blob/dev/azure-mgmt/tests/test_mgmt_apps.py#L35).

Sku is a mandatory parameter for ServerFarm. But I agree that since there is no RestAPI documentat

[2016-08-29 22:56] tmarballi opened #756 "Private IP allocation for multiple VMs"
Hi,
I am using the sdk to create multiple vms under the same resource group. The code for the same is as below. Despite of choosing the method of private ip allocation as dynamic,  it somehow seems to assign the same IP  for example :'10.1.0.4' to all the VMs. That does not work for my application as it uses private IPs to communicate internally amongst the multiple nodes. Also giving the address

[2016-08-29 22:58] lmazuel commented on #756
Hi @tmarballi

Could you confirm which version of the SDK you use?
Thanks!

[2016-08-29 23:00] tmarballi commented on #756
@lmazuel The latest one and that is 2.0.0rc5 I believe!

[2016-08-30 00:46] lmazuel commented on #756
I just retested and it works just fine, if you provide the same subnet id for all the NIC you want in the same subnet.
Could you share the code that creates two VMs? Just to be sure you use correctly the same subnet id.

[2016-08-30 01:44] tmarballi commented on #756
So I should be using the same network interface across VMs? I think I tried that before and I got an error while creating a VM because it said that this subnet / virtual network is already in use with another resource sort of an error. The code I attached above is a method called create_network_interface and I create a new network interface for each VM. Do you have any example of how the same subn

[2016-08-30 02:27] lmazuel commented on #756
Not the same network interface, the same subnet id.

Create your Virtual Network and your Subnet, and then use the same "subnet" object for each Network Interface you create.

[2016-08-30 02:29] tmarballi commented on #756
Gotcha! I will try that and let you know! Thanks for your help!

[2016-08-31 20:54] tmarballi commented on #756
Using the same Subnet object worked perfectly! Thanks a ton! Closing this issue!

[2016-08-31 20:54] #756 closed

[2016-09-01 20:56] lmazuel commented on #539
Closing this issue for inactivity. Feel free to add a comment or open a new bug if necessary!
Thanks!

[2016-09-01 20:56] #539 closed

[2016-09-02 00:28] lmazuel commented on #733
Fixed in 0.30.0rc6: https://pypi.python.org/pypi/azure-mgmt-keyvault/0.30.0rc6
Thanks!

[2016-09-02 00:28] #733 closed

[2016-09-02 00:29] lmazuel commented on #697
Fixed in 0.30.0rc6: https://pypi.python.org/pypi/azure-mgmt-compute/0.30.0rc6
Thanks!

[2016-09-02 00:29] #697 closed

[2016-09-02 19:21] andreicolta commented on #620
hi guys,

I have the same issue, my code looks like:
usage_list = commerce_client.usage_aggregates.list("2016-09-01T00:00:00Z", "2016-09-02T00:00:00Z", "true", "Hourly" )

print(usage_list)

But output is looking like:
<azure.mgmt.commerce.models.usage_aggregation_paged.UsageAggregationPaged object at 0x1044cc898>

Anyone has any ideas ?

Thanks,
Andrei

[2016-09-02 19:26] rockypandalu commented on #620
Hi, I think you need to print usage_list.next()

[2016-09-02 19:27] rockypandalu commented on #620
Hi andreicolta, I think you need to print usage_list.next()

[2016-09-02 19:33] andreicolta commented on #620
hi,

Seems it works, at least the output is empty, no error.
If you do not mind can you point to the right direction to doc, and why usage_list.next()?

Thanks a lot for your help.

Andrei

[2016-09-02 19:35] rockypandalu commented on #620
Then I think lmazuel is the right person to answer this question, I just manage to make it work in my project

[2016-09-02 20:08] lmazuel commented on #620
Hi @andreicolta

`list` methods always return an [iterable object](https://docs.python.org/3/glossary.html#term-iterable). The string representation is not available, since the object if using lazy loading: while your iterate on it it will call the Azure RestAPI only if necessary (when you reach the end of the current JSON answer). This is best for memory consumption.

Basic usage in then:
[code]

[2016-09-03 18:11] ianleaman opened #763 "ValueError: could not convert string to float: 'max-age=31536000'"
When running the example code from docs I get an error in the azure/servicebus/_serialization.py file.  The package I am using is: azure.servicebus.

It is attempting to turn the string value "max-age=#" into a float in a check which triggers the error. I got the error in the first minute of following the Azure tutorial for the python SDK.

The line that triggers the error is:
`
msg = bus_service.

[2016-09-04 18:27] lmazuel commented on #763
Hi @ianleaman,

This is fixed in ServiceBus release 0.20.2 (current is 0.20.3). Just update your package with `pip install -U azure-servicebus`
Release note:
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-servicebus/HISTORY.rst

Thanks,

[2016-09-05 14:28] andreicolta commented on #620
hi,

Thanks for guiding, however i get in return something like this:
/subscriptions/${subscription_number}/providers/Microsoft.Commerce/UsageAggregates/Daily_BRSDT_20160903_0000
/subscriptions/${subscription_number}/providers/Microsoft.Commerce/UsageAggregates/Daily_BRSDT_20160903_0000

Do you know what this means ? and how i can get the data correctly ?

Thanks,
Andrei

[2016-09-06 01:40] ianleaman commented on #763
Thanks for the quick response i'll update the package.

[2016-09-06 01:40] #763 closed

[2016-09-06 15:55] lmazuel commented on #620
Hi @andreicolta ,

I wrote `item.id` as an example, the item instance you got is an [UsageAggregation](http://azure-sdk-for-python.readthedocs.io/en/latest/ref/azure.mgmt.commerce.models.html#azure.mgmt.commerce.models.UsageAggregation) instance.

[2016-09-06 20:57] lmazuel commented on #755
Hi @c-n-d @bbayles

Another solution I didn't write is to force your dependencies to use requests 2.10. You can write something like this in a `requirements.txt` file
[code]

I wrote a more detailed page on our readthedocs website about the packages status
http://azure-sdk-for-python.readthedocs.io/en/latest/installation.html

I close this issue, since we will not fix ARM packages 0.20.x that were

[2016-09-06 20:57] #755 closed

[2016-09-06 20:58] lmazuel commented on #751
Hi @vaibhavparnalia

Could we close this issue, or could you tell me how I can help you more?
Thanks!

[2016-09-07 20:02] christonog opened #767 "Compile error when attempting to install azure 2.0.0rc5 on a CentOS based AWS machine"
I tried to install the azure python SDK 2.0.0rc5 on an AWS linux machine. The machine OS is the Amazon linux flavor, based off of CentOs. AMI Id is "ami-f5f41398." We will be using AWS running Ansible to manage servers on other cloud providers, such as Azure.

I tried installing azure 2.0.0rc5: ```pip install "azure==2.0.0rc5"``` as recommended here:

http://docs.ansible.com/ansible/guide_azure.ht

[2016-09-07 20:27] lmazuel commented on #767
It seems pip has some difficulties to identify the platform tag of your machine, since it downloads the source code of cryptography and tries to compile it, instead of downloading one of the wheel files that does not require compilation. Updating pip might help. You can also download the right wheel on [PyPI](https://pypi.python.org/pypi/cryptography) and install it prior to the SDK installation.

[2016-09-09 17:54] BurtBiel opened #769 "[Generic Update] Filter doesn't work in some cases"
az vmss update -n myvmss9 -g myvmsss --set virtualMachineProfile.extensionProfile.extensions[name=VMAccessForLinux].protectedSettings={}

Expected: commands succeeds
Actual: Error: item with value 'VMAccessForLinux' doesn't exist for key 'name' on extensions

[2016-09-09 17:55] BurtBiel commented on #769
whoops, wrong repo

[2016-09-09 17:55] #769 closed

[2016-09-09 18:02] BurtBiel opened #770 "Scaleset create_or_update doesn't include protected settings object"
ext = VirtualMachineScaleSetExtension(...protected_settings=protected_settings...)
vmss.virtual_machine_profile.extension_profile.extensions.append(ext)
client.virtual_machine_scale_sets.create_or_update(resource_group_name, vmss_name, vmss)

Expected: vmss extension has its protected settings saved
Actual: protected settings are empty

Note: the extension is successfully added, but the protected

[2016-09-09 18:15] lmazuel commented on #770
Hi,

Not sure I get it, where are the protected settings missing? in the create_or_update return object?

[2016-09-09 19:17] BurtBiel commented on #770
It was missing from the return object, which I think is actually by design.  Our issue looks to be further upstream, so I will look to the service teams to resolve this issue instead.  Sorry for the false alarm.

[2016-09-09 19:17] #770 closed

[2016-09-09 19:19] lmazuel commented on #770
No problem :)

[2016-09-10 20:31] taylorsmcclure opened #774 "[Feature Request] Add azure.common.credentials.UserPassCredentials() to Accept AD OAuth with MFA"
According to the [docs](http://azure-sdk-for-python.readthedocs.io/en/v2.0.0rc5/resourcemanagementauthentication.html#using-ad-user-password) I cannot login AD users with MFAs enabled. Wanting to keep up with security best practices I don't have any accounts without MFA to use with my application.

For the purposes of my use case we are not using pre-shared keys with the application, this should w

[2016-09-11 20:20] lmazuel commented on #774
Hi @taylorsmcclure
+ @brettcannon

We are currently looking to replace authentication with the official Azure lib [ADAL](https://github.com/AzureAD/azure-activedirectory-library-for-python).
I think what you ask will be covered by this library. If it doesn't not, could you open an issue on the ADAL tracker to explain your situation?

[2016-09-12 20:47] taylorsmcclure commented on #774
Hey @lmazuel

Thanks for the response! Just skimming over ADAL it looks like I could get this to work well with my use case. As far as implementation goes, if I don't want to wait would modifying the Azure Python SDK require a sizable code change? Is this something that could be easily completed in my own fork?

Thanks again!

[2016-09-12 20:59] lmazuel commented on #774
Once ADAL gave ou a token, you should be able to create a credentials instance this way:
[code]

[2016-09-13 16:17] lmazuel commented on #767
Hi @christonog could you confirm this unlocked you?
Thanks!

[2016-09-13 16:19] lmazuel commented on #751
Hi @vaibhavparnalia
I'm closing this issue due to inactivity, feel free to comment on it again if you need more help or open a new issue for anything you encounter.
Thanks!

[2016-09-13 16:19] #751 closed

[2016-09-13 21:40] lmazuel commented on #241
Also found a problem with six, indirect dependency of the SDK:
https://bitbucket.org/gutworth/six/issues/135/have-a-fallback-for-sys_getframe-usage-in

[2016-09-14 20:17] lmazuel commented on #653
Hi @sfonteneau

We finally were able to fix this one. It was a design issue that needed several layers to be fixed, it's why it took so much time.
Release [0.30.0rc6](https://pypi.python.org/pypi/azure-graphrbac/0.30.0rc6) has the fix.

Update instructions:
* You can create a new venv installing `azure-graphrbac` 0.30.0rc6,
* Directly update `azure-graphrbac` to 0.30.0rc6 and `msrest` to 0.4.4 in

[2016-09-14 20:17] #653 closed

[2016-09-14 20:29] lmazuel commented on #45
The first one will be covered in ARM (package `azure-arm-servicebus` to come), the three others don't exist anymore even in the "classic" RestAPI:
https://msdn.microsoft.com/en-us/library/azure/hh780749.aspx

[2016-09-14 20:29] #45 closed

[2016-09-16 17:35] prburgu opened #786 "TypeError while creating VirtualNetworkGateway"
I'm getting "TypeError: 'PublicIPAddress' object is not iterable" while creating VirtualNetworkGateway. Here is the stacktrace.

[code]

Changing the following line in azure/mgmt/network/models/virtual_network_gateway_ip_configuration.py seems to resolve the issue.

from

[code]

to

[code]

[2016-09-16 22:03] lmazuel commented on #786
Hi @prburgu
Thank you for the feedback!
@annatisch could you check if this is an Autorest issue? Otherwise open a RestAPI issue?

[2016-09-16 23:06] annatisch commented on #786
@lmazuel,
This is potentially an issue in dict->model conversion for serialization... though I'm having some trouble tracking it. Or at least it's this method that's tripping up... but I don't think the model is generated incorrectly. At least, this type syntax is used for quite a few clients presently without (apparent) problems.

@prburgu - When making this call, are you instantiating each model

[2016-09-17 00:09] prburgu commented on #786
I'm making the call by instantiating each model class explicitly, something like this. The create_public_ip() makes the call to public_ip_addresses.create_or_update() and gets the result.

[code]

[2016-09-19 15:25] piter50 opened #788 "Getting cannot parse the request exceptions when trying to create an NSG"
I have been trying to create an NSG with the API, but for some reason, I am getting the CloudError: cannot parse the request.

I have a function to read and display existing NSGs in the subscription which works fine so I know it's not an authentication issue.
My API user has the Network Contributor role, but I also tested with it as owner so I don't think it's a permissions issue.

First i set up

[2016-09-19 21:02] annatisch commented on #786
@prburgu, @lmazuel,
okay - looking at that and inspecting the client, I've changed my mind and think this might be related to the spec. I will post an issue there for clarification and update this issue based on the feedback :)

[2016-09-19 22:49] lmazuel commented on #788
Hi @piter50

I tried exactly your parameters, and I'm not able to reproduce it (on `azure-mgmt-network` 0.30.0rc6). Could you confirm which version of `azure-mgmt-network` + `msrest` + `msrestazure` you use?

Also, CloudError has a `message` attribute, could you output the content of it?

FYI @annatisch

[2016-09-20 13:01] piter50 commented on #788
The message attribute is also
Message Cannot parse the request.

azure-mgmt-network (0.30.0rc6)
msrest (0.4.3)
msrestazure (0.4.2)

[2016-09-20 19:00] lmazuel commented on #788
I copied/pasted your code and called it this way:

[code]

and I am still unable to reproduce it :(

[2016-09-20 19:09] lmazuel commented on #788
The error you got is a denied from the RestAPI, so this is unlikely a Python problem, but it does not mean I can't help you to figure out the problem :)
Could check here:
https://azure.microsoft.com/documentation/articles/virtual-networks-nsg/

If you follow all instructions (naming convention, conflict, etc.). You might have just a bad error message from the RestAPI for a simple problem.

[2016-09-20 21:41] lmazuel commented on #767
Closing due to inactivity. Please re-comment here or open a new issue if you still have problems with that.
Thanks!

[2016-09-20 21:41] #767 closed

[2016-09-20 21:47] christonog commented on #767
@imazuel Oddly didn't get the notifications for this issue. Will check out the link and report back.

[2016-09-20 22:49] colemickens opened #793 "recommended_vm_size is not populated"
I'm using `azurectl` to publish an image, but I'm having issues with the `recommended_vm_size` field.

It never seems to be populated. You can see here:
https://github.com/SUSE/azurectl/blob/d903d0fe24d03332a4fda178dcaf117105932687/azurectl/instance/image.py#L295

All they're doing is grabbing the os_image object returned by the python-sdk and passing through the values.

This makes me think that

[2016-09-20 22:51] colemickens commented on #793
For example, in PowerShell:

`Get-AzureVMImage -ImageName "rhel-68-20160914"` returns an object with a field `RecommendedVMSize : Standard_D2,....`

But if I make this call through `azurectl`, the field is empty because the python SDK is returning the field as empty.

[2016-09-20 22:54] colemickens commented on #793
The only test I see for this is:

`        self.assertGreaterEqual(len(image.recommended_vm_size), 0)`

which will pass even if the `recommended_vm_size` field is empty...

[2016-09-20 23:05] colemickens commented on #793
If I put a `pprint.pprint(vars(response))` here: https://github.com/Azure/azure-sdk-for-python/blob/c0e7da5389a96b2ce17ea7813b8504381c377c80/azure-servicemanagement-legacy/azure/servicemanagement/servicemanagementclient.py#L366
 and put pretty print the results of the `parse_response`... I can clearly see the XML element is populated, but the field on the object returned is not.

[2016-09-20 23:45] colemickens opened #794 "`show_in_gui` updates do not take effect"
Similar to #793 but different...

I have now put a debug line on the `_perform_put` in the service management client.

I can see that the XML is what I'd expect:

[code]

But the ShowInGui value for the image isn't actually updated. Is it possible there's an ordering problem here for the values inside `<OSImage>`?

[2016-09-20 23:53] colemickens commented on #794
Yikes. It is the xml element ordering... wow.

Please transpose the lines 1203/1204 of [_serialization.py](https://github.com/Azure/azure-sdk-for-python/blob/32a8f678fe0899200f88aeb89195d02f5ea71697/azure-servicemanagement-legacy/azure/servicemanagement/_serialization.py#L1203) to resolve this issue.

[2016-09-21 01:48] lmazuel commented on #794
Hi @colemickens
Thanks for the PR! I agree that this is not really beautiful... This is one of the reason the [ASM RestAPI of Azure](https://msdn.microsoft.com/en-us/library/azure/jj157198.aspx) is now replaced by ARM...

I merge your PR and keep this issue opened until I published the package on PyPI

[2016-09-21 01:53] lmazuel commented on #793
Thanks for the feedback! If you have the oppourtunity to do a PR, would be awesome! Otherwise, I will check that tomorrow.
Thanks again!

[2016-09-21 02:05] colemickens commented on #794
Yes, it's replaced by ARM which completely lacks image publishing APIs entirely...

[2016-09-21 02:06] colemickens commented on #794
Anyway, thanks for merging the fix. Also, the issue auto-closed when you merged my PR because of the commit text.

[2016-09-21 16:47] colemickens commented on #793
I spent a while on this yesterday afternoon and couldn't figure out where the bug in the deserialization was. I'm hoping someone more familiar with python and the python SDK will be able to spot it :).

I'm already clobbering my python-sdk install with a fork so I can adopt any fixes and test them quickly.

[2016-09-21 16:59] lmazuel commented on #793
Hi @colemickens
I'll see what I can do, I'll let you know :)

[2016-09-21 17:29] piter50 commented on #788
The NSG name is unique per the subscription (which is a new Subscription), no funny characters.  I even tested changing the name of the NSG and security rules to short all caps names and still the error persists.  The API access as mentioned is Network Contributor.  location is northeurope.

[2016-09-21 18:50] lyan-git opened #797 "Deleting deployment in a resource group doesn't delete the resources in the deployment"
I opened this issue #585 regarding a while ago and we still feel strongly that resource_client.deployments.delete() should delete the resources under the deployment just as delete resource group does .
We have a case where we have a vnet that contains a load balancer with multiple gateways attached to it. The load balancer and the gateway need to be within one resource group. So we have a resource

[2016-09-21 19:52] lmazuel commented on #794
I made more tests on the method, will add another PR with more small fixes before publishing.

[2016-09-21 23:26] lmazuel commented on #797
Hi @lyan-git

Unfortunately, I can't help you right now, this is not really a Python issue :(
I can cite here the same people as in #585 if you like, to still continue the discussion. And send your issue by email at the ARM team.
Thanks, sorry to be not really helpful....

[2016-09-21 23:28] lyan-git commented on #797
Thanks Laurent! I couldn’t find a way to reopen that case, seems I didn’t get the response back, wonder if there is another category I can open the case.

Li

From: Laurent Mazuel [mailto:notifications@github.com]
Sent: Wednesday, September 21, 2016 4:26 PM
To: Azure/azure-sdk-for-python <azure-sdk-for-python@noreply.github.com>
Cc: Li Yan <lyan@aviatrix.com>; Mention <mention@noreply.github.com>

[2016-09-21 23:33] lmazuel commented on #797
On Github, you can open the issue here: https://github.com/Azure/azure-rest-api-specs
It will be cross-language and not Python specific, and easier to get the right person to answer.

[2016-09-21 23:43] lyan-git commented on #797
Will do, thanks! You can close this issue then.

Li

From: Laurent Mazuel [mailto:notifications@github.com]
Sent: Wednesday, September 21, 2016 4:34 PM
To: Azure/azure-sdk-for-python <azure-sdk-for-python@noreply.github.com>
Cc: Li Yan <lyan@aviatrix.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for-python] Deleting deployment in a resource group doesn't delete the resou

[2016-09-21 23:52] lmazuel commented on #797
Ok, thank you for your support!

[2016-09-21 23:52] #797 closed

[2016-09-22 19:50] BurtBiel opened #798 "Listing nics for a scale set throws an error"
NetworkInterfacesOperations.list_virtual_machine_scale_set_network_interfaces

This throws error:
No registered resource provider found for location 'westus' and API version '2016-06-01' for type 'virtualMachineScaleSets/networkInterfaces'. The supported api-versions are '2015-05-01-preview, 2015-06-15, 2016-03-30, 2016-04-30-preview'. The supported locations are 'eastus, eastus2, westus, centralu

[2016-09-22 22:02] krimkus opened #800 "Proxy values unable to be passed to ServicePrincipalCredentials"
I am unable to create an instance of ServicePrincipalCredentials when I am behind a proxy. I can set proxy values on the various resource management client classes before they attempt to make an API call, but I can't create the necessary credentials first.

Since ServicePrincipalCredentials connect via urllib, I believe the only option is to set global environment variables like HTTP_PROXY, which

[2016-09-22 22:08] lmazuel commented on #798
Thanks for the report, I will wait for https://github.com/Azure/azure-rest-api-specs/issues/570 fix to publish a new package. I'll close this issue at that time.

[2016-09-22 22:10] lmazuel commented on #800
Hi @krimkus, thanks for the feedback. We are currently replacing the tech code behind by [ADAL](https://github.com/AzureAD/azure-activedirectory-library-for-python). I think this might help for some scenario like this one.
@yugangw-msft could you confirm (or not) if ADAL handle this case?

FYI @annatisch @brettcannon

[2016-09-22 22:14] krimkus commented on #800
That sounds great, thanks for the quick response. I'll keep an eye on when ADAL gets integrated, but feel free to update/close this issue if things change.

[2016-09-22 22:28] #793 closed

[2016-09-22 22:28] #794 closed

[2016-09-28 15:02] piter50 commented on #788
I figured it out. In my create security rule function,  I was doing id=name, but should have been doing name=name.  Once I amended that it created right away.

[2016-09-28 15:02] #788 closed

[2016-09-30 12:25] spiperac opened #809 "Update to rc6 Serializer(client_models)"
when i updated to the latest version of SDK, i started getting this error.
[code]

[2016-09-30 13:13] spiperac commented on #809
updating msrestazure also resolved this issue, my bad.

[2016-09-30 13:13] #809 closed

[2016-10-05 17:05] boumenot opened #811 "Constructing a BlockBlobService with a Management URL"
This is mostly an issue about (my) user error.  I am trying to understand the best way to construct a BlockBlobService with a management URL.

I construct a ServiceManagementService client like so.

[code]

I want to construct a BlockBlobService, but based on the constructor arguments I cannot find a good way to just pass in the management_url.  There are parameters for custom domain and endpoint_

[2016-10-05 17:20] lmazuel commented on #811
Hi @boumenot

BlockBlobService is a feature of the azure-storage package, [see sample here](https://github.com/Azure/azure-storage-python/blob/master/samples/blob/block_blob_usage.py).

The ServiceManagementService will just allow you to create the storage account that will host this blob service. To that purpose, I suggest you to use `azure-mgmt-storage` more than `azure-servicemanagement-legacy`

[2016-10-05 17:27] boumenot commented on #811
I am stuck using the old APIs because I am publishing extensions.  All of our auth is via a management certificate, and I do not believe there is a way to use the new APIs with a management certificate.  SPNs are the replacement, but straddling both worlds is difficult with just certs.

I find the samples to be very useful, thanks!

I know you make a distinction between the SDK, and Storage, but I

[2016-10-06 17:41] yugangw-msft commented on #811
One option is to use service principal with certificate, check out the sample [here](https://github.com/AzureAD/azure-activedirectory-library-for-python/blob/dev/sample/certificate_credentials_sample.py). Yes, you do need to configure a service principal. With that you can acquire tokens through adal. Python SDK does take a bearer token, so things will be plumbed through.
For reference, below I me

[2016-10-06 18:03] boumenot commented on #811
This is great!  Thank you @yugangw-msft!

[2016-10-06 18:03] #811 closed

[2016-10-07 13:53] gitralf opened #814 "[Feature Request] national cloud support"
would be nice to have a way to get this running in national clouds like China or the new Microsoft Cloud Germany. There seem to be many hardcoded "windows.net" in the code where a cmdline switch (or Environment like in PowerShell) would really help...

[2016-10-10 18:40] lmazuel commented on #814
Hi @gitralf
Actually, it's not hardcoded at all (but I agree a tutorial could help to figure this out). You can change all the BaseUrl for all component.

- Authentication: I suggest you to use [ADAL](https://github.com/AzureAD/azure-activedirectory-library-for-python) to get the token.
- Service: You can change the "base_url" parameter when you create the client. For instance, the parameters sect

[2016-10-10 22:44] Fale opened #815 "Merge all packages in a single pypi package (for real)"
Having tens of pypi packages that are kind of united but not really makes it very difficult to package it in distros, please fix it (also because due to how python includes works there is no real advantage in doing a huge amount of small packages)

[2016-10-10 23:29] lmazuel commented on #815
Hi @Fale

Thanks for the feedback, but we do not plan to merge all packages into one.
Each endpoint is managed by different service team that didn't have the same deadlines. For instance, it's not because the Batch team made a breaking change, that it's worth updating a big package including Compute and Resources. Actually, most of our users are using 2 or 3 packages (like Compute+Network) and don

[2016-10-11 03:42] xingzhougmu commented on #644
@lmazuel
I install Azure Python SDK from the git source, but running into the same issue when "import azure.mgmt.redis"

I use the following commands to install SDK for Python**3.5**
git clone git://github.com/Azure/azure-sdk-for-python.git
cd azure-sdk-for-python
python**3** setup.py install

[2016-10-11 08:58] Fale commented on #815
@lmazuel thanks for the answer. Debian is not the only distro out there. I'm trying to understand if the Debian approach is feasable for us as well or not

[2016-10-11 09:41] CalvinHartwell commented on #815
+1 for Fale's issue

The code base is more like an SDK of individual SDK(s) rather than a single SDK with many classes?

[2016-10-11 16:10] lmazuel commented on #815
Thanks @CalvinHartwell for your comment :)

@Fale I agree that the cross language point is not interesting, let's forget I said that :)

I cited Debian as an example because it's recent work for us, but I know there is more distro, RHEL, CentOS, Suse, ArchLinux etc (Mandriva when I was young...). Please be sure I keep an open-mind here and I'm very interested in the conversation (I really do).

Wh

[2016-10-11 16:30] Fale commented on #815
The current implementation has 3 problems from my point of view:

1. You put a huge amount packages in the same repo. I get that this approach has some advantages, but is exactly the opposite of git and python best practices and common practices
2. Every single package has it's own release cycle (and therefore version number), so the azure one, is not a real meta package but an installer.
3. If th

[2016-10-11 17:18] lmazuel commented on #815
@Fale To discuss, let's assume I merge everything into one package. Botocore is using meta-descriptions of RestAPI "on the fly", we use our meta-descriptions to _generate_ Python code, which takes more place on disk. Our biggest package (Web) is currently doing 4Mb. On average package are 3Mb sized. This means that 40 services of Azure, we can estimate the `azure` package to reach 120Mb. We plan t

[2016-10-11 17:52] lmazuel commented on #815
@Fale Also, why can't you put inside one rpm file several python packages at the same time? Is there some technical limitation somewhere, or is it just non conventional?

[2016-10-11 18:26] Fale commented on #815
Not be be read in a bad way, but your point is that your code is bloated and for this reason is better to split it? This argument is not very strong, I think...

About the fact of putting more python packages in the same rpm is against the policy in many cases, also in the specific case is not possible (technically speaking) due to the fact that a pa page has a single version and all azure package

[2016-10-11 18:52] lmazuel commented on #815
If you have a strong equivalence `azure 2.1.2` == `azure-mgmt-resource 0.40.0` + `azure-mgmt-compute 0.35.0` and so on, why don't you create a `python3-azure` package 2.1.2? There is no ambiguity, no cheating, and you have a single version to use. It's the approach used by Debian, and I don't see where it's against any policy? Really, I'd like to understand your point, but I'm not seeing the techn

[2016-10-11 18:56] lmazuel commented on #815
@rjschwei @bear454 @schaefi, would you like to share your point of view for Suse?
@irl, would you like to share your point of view for Debian?

[2016-10-11 21:55] Fale commented on #815
Fedora guidelines force us to package things as much as possible "as the upstream" does.

So, currently I should do the following packages:

- python?-azure 2.1.2
- python?-azure-mgmt-resource 0.40.0
- python?-azure-mgmt-compute 0.35.0
- etc

Can I create the package python?-azure 2.1.2 that ships all files of the other modules? No
Why?

1. It violates the "stick to what upstream does" policy
2. I

[2016-10-11 22:16] rjschwei commented on #815
So originally we also struggled with the issue of many Python packages vs. one rpm package which is why we opened the other issue and it took us a while to wrap our head around how to approach this. We finally decided to basically follow the Python package strategy.

So what we have today are 2 packages https://build.opensuse.org/project/show/Cloud:Tools?search=azure, python-azure-sdk and python-a

[2016-10-11 22:24] derekbekoe commented on #815
Referencing related issue created for Python CLI which also has separate packages - https://github.com/Azure/azure-cli/issues/1055

[2016-10-11 22:34] irl commented on #815
From the Debian perspective, I am ignoring PyPI and packaging from the Git repo. The idea that in the future there will be changes to the individual packages which will then be released via PyPI and not git tags breaks this. If the releases of all the core modules (i.e. the ones in this repo) are synchronised it makes everything a lot easier for me, and I guess for other distros too.

[2016-10-11 22:50] lmazuel commented on #815
Thanks @rjschwei and @irl !
So, in summary, what I understand is as long I create some checkpoint as tags in the repo, you're good to package the current Github state as "tag" version number. I can publish on PyPI new packages for a specific service if available, but it will be sync as a Linux package only when I release a new version of the "azure" meta-package (with a new associated tag on Githu

[2016-10-11 23:12] Fale commented on #815
It will be long and painful, but I can make it work with the policies. Thanks

[2016-10-12 08:04] schaefi commented on #815
yes this makes packaging work much easier. The same code base referencing
that release tag should also exist on pypi. In my projects that happens
automatically see:

    https://docs.travis-ci.com/user/deployment/pypi

yes and it should be possible to make this an automatic step

Regards,
Marcus

[2016-10-12 08:46] irl commented on #815
@Fale fwiw - "do what upstream does" doesn't have to mean PyPI as PyPI is a downstream distribution of the upstream, there's no reason not to package up the sources from Git (possibly my Debian-oriented frame of reference). I have one source package, but plan to build one binary package for each of the logical PyPI packages within that.

@lmazuel That's perfect for me (:

@derekbekoe This would wo

[2016-10-12 09:21] Fale commented on #815
@irl: I think I'll go the github way too. We do this for many situations :). I'll go for one src.rpm and multiple rpms, but even having a single src.rpm package, it will be a fairly complex spec to be able to generate all the various sub packages properly considering files and versions etc

[2016-10-12 09:26] irl commented on #815
@Fale I will just be shipping everything with the version number of the metapackage. Subcomponents may have differing versions, but they're all part of the larger "unified" release.

[2016-10-12 09:35] Fale commented on #815
@irl How do you manage packages dependencies that depends on the subcomponents? ie: https://github.com/Azure/azure-cli/blob/master/src/azure-cli-core/setup.py#L49

[2016-10-12 09:39] irl commented on #815
@Fale If there's a tagged unified release in git and the dependencies don't line up, then Microsoft has done a terrible job at release management. I don't anticipate this happening often.

[2016-10-12 09:42] Fale commented on #815
@irl Microsoft point is that they want to have different version numbers to be able to have different development cycles for the various parts of the code, so I anticipate this happening often going forward

[2016-10-12 09:47] irl commented on #815
@Fale yes, between releases it may be broken and not all lined up, but the metapackage needs to be released with everything lined up otherwise it will never be installable, so the idea would be to package in distributions when, and only when, the metapackage sees a release and the git repo is tagged.

[2016-10-12 09:47] Fale commented on #815
Also:

- people could "cherry pick" an update and break the other
- other packages (non-Microsoft) could depend on Microsoft code

[2016-10-12 09:53] irl commented on #815
@Fale not through the package management system they can't, and it's not a bug in your system if they've done something to break it. I fully anticipate other packages depending on the sdk, I have vagrant-azure in Debian depending on the Ruby SDK, and I'm quite happy to continue supporting this. I've had to patch the crap out of it to get it to work with the latest SDK, but as a distribution packag

[2016-10-12 10:55] Fale commented on #815
A couple of points and then I'll stop with this since we are going OT:

1.  Since Microsoft is new, is even more important to discuss with them "how open source works", so that they can understand it before doing errors
2. I can compromise and accept extra work, I will not compromise and accept to break Fedora dependencies

[2016-10-12 11:15] irl commented on #815
@Fale I think we're aggressively agreeing with each other perhaps. The important thing is that there are releases of the metapackage that have all the dependencies working together nicely.

To summarise my view:

- Releases get tagged in the git repo
- When a release is tagged, all the modules will work together
- Distributions will update packages when a metapackage is released
- It is expected t

[2016-10-12 16:14] lmazuel commented on #815
Thank you for your contributions, it really matters :). I agree with latest @irl comment.

In full transparency, the next possible breaking change might be for Azure Stack support in the SDK in a few months. I will bump a major version for every packages at the same time, and keep it in a parallel branch in preview as long I'm not sure than Ansible and others folks I'm in contact with are not read

[2016-10-14 13:45] Fale commented on #815
I was trying to package this repo as suggested by @irl  and @rjschwei and I noticed a problem with a circular dependency with this approach:

azure (aka this repo) depends on azure-storage which depends on azure-common (aka this repo).

How have Debian and Suse manage to make this work?

[2016-10-14 13:58] irl commented on #815
In Debian, we have an unstable distribution where we can have things that have broken dependencies. In practice, building python-azure (as we call this repo) does not depend on python-azure-storage, only running it. We can upload python-azure and python-azure-storage and our tools will automatically move these to the testing distribution (currently stretch) when all the dependencies line up.

[2016-10-14 14:06] rjschwei commented on #815
You can see our spec file here:

https://build.opensuse.org/package/view_file/Cloud:Tools/python-azure-sdk/python-azure-sdk.spec?expand=1

and as mentioned we do have a separate package for storage, the specfile is here:

https://build.opensuse.org/package/view_file/Cloud:Tools/python-azure-sdk-storage/python-azure-sdk-storage.spec?expand=1

[2016-10-14 14:20] Fale commented on #815
@irl thanks

@rjschwei do you have some king of "auto-generating" dependencies? Because I don't see any dependency declaration to the other package on those two spec files

[2016-10-14 15:09] schaefi commented on #815
the azure storage api does not depend on the azure service management api.
Thus python-azure-sdk and python-azure-sdk-storage do not have a dependency
on each other. Our python-azurectl utility however depends on a specific
min. version of the storage and servicemanagement api in order to work
correctly with the sdk features azurectl uses

[2016-10-14 16:38] lmazuel commented on #815
Back in the day, we (the Python team) made the first `azure-storage` package, so it was on this repo. When it was obvious that we had some performance issue and that storage drove a lot of specific questions, the storage team took ownership directly to improve it drastically and be more responsive. This implies that the "azure-storage" package is close to our package structure and use our meta-pac

[2016-10-15 21:32] Fale commented on #815
@schaefi it seems like azure-sdk-storage depends on azure-common (https://github.com/Azure/azure-storage-python/blob/master/setup.py#L68) which is in this repo.

@lmazuel the majority of distribution do not accept multiple git repos as source of a single package, so the azure-storage can not be provided by the same source package of the python-sdk. As @irl suggested, it would be possible to build

[2016-10-17 10:15] eiliven opened #820 "Service Buse Queues: More robust message receiving"
It would be nice if message receiving was more robust. Specifically it would be nice if it was resilient to changes in the Service Bus implementation.

Currently _create_message() in _serialization.py is vulnerable to changes in the Service Bus, similar to what happened around 25.june 2016 when the 'strict-transport-security' header was added. This particular case was fixed with commits 97f97ce35d

[2016-10-17 16:37] lmazuel commented on #820
Hi @eiliven

I agree that this part of the code is fragile and needs to be re-think.
Thanks for the feedback

[2016-10-17 16:45] lmazuel commented on #815
Ok, so I guess the best approach is to leave `azure-storage` in it's own package. `azure-storage` needs `azure`, but we can cut the opposite link (`azure` does not really need `azure-storage`, no code is using it in any package). This avoid you circular link.
I think in the long-term the dependency of `azure-storage` on `azure-common` will disappear. `azure-common` is used only for legacy code now

[2016-10-17 19:04] bear454 commented on #815
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

On Mon, 2016-10-17 at 09:45 -0700, Laurent Mazuel wrote:

Is "legacy code" here used in the generic way, or are you specifically
referring to ASM ?

- --
James Mason
Technical Architect, Public Cloud
openSUSE Member
SUSE
jmason@suse.com
-----BEGIN PGP SIGNATURE-----

iQEcBAEBCAAGBQJYBSCxAAoJEBs5UYhsRJAjxHIH/i9sKqGEE1r5G8n1tdl8FKqj
R1/btmovLYRKst1tUX

[2016-10-18 12:33] Fale commented on #815
@lmazuel the dependency dropping would solve this circularity problem :)

[2016-10-18 16:13] lmazuel commented on #815
@bear454 I mean "no ARM", so ASM + `azure-servicebus`.
All common libraries for ARM are in msrest/msrestazure packages.

[2016-10-28 09:28] 4c74356b41 opened #837 "Role_Assignments.Create breaks Azure Portal"
Also i seems that Create method doesn't accept a name and asks for a GUID, while it should, as there is a create_by_id method?

[code]

The working one (I created a random guid, is that how I am supposed to do that?)
'5f721e88-2cce-4cf4-a425-f19397d7277b' - my new random guid

[code]

so it works, but in the portal:
![_](https://cloud.githubusercontent.com/assets/16194643/19801959/ffa9b314-9d09-11

[2016-10-28 15:39] cristian-medina opened #838 "Looking for a better way to do things on behalf of another subscription"
If I have multiple Azure accounts and multiple subscriptions, and I'm trying to manage all of these with the same backend application using this SDK, I need to go into each subscription and perform the following steps to retrieve the highlighted information:
- Go to the Azure Portal and create a new App Registration.
- When that is complete look at the details of the application and get the **appl

[2016-10-28 20:19] lmazuel commented on #837
Hi @4c74356b41, thanks for the feedback.
@yugangw-msft did you try this scenario in the CLI? What do you think?

[2016-10-28 20:21] lmazuel commented on #838
Hi @cristian-medina thanks for your feedback!

@yugangw-msft what do you think here?

[2016-10-28 20:23] 4c74356b41 commented on #837
well, from powershell it works just fine, as from the cli.

[2016-10-28 20:27] lmazuel commented on #837
@4c74356b41 there is two CLI:
- https://github.com/Azure/azure-cli based on this Python SDK
- https://github.com/Azure/azure-xplat-cli based on NodeJS

@yugangw-msft is working in the Python CLI, he might have see your scenario before, it's why I'm asking his expertise.

[2016-10-28 20:29] 4c74356b41 commented on #837
oh, i've never even knew that there's the python cli

[2016-10-28 21:12] yugangw-msft commented on #837
That is correct.
FYI, check out the cli's [code logics](https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py#L157)
Also make sure you use the correct scopes, for a resource group if should be `/subscriptions/11111111-2222-3333-4444-555555555555/resourceGroups/mygroup`

Hope this helps

[2016-10-28 21:27] toddysm opened #839 "Missing dependencies after installation"
`pip install --pre azure` does not pull all the dependencies. After installation it still asks for `msrest` and `msrestazure`

[2016-10-28 21:36] lmazuel commented on #839
Hi @toddysm
I close this one because it's a duplicate of this one:
https://github.com/Azure/azure-sdk-for-python/issues/644

There is a random issue with pip, sometimes it doesn't follow the 'extra_requires' as it should. Didn't found an easy workaround for now. :(

[2016-10-28 21:36] #839 closed

[2016-10-28 21:37] yugangw-msft commented on #837
then use `/subscriptions/11111111-2222-3333-4444-555555555555`

[2016-10-28 21:38] 4c74356b41 commented on #837
'/subscriptions/SUB_GUID' i used it?

[2016-10-28 21:39] yugangw-msft commented on #837
correct

[2016-10-28 21:43] 4c74356b41 commented on #837
ok, but, the question is, is this a bug or did i do something wrong, and the guid\name question? why doesn't it accept name?

[2016-10-28 22:08] yugangw-msft commented on #837
If this is still the code you are using, based on the snapshot you later posted, your code is correct. I don't work on the portal, but I can guess other invalids assignments w/o user name might interfere. Can you remove all of them and retry the code snippet?

[2016-10-31 12:39] 4c74356b41 commented on #837
I'm sorry, but I don't entirely follow. I'm assigning this role to a single Azure AD Group that is present on the system. Can't you just try to reproduce this? It should take you like 1 minute...

[2016-10-31 13:31] 4c74356b41 commented on #837
well, turns out I cant reproduce it either :) I guess it was a temporary problem. Right now everything works great.

[2016-10-31 13:31] #837 closed

[2016-10-31 13:39] 4c74356b41 commented on #837
but the guid bug is there

[2016-11-01 13:40] jpc2350 opened #842 "ResourceNotFound"
Hi, I have a copy on my Mac of the Python-SDK (azure.mgmt.compute0.30RC6) I'm trying to create a script that queries the Instance_view.statuses.Displaystatus, however in doing this - I require the Resource_Group_Name.
When i run list_all i get the results expected (all the VM's, in the resource group named Testing), when I query the resource groups, I only see one - as expected (Testing) but when

[2016-11-01 16:14] tstringer opened #843 "InvalidGrantError when signing in"
Using the `UserPassCredentials` class, I instantiate it with the correct username and password of a user in my AAD. Trying to use these credentials (or any credentials in my AAD), I get the following error:

For what it's worth, all of the users I'm testing with are outlook.com email addresses/users.

Any thoughts on the cause and resolution of this?

[2016-11-01 16:20] lmazuel commented on #843
Hi @tstringer
@yugangw-msft Any ideas?

[2016-11-01 16:29] lmazuel commented on #842
Hi @jpc2350 , could you share some exact code sample? Listing VMs by resource groups is available and we don't know any problem. This is an example:
https://github.com/Azure-Samples/virtual-machines-python-manage/blob/master/example.py#L208

Thank you,

[2016-11-01 17:20] tstringer commented on #843
@lmazuel @yugangw-msft Thanks for the quick response! Digging through the source, I then tried using the `BasicAuthentication` class. That got me further! But looks like another issue with the auth header in the request:

[2016-11-02 19:38] yugangw-msft commented on #843
The outlook account belong to MSA, so called Microsoft account , and regular username-password flow represented by `UserPassCredentials` will not work. You need to use [device flow](https://github.com/AzureAD/azure-activedirectory-library-for-python/blob/dev/sample/device_code_sample.py), or create an org-id in your tenant (make sure do not turn on multi-factor authentication)

[2016-11-03 10:21] jpc2350 commented on #842
Hi @lmazuel , I think I have fixed the issue now, although I'm not sure how exactly.
I was querying compute_client.virtual_machines.list(resource_group_name) and compute_client.virtual_machines.get(resource_group_name, VM_NAME) in the following code:

`for vm in compute_client.virtual_machines.list_all():
    VM_NAME = vm
    resource_group_name = testing
    compute_client.virtual_machines.get(re

[2016-11-03 13:59] #842 closed

[2016-11-04 21:25] tstringer commented on #843
@yugangw-msft Thanks for the reply! Is this specific to *just* MSAs? So in other words, we would just use the `AADTokenCredentials` class just for MSA auth?

[2016-11-05 03:16] yugangw-msft commented on #843
`AADTokenCredentials` is a wrapper around access tokens which were acquired for accounts through more advanced libraries such as adal-python. Under this context, there are 2 accounts you should consider, the MSA we talked about, or federated accounts which AAD sync from on-premise ADFS servers, including those '@microsoft.com' ones

[2016-11-07 15:30] Gopalvenu opened #857 "Network Metrics"
Hi ,

I need to collect network bandwidth usage for all vm machines in azure. How can i get that using python?
Any sample code is there?

Thanks,
Gopal.

[2016-11-07 17:38] lmazuel commented on #857
Hi @Gopalvenu ,

This is a feature included in [Azure Monitor](https://azure.microsoft.com/en-us/blog/announcing-the-public-preview-of-azure-monitor/).
We are working on two packages "azure-monitor" (get the actual data) and "azure-mgmt-monitor" (create monitor account, set alerts, etc.)

I close your bug since there is already an issue about metrics and this package: https://github.com/Azure/azur

[2016-11-07 17:38] #857 closed

[2016-11-07 18:35] Gopalvenu commented on #857
Hi lmazuel,

Thanks for your update. I will wait for this feature. Let me know once get completed.

Thanks,
Gopal.

[2016-11-17 05:50] gossion opened #889 "should specify the compatible version of 'requests' package"
pip package of 'reqeusts' has latest verion [2.12.1](https://pypi.python.org/pypi/requests/2.12.1) released, which will be installed by `pip install azure`, but I got an error in my environment like this:
[code]
By changing to 'reqeuests' v2.11.1, the error is gone. So my conclusion is that requests v2.12.1 is not compatible with azure sdk.
From [requirements.txt](https://github.com/Azure/azure-sd

[2016-11-17 18:44] lmazuel commented on #889
Hi @gossion
Thanks for your feedback! You stacktrace is from the `azure-storage` package, which is managed by the Storage team directly (not the general Python team). Could you create your issue on the storage tracker here? https://github.com/Azure/azure-storage-python. Only them can fix their part. Please cite this issue as well.

I will check all the SDK hosted here, and keep your issue opened t

[2016-11-17 19:40] lmazuel commented on #889
Seems to be a requests problem: https://github.com/kennethreitz/requests/issues/3701

[2016-11-18 05:58] gossion commented on #889
Hi @lmazuel
Thanks for reply. Yes, the traceback is from `azure-storage`, but `requests` and `azure-storage` packages are installed by `pip install azure`.

From this [requirements.txt](https://github.com/Azure/azure-sdk-for-python/blob/master/requirements.txt) file, I do see that `requests` does not have a compatible version defined. I am not sure if this `requirements.txt` is used for dependency

[2016-11-18 16:53] lmazuel commented on #889
Hi @gossion
Actually, the requirements.txt at the root is using for general testing only. [We started to rename these files to dev_requirements.txt](https://github.com/Azure/msrest-for-python/blob/master/dev_requirements.txt). The `azure` meta-package itself does not requires external dependencies. In your situation, you use the [install_requires](https://github.com/Azure/azure-storage-python/blob

[2016-11-19 13:49] ncksol opened #890 "Getting 400 error when trying to send a service bus message with broker properties"
I am trying to send a message to my service bus and I need to populate Label property of that message.
Here is a snippet of my code:
[code]

What I  am getting is an Azure error:
The value '{'Label': 'testtest'}' of the HTTP header 'BrokerProperties' is invalid.

Am I missing something or is this a bug?

[2016-11-20 05:18] irwinwilliams opened #891 "When I tried to install using 'pip install azure' it failed due to permissions"
This is the failing step:
/usr/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/x9/h92pwc1n7t5bcrtkykty1smm0000gq/T/pip-build-W2o1IO/azure/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /var/folders/x9/h92pwc1n7t5bcrtkykty1smm0000gq/T/pip-cJ8bvj-record/install-re

[2016-11-21 01:38] gossion commented on #889
Thans @lmazuel  for clarification. I already have a workaround in my application.
Since there is no need to change for this SDK, I will close this issue.

[2016-11-21 01:38] #889 closed

[2016-11-21 16:41] lmazuel commented on #891
Hi @irwinwilliams

When using `sudo`, you explicitly ask for root access. I guess then than `sudo pip install azure` would have work the same way than `sudo python setup.py install`.
I can't tell you why you local command does not work. However, common practice in Python is to use a [virtual environment](http://docs.python-guide.org/en/latest/dev/virtualenvs/) to install packages, to avoid this ki

[2016-11-21 16:52] lmazuel commented on #890
Hi @ncksol
`broker_properties` is one HTTP header only and takes a string, not a dict. [See SB doc for reference.](https://msdn.microsoft.com/en-us/library/azure/hh780742.aspx#Anchor_0). It's not for personal data, but for advanced parameters.
Custom properties ([called Message Properties in the current doc](https://msdn.microsoft.com/en-us/library/azure/hh780742.aspx#Anchor_1)), take a dict. I th

[2016-11-21 16:54] lmazuel commented on #843
Hi @tstringer ! Did the answer @yugangw-msft give to you enough or have you something else to confirm? Could we close this issue? :)
Thanks!

[2016-11-21 16:56] ncksol commented on #890
Hey @lmazuel
Thanks for that link. I will try with a string.
The reason I am populating broker properties is because I've noticed that it contains "Label" property and Microsoft Flow allows me to access "Label" of a message from Azure Service Bus. I've assumed that's the same "Label".

[2016-11-21 16:59] lmazuel commented on #890
@ncksol I don't if this is the same Label, but seems a good guess :)
There is also a broker_properties unit test [here](https://github.com/Azure/azure-sdk-for-python/blob/master/azure-servicebus/tests/test_servicebus_servicebus.py#L366).

[2016-11-21 17:01] ncksol commented on #890
@lmazuel cheers! If it's not the same label, than I'll go bug Microsoft Flow people =D
Thanks for your help.

[2016-11-21 17:01] #890 closed

[2016-11-21 17:24] tstringer commented on #843
Yep, let's go ahead and close this issue for now. I haven't had the chance to try out @yugangw-msft's recommendations (also a **super big thank you** to @yugangw-msft for the assistance!!! 😄 ), but if it doesn't resolve then I can reopen.

Thanks, all! 👍

[2016-11-21 17:24] #843 closed

[2016-11-22 22:27] thiezn opened #892 "TypeError whilst creating virtual_network_peerings"
When trying to establish a peering between two vnets using network_client.virtual_network_peerings, it fails during serialization of the virtual_network_peering_parameters.

[code]

I could not find any [tests](https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt/tests/test_mgmt_network.py) related to virtual_network_peerings so I'm not sure if this was working properly before. Tri

[2016-11-22 23:32] lmazuel commented on #892
Hi @thiezn

You're right, I didn't find the time yet to do the VNet Peering samples. [Looking at the documentation](http://azure-sdk-for-python.readthedocs.io/en/latest/ref/azure.mgmt.network.models.html#azure.mgmt.network.models.VirtualNetworkPeering), the right syntax is:
[code]
Could you test this and tell if this solve your serialization problem?

I'm pretty confident that the underlying code

[2016-11-22 23:38] robotechredmond commented on #838
@cristian-medina Thanks for your feedback! We'll pass this along to the Azure engineering team that managed RBAC for review.  In the meantime, there's a similar pattern that can be built for performing something similar to IAM roles using Azure AD + Azure Key Vault.  Here's a link to more details: http://www.dushyantgill.com/blog/2015/04/26/say-goodbye-to-key-management-manage-access-to-azure-stor

[2016-11-23 07:51] thiezn commented on #892
Thanks for the swift reply @lmazuel.
I tested it and works like a charm, my apologies for not reading the docs well enough.

[2016-11-23 07:51] #892 closed

[2016-11-23 18:21] lmazuel commented on #892
@thiezn Glad to hear it's working :)
Don't apologize, documentation should be straight or exception should be clearer at least. Thanks for the feedback!

[2016-11-23 22:06] yugangw-msft commented on #838
@cristian-medina, not close to the iam roles you prefer, but hope it gets your existing work flow easier with azure.  I suggets you checkout [azure-cli](https://github.com/Azure/azure-cli), particularly the following command
1. `az ad sp create-for-rbac`: will do all your portal configuration work, plus you can create any number of assignments at the same time
2. In the help of 'create-for-rbac',

[2016-11-23 22:12] yugangw-msft commented on #800
Apologize for such a long delay. ADAL itself doesn't have any specific logic to handle proxy, rather the `requests' package or maybe the `urllib` underneath handles it. I did test it works with proxy though.

[2016-11-23 23:35] lmazuel commented on #555
Hi all,

I'm glad to announce the first beta release of the [azure-monitor](https://pypi.python.org/pypi/azure-monitor/0.1.0) package to access in Python:
- Activity log
- Metrics of ARM resources (if resource compatible)
- Quotas of ARM resources (if resource compatible)

(Azure Monitor is the new name of Azure Insights.)

I published a quick sample to help start on this [here](http://azure-sdk-f

[2016-11-25 03:09] Gopalvenu commented on #555
Hi,

Thanks for the info. Is this possible to get the memory usage from azure ?

Thanks,
Gopal.

[2016-11-25 21:50] alexvicegrab opened #897 "Getting IP address of virtual machines"
I'm trying to get a list of virtual machines and their IP addresses (so as to be able to SSH to them, etc.), as per:

    azure_subscription = os.environ['AZURE_SUBSCRIPTION']
    azure_email = os.environ['AZURE_EMAIL']
    azure_password = os.environ['AZURE_PASSWORD']

    # Connect to account
    credentials = UserPassCredentials(
        azure_email,  # Your user
        azure_password,  # Your

[2016-11-25 22:42] alexvicegrab commented on #897
Ended up doing something like this:

    network_client = NetworkManagementClient(
        credentials,
        azure_subscription,
    )

    # Unfortunate and convoluted way of obtaining public IP of selected instance
    ni_reference = instance.network_profile.network_interfaces[0]
    ni_reference = ni_reference.id.split('/')
    ni_group = ni_reference[4]
    ni_name = ni_reference[8]

    ne

[2016-11-28 17:48] cristian-medina commented on #838
@yugangw-msft this command does reduce the number of steps required, thanks.

Took me a bit to realize that whatever I pass as `--name` maps to the `client_id` when using `ServicePrincipalCredentials` in python to login, and that I can use the `password` from the response as the `secret`. This was mostly because the parameters are different from what you get if creating things through the UI.

[2016-11-28 18:05] lmazuel commented on #897
Hi @alexvicegrab

Unfortunately, you're right, this is the only way to get the actual PublicIP, since the VM is hosted by the Compute provider and the IPs by the Network provider. This is a limitation of the RestAPI:

- [Get a VM](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines#VirtualMachines_Get) to get NIC
- [Get Public IP id from the NIC](https://msdn.microsoft.com/en-us/libr

[2016-11-28 18:07] lmazuel commented on #891
Hi @irwinwilliams
Could you confirm that your issue is solved?
Thank you,

[2016-11-28 18:09] lmazuel commented on #668
Hi @yab-arz
It seems we're not able to reproduce the issue anymore. Are you ok to close the issue?
Thank you,

[2016-11-28 18:54] yab-arz commented on #668
Hi @lmazuel
Yes, we can close the issue. Thanks!

[2016-11-28 19:25] yugangw-msft commented on #838
@cristian-medina, we might have terminology inconsistency between cli and sdk. `--name` gets mapped to `APP ID URI` you saw in portal. This value and `CLIENT ID` (essentially the `APP ID`)  both are in the the array of `servicePrincipalNames` in the core graph project, and you can use either one, along with `secret` (named as `password` in cli) to acquire a token.
Hope this clarifies.

[2016-11-28 20:50] lmazuel commented on #555
Hi @Gopalvenu
I asked the Monitor about your question:

I hope this helps,

[2016-11-30 22:25] makhdumi opened #902 "Implement Send Message batch for Service Bus"
Unlike Receive Message, there _is_ an API for [batch Send Message](https://msdn.microsoft.com/en-us/library/azure/dn798894.aspx).

Please consider implementing this, or allowing a pull request for it. While using AMQP was recommended in [#459](https://github.com/Azure/azure-sdk-for-python/issues/459) for high-performance because of HTTP limits, it's a massive pain to just install the AMQP Proton b

[2016-12-01 17:11] lmazuel commented on #902
Hi @makhdumi

We totally allow PRs, you don't have to ask first :). Improving the HTTP SB package is unfortunately not a priority, but if you can provide a PR I will be happy to review and discuss, and release a package asap after that.
If I find time in near future to do so, I will try, but I cannot promise anything.
Thank you,

[2016-12-01 17:42] lmazuel commented on #774
Hi @taylorsmcclure

I included yesterday a wrapper to ADAL for simple use with the SDK. See documentation on RTD:
http://azure-sdk-for-python.readthedocs.io/en/latest/quickstart_authentication.html#using-adal

This allows you to use any ADAL tutorials and to get a `Credential` instance you can use directly inside any package. This requires only to update `msrestazure` to 0.4.5.

[2016-12-01 17:43] lmazuel commented on #814
Hi @gitralf

Just wanted to add that for the ADAL part, there is now official simple support:
http://azure-sdk-for-python.readthedocs.io/en/latest/quickstart_authentication.html#using-adal

[2016-12-01 17:46] lmazuel commented on #555
I close this issue for now, since the initial question about "metrics as a package" is solved. Do not hesitate to open a new issue for more specific questions on the package features or issues found.
Thank you,

[2016-12-01 17:46] #555 closed

[2016-12-01 17:49] lmazuel commented on #525
I think I can close this issue, since the discussion went further in the #815 issue, and I think it's a better reference now.
Feel free to still comment on this one if I'm wrong.
Thank you!

[2016-12-01 17:49] #525 closed

[2016-12-02 18:52] tmarballi opened #905 "Using AzureOperationPoller to poll for status"
I am working on the code to create Virtual Machine Scale sets by the following method:
_result = compute_client.virtual_machine_scale_sets.create_or_update(resource_group, scale_set_name, vm_scale_set)_

Now the result of that is an AzureOperationPoller instance, I was initially using the 'done' method to sleep until the creation of the scale sets but somehow it does not work well for me now, beca

[2016-12-02 19:06] tmarballi commented on #905
Using the 2.0.0rc6 SDK version

[2016-12-02 19:07] lmazuel commented on #905
Hi @tmarballi

On an `AzureOperationPoller`, the only two operations you want to call are `wait` or `result`.

- `wait` : poll until the async operation is finished and return None (usually for async DELETE)
- `result` : poll until the async operation is finished and return the object (usually PUT/PATCH)

If you are in a situation where one of these methods return, but the operation is actually no

[2016-12-02 19:09] lmazuel commented on #891
I close this issue for inactivity. Please feel free to still comment on it if necessary.
Thank you,

[2016-12-02 19:09] #891 closed

[2016-12-02 21:23] tmarballi commented on #905
@lmazuel : Thanks for your response, I was able to use wait and result the way you mentioned. I did not have any trouble with the operation not being don as I had faced with the 'done' method.

[2016-12-02 21:25] tmarballi commented on #905
Another question I had @lmazuel and I hope you don't mind me asking within this same ticket.

With scalesets, how can I associate atleast one VM with a public IP, because for my purposes I need one of the VMs to be the entry point and after that rest can talk amongst themselves using private IP.

[2016-12-03 00:28] lmazuel commented on #905
@tmarballi I'm not a VMSS expert, but this might help you:
https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-overview#vm-scale-set-scenarios

@gbowerman do you know the response to this question? Thanks :)

[2016-12-04 00:08] gbowerman commented on #905
@tmarballi @lmazuel you could create a an inbound NAT pool which maps a range of incoming ports on the load balancer to a destination port on the scale set VMs. If you only wanted a subset of VMs to be reachable you could define a limited range or use a network security group to limit incoming ports (there may be other ways to limit it but these are the first that come to mind).

[2016-12-06 17:58] tmarballi commented on #905
Thanks @gbowerman @lmazuel ... I was able to follow your instructions and create the load balancer. So closing this issue! Thanks for your help!

[2016-12-06 17:58] #905 closed

[2016-12-07 14:19] Ninroot opened #909 "Get metrics from SQL Database (PaaS, ARM)"
I am trying to get metrics from SQL Database Azure (PaaS, ARM). I followed the example given on the [documentation](http://azure-sdk-for-python.readthedocs.io/en/latest/sample_azure-monitor.html) and adapted from SQL Database. The program returns the good definitions I found on the [Azure documentation](https://docs.microsoft.com/en-in/azure/monitoring-and-diagnostics/monitoring-supported-metrics#

[2016-12-07 16:32] lmazuel commented on #909
Hi @Ninroot

First, your query is asking for aggregation Maximum, so you will have a value only in the `maximum` attribute. Second, I'm pretty sure the timeGrain has to be inside the query (you removed it). The [MetricDefinition](http://azure-sdk-for-python.readthedocs.io/en/latest/ref/azure.monitor.models.html#azure.monitor.models.MetricDefinition) object you have will give you a `metric_availabi

[2016-12-07 17:28] prashanthmadi opened #910 "Sample for Creating Virtual Network Gateway"
I am attempting to automate creating a Virtual Network Gateway using the Azure Python SDK.

I have run into an issue where I cannot figure out the correct way to format the Parameters to send over using the virtual_network_gateways.create_or_update:
[code]
The issue is the formatting of the parameters. I have tried many different ways and I am getting the following error:
“msrestazure.azure_except