[2019-12-08 10:30] pixelicous commented on #7035
Same issue here:
[code]

Related to #8591

[2019-12-08 12:47] imsiddsingh opened #9049 "Unable to import other python modules in called scripts"
I have created a simple HTTP trigger-based azure function in python which is calling another python script to create a sample file in azure data lake gen 1. My solution structure is given below: -

FunctionApp
|_ HttpTrigger
         |_____ __init__.py
         |_____ Test.py
         |_____ function.json

Requirements.txt contains the following imports: -
- azure-functions
- azure-mgmt-resource
-

[2019-12-08 21:23] YijunXieMS opened #9050 "[Event Hubs] 1.3.3b1 EPH pauses receiving for 30 mins when message size is large"

[2019-12-08 21:29] YijunXieMS commented on #9050
For linux 3.6 64 bit, install this version of uamqp. Official release will be built later.
[uamqp-1.2.5b2-cp36-cp36m-manylinux1_x86_64.zip](https://github.com/Azure/azure-sdk-for-python/files/3937188/uamqp-1.2.5b2-cp36-cp36m-manylinux1_x86_64.zip)

[2019-12-09 11:11] darkweb-123 opened #9059 "No documentation"
There is no documentation for azure api management module

[2019-12-09 17:11] kaerm commented on #8591
@pixelicous about the links not working - sorry, here are the updated links:
https://docs.microsoft.com/en-us/samples/azure/azure-sdk-for-python/keyvault-keys-samples/
https://docs.microsoft.com/en-us/samples/azure/azure-sdk-for-python/keyvault-secrets-samples/

[2019-12-09 17:46] chlowell opened #9060 ""RuntimeError: Event loop is closed" on 3.8/win32"
Using aiohttp 3.6.2 and azure-core 1.1.1 with Python 3.8/win32, this program:
[code]

Logs this to stderr:
[code]

Note the exception is logged to stderr; it doesn't crash the program. This may be related to aio-libs/aiohttp#4324. I see the same behavior with aiohttp 4.0.0a1 (and an appropriately modified `AioHttpTransport`).

This may also be related to aiohttp's shutdown behavior (see aio-libs/a

[2019-12-09 18:02] briglx commented on #8943
@xiafu-msft How would this work if I'm trying to copy a 1.3GB append file to a block blob target?
The remote append blob file is called https://example.com/remote_append_blob.csv. I would like the target to be called new_block_blob.csv.

[code]

I get the error:

[code]

[2019-12-09 18:36] kristapratico opened #9061 "[textanalytics] Consider having multiple clients for text analytics"
Should we have separate clients for detect languages, sentiment, entities, and key phrases?

With more endpoints coming, it might make sense to separate the clients by capability.

[2019-12-09 18:38] lmazuel opened #9062 "AppConfig tests should use test framework preparer"
And then have a dev dependency on azure-mgmt-appconfiguration: create and delete it on the fly.

That will bring consistency with Storage and KeyVault

[2019-12-09 21:08] yunhaoling commented on #9017
In the uAQMP-python 1.2.3+ library, the flow control logic is not triggered when large messages (~0.5MB/msg) are received which keeps service side from sending messages to the client side (all link credits are used up but not being reset).

Problem detail:

In uAMQP1.2.3+, we’re proactively doing the flow control logic, however, wrong date type – unsigned integer is used to track the local link-cr

[2019-12-09 21:09] Caynosadler commented on #7476
Hi @kristapratico is this issue still open, can i take a look at it ?

[2019-12-09 21:09] yunhaoling commented on #9017
We made a PR updating the type of link-credit from unsigned-int to signed-int: https://github.com/Azure/azure-uamqp-python/pull/130.

This one should mitigate the issue.

[2019-12-09 21:11] KieranBrantnerMagee commented on #8711
Hey Indy, thanks for your patience as we investigate this, and for the detail in your specification.

Given the version of UAMQP as well, I must admit this reminds me of [an issue we're currently mitigating](https://github.com/Azure/azure-sdk-for-python/issues/9017).

Is there any chance the message payloads you're sending are large? (50k+)

And a final "typical debugging question"  just in case,

[2019-12-09 21:31] yunhaoling commented on #8913
The problem should be fixed as pre-built uamqp wheel for python3.8 platforms are released.
@gurkang Feel free to re-open it if not.

[2019-12-09 21:31] #8913 closed

[2019-12-10 00:59] scbedd opened #9069 "CogServices Internal Release Disappears After Build"
The [build itself](https://dev.azure.com/azure-sdk/internal/_build?definitionId=976&_a=summary) looks fine:

![image](https://user-images.githubusercontent.com/45376673/70485926-20c61580-1aa5-11ea-9d5a-4f4f7934f3f1.png)

However when you _click_ on it.

![image](https://user-images.githubusercontent.com/45376673/70485964-32a7b880-1aa5-11ea-983a-e1fca752e8df.png)

After refreshing:

![image](https:

[2019-12-10 01:47] kurtzeborn opened #9070 "Remove Storage Swagger Readme Transforms"
During the push to GA track 2, several transforms were added to the readme which need to be migrated to the swagger in azure-rest-api-specs.  This should be coordinated across all of the langauge swaggers.
- Apply any bugfixes (ie. batch return code)
- For client side renames, we should try to use `x-ms-client-name`

Once this is done, there should be no diffs in the generated code.

[2019-12-10 08:53] MMollyy commented on #2690
[code]
this piece of code looks up the role assignments, for a specific scope (the resource group), and filtering the service principal by object_id.
And it will only select the role_assignment if the principal ids match.

Your use case seems a bit different, but i believe this should help you along the way with what Laurent already provided.

[2019-12-10 09:59] MMollyy opened #9074 "Role assignment can't be created because the service principal "doesn't exist""
hi,

I'm having a troublesome issue where I am creating a service principal using graph-rbac library, and then creating a role assignment using auth-mgmt library.

However, I keep getting issues in my pipelines where it works every now and then, but most of the times it fails. What does it fail with:
[code]

Now I actually have a check built-in to the code that verifies if the service principal ex

[2019-12-10 10:37] Caynosadler commented on #7476
@kristapratico

An LROPoller is being used currently for the DataLake accounts create [operation.](https://github.com/Azure/azure-sdk-for-python/blob/ab599e7c6c371543e48d210c4a11f163951d83d4/sdk/datalake/azure-mgmt-datalake-store/azure/mgmt/datalake/store/operations/accounts_operations.py) I'll be replicating the same approach for CognitiveServicesManagementClient.

Kindly advice if it's okay to p

[2019-12-10 10:43] Caynosadler commented on #7476
` raw_result = self._create_initial(
            resource_group_name=resource_group_name,
            account_name=account_name,
            parameters=parameters,
            custom_headers=custom_headers,
            raw=True,
            **operation_config
        )

        def get_long_running_output(response):
            deserialized = self._deserialize('DataLakeStoreAccount', response)

[2019-12-10 13:28] Indy2222 commented on #8711
I think that the messages were large so this looks like a possible explanation.

We are using the library on several projects and having the issue only on one project. This could be caused both by version difference and by the fact that the other projects are not receiving as large messages.

[2019-12-10 13:30] abhi2196 opened #9075 "[azure identity] Support for Creating TokenCredentials using OAuth Tokens"
Does the azure.identity package supports creating TokenCredentials using OAuth Tokens ?

https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code#successful-response-1
https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens

Could not find any references here: https://pypi.org/project/azure-identity/

I have updated my client code to use the new

[2019-12-10 14:49] cccs-cat001 opened #9076 "Update sphinx-docfx-yaml to properly generate intermediate yaml for keyword arguments"
I've noticed that with the old azure-storage-blob (v1.5.0), when you upload a blob it doesn't care whether the blob exists already or not, it'll overwrite it, but with the new version, v12.1.0, when you go to upload a blob it will not overwrite an already existing blob. Not sure if this is a new feature or what, but it'd be nice to have it consistent with the old one. Or maybe even have a paramete

[2019-12-10 16:49] chlowell commented on #9075
Azure-identity credentials provide tokens given authentication information. So instead of acquiring tokens yourself, you choose the identity you want to authenticate (e.g. a service principal), create a credential for it, and pass that credential to `BlobServiceClient`. You probably want [`DefaultAzureCredential`](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-identity/1.1.0/azure.id

[2019-12-10 17:23] kristapratico commented on #7476
Hey @Caynosadler, I looked into this a bit and realized that the above LROPoller code snippet is actually auto-generated from the swagger found in this [repo](https://github.com/Azure/azure-rest-api-specs).

I believe your approach is correct, but if we made any changes to this file it would just be overwritten when the code is re-generated. Since the change needs to be made in the swagger, I will

[2019-12-10 18:12] xiangyan99 commented on #8415
Fixed

[2019-12-10 18:12] #8415 closed

[2019-12-10 18:12] xiangyan99 commented on #7937
Fixed

[2019-12-10 18:12] #7937 closed

[2019-12-10 18:13] #8308 closed

[2019-12-10 18:15] abhi2196 commented on #9075
oh I see.
Actually my use-case is slightly different, as i have a custom service which returns me the Azure OAuth Tokens (in return for the User MSI details i provide to the service), and i need to validate those tokens by performing some client side storage operations (Create container, read, write) using BlobServiceClient APIs.

Is this possible currently with the available BlobServiceClient Pyt

[2019-12-10 18:30] kurtzeborn commented on #9069
This might have just been a weird hiccup in DevOps.

CC: @mitchdenny

[2019-12-10 18:31] scbedd commented on #9069
@kurtzeborn already talked to Mitch. I'm filing an ICM for this item this AM. He thinks one of their js renderers is imploding.

[2019-12-10 18:36] chlowell commented on #9075
Yes, you can create your own credential class. All it must do is implement `get_token`:

[code]

[2019-12-10 19:17] kaerm commented on #9076
@cccs-cat001 thanks for the feedback! I am looping in someone from our team to take a look at this //cc: @mayurid @rakshith91

[2019-12-10 20:07] jongio commented on #7035
@lmazuel

[2019-12-10 20:07] jongio commented on #8591
@lmazuel

[2019-12-10 20:09] jongio commented on #8591
@pixelicous #7035 is the right place to track that ask.

[2019-12-10 20:09] jongio commented on #8591
@nuarhu - Closing this issue, because I believe you are unblocked now.  Feel free to comment or reopen if not.  Thanks, Jon

[2019-12-10 20:09] #8591 closed

[2019-12-10 21:10] #8808 closed

[2019-12-10 21:10] lmolkova opened #9079 "[azure-cosmos] Distributed tracing: wrong parent-child relationship between spans and duration issues"
repro app below (combined basic cosmos query sample with basic opencensus sample)

## Expected
* query_items span becomes parent of http request span.
* query_items span has duration >= http request span
* **[Update]** when query ends with exception (e.g. container does not exists), query_items should end with non-success status. **Bug in Azure Monitor exporter.**

E.g. how it looks for blobs
![im

[2019-12-10 21:53] #8953 closed

[2019-12-10 22:15] skanthb opened #9080 "uthentication failed: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1076)"
'''
in cmd set below environment variables
set AZURE_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxx"
set AZURE_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxx"
set AZURE_TENANT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxx"
'''

from azure.identity import DefaultAzureCredential
from azure.keyvault.secrets import SecretClient

credential = DefaultAzureCredential()
secret_client = SecretClient(vault_url, credential=credential

[2019-12-10 22:22] kaerm commented on #9080
@skanthb thanks for the feedback! Someone from our team will take a look at this //cc: @chlowell @mayurid

[2019-12-10 22:57] rakshith91 commented on #9076
Hi @cccs-cat001  Thanks for reporting the issue. In version 12.0.0 and above, if you want upload to overwrite an existing blob, you will have to pass the `overwrite` parameter
Something like this:
`blob.upload_blob(data, overwrite=True)`

Note that the default value for overwrite is False.

[2019-12-10 22:58] chlowell commented on #9080
Looks like you're missing a root certificate. In this case you'd be using `requests` for transport, which uses certificates from `certifi` ([docs](https://2.python-requests.org//en/latest/user/advanced/#ca-certificates)). Which platform are you on, and which version of `requests` and `certifi` do you have installed?

[2019-12-10 23:01] #8655 closed

[2019-12-10 23:01] #8792 closed

[2019-12-10 23:03] rakshith91 opened #9081 "[Storage] Fix Flaky tests"

[2019-12-10 23:52] xiangyan99 opened #9082 "Need to retry on 429"
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/azure/core/pipeline/policies/_retry.py#L88

[2019-12-11 00:33] jlian commented on #8533
@iluican can you assign someone to look at this?

[2019-12-11 01:48] lmolkova opened #9084 "[FEATURE REQ] EventHub distributed tracing: add links on Send"
**Is your feature request related to a problem? Please describe.**

EventHubs Track2 SDK creates
- span per each message (when message is added to batch or sent).
- span for sending message/batch.

We assume that users, knowing their code, in most cases can figure out relationships between messages/send operations (they are most likely siblings).

The problem happens when we try to use automated t

[2019-12-11 02:07] lmolkova opened #9085 "[FEATURE REQ] EventHub distributed tracing: stamp EventHubs info on processing spans"
**Is your feature request related to a problem? Please describe.**
When EventHub processor receives messages, the only telemetry it generates is the processing span.  This span is not attributed with any event-hub specific info (endpoint, entity).

I.e. there is no way of knowing which EventHub certain app communicates with and processes messages from. Users may know it, but tools/visualizations d

[2019-12-11 07:44] Caynosadler commented on #7476
@kristapratico sure..............

[2019-12-11 09:04] abhi2196 commented on #9075
Thanks @chlowell

[2019-12-11 09:04] #9075 closed

[2019-12-11 10:49] abhi2196 opened #9088 "[BlobServiceClient] Throws TypeError: unsupported operand type(s) for -: 'unicode' and 'float'"
I am following this doc
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python#upload-blobs-to-a-container

[code]

Both the statements blob_client.upload_blob(data) and container_client.delete_container()
are throwing this exception.
`TypeError: unsupported operand type(s) for -: 'unicode' and 'float'`

Container is getting created successfully, and i am uploading a

[2019-12-11 12:39] abhi2196 commented on #9088
Looks like it was issue with my Custom Token Credential.
`expires_on` was `string` after converting it to `int`, it worked fine.

[2019-12-11 12:39] #9088 closed

[2019-12-11 15:58] oeeckhoutte commented on #7201
Hey guys, I am having the same issue with the latest version of openssl (1.1.1d) on osx with a virtualenv. I have the following issue: Unable to set external certificates. Do you know any workaround ?

[2019-12-11 17:31] kaerm commented on #9085
Thanks @lmolkova //cc: @mayurid

[2019-12-11 17:32] kaerm commented on #9084
Thanks @lmolkova //cc: @mayurid

[2019-12-11 18:30] scbedd opened #9091 "Implement CI for Python AutoRest Repo"
Essentially, we need a CI definition that.

1. Run the current version of autorest and create generated code
    - This should be run using python 3.6
2. Test generated code
    - This should run against py2.7, 3.5, 3.8

I will expand this with specifics on what commands to actually run in the autorest to get the generated code.

[2019-12-11 19:22] xiangyan99 opened #9092 "Need to honor 'retry-after-ms' & 'x-ms-retry-after-ms' in retry"

[2019-12-11 19:35] #9006 closed

[2019-12-11 21:16] bryevdv commented on #6378
The basic ideas is just to move the responsibility for calling `pop` in to one place instead of requiring lots of individuals to remember doing it in 100 different places. There is a pretty wide range of thing that can be done, but starting simple, just something like:

[code]

Each thing that needs to pop kwargs can define one of these subclasses for itself, then:

[code]

One question that needs

[2019-12-11 21:17] chidozieononiwu opened #9096 "Switch HISTORY.rst files to CHANGELOG.md"
For consistency across languages switch all HISTORY.rst files to CHANGELOG.md

[2019-12-11 21:26] jlian commented on #8533
@jebrando is this part of the python client SDK?

[2019-12-11 22:16] skanthb commented on #9080
requests==2.22.0
requests-oauthlib==1.3.0
Im running the code on windows 10 laptop-Python 3.7.5 within work network and then accessing Azure key vault using Azure python SDK.

https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/identity/azure-identity#defaultazurecredential
https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/keyvault/azure-keyvault-secrets#retrieve-a-secret

Th

[2019-12-11 22:22] scbedd opened #9097 "Initial Onboarding - Get ML Packages Building"
As packages are migrated into our repo, we should _individually version them_.

This is the only change that we will call `necessary` as we move them in as track 1 packages. I need to make certain that these individual packages can fit in our current build/test infrastructure.

This issue covers any of the work to adjust existing tooling to get the builds off the ground.

[2019-12-11 22:23] yunhaoling commented on #7201
Hi @oeeckhoutte ,

thanks for reporting.
are you using the library on Mac? and does the issue impact the functionality?

[2019-12-11 22:42] allegradomel commented on #4241
@KarenHammons can you transfer this to Datapath, since it's a NIC/Accelerated Networking issue?

[2019-12-11 22:46] KarenHammons commented on #4241
I’ll have to create a new tag for that.  For now, @Krishnan Rangachari<mailto:Krishnan.R@microsoft.com> or @Aanand Ramachandran<mailto:aanandr@microsoft.com> – can you help with this GitHub question please?

From: Allegra Domel <notifications@github.com>
Sent: Wednesday, December 11, 2019 4:43 PM
To: Azure/azure-sdk-for-python <azure-sdk-for-python@noreply.github.com>
Cc: Karen Hammons <karenha@mi

[2019-12-11 23:05] lmolkova opened #9099 "EventHubs distributed tracing: span kind changes"
EventHub spans kinds were not correct in the previous guidance. They should be changed to
- Message: 'producer' kind for OpenTelemtery (was 'internal'). OpenCensus does not support 'producer' - 'internal' should still be used
- Send: 'client' kind (was 'producer')
- Processing: 'consumer' kind (was 'server'), OpenCensus should continue using 'server'

This complies with [OpenTelemetry semantics](h

[2019-12-11 23:12] KarenHammons commented on #4241
Adding AccelNet PM, @Laxmana Rao Battula<mailto:labattul@microsoft.com>

From: Karen Hammons <karenha@microsoft.com>
Sent: Wednesday, December 11, 2019 2:46 PM
To: Azure/azure-sdk-for-python <reply@reply.github.com>; Azure/azure-sdk-for-python <azure-sdk-for-python@noreply.github.com>; Krishnan Rangachari <Krishnan.R@microsoft.com>; Aanand Ramachandran <aanandr@microsoft.com>
Cc: Mention <mention@

[2019-12-11 23:37] yunhaoling commented on #9017
We fixed this in uamqp v1.2.5: https://pypi.org/project/uamqp/1.2.5/

[2019-12-11 23:37] #9017 closed

[2019-12-11 23:41] Drewm3 commented on #8637
Closing this now due to no other questions.

[2019-12-11 23:41] #8637 closed

[2019-12-11 23:41] yunhaoling commented on #8404
Hello @davidt99 ,

we've released the uamqp v1.2.5 including the fix: https://pypi.org/project/uamqp/1.2.5
can you try installing the latest uamqp library to see the issue still occurs on your side?

[2019-12-12 00:06] kristapratico opened #9103 "[textanalytics] Add __repr__ to text analytics models"

[2019-12-12 00:11] kaerm commented on #9099
thanks @lmolkova //cc: @mayurid

[2019-12-12 00:13] kristapratico opened #9105 "[textanalytics] Raise a batch item error instead of an AttributeError when iterating over a list of results with error responses"
Because of the heterogeneous list returned, if a user doesn't filter out errors from their response list first, they might see an AttributeError if they try to use an attribute on the result model that doesn't exist on the error.

Raise on the document error model so if iterating over the list and hit the error, it will raise something more useful like, "There is an error item in your batch at id

[2019-12-12 04:11] iscai-msft opened #9112 "Certificates consistency fixes"
- [x] Type annotation in merge_certificate of x509_certificates from List[bytearray] -> Iterable[bytearray]
- [x] Type annotation of error in CertificateOperation from models.Error -> CertificateOperationError
- [x] Get rid of expires_on property of CertificatePolicy
- [x] (Optional) Make provider required in the CertificateIssuer constructor
- [x] Get rid of vault_url property in IssuerProperties

[2019-12-12 08:34] parimanur commented on #8937
My Bad @lmazuel, I was using False value for raw, Thanks for the clarification and help. Will close the issue now.

[2019-12-12 08:35] #8937 closed

[2019-12-12 09:15] K3UL commented on #4248
Any plan to implement this ?

[2019-12-12 10:35] tinyweasel opened #9115 "Using this through Django gets ReadTimeout"
I can run the code locally and it works, but adding it to a Django view causes it to get a ReadTimeout.

<requests.packages.urllib3.connectionpool.HTTPSConnectionPool object at 0x7ff3fce863d0>
--
e | ReadTimeoutError("HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Read timed out. (read timeout=None)",)

[2019-12-12 11:22] v-xuto commented on #9049
What IDE are you using to deploy?when you upload the code to the function app, you can click on 'OUTPUT' to see if you have successfully installed the azure.datalake.store package. Before doing so, make sure your requirements.txt contains "azure-datalake-store".
[code]

[2019-12-12 13:37] cccs-cat001 commented on #9076
Perfect that works! Can that be added to the [documentation](https://docs.microsoft.com/en-us/python/api/azure-storage-blob/azure.storage.blob.blobclient?view=azure-python#upload-blob-data--blob-type--blobtype-blockblob---blockblob----length-none--metadata-none----kwargs-)? Nowhere does it mention that you need to specify that.

[2019-12-12 17:10] chlowell commented on #9080
Does this network have a traffic inspecting proxy? If so, you'd see an error like this if `requests` doesn't trust that proxy's certificates.

I'd guess the failing request is to login.microsoftonline.com. You can try it without the Azure SDK:
[code]

[2019-12-12 18:13] jebrando commented on #8533
@jlian I believe this is from the Eventhub SDK and not the IoTHub SDK.  You may have to ping someone in that area.

[2019-12-12 18:15] jlian commented on #8533
@kaerm can you help redirect?

[2019-12-12 18:33] kaerm commented on #8533
@yunhaoling can you take a look?

[2019-12-12 18:38] kaerm commented on #9115
Hi @tinyweasel I am trying to better understand what issue you are facing - what code do you run and which azure packages do you use?

[2019-12-12 19:27] #9014 closed

[2019-12-12 19:35] yunhaoling opened #9119 "[EventHubs] Track 1 feature parity"
We need to review Track 1 and list the features that we do not current support in Track 2 with a note on whether its a post GA candidate or is being dumped. If the latter, then include the reason.

Few known things can be skipped:
Different default value for Event Position
- Initial Offset for EPH not being dynamic in Python
- No pull model in Python
- No individual send or sending an array of eve

[2019-12-12 19:49] lilyjma commented on #8890
I talked to Jake Willey who works on this SDK but for .NET, and he suspects that: "permission validation is done before the query parsing. Since the partition key isn't in the header it doesn't have a way to ensure that it's only going to the partition it has permission to so it is failing the permission check."

So if we pass in partition_key as a parameter into query_items(), it'll work:

for it

[2019-12-12 19:49] #8890 closed

[2019-12-12 20:17] praveenkuttappan opened #9122 "Enable Cosmos emulator test on PR validation"
Cosmos emulator test is failing on PR validation due to discrepancy in emulator and service message and this is blocking others due to PR validation failure. Currently emulator test is disabled for PR validation and it runs only for scheduled CI.

Enable cosmos emulator test once issue is fixed in emulator side.

[2019-12-12 21:00] briglx opened #9125 "How to create ContainerInstanceManagementClient in Azure Function"
I'd like to create a container from an Azure function using the python library. How can I create a ContainerInstanceManagementClient without uploading my credential file with my function?

[2019-12-12 21:16] omzevall opened #9127 "azure-devtools in pypi versus in this repo"
After a recent change (#9005), my team's pipelines starting failing with an import error complaining about NameInUseError (introduced in that change).

We figured out that the disconnect was that we were pip installing [azure-devtools==1.1.1](https://pypi.org/project/azure-devtools/), whose sources lives in the [azure-python-devtools](https://github.com/Azure/azure-python-devtools) repo.

But our

[2019-12-12 22:07] #8640 closed

[2019-12-12 22:07] #8611 closed

[2019-12-12 22:19] scbedd opened #9133 "Parallelize Tox Environment Runs"
Right now, we run wheel tests prior to source distribution tests. In an ideal world, we'd run both of these tox environments in parallel. In current implementation however, this is _not_ the case.

This is for two reasons:
1) Issues in `tox-monorepo` that were resolved in [this pr](https://github.com/Azure/azure-sdk-tools/pull/302)
2) Real issues in the tests. For instance, dropping a local file w

[2019-12-12 22:34] kenieva commented on #6716
You are able to add/update tags using Modify.

Here are more details.  https://docs.microsoft.com/en-us/azure/governance/policy/tutorials/govern-tags
Here are some samples: https://github.com/Azure/azure-policy/tree/master/samples/Tags

[2019-12-12 22:34] #6716 closed

[2019-12-12 22:35] xiangyan99 commented on #5267
We'd better add samples for individual SDKs rather than azure.core. Leave the issue open bug put it into backlog.

[2019-12-12 22:39] wiazur commented on #6472
I was looking into this bug again and it appears the problem is in the **auto_suggest_search_api.py** file. Redoing the very last line, fixes this issue (even though it sounds a different problem than what v-jaswel described). Here is the modification (replace the region with user region or custom domain):

[code]

I included the old line to show the diff. This is hardcoded though, so a better fix

[2019-12-12 22:40] rakshith91 commented on #9076
That's a good catch. We'll definitely update it. Meanwhile, i'd encourage using[ this documentation](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-storage-blob/12.1.0/index.html) for now till we fix the issues with the other one.

[2019-12-12 22:42] #6788 closed

[2019-12-13 00:44] xiangyan99 commented on #9082
Fixed

[2019-12-13 00:44] #9082 closed

[2019-12-13 00:51] xiangyan99 commented on #8940
Fixed

[2019-12-13 00:51] #8940 closed

[2019-12-13 10:57] tinyweasel commented on #9115
Trying to use azure.common.credentials and azure.loganalytics to query LogAnalytics, but the call to the token endpoint gets this ReadTimeout if I try to do this in a Django view. It works as a simple Python script though.

[2019-12-13 11:28] tinyweasel commented on #9115
I've figured out that this is a problem with the requests library as I get the same error using that library directly.

[2019-12-13 12:07] imsiddsingh commented on #9049
Yes, I am able to successfully install azure.datalake,.store.package. I am using visual studio code.

[2019-12-13 13:48] Indy2222 opened #9144 "Service Bus: exception during complete()"
We are getting the following exception when calling `complete()`
on a message received from Service Bus. Note that this happens on
messages which are being "processed" for a long time and
periodically (very 10 seconds) renewed before competition.

[code]

This happens with uamqp version `1.2.4` and `azure-servicebus` version `0.50.1`.

[2019-12-13 15:59] smarlowucf opened #9145 "Page blob upload is slow"
The Page blob upload is very compute intensive and slow. Uploading 30gb (~28gb empty chunks) images can take over an hour and peg a CPU the entire time:

[code]

It appears the issue is related to the `_is_chunk_empty` method which eats up a lot of CPU doing comparison of chunks.

[code]

I think this comparison can be done more efficiently which will speed up the upload and limit the burden on th

[2019-12-13 16:02] smarlowucf commented on #9145
A possible solution:

[code]

Yields a significant performance enhancement:

[code]

[2019-12-13 17:47] kaerm commented on #9145
@smarlowucf thanks for reporting this, someone from our team will take a look at this //cc: @mayurid @rakshith91

[2019-12-13 19:31] #8952 closed

[2019-12-13 20:53] #9112 closed

[2019-12-13 21:08] kaerm commented on #9127
@omzevall thanks for reporting this, someone from our team will look into this //cc: @mayurid

[2019-12-13 21:42] praveenkuttappan opened #9150 "Add a new test to verify reverse dependency"
Enable a new test to verify all released azure-sdk packages using current azure-core. This is to make sure that  new changes in azure-core doesn't break released dependent packages. Please see below email from Laurent.

------------------------------------------------------------------------------------------------
Hello,

Part of our azure-core 1.1.0 release, I want to be sure I check that this n

[2019-12-13 22:48] kaerm opened #9151 "Onboard January releases on Docs"
- [ ] Onboard the following packages on docs.microsoft.com
**Latest:**
azure-appconfiguration 1.0.0
azure-keyvault-certificates 4.0.0
azure-eventhub-checkpointstoreblob 1.0.0
azure-eventhub 5.0.0
azure-storage-file-datalake 12.0.0
**Preview:**
azure-ai-textanalytics 1.0.0b1
azure-cosmos 4.0.0
**Legacy:**
azure-eventhub 1.3.2

- [ ] Remove following packages from preview:
azure-cosmos 4.0.0b6
azure

[2019-12-14 02:02] #9027 closed

[2019-12-15 09:58] oeeckhoutte commented on #7201
Yes I am using the library on Mac. Yes it gives me a segmentation fault.

[2019-12-15 21:00] mssfang opened #9157 "[Feature] Using the latest Text Analytics after preview 1 released"

[2019-12-16 02:47] skanthb commented on #9080
Thanks @chlowell you are correct. Its proxy issue. I got a http proxy url and tried doing below and it worked.

from azure.storage.blob import BlobServiceClient
from azure.storage.blob._shared.base_client import create_configuration
http_proxy = 'http://xxxxxxxxxxx:yyyy'

# Create a storage Configuration object and update the proxy policy.
config = create_configuration(storage_sdk='blob')
config.p

[2019-12-16 04:33] KimShepherdVibrato opened #9159 "azure-storage-file-datalake - Authentication error getting access control."
I have been getting the following error when attempting to read the access controls on a File System.

[code]

I this worked fine on a DEV machine, but fails in the Pipeline.  We have narrowed it down to the version of the urllib3 library.

WORKING: urllib3==1.24.1
ERROR: urllib3==1.25.7

Code to replicate:
[code]

[2019-12-16 10:05] v-xuto commented on #9049
First, two points need to be distinguished: the packages in requirement.txt file will eventually be installed in Azure function's environment; but the azure.datalake package is not installed locally.

So, we can hit this problem when I run test.py locally in visual studio code.
ERROR:
[code]
If we want test.py to run successfully locally, we need to install "azure-datalake-store" package in termin

[2019-12-16 10:24] v-xuto commented on #9125
This link is for your reference, there are some other methods here:
https://docs.microsoft.com/en-us/azure/python/python-sdk-azure-authenticate?view=azure-python#mgmt-auth-cli

I tried method ”CLI-based authentication“ to create ContainerInstanceManagementClient.
I think "uploading my credential file" is probably the easiest way.

[2019-12-16 10:25] v-xuto commented on #9125
@jongio

[2019-12-16 17:41] laxmanrb commented on #4241
Make sure to stop/deallocate the VM before enabling AN for the existing NIC. Refer the link - https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#enable-accelerated-networking-on-existing-vms for additional details.

[2019-12-16 17:41] kaerm commented on #9159
Hi @KimShepherdVibrato thank you for reporting this, someone from our team will take a look at this //cc: @mayurid @rakshith91

[2019-12-16 17:50] lmazuel opened #9163 "Improve RequestIdPolicy with auto-generation"
- Add “auto_request_id” to the policy `__init__` only. True by default. No support for this kwarg at the operation level
- Passing both auto_request_id and request_id to `__init__` raises a ValueError
- Auto-creation is done by `str(uuid.uuid1())`
- Passing “request_id=None” as operation kwargs means “don’t send this header, whatever auto-generation setting or fixed value at creation”. Empty strin

[2019-12-16 17:55] mssfang commented on #9157
created an issue on a wrong repo

[2019-12-16 17:55] #9157 closed

[2019-12-16 17:55] kristapratico commented on #9157
wrong repo

[2019-12-16 19:17] iscai-msft opened #9165 "Certificates consistency take 3"
- [x] Make merge_certificates take bytes instead of bytearray
- [x] Make policy optional in KeyVaultCertificate
- [x] Add vault_url to CertificateOperation
- [x] Get rid of id, not_before, and recovery_level properties from CertificatePolicy
- [x] Removed vault_url from CertificateIssuer

[2019-12-16 19:22] yunhaoling opened #9166 "[EventHubs] Consumer should resume from last failed position when there is not checkpoint store"
When there is no checkpoint store, in the eventhub processor, if a consumer fails and closed, a new consumer will be created, but it's still using the init position -- not the position where it failed.
This should be fixed.

[2019-12-16 19:47] scbedd opened #9168 "Create Additional "Debugging" Artifact on Builds"
Right now, the debugging experience is limited to what you can see in stdout/stderr on the build agent window.

We should additional attach:

- `tox` installation logs
- any additional caught exception information (if available)

Upload in an attached artifact of loose file artifacts.

[2019-12-16 21:11] KendallWeihe opened #9172 "QueueClient documentation kwargs "encode_policy" should be "message_encode_policy""
Down a rabbit hole today because documentation was incorrect. [`QueueClient`](https://github.com/Azure/azure-sdk-for-python/blob/a0083a6baec418660180ed5cb838b269ce1f2d54/sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py#L40) documentation defines the encoding/decoding policy kwarg keyword as [`encode_policy`](https://github.com/Azure/azure-sdk-for-python/blob/a0083a6baec41866018

[2019-12-16 21:24] yunhaoling commented on #7201
Thanks @oeeckhoutte

Can you provide more context on this? e.g.

 - What's the version of eventhub and uamqp library you're using. (You can use pip list to have a check)?
- Does the segmentation fault happen in the case of sending or receiving or both?
- Does the segmentation fault happen immediately after you start the program. (Not being able to send/receive entirely).

It would be great if you

[2019-12-16 21:36] kaerm commented on #9172
@KendallWeihe thanks for the feedback, I am routing it for someone to take a look at this //cc: @mayurid @rakshith91

[2019-12-16 22:00] #8992 closed

[2019-12-16 23:00] praveenkuttappan opened #9175 "Simplify how packages for devops and test is maintained"
Currently packages required within tox is listed in tox.ini and any packages required by devops(outside tox) is listed in yml file. This leads to an issue if we need to pin a specific version of a package and only does it in one place. for e.g. coverage has released a new package and this has broken our pipeline. Coverage is used by pytest within tox and is also used by devops task outside tox. De

[2019-12-16 23:28] praveenkuttappan opened #9176 "packaging_tools in azure sdk tools is failing on Python 2.7 and Python 3.5"
Importing PyPIClient on Python 2.7 and Python 3.5 fails with following errors:

[code]

[2019-12-16 23:37] kristapratico commented on #8993
Closed with #9149

[2019-12-16 23:37] #8993 closed

[2019-12-17 00:19] lmazuel commented on #9176
Didn't think about that.... "packaging_tools" was designed as 3.6 and plus only, because I expected thse tools to be used only for packaging purposes (meaning I need to runt it once, so I picked the latest Python version).
The PyPI client itself I believe would work on 2.7, so that probably just means some moving around of files.

[2019-12-17 00:53] YijunXieMS opened #9179 "Release Event Hubs for Python 2020 Feb Milestone"
Post GA enhancements

[2019-12-17 00:58] imeya opened #9180 "[EventHubs] The storage_blob_prefix in AzureStorageCheckpointLeaseManager does not take effect."
I'm using eph to receive event data as per this [link](https://github.com/Azure/azure-sdk-for-python/blob/eventhub_track1/sdk/eventhub/azure-eventhubs/examples/eph.py#L104).

In the [AzureStorageCheckpointLeaseManager](https://github.com/Azure/azure-sdk-for-python/blob/eventhub_track1/sdk/eventhub/azure-eventhubs/examples/eph.py#L104), if I specify the parameter "storage_blob_prefix", it should cr

[2019-12-17 01:08] YijunXieMS opened #9181 "[Event Hubs] Send a list of events"
EventHubProducerClient has send_batch(EventDataBatch).
This issue is to allow users to send out events without filling events one by one in to EventDataBatch.
Still being designed.

[2019-12-17 01:29] YijunXieMS opened #9184 "[Event Hubs] event handler callback supports on_event_batch (list of events)"
**Is your feature request related to a problem? Please describe.**

It was widely discussed whether the event handler should receive a batch of events or a single event.
Currently in 5.0.0 GA JS' event handler accepts a list of events while other three languages use singe event.
In Dec 2019, Elena reached out to 11 customers that used eventhubs preview. Receiving batch was one of the main wishes f

[2019-12-17 01:36] YijunXieMS opened #9185 "[uamqp] connection idle timeout doesn't work in uamqp"

[2019-12-17 02:47] yunhaoling commented on #8404
Hello @davidt99 , is there any updates for this issue?

[2019-12-17 02:52] davidt99 commented on #8404
Didn't have the time to test it, will report back next week.

On Tue, 17 Dec 2019, 11:47 Adam Ling (MSFT), <notifications@github.com>
wrote:

[2019-12-17 14:21] engebret commented on #7079
Has there been any resolution on this one?  I believe we are seeing something similar.  I've moved to uamqp v1.2.5 but still seeing exceptions after a connection has gone unused for a few minutes.

[2019-12-17 15:49] kouta-kun opened #9191 "NewConnectionError from face_client.face.detect_with_stream"
Ubuntu 18.04 / Python 3.6.9
I get the following exception
`urllib3.exceptions.NewConnectionError: <urllib3.connection.VerifiedHTTPSConnection object at 0x7f722c8d2ef0>: Failed to establish a new connection: [Errno -2] Name or service not known`

It happens once in a while, although not deterministically and I haven't been able to pin down conditions for it, other than it's always when calling `fac

[2019-12-17 17:10] lmazuel commented on #9163
https://github.com/Azure/azure-sdk-for-python/pull/9170

[2019-12-17 17:55] WhatDoesKmean commented on #2952
Call it like this:   metric.primary_aggregation_type.value

[2019-12-17 18:06] kaerm commented on #9180
@imeya thank you for reporting this, someone from our team will take a look at this //cc: @mayurid @yunhaoling

[2019-12-17 18:23] rakshith91 commented on #9145
@smarlowucf Thanks for reporting the issue. Taking a look into this now.

[2019-12-17 18:31] yunhaoling commented on #8404
thanks @davidt99 , looking forwarding to your reply!

[2019-12-17 18:49] #9165 closed

[2019-12-17 18:55] rmb938 opened #9195 "recent azure-cli-core and azure==4.0.0 are incompatible"
I am trying to auth using cli credentials

[code]

And I receive the following error

[code]

I am using poetry for dependency management and when I try and install `azure-cli-core` I get the following error

[code]

Any ideas on what specific versions of these libraries I need to make everything happy?

[2019-12-17 21:42] #8853 closed

[2019-12-17 22:29] yunhaoling commented on #9119
please look at the gist here: https://gist.github.com/yunhaoling/b4bd1ab1f71fb92717ea6d75c170b723

[2019-12-17 22:29] #9119 closed

[2019-12-17 22:43] #9122 closed

[2019-12-17 22:43] #9176 closed

[2019-12-18 10:02] estensen opened #9205 "Update docs to reflect that clients are tested with Python 3.8"
According to the [pipeline](https://github.com/Azure/azure-sdk-for-python/blob/master/eng/pipelines/templates/jobs/archetype-sdk-client.yml) the client is tested with Python 3.8, but this is not reflected in the [docs](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/cosmos/azure-mgmt-cosmosdb) yet.

[2019-12-18 12:31] MMollyy commented on #9074
So I am currently doing the following:
[code]

This helps me to circumvent getting the error, but I realy don't like this way of coding ..

[2019-12-18 18:55] lmazuel commented on #9195
Hi @rmb938
The usage of `azure` is not recommended anymore, since this meta-package have some design trouble that force it to old version. I would suggest if you want to use the CLI authentication, that you don't use `azure` but directly the services you need (i.e. `azure-mgmt-compute`, etc.).

I'm renaming slightly your issue to make it clear this is a conflict between `azure` and latest `azure-c

[2019-12-18 19:02] rmb938 commented on #9195
Oh I see, is there a list somewhere were I can see which python packages map to which azure service?

[2019-12-18 19:04] #9205 closed

[2019-12-18 19:05] lmazuel commented on #9205
Hi @estensen
Thanks for the report! I updated our templating system (see PR attached), so next release will declare 3.8 correctly (template are applied at release time, so it won't change until the next release, but that's matching what is actually on PyPI).
Thanks again!

[2019-12-18 19:20] pjjohnson opened #9207 "Accessing environment variables when not debugging"
Python 3.8.0 (venv), VS Code 1.41.0, python-dotenv 0.10.3

Still learning Python…running my Python code without debugging, I did the following to set the expected environment variables required by DefaultAzureCredential():

import envvars
import os
os.environ['AZURE_TENANT_ID'] = envvars.AZURE_TENANT_ID
os.environ['AZURE_CLIENT_ID'] = envvars.AZURE_CLIENT_ID
os.environ['AZURE_CLIENT_SECRET'] = env

[2019-12-18 19:52] lmazuel commented on #9195
This link is supposed to explain enough:
https://github.com/Azure/azure-sdk-for-python#packages-available

If it's not enough, let me know and I take this as a doc feedback to make it better :). There is no actual list, but it's supposed to be clear enough so you get what you need.

[2019-12-18 20:03] lmazuel commented on #9207
Hi @pjjohnson
Env variables is not a Python concept, you do not set env variables from inside your program, you set them on your system. I humbly think you you might need to read about this first, this is an example for Windows:
https://www.digitalcitizen.life/simple-questions-what-are-environment-variables

Once you have your env variables set at the system level, there is no code to write in Pyt

[2019-12-18 20:04] xiangyan99 commented on #5268
There is a PR created in aiohttp.
https://github.com/aio-libs/aiohttp/pull/2213

[2019-12-18 20:04] #5268 closed

[2019-12-18 20:08] lmazuel commented on #9207
About dotenv, it could actually avoid having to set them in the system indeed, but that's a dotenv question, their front page give doc about that:
https://pypi.org/project/python-dotenv/

A simple example:
.env file:
[code]
test.py
[code]

[2019-12-18 20:13] #7035 closed

[2019-12-18 20:27] pjjohnson commented on #9207
I was able to get dotenv working, and I changed the code to the following:

load_dotenv()
credential = DefaultAzureCredential()
secret_client = SecretClient(vault_url=os.environ['VAULT_URL'], credential=credential)
key_client = KeyClient(vault_url=os.environ['VAULT_URL'], credential=credential)
mgmt_client = KeyVaultManagementClient(credential, os.environ['AZURE_SUBSCRIPTION_ID'])

I'll .gitignore

[2019-12-18 20:32] lmazuel commented on #9207
I'm glad I was helpful, I'm closing this issue since we answered the main question.

I would suggest you enable MSI on AppService, that DefaultAzureCredential will connect to automatically:
https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity

[2019-12-18 20:32] #9207 closed

[2019-12-18 23:29] yunhaoling commented on #9180
Hello @imeya ,

We've noticed the issue and working on it right now: https://github.com/Azure/azure-sdk-for-python/pull/9086.
Will update you on this when the fix is out.

[2019-12-19 02:13] xiafu-msft commented on #8943
Hi @briglx
You could divide the append blob into several chunks
[code]

[2019-12-19 05:46] #9145 closed

[2019-12-19 05:47] rakshith91 commented on #9145
@smarlowucf  Did some profiling on this and you are right to observe the bottleneck. Here are some slowest calls while uploading a 10gb page blob. Created a pr. Thanks a lot for reporting this.

Before: 440 seconds
ncalls tottime percall cumtime percall filename:lineno(function)
2560 431.393 0.169 431.393 0.169 uploads.py:280(_is_chunk_empty)

After: 120 seconds
ncalls tottime percall cumtime perc

[2019-12-19 07:27] v-xuto commented on #9159
Thanks for your report, I  reproduced the problem when urllib3 == 1.25.7
We can solve this problem by assigning a specific value to the parameter directory, such as：
[code]
Because the type of the parameter directory is  'str'.

[2019-12-19 08:30] xiafu-msft commented on #9159
Hi @KimShepherdVibrato
Thanks for reaching out! I was able to reproduce that. We will investigate that and get back to you, sorry about the inconvenience.

[2019-12-19 08:36] xiafu-msft commented on #9172
Hi @KendallWeihe
Thanks so much for point that out, we will put this in our backlog and fix the doc in the next release

[2019-12-19 15:04] smarlowucf commented on #9145
Thanks for the quick response! :+1:

[2019-12-19 18:11] ajay15283 opened #9217 "Disassociate NSG from a interface"
Hello All,

Is there a way to disassociate NSG from a interface using python SDK ?

[2019-12-19 18:11] kartikshah9 commented on #6778
@lichunli-ms could you provide an update on the bug called out above. If the bug has been fixed request if you can close the GitHub issue.

[2019-12-19 18:26] yunhaoling commented on #9144
Hello @Indy2222 , thanks for reporting.

Does the issue happen when you're using service bus with uamqp 1.1.0 or uamqp 1.2.3?

[2019-12-19 18:43] kartikshah9 commented on #8321
@josiahlaivins can you provide additional details. If your issue is resolved we can go ahead and close the issue.

[2019-12-19 18:53] nascimentocrafael commented on #2871
Hi @StevenKoppens and @lmazuel,

I know this issue is closed but I want to clarify something with you guys. I also need to use a proxy to authenticate using a service principal in Azure. But the problem is, if a set the proxy on the script, using azure.identity SDK for python, the script won't work and won't authenticate. The only way I got it working was setting the environment variables HTTP_PRO

[2019-12-19 20:51] Indy2222 commented on #9144
As I have initially reported, this is hapenning with uamqp 1.2.3.

[2019-12-19 21:49] scbedd commented on #9097
Completed in sdk-for-python-pr. Branch `azureml`

[2019-12-19 21:50] #9097 closed

[2019-12-19 23:44] YijunXieMS opened #9224 "[Event Hubs] Use IoT connection string to connect to event hub to consume events"
Redirect the IoT connection string to the built-in endpoint and rebuild the connection to the built-in endpoint.
To be clarified with service team.

[2019-12-19 23:44] lmazuel commented on #7035
Supported in https://pypi.org/project/azure-common/1.1.24/

[2019-12-19 23:44] lmazuel commented on #6041
Supported in https://pypi.org/project/azure-common/1.1.24/ for storage SDKs after v12.

[2019-12-19 23:44] #6041 closed

[2019-12-19 23:46] YijunXieMS opened #9225 "[Event Hub] Create a dict-based in-memory checkpoint store"
For SDK internal use only. Not open API.

[2019-12-19 23:54] YijunXieMS opened #9226 "[Event Hub] Use in-memory checkpoint store implicitly when EventHubConsumerClient has no checkpoint store"
When the EventProcessor loop loses an partition and regain it, the resuming position by order of precedence is the checkpoint, initial position, then “@latest”. This is the same for all checkpoint store, including this in-memory one.

[2019-12-19 23:59] YijunXieMS commented on #9166
The final decision is to resume from the checkpoint of an implicit in-memory checkpoint store if there is no checkpoint. Refer to issue #9226.

[2019-12-19 23:59] #9166 closed

[2019-12-20 00:06] lmazuel commented on #2871
@nascimentocrafael before opening a new issue, could you do before "print(3)":
credential.get_token("https://storage.azure.com/.default")

If it hangs there, please create an issue focused on ClientSecretCredential and don't even mention Storage (that would mean an identity issue).
If this line pass, please create an issue focused on Storage, explaining the test I just asked you to do.

Thanks!

[2019-12-20 01:28] yunhaoling commented on #9144
Hello @Indy2222 , thanks for the information.

Can you try running your program with uamqp v1.1.0 by `pip install uamqp==1.1.0` to see if the issue mitigate?

We've done several bug fix and improvement in the uamqp library 1.2.*, so wondering whether these changes breaks the ServiceBus.

[2019-12-20 17:37] xiangyan99 commented on #6419
Fixed

[2019-12-20 17:37] #6419 closed

[2019-12-20 17:53] lmazuel commented on #9099
@lmolkova the way it's done in Python, EH doesn't know what plugin is running, so we can't really do "Consumer if OT, Server if OpenCensus"
What I can do is a hardcoded mapping for things that OpenCensus doesn't know. Right it's defined as:
[code]
Mostly, everything we don't know is mapped to OpenCensus CLIENT. What do you think?

[2019-12-20 17:57] lmazuel commented on #9099
See https://github.com/Azure/azure-sdk-for-python/pull/7624

[2019-12-20 19:34] allegradomel commented on #4241
If there are no further issues, we can close this issue
#please-close

[2019-12-20 20:59] xiangyan99 commented on #9163
fixed

[2019-12-20 20:59] #9163 closed

[2019-12-20 21:16] andreacassioli opened #9227 "Outdate HISTORY.md for servicebus"
It seems that

azure-sdk-for-python/sdk/servicebus/azure-servicebus/HISTORY.rst

has not been updated with info about the latests 0.50.2 release.

[2019-12-20 21:33] andreacassioli opened #9228 "servicebus delivery count?"
Hi,
I am upgrading to the new servicebus client `0.50.2`. In the old message object I could do

[code]

In the new version I cannot find any mention on "delivery count". Is that available somehow?

[2019-12-20 22:00] #9091 closed

[2019-12-20 22:00] scbedd commented on #8631
Duplicate #9097

[2019-12-20 22:00] #8631 closed

[2019-12-20 23:29] yunhaoling opened #9229 "[EventHubs] Close the internal receiver when user process event callback raises error"

[2019-12-20 23:44] yunhaoling commented on #9227
Hello @andreacassioli ,

Please take a look at the changelog here: https://github.com/Azure/azure-sdk-for-python/blob/release/servicebus-v1/sdk/servicebus/azure-servicebus/HISTORY.rst

[2019-12-20 23:55] #7912 closed

[2019-12-20 23:56] lmazuel commented on #7408
Done

[2019-12-20 23:56] #7408 closed

[2019-12-20 23:56] lmazuel commented on #7402
Done

[2019-12-20 23:56] #7402 closed

[2019-12-20 23:57] lmazuel commented on #6859
Seems to me deprecated Epic

[2019-12-20 23:57] #6859 closed

[2019-12-20 23:57] lmazuel commented on #7401
Done

[2019-12-20 23:57] #7401 closed

[2019-12-20 23:58] lmazuel commented on #7404
Done

[2019-12-20 23:58] #7404 closed

[2019-12-21 00:04] lmazuel commented on #9085
Actually done already:
https://github.com/Azure/azure-sdk-for-python/blob/25c0a046c3c486c83ec4fbc9fbbdf253e1091cf8/sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/_eventprocessor_mixin.py#L106-L107

https://github.com/Azure/azure-sdk-for-python/blob/25c0a046c3c486c83ec4fbc9fbbdf253e1091cf8/sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py#L247-L250

[2019-12-21 00:04] #9085 closed

[2019-12-21 00:32] lmazuel commented on #8810
Fixed in https://github.com/Azure/azure-sdk-for-python/pull/7624/

[2019-12-21 00:32] #8810 closed

[2019-12-21 01:23] lmazuel commented on #9084
Fixed in https://github.com/Azure/azure-sdk-for-python/pull/7624/

[2019-12-21 01:23] #9084 closed

[2019-12-21 05:27] kaerm commented on #9228
Hi @andreacassioli thanks for reaching out to us. Someone from our team will take a look at this //cc: @mayurid

[2019-12-21 07:55] mathieugravil opened #9235 "Not the same package is installed"
Hello,

I am writing some package based on azure sdk. So In my setup.py, i put :
 install_requires=[
...
'azure-keyvault-secrets==4.0.0'
..]
When i install my package it install 'azure-keyvault-secrets==4.0.0' but not in the same way than if i do pip install 'azure-keyvault-secrets==4.0.0'

And i get some error :

Traceback (most recent call last):
  File "tests/test_common.py", line 4, in <module

[2019-12-23 17:14] xiangyan99 opened #9240 "azure core needs to honor "retry-after-ms""

[2019-12-23 17:34] lmazuel commented on #9235
Hi @mathieugravil
Could you clarify:
- The version of pip used
- The version of setuptools installed in your env
- The command you type to install your own setup.py with the install_requires. Ideally, the full log of that command would be awesome.
- Do you have a file `__init__.py` file in /usr/local/lib/python2.7/site-packages/azure_keyvault_secrets-4.0.0-py2.7.egg/azure and if yes, what is insid

[2019-12-23 17:38] lmazuel commented on #9240
Could you precise your issue? Is this RetryPolicy, etc.
Usually variables like that are called "retry-after" and designed as float, so ms are possible.

[2019-12-23 17:53] xiangyan99 commented on #9240
In our retry policy, we only parse "Retry-After" in the response header.

AppConfig uses "retry-after-ms" for the retry-after setting in their response and we want to honor this as well.

https://github.com/Azure/AppConfiguration/blob/master/docs/REST/throttling.md

[2019-12-23 21:43] xiangyan99 commented on #6378
This is a good suggestion. But the problem is different transports/policies may vary a lot on how to consume the kwargs. e.g. in RequestIdPolicy, we may consume "request_id", "auto_request_id", "x-ms-client-request-id". We cannot give it a default value because we have different behaviors on it sets to None vs it is not set.  Another example is CustomHookPolicy, we need to pop up "raw_response_hoo

[2019-12-23 22:10] yunhaoling opened #9242 "[ServiceBus] message.dead_letter doesn't set any properties of message which is consistent with the .NET Sdk"
Customer report:

When you are receiving a message and explicitly try to deadletter it (message.dead_letter(description)), the description (string) doesn't show up in the properties of the message even when it is specified.  I tried it with the regular dead_letter and also async dead_letter in Python, both returned these properties of the message:
"properties": {},
When I run the same test using t

[2019-12-23 22:48] YijunXieMS commented on #9225
This issue is merged with #9226

[2019-12-23 22:48] #9225 closed

[2019-12-24 00:21] xiangyan99 commented on #9240
fixed

[2019-12-24 00:21] #9240 closed

[2019-12-24 01:07] YijunXieMS opened #9245 "Remove starting_position_inclusive from EventHubConsumerClient.receive()"
If a user wants to include an offset, sequence number or time, start with a smaller value exclusive. So it's not meaningful to start with a position inclusive.

[2019-12-24 16:31] welabbar1 commented on #573
I am bumping this as well. Please consider this!

[2019-12-24 20:01] davidt99 commented on #8404
@yunhaoling, using 5.0.0b6, the crash no longer happens, although "Can't call on_state_changed during garbage collection, plase be sure to close or use a context manager" is shown but I guess it makes sense (besides the typo :wink:).

[2019-12-24 20:01] #8404 closed

[2019-12-25 06:25] v-xuto commented on #7072
Hi, @xenogew
The solution to this problem is shown in the following code.
[code]

[2019-12-25 06:26] v-xuto commented on #7072
@jongio

[2019-12-25 06:33] v-xuto commented on #9228
There are two differernt Message classes in servicebus client 0.50.2:
1. from azure.servicebus.control_client import Message
     This message in path: servicebus\control_client\models.py
     In this message class, it has propertie: message.broker_properties['DeliveryCount']
2. from azure.servicebus import Message
     This message in path: servicebus\common\message.py
     In this message class,

[2019-12-25 06:35] v-xuto commented on #9228
@jongio

[2019-12-26 18:11] lmazuel commented on #8404
I take ownership for the typo :p
https://github.com/Azure/azure-uamqp-python/pull/136

Yes, I think this warning if fair. If the client is not closed properly, the message sender/receiver are garbage collected while still open, and because the callback system is define recursively on the class itself, calling a callback on a garbage collected object is not possible.

[2019-12-26 18:23] lmazuel commented on #9074
Hi @MMollyy
That's mostly the approach the CLI is using as well:
https://github.com/Azure/azure-cli/blob/4d5b1a942e48ce6f8674420f2b18d50f19ed860e/src/azure-cli/azure/cli/command_modules/role/custom.py#L1344-L1365

They comment it as "waiting for replication to do be done", so my guess is that because AAD and Azure Authorization are two different entities, there is some synchronization ongoing here

[2019-12-26 18:34] lmolkova commented on #9099
@lmazuel

thanks for the explanation.

I believe we should be using UNSPECIFIED for everything we don't know, but it's only relevant to INTERNAL. For producer/consumer, it;s fair to say they map pretty good to CLIENT/SERVER.

[code]

[2019-12-26 19:34] lmolkova opened #9256 "[FEATURE REQ] Distributed tracing: set az.namespace attribute"
[FEATURE REQ] Distributed tracing: set az.namespace attribute

OpenCensus/OpenTelemetry exporters (such as Azure Monitor exporter) may need to reliably know which that call is made against certain Azure service.

Azure Monitor exporter will use this information to navigate to corresponding Azure resource from AzMon UX and show proper icons.

**Describe the solution you'd like**
Add 'az.namespace'

[2019-12-26 23:52] YijunXieMS opened #9258 "[Event Hub] Uamqp async management request returns status 4xx empty data"
Uamqp async management request returns status code 4xx and empty data without raising an error when there is actually an error. Then the code that retrieves management data from the response may get an error (for instance KeyError) and the error message is not relevant to the response code. It could be confusing to users.

Uamqp sync management request is different. It raises a meaningful error wh

[2019-12-26 23:58] lmazuel commented on #8299
Hi @lmcarreiro
That's a SSL connection error, which is happening way earlier in the process that any kind of streaming reading. So the code you changed shouldn't have any impact at all.

Could you confirm with 100% certainty (by replaying it several times), that in 100% of your failure the stream_upload is used, and in 100% of your success the direct read was used?

Thank you,

[2019-12-27 01:00] #6370 closed

[2019-12-27 01:04] lmazuel commented on #9099
@lmolkova thanks! I updated the mentionned PR in consequences.

[2019-12-27 01:04] #9099 closed

[2019-12-27 03:40] wiazur opened #9261 "404 for link from Bing Image Search"
This link doesn't work:
https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-search-imagesearch/%5Bhttps://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference?view=azure-python#market-codes%5D(https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#market-codes)

It's from the Market Codes link, as described in the `searc

[2019-12-27 09:28] MMollyy commented on #9074
Hey @lmazuel ,

thanks. I had figured as much, thanks for confirming. I would definitely like to hear/read back on the results of that investigation.

[2019-12-27 11:16] K3UL opened #9263 "Allow CorrelationFilter with custom properties"
Hi,

The documentation for the Python SDK forwards to the Service Bus filtering doc which indicates that CorrelationFilter works with CorrelationID, but also some other system properties and custom properties.
This is true in DotNet.

But in Python, unfortunately, this filter only works with the CorrelationID field. Our only solution is to use SqlFilter, which is apparently much less efficient.

C

[2019-12-27 17:53] lmazuel commented on #9261
Den @docs-product thee Python code contains correct MD link, but I guess the system is processing them as RST and creates the trouble? Thoughts?

[2019-12-27 18:07] ctufts opened #9267 "[BUG] TextAnalytics prints repeated score"
**Describe the bug**
sample_analyze_sentiment.py prints a repeated score (the output at the beginning of the file is incorrect and the code between 103 and 114 (handles printing of the results).

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
[code]
This causes an output that is incorrect:
[co

[2019-12-27 18:33] #9229 closed

[2019-12-27 22:38] yunhaoling opened #9269 "[EventHubs] get_running_loop called in constructor of Consumer/Producer"
This enforced the EventHubConsumerClient and EventHubProducerClient to be created in a coroutine method. which should be fixed.

[2019-12-28 00:19] #9038 closed

[2019-12-28 00:19] #9258 closed

[2019-12-28 00:20] #9226 closed

[2019-12-28 17:21] andreacassioli commented on #9228
Hi @v-xuto,
I am looking at the `Message` class in the `common` module. My old implementation uses the `control_client` version.

[2019-12-30 17:31] kristapratico commented on #9267
@ctufts Thank you so much for pointing this out! I've fixed the printing of the sentiment scores in #9275

[2019-12-30 18:12] #9269 closed

[2019-12-30 18:19] #9267 closed

[2019-12-30 18:32] kristapratico opened #9276 "[textanalytics] Add primary_language to DetectLanguageResult"
primary_language should contain a single DetectedLanguage

[2019-12-30 20:49] #4241 closed

[2019-12-30 21:33] #9276 closed

[2019-12-30 21:37] YijunXieMS commented on #9245
This issue is cancelled because ("@latest", inclusive) include the last event while ("@latest", exclusive) doesn't. There is no other easy way for users to receive from and include the last event. So "inclusive" is still meaningful.

[2019-12-30 21:37] #9245 closed

[2019-12-30 23:14] kristapratico opened #9279 "[textanalytics] Allow setting default language/country_hint at client initialization"

[2019-12-31 01:00] #9279 closed

[2019-12-31 10:01] v-xuto commented on #9049
Hi @imsiddsingh，
Has your issue been resolved after installing the  'azure-datalake-store' package locally?

[2019-12-31 18:23] praveenkuttappan opened #9286 "Failure to upload to devops feed is not cleaning up stale file"
Upload to devops feed failed due to service not available error but a stale file was already created in devops feed. When upload was reattempted, it found a file with same name in devops feed and failed.

Ideally we should cleanup any existing file with same name if it is present before reattempting to upload.

---------------------------------------------------------------------------------------

[2019-12-31 19:19] maggiepint commented on #9256
@johanste is this on your radar? Not sure how you want this issue categorized.

[2019-12-31 21:03] YijunXieMS commented on #9050
This is fixed with uamqp 1.2.5 release. The customer has verified.

[2019-12-31 21:03] #9050 closed

[2019-12-31 23:57] yunhaoling commented on #8227
bug is fixed in azure-eventhub 1.3.3

[2019-12-31 23:57] #8227 closed

[2020-01-01 07:06] KraGiE opened #9291 "Network failure on BlobClientService | ContainerService causes hanging"
I'm running an app that opens every single file in a container to check it's contents, and it runs well for the most part.  However, it will hang indefinitely when there's a network error.

Entry point:
[code]

Taken from the samples so source is the filename of the blob being downloaded.

[code]

![Screenshot at Dec 31 23-05-21](https://user-images.githubusercontent.com/5402972/71638946-0dc8e000-

[2020-01-02 02:26] v-xuto commented on #9125
Hi @briglx,
Follow [Authenticate with token credentials](https://docs.microsoft.com/en-us/azure/python/python-sdk-azure-authenticate?view=azure-python#mgmt-auth-token):
Step 1, to create a service principal with the Azure CLI, use the following command:
[code]
Step 2, use following code to create ContainerInstanceManagementClient:
[code]

[2020-01-02 07:17] #9049 closed

[2020-01-02 19:22] iscai-msft opened #9298 "Figure out how best to deal with handshake timeout as seen in live tests"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=222481&view=results

Could be catching and throwing a better message, could be adding a new exception to azure core exceptions

[2020-01-02 19:31] danieljurek commented on #8638
For the PyPI documentation piece of this:

Update the "Package (PyPi)" link in the README.md

Example with previous GA [here](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/eventhub/azure-eventhub)... note the link directly points to the `5.0.0b6` version because if we did not point directly to that version a consumer of the README docs would land on the `1.3.3` version.

Example wi

[2020-01-02 19:44] lmazuel opened #9299 "Core tests leaves a file "test_retry_seekable_file""
Test run should be clean and left no file behind. We can use tmpfile package, or a finally to clean after our tests (ideally tmpfile)

[2020-01-02 22:57] #9175 closed

[2020-01-02 23:24] chlowell opened #9302 "Reimplement ManagedIdentityCredential with composition"
`ManagedIdentityCredential` exists to hide `MsiCredential` and `ImdsCredential` behind a facade that has the right surface for documentation and code completion. It accomplishes this by overriding its constructor to return an instance of one of those classes, and defining empty methods with docstrings.

It could instead hold another credential and wrap its methods, as does `EnvironmentCredential`.

[2020-01-03 00:02] annatisch opened #9303 "[EventHubs] Receive mechanism should be consistent between sync & async"
Currently the async consumer adds events to an internal queue then processes these post-connection work, whereas the sync consumer processes the events as they arrive.

The async implementation has the advantage that any errors that occur will be raised if for example, the received message bytes are corrupted. Whereas in the sync version those errors would be swallowed.

I think we should add the

[2020-01-03 00:03] xiangyan99 commented on #8941
Do you mean we want to expose "add_to_user_agent" for every pipeline run?

[2020-01-03 00:03] xiangyan99 commented on #8667
@jongio I think it is already fixed. Please double check.

[2020-01-03 01:08] lmazuel commented on #8941
@annatisch yes, `user_agent` achieves this purpose, but we need one in init as you say :)
@xiangyan99 I don't understand your comment, as @annatisch says the idea is to have one in the init, so people can customize as a whole the user-agent, and not force them to do that per request

[2020-01-03 02:12] YijunXieMS opened #9306 "[uamqp] async management call may return status 4xx and empty data"
For the following code in EventHubs, sometimes (not very often) it doesn't raise an error but response.get_data() returns an empty dict (not None). When it happens, the status code is 4xx. We haven't seen this with the same call of sync.

[code]

Try with wrong credential

[2020-01-03 02:16] YijunXieMS opened #9307 "[uamqp] Remove loop as a param"
Python 3.10 asyncio will remove loop as a param in some functions. For instance, asyncio.sleep(), shield(), wait_for(), etc. Uamqp should remove them.
Python 3.8 asyncio has deprecated param loop in these functions.

[2020-01-03 06:56] v-xuto commented on #9228
Why don't you continue to use control_client version?

[2020-01-03 15:23] bmc-msft opened #9310 "azure.identity can't be used for mgmt clients"
azure.identity.DefaultAzureCredential is an extremely useful helper, unfortunately this does not work for azure-mgmt components.  It would be beneficial to have this mechanism unified.

[2020-01-03 16:39] chlowell opened #9311 "Update storage configuration samples"
Samples currently show configuring clients with internal APIs. For example, this one imports `create_configuration` from `_shared` and uses an underscored keyword argument:
https://github.com/Azure/azure-sdk-for-python/blob/39c3c4076dbe0ba68540df9969b1a08f83256d35/sdk/storage/azure-storage-blob/samples/blob_samples_proxy_configuration.py#L47-L55

[2020-01-03 16:45] chlowell commented on #9080
Great, I'm glad you got it working. However, all clients should accept the `proxies` keyword argument, and it would be safer to use that because underscored things are internal and may change in future releases. For `BlobServiceClient`, you'd want something like this:
[code]
I opened #9311 to track updating the storage samples, and am closing this issue because the original problem is solved.

[2020-01-03 16:45] #9080 closed

[2020-01-03 16:46] steveharrington1 opened #9312 "App Service Plans Missing Number of Workers"
This issue was originally opened in the rest-api-specs repo [here](https://github.com/Azure/azure-rest-api-specs/issues/7990). Opening this here at the request of Azure Support - Request ID 120010224003515

The current model for app service plans is missing the number of workers. When I go to https://docs.microsoft.com/en-us/rest/api/appservice/appserviceplans/list and try it, in the properties se

[2020-01-03 17:57] lmazuel commented on #7724
we're 77% with a median coverage, closing

[2020-01-03 17:57] #7724 closed

[2020-01-03 18:07] chlowell commented on #9127
@lmazuel

[2020-01-03 18:21] lmazuel commented on #9127
Hi @omzevall
To answer directly to your question
1. This repo now belongs to the Azure CLI team, our copy here is a "fork" in place
2. You're definitely right, even maybe rename the folder to be even more explicit. I assign this bug to me

[2020-01-03 18:28] lmazuel commented on #9310
Hi @bmc-msft
This is work in progress already, we'll release a new version of each mgmt package with identity support. I keep this issue assigned to me until then.
Thanks!

[2020-01-03 22:54] joshfree opened #9316 "Create Test Automation for Azure.Identity running in Azure Hosted Environments"
**Epic: Create Test Automation for Azure.Identity running in Azure Hosted Environments**

- [x] Azure Cloud Shell
  - [x] /sdk/e2e test assets checked-in so that they can be referenced from Vendor Instructions (#9336)
  - [x] Language-specific instructions added to https://github.com/Azure/azure-sdk/issues/795
- [x] Azure VM
  - [x] /sdk/e2e test assets checked-in so that they can be referenced fr

[2020-01-03 23:17] joshfree opened #9318 "Make Azure.Identity Errors Simple, Consistent, and Actionable"
Tracking Issue for the Error Message Consistency push that we'll be doing in Azure.Identity

Related Items
- Simplify and consistent error messages across all Credential classes and all SDKs.
 https://github.com/Azure/azure-sdk-for-net/issues/8936
- POC PR Here: https://github.com/Azure/azure-sdk-for-net/pull/9038/files
- Help the user diagnose what is wrong. https://github.com/Azure/azure-sdk-for

[2020-01-03 23:28] joshfree opened #9319 "Make the User/Client-side Application Golden-Path for Azure.Identity Easy"
Tracking issue for addressing UX feedback on User/Client-side Application "Golden path" scenarios with Azure.Identity. Easy scenarios are still too complicated, require referring to documentation for too many conceptual topics, and it's not clear to new users how best to get started.

This work item tracks adding new simple one-shot or golden-path APIs specific to the User/Client-side Application

[2020-01-03 23:34] joshfree opened #9320 "Make the Service/Server-side Application Golden-Path for Azure.Identity Easy"
Tracking issue for addressing UX feedback on Service/Server-side "Golden path" scenarios with Azure.Identity. Easy scenarios are still too complicated, require referring to documentation for too many conceptual topics, and it's not clear to new users how best to get started.

This work item tracks adding new simple one-shot or golden-path APIs specific to Service/Server-side authentication flow sc

[2020-01-03 23:45] joshfree opened #9321 "Create an Amazing Dev-time Credential Experience for Azure.Identity"
Tracking issue for feature work specific to Developer-time Azure.Identity Credential Experience

- [ ] ~~Bring back file based auth for Management Plane: https://docs.microsoft.com/en-us/dotnet/azure/dotnet-sdk-azure-authenticate?view=azure-dotnet#mgmt-auth AZURE_AUTH_LOCATION (see https://github.com/Azure/azure-sdk-for-net/pull/9312) (@ellismg driving design requirements)~~

- [x] Add Support for

[2020-01-04 00:56] lmazuel opened #9324 "Make the core testbase off-line ready"
There is several tests that call httbin or bing, and they can't pass if there is no network. Need to find a way todo an actual HTTP request, with the less possible mock so we're confident it's working as expected.

I think I remember httpbin can be install locally, maybe that?

To investigate.

[2020-01-04 00:57] #9037 closed

[2020-01-04 00:58] #9039 closed

[2020-01-04 01:01] yunhaoling commented on #8902
Hello @TY48 ,

we've fixed this problem in azure-eventhub 1.3.3, can you try the v1.3.3?

[2020-01-04 01:03] yunhaoling commented on #8540
closing this issue, please follow the issue: https://github.com/Azure/azure-sdk-for-python/issues/9185

[2020-01-04 01:03] #8540 closed

[2020-01-04 01:06] yunhaoling commented on #5307
@gizmo93 , we've released azure-eventhub 1.3.3 along with uamqp v1.2.5 which should fix the send timeout problem. Please try the using the latest library.

[2020-01-04 01:12] yunhaoling commented on #5312
@sahPraveen

This turns out to be a bug in the uamqp library and we've fixed it in uamqp 1.2: https://github.com/Azure/azure-uamqp-python/pull/62.

Please try updating to the latest uamqp library.

[2020-01-04 16:33] andreacassioli commented on #9228
A number of reasons:

- use autolock renew
- hopefully experience better performance and less connection reset issues
- move to async

Anyway, is the lack of delivery count a design choice?

[2020-01-05 07:19] yunhaoling opened #9325 "[EventHubs] Wrong Auth type in _create_auth"
Should the auth class here be SASTokenAuth (async accordingly)?

https://github.com/Azure/azure-sdk-for-python/blob/f74cfa1aed972ded2a7b196f22fba281c52c3fe6/sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py#L164-L175

[2020-01-05 18:15] annatisch commented on #9325
No - the actual class here doesn't matter - in fact I changed it to the JWT token class because I needed the dynamic mechanism to actually generate/gather the token at auth time, rather than cache a static string.
If you see on line 169 - the actual type of the token is still being set to "servicebus.windows.net:sastoken"

[2020-01-05 18:59] #5034 closed

[2020-01-05 21:09] annatisch opened #9327 "[EventHubs] Failed auth on mgmt request crashes on OSX"
If the response status code in a management request (eg. get_properties) is a 401 (i.e. auth failure), then the client crashes with a seg fault.
This only appears to happen on MacOS.
It is likely an issue in the underlying uamqp, and will be tracked there as well.

[2020-01-05 21:29] annatisch commented on #9327
Turned out to be a known issue in logging on OSX

[2020-01-05 21:29] #9327 closed

[2020-01-05 22:04] yunhaoling commented on #9325
thanks for the explanation, closing this

[2020-01-05 22:04] #9325 closed

[2020-01-06 17:16] wjia7 opened #9332 "Update IP address on existing NIC return IpConfigDeleteNotSupported Error"
Hi There,

I am currently trying to update an existing IP address on an existing network interface of a VM using python SDK. This can be easily done through the Azure interface.  However, I am having trouble with it at the moment through python SDK.

`        nic_params = {
            'location': LOCATION,
            'ip_configurations':[{
                'name': ip_address_object.name,

[2020-01-06 18:42] kristapratico commented on #8583
Closed with #9288

[2020-01-06 18:42] #8583 closed

[2020-01-06 20:04] KieranBrantnerMagee commented on #8401
Closing this issue as the changes should have made it into 1.3.3.

Please don't hesitate to reopen and/or let us know if any further issues help or clarification is needed; Thanks to everyone involved!

[2020-01-06 20:04] #8401 closed

[2020-01-06 20:18] #2315 closed

[2020-01-06 20:26] scbedd commented on #9069
The DevOps team triaged, investigated, found the issue, and pushed a fix. You can now look at cogservices release pane without crashes!

[2020-01-06 20:26] #9069 closed

[2020-01-06 20:41] KieranBrantnerMagee commented on #8711
Just wanted to follow up on this, a new SB release went out prior to the holidays, (0.50.2) that contains the aforementioned fixes.

Feel free to let us know if this addresses the issue at hand, don't hesitate to ping if any surprises/clarification/further questions, and thanks as always for your patience.  (I'll wait a bit to close this in case anything is needed)

[2020-01-06 22:48] KieranBrantnerMagee commented on #9010
Looping back on this;  we released a new SB release (0.50.2) prior to the holidays per my earlier mention, am wondering if this mitigated the issues you observed.

Don't hesitate to ping if not/if any clarification or help is needed and we'll gladly dig in; thanks as always for your time!

[2020-01-06 23:32] #8354 closed

[2020-01-06 23:53] bryevdv commented on #6378
Just to clarify, I was not trying to suggest a single "options" class for all of `azure.*` that gets used everywhere. Rather, I imagined lots of "options" classes, e.g. even up to per transport/policy, each specifying only the options relevant to it. The win (in my mind) is having standard more-or-less declarative way for azure devs to express what options are, (which could if we really wanted als

[2020-01-07 02:31] v-xuto commented on #7072
Hi @xenogew,
How is this issue going? Feel free to let us know if further help is needed.

[2020-01-07 02:36] v-xuto commented on #9125
Hi @briglx,
How is this issue going? Feel free to let us know if further help is needed.

[2020-01-07 14:20] jongio commented on #8667
Yes, closing.

[2020-01-07 14:20] #8667 closed

[2020-01-07 16:58] xiangyan99 commented on #6378
This needs to revisit policies/transports one by one.

[2020-01-07 17:19] lmazuel commented on #5776
Fixed on master

(randomly found this issue, but since I'm here :p )

[2020-01-07 17:19] #5776 closed

[2020-01-07 18:24] annatisch opened #9351 "[uamqp] Auth timeout can cause crash"
When running at high capacity (e.g. ~256 partitions), authentication timeout on a particular partition can bring down the receiver. Appears to be a bug in the error handling of the auth response in uamqp.

[2020-01-07 22:01] bryevdv commented on #9324
Maybe https://github.com/kevin1024/pytest-httpbin (which AFAICT is not the *actual* httpbin)?

[2020-01-07 22:25] #7563 closed

[2020-01-07 22:26] #9133 closed

[2020-01-08 03:07] scbedd opened #9360 "[Servicebus] Build Failures after Tox Parallel Checkin"
[Example failing build.](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=227128&view=logs&j=79d4d8df-e8a9-5bb0-89e9-dbeb29a5038e&t=761375b9-fd67-58cb-75dc-d11d69ad3ad1)

All tests fail with the same collection error:

[code]

However, due to the fact that it's an immediate failure across all python versions, I don't actually think this is strictly related to the `parallelization` p

[2020-01-08 09:07] andreacassioli commented on #9228
Any more feed back?

[2020-01-08 10:44] mitchdenny commented on #5293
Closing this down. Now that we are on unified pipelines, the time to upload code coverage results in the python pipeline isn't that significant. For storage it is about 22 seconds, it could possibly be made faster but the pay off for the effort of getting the Azure Pipelines agent code updated and chasing it through to production probably isn't worth it, and that assumes we've got someone to champ

[2020-01-08 10:44] #5293 closed

[2020-01-08 19:30] yunhaoling commented on #9228
Hello @andreacassioli , sorry for the delay.

The ServiceBus `Message` has a member called `header`: https://github.com/Azure/azure-sdk-for-python/blob/3f32d00a5f9abe7d9d84d9696cf8d8d7c9e59c2f/sdk/servicebus/azure-servicebus/azure/servicebus/common/message.py#L58

which is a `MessageHeader` object defined in the uamqp library, and contains `delivery_count` info:
https://github.com/Azure/azure-uamq

[2020-01-08 19:48] andreacassioli commented on #9228
@yunhaoling Thanks works!

Just one note: the counter seems to be set to `None` instead of zero, so it goes `None, 1, 2, 3...`. Is it by design?

Is there a documentation for the header? I could not find any.

[2020-01-08 19:55] annatisch commented on #9228
Hi @andreacassioli - I believe the reason for this is that the message header doesn't include this field until its value is 1 or higher - so the deserilzation logic interprets this as None rather than 0.

We should give this value a sensible default - thanks for bringing it to our attention! :)

[2020-01-08 23:09] xiangyan99 commented on #9299
Fixed

[2020-01-08 23:09] #9299 closed

[2020-01-09 00:26] #9360 closed

[2020-01-09 00:48] scbedd opened #9379 "Irregular Parallelization Error Occurring for Windows Builds"
@iscai-msft saw a weird error in her certificates release build.

[Error](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=228211&view=logs&j=f2de612a-62c9-5121-75e8-36f1bc1a0f81&t=474ef29f-1c3f-5c08-e731-bdd0c8962b3b)
[Another instance of the error](https://dev.azure.com/azure-sdk/public/_build/results?buildId=228958&view=logs&j=be2373b3-6b66-526b-20b8-841c5ec5eb4b&t=27b6da23-3544-

[2020-01-09 08:28] jsntcy commented on #8941
@xiangyan99  Previously we use something like "client.config.add_user_agent(UA_AGENT_1); client.config.add_user_agent(UA_AGENT_2)" to append our own user agents in Azure CLI code, after your PR #9355 , how can I use it to achieve the same goal?
cc @lmazuel

[2020-01-09 09:56] v-xuto commented on #9332
Hi @wjia7,
In nic_params, please udpate **"ip_address_object.name"** to **"ip_configuration_name"**  about the name of ip_configurations.

nic_params = { 'location': LOCATION, 'ip_configurations':[{ 'name': **ip_configuration_name**, 'public_ip_address':ip_address_object, 'subnet': { 'id': subnet_info.id } }] }

 Ip_address_object.name refers to the name of public_ip_address.

The picture below wi

[2020-01-09 10:03] v-xuto commented on #9217
Hi @ajay15283,
Here are the steps to disassociate NSG from a interface：
Step 1, create a Network Management Client Object.
Step 2, get public_ip_obj, nsg_obj and subnet_obj.
Step 3, configure network interface parameters. The most important thing, the value of the parameter network_security_group is None for disassociation.
Step 4, use method create_or_update to update network interface configurat

[2020-01-09 17:57] lmazuel commented on #8941
@jsntcy the kwargs will be called "user_agent"

[2020-01-09 18:30] allegradomel commented on #9217
#please-close

[2020-01-09 18:50] wjia7 commented on #9332
Thanks for the update. This problem is now resolved for me

[2020-01-09 18:50] #9332 closed

[2020-01-09 19:39] scbedd commented on #8553
Closing, this isn't really relevant for first xfer.

[2020-01-09 19:39] #8553 closed

[2020-01-09 20:10] scbedd commented on #8526
Closed with PR #8549

[2020-01-09 20:10] #8526 closed

[2020-01-09 20:16] scbedd commented on #8524
Closing, I don't believe this is relevant.

[2020-01-09 20:16] #8524 closed

[2020-01-09 20:18] scbedd commented on #8551
I have placed an estimate of `2` on this task, but this task will be necessary for _each package_ as it migrates into our repo.

[2020-01-09 20:22] scbedd opened #9385 "Update Migrating Packages to Individually Version and Build SDIST"
Have an example of what I did as a naive attempt at this. Got the `azureml-tensorboard` package building and producing artifacts/running tests.

Old: https://github.com/Azure/azure-sdk-for-python-pr/tree/azureml/sdk/azureml/src/azureml-tensorboard
New: https://github.com/Azure/azure-sdk-for-python-pr/tree/azureml/sdk/azureml/azureml-tensorboard

This work will need to be completed for each package

[2020-01-09 20:28] scbedd opened #9386 "Migrate AML Integration Builds to azure-sdk org"
Pending confirmation by management, integration tests can move.

This would be a massive investment, and I'm uncertain as to the actual benefits.

Concern here is that the agent demand might be too much for our org, in which case they'd be forced to stay where they are.

[2020-01-09 20:42] scbedd commented on #9385
I have added an estimate of `1`, but expect this to be required for each package as it migrates into the repo.

[2020-01-10 00:17] kristapratico commented on #8582
version 1.0.0b1 released

[2020-01-10 00:17] #8582 closed

[2020-01-10 00:35] scbedd opened #9390 "Disable Tox "Parallel Spinner" in CI"
[Reference](https://tox.readthedocs.io/en/latest/example/basic.html#parallel-mode)

What's happening is that build logs [are inflated](https://dev.azure.com/azure-sdk/590cfd2a-581c-4dcb-a12e-6568ce786175/_apis/build/builds/228211/logs/191) because it's not disabled in CI. Should definitely do that.

[2020-01-10 01:36] jianghaolu opened #9393 "ManagedIdentityCredential cannot parse expires_on from App Service for Windows"
In https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/identity/azure-identity/azure/identity/_authn_client.py#L138

The format to parse the expires_on field is `m/%d/%Y %H:%M:%S`, however, 2017-09-01 version of managed identity service on App Services for Windows returns a payload with date times formatted as `"expires_on":"1/10/2020 8:01:28 AM +00:00"`, which results in error:

[code]

[2020-01-10 02:11] jsntcy commented on #8941
@lmazuel , so I if I add to two use agents as I did before like "client.config.add_user_agent(UA_AGENT_1)
 client.config.add_user_agent(UA_AGENT_2)",

do I need use as follows?
policy = UserAgentPolicy(),
policy.add_user_agent(UA_AGENT_1),
policy.add_user_agent(UA_AGENT_2),
kwargs['user_agent'] = policy
client(**kwargs)

[2020-01-10 07:54] tzhanl commented on #7072
we are going to close this issue because we haven’t heard from you in a few days, but please re-open it if the issue still persists.

[2020-01-10 07:54] #7072 closed

[2020-01-10 07:54] tzhanl commented on #9125
we are going to close this issue because we haven’t heard from you in a few days, but please re-open it if the issue still persists.

[2020-01-10 07:54] #9125 closed

[2020-01-10 10:37] ibnipun10 commented on #8912
What is happening to this request. I would like to use ADLS gen2 and it is only in the latest storage SDK

[2020-01-10 10:49] Korijn opened #9397 "azure-identity requires aiohttp"
- **Package Name**: azure-identity
- **Package Version**: 1.1.0
- **Operating System**: Ubuntu 18.04
- **Python Version**: 3.6.8

**Describe the bug**
azure-identity appears to require aiohttp. if this is a required dependency, it is missing from install_requires in setup.py, because it isn't installed automatically by pip

**To Reproduce**
Create a virtualenv with the following packages:

[code]

[2020-01-10 14:54] #9217 closed

[2020-01-10 15:07] chlowell opened #9399 "Descriptive, actionable error message when async API is unavailable"
When the async API is unavailable due to unsupported Python version, or lack of async transport, we should raise an error with a message describing the async API's requirements and linking to documentation. Currently it's just a `ImportError: cannot import name 'AioHttpTransport'`.

[2020-01-10 15:07] chlowell commented on #9397
Thanks for opening this issue. The tacit aiohttp dependency is intentional across the SDK. We don't explicitly require it because the choice of async transport is optional, as is the entire async API--it's designed to be opt-in. The need to separately install an async transport is documented in readmes but the error message here isn't helpful; we can make it more so.

This is broader than azure-id

[2020-01-10 15:23] Korijn commented on #9397
Transport means HTTP client in this context, correct?

[2020-01-10 15:28] Korijn commented on #9397
I can't find this in the (root) readme, also. Are there other readme's?

[2020-01-10 16:29] chlowell opened #9400 "User-focused documentation of transport configuration"
The extant documentation (https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md#transport) is written for client library developers. We should have a document describing how users can configure transport.

[2020-01-10 16:34] chlowell opened #9401 "Document async requirements for Storage"
READMEs (and probably the `.aio` modules as well) should mention the async API requires an async transport be installed separately ([for example](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/keyvault/azure-keyvault-secrets/README.md#async-api)).

[2020-01-10 16:40] chlowell commented on #9397
Yes, which in this case also includes the async implementation (e.g. Trio or asyncio).

azure-identity documents it [here](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/identity/azure-identity/README.md#async-credentials). Thanks for asking, I see the link there to azure-core docs is defunct (#9400). I also see it isn't documented for azure-storage-blob (#9401).

[2020-01-10 17:40] K3UL opened #9402 "ServiceBus AMQP - idle_timeout is not used with NEXT_AVAILABLE session"
- **Package Name**: azure-servicebus
- **Package Version**: 0.50.2
- **Operating System**: Windows 10
- **Python Version**: 3.8.0

**Describe the bug**
I am using `azure.servicebus.ServiceBusClient` with session-enabled topics.
I create a Receiver with a certain `idle_timeout` (in seconds) and then call `fetch_next` with the same number for the argument `timeout`.

I am working on a topic where th

[2020-01-10 17:58] kristapratico opened #9403 "[textanalytics] Incorporate feedback into README"
Summary:
* Use same name variable assigned to the text analytics client across all samples in readme
* Add short description of business concepts for each operation
* Put docs.microsoft.com links into README
* The portal changes, don't include where to click to find the endpoint/key
* Communicate the idea of an ID better. Some confusion if they would change per request.
* Under each sample include

[2020-01-10 18:01] kristapratico opened #9404 "[textanalytics] Update samples to follow latest guidance"
[Guidance here](https://microsoft.sharepoint.com/teams/AzureDeveloperExperience/_layouts/15/Doc.aspx?sourcedoc={33bd5249-4696-4382-b9f5-c5c1436a2b36}&action=edit&wd=target%28Vanadium%20Planning%20and%20Status.one%7Cf621d863-c3ec-4e47-9e60-08ed695aa5ab%2FSamples%20Guidance%7C2daef4da-3fd3-4fce-834d-d7f98ef72dc4%2F%29&wdorigin=703)

Example in [docs](https://docs.microsoft.com/en-us/samples/azure/az

[2020-01-10 18:12] lmazuel commented on #8941
Nope, you would have to build the string and pass one kwarg:
[code]
You don't instantiate the UserAgentPolicy, that's internal

[2020-01-10 18:36] scbedd commented on #9379
Common pattern, all these failures are on Windows.

[2020-01-10 18:46] scbedd opened #9405 "Add Additional Build Parameter - Install "These" Packages for Dependency Testing"
Context:

@lmazuel needs to release a new version of `msrest` to support the new version of `autorest`. Before he releases the new `msrest` version, he needs to use it in a full test run of the `azure-sdk-for-python` repository.

Given that:
- We have service specific builds now
- We don't currently support unreleased dependencies in our `tox` builds

Need to:
- Add a parameter for a path to a pub

[2020-01-10 20:07] scbedd commented on #9379
Also seeing this here. Great [repro opportunity](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=230514&view=results) here.

[2020-01-10 21:33] Korijn commented on #9397
Thanks for this!

For future readers: aiohttp requires asyncio, that's what is meant here, and also it is the right choice for fastapi since it uses asyncio as well.

[2020-01-11 11:43] #9397 closed

[2020-01-12 11:19] omermizr opened #9415 "[Event Hubs] OwnershipManager doesn't claim ownership if used with a single partition"
When using `EventHubConsumerClient` with a single partition id, ownership for that partition is not claimed. This logic is problematic since one can use multiple consumer clients, but still want to balance the ownerships (consider 2 containers running the same code).

[2020-01-13 07:57] Korijn opened #9419 "Document how to download blob with asynchronous generator"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.1.0
- **Operating System**: Ubuntu 18.04
- **Python Version**: 3.6.8

**Describe the bug**
It's unclear how to download blob contents with an asynchronous generator. I want to use "streaming responses" in web frameworks such as starlette and they require an object that passes `inspect.isasyncgen`.

The `chunks()` method on `BlobClien

[2020-01-13 10:17] mathieugravil opened #9420 "400 Client Error: Bad Request for url: https://management.azure.com/subscriptions/<subid>/resourceGroups/<rgName>/providers/Microsoft.ContainerService/managedClusters/<clusterName>/resetServicePrincipalProfile"
- **Package Name**:  azure-mgmt-containerservice
- **Package Version**:  8.1.0
- **Operating System**: linux
- **Python Version**: python 3.6.9

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create aks cluster with RBAC.
2. I try to create function to do reset key for spn cluster and rbac server :

[code]

My test fun

[2020-01-13 10:25] Korijn opened #9421 "Create SAS token without user delegation key"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.1.0
- **Operating System**: Ubuntu 18.04
- **Python Version**: 3.6.8

**Describe the bug**
To generate a blob SAS token I need to get a user delegation key since I'm authenticating to the storage service with client id/secret. User delegation keys expire, and this means I have to keep requesting new ones, adding overhead to my applic

[2020-01-13 13:32] Korijn opened #9422 "How to disable HTTP logging?"
- **Package Name**: azure-storage
- **Package Version**: 12.1.0
- **Operating System**: Ubuntu 18.04
- **Python Version**: 3.6.8

**Describe the bug**
It's unclear to me how I can disable the default HTTP logging policy. Is this documented somewhere?

[2020-01-13 15:12] ajay15283 commented on #9217
Thanks a lot for you help

[2020-01-13 17:06] lmazuel commented on #9422
Hi @Korijn
This logger respects the logging protocol of Python, and the logger itself is named `azure.core.pipeline.policies.http_logging_policy`. You can change the level of this level to WARNING for instance.

Reference:
https://docs.python.org/3.8/library/logging.html

[2020-01-13 17:07] Korijn commented on #9422
Ok, thanks!

[2020-01-13 17:07] #9422 closed

[2020-01-13 17:07] lmazuel commented on #9421
@rakshith91 to the rescue

[2020-01-13 17:16] jluk commented on #9420
@sauryadas anyone who can look at this key rotation issue from python SDK?

[2020-01-13 17:18] sauryadas commented on #9420
@zikalino @andyzhangx would you guys know?

[2020-01-13 17:28] YijunXieMS commented on #9415
@omermizr Thank you for trying the eventhub sdk and the suggestion. We'll look into this improvement.

[2020-01-13 17:48] ajay15283 opened #9424 "Enable update management for a VM using python sdk"
Requesting for python sdk module to enable update management for a VM using a existing log analytics and automation account

I couldn't find any particular documentation related to this specific operation .Please let me know if we have options to enable update management using python sdk

[2020-01-13 18:30] yunhaoling commented on #9306
Related issue: https://github.com/Azure/azure-sdk-for-python/issues/9303

[2020-01-13 18:47] kristapratico opened #9427 "[textanalytics] Improve README instructions for auth"
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/textanalytics/azure-ai-textanalytics/README.md

Go through these and make sure step-by-step makes sense.

Also, how would the guidance be different for production? Provide a separate sample for this? (Service team may also be working on this so check with them first before doing this part)

Add that Cognitive Services {User,Contributor,

[2020-01-13 19:55] scbedd opened #9429 "Enable EventHub Parallel Unit Tests"
[This PR](https://github.com/Azure/azure-sdk-for-python/pull/9428) makes the eventhubs CI build run the tox environments in serial. This is because when running in parallel mode, the vast majority of builds will hang running tests against `livetests/test_eventprocessor_async.py`

We should be understanding why and come up with a resolution.

[2020-01-13 20:08] praveenkuttappan opened #9430 "update_pr pipeline is failing for private branch"
Error message: Could not get latest source version from github using commit reference.

Additional info from trouble shooting:
This reference is pointing to correct code base when used against public repo azure-sdk-for-python. So issue seems to be in replicating(cloning) tool which is supposed to move commits in public repo to private repo.

[2020-01-13 21:02] Mejato opened #9432 "Object has no attribute 'signed_session'"
- **Package Name**: azure.mgmt.subscription
- **Package Version**: 0.5.0
- **Operating System**: Windows and Ubuntu
- **Python Version**: 3.7 and 3.8

**Describe the bug**
I'm following the get started guide and i can't seem to get any SDK API call going. I have tried all the available authentication methods as described in https://docs.microsoft.com/en-us/azure/python/python-sdk-azure-authenticat

[2020-01-13 21:41] #8990 closed

[2020-01-13 21:41] #8845 closed

[2020-01-13 21:50] yunhaoling opened #9435 "[EventHubs&uAMQP] Segmentation fault happens in livetest on MacOS occasionally"
- **Package Name**: azure-eventhub/uamqp
- **Package Version**:  5.0.0/1.2.5
- **Operating System**: MacOS
- **Python Version**: 3.7.5 x64

**Describe the bug**
Segmentation fault occasionally take place when running livetest on MacOS.

e.g.
test_receive_with_event_position_sync[offset-True-Inclusive] Fatal Python error: Segmentation fault.
Please check the log here:
[erro_log.txt](https://github.

[2020-01-13 22:07] chlowell commented on #8972
I found no acceptable way for credentials to close their own transport sessions, so in the next release async credentials will be async context managers with `close` methods (implemented by #9090). That creates two ways to close a credential's session in your example:

1. Call `close`
[code]

2. Use `async with`
[code]

[2020-01-13 22:42] tjsullivan1 commented on #6403
Similar to the example above, budgets has a hardcoded API value in the budgets_operations.py file that causes a non-EA offer subscription to be unable to create a budget via the API. Ideally, this could be passed to the ConsumptionManagementClient similarly to the implementation in AuthorizationManagementClient

[2020-01-13 22:53] KieranBrantnerMagee opened #9438 "Service Bus: Backplane operations should exist exclusively in mgmt package"
Currently there are some management operations still in the core service-bus SDK.  (create_queue, create_topic, etc.)

In the long term these should all be deprecated/exist only in the mgmt. package.  This is likely a discussion that should be had with @kaerm to plan out the actual work and process this will be done by.  Feel free to reach out to @KieranBrantnerMagee for context.

Brief context:

[2020-01-14 01:41] kristapratico opened #9445 "[textanalytics] Improve test coverage"
Add more tests / see where more coverage needed

[2020-01-14 03:11] v-xuto commented on #9432
Hi @Mejato,
Change **credentials = get_azure_cli_credentials()** to **credentials = get_azure_cli_credentials()[0]**

Because Method [get_azure_cli_credentials()](https://github.com/Azure/azure-sdk-for-python/blob/1a627cd1c39c530ead2e804371ff6cf9a5ef1c24/sdk/core/azure-common/azure/common/credentials.py#L81) returns a tuple containing **Credentials** and **SubscriptionID**. But we only need the Cr

[2020-01-14 05:46] yossi-y commented on #9424
Adding @msvijayn

[2020-01-14 06:33] Mejato commented on #9432
Awesome, thanks v-xuto! I got the hang of the SDK now and your assistance is much appreciated!

[2020-01-14 06:33] #9432 closed

[2020-01-14 07:48] harelbr commented on #7117
Closing as this could not be reproduced. Please open a support ticket if this issue persists.

[2020-01-14 07:48] #7117 closed

[2020-01-14 08:07] msvijayn commented on #9424
Almost, there is complete support for the required steps from Azure Automation & Update Management as well as Log Analytics. But it seems dependent service like OperationsManagement  solutions, can be used only available in ARM and not in Python SDK.

I am listing (summarising) below the usual steps for using Update Management via ARM template/API and its equivalent in Python SDK.

**1. Creating L

[2020-01-14 09:47] BarakSilverfort commented on #3692
Hey, @lmazuel,
We are using version 0.2.11 of the service bus and we want to move to the AMQP implementation, but we need to use an http_proxy for all the operations, is this still an issue for version 0.50.2?

[2020-01-14 14:11] xiafu-msft commented on #9421
Hi @Korijn
Thanks for reaching out!
I don't think you can use the application id/secret to sign the user delegation SAS.

Here is some info about user delegation SAS
`Every SAS is signed with a key. To create a user delegation SAS, you must first request a user delegation key, which is then used to sign the SAS. The user delegation key is analogous to the account key used to sign a service SAS or

[2020-01-14 14:46] Korijn commented on #9421
OK, thanks for the info. I will learn to live with it! :)

[2020-01-14 14:47] #9421 closed

[2020-01-14 15:34] xiafu-msft commented on #9419
Hi @Korijn
Thanks for reaching out!
chunks() returns an async iterator instead of a generator, so the chunks_generator() need to be defined on your own if you need a generator.

Let me know if you have any concern or need any help.

[2020-01-14 17:02] Korijn commented on #9419
Well that makes sense but I feel like documenting that or providing a convenience function would be an improvement for your library. If you disagree feel free to close the issue.

[2020-01-14 18:33] yunhaoling commented on #9415
Hello @omermizr , thanks for raising the problem.

Let's get the scenario more concrete:

Suppose we have two `EventHubConsumerClient` instances and both of them have specified the partition_id `0', both of them will receive events from partition 0 independently.

So when you're saying **"but still want to balance the ownerships (consider 2 containers running the same code)"**, do you mean in this

[2020-01-14 18:34] chlowell commented on #8972
The methods I described above are available now in [azure-identity 1.2.0](https://pypi.org/project/azure-identity/1.2.0/). I'll close this issue for now; thank you again for opening it. Please reopen this, or open another issue, if you have further trouble.

[2020-01-14 18:34] #8972 closed

[2020-01-14 18:39] ajay15283 commented on #9424
Thanks for the details

[2020-01-14 18:39] #9424 closed

[2020-01-14 18:47] yunhaoling commented on #8149
This is done in the latest release

[2020-01-14 18:47] #8149 closed

[2020-01-14 18:50] yunhaoling commented on #5307
@gizmo93 ,I'm closing this issue, but feel free to open the issue if problem still exists.

[2020-01-14 18:50] #5307 closed

[2020-01-14 18:54] YijunXieMS commented on #8954
The following two APIs was excluded from GA. Enhancements may be made in some follow-up releases.
Sending single Events
Processing batches of events in on_event callback

[2020-01-14 18:57] YijunXieMS commented on #8954
azure-eventhub 5.0.0 released on 1/13/2020
https://pypi.org/project/azure-eventhub/5.0.0

[2020-01-14 18:57] #8954 closed

[2020-01-14 19:39] YijunXieMS commented on #9303
This can be done together with supporting on_events (list of events)

[2020-01-14 20:16] omermizr commented on #9415
Hey @yunhaoling,
Yes, basically (disregarding timeouts). I'll try to clarify:
Let's look at two scenarios:
1. Two`EventHubConsumerClient` instances, bot reading from all partitions simultaneously. One will start consuming events on partition '0', while the other will not (because he first one claimed ownership).
2. Two `EventHubConsumerClient` instances, bot reading from partition '0' simultaneous

[2020-01-14 20:27] chlowell opened #9461 "Release Key Vault updates"

[2020-01-14 21:33] brianpcurran opened #9462 "AttributeError: 'ChallengeAuthPolicy' object has no attribute '_credential'"
- **Package Name**: azure-keyvault-secrets, azure-core, azure-common, azure-identity
- **Package Version**: 4.0.0, 1.2.0, 1.1.24, 1.2.0
- **Operating System**: macOS, Linux
- **Python Version**: 3.7.4

**Describe the bug**
When using the latest version of the packages listed above, I get an error `AttributeError: 'ChallengeAuthPolicy' object has no attribute '_credential'` when using `set_secret`.

[2020-01-14 22:01] tuckeryatesjvion commented on #9462
I am able to reproduce this behavior as well, using `get_secret`. I have a CI / CD pipeline that pulls the most recent version of the Azure SDK and throws this error when trying to load keyvault secrets. When I run the same code on my local machine (older version of azure SDK), I do not get this error.

Thanks @brianpcurran for pointing to working versions for a temp workaround. I should probably

[2020-01-14 22:45] chlowell commented on #7829
@iscai-msft does any work remain for this issue?

[2020-01-14 22:51] chlowell commented on #9462
Thanks for reporting this. I think I can guess the root cause, I'll take a closer look and get a fix ready.

[2020-01-14 23:13] kristapratico commented on #9016
This will change for preview 2 of the service. Detected languages will return a single language.

[2020-01-14 23:41] scbedd opened #9464 "Docs.MS doesn't render root correctly in all cases"
This has been filed against the docs.ms team, but if there is something we can do on package side to mitigate, we should.

Essentially, when some of our packages run through the docs CI, it establishes that the first package child is the `azure` namespace. While technically correct, this results in wonky things if you click on it.

[Example Start Location](https://review.docs.microsoft.com/en-us/p

[2020-01-15 01:56] dbanda commented on #9462
adding this to `self._credential = credential` to line 42 in the initializer of ChallengeAuthPolicyBase at challenge_auth_policy.py is a temporary fix.

[2020-01-15 02:22] ramya-rao-a opened #9468 "[Event Hubs] Migration Guide improvements"
The[ migration guide for Event Hubs](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/eventhub/azure-eventhub/migration_guide.md) can use the below improvements

- Update title to reflect the package name. We are doing this across all languages based on feedback from the doc review. One suggestion: is`Guide to migrate from azure-eventhub v1 to v5`
- In the introduction add a section d

[2020-01-15 02:55] lmazuel commented on #9462
Fix released as azure-core 1.2.1

[2020-01-15 02:55] #9462 closed

[2020-01-15 03:21] zezha-msft commented on #8943
Hi @briglx, this is a service [limitation](https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob) unfortunately. Please use the workaround that @xiafu-msft suggested to copy the append blob synchronously.

[2020-01-15 03:21] #8943 closed

[2020-01-15 03:23] zezha-msft commented on #8833
Looks like this has been fixed and released.

[2020-01-15 03:23] #8833 closed

[2020-01-15 03:36] #8321 closed

[2020-01-15 06:01] Drewm3 commented on #8985
Is this being seen when listing all VMs in the subscription, when listing VMs in a resource group or both? Could you also share the frequency in which you are seeing this behavior?

[2020-01-15 18:42] praveenkuttappan opened #9477 "Release pipeline job is failing when version increment is not applicable"
Version Increment tool skips versioning for few packages like mgmt nspkg etc. But release pipeline triggers version increment step and fails since versioning tool raises exception when it an excluded package. Below is an error log from release pipeline.

[code]

[2020-01-15 23:16] scbedd opened #9481 "[AutoRest] Modernize Existing Pipelines - Build and Release"
They're currently defined in the devdiv org.

1. Not yml
2. Not under our org to make them visible

[Link to Existing Definition](https://devdiv.visualstudio.com/DevDiv/_build?definitionId=8943)

[2020-01-16 01:00] yunhaoling commented on #5312
Hi @sahPraveen,

I'm closing this issue, feel free to reopen this if the problem still exists.

[2020-01-16 01:00] #5312 closed

[2020-01-16 01:18] lmazuel opened #9487 "Storage SDKs should use UserAgentPolicy from azure-core and not redefine their own"
Since azure-core 1.2.0, there is enough possible options in UserAgent for Storage to get feature equivalence with without having to redefine their own UserAgentPolicy

[2020-01-16 06:08] Yaowei-Du commented on #7201
Same issue.

I'm using `azure-servicebus 0.50.2`, which uses `uamqp 1.2.5`. Also, I'm using `python 3.7.6` and `Mac 10.15.2`.

Here's how to re-produce the error:
[code]

[2020-01-16 08:03] mathieugravil commented on #9420
@zikalino do you need more informations on this issue?

[2020-01-16 15:10] andyzhangx commented on #9420
@mathieugravil have you tried  azure cli `az aks update-credentials  --reset-service-principal ... `? does it work?

And you could refer to this for your code:
https://github.com/Azure/azure-cli/blob/master/src/azure-cli/azure/cli/command_modules/acs/custom.py#L1907

[2020-01-16 15:49] andreacassioli commented on #9228
@annatisch shall I create a separate issue for counter?

[2020-01-16 17:35] mathieugravil commented on #9420
@andyzhangx , I will try. I will keep you inform.
Thanks

[2020-01-16 18:03] KieranBrantnerMagee commented on #9263
Hey K3ul,
Sorry for the delayed response on this, wanted to let you know I've confirmed the expected behavior from the dotnet side of things (as you describe).

If this functionality is missing, this might imply a gap in the autorest generation that builds our mgmt. code.  I've added @zikalino as well due to the overlap of this issue with the mgmt. space (@zim, I'll be investigating as well so fee

[2020-01-16 18:11] YijunXieMS opened #9494 "[Event Hubs] Add perf test"
**Is your feature request related to a problem? Please describe.**
Event Hubs service team built a stress test infrastructure years ago for .Net and Java. The SDK feature crew and engineering team will develop a new one for all four languages JS, Python, .Net and Java.

We have some command line scripts to do stress test in Python. It was used to do stress test and long running test for Event Hubs

[2020-01-16 18:46] yunhaoling commented on #8902
Hey @TY48 , I'm closing the issue for now as the latest release is supposed to fix the problem.. Let us know if the problem still exists.

[2020-01-16 18:46] #8902 closed

[2020-01-16 19:25] YijunXieMS commented on #8874
Manual docs toc is needed to control the order of classes in the generated documentation.
Currently azure-core and azure-eventhub use it.

[2020-01-16 19:25] #8874 closed

[2020-01-16 19:36] yunhaoling commented on #9415
Hi @omermizr ,thanks for sharing your understanding.

The concept of `ownership` comes into effect when `checkpoint_store` is provided.
With that saying, there are 4 kinds of situation:

1. Multiple `EventHubConsumerClient` instances/checkpoint_store/receive from all partitions
Clients would do load-balancing and try to claim equal amount of partitions.
e.g The eventhub has 8 partitions, there're

[2020-01-16 19:43] yunhaoling commented on #8533
Hi @kaerm , I don't think the code is part of our python EventHub SDK but it could be the `Azure Function Event Hub Trigger` that uses our sdk. Anyway I think we'd better reach out to the related Azure Function Team for more information.

[2020-01-16 19:55] kaerm commented on #8533
Thanks @yunhaoling //cc: @mayurid

[2020-01-16 20:22] raxitsoni opened #9498 "Cannot make a python connection to ADLS Gen2 storage with DeviceCodeCredential method"
Hi I am trying to connect to ADLS Gen2 storage account using one of DSVM with devicecodecredential method, below is the code running on Jupyter Notebook.

I have registed the app and authentication works fine, i get a access token however when i call to
DataLakeServiceClient passign the credentials i get Unsupported Credentials error, I understand that python api are in public preview for adls gen

[2020-01-16 20:31] anuragdalmia commented on #7257
Apologies for the delay @KyrelJerome . Can you please help clarify your ask - are you asking that subscriptions be made available faster in the "List Enabled Subscriptions" API and that your current workaround doesnt work?

[2020-01-16 20:50] scbedd commented on #9390
Resolved in #9428

[2020-01-16 20:50] #9390 closed

[2020-01-16 21:08] omermizr commented on #9415
Hi @yunhaoling, thank you for answering.
I'm interested in cases 1 & 2 (but yeah, I'd expect 3 & 4 to behave like you described).
Scenario 1 is indeed what I saw and expected.
In scenario 2, what guarantees the seconds consumer fails to receive? From the code it seems like all instances would receive...

[2020-01-16 21:15] secstu opened #9499 "[Question] How to encrypt vm disks"
Hey,
So I've been looking into encrypting the vm's without using something like os.system/subprocess.
I have spotted [THIS](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-mgmt-compute/9.0.0/azure.mgmt.compute.v2015_06_15.models.html?highlight=encrypt#azure.mgmt.compute.v2015_06_15.models.DiskEncryptionSettings) in the docs, I've very little experience in how to read those docs and I'

[2020-01-16 21:23] YijunXieMS commented on #9429
Re-enabled parallel run after fixing a problem in test_eventprocessor_async.py. The parallel works now.

[2020-01-16 21:23] #9429 closed

[2020-01-16 21:41] chlowell commented on #9498
I'm not familiar with ADLS in particular, but the pattern for clients accepting azure-identity credentials is to take instances of them as parameters. So, you give the client a credential, then it calls `get_token` as required. Adapting your example, it would look like this:
[code]
@xiafu-msft do we have a sample or documentation for this scenario?

[2020-01-16 21:58] secstu commented on #9499
Quick update:
I have noticed that I was looking at a wrong function to do what i was intending to. After some research time I have found [THIS](https://docs.microsoft.com/en-us/python/api/azure-mgmt-compute/azure.mgmt.compute.v2019_07_01.operations.diskencryptionsetsoperations?view=azure-python#create-or-update-resource-group-name--disk-encryption-set-name--disk-encryption-set--custom-headers-none

[2020-01-16 22:39] #9103 closed

[2020-01-17 00:03] richardpark-msft commented on #9184
Will performance be markedly different between the two methods? Or is this just for convenience?

[2020-01-17 00:06] richardpark-msft commented on #9184
Any concern that we might be overloading a term (`batch`) we're using in other places to refer to an actual class (`EventDataBatch`)? Or is the type of arg to on_event_batch actually a class, not just an array or list?

[2020-01-17 00:11] YijunXieMS commented on #9184
Not much difference on performance difference. Could be a little bit improvement. Mainly for convenience.

[2020-01-17 00:13] YijunXieMS commented on #9184
This is a good point. The current design is a list of EventData instead of a different class.

[2020-01-17 01:04] rakshith91 opened #9501 "Storage doesn't run tests in all packages if one fails"
Currently the tests are run in alphabetical order. However, if one package fails, the tests in the rest of the packages aren't run.

For example, even if one test fails in blobs, both queue and files are not executed at all.

HEre's a link
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=235687&view=results

[2020-01-17 02:36] yunhaoling commented on #9415
Hi @omermizr ,

When `checkpoint_store` is provided, we're creating exclusive connection to the target partition id. This is a feature support by the service side.

------ Some deeper about this is:

When `checkpoint_store` is provided, the sdk would set `owner_level` to an integer value (>=0) if it's not provided in the `receive` method.
When creating a connection to a specific partition, the ser

[2020-01-17 03:02] scbedd commented on #9379
I'm putting these errors into two buckets:

## Bucket 1 - Failure to Install due to connection hiccup

[code]
This is just one example. This same issue occurs for random packages. This _must_ be resource contention on pip side. Something is being shared even if the tests are running on the appropriate environment.

## Bucket 2 - EOF Errors installing generated wheel

[code]

This blows up in rando

[2020-01-17 08:04] omermizr commented on #9415
@yunhaoling thank you so much!
I just looked at the code in `master` and I see the code that does this.
I'm currently running in production with versions `5.0.0b4` and `5.0.0b5`, and I guess that functionality wasn't implemented yet in those versions.
Seeing as this is exactly what I want, I'm closing this issue and will upgrade my package.
Thanks again!

[2020-01-17 08:04] #9415 closed

[2020-01-17 10:47] subesokun opened #9507 ""exists" operator for containers and blobs"
Add `exists` operator to `ContainerClient` and `BlobClient` to verify if the given container or blob is existing.

[code]

See related feature request for `azure-sdk-for-js` https://github.com/Azure/azure-sdk-for-js/issues/5062

[2020-01-17 12:48] raxitsoni commented on #9498
@chlowell  Thanks for the response, let me give a try.

[2020-01-17 14:04] xiafu-msft commented on #9498
@chlowell Thanks for your comment on this issue! I think that is the correct way to use DeviceCodeCredential, get_token is called internally in storage pipeline.
Currently we haven't added sample code. While we have test which could be used as a reference.
[code]

[2020-01-17 16:27] kaerm commented on #9507
Hi @subesokun thank you for letting us know, we will look into this //cc: @rakshith91 @mayurid

[2020-01-17 18:03] yunhaoling commented on #7201
Hi @Yaowei-Du , thanks for providing the code. We're investigating the issue.

[2020-01-17 18:24] yunhaoling commented on #9303
This is related to the issue: https://github.com/Azure/azure-sdk-for-python/issues/9184

[2020-01-17 18:40] yunhaoling commented on #5109
Whether it should be done remains decision, close it for now.

[2020-01-17 18:40] #5109 closed

[2020-01-17 18:55] yunhaoling commented on #5305
Hello @MashellHan ,@cyberminder, @hbensalem

We have recently released eventhub 5.0.0 which has a new design, stability and performance are improved. Please take a try.

[2020-01-17 18:55] #5305 closed

[2020-01-17 19:24] yunhaoling commented on #5308
@raghavan20 Sorry for reaching out to you so late and thanks for the suggestion!

We've recently released the eventhub 5.0.0. We introduced new design and receive callback function can now be registered just as you described.

Please take a try and feel free to provide any kinds of feedback.
Closing this issue for now.

[2020-01-17 19:24] #5308 closed

[2020-01-17 19:26] #5309 closed

[2020-01-17 19:26] #5311 closed

[2020-01-17 19:27] #5313 closed

[2020-01-17 19:28] #5314 closed

[2020-01-17 19:28] #5316 closed

[2020-01-17 19:29] #5617 closed

[2020-01-17 19:29] #5619 closed

[2020-01-17 19:44] #5317 closed

[2020-01-17 19:47] #6268 closed

[2020-01-17 19:47] #6076 closed

[2020-01-17 19:50] yunhaoling commented on #5482
Hi @MarieS1415 ,

Please take a look at the sample code here:
https://github.com/Azure/azure-sdk-for-python/blob/release/eventhub-v1/sdk/eventhub/azure-eventhubs/examples/recv.py

Besides we have recently release eventhub 5.0.0, please take a try on the latest library. Any feedback is welcome :)

[2020-01-17 19:50] #5482 closed

[2020-01-17 19:52] yunhaoling commented on #5318
Hello @ahtpatel,

We've recently release eventhub 5.0.0 which supports the proxy/websocket. Please take a try.

[2020-01-17 19:52] #5318 closed

[2020-01-17 19:56] yunhaoling commented on #8912
Hello @imeya , @ibnipun10

We've recently release `azure-eventhub 5.0.0` and the `azure-eventhub-checkpointstoreblob/azure-eventhub-checkpointstoreblob-aio` library we provided is using the latest storage SDK.

Please try our latest SDK, any feedback is welcome :)

[2020-01-17 20:55] alanjcastonguay commented on #5315
What was the conclusion here?

[2020-01-17 22:10] scbedd commented on #8832
Thank you Jon! Cleaned up places where resources should not have been present and 404 check is coming back clean.

[2020-01-17 22:10] #8832 closed

[2020-01-17 22:11] yunhaoling commented on #8398
Hi @davidt99 ,

The docs for 1.3.* has been move to here: https://docs.microsoft.com/en-us/python/api/azure-eventhub/index?view=azure-python-previous.

We have released new azure-eventhub 5.0.0 and the documentations could be found here:
https://docs.microsoft.com/en-us/python/api/azure-eventhub/azure.eventhub?view=azure-python

[2020-01-17 22:11] scbedd commented on #6255
We don't test using this methodology anymore. Investigation not needed.

[2020-01-17 22:11] #6255 closed

[2020-01-17 22:13] scbedd commented on #9151
All of these are completed, on validation, discovered that checkpointstore is still preview. Need to move to GA and off preview.

[2020-01-18 00:27] v-doquag opened #9514 "There is no documentation for the require_guest_provision_signal parameter, how to use it, possible return values, etc."
- **Package Name**: N/A
- **Package Version**: N/A
- **Operating System**: Linux
- **Python Version**: 3.x

**Describe the bug**
There is no documentation for the require_guest_provision_signal parameter, how to use it/check it, possible return values, how to control it from within the virtual machine (or whether it is entirely under Azure's control?) and so on.  Is the require_guest_provision_sig

[2020-01-18 00:49] yunhaoling commented on #6076
Hi @jacobpledger , I'm clearing up old issues.
Please feel free to re-open it and provide us with code that causes the error.

We've recently released azure-eventhub 5.0.0, please try the latest sdk to see if problem still exists.

[2020-01-18 00:52] yunhaoling commented on #5317
Hi @wec2018 ,

We've released uamqp v1.2.5 which fix several issues related to segmentation fault.
You can either upgrade the uamqp library to the latest version or try our recently released azure-eventhub 5.0.0 to see if the problem still exists.

Feel free to re-open the issue if problem still exists.

[2020-01-18 00:55] yunhaoling commented on #5316
Hi @scschneider, we've updated the uamqp library to support max batch message size to as large as 1024kb (depending on your eventhub tier).

Please trying updating the uamqp library to the latest version v1.2.5.
We've recently released azure-eventhub 5.0.0, please take a try.

Feel free to re-open the issue if problem still exists.

[2020-01-18 00:59] kristapratico opened #9517 "[textanalytics] Set up nightly build run"
The live test pipeline exists, but currently doesn't run nightly.

[2020-01-18 01:09] yunhaoling commented on #5315
Hello @alanjcastonguay , this feature isn't in our current plan.

Are you waiting on this feature implementation? I'd like to hear more about your user case/thoughts on this feature, I can bring it to the sdk team for discussion. If it's good/necessary to have this feature in the python sdk, then we'll make a plan.

Feel free to re-open the issue.

[2020-01-18 01:15] alanjcastonguay commented on #5315
I had hoped to use Publisher Policies similar to an API Key, crafting one for each of our customer IoT aggregator/sender IoT devices (so maybe 1-20 per customer), with each Publisher Name identifying a customer. And that the customer's device would use that when sending a stream of IoT metrics to our EventHub instance. And on receipt (eg in Capture or from an EH Consumer), all events would be mark

[2020-01-18 03:43] yunhaoling commented on #5315
Hi @alanjcastonguay ,

I'm introducing @annatisch to this conversation as she may knows better than me on this.

Hi Anna, I'm not quire sure how this feature is supposed to work -- When receiving events which are sent with Publisher Policies, would the events be marked with a field holding the publisher name as Alan described?

Or is it something can be achieved by manually setting the `properties

[2020-01-18 04:12] alanjcastonguay commented on #5315
(I must admit I’m not absolutely certain what I described is the intent. I’m piecing together this belief from the dotnet examples.)

[2020-01-18 05:03] alanjcastonguay commented on #5315
Of note I was hoping the receiver would get the publisher’s identity (and be able to differentiate events by it) without the publisher being able to impersonate another publisher (eg by trivially writing the publisher ID in the event body).

[2020-01-18 18:45] andcald1982 opened #9521 "AZURE Cognitive Serivces -> KeyError: 'Endpoint'"
I am using the SDK (Python) for Computer Vision published in Mocrosoft Docs (https://docs.microsoft.com/es-es/azure/cognitive-services/computer-vision/quickstarts-sdk/python-sdk).

When I run the code, this error occurs:

Traceback (most recent call last):

File "c:/analyze_image_local.py", line 68, in

description_result = computervision_client.describe_image_in_stream(local_image)

File "C:\Anac

[2020-01-18 19:10] davidt99 commented on #8398
Thanks!

[2020-01-18 19:10] #8398 closed

[2020-01-19 14:08] tirkarthi opened #9525 "SyntaxWarning due to comparison of literals over using is"
- **Package Version**: master branch
- **Operating System**: Linux
- **Python Version**: 3.8

**Describe the bug**

`SyntaxWarning` over comparison of literals using `is`.

**To Reproduce**

Below is emitted while compiling all Python 3 files.

[code]

[2020-01-19 14:13] tirkarthi opened #9526 "DeprecationWarning over invalid escape sequences."
- **Package Version**: master branch
- **Operating System**: Linux
- **Python Version**:  3.7/3.8

**Describe the bug**

`DeprecationWarning` are produced over invalid escape sequences

**To Reproduce**

`find . -iname '*.py' | xargs -P 4 -I{} python3 -Wall -m py_compile {}`

[code]

[2020-01-19 14:44] jorgeso opened #9527 "Run's submit_child method creates error"
- **Package Name**: azureml-core
- **Package Version**: 1.0.72
- **Operating System**: Windows
- **Python Version**: 3.7.2

**Describe the bug**
Can't create child run calling the submit_child method and passing any of the Estimators as the argument. It looks like like the parent run's experiment property is calling the submit method passing a '_parent_run_id'  argument even though it doesn't take

[2020-01-19 20:36] alexeldeib commented on #9115
@kaerm this doesn't seem specific to Log Analytics? Seem the HTTP calls are not getting past the initial token acquisition calls to login.microsoft.com.

It's not clear to me @tinyweasel if you are using the SDK or trying to implement the same logic elsewhere using vanilla requests in a django setup, but it sounds like there may be some issue with how you are crafting the authentication requests.

[2020-01-20 08:44] MMollyy commented on #9074
Hi all,

some colleagues had figured out we could use some kind of backoff code for each Exception that python would throw out:
[code]
Which comes from https://github.com/litl/backoff
and is a decorator that we were able to apply on any of the library its functions to get an exponential backoff up to a maximum of X seconds which is specified in a configuration variable.
It's been working great for

[2020-01-20 10:14] Quisl opened #9530 "Factory Class default value for identity"
**Is your feature request related to a problem? Please describe.**
When I create an Azure Data Factory with the SDK (or REST API) it does not have a SystemAssigned identity. However, when I create it via the Azure Portal or Powershell it does.

According to the documentation, this is expected behaviour:
https://docs.microsoft.com/en-us/azure/data-factory/data-factory-service-identity#generate-mana

[2020-01-20 16:56] tinyweasel commented on #9115
I was trying to make a django view which uses the following parts of the SDK.

`credentials = ServicePrincipalCredentials(
    client_id=CLIENT,
    secret=KEY,
    tenant=TENANT_ID,
    resource='https://api.loganalytics.io'
)

client = LogAnalyticsDataClient(credentials, base_url=None)`

Eventually ended up running as a standalone script and saving to db and then accessing the db with Django.

[2020-01-20 21:17] scbedd opened #9532 "azure-mgmt-appconfiguration failing with unmatched recording"
Repro:

1. `pip install tox tox-monorepo`
2. `python ./scripts/devops_tasks/setup_execute_tests.py azure-mgmt-appconfiguration --toxenv=whl`

Error:

[code]

[2020-01-20 22:33] alexeldeib commented on #9115
Looking at your original comment, the error was:
[code]

Seems like an issue with AAD login. I wonder if this correlated to some outage...if you were hitting failures directly from api.loganalytics.io, I might be able to point you to some more helpful folks, but that code snippet looks fine to me and from the error I can see you're not reaching the backend service at all. If that issue persists I'

[2020-01-20 22:43] nofunatall opened #9534 "TLS error when using HTTPS/TLS URL (not permitted for non-TLS protected (non-https) URLs.)"
Ubuntu 19.10
Linux rio-t460p 5.3.0-26-generic #28-Ubuntu SMP Wed Dec 18 05:37:46 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
Python 3.7.5
azure-core==1.2.0
azure-identity==1.2.0
azure-storage-blob==12.1.0

**Describe the bug**
When trying to do a batch delete blob using a blob client created using a HTTPS URL the code errors with:

This same blob client connection can successfully be used to list blob

[2020-01-21 02:51] rakshith91 commented on #9507
Hi @subesokun
Thanks for reporting. While we discuss this feature, you can do the following if you are blocked because of it

[code]

[2020-01-21 10:32] subesokun commented on #9507
Thanks for the hint! This is a bit off-topic, but is there any documentation available that tells me which exceptions can be thrown by a certain function call? That would've helped me a lot to figure out on my own that e.g. `ResourceNotFoundError` gets thrown when accessing a none existing blob.

[2020-01-21 13:50] orhanmaden commented on #1497
With powershell it would be
[code]

[2020-01-21 14:45] letmaik opened #9538 "Upload of sparse page blobs should make use of SEEK_HOLE/SEEK_DATA on Linux"
**Is your feature request related to a problem? Please describe.**
A sparse disk image file of 1000GB that is empty will take a very long time to upload as the SDK is scanning the whole file for zeros.

**Describe the solution you'd like**
The SDK should be more clever and, if available on the OS, use [SEEK_HOLE/SEEK_DATA](https://lwn.net/Articles/440255/) as well to jump over unallocated blocks i

[2020-01-21 15:56] mayurid opened #9539 "Text Analytics Track 2 Preview 2"
#9427
#9403
#9105
#9015
#8946
#8928
#9543
#9560
#9615

[2020-01-21 16:37] chlowell commented on #9525
Thanks for opening this issue. I opened a PR to replace these instances of 'is' with ==.

[2020-01-21 16:40] tirkarthi commented on #9525
Just in case I ran `find . -iname '*.py' | xargs -I{} python3.8 -Wall -m py_compile {}` to find this since it's a compile time warning.

[2020-01-21 17:31] kaerm commented on #9115
In case that's the second case: @mayurid could you take a look at this?

[2020-01-21 18:29] AlexGhiondea opened #9542 "KeyVault Backlog"
This issue is tracking the work that is on the KeyVault backlog.

Items that are associated with this Epic must be triaged into the Epic.

[2020-01-21 19:29] kaerm commented on #9514
@v-doquag thanks for reporting this, looping in some of the team to take a look at this //cc: @nickzhums @mozehgir

[2020-01-21 20:39] kaerm commented on #9538
Hi @letmaik thanks for the suggestion! Looping in some of my teammates to take a look at this //cc: @mayurid @rakshith91

[2020-01-21 21:07] kristapratico opened #9543 "[textanalytics] Address UX feedback for preview 2"
**Issues to fix for this preview:**
* Rename `NamedEntity` to `CategorizedEntity`. Rename `type` -> `category` and `subtype` -> `subcategory`
* Rename batch method `detect_languages()` -> `detect_language()` to match single text method
* Rename `SentimentClass` to something that doesn't have `class` in the name.
* `LinkedEntity` should not have an `id` attribute on the model. This is confusing and

[2020-01-21 22:15] Praburaj commented on #4097
Is there any update on this issue. I am running into a similar issue as well.

[2020-01-21 22:20] xiangyan99 commented on #8941
Fixed

[2020-01-21 22:20] #8941 closed

[2020-01-21 22:35] lmazuel opened #9545 "Passing request_id=None as operation level should remove the header from the request"

[2020-01-21 22:38] KarishmaGhiya opened #9546 "Dependency Test Matrix - max and min matching published versions"

[2020-01-21 22:42] #9546 closed

[2020-01-21 23:34] xiangyan99 commented on #9545
Here is the logic
1. if there is a operation level input, use it (None means ignore req_id_policy)
2.if user sets the request_id in the policy (either in init or call set_req_id), use it (None means ignore. And as long as user sets it, we ignore auto_req_id)
3.if user never sets request_id and auto_req_id is True(True is default value), we generate auto_id
4.if user never sets request_id and set a

[2020-01-22 00:24] gsimore opened #9549 "Support for multi-tenant shared gallery images"
**Is your feature request related to a problem? Please describe.**
- When someone shares an image with me from a shared image gallery, it's frustrating that the only way to provision a VM with those is through the Azure CLI or Powershell, when I would like to be using Python.
- It's frustrating to have to manage credentials and authenticate across multiple tenants to list all of the shared gallery

[2020-01-22 03:11] nickzhums commented on #9514
@v-doquag Thanks for bringing this up. It seems like there is not too much documentation around this property. I will follow up and let you know

[2020-01-22 03:58] nickzhums commented on #9514
Looks like this doc does not contain the sufficient information either
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/createorupdate

Adding service attention tag here:

Could someone from the service team take a look at this property and explain what the property is for?

[2020-01-22 07:59] dmateos opened #9556 "Support for Local Account in UserCreateParameters"
- **Package Name**: azure-graphrbac

Not sure if this is the right place or terminology but is it possible this can support UserCreateParameters not requiring user_principal_name and rather taking the creationType/signInNames properties so we can make a Local User or Azure b2c User.

Similar issue here:
https://stackoverflow.com/questions/55617626/creating-new-ad-b2c-user-via-microsoft-graph-api

[2020-01-22 15:15] kdazzle commented on #9184
Sorry to intrude here - I was just looking to see whether this feature existed.

Unless I'm missing something, performance would improve for users of the library. For instance, if I'm saving each event to a database, it would be faster for me to save them as a batch instead of individually, without having to do any acrobatics.

[2020-01-22 15:57] annatisch commented on #9534
Thanks for the report @nofunatall - I will investigate this today :)

[2020-01-22 16:47] richardpark-msft commented on #9184
Not intruding at all - this is why we do our discussions in public :)

You are 100% correct and that's a _strong_ argument in favor of this particular feature. The Azure JavaScript SDK (which I work on) already does this (delivers messages in batches) so I'm actually a strong proponent in favor. :)

Yes! Now the **questions for you** are:
* If this was merely a convenience wrapper around doing a l

[2020-01-22 18:28] xiangyan99 commented on #9532
Talked to Zhenlan. The feature is still in preview. Reverted the change to unlock the pipeline.

https://github.com/Azure/azure-sdk-for-python/pull/9558

[2020-01-22 18:28] #9532 closed

[2020-01-22 19:51] kurtzeborn commented on #9430
We had an old issue on our backlog related to mirroring private repos (https://github.com/Azure/azure-sdk/issues/200).  Long term, our desire is to get rid of MirrorCat and start using a pipeline to do it (which would just clone both repos copy everything over to the private repo, and merge).  Now may be the time to switch things over it it helps with this.

[2020-01-22 20:06] kurtzeborn commented on #9481
Not sure who on AutoRest should follow up on this.  Since it's in the python repo, starting with you @lmazuel.  This may make more sense for Garrett or David to do.

[2020-01-22 21:33] xiangyan99 commented on #9545
Fixed in #9547 9547

[2020-01-22 21:33] #9545 closed

[2020-01-22 21:43] nemakam commented on #9402
@mayurid ,
This seems to be a client side bug.
Could you please assign it to the appropriate team for investigating this on the python client side.

[2020-01-22 23:51] kristapratico opened #9560 "[textanalytics] Improve/fix documentation"
* Models should have better descriptions in the reference documentation.
* Keyword arguments are not showing up in docs.microsoft.com? see here: https://docs.microsoft.com/en-us/python/api/azure-ai-textanalytics/azure.ai.textanalytics.textanalyticsclient?view=azure-python-preview
(issue #9562 )
* Service limitations should be in the reference documentation -- batch size limits, document length lim

[2020-01-23 00:13] kristapratico opened #9561 "[textanalytics] recognize_linked_entities() does not return an entity type"
As seen in ux studies, people expect that the LinkedEntity model will have `type`. This stemmed from this specific task:
"Detect Person entities that may have entries in Wikipedia and print the url to their Wikipedia link."

The user must first call recognize_entities() to find `Person` entities and then make a call to recognize_linked_entities() to compare results and find which urls to print.

I

[2020-01-23 00:55] YijunXieMS opened #9562 "Keyword argument definitions are not rendering on docs.ms.com"
- **Package Name**: azure-eventhub
- **Package Version**: 5.0.0
- **Operating System**: N/A
- **Python Version**: N/A

**Describe the bug**
See the following link. from_connection_string( ) doesn't list any params while they do have some.
https://review.docs.microsoft.com/en-us/python/api/azure-eventhub/azure.eventhub.aio.eventhubproducerclient?view=azure-python&branch=smoke-test#from-connection-s

[2020-01-23 01:17] gsimore commented on #9549
It turns out we don't need to support multi-tenant after all (phew), just multiple subscription sharing on one tenant.

[2020-01-23 02:28] zikalino opened #9564 "Databox edge doesn't have integration test"
Generate integration test for DBE

[2020-01-23 03:17] nickzhums commented on #9549
@gsimore Thanks for opening this issue. We'll follow up with you after we take a look at the feature request.

[2020-01-23 04:05] MarkLeon commented on #7231
Any updates on this? Thanks.

[2020-01-23 06:31] dmateos commented on #9556
Just an update, i managed to use the ADAL lib to do what i required, i may be getting confused about what API is what and where the responsibility lies :)

` 56     def _adal_auth(self):
 57         context = adal.AuthenticationContext(
 58             ("https://login.microsoftonline.com/" + self.tenant),
 59             validate_authority=True,
 60         )
 61
 62         token = context.acquir

[2020-01-23 07:38] 00Kai0 commented on #9564
@zikalino Something wrong happend in integration test: https://github.com/Azure/autorest.cli/issues/106.
I will fix this bug first.

[2020-01-23 18:31] mathieugravil commented on #9420
Hello @andyzhangx
Sorry for the delay.
Please find the test result :
`$ az --version
azure-cli                         2.0.76 *

command-modules-nspkg              2.0.3
core                              2.0.76 *
nspkg                              3.0.4
telemetry                          1.0.4

Python location '/usr/bin/python'
Extensions directory '/home/1V14713/.azure/cliextensions'

Python (Lin

[2020-01-23 18:32] scbedd commented on #9379
Ok. From what I can tell, we have completely eliminated the wheel install caching errors that we were getting with #9531.

Unfortunately, now Windows has a new error. It takes the form of:

[code]

I have seen this error with the following two builds:
- [CogServices](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=241502&view=results)
- [Compute](https://dev.azure.com/azure-sdk/int

[2020-01-23 18:37] lmazuel opened #9572 "Track 2 SDKs should support PEP561 to enable mypy for customers"
I just discovered that if a package is shipped using typing in comments annotation, it's actually ignored by mypy when used on a client code:
[code]

To enable that scenario, we need to put a "py.typed" empty file at the root of the namespace, and mypy will then scan for comments annotations. The previous run now becomes:
[code]

Reference:
- [Mypy details](https://github.com/python/mypy/blob/mast

[2020-01-23 18:57] xiangyan99 opened #9573 "Check the compatibility of azure.core & aiohttp 4"
aiohttp 4 is under development. Let's take s look how our azure-core package work with it. If there is anything broken.

[2020-01-23 19:37] vairamsvsjdo opened #9574 "Invalid documentation and insufficient examples"
- **Package Name**: azure-mgmt-recoveryservicesbackup
- **Package Version**: latest
- **Operating System**: all OS (windows and linux)
- **Python Version**:  3.7/2.7

**Describe the bug**
Invalid documentation and insufficient examples

"Usage
For code examples, see Recovery Services Backup Management on docs.microsoft.com."
docs.microsoft.com does not have any code examples.

https://docs.microso

[2020-01-23 20:26] YijunXieMS opened #9575 "[Event Hubs] Add a random jitter to avoid load balance lockstep"
**Is your feature request related to a problem? Please describe.**
Refer to https://github.com/Azure/azure-sdk-for-js/issues/7017 for details. This issue is for the same thing for Python Event Hubs

**Describe the solution you'd like**
Solution is in the above mentioned issue https://github.com/Azure/azure-sdk-for-js/issues/7017

**Describe alternatives you've considered**
Introducing the concept

[2020-01-23 20:46] kaerm commented on #9574
Hi @vairamsvsjdo thanks for reporting this, someone will take a look into this //cc: @nickzhums

[2020-01-23 20:58] kdazzle commented on #9184
Hey Richard - thanks a lot for the response!

Yeah, I think it would be. Without that sort of guidance it's not immediately clear what sort of structure my program should have to get that behavior. For instance - you mention a `list.append()`. Does this mean that the event receiver is intended to be wrapped up in a class? Would we have to keep track of the most recent event per partition? Seems li

[2020-01-23 21:00] jjohndrow commented on #573
I think this feature needed and I have for a long time. Right now if you need to do this through the API you have to make n+1 API requests where n is the number of VM's. This means if you have 500 VM's, 501 API calls are made to list and get each machine instead of a big paginated list.  Is there somewhere else this issue lives as well? This is an deeper issue than just python SDK. We use the rest

[2020-01-23 21:39] welabbar1 commented on #573
I wonder now... Is this why the power state of the VMs is always slow  and lagging behind when you get the full list of VMs on the AzureStack portal??? 😬😬😬

[2020-01-23 22:35] bentizzano commented on #7201
Seeing the same issue on `MacOSX 10.15.2`, `python 3.8.1` and `azure-cli 2.0.80`

[2020-01-23 23:53] lmazuel commented on #9074
Thanks for the feedback @MMollyy !!
FYI @johanste

[2020-01-24 00:20] YijunXieMS commented on #9184
@kdazzle
Really appreciate you for this wonderful discussion!
For "The events[-1] doesn't feel too great, so maybe another param in the batch_callback function would be nice.", are you thinking of another param like "last_event" so it's easier to call update_checkpoint with this param? If yes, another option is to have update_checkpoint(event=None) so you just call update_checkpoint( ) and by defa

[2020-01-24 09:25] dumbledad opened #9583 "pip install azureml-sdk failing: Could not find a version that satisfies the requirement dotnetcore2>=2.1.9"
- **Package Name**: azureml-sdk
- **Operating System**: Windows 10 Enterprise Insider Preview Dell XPS 15 laptop (build 19551.1001)
- **Python Version**: 3.7.0  (v3.7.0:1bf9cc5093, Jun 27 2018, 04:59:51) [MSC v.1914 64 bit (AMD64)]

**Describe the bug**
pip install azureml-sdk failing

**To Reproduce**
pip install azureml-sdk

**Expected behavior**
I expect pip to install the AzureML SDK

**Actual

[2020-01-24 19:49] lmazuel commented on #9572
azure-core done in https://github.com/Azure/azure-sdk-for-python/pull/9577

[2020-01-24 19:49] xiangyan99 commented on #9572
Fixed azure-core in #9577

[2020-01-24 19:55] xiangyan99 commented on #9572
Fixed azure.core in #9577

[2020-01-24 21:14] bryevdv opened #9589 "Handle text/plain response from azure search service"
cc @lmazuel

Experimenting with the autorest generated API for azure search, getting an exception calling the count operation. The following code:
[code]
generates the Exception at the bottom of this issue.

Some digging reveals that the request successfully generates a 200 `text/plain` response from the service, with the value `'ï»¿50'`. The substring `'ï»¿'` is evidently the UTF-8 BOM, and 50 is

[2020-01-24 22:08] AlexGhiondea opened #9590 "Release Azure Cognitive Search Track 2 Library Preview 1 for Python"
This tracks the work to release the Azure Cognitive Search Track2 Preview 1 Library for Python

### API Design
- [x] Document operation APIs
- [x] Document upload/merge/delete APIs
- [ ] Service APIs
- [x] ArchBoard review for querying
- [x] API Review

### Implementation / investigations
- [x] Document Operations
- [x] Document upload/merge/delete APIs
- [ ] Language agnostic testing framework in

[2020-01-24 23:18] scbedd opened #9594 "Resolve Testability Assumptions for source distributions"
@chlowell asked a question earlier today that prompted some further discussion. Specifically, he wants to share test code between various `azure-keyvault` packages. To do this, my initial recommendation was to:

The response there was

I didn't have an answer! As it stands _right now_:

1.  We don't ship `dev_requirements.txt` in our sdist.
2. We don't ship the adjusted `azure-devtools` from our r

[2020-01-24 23:24] allenjzhang commented on #9583
Can you run in the same window `dotnet --version`?

[2020-01-25 00:03] amishra-dev opened #9596 "Customer is asserting that V12 Storage SDK has slower performance that V2.1 sdk"
Ask from XClient : Provide suggestions towards this concern and whether we have any upcoming improvements in V12 along these lines.
                        The customer also wants to know about the support lifecycle timelines for v2, if they decide to continue using v2.

customer is comparing the performance of Python SDK v12 with Python Storage SDK v2.
They observe that SDK v2 performance is bett

[2020-01-25 00:03] amishra-dev commented on #9596
ICM 171649877 has the samples and repro steps

[2020-01-25 00:57] lmolkova opened #9597 "[FEATURE REQ] EventHub distributed tracing: stamp EventHubs info on message spans"
**Is your feature request related to a problem? Please describe.**
Currently message spans do not have any information about event hub they are being sent to.
It could be discovered by following to the linked 'send' span which has attributes describing EventHubs and entity. So it is not a problem for human beings debugging single trace, but creates a a problem for analysis and visualization tools

[2020-01-25 01:30] lmolkova opened #9599 "[FEATURE REQ] Distributed tracing for EventHubs: add enqueueTime to Process span links"
**Is your feature request related to a problem? Please describe.**
One of the interesting questions for EventHubs tracing is how much time message spent in EventHubs (or when it was enqueued). It helps to detect worker scaling issues.

Today, we trace when message was sent and also when processing has started. This, however, only helps if the same tracing tool is used on both sides AND if users ha

[2020-01-27 11:13] nandexsp opened #9602 "RateCard (meter_region) needs matching with Locations"
Its important to find a way to match the regions from Pricing with the Locations from Compute to calculate the total costs. I can't find the way to compare it.
When I receive from the API the billing request....

Reference : https://docs.microsoft.com/en-us/python/api/azure-mgmt-commerce/azure.mgmt.commerce.operations.ratecardoperations?view=azure-python#get-filter--custom-headers-none--raw-false-

[2020-01-27 13:57] vairakkumar-vairaperumal opened #9604 "Unable to install in Debian 10"
https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.15/2.1.15.md#net-core-lifecycle-news

Azure SDK and .NET Core and relevant projects needs to get into Monorepo, the point is that they are going out of sync and not supported at the expected standard one expects from MSFT that competes with other similar companies.

Case in point .NET Core 2.2  reached end of support:

https://github

[2020-01-27 14:27] #9604 closed

[2020-01-27 14:27] vairakkumar-vairaperumal commented on #9604
created in incorrect git repo

[2020-01-27 17:39] kaerm commented on #9602
@nandexsp thank you for reaching out! Someone from our team will take a look at this

[2020-01-27 17:41] kaerm commented on #9599
@lmolkova thanks for the request, someone from our team will take a look at this.

[2020-01-27 17:41] kaerm commented on #9597
@lmolkova thanks for the request, someone from our team will take a look at this.

[2020-01-27 17:42] xiangyan99 commented on #5267
#9593

[2020-01-27 18:04] #9468 closed

[2020-01-27 18:48] xiangyan99 commented on #5267
Fixed.

[2020-01-27 18:48] #5267 closed

[2020-01-27 19:29] kristapratico opened #9609 "[textanalytics] Bad error message when sending request to unsupported endpoint region"
This issue is to track a bug in the service and verify that a good error message is raised once the bug is fixed.
(update: 1/24 emailed Assaf/Han about this bug)

No body is sent when using an endpoint from a region not supported (e.g. west us, detect languages endpoint). This leads to a stack trace when the error model can't be deserialized correctly since it is missing code/message fields.

The

[2020-01-27 19:50] kristapratico opened #9610 "[textanalytics] Consider design of merging recognize_entities() and recognize_pii_entities()"
Many ux participants did not like that recognize entities methods were separated into linked, PII, and named entities.

We could consider merging PII and named entities into one method such that the user would just pass a boolean parameter for whether they want the response to contain PII or not, e.g.

`recognize_entities(documents, PII=True)`

The result object is in the same shape for recognize_

[2020-01-27 20:16] #9405 closed

[2020-01-27 20:16] #9379 closed

[2020-01-27 20:16] #9151 closed

[2020-01-27 21:57] KieranBrantnerMagee commented on #9180
Hey folks, just chiming in:
Fix was merged per [this pr](https://github.com/Azure/azure-sdk-for-python/pull/9086)

As Adam aptly noted with the milestone tag, this will now be incorporated with our next track1 release.  @yunhaoling do you know offhand if this is fixed within T2?  If not I'll gladly take a look and follow up.

[2020-01-27 22:31] v-doquag commented on #9514
I haven't seen any updates for almost a week.  Did this issue get routed to a dead-end one-way street?  What's the latest status on this?  Has someone found the documentation?

[2020-01-27 22:49] praveenkuttappan opened #9613 "Whl discovery step is ignoring platform type when running test"
whl discovery step which identifies the whl in prebuilt directory for a given package name doesn't consider platform type. Currently whl is discovered using package name, package version and python version. We should add the support to identify whl using platform also if platform specific whl is built for azure sdk packages.

[2020-01-28 00:08] kristapratico opened #9615 "[textanalytics] Remove single text operations"
- [ ] Quickstarts update
- [ ] samples update
- [ ] tests update
- [ ] readme update
- [ ] history update
- [ ] Create comparison snippet for discussion

[2020-01-28 00:38] WilliamHoo opened #9616 "from devtools_testutils import AzureMgmtTestCase"
- **Package Name**: azure
- **Package Version**: latest
- **Operating System**: windows 10 enterprise
- **Python Version**:  3.7

**Describe the bug**
even after installing the whole azure package, i am still not able to import from devtools_testutils.
I installed using 'pip install azure'.
i checked my pipvenv, it does not have a file called 'devtools_testutlis'. I notice your git repo has such a

[2020-01-28 01:26] kaerm commented on #9616
@WilliamHoo thanks for the feedback, looping in my team to help find some answers //cc: @lmazuel

[2020-01-28 02:31] #9015 closed

[2020-01-28 09:19] mathieugravil commented on #9420
@andyzhangx any ideas?

[2020-01-28 14:11] mkschuster opened #9620 "Further Exception during retry attempt after 'Connection reset by peer' event"
- **Package Name**: azure-core
- **Package Version**: 1.2.1
- **Operating System**: Scientific Linux 6.2
- **Python Version**: 3.8

**Describe the bug**
During handling of an `azure.core.exceptions.ServiceResponseError` `Exception` caused by a `'Connection reset by peer'` event, another `Exception` is encountered, ultimately in Python `copy.deepcopy()`, that seems to prevent a successful retry.

*

[2020-01-28 14:52] nickzhums commented on #9514
@mjconnection @Drewm3 could you provide more info on this parameter? Thanks a lot

[2020-01-28 16:31] ChrisHMSFT commented on #9521
Hi @andcald1982 ,

What is the structure of the endpoint you are using? It should match the one you can find in the Azure Portal in the QuickStart blade for the computer vision resource. If it is a newly deployed resource it will look like the following format: https://{resource name}.cognitiveservices.azure.com/

thanks,
Chris

[2020-01-28 16:33] chlowell opened #9621 "Azure Functions managed identity testing"
Document the process for a live manual test, and add any necessary artifacts.

[2020-01-28 16:33] chlowell opened #9622 "App Service managed identity testing"
Document the process for a live manual test, and add any necessary artifacts.

[2020-01-28 16:33] chlowell opened #9623 "Service Fabric managed identity testing"
Document the process for a live manual test, and add any necessary artifacts.

[2020-01-28 16:33] chlowell opened #9624 "WebJob managed identity testing"
Document the process for a live manual test, and add any necessary artifacts. This may help in setting up a Python WebJob: https://stackoverflow.com/a/45873655

[2020-01-28 17:20] kaerm commented on #9620
Hi @mkschuster thank you for reporting this, I am looping in my team to take a look at this //cc: @mayurid

[2020-01-28 18:16] kurtzeborn commented on #9594
@chlowell, there's a question here for you.  After we sort out a plan, we can figure out who should do the work.

[2020-01-28 19:26] scbedd opened #9625 "Always upload "latest" version of documentation"
Example, `azure-core_1.0.0` is present. We release `azure-core_1.3.0`. A `latest` URL in blob storage should be updated with the 1.3.0 docs.

Instead of docs linking out to the 1.3.0 version specifically, the devs would prefer to refer to that `latest` URL on github.io.

This isn't a huge task during doc-upload. If the version that is being uploaded is newer, we expect that the `latest` should be

[2020-01-28 20:22] scbedd commented on #9562
[Issue Filed](https://ceapex.visualstudio.com/Engineering/_workitems/edit/168574)

[2020-01-28 20:41] chlowell commented on #9594
I talked this over with @lmazuel. We decided it's okay for our sdists not to be directly testable, at least until someone presents a compelling argument for making them so. In that event we could e.g. add unpublished test dependencies to sdists. The status quo is acceptable today, so I'm closing this. We can reopen when we decide work is needed here.

[2020-01-28 20:41] #9594 closed

[2020-01-28 21:58] lmy269 commented on #9530
@shawnxzq to take a look

[2020-01-28 22:43] WilliamHoo commented on #9616
update:

I tried to install your repo in ubuntu sub-system in windows-10, using command

'pip install git+https://github.com/Azure/azure-sdk-for-python.git', and I am getting error messages below:

[2020-01-28 22:44] weshaggard commented on #9625
While I don't mind having a latest link, I think for readme's we should point to a page with the list of versions so folks can pick a version instead of always getting the latest. I'd also be OK with what package managers generally do which is to have the latest be the default but having an easy way to select other versions.

[2020-01-28 23:04] WilliamHoo commented on #9616
we want to use the azure-python-sdk to run azure tests offline, but we can't import libraries. It seems that your latest version is not released to pip yet. is your azure-python-sdk ready for offline tests?

[2020-01-28 23:18] kaerm commented on #9616
@mayurid can you see if there is anyone who could take a look at this

[2020-01-29 01:18] scbedd commented on #9562
This is a general issue, not specific to eventhub.

[2020-01-29 02:37] scbedd commented on #9464
I have located why some of our packages have this issue versus ALL of our packages.

In the packages that render appropriately, we do not have anything other than the `pkgutils` namespace extension. In those that _don't_, we have the MIT license prior to the `pkgutils` invocation.

The presence of the license throws off the detection and replacement algo that docs CI currently uses. Longer term, I

[2020-01-29 02:38] deeceefar2 commented on #9527
I'm having this same issue.

[2020-01-29 03:01] ahaw021 commented on #8232
any updates?

[2020-01-29 12:12] thedataproject opened #9633 "Azure Identity - Cannot be found with Azure Function"
When using Azure Identity in a Python script in Azure Functions i receive the following error:

Requirements.txt contains azure-identity==1.2.0

[2020-01-29 15:32] glaubitz opened #9634 "Missing source package on PyPi for azure-template"
While packaging ```azure-template``` for openSUSE/SLE, I noticed that the source code for that package is missing on PyPi which makes packaging it for Linux distributions more difficult.

Could you add the source package for ```azure-template``` to PyPi?

[2020-01-29 17:14] kaerm commented on #8232
@nickzhums can you take a look at this?

[2020-01-29 17:42] xiangyan99 commented on #9620
fixed.

[2020-01-29 17:42] #9620 closed

[2020-01-29 19:00] MichaelWeedon commented on #9242
Is there an ETA when this issue might be addressed?

[2020-01-29 19:31] chlowell commented on #9633
Thanks for reaching out. I suspect there's a problem with your app's configuration. I'm not greatly familiar with the platform, but I am working on testing azure-identity in a Functions App, so I can offer you a working example: see [this commit](https://github.com/chlowell/azure-sdk-for-python/commit/9bad138fa5f6b3b21f50f79020451405122c4f23). I've been deploying it with `func azure functionapp pu

[2020-01-29 19:40] #5764 closed

[2020-01-29 19:41] kaerm commented on #9634
@glaubitz thanks for letting us know, @nickzhums can you take a look at this

[2020-01-29 21:52] YijunXieMS commented on #8533
Azure function team is looking

[2020-01-29 22:10] praveenkuttappan opened #9638 "Add common methods used by tox and CI script into dev tools"
Currently we have few duplicate methods in tox helper and common tasks that needsto be added into azure dev tools to have the implementation in one place. for e.g. finding whl from prebuilt directory, git helper functions etc.

[2020-01-29 23:10] chlowell commented on #9633
I hit the same problem. It appears remote build is intended to solve it, and will become the default. In the meantime you can use the `--build remote` flag with recent versions of Core Tools or configure VS Code, as described in Azure/azure-functions-python-worker#464.

[2020-01-29 23:19] carlosotgz commented on #8566
@jongio Hi. Is there any update for this issue? :)

[2020-01-29 23:20] scbedd commented on #9464
Submitted [PR#361](https://github.com/Azure/azure-sdk-tools/pull/361) to get this unblocked short term. I will leave this issue open while I submit a PR to the doc team's build CI.

[2020-01-29 23:23] jongio commented on #8566
Thanks for checking in.  We are discussing when to do a preview of this.  Hopefully within the next couple of weeks, but we still have some remaining design to flesh out.  I'll earmark this to update when we have something ready.

@schaabs

[2020-01-30 01:45] nickzhums commented on #9634
@RodgeFu could you have a look at this issue and see if we can solve it on our side? thanks

[2020-01-30 02:40] mikeharder commented on #9596
I was also able to reproduce this perf regression using the customer-provided applications.  We are investigating the root cause of this performance difference and how we can make V12 meet or exceed the performance of V2.

[2020-01-30 06:24] RodgeFu commented on #9634
Assign to @zikalino to double check. Thanks.

[2020-01-30 07:53] yairgil commented on #8706
Thank you for your feedback. The item is passed to our backlog for priority investigation and correction.

[2020-01-30 07:53] #8706 closed

[2020-01-30 15:23] loadedlouie commented on #9514
Hi all, I'm currently working on ARM templates with my current company.
We are trying to implement vnets Vms etc.. for production infrastructure.
We are encountering problems deploying the virtual machines.
Can Microsoft give feedback about this issue?

Thanks in advance.

[2020-01-30 18:41] AlexGhiondea opened #9642 "Release Azure Cognitive Search Track 2 Library Preview 2 for Python"
This tracks the work to release the Azure Cognitive Search Track2 Preview 2 Library for Python

### Arch board
- [ ] Review user defined schemas (part 2)
  - [ ] ~FieldBuilder~

### Features
- [x] Service APIs
- [x] React to feedback from Preview 1 around document operations
- [x] Implement index management operations
- [x] Design and implement batching operation for document operations
- [ ] ~*?

[2020-01-30 18:41] AlexGhiondea opened #9643 "Release Azure Cognitive Search Track 2 Library Preview 3 for Python"
This tracks the work to release the Azure Cognitive Search Track2 Preview 3 Library for Python

### Arch Board
- [ ] ArchBoard review for batching
- [x] API review for Index operations

### Features
- [ ] FacetResults strong types (ranges, etc)
- [ ] Design and implement
  - [ ] Skillset
  - [x] Synonyms
- [ ] Design and implement batching operation for document operations
- [ ] Design and impleme

[2020-01-30 18:41] AlexGhiondea opened #9644 "Release Azure Cognitive Search Track 2 Library Preview 4 for Python"
This tracks the work to release the Azure Cognitive Search Track2 Preview 4 Library for Python

### Arch board
- [ ] Cross language consistency review
- [ ] Final API approval

### Features
- [ ] Live test setup
- [ ] API feedback updates

### UX Study
- [ ] Prepare for UX study
- [ ] Run UX study

### Docs
- [ ] Samples

[2020-01-30 18:54] Hazhzeng commented on #8533
Hey @bran-ch,

After investigation, this is due to a schema change in function triggers metadata.
https://github.com/Azure/azure-functions-python-worker/issues/418

[2020-01-30 21:13] wjia7 opened #9649 "Is there a way to dissociate public IP address from NIC through SDK?"
**Is your feature request related to a problem? Please describe.**
I am looking for a way to dissociate public IP addresses from my nic that is associated with a VM that is part of a scale set. There is ways to do it through the Azure portal and CLI (https://docs.microsoft.com/en-us/azure/virtual-network/remove-public-ip-address-vm). My question is that is there a way to do it through SDK?

**Desc

[2020-01-30 21:42] praveenkuttappan opened #9650 "Make common script for all change log related checks"
Currently individual language repo has its own change log check logic This issue is filed to ensure change log check and validation script/code is placed in eng/common to share across all repos.

[2020-01-30 22:30] spagarwa commented on #8846
sent the PR for Fix

[2020-01-30 22:39] mikeharder opened #9652 "[Perf] Python Perf/Stress Framework"
Ensure the Python PerfStress framework has feature parity with .NET and produces correct results

[2020-01-30 22:40] mikeharder opened #9653 "[Perf] Add remaining Storage perf tests"

[2020-01-30 22:44] #7209 closed

[2020-01-30 22:55] #8638 closed

[2020-01-30 23:30] anuragdalmia commented on #7257
@KyrelJerome ping on this ask. Can you please clarify your ask.

[2020-01-31 00:34] kristapratico commented on #9016
Closed with #9630

[2020-01-31 00:34] #9016 closed

[2020-01-31 00:34] #9061 closed

[2020-01-31 12:59] mathieugravil commented on #9420
@andyzhangx , I have mdea some complementary test: and it seems that the  trouble is linked to the secret value/type:
this works :
[code]
but this not:
[code]
in newKeyValueCluster is a string I have generated from function...
Any idea?

[2020-01-31 14:40] kdazzle opened #9660 "Event Hub - Exceptions are swallowed with no obvious hook"
- **Package Name**:  azure.eventhub
- **Package Version**:  5.0.0
- **Operating System**: Windows
- **Python Version**:  3.6.5

**Describe the bug**
When receiving events, uncaught exceptions are being swallowed by the library, with no obvious way to handle them myself.

**To Reproduce**

[code]

Results in a stream of messages printed to the console like:

[code]

**Expected behavior**
I expect t

[2020-01-31 15:09] nickzhums commented on #9514
@loadedlouie could you open a separate issue and describe the details? :)

Thanks!

[2020-01-31 16:51] kaerm commented on #9660
@kdazzle thank you for letting us know, someone from our team will take a look at this //cc: @yunhaoling @YijunXieMS

[2020-01-31 18:00] YijunXieMS commented on #9660
I'm investigating

[2020-01-31 20:17] scbedd opened #9663 "Resolve intermittent pip install failures"
[This](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=248722&view=logs&j=be2373b3-6b66-526b-20b8-841c5ec5eb4b&t=27b6da23-3544-58b2-e3ed-4b7a28f27d9a&l=485) is an example build with the failure.

This is still only occurring on Windows _that we can tell so far_.

Couple things to try
- Double check `pip cache` location on all active tox environments
- Possibly `--retry`, but I'm un

[2020-01-31 20:24] AlexGhiondea opened #9664 "Design document operation APIs"
This tracks the work to design the APIs for the document operations endpoint.

This includes:
- Search
- Suggestions
- Autocomplete
- Lookup
- Count

[2020-01-31 20:24] AlexGhiondea opened #9665 "Design document upload/merge/delete APIs"
This tracks the work to design the APIs for the document upload/merge/delete APIs endpoint.

This includes:
- Upload/merge/delete APIs

[2020-01-31 20:25] AlexGhiondea opened #9666 "Design and implement service APIs"
This tracks the work to design the APIs for the document Service APIs endpoint.

This includes:
- Service APIs -- GetStatistics

[2020-01-31 20:25] AlexGhiondea opened #9667 "Implementation for document operations"
This tracks the work for implementing the design from #9664

[2020-01-31 20:26] AlexGhiondea opened #9668 "Implementation for upload/merge/delete APIs"
This tracks the work for implementing the design from #9665

[2020-01-31 20:26] AlexGhiondea opened #9669 "Create readme"
This tracks the work for generating the readme for the library

[2020-01-31 20:26] AlexGhiondea opened #9670 "Create getting started documentation"
This tracks the work for generating the readme for the library

[2020-01-31 20:27] AlexGhiondea opened #9671 "Create samples and snippets"
This tracks the work for generating the samples and snippets.

[2020-01-31 20:39] praveenkuttappan opened #9672 "test tools installation fails randomly with error in find package"
pip install randomly fails to find package from PyPI with an error stating package not found for external package. This is most likely due to pip cache when tox environments are running in parallel. Fix here will be to disable pip cache when installing test packages.

[2020-01-31 20:40] #8409 closed

[2020-01-31 23:06] kristapratico commented on #9105
closed with #9466

[2020-01-31 23:06] #9105 closed

[2020-01-31 23:38] bterlson opened #9676 "Redact sensitive info from error messages potentially logged to console"
Considering that stderr/stdout output of a process is often logged, it is important we redact sensitive info from any thrown errors to avoid that sensitive info ending up in logs.

For node, we were able to implement this with a custom inspect hook that will serialize errors without sensitive fields when printed to stdout/stderr. This allows users to access even sensitive info on the error at runt

[2020-01-31 23:49] kristapratico opened #9677 "[textanalytics] get answers to further questions surrounding naming"
https://github.com/Azure/azure-sdk-for-net/issues/9722

[2020-02-02 01:28] jlongo62 commented on #4211
To clarify the workaround:
The parameters file from the portal looks something like this:

[code]
To work-around the problem, remove the header elements to make the parameters file look like this:

[code]

[2020-02-02 01:29] jlongo62 commented on #482
To clarify the workaround:
The parameters file from the portal looks something like this:

[code]
To work-around the problem, remove the header elements to make the parameters file look like this:

[code]

[2020-02-02 03:20] spagarwa commented on #8846
The work is complete

[2020-02-02 04:41] sameergMS commented on #9079
Routing to Cosmos DB Python SDK as this relates to tracing implementation in Cosmos DB

[2020-02-02 06:20] HankiGreed commented on #9302
I want to take this issue for my first contribution.

[2020-02-02 19:25] markpearl opened #9684 "Azure Datalake Gen2 Rename File Issue"
- azure.storage.filedatalake:
- **12.0.0.b **:
- **Windows**:
- **3.73**:

**Describe the bug**
When trying to get azure.storage.filedatalake rename_file method working for an existing file_client I receive the following error:
`file_client.rename_file(file_client.file_system_name+'/'+target_path)
azure.core.exceptions.ResourceNotFoundError: Operation returned an invalid status 'The parent directo

[2020-02-03 08:40] vsnarkhede13 opened #9687 "consumption"
I want to extract all the resources, resource type(storage/vm/any else) and its consumed price using python. I've tried to get it through billing but didn't get results as expected.

Code:
import datetime
import azure.mgmt.consumption
import azure.mgmt.consumption.models
from azure.mgmt.consumption.models import UsageDetailPaged
from azure.mgmt.consumption.consumption_management_client import Cons

[2020-02-03 16:52] chlowell commented on #9302
The gist is that `ManagedIdentityCredential` is currently a factory that can't itself be instantiated.  It overrides `__new__` to return one of the implementation credentials. So, you call `ManagedIdentityCredential()` and get something else:
[code]
`ManagedIdentityCredential` could instead have an ordinary `__init__` and hold an instance of the appropriate implementation credential. It could impl

[2020-02-03 17:00] weshaggard opened #9688 "Clean-up branches in main repo"
We have a lot of branches (~630) polluting our main repo we need to clean those up and only have branches that match the repo branching policy (https://azure.github.io/azure-sdk/policies_repobranching.html)
and fix any tooling, like autorest, to stop creating branches in the main repository. Those tools should use branches in a fork to avoid polluting our main repo.

[2020-02-03 17:35] v-doquag commented on #9514
@nickzhums  @mjconnection @Drewm3 - could you PLEASE provide any documentation for the require_guest_provision_signal parameter, how to use it, possible return values and so on?

[2020-02-03 18:15] #9543 closed

[2020-02-03 18:17] kristapratico commented on #9560
Closed with #9630

[2020-02-03 18:17] #9560 closed

[2020-02-03 18:18] kristapratico commented on #9427
Closed with #9630

[2020-02-03 18:18] #9427 closed

[2020-02-03 18:19] kristapratico commented on #9403
Closed with #9630

[2020-02-03 18:19] #9403 closed

[2020-02-03 18:19] lmazuel opened #9690 "KeyVault non 404/409 exceptions raises generated exceptions"
All KeyVault are using "map_error" on 404/409, meaning everything else will raise a generated exception. Example with 403:
[code]

We should not under any circumstances raise anything from generated. We shall add a fallback to catch unexpected stuff.
While using "map_error", @johanste suggested to use a default dict for this kind of scenario
https://docs.python.org/2/library/collections.html#colle

[2020-02-03 19:07] ChrisHMSFT commented on #9521
Hi @andcald1982 ,

Closing the ticket since we didn't hear back from you. Please re-open the ticket if you are still experiencing an issue.

Thanks!
Chris

[2020-02-03 19:07] #9521 closed

[2020-02-03 20:26] YijunXieMS commented on #9660
@kdazzle dazzle This is a bug of the sync version (azure.eventhub.EventHubConsumerClient).
The async version (azure.eventhub.aio.EventHubConsumerClient) doesn't have this bug.

I've pushed the fix into the github repository. The next release will include this fix. Will update this issue once it's released. You may download the dev build [azure-eventhub-5.0.0.zip](https://github.com/Azure/azure-sdk

[2020-02-03 20:30] kdazzle commented on #9660
Amazing - thanks @YijunXieMS !

[2020-02-03 21:29] #9615 closed

[2020-02-03 21:35] #9150 closed

[2020-02-03 22:06] lmazuel commented on #9616
Hi @WilliamHoo
Our test framework is not shipped on PyPI and is designed to be used from source on Github. It's not considered a deliverable usable by non-Microsoft people. May I ask you to explain your scenario in a little more details?

If you still wish to pursue, you can install it this way:
[code]

But beware since it's not published there is no guarantee on breaking changes, even if we try t

[2020-02-03 23:08] KieranBrantnerMagee commented on #9228
Hey @andreacassioli go ahead and create a separate issue with counter, as Anna asserted above this is something we'll have to triage in the REST deserialization.

We can move on this issue as improving Documentation to clarify the header behavior.

Echoing Anna's thanks for your time and effort.

[2020-02-04 01:00] yugangw-msft commented on #9526
This is not a ACR issue; rather a generic code gen issues across service bus, documentdb, and ACR.
CC @zikalino

[2020-02-04 02:20] #9652 closed

[2020-02-04 05:46] dw511214992 commented on #9602
It seems a new request and needs help from Commerce Team's help.

[2020-02-04 08:03] andreacassioli opened #9708 "ServiceBus message delivery count not initialised"
- **Package Name**:  azure-servicebus
- **Package Version**: 0.50.2
- **Operating System**: any
- **Python Version**: 3.7>=

**Describe the bug**
The `DeliveryCount` message property is not initialise properly but left to `None`.

**To Reproduce**
Steps to reproduce the behavior:
1. dump a message in a servicebus queue
2. read the message using sdk client
3. check the `message.broker_properties['D

[2020-02-04 14:37] #9525 closed

[2020-02-04 16:06] praveenkuttappan opened #9709 "Regression test is not finding dev build version of package"
Scheduled CI run generates package with dev version. Regression test looks for whl of a package in whl directory but it was searching for a whl with with non dev build version and couldn't find the wheel and caused test failure.

[code]

[2020-02-04 17:14] kristapratico commented on #9517
Nightly build set up to run at 3:30am each night

[2020-02-04 17:14] #9517 closed

[2020-02-04 18:29] #8928 closed

[2020-02-04 18:58] #9303 closed

[2020-02-04 21:37] nancybelser opened #9715 "usage_details.list does not seem to filter by date"
- **Package Name**: https://github.com/Azure/azure-sdk-for-python/tree/fd643a07a08f5ae912344c45f91ecd7278e9049b/sdk/consumption/azure-mgmt-consumption
- **Package Version**:
- **Operating System**: mac os
- **Python Version**: 3.7.6

**Describe the bug**
I wrote a script to get usage_details and filter by date.

def get_consumption(credentials, subscription_id, env):
    consumption_client = Consu

[2020-02-04 23:12] #9709 closed

[2020-02-04 23:54] praveenkuttappan opened #9718 "Scheduled CI pipeline fails for service 'support'"
CI is failing to publish package due to invalid artifact name in ci.yml. only artifact in this ci.yml should be for management package.

========================== Starting Command Output ===========================
/bin/bash --noprofile --norc /home/vsts/work/_temp/c442647b-818b-4fce-97c8-9d14d1f73929.sh
InvalidDistribution: Cannot find file (or expand pattern): '/home/vsts/work/1/support/*.whl'

[2020-02-05 07:10] yunhaoling commented on #7201
Latests update on this issue:

I've located the codes which lead to the warning:

On MacOS, when creating the TLSIO and its options in tlsio_appleios.c [(code here)](https://github.com/Azure/azure-uamqp-python/blob/1a5635e49e59b08b7146debee4d9f6bf289d537a/src/vendor/azure-uamqp-c/deps/azure-c-shared-utility/pal/ios-osx/tlsio_appleios.c#L261):
[code]
The options of tlsio is set to `TLSIO_OPTION_BIT

[2020-02-05 07:14] #9672 closed

[2020-02-05 07:15] yunhaoling commented on #7201
@oeeckhoutte Did you turn on the uamqp log stuff?

On MacOS there is a known issue that enabling uamqp logging cause segmentation crashing.
As far as I know the certificate stuff doesn't cause crash.

[2020-02-05 07:16] #9718 closed

[2020-02-05 10:00] K3UL commented on #7201
Hi,
Same here on `MacOS X 10.15.3` with `python 3.8.1` and `azure-servicebus 0.50.2`.

Happens when I call `azure.servicebus.ServiceBusClient.get_subscription(topic, sub).get_receiver(mode=ReceiveSettleMode.PeekLock, NEXT_AVAILABLE)`

[2020-02-05 14:50] marcelaldecoa commented on #9583
# Why upgrading to PIP 20.0.1 is failing dotnetcore2

According to the PIP [release notes](https://pip.pypa.io/en/stable/news/), the version 20.0.1 is based on the version 20.0.0 that contains deprecations and removals, including the issue [#6908](https://github.com/pypa/pip/issues/6908).

A closer inspection to the pull request #[7354](https://github.com/pypa/pip/pull/7354/files) reveled a number

[2020-02-05 17:33] rfernand2 opened #9725 "Error: 'InteractiveBrowserCredential' object has no attribute 'signed_session'"
- **azure-identity**:
- **version: 1.2.0**:
- **OS: Windows 10**:
- **Python Version: 3.6.9**:

I am trying to use InteractiveBrowserCredential() with Azure Storage BlockBlobService.  When I try to call a blob method, it hangs for about 60 seconds and then returns this error:

My test case:
[code]
I also tried calling get_token() and passing the result (or result.token, or credentials) as the toke

[2020-02-05 18:32] chlowell commented on #9725
It looks like you're using `azure-identity` with a version of `azure-storage-blob` that doesn't support it. 12.0 was the first version to accept `azure-identity` credentials. Which version do you have installed?

[2020-02-05 20:05] rfernand2 commented on #9725
I was using **azure-storage-blob==2.1.0**.

OK, just upgraded to **azure-storage-blob==12.1.0**.  Now I get a 60 second delay and a **new error**:

Exception has occurred: ServiceRequestError
<urllib3.connection.VerifiedHTTPSConnection object at 0x000001373B0CC320>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed
  File "C:\anaconda3\envs\blobtest\Lib\site-packages\azure\cor

[2020-02-05 20:07] yunhaoling commented on #7201
Opened an issue in the azure-c-shared-utility repo: https://github.com/Azure/azure-c-shared-utility/issues/426

[2020-02-05 20:22] siminchengithub opened #9732 "EntitySearchClient.entities.search returns NoneType as entities results"
- **azure.cognitiveservices.search.entitysearch**:
- **2.0.0/1.0.0*:
- **Linux**:
- **3.6**:

**Describe the bug**
The EntitySearch python sdk returns NoneType as entity search results for query "RED BAY HOSPITAL". However on https://azure.microsoft.com/en-us/services/cognitive-services/bing-entity-search-api/ it returns the correct entity.

**To Reproduce**
Steps to reproduce the behavior:
1. Ins

[2020-02-05 21:41] #9589 closed

[2020-02-05 21:59] yunhaoling commented on #5315
Hi @alanjcastonguay , sorry for the late responding, I just came back from a vacation.

Can you share me the link to the dotnet samples related to this PublisherPolicy?

--------

After reading the docs in https://docs.microsoft.com/en-us/archive/blogs/servicebus/event-hub-publisher-policy-in-action, I see that the client side still need to define a publisher ID locally like.
```string publisherId

[2020-02-05 22:14] chlowell commented on #9725
`getaddrinfo failed` typically means DNS resolution failed, I guess because `BlobClient` 12.1 expects a URI for its first parameter ([docs](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-storage-blob/12.1.0/azure.storage.blob.html#azure.storage.blob.BlobClient)) and is trying to send a request to "xtmeta". If you're just getting started with the latest azure-storage-blob, there are i

[2020-02-05 23:59] rfernand2 commented on #9725
Thanks @chlowell.  After I read your comment and the docs for BlobClient, it still wasn't clear to me which URI BlobClient() needed.  It turns out it needs what the Azure Portal (storage | Properties) calls the Primary or Secondary "Blob Service Endpoint" - would be great if the docs could be more specific about this since there are 16 potential strings to choose from on that page.  Thanks all!

[2020-02-05 23:59] #9725 closed

[2020-02-06 06:55] dw511214992 commented on #9556
Need help from graph team.

[2020-02-06 07:40] rfernand2 opened #9743 "Error when trying to add secret after being deleted in Azure keyvault"
- **Azure Portal**:
- **Feb-05-2002**:
- **Windows 10**:

Using the Azure portal UI, I deleted a secret and then tried to add it back; keep getting the error:

[2020-02-06 07:52] rfernand2 opened #9744 "InteractiveBrowserCredential() never caches; each run forces user to interact with browser"
**azure-identity==1.2.0**
**azure-keyvault==4.0.0**
- **Windows 10**:
- **Python 3.6.10**:

**Describe the bug**
I am integrating the use of "InteractiveBrowserCredential()" into a command line app that needs to read some secrets from keyvault on every run.  Each time the app is run, focus is shifted to the browser and user is forced to interact to select a login identity.

I expected that the use

[2020-02-06 07:58] ahaw021 commented on #8232
@kaerm

Find below.

[code]

[2020-02-06 08:02] ahaw021 commented on #8232
![image](https://user-images.githubusercontent.com/26753809/73917256-c281ab80-490a-11ea-8cb0-2fb52c469d76.png)

[2020-02-06 08:11] nickzhums commented on #8232
@dejan-shuki  any specific use case you are looking for?

[2020-02-06 09:30] mathieugravil commented on #9420
Hello @andyzhangx ,

My collegue find where is the trouble!!!
In fact, first i create a new password key and after i use it to reset in cluster. It seems that i need to wait some time between the 2 actions whereas it failed....

[2020-02-06 09:30] #9420 closed

[2020-02-06 14:57] nancybelser commented on #9715
Anyone looking into this?

[2020-02-06 16:45] chlowell commented on #9743
I suspect your Key Vault has [soft-delete](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-soft-delete) enabled. When you soft-delete a secret, it's marked as deleted and no longer appears in the Portal, but its name and history of values are retained. You'll see a conflict error if you try to reuse that name.

You can manually recover, or permanently delete, a soft-deleted secret.

[2020-02-06 18:24] kaerm commented on #9687
@vsnarkhede13 thanks for the feedback, looping the right team to take a look at it
//cc: @nickzhums

[2020-02-06 18:26] kaerm commented on #9708
@andreacassioli thanks for letting us know, someone from our team will take a look at this

[2020-02-06 18:27] kaerm commented on #9715
@nancybelser thanks for following up, @nickzhums can you take a look at this

[2020-02-06 19:38] praveenkuttappan opened #9749 "Regression test failure if dependent package is not available on PyPI"
azure-storage-blob requires latest version of azure-core which is not released yet. whl installation of azure-storage-blob hence fails since azure-core is not released yet. Regression test should  handle this scenario to exit the test gracefully.

[2020-02-06 19:44] praveenkuttappan opened #9750 "Depends test fails when required package is not yet released"
Azure-storage-blob requires azure-core 1.2.2 or higher and azure-core 1.2.2 is not yet released. Dependency test looks for daily dev build version but dev build version for e.g. 1.2.2.dev is older than 1.2.2 by python version comparison.  Depends test should handle this by updating package requirement to consider dev build version. for e.g. in this case '>=1.2.2.dev'

[2020-02-06 19:49] praveenkuttappan opened #9751 "Regression test fails due to incompatibility in old tests"
Test fails due to issues or incompatibility only in tests that is part of released branch. Regression test runs the test cases that is already part of released branches. Fix in this case is to look for an additional branch tag with postfix "_tests" and execute that test instead of actual branch with release tag and checkout release tag only if branch with "tests" tag is missing.

[2020-02-06 19:53] praveenkuttappan commented on #9749
This should also be done for latest and minimum dependency test

[2020-02-06 20:05] yunhaoling commented on #7201
PR created in uamqp repo: https://github.com/Azure/azure-uamqp-python/pull/143

[2020-02-06 21:32] chlowell commented on #9744
`InteractiveBrowserCredential` caches in memory only. Making it more persistent is a high priority for me. I'll use this issue to track progress on that.

Integrating Azure CLI authentication into `azure-identity` is another high priority (tracked by #8566). I hope to have something ready for you to try soon, if only as a preview.

The identity signed in to the Azure Portal is available to `Intera

[2020-02-06 21:51] #9393 closed

[2020-02-06 21:58] heaths opened #9753 "March release of KeyVault for Python"
# Features

- [x] Add new Soft Delete properties to Key Vault data plane (#9907)
- [x] KeyOperations needs to support "import" for 7.1-preview (#9930)

# Bugs

- [ ] ~Importing PEM-encoded certificates may not work (#9874)~

[2020-02-06 21:59] heaths opened #9754 "Support local key encryption for CryptographyClient"

[2020-02-06 22:02] heaths opened #9755 "Support Role-based Access Control (RBAC) for data plane"

[2020-02-06 22:22] #9464 closed

[2020-02-06 22:30] v-jaswel opened #9756 "'InteractiveBrowserCredential' object has no attribute 'signed_session'"
- **Package Name**: azure-mgmt-authorization, azure.identity
- **Package Version**: 0.60.0, 1.2.0
- **Operating System**: Windows 10 Enterprise
- **Python Version**: 3.7.3

**Describe the bug**
I am unable to use azure.identity.InteractiveBrowserCredential to authenticate to azure.mgmt.authorization.AuthorizationManagementClient.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the follow

[2020-02-06 22:38] #9096 closed

[2020-02-06 22:58] chlowell commented on #9756
That's correct, no `azure-mgmt-*` accepts `azure-identity` credentials. Work to change that is tracked by #9310. I'll close this is a duplicate of #9725. Please feel free to open another issue if you encounter other problems.

[2020-02-06 22:58] #9756 closed

[2020-02-06 22:59] rfernand2 commented on #9744
OK, its good to know help is on the way.  Thanks for being so responsive to these issues!  Looking forward to trying out your progress...

[2020-02-07 01:15] nickzhums commented on #9715
@RodgeFu  seems like the API behavior is not what the user expected, could you have someone take a look and double check. Thanks!

[2020-02-07 02:37] scbedd opened #9761 "Merge all the "storage" nodes into single one displaying service overview"
Currently looks like this:
![image](https://user-images.githubusercontent.com/45376673/73996162-bd732b00-490f-11ea-81bc-31abf9875c7f.png)

Should look something like Javascript:
![image](https://user-images.githubusercontent.com/45376673/73996219-ded41700-490f-11ea-8601-4c6b22481064.png)

Do this with the next release.

[2020-02-07 02:39] scbedd commented on #9761
@chidozieononiwu I'm going to have you attack Python and .NET. So I will walk you through this when you get to python ok?

[2020-02-07 03:43] dw511214992 commented on #9715
The response is from consumption service, and we need consumption team's help

[2020-02-07 05:47] dharmab opened #9763 "Azure SDK fails to decode non-ASCII text in API error messages"
- **Package Name**:  azure-cli
- **Package Version**: 2.0.77
- **Operating System**: Debian based Docker container
- **Python Version**: 3.8

**Describe the bug**

Azure SDK fails to decode some errors from the Azure API:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Hard to reproduce, since you have to get a pretty specific error.

**Expected behavior**

Azure SDK should correctly

[2020-02-07 06:01] dw511214992 commented on #9763
We will follow this issue.

[2020-02-07 06:38] dw511214992 commented on #9687
If there is a sample of results, it will be better. Thank you

[2020-02-07 06:54] vsnarkhede13 commented on #9687
{
  "accountName": null,
  "additionalProperties": null,
  "billableQuantity": "None",
  "billingPeriodId": "**************************",
  "consumedService": "Microsoft.Storage",
  "costCenter": null,
  "currency": "INR",
  "departmentName": null,
  "id": "**************************",
  "instanceId": "*****************************",
  "instanceLocation": "IN West",
  "instanceName": "(instance na

[2020-02-07 07:11] dw511214992 commented on #8343
There is nothing about generating python sdk in readme file.

[2020-02-07 17:13] #8166 closed

[2020-02-07 18:37] andrewkittredge commented on #6731
Did this happen?  What is the retry policy by default?

I am looking for something similar to this, https://docs.microsoft.com/en-us/azure/architecture/best-practices/retry-service-specific#service-bus.

[2020-02-07 20:00] xiafu-msft commented on #9684
Hi @markpearl
Thanks for reaching out!
I think the problem is you didn't create a curated_path, rename will not help you create the path

[2020-02-07 20:03] markpearl commented on #9684
@xiafu-msft are you able to provide me with the a small sample on how to use rename_file()? There's nothing for it in the samples folder. I saw the unit tests you created for it, but was able to replicate their behavior. Would be extremely useful if you could show the steps!
i.e. 1) create_file_client for target path 2) ..

[2020-02-07 20:11] chlowell opened #9773 "Support a default error type in map_error"
`azure.core.exceptions.map_error` requires the given `error_map` to map status codes to error types explicitly. This makes it cumbersome to use to prevent generated clients from raising generated error types. Generated methods often raise on all but one status code, requiring an `error_map` to map every other status code to some type. That is to say, `error_map` must either be a dict-like with a k

[2020-02-07 21:29] lmazuel commented on #9273
Resurrecting this one after discussion on LRO, I understand now that it's pointless to be that precise. Will fix that for azure-mgmt-core

[2020-02-07 21:32] lmazuel commented on #9773
I approve this message :)

[2020-02-07 21:56] #9690 closed

[2020-02-07 22:55] jongio commented on #9763
@dharmab - Just want to confirm.  You are seeing this with the CLI, not the SDK, correct?  Do you have a command that you run to consistently repro?

[2020-02-07 23:20] chlowell opened #9776 "Rework azure-identity exception hierarchy"
Credentials raise two error types: azure-identity's `CredentialUnavailableError` and azure-core's `ClientAuthenticationError`. The former inherits the latter, to avoid a breaking change (1.0 credentials raise only `ClientAuthenticationError`). This, then, is the current hierarchy:

`CredentialUnavailableError` -> `ClientAuthenticationError` -> `HttpResponseError` -> `AzureError`

This is semantica

[2020-02-07 23:27] annatisch commented on #9534
Adding @xiafu-msft from the storage team for visibility.

[2020-02-08 03:10] dharmab commented on #9763
No, this is a stack trace from one of our Python scripts that calls the
SDK, not from the az CLI. Unfortunately we've only seen it happen once and
can't consistently reproduce it, because it also requires Azure's server
side to throw an error with specific content.
--
Dharma Bellamkonda

On Fri, Feb 7, 2020 at 3:55 PM Jon Gallant <notifications@github.com> wrote:

[2020-02-08 12:51] lx1054331851 opened #9782 "Can BlockBlobService.copy_blob copy file url which is from a public website."
Can BlockBlobService.copy_blob function copy file url which is from a public website, such as copy a image from this url(https://static.zara.cn/photos///2019/I/0/1/p/2387/778/712/6/w/1920/2387778712_1_1_1.jpg) that the url is public.

[2020-02-08 21:38] gverkes opened #9783 "async download_blob authenticationerror when equal sign '=' in the url"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.1.0
- **Operating System**: Windows 10
- **Python Version**: 3.7.3

**Describe the bug**
Whenever there is a blob that has a equal sign ('=') in the url the async BlobServiceClient will give me an AuthenticationError. The same file without the equal sign or using non-async BlobServiceClient works fine.

**To Reproduce**
The following

[2020-02-09 21:00] Drewm3 commented on #9514
Sorry for the delay. I am looking into this now, and will provide and update soon.

[2020-02-09 23:55] Drewm3 commented on #9649
Moving this to the Azure Networking team who owns this space.

[2020-02-09 23:57] Drewm3 commented on #8985
Closing this due to no response.

[2020-02-09 23:57] #8985 closed

[2020-02-10 07:12] Drewm3 commented on #8142
Closing this now that the documentation has been updated

[2020-02-10 07:12] #8142 closed

[2020-02-10 07:25] Drewm3 commented on #7416
@zikalino agreed to investigate this issue as an issue in the SDK.

[2020-02-10 10:01] dw511214992 commented on #9687
The result is gotten from billing service and we need help from billing service team.

[2020-02-10 13:49] gmistick commented on #8985
Hi , sorry for the no response, i missed previous email.
1. I used list in resource group.
2. the frequency was every few seconds/ minutes.
But this scenario:
a. get all vms.
b. create multiple vms in multiple threads
c. in each thread after create vm, list vm in resource group to get the current new vm with config i needed.
there sometimes it was missing

[2020-02-10 14:01] KyrelJerome commented on #7257
A workaround has been found and documented, I'll close this ticket now.

[2020-02-10 14:01] #7257 closed

[2020-02-10 14:01] KyrelJerome commented on #7257
Sorry for the late response, thank you for getting back to me!

[2020-02-10 14:46] InesNefoussi opened #9792 "SDK is unable to unable the correct exception when receiving a 400 response code when creating (or updating) a AKS cluste"
- **Package Name**: azure-sdk-for-python/sdk/containerservice/azure-mgmt-containerservice/azure/mgmt/containerservice/v2020_01_01/operations/_managed_clusters_operations.py/
- **Package Version**: v2020_01_01
- **Operating System**:
- **Python Version**: 2.7

**Describe the bug**
When creating a new AKS cluster and after receiving a 400 response (quota exceeded on cores), instead of having this ex

[2020-02-10 17:18] ramya-rao-a opened #9795 "Release Event Hubs March 2020 update for Python"
This is a parent issue tracking the work planned for Event Hubs for the March update.
Code complete date: March 6th, 2020

## API design
- [ ] Propose smarter send APIs such that the user doesnt have to one by one fill the `EventDataBatch` to be able to send events
- [ ] Propose API to receive in batches
- [ ] Propose API to control greedy claiming of partitions by the Event Processor

## Features

[2020-02-10 17:19] ramya-rao-a commented on #9179
@YijunXieMS Please move the pending issues to #9795 and close this issue.

For anyone else reading this,
There is no update planned for Event Hubs in Feb 2020

[2020-02-10 17:51] dharmab commented on #9763
I think the error is in this file, actually: https://github.com/Azure/msrestazure-for-python/blob/master/msrestazure/azure_exceptions.py

It looks like it's trying to decode strings as ascii. Which will fail if any character other than the english alphabet is present in an error message.

[2020-02-10 18:15] joshfree commented on #9316
Updating issue as Functions and App Services has been moved to the backlog

[2020-02-10 18:43] danieljurek opened #9796 "live tests need to provision and tag resource group"
Create a resource group with a `DeleteAfter` and other tags listed [here](https://github.com/Azure/azure-sdk-for-net/blob/master/eng/New-TestResources.ps1#L178) in `archetype-sdk-tests.yml` then delete after the test run completes.

[2020-02-10 19:10] scbedd commented on #9761
I heard from Scott that he wanted you to make changes to each language if possible. I'm reassigning this to make certain you have the time to tackle those.

[2020-02-10 19:27] kaerm commented on #9783
Thanks for the feedback @gverkes, I am looping in the right team to take a look at this.