[2022-01-14 17:23] lmazuel commented on #22315
Swagger would need update, though we don't release track1 of this SDK anymore, but I'm not aware of their track2 story. Need to confirm with @mayurid if they are in our planning

[2022-01-14 18:03] abhahn commented on #22468
Hi @EmanueleGusso , thanks for your questions.

We are not able to disclose details of the model internals, other than that we are using a SotA transformer-based model.  I was also informed that I could say that we are not using SpaCy, but cannot say more than that in the affirmative about what we are using for sentence segmentation.

As for your question about increasing the maximum number of sen

[2022-01-14 18:09] abhahn commented on #22468
For your second set of questions in comments, as of now it is not possible to send the input already split into sentences.  We currently only support sending whole documents, which are segmented by the service.  I can also ask my colleagues about the option to send a document already split into sentences, but this will require an API update and would likely take some time to implement if it were g

[2022-01-14 18:10] abhahn commented on #22468
For the issue of sentences getting lost, could you share a repro for this?  I can take a look at the output to see if there is a bug in the service or if the behavior is expected.

[2022-01-14 18:31] catalinaperalta opened #22509 "[formrecognizer] Rename preview API version enum"

[2022-01-14 18:38] iscai-msft commented on #22487
hello @abandyop, we have identified the fix and have a [PR](https://github.com/Azure/azure-sdk-for-python/pull/22495) out to fix it. We generally do our releases on our 3 week sprint cadence, which means this fix will be released the first week of February. I want to check in with you and see if this date is ok with you. If you have any extenuating circumstances, please let us know!

[2022-01-14 18:38] catalinaperalta opened #22511 "[formrecognizer] Add tests covering both build mode configs"
Make sure there are tests that use "template" and "neural" values.

[2022-01-14 19:31] mccoyp opened #22512 "Adjust AzureRecordedTestCase.get_resource_name for PYTEST_CURRENT_TEST inconsistency"
As described in https://github.com/Azure/azure-sdk-for-python/issues/22387#issuecomment-1011680482, the value of the `PYTEST_CURRENT_TEST` environment variable can vary depending on how tests are run. `AzureRecordedTestCase.get_resource_name` relies on the value of this variable to produce pseudo-random resource names, which means that tests could fail in playback if run differently than when they

[2022-01-14 19:40] heaths opened #22513 "Regenerate, make sure immutable property is added"
Now that https://github.com/Azure/azure-rest-api-specs/pull/17270 has been merged for 7.3-preview, please regenerate and make sure that the `immutable` property has been correctly added.

Testing might include setting a release policy and marking immutable `true`, then trying to change or remove the release policy which should err.

**Edit:** regenerate on commit 8a061f1e9031450b9eb5546d242f2a28c9

[2022-01-14 19:54] taybin opened #22514 "Missing comma breaks cosmos.azure.aio.CosmosClient.from_connection_string()"
- **Package Name**: azure-cosmos
- **Package Version**: 4.3.0b1
- **Operating System**:
- **Python Version**: 3.9

**Describe the bug**
A comma is missing at the end of line 162: https://github.com/Azure/azure-sdk-for-python/blob/9eca55e1f80bbfdbc7283374b9e5f63bc266ac4b/sdk/cosmos/azure-cosmos/azure/cosmos/aio/cosmos_client.py#L159-L164

This results in python trying to use the `**` operator on a

[2022-01-14 20:52] swathipil commented on #21606
re-design here: https://gist.github.com/swathipil/9f835a8006932766f67c36189433a822

[2022-01-14 21:00] swathipil opened #22516 "[Schema Registry] implement AvroEncoder"
implementation after finalizing design: #21606

[2022-01-14 21:08] swathipil opened #22517 "[SchemaRegistry] Migrate SR tests to use test proxy"

[2022-01-14 21:16] swathipil opened #22518 "[SchemaRegistry] dogfooding/translate swagger to CADL"
Reacquaint myself with SR swagger to test this out.

[2022-01-14 21:26] mccoyp commented on #22514
Hi @taybin, thank you for opening an issue! I'll tag the appropriate folks so we can look into this as soon as possible.

[2022-01-14 21:36] #20928 closed

[2022-01-14 21:59] lmazuel opened #22519 "Support for Partner Channel Name"

[2022-01-14 22:01] mccoyp commented on #22387
@tjprescott Now that #22508 has been merged, let me know if this issue persists. If you're now able to load the recording files in debug mode, feel free to close this!

[2022-01-14 22:25] #22487 closed

[2022-01-14 22:32] tjprescott commented on #22387
Cool, yes it now seems that the recording is placed in the right location and it does find it. While I run into other issues, at least this one can be closed!

[2022-01-14 22:32] #22387 closed

[2022-01-15 01:27] catalinaperalta commented on #22379
Hi @v-xuto, if you leverage `sub-config-gov-test-resources` in your test configuration yaml instead of the current `sub-config-azure-cloud-test-resources` that should set everything up and work as expected with the test_resources.json if you're using that for testing. See how we set up our subscription configuration [here in tests.yml](https://github.com/Azure/azure-sdk-for-python/blob/c9dce46185a

[2022-01-15 03:33] mkrdip opened #22523 "Dependencies Conflict Between Azure CLI and Azure ML"
- Packages: **azureml-core, azure-cli-core**:
- Versions: **1.37.0.post1 or lower, 2.32.0**:
- OS: **Windows and Ubuntu**:
- Python Version: **3.7.6**:

**Describe the bug**
Whenever you want to use Azure CLI Auth in Azure ML. For example the following code:

[code]

You would need to use either `azure-cli` or `azure-cli-core`. But Azure CLI Core and Azure ML core has conflicts in their dependenci

[2022-01-15 10:37] EmanueleGusso commented on #22468
@abhahn Thank you very much for your availability.

My need to increase the maximum number of sentences stems from the fact that I am interested in having the importance scores of all the sentences in my text. So, since this function is not available and the API returns only the sentences chosen for the summary and their importance score, I was hoping to set a huge number as maximum number in orde

[2022-01-15 17:47] l-rushton commented on #22103
Sorry for the delayed response - you were right, the issue was coming from the pre existing datasets I was trying to import. This project has been put on hold for now, but thank you very much for your help!

All the best

[2022-01-15 17:47] #22103 closed

[2022-01-17 03:30] ArthurMa1978 commented on #21349
75 open issues (include mgmt. and llc)

[2022-01-17 03:30] #21349 closed

[2022-01-17 07:01] msyyc opened #22525 "[pipeline] Add code-generate function for `auto-release` pipeline"
Swagger team pipeline sometimes fails and will block mgmt package release. To avoid this, `auto-release` pipeline needs to have competence to generate SDK code

[2022-01-17 22:02] #22411 closed

[2022-01-17 23:12] daperezc opened #22527 "subscription_client.tenants.list() not showing additional information, it returns none"
- **Package Name*azure-mgmt-resource*:
- **Package Version*20.0.0*:
- **Operating System*Windows/Linux*:
- **Python Version*Python 3.8.10*:

**Describe the bug**
When running the subscription_client.tenants.list() method and printing the result it shows none on almost all fields.
This happens only with Managed Identities, seems to be working fine with user and password authentication if we compare

[2022-01-18 10:04] Vprashant opened #22529 "Error while reusing BatchMessage object"
- **Package Name**: azure-servicebus
- **Package Version**: 7.4.0
- **Operating System**:Linux (Ubuntu 18.04)
- **Python Version**: 3.8.12

**Describe the bug**
from this we have created service bus client :
servicebus_client = ServiceBusClient.from_connection_string(conn_str=sender_connection_string)

**created a sender object:**
sender = servicebus_client.get_topic_sender(topic_name=topic_name)

[2022-01-18 15:07] abandyop commented on #22487
Yeah ideally earlier the better, but I'll have to live with the release cycles ... NO problem will check back 2nd week Feb

[2022-01-18 19:31] mccoyp commented on #22523
Hi @mkrdip, thank you for opening an issue! I'll tag the appropriate folks so we can look into this as soon as possible.

[2022-01-18 19:35] mccoyp commented on #22527
Hi @daperezc, thank you for opening an issue! I'll tag the appropriate folks so we can look into this as soon as possible.

[2022-01-18 19:37] mccoyp commented on #22529
Hi @Vprashant, thank you for opening an issue! I'll tag the appropriate folks so we can look into this as soon as possible.

[2022-01-18 19:44] daperezc commented on #22527
---I have an update, if I use user/password credentials, it works:

from azure.identity import UsernamePasswordCredential
from azure.mgmt.resource.subscriptions import SubscriptionClient
credential = UsernamePasswordCredential(AppId,User,Password,tenant_id=TenantId)
subscription_client = SubscriptionClient(credential,api_version='2021-01-01')
tenants = subscription_client.tenants.list()

for t in

[2022-01-18 20:14] kristapratico opened #22532 "[translation] match translation samples to docs scenarios"
The docs page has a good overview of how to do different kinds of filtered translation ops (translate all docs in a container, translate just one file, translate under a directory, etc) for the REST API here: https://docs.microsoft.com/en-us/azure/cognitive-services/translator/document-translation/reference/start-translation#example-request

It will be useful to translate these to client library s

[2022-01-18 20:54] tjprescott opened #22534 "[Search] Add support for Aliases"
See Swagger PR:
https://github.com/Azure/azure-rest-api-specs/pull/17253

[2022-01-18 20:57] tjprescott opened #22535 "[Search] Support AML Skill"
See Swagger PR: https://github.com/Azure/azure-rest-api-specs/pull/16910

[2022-01-18 21:33] simorenoh commented on #22514
Hi @taybin, thank you for pointing this out, a PR has been made to take care of this and should be released soon: https://github.com/Azure/azure-sdk-for-python/pull/22536

Since you're testing out our async client, do let us know if you run into anything else so we can take a look! Hope you have a nice day!

[2022-01-18 21:52] swathipil commented on #22051
Need to check if Dict arguments should be changed to Mapping. For example: check if
`application_properties` can take type Mapping as argument: https://github.com/Azure/azure-sdk-for-python/blob/e2b5852deaef04752c1323d2ab0958f83b98858f/sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py#L71

[2022-01-18 21:56] scbedd commented on #21809
Additional detail alwayus appreciated :D

[2022-01-18 22:50] jalauzon-msft opened #22539 "Handle preprod accounts better when testing locally"
If running live tests locally using a PreProd account, there are a few manual steps to get it to work properly. Some changes should be made to better handle PreProd accounts.

 - Change `base_client.py` for each package to parse account when `preprod` is in the URL.
 - Find a way to prevent `preprod` from making it into live recordings OR create a script to automatically clean it up.

[2022-01-18 23:23] mccoyp commented on #21809
Error handling specifically for [test proxy errors](https://github.com/Azure/azure-sdk-for-python/blob/3e3fbe818eb3c80ffdf6f9f1a86affd7e879b6ce/sdk/tables/azure-data-tables/azure/data/tables/_error.py#L84) was added, so this should be less of an issue now. There may be other packages that [use the `x-ms-error-code` header](https://github.com/Azure/azure-sdk-for-python/blob/3e3fbe818eb3c80ffdf6f9f1

[2022-01-19 01:22] catalinaperalta opened #22541 "[formrecognizer] Add documentation link for DocumentBuildMode"
Add link in docs to service documentation about the different build modes.

[2022-01-19 01:25] GranamyrBR opened #22542 "[BUG Bash]"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2022-01-19 01:33] #22155 closed

[2022-01-19 02:12] yunhaoling commented on #21138
we are tackling with one delivery per send and check whether it's expired in the sender link, so clearing expiring pending messages is not needed in current design and implement in link level.

[2022-01-19 02:12] #21138 closed

[2022-01-19 02:23] yunhaoling opened #22543 "[AMQP Python] Python built-in socket perf analysis"
this is a Python centric working item.
basically, we want to test how fast a network socket (tcp/ssl) could send and recv bytes.

python ssl socket is the underlying transportation layer to pyamqp, through this way we cant get the baseline/limit of the bandwidth, which should be the upper bound for the AMQP Python throughput.

[2022-01-19 02:25] yunhaoling opened #22544 "[AMQP Python] get and analyze the perf result on pypy, compare with cpython"
### Scope

as pyamqp is pure python now, let's figure out how it performs on the pypy platform.

### Tasks
- compare the send/recv perf with cpython env
- finding out cpu vs io bound
- if perf is all good, then probably there's nothing to do at the moment, however, if the perf diff is significant (e.g. pypy slower), then it might be worth investigating.

[2022-01-19 02:28] yunhaoling opened #22545 "[AMQP Python] Pure Python AMQP SDK Promotion"
- [x] demo to the team
- [ ] blog post, work with lily/james), [check azure-sdk-blog issue](https://github.com/Azure/azure-sdk-blog/issues/225)
- [x] #23094
  - [ ] get a list of EH users who previous have issues with uamqp
  - [ ] get a list of EH users who are interested in trying out new things
  - [ ] reach out to them!

[2022-01-19 02:37] yunhaoling opened #22546 "[AMQP Python] redesign/refinement on error hierarchy and handling"
Issue/Scope:

- settle the error hierarchy
  - link/session/connection error classes
  - double check with uamqp, not all uamqp errors is necessary to be imported into the pyamqp, however, some of the uamqp errors might make sense (e.g. MessageResponse?)
  - in current pyamqp, we one class for each of link/session/connection, there's no sub error for each condition. Besides, we have some other aut

[2022-01-19 02:43] yunhaoling opened #22547 "[AMQP Python] sync recv perf analyze and improve"
<img width="761" alt="image" src="https://user-images.githubusercontent.com/47871814/150053391-e1e223da-5378-4679-9484-0ca42dce3750.png">

based on the perf test results, the following test scenario and configurations should be investigated further understanding why pure python amqp is slower than uamqp and improve the perf:

- config
  - vm: west us2, Standard D2s v3 (2 vcpus, 8 GiB memory)
  - e

[2022-01-19 02:48] yunhaoling opened #22548 "[Event Hubs] buffered producer us study preparation"
- [x] context doc
- [x] hypothesis
- [x] apis
- [x] api reference
- [x] mock implementation (bug free)
- [x] ux study tasks
- [x] sync up with core stakeholders

[2022-01-19 02:50] yunhaoling opened #22549 "[Event Hubs] buffered producer ux study"
pre-occupy the slots, 1.5 hrs * 8 sessions
Jan 24th - 26th

[2022-01-19 03:00] yunhaoling opened #22550 "[AMQP Python] Event Hubs feature parity with custom_endpoint_address and connection_verify"
The two feature `custom_endpoint_address, connection_verify` are temporarily pulled out, we should get them back.

[2022-01-19 07:53] v-xuto commented on #22379
@catalinaperalta I have already added `sub-config-gov-test-resources` and `sub-config-cn-test-resources` in [formrecognizer/tests.yml](https://github.com/Azure/azure-sdk-for-python/blob/3085e83f6a2b7e7276e1044e4a80feed74e8081e/sdk/formrecognizer/tests.yml) in my [PR](https://github.com/Azure/azure-sdk-for-python/pull/20082). For more details about pipeline results please click [here](https://dev.a

[2022-01-19 16:55] kapilt commented on #17801
@msyyc its not specific to azure mgmt network, its a design problem affecting every package in the sdk, network mgmt just happens to be the most egregious. unfortunately its also not clear which azure sovereign cloud maps to which version of each sdk.

[2022-01-19 17:47] yunhaoling opened #22555 "[EventHubs & ServiceBus] help v-team to enable live tests on sovereign clouds"
https://github.com/Azure/azure-sdk-for-python/pull/21715
https://github.com/Azure/azure-sdk-for-python/issues/20517

- [x] #22563
PowerShell preparer?

[2022-01-19 19:02] iscai-msft opened #22557 "[pylint] don't log errors that we end up raising"
We don't want to log errors that we end up raising. For example, in [this code](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_polling.py#L122) we both log the error at a warning level, and throw it as well.

One idea is to look at `.warning`, `.info`, `.error` function calls and if they're in an exception block

[2022-01-19 19:40] swathipil commented on #21985
Hey @Indy2222 - Appreciate your feedback on this! We have a few other issues taking priority at the moment, but we plan to address this as soon as possible. Thank you!

[2022-01-19 19:51] tjprescott opened #22558 "[Search] Restore Python 3.6 support"
PR #22279 removed Python 2.7 and 3.6 references, but now we need to restore Python 3.6 support prior to the next release.

[2022-01-19 19:51] swathipil commented on #21980
@harisbal - We were on vacation/pulled into a few other things. Thanks for your patience on this!
I was taking a look at the SO issue that you linked. I'm not super familiar with Azure Functions, but it looks like they suggested using Azure Functions as well. Would you be able to clarify why Functions wouldn't work in your case?

I'm not sure if you've come across this already, but there is also a

[2022-01-19 20:21] #22558 closed

[2022-01-19 20:22] harisbal commented on #21980
Hello @swathipil. No problem, thank you for your attention.
I believe that Azure functions is not appropriate because the websocket connection between the data source and my server needs to be continuous, while Azure Functions are supposed to be completed in short time.
From my understanding, the best solution is to host the service as a webApp but I'm unable to deploy it as a Flask App and I cann

[2022-01-19 20:22] #21980 closed

[2022-01-19 20:26] swathipil commented on #21980
@harisbal - glad you found a solution! Just in case you're interested, I asked a few other people who are more familiar with hosting options. Here are the main suggestions:

1) Azure Containers - as a simple hosting option: https://docs.microsoft.com/en-us/azure/containers/
2) Using Functions with the WebPubSub extension, which should give you a more persistent connection: https://docs.microsoft.c

[2022-01-19 20:32] rakshith91 opened #22560 "[AMQP Python] Remove py2 code patterns in pyamqp"
Look for and remove py2 code patterns in Pyamqp

[2022-01-19 20:50] swathipil commented on #22486
Hey @codingmercy1993 - sorry for the late response + thanks for your patience! This is very strange. 🤔 Would you be able to turn on logging and report the output here? Since there are no errors, it may or may not be useful.

Section in the README on how to turn on logging: https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/servicebus/azure-servicebus#logging

[2022-01-19 21:10] swathipil commented on #22051
question for Laurent: will we always have to stick to sphinx rules (i.e. dict over Dict, etc.)? Or will we ever switch to something else so that we have more control over what the types look like in the docs?

[2022-01-19 21:19] #15432 closed

[2022-01-19 21:43] rakshith91 commented on #21231
can be closed since OT supports 3.10

[2022-01-19 21:43] #21231 closed

[2022-01-19 22:15] #21122 closed

[2022-01-19 22:15] #21154 closed

[2022-01-19 22:18] #19445 closed

[2022-01-19 22:18] #19449 closed

[2022-01-19 22:26] yunhaoling opened #22563 "create a new issue to migrate to powershell preparerPowerShell preparer?"

[2022-01-19 22:40] #22518 closed

[2022-01-19 22:47] yunhaoling commented on #22517
rm https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/schemaregistry/azure-schemaregistry/tests/schemaregistry_preparer.py

should be replaced by EnvLoader

[2022-01-19 22:52] yunhaoling commented on #21549
avro >= 1.11.0

in general we should not pin "=="

[2022-01-19 22:58] ramya-rao-a commented on #19460
Re-opening as we are planning to re-use this issue to track the extended semester work

[2022-01-19 22:59] ramya-rao-a commented on #19458
Re-opening as we are planning to re-use this issue to track the extended semester work

[2022-01-19 23:42] kristapratico opened #22568 "[translation] Int live tests failing"
See https://teams.microsoft.com/l/message/19:59dbfadafb5e41c4890e2cd3d74cc7ba@thread.skype/1642620368991?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1642620368991&teamName=Azure%20SDK&channelName=Engineering%20System%20%F0%9F%9B%A0%EF%B8%8F&createdTime=1642620368991

Example build: https://dev.azure.com/azure-sdk/internal/_build/result

[2022-01-20 00:36] QuetzalcoatlRosso opened #22569 "Pypi code examples links to this page, but no code"
On the [pypi site](https://pypi.org/project/azure-servicefabric/
) to install the service fabric python sdk, the Usage section directs to [this page](https://docs.microsoft.com/en-us/python/api/overview/azure/servicefabric/management?view=azure-python) "For code examples", but there are no immediate code examples listed.

Recommendation: update the pypi Usage link recommendation to where a user ca

[2022-01-20 02:31] BigCat20196 commented on #7688
Datafactory has released the latest version `2.2.0`. this problem has been solved. Thank you.

Fyi:
https://pypi.org/project/azure-mgmt-datafactory/2.2.0/

[2022-01-20 02:36] BigCat20196 commented on #8016
Hi @nitishkochhiveritas, Compute has released the latest version `24.0.0`. Please try it with the latest version. Thank you !

Fyi:
https://pypi.org/project/azure-mgmt-compute/24.0.0/

[2022-01-20 02:37] BigCat20196 commented on #8256
Hi @thommibens , Compute has released the latest version 24.0.0. Please try it with the latest version. Thank you !

Fyi:
https://pypi.org/project/azure-mgmt-compute/24.0.0/

[2022-01-20 02:54] BigCat20196 commented on #17801
hi @kapilt, This is a multi API defined by the service team. The previous version will be retained and accumulated continuously.
This also has an impact on our daily SDK release. In subsequent releases, we try to use substitution instead of accumulation.

This problem will be solved slowly in the future. Thanks!

[2022-01-20 04:44] danieljurek commented on #22447
Cleanup:

* [ ] Unpin pinned packages in `Language-Settings.ps1` and run build

[2022-01-20 06:47] BigCat20196 commented on #18347
Hi @DeepSpace2,  it may use this keyword.

[code]

[2022-01-20 07:20] BigCat20196 commented on #18928
Hi @elesel, The `ContainerRegistry` has been updated to version 9.0.0. It is strongly recommended that you try the latest version, thank you.

pypi link: https://pypi.org/project/azure-mgmt-containerregistry/9.0.0/

[2022-01-20 07:22] dcurwin opened #22571 "Cloud App Security has been renamed Defender for Cloud Apps."
Cloud App Security has been renamed Defender for Cloud Apps.

I'm responsible for Defender for Cloud Apps documentation. Feel free to be in contact with me if you have questions about the rebrand.

Thanks,

David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b723d0b-675c-f9e9-9281-6e65472b60fb
* Version Independent I

[2022-01-20 07:22] dcurwin opened #22572 "Cloud App Security has been renamed Defender for Cloud Apps."
Cloud App Security has been renamed Defender for Cloud Apps.

I'm responsible for Defender for Cloud Apps documentation. Feel free to be in contact with me if you have questions about the rebrand.

Thanks,

David
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c75abb6-a6f8-ed81-1169-8d4b3de64c03
* Version Independent ID: 20

[2022-01-20 07:23] dcurwin opened #22573 "Cloud App Security has been renamed Defender for Cloud Apps."
Cloud App Security has been renamed Defender for Cloud Apps.

I'm responsible for Defender for Cloud Apps documentation. Feel free to be in contact with me if you have questions about the rebrand.

Thanks,

David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b11d0b9e-11fa-5df0-ae63-c91ccd1bcf31
* Version Independent I

[2022-01-20 07:23] dcurwin opened #22574 "Cloud App Security has been renamed Defender for Cloud Apps."
Cloud App Security has been renamed Defender for Cloud Apps.

I'm responsible for Defender for Cloud Apps documentation. Feel free to be in contact with me if you have questions about the rebrand.

Thanks,

David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a3b1592-8767-aa0e-b03c-28f5954e8e37
* Version Independent I

[2022-01-20 07:26] dcurwin opened #22575 "Cloud App Security has been renamed Defender for Cloud Apps."
Cloud App Security has been renamed Defender for Cloud Apps.

I'm responsible for Defender for Cloud Apps documentation. Feel free to be in contact with me if you have questions about the rebrand.

Thanks,

David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc1af2f9-37e9-3b05-f60c-b7a0b7eefe57
* Version Independent I

[2022-01-20 07:27] dcurwin opened #22576 "Cloud App Security has been renamed Defender for Cloud Apps."
Cloud App Security has been renamed Defender for Cloud Apps.

I'm responsible for Defender for Cloud Apps documentation. Feel free to be in contact with me if you have questions about the rebrand.

Thanks,

David
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 518eed75-714d-1b0b-a7d3-6cce474ecb46
* Version Independent ID

[2022-01-20 07:28] dcurwin opened #22577 "Cloud App Security has been renamed Defender for Cloud Apps."
Cloud App Security has been renamed Defender for Cloud Apps.

I'm responsible for Defender for Cloud Apps documentation. Feel free to be in contact with me if you have questions about the rebrand.

Thanks,

David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7297d65c-c9cc-cfb8-dde7-8201e1b6e079
* Version Independent I

[2022-01-20 07:28] dcurwin opened #22578 "Cloud App Security has been renamed Defender for Cloud Apps."
Cloud App Security has been renamed Defender for Cloud Apps.

I'm responsible for Defender for Cloud Apps documentation. Feel free to be in contact with me if you have questions about the rebrand.

Thanks,

David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a0d41c-f3a6-edb0-5587-9e0b7643ff1e
* Version Independent I

[2022-01-20 07:28] dcurwin opened #22579 "Cloud App Security has been renamed Defender for Cloud Apps."
Cloud App Security has been renamed Defender for Cloud Apps.

I'm responsible for Defender for Cloud Apps documentation. Feel free to be in contact with me if you have questions about the rebrand.

Thanks,

David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03527199-2390-4792-abec-dfe20afa68ff
* Version Independent I

[2022-01-20 07:32] dcurwin opened #22580 "Cloud App Security has been renamed Defender for Cloud Apps."
Cloud App Security has been renamed Defender for Cloud Apps.

I'm responsible for Defender for Cloud Apps documentation. Feel free to be in contact with me if you have questions about the rebrand.

Thanks,

David
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be8466ec-6831-a5b2-583c-d162f4ff7297
* Version Independent ID

[2022-01-20 07:33] dcurwin opened #22581 "Cloud App Security has been renamed Defender for Cloud Apps."
Cloud App Security has been renamed Defender for Cloud Apps.

I'm responsible for Defender for Cloud Apps documentation. Feel free to be in contact with me if you have questions about the rebrand.

Thanks,

David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 690dbb55-6b43-734d-b64c-a27e44cfd448
* Version Independent I

[2022-01-20 07:36] BigCat20196 commented on #20044
Hi @Jendker, `azure-mgmt-container-11.2.0` corresponds to track1 version. The last version of `azure-mgmt-compute` that supports track1 is 14.0.0.

However, the update and maintenance of track1 has stopped. It is strongly recommended that you upgrade to the latest version. Although you may need to rewrite some code, track2 will bring you a better experience.

[2022-01-20 07:43] BigCat20196 commented on #20679
Hi @yansyunchen, If possible, this will be a good feature. Unfortunately, the python SDK is generated based on the [RestAPI](https://github.com/Azure/azure-rest-api-specs). Please go [here](https://github.com/Azure/azure-rest-api-specs/issues) to feed back the issue. Once such an API is updated, we will generate the corresponding function asap.

[2022-01-20 08:18] BigCat20196 commented on #20804
Hi @tikicoder, thanks for your feedback !

Unfortunately, `az account list` is a customized product of Azure-cli, and the python SDK is generated based on the [RestAPI](https://github.com/Azure/azure-rest-api-specs). Please go [here](https://github.com/Azure/azure-rest-api-specs/issues) to feed back the issue. Once such an API is updated, we will generate the corresponding function asap.

[2022-01-20 10:46] deaktomi commented on #21760
Dear @iscai-msft

I'm trying to make work code above but it is not working. To use
[code]
I try to
[code]
I see the output:
[code]
However I still receive error when I run my code that is similar to
[code]
According to [this page](https://docs.microsoft.com/en-us/python/api/azure-core/azure.core.exceptions?view=azure-python) it seems like I have installed the correct package. I'm I missing somethi

[2022-01-20 11:41] poting-lin opened #22583 "A way to get event from eventhub once a time"
**Is your feature request related to a problem? Please describe.**
currently, I implement eventhub receiver as below and working well, I can handle events in **on_event** function:
[code]
but it will keep receiving.

**Describe the solution you'd like**
is any way I can call the function directly to get an instant response, such as:
[code]
so the response could be an event or none?  thanks.

**Des

[2022-01-20 14:33] Jendker commented on #20044
Thank you for the response! Closing now.

[2022-01-20 14:33] #20044 closed

[2022-01-20 16:30] iscai-msft commented on #21760
your pip installation looks correct, so it looks like azure-core is installed within your python39. Based off of the fact that you don't have access to azure core when running your tests, it seems like you might not be using that exact same environment and python version to run your tests.

To make sure `azure-core` is installed in the environment you use to run your tests, you can check with `pip

[2022-01-20 17:34] xiangyan99 commented on #22572
Dup of #22571

[2022-01-20 17:34] #22572 closed

[2022-01-20 17:35] xiangyan99 commented on #22573
Dup of #22571

[2022-01-20 17:35] #22573 closed

[2022-01-20 17:35] xiangyan99 commented on #22574
Dup of #22571

[2022-01-20 17:35] #22574 closed

[2022-01-20 17:35] xiangyan99 commented on #22575
Dup of #22571

[2022-01-20 17:35] #22575 closed

[2022-01-20 17:36] xiangyan99 commented on #22577
Dup of #22571

[2022-01-20 17:36] #22577 closed

[2022-01-20 17:36] xiangyan99 commented on #22578
Dup of #22571

[2022-01-20 17:36] xiangyan99 commented on #22579
Dup of #22571

[2022-01-20 17:36] #22579 closed

[2022-01-20 17:36] xiangyan99 commented on #22580
Dup of #22571

[2022-01-20 17:36] #22580 closed

[2022-01-20 17:36] xiangyan99 commented on #22581
Dup of #22571

[2022-01-20 17:36] #22581 closed

[2022-01-20 17:36] xiangyan99 commented on #22576
Dup of #22571

[2022-01-20 17:36] #22576 closed

[2022-01-20 19:25] scbedd commented on #21809
I'd rather not add language-specific errors yet. I'll keep this in mind to see if this is a behavior that we want to be customizable.

[2022-01-20 19:44] scbedd commented on #22489
I'm seeing references to possible LongPath conflicts. Given that we randomly generate names, I'm wondering if that's the origin of this problem. I'm going to try enabling LongPath and seeing if these random failures disappear.

I really have no idea where to start on running this down. I've never seen it happen locally. Definitely would welcome any suggestions folks have.

[2022-01-20 21:38] mccoyp commented on #20404
This was addressed in https://github.com/Azure/azure-sdk-for-python/pull/21940 -- closing now!

[2022-01-20 21:38] #20404 closed

[2022-01-21 00:00] #21174 closed

[2022-01-21 00:14] danieljurek opened #22589 "appconfiguration/azure-appconfiguration - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/appconfiguration/azure-appconfiguration` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `s

[2022-01-21 00:16] danieljurek opened #22591 "agrifood/azure-agrifood-farming - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/agrifood/azure-agrifood-farming` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/agrif

[2022-01-21 00:16] danieljurek opened #22592 "attestation/azure-security-attestation - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/attestation/azure-security-attestation` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sd

[2022-01-21 00:17] danieljurek opened #22593 "batch/azure-batch - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/batch/azure-batch` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/batch/azure-batch/*

[2022-01-21 00:17] danieljurek opened #22594 "cognitivelanguage/azure-ai-language-conversations - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/cognitivelanguage/azure-ai-language-conversations` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will loo

[2022-01-21 00:17] danieljurek opened #22595 "cognitivelanguage/azure-ai-language-questionanswering - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/cognitivelanguage/azure-ai-language-questionanswering` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will

[2022-01-21 00:17] danieljurek opened #22596 "cognitiveservices/azure-cognitiveservices-language-spellcheck - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-language-spellcheck` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field.

[2022-01-21 00:17] danieljurek opened #22597 "cognitiveservices/azure-cognitiveservices-language-textanalytics - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will

[2022-01-21 00:17] danieljurek opened #22598 "cognitiveservices/azure-cognitiveservices-search-autosuggest - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-search-autosuggest` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field.

[2022-01-21 00:17] danieljurek opened #22599 "cognitiveservices/azure-cognitiveservices-search-customsearch - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-search-customsearch` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will lo

[2022-01-21 00:17] danieljurek opened #22600 "cognitiveservices/azure-cognitiveservices-search-customimagesearch - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-search-customimagesearch` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It wi

[2022-01-21 00:17] danieljurek opened #22601 "cognitiveservices/azure-cognitiveservices-knowledge-qnamaker - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field.

[2022-01-21 00:17] danieljurek opened #22602 "cognitiveservices/azure-cognitiveservices-search-entitysearch - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-search-entitysearch` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will lo

[2022-01-21 00:17] danieljurek opened #22603 "cognitiveservices/azure-cognitiveservices-language-luis - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-language-luis` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It wi

[2022-01-21 00:17] danieljurek opened #22604 "cognitiveservices/azure-cognitiveservices-search-newssearch - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-search-newssearch` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. I

[2022-01-21 00:17] danieljurek opened #22605 "cognitiveservices/azure-cognitiveservices-search-videosearch - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-search-videosearch` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field.

[2022-01-21 00:17] danieljurek opened #22606 "cognitiveservices/azure-cognitiveservices-search-imagesearch - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-search-imagesearch` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field.

[2022-01-21 00:17] danieljurek opened #22607 "cognitiveservices/azure-cognitiveservices-vision-computervision - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-vision-computervision` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will

[2022-01-21 00:17] danieljurek opened #22608 "cognitiveservices/azure-cognitiveservices-search-websearch - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-search-websearch` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It

[2022-01-21 00:17] danieljurek opened #22609 "cognitiveservices/azure-cognitiveservices-vision-contentmoderator - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-vision-contentmoderator` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It wil

[2022-01-21 00:17] danieljurek opened #22610 "cognitiveservices/azure-cognitiveservices-vision-customvision - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-vision-customvision` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field.

[2022-01-21 00:48] chinmaycpalande commented on #21725
Hello 👋,
Are there any further updates for this issue?

Thanks!

[2022-01-21 04:26] navba-MSFT commented on #18670
@smoolya17 Thanks for reaching out to us. Apologies for the delay in getting back to you.

Could you please confirm if the pointers suggested by @nkiest helped in achieving your requirement ?
Alternatively, you can also automate the retrieval of the Activity logs using the Powershell as explained [here](https://docs.microsoft.com/en-us/azure/azure-monitor/powershell-samples#retrieve-activity-log).

[2022-01-21 04:54] smoolya17 commented on #18670
Yes it helped, you may close this issue

[2022-01-21 04:54] #18670 closed

[2022-01-21 06:26] BigCat20196 commented on #22527
Hi @daperezc, thanks for yoour feedback !

Actually, we prefer to use `Defaultazurecredential()` for authentication. You could refer to [here](https://github.com/Azure-Samples/azure-samples-python-management/tree/master/samples/appservice#getting-started) to get using method.

Hope this can unblock you.

[2022-01-21 06:35] navba-MSFT commented on #16761
@isgallagher Thanks for reaching out to us. I wanted to follow-up on this thread to check if the pointers provided by @amnguye helped to address your issue. Awaiting your reply.

[2022-01-21 06:40] amnguye commented on #16761
Also I wanted to add that when using a private endpoint to remember to use the same connection string to connect to the storage account as documented here.
https://docs.microsoft.com/en-us/azure/storage/common/storage-private-endpoints#connecting-to-a-private-endpoint
![image](https://user-images.githubusercontent.com/48961492/150479051-16d788d8-30b9-483c-8806-d2d6a8d6a50e.png)

[2022-01-21 08:33] Mrbm5 opened #22625 "ClientSecretCredential.get_token() fails in case for azurestack if we provide 'authority' URL"
- **Package Name: azure-identity**:
- **Package Version: 1.6.1**:
- **Operating System: ubuntu20.04**:
- **Python Version: 3.8.10**:

**Describe the bug**
To authenticate python SDK to azure Stack hub we use ClientSecretCredential method and pass required parameters like
`ClientSecretCredential(
            tenant_id=tenantid, client_id=clientid,
            client_secret=secretkey, cloud_environm

[2022-01-21 09:23] navba-MSFT commented on #16166
@kasuteru Apologies for the delayed response. Please refer [this](https://docs.microsoft.com/en-us/python/api/azure-storage-file-datalake/azure.storage.filedatalake.datalakefileclient?view=azure-python#azure-storage-filedatalake-datalakefileclient-upload-data) article which talks about the overwrite=False being the default parameter value for the upload_data function.

Also if you would like to pe

[2022-01-21 13:09] deaktomi commented on #21760
Thanks for the clarification. I was using PyCharm and the debugger used another _venv_ than my terminal. That caused the issue. Package was downloaded to python 3.9 folder. But my debugger used Python 3.8

I could now use the example code you sent up there but unfortunately the `except` was not catching the error. Seems like another unhandled exception is coming earlier, preventing me to catch the

[2022-01-21 15:13] danieljurek opened #22633 "cognitiveservices/azure-cognitiveservices-vision-face - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-vision-face` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will

[2022-01-21 15:13] danieljurek opened #22634 "cognitiveservices/azure-cognitiveservices-search-visualsearch - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-search-visualsearch` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field.

[2022-01-21 15:13] danieljurek opened #22635 "communication/azure-communication-networktraversal - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/communication/azure-communication-networktraversal` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will lo

[2022-01-21 15:13] danieljurek opened #22636 "communication/azure-communication-identity - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/communication/azure-communication-identity` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like:

[2022-01-21 15:13] danieljurek opened #22637 "communication/azure-communication-chat - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/communication/azure-communication-chat` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sd

[2022-01-21 15:13] danieljurek opened #22638 "communication/azure-communication-sms - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/communication/azure-communication-sms` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk

[2022-01-21 15:14] danieljurek opened #22639 "communication/azure-communication-phonenumbers - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/communication/azure-communication-phonenumbers` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look l

[2022-01-21 15:14] danieljurek opened #22640 "confidentialledger/azure-confidentialledger - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/confidentialledger/azure-confidentialledger` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like

[2022-01-21 15:45] danieljurek opened #22641 "anomalydetector/azure-ai-anomalydetector - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/anomalydetector/azure-ai-anomalydetector` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `

[2022-01-21 15:46] danieljurek opened #22642 "applicationinsights/azure-applicationinsights - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/applicationinsights/azure-applicationinsights` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look li

[2022-01-21 16:15] danieljurek opened #22643 "containerregistry/azure-containerregistry - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/containerregistry/azure-containerregistry` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like:

[2022-01-21 16:15] danieljurek opened #22644 "cosmos/azure-cosmos - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/cosmos/azure-cosmos` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/cosmos/azure-cosm

[2022-01-21 16:15] danieljurek opened #22645 "deviceupdate/azure-iot-deviceupdate - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/deviceupdate/azure-iot-deviceupdate` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/d

[2022-01-21 16:15] danieljurek opened #22646 "digitaltwins/azure-digitaltwins-core - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/digitaltwins/azure-digitaltwins-core` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/

[2022-01-21 16:15] danieljurek opened #22647 "eventgrid/azure-eventgrid - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/eventgrid/azure-eventgrid` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/eventgrid/a

[2022-01-21 16:28] danieljurek opened #22648 "core/azure-core-tracing-opencensus - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/core/azure-core-tracing-opencensus` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/core/azure-co

[2022-01-21 16:28] danieljurek opened #22649 "core/azure-common - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/core/azure-common` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/core/azure-common/*

[2022-01-21 16:28] danieljurek opened #22650 "core/azure - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/core/azure` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/core/azure/**`. You need t

[2022-01-21 16:28] danieljurek opened #22651 "core/azure-servicemanagement-legacy - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/core/azure-servicemanagement-legacy` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/c

[2022-01-21 16:28] danieljurek opened #22652 "eventhub/azure-eventhub-checkpointstoretable - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/eventhub/azure-eventhub-checkpointstoretable` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look lik

[2022-01-21 16:28] danieljurek opened #22653 "eventhub/azure-eventhub - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/eventhub/azure-eventhub` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/eventhub/azur

[2022-01-21 16:28] danieljurek opened #22654 "eventhub/azure-eventhub-checkpointstoreblob-aio - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/eventhub/azure-eventhub-checkpointstoreblob-aio` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look

[2022-01-21 16:28] danieljurek opened #22655 "graphrbac/azure-graphrbac - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/graphrbac/azure-graphrbac` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/graphrbac/a

[2022-01-21 16:28] danieljurek opened #22656 "keyvault/azure-keyvault - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/keyvault/azure-keyvault` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/keyvault/azur

[2022-01-21 16:28] danieljurek opened #22657 "keyvault/azure-keyvault-administration - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/keyvault/azure-keyvault-administration` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sd

[2022-01-21 16:28] danieljurek opened #22658 "identity/azure-identity - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/identity/azure-identity` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/identity/azur

[2022-01-21 16:28] danieljurek opened #22659 "formrecognizer/azure-ai-formrecognizer - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/formrecognizer/azure-ai-formrecognizer` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sd

[2022-01-21 16:28] danieljurek opened #22660 "keyvault/azure-keyvault-secrets - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/keyvault/azure-keyvault-secrets` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/keyva

[2022-01-21 16:28] danieljurek opened #22661 "keyvault/azure-keyvault-certificates - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/keyvault/azure-keyvault-certificates` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/

[2022-01-21 16:28] danieljurek opened #22662 "keyvault/azure-keyvault-keys - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/keyvault/azure-keyvault-keys` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/keyvault

[2022-01-21 16:28] danieljurek opened #22663 "mixedreality/azure-mixedreality-authentication - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/mixedreality/azure-mixedreality-authentication` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look l

[2022-01-21 16:28] danieljurek opened #22664 "modelsrepository/azure-iot-modelsrepository - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/modelsrepository/azure-iot-modelsrepository` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like

[2022-01-21 16:28] danieljurek opened #22665 "monitor/azure-monitor-opentelemetry-exporter - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/monitor/azure-monitor-opentelemetry-exporter` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look lik

[2022-01-21 16:28] danieljurek opened #22666 "monitor/azure-monitor-query - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/monitor/azure-monitor-query` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/monitor/a

[2022-01-21 16:28] danieljurek opened #22667 "metricsadvisor/azure-ai-metricsadvisor - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/metricsadvisor/azure-ai-metricsadvisor` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sd

[2022-01-21 16:30] iscai-msft commented on #21760
Ok sweet, I think by your update it's working now. Still adding my two cents, it looks like the response has a status code of `200`, even though it's an error response, otherwise it wouldn't make it to that deserialization line. As an update for the error PR it's coming along nicely, will release it beginning of February as part of our February sprint. Thank you again for your patience!

[2022-01-21 16:30] danieljurek opened #22668 "purview/azure-purview-catalog - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/purview/azure-purview-catalog` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/purview

[2022-01-21 16:30] danieljurek opened #22669 "remoterendering/azure-mixedreality-remoterendering - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/remoterendering/azure-mixedreality-remoterendering` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will lo

[2022-01-21 16:34] danieljurek opened #22670 "schemaregistry/azure-schemaregistry - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/schemaregistry/azure-schemaregistry` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/s

[2022-01-21 16:34] danieljurek opened #22671 "schemaregistry/azure-schemaregistry-avroserializer - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/schemaregistry/azure-schemaregistry-avroserializer` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will lo

[2022-01-21 16:34] danieljurek opened #22672 "search/azure-search-documents - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/search/azure-search-documents` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/search/

[2022-01-21 16:34] danieljurek opened #22673 "servicefabric/azure-servicefabric - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/servicefabric/azure-servicefabric` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/ser

[2022-01-21 16:34] danieljurek opened #22674 "storage/azure-storage-blob - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/storage/azure-storage-blob` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/storage/az

[2022-01-21 16:34] danieljurek opened #22675 "servicebus/azure-servicebus - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/servicebus/azure-servicebus` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/servicebu

[2022-01-21 16:34] danieljurek opened #22676 "storage/azure-storage-queue - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/storage/azure-storage-queue` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/storage/a

[2022-01-21 16:34] danieljurek opened #22677 "storage/azure-storage-file-datalake - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/storage/azure-storage-file-datalake` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/s

[2022-01-21 16:34] danieljurek opened #22678 "ynapse/azure-synapse-managedprivateendpoints - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/synapse/azure-synapse-managedprivateendpoints` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/sy

[2022-01-21 16:34] danieljurek opened #22679 "synapse/azure-synapse-spark - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/synapse/azure-synapse-spark` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/synapse/a

[2022-01-21 16:34] danieljurek opened #22680 "storage/azure-storage-file-share - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/storage/azure-storage-file-share` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/stor

[2022-01-21 16:34] danieljurek opened #22681 "videoanalyzer/azure-media-videoanalyzer-edge - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/videoanalyzer/azure-media-videoanalyzer-edge` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look lik

[2022-01-21 16:34] danieljurek opened #22682 "synapse/azure-synapse - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/synapse/azure-synapse` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/synapse/azure-s

[2022-01-21 16:34] danieljurek opened #22683 "webpubsub/azure-messaging-webpubsubservice - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/webpubsub/azure-messaging-webpubsubservice` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like:

[2022-01-21 16:34] danieljurek opened #22684 "translation/azure-ai-translation-document - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/translation/azure-ai-translation-document` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like:

[2022-01-21 16:34] danieljurek opened #22685 "tables/azure-data-tables - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/tables/azure-data-tables` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/tables/azure

[2022-01-21 16:35] danieljurek opened #22686 "textanalytics/azure-ai-textanalytics - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/textanalytics/azure-ai-textanalytics` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/

[2022-01-21 16:49] danieljurek opened #22687 "core/azure-core-tracing-opentelemetry - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/core/azure-core-tracing-opentelemetry` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/core/azure

[2022-01-21 16:49] danieljurek opened #22688 "core/azure-core - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/core/azure-core` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/core/azure-core/**`. You need to

[2022-01-21 16:50] danieljurek opened #22689 "ynapse/azure-synapse-artifacts - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/synapse/azure-synapse-artifacts` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/synapse/azure-sy

[2022-01-21 16:50] danieljurek opened #22690 "torage/azure-storage-blob - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/storage/azure-storage-blob` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/storage/azure-storage

[2022-01-21 16:57] danieljurek opened #22691 "anomalydetector/azure-ai-anomalydetector - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/anomalydetector/azure-ai-anomalydetector` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/anomaly

[2022-01-21 16:57] danieljurek opened #22692 "applicationinsights/azure-applicationinsights - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/applicationinsights/azure-applicationinsights` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/ap

[2022-01-21 16:57] danieljurek opened #22693 "agrifood/azure-agrifood-farming - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/agrifood/azure-agrifood-farming` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/agrifood/azure-a

[2022-01-21 16:57] danieljurek opened #22694 "appconfiguration/azure-appconfiguration - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/appconfiguration/azure-appconfiguration` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/appconfi

[2022-01-21 16:57] danieljurek opened #22695 "attestation/azure-security-attestation - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/attestation/azure-security-attestation` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/attestati

[2022-01-21 16:57] danieljurek opened #22696 "batch/azure-batch - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/batch/azure-batch` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/batch/azure-batch/**`. You nee

[2022-01-21 16:57] danieljurek opened #22697 "cognitivelanguage/azure-ai-language-questionanswering - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitivelanguage/azure-ai-language-questionanswering` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like:

[2022-01-21 16:57] danieljurek opened #22698 "cognitivelanguage/azure-ai-language-conversations - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitivelanguage/azure-ai-language-conversations` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sd

[2022-01-21 16:57] danieljurek opened #22699 "cognitiveservices/azure-cognitiveservices-language-spellcheck - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-language-spellcheck` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will lo

[2022-01-21 16:57] danieljurek opened #22700 "cognitiveservices/azure-cognitiveservices-search-autosuggest - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-search-autosuggest` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will loo

[2022-01-21 16:57] danieljurek opened #22701 "cognitiveservices/azure-cognitiveservices-language-textanalytics - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will

[2022-01-21 16:57] danieljurek opened #22702 "cognitiveservices/azure-cognitiveservices-search-customsearch - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-search-customsearch` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will lo

[2022-01-21 16:57] danieljurek opened #22703 "cognitiveservices/azure-cognitiveservices-language-luis - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-language-luis` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look lik

[2022-01-21 16:57] danieljurek opened #22704 "cognitiveservices/azure-cognitiveservices-search-customimagesearch - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-search-customimagesearch` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It wi

[2022-01-21 16:57] danieljurek opened #22705 "cognitiveservices/azure-cognitiveservices-knowledge-qnamaker - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will loo

[2022-01-21 16:57] danieljurek opened #22706 "cognitiveservices/azure-cognitiveservices-search-entitysearch - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-search-entitysearch` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will lo

[2022-01-21 16:57] danieljurek opened #22707 "cognitiveservices/azure-cognitiveservices-search-newssearch - cspell found spelling errors in public API surface"
Spell check scanning of package at `sdk/cognitiveservices/azure-cognitiveservices-search-newssearch` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look

[2022-01-21 16:59] #22687 closed

[2022-01-21 16:59] #22688 closed

[2022-01-21 16:59] #22689 closed

[2022-01-21 16:59] #22690 closed

[2022-01-21 16:59] #22691 closed

[2022-01-21 16:59] #22692 closed

[2022-01-21 16:59] #22693 closed

[2022-01-21 16:59] #22694 closed

[2022-01-21 16:59] #22695 closed

[2022-01-21 16:59] #22696 closed

[2022-01-21 16:59] #22697 closed

[2022-01-21 16:59] #22698 closed

[2022-01-21 16:59] #22700 closed

[2022-01-21 16:59] #22701 closed

[2022-01-21 16:59] #22702 closed

[2022-01-21 16:59] #22703 closed

[2022-01-21 16:59] #22704 closed

[2022-01-21 16:59] #22705 closed

[2022-01-21 16:59] #22706 closed

[2022-01-21 16:59] #22707 closed

[2022-01-21 17:00] #22699 closed

[2022-01-21 17:03] danieljurek opened #22708 "core/azure-core-tracing-opentelemetry - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/core/azure-core-tracing-opentelemetry` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk

[2022-01-21 17:04] danieljurek opened #22709 "synapse/azure-synapse-artifacts - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/synapse/azure-synapse-artifacts` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/synap

[2022-01-21 18:07] xiangyan99 commented on #21996
Thank you for reaching out.

In general, we don't encourage pickling credential clients because they may contain secret information.

Constructing the client when you use it is the safest way to use it. :)

[2022-01-21 21:07] iscai-msft opened #22714 "[mgmt core] remove code redundancy in mgmt core polling"
The plan is to move the `final-state-via` logic in mgmt core into main core itself, see the PR [here](https://github.com/Azure/azure-sdk-for-python/pull/22713). By moving the `final-state-via` logic into core, a lot of the code in mgmt core polling becomes redundant (basically all that's needed for `AzureAsyncOperationPolling` is the [init](https://github.com/Azure/azure-sdk-for-python/blob/main/s

[2022-01-21 21:22] tjprescott commented on #22277
Closing this as I'm not pursuing this strategy any longer.

[2022-01-21 21:22] #22277 closed

[2022-01-21 22:07] danieljurek opened #22715 "core/azure-core-tracing-opencensus - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/core/azure-core-tracing-opencensus` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/co

[2022-01-21 22:08] danieljurek opened #22716 "eventhub/azure-eventhub-checkpointstoreblob - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/eventhub/azure-eventhub-checkpointstoreblob` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like

[2022-01-21 22:09] danieljurek opened #22717 "storage/azure-storage-blob-changefeed - cspell found spelling errors in source code"
Spell check scanning of package at `sdk/storage/azure-storage-blob-changefeed` detected spelling errors in the source code and related files. This directory is opted out of PR spell checking in PR #22199 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk

[2022-01-21 22:20] catalinaperalta opened #22718 "[formrecognizer] Some operations when calling list operations are not returning percent_completed"
Seen in private, check if it also happens in public.
Report if confirmed in public cloud as well.

[2022-01-21 22:23] swathipil commented on #21765
Following Richard's PR in Go, we should also test against ServicePrincipal/AAD and not just with connection strings: https://github.com/Azure/azure-sdk-for-go/blob/1a459bfba83ccae3e4db2982e6c8d5dc14ee9c54/sdk/messaging/azservicebus/internal/stress/stress-test-resources.bicep

[2022-01-21 22:44] catalinaperalta opened #22719 "[formrecognizer] Operations do not include api version or tags at the operation level"
Check if this is correct and if/when the changes for operation info should be reflected.

[2022-01-21 22:51] catalinaperalta opened #22721 "[formrecognizer] Train new currency field for testing"
Add a currency field for the training data set and tests.

[2022-01-21 22:59] scbedd commented on #22391
[code]

Not great. I believe we already have `astroid` pinned, so I'm a bit confused why the alternate version of `wrapt` is reserving.

![image](https://user-images.githubusercontent.com/45376673/150610941-95856a40-11e5-4724-afe8-17367672ca86.png)

[2022-01-21 23:21] kristapratico commented on #22391
@scbedd do you have an idea of whether the error is due to the dependency conflict or the non-empty directory like in this issue?
https://github.com/Azure/azure-sdk-for-python/issues/22489

I'm not sure myself. 😭

[2022-01-21 23:31] faysal247 opened #22726 "[BUG Bash]"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2022-01-21 23:33] faysal247 commented on #22726
It need to be pull requests to run the Issue

[2022-01-21 23:47] scbedd commented on #22391
The non-empty directory issue is something that I'm actually surprised we haven't seen before. It's a windows-specific issue because only Windows would ever have problems like this. I think that `virtualenv` got bumped somehow, which means the seed environments are different, which also means that a pip install on an existing folder may run into an issue. It's not guaranteed, which is why we still

[2022-01-22 00:32] scbedd commented on #22391
I think we can confidently see that they are both occurring on Windows, but they aren't necessarily correlated.

![image](https://user-images.githubusercontent.com/45376673/150616777-a18512b2-231c-4ecc-82f6-f15e34166f9c.png)

[2022-01-22 00:37] chrisimcevoy opened #22727 "Python processes hang occasionally when sending single message to service bus topic from Azure Batch Service"
- **Package Name**: azure-servicebus
- **Package Version**: 7.5.0
- **Operating System**: Ubuntu 18.10
- **Python Version**: CPython 3.10

**Describe the bug**
We have a fairly simple Python script which iterates over a list of references (strings). We use the reference to look up some records from a database, do some business logic and then update the database records for that reference.

We run

[2022-01-22 01:06] scbedd commented on #22391
Ok. This is a real issue, but is not a blocking one. I don't believe that this error is the cause of our failed builds. In fact, we only see actual failed builds when we hit that Win 145 error.

[Here's an example build where we **didn't** see the win 145 error](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1313135&view=logs&j=f1ee1d4b-0f4d-518d-a9ec-fcb3c5520813&t=616ee2f3-0694-

[2022-01-22 01:58] scbedd commented on #22489
@kristapratico  directed me to https://github.com/pypa/pip/issues/4734 . This is similar, and may be related.

[2022-01-23 17:21] solvaholic opened #22732 "Should msrestazure be required by azure-common?"
- **Package Name**: azure-common
- **Package Version**: 1.1.27
- **Operating System**: Ubuntu 20.04.3
- **Python Version**: CPython 3.10.2

**Describe the bug**
:wave: Hiyo! It looks like **azure-common** expects to have **msrestazure** installed:

https://github.com/Azure/azure-sdk-for-python/blob/c2c5fa4fa1991a7c881cc729fd22dca4be40f48b/sdk/core/azure-common/azure/common/credentials.py#L116

and

[2022-01-24 08:01] navba-MSFT commented on #22315
@sagittarian Thanks for reaching out to us. Apologies for the delay in response. I am checking this with @mayurid and @lmazuel. I will update this thread once I have more details. In the meantime, if you have any questions feel free to post it here, we would be happy to address it.

[2022-01-24 08:59] navba-MSFT commented on #16761
@isgallagher This github issue has been open for quite sometime. I wanted to do a quick follow-up to check if you need any further assistance on this.

[2022-01-24 09:48] mmasiuk opened #22737 "list_by_resource_group do not return recently created resources"
- **azure-mgmt-resource**:
- **20.0.0**:
- **Linux Ubuntu**:
- **Python 3.8.5**:

**Describe the bug**
Method **list_by_resource_group** from **ResourceManagementClient** Class, **resources** Attribute do not return recently created resources.

**To Reproduce**
Steps to reproduce the behavior:
1. We have resource group with particular resources created some time ago (~1 week).
2. After creating ne

[2022-01-24 10:13] navba-MSFT commented on #19599
@htejwani Apologies for the delay in response. This is a quick follow-up email to check if you are still seeing this issue. While we are waiting for the reply from @cRui861 and @paterasMSFT, Could you try using the [accountType=adls](https://github.com/Azure/azure-storage-fuse#config-file-options) config option and let us know if that helps ?

[2022-01-24 12:33] adithyaamara commented on #15153
Thank you so much @zfoster ,  [Your reply](https://github.com/Azure/azure-sdk-for-python/issues/15153#issuecomment-724089963) helped me.

[2022-01-24 14:08] theoturner opened #22738 "ContainerRegistryClient update methods do nothing"
- **Package Name**: azure-containerregistryclient
- **Package Version**: 1.0.0b7
- **Operating System**: MacOS Monterey 12.1 on M1
- **Python Version**:  3.8

**Describe the bug**

`azure.containerregistry.ContainerRegistryClient` has 3 update methods, none of which work. The get/list methods work fine.

**To Reproduce**

Suppose a repository with the name `myrepo` exists with the tag `mytag` at `

[2022-01-24 16:32] jmg-duarte opened #22740 "`get_api_version` and `set_immutability_policy` fails to typecheck with Mypy"
Mypy fails to typecheck the functions in the title

Affected files:
[code]

[2022-01-24 16:44] lilygrierjil opened #22742 "request for version_id keyword argument in ContainerClient download_blob function"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I'd like to download a specific version of a storage blob using the ContainerClient download_blob() function (in the azure-storage-blob package).

**Describe the solution you'd like**
A clear and concise description of what you want to happ

[2022-01-24 17:40] tjprescott commented on #22727
@chrisimcevoy thank you for the report. @swathipil @yunhaoling can you please take a look?

[2022-01-24 17:41] tjprescott commented on #22732
@xiangyan99 it's not exactly Azure Core but there's not someone assigned for "azure-common".

[2022-01-24 17:42] tjprescott commented on #22737
@msyyc can you please take a look.

[2022-01-24 17:43] tjprescott commented on #22738
@YalinLi0312 can you please take a look?

[2022-01-24 17:44] tjprescott commented on #22740
@tasherif-msft can you please take a look?

[2022-01-24 17:45] tjprescott commented on #22742
@tasherif-msft can you please take a look?

[2022-01-24 17:48] xiangyan99 commented on #22732
@solvaholic Thanks for reaching out.

It is by design that azure-common does not explicitly require msrestazure.

The reason is azure.common.credentials is not always used by SDK libraries. (e.g. all track 2 libraries do not use it).

So the design is it is on the libraries who need azure.common.credentials to add requirement on msrestazure.

Thanks.

[2022-01-24 17:54] tjprescott commented on #22740
Actually, @tasherif-msft it looks like @jmg-duarte opened a PR to fix this (thank you!). Please see:
https://github.com/Azure/azure-sdk-for-python/issues/22741

[2022-01-24 18:31] schaabs opened #22743 "[Identity] fix casing of Troublshooting.md to match other top level md files"
The file name casing of https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/Troubleshoot.md doesn't match the convention of using all uppercase for top level md files, such as README.md and CHANGELOG.md.
- [x] Rename Troubleshooting.md to TROUBLESHOOTING.md
- [x] Update all references in the readme or other docs, as well as any aka.ms links.

[2022-01-24 18:51] swathipil commented on #22529
Hey @Vprashant - apologies for the late response! I was able to reproduce the error with `azure-servicebus==7.4.0`, and I believe that this is related to some changes that were made in the underlying `uamqp` library dependency. More specifically, we added support for pickling to `uamqp==1.3.0`: https://github.com/Azure/azure-uamqp-python/blob/master/HISTORY.rst#130-2021-04-05.

You may not have no

[2022-01-24 19:11] lmazuel commented on #22315
My mistake that what I said is wrong, I mixed speech SDK for another SDK. This was never track1. Though Mayuri did send an email to clarify with the speech team, we'll update when we receive some news.

[2022-01-24 19:31] annatisch commented on #22738
Thanks for the report @theoturner
While @YalinLi0312 digs into the repro - one thing I'm curious if you tried is the keyword arg syntax, i.e. something like this:
[code]
The only updatable properties are the permissions attributes above (this is not documented well and needs to be updated), and I'm wondering if the presence of the `last_updated_on` field (which I think is automatically set by the

[2022-01-24 20:29] kristapratico commented on #22568
fixed

[2022-01-24 20:29] #22568 closed

[2022-01-24 20:40] #21760 closed

[2022-01-24 20:43] iscai-msft commented on #21760
@deaktomi the PR fixing this issue is merged into our main branch and will be released as part of our February release cycle, the first week of February. I want to thank you again for your patience, and will reping this issue when azure core is released. Thanks!

[2022-01-24 20:43] tjprescott commented on #21493
Refer to:
https://github.com/Azure/azure-sdk-for-python/pull/21321

[2022-01-24 21:14] #22732 closed

[2022-01-24 22:13] isgallagher commented on #16761
I ended up adding the public endpoints into the DNS to resolve to the private IPs.  Not great but it works.  I really would like to be able to specify a custom URL for the endpoint like with the AWS CLI.

[2022-01-24 22:50] viranch commented on #22732
In that case, might as well split the credentials stuff out into a different python package with explicit dependency on `msrestazure` and optimize rest of the `azure-common` with lesser code?

[2022-01-24 23:17] xiangyan99 commented on #22732
@viranch Thanks for the suggestion. Unfortunately, splitting azure-common is a breaking change and will cause lots of pain to existing customers.

[2022-01-24 23:21] viranch commented on #22732
If `azure.common.credentials` is rarely used by customers, the split should only affect that small portion of users. If it is used by many users, it makes sense to save them the inconvenience of including `msrestazure`. What do you think?

[2022-01-24 23:25] xiangyan99 commented on #22732
azure.common.credentials is still used by track 1 libraries.

It is unfortunately that track 1 libraries and track 2 libraries share azure-common component.

Currently, all track 1 libraries explicitly require msrestazure while track 2 libraries do not need it.

[2022-01-24 23:26] viranch commented on #22732
Can you clarify what are track 1 and track 2 libraries?

[2022-01-24 23:30] xiangyan99 commented on #22732
You can find this information on https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-overview.

---

We're currently updating the Azure libraries for Python libraries to share common cloud patterns such as authentication protocols, logging, tracing, transport protocols, buffered responses, and retries.

This shared functionality is contained in the azure-core library.

The libraries

[2022-01-24 23:33] viranch commented on #22732
Great info, thanks!

[2022-01-25 00:59] #22548 closed

[2022-01-25 01:19] xiangyan99 commented on #22625
@rayluo I see the issue raises from msal.Authority.

Could you take a look?

[2022-01-25 01:38] stevesimmons commented on #22514
Do both this `from_connection_string` method and `azure.cosmos.aio.cosmos_client.CosmosClient()` need another fix?

If `kwargs` in both these methods contain the key `consistency_level`, the constructor to `CosmosClientConnection(...)` will get this argument twice, once as `consistency_level` and again in `kwargs`. To fix this, L116 and L162 should probably replace `kwargs.get` with `kwargs.pop`.

[2022-01-25 02:02] pratyushhacks opened #22749 "Tensorboard not launching in AzureML ComputeVM in a vNet setup"
- **Tensorboard**:
- **2.7.0**:
- **Linux**:
- **3.8.1**:

**Describe the bug**
Tensorboard for viewing AzureML experiment data fails to launch in a AzureML workspace set up in a vNET. The site is unaccessible. I have tried changing the URL from https://computevmname-6006.eastus2.instances.azureml.ms/ to https://computevmname.eastus2.instances.azureml.ms:6006/, but still the connection gets timed

[2022-01-25 03:00] rayluo commented on #22625
Yes, that exception was thrown from [here](https://github.com/AzureAD/microsoft-authentication-library-for-python/blob/1.16.0/msal/authority.py#L62-L73). The solution, as hinted by the exception message, "If it is indeed your legit customized domain name, you can turn off this check by passing in validate_authority=False." That would mean, MSAL Python's downstream app would need to utilize [this p

[2022-01-25 03:22] scbedd commented on #22489
Going to close this and watch it via build log queries. Will re-open if we see it again.

[2022-01-25 03:23] scbedd commented on #22391
Closing this to watch via build log queries. Will re-open on reoccurence.

[2022-01-25 07:40] petrsvihlik commented on #22636
Internal ref: https://skype.visualstudio.com/SPOOL/_workitems/edit/2706557

[2022-01-25 07:51] petrsvihlik commented on #22639
Note: the files in the `_shared` folder are owned by the ACS Auth team and will be fixed as part of #22636 for all modalities at once

[2022-01-25 07:51] petrsvihlik commented on #22638
Note: the files in the `_shared` folder are owned by the ACS Auth team and will be fixed as part of #22636 for all modalities at once

[2022-01-25 07:51] petrsvihlik commented on #22637
Note: the files in the `_shared` folder are owned by the ACS Auth team and will be fixed as part of #22636 for all modalities at once

[2022-01-25 07:51] petrsvihlik commented on #22635
Note: the files in the `_shared` folder are owned by the ACS Auth team and will be fixed as part of #22636 for all modalities at once

[2022-01-25 07:52] petrsvihlik commented on #22636
Once fixed, we should remove the package from the spellchecker whitelist - #22199

[2022-01-25 07:52] petrsvihlik commented on #22639
Once fixed, we should remove the package from the spellchecker whitelist - #22199

[2022-01-25 07:52] petrsvihlik commented on #22638
Once fixed, we should remove the package from the spellchecker whitelist - #22199

[2022-01-25 07:52] petrsvihlik commented on #22637
Once fixed, we should remove the package from the spellchecker whitelist - #22199

[2022-01-25 07:52] petrsvihlik commented on #22635
Once fixed, we should remove the package from the spellchecker whitelist - #22199

[2022-01-25 07:54] petrsvihlik commented on #22636
And also close #22635 - network traversal does not contain any other changes than in the `_shared` folder

[2022-01-25 08:02] #21876 closed

[2022-01-25 08:12] YalinLi0312 commented on #22738
Hi @theoturner, thanks for reaching out!

Not all properties of XXXProperties object are allowed to update, you could update writable properties such as `can_delete`, `can_read`, `can_list`, and `can_write`. We'll update the docstring of these functions to be more clear.

Also, you could try something below to see updates:
[code]

Thanks

[2022-01-25 09:16] Vprashant commented on #22529
Hey @swathipil - uamqp dependency versions

uamqp==1.2.12
azure-servicebus==7.0.0
--------------------------
uamqp==1.4.3
azure-servicebus==7.4.0
Yes , I haven't used 7.1.1 , I directly move to azure-servicebus==7.4.0 from azure-servicebus==7.0.0

[2022-01-25 12:51] thomasfrederikhoeck commented on #22441
Hi @mccoyp do you know if this has been picked up by anyone? It is stopping us from using managed endpoints with mlflow as our models uses internal packages :-)

[2022-01-25 13:06] YalinLi0312 commented on #21041
Resolved by PR https://github.com/Azure/azure-sdk-for-python/pull/22530

[2022-01-25 13:06] #21041 closed

[2022-01-25 13:53] elesel commented on #18928
`from azure.mgmt.containerregistry.v2019_04_01.models import ImportSource` still doesn't work in version 9.0.0, but I've been able to work around the issue. My concern was mainly that there wasn't mention of a breaking change in the release notes.

[2022-01-25 16:14] PramodValavala-MSFT commented on #22243
@duanqn This issue is being tracked internally

[2022-01-25 17:08] simorenoh commented on #22514
Hi @stevesimmons,

I see what you mean, and this is something we plan to take care of as a future effort. Python3 best practices insist on not using kwargs for most arguments being passed into functions, and to align with this we will be making those changes soon (specially for the async client since it's new). We have an issue created to track this effort. Thank you for pointing this out!

[2022-01-25 17:13] #22535 closed

[2022-01-25 17:32] #22738 closed, assigned to YalinLi0312

[2022-01-25 17:34] swathipil commented on #22529
@Vprashant thanks for the quick response!
As a follow-up:
You mentioned that `copy.deepcopy(message_batch)` worked when you used azure-servicebus 7.0.0 and uamqp 1.2.12. When I try to do the same, I get the following error:
`  File "stringsource", line 2, in uamqp.c_uamqp.StringValue.__reduce_cython__
TypeError: no default __reduce__ due to non-trivial __cinit__`. Is this not an error that you enc

[2022-01-25 18:05] gahl-levy commented on #22644
Thanks for flagging this. We will evaluate and prioritize accordingly.

[2022-01-25 18:10] mccoyp commented on #22441
Hi @thomasfrederikhoeck, thanks for the ping! @bandsina, have you been able to look into this, or do you know of someone on the ML team who can?

[2022-01-25 18:18] lmazuel commented on #22051
Short version: just keep it simple and use dict
Long version: you can write anything you want as long as you don't use space, and use `[]` for generics and `or`
[code]

But rational is docstring are NOT typing, so you don't need to restrain yourself to typing, just try to bring clarity for doc reader

[2022-01-25 18:50] klenium opened #22763 "TableClient.query_entities cannot return the Timestamp field?"
I'm trying to query entities. Nothing complex, just a hello world query_entities execution.

The entity is returned, I can see all of it's properties. Except the Timestamp. I pass the Timestamp field's name explicitly to the select parameter, but it's not returned (only other columns). Why is that?

It cannot be queried? But the Azure Storage Explorer and the Azure SDK in other languages (as far a

[2022-01-25 19:04] annatisch commented on #22763
Thanks @klenium!
You should be able to access the service-populated fields via the `metadata` attribute on the returned entity.
I believe it should look something like this:
[code]

[2022-01-25 19:09] tjprescott commented on #22749
@pratyushhacks it's unclear to me--are you actually using the Python SDK?

[2022-01-25 19:11] tjprescott commented on #22749
If there's an issue with the tutorial, there's a button at the bottom that will open the issue in the correct repo (in this case azure-docs):
![image](https://user-images.githubusercontent.com/5723682/151043255-1e295f6e-519f-439f-816d-9c321ed53a4e.png)

[2022-01-25 19:20] tjprescott opened #22764 "[TestProxy] Cannot debug individual tests that use test proxy"
In VSCode, I can debug into individual tests. However, when I have tests that have test proxy enabled, I cannot debug or run individual tests. I can only run an entire test class or file. The workaround is to comment out all but the test you want to debug into and then run the class, but this should not be required.

[2022-01-25 19:24] pratyushhacks commented on #22749
Hi,
No, I dont think the issue is with the tutorial. The code sample runs. What doesn't work is when you try browsing the tensorboard  dashboard. The dashboard site is unreachable. When you run tb.start(), it starts tensorboard dashabord and outputs the URL to use to view the dashboard, but when you click on the URL, the tensorboard site isnt reachable.

[2022-01-25 19:59] tjprescott commented on #22749
@pratyushhacks this repo is for issues using the Azure Python SDK, which you aren't using..

Your best course of action would be to open the issue from the page you are trying to use, as that will be the quickest way to get routed to the service team. You could also open a ticket from the Azure Portal, but opening it from the page will give them immediate context on what you were trying to follow.

[2022-01-25 20:00] mccoyp opened #22766 "[Test Proxy] Enable test resource cleanup outside recording"
There should be a convenient way for tests to clean up resources that are created during the test without having cleanup requests recorded. For example, in Key Vault, some tests require that a cleanup script is run before they can be run a second time -- resources aren't purged during some tests because we don't care to have these requests/polls in recordings. If we can enable resource cleanup wit

[2022-01-25 20:03] pratyushhacks commented on #22749
Thanks. Will open a new issue from that page. Closing this bug.

[2022-01-25 20:03] #22749 closed

[2022-01-25 20:16] scbedd commented on #22391
![image](https://user-images.githubusercontent.com/45376673/151052673-430a35b2-3afe-4447-8b18-668cf571e53c.png)

We definitely stamped this out.

[2022-01-25 20:36] tjprescott opened #22769 "[Search] temporarily disabled tests due to regressions in Search service"
The following tests are disabled due to the service returning 500 errors. These tests previously passed.

- test_search_index_client_skillset_live
  - _test_create_or_update_skillset
  - _test_create_or_update_skillset_inplace
  - _test_delete_skillset_if_unchanged

[2022-01-25 20:42] klenium commented on #22763
Thank you!
`print(entity)` tricked me, as the result looks like a normal dictionary. But it's a `TableEntity` which can do more. Nice. :)
(the key's name is `timestamp`, first char is lower).

[2022-01-25 20:42] #22763 closed

[2022-01-25 21:08] annatisch commented on #22763
Great to hear it's working. Thanks again for reporting :)

[2022-01-25 21:38] xiangyan99 commented on #22743
#22771

[2022-01-25 21:55] swathipil commented on #22583
Hey @poting-lin - thanks for the question.
So, `receive` on `EventHubConsumerClient` is a blocking call which will receive forever (push mode). Unfortunately, it is not possible to receive an event per call to `receive`.

Without knowing too much about your application, here are some things that you may find useful:
1) Utilizing the `[CheckpointStoreBlob](https://github.com/Azure/azure-sdk-for-pyt

[2022-01-25 21:56] scbedd opened #22772 "EventHub Failing Smoke Test Release Checks"
[Example Release Build](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1325081&view=logs&j=c555d1b8-a045-5c87-cf64-f06d26cf1ed5&t=c28bb287-0c13-5fed-0bc9-d469af6400f7)

@yunhaoling @ckairen can one of you take a look at this?

[2022-01-25 22:14] #22743 closed

[2022-01-25 22:21] #22416 closed

[2022-01-25 22:25] #22391 closed

[2022-01-25 22:26] #22490 closed

[2022-01-25 23:09] daperezc commented on #22527
Hi @BigCat20196  if I try to use Defaultazurecredential() from my local computer it works as it takes the user authentication from Azure CLI (user/password), however, if I try to use the code in an Azure App Service with System Assigned Managed Identity, it fails to get the information and shows none in all fields, same behavior described before, even when that Managed Identity was added as Owner

[2022-01-26 00:54] annatisch commented on #22738
Thanks @theoturner!
I have opened a PR to get these docstrings improved for clarity.
I think the intention of the name `update_properties` was to allow the methods to grow should more updatable settings become available.

[2022-01-26 01:55] javiercoh opened #22775 "Code: EndpointUnsupportedAccountFeatures Message: This endpoint does not support BlobStorageEvents or SoftDelete."
- **Package Name**: azure_storage_file_datalake
- **Package Version**: 12.5.0
- **Operating System**: Windows 10
- **Python Version**: 3.9.10

**Describe the bug**
I have disabled SoftDelete for blobs and containers and have no BlobStorageEvents but when I run the following code:

`       initialize_storage_account()

        file_system_client = service_client.get_file_system_client(file_system="

[2022-01-26 02:32] yunhaoling commented on #21849
hey @Stael , apologize for not getting back to your sooner and thanks for trying out the snippet.

I do have an update for you is that the [producer client unable to reopen after close due to partition id issue which your posed earlier](https://imgur.com/a/8EeGlu7) has been fixed in the latest stable release.

- I believe "No 139 crash" is avoided because we avoid race condition on a single client

[2022-01-26 03:12] msyyc commented on #22525
https://github.com/Azure/azure-sdk-for-python/pull/22623

[2022-01-26 03:16] msyyc opened #22777 "[mgmt] tools to configure multi-api package quickly"
Some multi-api packages have many definition files. We need a tool to divide them into moderate tag conveniently.
for example: https://github.com/Azure/sdk-release-request/issues/2402

[2022-01-26 03:17] msyyc commented on #22777
https://github.com/Azure/azure-sdk-for-python/pull/22751

[2022-01-26 07:16] msyyc opened #22779 "[appplatform] remove code after `2019-05-01-preview` retired"
After https://github.com/Azure/azure-rest-api-specs/pull/17506 is merged, need to delete related SDK code :

https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/v2019_05_01_preview

[2022-01-26 07:23] AFengKK opened #22780 "Event Hubs readme and samples issues"
1.Section [link1](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/eventhub/azure-eventhub/samples/sync_samples/client_creation.py#L34), [link2](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/eventhub/azure-eventhub/samples/sync_samples/client_creation.py#L70):
![image](https://user-images.githubusercontent.com/80307197/151112254-28d00068-0a2a-47db-b0d1-e4c4dbae210e.png)

R

[2022-01-26 08:04] msyyc commented on #22737
could you give more detailed log with : https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/debug_guide.md

[2022-01-26 08:12] msyyc commented on #22571
Hi, SDK is generated with swagger. To update docs, you need to change [swagger definition](https://github.com/Azure/azure-rest-api-specs/blob/679887ace44697c726aba8d2814ee415a5d25e6f/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-09-01-preview/dataConnectors.json#L1413) then [make an release request
 issue](https://github.com/Azure/azure-rest-api-specs/blob

[2022-01-26 08:19] msyyc commented on #22569
It is common flow and needs doc team to help

[2022-01-26 08:22] msyyc commented on #22407
need a new release to update pypi

[2022-01-26 08:38] msyyc commented on #22380
Hi, SDK deserialize http response returned by service server. So I think the reason is that server doesn't return those parameters. You could confirm that in log by [guidance](https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/debug_guide.md).

[2022-01-26 09:16] mmasiuk commented on #22737
Sure, please find below logs from running:

2022-01-26 10:15:01,543 - azure.identity._internal.decorators - INFO - AzureCliCredential.get_token succeeded
2022-01-26 10:15:01,544 - azure.core.pipeline.policies.http_logging_policy - INFO - Request URL: 'https://management.azure.com/subscriptions/5f854be0-ae65-4afa-9f92-8aeba71c0608/resourceGroups/USEDINTHAERSG01/resources?api-version=REDACTED'
2022-

[2022-01-26 10:33] Neki opened #22784 "When downloading a Blob, failed requests (HttpResponseError exceptions) are not correctly retried"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.8.1
- **Operating System**: Ubuntu 20.04
- **Python Version**: 3.8

**Describe the bug**
We have an integration test that's using the following code
[code]
Sometimes, this test fails with this stacktrace (one line edited to remove a private filename, otherwise it's a copy-paste):
[code]
When looking at the [relevant code](https://git

[2022-01-26 10:56] jarandaf opened #22785 "AzureML pipelines not working anymore with new azure-mgmt-resource release (20.1.0)"
- **Package Name**: azureml-sdk
- **Package Version**: 1.31.0
- **Operating System**: Linux
- **Python Version**: 3.8.11

**Describe the bug**

Our Azure ML pipelines started to fail today. There seems to be an issue with  the new `azure-mgmt-resource` package release (20.1.0, released a few hours ago) that was not observed before (until today, our pipelines were resolving this package to version

[2022-01-26 17:16] tjprescott commented on #22775
@tasherif-msft do you know who is responsible for Data Lake issues?

[2022-01-26 17:17] tjprescott commented on #22784
@tasherif-msft can you take a look?

[2022-01-26 17:18] tjprescott commented on #22785
@msyyc can you take a look?

[2022-01-26 17:36] tjprescott opened #22787 "[TestProxy] tests should not have to return variables to record"
Discovered in #22187, when a tests uses `@recorded_by_proxy` but does not return anything (because it does not use the variables API), no recording is produced.

Tests should NOT have to return anything in order to be recorded. Per #22275, even using the variables API should not require a return statement.

[2022-01-26 17:37] xiangyan99 commented on #22625
@rayluo Thanks for the information. Unfortunately, we don't have validate_authority support yet.

I created PR #22786 to support it.

[2022-01-26 17:51] tasherif-msft commented on #22784
@jalauzon-msft fyi

[2022-01-26 17:53] tasherif-msft commented on #22775
@jalauzon-msft

[2022-01-26 18:23] tasherif-msft commented on #22784
Hi @Neki we are aware of this issue. These resets are triggered by the service. We are currently in discussions on handling these types of errors the Python SDKs. We will update you once we have more information

[2022-01-26 18:33] QuetzalcoatlRosso commented on #22569
thanks for the context -- is it part of "common flow" to have a link for code examples that does not (directly) link to code examples?  would it be helpful if members of the "doc team" were added to this issue?

[2022-01-26 18:38] amishra-dev commented on #19373
@scbedd was this shipped? I don't see this parameter documented yet.

[2022-01-26 18:46] tasherif-msft commented on #22740
@tjprescott @jmg-duarte thanks for opening the PR - I have merged it in!

[2022-01-26 18:46] #22740 closed

[2022-01-26 18:57] swathipil commented on #21789
update:
- have been checking the nightly test runs, and there are no consistently flaky tests other than one above. Just some other ones only failing once from what I've seen:

EH:
tests/livetest/synctests/test_consumer_client.py::test_receive_batch_no_max_wait_time

SB:
FAILED tests/test_subscriptions.py::ServiceBusSubscriptionTests::test_subscription_by_servicebus_client_receive_batch_with_deadl

[2022-01-26 19:25] scbedd commented on #22489
Definitely still occurring.

[code]

![image](https://user-images.githubusercontent.com/45376673/151232330-b4475383-60a5-4843-8bc0-bac088939a72.png)

Investigating other options.

[2022-01-26 19:31] iscai-msft opened #22789 "[core] add chained authentication policy"
Add a chained authentication policy that delegates to either `BearerTokenCredentialPolicy` or `AzureKeyCredentialPolicy`, based off of the type of the credential.

The chained authentication policy should just take in the `credential` as an input, and delegate to other credential policies during `on_request`.

[2022-01-26 21:01] chrisimcevoy commented on #22727
After looking at this for another couple of days, I started to notice that when messages were sent successfully and the process didn't hang, I was still seeing logging entries like "deallocating symbol" and so forth even after my code had exited the `sender` and `sb` context managers. My hunch is that there is some cleanup happening on a thread that the ServiceBusSender's __exit__() doesn't wait f

[2022-01-26 21:54] sima-zhu opened #23260 "Cleanup Python credscan baseline file suppressions"
- [ ] Remove use of a baseline file to suppress old CredScan warnings. The python baseline file is located [here.](https://github.com/Azure/azure-sdk-for-python/blob/main/eng/python.gdnbaselines)

[2022-01-27 00:27] scbedd commented on #16794
This has been resolved. Apologies for the delay.

Automatically generated link `https://azure.github.io/azure-sdk-for-python/databaseformysql/postgresql.html` now looks like `https://azure.github.io/azure-sdk-for-python/databaseformysqlpostgresql.html` and [resolves properly.](https://azure.github.io/azure-sdk-for-python/databaseformysqlpostgresql.html)

[2022-01-27 00:27] #16794 closed

[2022-01-27 01:36] jalauzon-msft commented on #22742
Hi @lilygrierjil,

You are correct that currently the `ContainerClient` does not document that it supports `version_id` however `donwload_blob()` on a `BlobClient` does have a keyword parameter for `version_id`. See [here](https://github.com/Azure/azure-sdk-for-python/blob/a5ea4bf7d0decafbe355467ddb0bdd334b9f953b/sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py#L777).

So, I think

[2022-01-27 01:51] jalauzon-msft commented on #22072
Hi @sushilchand, this issue is likely caused by the fact that Azure Stack does not yet support the API version `2019-12-12` which is the default version for 12.9.0, if not specified when creating a client.

You can try specifying the `api_version` when creating you `BlobClient` to a version that works with Azure Stack. A good choice for the version could be the version that your previous version o

[2022-01-27 02:05] v-xuto commented on #22780
Close it , because it's not an issue.

[2022-01-27 02:05] #22780 closed

[2022-01-27 02:16] kristapratico opened #22795 "pinned version of sphinx is broken in Python 3.10"
running `tox -e sphinx -c ../.../.../eng/tox/tox.ini` locally:

[code]

We pin sphinx to version 3.5.4 in the tox env.

https://github.com/Azure/azure-sdk-for-python/blob/a5ea4bf7d0decafbe355467ddb0bdd334b9f953b/eng/tox/tox.ini#L150-L157

There was a bug with importing Union in the older sphinx versions that wasn't fixed until 4.2.0 for Python 3.10: https://github.com/sphinx-doc/sphinx/issues/9562

[2022-01-27 02:17] kristapratico commented on #22795
@scbedd I'm guessing we pin sphinx to that version for a good reason... do you recommend just using <3.10 for now when locally generating docs?

[2022-01-27 02:27] msyyc commented on #22785
Hi, please make sure [`azure-mgmt-core` version >= 1.3.0](https://github.com/Azure/azure-sdk-for-python/blob/a5ea4bf7d0decafbe355467ddb0bdd334b9f953b/sdk/resources/azure-mgmt-resource/setup.py#L71) in your environment

[2022-01-27 02:45] mccoyp opened #22797 "Azure Key Vault - Error while reading a certificate with KeyType 'rsa' using Python SDK"
This issue is named after the ICM describing the bug: https://portal.microsofticm.com/imp/v3/incidents/details/284919597

Below is a stack trace of the error a user got when trying to get a certificate that was created outside the SDK with a key type of "rsa" (specified in lower case). The root of the issue seems to be that the `key_type` property of the fetched certificate's KeyProperties is the

[2022-01-27 02:51] scbedd commented on #22795
@kristapratico yeah, we are trying to stay aligned with what the docs team is doing. I'll sync with  @danieljurek and see if there is anything we want to do here.

We currently generate docs on `python3.9` in CI, so you shouldn't have any blocked releases due to this, but I totally get where you're coming from frustration wise.

[2022-01-27 03:04] kristapratico commented on #22795
All good, just wanted to open an issue to track this. No urgency on my end.

[2022-01-27 03:11] dhirschfeld commented on #19201
Thanks @xiangyan99 - I didn't know about the `azure-storage` `conda` package on anaconda.org!

I do have a preference to keep all deps from `conda-forge` as their build processes ensure all compiled deps are abi-compatible.

In my ideal world experts from Microsoft would also manage/maintain the packages on *`conda-forge`*. Since these packages seem to be pure Python I suppose it's easy enough (an

[2022-01-27 05:00] jiasli commented on #8313
Azure CLI now uses a workaround to implement cross-tenant authentication by adding `x-ms-authorization-auxiliary` header via  `headers` kwarg which is used to initialize `HeadersPolicy`:

https://github.com/Azure/azure-cli/blob/110f7b402020f3d3ebd2bfb923ac5a01d026cdd1/src/azure-cli-core/azure/cli/core/commands/client_factory.py#L180-L189

[code]

So implementing this feature request is no longer m

[2022-01-27 05:54] jiasli commented on #8313
According to https://github.com/Azure/azure-sdk-for-java/issues/3819#issuecomment-1021949275, to support cross-tenant authentication natively, Java SDK adopted similar approach as my proposal (https://github.com/Azure/azure-sdk-for-python/issues/8313#issuecomment-770886620) by leveraging multiple credentials:

[code]

[2022-01-27 06:07] msyyc commented on #22525
https://github.com/Azure/azure-sdk-for-python/pull/22802

[2022-01-27 06:23] icedpanda opened #22803 "Cannot create AKS GPU clusters"
- **Package Name**: azureml-core
- **Package Version**: 1.37.0
- **Operating System**: Windows
- **Python Version**: 3.7

**Describe the bug**
Following the tutorial from [Deploy a deep learning model for inference with GPU](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-inferencing-gpus) but not able to create AKS compute resources (Standard_NC6).

I have doubled checked th

[2022-01-27 07:14] Vprashant commented on #22529
Hi  @swathipil,
No, I had't faced that above mentioned error; while working with azure-servicebus 7.0.0 and uamqp 1.2.12

![MicrosoftTeams-image](https://user-images.githubusercontent.com/7329007/151309397-cfba2302-9d49-45ed-bf5d-ba38a005c436.png)

[2022-01-27 10:15] msyyc commented on #22779
just need to change the configuration like the following image so that we needn't delete sdk code manualy in the future:
![image](https://user-images.githubusercontent.com/70930885/151338736-6a729883-4fa6-4bb8-9d0a-ef7169f6da43.png)

[2022-01-27 12:11] navba-MSFT commented on #22315
As per the discussion with @mayurid looping ++ @robch Could you please look into this missing documentation issue for [SpeechSynthesisResult.properties ](https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-speech/azure.cognitiveservices.speech.speechsynthesisresult?view=azure-python) attribute ?

[2022-01-27 13:02] jarandaf commented on #22785
Thank you @msyyc. That solved the issue (we had a pinned version somewhere that avoided `azure-mgmt-core` to be resolved to version >= 1.3).

[2022-01-27 13:02] #22785 closed

[2022-01-27 14:03] deepak6422 commented on #16286
@tasherif-msft I am also getting the same error. I am using azure storage queue inside a virtual environment.

[2022-01-27 14:07] deepak6422 commented on #16286
@OscarSantos98 Was you able to resolve the error you mentioned?

[2022-01-27 15:14] OscarSantos98 commented on #16286
No, I end up using the NodeJS SDK as Python was not working. But, maybe they have updated the Python SDK. Try with the newest version.

[2022-01-27 16:02] kashifkhan opened #22806 "Migrate KeyVault Secrets tests to test proxy"

[2022-01-27 17:09] deepak6422 commented on #16286
I see. I am using the latest version SDK still same issue

[2022-01-27 17:39] #22803 closed

[2022-01-27 17:39] tjprescott commented on #22803
Issue moved to [Azure/MachineLearningNotebooks #1675](https://github.com/Azure/MachineLearningNotebooks/issues/1675) via [**ZenHub**](https://www.zenhub.com/)

[2022-01-27 18:00] metamoof opened #22808 "Docs: There is no description as to the behaviour of the Match Conditions"
You've listed the Match Conditions enum in the documentation, but you do not explain what the behaviour is for these conditions.

Similarly, the description is not available in the cosmosdb docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c1e5642-e4f7-202d-b3ef-871ee0ff66cb
* Version Independent ID: aa8729ae-b13b-b

[2022-01-27 19:11] tjprescott commented on #22808
@xiangyan99 can you take a look?

[2022-01-27 19:45] #22787 closed

[2022-01-27 23:25] xiangyan99 commented on #22808
The exact behavior of MatchConditions may vary from service to service.

Given "cosmosdb docs" is mentioned here. I would assign this to cosmos owner.

[2022-01-27 23:32] tjprescott commented on #22808
@xiangyan99 the content is from Azure Core:

[2022-01-27 23:39] xiangyan99 commented on #22808
Yes. But the behavior may be different. e.g. in cosmos:

[code]

I think it will be better to describe the behavior in the method that supports MatchCondition, your ideas?

[2022-01-28 00:18] xiangyan99 opened #22813 "Feature to add auxiliary authorization header"
We have auxiliary authorization header support for Java.

https://github.com/Azure/azure-libraries-for-java/pull/884

Let's also add the support in Python to keep them consistent.

[2022-01-28 00:23] dargilco commented on #22315
Hi @sagittarian, this is Darren from the Microsoft Speech SDK team. Thank you for your question! To get a speedy answer and access to a wide knowledge base of previous answers, please in the future open a new issue in the [Speech SDK repository](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues). My team monitors this repository daily.

You are absolutely right that we should b

[2022-01-28 00:39] tjprescott commented on #22808
The way I read it is the docs from Azure Core are not useful and CosmosDB doesn't even have docs.

[2022-01-28 01:09] jalauzon-msft commented on #22775
Hi @javiercoh, thanks for reporting the issue. We will investigate and get back to you shortly.

[2022-01-28 01:19] #22658 closed

[2022-01-28 08:32] YalinLi0312 commented on #22250
Hi @flaudarin-365talents , thanks for reaching us!
We have addressed a lot of docstrings in our first GA 1.0.0 which included this ""Delete Permissions for an artifact" was copy-pasted to every permission." For the rest two points, I do not completely understand the issue, could you provide more?

Thanks

[2022-01-28 08:53] metamoof commented on #22808
If it helps you narrow down the issue, I started by looking at the docs for [upsert-item](https://docs.microsoft.com/en-gb/python/api/azure-cosmos/azure.cosmos.container.containerproxy?view=azure-python#azure-cosmos-container-containerproxy-upsert-item). There it states:

[code]

Which is definitely not useful to understand which of the MatchConditions to use.

This is especially confusing as the

[2022-01-28 09:17] metamoof commented on #22808
A quick look at [the source file](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/cosmos/azure-cosmos/azure/cosmos/container.py) shows that this same language is used in four different methods: `replace_item`, `upsert_item`, `create_item`, and `delete_item`.

Ideally, this behaviour should be documented either in those methods, or in the MatchCondition enum. The MatchCondition that wil

[2022-01-28 11:45] Gerrit-K opened #22821 "Docs: batch limit of `azure.storage.blob.ContainerClient.delete_blobs()` is poorly documented"
I wanted to move an entire "folder" within a storage account and for unrelated reasons I had to use this python sdk for that. I did this in basically a 3-step action:
1. List all blobs that match this "folder" in the pseudo-hierarchy
2. Copy those blobs individually to the new destination
3. Delete the source blobs, for which I was happy to see that there already was a batched method: `azure.stora

[2022-01-28 12:16] renardeinside opened #22822 "auth failure with az CLI token"
- **Package Name**:  azure.identity, azure.mgmt.subscription
- **Package Version**: azure-identity==1.7.1, azure-mgmt-subscription==3.0.0
- **Operating System**: macOS
- **Python Version**: 3.7.7

**Describe the bug**

I would like to list all Azure subscriptions:
[code]
Before running this code I've logged into azure CLI via:
[code]

I'm running into the following exception:
[code]

**To Reproduc

[2022-01-28 12:30] renardeinside commented on #22822
Additional comment - at the same time if I explicitly pass `AzureCliCredential` it works:
[code]

[2022-01-28 14:37] tjprescott commented on #22821
@jalauzon-msft can you take a look?

[2022-01-28 14:56] OTDani opened #22823 "API usage issues - TOP being ignored, timeout, etc."
using version azure-mgmt-consumption==9.0.0

The API .usage_details.list(
scope=f'/providers/Microsoft.Billing/billingAccounts/{billingAccountIdLong}/billingProfiles/{billingProfileId}'
,metric='amortizedcost',
    top=100)

Completely ignores the top clause, also if you use it '100'.

The API also throws (429) Too many requests. Please retry after 60 seconds.
when you try to consume it.

Could yo

[2022-01-28 15:02] OTDani commented on #22365
@BigCat20196  - Thanks a lot - works great!

Just a few questions if i may:
- Can we add this to the documentation as a sample or into the sample codes? - as this is very valuable.
- What is the default behaviour? So what is the definition of data i get back if i add nothing or None?  - could we also add this to the docs?

Thanks a lot!

[2022-01-28 17:25] lmazuel opened #22824 "Improve doc of the get_token protocol in azure-core"
since we dropped Python 2 I would advocate to rewrite get_token in Python 3 syntax, with the right docstring:

[code]

Also, we have a dev specific documentation of azure.core: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md

[2022-01-28 18:13] amnguye commented on #16761
@isgallagher @dhirschfeld

Have you attempted the following solutions that I suggested above? What were the outcomes of that for each one? I am asking so we can get clarification on the issue so we can move forward with a solution.

If the outcomes were the same for each suggestion as the original post, then I would highly suggest you to look at the last solution because looking at your output and

[2022-01-28 18:18] catalinaperalta commented on #22718
Fixed in #22790

[2022-01-28 18:18] #22718 closed

[2022-01-28 18:18] catalinaperalta commented on #22721
Not necessary, invoices return currency types.

[2022-01-28 18:18] #22721 closed

[2022-01-28 18:24] heaths opened #22825 "Add TROUBLESHOOTING.md for sdk/keyvault"
Add a TROUBLESHOOTING.md file (case-sensitive for consistency) to sdk/keyvault and/or package directories. You can use Azure/azure-sdk-for-net#26636 as a template. Feel free to copy whatever you want, but please be sure to change anything that is language- or SDK-specific.

For .NET I decided to have a single TSG inside the service directory and link bacvk to it from each package since most troubl

[2022-01-28 18:25] danieljurek commented on #22795
We recently moved up to Python 3.9. I'll open an issue to track upgrading to 3.10 which would entail moving up to at least Sphinx 4.2.0.

Internal issue for docs: https://ceapex.visualstudio.com/Engineering/_workitems/edit/550775

[2022-01-28 19:01] Angivare commented on #21719
@mahakjain314, do you have any reference to this issue so I can track it? If not, what's the status on this?

This currently prevents us from using the latest azure.mgmt libraries on Azure Automation in Python3 runtime, and as the libraries that are already installed are apparently ~4 years old, they have very limited functionality for the more recent Azure services.

If this issue is not expected

[2022-01-28 19:37] danieljurek opened #22826 "Enable Warnings as Errors (possibly also nit-picky) in Sphinx doc generation"
We have instances of pages where errors in our doc comments are producing unexpected documentation output. These errors are detectable in Sphinx and we should move that detection to the left in the process.

Sphinx params: https://www.sphinx-doc.org/en/master/man/sphinx-build.html#cmdoption-sphinx-build-W

Example:

See the `Raises` section here:

Docs page -- https://review.docs.microsoft.com/en-

[2022-01-28 19:48] mccoyp opened #22827 "Deprecate testsettings_local.cfg for live test config"
As part of the test proxy migration effort, we're deprecating the use of `testsettings_local.cfg` as a method of configuring live test mode. We should also clean up any prior uses of the config file to make sure tests are using the expected setting everywhere -- otherwise, different `is_live` checks can have different results and confuse tests.

For example, in https://github.com/Azure/azure-sdk-f

[2022-01-28 19:51] mccoyp commented on #22797
Status update: currently waiting to see if we can learn more about the user's ability to use the certificate in question. Cryptographic keys generally have to have case-sensitive key types, so it's surprising that a key with an "rsa" key type was created in the first place. If this isn't meant to happen, we probably shouldn't support case-insensitive key type creation.

[2022-01-28 21:07] tjprescott commented on #22823
@msyyc can you take a look?

[2022-01-28 21:09] tjprescott commented on #22822
@xiangyan99 for Identity and @msyyc for management plane library.

[2022-01-28 21:44] swathipil opened #22829 "[SchemaRegistry] update pypi/docs links after release"

[2022-01-28 21:48] xiangyan99 commented on #22822
@renardeinside Thanks for reaching out.

From the error log, there is a shared token cache found but the token expired.

In this case, instead of silently swallowing the error, DefaultAzureCredential raises it to you.

If you are sure you don't want to use the cached token, you can create DefaultAzureCredential with exclude_shared_token_cache_credential=True.

So in your case, you can have code li

[2022-01-28 22:19] xiangyan99 commented on #22625
@Mrbm5 if you don't mind, could you share more information with us?

e.g. are you using ADFS? I ask this because https://management.private_domain.onmicrosoft.com/<b9ae38c5-####>/<ed83b0eb-tenant_id> seems not a valid authority url.

If you are sure this should work, could you try disable validate_authority by using the work around in #22786?

Thank you.

[2022-01-28 23:49] jalauzon-msft opened #22831 "[Storage] Code generation not generating correct doc comment for parameters from "Parameter Group""
The auto-generated code contains only the string "Parameter Group." for any parameter where the spec dictates that parameter belongs to a parameter group.

This is likely caused by `autorest-python` but we need to first ensure the latest version of autorest does not fix the issue before raising the issue with them (since we don't currently use the latest version)

[2022-01-28 23:57] jalauzon-msft commented on #22821
Hi @Gerrit-K, thanks for bringing this up and your investigation!

You are correct. The batch size for `delete_blobs()`, as well as the other batch APIs we support, is limited to `256` by the service.
https://docs.microsoft.com/en-us/rest/api/storageservices/blob-batch#request-body

I will create a PR to add this limit to the code documentation for all of our batch APIs. Once updated and release,

[2022-01-29 00:21] jalauzon-msft commented on #22821
In the future, we may want to consider having these APIs support looping through batches if the user specifies more than 256 items. Or at the very least, raising a helpful exception if more than 256 items are specified.

[2022-01-29 00:22] lmazuel opened #22833 "Testing"
- [ ] - Do this
- [ ] - Do that

[2022-01-29 00:22] #22833 closed

[2022-01-29 01:24] yunhaoling opened #22835 "[AMQP Python] Revisit logging message and level"
https://github.com/Azure/azure-uamqp-python/pull/283#discussion_r753602450

as per Anna's comment: "The log message is general could probably be a bit more informative as to what these status mean and whether I should do anything. If they are completely non-actionable, then we can probably make them debug."

We should revisit the error logging information to decide on:

- log level
- log message
-

[2022-01-29 02:04] jiasli commented on #22824
Shouldn't docstring go under `def`? https://www.python.org/dev/peps/pep-0257/

IDEs currently can't recognize `:param`:

![image](https://user-images.githubusercontent.com/4003950/151643082-b4bedb9c-75e7-40b1-92aa-838590ec4d27.png)

After we put docstring under `def`:

![image](https://user-images.githubusercontent.com/4003950/151643096-ba624284-b275-47a0-b464-9cd60a560b93.png)

[2022-01-29 03:28] duanqn commented on #22243
Yes, I noticed the default value of `None`, but only after I wasted an hour on this. I don't quite understand the logic of "required with a default value". It's simply optional, and we should document as optional.
Thanks for the explanation about this argument. Some examples about this argument would be helpful (i.e. the exact URL to put in). If this is an inherited argument perhaps we can link to

[2022-01-29 06:17] v-xuto commented on #22379
@benbp Who can help me to create containers and upload blobs in Usgov and china? Or give me the subscription permission of the storage account (azuresdktrainingdata) on Public.

[2022-01-29 06:25] msyyc commented on #22737
SDK is just a tool to help customers send request and receive response to/from server. According to the log, there is nothing exception happen in SDK. So you'd better open issue in https://github.com/Azure/azure-rest-api-specs/issues and consult service team for specific info. They could see more on backend.

[2022-01-29 06:28] msyyc commented on #22569
Hi @scbedd, could you help give more context or address other expert?

[2022-01-29 06:35] msyyc commented on #22527
Hi, SDK is just tool to help customers to send request and receive response to/from server. It will not swallow data. You could reference https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/debug_guide.md to get more info about the process. If SDK returns none, it proves that server returns none. If that, it is better to ask help from service team in https://github.com/Azure/azure-rest

[2022-01-29 06:38] msyyc commented on #22465
https://github.com/Azure/azure-sdk-for-python/issues/21306

[2022-01-29 06:38] msyyc commented on #22464
https://github.com/Azure/azure-sdk-for-python/issues/21306

[2022-01-29 06:38] msyyc commented on #22463
https://github.com/Azure/azure-sdk-for-python/issues/21306

[2022-01-29 07:51] Mrbm5 commented on #22625
@xiangyan99 No, Im using Azure Active Directory(AAD) for authentication. and the original authority URL I'm passing is : : **https://management.itasxxxx.onmicrosoft.com/b9ae38c5-xxxx-xxxx-xxxx-xxxxxxxxc6**. we have used this URL successfully with `ServicePrincipalCredentials`. with the recent SDK update to `azure-identity==1.6.1` using `ClientSecretCredential` and now for same authority url we are

[2022-01-29 08:44] BigCat20196 commented on #21306
handled candidate list:
[python-track1-docs-list.csv](https://github.com/Azure/azure-sdk-for-python/files/7963288/python-track1-docs-list.csv)

3 new  PRs in total
Details:
https://github.com/MicrosoftDocs/azure-docs/pull/86877
https://github.com/MicrosoftDocs/azure-docs/pull/87161
https://github.com/Azure-Samples/Hybrid-Resource-Manager-Python-Template-Deployment/pull/2

[2022-01-29 16:01] Gerrit-K commented on #22821
Oof ... yeah I apparently didn't check the API docs 😓 And also sorry if I sounded a bit grumpy there. Thank's for picking this up and responding so quickly, much appreciated! I agree that automatically looping through the batches would be the most ideal solution, but the PR you've submitted is already really helpful!

[2022-01-30 01:34] jbernardini commented on #18217
/unresolve

[2022-01-30 01:36] jbernardini commented on #18217
Upgraded to azure-mgmt-network 19.3.0 and the issue persists.

[2022-01-30 18:11] Arthur-272 commented on #16730
Hello, I am trying to do the same thing using Spring Framework and I too am unable to get a SAS URL for the output file that is stored in the container on successful task completion. Could you please let me know how you solved your issue, maybe I can get an idea for my issue as well. Thanks

[2022-01-30 18:36] annatisch commented on #22835
Thanks @yunhaoling - yes we should do a full assessment of logging statements before GA.
You'll see throughout the code that I had started using the `extra=self.network_trace_params` for containing "optional extra" information in the logging messages. Customers can chose to format these values into their log messages, as documented here:
https://docs.python.org/3/library/logging.html#logging.debug

[2022-01-30 19:03] setinam commented on #12166
Hi, I have a ticket (TrackingID#2111100050002885) open with Storage support for about half a year and we just came to some sort of data that my help this.
We have a solution that uses parallel processes to upload files to Blob storage. randomly when we push a lot of data to the blob we get a similar write timeouts. We set timeout value on upload_blob to 600, but it did not help 100%, it probably m

[2022-01-31 04:21] Mohit-Chakraborty opened #22839 "[Search] Write troubleshooting guide for the SDK"

[2022-01-31 04:26] Mohit-Chakraborty commented on #22839
cc: @kashifkhan

[2022-01-31 09:06] sodul commented on #17801
It is good to hear it is being worked on. Is there a more specific timeline that can be shared?
@BigCat20196 I see you added the `needs-author-feedback` label, which trigger the msftbot to try to close the issue. I'm not sure what additional feedback would help move this forward.

[2022-01-31 10:39] anotherancientalien opened #22840 "Authentication in Azure Devops"
Hi,

I want to use SDK inside a pipeline task. But I get token in another task as follow:

`$token= $( az account get-access-token --resource=https://management.azure.com --query accessToken)
Write-Host("##vso[task.setvariable variable=api-token;issecret=true]$token")`

Is there anyway to use this token with SDK? Because I get token with service connection and I don't store client and tenant info

[2022-01-31 10:41] angusrw commented on #22033
@gahl-levy  has there been any progress on this / when can we expect this feature to be ready?

[2022-01-31 13:58] davidjward30 commented on #21953
I can repo this with the most basic use of submit_transaction. I'm adding the full text of the error message below as it took me some time to track down this issue:

azure.core.exceptions.ServiceRequestError: [SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1129)

[2022-01-31 14:40] kashifkhan opened #22842 "[Search] Regenerate AML Model from Swagger"
Updates were made to AML Skill for clarity on variable & class names https://github.com/Azure/azure-rest-api-specs/commit/932e261a870475e1a29115f62def7bb84e4d7b38

[2022-01-31 15:42] oancea-cristian opened #22844 "Switch-AzWebAppSlot with preview"
I need to swap staging and production slots with preview so I can run warm-up tests after the application settings have been applied to the staging slot and the restart happened but before the actual swap is being done.

A way to access [Switch-AzWebAppSlot](https://docs.microsoft.com/en-us/powershell/module/az.websites/switch-azwebappslot?view=azps-7.1.0) from python

[2022-01-31 16:09] kashifkhan opened #22845 "Organize Contributing Guide"
Looking to organize Azure SDK Python SDK the contributing guide so that internal & external contributors can easily set up dev environments.

[2022-01-31 16:19] flaudarin-365talents commented on #22250
Hello @YalinLi0312 ,
Thanks for your reply. I was referring to this page:
https://docs.microsoft.com/en-us/python/api/azure-containerregistry/azure.containerregistry.artifactmanifestproperties?view=azure-python-preview
As you can see, the definition of these variables is a copy/paste of "_Delete Permissions for an artifact_"
![image](https://user-images.githubusercontent.com/93928368/151830105-538

[2022-01-31 16:57] chlowell opened #22846 "Warn on unsupported managed identity configuration"
Cloud Shell's token endpoint ignores unexpected parameters and always authenticates the signed in user. This means that when ManagedIdentityCredential requests a token for a user assigned identity, Cloud Shell returns a token for the signed in user instead. The credential should therefore raise an authentication failed exception when asked to get a token for a user assigned identity in Cloud Shell

[2022-01-31 17:12] srnagar opened #22847 "Add troubleshooting guide for Azure Monitor Query"
Add TROUBLESHOOTING.md under sdk/monitor/azure-monitor-query to include steps to diagnose and troubleshoot common errors when using the library.

[2022-01-31 17:17] catalinaperalta commented on #22379
Hey @v-xuto, I requested access myself to the USGov cloud, but I am still waiting for permission to access it. Once I have it, I can check whether the container has all of the necessary content uploaded. I will check with @benbp about who can be granted permission.

[2022-01-31 17:21] anuragdalmia commented on #21902
Closing this issue out since samples were provided in the above thread. Let us know if there are any other questions.

[2022-01-31 17:34] benbp commented on #22379
@catalinaperalta and I worked to grant access to USGov.

[2022-01-31 18:35] swathipil commented on #21789
check 12/28:
FAILED tests/async_tests/test_queues_async.py::ServiceBusQueueAsyncTests::test_async_queue_by_queue_client_conn_str_receive_handler_peeklock

12/31:
FAILED tests/test_sessions.py::ServiceBusSessionTests::test_session_by_servicebus_client_session_pool
FAILED tests/test_sessions.py::ServiceBusSessionTests::test_session_by_servicebus_client_session_pool
FAILED tests/test_sessions.py::Ser

[2022-01-31 19:13] catalinaperalta commented on #22379
I've checked the storage container in USGov and there were several missing blobs. I have uploaded those blobs that were missing and are used in our tests. @v-xuto please let me know if the tests in USGov can pass now.

As for the storage container in the China cloud, I am still working with Ben to get access. Will let you know when I have an update with that one.

[2022-01-31 19:21] #21493 closed

[2022-01-31 19:21] #20692 closed

[2022-01-31 20:48] swathipil opened #22852 "[ServiceBus] add more stress tests"
- add docs/README to stress tests for SB + EH (follow the README in the `perfstress_tests` as an example)
- split up existing tests into separate files
- add more tests (infinite send + receive, other scenarios) - look at Go for example
- test chaos/network loss for infinite send and receive.
- address Richard's comments from this PR: https://github.com/Azure/azure-sdk-for-python/pull/22982

[2022-01-31 21:48] kurtzeborn commented on #22437
A servicing changelog seems like a reasonable approach to this. However, as Wes says, making sure we remember to update it with all breaking changes (eg. OS versions going out of service) will be hard and we likely won't always remember.

[2022-01-31 22:28] mccoyp opened #22853 "Create documentation on implementing TokenCredential"
Aside from the definition of the [TokenCredential](https://github.com/Azure/azure-sdk-for-python/blob/844e16db0abc553ab1adf104128cbf0e223af189/sdk/core/azure-core/azure/core/credentials.py#L16) protocol, there's no easily-discoverable documentation describing how one is meant to implement a TokenCredential. We should add a guide, possibly under `azure-core` in the repo, that's reachable by an `aka

[2022-01-31 22:42] #22842 closed

[2022-01-31 23:13] mccoyp opened #22855 "[Key Vault] Use pytest command flags for test run config"
For example, refer to [Identity's use of pytest command flags](https://github.com/Azure/azure-sdk-for-python/blob/d9f9a4e04d7807834fcde51364ec2265a02a1af6/sdk/identity/azure-identity/conftest.py#L49) to run or skip certain tests. By allowing users to pass an argument to `pytest`, like `--all-api-versions`, we could override [this check](https://github.com/Azure/azure-sdk-for-python/blob/de91b99a98

[2022-01-31 23:17] omrodrig commented on #21430
NOT has been removed from the documentation.

[2022-01-31 23:38] swathipil commented on #22840
Thanks for the question @anotherancientalien!
To clarify: Does your task look something like this (where the token is saved in `$token`)?
[code]
And you would like to set this token value to an env var so that it's available where you run your code file?

If so, you can set the token to an environment variable by adding it to `env:` like this:
[code]
This may also be helpful, if you haven't taken

[2022-01-31 23:41] swathipil commented on #22844
Hi @oancea-cristian, thanks for the question! We'll investigate asap!

[2022-01-31 23:47] mrlepat commented on #21430
Documentation updated. Will close the issue

[2022-01-31 23:47] #21430 closed

[2022-02-01 00:10] xiangyan99 commented on #22625
@Mrbm5 Thank you for providing more information. This really helps us understand the scenario. In #22786 we will expose `validate_authority` parameter and you can explicitly disable the validation.

[2022-02-01 01:37] jalauzon-msft commented on #22742
I've created a PR to add the missing documentation and linked it here.

[2022-02-01 01:38] jalauzon-msft commented on #22821
I had a bit of a mishap with the previous PR. I've created another one combined with another doc update.

[2022-02-01 07:09] deepak6422 opened #22860 "Python SDK circular import error"
I am trying to make a connection to the azure queue in Python but I am getting a circular import error.

Here's my code:
`from azure.storage.queue import (QueueClient)

connection_str =  "",

q_name = "test2"
queue_client = QueueClient.from_connection_string(connection_str, q_name)
queue_client.create_queue()`

Error I am getting:
`from azure.storage.queue import (QueueClient)
ImportError: cannot

[2022-02-01 09:14] stevesimmons opened #22861 "Cosmos async query_items and query_conflicts break if partition_key is specified"
- **Package Name**: azure-cosmos
- **Package Version**: 4.3.0b2
- **Operating System**: Linux
- **Python Version**: 3.9.7

**Describe the bug**

`azure.cosmos.aio.container.query_items(sql, partition_key=x)` fails with the error

`RuntimeWarning: coroutine 'ContainerProxy._set_partition_key' was never awaited`

when run on a single partition.

It runs correctly when no partition key is given and i

[2022-02-01 10:44] dakooka opened #22862 "[BUG Bash] _key_vault_client.py ImportError: cannot import name 'Deserializer'"
**Describe the bug**
We are using some python modules in our python scripts, and when gitlab-runner is trying to run test for this python script we are getting error message:
 _from **msrest** import Deserializer, Serializer
ImportError: cannot import name 'Deserializer'_

***requirements.txt***
**We are also tried to use the last versions of the Python Azure SDK and clear the caches for gitlab-ru

[2022-02-01 14:02] javiercoh commented on #22775
hi @jalauzon-msft any news on this? I tried many changes to the config of the datalake with no success so far... this is a key feature for us

[2022-02-01 17:18] swathipil commented on #22860
Hi @deepak6422 - thanks for your question! We'll investigate asap!

[2022-02-01 17:23] swathipil commented on #22862
Hi @dakooka - thanks for reporting the issue! Would you be able to add the snippet of code that causes this issue? Thanks!

[2022-02-01 17:28] Rodrigossz commented on #22861
@swathipil , I'm not the Python SDK anymore. @gahl-levy is the new PM and @simorenoh  is the new developer.

[2022-02-01 17:48] annatisch opened #22863 "[Perfstress] RandomStream seek method not setting remaining bytes"
The `RandomStream` implementation in the perf framework is not setting the number of remaining bytes once an index has been set using the `seek` method.

[2022-02-01 17:50] simorenoh commented on #22861
Hi @stevesimmons, thank you for pointing this out and even digging into the SDK code! I'll make a PR to fix this, and have it pushed by EOD - although you'll likely have to wait a little bit for it to be released with the next group of updates since we released b2 last week. Will keep this issue open and keep you posted as this happens.

On another note, thank you for using our beta async client -

[2022-02-01 18:37] #22532 closed

[2022-02-01 19:05] dakooka commented on #22862
Hi @swathipil ,

Thank You for Your quick reaction

Unfortunately, there is nothing to add, since it does not work from the `model `import line.
`from azure.mgmt.storage import models`

On the bottom of the traceback (which I added also) we have found that the problem is occurring with
entire [keyvaults](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/keyvault) module when it's trying

[2022-02-01 19:28] mccoyp commented on #22862
Hi @dakooka, thank you for opening an issue! This seems like a packaging error. `msrest` 0.6.21 does expose [`Serializer` and `Deserializer`](https://github.com/Azure/msrest-for-python/blob/master/msrest/__init__.py), and I'm able to successfully run
[code]
and
[code]
with `msrest==0.6.21` and `azure-keyvault-secrets==4.3.0` installed, on Python 3.6.

Could I ask you to run `pip freeze` in the env

[2022-02-01 19:33] #22684 closed

[2022-02-01 20:42] anotherancientalien commented on #22840
Hi @swathipil ,

I appreciate your kind help.

Please consider this code:

def get_credentials():
[code]

SDK uses object in `RecoveryServicesBackupClient(credentials, subscription_id)` as credentials. But I have only token that I get from

`- pwsh: |
      $token= $( az account get-access-token --resource=https://management.azure.com --query accessToken)
      Write-Host("##vso[task.setvariable v

[2022-02-01 21:01] gahl-levy commented on #22033
Hi @angusrw. This feature is on our roadmap, but we don't have an ETA just yet unfortunately.

[2022-02-01 22:26] yunhaoling opened #22866 "[EventHubs] Remove the dependency of static resources of livetests in checkpointstoreblob"
### Issue

the livetest in checkpointstoreblob(and aio) depends on static test resources: storage blob + storage blob data lake gen2
we should update to use bicep/arm template for dynamic resource creation as what we have done for other live tests.

### Background
currently the livetest resource of storage blob data lake gen2 has been removed by accident.
this is a chance for us to use EnvLoadPrep

[2022-02-01 22:59] mccoyp commented on #22797
From user:

https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py#L832

If these certificates exist in Key Vault and can be downloaded by other means, I think it makes sense to support retrieving them through the Python SDK as well. It doesn't guarantee that the key can be used, but case-sensitivity and formatting re

[2022-02-01 23:38] #22742 closed

[2022-02-01 23:38] #22821 closed

[2022-02-02 00:19] xiangyan99 opened #22867 "Enable Search tests in sovereign cloud"
https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/604/Sovereign-Cloud-Testing for more information

[2022-02-02 00:19] xiangyan99 opened #22868 "Enable identity tests in sovereign cloud"

[2022-02-02 00:25] jalauzon-msft commented on #22775
Hi @javiercoh, I am having trouble reproducing this issue. Would you mind sharing a recent request id from a recent failure you had? This will let me look into the service logs for more information. The service logs are only retained for a couple of days so the more recent your request, the better. Thanks.

[2022-02-02 09:11] dakooka commented on #22862
Hello @mccoyp,

Here I'm pasting python modules which are present on our gitllab runner VM:

adal==1.2.6
antlr4-python3-runtime==4.7.2
appdirs==1.4.4
applicationinsights==0.11.9
argcomplete==1.10.0
asn1crypto==0.24.0
azure-appconfiguration==1.1.1
azure-batch==10.0.0
azure-cli==2.19.1
azure-cli-command-modules-nspkg==2.0.3
azure-cli-core==2.19.1
azure-cli-nspkg==3.0.4
azure-cli-telemetry==1.0.6
azu

[2022-02-02 10:02] #22571 closed

[2022-02-02 11:19] meglenast opened #22873 "Not being able to list role assignments for a subscription"
Hello, I am trying the following in order to list the role assignments  for a subscription .

[code]

However, the response I am getting is not the expected one. I am getting an empty list and not the list of all role assignments  for the particular  subscription_id.

[2022-02-02 17:44] swathipil commented on #22873
Hi @meglenast - thanks for your question! Directing this to the right people.

[2022-02-02 18:54] #22549 closed

[2022-02-02 19:43] mccoyp commented on #22862
Hi @dakooka, thank you for the quick response. I've tried using the same versions of every package mentioned in the stack trace, but I haven't been able to reproduce the error. Below is the output of running `pip freeze` in my environment:
[code]
Running `from msrest import Deserializer, Serializer` still doesn't raise an error. Neither do `from azure.mgmt.storage import models`, `import azure.key

[2022-02-02 19:45] swathipil opened #22881 "[ServiceBus] accept `application_properties` kwarg in `ServiceBusReceiver.dead_letter_message`"
Allow user to pass `application_properties` to `ServiceBusReceiver.dead_letter_message`. Ensure that this is set on ReceivedMessage received from deadletterqueue.

### background

- .NET supports modify properties when deadlettering messages.
- `Deadletter` in service bus using `Message Reject` of the AMQP spec to indicate the delivery state of a message
- Message reject could take extra error inf

[2022-02-02 20:02] SaurabhSharma-MSFT commented on #21375
@BigCat20196 Can you please provide your inputs on this one.

[2022-02-02 20:04] SaurabhSharma-MSFT commented on #21449
@darshanhs90, @AshishGargMicrosoft - Can you please help here

[2022-02-02 20:14] JoshLove-msft commented on #22881
Note, the param should be named something like "properties_to_modify" as the user wouldn't need to pass all the application properties.

[2022-02-02 20:37] SaurabhSharma-MSFT commented on #21934
@ksridhar57 Sorry for the delay on this.  As per internal discussion this looks like a limitation as check_existence is a head call and HEAD is not supported by Compute for a VM url.
Workaround is to use [GET](https://docs.azure.cn/en-us/dotnet/api/azure.resourcemanager.resources.resourcesoperations.get?view=azure-dotnet-preview) instead of HEAD when it's a VM. However, using a GET does not have a

[2022-02-02 21:53] andrewkittredge commented on #6731
@KieranBrantnerMagee

I am testing the retry parameters on ServiceBusClient, it is not clear if/how they work.  In the below, I expect the receiver to yield the message once a second for 15 seconds then push the message to the dead letter queue.  Instead, the message is re-delivered about once a minute.

Am I doing something wrong, do I not understand how retry works?

[code]

[2022-02-02 22:00] praveenkuttappan opened #22886 "Enable API stub generator step in build job"
Enable API stub generator step in build job to publish artifact apiview token file. This was disabled to unblock python core pipelines.

[2022-02-02 22:27] arvindshmicrosoft commented on #22009
Sorry for the troubles with this. With a bit of research from the [Azure CLI code](https://github.com/Azure/azure-cli/blob/8fe7dfe67d2f6258d6b8db39c995ff95fb3f36e9/src/azure-cli/azure/cli/command_modules/sql/custom.py#L3682-L3698) which provides equivalent functionality to set the AD admin, a few modifications to the provided code can be done which will allow the functionality to work. I have shar

[2022-02-03 01:32] swathipil commented on #22840
Thanks for the info @anotherancientalien! @mccoyp will be taking a look at this.

[2022-02-03 01:45] mccoyp commented on #22840
Hi @anotherancientalien, thank you for opening an issue and providing additional information! If you'd like to use the access token directly and don't need/want a credential to automatically refresh it, [this sample](https://github.com/Azure/azure-sdk-for-python/blob/fc95f8d3d84d076ffea158116ca1bf6912689c70/sdk/identity/azure-identity/samples/custom_credentials.py#L18) from `azure-identity` should

[2022-02-03 02:46] GinSiuCheng commented on #21955
@yunhaoling is the above a supported scenario?

[2022-02-03 05:47] jaystyles opened #22896 "Bumps [actions/setup-node](https://github.com/actions/setup-node) from v2.1.1 to v2.1.2."
Bumps [actions/setup-node](https://github.com/actions/setup-node) from v2.1.1 to v2.1.2.
<details>
<summary>Release notes</summary>
<p><em>Sourced from <a href="https://github.com/actions/setup-node/releases">actions/setup-node's releases</a>.</em></p>
<blockquote>
<h2>v2.1.2 (beta)</h2>
<ul>
<li>Updated communication with runner to use environment files rather then workflow commands</li>
</ul>
</

[2022-02-03 06:20] deepak6422 commented on #22860
@swathipil Any updates on this issue?

[2022-02-03 06:58] Mrbm5 commented on #22625
Thanks @xiangyan99. can you please tell us in which version this change will be available or when it will be available to use?

[2022-02-03 08:07] #20691 closed

[2022-02-03 09:51] dakooka commented on #22862
Hello @mccoyp
We tried to reinstall msrest package but we guess we found where the possible problem could be. When we are running directly from VM level everything is working:
![image](https://user-images.githubusercontent.com/23189327/152318730-7564c3aa-2bf1-4c57-9f57-f4553028ee3a.png)
But when we are trying to run with creating python environment (the screenshots above are from the gitlab pipeli

[2022-02-03 15:53] simorenoh commented on #22861
PR: https://github.com/Azure/azure-sdk-for-python/pull/22893

[2022-02-03 16:53] xiangyan99 commented on #22625
We plan to release it next week with version number 1.8.0b1.

[2022-02-03 17:19] swathipil commented on #22860
Hey @tasherif-msft - would you be able to take a look at this?

[2022-02-03 17:25] jsquire commented on #22896
This is spam content; closing.

[2022-02-03 17:25] #22896 closed

[2022-02-03 17:41] tasherif-msft commented on #22860
Hi @deepak6422 we will investigate this asap and update you!
thanks for your patience

[2022-02-03 17:41] kristapratico opened #22898 "[translation] AAD auth tests fail in INT/PPE"
We're skipping these tests for now while we investigate the issue. The error raised says

{"Error":{"Code":5,"Message":"Your current subscription SKU is not supported by this service"}}

We are using SKU == S1 in the pipelines and this hasn't changed recently.

Update: it seems APIM might down in PPE and so we will monitor and wait for a fix.

[2022-02-03 19:38] jalauzon-msft commented on #22860
Hi @deepak6422, we are having difficulty reproducing this issue. Would you mind sharing the following information so we can try and narrow it down?

- OS version
- Queue package version
- How are you installing the package? Are you using either `conda` or `virtualenv` and are you using `pip` to install?
- Do you have any other azure packages installed in the same env? (Besides the dependencies for

[2022-02-03 19:44] iscai-msft commented on #21760
@deaktomi this fix has been released as part of `azure-core` version 1.22.0! You can update your own version with `pip install azure-core -U`, and you should pin the `azure-core` dependency in the setup.py of your generated package to `"azure-core<2.0.0,>=1.22.0"` so your users get this azure core version as well.

Thank you again so much for your patience! Please try it out and let us know your t

[2022-02-03 20:51] catalinaperalta opened #22906 "[formrecognizer] Update sample doc wording"
Update docs in samples to mention `Form Recognizer resource` instead of `Cognitive Services resource`.

[2022-02-03 22:06] mccoyp commented on #22862
Hm... well, it's good to see that the command works at the VM level! As for the Python environment, looking at the last screenshot you provided, I think it's possible that the virtual environment you created isn't actually active; there's no `(.venv-test)` indicator on the command line that I can see. If you run
[code]
and then run `pip freeze`, do you see the packages you expect to see? Or, is it

[2022-02-03 22:31] anotherancientalien commented on #22840
@mccoyp A million thanks!

[2022-02-03 22:31] #22840 closed

[2022-02-04 00:20] lilyjma opened #22910 "❓Survey: Your experience in this repo"
Whether you're a frequent visitor or a relatively new visitor of the repo, please tell us about your experience with our issue support and/or PR contribution process. The survey should only take a few minutes, and you can answer for up to 3 repos:

https://www.surveymonkey.com/r/8QTQTGJ?Source=azure-sdk-for-python

[2022-02-04 01:25] swathipil commented on #22529
Hey @Vprashant - thanks for your patience!

I tested `azure-servicebus==7.0.0` with the uamqp version you had, and I am still getting the `non-trivial __cinit__` error. Would you be able to run `pip freeze` on your `azure-servicebus==7.0.0` that was working and share it here?

The problem here is with the underlying `uamqp.BatchMessage` C object. We would need to overload the `__reduce__` method i

[2022-02-04 01:35] #21606 closed

[2022-02-04 04:02] #22315 closed

[2022-02-04 05:30] yks0000 opened #22916 "azure-mgmt module for function app"
**Is your feature request related to a problem? Please describe.**
I am trying to get function app details similar to what we see when we run `az functionapp show` command.

**Describe the solution you'd like**
Should be able to return functionapp details as available in `az functionapp` command

**Describe alternatives you've considered**
Nothing available or found at the moment. We can not use a

[2022-02-04 05:30] azure-sdk commented on #22916
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.5457316,Client:0.45209935,Service:0.0016127302'

[2022-02-04 07:20] deepak6422 commented on #22860
@jalauzon-msft Sure.
OS Version - Ubuntu 20.04
Queue package version - 12.1.6
I have installed the queue package inside a virtual env.
No, I don't have any other azure packages installed.

[2022-02-04 08:02] #22080 closed

[2022-02-04 09:01] poting-lin commented on #22583
Thanks for the reply @swathipil,

the case from my side is, I would like to build an event hub receiver in Airflow, it will trigger Dags by event message, such as when the event hub receiver gets an event message: user created, it will trigger a pipeline in Airflow to run the process.

so what you mentioned in the reply is quite detailed for me, at least it guides me some possibility to solve my q

[2022-02-04 09:01] #22583 closed

[2022-02-04 09:14] #21634 closed

[2022-02-04 09:21] MughundhanRaveendran-MSFT commented on #22844
@oancea-cristian , Check if this is helpful or not
https://github.com/Azure/azure-cli/blob/e0c49d6fd4778b8e0c8884a54bca1716a916763e/src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py#L1285

[2022-02-04 11:58] navba-MSFT commented on #19599
@htejwani Could you please let us know if you had a chance to look at my above comment and try that action plan ? Please test and get back to us. Awaiting your reply.

[2022-02-04 12:13] htejwani commented on #19599
I think I don't have the means to check this now. I am in a completely
different work setup. Sorry about that.

On Fri, 4 Feb, 2022, 5:28 pm navba-MSFT, ***@***.***> wrote:

[2022-02-04 12:15] navba-MSFT commented on #19599
@htejwani Thanks for getting back. Please feel free to reopen this github thread in future if you need any further assistance.

[2022-02-04 12:15] #19599 closed

[2022-02-04 13:09] Vprashant commented on #22529
Hi @swathipil ,We are using a premium tier service and we need to use batching in our solution, for azure-servicebus==7.0.0 version. In my last message I mention the version in the attached image ( pip list | grep azure-servicebus).

**$ pip freeze | grep "azure"**
azure-common==1.1.26
azure-core==1.9.0
azure-eventhub==5.2.0
azure-functions==1.7.2
azure-servicebus==7.0.0
**$ pip freeze | grep "uam

[2022-02-04 16:12] DhavalShewale opened #22917 "[QUESTION] How to mock Blob Client in Unit Tests?"
Library: **`azure-storage-blob`**

I would like to mock below **`BlobClient`** implementation

[code]

I tried the below implementations but none of them work and actual object is getting called

[code]

[code]

Can you pls advise on what is the correct way to mock **`BlobClient`**

[2022-02-04 16:47] andrewkittredge opened #22918 "ServiceBus subscription_receiver abandon_message until"
Deferring messages is painful.

Contortions are discussed @ https://markheath.net/post/defer-processing-azure-service-bus-message.

There should be something like
[code]

[2022-02-04 17:18] l3ender commented on #22009
/unresolve

[2022-02-04 17:26] l3ender commented on #22009
Hi @arvindshmicrosoft, thank you for the followup. But I believe you are misunderstanding the issue.

The question is not how to specifically configure a SQL admin, which as you pointed out can be done through the `server_azure_ad_administrators` operations on the SqlManagementClient.

Instead, the problem is that the SQL admin is not correctly configured when using the `servers` operations on the

[2022-02-04 17:55] arvindshmicrosoft commented on #22009
Could you share any other examples where the updates to the server are not persisted when calling this method? Your above repro is very helpful and clearly illustrates the difference in behavior with setting AAD admin after-the-fact. But if there are other facets which when changed via. `servers.begin_create_or_update` are not actually persisted then that is a broader issue.

[2022-02-04 18:00] l3ender commented on #22009
In my usage to date, I have only noticed the issue with AAD admin not being updated when using `servers.begin_create_or_update`. My apologies for the confusion!

[2022-02-04 19:36] swathipil commented on #22916
@yks0000 - thanks for opening an issue. We'll investigate asap!

[2022-02-04 19:38] swathipil commented on #22917
@DhavalShewale - thanks for your question! Directing this to the right people.

[2022-02-04 19:45] swathipil commented on #22918
@andrewkittredge - Thanks for bringing this to our attention! We'll discuss this asap and get back to you.

[2022-02-04 21:48] #21549 closed

[2022-02-04 21:48] #22516 closed

[2022-02-04 22:02] #22822 closed

[2022-02-04 22:27] swathipil commented on #22529
Will update you on our plans after I discuss with the team. Thanks!

[2022-02-04 22:55] #19454 closed

[2022-02-04 22:59] catalinaperalta commented on #22509
Discussed offline, not a necessary change.

[2022-02-04 22:59] #22509 closed

[2022-02-04 23:20] #22513 closed

[2022-02-04 23:22] SaurabhSharma-MSFT commented on #22873
@meglenast What are your RBAC permissions level on the subscription ?

[2022-02-05 00:04] catalinaperalta commented on #22502
This was completed in the referenced PRs

[2022-02-05 00:04] #22502 closed

[2022-02-05 00:13] catalinaperalta opened #22928 "[formrecognizer] Remove empty dicts returned in tests"
This was a workaround implemented due to a test proxy issue, can remove since a temporary fix was merged into the test proxy.

[2022-02-05 05:01] twacn opened #22934 "[azure-mgmt-network] Delete operation on non-existent NSG securityrule returns "Successful""
- **Package Name**: azure.mgmt.network.NetworkManagementClient.security_rules.begin_delete
- **Package Version**: 2020-06-01
- **Operating System**: Linux, macOS
- **Python Version**: 3.9.7

**Describe the bug**
Performing a NetworkManagementClient.security_rules.begin_delete does not return an error when the rule does not exist.

I confirmed that the Azure CLI responds in the same manner.

**To R

[2022-02-05 05:02] azure-sdk commented on #22934
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Network - Virtual Network:0.31313694,Security:0.19349553,Cognitive Services:0.03464426'

[2022-02-05 06:57] meglenast commented on #22873
So I found the problem the **Service Principal**  which is associated with the **client_id** in my case has the 'Management Group Contributor' role which does not have the necessary 'Action'. A solution to this is giving the service principal 'Reader' or 'User Access Administrator' permissions. In other words '*/read' action is required to perform listing the role assignments of a subscription.

[2022-02-05 09:16] cltj opened #22935 "Something does not make sense here."
Okay...... How to fix then?

![image](https://user-images.githubusercontent.com/72233033/152635829-3314a9cb-16c6-4e5a-92a6-38d5915c7cae.png)

[2022-02-05 09:33] navba-MSFT commented on #16761
@isgallagher This is s quick follow-up to check if you had a chance to look at the above comment by @amnguye. Awaiting your reply.

[2022-02-05 11:38] #22873 closed

[2022-02-05 11:57] stevesimmons commented on #22861
Thanks for working on this, Simon!

[2022-02-05 17:01] joelrbrandt opened #22936 "The `connection_timeout` parameter is not documented for the `upload_blob` method on `BlobClient`"
The `connection_timeout` parameter is not documented for the `upload_blob` method on `BlobClient`.

That parameter _is_ documented here:
https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/storage/azure-storage-blob#other-client--per-operation-configuration

Also, the `connection_timeout` parameter works differently than the `timeout` parameter, which is very confusing!

I was experiencing

[2022-02-06 03:46] dhirschfeld commented on #16761
I was wanting to use a CNAME alias to address my storage exactly to abstract away the specific storage account being accessed, so having to include the storage account name would defeat the entire purpose of what I was trying to achieve.

Similarly, I haven't tried disabling SSL because, even if it works, I can't do that in production so there's no point going down that route.

I'm not sure what t

[2022-02-06 14:56] SubhashPeshwa commented on #8557
Is there a way to check the installed pod-identity version? I'm facing this error in a cluster created a few days ago and pod-identity created using the 'az aks pod-identity add' command. I'm assuming this would have installed a version higher than 1.5, but I was hoping to confirm that.

I followed the steps in : [](https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity) and the demo

[2022-02-07 02:39] msyyc commented on #22243
If users don't put this parameter in, it will be set default value: `https://management.azure.com`([example](https://github.com/Azure/azure-sdk-for-python/blob/ead9b83e349101a682c81d35be81e9df78c5c3ef/sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/_cosmos_db_management_client.py#L138)). `base_url` is mainly used for authentication and resource management. So most azure users, they don't need t

[2022-02-07 03:37] bganapa commented on #22625
@Mrbm5  You cannot use the Token Audience https://management.itasxxxx.onmicrosoft.com/b9ae38c5-xxxx-xxxx-xxxx-xxxxxxxxc6 as Authority URI, The Authority URI has to be 'https://login.microsoftonline.com', The tenant id ed83b0eb-xxxx-xxxx-xxxx-xxxxxxxxb6 will get appended while requesting for the token.

pls refer to our azure stack samples here https://github.com/Azure-Samples/Hybrid-Python-Samples

[2022-02-07 03:54] msyyc opened #22937 "[pipeline] code refactor for new pipeline framework"
swagger pipeline framework will be updated recently, so we need to update pipeline code before that.

[2022-02-07 03:55] msyyc commented on #22937
https://github.com/Azure/azure-sdk-for-python/pull/22783

[2022-02-07 05:50] BigCat20196 commented on #22365
@OTDani, Sure, I'm glad it can help you. Of course, it can also help more people.

If no filter is added, it will return all transactions under the billing account scope

[2022-02-07 07:33] v-xuto commented on #20517
@rakshith91 Do you have any ideas instead of modifying the `resource_testcase.py` file?

[2022-02-07 08:07] thomasfrederikhoeck commented on #22441
Hi again @mccoyp  . Sorry for keeping pinging you but this blocks us from using managed endpoints :-) I could seem that @bandsina has disabled notifications. Is it possible that you try another (internal) channel?

[2022-02-07 08:55] OTDani commented on #22365
@BigCat20196
Thank you :)

[2022-02-07 08:55] #22365 closed

[2022-02-07 14:43] deaktomi commented on #21760
@iscai-msft
Thank you for the update I did the testing and something is still missing on my side.

I run the code with try-catch logic. It was working with nice error message even before the update.
[code]
**Output:**
[code]
See the last line with exact error message coming from the API

**Now I update azure-core and run the code without try-catch logic, but the error message is not so nice**
[cod

[2022-02-07 16:40] xiangyan99 commented on #22934
Thanks for the feedback, we’ll investigate asap.

[2022-02-07 16:42] gjolly opened #22941 "`lropoller.result` returns incomplete data"
- **Package Name**: azure-core
- **Package Version**: 1.22.0
- **Operating System**: Linux - Ubuntu Impish 21.10
- **Python Version**: Python 3.9.7

**Describe the bug**

The `result` method of `azure.core.polling.lropoller` returns invalid data. Even after the operation is completed (`wait` has returned), `result` returns data with all fields set to None. We noticed this recently and it wasn't th

[2022-02-07 16:42] azure-sdk commented on #22941
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Network - Virtual Network:0.28311682,ARM:0.10726081,IoT:0.04631142'

[2022-02-07 17:01] chlowell commented on #8557
Pod Identity images are tagged with a version, so you can inspect the NMI daemonset or one of its pods with a management tool. For example: `kubectl describe ds aad-pod-identity-nmi | grep Image`

[2022-02-07 17:33] cltj commented on #22935
Got it fixed. It was Edm dateTime that was the reason for it. (Its easier to use now)
Error is misleading though,

[2022-02-07 17:33] #22935 closed

[2022-02-07 18:10] scottaddie commented on #20794
Reopening per a discussion with Rakshith. We need to create a migration guide showing customers how to migrate away from the Events API in the azure-applicationinsights package.

[2022-02-07 20:13] arvindshmicrosoft commented on #22009
@l3ender - the fact that we are unable to manage the AAD administrator for an existing server using the Servers API (this is not Python SDK specific), is by-design. The SQL AAD team has documented this behavior [here](https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-azure-ad-only-authentication-create-server?tabs=azure-portal#provision-with-azure-ad-only-authentication-enab

[2022-02-07 20:15] mccoyp opened #22944 "[Key Vault] Update azure-keyvault package to drop 2.7 support"
When releasing the next stable versions of `azure-keyvault-certificates`, `azure-keyvault-keys`, and `azure-keyvault-secrets`, we should update the versions targeted by the `azure-keyvault` package to install these latest versions at minimum, to make sure Python 2-supporting packages aren't installed by the metapackage. We should also drop support for Python 2 anywhere else in the metapackage.

[2022-02-07 23:34] SaurabhSharma-MSFT commented on #22916
@yks0000 I am redirecting this to specific team for this feature request.

[2022-02-08 01:02] xiangyan99 commented on #22941
Thanks for the feedback, we’ll investigate asap.

[2022-02-08 02:51] #22541 closed

[2022-02-08 03:10] JoshLove-msft opened #22959 "[Avro Encoder] Add logging of cache size"
As we discussed in the arch board review, we should log the size of the cache whenever a new entry is added.

[2022-02-08 03:30] amishra-dev commented on #22936
Hi @joelrbrandt Joel, thanks for you feedback. @jalauzon-msft can you please look into this.

[2022-02-08 03:32] amishra-dev commented on #22917
@tasherif-msft do we have a sample that shows how to mock?

[2022-02-08 06:04] rakshith91 commented on #22727
@chrisimcevoy  thanks for the detailed explanation. I'm glad you did find a way to unblock your script for now.

I'm unable to reproduce this issue myself locally. In general, it's not a good idea to create a new client every time.

Would you be able to create the client once and re-use it to send messages (without the batch) and see if the issue is still happening.

something like:

[code]

[2022-02-08 07:54] v-xuto commented on #22867
@benbp Please help add `test-resources.json` file in search. It runs failed at section `Deploy test resources` on Usgov and China. For more details please check [here](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1351370&view=logs&j=30224f6e-6ea4-5543-09d9-1149d1110260&t=74c31dd1-0da8-5e2f-2601-0b387e287e93):

[2022-02-08 08:41] kazrael2119 commented on #22823
Hello， @OTDani ，I tried to solve your problem. Here is the code. I hope it will help you
[code]

[2022-02-08 08:56] v-xuto commented on #22379
@catalinaperalta  I rerun the weekly pipeline and found that there are still some missing blobs, such as: `testingdata/label_table_variable_rows1.pdf`. For more details please click [here](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1348883&view=logs&j=d2e848db-263f-5203-2100-103b0dfc34a3&t=b4a04cf1-3294-507a-09e7-d1bc997cc43d).

@benbp Could you give me the subscription permis

[2022-02-08 10:08] v-xuto opened #22961 "[EventHub] ErrorCodes.UnknownError: Connection in an unexpected error state."
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
When running the test [test_send.py::test_send_with_partition_key](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py#L25) and its [async tes

[2022-02-08 10:15] deaktomi commented on #21760
I just used cmd.exe on Windows and navigated to my project folder. Please see the results of the command below

[code]

Content of requirements.txt
[code]

Contents of app.py
[code]

I believe that there can be no different environments here when I call `pip show azure-core` and when I call `python app.py` but I still miss the detailed logs

[2022-02-08 10:28] deaktomi commented on #21760
**UPDATE**

I tried the very same thing in a clean environment as well.

First I run `pip install my_company.my_client`. The script runs successfully.

Then I run `pip show azure-core`. The script tells me it is not installed. However, my code is working but there are no detailed error message.

Then I run `pip install azure-core`. Seems like 1.22 is installed then. But my code has the same result

[2022-02-08 12:34] Stael commented on #21849
Hello @yunhaoling

Thank you for your reply.

I have noted that the issue with the producer client has been fixed. Thank you.
Does it mean that I can go back from :

[code]

to :
[code]

---

Have you been able to look at why does the `timeout` parameter have no effect ?
See : https://github.com/Azure/azure-sdk-for-python/issues/21849#issuecomment-983489177

---

I had turned on the logging using

[2022-02-08 13:19] lukipro opened #22962 "[ServiceBus] Cannot read messages from subscription when using DefaultAzureCredentials"
- **Package Name**: azure-servicebus
- **Package Version**: 7.5.0
- **Operating System**: Linux
- **Python Version**: 3.9.10

**Describe the bug**
When creating the `ServiceBusClient` using `DefaultAzureCredential` for authentication I cannot read any messages.
I get the following error:
```ValueError: Only azure.servicebus.ServiceBusReceivedMessage objects in PEEK_LOCK receive mode maybe lock-ren

[2022-02-08 13:33] lukipro commented on #22962
I noticed a difference between the working and not working scenarios w.r.t. the `locked_until_utc` field on the `eceiver.session` object:

1. For the case where it works the `locked_until_utc` is set to a datetime string.
2. For the case where it does not work, the `locked_until_utc` is set to None.

[2022-02-08 15:24] l3ender commented on #22009
@arvindshmicrosoft Great detail, and thanks for sharing the doc link! I appreciate the information and will proceed to close this issue as it is working by design. Thanks again!

[2022-02-08 15:24] #22009 closed

[2022-02-08 15:55] Stael commented on #21849
Hello again @yunhaoling !

Out of sheer luck ... I managed to trigger the bug and to capture the logs.
Here are the [logs](https://www.dropbox.com/s/3jfjwefyljfn9t7/EH-Timeout-Logs.png?dl=0)

So it is definitely related to the `EventHubProducer` or `azure-uamqp`.

Could you please have a look at it and get back as soon as possible.
Thanks,

[2022-02-08 17:17] xiangyan99 commented on #20877
@soffensive have you tried https://github.com/microsoftgraph/msgraph-sdk-python-core

/cc: @jeking3

[2022-02-08 17:17] xiangyan99 commented on #20877
Also see #14022

[2022-02-08 17:52] #22328 closed

[2022-02-08 17:53] #22329 closed

[2022-02-08 19:06] iscai-msft commented on #21760
@deaktomi I think I see the issue, you appear to be raising your generated error model as an error itself, see this line: `raise models.MyException(self._deserialize, response)`. If you look at the generated code, the error _model_ just gets passed to the actual error class `HttpResponseError` ([here's](https://github.com/Azure/autorest.python/blob/autorestv3/test/vanilla/legacy/Expected/Acceptanc

[2022-02-08 19:16] swathipil opened #22970 "[ServiceBus&EventHubs] fix mypy errors for 0.931"
may be able to fix the `try: import typing except: import typing_extensions` in different places

[2022-02-08 19:42] yunhaoling opened #22972 "[AMQP Python] Refactor async client hierarchy"
https://github.com/Azure/azure-uamqp-python/pull/283#discussion_r797057651

- async client hierarchy needs a redesign
  - currently it's `class SendClient(SendClientSync, AMQPClientAsync):` which is not ideal
  - ideally, I think this should be like `SendClientAsync(AMQPClientAsync)`
- we should also drop suffix in the method name

[2022-02-08 19:45] yunhaoling opened #22973 "[AMQP Python] Async race condition when connection/session/link shared"
https://github.com/Azure/azure-uamqp-python/pull/283#discussion_r797049404

Wherever we are using aynscio.gather - each of those Sessions/Links are behaving concurrently - which could lead to race conditions if they do anything to modify their parent (e.g. if one link errors and updates the session state, a concurrent link might try to set a conflicting session state).
So we may need to revisit th

[2022-02-08 20:03] yunhaoling opened #22975 "[Async Python] ascynio.gather error handling stragegy"
https://github.com/Azure/azure-uamqp-python/pull/283#discussion_r797034075

for code like:

[code]

what's our error handling best strategy, options are:

- do nothing, let it propagate
- make _on_connection_state_change handles all the error
- try except, cancel all the futures when error is raised

[2022-02-08 21:01] xiangyan99 commented on #22625
The new library is released.

[2022-02-08 22:06] #22447 closed

[2022-02-08 22:27] catalinaperalta opened #22980 "[formrecognizer] Reword README and Migration Guide"
Check how to reword "cognitive services" references in docs.

[2022-02-08 22:59] mccoyp opened #22981 "[Key Vault] Address remaining architect feedback for keys"
Per the most recent round of [feedback](https://apiview.dev/Assemblies/Review/2fe1d980066340af8e70b56592afe76a?diffRevisionId=a617921fa5c74b1c99d169f84f9ab047&doc=False&diffOnly=False) for `azure-keyvault-keys`, we need to take a look at a few more pieces of feedback before the upcoming stable release:

- [ ] Move the optional `version` parameter in `KeyClient.release_key` into keyword-only argume

[2022-02-09 00:13] cloga commented on #16730
Hi @Arthur-272,

In AzureML by default, all the data will be stored in the workspace default datastore. You can find the detailed info in datasore page in AML studio, and the name of this default datastore is `workspaceblobstore (Default)`
![image](https://user-images.githubusercontent.com/1320343/153096589-2381faae-2943-4e8b-9e18-b14c2491b9c7.png)

Every job outputs will located under this <accou

[2022-02-09 00:36] xiangyan99 commented on #22867
We use the PS script with the json to provision resources, right?

We can use the same PS script upon bicep file. (I see you hard coded the location in bicep file so maybe we need to update it)

[2022-02-09 00:45] keystroke commented on #22625
@xiangyan99 thanks for making the validate authority fix, that is a good change and authority validation can be disabled in almost all cases.

However as @bganapa indicated in above comment, this is actually a user input error and disabling validate authority will not resolve the issue.

[2022-02-09 02:07] v-xuto commented on #22867
@xiangyan99 Yes, your understanding is correct. We may need to replace the bicep file with `test_resource.json`.

[2022-02-09 02:17] jiasli commented on #21653
This issue has long been fixed (https://github.com/Azure/azure-cli/pull/20219). Azure CLI guarantees the existence of `expiresOn`.

[2022-02-09 03:04] msyyc opened #22985 "[docs] increase customers' experience for SDK"
Sometimes it is not clear for customers to use SDK with [docs](https://docs.microsoft.com/en-us/python/api/overview/azure/?view=azure-python)
If we could paste swagger example link in doc, it will be very helpful.

(e.g. https://github.com/Azure/azure-sdk-for-python/issues/22337)