[2022-06-14 17:52] kashifkhan commented on #24839
@ShunChi100 Thanks for your feedback, we'll investigate asap.

[2022-06-14 18:21] scbedd opened #24841 "`BuildTargetingString` build variable should apply to filtering `conda` tests"
See title. This bit the mgmt folks with [this mgmt-core release](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1640451&view=results).

They set `BuildTargetingString` to `azure-mgmt-core`, and were still blocked on release. Need to filter these.

[2022-06-14 18:53] luigiw commented on #24787
@MatthewGleeson, we can look into upgrading `azureml-core`'s dependency on `azure-mgmt-resource`. In the meantime, I think Azure CLI recommends [installing the package](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli) directly instead of having it in a Python environment. What's the reason you need a specific version of `auzre-cli` in your environment?

[2022-06-14 19:01] scbedd opened #24842 "Storage Weekly Tests Failing with `Unable to locate a valid executable folder for 3. `"
[Example Failure](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1636664&view=logs&j=bdbe6558-8f98-5cec-dbff-d4ed1841dc5e&t=ca1474d3-fb56-54a1-1d74-f09a97704bec)

This should not be happening. Find out why and resolve.

[2022-06-14 20:48] kashifkhan opened #24845 "[Messaging] Onboard Performance Testing Framework"

[2022-06-14 20:50] kashifkhan opened #24846 "[Messaging] Add In Negative Testing"
To maintain parity between exceptions between pyamqp and uamqp add in negative tests to expose behavior/exceptions during a failure.

cases to test:
- [x] when creating client with DefaultAzureCredential, pass in `fully_qualified_namespace=None`.

- [x] passing None in as sas_policy and key in `EventHubSharedKeyCredential`

- [x] token auth failure/bad signature:

azure.eventhub._pyamqp.error.Toke

[2022-06-14 21:13] affanv14 opened #24847 "readinto function hangs while in progress"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.12.0
- **Operating System**: Amazon AL2
- **Python Version**: 3.7

**Describe the bug**
when calling the below piece of code - the download hangs indefinitely while in progress
`    with open(local_file, "wb") as f:
        download_stream = blob_client.download_blob(
        )
        download_stream.readinto(f)`

**To Reproduce**
S

[2022-06-14 21:14] azure-sdk commented on #24847
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.39250913,Storage:0.2970738,Service Bus:0.07714585'

[2022-06-14 21:43] kashifkhan commented on #24847
@affanv14 Thanks for your feedback, we'll investigate asap.

[2022-06-14 22:38] #23381 closed

[2022-06-14 23:47] iscai-msft opened #24849 "[core] add DPG models"
We want to add DPG models to `azure.core.serialization`.

These models should behave like a mapping, and as a more traditional model. We want these models to be able to replace raw `MutableMapping` JSON responses that we currently return in DPG generation. This means, when accessed with dict syntax, they should behave exactly the same as a `MutableMapping`. When accessed with attribute syntax, we

[2022-06-14 23:47] azure-sdk commented on #24849
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.21733461,Azure.Core:0.055009324,Cognitive - Form Recognizer:0.054307804'

[2022-06-14 23:50] iscai-msft opened #24850 "[BUG Bash] DPG Models"
Once we have reached a stable enough level of DPG model class (issue here https://github.com/Azure/azure-sdk-for-python/issues/24849), we would like to bug bash these models with the Python team.

We want to make sure these models are idiomatic, that the team is comfortable and enthusiastic about these being our new model story, and to add more tests and get rid of as many bugs as possible!

For t

[2022-06-14 23:55] #24707 closed

[2022-06-15 02:38] #24221 closed

[2022-06-15 03:18] #21304 closed

[2022-06-15 03:19] #24817 closed

[2022-06-15 03:19] #23828 closed

[2022-06-15 06:43] annatisch commented on #24836
Thanks for this report @bluenote10!
You're 100% correct - this should be added. `AzureNamedKeyCredential` was added to Azure Core some time after the first stable Storage SDK releases - and it looks like we forgot to go back and add support for it. Thanks for calling this out. :)

[2022-06-15 08:05] #24327 closed

[2022-06-15 08:05] #2908 closed

[2022-06-15 08:05] #2828 closed

[2022-06-15 09:46] Wzb123456789 commented on #24815
Hi @nadavu Thanks for your feedback.
Since I can't reproduce your problem with the code you provided, please provide a more detailed code module to better solve your problem.

[2022-06-15 11:35] #24785 closed, assigned to vincenttran-msft

[2022-06-15 15:25] nadavu commented on #24815
i guess the problem is with the assessment itself.
can you send me an example for  a valid assessment?

[2022-06-15 18:52] #24842 closed

[2022-06-15 21:06] swathipil opened #24862 "[ServiceBus] regenerate _generated code inside mgmt from SWAGGER"
It looks like there are typing issues being picked up by mypy in the `azure/servicebus/mgmt/_generated` folder.

1. Need to update the generation instructions in the README in the `azure-servicebus/swagger` folder.
2. Need to investigate whether the latest update to autorest fixes these by regenerating with the latest version of autorest + low-level client. (ex. Can follow the generation instructi

[2022-06-15 21:35] v-alje opened #24864 "Column headers are required for tables in Docs storage Topic."
Column headers are required for tables on Docs. Please add appropriate header text or remove any extra table cells that cause an extra column.

https://github.com/MicrosoftDocs/azure-docs-sdk-python/tree/main/docs-ref-services/preview/storage.md	(61,2)
https://github.com/MicrosoftDocs/azure-docs-sdk-python/tree/main/docs-ref-services/latest/storage.md	(61,2)
https://github.com/MicrosoftDocs/azure-

[2022-06-15 22:11] scbedd opened #24866 "Disable Component Detection During Release Phases"
[See here for an example](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1645257&view=logs&j=7bb69cc7-6f52-585e-8b13-5bae7c4a9fa4&t=7bb69cc7-6f52-585e-8b13-5bae7c4a9fa4)

There is no reason that this should be running! We run GC on the build itself _prior_ to the release.

[2022-06-15 22:50] vincenttran-msft opened #24869 "[Storage] Overhaul batch operations"
I have a previous draft PR that attempted to start the work on this -- but still needs to be fully fleshed out. Likely the work needed to be done is:
1. Some pre-processing of arguments and making sure certain arguments don't make it to the request
2. Calling into a unified `_generated` API instead of one-offs that do mostly the same thing but are built specifically for operations

Pain points: `e

[2022-06-16 00:41] kristapratico opened #24873 "[CLU] arch board feedback / TODOs before release"
So far, the checked things are covered by the swagger transforms.

- [x] Regenerate with latest DPG version and put authoring client under a `authoring` namespace. See this [branch readme](https://github.com/kristapratico/azure-sdk-for-python/blob/regen-clu-archboard/sdk/cognitivelanguage/azure-ai-language-conversations/swagger/README.md). Make sure we target a release branch for the GA.
- [x] Ren

[2022-06-16 00:43] kristapratico commented on #24873
@mshaban-msft

[2022-06-16 01:16] jalauzon-msft commented on #24847
Hi @affanv14 Mohammed, thanks for the report. Can you share a bit about how you are tracking the progress of the download? Also are you setting the `max_concurrency` keyword in your call to `dnowload_blob`? There is a known issue with the previously recommended way to track progress (if you are using the SDK to do so) when performing a concurrent download where the progress would never reach 100%.

[2022-06-16 04:03] #24589 closed

[2022-06-16 09:09] TobiRoby commented on #24661
Thanks for your feedback.

1. First error `Argument 1 to "upload_blob" of "BlobClient" has incompatible type "BufferedReader"`:
I can confirm that your suggestion for the first error resolves the first typing error.
[code]
@jalauzon-msft can you add it to the official documentation, please?

2. Second error `Argument 1 to "write" of "BufferedWriter" has incompatible type "Union[bytes, str]"; expec

[2022-06-16 09:16] TobiRoby commented on #24661
I really like your suggestion.
I try to use [pre-commit](https://pre-commit.com/) in combination with mypy/flake8/... for consistency purposes in every project.
@jalauzon-msft if you are interested in these topics let us know

[2022-06-16 09:53] msyyc commented on #13316
similar issue: https://github.com/Azure/azure-sdk-for-python/issues/24815

[2022-06-16 14:38] poleshe opened #24884 "[azure-storage-file-datalake] InvalidHeaderValue 2021-08-06 instead of 2021-06-08 on create_file"
- azure-storage-file-datalake
- 12.7.0
- Linux Ubuntu
- 3.8

**Describe the bug**
Files cannot be accessed when uploaded by the SDK since June 16, 11GMT+2, seems tied to the pre-release launch of the new version.

**To Reproduce**
Steps to reproduce the behavior:
1. Instantiate an azure datalake class using the default api_version parameter
2. Create file into datalake and then append data to it.

[2022-06-16 15:08] poleshe commented on #24884
Looks like the correct one is 2021-06-08 but the documentation states otherwise:

https://docs.microsoft.com/en-us/rest/api/storageservices/versioning-for-the-azure-storage-services

[2022-06-16 16:03] affanv14 commented on #24847
Hi @jalauzon-msft we originally had it running without any keywords and it was hanging. We tried a bunch of things including max_concurrency. the last thing we tried was
[code]

[2022-06-16 16:55] AymenFJA commented on #16769
@xiangyan99 Your ASAP is almost a year lol.

[2022-06-16 17:37] catalinaperalta commented on #22322
Not seeing this issue in latest runs.

[2022-06-16 17:37] #22322 closed

[2022-06-16 17:47] catalinaperalta commented on #21495
This feature was not added.

[2022-06-16 17:54] l0lawrence opened #24887 "[PyAMQP] Align Sync/Async Classes and Methods"
Currently in PyAMQP we have the following formatting:

from ._pyamqp import SendClient
from ._pyamqp.aio import SendClientAsync

We will probably will want to align these with the current formatting of the SDKs which would be

from ._pyamqp.aio import SendClient

[2022-06-16 17:57] kashifkhan commented on #24884
@poleshe Thanks for your feedback, we'll investigate asap.

[2022-06-16 18:01] #24732 closed

[2022-06-16 18:02] swathipil opened #24888 "[AMQP Python] pass batch=self._link_credit to connection in ReceiveClient._client_run"
We pass `batch=self._prefetch` in to `ReceiveClient.do_work` when receiving in the SDK. https://github.com/Azure/azure-sdk-for-python/blob/1ad3a2c8d7149838d5f3b45c3085cd5b4161583a/sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py#L231

However, we know that this prefetch has already been passed in during ReceiveClient instantiation and set to _link_credit in that client. https://github.com/A

[2022-06-16 18:39] jalauzon-msft commented on #24884
Hi @poleshe Pol, with the latest Preview release, we did release service version 2021-08-06 and the documentation was recently updated to reflect that. That type of error is from the service and can sometimes appear early on during our preview release as the new version may not be fully rolled out across the entire backend. We always try to avoid this but sometimes it slips through.

That being sa

[2022-06-16 18:45] poleshe commented on #24884
Greetings!

One issue from my side: My contact was using an older version. 12.3 to be exact. Updating the version to the latest stable allowed us to explicitly state the api_version, and after downgrading to 2021-06-08, we got it working again.

Regarding 2021-08-06, glad it's acknowledged. We were certainly confused with it.

Thanks! Have a nice day.

[2022-06-16 19:31] vincenttran-msft commented on #19202
Hi @JoaquinLeonArg Joaquín, I just wanted to touch base with you to see if this has not been resolved yet? I do see that the issue may lie our parsing so that may require further investigation and we will get back to you if there are any updates. In the meantime, perhaps this work-around would help to unblock your workflow:

`from_queue_url` accepts a `credential parameter as seen [here](https://g

[2022-06-16 20:35] jalauzon-msft commented on #20438
Hi @skylaro Skylar, apologies for the long delay with no communication on this.

We have just added support for AES-GCM-256 in the latest preview release [12.13.0b1](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-blob/CHANGELOG.md#features-added-1) and this will part of the next GA release as well. You can use the new algorithm by specifying `encryption_version='

[2022-06-16 20:35] #20438 closed

[2022-06-17 00:28] jalauzon-msft commented on #24847
Hi again @affanv14 Mohammed, thanks for sharing the sample. Can you also share a sample of how you are tracking the progress to show the output in your original post? This progress tracking output is not something I recognize so it must be custom on your end.

I'm trying to determine if the download itself is hanging or possibly the progress reporting is just never reporting that it's done. Thanks

[2022-06-17 00:35] jalauzon-msft commented on #24661
Hi @dimbleby and @TobiRoby, thanks for the follow-ups! Sorry, I totally missed this was coming from our documented sample so that's "egg on my face". We can consider updating the sample, but I think it would be better to fix the typing as David mentioned. It's just a bit tricky and likely `@overload` will not work in this case because the encoding parameter is actually passed to `download_blob` an

[2022-06-17 01:41] #24769 closed

[2022-06-17 04:41] bijoyboban7 commented on #15609
Hi Team, Similar to the issue mentioned above, i am also getting the timeout error from 16-06-2022 in cosmos db. Do you think its the same SSL error again?

(, 'Connection to <our account>.documents.azure.com timed out. (connect timeout=60.0)')

[2022-06-17 05:21] jimdigriz commented on #24766
Looks like I will be eating my hat!

Thanks to all those involved getting this done, your work has persuaded me next time to work through a fleshed out PR next time.

[2022-06-17 08:04] #21957 closed

[2022-06-17 16:28] xiangyan99 commented on #21932
Given the linked PR was closed as completed. I will close this one. Please feel free to reopen it if it is not solved.

[2022-06-17 16:39] xiangyan99 commented on #24643
I believe a fix is merged and will be available in next release. Please feel free to reopen if it is not solved.

[2022-06-17 17:51] mas-mreyes opened #24898 "AzureML Managed Identity Auth error"
- **Package Name**:
- **Package Version**:
[code]
- **Operating System**: Linux
- **Python Version**:  3.8

**Describe the bug**
When trying to run an experiment, and trying to initialize a Workspace Object in order to read from a DataSet on a Compute Cluster, I am getting the following error when trying to use ManagedIdentityAuthentication, even though when using ManagedIdentity inside AzureML No

[2022-06-17 17:52] azure-sdk commented on #24898
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.19434689,Machine Learning:0.12664787,Event Hubs:0.089505345'

[2022-06-17 19:36] affanv14 commented on #24847
[code]

here is what we used to log progress

[2022-06-17 20:38] mshaban-msft commented on #24873
@kristapratico - which authoring samples/tests do you think we should add?

[2022-06-17 20:40] kristapratico commented on #24873
Probably just one. I copied .NET's sample for the arch board: https://github.com/kristapratico/azure-sdk-for-python/blob/regen-clu-archboard/sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_import_project.py

[2022-06-17 22:32] vincenttran-msft commented on #24814
Hi @jenhagg thanks for your inquiry! This sounds like a feature request that would require Service support, and so I would hesitate to put any timelines on when we would get a feature like this in due to there being several high priority items currently on their docket.
However, after some digging and some investigation, I believe I have come up with a workaround that can be implemented in our cur

[2022-06-17 22:41] #23513 closed

[2022-06-17 23:44] swathipil opened #24901 "[ServiceBus] receive duplicate messages + hangs when link is force detached continuously"
Bug discovered while adding stress tests (#22852).

When a link is continuously force detached over a long period of time, we want to make sure that we continue receiving messages and the link attaches again/recovers. We also don't want to receive duplicate messages. However, we are receiving duplicate messages. I believe the message is not being dequeued from the internal message buffer/queue. To

[2022-06-18 00:23] jenhagg commented on #24814
Hi @vincenttran-msft, thanks for the detailed response! I think this solution is sufficient, assuming the `hdi_isfolder` property continues to be supported, so feel free to close this issue.

[2022-06-18 00:24] #24814 closed

[2022-06-18 08:03] #24566 closed

[2022-06-19 10:12] nadavu commented on #24815
@Wzb123456789
`{'additional_properties': {},
 'id': '<SOME_ID>',
  'name': 'SOME_NAME',
   'type': 'Microsoft.Security/assessments',
    'resource_details': {'Source': 'Azure', 'Id': '<ID>'},
    'display_name': 'There should be more than one owner assigned to subscriptions',
    'status': {'additional_properties': {}, 'code': 'Healthy', 'cause': None, 'description': None},
    'additional_data':

[2022-06-20 05:34] Sankarganesh2020 opened #24903 "azure-ai-formrecognizer==3.2.0b5 --> DocumentAnalysisClient not reading multiple page document with multiple invoices"
- **Package Name**: azure-ai-formrecognizer==3.2.0b5
- **Package Version**:  azure-ai-formrecognizer==3.2.0b5
- **Operating System**: linux, windows
- **Python Version**:  3.9

**Describe the bug**
A clear and concise description of what the bug is.
The form recognizer DocumentAnalysisClient for the prebuilt invoices is reading only the first page of the document.
In my document, i am having 2 inv

[2022-06-20 13:22] shadisalehs commented on #24765
Hi, I am having the same issue, deploying endpoint to aks, my env is as follows:
`channels:
  - anaconda
  - conda-forge
  - pytorch
dependencies:
  - python=3.7.9
  - pip=20.2.4
  - pip:
      - azureml-core==1.41.0.post3
      - azureml-mlflow==1.41.0
      - azureml-pipeline-core==1.41.0
      - azureml-telemetry==1.41.0
      - azureml-interpret==1.41.0
      - azureml-responsibleai==1.41.0

[2022-06-20 14:30] raja7592 commented on #24787
Hi MatthewGleeson: We have addressed the issue. The fix will be rolled out in upcoming SDK release. Thanks for reporting the issue.

[2022-06-20 15:33] kapoor1992 commented on #24765
@shadisalehs You have a typo. The library is `msrest`, not `mrest`.

[2022-06-20 15:47] kristapratico commented on #24903
Thanks for the feedback, @catalinaperalta can you take a look?

[2022-06-20 16:09] dfroger opened #24907 "CertificateCredential with password"
I'm looking for a working example of creating a certificate with password that can be used with `CertificateCredential(tenant_id=..., client_id=..., certificate_data=..., password=...)`.

I can make it work without password, but don't understand how to do with password.

Thanks!

# Without password: it works

I generate a user certificate + private key PEM file like this:

[code]

and I can setup

[2022-06-20 17:08] kristapratico commented on #24907
Hello thanks for the detailed feedback, @xiangyan99 can you take a look?

[2022-06-20 17:29] kristapratico commented on #24898
@azureml-github can you take a look at this issue?

[2022-06-20 18:00] dfroger commented on #24907
@xiangyan99 yes of course, I didn't noticed I pinned an old version...

Here is the update with azure-identity 1.10.0

[code]
[code]

I'm pretty that's a stupid error and I'm passing bad input to `CertificateCredential`.

[2022-06-20 19:39] #24634 closed

[2022-06-20 21:46] lnkirkham-datasparq commented on #13363
I have identical occurring: an additional " in the request URL when running inside a docker container.

Adding `RUN apt-get -y --no-install-recommends install ca-certificates` in my Dockerfile and rebuilding made no difference.

Any solutions found recently?

[2022-06-20 22:17] catalinaperalta commented on #24903
Thanks for reaching out @Sankarganesh2020! I ran tests using a multipage invoice and I do see that the service is returning one analyzed document instead of two. Looping in @vkurpad from the service side, could you help take a look at this?

[2022-06-20 23:36] #24827 closed

[2022-06-20 23:37] kristapratico commented on #24811
We decided to go with an `authoring` subnamespace and a `ConversationAuthoringClient`.

[2022-06-20 23:37] #24811 closed

[2022-06-20 23:37] kristapratico commented on #24588
This work was completed in #24594

[2022-06-20 23:37] #24588 closed

[2022-06-21 00:29] richardpark-msft opened #24915 "AppInsights, ARM - getting/creating Annotations causes a deserialization error"
**Describe the bug**

The AppInsights mgmt package has an API for manipulating Annotations.

When creating or getting an Annotation there's a deserialization exception. The annotation does actually get created, so it appears the issue is just in deserializing the response when it has an Annotation.

***Exception or Stack Trace***

This stack trace is from a `.create()`:

[code]

**To Reproduce**

[2022-06-21 01:16] catalinaperalta opened #24916 "[formrecognizer] Copy tests model ID assert failing"
Assert with targetModelID not passing.

[2022-06-21 03:53] Wzb123456789 commented on #24815
Hi @nadavu
After investigation, it was found that the cause of this error was a problem defined by swagger. Because the parameters defined by swagger and returned by service were inconsistent, resulting in deviations when the SDK was deserialized, this Warning was reported.

我已经在swagger上提了相关的issue:https://github.com/Azure/azure-rest-api-specs/issues/19530

[2022-06-21 04:03] #24608 closed

[2022-06-21 04:27] navba-MSFT commented on #24538
I have involved the Service team on the issue https://github.com/Azure/azure-rest-api-specs/issues/19267. Archiving this thread as duplicate.

[2022-06-21 04:27] #24538 closed

[2022-06-21 04:32] navba-MSFT commented on #24721
Adding Service team to look into this.

@azureml-github @Azure/azure-ml-sdk could you please look into this ask and provide an update ?

[2022-06-21 04:35] navba-MSFT commented on #24696
@michyweb Did you get a chance to look at the above suggestions provide by @BigCat20196 . Please let us know if you need any  further assistance on this thread. Awaiting your reply.

[2022-06-21 04:38] navba-MSFT commented on #24695
@rcampos87 Did you get a chance to look at the above suggestions provide by @Wzb123456789 . Please let us know if you need any further assistance on this thread. Awaiting your reply.

[2022-06-21 05:18] rcampos87 commented on #24695
@navba-MSFT @Wzb123456789 thanks for the reply. I have opened a ticket with tech support for App Services that deals with Rest API, thanks for the help.

[2022-06-21 05:49] navba-MSFT commented on #24695
@rcampos87 Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-21 05:49] #24695 closed

[2022-06-21 12:41] NarasimmanSaravana1994 opened #24925 "Unable to send the message using topic in azure service bus"
In the azure service bus version 7.7.0. I sent the topic message but not received the message in the service bus subcrition.

@team Need any extra detail means I will provide.

[2022-06-21 15:10] LahariChidura opened #24927 "ContainerInstanceManagementClient does not work with Managed Identity in USGov Cloud"
- **Package Name**:  azure-mgmt-containerinstance
- **Package Version**: 9.2.0
- **Operating System**: Linux
- **Python Version**: 3.7

**Describe the bug**
ContainerInstanceManagementClient does not work with Managed Identity in USGov Cloud with the error -

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create container instance management client -
[code]
2. Create a container inst

[2022-06-21 16:14] xiangyan99 commented on #24907
Can you try install cryptography==3.4.8?

It seems to me a regression in cryptography library.

[2022-06-21 16:27] xiangyan99 commented on #24907
Thanks for the update.

[2022-06-21 16:32] kristapratico commented on #24925
Hi @NarasimmanSaravana1994, thanks for your feedback. Would you mind sharing a snippet of example code to reproduce this scenario?

[2022-06-21 17:57] swathipil commented on #24901
breadcrumbs from Richard about running into something similar in Go:
`In go-amqp I have a function (called Prefetched()) that only exists to drain the internal message channel in the receiver.`
`Since you have full and wonderful control over your receiver you could do the same. Like a "Flush()"`
`One funny thing that happened to me is that I gave back a flushed message but it'd been so long since

[2022-06-21 18:26] major opened #24928 "[azure-core] Failing to import in Python 3.11.0b3"
- **Package Name**: `azure-core`
- **Package Version**: `1.23.1`
- **Operating System**: `Fedora 37`
- **Python Version**: `3.11.0b3`

**Describe the bug**
Fedora 37 has just updated to Python 3.11.0b3 to prepare for the Python 3.11 final release. However, this has caused issues in `azure.core` with typed variables:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `podman run --rm -it

[2022-06-21 18:49] packet-sniffer opened #24929 "use of pep-8 in python documentation"
[Hello-- I am seeing that variables names are not written according to pep-8 standards, and then the users who follow the azure doc are also following similar format, hence learning the wrong way. ref: https://peps.python.org/pep-0008/#function-and-variable-names]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b58f3530

[2022-06-21 19:16] kristapratico commented on #24928
Thanks for your feedback, we'll investigate asap.

[2022-06-21 19:26] kristapratico commented on #24929
Thanks @packet-sniffer, just for clarity are you talking about the examples in documentation or the client library itself?

[2022-06-21 19:48] packet-sniffer commented on #24929
Hi @kristapratico -- Thank you for your response, this is in regards to the example, the reason I bring it up is I have some team mates starting to learn python and they are following the naming standards from these documentation, which is not as per the standard.

[2022-06-21 19:49] packet-sniffer commented on #24929
Hi @kristapratico -- Thank you for your response, this is in regards to the example, the reason I bring it up is I have some team mates starting to learn python and they are following the naming standards from these documentation, which is not as per the standard.

[2022-06-21 21:20] mccoyp opened #24934 "Write documentation for the EnvironmentVariableLoader"
We currently link directly to the preparer's source code in the test proxy migration guide because there's no specific documentation on how it works. There's a [small section](https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/tests.md#deliver-environment-variables-to-tests) in `tests.md` that describes the service principal variables that are necessary to use the preparer, but this i

[2022-06-21 23:40] jalauzon-msft opened #24936 "[Storage] Migrate to test-proxy"
Opening a master Issue for migrating Storage to test proxy. This will only be closed when all packages/tests have been migrated.

**General Notes**

- All async tests will be named exactly the same as their sync counterparts (drop the suffix)

**Checklist**
- Cleanup imports. Remove unused, divide into proper grouping (internal libs, external libs, local references), and sort alphabetically.
- Ren

[2022-06-22 01:06] jalauzon-msft commented on #22297
Hi @AdmiralGT Geoff, thanks so much for the sample and especially about the bit with the CDN! I was able to repro this issue when using a CDN. As you mentioned above, it seems responses from the CDN do not include the `Content-Range` header which is strange. I'm not entirely sure if this is supposed to be supported or if something is going wrong on the CDN -> Storage end.

I will investigate furth

[2022-06-22 02:09] msyyc opened #24939 "[DPG][Quick-Start-Tool] add `ci.yaml` to new service folder"
For new service, it needs `ci.yaml` to release. now [quick start tool](https://github.com/Azure/azure-sdk-for-python/tree/main/scripts/quickstart_tooling_dpg) lacks the function and customers need to add it manually which is inconvenient for customers.

[2022-06-22 02:14] BigCat20196 commented on #24663
Hi @jboliv01, new sdk released. You could use `headers` to add your parameters.

pipy link: https://pypi.org/project/azure-mgmt-consumption/10.0.0/
fyi: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/consumption/azure-mgmt-consumption/azure/mgmt/consumption/operations/_usage_details_operations.py#L160

[2022-06-22 07:48] calvinhzy opened #24943 "azure-storage-file-share file upload/download progress callback is not async safe"
- **Package Name**: azure-storage-file-share
- **Package Version**: 12.8.0
- **Operating System**: Windows
- **Python Version**: 3.9.6

**Describe the bug**
A clear and concise description of what the bug is.
Progress callback for file upload and download is not async safe. Please refer to the similar problem for azure-storage-blob https://github.com/Azure/azure-sdk-for-python/issues/23934

**To R

[2022-06-22 14:14] affanv14 commented on #24847
There are statements after this(including a log statement right after) which is not reached. I am certain that it hangs on this. Furthermore, we previously had no params passed in the download_blob call - it was still having the issue

[2022-06-22 18:37] richardpark-msft commented on #24901
I should have known that was going to happen. I regret all the time I spent helping you.

[2022-06-22 21:00] major opened #24948 "azure-common: Imports adal, but adal not in install_requires"
- **Package Name**: `azure-common`
- **Package Version**: `1.1.22`
- **Operating System**: `Fedora 37`
- **Python Version**: `3.11.0b3`

**Describe the bug**
The `azure-common` package imports `adal` in `azure/common/client_factory.py`, but `adal` is not in `install_requires` within `setup.py`. That causes an error during Fedora RPM package builds because `azure.common.client_factory` cannot be im

[2022-06-22 21:27] kristapratico opened #24950 "[translation] fix failing live tests in PPE"
Test resources are successfully deploying, but we're getting an error for each test:

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1660713&view=results

[2022-06-22 21:36] Sreevisakh1985 opened #24951 "Setting timeout on the autorest python client"
Hello,

How do I specify timeouts for the auto rest python client ?  I have followed the [docs](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/core/azure-core/README.md#configurations) , and tried to pass connection_timeout to the clients. And it didn't work. Read_time out did work, but I am looking for timeout on the connection.  I do see there's another variable timeout, can this be

[2022-06-22 21:36] azure-sdk commented on #24951
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.14233401,KeyVault:0.05638451,Azure.Core:0.054334108'

[2022-06-22 21:51] Sreevisakh1985 commented on #24951
Hi @kristapratico  thanks for the quick response.
Here are the libraries and  versions

`
  Auto rest - 3.5.0
  Auto rest core - 3.6.4
`

Here's the sample code used to call one of the auto rest generated operations

[code]

 I tried to use connection_timeout as well, but that didn't work

Let me know if you need any additional details. Thank you

[2022-06-23 00:03] xiangyan99 commented on #24951
May I ask how you detected connection_timeout did not work?

[2022-06-23 00:06] xiangyan99 commented on #24948
Thanks for reporting the issue.

It is by design that we don't msrestazure and adal libraries.

azure-common is used by both track 1 and track 2 libraries and only track 1 libraries need azure.common.client_factory.

So we decided to make track 1 libraries require msrestazure and adal rather than setting the requirements in azure-common.

Can we disable the auto-importing?

Thanks.

[2022-06-23 01:23] #22185 closed

[2022-06-23 01:40] tomkp75 commented on #23583
@paterasMSFT I see you closed the ticket. Does it mean that this issue is supposed to be fixed? I'm still facing it.

[2022-06-23 07:41] dfencegit opened #24957 "Blob base_client.py precludes use of non-public azure endpoints"
- **azure-storage-blob**:
- **12.12.0**:
- **Any**:
- **Any**:

**Describe the bug**
The Blob service base_client.py code uses a hardcoded value "core" to split the account name from the parsed url string but the use of the word "core" in the split string precludes using this code against anything but public Azure for example this will not work against and Azure Stack Hub storage endpoint.

**To R

[2022-06-23 08:18] ewongbb opened #24958 "Downloading page blob with azure.storage.blob's BlobServiceClient fails with ConnectionReset (10054) error."
- **Package Name**:  storage.blob
- **Package Version**:  12.12.0
- **Operating System**: Windows 2008r2
- **Python Version**:  3.8.1

**Describe the bug**
I'm currently trying to download a leased page blob (image of a vm as vhd) from my container with the following code:

[code]
After a bit, it would crash with the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Sa

[2022-06-23 08:23] PetreBogdan commented on #24266
Are there any updates on this issue?

[2022-06-23 09:55] ewongbb commented on #24958
Just tried it again and this time it hit 10.799 % before it died..  Though I see the following:
[code]

[2022-06-23 13:00] mbelak-dtml opened #24959 "ServiceBus not respecting environment variables HTTP[S]_PROXY"
- **Package Name**: azure-servicebus
- **Package Version**: 7.6.1
- **Operating System**: Linux (ubuntu 20.04)
- **Python Version**: 3.9.12

**Describe the bug**
The Service Bus SDK ignores setting of variables HTTP_PROXY and HTTPS_PROXY.

**To Reproduce**
Steps to reproduce the behavior:
0. Set up a proxy server. You can use for example squid in docker
  a. Terminal 1 - run proxy
  `docker run --

[2022-06-23 14:40] Sreevisakh1985 commented on #24951
Its detected during one of our performace tests, where we created a congestion at the server side. And my understanding is connection_timeout is used limit the time of establishing connection b\w client and server.  Please correct me if I am wrong.

[2022-06-23 15:52] xiangyan99 commented on #24951
Thanks for your information.

Given your code uses sync method, and we call into requests library, can you try

r = requests.get(YOUR_URL, timeout=(300, 300))

and see if it works?

Thanks.

[2022-06-23 16:15] kristapratico commented on #24957
Hi @dfencegit, thanks for your feedback. @jalauzon-msft @vincenttran-msft can you take a look at this?

[2022-06-23 16:16] kristapratico commented on #24958
Hi @ewongbb thanks for your detailed report, we'll investigate asap.

[2022-06-23 16:17] kristapratico commented on #24959
Hi @mbelak-dtml thanks for your issue, we'll take a look asap.

[2022-06-23 16:51] xiangyan99 commented on #5775
https://docs.microsoft.com/azure/api-management/.

[2022-06-23 17:00] #20877 closed

[2022-06-23 17:04] xiangyan99 commented on #21587
Since this is defined in the swagger, please open issues in https://github.com/Azure/azure-rest-api-specs repo.

[2022-06-23 17:04] #21587 closed

[2022-06-23 17:08] xiangyan99 commented on #23061
Please open a support ticket to get help on the issue.

[2022-06-23 20:30] Sreevisakh1985 commented on #24951
Thank you.
I was under the assumption that timeout is just a float value ? What are these values in this tuple meant (300, 300) ?

[2022-06-23 20:33] RDukes425 opened #24961 "Default API Version in ResourceManagementClient class fails (AzureUSGovernment and AzureCloud)"
When trying to execute an operation under the ResourceManagementClient class to list a Log Analytics Workspace by Resource ID, the results return an API version failure for workspaces.
Reference: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/_resource_management_client.py#L59

Previous Issues Submitted:
https://github.com/Az

[2022-06-23 20:36] xiangyan99 commented on #24951
https://requests.readthedocs.io/en/latest/user/advanced/.

The timeout value will be applied to both the connect and the read timeouts. Specify a tuple if you would like to set the values separately:

r = requests.get('https://github.com', timeout=(3.05, 27))

The tuple is (connection_timeout, read_timeout).

If you don't specify the read timeout, it defaults to 300s (5 mins).

[2022-06-23 20:50] kristapratico opened #24962 "[CLU] unskip LUIS orchestration test"
Once UK South is updated to support the latest version of LUIS, re-enable tests attributed to this tracking issue.

[2022-06-23 20:56] Sreevisakh1985 commented on #24951
Sorry , confused here. I am not using the requests object directly, instead I am using the auto rest generated client to make the api calls. And seems like timeout as a tuple is not allowed in the client.

[2022-06-23 21:00] xiangyan99 commented on #24951
When you use auto generated client and only specify connection_timeout as a float, we (azure-core) make it into a tuple with appending default read_timeout 5 mins and pass it into requests library.

[2022-06-23 21:09] Sreevisakh1985 commented on #24951
Okay, so I have to specify both the values like this.  ` ServiceClient(base_url="http://localhost:8000").operation.get_foo( connection_timeout=4,
                               read_timeout=4)`  . right ?

[2022-06-23 21:12] xiangyan99 commented on #24951
Both of the default setting of connection_timeout and read_timeout are 5 mins.

If you don't specify, we use the default value.

Given you said connection_timeout did not work, I assume you only set one hence in your test, you had connection timeout for 4 sec but read timeout for 5 mins.

So I guess the answer is yes. :)

[2022-06-23 21:20] Sreevisakh1985 commented on #24951
I tried both, but didn't set them together. Its workig now.. Thanks  for the quick responses

[2022-06-24 00:06] jalauzon-msft commented on #22297
Hi again @AdmiralGT, so after some investigation we've concluded this to be an issue with the Azure CDN service and the way it interacts with the Storage service. The `Content-Range` header should always be returned from the blob download. We've started an escalation internally to get the CDN service team to look into this, but this could take some time to get fully fixed. Fortunately, I do have a

[2022-06-24 01:27] tomkp75 commented on #21811
Hi, is there a known workaround to address that? Thanks

[2022-06-24 01:59] swathipil commented on #24266
Hey @navba-MSFT - It looks like [@vnetsupp](https://github.com/vnetsuppgithub) hasn't alerted anyone. Do you know of anyone else who might be able to look into this? Thanks!

[2022-06-24 02:46] navba-MSFT commented on #24266
@swathipil @PetreBogdan Thanks for reaching out. I will check with the team offline and update this thread once, I hear from them. However, I don't have an ETA on when I might hear from them.

[2022-06-24 03:28] navba-MSFT commented on #24696
@michyweb The action is currently pending on you to try the above suggestion. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-24 03:28] #24696 closed

[2022-06-24 04:07] PramodValavala-MSFT commented on #24929
@packet-sniffer Is there a particular example that you are referring to here or perhaps that you've come across such examples in general?

[2022-06-24 06:06] msyyc opened #24972 "[Mgmt][Botservice] multi inheritance problem"
- **Package Name**: azure-mgmt-boservice
- **Package Version**: 2.0.0b2
- **Operating System**: Linux/Windows
- **Python Version**: 3.7.0

**Describe the bug**
When initialize model `Site`, the following error will be raised:
[code]

**To Reproduce**
Steps to reproduce the behavior:
run the following code:
[code]

**Expected behavior**
The model could be initialized successfully

**Screenshots**
I

[2022-06-24 06:27] msyyc commented on #24972
The issue is related with python multi inheritance mechanism: https://github.com/Azure/azure-sdk-for-python/blob/ed8cb1754d5f91fd8ce7c2d9921d4dc3c960035a/sdk/botservice/azure-mgmt-botservice/azure/mgmt/botservice/models/_models_py3.py#L3085

The actual order to call `__init__` is `DirectLineSite->WebChatSite->Site`, but parameters pass order is inverse. Therefore, even if we pass in `site_name` bu

[2022-06-24 07:27] gisandnes opened #24973 "AzureBlobDatastore needs AccountKeyCredentials"
- azure.ai.ml:
- 0.1.0b4:
- MacOS 12.4:
- 3.8.12:

**Describe the bug**
In Jupyter notebook https://github.com/Azure/azureml-examples/blob/main/sdk/resources/datastores/datastore.ipynb the section "2.1.1 Create a datastore with account key" did not work

**To Reproduce**
Steps to reproduce the behavior:
blob_datastore1 = AzureBlobDatastore(
    name="blob-example",
    description="Datastore point

[2022-06-24 07:54] dimbleby commented on #22297
If the SDK can't be made to cope without a `Content-Range` header, can it at least be taught to give a better error?

A message saying "Mandatory Content-Range is missing" and maybe "please report this at <wherever>" would have gained maybe six months on this issue.

[2022-06-24 08:03] #22445 closed

[2022-06-24 12:40] gpnikhil opened #24974 "need a sample for creating access package using python sdk"
Im trying to find a proper sdk module which fits my requirement of creating a access package in azure AD - identity governance using python sdk

[2022-06-24 12:40] azure-sdk commented on #24974
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.5814931,Azure.Core:0.028540632,Machine Learning:0.02343988'

[2022-06-24 16:34] xiangyan99 commented on #24961
Thanks for the feedback, we’ll investigate asap.

[2022-06-24 16:35] xiangyan99 commented on #24973
Thanks for the feedback, we’ll investigate asap.

[2022-06-24 16:37] xiangyan99 commented on #24974
Thanks for reaching out.

Could you give more details about the access package?

[2022-06-24 16:56] Man-MSFT commented on #24973
Thanks for the bug report @gisandnes! We will fix the example notebook.

[2022-06-24 19:17] major opened #24977 "Tests should run without network access and be consistent in PyPi"
**Is your feature request related to a problem? Please describe.**
I package various Azure SDK components in Fedora Linux for use with `azure-cli`, and one of my frustrations is around running tests. During RPM builds, no network access is allowed. However, many of the SDK tests require network access or they have a VCR cassette that is outdated. This prevents me from running tests.

I've reviewed

[2022-06-24 19:17] azure-sdk commented on #24977
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.12790225,Network - Virtual Network:0.11832973,Search:0.029103864'

[2022-06-24 22:03] #24606 closed

[2022-06-24 22:03] #21932 closed

[2022-06-24 22:06] anishnair-kpmg commented on #24643
/unresolve
@xiangyan99 Thank you so much. I'm glad to hear that it's fixed and changes are merged. Could you please let me know when this is set to release?

[2022-06-24 22:10] xiangyan99 commented on #24643
It would be available in July's release (which would be a beta release).

You can install the live bits if you want to try it now.

[2022-06-24 22:14] anishnair-kpmg commented on #24643
@xiangyan99  Thank you for quick response. That's helpful. Given that it's working with an older version for now, I'm happy to wait until the release. I will let you know once I validate it using latest release. Once gain thank you for fixing this issue :)

[2022-06-24 22:47] travcunn commented on #21575
Is this issue closed if there is no patch for the fix?

[2022-06-24 23:12] catalinaperalta opened #24980 "[formrecognizer] Consistency issues"
Look into:
- [x] checkout model naming in begin_analyze_document do we use model_id everywhere else? Should we unify?
- [x] rename begin_create_compose_model -> begin_compose_model - follow up
- [x] rename get_account_info -> get_resource_info
- [x] rename AccountInfo -> ResourceInfo
- [x] check the dict[str, str] returned from get_copy_authorization...other langs use a model should we have a type

[2022-06-25 00:24] catalinaperalta commented on #20863
After naming and consistency meeting, we decided to keep `document` as the best option for `begin_analyze_document`.

[2022-06-25 00:24] #20863 closed

[2022-06-26 06:08] gpnikhil commented on #24974
You can look at this, I want to create the same using python sdk

https://docs.microsoft.com/en-us/azure/active-directory/governance/entitlement-management-access-package-create

[2022-06-27 02:27] msyyc commented on #24961
Hi, @RDukes425, according to log info:
[code]
The error is returned by service server. Since SDK is just to send/receive http request/response to/from service server, we can't solve the server problem. I notice you have opened an issue in right place https://github.com/Azure/azure-rest-api-specs/issues/18857 so please ask for help in that issue

[2022-06-27 06:43] dfencegit commented on #24957
Hi @vincenttran-msft thanks for your help on this, if we take the approach of using credential parameter does it not append the standard "blob.core.windows.net" dns path to get the full address and so we end up with a similar problem in that we cant use this to hit a non-public azure endpoint.

Thanks.

[2022-06-27 10:10] bittu1985 opened #24987 "Not able to read/write Azure service bus with python SDK."
Getting below exception while reading /writing from service bus and the code when am trying to read from my dev environment by am able to read & write from service bus explorer.Pls help.

azure.servicebus.exceptions.ServiceBusConnectionError: Unable to open authentication session on connection b'SBSender-9394685d-f9cc-4183-bc8e-90bbd7fa1d81'.
Please confirm target hostname exists: b'xxxx.servicebu

[2022-06-27 15:37] l0lawrence commented on #24987
Hi @bittu1985, thanks for the feedback. We will investigate asap.

[2022-06-27 17:18] anatolip commented on #24903
Current Invoice API assumes that whole input document is a single invoice and it does not do any document splitting. It selects value with highest confidence across all pages for each field.
It is possible to use "pages" parameter of invoice API to run model for each page independently and implement some post custom post-processing logic to merge results (i.e. if InvoiceId is different on the next

[2022-06-27 17:33] lmazuel opened #24989 "Don't import requests/aiohttp in SDK"
Transport is pluggable, and SDK can't know in advance what the transport will be (can be pyodide, httpx, or else).

Any import of `requests` or `aiohttp` should be flagged as invalid (whatever it's using `import` or `from`)

[2022-06-27 18:04] johanste opened #24990 "Provide buffered sender abstraction in Azure Core"
We have a set of scenarios that involve buffering of messages/requests on the client side in order to improve performance. It feels like we could provide a common abstraction for the scenario (very limited POC below).

[code]

[2022-06-27 18:04] azure-sdk commented on #24990
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.37722763,Service Bus:0.105184436,Event Hubs:0.077120215'

[2022-06-27 18:28] #24873 closed

[2022-06-27 18:44] jalauzon-msft commented on #24957
Hi @dfencegit Anthony, if you go with the approach mentioned above, the SDK should not modify your URL in any way. Please let us know if this is not the case. Thanks!

[2022-06-27 20:16] xiangyan99 commented on #24974
Thanks for the information.

Adding graph team.

[2022-06-27 20:17] xiangyan99 commented on #24974
@dkershaw10 @baywet

[2022-06-27 20:25] baywet commented on #24974
@gpnikhil I believe the equivalent for Microsoft Graph is [this endpoint](https://docs.microsoft.com/en-us/graph/api/entitlementmanagement-post-accesspackages?view=graph-rest-1.0&tabs=http) (the AAD graph is getting deprecated).

The team is working hard to get a chained style Python SDK out (like we have in .NET/Java/Go...) while it's not out yet (probably still a couple of weeks away), you can u

[2022-06-27 21:29] kristapratico opened #24993 "[cognitivelanguage] update AAD role on readme"
There is a new role called "Cognitive Services Language Reader" which is the minimum role to support AAD auth for cognitive language. We can update this across READMEs.

- [x] CLU
- [x] QA
- [x] TA

[2022-06-27 23:22] #23450 closed

[2022-06-28 02:03] catalinaperalta opened #24999 "[formrecognizer] Compile list of daily pipeline failures"
calculate percentage of time SDK fails due to SDK related issues.

[2022-06-28 02:17] gemone commented on #24182
Hello, this operation seems to be dangerous. Suppose there are multiple rules in my rule collection. If a new object is generated midway, it may cause misoperation. Is it possible to provide atomic operations on rules?

[2022-06-28 05:37] gpnikhil commented on #24974
Hi Team,

Thank you for the update.

I have one more thing to ask, graph authentication for Service principal for the Graph API, how can i do that ?

[2022-06-28 08:03] #23794 closed

[2022-06-28 08:48] joBr99 commented on #24696
I'm able to reproduce this error and I'm getting the same errors @BigCat20196 is getting.

@navba-MSFT There is no suggestion for a fix in the post, if the Issue belogs to the azure-rest-api-specs repo, the issue should be moved or a seperate issue should be created.

[2022-06-28 13:46] mbelak-dtml commented on #24959
Hi, yes, I have been able to use a proxy using the provided example.

However, it has taken some time to debug this issue since the Azure SDK documentation states that all client libraries should follow the proxy configuration provided by environment variables and the error message is not very helpful.

[2022-06-28 14:24] baywet commented on #24974
By service principal I'm guessing you're referring to managed identity (credentials are handled by the Azure service your code is running on)?
This should be possible via the default Azure credentials https://pypi.org/project/azure-identity/ which will read environment variables set by the Azure Service before your application is started.

Also @samwelkanda who is the maintainer of the Python Grap

[2022-06-28 15:17] #24987 closed

[2022-06-28 15:27] l0lawrence opened #25002 "[Messaging] Proxy Configuration Align with Microsoft Docs"
There is a disparity between the Microsoft Proxy Documentation and the messaging services Proxy configuration. These will need to be aligned.

*Contact doc team to update documentation

[Microsoft Docs ](https://docs.microsoft.com/en-us/azure/developer/python/sdk/azure-sdk-configure-proxy?tabs=cmd#global-configuration)

[Proxy Config](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/ser

[2022-06-28 15:29] l0lawrence commented on #24959
Awesome! @mbelak-dtml we will look into aligning the two to avoid this in the future, thank you! [Issue Created](https://github.com/Azure/azure-sdk-for-python/issues/25002)

[2022-06-28 16:16] simorenoh opened #25004 "[Cosmos] Look into distinct query behavior"
Currently, the Cosmos SDK has intermittent failures in the test_distinct tests present in the test_query.py file, creating noise in the pipelines by choosing when to pass and when to fail. This issue will be used to track the fact that further research into this is necessary, and to keep us on top of fixing this.

Follow-up to PR: https://github.com/Azure/azure-sdk-for-python/pull/25003

[2022-06-28 17:08] 98477772 opened #25006 "[BUG Bash]"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2022-06-28 17:58] rjtshrm opened #25007 "allow_reuse to force run steps in Azure ml pipeline python sdk v2"
- **Package Name**: azure.ai.ml
- **Package Version**:
- **Operating System**: linux
- **Python Version**: 3.9

**Describe the bug**
I am running a training pipeline on azure ml python sdk v2. It is running fine but when I am reinitiating it, it takes only 1 second to finish which I assume is taking previous step from last ran pipeline. In v1 sdk we have allow_reuse parameter to stop this behaviou

[2022-06-28 18:17] #23622 closed

[2022-06-28 19:42] jenhagg opened #25012 "Deserialization error downloading an empty file"
- **Package Name**: azure-storage-file-datalake, msrest
- **Package Version**: 12.7.0, 0.6.21
- **Operating System**: mac os
- **Python Version**: 3.9.6

**Describe the bug**
edit: nevermind, I just noticed this was a warning
There is a deserialization ~~error~~ warning when I attempt to download an empty file.

**To Reproduce**
[code]

**Expected behavior**
I would expect `blob.download_file()` t

[2022-06-28 19:43] l0lawrence commented on #25007
Hi @rjtshrm , thanks for the feedback. We will investigate asap. @azureml-github

[2022-06-28 19:49] #25012 closed, assigned to nobody

[2022-06-28 21:33] #25006 closed

[2022-06-28 22:04] #24927 closed

[2022-06-28 22:04] #24907 closed

[2022-06-28 22:44] jalauzon-msft commented on #24958
Hi @ewongbb, sorry for the delay and that you are experiencing this issue. Connection Reset errors originate from the Storage service and there's not much the client can do besides retry. The retry policy of the SDK is supposed to be automatically retrying these requests for you when a Connection Reset occurs. Usually, a retry is able to succeed but it seems in your case this is a bit more consist

[2022-06-28 22:57] swathipil opened #25016 "[Python AMQP] update token_type being passed into JWTTokenAuth"
This like looks wrong: https://github.com/Azure/azure-sdk-for-python/blob/1ad3a2c8d7149838d5f3b45c3085cd5b4161583a/sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/authentication.py#L128

Should be popping `token_type` I believe. However, replacing "kwargs" with "token_type" while using the DefaultAzureCredential results in the following error:
[code]

[2022-06-28 23:20] jalauzon-msft commented on #23645
Hi @xiangyan99, I was hoping to get some help from someone who works on Core on this since the Blob clients just call the generated client's `__aexit__` so I don't think the issue is specific to `azure-storage-blob`.
https://github.com/Azure/azure-sdk-for-python/blob/b0f9e02b2d597a57dcef33bb265c4b5c47ad0a85/sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client_async.py#L59-L60

Is

[2022-06-29 09:01] lnkirkham-datasparq commented on #23538
Also have the same issue. Any update on this?

[2022-06-29 09:16] nagydavid opened #25018 "azureml-dataset-runtime (failed to build numpy)"
- azureml-dataset-runtime:
- 1.43.0:
-  macOS Monterey (Silicon M1 Pro):
- 3.8.13, 3.9.13, 3.10.4:

**Describe the bug**
[code]
**To Reproduce**
[code]
**Expected behavior**
Library installs as expected
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.
[error_msg.txt](https://github.com/Azure/azure-sdk

[2022-06-29 10:05] keriksson-rosenqvist opened #25019 "Inconsistent version indexing"
- **Package Name**: azure-keyvault-secrets
- **Package Version**: 4.4.0
- **Operating System**: Ubuntu 20.04
- **Python Version**: 3.9.13

**Describe the bug**
Using the same command to get and iterate through versions of two different secrets starts with different version "offsets". One where the first version is the current version as shown in the Azure portal view, and the other starts from the

[2022-06-29 10:06] azure-sdk commented on #25019
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'KeyVault:0.21158333,Service Bus:0.13389705,Storage:0.09951048'

[2022-06-29 14:41] rjtshrm opened #25020 "How to run next step as a graph in azure ai ml sdk2"
- **Package Name**:  az.ai.ml
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
I am running different steps in azure ai ml using **command** api. But they are running in random order. I want to run them sequentially. I don't have any data injection from previous step to next step as I am saving the output of one step on cloud storage and next step will fet

[2022-06-29 16:01] sachindedhia opened #25021 "Switch between Manual and Autoscale"
We have two scenario where we would like to switch between Manual and Autoscale mode. At the moment, we are performing manually using Azure portal but we would like to automate it.

We perform large bulk load of data every month but other time, there is limited read operation going on. To handle this, when we perform bulk load - we scale cosmos db to 120k manual and then once the load is complete,

[2022-06-29 16:24] xiangyan99 commented on #23645
I instrumented the code and seemed like aiohttp session was successfully closed.

Also, I cannot reproduce the issue in other service libraries. (IIRC, that was the reason I assigned the issue back to you 3 months ago)

Feel free to ping me and we can investigate further offline. @jalauzon-msft

[2022-06-29 19:08] l0lawrence commented on #25018
Hi @nagydavid thanks for the feedback. We will investigate asap. @azureml-github

[2022-06-29 19:09] l0lawrence commented on #25021
Hi @sachindedhia thanks for the feedback. We will investigate asap.

[2022-06-29 19:10] jazelenk opened #25025 "azure-mgmt-dns does not support the most recent API version"
- **Package Name**: azure-mgmt-dns
- **Package Version**: 8.0.0
- **Operating System**: Linux
- **Python Version**: 3.8

**Describe the bug**
azure-mgmt-dns does not support API version 2018-09-01

**To Reproduce**
Steps to reproduce the behavior:
1. Install azure-mgmt-dns
2. Observe that the newest version is v2018_05_01 and there is no support for private DNS zones. That support is in v2018-09-0

[2022-06-29 19:14] l0lawrence commented on #25019
Hi @keriksson-rosenqvist, thanks for the feedback. We'll investigate asap.

[2022-06-29 19:42] simorenoh commented on #25021
Hi @sachindedhia, thank you for using our SDK and creating this issue. The work for the SDK to create and update autoscale throughput settings for containers and databases is currently being worked on by @JericHunter - we'll make sure to let you know once it is released publicly in the SDK for you to use.

[2022-06-29 19:52] #22218 closed

[2022-06-29 20:06] kristapratico opened #25027 "[CLU] add ability to cancel an analyze conversation LRO"

[2022-06-29 20:29] luigiw commented on #25020
@rjtshrm Thx for your feedback. "run after" is a feature we've planned for and are actively working on. Before that feature is available in v2 SDK, what you did is the recommended workaround. Can you share your pipeline definition code?

[2022-06-29 20:47] luigiw commented on #25018
@nagydavid Thx for providing the feedback. This issue sounds like is caused by numpy not being supported natively on M1. haven you also reported this to numpy? One workaround is to use Rosetta to run Python on your M1 Mac.

[2022-06-29 22:07] #24943 closed

[2022-06-30 01:24] mccoyp commented on #25019
Hi @keriksson-rosenqvist, thank you again for opening an issue! This behavior seems to be because of how the list of secret version properties is returned by the Key Vault service. Rather than ordering the version properties by the time at which the secret version was created, the service appears to order the list by the name of the secret version string (0-9, then a-z).

For example, if I run the

[2022-06-30 01:32] wangchao1230 commented on #25007
Thanks for the feedback. Please use is_deterministic argument.
[code]

[2022-06-30 02:22] msyyc commented on #25025
Hi @jazelenk Please try `azure-mgmt-privatedns==1.0.0`

[2022-06-30 04:03] #24815 closed

[2022-06-30 04:03] #24787 closed

[2022-06-30 06:17] rakshith91 commented on #24447
Thanks for reporting - this should fix the issue https://github.com/Azure/azure-sdk-for-python/pull/25036

[2022-06-30 07:04] keriksson-rosenqvist commented on #25019
@mccoyp Yes you are correct. Apologies for misinterpreting the functionality of `list_properties_of_secret_versions()`. However is there a key word argument or other input to that I can use to get the versions ordered by date?

[2022-06-30 13:25] rjtshrm commented on #25020
Here are my steps to run a pipeline
[code]
and to run the pipeline, the code is

[code]

[2022-06-30 16:17] swathipil commented on #21811
Hi @paterasMSFT - Just bumping this. It looks like we haven't gotten a response from the team. Would you be able to take a look or tag someone who would be able to address this? Thanks!

[2022-06-30 18:05] vcolin7 opened #25039 "Update Key Vault documentation"
We need to update the Key Vault documentation in a few places:

- [ ] **Authentication in Samples:** Our samples should show the use of Managed Identity instead of Service Principals with Client Secrets as the default authentication method. We can still show how to use the former for scenarios where the use of Managed Identity is not possible.
- [x] **Cryptographic operations using CBC and CBCPAD:

[2022-06-30 18:43] scbedd commented on #24379
Yeah unfortunately I haven't been able to prioritize this. If you hit those issues, skip. I am getting close to needing do-or-die progress on this external recordings thing, so that's where my focus has gotta be (outside of unblocking test-proxy features and test failures).

All I can say is that this will be fixed in copper, I have another `must deliver` issue for Laurent that will _require_ I do

[2022-06-30 18:55] vincenttran-msft commented on #20434
Hi @marincon-sarmiento, I just wanted to touch base with you and see if this issue is persisting? If not we shall continue with the closure of this issue shortly.

Thanks!

[2022-06-30 18:58] vcolin7 commented on #22371
We decided OKP will not be supported locally, as the default crypto libraries we us in our languages don't have a proper implementation for the algorithm.

[2022-06-30 18:58] #22371 closed

[2022-06-30 19:52] wiboris commented on #21811
@swathipil
There are two implementations of "Pools" in the azure batch sdk's one in the Azure-Batch and one in azure-mgmt-batch.  Only the one defined in azure-mgmt-batch support managed identities.

here's a link to the docs:
https://docs.microsoft.com/en-us/python/api/azure-mgmt-batch/azure.mgmt.batch.operations.pooloperations?view=azure-python

here's a rough code sample of using managed identi

[2022-06-30 20:56] mccoyp commented on #25019
@keriksson-rosenqvist The results of `list_properties_of_secret_versions` unfortunately can't be sorted through function input because of limitations in what we receive from the service response. However, it shouldn't take too much work to do some sorting on the application end -- for example:
[code]
This gives us the properties for each secret version, ordered from newest to oldest. The limitatio

[2022-06-30 21:46] jalauzon-msft commented on #19755
Apologies for the long delay here, we've been busy with other higher priority work but hope to be getting to this soon.

To update, we are planning to add `get_blob_names` as a new API when we can. This will be a version of the list blobs API that only list blob names and will be significantly faster than the full `list_blobs` and hopefully come close to or surpass the performance of the older ver

[2022-06-30 22:03] #24951 closed

[2022-06-30 22:03] #24928 closed

[2022-06-30 22:03] #24663 closed

[2022-06-30 22:03] #5775 closed

[2022-06-30 22:09] scbedd opened #25041 "Add Github Action that automates keeping readme samples up to date"
I had a good discussion with @xiangyan99 about how we can improve our README samples. The core problem is simple that we  need our samples and README.md's to align. Our code and docs themselves are fine, as we simply use [literalinclude](https://github.com/Azure/azure-sdk-for-python/blob/1081acd696bb5d2eb563d2071060d8f86e823603/sdk/core/azure-core/azure/core/_pipeline_client.py#L83) to include dir

[2022-06-30 23:36] wangchao1230 commented on #25007
Sure. We created an item to track this internally.

[2022-07-01 05:50] chamalHealthscope commented on #25020
Having the exact same issue, looking forward for a patch release if applicable.

[2022-07-01 07:16] MarkusDressel commented on #24644
@anliakho2 great to hear. Let me know when preview is available. Happy to test

[2022-07-01 07:26] #25019 closed

[2022-07-01 08:13] nagydavid commented on #25018
So according to the installation logs, the library dependent on 1.19.4, where the latest release of numpy is 1.23.0

[2022-07-01 10:37] wangchao1230 commented on #25020
We identify a bug in common runtime which cannot mount an empty folder, which we will follow-up internally.
Before that fix a quick workaround for user is writing some dummy file to the dummy output.

E.g. add an echo in command.
[code]

[2022-07-01 10:57] vholmer opened #25046 "list_blobs() leading to ServiceRequestError and CERTIFICATE_VERIFY_FAILED"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.12.0
- **Operating System**: Ubuntu 20.04
- **Python Version**: 3.8.9

**Describe the bug**
list_blobs() leads to azure.core.exceptions.ServiceRequestError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate (_ssl.c:1125) on a completely fresh install on an Ubuntu 20.04 VM.

**To Reproduce**
Run this

[2022-07-01 11:38] jazelenk commented on #25025
Yup, that's what I need - thanks!

[2022-07-01 11:38] #25025 closed

[2022-07-01 12:34] vholmer commented on #25046
My URL was incorrect, it contained "blob.corewindows.net" instead of the correct "blob.core.windows.net". Perhaps a better error message would be a good idea?

[2022-07-01 17:41] packet-sniffer commented on #24929
Hi Pramod, thanks for your response; sure here is the code:
`from azure.mgmt.network import NetworkManagementClient

GROUP_NAME = 'resource-group'
VNET_NAME = 'your-vnet-identifier'
LOCATION = 'region'
SUBNET_NAME = 'your-subnet-identifier'

network_client = NetworkManagementClient(credentials, 'your-subscription-id')

async_vnet_creation = network_client.virtual_networks.create_or_update(
    GRO

[2022-07-01 19:26] #24903 closed

[2022-07-01 20:01] catalinaperalta opened #25049 "[formrecognizer] Drop Python 3.6"

[2022-07-03 23:40] annatisch opened #25057 "[AzureML] Add async APIs"
The SDK needs to add an `aio` namespace with an async `MLClient`.
This will be required before GA and final API sign-off.

[2022-07-03 23:42] annatisch opened #25058 "[AzureML] Remove hard dependency on requests"
Azure SDKs support pluggable transports, while we use `requests` as our default, customers should be able to uninstall this an replace it with an alternative transport (e.g. aiohttp, httpx) without breaking any SDK functionality.

Ultimately it's planned that any direct imports of `requests` in the SDK will be blocked by CI:
https://github.com/Azure/azure-sdk-for-python/issues/24989

[2022-07-03 23:44] annatisch opened #25059 "[AzureML] Drop Python 3.6 support"
We are formally dropping support for the Python 3.6 in the Azure SDKs - so we should make sure that this is completed before GA. It should just be an update to setup.py - however I'm aware that this SDK has a more complex CLI validation pipeline that may include additional updates, so opening a dedicated issue for it.

[2022-07-03 23:49] annatisch opened #25060 "[AzureML] Drop public dependency on msrest"
Msrest is a deprecated dependency and should be removed from all public facing API surface area before GA.
The biggest example of this will be models - no public models should inherit from the msrest baseclass.

The GA release wont be blocked if msrest is still a dependency for internal logic that can be later removed without any changes to the public API/behaviour.

[2022-07-03 23:54] annatisch opened #25061 "[AzureML] Latest autorest regen (with minimal - if any - multiapi)"
The generated core of the ML SDK should be regenerated with latest GA DPG release of autorest.
We should regenerate using the options to combine operations into a single file to reduce load times.
All code gen for "preview" API versions should be removed - and we should investigate removing all older API versions so that the GA release is as forward facing as possible.

The latest autorest will al

[2022-07-04 00:44] annatisch opened #25062 "[AzureML] Review dependencies list"
The dependencies list needs to be trimmed down to remove any libraries that are not required for basic usage.
This might involve moving somethings to optional feature sets, others can just be enabled if certain dependencies have been installed (e.g. how azure-core handles the aiohttp dependency)
The versions of dependencies also need to be reviewed to prevent dependency conflicts.

I have started

[2022-07-04 04:03] #24961 closed

[2022-07-04 09:37] v-xuto opened #25064 "Key Vault keys/secrets/certificates Samples names improvement"
**Issue Description:**
When implementing automated tests for key vault samples, the samples keys/secrets/certificates names in `sync` and `async samples` are the same, and the error is reported as:
![image](https://user-images.githubusercontent.com/57166602/177125630-204126a9-7fb1-46db-b88a-0e6bac7e2c74.png)

**Suggestion:**
Add `async` to the names of keys/secrets/certificates in the `async sampl

[2022-07-04 11:40] v-pbavanari commented on #22523
Requesting customer to use latest SDK package, this is fixed in newer versions. @lmazuel @mccoyp requesting to close this bug.

[2022-07-04 14:10] nadavu commented on #13316
@BigCat20196  @RAY-316  @msyyc  do you have a solution?

[2022-07-05 01:44] msyyc commented on #13316
Hi @nadavu the issue is addressed and it is swagger issue. Once https://github.com/Azure/azure-rest-api-specs/issues/19530 is solved, SDK could release new version to fix it.

[2022-07-05 02:12] msyyc opened #25068 "[pipeline] upgrade autorest.python from `5.16.0` to `6.0.1`"
| Library                                                                 | Min Version |
| ----------------------------------------------------------------------- | ----------- |
| `@autorest/core`                                                        | `3.8.1`     |
| `@autorest/modelerfour`                                                 | `4.23.5`    |
| `azure-core` dep of generated code

[2022-07-05 06:57] Wzb123456789 commented on #24977
Hi @major, thank you for your feedback.

According to your issue description:

If you want SDK tests run without network dependencies, you can set the environment variable `AZURE_TEST_RUN_LIVE` to "false". See [link](https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/mgmt/tests.md#running-tests-in-live-mode) for detailed explanation.

Currently SDK tests are run in docker

[2022-07-05 07:22] Wzb123456789 commented on #24229
Hi @IvoMerchiers, thank you for your feedback.

According to the issue information you provided, I can't identify what the problem is, please provide more detailed code examples and issue information to solve your problem, refer to this [issue](https://github.com/Azure/azure-sdk-for-python/issues/21587)

[2022-07-05 08:21] vholmer commented on #11593
@Alex97schmid-zeiss unless you already figured this out, you need to import azure.storage.blob.aio instead of just azure.storage.blob.

[2022-07-05 09:12] nagydavid commented on #25018
Hi @bandsina @luigiw @l0lawrence
May I have an update on the possible solutions?

Thanks in advance

[2022-07-05 09:13] nagydavid commented on #23538
Hi @SaurabhSharma-MSFT , @bandsina Can we have an ETA or options for possible solutions.

Thanks in advance

[2022-07-05 09:15] harshdeep78singh opened #25072 "Provide a function for fetching schema from Schema Registry using group name, schema name and schema version."
Currently, I am fetching the schema from the Schema Registry using the following endpoint

/$schemaGroups/{groupName}/schemas/{schemaName}/versions/{version}

There is no function provided in the **azure.schemaregistry.SchemaRegistryClient** class for pulling the schema from Event Hub Schema Registry using group name, schema name, and version.

Can we have a function for the same?

Also, let me kn

[2022-07-05 10:32] makaralaszlo opened #25073 "[Bing Spell Check] Azure spell check not working on Hungarian"
Hello,

I want to use the Bing spellcheck API to correct the customer input data. I followed the documentation while making the implementation and checked that the Hungarian language was listed on the support list. [Supported languages](https://docs.microsoft.com/en-us/bing/search-apis/bing-spell-check/reference/market-codes); in this given link under the "Bing supported language codes", the Hunga

[2022-07-05 11:38] major commented on #24977
I'm using that environment variable now in my package builds, but the challenge there is that packages are published inconsistently to PyPi:

- Some packages have no tests
- Some packages have tests, but VCR recordings are missing
- Some packages have both tests and VCR recordings, but they still try to make connections across the internet

My expectation would be that:

- Every package has tests/

[2022-07-05 18:02] mccoyp commented on #25072
Hi @harshdeep78singh, thank you for opening an issue! I'll tag the appropriate folks so we can answer your question about the potential availability of this API.

As for opening a pull request, we're always happy to accept PRs 🙂 For something like adding a client method there will need to be some design discussion, but opening a PR could kickstart that conversation! I'd recommend waiting just a bi

[2022-07-05 18:23] SaurabhSharma-MSFT commented on #24026
@agonzalez-mob Are you using a GUID (or GUIDs for tags) for the tag id? The guid should be returned when you create a tag: [create-tag](https://docs.microsoft.com/en-us/rest/api/customvision/training3.4preview/create-tag/create-tag)

[2022-07-05 18:37] mccoyp commented on #25073
Hi @makaralaszlo, thank you for opening an issue! It looks like the [Query parameters](https://docs.microsoft.com/bing/search-apis/bing-spell-check/reference/query-parameters) documentation suggests using 4-letter codes instead of 2-letter codes for the `setLang` parameter. Have you tried using "hu-hu" for the `setLang` parameter?

I'll also tag the service team so that you can get a response from

[2022-07-05 18:40] mccoyp opened #25077 "[Key Vault] Drop Python 3.6 support"

[2022-07-05 19:02] #24486 closed

[2022-07-05 20:26] xiangyan99 commented on #24643
1.11.0b2 is released with the fix.

[2022-07-05 20:45] romanzdk opened #25081 "[Data Factory] Convert PipelineResource to JSON"
I am creating Azure Data Factory pipeline using Python SDK (`azure.mgmt.datafactory.models.PipelineResource`). I need to convert `PipelineResource` object to JSON file. Is it possible anyhow?

I tried `json.loads(pipeline_object)` , `json.dumps(pipeline_object)` but no luck.

[2022-07-05 20:55] mccoyp commented on #22523
Hi @mkrdip, I just tried running
[code]
and was able to successfully install both packages. It seems that the dependency conflict has been fixed, so I would recommend installing the latest versions of each package if you can. I'll mark this as completed, but please let us know if you need anything else!

[2022-07-05 21:12] mccoyp commented on #25081
Hi @romanzdk, thank you for opening an issue! I'll tag the appropriate folks so we can take a closer look.

In the meantime, you may be able to get unblocked by adding a `default` argument to `json.dumps` in order to make objects that aren't JSON serializable into `dict`s first. For example:
[code]

[2022-07-05 21:28] SaurabhSharma-MSFT commented on #25073
@makaralaszlo I believe [this](https://docs.microsoft.com/en-us/rest/api/cognitiveservices-bingsearch/bing-spell-check-api-v7-reference#bing-supported-languages-and-markets) is the correct table to follow for spell check api v7 which does not include Hungarian.  I am though checking internally and get back to you.

[2022-07-05 21:35] odoo-ce-modules commented on #24765
"that started happening out of the blue, everything was working fine for quite some time. This seems to have occurred within this week"

You damn Micro$oft morons are like cheating wives. How the F do you work out for a while ... then WITHOUT USER CODE CHANGES (the spouse never changes), you end up fracking up everything in sight ??????

Pinning the version **is not the fix**. Tell us what you F'e

[2022-07-05 22:04] omonimus1 commented on #16731
Having the same issue here;
Cannot access docker hub from private repository.

[2022-07-05 22:44] xiangyan99 commented on #23645
And it is possible because of this https://docs.aiohttp.org/en/stable/client_advanced.html?highlight=unclosed#graceful-shutdown.

[2022-07-05 23:07] kapoor1992 commented on #24765
I uh.. respectfully agree with @odoo-ce-modules that we need to be told the dependency as the library is imported.

[2022-07-05 23:36] annatisch commented on #25057
First step - do a prototype of a single operation to assess the work involved:
- `job.create_or_update`: Specifically let's start with the Storage module for file upload/download and work backwards from there.
- Move to first tier simple operations like environments, the move out to the jobs operations that depend on it.

[2022-07-06 03:14] yuyue9284 opened #25092 "Invoke relay_client.hybrid_connections.create_or_update_authorization_rule with same parameters changed the relay connection string."
- **Package Name**:  azure-mgmt-relay
- **Package Version**: 0.1.0
- **Operating System**: linux
- **Python Version**: Python 3.10.4

**Describe the bug**
We use the following script to manage relay, and with the same parameter, we sometimes found that the relay connection string go changed.

[code]

**To Reproduce**
Steps to reproduce the behavior:
We are not able to reproduce it but noticed few

[2022-07-06 03:14] azure-sdk commented on #25092
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Authorization:0.13027541,Monitor - ApplicationInsights:0.081350416,Service Bus:0.067038566'

[2022-07-06 04:03] #24957 closed

[2022-07-06 04:58] chester-leung opened #25095 "`compute_client.virtual_machines.list()` not returning newly created VM"
- **Package Name**: azure-mgmt-compute
- **Package Version**: 25.0.0
- **Operating System**: Ubuntu 18.04
- **Python Version**:  3.7

**Describe the bug**
A clear and concise description of what the bug is.

I am seeing the exact same issue as [here](https://github.com/Azure/azure-sdk-for-python/issues/8985). Non-deterministically after launching VMs via the `resource_client.deployments.begin_crea

[2022-07-06 13:13] eavanvalkenburg opened #25104 "Inconsistent behaviour in Cosmos Query Item because of use of kwargs"
I found an issue while working with the cosmos SDK in python, when calling query_items (and it seems other calls as well) with partition_key=None or without the partition_key at all leads to different behaviours because of the build_options function that is referenced here:
https://github.com/Azure/azure-sdk-for-python/blob/663c846e4d24166f0e76092a80989cfd08521bf2/sdk/cosmos/azure-cosmos/azure/cos

[2022-07-06 15:28] oliverblane opened #25106 "Include Timestamp property in Resulting Entity of Azure Table Storage Query"
It seems that [here](https://github.com/Azure/azure-sdk-for-python/blob/db129d0020160815d2a5cd52be5b6777a6cbefaf/sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py#L133) the code is setting the `PartitionKey` (line 168) and `RowKey` (line 173) properties, but not the `Timestamp` property.

When querying an Azure Data Table using Python, I think it would be very useful for the resulting

[2022-07-06 16:47] Man-MSFT commented on #24973
Hi @gisandnes, we have merged a fix to the [datastore notebook](https://github.com/Azure/azureml-examples/blob/main/sdk/resources/datastores/datastore.ipynb), fixing the credentials typing issue.

[2022-07-06 17:38] mccoyp commented on #25095
Hi @chester-leung, thank you for opening an issue! I'll tag the appropriate folks so we can look into this as soon as possible. I see that @Drewm3 offered help on #8985, so I'll include them here as well.

[2022-07-06 17:45] #20950 closed

[2022-07-06 18:02] mccoyp commented on #25106
Hi @oliverblane, thank you for opening an issue! It looks like the timestamp is included in the entity metadata [here](https://github.com/Azure/azure-sdk-for-python/blob/db129d0020160815d2a5cd52be5b6777a6cbefaf/sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py#L216) -- does that make the information sufficiently available?

I'll tag someone who works with this library so you can get a

[2022-07-06 18:33] #22772 closed

[2022-07-06 18:35] #19831 closed

[2022-07-06 18:37] scbedd commented on #17374
This is not feasible. Going to tackle this from a different approach.

[2022-07-06 18:37] #17374 closed

[2022-07-06 18:54] scbedd commented on #23146
Ok @lmazuel I'm at a place where I am thinking about I want to integrate this work. This _almost_ seems like a matrix generator of a sort. I want to get a bit more specific about how we check these scenarios. I'm already planning a refactor of our tox harness, test invocation, and requirements installation. This falls neatly into the same drawer.

Are `tracing` and `async` the only two "optional"

[2022-07-06 19:00] annatisch commented on #25104
This is a great catch - thanks for the report @eavanvalkenburg!
@simorenoh, @JericHunter - would you be able to take a look?

[2022-07-06 19:08] #20851 closed

[2022-07-06 19:30] chester-leung commented on #8985
@GM12Tick did you ever resolve this?

[2022-07-06 19:36] #19202 closed

[2022-07-06 20:20] vincenttran-msft opened #25110 "[Storage] Revisit delete_directory API documentation for DataLake"
Although discussed and changed in #24567, this still needs to be fleshed out better.
Originally the scenario always was DataLake + HNS, which would result in `None` being returned. However, as raised by a customer in #24421, they were using DataLake + FNS, and then they would get partial deletes with a response `dict` of headers being returned (that also included a `continuation` token).

Thus, mo

[2022-07-06 21:28] aurelien-wefight opened #25112 "[azure-core-tracing-opentelemetry] Exception while exporting Span batch"
- **Package Name**: azure-core-tracing-opentelemetry
- **Package Version**:  1.0.0b9
- **Operating System**: python:3.9-slim-buster
- **Python Version**: 3.9.13

**Describe the bug**
I try to implement opentelemetry like in your documentation: https://pypi.org/project/azure-core-tracing-opentelemetry/
But when I run the code, just before exporting spans,
I get the error:
[code]

**To Reproduce**
S

[2022-07-06 22:04] mccoyp commented on #25112
Hi @aurelien-wefight, thank you for opening an issue! I'll tag the appropriate folks so we can look into this as soon as possible.

[2022-07-06 22:29] aurelien-wefight commented on #25112
Hi @mccoyp ,

If it can help you, I add `OpenTelemetrySpanKind.INTERNAL if value is None else` inside the __init__ function of OpenTelemetrySpan class, and now I have no more issues... But I don't know if it's the best idea !

[2022-07-06 22:36] xiangyan99 commented on #25112
@aurelien-wefight Thanks for the information. Could you help to try latest azure-core?

It looks to me https://github.com/Azure/azure-sdk-for-python/pull/24492 could be the fix.

[2022-07-07 00:28] rakshith91 commented on #25112
@aurelien-wefight Thanks for the issue - like @xiangyan99 mentioned, I believe it should be fixed with the latest azure-core where span kind is internal by default.
And yes, `OpenTelemetrySpanKind.INTERNAL if value is None else` should be good (azure-core does that for you now)

[2022-07-07 00:35] anliakho2 commented on #25018
@nagydavid Sorry to be a bearer of bad news, but M1 is currently not officially supported. We do have work planned to add support for M1, but exact timeframe is currently uncertain.
As a work around you can use x86 compatible python environment, like this one for conda:

https://towardsdatascience.com/how-to-manage-conda-environments-on-an-apple-silicon-m1-mac-1e29cb3bad12

[code]

[2022-07-07 03:04] jonas1307 opened #25118 "Cannot set retry_mode, retry_backoff_max and retry_backoff_factor for azure-servicebus"
- **Package Name**: azure-servicebus
- **Package Version**: 7.7.0
- **Operating System**: Raspbian 11 Bullseye (Raspberry Pi)
- **Python Version**: 3.9.2

**Describe the bug**
I am having a hard time to set custom values to retry_mode, retry_backoff_max and retry_backoff_factor on a ServiceBusClient object. My goal is reducing the timeout for reconnection when the network goes down, but all I get

[2022-07-07 03:25] mccoyp commented on #25118
Hi @jonas1307, thank you for opening an issue! I'll tag the appropriate folks so we can look into this as soon as possible.

[2022-07-07 03:29] mccoyp commented on #22208
Closing this, as we're moving to a fixture-based approach that will obviate this work.

[2022-07-07 03:29] #22208 closed

[2022-07-07 07:27] BigCat20196 opened #25123 "[Release helper] Automatically add multiapi tag prompt multiapi"
We can make a function to add a prompt when judging that this package is a multi API

[2022-07-07 08:24] thongonary opened #25124 "azureml-core cannot be installed in custom image for AML"
- **Package Name**: azureml-core, azureml-pipeline, azureml-pipeline-steps, azureml-pipeline-core
- **Package Version**: latest
- **Operating System**: Ubuntu 20.04
- **Python Version**: 3.8.13

**Describe the bug**
I tried to build a custom image on Azure Machine Learning, with a base image from `mcr.microsoft.com/azureml/openmpi4.1.0-cuda11.3-cudnn8-ubuntu20.04` and additional conda specificatio

[2022-07-07 08:24] aurelien-wefight commented on #25112
Hi @xiangyan99 and @rakshith91 !
Thank you for your replies. I didn't think to check my azure-core version and the latest version 🤦
I confirm that it works now.

Sorry for the inconvenience

[2022-07-07 08:24] #25112 closed

[2022-07-07 09:52] famenta opened #25126 "Regression for begin_import_glossary_terms_via_csv_by_glossary_name function in version 1.0.0b4"
- **Package Name**: azure-purview-catalog
- **Package Version**: 1.0.0b4
- **Operating System**: linux
- **Python Version**: 3.10.4

**Describe the bug**
Version 1.0.0b4 introduce a regression ( the bug is not present in the version 1.0.0b3 ) on the function *begin_import_glossary_terms_via_csv_by_glossary_name* from GlossaryOperation class.
The interface GlossaryOperations._import_glossary_terms_

[2022-07-07 15:48] xiangyan99 commented on #25126
Thanks for the feedback, we’ll investigate asap.

[2022-07-07 16:18] zhuanyi commented on #11128
Is there a recommended way to force refresh of the DeviceCodeCredential at this point? Understood the DeviceCodeCredential class would be refreshed silently but want to see if there is a way we could force a refresh as well.

[2022-07-07 17:04] chester-leung commented on #25095
To follow up, I also tried retrieving the VM via `az vm list --resource-group` CLI command, and found that when the Python API call (incorrectly) returns nothing, the CLI call also returns nothing. i.e. the CLI mirrors the (non-deterministically unexpected) behavior of the Python API.

[2022-07-07 17:29] AJAnderhub opened #25127 "Problem Getting Token from User Assigned Managed Identity in Azure Container Instance"
- **Package Name**: Azure.Identity
- **Package Version**: 1.10.0
- **Operating System**: Ubuntu 18.04
- **Python Version**:  3.8.0

**Describe the bug**
I am trying to run a python script in an Azure Container instance with a user assigned managed identity that is using the Azure Identity SDK for Python to get a token from the managed identity endpoint in the container instance. The SDK should be

[2022-07-07 17:31] xiangyan99 commented on #25127
Thanks for the feedback, we’ll investigate asap.

[2022-07-07 17:48] #22496 closed

[2022-07-07 18:49] scbedd opened #25128 "Generate APIView Specific Artifact - Deal with Unpublished Direct Dependencies"
The storage folks (and probably azure-communication once they go GA) develop packages alongside each other, one of which may depend on the other. This means we have a situation where

`Package A - version 3`
`Package B - depends on Package A version 3`

Which also means that we can't really install Package B without the repo context allowing us to install a relative dependency. This is a problem f

[2022-07-07 19:02] romanzdk commented on #25081
(I added `resource.name = "my-name"`)

Unfortunately, when I use this Azure Data Factory returns an error `Could not load resource 'my-name'. Please ensure no mistakes in the JSON and that referenced resources exist. Status: Cannot read properties of undefined (reading 'policy'), Possible reason: Cannot read properties of undefined (reading 'policy')`

[2022-07-07 20:28] scbedd opened #25130 "[AzureML Support] Provide comment-triggerable job that allows publish to public dev feed"
The ML folks go through a verification process w/ the built wheel. That process requires this set of code to be retrievable from a feed _somewhere_.

Right now we only publish to the feed as part of our nightly verification. We should have a job present in `internal` that can be triggered via comment, and takes care of publishing directly from PR code to the dev feed.

[2022-07-07 21:07] ashdhalama opened #25132 "[BUG Bash]"
**Describe the bug**
Setup app configuration to reference a key value.  When check value only gives uri and not the value.

Used "add key vault reference" in app configuration explorer.

***Exception or Stack Trace***
None

**To Reproduce**
Run code snippet

***Code Snippet***
def testAppConfigKeyVaultPassThru():
    pass
    credential = DefaultAzureCredential()
    app_config_client = AzureAppCo

[2022-07-07 21:20] mccoyp commented on #25132
Hi @ashdhalama, thank you for opening an issue! I'll tag the appropriate folks so we can investigate as soon as possible.

[2022-07-07 21:27] xiangyan99 commented on #25132
@ashdhalama Thanks for reaching out.

This is by design that the app config client library only returns the url of the keyvault rather than the value.

You can take https://gist.github.com/xiangyan99/cb15bb686e56bac020f93d71f524208f as a reference how to retrieve the value by using key vault library and app config library together.

[2022-07-08 02:21] navba-MSFT commented on #24973
Thanks @Man-MSFT for fixing this.

@gisandnes Could you please test the updated sample from this  https://github.com/Azure/azureml-examples/blob/main/sdk/resources/datastores/datastore.ipynb and let us know if you face any issues ? Awaiting your reply.

[2022-07-08 04:43] arledesma opened #25137 "LogsQueryPartialResult PartialError missing details in LogsQueryError"
- **Package Name**: `azure-monitor-query`
- **Package Version**: `1.0.2`
- **Operating System**: `Ubuntu 20.04.4 LTS (Focal Fossa)`
- **Python Version**: `3.10.4`

**Describe the bug**
`LogsQueryPartialResult` with a status of `PartialError` does not include the `details` array and subsequent `innererror`.

This leads to only having access to an error message: _There were some errors when processi

[2022-07-08 06:21] Wzb123456789 commented on #25081
Hi @romanzdk

According to the error message you gave, I judged that it was an error in your policy information, which has nothing to do with the above code and the code you gave.

It is recommended that you check your Azure policy information to see if it works.

[2022-07-08 06:42] nagydavid commented on #25018
Thanks for the answer @anliakho2 :)

[2022-07-08 07:22] BigCat20196 commented on #25068
resource: https://github.com/Azure/azure-sdk-for-python/pull/25141

[2022-07-08 07:26] Wzb123456789 commented on #25095
Hi @chester-leung

According to my investigation, some reaction time is required after `begin_create_or_update`, so if `compute_client.virtual_machines.list()` is used immediately in the code, it will return a list that does not contain newly started VMs.

It is recommended to add `.result()` after `resource_client.deployments.begin_create_or_update()`, that is, `resource_client.deployments.begin_

[2022-07-08 10:16] mohitnmo commented on #24643
Hi @anishnair-kpmg ,
I am also facing same issue, can you provide me the final solution for this!!
python version- 3.10.4 (64 bit)
azure-identity version- 1.10.0
cryptography version- 37.0.2
window 10

Thanks,
Mohit

[2022-07-08 10:46] James-Beckwith opened #25143 "Broken Link"
The final "Explore the Management APIs" link and the Management API title link are broken in the page https://docs.microsoft.com/en-us/python/api/overview/azure/sql?view=azure-python. They link to https://docs.microsoft.com/en-us/python/api/overview/azure/sql/management which returns a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2022-07-08 11:41] romanzdk commented on #25081
Well, not really, apparently. It looks like some issue with the generated JSON file. All activities and the pipeline has `policy=null`. I also tried to remove all these policy keys, but the same issue.

[2022-07-08 15:19] oliverblane commented on #25106
Thank you for your reply - yes, you are right, I overlooked the metadata. That solves my issue, thank you very much!

[2022-07-08 15:34] ZekunZh opened #25146 "Bug: deletion of Azureml Experiment & Run"
- **Package Name**: azureml-core
- **Package Version**: 1.37.0
- **Operating System**: Ubuntu 16.04
- **Python Version**: 3.6.13

**Describe the bug**

Hello, I am having an issue for deleting the experiments and the runs in one experiment.

What I have tried: 3 different ways to delete the run

1. For each run in the experiment, I ran `run.clean()`. Then I ran `Experiment.delete(workspace, experi

[2022-07-08 15:50] xiangyan99 commented on #25137
Thanks for the feedback, we’ll investigate asap.

[2022-07-08 15:50] xiangyan99 commented on #25143
Thanks for the feedback, we’ll investigate asap.

[2022-07-08 15:53] xiangyan99 commented on #25146
@azureml-github

[2022-07-08 18:05] swathipil commented on #24959
Since the `proxy.py` sample works and a new issue has been created to resolve issues with documentation, looks like this issue has been addressed.

[2022-07-08 18:06] xiangyan99 commented on #24282
@vincenttran-msft Since your linked issue was closed, could you give an update on this one?

[2022-07-08 18:08] xiangyan99 commented on #24144
@azureml-github

[2022-07-08 18:09] xiangyan99 commented on #23784
@azureml-github

[2022-07-08 18:10] xiangyan99 commented on #23744
@azureml-github

[2022-07-08 18:10] xiangyan99 commented on #23736
@azureml-github

[2022-07-08 18:11] xiangyan99 commented on #23538
@azureml-github

[2022-07-08 18:11] xiangyan99 commented on #23278
@azureml-github

[2022-07-08 18:12] swathipil commented on #23510
Hi @weltonrodrigo - `azure-eventhub` v`5.10.0` has been released with the buffered producer feature. The sample for buffered sending is [[here](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/eventhub/azure-eventhub/samples/sync_samples/send_buffered_mode.py)].

Would you be able to test this to see if it resolves your issue? You can upgrade with `pip install azure-eventhub --upgrade`.

[2022-07-08 18:21] xiangyan99 commented on #20285
@azureml-github

[2022-07-08 18:21] xiangyan99 commented on #20223
@azureml-github

[2022-07-08 18:28] xiangyan99 commented on #10071
@azureml-github

[2022-07-08 18:40] l0lawrence opened #25147 "[PyAMQP] Enable Pypy on Feature branch CI"

[2022-07-08 19:41] kashifkhan opened #25148 "[ServiceBus] Drop support for Python 3.6"

[2022-07-08 19:41] kashifkhan opened #25149 "[EventHub] Drop support for Python 3.6"

[2022-07-08 19:52] swathipil commented on #25072
Hi @harshdeep78singh - Thanks for bringing this to our attention! I have discussed this with the team and we will be adding this functionality asap. I saw that you created a PR and took a look.

Unfortunately, we will not be able to merge this, because the changes you made were to our "generated" code. This code is automatically generated from our internal "swagger" file that describes operations

[2022-07-08 20:25] #24374 closed

[2022-07-08 20:28] kashifkhan commented on #23836
Closed with PR #24697

[2022-07-08 20:28] #23836 closed

[2022-07-08 20:53] kashifkhan commented on #22544
#25147 is related this this

[2022-07-08 20:58] kashifkhan commented on #24470
This issue was due to the websockets code throw a `WebSocketException` exception which was not being handled. This resulted in the messaging loop continuously asking for new messages from EH and ultimately timing out making it look like a time delay. Async looked like it was working fine because the coroutines would fire and finish in the background but would ultimately hang as well just like sync

[2022-07-08 20:58] #24470 closed

[2022-07-08 21:00] #23844 closed

[2022-07-08 21:00] #23909 closed

[2022-07-08 21:11] lmazuel commented on #23146
I'm fine to cite somewhere the dependencies that should be considered for the optional matrix explicitly. IOW, being pragmatic.

A few additional thoughts:
- For ServiceBus and EventHub, it's not aiohttp but uamqp (specially since we're planning to make uamqp optional starting September)
- I'd like eventually `requests` to be optional as well (pure async have no `requests`). Starting August releas

[2022-07-08 21:50] swathipil commented on #25118
Hi @jonas1307 - I've just tested this scenario by following the steps you've outlined. Unfortunately, I was not able to reproduce your error. Adding my exact steps, FYI:
1) Continuously receive from a subscription and output info level logs, with the following values sent in the ServiceBusClient.
[code]
2) Periodically send to the topic of that subscription.
3) Intentionally trigger an exception s

[2022-07-09 00:07] mccoyp opened #25154 "[Test Proxy] Investigate SSL socket warnings"
Some `azure-storage-blob` tests that have been migrated to the test proxy raise `ResourceWarning`s about unclosed sockets when run in either live or playback mode. This doesn't happen 100% of the time, but most of the time.

[code]

The Storage team reports that this happens when running, for example, `test_create_blob` from [`test_append_blob.py`](https://github.com/Azure/azure-sdk-for-python/pul

[2022-07-09 00:12] jalauzon-msft commented on #24847
Hi @affanv14 Mohammed, sorry for the long delay and thanks for confirming that `readinto` is indeed hanging.

The time the client will wait if there is no response from the server while reading data is configured via the `read_timeout` keyword and our default value is 80000 seconds (about 22 hours) (which is probably too high, and we are thinking of updating). I see you tried setting `read_timeout

[2022-07-09 00:18] YalinLi0312 commented on #23596
Multi-tenant authentication-supporting is already done in [Tables May release](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/tables/azure-data-tables/CHANGELOG.md#features-added-1), but not using the support from azure-core. We can close this task, then track the work by the two issues linked above. Or change the name to another milestone as the two issues are still open(but IDK what

[2022-07-09 08:03] #24130 closed

[2022-07-10 17:39] jonas1307 commented on #25118
Hi @swathipil, I would like to thank you in advance for your assistance and help provided.

I believe I forgot to mention a few additional steps and other information for reproducing the unexpected behavior I’m struggling with.

1. Create a instance of ServiceBusClient class, with custom values to retry_mode, retry_backoff_max and retry_backoff_factor fields
2. Run the code *and wait until the con

[2022-07-11 01:24] BigCat20196 commented on #25068
network: https://github.com/Azure/azure-sdk-for-python/pull/25145
Live test succeed, but ci check failed

[2022-07-11 03:32] Wzb123456789 commented on #25095
Hi @chester-leung

In this case, it is recommended that you use the synchronous method to execute, because `compute_client.virtual_machines.list()` needs to be executed after `resource_client.deployments.begin_create_or_update()` is completed to obtain the newly started virtual machine.
So it is recommended that you use the synchronous method and add `.result()` after `resource_client.deployments.

[2022-07-11 03:49] navba-MSFT commented on #24973
@gisandnes The action is currently pending on you to test the updated sample. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-11 03:49] #24973 closed

[2022-07-11 04:44] chester-leung commented on #25095
Hi @Wzb123456789 thank you for your response.

By the synchronous method are you referring to `resource_client.deployments.begin_create_or_update()`? My understanding is that it is a non-blocking call. When I call `.wait()` with it, i.e. `resource_client.deployments.begin_create_or_update().wait()`, the `.wait()` call is a blocking call, and will only return when the VM has launched.

So what is t

[2022-07-11 04:56] yuyue9284 commented on #25092
Hi @Wzb123456789, this is how we used it in our application.
[code]

[2022-07-11 06:33] Wzb123456789 commented on #25095
Hi @chester-leung

`.wait()`: Call the wait function to block itself immediately, then run `compute_client.virtual_machines.list()` directly, and release the blocking after the child processes are all running.

`.result()`: Wait until `resource_client.deployments.begin_create_or_update()` is executed and return the result before executing `compute_client.virtual_machines.list()`

The synchronous m

[2022-07-11 11:53] philipp-sontag-by opened #25162 "'kafka_enabled' parameter is ignored for Eventhub Namespaces"
- **Package Name**: azure-mgmt-eventhub==10.1.0
- **Package Version**: 10.1.0
- **Operating System**: Debian bullseye
- **Python Version**: 3.10

**Describe the bug**
Trying to create an Eventhub Namespace with `kafka_enabled=False` creates an Eventhub Namspace where kafka is enabled.

**To Reproduce**
[code]

**Expected behavior**
Trying to create an Eventhub Namespace with `kafka_enabled=False`

[2022-07-11 14:46] xiangyan99 commented on #25162
Thanks for the feedback, we’ll investigate asap.

[2022-07-11 16:10] lmazuel commented on #23596
This issue is closeable indeed, I'd like to keep the issue to leverage Azure Core in backlog for now

[2022-07-11 16:10] #23596 closed

[2022-07-11 17:14] tomasvanpottelbergh opened #25164 "[Cosmos] Concurrent (asynchronous) gathering of query_items results"
**Context**
The Python Cosmos SDK introduced an async CosmosClient under `azure.cosmos.aio`. The `query_items` method of that package returns an `AsyncItemPaged`, for which the [documentation](https://docs.microsoft.com/en-us/python/api/azure-cosmos/azure.cosmos.aio.containerproxy?view=azure-python#azure-cosmos-aio-containerproxy-query-items) suggests to iterate over using `async for`.

**Problem*

[2022-07-11 17:31] kristapratico opened #25166 "[language] drop support for 3.6"
https://github.com/Azure/azure-sdk-for-python/wiki/Azure-SDKs-Python-version-support-policy

- [x] Text Analytics
- [ ] Conversations
- [x] Question Answering

[2022-07-11 17:32] kristapratico opened #25167 "[translation] drop support for 3.6"
https://github.com/Azure/azure-sdk-for-python/wiki/Azure-SDKs-Python-version-support-policy

[2022-07-11 17:32] kristapratico opened #25168 "[metricsadvisor] drop support for 3.6"
https://github.com/Azure/azure-sdk-for-python/wiki/Azure-SDKs-Python-version-support-policy

[2022-07-11 17:34] kristapratico opened #25169 "[QA] add AAD support"

[2022-07-11 17:41] mattmelton commented on #24787
Please don't close things without letting the community know what the workaround is

[2022-07-11 18:00] scbedd opened #25170 "pypy3.7 failing install - invalid version spec"
[example build](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1698079)

Investigate and resolve.

[2022-07-11 18:20] lmazuel commented on #24977
Hi @major ,

There is two parts to your question:
- Get tests in sdist
- Run tests without docker

For the first part, I agree with you, we should package the tests in the sdist, including recordings.

For the second part, we are moving away from `vcrpy` as a dependency, and we moved to a system that requires an actual mock server to run to replay the tests. This means either Docker (or Podman wor

[2022-07-11 18:30] major commented on #24977
That would be super helpful! I've made some PRs in the past to get this working in the templates, but azure-cli still calls for very old versions of some azure-sdk-for-python packages.

Honestly, it might be easier for me to get some of the dotnet cli working in a test than it would be for something running in docker/podman. Either way the pytest fixtures (or perhaps marks?) would help me at least

[2022-07-11 18:33] scbedd commented on #25154
I will note that I've seen this before without the test-proxy being involved. but still need to investigate. 👍

[2022-07-11 22:08] #25064 closed

[2022-07-11 22:09] mccoyp opened #25172 "[Key Vault] Expose a `send_request` method on KV clients"
Using DPG, we should add a `send_request` method to KV clients so that clients can send requests that there's no specific API surface for, using the same auth and pipeline that other client requests do. This would be particularly helpful for cases when the Azure CLI needs to send requests for new service features via the Python SDK.

[2022-07-11 22:42] lmazuel commented on #23344
We should write:
[code]
with `...` following typing standard depending on the contract of the callable.

[2022-07-12 00:18] vincenttran-msft commented on #25046
Hi @vholmer Viktor, thanks for reaching out to us with this issue. I see that you were able to resolve your issue. In terms of your follow-up question, I am not exactly sure how we can provide a more helpful error message. This is because we don't really have a way of determining what you (the user) are intending to do, and what endpoint you are intending to target (as we support several endpoints

[2022-07-12 01:22] mccoyp opened #25175 "Client creation with `DefaultAzureCredential` raises PyCharm typing warning"
Per https://github.com/Azure/azure-sdk-for-python/pull/25144, opened by @soer7022. As shown in the screenshot below, PyCharm sometimes raises a flag for incorrect typing when creating a Key Vault `SecretClient` with a `DefaultAzureCredential`.

![image](https://user-images.githubusercontent.com/39780829/178386865-3aaeda88-c5ed-4f33-a737-64de36000e4a.png)

`DefaultAzureCredential` is an implementat

[2022-07-12 01:36] thongonary commented on #25124
I think this is a problem with `azureml-cpre` package requirements in conda. Running the conda spec file locally also results in the same issue @azureml-github.

[2022-07-12 02:05] msyyc commented on #24977
We do include `tests` in sdist but recording files are not included since current recording files are .json files after migration to [testproxy](https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/test_proxy_migration_guide.md). We will update the [template](https://github.com/Azure/azure-sdk-for-python/blob/c639ff1f5ad3033fca125e6926550fa8dca245d7/tools/azure-sdk-tools/packaging_tools

[2022-07-12 05:24] soer7022 commented on #25175
The screenshot is from my system, I'm running the following:
- PyCharm 2022.1.3 (Professional Edition)
- Python 3.10.1
- azure-identity 1.10.0
- azure-keyvault-secrets 4.4.0

[2022-07-12 07:18] Wzb123456789 commented on #25081
Hi @romanzdk

You want to modify the parameters through resource.name = "my-name" above, but in the swagger definition, name is a read-only parameter, so it cannot be modified. SDK is generated by swagger.
https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
![image](https://user-images.githubusercontent.com/514

[2022-07-12 07:21] romanzdk commented on #25081
Hi @Wzb123456789 , I know that name parameter is read-only, but when I convert the class to JSON, the name is not defined, so the pipeline is not valid for the ADF. The name has to be present - that's the reason I changed the name.

[2022-07-12 07:22] eavanvalkenburg commented on #25104
Just noticed it is even worse, when passing a partition_key because the _build_options pops that out of kwargs it then runs logic to look for a partition_key and when it doesn't find one sets the feed_options['enableCrossPartitionQuery'] to True, so it does a cross partition query with a partition_key, potentially incurring higher RU's!

[2022-07-12 07:45] eavanvalkenburg commented on #25104
it will probably make most sense if the signature for query_items for both async and sync are the same and that would also solve this issue (with minor tweaks in the async code)

[2022-07-12 10:02] mattmshell commented on #25124
I experience pip install hangs installing packages via a conda file on top of an custom image. This bug appears to be the cause of it. I note that it's impossible to get a custom image + conda file in the same state as a default image + conda file.

Nothing works the second I take dependency on azureml-defaults because of the azureml-core interaction. It gets worse - a casual reference to azure-st

[2022-07-12 15:11] thecowmilk opened #25182 "Expected 'None' but got CognitiveServicesCredentials Instead plus InvalidResponse"
- **Package Name**: `azure face recognition`
- **Package Version**: `latest`
- **Operating System**: `Ubuntu 20.04 LTS`
- **Python Version**: `python3.8`

**Describe the bug**
I'm setting up a code for face recognition and when I'm making the code I get this warning while I implement the face client.
`face_client = FaceClient(ENDPOINT, CREDENTIALS)`

After this there's this other error which cause

[2022-07-12 17:08] richardpark-msft commented on #24915
@Wzb123456789 - the 'annotation already exists' problem isn't actually the problem. I only included that to make it clear that the call to create the annotation _worked_ so the exception that happens must be happening because it can't deserialize the response.

The root problem is this one:

And more specifically:

Which seems to indicate a mismatch, in the code for .create(), between what actuall

[2022-07-12 17:36] msamsami opened #25183 "Cosmos DB SDK raises error when upserting items with np.nan values"
- **Package Name**: azure-cosmos
- **Package Version**: latest
- **Operating System**: Linux
- **Python Version**: 3.8.12

**Describe the bug**
Upsert mechanism can't handle `np.nan` values. It raises the following error:
[code]

**To Reproduce**

Here is a sample code to reproduce the issue:

[code]

**Expected behavior**
I expected that SDK could handle both `None` and `np.nan` as they are the m

[2022-07-12 18:50] scbedd opened #25185 "[azure-ai-language-questionanswering] Import of QuestionAnsweringProjectsClient is broken"
Hey @kristapratico I had @bassamza reach out over teams with an issue she was encountering with the package. I've unblocked them by having them install the current version from repo, but we should probably fix the `1.0.0` release.

repro steps

`pip install azure-ai-language-questionanswering`
`from azure.ai.language.questionanswering.projects import QuestionAnsweringProjectsClient`

`from azure.a

[2022-07-12 18:51] azure-sdk commented on #25185
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3527588,Storage:0.08105738,Cognitive - Text Analytics:0.038576733'

[2022-07-12 19:25] kristapratico commented on #25185
`QuestionAnsweringProjectsClient` wasn't added to the package until 1.1.0b1. It is not supported in the 1.0.0 package, so you'll need to upgrade to the beta package by running `pip install azure-ai-language-questionanswering --pre --upgrade`.

[2022-07-12 19:25] #25185 closed

[2022-07-12 19:43] xiangyan99 opened #25188 "Identity changes needed for dropping 3.6 support."
To track:

https://github.com/Azure/azure-sdk-for-python/pull/25115#pullrequestreview-1036345202

Thanks @scbedd

[2022-07-12 20:31] jabbera commented on #11009
I'm shocked this is still open. Native python stream functionality should be core to this library.

[2022-07-12 21:35] bstollnitz opened #25190 "Link to JobOperations not working"
In the jobs section, the link to JobOperations is broken. I think it's because of a typo, "JObOperations" instead of "JobOperations":

<xref:JObOperations>

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4ce3618-6703-a111-95e5-be370705f07f
* Version Independent ID: 6009dd46-d576-f0dd-ba3b-809b0fc

[2022-07-12 22:04] #22523 closed

[2022-07-12 22:29] mccoyp commented on #25175
Hi @soer7022! When you get a chance, would you be willing to try applying the changes from https://github.com/Azure/azure-sdk-for-python/pull/25187 to your local `azure-core` package to see if that resolves the issue? I haven't been able to reproduce the warning, possibly because I'm not using PyCharm's professional edition.

[2022-07-12 22:32] simorenoh commented on #25104
@eavanvalkenburg this is great, thanks for all the findings and the time spent looking into it! I'll take a look when I get a moment to do so, just wanted to let you know we're aware of the issue and pushed PR 👍

[2022-07-12 22:41] scbedd commented on #25170
This is occurring because the Ubuntu 18.04 agent does not have pypy3.7 on it. Easiest way to resolve this is to bump the tests-weekly to ubuntu 20.04. I'll submit a PR for that and invite discussion.

[2022-07-12 22:57] scbedd commented on #24841
There isn't a non-hacky way to deliver this with how we currently invoke testing. Going to continue the refactor started [over here](https://github.com/scbedd/azure-sdk-for-python/tree/feature/tools-revamp), finish it, and then apply the same filtering to the conda build as we do with `setup_execute_tests`.

[2022-07-12 23:10] jalauzon-msft commented on #11009
Hi all, apologies that this thread has gone quiet for some time. It is true that `chunks` is still currently our supported way to stream data back without loading into memory. There is also `readinto` available now which you can look into which may help in certain scenarios.

@virtualdvid David, you can control the buffer size for chunks using the `max_chunk_get_size` keyword argument on all clien

[2022-07-12 23:10] chlowell commented on #11128
The credential's [`authenticate`](https://aka.ms/azsdk/python/identity/docs#azure.identity.DeviceCodeCredential.authenticate) and [`get_token`](https://aka.ms/azsdk/python/identity/docs#azure.identity.DeviceCodeCredential.get_token) methods will begin interactive authentication if that's necessary to get a token, for example when the credential doesn't have a token cached. (Azure SDK clients call

[2022-07-12 23:19] #22498 closed

[2022-07-12 23:21] #25170 closed

[2022-07-13 00:37] #21476 closed

[2022-07-13 00:43] scbedd commented on #25185
Aha I'm just an idiot! Thanks Krista

[2022-07-13 06:26] Wzb123456789 commented on #25162
Hi @philipp-sontag-by

According to my investigation, this issue is a service problem.

Because the SDK is generated by swagger, the SDK is responsible for processing the quantity returned by the service and displaying it.

I suggest you go to the [rest](https://github.com/Azure/azure-rest-api-specs/issues) and resubmit your issue

[2022-07-13 06:53] BigCat20196 opened #25194 "Add automatic sample generation and formatting for autocodegen"
Use `black` to format the generated sample in the process
autorest pr: https://github.com/Azure/autorest.python/pull/1275

[2022-07-13 07:58] soer7022 commented on #25175
Unfortunately, the changes in the PR did not fix it. And neither did the ones described in the description...
Did you try updating your PyCharm to a 2022 version? 😄

[2022-07-13 09:50] philipp-sontag-by commented on #25162
Sure thanks for the help

[2022-07-13 09:50] #25162 closed

[2022-07-13 10:50] janluke commented on #23278
FYI, I provided a minimal reproducible example to the support engineer who handled my support request some time ago. It can be found here: https://github.com/janluke/azureml-issue-23278.

I'm personally not interested on this issue any more, since I provide my environment variables injecting an .env file to the uploaded source code folder. I'd be interested again if you provided a sane way to prov

[2022-07-13 10:54] janluke commented on #21878
Sorry to be that guy, but how come this has not been fixed yet? Being able of downloading a dataset is the most basic feature of a data registry. Some of my colleagues experience the same model with the model registry.

[2022-07-13 13:08] MiquelMartiGyrusDS opened #25196 "Mistake in the documentation (TROUBLESHOOTING.md)"
- **Package Name**: azure-sdk-for-python
- **Package Version**: Updated 8th July 2022
- **Operating System**:NA
- **Python Version**: NA

**Describe the bug**
The documentation on troubleshooting might be misleading.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/TROUBLESHOOTING.md#troubleshoot-environ

[2022-07-13 15:03] QuentinBriand opened #25198 "Azure Service bus timeouts instead of dequeuing messages"
- **Package Name**: azure-servicebus
- **Package Version**: 7.7.0
- **Operating System**: Fedora 34 (Xfce)
- **Python Version**: 3.8.13 (In virtual environment)

**Describe the bug**
Receive_messages timeouts (1minute each) multiple times before treating a message even when the Queue contains already some messages.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch 25 processes that will

[2022-07-13 16:47] jsquire commented on #19821
Duplicate of #24597

[2022-07-13 16:47] #19821 closed

[2022-07-13 17:23] anliakho2 commented on #21878
Hi @janluke, sorry this still happens to you. This is definitely one of the core scenarios and should work very reliably.
What version of azureml-dataprep you have installed?
Also I know I have asked you this before, but could you please also provide session_id for the recent failure?

[2022-07-13 18:07] scbedd commented on #25188
If the identity tests were green after moving `py39` to windows. I think you can close this.

[2022-07-13 19:19] #19971 closed

[2022-07-13 19:20] #20927 closed

[2022-07-14 00:41] thongonary commented on #25124
I found the issue @bandsina @azureml-github

These `azureml` packages contain `azureml-dataset-runtime`, which requires `pyarrow<4.0.0,>=0.17.0`
However, the latest version of `pyarrow` is 8.0.0, and other popular packages such as `datasets` from HuggingFace requires `pyarrow > 6.0.0`. These conflicting requirements prevent conda from installation.

Certainly this is something the AzureML team sho

[2022-07-14 01:13] mccoyp commented on #25175
Hmmm... I wasn't able to keep looking into this today, but I'll keep trying to repro and provide an update as soon as possible. I updated my PyCharm yesterday, but I'll see if there are updates I'm missing -- thank you for your patience!

[2022-07-14 02:29] harneetvirk commented on #25124
We have requested the feature team to upgrade the dependencies of pyarrow>6.0.0 in azureml-dataset-runtime package.

[2022-07-14 02:36] Wzb123456789 commented on #25092
Hi @yuyue9284, thank you for your feedback.

According to my investigation, the cause of this problem may be due to the `azure-mgmt-relay` version you are using is 0.1.0, `azure-mgmt-relay` has been updated to 1.1.0, please try to use the latest version.
https://pypi.org/project/azure-mgmt-relay/#history

[2022-07-14 03:43] navba-MSFT commented on #19347
This issue is open since Jun 2021. Service attention label has been added already. So removing the CXP attention label from this backlog.

[2022-07-14 04:04] rakshith91 opened #25213 "Change test-resource.json to bicep"
I would be very happy if you decided to change this to a bicep template (`az bicep decompile -f test-resources.json  # outputs test-resources.bicep`) ;) In general it's a much simpler format that's easier to work with over time.

_Originally posted by @benbp in https://github.com/Azure/azure-sdk-for-python/pull/25195#discussion_r920692464_

[2022-07-14 07:30] Wzb123456789 commented on #25081
Hi @romanzdk

There are two ways to pass parameters to the model:
[code]
So, if you need to use the model to get data, it is recommended that you pass the parameters you want in json, like：
![image](https://user-images.githubusercontent.com/51410816/178925200-3d8d3184-6140-411c-a6f8-a431fc866916.png)

Regarding some keys that are not in the format you need, I cannot modify this, because this param

[2022-07-14 08:41] hooyao commented on #24789
Hi guys this library is broken now, do you have a workaround?

[2022-07-14 08:47] Wzb123456789 commented on #24915
Hi @richardpark-msft

Regarding this issue, since the `.create()` function you are using is an old version, it is recommended that you use the `.create_or_update()` function to try again, because this function is compatible with the latest `azure.mgmt.applicationinsights` version.
fyi: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/applicationinsights/azure-mgmt-applicationinsights/az

[2022-07-14 10:25] thongonary opened #25215 "PythonScriptStep cannot launch multi-node distributed training in Azure ML pipeline"
- **Package Name**: `azureml-pipeline-steps`
- **Package Version**: `1.43.0`
- **Operating System**: Ubuntu 20.04
- **Python Version**: 3.8.12

**Describe the bug**
When I run a python script step in my AzureML pipeline as a distributed training step (2-nodes cluster, 4 GPUs per node), with `node_count=2` in `MpiConfiguration`, the step only launches on 1 node and trains on 4 GPUs of this node, ig

[2022-07-14 10:48] thongonary commented on #25215
Closing issue as I forgot to set
[code]

Now it works properly as expected.

[2022-07-14 10:48] #25215 closed

[2022-07-14 10:56] Racheli-Bloch opened #25216 "Insufficient privileges to complete the operation while trying to get AD groups"
Hi, I am trying to write a very simple script to list Azure AD groups.

- **Package Name**: azure-common
- **Package Version**: 1.1.28

- **Package Name**: azure-graphrbac
- **Package Version**: 0.61.1

- **Python Version**: 3.10

Here is the script:

[code]

The intention is to run it from "Azure automation" authenticating using a service-principle (not a user).
The app registration I created on

[2022-07-14 11:01] youssefbenfarhat opened #25217 "Error while creating an Azure virtual machine"
I'm trying to create an Azure VM with Ansible and I'm getting this error.

TASK [VM CREATION] ******************************************************************************************************************************************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ModuleNotFoundError: No module named 'azure.mgmt.network'
fatal: [loca

[2022-07-14 13:25] romanzdk commented on #25081
There is still a misunderstanding.. I am generating the entire ADF pipeline using just Python SDK. No JSON files. And I need to convert the result Pipeline object into JSON because I need to upload it into GIT repository associated with the ADF.

The problem is that converting the ADF python models into JSON objects is not working correctly - dictionary keys have wrong case - e.g. instead of `depe

[2022-07-14 16:02] jsquire commented on #23510
For context, this is a service limitation.  There is no way to send a single batch of messages with heterogeneous partition keys.

The Event Hubs service limits each message received by the gateway to a single partition key.  In the case of an event batch, its physical form is an AMQP message that contains other messages as its body; the Event Hubs gateway associates the partition key from the bat

[2022-07-14 16:05] jsquire commented on #23063
@kashifkhan - Is it safe to close this one, since the buffered producer has been released?

[2022-07-14 16:11] xiangyan99 commented on #25196
Thanks for the feedback, we’ll investigate asap.

[2022-07-14 16:12] xiangyan99 commented on #25198
Thanks for the feedback, we’ll investigate asap.

[2022-07-14 16:13] jsquire commented on #16994
@kashifkhan - If we can confirm there's a single option for "EnableIdempotentPartitions" that the buffered producer can use - then the design is final and we can kill this one.  😄

[2022-07-14 16:16] xiangyan99 commented on #25217
Thanks for reaching out.

Could you give more details about how you setup the environment?

[2022-07-14 16:42] weltonrodrigo commented on #23510
Are the other types of message also buffered?

I have this application where I use a call to `async_producer.get_eventhub_properties()` as healthcheck.

This is a moderate volume (100msg/second) and with the new buffered producer this call started to take a long time.

Is that a good approach to detect producer connection problems? Can your test harnesses reproduce if under load that call becomes

[2022-07-14 16:56] Stevenjin8 commented on #24836
@vincenttran-msft To add onto this, `AzureKeyCredential` also isn't supported. I'd be happy to try to help out with this.

[2022-07-14 18:25] kashifkhan commented on #23063
yes this one can be closed

[2022-07-14 18:25] #23063 closed

[2022-07-14 18:31] kashifkhan commented on #24013
@jsquire right now Python went with the default number of workers as picked by ThreadPoolExecutor which is ` it will default to the number of processors on the machine, multiplied by 5` up till py3.8. From 3.8 onwards it is min(32, os.cpu_count() + 4)

[2022-07-14 18:57] padauer opened #25220 "BlobServiceClient list_containers throws AuthorizationFailure"
**Issue:**
Blob Service Client list_containers fails with AuthorizationFailure
It worked until 1 or 2 weeks ago. I dont run this script very often. But we didnt change a thing...

**Code snippet**
[code]

**Stack trace:**
[code]

**Expected behavior**
List all containers in Storage Account

**Setup**
Python 3.10.5
[code]

**Additional context**
Error also occurs when storage accounts are public an

[2022-07-14 19:38] SaurabhSharma-MSFT commented on #25216
@Racheli-Bloch We are looking into it and get back to you for any additional information.

[2022-07-14 20:10] toby-coleman commented on #22384
@azureml-github @kristapratico - any update on this issue?

[2022-07-14 20:46] xiangyan99 commented on #25196
Hi, it is correct that AZURE_CLIENT_ID, AZURE_TENANT_ID and AZURE_CLIENT_CERTIFICATE_PATH are needed for authenticating a service principal using a certificate and AZURE_USERNAME and AZURE_PASSWORD for authenticating a user using a password

[2022-07-14 20:55] scbedd commented on #25130
Additionally. We need to submit a PR that looks like [this](https://github.com/Azure/azureml-examples/pull/1475/files#diff-42421af750b6a4cc5538dcc724e597115a1d68af5584619fe69ac1807d0e8d4e) to the samples repo. This is what kicks the whole sample pipeline verification off.

[2022-07-14 21:46] #24178 closed

[2022-07-14 22:03] #25132 closed

[2022-07-14 23:31] mccoyp opened #25225 "[Test Proxy] Set default header exclusions more reliably"
Today, we add a sanitizer and matcher to exclude certain, unnecessary headers in our tests as part of test proxy startup: https://github.com/Azure/azure-sdk-for-python/blob/ff97aa8a61dc6accc72ee11441f4909c32d7695e/tools/azure-sdk-tools/devtools_testutils/proxy_startup.py#L182-L186

There are a few problems with this approach:
1. The linked code is only run if the test proxy tool isn't already runn

[2022-07-14 23:35] xiangyan99 commented on #25220
Thanks for reaching out.

Could you enable log to get more details?

[code]

[2022-07-14 23:42] Iamsoto opened #25227 "Cannot import UniqueKey or UniqueKeyPolicy class"
When I try to pip install azure.mgmt It gives me the following message:
[code]

So I'm not certain where to import these classes from...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49e511b3-c136-8dd7-61f3-7f40c656e2dd
* Version Independent ID: a6e54607-0c84-3127-0ca8-7b4ef0c7b1b2
* Content: [azure.mgmt.cosmosdb.mode

[2022-07-15 00:03] #24950 closed

[2022-07-15 00:05] catalinaperalta opened #25228 "[formrecognizer] Add continuation token overload method"
Comment from Johan:
`We should get rid of this parameter for now. The intended pattern is to have an overload that only takes the continuation token and none of the other parameters (except possibly for pipeline parameters such as timeout etc.)`

[2022-07-15 00:26] catalinaperalta opened #25229 "[formrecognizer] Use NewType for target authorization result"
This will help with ensure the correct information is being passed in to the copy request.

[2022-07-15 02:15] wtam opened #25232 "ImportError: cannot import name 'BlobClient' from 'azure.storage.blob' (/usr/lib/python3/dist-packages/azure/storage/blob/__init__.py)"
- **Package Name**:  azure-storage-blob
- **Package Version**: 12.13.0 and all old pkg
- **Operating System**: WSL:Ubuntu
- **Python Version**:  3.8.10

**Describe the bug**
ImportError: cannot import name 'BlobClient' from 'azure.storage.blob' (/usr/lib/python3/dist-packages/azure/storage/blob/__init__.py)

**To Reproduce**
Steps to reproduce the behavior:
1. from azure.storage.filedatalake impor

[2022-07-15 04:21] jiasli opened #25234 "`azure.mgmt.resource.subscriptions` lacks `api_version` 2020-01-01 for `tenants` API"
- **Package Name**: `azure.mgmt.resource.subscriptions`
- **Package Version**: latest

**Describe the bug**
The REST API document for Tenants - List uses `api-version=2020-01-01`:

https://docs.microsoft.com/en-us/rest/api/resources/tenants/list?tabs=HTTP

![image](https://user-images.githubusercontent.com/4003950/179149361-d7926c32-65b0-4dbf-bc9d-d8453b8e8719.png)

However, this API version is mi

[2022-07-15 04:39] padauer commented on #25220
@xiangyan99
here are the logs:
[code]

[2022-07-15 04:50] padauer commented on #25220
Hi,

It was actually a Network issue.
We use a cloudproxy. once disabled everything works.
Sorry!

[2022-07-15 04:50] #25220 closed

[2022-07-15 05:12] sid-motorq commented on #21719
If anyone is looking for a workaround, creating a fresh automation account (without any packages installed) and running to importpypackage runbook from it targeting my actual automation account made it work

[2022-07-15 08:28] dkreeft opened #25238 "Set ACLs recursively with an owning group"
**Is your feature request related to a problem? Please describe.**
We would like to set ACLs recursively and specify an owning group in the process.

**Describe the solution you'd like**
3 solutions I could work with in order of preference (feel free to propose alternatives):
1. Add a "group" parameter to `DataLakeDirectoryClient.set_access_control_recursive`, similar to `DataLakeDirectoryClient.s

[2022-07-15 09:06] MiquelMartiGyrusDS commented on #25196
Thank you @xiangyan99 for your effort and clarification.

[2022-07-15 09:06] #25196 closed

[2022-07-15 14:32] wanpeng-cds opened #25242 "azure.mgmt.securityinsight.watchlists.create_or_update() doesn't create the watchlist items"
- **Package Name**:
azure.mgmt.securityinsight
- **Package Version**:
 Latest
- **Operating System**:
Linux
- **Python Version**:
3.9.12
**Describe the bug**
This package is using the REST API version: 2022-07-01-preview.  When I use `azure.mgmt.securityinsight.watchlists.create_or_update()`, it will create the watchlist, return with 200 response, but it ignores the watchlist items set in `raw_con

[2022-07-15 15:57] pathumd opened #25243 "How to speed up printing blob names in large blob container?"
Recently, I've been working on a Python script that prints a blob's name if it matches a keyword specified by the user. There are several blob containers in the storage account.

Everything seems to work fine, except for one blob container. This container contains roughly 1,100,000 blobs and it takes my Python script approximately 23 minutes to scan through all the blobs and check for a match.
I a

[2022-07-15 16:23] xiangyan99 commented on #25227
Thanks for reaching out.

As you can see in the error message, azure-mgmt package is deprecated.

It seems to me you are looking for azure.mgmt.cosmosdb.models.UniqueKeyPolicy class which you need azure-mgmt-cosmosdb package.

Please let us know if it does not work.

[2022-07-15 17:04] rakku-ms opened #25244 "ClientSecretCredential auth making call to 'https://login.microsoftonline.com/common/discovery/instance' which is failing in disconnected ADFS Azure Stack"
- **Package Names and Versions**:
Python version: 3.8.10
azure-common        1.1.28
azure-identity      1.10.0
msrestazure         0.6.4
azure-mgmt-resource 21.1.0
azure-mgmt-compute  27.2.0

**Describe the bug**
ClientSecretCredential making call to https://login.microsoftonline.com in case of disconnected ADFS Azure Stack stamp (without internet connection) which is failing

**To Reproduce**
cre

[2022-07-15 17:22] rakshith91 opened #25245 "[Ingestion] Support Stream for uploading logs"
https://docs.python.org/3/library/io.html

[2022-07-15 17:29] rakshith91 opened #25247 "Test coverage for Monitor Ingestion"
- [ ] Send a sample data of logs as a list
    - [ ] Async
- [ ] Send a large data (> 1MB) of logs as a list
    - [ ] Async
- [x] Send data as stream
    - [ ] Async
- [ ] Send sample data as an iterable
    - [ ] Async
- [ ] Send  large data (> 1MB) of logs as an iterable
    - [ ] Async
- [ ] Send  data > 1MB setting max_concurrency > 1
    - [ ] Async
- [ ] Send  data > 1MB setting max_concurr

[2022-07-15 18:22] xiangyan99 commented on #25244
@rayluo FYI.

[2022-07-15 19:37] jalauzon-msft commented on #24661
Both of the type issues have been fixed in `main` and will be present in our next release. There is no need to adjust the sample code now.

[2022-07-15 19:37] #24661 closed, assigned to jalauzon-msft, vincenttran-msft

[2022-07-15 19:50] #24958 closed

[2022-07-15 20:06] xiangyan99 commented on #24786
@kashifkhan could you help to answer the question?

[2022-07-15 20:22] kashifkhan commented on #24786
Hi @james-tn yes the Service Bus should be able to help you out in this scenario. Topics and subscriptions allow for one-to-many form of communication and you can get more details about them [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-queues-topics-subscriptions).  The link to our SDK and samples is [here](https://github.com/Azure/azure-sdk-for-python/tree/main/

[2022-07-15 21:02] #20434 closed

[2022-07-15 21:44] scbedd opened #25255 "Triage Action is failing on forks"
Hey @xiangyan99 for some reason after pushing [the needs-triage](https://github.com/Azure/azure-sdk-for-python/pull/25219) activity, any forks just have the action trigger on _pushes_, and it crashes.

Here's an example of what that looks like on my fork (@mikeharder is the one that raised this to me though)

![image](https://user-images.githubusercontent.com/45376673/179315062-2172cc02-19d5-4b9d-

[2022-07-15 22:04] #25106 closed

[2022-07-15 22:04] #25020 closed

[2022-07-15 22:04] #25007 closed

[2022-07-15 22:04] #24959 closed

[2022-07-15 22:04] #24643 closed

[2022-07-15 22:04] #24447 closed

[2022-07-15 22:04] #23922 closed

[2022-07-15 22:04] #21811 closed

[2022-07-15 22:04] #21584 closed

[2022-07-15 23:44] jalauzon-msft commented on #25238
Hi @dkreeft, thanks for reaching out. This is an interesting topic. It seems the SDK may have this "gap" because of some specifics on what the service accepts. See the [service docs](https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/update) for the API that backs these functions.

The docs are a bit hard to read through since the Update Path API can do a whole lot

[2022-07-16 04:03] #21416 closed

[2022-07-17 07:06] tbatra18 opened #25259 "Get the cost of each resource under a subscription daily"
I am looking for an api to get the cost of each resource under a subscription on daily basis or given time diff.
For an example, suppose i have 2 virual machines say A and B, the rest api should say the cost for virtual machine A is x$ and B is y$ and good to be if we can give additional info like tags to each machine in the output

[2022-07-17 15:30] pathumd commented on #19755
Hello, I was wondering if the `get_blob_names` has been added to the Python SDK yet. Thank you!

[2022-07-17 17:06] chritter commented on #23744
I have the same problem here by using `OutputFileDatasetConfig` as the recommended way of handling output datasets rather than `PipelineData` in pipelines. Is there any update?

[2022-07-17 20:14] Piranha688 commented on #23744
@chritter, I had opened a separate ticket with Microsoft. Their reply was that this behavior is intentional as the OutputFileDatasetConfig and PipelineParameter are not intended to be used this way.

I was recommended to introduce a separate PythonScriptStep for the purpose of writing output to a dynamic file path.

Hopefully v2 of AML will smooth out some of these issues going forward.

[2022-07-18 03:03] msyyc opened #25260 "[Mgmt][DPG] Drop python 3.6"
detailed info is in `RE: Deprecation of Python 3.6 in SDK`

[2022-07-18 05:59] BigCat20196 opened #25263 "[Security] Transform security to multi API"
In order to allow private cloud users to customize API version, secruity is transformed into multi API
steps:
1. reset swagger to the date
2. change the readme.python

[2022-07-18 07:23] anishnair-kpmg commented on #24643
@mohitnmo  Try with azure-identity version '1.4.0' instead. If you are getting same error as mine, then it should work in this version. Additionally, this issue is fixed in the latest client library version as mentioned by @xiangyan99. So I would suggest to use this version as well which is pre-release:
https://pypi.org/project/azure-identity/1.11.0b2/

I'm yet to try the latest release but I will

[2022-07-18 08:17] dkreeft commented on #25238
Thank you for your swift reply. To answer your question: yes, I have tried that, but then Azure will return an error message stating "invalid ACL" (or something similar). The service docs for `x-ms-acl` state:

Which might be a cryptic way of describing that providing an owning group in the ACL itself is not supported.

As a quick possible work-around, if Azure works as I described in the alternat

[2022-07-18 12:39] ZekunZh commented on #25146
@xiangyan99 Is there any news for this issue ?

[2022-07-18 15:29] anupshrestha opened #25266 "[BUG Bash] pip install azure-eventhub broken"
**Describe the bug**
The `pip` installation of `azure-eventhub` is broken

***Exception or Stack Trace***

    Building wheels for collected packages: uamqp
    Building wheel for uamqp (setup.py) ... error
    error: subprocess-exited-with-error

    × python setup.py bdist_wheel did not run successfully.
    │ exit code: 1
    ╰─> [80 lines of output]
        running bdist_wheel
        running

[2022-07-18 16:51] JimacoMS4 commented on #24336
@anthonyvercolano @anushprabhu @cartertinney . Doc set has been removed, so I'm closing this item.

#please-close

[2022-07-18 16:52] #24336 closed

[2022-07-18 17:20] SaurabhSharma-MSFT commented on #25182
@thecowmilk We are looking into it and get back to you for any additional information.

[2022-07-18 17:21] SaurabhSharma-MSFT commented on #25183
@msamsami We are looking into it and get back to you for any additional information.

[2022-07-18 17:53] lmazuel opened #25267 "Need a basic impl for HTTPResponse in public API"
Make this file importable for customers that want to implement their own HTTP transport:
https://github.com/Azure/azure-sdk-for-python/blob/1a9b633d928acb0f7b1cb96bb252805ab98268ac/sdk/core/azure-core/azure/core/rest/_http_response_impl_async.py

As long as we set the right expectations, and maybe put some method as abstract, this is valuable. This would have avoided Steven to import private APIs

[2022-07-18 18:37] #24297 closed

[2022-07-18 19:54] xiangyan99 commented on #25266
Thanks for the feedback, we’ll investigate asap.

[2022-07-18 19:57] kashifkhan commented on #25266
@anupshrestha can you give me some more details about the OS you are trying this on? azure-eventhub definitely supports py3.10

[2022-07-18 20:06] xiangyan99 commented on #25259
@msyyc do you know ideas?

[2022-07-18 20:25] anupshrestha commented on #25266
@kashifkhan I am running it on MacOS Monterey (Version 12.4) with the Apple M1 Pro chip.

[2022-07-18 20:56] anupshrestha commented on #25266
I might test it out and thanks for looking into it.

[2022-07-18 20:56] #25266 closed

[2022-07-18 21:40] NCarter3 opened #25273 "custom_headers parameter to NetworkInterfacesOperations._create_or_update_initial"
**Is your feature request related to a problem? Please describe.**
In working with Azure on building a network integration, we've been asked to add a header to requests. To use the SDK and send custom headers requires some patching to get to work right now.

**Describe the solution you'd like**
I'd like a "custom_headers: Optional[Mapping[str, str]]" parameter on NetworkInterfacesOperations._creat

[2022-07-18 22:15] xiangyan99 opened #25276 "issue to test action"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional cont

[2022-07-18 22:50] #23528 closed

[2022-07-18 23:55] kristapratico commented on #24006
closed in #25009

[2022-07-18 23:55] #24006 closed

[2022-07-18 23:55] SaurabhSharma-MSFT commented on #25182
@thecowmilk I do not see any issues calling `detect_with_stream` function with both results and no results. See below -
![image](https://user-images.githubusercontent.com/38112130/179636077-734cda85-879f-4436-94e8-04306f4f9121.png)
![image](https://user-images.githubusercontent.com/38112130/179636095-7998bcc7-70df-4c38-9bc9-d253ba637aab.png)

Which version of the vision face library you are using?

[2022-07-18 23:56] kristapratico commented on #24383
https://dev.azure.com/msazure/Cognitive%20Services/_workitems/edit/14337635/

[2022-07-19 00:02] lidong-zhao commented on #23249
Any workaround for bug? looks like not possible to install previous version of Azure Account.

[2022-07-19 00:33] xiangyan99 commented on #23249
In the drop-down list of uninstall, there is an option "install another version".

[2022-07-19 02:04] msyyc commented on #25259
Hi @tbatra18 Maybe this [doc](https://docs.microsoft.com/en-us/azure/cost-management-billing/cost-management-billing-overview) could help you

[2022-07-19 02:17] #16231 closed

[2022-07-19 06:04] Wzb123456789 commented on #25081
Hi @romanzdk

Since the model of `PipelineResource` is fixed, I have no way to modify what comes out after model deserialization.

I found a method that might work for you based on your description, like:

[code]

This method is to obtain the serialized content of the model in the sent request.

Hope it helps you.

[2022-07-19 07:42] leizhang1984 opened #25283 "Explorer the Management APIs is not work"
Hi,

Explorer the Management APIs is not work.

Please help to fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c273bd7f-1d12-2088-d726-9c926cfdf78c
* Version Independent ID: 7efc43f5-208d-1fb9-9c56-44d52d1703bc
* Content: [Azure Consumption libraries for python](https://docs.microsoft.com/en-us/python/api/overvi

[2022-07-19 14:19] pathumd opened #25287 "get_blob_names in Azure Python SDK"
Hello,

Recently I've been building a Python application that acts as a search tool for an Azure storage account containing several containers. One container has nearly 1,100,000 blobs. When my script searches through this container, it takes nearly 23 minutes to fully complete.

I'm currently using the 'list_blobs' method to retrieve a generator containing all of the blobs in each container. Howe

[2022-07-19 14:36] v-chhbhoi commented on #24898
Closing this. Tried to reproduce the issue from given steps but due to the container or other constraints not able to get the exact issue. Please update the details here and feel free to reopen this if it occurs again. Thanks

[2022-07-19 16:42] #25169 closed

[2022-07-19 16:48] #25276 closed

[2022-07-19 16:48] xiangyan99 opened #25290 "test labeler"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional cont

[2022-07-19 16:49] azure-sdk commented on #25290
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.15474483,Event Hubs:0.113662966,Subscription:0.07873842'

[2022-07-19 16:49] #25290 closed

[2022-07-19 16:50] SaurabhSharma-MSFT commented on #25242
@wanpeng-cds We are looking into it and get back to you for any additional information.

[2022-07-19 17:02] catalinaperalta commented on #25229
Fixed in #25268

[2022-07-19 17:02] #25229 closed

[2022-07-19 17:02] #24999 closed

[2022-07-19 17:44] gnsharans opened #25294 "ERROR 'ClientSecretCredential' object has no attribute 'signed_session'"
I Was trying to Collect the List of Deny Assignments present in a particular tenant, So Passed required Arguments here

[code]

Created ClientSecretCredentials Here

`csc = ClientSecretCredential(tenant_id=tenant_id,
                             client_id=client_id,
                             client_secret=client_secret)`

From Some Other Code, i have received list of SubScription Ids

[code]

I

[2022-07-19 17:45] azure-sdk commented on #25294
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.32162258,Azure.Identity:0.113247,KeyVault:0.0596206'

[2022-07-19 17:50] xiangyan99 commented on #25294
Thanks for reaching out.

Are you using azure-mgmt-authorization library?

Could you help to check the version you are using?

has no attribute 'signed_session' usually indicates this is a track 1 library.

If you upgrade your library to the latest version, it should go away.

Thanks.

[2022-07-19 18:54] lmazuel opened #25295 "Linter: check the presence of @distributed_tracing"
Especially in patch.py for DPG, but globally all methods should be decorated to be traceable. Async decorator is called @async_distributed_tracing

[2022-07-19 18:55] azure-sdk commented on #25295
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5047416,Azure.Core:0.21194917,Batch:0.04988231'

[2022-07-19 20:11] kristapratico commented on #24553
Only QA is failing. This is waiting for the scripted and unified test resources that will replace QA tests.

[2022-07-19 20:26] kristapratico opened #25300 "[QA] rename *ProjectsClient and namespace"
We should align with CLU and call this QuestionAnsweringAuthoringClient / azure.ai.language.questionanswering.authoring

[2022-07-19 20:27] azure-sdk commented on #25300
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'azure-spring:0.36528525,Authorization:0.21738437,Storage:0.095232524'

[2022-07-19 20:27] kristapratico opened #25301 "[QA] regenerate projects/authoring client as a DPG"
This is currently generated as an LLC(?)

[2022-07-19 20:28] azure-sdk commented on #25301
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.38014966,Service Bus:0.09996786,Authorization:0.046377253'

[2022-07-19 21:19] kristapratico opened #25304 "[QA] fix return type docs for LROs"
Like in CLU, we need to use transforms to define the JSON returned from LROs. @heaths shared the following transforms we can use:

[code]

[2022-07-19 21:20] azure-sdk commented on #25304
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.29592535,Storage:0.088921696,ARM - Templates:0.042299096'

[2022-07-19 21:30] heaths commented on #25304
FWIW, the `export` operation already had a 200 response defined.

[2022-07-19 21:30] #23529 closed

[2022-07-19 22:28] vincenttran-msft commented on #25287
Hi @pathumd Pathum, thanks for your inquiry. Unfortunately, this functionality has not yet been implemented and I have no good on ETA on when this feature will be implemented and released. As you have pointed out, this issue seems to be the same request feature request as linked (issue #19755).

Therefore, I will continue with the closure of this issue as a duplicate. However, please post your per

[2022-07-19 22:28] #25287 closed

[2022-07-19 23:40] SaurabhSharma-MSFT commented on #25242
@wanpeng-cds I have tried using the REST as you mentioned above and able to create and update an existing watchlist with watchlist items getting passed as raw content.  A new watchlist item is getting added if not available.
![image](https://user-images.githubusercontent.com/38112130/179865870-e55d99ba-3c6b-44e5-b6b6-cc44eacf8b71.png)
Result on Azure portal:
![image](https://user-images.githubuser

[2022-07-20 00:28] annatisch commented on #25062
Some further updates to my comments above:
- The dependency on Azure-Identity should be removed - we can just vendor any code from identity that we need.
- We should take a closer look at how isodate is being used - as removing it later _could_ be breaking.
- Pathspec should be removed.

Adding @azureml-github for greater visibility so we can start making progress on this.

[2022-07-20 00:29] annatisch commented on #25058
Tagging @azureml-github for broader visibility.

[2022-07-20 00:31] annatisch commented on #25060
Given there's such a limited scope (<25) of public models that appear to expose msrest.serialization.Model - I would recommend just updating the handwritten layer to exclude this base class. This should be a relatively simple fix.

Tagging @azureml-github for broader visibility.

[2022-07-20 01:09] annatisch opened #25312 "[AzureML] Migrate test pipeline"
The live test pipeline needs to be migrated for both CI offline playback validation, and internal live resource validation.

cc @azureml-github

[2022-07-20 01:09] azure-sdk commented on #25312
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.5333398,Client:0.45846045,Service:0.006143167'

[2022-07-20 01:13] annatisch opened #25314 "[AzureML] Re-enable CI pipeline checks"
Currently the following pipeline checks have been disabled.
- AnalyzeDependencies
- ApiStubGen
- Bandit
- BreakingChanges
- Pylint
- Spellcheck
These need to be re-enabled before GA.

cc @azureml-github

[2022-07-20 03:58] tjprescott commented on #25283
Since this is management plane, @msyyc can you take a look? @leizhang1984 can you be more specific about what doesn't work? What are you trying to do?

[2022-07-20 03:59] azure-sdk commented on #25273
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Graph:0.38314182,Storage:0.052597385,AAD:0.05146199'

[2022-07-20 04:00] tjprescott commented on #25273
@NCarter3 thank you for the issue report. @msyyc can you take a look?

[2022-07-20 04:03] #24977 closed

[2022-07-20 04:31] leizhang1984 commented on #25283
@tjprescott

Hello,

When I click "Explore the Management API", another browse tab is opened and address is:
https://docs.microsoft.com/en-us/python/api/overview/azure/consumption/management

This page display 404 not found.

thanks.

[2022-07-20 07:04] thecowmilk commented on #25182
@SaurabhSharma-MSFT I debugged a little and I got this response back

[code]

I don't know if it intended or not....

[2022-07-20 09:29] pierre-at-work opened #25318 "[azure-cosmos] DatabaseProxy.create_container_if_not_exists forwards all kwargs to the request and raise TypeError in azure/core/pipeline/transport/_aiohttp.py"
- **azure-cosmos**:
- **4.3.0**:
- **Ubuntu 22.04 LTS**:
- **python 3.10**:

**Describe the bug**
When I provide default_ttl and indexing_policy in the create_container_if_not_exists method of the DatabaseProxy class, these kwargs are forwarded to the request params and raise a TypeError: ClientSession._request() got an unexpected keyword argument 'default_ttl' in the azure/core/pipeline/transport

[2022-07-20 17:38] ambroselittle opened #25325 "Explore Link Broken"
The Explore link is broken/404: https://docs.microsoft.com/en-us/python/api/overview/azure/powerbi/management

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5109ef0-5dd6-309f-3e04-7d492e9a8020
* Version Independent ID: fff79500-7d5f-6c4a-aab0-684b8a6b90e2
* Content: [Azure Power BI SDK for Python](https://docs.microso

[2022-07-20 17:46] eberhardhummel opened #25326 "DefaultAzureCredential object has no attribute 'signed_session' using azure-mgmt-datalake-analytics==0.6.0"
- azure-mgmt-datalake-analytics==0.6.0:
- azure-identity==1.10.0:
- Linux-5.10.102.2-microsoft-standard-x86_64-with-glibc2.2.5
- python 3.8.13:

**Describe the bug**
getting error trying to employ azure-mgmt-datalake-analytics module in python in an azure linux function app.

Sources:
credentials = DefaultAzureCredential(managed_identity_client_id=********************************)
adlaJobClient =

[2022-07-20 18:20] gnsharans commented on #25294
Hey sorry,

I have referred several Microsoft docs,
Ref : https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/migration_guide.md

The above ref resolved issue,

I just want to know,
Is there a way better way to map all the python package versions, right now it's very hectic to resolve all the dependencies issues

Thanks.

I hope this issue is closed, by using mentio

[2022-07-20 18:40] tjprescott commented on #25326
@eberhardhummel thank you for your report. @msyyc can you please take a look at this?

[2022-07-20 18:43] tjprescott commented on #25318
Hi @pierre-tagheuer thank you for the report. @simorenoh can you please take a look?

[2022-07-20 20:13] tjprescott commented on #25325
@sima-zhu can you take a look at this? Perhaps a docs generation issue?

[2022-07-20 20:23] rraveendran-msft opened #25328 "azure-keyvaults-secrets 4.4.0 SecretClient.get_secret Connection timed out"
- **Package Name**:  azure-keyvault-secrets
- **Package Version**:  4.4.0
- **Operating System**: Ubuntu 18.04
- **Python Version**:  3.8.5
- **Other**: This is running on an Azure ML Compute Instance under a VNet (keyvault is under the same VNet and allows access from the VNet).

**Describe the bug**
When trying to retrieve a secret with SecretClient.get_secret, it hangs for a very long time befo

[2022-07-20 20:24] azure-sdk commented on #25328
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.2255629,KeyVault:0.21285696,Machine Learning:0.1379538'

[2022-07-20 20:55] rraveendran-msft commented on #25328
Annnd I got it. Turns out to not be related to any of the above, but the VNet that the compute instance was in. I thought it was sufficient that in the Keyvault networking settings I set it to allow traffic only from the VNet, but I also **needed to add outbound access to the Azure Keyvault Service Tag** (more info on service tags [here](https://docs.microsoft.com/en-us/azure/virtual-network/servi

[2022-07-20 20:55] #25328 closed

[2022-07-20 20:58] mmccarty commented on #24644
`cudf` requires 7.0.0. Would it be possible to include that version?
cc @galipremsagar

[2022-07-20 21:03] galipremsagar commented on #24644
`cudf`-`22.06.*` supports py-arrow 7.0.0. Is the ask for `cudf-22.08`?

[2022-07-20 22:51] #23530 closed

[2022-07-20 23:09] kristapratico opened #25334 "[language] consolidate static test resources under one keyvault"
- Text Analytics secrets under TestSecrets-textanalytic should be moved to TestSecrets-CogServices
- Move back to individual vars instead of a JSON blob so the test-resources.json script outputs secrets

[2022-07-20 23:17] jalauzon-msft commented on #24587
Hi @anthony-sarkis Anthony, I understand your confusion around this parameter name. Most of the examples you referenced however were referring to old versions of the Python SDK. For version 12, the SDK went through a major rewrite and quite a lot of things changed. Unfortunately, there are still easily discoverable references to the prior versions floating around and the API documentation has stay

[2022-07-21 07:30] msyyc commented on #25273
Hi @Wzb123456789 Please help on this issue

[2022-07-21 07:39] neerajanil opened #25341 "Opentelemetry span events have wrong ParentId in Azure Monitor logs"
- **Package Name**: azure-monitor-opentelemetry-exporter
- **Package Version**: 1.0.0b6
- **Operating System**: Windows 11
- **Python Version**: 3.8.10

**Describe the bug**
The bug occurs when a span which has events added to it is exported to Azure Monitor through the  `AzureMonitorTraceExporter`.
The `ai.operation.parentId` tag of the Trace that is created for these events is set to `span.paren

[2022-07-21 07:40] andrii-kokhan commented on #22384
Can i ask you to kindly give us a hint as to the possible date of aligning azureml-train-automl-* libs with python 3.9? Any plans at all? That would help us to plan migration to later python version.

[2022-07-21 12:10] sergiosolorzano opened #25342 "coordinate measure"
please detail top, left, width and height are in pixels if that's the case (not cm or any other measure). thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86935bba-75d6-6193-2320-202d12c9bcc7
* Version Independent ID: 52808013-ff8e-2c0e-b1c1-81d1d3718361
* Content: [azure.cognitiveservices.vision.customvision.t

[2022-07-21 15:36] wanpeng-cds commented on #25242
I've tested the REST API in a different tenant and got the same result:  api version `2021-10-01` works, `2022-07-01-preview` only creates/updates the watchlist itself but no watchlist items.

I authenticated with a service principle.

[2022-07-21 15:55] SaurabhSharma-MSFT commented on #25242
@wanpeng-cds thanks for sharing details.  I will check this in my environment.

[2022-07-21 16:35] kristapratico commented on #22384
Hi @andrii-kokhan, I've reached out to the ML team. Will reply as soon as I get an answer.

[2022-07-21 17:25] catalinaperalta commented on #24980
Pending modeloperationdetails and modeloperationsummary renames

[2022-07-21 22:07] SaurabhSharma-MSFT commented on #25216
@Racheli-Bloch We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-21 22:07] #25216 closed

[2022-07-21 22:23] scbedd opened #25353 "azure-mgmt-monitor samples are out of date"
Samples are getting published from [here](https://github.com/Azure-Samples/azure-samples-python-management/tree/main/samples/monitor).

It's pretty clear that a new samples readme was not added with the track 2 regeneration of `azure-mgmt-monitor`. As a result, the samples on docs.ms remain quite out of date.

[You can see in the stored sample code](https://github.com/Azure-Samples/azure-samples-p

[2022-07-21 22:39] lmazuel commented on #22469
@danieljurek we discussed it with @kashifkhan and this is a bug, accessing `__bases__` should raise an AttributeError, as like you said this attribute do not even makes sense at the module level.

[2022-07-22 00:01] tjprescott commented on #25342
@sergiosolorzano thanks for the report! @sima-zhu can you help with this docs issue?

[2022-07-22 00:01] tjprescott commented on #25341
@neerajanil thanks for the repro! @lzchen can you please take a look at this?

[2022-07-22 02:20] ktaebum opened #25358 "Hang when downloading a large blob"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.13.0
- **Operating System**: Ubuntu 20.04 x86
- **Python Version**:  3.10

**Describe the bug**
I think this is related to https://github.com/Azure/azure-sdk-for-python/issues/10572,
I am trying to download a blob whose size is 24GB.
I use `download_blob` of `BlobClient` and I set `max_concurrency` as 32 on my azure VM (VM size is `S

[2022-07-22 03:13] Wzb123456789 commented on #25242
Hi @wanpeng-cds

We will release a new package about `azure.mgmt.securityinsight` 2021-10-01

[2022-07-22 15:10] swathipil commented on #23191
@ehssaine - Would you be able to turn on logging and attach the logs here? https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/servicebus/azure-servicebus#logging

[2022-07-22 15:32] waqassiddiqi opened #25365 "[Azure ML] score.py not being copied to container using SDK v2"
- **Package Name**: azure-ai-ml
- **Package Version**: 0.1.0b5
- **Operating System**: Tested on both windows and macos
- **Python Version**:  3.9

**Describe the bug**
`score.py` is not being copied to a container, tried both relative and absolute path. Due to which container fails at runtime with `ModuleNotFoundError: No module named 'main'`

**To Reproduce**
Steps to reproduce the behavior:
Sam

[2022-07-22 15:32] azure-sdk commented on #25365
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.19816822,Machine Learning:0.12406817,Storage:0.12123685'

[2022-07-22 15:39] xiangyan99 commented on #25365
@azureml-github

[2022-07-22 16:13] xiangyan99 commented on #25326
Thanks for reaching out.

Unfortunately, azure-mgmt-datalake-analytics library has not been migrated to track 2 and it does not work well with azure-identity library.

[2022-07-22 17:56] catalinaperalta commented on #25228
kwarg removed in #25298

[2022-07-22 17:56] #25228 closed

[2022-07-22 17:57] catalinaperalta commented on #22719
Tests are now show operations returning api version

[2022-07-22 17:57] #22719 closed

[2022-07-22 18:32] eberhardhummel commented on #25326
/unresolve - Hi @xiangyan99 [xiangyan99](https://github.com/xiangyan99) - I'm asking if you could correct the issue and re-release a new version of the azure-mgmt-datalake-analytics library so that its compatible with the azure-identity library as mentioned in the following article - https://stackoverflow.com/questions/63384092/exception-attributeerror-defaultazurecredential-object-has-no-attribut

[2022-07-22 20:43] #24836 closed

[2022-07-22 22:03] #25227 closed

[2022-07-22 22:03] #24786 closed

[2022-07-23 10:04] #20282 closed

[2022-07-23 16:11] mastreips commented on #25020
I have encountered the same problem when interacting directly with the datastore and dataset repositories to pull and store data rather than saving it to local. I had to create a dummy file to pass through each node to avoid this error. Please fix! Thanks.

[2022-07-24 07:03] tbatra18 commented on #25259
@msyyc Can you point me to the rest api to get the cost for each resource everyday.
I am not able to get the exact api,
I found this https://docs.microsoft.com/en-us/rest/api/consumption/usage-details/list?tabs=HTTP but was not helpful.

[2022-07-24 11:28] DanielLSM opened #25381 "[BUG Bash]"
azure-common==1.1.18
azure-core==1.24.2
azure-identity==1.7.1
azure-mgmt-containerinstance==1.4.1
azure-mgmt-core==1.3.1
azure-mgmt-keyvault==10.0.0
azure-mgmt-managementgroups==1.0.0
azure-mgmt-resource==20.0.0
msrestazure==0.6.4

AzureCliCredential throws 'signed_session' error when trying to use ContainerInstanceManagementClient (or any other basic functionality besides reading) .

[2022-07-24 11:28] azure-sdk commented on #25381
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.32309714,Container Instances:0.14840515,Docs:0.036145404'

[2022-07-24 15:07] sergiosolorzano commented on #25342
I add further discussion. Setting the region with the Custom Vision SDK where the top/left/width/height measures are 0-1 range or pixels fails. See https://stackoverflow.com/questions/73078411/azure-custom-vision-sdk-imageregioncreateentry-doesnt-seem-to-set-region and https://stackoverflow.com/questions/73066025/what-measure-are-the-coordinates-for-method-imageregioncreateentry-in-azure-sdk?nored

[2022-07-25 02:02] msyyc commented on #25259
Hi @tbatra18 I afraid I don't know the exact rest api either since I don't have much domain knowledge about this service. I advise you open issue in https://github.com/Azure/azure-rest-api-specs to seek help from service team directly.

[2022-07-25 04:07] tonybaloney opened #25384 "`azure-mgmt-authorization` release notes invalid"
The Python package for `azure-mgmt-authorization` is out of sync with main by quite some way.

https://pypi.org/project/azure-mgmt-authorization/2.0.0/

In the README for the package:

This is no longer valid. Older versions are not supported and this is missing newer versions which are supported.

The trove specifiers in main have 3.8-3.10 as well, but the published package does not.

[2022-07-25 04:08] azure-sdk commented on #25384
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Authorization:0.54887766,Azure.Core:0.03658761,Cognitive - LUIS:0.016716084'

[2022-07-25 06:21] enjis opened #25385 "Unable to query Blob storage by date using "find_blobs_by_tags" method from python SDK and REST API"
- **Package Name**:   azure-storage-blob
- **Package Version**:  12.13.0
- **Operating System**:  Linux
- **Python Version**:  3.10.5

**Describe the bug**
Container client method "find_blobs_by_tags" is returning **ErrorCode:InvalidQueryParameterValue.**
The requirement is to list the blobs by the 'last_modified' date.
The REST API for the same is giving the same error despite following the docum

[2022-07-25 08:48] agonzalez-mob commented on #24026
I'm not sure anymore. It was such a long time ago.
I might have been using the name instead of the GUID.

[2022-07-25 12:57] ivanvaccarics opened #25387 "Creation of virtual folders of blobs with special characters"
- **Package Name**: azure-storage-blob
- **Package Version**:  azure-storage-blob==12.12.0
- **Operating System**: Windows
- **Python Version**: 3.9.13

**Describe the bug**
When creating virtual folders inside a blob container, the sdk allows you to use special characters such as èàéòù while the azure portal does not allow it (see attachment). This leads to problems when creating the url of the s

[2022-07-25 15:36] xiangyan99 commented on #24026
Thanks for your updates.

Given your code is deprecated, we will close the issue.

Please feel free to open a new one if you see it again.

[2022-07-25 15:36] #24026 closed

[2022-07-25 15:41] xiangyan99 commented on #25384
Thanks for the feedback.

It looks to me the release notes are in sync with the one in the package which was shipped on 2021-09-25.

The readme in main branch was updated after 2021-09-26 and there was no new releases yet.

[2022-07-25 16:22] sima-zhu commented on #25342
@lmazuel is the owner for the repo. Could you help triage the issue?

[2022-07-25 16:58] weltonrodrigo commented on #23510
I'm not sure if this is the correct place to provide feedback about this, but I advanced a little more on this problem.

I'm using python 3.10.5 (older versions also show the problem) gunicorn with aiohttp (`gunicorn --worker-class=aiohttp.GunicornUVLoopWebWorker`) and I get this strange problem where after one of the three partitions flush, the worker freezes.

It stops responding to requests and

[2022-07-25 17:26] swathipil commented on #25385
@enjis - Thanks for your question! We'll investigate this as soon as possible.

[2022-07-25 17:29] swathipil commented on #25387
@ivanvaccarics - Thanks for opening an issue. We'll investigate asap!

[2022-07-25 18:22] kashifkhan commented on #23510
Hi @weltonrodrigo, thank you for your feedback. Would you be able to provide some code that I can use to reproduce the error please?

[2022-07-25 18:55] weltonrodrigo commented on #23510
Trying to reproduce on a smaller code.

You can try enqueuing 10 messages per seconds, with a `max_wait_time=100` and `max_buffer_lenght` that will take enough time to send that new messages will arrive while sending.

[2022-07-25 19:35] scbedd opened #25392 "Update data-plane quickstarts for test-proxy guidance"
@mccoyp TIL about this source https://github.com/Azure/azure-sdk-for-python/wiki/Dataplane-Codegen-Quick-Start-for-Test

We probably want to update the default so that new devs hitting our wiki are given non-vcrpy guidance.

[2022-07-25 19:35] azure-sdk commented on #25392
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.4366344,Docs:0.39781463,Data Factory:0.01107456'

[2022-07-25 19:35] azure-sdk commented on #25392
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.4366344,Docs:0.39781463,Data Factory:0.01107456'

[2022-07-25 19:42] weltonrodrigo commented on #23510
This code triggers the problem.

This code is run until is gets stuck. Then a CTRL-C will exit.

[code]

The output:

[code]

Requirements are:
[code]

Python is
[code]

Python was installed with `brew install python@3.9`.

Code is run with

[2022-07-25 20:39] scbedd commented on #23146
Leaving a comment here to track refactoring work that is enabling this investment. The goal is to _centralize_ the moving pieces of CI and bring them under a single coherent umbrella. Doing so will enable us to do the more complex scenario generation while actually testing it in a non-hacky way.

## Build, Parse, and Versioning Tooling

- [x] Refactor `build` of packages (including conda packages)

[2022-07-25 21:18] #24980 closed

[2022-07-25 21:30] kristapratico commented on #23824
The pyright equivalent is `strictParameterNoneValue`. https://github.com/microsoft/pyright/blob/main/docs/configuration.md

[2022-07-25 21:56] SaurabhSharma-MSFT commented on #25182
@thecowmilk This is intended as Face API falls under [Limited Access features for Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-limited-access).
You got this error since what you are trying to call is now limited access to them because you have not been approved to use that capability. Face service is only available to Microsoft managed customers

[2022-07-25 23:35] vincenttran-msft commented on #25385
Hi @enjis Anjali, thank you for your inquiry. Unfortunately, I was unable to reproduce your issue when testing locally. Could you please do me a favor and check the following as possible sources of the error?

- Upgrade to latest `azure-storage-blob` version 12.13.0 (I know you have this listed above, but just want to provide for the sake of completeness. There are some dependencies that are insta

[2022-07-26 00:18] AJAnderhub commented on #25127
@xiangyan99 the current steps we are taking.
1. Creating a `azure.identity.ChainedTokenCredential` and adding `azure.identity.ManagedIdentityCredential(client_id=self.client_id, **kwargs,)` with the Client ID of the managed identity being used.
2. Calling `chained_credential_object.get_token(scope)` where the `scope` is the Application ID of a registered application in Azure. So, `scope = "0000000

[2022-07-26 00:31] vincenttran-msft commented on #25387
Hi @ivanvaccarics Ivan, thanks for your inquiry! I believe that you may be mixing up some of the terms being used, so hopefully this explanation below helps to clear up any confusion!

In general, for those seeking a more robust file system with the concept of directories and files, `azure-storage-file-datalake` would be the package that would support this behavior. This package requires a HNS (hi

[2022-07-26 03:20] Wzb123456789 commented on #25242
Hi @wanpeng-cds

The 2021-10-01 package about `azure.mgmt.securityinsight` has been released and you can use it normally.
https://pypi.org/project/azure-mgmt-securityinsight/1.0.0/

[2022-07-26 06:57] ivanvaccarics commented on #25387
Hi @vincenttran-msft, thanks a lot for your message. He clarified my doubt. Thanks!

[2022-07-26 07:35] enjis commented on #25385
@[vincenttran-msft](https://github.com/vincenttran-msft) Hi, Thanks for the reply.
I did try your suggestions. Out of the possible sources of errors you suggested, I think it's an issue with the SAS.

I am also using an Account-level SAS but when I investigated the SAS URI, I found that all the permissions are not enabled
[code]
Permissions for tag and filter are not enabled.
What does `x` stand f

[2022-07-26 08:47] edgarhuichen commented on #234
I am encountering this same error again. Using azure-data-tables==12.4.0. The query results don't include Timestamp property.

[2022-07-26 08:51] edgarhuichen opened #25403 "Table API query results no Timestamp property"
- **Package Name**: azure-data-tables
- **Package Version**: 12.4.0
- **Operating System**: MacOS Monterey 12.5
- **Python Version**: 3.9.13

**Describe the bug**
When I query table entities, I don't get Timestamp in the outputs. When I try to access Timestamp directly from the entity, I got AttributeError: 'TableEntity' object has no attribute 'Timestamp'.

**To Reproduce**
filter = f"SpaceId eq

[2022-07-26 09:04] annatisch commented on #25403
Thanks @edgarhuichen - I think you should be able to find this information in [TableEntity.metadata](https://docs.microsoft.com/en-us/python/api/azure-data-tables/azure.data.tables.tableentity?view=azure-python#azure-data-tables-tableentity-metadata)
For example, something like this:
[code]

[2022-07-26 09:14] edgarhuichen commented on #25403
@annatisch Thanks for the quick response. Yes, after checking another similar issue report and dig in to the source code, I found out Timestamp is indeed accessed via metadata. However, I'd prefer to have it directly accessible as a entity property. Now I have to add extra code to extract timestamp.

[2022-07-26 09:26] Wzb123456789 commented on #25273
Hi @NCarter3

Please provide relevant code about what you want to build a network integration to better solve your problem.

[2022-07-26 10:43] yuvalherziger opened #25405 "Cosmos DB async module can't run SQL queries containing the VALUE keyword"
- **Package Name**: azure-cosmos
- **Package Version**: 4.3.0
- **Operating System**: macOS 12.4 (21F79)
- **Python Version**: 3.8.9

**Describe the bug**

Queries containing the `VALUE` keyword will fail when querying a Cosmos DB table with the asynchronous submodule (`azure.cosmos.aio`). The async iterator returned by `query_items()` method will break upon entrance, probably because an array of

[2022-07-26 15:03] LuckyLub opened #25407 "No support for UseDevelopmentStorage=true on connection string"
- **Package Name**:  azure-data-tables
- **Package Version**: 12.4.0
- **Operating System**: Ubuntu
- **Python Version**: 3.9

**Describe the bug**
It's not possible to call the TableServiceClient.from_connection_string() method with `UseDevelopmentStorage=true` as input, which is basicaly same issue as issue [13100 in azure-sdk-for-js](https://github.com/Azure/azure-sdk-for-js).

The solution to

[2022-07-26 17:07] swathipil commented on #25403
Hi @edgarhuichen - Thanks for your feedback! We'll discuss adding this feature and get back to you as soon as possible.

[2022-07-26 17:08] swathipil commented on #25405
Hi @yuvalherziger - Thanks for opening an issue! We'll investigate asap!

[2022-07-26 17:09] swathipil commented on #25407
Hi @LuckyLub - Thanks for opening an issue! We'll investigate this asap!

[2022-07-26 18:04] vincenttran-msft commented on #25387
Hi @ivanvaccarics Ivan, glad that we were able to help clear up any confusion! We will continue with the closure of this issue!
Thanks!

[2022-07-26 18:04] #25387 closed

[2022-07-26 18:09] tobaiMS commented on #25342
Hi, as suggested in the stackoverflow channel.  Please follow the doc here to understand how the coordinate works https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/quickstarts/object-detection?tabs=visual-studio&pivots=programming-language-csharp#upload-and-tag-images

[2022-07-26 19:45] vincenttran-msft commented on #25385
Hi @enjis Anjali, the `x` in the signed permission stands for 'Delete version'. Here is some helpful links regarding SAS permissions:
[Create a service SAS](https://docs.microsoft.com/en-us/rest/api/storageservices/create-service-sas)
[Create an account SAS](https://docs.microsoft.com/en-us/rest/api/storageservices/create-account-sas)

Do you happen to know how you are generating your account-leve

[2022-07-26 23:39] NCarter3 commented on #25273
Here's an outline of the changes I made to patch in support the custom headers, based on the PIP package azure-mgmt-network==19.0.0 (with some extra changes to conform to our internal style guide). I've omitted most of the methods that don't deal with headers.

Since posting, I realized we also need to do this when deleting NIC resources, so adding the same flexibility to NetworkInterfacesOperatio

[2022-07-26 23:50] vincenttran-msft opened #25412 "[Storage] Deprecate `loop` in file-share"
As discussed in a recent arch board review meeting, there is the presence of `loop` in the `ShareClient` of the `file-share` package. This is now being deprecated and phased out (and presently, if customers are passing it, it is not being used for anything). Therefore, the following actions should be taken:
- [x] Remove all occurences of `loop` in file-share`
- [x] Add a warning for those who are

[2022-07-26 23:53] vincenttran-msft opened #25413 "[Storage] Change dict(str, str) to Dict[str, str] for metadata"
There are several occurences of `dict(str, str)` that should be changed to `Dict[str, str]`. Further discussion may be necessary as this change may cause backwards compatibility issues with previous versions of Python.

[2022-07-27 01:58] EpicWink opened #25418 "Use exception-group in chained identity credential"
### Problem
The message for chained identity credentials is too long, and contains line-breaks.

In my case, this makes it difficult to see the whole error in Sentry as the message is truncated. Outside of Sentry, having single-line exception messages is generally more palatable in most cases. Further information should be attached separately (eg Python 3.11's [exception notes](core.exceptions)).

[2022-07-27 12:55] kalyanb9119 opened #25431 "[azure-eventhub] Failure: sending socket failed. errno=104 (Connection reset by peer). [too many error logs]"
- **azure-eventhub==5.7.0, azure-identity=1.9.0**:
- **Linux**:
- **3.9**:

**Describe the bug**
We are getting tons of errors like below frequently. Don't see any issues with Eventhub publish functionality - but lots of logs like below are quite noisy and distracting. can you please help check what's happening ?

engineapi  | INFO [2022-07-27 07:00:50,104] connection.py:260 b'Failure: sending soc

[2022-07-27 14:50] sergiosolorzano commented on #25342
Thank you. I get the way it's supposed to be calculated, the problem is using the values below I can't see the bounding box on portal and training fails. Only when I set the boundingbox manually, training succeeds. I tried 0.05, 0.05, 0.9, 0.9 and as suggested 0.25, 0.25, 0.5, 0.5

[2022-07-27 16:41] swathipil commented on #25418
@EpicWink - Thanks for your feedback! We'll investigate as soon as possible.

[2022-07-27 17:21] swathipil commented on #25431
Hi @kalyanb9119 - Based on this error message, it looks like there were connection issues, so the connection was shutdown. However, we have built in retries to reconnect when there is a shutdown like this, and, as you pointed out, we recover and send as expected. You can find instructions [[here](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/servicebus/azure-servicebus#logging)] on s

[2022-07-27 17:44] SaurabhSharma-MSFT commented on #25182
@thecowmilk We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-27 17:44] #25182 closed

[2022-07-27 18:07] #25341 closed

[2022-07-27 18:08] kalyanb9119 commented on #25431
/unresolve  @swathipil - I have dependency on azure-eventhub sdk, why should I explicitely change the logging of `uamqp` package -- Isn't it expected that only WARNING/ERROR logs from downstream packages are enabled by default and not all INFO logs?

[2022-07-27 18:42] vincenttran-msft commented on #25385
Hi @enjis Anjali, I believe I have come to the conclusion as to why you are running into this issue.

I see that in the screenshot you provided, you are missing the options for 'Allowed blob permissions' as seen in this screenshot below:
![image](https://user-images.githubusercontent.com/101599632/181347724-9ac7ade3-76c8-43e3-a53e-883e7f6d5aec.png)

I believe this is because you are on an HNS-enab

[2022-07-27 19:05] jalauzon-msft commented on #25358
Hi @ktaebum, thanks for reaching out and sorry for the delay. A couple of follow-up questions/points.

- How long do you wait when the download starts hanging? Or do you ever get an error returned? I ask because we have a setting called `read_timeout` which has very high default value of 80,000 seconds (we know this isn't great and will likely be changing it soon). So, if the server has stopped se

[2022-07-27 19:06] #24587 closed

[2022-07-27 19:11] jalauzon-msft commented on #23276
To provide an update on this issue, unfortunately, this is not something the Storage service team is likely to prioritize unless there is more demand. Hopefully one of the provided work arounds, (encoding the metadata in the message, or moving to ServiceBus) can work for you in the meantime. If/when the service team does add a feature like this, SDK support will be promptly added. Apologies that t

[2022-07-27 19:11] #23276 closed

[2022-07-27 20:19] swathipil opened #25434 "[EventHubs] pyamqp, update deprecated ssl.wrap_socket method"
created a PR for this that needs to be closed or fixed: https://github.com/Azure/azure-sdk-for-python/pull/25433
which is failing b/c of the following error:
[code]

Error in: `azure.eventhub._pyamqp.sasl.SASLTransport._wrap_socket_sni`

Similar PR here with fix to be followed: https://github.com/celery/py-amqp/pull/327/files

Their file with a similar method: https://github.com/celery/py-amqp/blo

[2022-07-27 21:10] jalauzon-msft commented on #24109
This is being addressed with migration to test proxy tracked in #24936

[2022-07-27 21:15] swathipil commented on #25431
OOB discussion:
- @kalyanb9119 provided code for their logger instantiation:
[code]

[2022-07-27 21:15] jalauzon-msft commented on #21121
Hi @lmazuel, it's probably ok to close this now that the Storage migration to test proxy has started and is so far successful?

[2022-07-27 21:17] kristapratico opened #25436 "[textanalytics] arch board feedback"
- [x] mark model attributes as optional where appropriate
- [x] remove `polling_method` from the TextAnalysisLROPoller protocol
- ~[ ] Add `kind` discriminator to help with typing in large union types~ (tracked in https://github.com/Azure/azure-sdk-for-python/issues/24777)

[2022-07-27 21:20] mccoyp commented on #25175
Hi again @soer7022 -- sorry about the delayed response on this, but I was able to reproduce the warning after updating to Community Edition 2022.1.3 🙂 I'll provide an update again as soon as possible.

[2022-07-27 21:27] jalauzon-msft commented on #19200
Hi @zzhxiaofeng @v-xuto, sorry for the long delay on this but I wanted to provide you with the solution to this if you were still looking.

In the sample, you are setting the account URL to also contain the blob path. This is not valid as the account URL should just be the plain account URL, `https://127.0.0.1:10000/<account-name>` in this case. To provide the blob path, you can either use the oth

[2022-07-27 22:03] #25294 closed

[2022-07-27 22:24] PramodValavala-MSFT commented on #25325
@ambroselittle Thanks for catching that! We worked up a PR to fix this.

[2022-07-27 22:28] PramodValavala-MSFT commented on #25283
@leizhang1984 Thanks for catching that! We worked up a PR to fix this.

[2022-07-27 22:50] xuanziranhan commented on #25325
Thanks @ambroselittle for raising this up!

@PramodValavala-MSFT the link https://github.com/MicrosoftDocs/azure-docs-sdk-python/blob/main/python/api/overview/azure/powerbi/management is also broken.
May I ask what are covered in the power BI  embedded managementClient? I was trying to go through the models listed [here](https://docs.microsoft.com/en-us/python/api/azure-mgmt-powerbiembedded/azure.

[2022-07-27 23:40] catalinaperalta opened #25441 "[formrecognizer] remove mentions of certain docs"
- Remove office/html mentions.
- Remove any pending image mentions.

[2022-07-28 02:16] #25263 closed

[2022-07-28 02:32] neerajanil commented on #25341
@tjprescott @lzchen Thank you for the quick fix. 👍

[2022-07-28 03:25] ktaebum commented on #25358
@jalauzon-msft Thanks for the reply.

I waited not much time (just a couple of minutes) and no error returned.
If I set `read_timeout` as 10 seconds, I've seen
![스크린샷 2022-07-28 오전 10 31 47](https://user-images.githubusercontent.com/19629048/181412650-48bc01d0-59a5-43a5-96b5-87d0611563b7.png)

However, I've checked that downloading does not fail if I set `retry_total` as a very large numb

[2022-07-28 04:46] ktaebum commented on #25358
Unfortunately, `Read timed out` still occurs (not always) when I set `retry_total` as a very large number 🙁

[2022-07-28 05:43] enjis commented on #25385
@vincenttran-msft Creating a new Storage account is not an option for me as there is a lot of data in the current blob storage.
Does that mean even if we create a SAS token without using the azure portal (i.e. generating by code), it will not be able to assign us filter permission as long as it is a hierarchical namespace??

[2022-07-28 13:51] mattmshell opened #25450 "ManagedIdentityCredential fails to obtain token using AzureML online endpoint managed identity"
- **Package Name**: azure-identity
- **Package Version**: 1.10.0
- **Operating System**: Linux
- **Python Version**: 3.7

**Describe the bug**
I use a service principal to deploy a custom inference container to AzureML using an online endpoint and the cli. The deployment fails because my initialisation code is unable to read KeyVault using managed identity.

I get the following error:

[code]

I'm

[2022-07-28 13:54] ubyjvovk commented on #24293
@navba-MSFT we're seeing the same issue, start_copy_from_url completes but the file is stuck in 'pending' state basically forever, even after the actual bytes have arrived into destination. Also, transfers are often pretty slow, around 10 mbps when pulling data from S3 (equivalent blob operations seem faster, but I might be wrong). Is there some workaround?

[2022-07-28 15:44] xiangyan99 commented on #25418
Thanks for reaching out.

Could you help to give more concrete details?

E.g. what actual message you got, what you expected?

`ChainedIdentityCredential` is for advanced usage and in the design, user may not have a long list of credentials in the chain.

Thanks.

[2022-07-28 16:42] xiangyan99 commented on #25127
Thanks for the information.

Did you assign the identity to the service instance?

[2022-07-28 17:31] swathipil commented on #25431
Hi @kalyanb9119 - We're still looking into why this is happening.  In the meantime, would you be able to check if the provided workaround resolves your issue?

[2022-07-28 18:02] swathipil commented on #25450
@mattmshell - Thanks for opening an issue. We'll investigate as soon as possible!

[2022-07-28 18:27] xiangyan99 commented on #25450
Thanks for reaching out.

Could you tell us where you ran your app?

ManagedIdentity only works if your host machine is in Azure.

Thanks.

[2022-07-28 19:24] PramodValavala-MSFT commented on #25325
@xuanziranhan The link actually doesn't work from the markdown file in GitHub directly but should work once deployed.

From the looks of it, the SDK seems to only support management operations for workspaces like you mentioned. It would be best to create a separate issue as a feature request to include support for those APIs. In the meantime, you can use the APIs listed in the doc you've shared di

[2022-07-28 21:36] AJAnderhub commented on #25127
Ev2 handles that part [automatically](https://ev2docs.azure.net/features/extensibility/shell/intro.html#managed-identity). But I believe that it is assigned since I was able to retrieve a token using the Azure CLI by running:
[code]

[2022-07-28 21:36] scbedd commented on #25128
This is unnecessary after @praveenkuttappan 's sandboxing changes.

[2022-07-28 21:36] #25128 closed

[2022-07-28 21:39] annatisch commented on #25314
Spellcheck now re-enabled.
Pylint underway.

[2022-07-28 21:39] annatisch commented on #25312
Waiting on last workitem from @mccoyp (please feel free to update this issue with any status/questions etc)

[2022-07-28 21:52] viktorfreiman opened #25456 "Missing objects.inv for intersphinx cross-reference"
I am using sphinx for my own code and want to do cross-reference
with intersphinx to azure-sdk, but I can't find the objects.inv

I found links to the objects.inv but both intersphinx_mapping's are returning 404
https://github.com/Azure/azure-sdk-for-python/blob/4d3d99bc7062ecc9c2ff8bfc1fce431b796acfdb/doc/sphinx/conf.py#L70-L71

[code]

Is there someway to get it working again?

[2022-07-28 21:52] azure-sdk commented on #25456
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.31151628,Docs:0.14572264,Azure.Identity:0.034788977'

[2022-07-28 22:09] xiangyan99 commented on #25127
This is what I meant.

![image](https://user-images.githubusercontent.com/14350651/181645659-39c839d0-bfb9-4d1b-99d0-8d22c3a6fa37.png)

I am afraid your script may not assign the identity for your automatically.

[2022-07-28 22:40] AJAnderhub commented on #25127
Like I mentioned, Ev2 handles the linking of the managed identity to the container instance:
![ACI Managed Identity](https://user-images.githubusercontent.com/37024457/181649019-13c569c3-3aa2-45ab-b6d9-d9d38bd5cdef.png)

[2022-07-28 22:55] xiangyan99 commented on #25127
Thanks for your confirmation.

Let me rephrase to make sure we are on the same page:
You called
[code]
and got
[code]

right?

(I removed ChainedTokenCredential and only used ManagedIdentityCredential to make it simpler.)

[2022-07-28 23:05] #23682 closed

[2022-07-28 23:14] AJAnderhub commented on #25127
Correct.

[2022-07-28 23:24] mccoyp opened #25457 "Create fixture equivalent of EnvironmentVariableLoader"
We should be able to use an `environment_variables`, or similar, fixture in tests to fetch and sanitize environment variables for tests. This should work in the same way the EnvironmentVariableLoader decorator works today.

This fixture would make migrating to the test proxy significantly easier for the ML team, and would go well with the recently-added [`recorded_test` and `variable_recorder` fix

[2022-07-28 23:24] azure-sdk commented on #25457
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.18984485,Tables:0.17527221,Azure.Core:0.08281956'

[2022-07-28 23:25] mccoyp commented on #25312
https://github.com/Azure/azure-sdk-for-python/issues/25457 tracks the work to provide an environment variable fixture.

[2022-07-28 23:25] xiangyan99 commented on #25127
Can you enable the log by adding

[code]

and when creating credential object, use
[code]
?

Thanks

[2022-07-29 00:02] swathipil commented on #25456
@viktorfreiman - Thanks for opening an issue! We'll investigate as soon as possible.

[2022-07-29 00:08] swathipil opened #25459 "[EventHub] pyamqp message property/Legacy message mutability"
In the latest stable uamqp-based EH release, message is an instance variable and holds the uamqp Message. The following scenario works with this version:
[code]
Here, the user can get the message, modify it, and resent the event without explicitly setting `event.message = message`. However, with the pyamqp message backcompat,  LegacyMessage is returned by the message property getter. The user then

[2022-07-29 00:12] xuanziranhan commented on #25325
thank you @PramodValavala-MSFT  for confirming!

[2022-07-29 00:53] juanpaz90 commented on #21902
The samples provided do not create any subscription.

[2022-07-29 01:35] EpicWink commented on #25418
I'm using the `DefaultAzureCredential`, which inherits from `ChainedIdentityCredential`. My error message is:
[code]

This exception is expected in this case (I had forgotten to set the environment variables in my app deployment). My issue is that in Sentry, the message is truncated such that I can't see the reasons each individual credential failed.

(Note: I'm setting `IDENTITY_ENDPOINT` to `htt

[2022-07-29 01:46] vincenttran-msft commented on #25385
Hi @enjis Anjali, unfortunately I am not sure where to proceed from here. From my local testing, I was unable to get a successful SAS token generation that both:
1. Is valid for HNS Storage accounts
2. Contains the `f` flag which allows filter permission

It would seem that the crux of the issue is that the `datalake` package does not support tags, while the `blob` package does. So in short, yes i

[2022-07-29 01:46] #25385 closed

[2022-07-29 08:08] Wzb123456789 commented on #25326
Hi @eberhardhummel, thanks for your feedback.

We have released a package about `azure-mgmt-datalake-analytics`.
https://pypi.org/project/azure-mgmt-datalake-analytics/1.0.0b1/

Please try the new one to solve your problem.

Hope to help you.

[2022-07-29 09:29] v-yilinhu opened #25463 "Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=308462&view=results

@danieljurek for notification.

[2022-07-29 09:29] v-yilinhu opened #25464 "Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=308387&view=results

@danieljurek for notification.

[2022-07-29 09:29] azure-sdk commented on #25464
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.4329647,Storage:0.10891231,Service Bus:0.035702817'

[2022-07-29 11:45] uriii3 opened #25467 "speechsdk.transcription not appearing as an option"
- **Package Name**: azure-cognitiveservices-speech
- **Package Version**: 1.18 (I think)
- **Operating System**: macOs
- **Python Version**: 3.6.3

**Error**
Traceback (most recent call last):
  File "transcription_sample.py", line 99, in <module>
    conversation_transcription_differentiate_speakers()
  File "transcription_sample.py", line 59, in conversation_transcription_differentiate_speakers

[2022-07-29 12:45] Rainfarm opened #25469 "Model deployment failed when using an environment prebuilt from a Dockerfile"
- **Package Name**: azureml.core.model
- **Package Version**: 1.43.0
- **Operating System**: ubuntu20.04
- **Python Version**: Python 3.7.9

**Describe the bug**
We used a custom environment built from Dockerfile as the environment for model serving (named as `my-model-serving-env`), but the model deployment failed with error of:
[code]

Here's the Dockerfile for building the environment:
[code]
H

[2022-07-29 12:45] azure-sdk commented on #25469
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.12220066,ARM:0.0767882,Cognitive - Form Recognizer:0.065917075'

[2022-07-29 12:57] mattmshell commented on #25450
I'm using az cli to deploy to an online endpoint. This is a managed endpoint running in Azure.

I've raised support ticket 2207280050001632 and linked to this.

[2022-07-29 13:45] rajeshnair commented on #25469
I have faced the same issue
It appears that `baseImage` for azure ml env when env is created using docker
It is set correctly when using conda but this prevents us from using docker based env

[2022-07-29 14:53] xiangyan99 commented on #25464
@danieljurek I guess you may have the context?

[2022-07-29 16:09] xiangyan99 commented on #25342
Seems like it is solved in attached code snippet.

[2022-07-29 16:09] #25342 closed

[2022-07-29 16:29] swathipil opened #25471 "[EventHubs & Service Bus] pyamqp fix all typing/docstring"
- need to fix all typing and docstring
- How do we deal with typing `Union[uamqp, pyamqp]` when uamqp is removed as a dependency in the future? Currently will show up as Union[None, pyamqp] = Optional[pyamqp]. Not sure if this is reasonable.

[2022-07-29 17:00] xiangyan99 commented on #25450
Close the issue and we will use the ticket to track it.

[2022-07-29 17:00] #25450 closed

[2022-07-29 17:03] xiangyan99 commented on #25418
Thanks for your information.

As you may notice, the core scenario for DefaultAzureCredential is for development uses.

In this case, we want the error message as detail as possible.

When you deploy your app to production environment, maybe specifying a specific credential or using ChainedIdentityCredential are your best choices.

[2022-07-29 17:05] swathipil commented on #25467
@uriii3 - Thanks for your question! We'll investigate as soon as possible!

[2022-07-29 17:08] azure-sdk commented on #25469
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.12220066,ARM:0.0767882,Cognitive - Form Recognizer:0.065917075'

[2022-07-29 17:11] swathipil commented on #25469
@Rainfarm - Thanks for opening an issue! Directing this to @azureml-github to investigate as soon as possible.

[2022-07-29 18:40] jalauzon-msft commented on #25385
Hi @enjis Anjali, to add on to what Vincent mentioned above as to why this is not supported.

It is actually possible to generate a SAS using the Blob SDK for an HNS account that has the 'f' permission. That _could_ be done like this:
[code]

The issue is that the blobs tags feature is not supported for HNS account from the service side, not just the SDK side. This is why none of the datalake APIs

[2022-07-29 21:25] scbedd commented on #25456
@viktorfreiman there is something strange going on here. We definitely didn't cease publishing the objects.inv. In fact, it's still there and accessible.

[code]

^ note that I ran this in pshell, and needed to provide

[code]

so that it didn't treat that container name as a variable.

Additionally when building our sphinx docs, I am not seeing any failures to reach the intersphinx dictionary for

[2022-07-29 21:54] billwert opened #25475 "Update VisualStudioCodeCredential exception text"
For Copper we are updating the exception text for VisualStudioCodeCredential to point to the troubleshooting guide which explains it is broken with the current workaround. Please ensure the exception includes a link to this TSG:

https://aka.ms/azsdk/python/identity/troubleshoot#troubleshoot-visualstudiocodecredential-authentication-issues