[2022-09-15 07:11] MingCai06 commented on #26207
@kristapratico Thank you for your reply. Yes i mean azure-mgmt-factory

[2022-09-15 07:20] vholmer commented on #26126
@jalauzon-msft thanks for the reply and assistance! I'll go with a regular storage account for this. 😄

[2022-09-15 07:20] #26126 closed

[2022-09-15 07:32] msyyc commented on #26207
Hi @MingCai06 the [enum with single value](https://github.com/Azure/azure-rest-api-specs/blob/24217681fb3ca8ddafbb9314546aeeaf7918f94c/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json#L5783-L5793) is treated as constant before version<=2.7.0:
![image](https://user-images.githubusercontent.com/70930885/190342479-56c990f3-8079-4f1a-88c8-6eb5d34a7de1

[2022-09-15 07:34] annatisch commented on #25403
Thanks for the feedback @Tjianke!
We are actively investigating approaches we could take to address this in a non-breaking way :)

[2022-09-15 08:06] zadigus opened #26240 "[ApiManagement] LROPoller.add_done_callback seems to behave strangely"
- **Package Name**: azure-mgmt-apimanagement
- **Package Version**: 3.0.0
- **Operating System**: Windows 10
- **Python Version**: 3.10

**Describe the bug**
It seems like the `LROPoller.add_done_callback` method acts on the right `LROPoller` object but handles a bit strangely the data I provide the callback with.

**To Reproduce**
I am doing this:

[code]

In my test case, `api_defn` is defined l

[2022-09-15 08:06] azure-sdk commented on #26240
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'API Management:0.3580335,Cosmos:0.030240836,Service Bus:0.029076837'

[2022-09-15 09:24] marrrcin commented on #26213
I upvote this. It would be great to have a piece of Python SDK which will allow to download/upload the datasets using the code directly.

[2022-09-15 10:41] gio88oig commented on #26215
@xiangyan99 same error :(
I can't understand why I don't receive more details about the error...I am stuck on this since days.

![image](https://user-images.githubusercontent.com/99415758/190383393-55c5edce-0a68-4f93-9261-6d85f880a0b4.png)

![image](https://user-images.githubusercontent.com/99415758/190383469-b034b5e0-664b-42e8-95db-f304e336a606.png)

The past days I also tried using the ServicePr

[2022-09-15 11:53] astafan8 commented on #6293
I've noticed that this task has been open for ~3 years, so I wonder what is the known "workaround" to use a device-code credential with async clients e.g. AsyncDataLakeServiceClient? Is there a way to acquire token using sync device code credential class and pass it to (e.g.) AsyncDataLakeServiceClient? Or perhaps a completely other way?

[2022-09-15 11:54] astafan8 commented on #6451
Similar to #6293, I've noticed that this task has been open for ~3 years, so I wonder what is the known "workaround" to use an interactive credential with async clients e.g. AsyncDataLakeServiceClient? Is there a way to acquire token using sync interactive credential class and pass it to (e.g.) AsyncDataLakeServiceClient? Or perhaps a completely other way?

[2022-09-15 12:17] waza-ari opened #26241 "[identity] authentication failing: invalid_grant / AADSTS50020"
- **Package Name**: azure-identity
- **Package Version**: 1.10.0
- **Operating System**: macOS Monterey 12.5.1
- **Python Version**: 3.10.3

**Describe the bug**
While trying to use azure-identity to sign in using my work account into our Azure tenant, the following error message appears instead of listing the desired output:

[code]

The very basic code I'm using is:

[code]

I've used both the V

[2022-09-15 13:24] bhargav-kansagara opened #26242 "[AgriFood] Review for client updates to support API version 2021-07-31-preview"
Hi, requesting a review for changes in clients to support API version 2021-07-31-preview for AgriFood service.

Link to pull request: https://github.com/Azure/azure-sdk-for-python/pull/26161
Not able to upload the wheel package to apiview tool, the request is getting timed out.

[2022-09-15 13:25] azure-sdk commented on #26242
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.1737567,API Management:0.052371595,Cosmos:0.0297409'

[2022-09-15 13:28] waza-ari commented on #26241
The error was on my end of the code:

[code]

Does not actually replace "my-key-vault" with the proper key vault name, resulting in the wrong tenant_id being selected and therefore authentication to fail.

[2022-09-15 13:28] #26241 closed

[2022-09-15 15:22] l0lawrence opened #26243 "[Messaging] Stress Network yaml"
Determine how/where we want to use the network chaos in stress testing

[2022-09-15 15:23] azure-sdk commented on #26243
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Network - Virtual Network:0.33738866,Network:0.32427868,Storage:0.122135125'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5580723,Mgmt:0.43725175,Service:0.0029310456'

[2022-09-15 16:13] kristapratico commented on #26242
@bhargav-kansagara I posted your PR in our Python reviews channel and tagged you. We'll find the right person to review your PR updates and get the APIView uploaded.

[2022-09-15 16:13] #26242 closed

[2022-09-15 16:34] xiangyan99 commented on #6451
Thanks for asking.

A simple workaround is you can implement an async interactive credential class and in

[code]

method, you call the sync one and return the token.

Please let us know if it doesn't work.

[2022-09-15 16:34] xiangyan99 commented on #6293
Replied in https://github.com/Azure/azure-sdk-for-python/issues/6451#issuecomment-1248344963

[2022-09-15 16:36] kristapratico commented on #26240
Hi @zadigus thanks for the detailed feedback, we'll take a look as soon as possible.

[2022-09-15 16:52] xiangyan99 commented on #26240
Thanks for reaching out.

It looks to me the behavior is correct.

[code]

The lambda is triggered when the operation is done and at that time, Python evaluates the value of api_name which is "my-second-api".

[2022-09-15 16:59] scbedd opened #26244 ""My Build Broke What now" Documentation"
Produce a document that will help with diagnosing CI errors.

- [ ] How to identify CI script failures vs real errors
- [ ] How to pick out your error
- [ ] How to identify a transient error
- [ ] How to repro an error locally

[2022-09-15 17:17] astafan8 commented on #6451
thank you @xiangyan99 ! indeed, this workaround worked very well.

Shall such an implementation be submitted to the package? I'm happy to open a PR. Wouldn't even a minimal class implementing this be of help? or are there concerns?

[2022-09-15 17:25] gdippolito commented on #26177
Hi @xiangyan99 thanks for the response.

Would you mind clarifying what single credential or single storage client means? In my case we spawn many thread and processes I'm not sure how I could make a single client?

Thanks.

[2022-09-15 17:43] xiangyan99 commented on #26177
e.g.

Shared credential instance:
[code]
The token will be cached.

But if we use
[code]
The token will not be cached.

Thanks.

[2022-09-15 17:48] kristapratico opened #26245 "[textanalytics] add support for NER resolutions"

[2022-09-15 17:55] xiangyan99 commented on #26215
Thanks for the updates.

If I understand correctly, when you used az login --service-principal, you specified client-secret, etc. in the command rather than getting them from the environment, right?

Could you help to double check if they have same value?

[2022-09-15 18:31] gio88oig commented on #26215
@xiangyan99 actually I cannot give you some screenshot but yes I absolutely used the same clientid, clientsecret and tenantid values.

From the python code I first tried with ServicePrincipalCredentials and then with DefaultAzureCredential with no success.

From a shell within the kubernetes pod I used the az login and the get access token and I was able to obtain a token.

I can give you another

[2022-09-15 18:54] mccoyp opened #26246 "[Key Vault] Regenerate with new autorest to drop six, msrest dependencies"
Key Vault code was last generated with an older version of `autorest` that took dependencies on `six` and `msrest`. The former dependency should be dropped since Python 2.7 is no longer supported, and the latter should be dropped since it's not actually necessary for async requests.

Generated code still has a dependency on `isodate>=0.6.1` and a recently-introduced dependency on `typing-extension

[2022-09-15 18:58] xiangyan99 commented on #6451
Thanks for the suggestion.

We decide not to ship the workaround in our package because we don't want to lie to our customers. :)

I will have a gist snippet to demo the workaround.

[2022-09-15 19:07] kristapratico opened #26247 "update *-weekly pipelines to use same variables groups as *-tests"
Some of the `weekly` pipeline builds are linked to the resource provisioner variable group, but need additional service-specific variable groups to pass. We should match the variable groups linked in *-tests pipeline with that of the *-weekly pipeline.

*Note that this issue addresses python weekly builds which are missing variable groups. Need to check if the other languages have the same issue..

[2022-09-15 19:07] azure-sdk commented on #26247
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Factory:0.24617036,Tables:0.24540246,App Services:0.13238305'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.5068275,Client:0.30012435,Service:0.18402131'

[2022-09-15 19:09] kristapratico opened #26248 "enforce code ownership of each package"
This CI check should ensure that each package has a code owner, and that the owner listed is not the fallback owner.

[2022-09-15 19:09] azure-sdk commented on #26248
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5476703,Event Hubs:0.14124839,Service Bus:0.032613'

[2022-09-15 19:11] kristapratico opened #26249 "turn non-prod cloud runs yellow"
We discussed that pipelines which run in pre-prod environments like Canary/PPE/INT should not be hard failures because they are not indicators of client library health and oftentimes fail due to service-related issues. Turning these "yellow" will result in warnings rather than failures.

[2022-09-15 19:11] azure-sdk commented on #26249
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Factory:0.17734918,Azure.Core:0.07873521,azure-spring:0.039057408'

[2022-09-15 19:14] kristapratico opened #26250 "update CodeOwners to include missing client library owners"
Many pipelines do not have specific owners and fallback to Laurent. We can use the issue rotation triage table to assign specific owners.

[2022-09-15 19:14] azure-sdk commented on #26250
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.25639555,Tables:0.1581431,Data Factory:0.06374638'

[2022-09-15 19:26] #22716 closed

[2022-09-15 19:53] scottaddie opened #26251 "[Monitor Query] Add samples/docs for running big queries and overcoming API limits for size and record count"
For details of the ask, see https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1597918.

[2022-09-15 19:54] azure-sdk commented on #26251
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Network - DNS:0.18043672,IoT:0.12156473,Azure.Core:0.06226784'

[2022-09-15 20:36] jalauzon-msft commented on #26200
Hi @dimaqq Dima, the "hard" dependency on `aiohttp` from `azure-storage-blob` was actually removed in our latest preview release `12.14.0b1` and will not be present in our next full release. We were actually importing something from `aiohttp` which was not supposed to be the case since the client libraries should remain Transport agnostic.

That being said, typically `aiohttp` is used for the `azu

[2022-09-15 20:54] palmerss opened #26252 "azureml sdk V2 component pipeline "optional Input <variable_name> must be placed in nested argument: $[[]]."
- **Package Name**: azure-ai-ml
- **Package Version**:  0.1.0b6
- **Operating System**: ubuntu
- **Python Version**: 3.8.12

**Describe the bug**
A component I'm building has an optional argument, it seems like over night that all of our pipelines that were making use of optional arguments fail to launch from our launch scripts

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected beha

[2022-09-15 20:54] azure-sdk commented on #26252
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.10898333,Azure.Core:0.099937074,Subscription:0.070388585'

[2022-09-15 20:56] palmerss opened #26253 "azureml sdk V2 component pipeline "optional Input <variable_name> must be placed in nested argument: $[[]].""
- **Package Name**: azure-ai-ml
- **Package Version**:  0.1.0b6
- **Operating System**: ubuntu
- **Python Version**: 3.8.12

**Describe the bug**
A component I'm building has an optional argument, it seems like over night that all of our pipelines that were making use of optional arguments fail to launch from our launch scripts resulting in an error that reads
`"optional Input <variable_name> must

[2022-09-15 20:57] azure-sdk commented on #26253
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Factory:0.28355592,Azure.Core:0.05125273,Compute:0.04025594'

[2022-09-15 21:26] kristapratico commented on #26252
dup of #26253

[2022-09-15 21:26] #26252 closed

[2022-09-15 21:28] kristapratico commented on #26253
Hi @palmerss thanks for your issue. @azureml-github can you take a look?

[2022-09-15 21:34] sharathmalladi opened #26255 "Setup SDK for Cognitive Services Personalizer"
**Is your feature request related to a problem? Please describe.**
Not a problem. It is to add functionality for Personalizer.

**Describe the solution you'd like**
We want an SDK for Cognitive Services Personalizer.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-09-15 21:35] azure-sdk commented on #26255
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Form Recognizer:0.15454064,Cognitive Services:0.10033104,Docs:0.09311136'

[2022-09-15 22:05] swathipil opened #26256 "[EventHubs&ServiceBus] add amqp transport info into user-agent"
Anna: "I think there might be some value in us adding transport information into the user-agent?

That way (with service team cooperation) we can get some insight into uamqp usage over time and how long support for it should be maintained."

[2022-09-15 22:05] azure-sdk commented on #26256
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.3899515,Service Bus:0.21016374,Event Hubs:0.09587776'

[2022-09-15 22:50] luigiw commented on #26253
@palmerss Thx for reporting this issue. @wangchao1230 @cloga

[2022-09-16 00:02] annatisch opened #26258 "[Cosmos] Refactor diagnostics policy"
The current implementation of the HttpLoggingPolicy for Cosmos currently has separate code paths. resulting in code duplication from the Core policy while also meaning that fixes and improvements made to the Core policy will be lost in the Cosmos policy.
We need to:
- Identify exactly what is being logged by this policy that is unique to the Core policy
- Refactor this logging so that all the exis

[2022-09-16 01:15] cloga commented on #26253
Hi @palmerss
Sorry for the inconvenience caused.
We change the syntax to embrace optional inputs in command line from _[]_ to _$[[]]_, as _[]_ is conflicted with conditional syntax with shell command, which cause issue if customer try to use that in command section of command component.

The existing registered component will continue worked.
You need change _[]_ to _$[[]]_ when you creating new c

[2022-09-16 03:16] palmerss commented on #26253
Thanks for the heads up @cloga, do you have an example of how this changes the syntax with the python sdk, while using the command_component decorator? as I am using that instead of the CLI sdk.

pseudo-code of the function that I'm wrapping
`
@command_component(
    name="my_component",
    display_name="my_component",
    description="This components optional parameters throw an error"
)
def my_

[2022-09-16 04:04] #26066 closed

[2022-09-16 06:18] zadigus commented on #26240
Indeed. Sorry for that noob question, I think it comes from my personal misconception of how python works.

[2022-09-16 06:18] #26240 closed

[2022-09-16 07:19] sam961124 opened #26265 "FormRecognizer Prebuilt Receipt date is not JSON serializable"
- **Package Name**: azure-ai-formrecognizer
- **Package Version**: 3.2.0
- **Operating System**: Windows
- **Python Version**: 3.8.5

**Describe the bug**
It causes "Object of type date is not JSON serializable" error when I run this script to analyze the sample receipt from
https://github.com/Azure/azure-sdk-for-python/blob/5eb462494af1be848453f05fda0558208431e1aa/sdk/formrecognizer/azure-ai-form

[2022-09-16 08:04] #23488 closed

[2022-09-16 09:30] Saxamos commented on #26039
Hey @ponopono0322 , thank you for answering. I've tried it, unfortunately I still got the exact same error while trying to install azureml-sdk.

[2022-09-16 10:17] gdippolito commented on #26177
Hi @xiangyan99 thanks for the response. I think this will only work if you define multiple clients sequentially. However, the token won't be cached when using multiple Threads and processes. I think a strategy for caching token already exists for Interactive authentication, can this not be added to managed identity as well?

[2022-09-16 11:30] 0mza987 commented on #26253
Hi @palmerss , we fixed this issue in our latest code and have made a private build for you to test, please have a try using this:

pip install mldesigner==0.0.72045852 --extra-index-url=https://azuremlsdktestpypi.azureedge.net/test-sdk-cli-v2/

Besides, the official release 0.1.0b6 that contains this fix will be released in a few days

[2022-09-16 12:19] rkworkzone commented on #26201
@msyyc, @SaurabhSharma-MSFT
Thanks for the quick response.
Unfortunately, we can't use VSCODE in our org. We must handle it in PyCharm IDE.
Regards,
RK.

[2022-09-16 13:00] palmerss commented on #26253
awesome, @0mza987 , I just tested this and it works, tyvm for the rapid response, looking forward to 0.1.0b6

[2022-09-16 13:00] #26253 closed

[2022-09-16 14:03] riedgar-ms opened #26271 "DefaultAzureCredential not behaving according to the docs"
- **azure.identity**:
- **1.7.0**:
- **Linux 5.4.0-1083-azure # 87~18.04.1-Ubuntu SMP**:
- **3.8.5**:

**Describe the bug**

In a VM deployed within AzureML, I'm trying to run a Python program from the command line, and authenticate using `DefaultAzureCredential()`. The [docs for this class](https://docs.microsoft.com/en-us/python/api/azure-identity/azure.identity.defaultazurecredential?view=azure

[2022-09-16 14:09] riedgar-ms commented on #26271
Note, having just created a fresh conda environment and installed all new packages, this does appear to be fixed in 1.10.0 at least.

[2022-09-16 14:16] lloydhamilton commented on #23538
Found a temporary workaround that will allow M1 MacBook Pros to install x86 binaries.

# Configure new rosetta terminal

# Install x86 dependencies

1. First of all to run x86 executables, we'll need to install [Rosetta]:

[code]
2. Install x86 Home-brew:

[code]

This will install homebrew at `/usr/local/Homebrew/bin/brew`

3. Add this short script in `~./zshrc`:

[code]

This script will evaluat

[2022-09-16 15:19] Antyteza commented on #25861
After updating to azure-ml 1.45.0 it works just fine; the logs below:

[code]

Thank you!

[2022-09-16 15:59] xiangyan99 commented on #25175
@mccoyp I guess it is already fixed?

[2022-09-16 16:52] kristapratico commented on #26265
Hi @sam961124, thanks for the detailed issue. Please see this sample which demonstrates how to serialize the result: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_convert_to_and_from_dict.py#L61

To serialize the datetime, you must pass in the `AzureJSONEncoder` to your `json.dump` call. Updated code would look like this:

[c

[2022-09-16 16:54] kristapratico commented on #26271
Thanks for your issue @riedgar-ms. @xiangyan99 to confirm the behavior.

[2022-09-16 17:08] luigiw commented on #26253
Thx @cloga  and @palmerss for the quick reply and turn around!

[2022-09-16 17:35] mccoyp commented on #25175
@xiangyan99 it's not -- I actually need to sync with Laurent about this.

https://github.com/Azure/azure-sdk-for-python/pull/25187 made `isinstance` checks with the protocols possible, but that doesn't fix the PyCharm typing issue. We need either https://github.com/Azure/azure-sdk-for-python/pull/25788 or a change to our `get_token` signatures to fix this issue (the description of https://github.c

[2022-09-16 19:01] xiangyan99 commented on #26215
Thank for the confirmation.

ServicePrincipalCredentials is track 1 class not from azure.identity.

Could you run pip freeze and share which packages (and version) you installed?

Thanks.

[2022-09-16 19:04] xiangyan99 commented on #26177
As you are aware, our managed identity and interactive identity are implemented in different ways.

Interactive identity uses msal underneath while managed identity does not.

There is a tracking request to add managed identity support in msal. https://github.com/AzureAD/microsoft-authentication-library-for-python/issues/58

When it is implemented, we can move azure.identity.managedidentity to use

[2022-09-16 21:16] #25739 closed

[2022-09-16 21:40] swathipil opened #26274 "[EventHubs&ServiceBus] Use/Test SharedConnection from _connection_manager.py"
We should try testing a shared connection across clients (Send/Receive/Mgmt). This includes creating/passing in the `SharedConnection` from `_connection_manager.py`.

[2022-09-16 22:04] #26037 closed

[2022-09-16 22:04] #25911 closed

[2022-09-16 22:41] deyaaeldeen commented on #26182
JS transforms: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cognitivelanguage/ai-language-text/swagger/README.md

[2022-09-16 23:32] #26216 closed

[2022-09-16 23:54] kristapratico opened #26279 "[textanalytics] support warnings"
Per the JS issue: https://github.com/Azure/azure-sdk-for-js/issues/23243

Need to understand what it is being sent in these headers and whether we can just do something like log the information?

[2022-09-16 23:55] azure-sdk commented on #26279
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Text Analytics:0.24187806,Storage:0.122290775,Azure.Core:0.038775437'

[2022-09-17 01:26] #25860 closed

[2022-09-19 01:55] Shawngbk opened #26283 "Support HttpClientTimeout and MaximumExecutionTime"
In Cosmos DB Table API .NET SDK. There exists below two configurations.
TableClientConfiguration.RestExecutorConfiguration.HttpClientTimeout
TableRequestOptions.MaximumExecutionTime

However, I didn't find them in Python SDK. May I know if these are supported in Python SDK for Table API?
Or, are there similar configurations in Python SDK?

Thanks for the help ahead of time.

[2022-09-19 01:56] azure-sdk commented on #26283
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.4614471,Tables:0.25405562,App Configuration:0.18436094'

[2022-09-19 02:10] msyyc commented on #26201
Hi @rkworkzone I think it is more Pycharm's bug than SDK's since other IDE like vscode works well. I advise you report a bug for Pycharm: https://www.jetbrains.com/help/pycharm/reporting-issues.html#report-an-issue

[2022-09-19 06:47] kamrapooja commented on #25232
Issue got resolved after removing following packages -
azure-common==1.1.28
azure-core==1.25.0
azure-nspkg==3.0.2
azure-storage==0.36.0

[2022-09-19 07:31] ttorsteinbo opened #26290 "dependency conflict between azure-mgmt-subscription and azure-devops"
- **Package Name**: azure-devops
- **Package Version**: 6.0.0b4
- **Operating System**: MacOS 12.6
- **Python Version**: 3.10.4

**Describe the bug**
Error was encountered while upgrading azure-mgmt-subscription from 3.0.0 to 3.1.0

Setting these dependencies in your pipfile and running `pipenv install` will result in a dependency conflict error:
[code]

Looking at the dependency graph output it l

[2022-09-19 07:39] gio88oig commented on #26215
@xiangyan99 here the output of the pip freeze

anyio==3.6.1
asgiref==3.5.2
attrs==22.1.0
azure-core==1.25.1
azure-identity==1.10.0
azure-storage-blob==12.13.1
be-python-common==0.0.2
certifi==2022.6.15.2
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
clickclick==20.10.2
common==0.1.2
connexion==2.13.1
cryptography==38.0.1
dependency-injector==4.39.1
envyaml==1.10.211231
fastapi==0.77.1
fastte

[2022-09-19 13:55] l0lawrence commented on #26283
Hi @Shawngbk thank you for the question, we will get back to you asap.

[2022-09-19 16:19] l0lawrence commented on #26290
Hi @ttorsteinbo thanks for the feedback. We will get back to you asap.

[2022-09-19 16:23] palmerss opened #26293 "mldesigner: error: invalid choice: 'execute' (choose from 'generate')"
Package Name: azure-ai-ml
Package Version: 0.1.0b6 , mldesigner: 0.1.0b6
Operating System: ubuntu
Python Version: 3.8.12

**Describe the bug**
When launching a job it promptly fails with an mldesigner error in the std_log.txt, reading

"
usage: mldesigner [-h] {generate} ...
mldesigner: error: invalid choice: 'execute' (choose from 'generate')
"

I was last able to launch the same pipelines this p

[2022-09-19 16:23] azure-sdk commented on #26293
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.17655122,Service Bus:0.13826701,Machine Learning:0.061742257'

[2022-09-19 16:33] pallavit opened #26294 "Enable OcrSkill and ImageAnalysisSkill and move to the latest preview swagger version in the search SDK"
Swagger version -

https://raw.githubusercontent.com/Azure/azure-rest-api-specs/904899a23a417768ce1ec1d5f89f33817f8ef8ad/specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/searchservice.json

https://raw.githubusercontent.com/Azure/azure-rest-api-specs/932e261a870475e1a29115f62def7bb84e4d7b38/specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/searchindex.j

[2022-09-19 16:34] kristapratico commented on #25521
Completed in #26021

[2022-09-19 16:34] #25521 closed

[2022-09-19 16:34] kristapratico commented on #25523
Completed in #26052

[2022-09-19 16:34] #25523 closed

[2022-09-19 16:53] l0lawrence commented on #26293
Hi @palmerss thanks for the feedback, we'll investigate asap. @azureml-github

[2022-09-19 17:04] sujithaleshwaram99 opened #26295 "score.py not found error"
I have was trying to deploy model to endpoint using python sdk . For this I have given Model, Environment and Score.py but when I passed code and scoring_script arguments to CodeConfiguration function error displayed as shown below. Also, I tried to pass code_path and scoring_script to ManagedOnlineDeployment but still no luck. Please Kindly fix it. I would really appreciate if this issue gets res

[2022-09-19 17:05] azure-sdk commented on #26295
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.17175049,Storage:0.05049479,Docs:0.036130767'

[2022-09-19 17:13] #25300 closed

[2022-09-19 17:20] palmerss commented on #26293
Update on my part, reverting mldesigner back to  0.1.0b3 seems to allow me to launch pipelines again, however this also restricts me on the usage of optional arguments that mldesigner 0.1.0b6 addresses

[2022-09-19 18:11] l0lawrence commented on #26295
Hi @sujithaleshwaram99 thanks for the feedback, we'll investigate asap.

[2022-09-19 18:56] kristapratico opened #26302 "[QA] determine if we should add back LRO status operations"
In the swagger readme it appears we are removing all the LRO status operations from the code: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/cognitivelanguage/azure-ai-language-questionanswering/swagger/README.md?plain=1#L276

Due to arch board feedback, we decided to keep these in CLU. Need to understand if we want to do the same thing for QA.

[2022-09-19 18:57] azure-sdk commented on #26302
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.2486428,Docs:0.18152589,Azure.Core:0.043674923'

[2022-09-19 19:10] scbedd opened #26304 "Enable/Disable tox parallelization via queue time variable"
@needuv is running into a situation where he needs verbose output to chase down a test hang.

The issue is, we run a minimum of a couple tox environments in parallel in CI, and they don't dump their output until they are finished. This means that having verbose output doesn't _really_ help us as it hangs forever and is killed before the output can be collected.

Given the fact that the entire reas

[2022-09-19 19:18] azure-sdk commented on #26304
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.120665595,Cosmos:0.083676726,Storage:0.076318584'

[2022-09-19 19:27] YalinLi0312 commented on #22250
Hi @flaudarin-365talents ,

The definition of `can_write`, `can_read`, `can_list` have updated in docs.microsoft.com.
![image](https://user-images.githubusercontent.com/20915761/191099181-8da7f0e6-da32-47ee-bd4e-bd031cec3f58.png)

For `size` and `tags`, they have been addressed in our code, you'll see the updates in the portal once we published our next release.

Thanks

[2022-09-19 19:27] #22250 closed

[2022-09-19 20:12] kristapratico commented on #25304
@heaths Eh, it seems both UpdateSources and UpdateQnas need to be updated too. They are both PATCH operations and it seems our azure-core implementation follows a similar pattern to PUT where we GET on the original Uri. Does .NET do this as well?

Also, these two appear to return pageables upon completion of the LRO. I'm needing to add x-ms-pageable to the transforms, but I think this is better ad

[2022-09-19 20:53] jalauzon-msft opened #26307 "[Storage] Deprecate `str` and `dict[str, str]` as types for crednetials"
Currently the `credential` arguments of all Storage clients/functions except many types including `str` and `dict[str, str]` where `str` is meant to be the account key and `dict[str, str]` is meant to be the account name and key in dictionary form.

Now that we support `AzureNamedKeyCredential` to specify an account name/key, we should deprecate both `str` and `dict[str, str]` in favor of this as

[2022-09-19 20:53] azure-sdk commented on #26307
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5315591,Azure.Identity:0.32559848,KeyVault:0.02075138'

[2022-09-19 21:01] luigiw commented on #26295
@sujithaleshwaram99 Thx for reporting the issue. Can you share on how did you create the online endpoint you're referring to? You need to create an online endpoint before creating an online deployment. The error seems to be saying the online endpoint you're referring to doesn't exist.

[2022-09-19 21:20] sujithaleshwaram99 commented on #26295
@luigiw , I have created online endpoint using below code snippet:
    # create an online endpoint
    endpoint = ManagedOnlineEndpoint(
        name=online_endpoint_name,
        description="this online endpoint is to test MLOps",
        auth_mode="key",
        tags={"created": "Sujith"},
    )

I got output like this once endpoint created:
ManagedOnlineEndpoint({'public_network_access': 'Enab

[2022-09-19 21:21] kristapratico commented on #26279
Two parts to this:

1) Update documentation for model_version. The model_version will now float to "latest". Previous versions will be deprecated over time. If targeting a GA API version, only "latest" is available. Preview model versions will be available as options to pass in preview API versions.
2) How to handle deprecation warnings. We should add these headers to our logging policy so they do

[2022-09-19 23:17] YalinLi0312 commented on #21633
@clintsinger Thank you, we'll consider this behavior in our future implementation. Beside that, we need to careful about the continuation token difference between cosmos and storage.

[2022-09-19 23:24] YalinLi0312 opened #26318 "[Tables] Better support for Entity de/serialization"
This is an umbrella issue to resolve issues in serialization and deserialization.

We have some customer issues about serialization:
- [ ] https://github.com/Azure/azure-sdk-for-python/issues/26360
- [ ] https://github.com/Azure/azure-sdk-for-python/issues/24499
- [ ] https://github.com/Azure/azure-sdk-for-python/issues/35554

Besides that, we should:
- [ ] https://github.com/Azure/azure-sdk-for-p

[2022-09-19 23:25] azure-sdk commented on #26318
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Tables:0.17719263,Azure.Core:0.13464577,Docs:0.11433975'

[2022-09-19 23:46] #23961 closed

[2022-09-20 00:20] YalinLi0312 commented on #19926
Hi @646826 , thanks for reaching us!

We have provided samples for table copy from/to storage blob([sync client](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/tables/azure-data-tables/samples/sample_copy_table.py), [async client](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/tables/azure-data-tables/samples/async_samples/sample_copy_table_async.py)), you can take them a

[2022-09-20 00:20] #19926 closed

[2022-09-20 01:49] msyyc commented on #26290
Hi @ttorsteinbo, mgmt SDK can't downgrade dependency so I think it is better to open issue in https://github.com/microsoft/azure-devops-python-api/issues for a new release with higher version of msrest

[2022-09-20 04:44] 0mza987 commented on #26293
Hi @palmerss, we have repro-ed this issue and currently working on a fix release. Sorry for the inconvenience casued, currently you can use this private build to mitigate:

pip install mldesigner==72212755 --extra-index-url=https://azuremlsdktestpypi.azureedge.net/sdk-cli-v2/

[2022-09-20 07:26] luigiw commented on #26295
@sujithaleshwaram99 thank you. Can you double check that the `endpoint_name` you set in the OnlineDeployment object is the name string of the endpoint you created? It seems you're passing in the endpoint object as `endpoint_name`?

[2022-09-20 10:04] #25990 closed

[2022-09-20 11:50] harshdeep78singh commented on #25072
Thank you for the update

[2022-09-20 11:52] #25072 closed

[2022-09-20 11:52] harshdeep78singh commented on #25072
@swathipil thank you for the update

[2022-09-20 12:11] JaakkoAhola opened #26328 "Issue with accessing secrets"
Hi!

I have been following [Azure machine learning studio tutorial](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-1st-experiment-hello-world) and expanding the tutorial by trying to access secrets from the keyvault.

My run script is
[code]

The run script itself accesses the "testi" secret **successfully**.
However, the job that the run script is actually running `command="pyth

[2022-09-20 13:13] sima-r commented on #4157
I have the same issue when installing a module or even  when I want to list the modules

[2022-09-20 14:02] edgBR opened #26329 "Enforce consistency between Azure Machine Learning datasets API and Azure Machine Learning Models API"
Currently AzureML Python SDK as well as the CLI does not support to filter datasets by using tags.

When doing :

[code]

You get only the latest version of a dataset.

When you do:

[code]

You get all of the models versions and you can actually use Model.list(ws, tags=['key', ['key2', 'key2 value']]).

The behaviour with the Model API is what I expect. But the one with datasets is actually incon

[2022-09-20 14:19] Marwen-TAALLAH opened #26347 "Create an azure VM via python with init script"
### Related command

_No response_

### Resource Provider

virtual machine

### Description of Feature or Work Requested

I am trying to create a virtual machine on azure via python and having it execute a script on launching time (init script).
For this purpose, I am using the **custom_data** as follows:

![custom_data](https://user-images.githubusercontent.com/29490363/191281151-3f1d2f19-2e8d-43

[2022-09-20 14:23] mumurug-MSFT opened #26331 "[azure-core] Add x-ms-error-code in http logging policy"
**Is your feature request related to a problem? Please describe.**
There is a allow-list defined in azure.core [here ](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/core/azure-core/azure/core/pipeline/policies/_universal.py#L360) and all other headers are redacted like

System.Exception :     'x-ms-error-code': 'REDACTED',    'x-ms-error-code': 'REDACTED'    End of inner exception

*

[2022-09-20 14:26] asafalon1 opened #26332 "Performance worsens greatly when downloading blobs with long breaks in between"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.6.0 (but it also happens on 12.13.1)
- **Operating System**: linux (but it doesn't really matter, it happens on my mac too)
- **Python Version**: 3.8

**Describe the bug**
When using the asyncio SDK, if we wait more than 10 seconds between blob downloads the download time becomes 10-100 times slower.

**To Reproduce**
I wrote this sc

[2022-09-20 15:37] l0lawrence commented on #26329
Hi @edgBR, thanks for the feedback. We'll get back to you asap(@azureml-github)

[2022-09-20 15:39] l0lawrence commented on #26331
Hi @mumurug-MSFT thank you for the feedback, we will get back to you asap.

[2022-09-20 15:43] l0lawrence commented on #26332
Hi @asafalon1 thank you for the feedback, we'll get back to you asap.

[2022-09-20 15:47] l0lawrence commented on #26328
Hi @JaakkoAhola thanks for the question, we'll get back to you asap.

[2022-09-20 15:59] xiangyan99 commented on #26328
Thanks for reaching out.

The job "python pilvi_hello_world.py" runs in Azure ML managed computer instance. It is different from the host that you run this script.

Please take https://learn.microsoft.com/en-us/azure/machine-learning/how-to-use-managed-identities?tabs=python as a reference how to configure MI for Azure ML computer instance.

[2022-09-20 16:12] sujithaleshwaram99 commented on #26295
@luigiw I have changed endpoint object to endpoint name it's working. Thank you. I appreciate the support.

[2022-09-20 16:12] #26295 closed

[2022-09-20 16:14] #26185 closed

[2022-09-20 16:54] #25255 closed

[2022-09-20 17:13] palmerss commented on #26293
@0mza987 I'll give this a shot and report back within the next day

[2022-09-20 22:01] heaths commented on #25304
Given it only should affect autorest and we haven't GA'd authoring, I don't think so. Adding @tg-msft and @Johanste for confirmation.

[2022-09-20 22:24] xiangyan99 commented on #26215
Thanks for the information.

Just to make sure we are on same page, how did you configure the AKS and service principal?

Did you follow https://learn.microsoft.com/en-us/azure/aks/kubernetes-service-principal?tabs=azure-cli?

[2022-09-20 23:31] SaurabhSharma-MSFT commented on #26283
@Shawngbk RestExecutorConfiguration was part of the deprecated package - [Microsoft.Azure.Cosmos.Table](https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table).  I do not think we have a similar configuration in the new package - [Azure.Data.Tables](https://www.nuget.org/packages/Azure.Data.Tables/) or in python sdk. Thanks

[2022-09-21 03:07] zhoxing-ms commented on #26347
@Marwen-TAALLAH Since this is a Python SDK related issue, so I transfer this issue into the [azure-sdk-for-python](https://github.com/Azure/azure-sdk-for-python) repo

[2022-09-21 03:07] limitxiao opened #26348 "Fail to import azure.identity(python) in azure batch ubuntu machine"
**Describe the bug**
When i try to import the azure.identity python package in azure batch machine(ubuntuserver 18.04-lts), it always throw out the error like that:
ImportError: cannot import name 'RequestsTransport' from 'azure.core.pipeline.transport' (/home/batch-explorer-user/.local/lib/python3.8/site-packages/azure/core/pipeline/transport/__init__.py)
It worked fine in my local win10 machine,

[2022-09-21 06:06] itbinbin opened #26354 "Azure Storage python azure storage fileshare get copy success status delay"
- **Package Name**:
  -  azure.storage.fileshare
- **Package Version**:
- 12.8.0 12.9.0 12.10.0b1
-
- **Operating System**:
- windows 10
- **Python Version**:
   3.8.5
**Describe the bug**
 when copy file from azure storage blob to another storage file , we can see the file have already copy complete in storage explorer，but in code，we get copy success status  delay，it always pending long time。this

[2022-09-21 08:05] #25857 closed

[2022-09-21 08:51] hedu42 opened #26355 "No Metadata in BlobProperties"
- **Package Name**:
azure-storage-blob
- **Package Version**:
12.13.1
- **Operating System**:
Windows 10
- **Python Version**:
3.9.2

**Describe the bug**
BlobProperties objects returned when iterating over ContainerClient.list_blobs() do not contain metadata information of the blobs

**To Reproduce**
cc = ContainerClient.from_container_url(container_url=someurl)
for blob in cc.list_blobs():
    e

[2022-09-21 09:31] zadigus opened #26357 "[ApiManagement] Subscription scope is not optional"
Package Name: azure-mgmt-apimanagement
Package Version: 3.0.0
Operating System: Windows 10
Python Version: 3.10

**Describe the bug**

When I create an api subscription programmatically without specifying a scope explicitly, then I get a `ValidationError`.

**To Reproduce**
Steps to reproduce the behavior:

1. create an api management client like this:
[code]
2. create an api like so:
[code]
3. cr

[2022-09-21 09:31] zadigus opened #26383 "[ApiManagement] Subscription scope is not optional"
Package Name: azure-mgmt-apimanagement
Package Version: 3.0.0
Operating System: Windows 10
Python Version: 3.10

**Describe the bug**

When I create an api subscription programmatically without specifying a scope explicitly, then I get a `ValidationError`.

**To Reproduce**
Steps to reproduce the behavior:

1. create an api management client like this:
[code]
2. create an api like so:
[code]
3. cr

[2022-09-21 09:31] azure-sdk commented on #26357
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'API Management:0.40698162,ARM:0.11255618,Subscription:0.09508873'

[2022-09-21 10:35] mtin opened #26360 "delete_entity with TableEntity requires RowKey to be string"
When using `create_entity` or `upsert_entity` and passing a `TableEntity` the SDK takes care of converting the property data types. For example, the `RowKey` could have type `UUID`. See [_add_entity_properties](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/tables/azure-data-tables/azure/data/tables/_serialize.py#L189).

`delete_entity` also offers an overload accepting a `TableEntity

[2022-09-21 11:30] asafalon1 commented on #26332
Update: I wrote the same logic using the non-async SDK using a thread pool executor, and the results were great, further affirming that the issue is a bug in the async SDK and not some system/usage issue.

[code]

[2022-09-21 14:45] ajhous44 commented on #21366
Also interested in getting this documentation

[2022-09-21 14:55] exegonzalez opened #26361 "How to define a Content Id on an attachment using azure-communication-email?"
I need to add an image in base64 format as an attachment and define a Content Id to reference it in an `<img src="cid:myimagecid">` tag in the mail template. EmailAttachment only allows to define:
[code]
Is there any way to define that Content Id in the attachment?
Thanks.

[2022-09-21 14:56] azure-sdk commented on #26361
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.09620004,Cosmos:0.07368585,Azure.Identity:0.052820142'

[2022-09-21 15:15] l0lawrence commented on #26348
Hi @limitxiao thanks for the feedback, we'll get back to you asap.

[2022-09-21 15:17] l0lawrence commented on #26354
Hi @itbinbin thanks for the feedback, we'll get back to you asap.

[2022-09-21 15:19] l0lawrence commented on #26355
Hi @hedu42 thanks for the feedback, we'll get back to you asap.

[2022-09-21 15:23] l0lawrence commented on #26360
Hi @mtin thanks for the feedback, we'll get back to you asap.

[2022-09-21 15:24] l0lawrence commented on #26361
Hi @exegonzalez thanks for the question, I will pass this off to @turalf

[2022-09-21 15:31] sujithaleshwaram99 opened #26366 "Deployment to Managed endpoint is crashing"
**Describe the bug**
A clear and concise description of what the bug is.
I have tried to deploy model to managed endpoint using SDK V2 I have given all the required configuration settings i.e. Docker Image, Model pickle file and Scoring file but while provisioning deployment it crashing. Please help me fix it. thank you.
***Exception or Stack Trace***
Add the exception log and stack trace if avail

[2022-09-21 16:02] edgBR commented on #26329
Hi @l0lawrence thanks for that, just to add in the expected functionality.

To get the latest version of a model given a tag:

[code]

To get the latest version of a dataset given a tag I am doing the following suboptimal workaround:

[code]

[2022-09-21 17:13] SaurabhSharma-MSFT commented on #26201
@rkworkzone We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-09-21 17:13] #26201 closed

[2022-09-21 17:16] l0lawrence commented on #26366
Hi @sujithaleshwaram99 thank you for the feedback, I will forward this to @azureml-github for answers.

[2022-09-21 18:13] jalauzon-msft commented on #26355
Hi @hedu42, the `list_blobs` API does not return all properties, including metadata, by default. You need to explicitly ask for it using the `include` parameter (see [Doc](https://github.com/Azure/azure-sdk-for-python/blob/fcba1069c2df580246329b61b8510c4f3342329b/sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py#L765)). There are a few options including one to include metadata

[2022-09-21 18:36] jalauzon-msft commented on #26354
Hi @itbinbin, how are you confirming the copy has succeeded in Storage Explorer? If you are just going on the fact that the blob appears in the Share, that is likely not enough information.

When performing an async copy, the destination file will be created first and then the copy will start/complete at a later time. This is what enables you to call `get_file_properties` on a pending copy. So jus

[2022-09-21 18:49] jalauzon-msft commented on #11492
Hi @TadasBaltrusaitis Tadas, I realize you opened this quite some time ago and I apologize it's been so long without an update, but we have been waiting on the service to add support for this. I'm happy to report they are working on adding this support and we should be adding it to an upcoming release of the SDK.

As a housekeeping item, I'm going to close this issue as a duplicate of #13033 as it

[2022-09-21 18:49] #11492 closed

[2022-09-21 18:52] jalauzon-msft commented on #13033
Hi all, apologies for the long delay with no update but we've essentially been waiting for the service to add support for AAD auth to the Files service. I'm happy to report the service team is finally working on adding this support and we should soon be able to support this in the SDK. I don't have yet have a concrete timeline but hopefully it will be coming within the next couple of releases.

Th

[2022-09-21 19:03] #26355 closed, assigned to jalauzon-msft, vincenttran-msft

[2022-09-21 20:11] YalinLi0312 opened #26374 "Type conflict of "credential" in AppConfig"
The "credential" parameter in `AzureAppConfigurationClient` is in type `Union[AppConfigConnectionStringCredential, "AsyncTokenCredential"]` , this value will pass to initialize a `AzureAppConfiguration` object(a generated class) which only accept `AsyncTokenCredential` as credential type.

The swagger settings file has been removed, this is the swagger README I found from history:  https://github.

[2022-09-21 21:45] Mr-MSFT opened #26378 "Azure SDK for Python Quota Management"
There is no example documentation on how to use the Quota Management module of the Python for Azure SDK. Documentation should be created to demonstrate the use of the Quota module. The current documentation (https://github.com/Azure/azure-sdk-for-python/tree/azure-mgmt-quota_1.0.0b2/sdk/quota/azure-mgmt-quota) lacks any details specific Quota module.

[2022-09-21 21:45] azure-sdk commented on #26378
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.38482445,Reservations:0.038125355,API Management:0.019022778'

[2022-09-21 22:34] l0lawrence commented on #26378
Hi @Mr-MSFT thanks for the feedback, we'll get back to you asap.

[2022-09-21 22:34] azure-sdk commented on #26378
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.38482445,Reservations:0.038125355,API Management:0.019022778'

[2022-09-21 22:45] JeffreyCA opened #26381 "Uploading blob using Akamai CDN with overwrite=False fails with AuthenticationFailed"
- **Package Name**: `azure-storage-blob`
- **Package Version**: 12.13.1
- **Operating System**: Windows 11
- **Python Version**: 3.10

**Describe the bug**
When uploading any blob to a storage account (with overwrite=False) using an Akamai CDN as the account URL, the upload request fails with an authentication error. This does not happen with any other CDN type.

**To Reproduce**
Create an Akamai

[2022-09-22 00:01] pvaneck commented on #23832
Seems the import is just missing a capital 'C'. (i.e.  `from azure.confidentialledger import ConfidentialLedgerClient`)

[2022-09-22 00:11] pvaneck commented on #26348
Hey, @limitxiao. Would you mind doing a `pip freeze` in your Batch machine and providing the output? This might help clue us in to any weird dependency interactions that may be causing this.

[2022-09-22 01:57] msyyc commented on #26378
We will add sample for quota soon.

[2022-09-22 01:58] Mr-MSFT commented on #26378
Yuchao,

Do you have an ETA?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Yuchao Yan ***@***.***>
Sent: Wednesday, September 21, 2022 8:57:13 PM
To: Azure/azure-sdk-for-python ***@***.***>
Cc: Isiah Hudson ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-python] Azure SDK for Python Quota Management (Issue #26378)

We will add sample f

[2022-09-22 02:06] msyyc commented on #26347
I will make the investigation soon.

[2022-09-22 02:06] limitxiao commented on #26348
Hi pvaneck. Sure this is the output:
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
azure-common==1.1.28
azure-core==1.25.1
azure-identity==1.11.0
azure-mgmt-core==1.3.2
azure-mgmt-datafactory==2.8.0
azure-storage-blob==12.13.1
blinker==1.4
certifi==2018.1.18
cffi==1.15.1
chardet==3.0.4
click==6.7
cloud-init==22.2
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptogr

[2022-09-22 02:13] limitxiao commented on #26348
And here is some update. Since the log indicate the root cause was the azure-core. So i retrieve the version of azure-core from 1.25.1-->1.24.1, azure-identity 1.11.0-->1.7.1,  pyOpenSSL current version--> latest version. That could temporarily "fix" that issue. But that's was not a offical fix, i think this bug was caused by the azure-core package.

[2022-09-22 02:18] azure-sdk commented on #26383
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'API Management:0.40698162,ARM:0.11255618,Subscription:0.09508873'

[2022-09-22 02:20] msyyc commented on #26383
I will make an investigation soon

[2022-09-22 02:28] #25304 closed

[2022-09-22 02:28] #26108 closed

[2022-09-22 02:28] #26109 closed

[2022-09-22 03:03] msyyc commented on #26383
Hi @zadigus SDK is generated automatically with swagger. As for this model, it has additional definition ["x-ms-client-flatten": true](https://github.com/Azure/azure-rest-api-specs/blob/038882131730aab4173898d9ce4c3c0555deba25/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/definitions.json#L5217), so the inner properties of the model is flatten and their `re

[2022-09-22 05:36] JeffreyCA commented on #22297
Hi @jalauzon-msft, I tried using the `raw_request_hook` workaround but it's still not working for me. While the `Range` headers are being rewritten in the HTTP requests, the download request still fails (this succeeds on non-Microsoft CDNs):

[code]

Test program (based on @AdmiralGT's code above):

[code]

[2022-09-22 06:01] JayChanggithub opened #26385 "[BUG Bash] When i import libary using python3.9 mac occured error"
[code]

[2022-09-22 06:02] azure-sdk commented on #26385
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5686399,Mgmt:0.42980742,Service:0.000963137'

[2022-09-22 06:18] msyyc commented on #26378
maybe 1~2 week

[2022-09-22 12:01] lb-cake commented on #22308
👋@lmazuel is this issue still up for grabs? I'm new to contributing to OSS and would like to give this one a go.

[2022-09-22 15:35] l0lawrence commented on #26385
Hi @JayChanggithub thanks for the feedback, we'll get back to you asap.

[2022-09-22 16:53] #21246 closed

[2022-09-22 17:38] xiangyan99 opened #26392 "Remove code that depends on six package from our libraries"
Now we still have some libraries that have code dependency on six.

Let's take some time to update the code to be py3 only.

Here is the list of the packages:
azure-ai-anomalydetector
azure-appconfiguration  - auto-gened code
azure-security-attestation
azure-ai-language-questionanswering
azure-communication
azure-containerregistry - test only
azure-cosmos
azure-eventgrid
azure-eventhub
azure-ai-ml

[2022-09-22 17:38] azure-sdk commented on #26392
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.15871936,Azure.Identity:0.10427446,Tables:0.10258443'

[2022-09-22 17:40] xiangyan99 opened #26393 "Setup auto-generating system"
We have system for mgmt libraries to use latest swagger and auto-gen tool to generate code.

Let's see if we can expand the usage of the system to be able to auto gen data libraries too.

[2022-09-22 17:41] azure-sdk commented on #26393
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Automation:0.26544115,Service Bus:0.0903351,Storage:0.05824624'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.57684654,Client:0.4015755,Service:0.0156219825'

[2022-09-22 17:44] JeffreyCA commented on #22297
Note that in the older django-storages version, returning a FileResponse streams the file from the storage account URL and bypasses the custom domain/CDN which is why this error doesn't occur.

[2022-09-22 18:11] JingchaoZhang opened #26394 "error in Authenticate the client"
[Enter feedback here]

This code block
ml_client = MLClient(
    DefaultAzureCredential(), subscription_id, resource_group, workspace
)
should be revised to
ml_client = MLClient(
    DefaultAzureCredential(), subscription_id, resource_group_name, workspace_name
)

The original code gives the error below:
TypeError: __init__() missing 1 required positional argument: 'resource_group_name

---
#### D

[2022-09-22 18:11] azure-sdk commented on #26394
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Machine Learning:0.2790271,Azure.Identity:0.25511017,Docs:0.22482444'

[2022-09-22 19:13] vincenttran-msft commented on #26385
Hi @JayChanggithub Jay, one quick thing to try is to update your `aiohttp`. Can you please try updating `aiohttp` and seeing if the problem persists?
If so, can you please provide the following so that we may better assist you:

1. Code sample (please ensure to redact sensitive information)
2. What is the Package Version of `azure.storage.fileshare` you are using?

In general, here are some tips t

[2022-09-22 20:16] #26374 closed

[2022-09-22 21:17] sima-zhu commented on #21366
@DuneganS @ajhous44 Sorry for late reply. We grant the permission for all internal employees I think. If you are external customers, you can't run the internal docker, so the docs doesn't apply to you.

[2022-09-22 21:34] YalinLi0312 opened #26402 "Track service end typo in Python Tables Storage error message"
There are two tests for invalid table names in tables storage failing in Python - [async test](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/tables/azure-data-tables/tests/test_table_client_async.py#L111), [sync test](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/tables/azure-data-tables/tests/test_table_client.py#L112)

We are testing with a list of invalid storage tab

[2022-09-22 21:34] aeetos opened #26403 "[azure-mgmt-security] Defender pricings uses old API version, missing useful field"
- **Package Name**: azure.mgmt.security
- **Package Version**: 1.0.0
- **Operating System**: MacOS
- **Python Version**: 3.9

**Describe the bug**
The PricingOperations class in operations/_pricings_operations.py is hard-coded to API version 2018-06-01 and cannot be overridden. This API version is missing useful fields such `properties.subPlan` which can be important to determine service level and

[2022-09-22 21:46] YalinLi0312 commented on #26402
The typo exists for a while, it breaks all of our live pipelines. Please give some priorities to fix it.

[2022-09-22 21:46] YalinLi0312 commented on #26402
The typo exists for a while, it breaks all of our live pipelines. Please give some priorities to fix it.

[2022-09-22 21:52] JeffreyCA commented on #23640
@vincenttran-msft what's the latest on that conversation with the CDN service team? This issue is still affecting Microsoft CDNs (classic). I've opened up an Azure support ticket recently about this as well.

[2022-09-22 22:12] luigiw commented on #26394
@JingchaoZhang Thx for reporting this. Are you referencing a block of sample code somewhere? Can you share a link to the sample code?

[2022-09-23 01:07] pvaneck opened #26411 "[Identity] Investigate and update Identity on Azure Functions manual tests"
The status of the Azure Functions manual tests is uncertain.  In any case, instructions should be revisited to ensure functionality and also updated to use Azure Functions Core Tools 4.x.

- The base image in the Dockerfile should be updated to use something like `mcr.microsoft.com/azure-functions/python:4-python3.10`
- Update instructions to use the Azure CLI to assign the managed identity to the

[2022-09-23 01:07] azure-sdk commented on #26411
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Functions:0.5212863,Azure.Identity:0.18259099,App Services:0.075521074'

[2022-09-23 01:19] JingchaoZhang commented on #26394
I was referring to the code block on this page: Azure ML Package client library for Python | Microsoft Learn<https://learn.microsoft.com/en-us/python/api/overview/azure/ai-ml-readme?view=azure-python-preview>

Here is a screenshot:
[cid:745e0788-84c2-4d31-a00b-63e612834368]

According to the MLClient Class page, the correct parameter name should be resource_group_name and workspace_name.
azure.ai.

[2022-09-23 02:09] pvaneck commented on #26348
Thanks for providing the output.

After some manual testing, I was able to recreate the issue locally. I believe it has something to do with the core/requests/pyopenssl interaction or perhaps just the requests/pyopenssl interaction. Both the `requests` and `pyOpenSSL` package versions are pretty old (around 5 years old), so potentially some issues there.

In my testing, keeping the requests versio

[2022-09-23 02:59] limitxiao commented on #26348
I try to only upgrade the PyOpenSSL to the latset version, after that i could import the azure.identity. This is strange, this issue did not happen few days ago, and the PyOpenSSL and requests are the default package on python.

[2022-09-23 05:37] harneetvirk opened #26413 "Unhandled additional path delimiter for account url in BlobServiceClient"
- **azure-storage-blob**:
- **12.13.0**:
- **Windows**:
- **Python 3.8**:

**Describe the bug**
There is an unhandled additional path delimiter for account url in BlobServiceClient. This is causing a problem in parsing account_url in BlobServiceClient, because our application presumes to send the account url with resource identifier as '/subscriptions/SOME SUBSCRIPTION/resourceGroups/SOME RG/provi

[2022-09-23 17:26] swathipil commented on #24411
Anna added back in here: https://github.com/Azure/azure-sdk-for-python/pull/24975/commits/bc5b47dba3b6e5e7422f2f625897526fd4440c09

[2022-09-23 17:26] #24411 closed

[2022-09-23 17:31] is300fanatic opened #26420 "Cannot Install/Delete Web App Site Extension utilizing Azure SDK for Python"
- **Package Name**: azure-mgmt-web
- **Package Version**: 7.0.0
- **Operating System**: Windows
- **Python Version**: 3.10.0

**Describe the bug**
When creating a webclient through the WebSiteManagementClient() and utlizing to invoke web_apps.begin_install_site_extension({required params}) it always returns 400 "Bad Request"

I've tried with many different Site extensions on a few separate app ser

[2022-09-23 18:06] palmerss commented on #26293
@0mza987 I'm unable to use the conda.yml with my environment, whenever try to launch the version of my environment that uses the conda.yml I get an error when launching that reads along the lines of
"Environment <environment_name> with version <version with conda.yml> is already registered and cannot be changed"

However I did double check that the docker image for my job is updated with both
mlde

[2022-09-23 18:45] palmerss commented on #26293
Oh and of course let me know if I should just open this up as a separate issue and close this one out, because this may seem different enough.

[2022-09-23 20:43] copdips opened #26425 "[doc] example how to instanciate the classe `ProvidersOperations(client, config, serializer, deserializer)`"
Hello,

I need to get all the providers of a subscription, in order to get the available `apiVersions` of each resource, because I'm writing some scripts that need to work with different Azure resources, that needs different apiVersions, for example: `resource_client.resources.get_by_id()`.

From azcli, it's as simple as `az  provider list`

It seems that the same thing from Python SDK is to use t

[2022-09-23 20:44] azure-sdk commented on #26425
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.22377095,ARM:0.13461143,App Configuration:0.04817665'

[2022-09-23 21:15] bw984 commented on #23584
This is still broken in late September 2022.   We downgraded our VSCode extension to 0.9.10 and resolved the issue.

[2022-09-23 21:36] YalinLi0312 opened #26426 "[Tables] Remove consuming error message with typo"
Need to remove consuming the error message with typo after [this issue](https://github.com/Azure/azure-sdk-for-python/issues/26402) fixed by service team.

[2022-09-23 21:37] SturgeonMi commented on #26213
Hi Thomas, about how to "download assets with paths such as azureml://datastores/<data_store_name>/paths/<path>", AzureML is delivering [FSSpec](https://filesystem-spec.readthedocs.io/en/latest/) integration into Private Preview.
With this integration, you will be able to use Pandas, Dask and other libraries that accept file objects to deal with paths such as azureml://datastores/<data_store_name>

[2022-09-23 22:04] #26271 closed

[2022-09-23 22:04] #26265 closed

[2022-09-23 22:09] YalinLi0312 opened #26427 "[AppConfig] Use AioHttpTransport"
The current default async transport used in AppConfig - `AsyncioRequestsTransport` - is pretty old, not good in use. We should align it to the one used in current `azure-core` - `AioHttpTransport`.

[2022-09-24 00:12] scbedd opened #26429 "Convert package assembly to `python -m build` from `python setup.py sdist/bdist_wheel`"
[python -m build docs.](https://pypa-build.readthedocs.io/en/stable/)

This is the future, as indicated by this deprecation warning.

[code]

Should be fairly straightforward to swap, but we should do so sooner rather than later.

[2022-09-24 00:20] #26247 closed

[2022-09-24 06:46] elygre commented on #22180
@rthorn17 I have the same issue. Using the REST api, I can see that "az rest --url https://management.azure.com/subscriptions?api-version=2020-01-01" returns tags for some subscriptions, but not for all. Using the "/subscriptions/<guid>" endpoint will return the full set of tags. I have an open service request on the matter. Send me an email to "eirik dot lygre at cgi dot com" if you want to engag

[2022-09-24 08:04] #25959 closed

[2022-09-24 14:56] erikpa1 opened #26432 "Streaming file to web via Flask?"

[2022-09-24 17:32] SaurabhSharma-MSFT commented on #26403
@aeetos We are looking into it and get back to you for any additional information.

[2022-09-24 19:18] erikpa1 commented on #26432
Nah bad repo, I wanted to write for azure storage, not azure sdk itself,... sorry, bad repo...

[2022-09-24 19:18] erikpa1 commented on #26432
Nah, wrong repo, I have to rewrite it to another repo

[2022-09-24 19:18] #26432 closed

[2022-09-24 20:54] edgBR opened #26433 "Sudden error with no change of code, data or sdk versions - Failed to upload outputs due to: Failure in UpdateRun while calling service RunHistory"
**Bug description**

A hyperdrive step which previously was working without any issue has started to fail. There has been no change of code, no change of data, no change of azureml sdk version, no change of anything.

Error is as follows:

![image](https://user-images.githubusercontent.com/14976422/192118281-7e65997e-bada-414d-9c46-407c4aa43f52.png)

`Failed to upload outputs due to: Failure in Up

[2022-09-24 20:54] azure-sdk commented on #26433
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Factory:0.11201263,KeyVault:0.06103551,Storage:0.06010549'

[2022-09-24 21:23] josiahdc commented on #9970
ditto to the above, __len__ is such a fundamental attribute of any collection

[2022-09-25 07:57] JayChanggithub commented on #26385
@vincenttran-msft  Thanks for your replying. Sure. I will try to update `aiohttp`. In addition my `azure.storage.fileshare` is `azure-storage-file-share==12.9.0`. Also i have admin permission access of storage account when i try to execute generate SAS token i use from storage account key to do.

[2022-09-26 07:13] AFengKK opened #26442 "Files Data Lake samples issues"
1.

Section [link](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-file-datalake/samples/datalake_samples_instantiate_client_async.py#L37):

![image](https://user-images.githubusercontent.com/80307197/192207998-e950815d-cc19-43a9-815b-03146041d943.png)

Reason:
NameError: name 'run' is not defined.

Suggestion:
Change `main()` to `run()`.

@lmazuel , @kyle-patters

[2022-09-26 07:13] AFengKK opened #26443 "Communication Identity Readme issues"
1.

Section [link](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/communication/azure-communication-identity#examples):

![image](https://user-images.githubusercontent.com/80307197/192207014-d110fb93-9b81-476b-b117-aaafdc395cc5.png)

Reason:
Jump link error for code snippets of exammples.

Suggestion:
Add link to: `(#exchanging-azure-ad-access-token-of-a-teams-user-for-a-communication

[2022-09-26 07:14] azure-sdk commented on #26443
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.5877996,Azure.Identity:0.40350705,Docs:0.0043439236'

[2022-09-26 09:01] PowershellNinja opened #26444 "ClientAuthenticationError: Server failed to authenticate the request"
- **Package Name**: azure.data.tables
- **Package Version**: 12.4.0
- **Operating System**: Linux - 5.4.0-1090-azure (Running in Azure Databricks 11 /  Apache Spark 3.3.0)
- **Python Version**: 3

**Describe the bug**
When using the azure.data.tables library, the following error is shown for any calls:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run Auth Code from https://github.c

[2022-09-26 10:43] ralucachintoanu opened #26446 "InternalError when iterating list_by_factory() result which contains more than 50 results"
- **Package Name**: azure-mgmt-datafactory
- **Package Version**: 2.8.0
- **Operating System**: macOS 11.7
- **Python Version**: 3.8.10

**Describe the bug**
When iterating the _adf_client.linked_services.list_by_factory()_ result, if the result has more than 50 items, the first 50 items are being displayed, then an exception occurs.

**To Reproduce**
Run
[code]
for a resource group/data factory w

[2022-09-26 12:42] PowershellNinja commented on #26444
This issue was not a bug, it turned out I was provided with a wrong storage account key 🙈 apparently this error is what the api returns for a wrong key.
Closing the issue.

[2022-09-26 13:16] Saxamos commented on #26039
No news on this issue @ponopono0322 @kashifkhan  @luigiw ? :)

[2022-09-26 14:26] cmendible opened #26447 "EventHubProducerClient with custom_endpoint_address fails with: ErrorCodes.UnknownError: Connection in an unexpected error state."
- **Package Name**:  azure.eventhub
- **Package Version**:  azure_eventhub-5.10.1.dist-info
- **Operating System**: Linux or Windows
- **Python Version**:  Python 3.10.7

**Describe the bug**

Running the following code sample:

[code]
Fails with the following message:

[code]

Same thing happens if the custom endpoint is changed to `https://<endpoint address>:443`

**Expected behavior**
Messages

[2022-09-26 14:34] 0xbadidea commented on #26446
- Package Name: azure-mgmt-datafactory
- Package Version: 2.8.0
- Operating System: Ubuntu 20.04.5 LTS (Databricks DBR 9.1 LTS)
- Python Version: 3.8.10

Have the same issue, but unfortunately in my case, there's no error - The method call just appears to be "stuck".

[code]

[2022-09-26 15:22] ralucachintoanu commented on #26446
Forgot to mention: in my case, it prints the first 50 results, then it appears to get stuck, but if I wait enough I get the error in the end.

[2022-09-26 16:10] kashifkhan commented on #26447
Thank you for submitting this bug report @cmendible. We will take a look and get back to you asap.

[2022-09-26 16:14] cmendible commented on #26447
If you need we can schedule a quick call so I can show you the repro. 😉

[2022-09-26 17:40] kristapratico commented on #26302
Still working out the best solution/pattern for exposing these methods. We will not expose in this release.

[2022-09-26 17:40] #26302 closed

[2022-09-26 17:40] mccoyp commented on #26425
Hi @copdips, thank you for opening an issue! I'll tag some folks who should be able to help, and we'll get back to you as soon as possible.

[2022-09-26 17:43] mccoyp commented on #26433
Hi @edgBR, thank you for opening an issue (and providing extra context with a linked issue)! I'll tag some folks who should be able to help, and we'll get back to you as soon as possible.

[2022-09-26 17:46] mccoyp commented on #26433
Tagging @azureml-github for awareness.

[2022-09-26 17:47] mccoyp commented on #26446
Hi @ralucachintoanu (and @0xbadidea), thank you for opening an issue and providing details! I'll tag some folks who should be able to help, and we'll get back to you as soon as possible.

[2022-09-26 17:50] mccoyp commented on #26443
Tagging @turalf for awareness.

[2022-09-26 18:11] #25312 closed

[2022-09-26 19:28] kexugit opened #26450 "Python API document not accurate"
- **Package Name**:  msrestazure
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
Python API ref document has typo and is not clear on measurement unit.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://learn.microsoft.com/en-us/python/api/msrestazure/msrestazure.azure_operation.azureoperationpoller?view=azure-python#msrestazure-azure-ope

[2022-09-26 19:29] azure-sdk commented on #26450
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.48914772,Authorization:0.028001916,Machine Learning:0.01625524'

[2022-09-26 19:46] annatisch commented on #26088
@xiangyan99 - I'm not sure this should be marked as addressed.
We should not have to resort to changing the retry policy for the correct behaviour - I think the service team needs to address this.

[2022-09-26 21:20] l0lawrence commented on #26447
Hello @cmendible!  Would you be able to add a uamqp logger (as below) to your code snippet?
`
logger = logging.getLogger('uamqp')`
`logger.setLevel(logging.DEBUG)`
`handler = logging.StreamHandler(stream=sys.stdout)`
`logger.addHandler(handler)
`

This will give you verbose logs, however it will let you see a more specific error message. For example, another parameter [connection_verify](https://g

[2022-09-26 21:22] lmazuel commented on #26450
This code was used by our code generator alpha, and is no longer maintained nor used by any running code for at least 5 years. Given that, we don't plan to update the documentation as no customers can access this method anymore (no SDK will return this type anymore).

[2022-09-26 21:22] #26450 closed

[2022-09-26 22:22] vincenttran-msft opened #26457 "[Storage] [File-Share] Investigate `get_directory_properties()` returning empty `name` property"
When working on an unrelated feature item, it was discovered that when you create a directory and then use the `get_directory_properties` API call, the `name` field is not populated. I am not sure if this is expected behavior (especially given that the original test for the `get_directory_properties` API call does not assert against this value)
![image](https://user-images.githubusercontent.com/10

[2022-09-26 22:26] vincenttran-msft commented on #26442
Hi @AFengKK Rudy, thanks for bringing this to our attention. I will make the necessary changes and address the problem in a PR to come 😄
Thanks!

[2022-09-26 22:29] davidlira1 commented on #4777
it looks like the api does support the $expand for resource groups. it's confusing because it does not show it explicitly here at: [https://learn.microsoft.com/en-us/rest/api/resources/resource-groups/list#code-try-0], but when I add the $expand=createdTime, it does return a list of resource groups with the createdTime.

unfortunately this is not included in the python sdk. could we include it?

[2022-09-26 22:44] luigiw commented on #26039
@Saxamos can you confirm which exact azureml package is causing the problem? azureml-sdk is a meta package. It it was azureml-dataset-runtime, then it's a known issue.

#25018

[2022-09-26 22:58] vincenttran-msft commented on #26413
Hi @harneetvirk Harneet, I believe that there may be some confusion on what is happening here. While I see that the parsing logic is a little less than perfect, I believe the issue of having three `///` characters can be alleviated by chopping off the prefixed `/` before passing it to our parser.

However, even if that is done, making your `account_url` string look like the following:
`https://sub

[2022-09-26 23:11] #25557 closed

[2022-09-27 00:14] jalauzon-msft commented on #26332
Hi @asafalon1, thanks for the report. We have been able to reproduce this on our end but the cause is not obvious so we will investigate and get back to you. Thanks!

[2022-09-27 02:09] dcbrown16 opened #26464 "Long time to access blobList"
- **Package Name**:
- **Package Version**:
- Package            Version
------------------ ---------
azure-common       1.1.28
azure-core         1.25.1
azure-identity     1.11.0
azure-mgmt-core    1.3.2
azure-mgmt-storage 20.1.0
azure-storage-blob 12.13.1

- **Operating System**: Ubuntu 18.04.1
- **Python Version**:  Python 3.8.11

**Describe the bug**
They find that the first access to blobList

[2022-09-27 03:02] #26442 closed

[2022-09-27 03:42] 0mza987 commented on #26293
@palmerss  can I get a look at your component command of the failed component? This error looks like the command is not in correct format which should be like "--inputs a=1 b=2", if you are trying to use optional parameter, make sure you pass nothing at all instead of passing an empty string when consuming the component.

[2022-09-27 03:45] 0mza987 commented on #26293
And can you please show us the interface of your component definition and how you consume it like below example?

![image](https://user-images.githubusercontent.com/2572521/192427064-69f31985-1b85-43e2-bb6e-253254f781c9.png)
![image](https://user-images.githubusercontent.com/2572521/192427119-041835b1-fc39-4f36-b405-364e8a6fa7ec.png)

[2022-09-27 04:03] #26290 closed

[2022-09-27 04:59] 0xbadidea commented on #26446
Update: If I wait long enough, I get the error - **HttpResponseError: (InternalError) Internal error has occurred.** too. The same happens with _adf_client.pipelines.list_by_factory('my_resource_group', 'my_data_factory')_

[code]

[2022-09-27 06:30] riyadhuddin commented on #23832
from azure.confidentialledger import TransactionState
ImportError: cannot import name '**TransactionState**' from 'azure.**confidentialledger**'

[2022-09-27 07:42] cmendible commented on #26447
Thanks for that one!

I used `print(certifi.where())` to check the `cacert.pem` file location and appended the root CA. This fixed the connection for AmqpWebSockets: `custom_endpoint_address = "https://<custom endpoint>:443")`

However we are still facing issues for AmqpTcp: `custom_endpoint_address = "sb://evh.contoso.corp:5671")`. This is the current output:

[code]

[2022-09-27 08:35] lloydhamilton commented on #25018
I am also getting the same issue:

macOS Monterey 12.5
Apple M1 Pro
Python 3.8.13

[code]

To reproduce:
[code]

[2022-09-27 09:06] msyyc commented on #26425
Hi @copdips please refer to https://github.com/Azure-Samples/azure-samples-python-management/blob/main/samples/resources/manage_providers.py

[2022-09-27 10:11] Cvaniak opened #26475 "Outdated hyperlink on "Explore the Management APIs""
### Outdated redirect

On the bottom of this site there is button `Explore the Management APIs` which redirect to [this site](https://learn.microsoft.com/en-us/python/api/overview/azure/notificationhubs/management) which gives `404 error`. From what I see it should redirect to [this](https://learn.microsoft.com/en-us/python/api/overview/azure/mgmt-notificationhubs-readme?view=azure-python) now.

-

[2022-09-27 10:11] azure-sdk commented on #26475
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.45547622,Notification Hub:0.33973533,Event Hubs:0.029916173'

[2022-09-27 11:54] AsimKarel commented on #25018
I am facing same issue on Windows Python version 3.10.4

[2022-09-27 15:44] scottaddie opened #26476 "Create a workload identity credential for DAC auth flow"
**Intro:**
Azure AD workload identity federation is a new capability. It applies to both application identities and managed identities in Azure AD. The k8s team has built additional components around this that help customers use this capability in their k8s deployments. It's essential for the Azure Identity SDK to support this pattern so customers can easily benefit from this capability.

1. Allow

[2022-09-27 16:04] #26328 closed

[2022-09-27 16:38] edgBR opened #26477 "Azure ML SDK is unable to self resolve dependencies"
- **Package Name**: azureml-core
- **Package Version**: 1.44.0
- **Operating System**: ubuntu20.04
- **Python Version**: 3.8.10

**Describe the bug**
Dear Azure colleagues we are unable to launch a job that was working perfectly fine a week ago.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an environment with the following specifications:

[code]

Use the following base image:

mcr

[2022-09-27 16:52] #21603 closed

[2022-09-27 17:57] mccoyp commented on #26475
Hi @Cvaniak, thank you for opening an issue! I'll tag the appropriate folks so we can look into this as soon as possible.

[2022-09-27 18:04] mccoyp commented on #26477
Hi @edgBR, thank you for opening an issue! I'll get this routed to the appropriate folks so we can look into this as soon as possible. Tagging @azureml-github for awareness.

[2022-09-27 18:06] JericHunter opened #26479 "Group By error message"
This issue will be used to track the improvement of current errors being raised by Python query limitations.
<img width="662" alt="MicrosoftTeams-image (1)" src="https://user-images.githubusercontent.com/51177847/192602974-b88b2e60-1b2f-4f4d-9e2d-7180ddec1923.png">

[2022-09-27 18:06] azure-sdk commented on #26479
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.2869883,Azure.Core:0.11518665,Storage:0.047642834'

[2022-09-27 18:25] scottaddie opened #26480 "Enable proactive renewal of Managed Identity tokens"
**Intro:**
Refreshing the tokens with half lifetime would improve resiliency for clients if there's an ESTS outage while fetching a token.

**Acceptance Criteria:**
All MSI tokens are refreshed at least half lifetime token request is made after half lifetime

MSI has token lifetime of 24 hours. Refresh the tokens if `refresh_in` is passed from ESTS or at half lifetime if `refresh_in` isn't passed.

[2022-09-27 18:42] scottaddie opened #26482 "Support PoP token binding via Signed HTTP Request (SHR) for public client apps"
**Intro:**
Proof of Possession is intended to ensure that the client that requests a token is the only client that can use the token. This is accomplished by the client generating a key pair and requesting that the public key be included in the issued access token. The client library then generates a wrapper token signing it with the private key that is only known to it.

**Proposal:**
1. Ensure a

[2022-09-27 18:42] azure-sdk commented on #26482
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'IoT:0.10892465,App Services:0.06740505,Cosmos:0.060353283'

[2022-09-27 19:41] #26427 closed

[2022-09-27 19:42] scottaddie opened #26484 "Add Continuous Access Evaluation (CAE) support for service principals"

[2022-09-27 19:42] azure-sdk commented on #26484
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'IoT:0.15573,Azure.Core:0.059298247,Cosmos:0.05700755'

[2022-09-27 20:16] l0lawrence opened #26485 "[EH & SB] Raising more descriptive errors"
Currently if there is an error in uamqp, a generic EH or SB error is raised without any context about the error in uamqp. We should display the specific message from uamqp to give the user more information.

#26447

[2022-09-27 20:16] azure-sdk commented on #26485
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.43024027,Azure.Core:0.22295329,Storage:0.1331023'

[2022-09-27 20:18] l0lawrence commented on #26447
Awesome!

        Yes, we can look into making this error message more descriptive! Thank you for the feedback. #26485

With regards to your current error message, that is not one I have seen before so I will need to investigate and get back to you. Currently however, custom endpoint support for the python eventhub sdk is only supported over [websocket ](https://github.com/Azure/azure-sdk-for-pyth

[2022-09-27 20:19] l0lawrence opened #26486 "[Eh & SB] Explicitly state support of custom endpoint over only websocket"
-- potentially add in support for tcp connections

[2022-09-28 00:52] #25407 closed

[2022-09-28 04:02] swathipil opened #26500 "[AMQP Python] type namedtuples with _code, _definition attributes"
Currently the following mypy errors are being ignored. Figure out how to type/resolve:
* `_code`: `"Type[Properties]" has no attribute "_code"`
* `_definition`: `"Type[Header]" has no attribute "_definition"`
* `__defaults__ `: `"Callable[[Type[_NT], Any, Any, Any, Any, Any, Any, Any, Any, Any], _NT]" has no attribute "__defaults__"`

Files affected:
* _pyamqp/performatives.py
* _pyamqp/message.py

[2022-09-28 04:03] azure-sdk commented on #26500
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'KeyVault:0.14558297,Event Hubs:0.12100191,Service Bus:0.05723085'

[2022-09-28 07:21] cmendible commented on #26447
Will AmqpTcp be supported as other SDK's such as .NET do?

[2022-09-28 13:55] amitdwivedi-broadcom opened #26505 "graph client from msgrpah-core only give users for latest created graph client"
- **msgraph-core**:
- **Version: 0.2.2**:
- **OS: Mac**:
- **Python Version- 3.10.6**:

I have two active directories on two different azure accounts, one has around x number of users and another has y number of users then i create two graph client objects these two account and try call get user api for both clients, but almost every time i get the same output.

**example**
Acct1 = 33 users
Acct2

[2022-09-28 13:55] azure-sdk commented on #26505
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Graph:0.5515853,Storage:0.162647,Azure.Identity:0.05083022'

[2022-09-28 14:24] SpencerLN opened #26506 "Error With Pagination in ComputeManagementClient in 28.0.0"
- **Package Name**: azure-mgmt-compute
- **Package Version**: 28.0.0
- **Operating System**: Linux
- **Python Version**: 3.10.2

**Describe the bug**
Operations in the ComputeManagementclient that require pagination are failing after upgrading the package to 28.0.0
**To Reproduce**
Steps to reproduce the behavior:
1. Have a subscription with multiple pages of resources, in my case, VM scalesets
2.

[2022-09-28 15:32] l0lawrence opened #26508 "[SB] Add sample testing back"
Samples were failing after the switch to test proxy due to the resource not being created correctly. Passing locally with tox command

Change tests.yml file add back in:

      MatrixReplace:
        - TestSamples=.*/true

[2022-09-28 15:33] azure-sdk commented on #26508
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.13321856,Cosmos:0.09482916,Azure.Core:0.05242489'

[2022-09-28 15:49] needuv opened #26509 "Add precommit hooks to repo"
**Is your feature request related to a problem? Please describe.**

We would like to have pre-commit hooks in azure-sdk-for-python that can automate fixing common linting issues. These hooks can be things such as removing trailing whitespaces for lines, making sure files have an extra line at the end of the file, running `black` to format code, running `pycln` to clean up unused imports, running `

[2022-09-28 15:49] azure-sdk commented on #26509
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.18146375,Event Hubs:0.1571823,Storage:0.10422137'

[2022-09-28 17:47] mccoyp commented on #26505
Hi @amitdwivedi-broadcom, thank you for opening an issue! I see that `msgraph-core` seems to exist in a different repository: https://github.com/microsoftgraph/msgraph-sdk-python-core

I would recommend opening an issue over there. I'll tag some folks who may be able to help further and/or provide more context.

[2022-09-28 18:06] mccoyp commented on #22275
This is now addressed with the [recommended use](https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/test_proxy_migration_guide.md#record-test-variables) of the built-in `setdefault` dictionary method when using `@recorded_by_proxy(_async)` decorators, and with the [`variable_recorder` fixture](https://github.com/Azure/azure-sdk-for-python/blob/main/tools/azure-sdk-tools/devtools_testu

[2022-09-28 18:06] #22275 closed

[2022-09-28 18:16] mccoyp opened #26512 "[Communication] Migrate tests to use the test proxy"
Following the example of [`azure-communication-email`](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/communication/azure-communication-email/tests), the remaining data-plane Communication packages need to migrate their tests to use the test proxy.

As described in the [Test proxy migration guide](https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/test_proxy_migration_gui

[2022-09-28 18:16] azure-sdk commented on #26512
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.4884238,Azure.Core:0.258818,Docs:0.032262474'

[2022-09-28 18:19] l0lawrence opened #26513 "[EH + SB] Support custom endpoint over TCP connection"
Currently supported over only websocket transport

Aiming for January release

[2022-09-28 18:50] #26505 closed

[2022-09-28 20:55] SaurabhSharma-MSFT commented on #26283
@Shawngbk We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-09-28 20:55] #26283 closed

[2022-09-28 22:43] lmazuel commented on #26477
Hi @edgBR

The underlying issue is that your `azure-core` is too old, update it to at least 1.24.0 and your problem would go away. As our `azure-core` is backward compatible guarantee, you can update without any risks.

That being said, why is the dependency system unable to understand that it needs to update azure-core is unclear to me, so I'll leave this issue opened until the ML team could clar

[2022-09-29 00:30] dsabarinathan opened #26524 "ImportError: cannot import name 'DocumentModelAdministrationClient'"
- **Package Name**: azure-ai-formrecognizer-3.1.2
- **Package Version**: azure-ai-formrecognizer-3.1.2
- **Operating System**: windows 10
- **Python Version**:  Python 3.6.4 |

**Describe the bug**
A clear and concise description of what the bug is.  I am trying to import the  **from azure.ai.formrecognizer import DocumentModelAdministrationClient**  but I am getting the below error.

**To Reprodu

[2022-09-29 00:47] mccoyp commented on #26524
Hi @dsabarinathan, thank you for opening an issue! I'll tag the package owners for a second opinion, but it looks like the `DocumentModelAdministrationClient` was added to the library in version [3.2.0b1](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md#320b1-2021-10-07) and isn't available in version 3.1.2. I would recommend updating

[2022-09-29 00:52] catalinaperalta commented on #26524
Hi @dsabarinathan! Thanks for the question. @mccoyp is right, the `DocumentModelAdministrationClient` was added in version 3.2.0. If you can do so, please update to this version of the package to get the latest clients and operations which also target the latest service version and showcase new features. I recommend using `3.2.0` directly since this is our latest stable package release.

[2022-09-29 02:36] #21202 closed

[2022-09-29 07:45] msyyc commented on #26506
I will look into it asap. Thanks!

[2022-09-29 08:04] #26026 closed

[2022-09-29 08:14] gs9824 opened #26537 "Strange digital twin ID when upserting a digital twin"
- **Package Name**: azure.digitaltwins.core
- **Package Version**: 1.2.0
- **Operating System**: Windows
- **Python Version**: 3.7

**Describe the bug**
Creating a digital twin via the upsert_digital_twin in python yields a strang $dtId

**To Reproduce**
Steps to reproduce the behavior:

    def CreateCustomer (CustomerName):
        digital_twin_id=CustomerName,
        temporary_twin = {

[2022-09-29 08:15] azure-sdk commented on #26537
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5355162,Mgmt:0.4599004,Service:0.0028377206'

[2022-09-29 10:03] #26383 closed

[2022-09-29 10:10] EpicWink commented on #26123
I suggest having [`_GlobalEndpointManager._GetDatabaseAccount`](https://github.com/Azure/azure-sdk-for-python/blob/c4c060f2a61851983f49e5b01b215d3c8fccde71/sdk/cosmos/azure-cosmos/azure/cosmos/_global_endpoint_manager.py#L116) (and its [async counterpart](https://github.com/Azure/azure-sdk-for-python/blob/014e077bba552d67a23995f52035bafc5a637b01/sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_end

[2022-09-29 11:48] dsabarinathan commented on #26524
@catalinaperalta, Thank you for the reply. I will use the new version.

[2022-09-29 12:29] dsabarinathan commented on #26524
@catalinaperalta, When I gave the SAS URL for my blob. I am getting the below error.

![image](https://user-images.githubusercontent.com/40907627/193031327-1d236fce-7382-4597-be08-b33db535ada0.png)

My Blob container has so many folders. I want to give a specific folder for training the custom model.

![image](https://user-images.githubusercontent.com/40907627/193031123-4bcdda13-a26f-4e62-b72f-ab7

[2022-09-29 14:12] swathipil commented on #25072
Hey @harshdeep78singh! After a review from our architects, the API to get schema by version has been updated. Rather than a separate `get_schema_by_version` method, the get_schema method now takes group_name, name, and version as keyword arguments: `get_schema(group_name=group_name, name=name, version=version)`. The updated sample is [[here](https://github.com/Azure/azure-sdk-for-python/blob/bef82

[2022-09-29 15:57] kashifkhan commented on #24315
Thank you very much @hansmbakker for sharing about the websocket client in aiohttp , this worked out perfectly for us :)

[2022-09-29 16:02] mindlessroman opened #26542 "Request: Include Enum for Types of Data Flows in the Data Factory"
**Is your feature request related to a problem? Please describe.**
Instead of needing to expose a protected list of Data Flow types in `sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py` because it's bad practice to access protected properties/methods.

**Describe the solution you'd like**
It would be nice if there was an enum that was accessible `sdk/datafactory/

[2022-09-29 16:53] catalinaperalta commented on #26524
Hi @dsabarinathan, the build document model method supports a `prefix` kwarg which would help in this case, see the docs [here](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-ai-formrecognizer/latest/azure.ai.formrecognizer.html#azure.ai.formrecognizer.DocumentModelAdministrationClient.begin_build_document_model). Also, it would be best to move on to the stable version of the package

[2022-09-29 17:02] erikpa1 commented on #26026
@kashifkhan oh jesus , yes sorry, I wrote this on bad repository, but yes it is. for Azure Tables (but as I see that one is dead noone is answering on user stories,....)

[2022-09-29 17:05] sandeepraichura commented on #25506
@yangchengs - It looks like an expected behavior as the parent resource cannot be deleted while the child resource still is getting deleted. Let me validate and update.

[2022-09-29 17:31] kristapratico opened #26543 "[textanalytics] document gated preview features"
Document that the following two features are still in gated preview:

- Abstractive Summarization
- Dynamic Classification

[2022-09-29 17:32] azure-sdk commented on #26543
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Text Analytics:0.5165058,Cosmos:0.11325116,Search:0.04352514'

[2022-09-29 18:47] mccoyp commented on #26537
Hi @gs9824, thank you for opening an issue! I'll tag some folks who should be able to help, and we'll get back to you as soon as possible.

[2022-09-29 19:53] sandeepraichura commented on #25506
@yangchengs - This is an expected behavior and by design as you have to wait few seconds for the child resource to be deleted before the parent resource can be deleted. Closing this, but please do reopen if you see any concerns.

[2022-09-29 20:03] #25506 closed

[2022-09-29 22:04] #25244 closed

[2022-09-29 22:33] tjprescott commented on #22308
@lb-cake yes, this is certainly up for grabs!

[2022-09-29 22:34] tjprescott commented on #22308
I don't even know what I assigned @lmazuel in the first place.

[2022-09-30 00:10] dsabarinathan commented on #26524
Hi @catalinaperalta  , when I tried to install the 3.2.0 on local. I am getting the below error.

![image](https://user-images.githubusercontent.com/40907627/193163105-c93b3d21-ea3b-423f-9367-8c8bdd53f9aa.png)

[2022-09-30 03:45] ChronosSong opened #26558 "azure.mgmt.datafactory.models.RunQueryFilter not working"
I query the specified pipeline within a week, add filters, no error is reported, but the returned result is all records in the time period
[code]
![image](https://user-images.githubusercontent.com/53171939/193185777-23dda2bd-4c11-4a7b-a042-170db2f3276a.png)

[2022-09-30 05:51] msyyc opened #26563 "[auto_release] `->hash` doesn't work"

[2022-09-30 05:52] azure-sdk commented on #26563
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.4135442,Automation:0.18862335,Service Bus:0.023048695'

[2022-09-30 08:04] #26038 closed, assigned to PramodValavala-MSFT

[2022-09-30 09:18] msyyc commented on #26506
Hi @SpencerLN Please try the latest version: https://pypi.org/project/azure-mgmt-compute/28.0.1/

[2022-09-30 10:00] HammadKamran commented on #26366
Hi @l0lawrence thanks for chasing it up. Any updates on this?

[2022-09-30 14:42] zadigus opened #26565 "[Authorization] Cannot find a way to az role assignment create with the SDK"
- **Package Name**: azure-mgmt-authorization
- **Package Version**: 2.0.0
- **Operating System**: Windows
- **Python Version**: 3.10

**Describe the bug**
Provided an assignee principal id and a role definition id, the following code
[code]
I get the following error:
[code]

I have multiple choices on what `RoleAssignmentCreateParameters` to import:

![image](https://user-images.githubusercontent.

[2022-09-30 14:43] azure-sdk commented on #26565
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Authorization:0.5994738,Compute:0.056317095,ARM:0.0099604055'

[2022-09-30 14:45] rgreen1995 commented on #22441
@thomasfrederikhoeck
@singankit

Was there ever a solution to this? I'm having a similar problem when trying to switch to endpoints. I want to be able to update the env in v2 using a private wheel in the same way that you could in the v1 SDK i.e. :

[code]

Any help would be much appreciated

[2022-09-30 14:55] vizhur commented on #22441
private wheels are not supported in v2. though if you reference it from the storage associated with your ws AzureML will be able to resolve it, as a backward compat support. I'd recommend to use private indexes instead as described above. Other solution if your wheel is relatively small is to use docker context approach and have it there.

[2022-09-30 15:50] rgreen1995 commented on #22441
@vizhur I'm not sure I follow, how do I actually add the package to azure without using v1 Environment class?, Basically the equivalent of my code above or step 2 in the initial question using Environment from v2?

[2022-09-30 15:56] vizhur commented on #22441
There is no equivalent in V2 for private packages

[2022-09-30 16:54] kristapratico opened #26569 "[metricsadvisor] unskip tests"
This issue describes the reasons we are skipping tests or running only with API key in metrics advisor. Reaching out to the service team regarding these issues.

test_alert_config.py / test_alert_config_async.py
- test_list_alert_configs runs only with API key. AAD error: "(Forbidden) You do not have sufficient permissions on this Metric"

test_data_feed_ingestion.py / test_data_feed_ingestion_asy

[2022-09-30 16:55] azure-sdk commented on #26569
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Extensions:0.12089193,App Configuration:0.09886461,Data Factory:0.056282625'

[2022-09-30 17:07] mccoyp commented on #26558
Hi @ChronosRoot, thank you for opening an issue! I'll tag some folks who can help and we'll get back to you as soon as possible.

[2022-09-30 17:08] mccoyp commented on #26565
Hi @zadigus, thank you for opening an issue! I'll tag some folks who can help and we'll get back to you as soon as possible.

[2022-09-30 17:23] thomasfrederikhoeck commented on #22441
TL;DR: You can't use a private index with v2 and MLFlow unless you put your secret in clear text.

@rgreen1995 Not to my knowledge but your problem is different as we use index instead of wheel. We abandoned trying to use managed endpoints (v2 in general).

@vizhur I'm not quite sure that i follow? This whole issue is about private indexes doesn't work for v2 (managed endpoints) unless you put the

[2022-09-30 17:29] vizhur commented on #22441
Hey @thomasfrederikhoeck ,  @rgreen1995 here https://github.com/Azure/azure-sdk-for-python/issues/22441#issuecomment-1263669644 had a question about private wheel feature, that is a bit out of the issue context.

[2022-09-30 17:40] swathipil opened #26571 "[EventHubs&ServiceBus] remove msrest import from _amqp_message"
@kashifkhan pointed out that we're using msrest [[here](https://github.com/Azure/azure-sdk-for-python/blob/73d1c4dd2f6dd4f7b825db998542e374fe6b4c0e/sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_amqp_message.py#L14)] and this should be removed.

[2022-09-30 17:45] kashifkhan commented on #26571
We should be able to replace that import with the one from azure core [here](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/core/azure-core/azure/core/serialization.py)

[2022-09-30 18:59] thomasfrederikhoeck commented on #22441
@vizhur I guess :-) But do you know if there is any progress with private pip index for managed endpoints?

[2022-09-30 21:16] #21146 closed

[2022-09-30 22:04] #26348 closed

[2022-09-30 22:50] YalinLi0312 commented on #23917
Hi @antkmsft , thanks for reaching us!
One thing needs to confirm, do you mean the `public Azure in Germany`? Because the Cloud Germany is already closed.

[2022-10-01 08:04] #25993 closed

[2022-10-02 21:11] SaurabhSharma-MSFT commented on #26558
@ChronosRoot Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 13:04] dsabarinathan opened #26592 "Azure OCR JSON file creation"
- **Package Name**:  DocumentAnalysisClient
- **Package Version**:  3.2.0b5
- **Operating System**: windows 10
- **Python Version**: Python 3.6.4

**Describe the bug**
how to create the below ocr.json file using the azure documentanalysisclient or other OCR functions.  when I load the blob folder in form recognizer studio, it creates the below ocr json for the pdf document automatically. I want to

[2022-10-03 14:00] hussam-Tanium commented on #26506
/unresolve Hello @msyyc, after testing 28.0.1, I'm receiving a new error. I verified that I do not receive this error on version 27.2.0.

    Package Name: azure-mgmt-compute
    Package Version: 28.0.1
    Operating System: MacOS 12.6
    Python Version: 3.8 and 3.9

Describe the bug
Operations in the ComputeManagementclient that require pagination are failing after upgrading the package to 28.0.

[2022-10-03 17:12] pvaneck commented on #26592
Hey, @dsabarinathan! Thanks for opening an issue. I can tag people who should be able to help. However, from a cursory look, have you tried looking through the form recognizer samples? I know we have one [here](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_convert_to_and_from_dict.py#L60) that appears to outline the process o

[2022-10-03 17:41] catalinaperalta commented on #26592
Hi @dsabarinathan! Thanks for the question. The way to create the OCR files is through Form Recognizer Studio. Those files can then be used to train a new custom analysis model with the SDK. You can use `begin_build_document_model()` on  `DocumentModelAdministrationClient` to do so. The `DocumentModelAdministrationClient` has methods that can be used to build, compose, copy, get, list, and delete

[2022-10-03 17:52] catalinaperalta commented on #26524
Hi @dsabarinathan! Could you try the command using the `--upgrade` flag?

[2022-10-03 18:51] mikeleuer opened #26602 "Bug azure-identity version 1.11.0 vs 1.10.0"
- **Package Name**: azure-identity
- **Package Version**: 1.11.0
- **Operating System**: Linux (https://github.com/Azure/azure-functions-docker/blob/dev/host/4/bullseye/amd64/python/python39/python39-core-tools.Dockerfile)
- **Python Version**: 3.9

**Describe the bug**
Version 1.10.0 of azure-identity works great DefaultAzureCredential works great, but after updating to 1.11.0 it fails when using

[2022-10-03 19:08] jonstout commented on #18217
Any updates on this? This is still broken and the work around mentioned by @jbernardini isn't working for me.

[2022-10-03 19:40] hussam-Tanium opened #26604 "InvalidContinuationToken when paginating results with azure-mgmt-compute"
**Package Name**: azure-mgmt-compute
**Package Version**: 28.0.1
**Operating System**: MacOS 12.6
**Python Version**: 3.8 and 3.9

**Describe the bug**
Operations in the ComputeManagementclient that require pagination are failing after upgrading the package to 28.0.0 and 28.0.1.

**To Reproduce**
Steps to reproduce the behavior:

1. Have a subscription with multiple pages of resources, in my case,

[2022-10-03 19:57] jbernardini commented on #18217
@jonstout we've got an operational patch as part of our container image. can probably help get you working in the meantime.

[2022-10-03 20:00] mikeleuer commented on #26602
@pvaneck
That seems to fix the issue, thank you!

How do I see what the default tenant is assigned to my DefaultAzureCredential()? How to set my default tenant in code?

[2022-10-03 20:00] palmerss commented on #26293
@0mza987 Sorry for the delay in response, have been pretty busy, before getting these screenshots for you I went ahead and tried updating azure-ai-ml to 0.1.0b7 with mldesigner at version 0.1.0b6, still am getting the same error, as mentioned above, reverting mldesigner back to 0.1.0b3 allows me to launch jobs for the time being, but doesn't allow me to make use of optional inputs

pipeline
![imag

[2022-10-03 20:48] maxnewbould opened #26606 "Cannot install azure-monitor-opentelemetry-exporter under poetry"
- **azure-monitor-opentelemetry-exporter**:
- **azure-monitor-opentelemetry-exporter==1.0.0b7**:
- **Ubuntu under WSL1**:
- **Python 3.9.12**:

**Describe the bug**
Fresh install of python/poetry cannot install `azure-monitor-opentelemetry-exporter`, seemingly due to the version containing character `b`.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Installation

[2022-10-03 20:49] hugoaponte commented on #26366
Hello,

Thanks for reaching out. At first glance, it seems like your scoring script is using AzureML SDK v1. Could you clarify why you need that and/or share your script?

For your reference, this a sample scoring script used with SDK v2. https://github.com/Azure/azureml-examples/blob/main/cli/endpoints/online/model-1/onlinescoring/score.py

Thanks,

Hugo

[2022-10-03 22:44] pvaneck commented on #26606
Hey, @maxnewbould. Thanks for reporting the issue!

With:
[code]

I can't seem to recreate the issue. I am able to install without problems using the install command:  `poetry add azure-monitor-opentelemetry-exporter==1.0.0b7 --allow-prereleases`

The error `invalid literal for int() with base 10: b''` seems to indicate that the `int` method had an empty byte string passed in, and the "b" being in

[2022-10-04 00:32] dsabarinathan commented on #26592
Thank you for the suggestion. @pvaneck @catalinaperalta .

The below code is working for me.
https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_convert_to_and_from_dict.py#L60

[2022-10-04 02:09] pvaneck commented on #26602
Each credential type has a different way of determining the tenant ID. For example, EnvironmentCredential will check for the `AZURE_TENANT_ID` envvar. AzureCliCredential will check for the tenant of the current logged in user (`az account show`).

As you can probably see by the error message, DefaultAzureCredential is going through an authentication flow, successively checking different credential

[2022-10-04 08:55] #26592 closed

[2022-10-04 08:56] dsabarinathan commented on #26524
@catalinaperalta . It is working now. Thank you. I am closing the issue now.

[2022-10-04 08:56] #26524 closed

[2022-10-04 09:18] thomasfrederikhoeck commented on #22441
@vizhur If you don't know, can you provide who can? :-)

[2022-10-04 10:04] #26425 closed

[2022-10-04 10:40] garashov commented on #11009
I am trying to access the blob file, divide the chunks into 1kb files and upload them in another folder.
For that,  I used download_blob() and then chunks() method. As you mentioned, in that case it divides the file into 4 mb files by default. Instead, I tried to use "max_chunk_get_size" argument with value 1*1*1024 and received the following error:
- TypeError: chunks() got an unexpected keyword

[2022-10-04 11:01] garashov commented on #11009
I resolved the issue from the previous comment by adding "max_chunk_get_size" argument in BlobService Client:
- blob_service_client = BlobServiceClient(account_url= acc_url, credential=storage_account_key, max_chunk_get_size = 1024)
And then using download_blob and chunks methods:
- blob_client.download_blob().chunks()

[2022-10-04 11:59] Danferno opened #26616 "Chunk size could use explanation"
It would be helpful to discuss the impact of changing the different chunk sizes. E.g. do larger sizes lead to faster uploads/downloads? What could go wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2a557056-1da5-6c2d-fcee-e4e246a7a221
* Version Independent ID: 9ee6555a-aaca-243f-409e-1ac5881e3dbc
* Content: [azu

[2022-10-04 12:21] vizhur commented on #22441
I'd bet on @singankit ;)

[2022-10-04 14:07] billyto commented on #16508
Hi! I can take this one, need Hacktoberfest points for those trees.

[2022-10-04 14:53] tomasvanpottelbergh commented on #26213
Hi @SturgeonMi, I briefly tried this out, but couldn't get the authentication to work. Anyway, I found a workaround using `azure.ai.ml._artifacts._artifact_utilities.download_artifact_from_aml_uri`. This is definitely not a great solution, since it's a "private" API, but I hope that this functionality will get exposed publicly in the azure-ai-ml package at some point.

[2022-10-04 15:11] tomasvanpottelbergh opened #26618 "[Azure ML SDK v2] Registering Data Asset from Job output"
**Is your feature request related to a problem? Please describe.**
The Azure ML SDK v1 provides the `register_on_complete` [method](https://learn.microsoft.com/en-us/azure/machine-learning/v1/how-to-create-machine-learning-pipelines#configure-data-with-dataset-and-outputfiledatasetconfig-objects) to register output datasets directly from the output of a step. Unfortunately the SDK v2 doesn't seem

[2022-10-04 15:12] azure-sdk commented on #26618
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute:0.2324359,Azure.Core:0.069942996,Data Factory:0.06909356'

[2022-10-04 16:57] rakshith91 opened #26621 "Hide generated overloads from API view"
https://apiview.dev/Assemblies/Review/5fbe8b98bd4a4c62be152df0f4abc3d1

I have a couple of auto generated overloads showing on the API view which I don't need.
Is there a workarounf to remove them?

[2022-10-04 16:58] azure-sdk commented on #26621
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'API Management:0.13464642,Storage:0.12387697,Azure.Core:0.09801339'

[2022-10-04 17:11] pvaneck commented on #26616
Thanks for the feedback! I'll tag some people who may be able to help with this.

[2022-10-04 17:55] kristapratico commented on #26621
This is interesting. I opened an issue awhile back for APIView to include inherited overloads because otherwise we'd need to redefine them on the client in _patch: https://github.com/Azure/azure-sdk-tools/issues/3451

I'm encountering the same issue with QA where we've defined new overloads in the patch OperationsMixin which are incompatible with the ones generated. While mypy screams and the APIV

[2022-10-04 19:59] #26602 closed

[2022-10-04 20:01] mikeleuer commented on #26602
Thank you for the explanation.

[2022-10-04 22:56] YalinLi0312 commented on #24480
Hi @timothyvries , thanks for reaching out. To clarify the issue, it's certainly a bug that empty row key or partition key should be supported. However they are required, so 'None' is not valid for them. We'll trying to get it fixed ASAP.

[2022-10-05 05:12] Prernajha2609 commented on #4554
Hii I would want to contribute please guide me further

[2022-10-05 09:55] sujithaleshwaram99 commented on #26366
Hi @hugoaponte,

I have below script in  score.py.

code snippet:
from azureml.core.model import Model
import os
import joblib
import json
import logging
import numpy
import pandas as pd

def init():
    """
    This function is called when the container is initialized/started, typically after create/update of the deployment.
    You can write the logic here to perform init operations like caching

[2022-10-05 16:10] docgregt commented on #18416
Why was this closed? If you put in -1 you get nothing back. If you put in None you get error. If you use default you get error. Basically, you cannot use order by in the python SDK 4.3.
![image](https://user-images.githubusercontent.com/43346207/194109347-fd030ee5-9aca-4a68-b4d7-2115978b5a3f.png)

[2022-10-05 16:17] Rodrigossz commented on #18416
Because it was added to the roadmap and documented. @simorenoh  can comment about the status.

[2022-10-05 16:31] 0xbadidea commented on #26446
Hi, don't want to be a pain but is there an ETA for this fix?

[2022-10-05 16:41] hugoaponte commented on #26366
Thanks, To deploy with SDK V2, you don't need SDK v1 in your scoring script anymore. The example I shared shows the way to load the model:

[code]

Could you try using this approach?

Thanks,

Hugo

[2022-10-05 17:57] kristapratico opened #26640 "[pylint] linter rule for type or property name that is too long"
Per @johanste, we should write a linter rule that checks the char length of type and property names and warn if the name is too long. What "too long" means is TBD, but we should write the rule and run it on existing libraries to find the right balance / signal:noise to determine what number to use / what feels pythonic.

[2022-10-05 17:58] azure-sdk commented on #26640
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.37965965,Storage:0.11392549,Event Hubs:0.03748486'

[2022-10-05 17:58] kristapratico commented on #26640
@l0lawrence adding you as an assignee because I'm not sure who will have time to do this over MQ. Perhaps we tackle it together. :)

[2022-10-05 18:24] daniwk opened #26643 "peek_messages"
From my testing it looks like peek_messages method is returning max 250 queue message. It would be nice if this was added to the documentation under [`max_message_count`](https://learn.microsoft.com/en-us/python/api/azure-servicebus/azure.servicebus.servicebusreceiver?view=azure-python#azure-servicebus-servicebusreceiver-peek-messages).

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-10-05 19:24] pvaneck commented on #26643
Hey, @daniwk. Thanks for the feedback! I'll tag some people who may be able to help.

[2022-10-05 19:49] eladkal commented on #24661
@jalauzon-msft Is there estimation for the release?

[2022-10-05 19:52] docgregt commented on #18416
ok. is there an item that I can track?

Also, I saw a comment that they portal queries work differently than the SDKs. this ok if the differences are documented somewhere otherwise not ok. We depend on portal to prototype queries. We cant then have them work differently in the SDKs. In particular we use python SDK heavily and we arent interested in using the web api.

[2022-10-05 20:06] Rodrigossz commented on #18416
Good suggestion for @simorenoh  and @gahl-levy .

[2022-10-05 20:39] jalauzon-msft commented on #26381
Hi @JeffreyCA, we were able to verify this issue. It seems that the Akamai CDN is dropping the `If-None-Match` header when forwarding the request to the Storage service. Unfortunately, there is not much we can do about this from the client side, but you can try opening a support request on your CDN (or maybe Storage Account) or reaching out to whatever teams owns the CDN internally.

There may be

[2022-10-05 20:42] jalauzon-msft commented on #24661
Hi @eladkal, the plan is for this to release as part of 12.14.0 that is tentatively scheduled for some time next week. We were hoping to have this released sooner but ran into some issues that pushed our release schedule by about a month.

[2022-10-05 21:19] vincenttran-msft commented on #26616
Hi @Danferno thanks for your feedback. I'm not exactly sure what you are looking for in terms of the impact of different chunk sizes (and I believe a search on the web with more specific questions might yield better answers), but in general I think the two largest reasons why one would want to change the chunk size is related to memory usage and network stability.

In terms of memory usage, depend

[2022-10-05 21:19] #26616 closed

[2022-10-05 21:37] vincenttran-msft opened #26656 "[Storage] Don't retry on `AzureSigningError` if missing credential information"
As discussed offline, there should be some logic that if a `AzureSigningError` occurs, to check if the credential provided is empty. It is slightly odd to wait for a retry (that we know will fail) if we were to inspect the credential and see that it is empty.

[2022-10-05 21:38] azure-sdk commented on #26656
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.56265616,Azure.Identity:0.38987213,Event Hubs:0.0049533104'

[2022-10-05 21:53] jalauzon-msft commented on #11009
Hi @ericthomas1, #24275 was recently merged which added a standard `read` method to the `StrageStreamDownloader` class. This will allow you to read an arbitrary size chunk of data from the downloader so the data can be streamed in a more Pythonic way. This is currently released in our latest beta version, 12.14.0b1 and 12.14.0b1. The plan is for this to be in our next full release which is tentati

[2022-10-05 22:33] swathipil opened #26657 "[ServiceBus] add uamqp switch to pyproto"
similar to the switch added to EH, add a uamqp switch to SB.
TODO:
- [ ] currently, connection verify tests are being skipped. Fix these in pyproto and ensure that connection verify works as expected. PR from main [[here](https://github.com/Azure/azure-sdk-for-python/commit/1ab7868d2868cc033bd7083c5785dd0bc2299722)].
- [ ] Unskip all tests currently being skipped since receive iterator isn't worki

[2022-10-05 23:21] luigiw commented on #26618
@tomasvanpottelbergh you don't need to register the job output as a data asset to use it as an input for another job. You can reference a job output by using pattern "azureml://jobs/<job-name>/outputs/<output-name>/paths/<path-to-your-artifacts>". Just use this pattern in `path` field of a job input. Does this help?

[2022-10-05 23:37] jalauzon-msft commented on #26464
Hi @dcbrown16 Dillion, the time it takes to query blobs by tags can be affected by many different things such as:
- How many blobs are in the container
- How many results are returned by a query. A large response can take time to parse on the client, especially in Python.
- Network speed and other networking factors
- Client load

I don't feel like 0.8 seconds is unreasonable for a single query de

[2022-10-05 23:50] gramster opened #26660 "Weird behavior when trying to install azureml-dataprep"
- **Package Name**: azureml-dataprep
- **Package Version**: 4.6.1
- **Operating System**: MacOS with Homebrew
- **Python Version**: 3.10

**Describe the bug**
A clear and concise description of what the bug is.

We (the Python team in DevDiv) noticed unusually large numbers of downloads of the dotnetcore package on PyPI and were trying to understand why. It looked like they were related to azureml

[2022-10-06 00:19] kristapratico opened #26662 "[pylint] linter rule if a delete operation returns non-None"
A delete* or begin_delete* should return None (or LROPoller[None]). We should not return a "deleted item" or "job state".

[2022-10-06 00:20] azure-sdk commented on #26662
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.34001538,Cognitive Services:0.13003522,Azure.Core:0.02158117'

[2022-10-06 00:28] jalauzon-msft commented on #26332
Hi @asafalon1, we have done some fairly extensive investigation into this issue, and we believe this is mainly being caused by TCP Connection re-use in the `aiohttp` layer.

When a TCP Connection is first opened to the server, it takes additional time to establish that connection. Additionally, if configured, an existing TCP Connection can be kept open (alive) for a period of time where the connec

[2022-10-06 03:46] JeffreyCA commented on #26381
Thanks, appreciate the update. I originally discovered this issue through a recent update in django-storages which changed how the blob client connected to custom URLs. We made a fix there to ensure uploads and similar operations go through the storage endpoint instead.

[2022-10-06 08:04] #22468 closed

[2022-10-06 09:52] Danferno commented on #26616
It would be nice if something along those lines is added to the documentation. E.g. increase if your application is bottlenecked by the number of requests, decrease if it is (severely) memory constrained.

[2022-10-06 09:53] ernestomonroy commented on #24282
Hello everyone

I am having the exact same issue and can confirm that the workaround proposed by @blasttask is working. Thanks!

However, I just wanted to check if there was any plan in addressing the disconnect between the permissions and access available to the same tenant when executing via the Azure CLI and the Python SDK. Aside from being misleading, ideally you dont have to define access pol

[2022-10-06 15:51] xiangyan99 commented on #26660
@azureml-github

[2022-10-06 18:32] jalauzon-msft commented on #24282
Hi @ernestomonroy Ernesto, we were never quite able to track down why the difference exists as we were having trouble reproducing the issue on our side. We can try to investigate further.

As a follow-up what RBAC role was previously assigned to the user to have CLI work but not the SDK?

[2022-10-06 18:43] johanste opened #26681 "[pylint] linter rule that async methods should return async iterables (not sync ones)"
I don't believe we have many cases where we want to return a sync enumerable from an async method.

[2022-10-06 18:44] azure-sdk commented on #26681
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.15404889,Storage:0.11734558,Azure.Core:0.10875745'

[2022-10-06 19:48] azure-sdk commented on #26681
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.15404889,Storage:0.11734558,Azure.Core:0.10875745'

[2022-10-06 20:20] #26381 closed

[2022-10-06 21:54] jazelenk commented on #26506
I am seeing problems with both 28.0.0 and 28.0.1. https://github.com/Azure/azure-sdk-for-python/issues/26604 appears to track this for 28.0.1.

[2022-10-06 21:57] jazelenk commented on #26604
Any ETA? We require API version 2002-08-01, but neither 28.0.0 nor 28.0.1 are functional, and anything less than 28.x does not support that API version.

[2022-10-07 00:19] jalauzon-msft commented on #16060
Hi @TiloGit, I know it has been quite a long time since you opened this issue, but it seems this is something where we need service support. To that end, if you still are looking for something like this to be part of the SDK/CLI, then please consider submitting this feedback to the Storage service team via upvoting or creating a new idea at https://aka.ms/AzStorageFeedback.

This will help the ser

[2022-10-07 00:19] #16060 closed

[2022-10-07 00:49] jalauzon-msft commented on #24547
Hi @mikeleuer, apologies for the long delay without a response on this.

This particular feature would require support from the Storage service before it can be added to the SDK. Please consider submitting this feedback to the Storage service team via upvoting or creating a new idea at https://aka.ms/AzStorageFeedback. This will help the service team gauge interest and prioritize new features. If

[2022-10-07 00:49] #24547 closed

[2022-10-07 01:23] zshu11 opened #26695 "sync NETWORK_CLIENT.network_interfaces.begin_create_or_update() API is very slow and takes about more than one minute."
Hi, Guys:
we try to move secondary ipconfig with associated public IP from one interface to another interface, and use
sync python NETWORK_CLIENT.network_interfaces.begin_create_or_update() API. The python code is executed
inside the Virtual Machine, we find the API is very slow and takes about more than a minute.

ifconfig is not a resource in Azure portal object design. Is there have another pyt

[2022-10-07 01:33] #26250 closed

[2022-10-07 08:04] #6451 closed

[2022-10-07 09:12] thomasfrederikhoeck commented on #22441
@vizhur can I maybe convince you to ping them internally?

[2022-10-07 13:38] tomasvanpottelbergh commented on #26618
Thanks for the quick response @luigiw. I haven't used this path pattern yet, but instead the one in the overview tab of a pipeline step (under Outputs). This works, but doesn't really address my issue, since these paths are unpredictable because of the random job names. Therefore there is still a manual step involved to get the path to use as an input to another job.

What I would like to see is s

[2022-10-07 13:54] Mr-MSFT commented on #26378
@msyyc Any updates on the ETA for this?

[2022-10-07 15:21] LeoXLiu-DS opened #26700 "EntityRecognitionSkill"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d674ff86-de21-e3e3-c363-96b5e35bd829
* Version Independent ID: 3a3ff14f-2b0e-c83f-0e51-f48136ff7a15
* Content: [azure.search.documents.indexes.models.EntityRecognitionSkill class](https://learn.microsoft.com/en-us/python/api/azure-search-documents/az

[2022-10-07 15:22] #26700 closed

[2022-10-07 17:06] xiangyan99 commented on #6451
The gist: https://gist.github.com/xiangyan99/361cf21bf4f78170d5a237ec72a1e9bd

[2022-10-07 18:11] jalauzon-msft commented on #25998
Hi @KeerthiYandaOS Keerthi, I'm going to close this issue for now as it's not something we can't easily support, as we discussed offline. Please feel free to reach out internally to discuss further.

[2022-10-07 18:11] #25998 closed

[2022-10-07 18:34] ernestomonroy commented on #24282
Hi @jalauzon-msft, thanks for looking into this.

On my CLI I am logged in through `az login` and my User in AD has the Global Administrator Role

In order for the SDK to work, I had to assign myself the "Storage Blob Data Contributor" Role Assignment. Just to clarify, I am using the `DefaultAzureCredential` class which defaults to the CLI Access Type (The same happens when I use the `AzureCliCred

[2022-10-07 19:13] anliakho2 commented on #26660
@gramster  versions 4.6.x do not support python 3.10 yet so this installation would fail to find proper binaries.
4.5.7 just got python 3.10 support released a few days ago, but I see it was tried and has failed...
What architeture are you running on ? Are you on M1 by any chance? If so you can follow these instructions to to create x86 conda env to unblock yourself:

CONDA_SUBDIR=osx-64 conda cre

[2022-10-07 20:05] #22647 closed

[2022-10-07 20:28] #21207 closed

[2022-10-07 20:46] jazelenk commented on #26604
Are these generated using a different version of autorest than the 27.x packages? I see that in the newer packages, when paginating the new request is genreated by constructing HttpRequest directly, whereas in the 27.x packages the next request is generated with another call to build_xxx_request(). If I manually edit one of the list operations to do it the former way (calling build_xxx_request() a

[2022-10-07 21:26] jazelenk commented on #26604
Speculation: this autorest change https://github.com/Azure/autorest.python/pull/1307 may be related. It seems that the skiptoken escaping is getting mangled going through the new path.

[2022-10-07 22:39] pallavit opened #26707 "[KeyVault] Update the LRO link that polls on recovery of deleted secrets"
https://github.com/Azure/azure-sdk-for-net/issues/31581 for more information.

[2022-10-08 08:04] #26177 closed

[2022-10-08 08:04] #6293 closed

[2022-10-08 10:02] cloga commented on #26618
Hi @tomasvanpottelbergh ,
Output as named asset (parity feature of registered as in SDK v1) in our plan to support in following months.

One more thing for this is you have mentioned the of the unpredictable child job name in the pipeline is:
you can promote the outputs of the steps to pipeline level, then you can refer this outputs to register data asset using pipeline job name which is return wh

[2022-10-08 10:02] dobizz opened #26715 "partition_key not showing up in azure.functions.ServiceBusMessage"
- **Package Name**: azure.functions.ServiceBusMessage
- **Package Version**:
[code]
- **Operating System**: Windows 10 Pro (Build 19044.2006)
- **Python Version**:  3.9.0

**Describe the bug**
When sending messages to a partitioned service bus queue and using a service bus trigger, the `partition_key` of the message is lost or not present.
![image](https://user-images.githubusercontent.com/1224850

[2022-10-08 10:05] cloga commented on #26618
Would you share more use cases why you need to register data asset then use in another job, instead of contain them in a single pipeline job as multi-steps?

[2022-10-08 11:32] yulin-li commented on #19757
@oliverguhr, thank you for reporting this issue, and I can repro it. We will fix this.

[2022-10-08 11:35] yulin-li commented on #19757
Closing this issue and tracking it in https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1686

[2022-10-08 11:48] charlie2clarke opened #26716 "Exception has occurred: ModuleNotFoundError No module named 'azure.servicebus'"
- **azure-servicebus**:
- **7.8.0**:
- **WSL 2**:
- **3.8.10**:

**Describe the bug**
Unable to import ServiceBusClient from azure-servicebus.

**To Reproduce**
Steps to reproduce the behavior:
1. pip install azure-servicebus
2. from azure.servicebus import ServiceBusClient

My requirements.txt following a pip freeze:
[code]

Output of pip show azure-servicebus:
[code]

Is this a version compatibi

[2022-10-08 21:51] LeoXLiu-DS commented on #23884
@akazlow You can use `azure.search.documents.indexes.models.CognitiveServicesAccountKey` to set the argument `cognitive_services_account` of `SearchIndexerSkillset` to attach the cognitive search.

[2022-10-08 23:09] LeonardoSanBenitez commented on #15609
Hi, me too, I'm receiving the same error since a few days ago
I'm already using the singleton pattern, and creating a new cosmos account is not an option

Does anyone know how to solve the problem?

[2022-10-09 13:21] yulin-li opened #26720 "[storage] ContainerClient.from_container_url cannot work with URL ending with /"
- **Package Name**: azure-storage-blob
- **Package Version**:  12.13.1
- **Operating System**: any
- **Python Version**:  3.8

**Describe the bug**
When I pass a url `https://xxx.blob.windows.net/<container name>/?sas`, (note the end `'` at url path) I would get an error `Invalid URL. Please provide a URL with a valid container name`

The URL without the ending `/` works as expected

[2022-10-09 13:25] verikono commented on #22445
Sorry for a "no response" on this. I appreciate your time and was probably "in the thick of it" at the time. I apologise! Trust all is well.

[2022-10-09 17:36] charlie2clarke commented on #26716
Apologies, you can consider this issue closed.

My problem was that I had a local module named azure and this was causing conflict issues when trying to import azure.servicebus. I've renamed my personal azure module and everything is working fine now.

[2022-10-10 03:36] msyyc commented on #26604
Thanks for your feedback and we will investigate it asap

[2022-10-10 08:48] WiktorMadejski commented on #23538
+1

Developing Azure ML from M1 is a pain. Advocating for Azure ML with clients working on M1 even greater pain.

[2022-10-10 09:29] msyyc commented on #26695
Hi @zshu11 python SDK is just tools to send/receive http request/response from service. So SDK can't speed if server takes long time to execute your cmd. I will transfer this issue to service repo which is more appropriate.

[2022-10-10 10:20] msyyc commented on #26565
@zadigus It seems that we need to upgrade api-version. Could you try the private package: https://portal.azure-devex-tools.com/api/sdk-dl-pub?p=Azure/21047/azure-sdk-for-python-track2/track2_azure-mgmt-authorization/azure_mgmt_authorization-2.0.0-py3-none-any.whl? If it works well, I can release a new public version

[2022-10-10 11:27] readynetworks opened #26728 "generate blob sas"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bc13eca7-8c35-456c-cb38-016d2fa40df5
* Version Independent ID: d89dc470-199e-fe2a-e8ba-ec35c73e1bc4
* Content: [azure.storage.blob package](https://learn.microsoft.com/en-us/python/api/azure-storage-blob/azure.storage.blob?view=azure-python)
* Conten

[2022-10-10 11:39] WiktorMadejski commented on #23538
@lloydhamilton works for me, thanks for describing it so nicely.

My notes:
- ) pyenv/poetry are not a must - key points are
1) Install -x86_64 brew using Rosetta Terminal
2) Use same brew to instal build dependencies
3) When python installs dependency make sure correct build dependencies are used

-) Keep in mind the executions will be **very** slow.

[2022-10-10 12:35] jazelenk commented on #26604
You might try a trivial resource type that doesn't consume quota, such as capacity reservation group, dedicated host group, shared image gallery definition.

[2022-10-10 13:04] zadigus commented on #26565
I am surely doing something wrong with your lib, I just don't know what. Here are my steps:

1. download your private wheel
2. `pip install azure_mgmt_authorization-2.0.0-py3-none-any.whl`
3. in the code
[code]
and
[code]

I get

[code]

I also tried with

[code]

I tried again with a good old

[code]

and that works fine. Am I passing the wrong arguments to the `create` function?

[2022-10-10 13:47] polavishnu4444 commented on #22441
Is there any working solution or workaround for this currently to use private repos?

[2022-10-10 14:04] SrinivasaTouch opened #26729 "azure.core.exceptions.ClientAuthenticationError: Azure Active Directory error '(invalid_grant) AADSTS700082: The refresh token has expired due to inactivity."
azure.core.exceptions.ClientAuthenticationError: Azure Active Directory error '(invalid_grant) AADSTS700082: The refresh token has expired due to inactivity. The token was issued on 2022-01-07T13:54:01.319431o inactivity. The token was issued on 2022-01-07T13:54:01.3194315Z and was inactive for 90.00:00:00.\r\nTrace ID: cccc-cccccc-ccccc-ccc\r\nCorrelation ID: 7dddddd-dddd-ddddd-dddd\r\nTimestamp:

[2022-10-10 16:32] Plouc314 commented on #25104
@simorenoh  Any update on this ?
It also prevents the use of the continuation token, as `enableCrossPartitionQuery` is always set to true:
[code]
The above raises `ValueError: continuation tokens are not supported for cross-partition queries.`

[2022-10-10 17:26] xiangyan99 commented on #26729
Thanks for reaching out.

Not quite sure about your question.

Given the error log you shared, https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/TROUBLESHOOTING.md#troubleshoot-visualstudiocodecredential-authentication-issues may help.

[2022-10-10 17:53] simorenoh commented on #18416
Tagging @JericHunter since he's leading the development of the Python SDK.

@docgregt Any work that is missing in the query pipeline is, as Rodrigo mentioned, present in our backlog. However, we cannot provide an ETA at the moment since there's several other items that are being worked on first.

Also, since I see you mentioned the use of the Portal for prototyping queries, I wanted to point out t

[2022-10-10 18:34] swathipil opened #26734 "[SchemaRegistry] unskip failing regression tests"
some of the azure-schemaregistry-avroencoder tests are failing due to testproxy recording headers not matching. The following tests are failing in the pipeline but not locally. Figure out why:
[code]

error: `E           Content: {"Message":"Unable to find a record for the request PUT https://fake_resource.servicebus.windows.net/$schemaGroups/fakegroup/schemas/User.avro?api-version=2021-10\nHeader

[2022-10-10 18:34] azure-sdk commented on #26734
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Schema Registry:0.32061398,Container Registry:0.31107053,Azure.Core:0.041702524'

[2022-10-10 20:52] kashifkhan commented on #26715
Hi @dobizz, thank for your issue regarding the missing `partition_key` from the azure functions servicebus trigger. Since that trigger uses the dotnet SDK under the hood, I have reached out to that team and an issue has been created in their repo. I will also have to transfer this issue over to the Azure Functions repo since that team will be making the necessary updates from their side.

[2022-10-10 22:17] swathipil commented on #25072
azure-schemaregistry 1.2.0 has been released: https://pypi.org/project/azure-schemaregistry/1.2.0

[2022-10-10 22:21] rakshith91 commented on #26728
Hi @readynetworks
Could you provide more details about the issue?

[2022-10-11 01:46] msyyc commented on #26565
Yeah, maybe cli has special handle logic for you input. For cli, you can add `--debug`(like: `az ... --debug`) to get the detailed interaction with server including request body. For python SDK, you can use [guidance](https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/debug_guide.md) to get detailed log info. By comparing the log, maybe you can find how to input right parameters

[2022-10-11 08:23] msyyc commented on #26542
Hi @mindlessroman, you can import enum variable directly by `from azure.mgmt.datafactory.models import AmazonRdsForOraclePartitionOption` since it has been in `__all__` of `__init__.py`:
https://github.com/Azure/azure-sdk-for-python/blob/b061c2864632a7fc827f5320cadc8c98d2dd0586/sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py#L728-L733

[2022-10-11 08:32] msyyc commented on #26475
Fix PR: https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/1630

[2022-10-11 08:35] msyyc commented on #26378
draft PR: https://github.com/Azure-Samples/azure-samples-python-management/pull/107

[2022-10-11 08:44] Saxamos commented on #26039
Sure @luigiw: it seems to be `ruamel.yaml` according to the stacktrace.

[2022-10-11 09:53] dciborow commented on #26565
i'm also struggling with a way to do az role assignment with Python. I am trying to set a role on a Key Vault.

Most things I am finding online to try are resulting in,
[code]

Following examples unsuccessfully like
[code]

[2022-10-11 10:53] ImMin5 opened #26747 "[Container Instances]"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional cont

[2022-10-11 10:53] azure-sdk commented on #26747
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.13919932,Event Hubs:0.12020634,Cosmos:0.08149632'

[2022-10-11 11:04] kapilt commented on #17801
any updates, cause afaics, 18 months later, it seems like negligible progress on fixing either the continued size growth or the sdk design flaw that causes it, and that users are forced to manually trim the sdk after the fact, using third party scripts.
https://github.com/clumio-code/azure-sdk-trim/

[2022-10-11 11:06] kapilt commented on #21301
also why is this specific to azure network, its a design flaw in the sdk across every single service, azure network just happens to be the most egregious.

[2022-10-11 12:45] tomasvanpottelbergh commented on #26618
That's great to hear @cloga!

Thanks, that's useful indeed. Is there also a way to register these outputs as a "proper" named data asset using the SDK (outside of the pipeline)? That would be a decent workaround in the meantime.

It would be a way to decouple pipelines and let downstream pipelines fall back to an older versions of a data asset when an upstream pipeline failed. As far as I can see,

[2022-10-11 14:37] dciborow commented on #26565
@msyyc , I am unable to install your wheel.

<img width="633" alt="image" src="https://user-images.githubusercontent.com/9027725/195121323-6fb7d5af-c1c5-4116-8e39-1767dafb72fd.png">

[2022-10-11 14:48] dciborow commented on #26565
This code example helped.

https://github.com/Azure-Samples/azure-samples-python-management/blob/main/samples/authorization/manage_role_assignment.py

[2022-10-11 15:27] zadigus commented on #26565
OMG I think I have it now with your wheel. I made a small mistake here:

[code]

This line:
[code]
is wrong. Apparently, I need to provide a uuidv4 that I generate myself. I was not expecting that at all. If that's the right thing to do, I would expect the SDK to generate such a uuid for me.

[2022-10-11 16:23] mindlessroman commented on #26542
/unresolve

[2022-10-11 16:27] jomalsan commented on #26213
+1 on exposing this functionality would be great. To expand on @tomasvanpottelbergh 's solution, I was able to download locally using the following:

[code]

[2022-10-11 16:34] mindlessroman commented on #26542
Hey @msyyc - I don't think that the enum exists right now.

https://raw.githubusercontent.com/Azure/azure-sdk-for-python/main/sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py Line 18938:

    Flowlet, MappingDataFlow, WranglingDataFlow

An enum that contains those subtypes does not exist in `sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_da

[2022-10-11 16:34] zadigus commented on #26565
It seems to be fine with version 3.0.0.

[2022-10-11 16:34] #26565 closed

[2022-10-11 16:43] ealsur opened #26750 "[Cosmos DB] Cross-region retry alignment across SDKs"
The Retry Utility (https://github.com/Azure/azure-sdk-for-python/blob/1b778a9da634b33bdbd0a06f50bd5ba2a6ab20af/sdk/cosmos/azure-cosmos/azure/cosmos/aio/_retry_utility_async.py) should align with the other language SDKs in terms of failover mechanics.

* HTTP 503 (Service Unavailable) - This is documented on https://docs.microsoft.com/en-us/azure/cosmos-db/sql/troubleshoot-sdk-availability#transien

[2022-10-11 16:47] rakshith91 commented on #26747
@ImMin5 Thanks for reporting the issue. We will take a look asap
cc: @msyyc

[2022-10-11 17:33] luigiw commented on #26039
@Saxamos To clarify on what I meant by an azureml package, `azureml-sdk` is a meta package that includes a group of pypi packages. It is no longer recommended for people to run `pip install azureml-sdk`, instead people should run `pip install azureml-core` and then install other feature packages as needed. See more details on this page. https://learn.microsoft.com/en-us/python/api/overview/azure/m

[2022-10-11 17:57] lidong-zhao opened #26754 "Occasional error authenticating to Key Vault"
- **Package Name**:  azure-identity
- **Package Version**:  1.10.0
- **Operating System**: Linux
- **Python Version**:  3.8

**Describe the bug**
I run the code every 30 minutes, and every day I got a few authentication failures:

Traceback (most recent call last):
File "/project/wrapper/worker.py", line 55, in start
connection_credentials = _retrieve_connection_credentials()
File "/project/wrappe

[2022-10-11 19:35] scbedd opened #26758 "Proxy startup improvements"
I am adding a couple other items that I am seeing while exploring the requirements.

- [ ] When initializing, attempt to start the container using `podman` before using the heavier and more error-prone `docker`.
- [ ] We can remove [the code targeting different versions](https://github.com/Azure/azure-sdk-for-python/blob/6f89b81c73f71c23d3319ed8f0a6b77bf03b6a8d/tools/azure-sdk-tools/devtools_testu

[2022-10-11 19:35] azure-sdk commented on #26758
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'azure-spring:0.18326132,Azure.Core:0.10056478,Storage:0.098949455'

[2022-10-11 19:46] lmazuel opened #26759 "Linter rule: don't use raise_from_traceback from azure-core anymore"
This should be replaced by `raise from` Python 3 syntax

[2022-10-11 19:47] lmazuel opened #26760 "Linter rule: all exceptions should use raise/from"
It can be either `raise FooError() from e` or `raise FooError() from None`, but should always have a `from` to have a neat exception.

Of course, this applies only of the exception is raised from a `except`, otherwise `from` don't make sense.

cc @johanste @annatisch

[2022-10-11 19:47] azure-sdk commented on #26760
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.57007635,Service Bus:0.09774486,Storage:0.07601286'

[2022-10-11 20:21] tanbyte commented on #23175
Hi folks - was this issue ever resolved? If so, what package version is it fixed on?

[2022-10-11 21:58] hussam-Tanium commented on #26604
Hello @msyyc , the last working version is 27.2.0

[2022-10-12 00:44] msyyc commented on #26604
Thanks! It is huge help for us and I will compare the two version to find root cause.

[2022-10-12 00:55] msyyc commented on #26542
@mindlessroman SDK is generated with swagger. If you want to use these values as enum, there shall be relative enum definition in swagger. Unfortunately, I don't find it in swagger. So I advise you open an issue in https://github.com/Azure/azure-rest-api-specs/issues or make a PR to add it. (enum definition sample: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/datafactory/r

[2022-10-12 05:14] msyyc commented on #26604
Hi @hussam-Tanium
Here is non-work code in 28.0.1: https://github.com/Azure/azure-sdk-for-python/blob/e3415c47d576d2c8f790d73854aa56cda82a9ffa/sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2022_03_01/operations/_virtual_machines_operations.py#L2236-L2244
Here is work code in 27.2.0: https://github.com/Azure/azure-sdk-for-python/blob/1486a398c39cf9e2f1b7aa938a3e7e52f55fd6e1/sdk/compute/azure-m

[2022-10-12 05:21] heyheys opened #26778 "Specifying A Blob File Path as Input Data"
Hi there,

I want to pass the URI_FOLDER as one of the inputs in a job. I tried using a blob path, a local path and a DataStore path. The first one didn't work and the last two ones worked. Can someone please advise how to specify the blob path correctly? I know this is a very newbie question, but I've been struggling for long and can't sort it out.

**Packages versions:**
Python = 3.8.13
azure.ai

[2022-10-12 06:59] thongonary commented on #25124
Hello @harneetvirk -- it has been over 3 months. Is there any update from the feature team regarding this issue? Thanks!

[2022-10-12 11:46] jazelenk commented on #26604
@msyyc - I sent you e-mail with a local repro.

[2022-10-12 12:25] hussam-Tanium commented on #26604
@msyyc I have also sent you an email with the `next_link` value

[2022-10-12 16:27] lidong-zhao commented on #26754
BTW, I am using user assigned managed identity for authentication

[2022-10-12 16:28] toantran-8451 opened #26784 "azure.communication.email bad namespace"
- **Package Name**: azure-communication-email
- **Package Version**: 1.0.0b1
- **Operating System**: MacOS
- **Python Version**: 3.7.9

**Describe the bug**
Install azure-communication-email version 1.0.0b1.  Simple import statement throws error:
ModuleNotFoundError: No module named 'email.utils'; 'email' is not a package

**To Reproduce**
Steps to reproduce the behavior:
1. pip install azure-comm

[2022-10-12 16:29] azure-sdk commented on #26784
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5904481,Mgmt:0.40895808,Service:0.0003796522'

[2022-10-12 18:57] luigiw commented on #26618
@tomasvanpottelbergh thx for the feedback. We'll add the automatically registering datasets as a feature request. As @cloga was saying, our team has already been working on it.

[2022-10-12 18:57] #26618 closed

[2022-10-12 19:46] Binaragajanayake opened #26790 "simultaneous upload corrupts contents"
- **Package Name**: azure-storage-blob==12.8.1
- **Package Version**: 12.8.1
- **Operating System**: Linux  3.10.0-1160.76.1.el7.x86_64
- **Python Version**: Python 3.7.3

**Describe the bug**
A clear and concise description of what the bug is.
When uploading content simultaneously to the same blob path, data integrity of the sender is not maintained but blob is formed from a mix of blocks from ea

[2022-10-12 22:24] jalauzon-msft commented on #26200
Hi again @dimaqq Dima, I have just created a PR which adds an `extras_requires` to our `setup.py` file called `aio` that will install `aiohttp` along with blob package install. Since we use the `setup.py` method of defining dependencies, this was the best way to specify an optional dependency.

After this is merged and released, you will be able to do `pip install azure-storage-blob[aio]` to insta

[2022-10-12 23:00] tomek2311 opened #26792 "[BUG Bash]"
**Describe the bug**
I am running 2 containers in **Windows** (10) environemnt setup as iotedge:
- first: my application (APP) that receives messages and stores data in azure blob storage (APP is running in container)
-  second: mcr.microsoft.com/azure-blob-storage:latest

App code is written in python3
I have installed blob storage package package :(pip3 install azure-storage-blob)  and after tha

[2022-10-12 23:32] jalauzon-msft commented on #26790
Hi @Binaragajanayake, thanks for reaching out.

I will look at this a little closer and get back to you but in general, multiple clients calling `upload_blob` is not going to be a supported scenario since `upload_blob` is intended to overwrite all data in the blob. The fact that the SDK uses `stage_block` internally to `upload_blob` is just for us to split up the upload if it is larger than a cert

[2022-10-12 23:42] Binaragajanayake commented on #26790
Thank you for taking a look @jalauzon-msft . Our use case involves archiving to azure and requires us to upload to azure from multiple locations. We depend on azure to keep the data from a single sender intact. We have looked around the sdk code and see they use uuid as a block number here:

https://github.com/Azure/azure-sdk-for-python/blob/c8291ac6cb0dbd865da03a88dd2bcb9279e2c4a6/sdk/storage/azu

[2022-10-13 00:48] jalauzon-msft commented on #26790
Hi again @Binaragajanayake, using `stage_block` with a uuid for the block id sounds like a better approach as it does not overwrite existing data.

If you do not need to modify the data after its uploaded, you may also want to consider [Append Blobs](https://learn.microsoft.com/en-us/rest/api/storageservices/understanding-block-blobs--append-blobs--and-page-blobs#about-append-blobs). This would us

[2022-10-13 00:55] mikeharder opened #26794 "Do not use string concatenation to join URLs"
It appears the Python repo has a lot of places where string concatenation is used to join URLs (I believe most or all of this is generated code):

https://cs.github.com/Azure/azure-sdk-for-python?q=%22%7Bendpoint%7D%2F%22

Example:

[code]

This is problematic if `{Endpoint}` ends with a trailing slash, since the generated URL will contain two slashes (`http://example.org//language`) instead of on

[2022-10-13 00:55] azure-sdk commented on #26794
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.16359282,Service Bus:0.089884885,Storage:0.07616544'

[2022-10-13 12:22] msyyc commented on #26604
Hi @hussam-Tanium I find the error may be caused by urlencode and we fixed it: https://github.com/Azure/autorest.python/pull/1504. Could you help try the [private package](https://newstorageyyc.blob.core.windows.net/2022-10/sdk_pr_26805/azure_mgmt_compute-28.0.1-py3-none-any.whl)? Once it works well, we will release a public version.

[2022-10-13 12:31] hussam-Tanium commented on #26604
Hello @msyyc I will test it now

[2022-10-13 12:51] hussam-Tanium commented on #26604
Hello @msyyc I have confirmed that the package is working properly.

[2022-10-13 15:06] codingbi56 opened #26806 "SSL: CERTIFICATE_VERIFY_FAILED at service principal authentication to Azure Key Vault"
**Describe the bug**
I'm authenticating to Azure Key Vault using python, Azure AD service principal and client secret

***Exception or Stack Trace***
Error Message: ServiceRequestError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1129)

***Code Snippet / To Reproduce***

from azure.identity import ClientSecretCredential
from azur

[2022-10-13 15:07] azure-sdk commented on #26806
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.5102374,KeyVault:0.4886619,azure-spring:0.00068642816'

[2022-10-13 15:36] simorenoh commented on #25104
Hi @Plouc314, sorry for the delay. From the time I last updated this issue a lot has changed, and I am no longer working in the Python SDK - I have assigned Jeric who is the new main developer to take over when he gets the bandwidth. Thank you for your patience!

[2022-10-13 16:16] kristapratico opened #26807 "[translation] re-enable skipped samples/tests"
Currently skipped:

- All samples for document translation since a change occurred where we cannot overwrite the documents in the target container, causing "resource exists" errors
- tests for AAD
- all INT tests

[2022-10-13 16:16] azure-sdk commented on #26807
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.09641275,Storage:0.09344812,Cosmos:0.057137173'

[2022-10-13 21:48] jlester-msft opened #26816 "list_blobs typo on Parameter 'include'"
list_blobs has a typo for the Parameter 'include':
`or str include [list](str]`
Should be:
`include list[str] or str`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 37584723-65eb-0794-8ec5-fcae40b28717
* Version Independent ID: 21d8c29d-77a6-6743-25b2-1cbf855e37a3
* Content: [azure.storage.blob.ContainerClient class](

[2022-10-13 22:06] cpajr opened #26818 "'EmailClient' object has no attribute 'get_sent_status'"
- **Package Name**: azure.communication.email
- **Package Version**: 1.0.0b1
- **Operating System**: Ubuntu 20.04
- **Python Version**: 3.8.10

**Describe the bug**
When attempting to get the email sent status, leverage example code, the repeated error is raised saying "AttributeError: 'EmailClient' object has no attribute 'get_sent_status'."

**To Reproduce**
Steps to reproduce the behavior:
1. I

[2022-10-13 22:07] azure-sdk commented on #26818
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.06818104,Event Hubs:0.04909354,Storage:0.048285227'

[2022-10-13 23:50] jalauzon-msft commented on #26816
Hi @jlester-msft, thanks for the report.

These docs are auto-generated from our code docstrings and this was fixed in code a while back in #25335. It can usually take some time for the docs to update but I would have expected it to happen by now. I'll investigate why the docs page isn't updated yet. Thanks.

[2022-10-14 00:29] mrm9084 commented on #21882
This is now supported in beta: https://pypi.org/project/azure-appconfiguration-provider/

[2022-10-14 00:56] billwert opened #26824 "Create documentation for Identity credential cache"
Our current documentation for how our SDK interacts with the MSAL token cache is insufficient. We need to doc:

- What scenarios caching is useful for
- How caching is exposed from our library
- What expectations should be when caching is used (performance, throttling)
- How the disk cache is secured when used

[2022-10-14 02:37] msyyc commented on #26506
fixed version is released : https://pypi.org/project/azure-mgmt-compute/29.0.0/

[2022-10-14 02:37] msyyc commented on #26604
fixed version is released : https://pypi.org/project/azure-mgmt-compute/29.0.0/

[2022-10-14 05:02] cloga commented on #26618
Hi @tomasvanpottelbergh ,
Nice to hear you have interest in sub-pipelines, actually we already have initial version for private preview. I would like invite you to join our private preview for pipeline component (aka. sub-pipelines) feature.

Would you mind to contact me via lochen@miscrosoft.com, I will send you more detail about pipeline component feature.

[2022-10-14 06:10] Echo-ZhangXu opened #26826 "requests.exceptions.SSLError: HTTPSConnectionPool(host='login.chinacloudapi.cn', port=443): Max retries exceeded with url: /_z95JCO4_gAfjyII5XUpYDr-.7J-ybk13y/oauth2/token (Caused by SSLError(SSLError("bad handshake: SysCallError(104, 'ECONNRESET')",),))"
import os
import traceback

from azure.common.credentials import ServicePrincipalCredentials
from azure.mgmt.resource import ResourceManagementClient
from azure.mgmt.network import NetworkManagementClient
from azure.mgmt.compute import ComputeManagementClient
from azure.mgmt.compute.models import DiskCreateOption

from msrestazure.azure_exceptions import CloudError
from msrestazure.azure_cloud imp

[2022-10-14 06:11] azure-sdk commented on #26826
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute:0.33864716,Service Bus:0.04201273,Event Hubs:0.036422167'

[2022-10-14 06:25] Echo-ZhangXu commented on #26826
应该怎么解决

[2022-10-14 06:27] Echo-ZhangXu commented on #26826
应该怎么解决呢？

Zx
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Azure/azure-sdk-for-python"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年10月14日(星期五) 下午2:11
***@***.***&gt;;
***@***.

[2022-10-14 08:04] #26215 closed

[2022-10-14 15:30] metamoof opened #26827 "Converge azure.functions.ServiceBusMessage with azure.servicebus.ServiceBusMessage"
**Is your feature request related to a problem? Please describe.**
I deal with a lot of code in azure functions that requires me to process messages in a ServiceBus queue, and then pass that message on untouched. However, despite the fact that an Azure Functions ServiceBus Queue Trigger passes in an `azure.functions.ServiceBusMessage`,  `azure.servicebus.ServiceBusSender` does not accept that kind

[2022-10-14 15:56] xiangyan99 commented on #26826
Could you share the package versions?

[2022-10-14 16:28] swathipil commented on #21789
most flaky EH tests:
- sync and async test_buffered_producer.py:
  - test_basic_send_single_events_round_robin[***-***-False]
  - test_long_wait_small_buffer:
[code]
  - test_basic_send_batch_events_round_robin[***-***-False]

- sync and async test_send.py:
  - test_send_with_partition_key[***]:
[code]

[2022-10-14 16:37] luigiw commented on #26329
@edgBR thx for your feedback. Have you tried AzureML v2 SDK? Features you described are already being implemented in v2 SDK. I can provide more details if you're interested. https://learn.microsoft.com/en-us/python/api/overview/azure/ml/installv2?view=azure-ml-py

[2022-10-14 17:19] edgBR commented on #26329
Hi @luigiw do you have an ETA for the sdk2.0 to not be preview? Our team have been struggling with most of the the preview features of AML and we are quite skeptical of using non stable things.

[2022-10-14 17:35] luigiw commented on #26329
@edgBR glad you asked ;). azure-ai-ml package is in GA as of version 1.0.0. https://pypi.org/project/azure-ai-ml/#history

[2022-10-14 18:30] xiangyan99 commented on #26778
@azureml-github

[2022-10-14 18:32] #26200 closed

[2022-10-14 19:57] #26720 closed

[2022-10-14 20:08] luigiw commented on #26778
Helllo @heyheys , can you confirm if you're trying to use the blob URL as input or output path? @SturgeonMi Do you know if storage URL as input path is supported yet?

[2022-10-14 20:18] xiangyan99 commented on #26806
Thanks for reaching out.

Could you help to share the trackback or entire error log?

It will help to identify where the error comes from.

[2022-10-14 20:22] xiangyan99 commented on #26818
Thanks for reaching out.

Do you mean get_sen**d**_status?

https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/communication/azure-communication-email/samples/check_message_status_sample.py#L67

[2022-10-14 20:45] xiangyan99 commented on #26754
Thanks for reaching out.

Seems like ACI does not provide stable connections to the auth endpoint.

We may need service team to take a look. Please open a service ticket to report the issue.

[2022-10-14 21:23] catalinaperalta opened #26834 "[formrecognizer] Improve model typing"

[2022-10-14 21:24] catalinaperalta opened #26835 "[formrecognizer] Improve troubleshooting guide"
Re-check content, also see comments on JS PR.

[2022-10-14 22:04] #26332 closed

[2022-10-14 22:12] mccoyp commented on #25172
Update to this: there should actually already be a `send_request` method on generated clients. (DPG isn't currently applicable to KV because we use the multi-API generation script with `autorest`). We just need to expose this method on top-level clients.

[2022-10-14 22:26] jalauzon-msft commented on #26816
The docs have been updated to reflect that latest changes which has improved the `include` documentation but the type hint is still missing. This was due to a small error in the docstring has been addressed as part of #26836.

Once #26836 is merged and released, this doc should eventually be entirely fixed.

[2022-10-14 22:51] heyheys commented on #26778
Hi Iuigiw! Thank you for your question. I had 3 trials:

#Trial        Input path              Output path
  1             Blob URL                DataStore path         Doesn't work
  2           DataStore path         DataStore path        Works
  3            Local path                DataStore path        Works

And the Blob URL is written as

"https://digitalwstorage8357afaf7.blob.core.window

[2022-10-14 22:57] heyheys commented on #26778
Also, I found a potential typo in the documentation here:

https://learn.microsoft.com/en-us/azure/machine-learning/how-to-read-write-data-v2?tabs=cli#supported-paths

A path on Azure Storage    https://<account_name>.blob.core.windows.net/<container_name>/**path**

Should the path be <path>?

[2022-10-14 23:05] #26385 closed

[2022-10-14 23:19] Man-MSFT commented on #26778
I believe we currently support public Azure storage paths but will support private Azure storage paths soon, and for private paths we recommend creating and using a datastore today (even if no credential is placed inside the datastore, this is the way to allow pass through authentication to work). Defer again to @SturgeonMi on when we don't need the datastore middle layer.

For the doc, yes, thank

[2022-10-15 01:22] chrissmiller opened #26839 "[TestProxy] Playback fails due to call to "/playback/start" not matching recording"
**Describe the bug**
After successfully recording using test proxy, playback fails with this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Record tests using test proxy and a fixture which starts/stops the proxy server
2. Attempt to playback the tests

**Expected behavior**
Playback to succeed

**Screenshots**
N/A

**Additional context**
Observed on https://github.com/Azure/

[2022-10-15 06:27] tommy-dunn opened #26840 "cannot update ssl_certificate into application gateway"
- **Package Name**: azure.mgmt.network
- **Package Version**: azure.mgmt.network.v2020_06_01.models
- **Operating System**: linux
- **Python Version**:  3.9.2

**Describe the bug**
attempt to update ssl cert in application gateway results in a duplicate resource error:

azure.core.exceptions.HttpResponseError: (InvalidRequestFormat) Cannot parse the request.
Code: InvalidRequestFormat
Message: Can

[2022-10-15 08:04] #26354 closed

[2022-10-15 20:14] cpajr commented on #26818
I see that example code from your link.  However, your documentation is incorrect, both on the Microsoft's website and PyPi:

https://learn.microsoft.com/en-us/python/api/overview/azure/communication-email-readme?view=azure-python-preview#get-email-message-status

https://pypi.org/project/azure-communication-email/

![image](https://user-images.githubusercontent.com/36517688/196005894-d783a211-80c

[2022-10-16 13:13] hlin863 opened #26841 "azureml-core Installation error"
- azureml-core:
- 1.46.0:
- Ubuntu:
- 3.8.10:

**Describe the bug**
When attempting to install azureml-core on the Linux System, the installation process fails with the message on the command prompt:
Traceback (most recent call last):
[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Enter "pip install azureml-core" onto the command prompt to install azureml-core

**Expected behaviour*

[2022-10-16 13:14] azure-sdk commented on #26841
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.56320536,App Services:0.06313863,Azure.Core:0.04440899'

[2022-10-17 01:52] #26506 closed

[2022-10-17 03:28] msyyc commented on #26839
https://github.com/Azure/azure-sdk-for-python/pull/26696#discussion_r996583333

[2022-10-17 08:19] thomasfrederikhoeck commented on #22441
or maybe @azureml-github is better?

[2022-10-17 12:16] lipoteFR opened #26848 "$select parameter when reading user in AD"
I have a piece of code in .Net that add a "$select" item in the query when requesting the AD (graph-api) so the server returns only this selected columns
[code]
In the UserDefaultSelect list of attributes one is important for me : the SamAccount and server doesn't return by default :(
[code]
Looking in :
/sdk/graphrbac/azure-graphrbac/azure/graphrbac/operations/users_operations.py
it seems "$selec

[2022-10-17 12:17] azure-sdk commented on #26848
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Graph:0.2896619,Cosmos:0.20231171,Search:0.07311825'

[2022-10-17 12:27] ecm200 opened #26849 "Building inference image for ARM64 architecture using azureml.core.Model"
- **Package Name**: azureml.core
- **Package Version**: 1.46.0
- **Operating System**: Linux on ARM64
- **Python Version**:  3.8.10

**Describe the bug**

When trying to create an inference server image that be used on a Linux ARM64 OS, this process fails because some of the precompiled dependencies of the Azure ML Inference Server Service image are for X86 architecture only.

The current blocker

[2022-10-17 12:27] azure-sdk commented on #26849
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.23712407,Machine Learning:0.10943675,Docs:0.07044704'

[2022-10-17 12:40] lipoteFR commented on #26848
adu = graphrbac_client.users.get(upn_or_object_id=em, custom_headers={'$select': 'onPremisesSamAccountName'})
make the job
![image](https://user-images.githubusercontent.com/25454894/196179108-fda2595d-141f-4617-bb1a-fb2800593789.png)
but select should be part of a "custom_parameters" that doesn't exists :(

[2022-10-17 12:56] JacekPliszka opened #26850 "BlobClient.query_blob fails on parquet blobs with decimal columns"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.14.0
- **Operating System**: CentOS Linux release 7.9.2009
- **Python Version**: 3.7

**Describe the bug**
When trying to run query_blob method of BlobClient on parquet file with decimal column I am getting:

azure.core.exceptions.HttpResponseError: Parquet column type validator: decimal type is not supported.
RequestId:093acd71-501e

[2022-10-17 15:53] micromaomao opened #26857 "AzureCliCredential fails due to Python deprecation message getting mixed with token output"
- **Package Name**: azure-identity
- **Package Version**: 1.10.0
- **Operating System**: WSL
- **Python Version**: 3.6.0

**Describe the bug**
In https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py#L137, the option `"stderr": subprocess.STDOUT` makes `check_output` also include stderr in the returned string. I was trying to u

[2022-10-17 16:07] cpajr commented on #26818
Glad I could help.

[2022-10-17 16:07] xiangyan99 commented on #26818
@turalf Can you take a look?

[2022-10-17 16:24] micromaomao commented on #26857
I haven't got to it yet but I'm happy to send in a PR to fix this... Just need to bounce my thoughts first since I'm quite new to this and haven't looked into it a lot yet:

I think we can change the `stderr` option of the `check_output` call to `PIPE`. This way, in case of any error, the `CalledProcessError` that gets thrown will have the stderr content, which we can relay in our `ClientAuthentic

[2022-10-17 17:02] lmazuel opened #26862 "Investigate fsspec and Azure"
For instance https://github.com/fsspec/adlfs.

As this protocol is supported on external lib like pandas:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html?highlight=s3#pandas-dataframe-to-json

Understanding how Azure and those other libraries connect together would be interesting for customers.

[2022-10-17 18:01] #26816 closed

[2022-10-17 20:17] swathipil opened #26868 "refactor ClientBases so that we don't track uamqp_transport kwarg"
Refactor as per the comment in this PR: https://github.com/Azure/azure-sdk-for-python/pull/25965#discussion_r976952251

[2022-10-17 20:17] azure-sdk commented on #26868
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.5568636,Storage:0.29742092,Cosmos:0.05353663'

[2022-10-17 20:19] #26228 closed

[2022-10-17 20:21] swathipil commented on #25471
fixed by: #26548

[2022-10-17 20:21] #25471 closed

[2022-10-17 20:34] vcolin7 opened #26869 "[KeyVault] - Add support for new Settings endpoints"
In order to support the new Settings endpoints added to Key Vault, the following changes need to be made:

- Create a new client called `KeyVaultSettingsClient` in the Key Vault Administration library.
- Have said client support all 3 operations outlined in the service's swagger [specification](https://github.com/Azure/azure-rest-api-specs/blob/fead0dec636e7554fb8401370418085136d4f052/specificatio

[2022-10-17 20:53] daviddavis opened #26871 "Content-Range response header exception for empty files"
- **Package Name**: azure-blog-storage
- **Package Version**: 12.14.0
- **Operating System**: all
- **Python Version**: 3.10

**Describe the bug**
[This commit](https://github.com/Azure/azure-sdk-for-python/commit/28d44f1127319af58428285b36f24ac4c1c9d7e2#
) checks for missing or invalid content range headers. However, there's a problem with the check because the exception gets raised if the file i

[2022-10-17 21:00] vincenttran-msft commented on #26792
Hi @tomek2311, thanks for your inquiry. Unfortunately, I am having a little bit of a difficult time understanding what exactly your issue is. If you could please respond with the following information, it would help greatly in diagnosing the issue and reaching a resolution!

1. Version of SDK used (it seems like you are using `azure-storage-blob`)
2. Provide the sample upload code
3. Provide the s

[2022-10-17 21:24] jalauzon-msft commented on #26871
Thanks for finding this and fixing it (#26872). This is definitely a regression introduced in our latest release. I will work on getting a patch release out with the fix ASAP.

[2022-10-17 22:04] #26729 closed

[2022-10-17 22:16] daviddavis commented on #26871
@jalauzon-msft it looks like you were right. I think this is an azurite issue:

https://github.com/Azure/Azurite/issues/1682

[2022-10-17 22:24] swathipil commented on #26571
as per Izzy: "please make sure that you include a dependency on isodate in your setup.py (min version 0.6.1)"

[2022-10-17 22:31] lidong-zhao commented on #26754
/unresolve

[2022-10-17 22:31] lidong-zhao commented on #26754
How to you know "ACI does not provide stable connections to the auth endpoint."?

[2022-10-17 22:36] xiangyan99 commented on #26754
As you said, the code sometimes works, which means the code is correct.
The problem is "ManagedIdentityCredential: ManagedIdentityCredential authentication unavailable, no response from the IMDS endpoint."
If you are not calling IMDS too frequently, (in your case, you make a call per 30 minutes, it is not "too frequently" :)), the cause is very likely on ACI service.

[2022-10-17 22:53] lidong-zhao commented on #26754
how can I open bug to ACI service?

[2022-10-17 22:55] xiangyan99 commented on #26754
https://azure.microsoft.com/en-us/support/create-ticket/

[2022-10-17 23:09] #26186 closed

[2022-10-17 23:20] jalauzon-msft commented on #25238
Hi @dkreeft, were you able to try either of these workflows out? Did one of them work for you? Thanks

[2022-10-17 23:21] jalauzon-msft commented on #24636
Hi @cheryl-catalog Cheryl, `azure-storage-blob` 12.14.0 was released last week which contains the fixes I was mentioning w.r.t. streaming download retry. Could you try your test scenario again to see if the updates helped with the connection resets at all? Thanks.

[2022-10-17 23:35] lmazuel opened #26876 "PyLint: setup.py should not contain msrest and should contain isodate"
Everything is in the title :)

[2022-10-17 23:36] azure-sdk commented on #26876
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.14474176,Storage:0.13482206,Container Instances:0.08108273'

[2022-10-18 00:21] tomek2311 commented on #26792
The issue on Windows 10 only:
when writing into blob storage from another container, the file is created
but nothing is written (file size is 0).
The same code executed in redhat works great, no problems at all.
I suspect that problems could be with permissions

setup in deployment file:
"azureiotblobstorageoniotedge": {
            "version": "1.0",
            "type": "docker",
            "stat

[2022-10-18 00:28] #26187 closed

[2022-10-18 00:28] #26191 closed

[2022-10-18 00:28] #26192 closed

[2022-10-18 03:15] msyyc opened #26883 "[Doc] misunderstanding in test proxy"
in https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/test_proxy_migration_guide.md#fetch-environment-variables, it indroduces `EnvironmentVariableLoader` but there is no sample to show how to use it. And the [link](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/tables/azure-data-tables/tests/preparers.py) contains nothing about it.
![image](https://user-images.githubuser

[2022-10-18 03:16] azure-sdk commented on #26883
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.586399,Docs:0.14190735,Tables:0.049852945'

[2022-10-18 07:36] Uditanshu1612 commented on #25518
Hi, Is the Issue is resolved? Because I'm also getting the same error while importing the module named as Feathr.
Till now this error was not coming.
![image](https://user-images.githubusercontent.com/115619000/196366488-511071e8-3b9d-4dc0-927e-c1da4853b95e.png)

[2022-10-18 09:44] readynetworks opened #26888 "is there any python sdk for rotation of storage Access Keys or Account keys ??"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-18 09:44] azure-sdk commented on #26888
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.17708011,Data Lake Storage Gen2:0.1536216,Subscription:0.14230274'

[2022-10-18 14:09] sijucm commented on #23245
That's not the point. When using AzureCliCredential it works but it does not work when using DefaultAzureCredential, the way it is supposed to and as per documentation. Is this going to be fixed or kept this way to waste people's time debugging Microsoft "features"

[2022-10-18 14:35] FaresKi opened #26889 "[azure-mgmt-securityinsight] Cannot (always) fetch the query attribute in an alert rule"
- **Package Name**: azure.mgmt.securityinsight
- **Package Version**: 1.0.0
- **Operating System**: macOS-12.5.1
- **Python Version**: 3.10.8

**Describe the bug**
I'm currently developing locally an Azure function that communicates with Microsoft Sentinel, in order to fetch the alert rules from it, and more specifically their respective `query`s :
[code]
The issue is that when I'm looping over `l

[2022-10-18 14:35] azure-sdk commented on #26889
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'azure-spring:0.15228923,Service Bus:0.096474305,Cosmos:0.058001164'

[2022-10-18 15:35] xiangyan99 commented on #25518
No. It is not solved yet.

You can get more details in https://github.com/Azure/azure-sdk-for-python/pull/22891#issuecomment-1280969123.

[2022-10-18 15:47] tjprescott commented on #26784
Thank you for the report. @turalf  could you please take a look.

[2022-10-18 15:47] azure-sdk commented on #26784
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5904481,Mgmt:0.40895808,Service:0.0003796522'

[2022-10-18 15:49] tjprescott commented on #26827
Thank you for the detailed issue. @kashifkhan could you please take a look.

[2022-10-18 15:51] tjprescott commented on #26840
@tommy-dunn thank you for reaching out. @msyyc can you please take a look.

[2022-10-18 15:53] tjprescott commented on #26841
@hlin863 thank you for reaching out. @bandsina could you please take a look and advise?
cc/ @azureml-github

[2022-10-18 15:55] azure-sdk commented on #26848
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Graph:0.2545796,Cosmos:0.16646016,Search:0.059453897'

[2022-10-18 15:56] tjprescott commented on #26848
@lipoteFR thank you for reaching out. @xiangyan99 could you take a look (or route to the appropriate individual)?

[2022-10-18 15:57] tjprescott commented on #26849
@ecm200 thank you for reaching out. @bandsina could you please take a look?  cc/ @azureml-github

[2022-10-18 15:58] tjprescott commented on #26850
@JacekPliszka thank you for reaching out. @jalauzon-msft @vincenttran-msft could either of you take a look at this?

[2022-10-18 16:00] tjprescott commented on #26857
@micromaomao thanks for reporting this! @xiangyan99 @pvaneck could either of you take a look at this?

[2022-10-18 16:01] tjprescott commented on #26888
@jalauzon-msft @vincenttran-msft could either of you address this question?

[2022-10-18 16:02] tjprescott commented on #26889
@FaresKi thank you for the report. @msyyc can you please take a look?

[2022-10-18 16:05] xiangyan99 commented on #26848
@samwelkanda could you take a look?

[2022-10-18 16:10] ecm200 commented on #26849
Thanks @tjprescott , happy to assist in anyway.

[2022-10-18 16:18] hlin863 commented on #26841
@tjprescott, thank you for taking the time to reply and redirecting the problem.

The error is occurring on my repository link:

https://github.com/hlin863/Final_Year_Project/issues/1

Would you like to check "pipeline.py" for any possible issues?

[2022-10-18 16:57] lmazuel commented on #26848
`azure-graphrbac` is about Azure AD Graph API, which is now deprecated. We do not support SDK fixes to this product anymore. Please refer to this issue for additional way to get support to move to Microsoft Graph API:
https://github.com/azure-deprecation/dashboard/issues/60

MS Graph is not an Azure product, so we can't help you on this repo unfortunately, but I would suggest you look into the "mi

[2022-10-18 16:58] #26848 closed

[2022-10-18 16:59] lmazuel commented on #24789
`azure-graphrbac` is about Azure AD Graph API, which is now deprecated. We do not support SDK fixes to this product anymore. Please refer to this issue for additional way to get support to move to Microsoft Graph API:
https://github.com/azure-deprecation/dashboard/issues/60

MS Graph is not an Azure product, so we can't help you on this repo unfortunately, but I would suggest you look into the "mi

[2022-10-18 16:59] #24789 closed

[2022-10-18 17:00] lmazuel commented on #21467
`azure-graphrbac` is about Azure AD Graph API, which is now deprecated. We do not support SDK fixes to this product anymore. Please refer to this issue for additional way to get support to move to Microsoft Graph API:
https://github.com/azure-deprecation/dashboard/issues/60

MS Graph is not an Azure product, so we can't help you on this repo unfortunately, but I would suggest you look into the "mi

[2022-10-18 17:00] #21467 closed

[2022-10-18 17:03] #26194 closed

[2022-10-18 17:04] lmazuel commented on #26784
Hi @toantran-8451

Your file is called `email.py`, which is discovered as a package by Python, and therefore is hiding the `email` package from the standard library:
https://docs.python.org/3/library/email.html?highlight=email#module-email

Rename your file and you will be good :)

[2022-10-18 17:04] #26784 closed

[2022-10-18 17:07] #26818 closed

[2022-10-18 17:20] xiangyan99 commented on #26857
Thank you @micromaomao.

To help me understand better, in your case, it looks to me az account command outputs warning rather than the token.

How can we make it work?

[2022-10-18 18:00] swathipil commented on #26827
Hi @metamoof - Thanks for your thoughts!

The solution that you discussed would require changes in the `azure-functions` library, which is owned by the Azure Functions team. You can create an issue in the [azure-functions repo](https://github.com/Azure/Azure-Functions/issues).

The two alternative solutions that you provided would require `azure-servicebus` to take `azure-functions` as a dependenc

[2022-10-18 18:06] #26728 closed

[2022-10-18 19:21] mccoyp commented on #26883
Thank you for opening an issue, @msyyc! I agree that the documentation here is unfortunately sparse; the Tables preparers that are linked to in that section do use the `EnvironmentVariableLoader`, but they use its outdated alias (`PowerShellPreparer`). That's a bit confusing, so I'll leave this issue open to track using a better example.

As for documentation about the `EnvironmentVariableLoader`

[2022-10-18 19:55] xiangyan99 opened #26893 "Refactor our code to be py3-friendly"
- [ ] Update type annotation
- [ ] Remove dependency on six
- [ ] Update Traceback usage

[2022-10-18 19:56] xiangyan99 opened #26894 "Refactor code with py3 type annotation"
[# 26893](https://github.com/Azure/azure-sdk-for-python/issues/26893)

[2022-10-18 19:56] azure-sdk commented on #26893
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.42603764,Data Factory:0.16895966,Cosmos:0.09148126'

[2022-10-18 19:56] azure-sdk commented on #26894
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.33119145,Service Bus:0.102717325,Data Factory:0.09431788'

[2022-10-18 19:56] xiangyan99 opened #26895 "Remove dependency on six"
https://github.com/Azure/azure-sdk-for-python/issues/26893.

Ref: https://github.com/Azure/azure-sdk-for-python/pull/25565

- [ ] azure-ai-anomalydetector
- [ ] azure-appconfiguration  - code gen
- [ ] azure-security-attestation
- [ ] azure-ai-language-questionanswering
- [ ] azure-communication
- [ ] azure-containerregistry - test only?
- [x] azure-cosmos
- [ ] azure-eventgrid
- [x] azure-eventhu

[2022-10-18 19:57] azure-sdk commented on #26895
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.56599855,Azure.Identity:0.18130244,Service Bus:0.10542601'

[2022-10-18 19:57] xiangyan99 opened #26896 "Update Traceback usage"
https://github.com/Azure/azure-sdk-for-python/issues/26893

[2022-10-18 20:26] #22708 closed

[2022-10-18 22:16] #26245 closed

[2022-10-18 23:16] xiangyan99 opened #26900 "Duplicate code snippet: storage"
storage\azure-storage-blob\samples\blob_samples_authentication.py:create_blob_service_client_oauth

[2022-10-18 23:16] xiangyan99 opened #26901 "Duplicate code snippet: tables"
tables\azure-data-tables\samples\sample_query_table.py:query_entities
tables\azure-data-tables\samples\async_samples\sample_query_table_async.py:query_entities

[2022-10-18 23:27] vincenttran-msft commented on #26888
Hi @readynetworks thanks for your inquiry. I believe the API you are looking for is `regenerate_key`. Here is a link to its [implementation](https://github.com/Azure/azure-sdk-for-python/blob/5b0060bef164b4522177ffd8fba0c408e8b2324b/sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2022_05_01/operations/_storage_accounts_operations.py#L1347) and also the relevant [documentation](https://learn.mic

[2022-10-19 00:04] vincenttran-msft commented on #26792
Hi @tomek2311 Tomasz, I am still a little unclear on where the issue lies. If the same code provided executes successfully on your redhat environment and unsuccessfully Windows 10, then my suspicion is that this is **not** an SDK issue and _instead_ likely a configuration issue (i.e. your redhat env. is setup properly whereas your Windows 10 env. is not) or a misunderstanding of how to utilize the

[2022-10-19 00:11] vincenttran-msft commented on #26900
Hi @xiangyan99 could you please clarify what the issue is? I see that the same tags
`# [START create_blob_service_client_oauth]` and `# [END create_blob_service_client_oauth]` appear twice, but I believe the two samples provide two different use cases (the first one using `ClientSecretCredential`, the other using `DefaultAzureCredential`). Please correct me if I am misunderstanding 😄

[2022-10-19 00:36] xiangyan99 commented on #26900
Yes. The problem is the same tag. :)

Same tag confuses who references the snippet.

Please rename one of them to make sure they have different tags.

[2022-10-19 01:48] msyyc commented on #26840
Thanks for you feedback and we will investigate it asap

[2022-10-19 03:50] navba-MSFT commented on #26361
@exegonzalez Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-19 03:52] navba-MSFT commented on #26347
@Marwen-TAALLAH Could you please let us know if you had a chance to look at the [above](https://github.com/Azure/azure-sdk-for-python/issues/26347#issuecomment-1276140958) comment ?

[2022-10-19 04:32] navba-MSFT commented on #26361
@exegonzalez AFAIK, this is not available now. However, This ask has been tracked here https://github.com/Azure-Samples/communication-services-dotnet-quickstarts/issues/51 So please track the status updates there.

[2022-10-19 04:32] #26361 closed

[2022-10-19 06:05] Wzb123456789 commented on #26889
Hi @FaresKi
According to my investigation, the problem is caused by the service.
Since the python sdk is generated by swagger, please go [here](https://github.com/Azure/azure-rest-api-specs/issues) and resubmit your issue.

[2022-10-19 07:23] FaresKi commented on #26889
I don't mind resubmitting but isn't it also strange that error is dependent on the attribute being printed or not? Or is it somewhat related to the swagger also?

[2022-10-19 07:35] elmira784 opened #26915 "access myblob path in Azure function from Visual Studio code python"
I created "Trigger Azure Functions on blob containers using an event subscription" with visual studio code and I am running it in local, For now I want to read **_.nc_** files. normally I am doing this by
"""
from netCDF4 import Dataset
     nc_file ='path of .nc file'
     nc = Dataset(nc_file, mode='r')
"""
but now I dont know how to find the path of my file in the container. My init file in the

[2022-10-19 07:51] amaendeepm opened #26916 "Receiving Events from Multiple Topics/EventHubs in one Consumer Group"
**Is your feature request related to a problem? Please describe.**
Kafka DSL allows consumer to have syntax where it can subscribe to more than one topic. I fail to find that so far in Azure Eventhub documentation. Should I be writing separate event souring scripts for that ?

**Describe the solution you'd like**
Please provide equivalent of this syntax from Kafka Consumer API
consumer.subscribe(A

[2022-10-19 08:15] rgreen1995 commented on #22441
+1 any documented working solution would be great, this is the only thing stopping me from transitioning to endpoints

[2022-10-19 08:25] micromaomao commented on #26857
Hi @xiangyan99 thanks for following up.

The issue is not that `az` does not output the token - it does, but it also outputs a warning (probably caused by a third-party library), which causes the JSON parsing in `azure-identity` to fail.

I have suggested a solution above. If the team agrees that this is a sensible approach I'm happy to make a pull request.

[2022-10-19 09:35] pierre-at-work commented on #25318
Any news on this issue, do you want more info ?

[2022-10-19 10:18] thomasfrederikhoeck commented on #22441
From my understanding connections should still be a thing but it is not very clear if they should still be able to be used for private pip index: https://learn.microsoft.com/en-us/azure/machine-learning/how-to-migrate-from-v1#connection-workspace-connection-in-v1

[2022-10-19 10:39] rdzotz commented on #25365
Is there any solution or associated root cause of this issue. I am experiencing the same when using the azure CLI v2 for deployment

[2022-10-19 11:42] elmira784 commented on #26915
I found out the solution for the ones who need it in the future :)
Here's how you can open a netCDF file from an in-memory buffer containing all the bytes from the file:

"""from netCDF4 import Dataset
fobj = open('path/to/netcdf.nc', 'rb')
data = fobj.read()
nc = Dataset('memory', memory=data)
"""

[2022-10-19 11:42] #26915 closed

[2022-10-19 11:45] christianholland opened #26919 "ResourceExistsError is raised eventhough the blob does not exist yet but credentials to storage account were wrong"
- **Package Name**: azure.storage.blob
- **Package Version**:
- **Operating System**: Windows
- **Python Version**: 3.6.8

**Describe the bug**
In my python script I would like to catch various errors that can occur during blob upload.
For test purposes I have provided wrong credentials to `BlobServiceClient` and I get the error ` 'azure.core.exceptions.ResourceExistsError'` which is the same erro

[2022-10-19 12:07] thyllmuller commented on #23218
Has there been any movement on this ticket? I am running into the same issue on a project I am working on, where I simply want to see retry logs stemming from the send_message functionality?

[2022-10-19 13:37] wiwski opened #26921 "Type hinting error : Item "None" of "DeploymentPropertiesExtended" has no attribute "XX""
- **Package Name**:
azure-mgmt-resource
- **Package Version**:
21.2.0
- **Operating System**:
Ubuntu 20.04.5 LTS
- **Python Version**:
3.10.8

**Describe the bug**
After upgrading from version 21.1.0 to 21.2.0, type of `DeploymentExtended.properties.provisioning_state` is `None`.
Thus, running mypy give errors such as : `Item "None" of "Optional[DeploymentPropertiesExtended]" has no attribute "pro

[2022-10-19 13:37] azure-sdk commented on #26921
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.31337428,Service Bus:0.032331306,KeyVault:0.027856866'

[2022-10-19 14:22] tjprescott commented on #26916
@kashifkhan or @swathipil could you take a look at @amaendeepm's question?

[2022-10-19 14:25] tjprescott commented on #26921
@wiwski thank you for the report. @msyyc could you please take a look?

[2022-10-19 15:18] kashifkhan commented on #26916
Hi @amaendeepm,

Thank you for your feedback. Each client (producer or consumer) is bound to a specific Event Hub instance itself and not to the namespace, so you would need to have a separate consumer per EventHub, stored in an array or have them running in background threads receiving events concurrently from their respective Event Hub instances.

[2022-10-19 15:49] pievalentin opened #26922 "[Question] How do I retrieve the outputs of each trials of a sweep job?"
- **Package Name**:  azure.ai.ml.sweep
- **Package Version**:  1.0.0
- **Operating System**: Ubuntu
- **Python Version**: py38

I am running a Sweep job successfully on AzML and now I want to retrieve the outputs of each
trials for further exploration.
Thing is reading the both the doc and the code I can't see how I am supposed to retrieve them. The `SweepJob` class does not seem to expose the run

[2022-10-19 15:51] azure-sdk commented on #26922
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.1816569,Service Bus:0.09357062,Event Hubs:0.033976667'

[2022-10-19 16:13] #19757 closed

[2022-10-19 16:13] thomasfrederikhoeck commented on #22441
I saw this but does this mean that it is supported? https://github.com/Azure/azureml-examples/blob/main/sdk/python/resources/connections/connections.ipynb

[2022-10-19 16:15] xiangyan99 commented on #26857
@micromaomao Thanks for the confirmation. Please feel free to propose a PR and thanks for your contribution.

[2022-10-19 16:58] luigiw commented on #22441
@thomasfrederikhoeck Yes, workspace connections can be used for private feeds. And the environment you build using private feeds can be used in v2 deployments/endpoints.

[2022-10-19 18:18] scbedd opened #26925 "Remove tools dependencies on `requests`"
We are headed towards a world where we can **optionally** install sync or async `requests` alternatives. To properly test presence and **non-presence**  of these dependencies, we need to ensure that our tooling doesn't use any of them.

This issue covers replacing all usage of the `requests` package internal to `tools/azure-sdk-tools` and `tools/azure-devtools` with `urllib3`.

Recommendations are

[2022-10-19 18:18] azure-sdk commented on #26925
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.13239346,EngSys:0.09912249,Cosmos:0.086099006'

[2022-10-19 19:22] xiangyan99 opened #26926 "Remove usage of dateutil"
from dateutil.tz import tzutc is available in the stdlib now we're Python 3, as timezone.utc

[datetime — Basic date and time types — Python 3.10.8 documentation](https://docs.python.org/3/library/datetime.html#datetime.timezone.utc)

https://github.com/Azure/azure-sdk-for-python/issues/26893

[2022-10-19 19:23] azure-sdk commented on #26926
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.11812428,Azure.Core:0.10270229,EngSys:0.038415913'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5203256,Mgmt:0.4773318,Central-EngSys:0.0015542746'

[2022-10-19 19:37] mattmazzola commented on #25977
Hi, I wanted to give provide some new information from our usage and also ask if there is any status update from the team maintaining this library.

### Background:

#### 1. sync consumer
Originally we were using this style of consumption:

[code]
This has the ~2 second delay issue because it taking significant time to rotate through each of the 32 partitions and receive events from the 1 partitio

[2022-10-19 21:18] l0lawrence opened #26928 "[Pyamqp GA] Stress Testing Bugs"
- [ ] Potential Bug: `failing to decode empty frames - which would be intermittent. That should be repro-able by polling an otherwise idle connection for a number of minutes. And we should definitely test that - I doubt the empty frame decode logic was ever actually tested.`

- [ ] we received a SASL frame outside of the SASL negotiation loop, so it showed up in the main frame processing loop and

[2022-10-19 21:18] azure-sdk commented on #26928
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.50518394,Storage:0.23801424,Event Hubs:0.06323718'

[2022-10-19 21:24] edgBR commented on #26329
/unresolve

The fact that SDK 2.0 provides this functionality doesn't mean that is solved for the original environment.

It feels unrealistic to have to refactor all your code to comply with azureML SDK v2.0 just because 1.x has API inconsistency.

[2022-10-19 21:33] swathipil commented on #26229
x = not implemented
y = passed
n = not passed

| API to test | kwargs/exception | test file | test case | passed? |
| ------------ | ------------------ | --------- | --------- | --------- |
| BUFFERED_MODE = TRUE |
| EHProducerClient | buffer_concurrency=2 | not implemented | .... | x
| EHProducerClient | on_success=callback, on_error=callback | test_buffered_producer.py, test_buffered_producer.py

[2022-10-19 21:36] kristapratico opened #26931 "[cosmosdb] cosmos emulator tests failing"
https://dev.azure.com/azure-sdk/public/_build/results?buildId=1930515&view=logs&j=dade3787-8506-5182-0042-3256fe23de32

The cosmos emulator tests are failing and blocking our core CI. We skip the emulator tests in this [PR](https://github.com/Azure/azure-sdk-for-python/pull/26930) for now, but the failures should be investigated and the tests re-enabled.

[2022-10-19 21:57] vincenttran-msft commented on #26919
Hi @christianholland Christian, thanks for your inquiry. Unfortunately, I am not able to reproduce your findings locally. Maybe it would be helpful if you could provide a code sample?

I am getting an `ErrorCode:AuthenticationFailed` (expected behavior) when providing incorrect credentials (I have tried both an incorrect key, and an incorrect account url).

Attached below is the code-sample of wha

[2022-10-19 22:09] vincenttran-msft commented on #26850
Hi @JacekPliszka, thanks for your inquiry. This is not really an "issue" with the Python SDK and instead seems like a feature request. I reached out to the correct contacts internally regarding support for decimal type, and the feature is something that is planned to be supported in the future, but I do not have any good estimates on when the feature will be completed.

With that being said, pleas

[2022-10-19 22:09] #26850 closed

[2022-10-19 22:53] kristapratico opened #26933 "[CLU] authoring LROs may need return types"
per @heaths

AssignDeploymentResources -> LRO (no result)
DeleteDeploymentFromResources -> LRO (no result)
ExportProject -> LRO (project result)
GetAssignDeploymentResourcesStatus -> job status
GetAssignedResourceDeployments -> pageable (deployments results)
GetDeploymentDeleteFromResourcesStatus -> job status
GetDeploymentResources -> pageable (deployment resources results)
GetLoadSnapshotStatus

[2022-10-20 01:04] catalinaperalta opened #26938 "[formrecognizer] Fix logging tests"
Should the x-ms-region header be redacted at the info level? Also consider improving logic in logging tests.

[2022-10-20 02:03] #26938 closed

[2022-10-20 02:38] msyyc commented on #26889
Hi @FaresKi According to the description of "AlertRule": https://github.com/Azure/azure-sdk-for-python/blob/e00c844abc68b2e7a75397cad898f37c2aea0393/sdk/securityinsight/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/_models_py3.py#L2022-L2027
It means that service will return list of sub-class of `AlertRule`. During the sub-class, only a few sub-class has "query" attribute while some

[2022-10-20 08:22] FaresKi commented on #26889
Alright, I see. Thanks guys!

[2022-10-20 08:36] thomasfrederikhoeck commented on #22441
@luigiw  I think it would be very useful with an example in https://github.com/Azure/azureml-examples or similar. :-) Does it work by always setting PIP_INDEX_URL when the environment is building, or does it do some matching with url specified with `--index-url` in requirement files? The first would be cool as this means that the environment is not dependent on the the index keeping the specific u

[2022-10-20 08:38] 0xfabioo opened #26947 "Unable to install azureml-mlflow and azure-ai-ml due to conflicting dependencies"
- **Package Name**: azureml-mlflow, azure-ai-ml
- **Package Version**: azureml-mlflow==1.4.0 and azure-ai-ml==1.0.0
- **Operating System**: Linux
- **Python Version**: 3.9

**Describe the bug**
Unable to install azureml-mlflow and azure-ai-ml due to conflicting dependencies. See screenshot below,

**To Reproduce**
Steps to reproduce the behavior:
1. pip install azure-ai-ml
2. pip install azureml-m

[2022-10-20 09:25] Wzb123456789 commented on #26840
Hi @tommy-dunn，thanks for you feedback.

According to the error message you gave, when updating the information of `app_gw`, you need to pay attention to the problem of renaming. It is recommended to replace the names, because the original name already exists during the update, and the update operation cannot be performed. like:
[code]