[2021-07-13 20:57] #16750 closed

[2021-07-13 21:31] annatisch commented on #19755
Thanks @jochen-ott-by! I found your patch very interesting!

It's true that the current implementation deserializes the entire payload without ability to customize. Additionally, since the default API version in SDK 2.x, more data is being returned in the listing results which further slows it down.

We have had discussions about replacing the current (de)serialization implementation - however thi

[2021-07-13 21:57] dramuy commented on #17932
For Mooncake, we don't have the support for 2020-04-01-preview; we published latest api-version 2021-03-01 instead. Please use the 2021-03-01 api-version.

[2021-07-13 22:51] #19160 closed

[2021-07-13 22:57] lmazuel commented on #19159
Let's do this on the 22nd at the Ted/Tech Talk

[2021-07-13 22:58] #18580 closed

[2021-07-13 22:58] #17743 closed

[2021-07-13 22:58] #17745 closed

[2021-07-13 22:58] #17746 closed

[2021-07-13 23:07] iscai-msft opened #19788 "[rest] give azure.core.rest the same surface area as old reqs / responses"
Right now when using our `azure.core.rest.HttpRequest` and responses, we have to convert these to and from `azure.core.pipeline.transport.HttpRequest`s. Additionally, they can't be used in our pipelines / pollers / pagers etc immediately.

The plan is to give our new requests and responses the same surface design as our old requests and responses, so all policies / transports can handle them witho

[2021-07-13 23:12] lzchen commented on #19585
@kristapratico
I do not own this component, please reassign.

[2021-07-14 00:18] kristapratico opened #19789 "[textanalytics] remove support for 3.5"
We GA'd with a note in the changelog saying that 3.5 will not be supported moving forward. Once we start work on v3.2-preview.1 we should officially remove it.

[2021-07-14 04:53] sushilchand commented on #19680
Hi @chlowell thanks for your input but I wanted to confirm one thing for ADFS authentication only.
If we want to do ADFS authentication with the latest SDKs then do we always have to provide clientId along with username and password in UsernamePasswordCredential class ?
In our application earlier we used to use only username and password with UserPassCredential class it used to work for us but now

[2021-07-14 08:02] #19385 closed

[2021-07-14 13:13] alonzo86 opened #19793 "[azure-mgmt-sql] add support for SQL replica"
I'm using azure-mgmt-sql 3.0.0 and i want to create a replica of an existing SQL DB but there is no such operation available.

there should be an API that supports SQL replica create/list/delete which is similar to CLI:
[https://docs.microsoft.com/en-us/cli/azure/sql/db/replica?view=azure-cli-latest](https://docs.microsoft.com/en-us/cli/azure/sql/db/replica?view=azure-cli-latest)

[2021-07-14 14:36] #19235 closed

[2021-07-14 15:04] yunhaoling opened #19794 "[Schema Registry] Revisit the API skeleton and identify issues/collect data"
https://apiview.dev/Assemblies/Review/f74e05ec023c408ca0d50202be8b0506
https://apiview.dev/Assemblies/Review/3a2a53ad563f48c9bdb0393bd65460ae

[2021-07-14 15:08] yunhaoling opened #19795 "[Event Hubs & AMQP Python] Send performance analysis"
NOTE: this is blocked by issue https://github.com/Azure/azure-sdk-for-python/issues/19778

Message:
- large vs small

Event Hub:
- basic tier vs premium tier
- through put unit 1 vs max allowed

Threading:
- single vs multiple

Resource region:
- vm/eh source in same region (e.g. both in US) vs in remote region (e.g. one in Europe and the other in US)

[2021-07-14 15:13] xiangyan99 commented on #19793
Thanks for the feedback, we’ll investigate asap.

[2021-07-14 15:13] yunhaoling opened #19796 "[Event Hubs & AMQP Python] Receive performance analysis"
Link credit:
- 300 (default) vs 5000 vs 20000 (extreme large value)
  - validate link credit is working first

Message:
- large (e.g. over 100kb per message) vs small (100b per message)

Partition:
- single vs all

Event Hub:
- basic tier vs premium tier
- through put unit 1 vs max allowed

Threading:
- single vs multiple

Resource region:
- vm/eh source in same region (e.g. both in US) vs in remo

[2021-07-14 15:18] yunhaoling commented on #19239
basic perf scripts are writtent, spawn separate issues for sending/receiving scenarios.

https://github.com/Azure/azure-sdk-for-python/issues/19795
https://github.com/Azure/azure-sdk-for-python/issues/19796

[2021-07-14 15:18] #19239 closed

[2021-07-14 16:09] chlowell commented on #19680
UsernamePasswordCredential requires `client_id` in all cases, not only for ADFS. As I wrote above, the underlying authentication flow requires a client ID, it's just that UserPassCredentials has a default value (which you can use with UsernamePasswordCredential, but you do need to explicitly pass that value).

Other API differences affect your code snippet as well. Updated for the latest SDK libra

[2021-07-14 16:46] lmazuel commented on #19253
Use the test proxy with powershell script to allocat the resource

[2021-07-14 16:46] #19253 closed

[2021-07-14 16:47] lmazuel opened #19797 "Migrate Monitor Query to new test proxy system"
Get help from @mccoyp and @scbedd as necessary

[2021-07-14 16:54] lmazuel commented on #19490
This is a thing already in azure-core:
https://github.com/Azure/azure-sdk-for-python/blob/2f8f5072e510862dd9f0905a59eba16b53e6d5f6/sdk/core/azure-core/azure/core/exceptions.py#L108

Keeping this issue for testing

[2021-07-14 16:57] lmazuel commented on #19247
Start with a methid like:
[code]

You can't import any SDKs, since you're inside azure core (duck typing)

[2021-07-14 17:28] kristapratico opened #19798 "[translation] support translation kwargs in single overloaded version of begin_translation"
So you can do something like this instead of needing to instantiate a `DocumentTranslationInput`:

`poller = client.begin_translation(source, target, "fr", storage_type="file")`

Need to add support to pass `storage_type`, `prefix`, `suffix`, `source_storage_source`, `target_storage_source`, `source_language_code`, `category_id`, and `glossaries` as keyword arguments into the single translation ov

[2021-07-14 18:11] mccoyp opened #19799 "[Key Vault] Un-skip tests using key import with 7.3-preview"

[2021-07-14 20:46] #18543 closed

[2021-07-14 20:48] #16745 closed

[2021-07-14 20:52] #17292 closed

[2021-07-14 21:10] kristapratico opened #19800 "[textanalytics] add support for extractive summarization"
- [x] generate #19805
- [x] impl #19824
- [x] samples
- [x] tests
- [x] readme

[2021-07-14 21:15] #13958 closed

[2021-07-14 21:16] #13685 closed

[2021-07-14 21:29] AlexGhiondea opened #19801 "Consistency review"
This tracks the work to do a consistency review across the languages.

[2021-07-14 21:37] xiafu-msft commented on #19774
Hi @pyprateek

If your account url is not in standard format like username.blob.core.windows.net, then please set credential in this way
`credential={"account_name": your_account_name, "account_key": your_account_key}
`

then it should work. Let me know if it still doesn't work!

[2021-07-14 21:38] #18483 closed

[2021-07-14 21:44] kristapratico opened #19802 "[translation] align on filtering naming/design"
.NET is here: https://apiview.dev/Assemblies/Review/46373cdd5bff4c86aeef03d3b8f79d50?diffRevisionId=bdba2e7c72b0480baec03266a26037bb&doc=False&diffOnly=False#Azure.AI.Translation.Document.DocumentFilter

Python added the filters kwargs a few releases ago. Check that naming across languages makes sense.

[2021-07-14 21:46] avirishuv commented on #19295
@yungezz is this something you can clearly document in the Python SDK docs?
cc @xiangyan99

[2021-07-14 21:54] #19016 closed

[2021-07-14 23:23] #18487 closed

[2021-07-15 01:08] fengzhuye commented on #19753
Hi @xiafu-msft

Thanks for the reply. I am currently using version 12.8.1

Only the log message shows up, there is no stacktrace or other info.

It seems the exception is already handled by the sdk. I am not aware of this error in my program.
But not sure if the blob is downloaed in this situation.

[2021-07-15 01:49] yungezz commented on #19295
hi @msyyc do we have migration guide from Track1 to Track2? If yes, could you pls share it? thanks

[2021-07-15 01:50] msyyc commented on #19295
Hi @avirishuv version < 17.0.0b1 is track1 version and version >= 17.0.0b1 is track2 version. Track1 will be deprecated soon.
(1) The difference between track1 and track2 is described in CHANGELOG.md : https://pypi.org/project/azure-mgmt-compute/22.0.0/
![image](https://user-images.githubusercontent.com/70930885/125715322-3ec1129f-e478-49f9-883f-e3c10a1799ec.png)
(2) We have guidance for migration

[2021-07-15 08:08] noumanqaiser opened #19818 "Cannot Run Azure ML Model Locally, Help on Entry script"
I am working on a project where a model will be created using Azure ML(ml.azure.com),

I plan to utilize Azure ML Designer eventually, So I picked up a sample pipeline (Regression - Automobile Price Prediction (Basic)). I then created a realtime inference pipeline and created a realtime endpoint.

Post this, I am able to fetch predictions from this model from a .Net client over internet as expecte

[2021-07-15 09:43] miroag opened #19820 "Manage/admin rights are required to query the number of messages in the Subscription"
- **Package Name**: azure-servicebus
- **Package Version**: 7.3.1
- **Operating System**: Any
- **Python Version**: 3.9

**Describe the bug**
Manage rights are required to query the number of messages in the subscription. This is a security concern.

**To Reproduce**
Following the answer in: https://github.com/Azure/azure-sdk-for-python/issues/17940
I've attempted to query number of messages in th

[2021-07-15 14:12] jsquire opened #19821 "Event Hubs: Client Identifier Support"
# Summary

When creating one of the Event Hubs client types, it can be useful for a host application to be able to uniquely identify the client instance.  The Event Hubs service also supports setting the identifier of an AMQP link, which it will associate with some error messages to make it easier to correlate errors with a given client instance.

The event processor types currently support an inf

[2021-07-15 14:12] jsquire commented on #19821
//cc: @yunhaoling, @swathipil

[2021-07-15 14:21] meken opened #19822 "Debug print statements in azureml SDK"
- **Package Name**: azureml-core
- **Package Version**: 1.31.0
- **Operating System**:Linux
- **Python Version**: 3.8

**Describe the bug**

At the moment most if not all azureml classes emit print statements to the console, which makes it difficult to create automation scripts that expect a certain output. It would be better to use the _logging_ package for these type of debug messages and give e

[2021-07-15 15:25] pyprateek commented on #19680
Hi @chlowell

It seems that for ADFS, tenant_id is a mandatory parameter in UsernamePasswordCredential but it was not the case for UserPassCredentials.
How does UserPassCredentials determines the tenant?

From what I understand, ADFS only supports single tenant. So, does UserPassCredentials internally determines the tenant id or it was not required?

[2021-07-15 17:05] xiangyan99 commented on #19822
Thanks for the feedback, we’ll investigate asap.

[2021-07-15 17:06] xiangyan99 commented on #19820
Thanks for the feedback, we’ll investigate asap.

[2021-07-15 17:35] pyprateek commented on #19774
@xiafu-msft Is this what you meant?

[code]

I am still getting the same error
`ValueError: Unable to determine account name for shared key credential.`

[2021-07-15 18:18] scbedd opened #19825 "Add Python 3.10 to Test Matrix"
https://www.python.org/downloads/release/python-3100b2/

[2021-07-15 18:54] chlowell commented on #19680
`tenant_id` isn't exactly an Azure AD tenant in this context. These credential types use the tenant to determine the base URL for authentication requests. In terms of UsernamePasswordCredential's API, that's `https://{authority}/{tenant_id}`. `tenant_id` is optional because there's a reasonable default for public/sovereign clouds. However, so far as I know, for ADFS authentication on Azure Stack,

[2021-07-15 19:42] Drewm3 commented on #19786
@Vaibhav-Agar, could you please take a look at this one.

[2021-07-15 20:25] scbedd opened #19828 "Resolve remaining `pip==20.3` issues"
Taking care of fallout from migrating from `pip==20.2` -> `pip==20.3`. New resolver is catching issues outside the purview of our  `pip freeze` verification. EG, a dev_requirement was installed, we then attempt to install the dependencies directly needed in our `mindependency` checks. It fails because one of the _previously_ installed packages is incompatible with the set that would come from inst

[2021-07-15 20:26] scbedd opened #19829 "`coverage` fails to decode `.coverage` file"
Known to be occurring in:

   - [consumption](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=999991&view=logs&j=008228df-c502-5758-6186-3e4acae8697c&t=f12a3b13-3f5c-5ef9-8636-ce1a5ff82090)
   - [kubernetesconfiguration](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=999641&view=logs&j=f8949c67-9d21-53bc-b8db-079dc324f468&t=9f793416-d498-5eae-7b86-1654d37a8896)

[2021-07-15 20:32] scbedd opened #19831 "python `prepare-pipelines` is timing out"
- Solution 1: delete it, as we use the individual generator far more often
- Solution 2: parallelize the run itself to increase the speed of the .NET app that is actually invoking to prepare all our pipelines
- Solution 3: Increase timeout

[2021-07-15 20:39] scbedd opened #19832 "Add/update python mgmt build classifier for Pipeline Witness"
The key here, right now [the report](https://aka.ms/azsdk/shipready) only gives us the specific job that failed, it doesn't make any kind of deeper dive to understand which specific package a failure occurred in. That data is available, we just need to grep it out properly.

We can do this by updating an existing classifier.

[2021-07-15 20:42] scbedd opened #19833 "`depends` check failing in `azure-mgmt-storagesync`"
[example here](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=999189&view=logs&j=de48ec8f-ee03-59f0-0a39-cd6f8a6a1c25&t=2b09f712-fe31-51cd-6700-bfb21dd8953f&l=9510)

[2021-07-15 21:15] #19582 closed

[2021-07-15 21:29] xiangyan99 opened #19834 "raise ValueError for explicit loop parameter in Python 3.10(core)"
The loop parameter has been removed from most of asyncio‘s high-level API following deprecation in Python 3.8.

Raise ValueError to catch it.

[2021-07-15 21:31] xiangyan99 opened #19835 "raise ValueError for explicit loop parameter in Python 3.10(uAMQP)"
The loop parameter has been removed from most of asyncio‘s high-level API following deprecation in Python 3.8.

Raise ValueError to catch it.

[2021-07-15 22:11] chlowell opened #19836 "ODBC authorization sample"
Not an SDK scenario but applications using Azure SDK clients alongside Azure SQL may find it convenient to use SDK credentials to acquire access tokens for use with Azure SQL, which requires particular formatting. The sample would be a short one showing how to transform a token string. This code from #17295 is the gist:
[code]

[2021-07-16 00:51] maorleger opened #19839 "Key Vault for Python (September 2021)"

[2021-07-16 00:52] maorleger opened #19840 "[Key Vault] Add support for Key Rotation"
To support KeyVault Key Rotation, implement the following changes (modeled from JS, but use whatever API is idiomatic for your language):

## ARM Template changes

When creating a keyvault, add `rotate` to the keys' accessPolicies so that your test application has permissions to rotate and set the rotation policy.

## Key Client API

[code]

Note that policy behavior is against the latest version

[2021-07-16 07:23] yunhaoling commented on #19835
related issue: https://github.com/Azure/azure-sdk-for-python/issues/19835

[2021-07-16 07:26] axelgMS commented on #19651
Not a Python expert, but what do you get if you do something like:

    _exts = ComputeManagementClient.virtual_machine_extensions.get(GROUP_NAME, VM_NAME, 'CSEOK', expand='instanceView')

    # need to check the detailed status of the extension for the script final result.
    print("Result: ", exts.instance_view.statuses[0].code)
    print("Result: ", exts.instance_view.statuses[0].display_statu

[2021-07-16 08:02] #19261 closed

[2021-07-16 13:07] sambyng-msft opened #19849 "Xrefs aren't working at the start of the page"
[Enter feedback here]
From microsoft edge browser i see:
This class should not be instantiated directly. Instead, use the <xref:DatabaseProxy.get_container_client> method to get an existing container, or the <xref:Database.create_container> method to create a new container.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-07-16 14:48] xiangyan99 commented on #19849
Thanks for the feedback, we’ll investigate asap.

[2021-07-16 15:12] swathipil commented on #19779
utils.py not over 80% b/c half the code only used for 3.5/3.6

[2021-07-16 15:17] koenvers opened #19850 "azure-cognitiveservices-vision-customvision not compatible with azure automation packages"
- **Package Name**:
- **azure-cognitiveservices-vision-customvision **:
- **3.1.0**:
- **Azure automation**:
- **3**:

**Describe the bug**
It is not possible to upload the whl to Azure automation as a package: https://pypi.org/project/azure-cognitiveservices-vision-customvision/#description. he gives an error like placed in screenshots

**To Reproduce**
Steps to reproduce the behavior:
1.  downlo

[2021-07-16 15:31] xiangyan99 commented on #19850
Thanks for the feedback, we’ll investigate asap.

[2021-07-16 17:08] kristapratico opened #19852 "[translation] add test for using glossaries"
create a glossary file on the fly, upload to storage, run test, validate that glossary terms affected translation.

[2021-07-16 18:46] bpkroth opened #19855 "get_spark_job_list() from azure.synapse.monitoring.operations does not return full livy request set"
- **Package Name**: azure.synapse.monitoring.operations
- **Package Version**: 0.2.0
- **Operating System**: Linux
- **Python Version**:  3.8

**Describe the bug**
When calling `get_spark_job_list()` a limited number of requests are returned (e.g. > 100)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a number of Livy requests (e.g. > 100)
2. Call the `get_spark_job_list()` API
3. Not

[2021-07-16 21:07] xiangyan99 commented on #19855
@bpkroth Thanks for your feedback. Unfortunately, /monitoring/workloadTypes/spark/Applications does not support "skip" parameter so I am afraid adding this parameter in the client side SDK will not help.

@idear1203 Please take a look if we want to have this support in restful API.

[2021-07-16 21:29] bpkroth commented on #19855
I've tested this, and it absolutely returns more data when I do this to assemble multiple pages instead of just a single `get_spark_job_list()` call:

(snippet from my wrapper library)

[code]

As I said above, I pulled that out of watching the HTTP network requests and their query strings my browser was generating when I click around in the Monitoring pane of the spark workspace's web interface.

[2021-07-16 21:40] xiafu-msft commented on #19774
@pyprateek Thanks for letting me know! Good to know it works! I'll close this issue for now just let me know if you have any other questions!

[2021-07-16 21:40] #19774 closed

[2021-07-17 00:00] xinyi-joffre opened #19857 "DefaultAzureCredential prints libsecret errors in linux container from SharedTokenCacheCredential"
- **Package Name**: azure.identity
- **Package Version**: 1.6.0
- **Operating System**: Linux debian (the python:3.7-slim-buster image)
- **Python Version**: 3.7

**Describe the bug**
When using DefaultAzureCredential() in a jupyter notebook in a linux docker container, it dumps either pyobject or libsecret errors from the SharedTokenCacheCredential, which is confusing to users

**To Reproduce**
S

[2021-07-18 15:23] ForrestIsARealGoodman opened #19858 ""ContainerRepositoryClient" is not found"
- **Package Name**: azure-containerregistry
- **Package Version**: azure-containerregistry==1.0.0b4
- **Operating System**: Windows
- **Python Version**: 3.8.10

**Describe the bug**
Hi Experts:

It appears that the reference is not found when trying to import module "ContainerRepositoryClient".
Check the __init__.py, it shows:
`__version__ = VERSION

__all__ = [
    "ArtifactArchitecture",
    "A

[2021-07-19 02:39] msyyc commented on #19833
The dependency is wrongly changed by this PR : https://github.com/Azure/azure-sdk-for-python/pull/19692/files

![image](https://user-images.githubusercontent.com/70930885/126094968-428f61bf-f04e-4650-b154-d9db61558bbc.png)

Please revert this file and then the pipeline should be fixed.

[2021-07-19 02:56] yangchengs opened #19862 "Return the lastmodifiedtime or createtime from the API list_directories_and_files"
One cx needs the API list_directories_and_files to get list of files recursively but the item does not include lastmodified time or create time.

According to the API document, the item can be FileProperties

https://docs.microsoft.com/en-us/azure/developer/python/sdk/storage/azure-storage-file-share/azure.storage.fileshare.shareclient?view=storage-py-v12#list-directories-and-files-directory-name-

[2021-07-19 03:42] shawnxzq commented on #18873
@xiangyan99 Could you please remove service tag for this issue as it's a SDK bug, and ADF team can't do anything to fix this at moment, thanks!

[2021-07-19 10:01] #19694 closed

[2021-07-19 15:10] xiangyan99 commented on #18873
@msyyc @00Kai0 Please confirm if you can fix it w/o changing swaggers.

@shawnxzq FYI. msyyc and 00Kai0 are working on mgmt SDK.

[2021-07-19 17:29] mccoyp commented on #19862
Hi @yangchengs, thank you for opening an issue! I'll tag the appropriate folks so we can take a look at this as soon as possible.

[2021-07-19 18:23] seankane-msft commented on #19858
@ForrestIsARealGoodman the API surface changed from the 1.0.0b2 to 1.0.0b3 released. The `ContainerRepositoryClient` and `RegistryArtifact` classes were removed. For now you can use the `ContainerRegistryClient` to do everything you used to be do with the `ContainerRepositoryClient` class, but you will have to provide the repository name for calls specific to a repository. Let me know if there is

[2021-07-19 18:25] #17963 closed

[2021-07-19 19:42] ynpandey commented on #19749
@lesterlitch Can you please provide a code snippet for this issue?

[2021-07-19 20:37] gdhuper commented on #18610
@lzchen Is there an ETA on when this feature would be ready for production?

[2021-07-19 21:52] yunhaoling opened #19869 "[AMQP Python] Receiving large message which are composed of multiple frames"
- verify this feature first
- add support for this if missing

[2021-07-19 22:47] chlowell commented on #19857
Although SharedTokenCacheCredential is rather limited on Linux, it does work in some Linux scenarios, and on macOS. I'm reluctant to remove it from DefaultAzureCredential because doing so would break any applications relying on it. You can disable it through configuration though: `DefaultAzureCredential(exclude_shared_token_cache_credential=True)`. However, the credentials which follow it in the D

[2021-07-19 22:53] #19779 closed

[2021-07-19 23:28] xinyi-joffre commented on #19857
@chlowell, we are using azure-identity as part of Jupyter Notebook samples that run in either user's local machine OR in a container, so that's why we don't choose just a specific type that only works in containers--it should choose the best mechanism based on where the user is using it. The root issue we run into is that the DefaultAzureCredential logs a lot of error messages for SharedTokenCache

[2021-07-20 15:53] lzchen commented on #18610
@gdhuper
There is no current ETA.

[2021-07-20 16:02] gison93 commented on #19493
Hi @shivanissambare, sorry for the late reply! The deployment logs just show "ModuleNotFoundError: No module named 'main'" without further information on the main cause.

[2021-07-20 16:06] xiangyan99 commented on #19855
This is interesting.

@idear1203 could you check if this is by design? (the un-documented parameter)

[2021-07-20 16:26] yunhaoling commented on #13301
- auto register schema for SR Serializer?

[2021-07-20 16:57] #18972 closed

[2021-07-20 17:16] shivanissambare commented on #19493
thanks for clarifying!
Yup, are working on adding more logs around module not found errors.

[2021-07-20 17:16] shivanissambare commented on #19493
#please-close

[2021-07-20 17:40] shivanissambare commented on #19818
Hi, did you take a look at our local deployment example notebook : https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/deployment/deploy-to-local

[2021-07-20 18:01] Mossaka commented on #19822
Thanks for your feedback @meken . I will regard this as a feature request and will prioritize it within our team.

[2021-07-20 18:11] xiangyan99 commented on #19822
@meken The feature request has been added into our backlog.

We will close the issue and use our internal system to track it. Please feel free to re-open it if you want to add more information.

Thank you.

[2021-07-20 18:11] #19822 closed

[2021-07-20 18:43] shivanissambare commented on #18440
closing this issue, please reopen if you have more questions!

[2021-07-20 18:46] #18440 closed

[2021-07-20 19:38] yunhaoling commented on #19794
- SchemaRegistryAvroSerializer
  - __init__
    - coupling: why consumer group in constructor not in method
    - considering removing codec keyword argument
  - serialize
    - an override which allows passing schema_id directly

[2021-07-20 19:42] yunhaoling commented on #19362
hey @michaelcredera , just friendly checking if you need any help on the PR?

[2021-07-20 20:13] ashi4286 opened #19890 "[Blob] SAS token created using python did not work for azcopy"
Hello Everyone

I am trying to generate a SAS token using Python code as per below doc

https://docs.microsoft.com/en-us/python/api/overview/azure/storage-blob-readme?view=azure-python

from datetime import datetime, timedelta
from azure.storage.blob import BlobServiceClient, generate_account_sas, ResourceTypes, AccountSasPermissions

sas_token = generate_account_sas(
account_name="https://account

[2021-07-20 20:40] mccoyp commented on #19890
Hi @ashi4286, thank you for opening an issue! I'll tag the appropriate folks so we can take a look at this as soon as possible.

[2021-07-20 20:48] yunhaoling commented on #19657
thanks for putting your thoughts!

apologize that I should give you more context on the design of the EventHubConsumer with Checkpoitnstore.

With the checkpointstore provided, EventHubConsumer will do load balancing among different nodes -- each consumer will take ownership of a set of partitions to receive from against a certain consumer group.

The key purpose of the checkpointstore and load ba

[2021-07-20 20:54] yunhaoling commented on #19777
hey @miroag , confirmed that memory leak is happening on Windows, also did a thorough debugging and long running test to find the leaking places. I had a [PR](https://github.com/Azure/azure-uamqp-python/pull/258) out for the fix in the uamqp library, but am now waiting for the C team to verify my fix is the right approach.

However, I have run long running test on Linux as well as valgrind (c prog

[2021-07-20 21:01] yunhaoling commented on #19820
hey @miroag , it has been documented in the service bus [service documentation](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas#rights-required-for-service-bus-operations) that `Get subscription description` requires `Manage` rights.

FYI 'Listen' confers the right to receive (queue, subscriptions) and all related message handling, while `query the number of messages i

[2021-07-20 21:03] #19820 closed

[2021-07-20 21:17] #19828 closed

[2021-07-20 21:17] #17880 closed

[2021-07-20 21:47] chlowell commented on #19857
DefaultAzureCredential is usually the best choice for a sample because it has a simple API and the best chance of succeeding in an arbitrary development environment, allowing your sample to focus on your library code instead of authentication trivia. But it doesn't work in all environments (no credential type does) and will usually require configuration to function in a container.

About suppressi

[2021-07-20 22:35] xiangyan99 opened #19894 "highlight_fields is a string(comma-separated list)"

[2021-07-20 22:43] mccoyp opened #19895 "[Key Vault] Revise get_random_bytes method"
- [x] Enforce having to request at least 1 byte
- [x] Return a model instead of bytes directly

[2021-07-20 23:10] #19571 closed

[2021-07-21 03:45] dciborow commented on #19290
causing issues in my teams build server... not sure how to surpress.

[2021-07-21 04:35] xiafu-msft commented on #19290
Hi @dciborow

Thanks for reaching out! We will clean up mypy in the future, for now can you limit the mypy check within your repo, here's the reference and hopefully it is helpful https://mypy.readthedocs.io/en/stable/command_line.html#import-discovery

Let me know if it doesn't work.

[2021-07-21 06:43] noumanqaiser commented on #19818
Hi @shivanissambare, I have gone through this tutorial, the given example is creating an sklearn model via notebook and then the entry script loads it using joblib. In my case, My model is created in Azure ML designer, registered and then deployed as web service. I could not find any example of how an entry script would look like for such a designer based model.
Would appreciate your help to get a

[2021-07-21 07:33] ForrestIsARealGoodman commented on #19858
@seankane-msft thanks for your quick response, well, I have no idea to import a image for a specific repository based on current module, any regarding function & api could be recommended ? thanks very much!

[2021-07-21 07:44] ForrestIsARealGoodman opened #19900 "Is it possible to get the message count of a sepcific service bus queue"
**Is your feature request related to a problem? Please describe.**
I am stuck at how to get the message acount of a sevice bus queue.
Seems no regarding function could be found in current module "service bus".

**Describe the solution you'd like**
Here is a sample requirements:
I have a program that would send messages to a queue routinely, while at the same time, it will check the message count o

[2021-07-21 08:02] #19418 closed

[2021-07-21 12:18] chinmaydorlikar commented on #19657
Thank you for that detailed explanation!

Actually, the 32 partitions and  4 consumers scenario does make sense. Having owner_level None would break things in that case.
The scenario I am working on did allow me to have multiple consumer groups for some reason. So, I was trying to understand the possible workaround and hence I was trying to bend my way to get it working. But I get your point, cons

[2021-07-21 12:18] chinmaydorlikar commented on #19657
Thank you for that detailed explanation!

Actually, the 32 partitions and  4 consumers scenario does make sense. Having owner_level None would break things in that case.
The scenario I am working on did allow me to have multiple consumer groups for some reason. So, I was trying to understand the possible workaround and hence I was trying to bend my way to get it working. But I get your point, cons

[2021-07-21 12:18] #19657 closed

[2021-07-21 13:29] mihowilk opened #19901 "Duplicate type signatures"
When I'm running mypy in my project it crashes on your library:
.local/lib/python3.8/site-packages/azure/storage/filedatalake/aio/_data_lake_file_client_async.py:226: error: Function has duplicate type signatures

async def set_file_expiry(self, expiry_options,  # type: str
                          expires_on=None,  # type: Optional[Union[datetime, int]]
                          **kwargs):
    #

[2021-07-21 14:03] sbenthall commented on #19659
Hello. I'm still getting this problem.
Does this work on other operating systems?

[2021-07-21 15:42] seankane-msft commented on #19858
@ForrestIsARealGoodman there is no functionality for pushing/pulling images in this library. If you want to push/pull an image from an Azure Container Registry I would recommend using [the docker cli to do so](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started-docker-cli?tabs=azure-cli)

[2021-07-21 16:30] mccoyp commented on #19900
Hi @ForrestIsARealGoodman, thank you for opening an issue! I'll tag the appropriate folks so we can take a look as soon as possible.

[2021-07-21 16:52] dciborow commented on #19290
@xiafu-msft , i have tried these settings, but none have surprised it.
[code]

Which setting are you suggesting?

[2021-07-21 16:57] joshfree commented on #19479
Closing as the crew is only doing 1 UX study for the 1.0 release

[2021-07-21 16:57] #19479 closed

[2021-07-21 17:37] samyKhezandji commented on #16766
what is vscode_tenant_id ? where to find ?

[2021-07-21 19:12] #19802 closed

[2021-07-21 19:17] swathipil commented on #13292
for now, going with :

Option 3 - Single client with caching
In this option, there's only one client that can be created by making caching optional - on by default. If user creates the client with caching enabled, APIs can return cached responses when available.

[code]
One open question with such clients is how to implement the withResponse methods that return the HTTP response information like s

[2021-07-21 20:32] ashi4286 commented on #19890
Code worked fine after making the below change
resource_types=ResourceTypes(object=True)

Please close this issue

[2021-07-21 21:06] jackmuskopf commented on #19651
Awesome, thank you @axelgMS ! I see the expand parameter listed here: [azure python sdk docs](https://docs.microsoft.com/en-us/python/api/azure-mgmt-compute/azure.mgmt.compute.v2021_03_01.operations.virtualmachineextensionsoperations?view=azure-python#get-resource-group-name--vm-name--vm-extension-name--expand-none----kwargs-)

Where can a list of valid expand expressions be found?

[2021-07-21 21:46] #19475 closed

[2021-07-21 21:58] mccoyp commented on #19890
Glad to hear that you found a solution! Closing now.

[2021-07-21 21:58] #19890 closed

[2021-07-21 22:13] chlowell commented on #16766
`vscode_tenant_id` is the ID of the tenant in which you want to authenticate the user signed in to Visual Studio Code. In azure-identity 1.6.0, the credential defaults to authenticating in the user's home tenant. In azure-identity 1.7.0b1 and above, it defaults to authenticating in the tenant configured in VS Code (the "Azure:Tenant" setting, which also defaults to the user's home tenant).

You on

[2021-07-21 23:10] tonybaloney opened #19906 "Type annotations for BlobClient class methods cause invalid type inference in the async client"
- **Package Name**: azure-storage-blob
- **Package Version**: latest
- **Operating System**: macOS
- **Python Version**: Python 3.9

The async BlobClient class uses BlobClient (sync) as a mixin. The class method factories for instantiating the client, such as `from_connection_string`, `from_blob_url` have a type annotated return type as `BlobClient`, which is invalid:

https://github.com/Azure/azu

[2021-07-21 23:29] mccoyp commented on #19906
Hi @tonybaloney, thanks for opening this issue! I'll loop in the Storage team to track this.

[2021-07-22 00:19] Jendker commented on #19786
Is there any update on this?

[2021-07-22 01:53] RAY-316 commented on #19663
Web 2.0.0 to 3.0.0 does contain a lot of changes. I will inform the relevant teams to update the document . You can give more detailed examples if you encounter problems in use

[2021-07-22 01:58] RAY-316 commented on #19585
hi @TobyHFerguson Can you provide more detailed instructions or example code? That might help us solve the problem

[2021-07-22 09:20] miroag commented on #19820
@yunhaoling Thanks for clarifying this.

[2021-07-22 09:26] miroag commented on #19777
Hello @yunhaoling

Yes, I can confirm that the issue was observed as well on the AKS k8s Linux (Ubuntu) based and WSL2 Ubuntu.
Below is the image on the WSL2 Ubuntu tests:

![image](https://user-images.githubusercontent.com/10284158/126617423-3f38de6d-34d6-4e5c-bd3b-68809a997a56.png)

Kind regards,
Alex

[2021-07-22 12:37] ForrestIsARealGoodman commented on #19900
@mccoyp , thanks for your quick response!
@yunhaoling your help and effort are highly appreciated!

[2021-07-22 12:40] ForrestIsARealGoodman commented on #19858
@seankane-msft thanks for reminding!

[2021-07-22 14:15] TobyHFerguson commented on #19585
Zed - I can't give you an example of something that is missing, try as I
might! My point is that in the documentation you should state exactly what
the strings are that can be used for that parameter. I *think* they are
'Total', 'Maximum', 'Minimum' - but my point is that they need to be
stated, and the list needs to be complete.

*Toby H Ferguson*

Cloud Solutions Architect

Phone: +1 408 386 934

[2021-07-22 14:32] yunhaoling commented on #19777
actually I find that you need to tweak the code a bit to properly free the receiver instances which are created from the service bus client.

When a receiver is created from the client, [the client will append the receiver in its private instance variable self._handler](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py#L4

[2021-07-22 15:12] miroag commented on #19777
Well .. this is a bit of an issue ...
The snippet I've created is the closest thing I can write to illustrate the use in production. Fundamentally it's a daemon that listens for new sessions and when one is available start the receiver and process it and the sb_client is never closed.

I would say receiver (when getting out of scope) shall de-register itself. An alternative might be that I need to

[2021-07-22 15:15] yunhaoling commented on #19900
hey @ForrestIsARealGoodman , you could use `azure.servicebus.management.ServiceBusAdministrationClient` to retrieve the runtime properties of a queue which includes the message count info.

samples could be found here: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/servicebus/azure-servicebus/samples/sync_samples/mgmt_queue.py#L74

please let me know if I could help more.

[2021-07-22 15:40] miroag commented on #19777
btw: consider example code: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/servicebus/azure-servicebus/samples/sync_samples/session_pool_receive.py
According to your explanation, I think, it will leak the memory in exactly the same way

[2021-07-22 16:42] yunhaoling commented on #19777
The de-registering is a good point, previously we were thinking that as the client takes responsibility for spawning receivers, so it's also client's duty to track those handlers. But given your issue, tracking those closed handlers seems only to increase memory usage while there's no other usage of those closed handler.

I'll see what I could do to improve the situation.

[2021-07-22 16:45] yunhaoling commented on #19777
The de-registering is a good point, previously we were thinking that as the client takes responsibility for spawning receivers, so it's also client's duty to track those handlers. But given your issue, tracking those closed handlers seems only to increase memory usage while there's no other usage of those closed handler.

I'll see what I could do to improve the situation.

[2021-07-22 17:02] gabsylvain commented on #18211
Hi sorry, for the delay in the response. By trying to reproduce the problem, I have found out that another piece of my code might be causing the problem. Thanks.

[2021-07-22 18:16] #19900 closed

[2021-07-22 18:26] rakshith91 opened #19917 "[Monitor Query] Server timeout is flaky"
the prefer header `wait` doesn't cut the connection in time and is showing flaky behavior.

[2021-07-22 18:27] avirishuv commented on #19295
hi @sanvar7 please let us know if these resources help to answer your question, or do you have any follow-up questions?

[2021-07-22 18:52] #19894 closed

[2021-07-22 19:41] Vaibhav-Agar commented on #19786
Hi @Jendker,

You should be able to do that. One way could be to create a disk using the script below and set the storage_account_type as you want. Once that is done, you can pass the 'osDisk' in your VM create request, rather than passing the 'ImageReference'. Please re-open if this doesn't answer your question. Thanks!

diskParams = {
    'location': "westeurope",
    'disk_size_gb': 128,
    'm

[2021-07-22 19:41] #19786 closed

[2021-07-22 19:54] Jordan0928 opened #19919 "Azure RBAC doesn't seem to provide granuar access of certificate secret"
Hello,

I am unable to provide read access to a specific key vault certificate content (including its private key) to  my virtual machine. Azure RBAC does NOT seem to support granular access of certificate secret - content of the certificate including private key.

I can assign custom/buit-in roles with permission "Read Certificate" to specific key vault certificates. This allows certificate metad

[2021-07-22 21:08] mccoyp commented on #19919
Hi @Jordan0928, thank you for opening an issue! I'll look into this for you and provide an update as soon as possible.

[2021-07-22 21:58] shivanissambare commented on #19818
Hi, thanks for the clarification.
If you have trained your model in designer and registered, you can download your scoring script in the following way:

![image](https://user-images.githubusercontent.com/61255242/126714673-569c3941-287f-4693-9cb2-a77d32788b30.png)

Take look at this documentation: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-model-designer#download-the-ent

[2021-07-22 22:01] #19680 closed

[2021-07-22 22:50] mccoyp commented on #19919
@jlichwa, would you have any context for this?

[2021-07-22 22:59] #19798 closed

[2021-07-22 23:08] jlichwa commented on #19919
In general key vault is security boundary, so you should always assign roles on Key Vault level and have one key vault per applications, region, and environment. Least privilege is for minimum role assignment on key vault itself as a security boundary unit - i.e. Application who just reads secrets should not have access to create secrets.

Per object should only for very rare scenario when same se

[2021-07-22 23:21] mccoyp commented on #19919
Thank you for the quick reply! @Jordan0928, please let us know if this doesn't resolve your issue. [This documentation](https://docs.microsoft.com/azure/key-vault/general/rbac-guide?tabs=azure-cli#secret-scope-role-assignment) about secret-level role assignments should be able to help (if you haven't referenced it already). A CLI command such as
[code]
should do the trick.

[2021-07-23 10:01] christopheblin opened #19924 "KeyVault : verifying es256 without azure credentials ?"
I'm trying to validate that I can verify signatures without using the Azure REST API

I have 2 problems and I cannot find any doc or test around them, so I'm trying to get some help here...

First, I need to load the key from a PEM file (the PEM file is available through az keyvault key download --vault-name xxx -n tmp -e PEM -f key.pem) I give the PEM below

Second, I need to verify the key witho

[2021-07-23 11:29] noumanqaiser commented on #19818
Hi @shivanissambare  I did download the score.py from Azure ML as you indicated and tried to use it with the docker image. After I pull the image and run the docker container, the container fails to bootup with following errors:

[code]

It seems the dependencies are not getting inserted into the docker image. Based on various articles, I tried specifying the needed dependancies using the conda_de

[2021-07-23 11:35] freeloop914 opened #19925 "HttpLoggingPolicy supports integrating logs into one record"
I'm using azure function app and using SDK to operate Azure resources like blob list/download.
I need these HTTP request/response logs for troubleshooting debug.
But currently they are separated to multiple records.
It's very difficult to query.

For example, this is what current log looks like:
[code]

What I expect is :

[code]

It looks more clean and tidy ( At least from Azure function app Mon

[2021-07-23 11:59] 646826 opened #19926 "Azure tables - Backup & Restore"
** Is your feature request related to a problem? Please describe. **
No backup and restore option for data

** Describe the solution you'd like **
I want to be able to make a backup copy and restore it on demand

** Describe alternatives you've considered **
azCopy-7.3.1

** Additional context **
Add any other context or screenshots about the feature request here.

[2021-07-23 12:20] Jordan0928 commented on #19919
Thank you both for the tips. I will consider using "least privilege permissions" at key vault level.

The CLI command with narrower scope .../{key-vault-name}/secrets/{certificate-name} did the trick. But I couldn't delete the role/permissions I added with this narrow scope. I tried "az role definition delete --name" with name returned when creating the role. I don't see any roles from portal and

[2021-07-23 16:23] danieljurek opened #19928 "Packages should only be released if they will install successfully"
Test installing a package that is about to be released before publishing to the package manager to ensure that, among other things, dependencies within the same service are all published. The test should run in isolation so that dependencies from the same service are only available if they are already published to the package manager.

[2021-07-23 16:24] #19834 closed

[2021-07-23 16:28] mccoyp commented on #19924
Hi @christopheblin, thank you for opening an issue! I'll look into this and provide an update as soon as possible.

[2021-07-23 16:35] mccoyp commented on #19925
Hi @freeloop914, thank you for opening an issue! It looks like you're using Cosmos here -- please correct me if I'm wrong. I'll tag the appropriate folks so we can take a look at this as soon as possible.

[2021-07-23 16:38] mccoyp commented on #19926
Hi @646826, thank you for opening an issue! We'll take a look at this as soon as possible.

[2021-07-23 16:52] mccoyp commented on #19919
To remove the permissions you added, you would actually have to delete the role assignment since a built-in role definition was assigned. The documentation for the CLI command to do so is [here](https://docs.microsoft.com/cli/azure/role/assignment?view=azure-cli-latest#az_role_assignment_delete) -- you can remove the role by running
[code]
or
[code]
(where `role-assignment-id` looks like `/subscri

[2021-07-23 17:45] Jordan0928 commented on #19919
Perfect. Got deleted using "az role assignment delete --id" Found the id from "az role assignment list --all"
Agreed, this is quite tricky. I will go for key vault level access management.

Thanks for the quick and valuable help.

[2021-07-23 18:42] xiafu-msft commented on #19659
Hi @sbenthall
It works for other operating systems, did you activate the new virtual env when you try to import? also make sure you only do pip install azure-storage-blob in the new virtual env.

[2021-07-23 19:30] mccoyp commented on #19924
To answer part of your question, you can verify with es256 without a credential, given you have the JWK of your key. CryptographyClient has a [from_jwk](https://docs.microsoft.com/python/api/azure-keyvault-keys/azure.keyvault.keys.crypto.cryptographyclient?view=azure-python#from-jwk-jwk-) factory method that will return a client that performs only local cryptography operations, which means you don

[2021-07-23 20:54] sbenthall commented on #19659
Yes. I've tried again now, with a different way of making a fresh virtualenv.

I get this:
https://gist.github.com/sbenthall/2aacbd1142b979a15797197690767404

Here is my `pip freeze` in this new virtualenv:

https://gist.github.com/sbenthall/614745bb265b79d19c5612096b9c7052

[2021-07-23 22:50] mccoyp commented on #19924
I've done some digging around but I haven't found a way to load an EC key from PEM format to JWK (which would be necessary to use local cryptography with the SDK). The example you included that uses `ecdsa` should work, though, if you use the method `VerifyingKey.verify_digest` instead of `verify` on the last line.
[code]

[2021-07-23 23:26] kasun04 commented on #18460
I was referring to using same partition keys from SDKs for different languages.

[2021-07-24 02:55] freeloop914 commented on #19925
Thanks @mccoyp ,
My function app will access Azure Blob/SQL/Cosmos,
As I know, they are all using logger named **azure.core.pipeline.policies.http_logging_policy**
and it propagates to **Root** logger.

Another example from blob downloading:

[code]

[2021-07-26 06:52] christopheblin commented on #19924
=> ah thank you it works !

=> ah thank you, it also works !

[code]

Indeed, there is no way to use that from PEM, but I will ask to provide an endpoint to get the public key in JWK (which is obviously possible and desirable because this is the native format in Azure KeyVault)

I think the reason I use PEM is because in NodeJs crypto (our "main" language), it is the only supported way (even if it

[2021-07-26 06:52] #19924 closed

[2021-07-26 10:06] ThorsteinSkaug opened #19935 "Trouble with Custom Vision in Python"
I have made an object detection program in the Custom Vision UI, and I am trying to utilize it with a python script. However, I get an error when trying to test the published model. The error code is as follows:

I am confident that my keys are correct. What other errors can yield this message?

Thanks!

[2021-07-26 11:08] idear1203 commented on #19855
@bpkroth thanks for reporting. The SDK is generated based on Swagger spec [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/synapse/data-plane/Microsoft.Synapse/preview/2019-11-01-preview/monitoring.json#L89-L106). We cannot fix the Python SDK code directly because the code change will lose during the next SDK generation. Instead, we will fix the issue on Swagger spec.

[2021-07-26 12:52] autohnnaveen opened #19936 "KeyError: 'Endpoint'"
I am using the SDK (Python) for Computer Vision published in Mocrosoft Docs

https://github.com/MicrosoftLearning/mslearn-ai900/blob/main/05%20-%20Optical%20Character%20Recognition.ipynb
When I run the code, this error occurs:

read_response = computervision_client.read(read_image_url,  raw=True)

KeyError                                  Traceback (most recent call last)
<ipython-input-7-6d5eaaca

[2021-07-26 16:23] lmazuel commented on #16320
Looking at the error message, @Alexander-N was trying a call to `/apps/{appId}/versions/{versionId}/export` to export the LUIS app as JSON, but the received content type was `application/octet-stream` and not `application/json`, which prevented the code generator to deserialize the body.

[2021-07-26 17:19] #19778 closed

[2021-07-26 17:46] annatisch commented on #19755
Thanks for your patience @jochen-ott-by!
We've been chatting about the best approach, and are considering tackling this by addressing both options 1 & 3 in my post above (where option 3 takes the form of a separate list_names API, similar to the v2 SDK).

I currently have a working prototype in development here that we have been running perf tests on:
https://github.com/Azure/azure-sdk-for-python/

[2021-07-26 18:30] AlexGhiondea opened #19938 "Support Etag in AppConfig APIs"
There are several APIs that would benefit from having support for ETag.

[2021-07-26 19:31] kristapratico opened #19939 "[textanalytics] establish consistency on setting default params"
If the service specifies that a param defaults to something, e.g. `disable_service_logs` defaults to `True`, then it would be better if we don't set that default in the client library directly and just let the service handle it on their side. We have a mix of both strategies in TA for parameters with default values and should work on taking a consistent approach while ensuring any changes do not c

[2021-07-26 20:26] mccoyp commented on #19926
Hi again -- it looks like this is a feature that would need to be implemented by the service before the SDK could expose it. I'll leave this issue open for tracking and tag the service team so they're aware of the feature request, but for now AzCopy is the recommended way to back up Tables data. Thank you again for opening this issue!

[2021-07-26 22:21] #19852 closed

[2021-07-26 23:43] rakshith91 opened #19942 "Consider supporting paging and LRO for monitor"
DO return a value that implements the ItemPaged protocol even if the service API currently do not support server driven paging. This allows server driven paging to be added to the service API without introducing breaking changes in the client library.

guidelines say the above^^

[2021-07-26 23:48] xtellurian commented on #19277
I'm seeing this issue also. I believe it may be related to the way PyArrow stores datetimes in milliseconds vs numpy in nanoseconds.

My workaround is to convert all datetimes to strings before writing to parquet, and then re-converting back to datetimes when I consume downstream.

[code]

and downstream

[code]

[2021-07-27 00:06] tonybaloney opened #19943 "Async credential classes missing from azure.identity.aio"
`azure.identity.aio` is missing many `Credential` classes that exist in the `azure.identity` namespace.

https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/azure/identity/aio/__init__.py#L7-L20

compared with

https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/azure/identity/__init__.py#L11-L27

missing:
- AzureApplicationCredential

[2021-07-27 00:25] maorleger opened #19944 "[Key Vault] - Regenerate and add 7.3 RBAC roles to support SKR and RNG permissions"
When ready, we'll need to regenerate 7.3 RBAC roles to support the new permissions that have been added:

- Microsoft.KeyVault/managedHsm/rng/action
- Microsoft.KeyVault/managedHsm/keys/release/action

[2021-07-27 03:52] simonxin opened #19951 "azure.mgmt.containerservice(latest version 16.0.0) cannot work in Azure China Cloud"
- **Package Name**:  azure.mgmt.containerservice
- **Package Version**:  16.0.0
- **Operating System**: Windows/Linux
- **Python Version**:  python 3.8

**Describe the bug**
A clear and concise description of what the bug is.
when using azure.mgmt.containerservice to manage AKS cluster which is in Azure China Cloud, the credential request will be failed always

**To Reproduce**
Steps to reproduce

[2021-07-27 05:56] yunhaoling opened #19954 "[SchemaRegistry] Update the client to use the latest swagger in the spec repo"
- rest spec repo: https://github.com/Azure/azure-rest-api-specs
  - https://github.com/Azure/azure-rest-api-specs/blob/1e23d91e875e4464e57667639e06408cef99868d/specification/schemaregistry/data-plane/Microsoft.EventHub/preview/2020-09-01-preview/schemaregistry.json
- generate with low level client
[code]

[2021-07-27 06:00] swathipil commented on #19780
- why is AvroObjectSerializer a separate class from SchemaRegistryAvroSerializer? What is the need?
-

[2021-07-27 06:07] yunhaoling opened #19955 "[SchemaRegistry] Double encoding issue with json schema content"
currently the schema content (e.g. avro schema is a json string by itself) is double encoded in the request that is sent out (as well as the response, the service takes raw bytes).

This is because the autorest being smart here with the content-type/json -- autorest generated code will double encode the json string for us.

see[recording](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk

[2021-07-27 07:20] BigCat20196 commented on #19665
Hi @fhoy Thanks for the feedback!

The latest azure-mgmt-web version is 3.0.0. In this version, `create_or_update_swift_virtual_network_connection_with_check` operation replaces `create_or_update_swift_virtual_network_connection operation`.

It is recommended to upgrade the version and try again. The problem may have been fixed.

Please kindly let us know if it solves the issue.

[2021-07-27 08:19] cuu508 commented on #19385
@yunhaoling thanks for the information! I can confirm I could get UTF-16 data decoded like so:

[code]

[2021-07-27 08:20] miroag commented on #19777
@yunhaoling I've changed my production code to recreate `sb_client` after every 1K sessions. I can confirm that memory leak has been reduced, but it did not fix the issue completely. To compare in previous situation 500Mb of mem will be leaked in about 16hrs, with the force recreation it requires about twice the time.
AKS / Ubuntu / Python 3.9

[2021-07-27 10:59] Ayatallah opened #19958 "azure.mgmt.containerregistry create Token with no Passwords Generated"
- **Package Name**:  azure.mgmt.containerregistry
- **Package Version**: 2020-11-01-preview
- **Operating System**: MacOs
- **Python Version**: 3.6

**Describe the bug**
I followed Code Samples in [here](https://github.com/Azure-Samples/azure-samples-python-management/blob/master/samples/containerregistry/manage_token.py)
To create [Token](https://docs.microsoft.com/en-us/python/api/azure-mgmt-con

[2021-07-27 11:46] fhoy commented on #19663
Some concrete questions I would like answered:
- Is `create_or_update_swift_virtual_network_connection_with_check` a direct replacement for `create_or_update_swift_virtual_network_connection`?
- How do I configure VNets for slots, now that `create_or_update_swift_virtual_network_connection_slot` is gone?

[2021-07-27 15:49] swathipil commented on #13292
questions for Anna:
- should CachePolicy be moved to azure-core, even though it's only used by the schema registry client?
- should the properties on CachePolicy have a default? Which defaults?
- should we make cache policy accessible/public to users with an instance var on client? (currently we don't do this, it's private)

[2021-07-27 15:58] dmarx opened #19960 "Azureml Environment does not install additional conda dependencies on top of curated env built from dockerfile"
- **Package Name**: azureml-core
- **Package Version**: 1.3.2
- **Operating System**:
- **Python Version**: 3.7

**Describe the bug**

I am unable to install additional libraries as `CondaDependencies` on top of a registered environment built from a docker file.

I first encountered this issue attempting to add libraries to a curated environment. After this first failure, I installed some librarie

[2021-07-27 16:04] dmarx commented on #19960
possibly related to issue #19500

[2021-07-27 17:12] chlowell commented on #19943
Thanks for opening this issue! An async AzureApplicationCredential does exist but wasn't importable from `azure.identity.aio`. #19961 fixes that.

The other credentials you list don't exist because their implementation relies on MSAL Python, which doesn't yet have an async API (AzureAD/microsoft-authentication-library-for-python#88). Our #6354 tracks the SDK work needed to use an async MSAL once i

[2021-07-27 17:37] xiafu-msft commented on #19753
Hi @fengzhuye

Sounds like this is not a bug, storage retry for 3 times on this error, the sdk is working as expected if your blob is downloaded successfully.

Let me know if you have any concern!

[2021-07-27 17:37] swathipil opened #19963 "[EventHubs] claim_ownership in checkpointstoreblob mutates argument"
Currently, `claim_ownership` on `CheckpointStoreBlob` mutates the `ownership` object that is passed in. It also unnecessarily adds a `metadata` with `ownerid` to `ownership` dict although `owner_id` is already in `ownership`. Need to:
1) remove `metadata` [here](https://github.com/Azure/azure-sdk-for-python/blob/1d0e42b9693d77e19efb5d3503ba0d7e33ac9d79/sdk/eventhub/azure-eventhub-checkpointstorebl

[2021-07-27 17:39] xiafu-msft commented on #19862
Hi @yangchengs

Thanks for reaching out. This is a new feature which hasn't been released yet. The release will happen this week (probably today)

[2021-07-27 18:20] rakshith91 commented on #19935
@ThorsteinSkaug  Thanks for the feedback, we’ll investigate asap

[2021-07-27 18:21] rakshith91 commented on #19936
@autohnnaveen Thanks for the issue, we’ll investigate asap

[2021-07-27 18:21] rakshith91 commented on #19951
@simonxin Thanks for the feedback, we’ll investigate asap

[2021-07-27 18:22] rakshith91 commented on #19958
@Ayatallah Thanks for the issue, we’ll investigate asap

[2021-07-27 18:37] #18227 closed

[2021-07-27 18:38] #9572 closed

[2021-07-27 18:39] lmazuel commented on #13725
Let's close for now and revisit as necessary

[2021-07-27 20:18] #19478 closed

[2021-07-27 20:28] shivanissambare commented on #19818
@likebupt can you please help, as to why azureml.studio is giving throwing an error

[2021-07-27 21:06] scbedd opened #19964 "Add "Unsupported" Tox Environment Variable"
Also convert the current local powershell script that resolves all these variables into a rational one.

[2021-07-27 22:18] #19833 closed

[2021-07-27 22:43] xiafu-msft commented on #19906
Hi @tonybaloney

Thanks for providing the feedback! we will fix it soon

[2021-07-28 02:38] fengzhuye commented on #19753
Hi @xiafu-msft

It's that possible "ConnectionResetError(104, 'Connection reset by peer'))" will happens 3 times?
I want to know why this error happens, or what can I do to avoid this kind of error?

Sorry about the bothering.

[2021-07-28 03:27] lmolkova opened #19971 "Add python app to distributed tracing sample app"
We're working on distributed tracing sample app between azure sdk and azure monitor. We want to publish it on Azure-Samples and let users play with it. It's also a reasonable test bed for us to test how instrumentation integrates with typical user apps and OTel ecosystem.

Here's a brief [plan (internal only)](https://microsoft-my.sharepoint.com/:w:/p/limolkova/EWC30UUMsypOh64yR1LTc80B3evAxckPo3yj

[2021-07-28 07:07] BigCat20196 commented on #19958
Hi @Ayatallah Thanks for the feedback.

In Azure-cli, run the `az acr token create --name tokenName --registry registryName --scope-map scopemapName` command to automatically generate a password because it has a built-in method to generate a key. The direct use of SDK will not automatically generate passwords.

If you need a password, you need to execute `begin_generate_credentials` method in azur

[2021-07-28 07:48] 646826 opened #19974 "Azure table copy"
**Is your feature request related to a problem? Please describe.**
I can not copy tables in blob or other azure tables

**Describe the solution you'd like**
I want to be able to copy the azure table to blob
I want to be able to copy an azure table to other tables
I want to be able to copy the azure table to another storage account

**Describe alternatives you've considered**
- Azure storage explor

[2021-07-28 08:02] #19397 closed

[2021-07-28 08:08] BigCat20196 commented on #19958
Hi @Ayatallah Thanks for the feedback.

In Azure-cli, run the `az acr token create --name tokenName --registry registryName --scope-map scopemapName` command to automatically generate a password because it has a built-in method to generate a key. The direct use of SDK will not automatically generate passwords.

If you need a password, you need to execute begin_generate_credentials method in `azure

[2021-07-28 08:58] Ayatallah commented on #19958
@BigCat20196 Thanks for your reply! Actually, I have tried begin_generate_credentials method but It was not recognized as callable method in azure.mgmt.containerregistry.RegistriesOperations please find below the exception and the code and let me know if there's anything needs to be fixed

Exception:
<img width="1440" alt="Screen Shot 2021-07-27 at 12 54 27 PM" src="https://user-images.githubuserc

[2021-07-28 09:11] BigCat20196 commented on #19958
@Ayatallah
What is client `registry_client` in the last two lines of your code?
You can try changing them to `containerregistry_client` And run it again.

[2021-07-28 13:01] Ayatallah commented on #19958
@BigCat20196 they're the same thing, excuse the confusion in the variable names, still the same exception arise!

[2021-07-28 13:14] Ayatallah commented on #19958
Okay, I changed the version below :
[code]

from 2020-11-01-preview to 2021-06-01-preview and it works fine now!

[2021-07-28 15:01] davystrong opened #19976 "AzureML allow filtering dataset by name"
**Is your feature request related to a problem? Please describe.**
I can't find any way of filtering a FileDataset by filename.

**Describe the solution you'd like**
I'd like to be able to use the `filter` method to filter a FileDataset by filename and return the filtered data as a new FileDataset object, while still accessing the original data (so no copies). This could then be passed to a new Pi

[2021-07-28 15:04] ONFU opened #19977 "_________________VLADmetceprofileaoffcarsontprofilesertjusteadivertirlecomandantdebordthelanoxpactelleestmafilledeshamhamadlegacyetelleveutdevenirtorsionairepourlanoxpactetelleestlaseuldemaisfillequidepensetoutesontargentpardesproaroltrm138"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional cont

[2021-07-28 15:06] ONFU commented on #19977
_________________________VLAKmetsontprofileaeydrenoffaveckeishaupasabhantccenttrentehuitetmetladesinformationaoffdanskeishilfautquelennemiecomprendelententementdemaisvonlontéengagelespiretueurpourcettefillepourquillatuejevaislestuervraimentdans9jouraabsolutation

[2021-07-28 15:45] xiangyan99 opened #19978 "Add samples for “raw_response_hook”"
Some real world scenarios are users need to access response header while our SDK returns body only by default.

We need to add samples to show how to access raw response.

[2021-07-28 16:20] davystrong commented on #19976
Actually, for the second alternative approach I mentioned to be viable, I would also need to know the path of the FileDataset items within the Datastore.

[2021-07-28 19:35] Jendker commented on #19786
Could you help me to specify the platform image parameters? For now I was passing:

[code]
But since `'image_reference` is going to become `osdisk` I have tried passing this information in the `'creation_data'`:

[code]
following this reference: https://docs.microsoft.com/en-us/rest/api/compute/disks/create-or-update#create-a-managed-disk-from-a-platform-image.
But I am getting:
[code]

[2021-07-28 19:41] Jendker commented on #19786
I am unable to reopen this issue, unfortunately.

[2021-07-28 21:21] #17379 closed

[2021-07-28 21:21] chlowell opened #19984 "Async credentials support CAE"
They would need to claim client capability "CP1" in token requests and accept a `claims` keyword argument to `get_token()`. Sync credentials do this and rely on MSAL for the details. Doing the same for async credentials is blocked on AzureAD/microsoft-authentication-library-for-python#88

[2021-07-29 08:02] #19511 closed

[2021-07-29 11:11] antonatem commented on #15569
@zfoster Was this added to a release? The latest version(4.2.0) in PyPi still has this hardcoded

[2021-07-29 12:48] Valdeminas opened #19989 "Azure function fails to import azure.identity"
I'm trying to use azure keyvault in my python azure function.

When importing `azure.keyvault.secrets`, everything works fine.

However, when I add  `from azure.identity import DefaultAzureCredential`, build fails with (slightly redacted for privacy):

[code]

[This](https://stackoverflow.com/questions/68102034/azure-functions-unable-to-import-certain-python-packages) stack overflow question seems

[2021-07-29 12:59] EvgeniiTitov opened #19990 "How to work with Azure Service Bus without context manager (Python)"
Hi!

I find it super confusing to work with Azure service bus queues. As a result, I am afraid I am making mistakes without even understanding this and get unexpected behavior.
I want to have a class, say, Consumer where in the constructor I instantiate all the necessary things such as ServiceBusClient, AutoLockRenewer, and Receiver. Then, say, I have 2 methods - get_message() and acknowledge_mess

[2021-07-29 16:02] #19858 closed

[2021-07-29 16:18] chlowell commented on #19989
There's also an [old issue on pywin32](https://github.com/mhammond/pywin32/issues/452). I assume you're running this function locally on Windows with the Azure Functions CLI. This error doesn't repro in my environment with a function that imports `DefaultAzureCredential` and `pywintypes`. Can you share the output of `pip freeze` for your environment?

Here's mine for comparison:
[code]

[2021-07-29 16:33] Goldensunboy opened #19991 "Broken link to example"
The page says "Here is an example for using POST with an Analytics query" but the link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90525a0e-cead-7b8f-9af7-72f404fdf94f
* Version Independent ID: 91c2a935-d552-f63c-da22-702ce943d280
* Content: [azure.applicationinsights.operations.QueryOperations class](htt

[2021-07-29 18:10] rakshith91 commented on #19990
Thanks for the question!! We'll look into this asap

[2021-07-29 18:15] rakshith91 commented on #19991
Thanks for the issue!! we'll look into it asap

[2021-07-29 18:27] rakshith91 commented on #19974
Thank you for posting the issue! we'll take a look at it soon

[2021-07-29 18:50] scbedd commented on #19991
@Goldensunboy Yep. Looks like the package owners didn't realize that markdown links and sphinx links were not formatted the same way. Check it out [rendering oddly in our sphinx github.io docs too.](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-applicationinsights/0.1.0/azure.applicationinsights.operations.html#azure.applicationinsights.operations.query_operations.QueryOperations.ex

[2021-07-29 19:07] scbedd commented on #19991
Hey @Goldensunboy ,

I submitted a PR [over here](https://github.com/Azure/azure-sdk-for-python/pull/19993) that addresses the wonky links. I did do a quick search to find more examples, but only tracked down one other. You mind pointing me at the

you're talking about?

[2021-07-29 19:30] seankane-msft commented on #19974
@646826 I'm looking into this request, there is not any functionality in the SDK right now to do that. When you say "I want to be able to copy the azure table to blob", do you want to copy the data in a json format or in binary format? Could you provide more details on these copies?

[2021-07-29 20:52] Goldensunboy commented on #19991
On the same page: "The Analytics query. Learn more about the Analytics query syntax" (broken link)

On [this page](https://docs.microsoft.com/en-us/python/api/azure-applicationinsights/azure.applicationinsights.applicationinsightsdataclient?view=azure-python) there appears to be a missing link to the field "config" of type ApplicationInsightsDataClientConfiguration

[2021-07-29 21:11] #19964 closed

[2021-07-29 21:42] scbedd commented on #19991
Ok awesome I already got that one in my PR.

👍  Known issue. Currently waiting on the docs.ms crew to ship their new generator. Any missing params or params  mislabeled with `required` will be fixed by that update.

[2021-07-29 22:10] aaronsmith1234 commented on #19989
We are having this same issue, and here is the `pip freeze` output;

azure-functions==1.7.2
azure-identity==1.6.0
azure-storage-blob==12.8.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
cryptography==3.4.7
idna==3.2
isodate==0.6.0
msal==1.13.0
msal-extensions==0.3.0
msrest==0.6.21
numpy==1.21.1
oauthlib==3.1.1
portalocker==1.7.1
pycparser==2.20
PyJWT==2.1.0
pywin32==301
requests==2.26

[2021-07-29 22:24] chlowell commented on #19989
Interesting, same version of the pertinent libraries. Which Python? I installed your libraries (plus azure-core 1.16.0) in my environment (Python 3.7.9) and still don't get the error.

[2021-07-29 22:25] aaronsmith1234 commented on #19989
3.9.2. Also, confirmed with co-worker that this is the line that is causing the error above.
`from azure.identity import DefaultAzureCredential`

[2021-07-29 22:34] chlowell commented on #19989
Do you see the same error in a fresh venv? I don't see it on 3.9 either.

[2021-07-29 23:30] aaronsmith1234 commented on #19989
It did; we deleted and re-did the virutal environment. We were using the Azure Functions add-in for VSCode to create the boilerplate code for the function; not sure if that's the same as the CLI.

Here is the code (can't post the rest of function, sorry!) which results in an error
[code]

Azure Functions Core Tools
Core Tools Version:       3.0.3477 Commit hash: 5fbb9a76fc00e4168f2cc90d6ff0afe5373

[2021-07-30 08:15] bjoern-meier-by opened #20000 "Unclosed client session in azure.containerregistry.aio.ContainerRegistryClient.list_repository_names"
- **Package Name**: azure-containerregistry==1.0.0b4, azure-core==1.16.0, azure-identity==1.6.0
- **Operating System**: OS X
- **Python Version**: Python 3.9.4

**Describe the bug**
Using `azure.containerregistry.aio.ContainerRegistryClient.list_repository_names` results in the following aiohttp warning:
[code]

**To Reproduce**
Based on the sample from https://github.com/Azure/azure-sdk-for-pytho

[2021-07-30 10:55] v-xuto opened #20004 "Key Vault administration Readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/keyvault/azure-keyvault-administration#examples):
![image](https://user-images.githubusercontent.com/57166602/127639860-949b2585-e969-4764-a258-a2dd79f3336c.png)

Suggestion:
Update to 'contain'.

@jameszliao-msft, @lmazuel , @lilyjma , @AlexGhiondea and @jongio for notification.

[2021-07-30 10:55] v-xuto opened #20005 "Monitor Query Readme and Samples issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/monitor/azure-monitor-query/samples/async_samples/sample_log_query_client_async.py):
![image](https://user-images.githubusercontent.com/57166602/127641823-57061dad-02c6-485c-b1ef-aaed7a1e5a67.png)

Reason:
TypeError: ABCMeta object got multiple values for keyword argument 'client_id'

Suggestion:
Update to:
`credential

[2021-07-30 17:45] #16408 closed

[2021-07-30 17:55] xiangyan99 commented on #19572
#20009

[2021-07-30 17:55] #19572 closed

[2021-07-30 19:18] rakshith91 commented on #20000
Thanks for reporting this! someone from our team will soon take a look

[2021-07-30 19:35] rakshith91 opened #20011 "`additional_worskpaces` is confusing - must look into a more intuitive solution (cross language) (*)"

[2021-07-30 20:47] seankane-msft commented on #20000
@bjoern-meier-by thanks for reporting this issue! I believe this issue is caused by the sessions not being closed on the credential as well. I modified your sample and this should close all connections:
[code]

[2021-07-30 21:03] #19343 closed

[2021-07-30 21:34] rakshith91 opened #20015 ""Flatten" `body` and `tables` in the logs batch query result. The goal is to make code like the following a bit simpler:"
Also, Add a logs query response object hierarchy tree to the README.

[2021-07-30 22:01] #19919 closed

[2021-07-30 22:57] rakshith91 commented on #19477
Closing - created separate issues for which there is no action item currently

[2021-07-30 22:57] #19477 closed

[2021-07-30 23:22] #19789 closed

[2021-07-31 05:12] ericthomas1 commented on #11009
Could we get some more samples [in the docs](https://docs.microsoft.com/en-us/python/api/azure-storage-blob/azure.storage.blob.storagestreamdownloader?view=azure-python#chunks--) for iterating over `chunks()`?

**The section is empty at the moment:**
![image](https://user-images.githubusercontent.com/42788729/127729408-75d7c82b-0d54-448a-970a-22cf742aed71.png)

[2021-07-31 08:02] #19683 closed

[2021-07-31 12:00] kranthi91 commented on #18911
`from azure.identity import AzureCliCredential
from azure.mgmt.resource import ResourceManagementClient
from azure.mgmt.network import NetworkManagementClient
import os, re

# Acquire a credential object using CLI-based authentication.
credential = AzureCliCredential()

# Retrieve subscription ID from environment variable.
subscription_id = os.environ["AZURE_SUBSCRIPTION_ID"]
# print(subscription_

[2021-07-31 12:01] kranthi91 commented on #18911
`from azure.identity import AzureCliCredential
from azure.mgmt.resource import ResourceManagementClient
from azure.mgmt.network import NetworkManagementClient
import os, re

credential = AzureCliCredential()

subscription_id = os.environ["AZURE_SUBSCRIPTION_ID"]

resource_client = ResourceManagementClient(credential, subscription_id)
network_client = NetworkManagementClient( credential, subscripti

[2021-07-31 12:03] kranthi91 commented on #18911
Please refer to the above code snippet used when this error was obtained.

[2021-08-01 14:19] ForrestIsARealGoodman commented on #19900
Yes!!!!!!! This is what I want, highly appreciate your help!

[2021-08-02 05:06] bjoern-meier-by commented on #20000
No this does not change it, running your adapted code still gives:
[code]

[2021-08-02 07:17] v-yilinhu opened #20027 "[azure-mamt-reservations] Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=225421&view=results
- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=225871&view=results
- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=226278&view=results

@danieljurek for notification.

[2021-08-02 07:20] v-yilinhu commented on #20027
@danieljurek  I tried to delete the package and re-run the the docs build according to the steps in the [document](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/454/Ref-Docs-Build-and-Stability), but I couldn't find the package in [package.json](https://github.com/MicrosoftDocs/azure-docs-sdk-python/blob/main/ci-configs/packages-latest.json).

[2021-08-02 11:52] yunhaoling commented on #19990
hey @EvgeniiTitov , you could use [`ServiceBusClient.close`](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-servicebus/latest/azure.servicebus.html#azure.servicebus.ServiceBusClient.close) method to shutdown the client or use [`ServiceBusRecever.close`](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-servicebus/latest/azure.servicebus.html#azure.servicebus.ServiceBusRece

[2021-08-02 12:32] yunhaoling commented on #19777
hey @miroag , thanks for the data. I'm testing the program with closing client in each iteration on an azure linux vm now. I should get some data after letting it run for one day.

[2021-08-02 12:37] major opened #20031 "vcrpy requirement in devtools is old and unavailable on some Linux distributions"
- **Package Name**: azure-devtools
- **Package Version**: `HEAD`
- **Operating System**: Fedora 34
- **Python Version**: Python 3.9.6

**Describe the bug**
Fedora offers version 4.1.1 of vcrpy (released Oct 2020) but azure-devtools requires a much older 3.0.0 version that was released in 2019. Would it be possible to get this requirement updated?

[2021-08-02 13:13] yunhaoling commented on #19794
data collected and moved into onenote page, will spawn separate issues for each task

[2021-08-02 13:13] #19794 closed

[2021-08-02 13:13] yunhaoling commented on #13301
data collected and moved into onenote page, will spawn separate issues for each task

[2021-08-02 13:13] #13301 closed

[2021-08-02 14:57] SeaDude opened #20033 "Example for `chunks()`?"
The example for `chunks()` is blank. Would be nice to have an example for downloading blobs chunk by chunk.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10ff81a6-05d8-0e71-a865-1ec9850e1d2d
* Version Independent ID: e1b09e06-bc09-d2d1-dc18-65540eea41b2
* Content: [azure.storage.blob.aio.StorageStreamDownlo

[2021-08-02 15:03] #19780 closed

[2021-08-02 15:42] #17708 closed

[2021-08-02 15:42] #19463 closed

[2021-08-02 16:19] tjprescott commented on #20031
Thanks for the report; we will look into it asap.

[2021-08-02 16:22] tjprescott commented on #20031
@lmazuel who would be the right person to evaluate and approve/reject this change?

[2021-08-02 16:23] tjprescott commented on #20033
@SeaDude thank you for the report. We will investigate asap.

[2021-08-02 17:19] rakshith91 commented on #18960
Added a wiki here https://github.com/Azure/azure-sdk-for-python/wiki/Telemetry-with-Azure-SDKs

[2021-08-02 17:22] ynpandey commented on #19976
@davystrong We have created a feature request in our backlog for this functionality.

[2021-08-02 17:27] davystrong commented on #19976
Great, looking forward to that! Thanks!

[2021-08-02 17:29] #19978 closed

[2021-08-02 17:29] #18960 closed

[2021-08-02 17:43] major opened #20035 "azure-mgmt-appplatform: LICENSE missing"
- **Package Name**: azure-mgmt-appplatform
- **Package Version**: 6.1.0
- **Operating System**: Linux
- **Python Version**:  3.9

**Describe the bug**
The azure-mgmt-appplatform python package is missing a license file.

[2021-08-02 17:43] joshfree commented on #18960
@lmolkova could you give the instructions a quick review

@rakshith91 are we going to add links to the new wiki entry from the repo's READMEs?

[2021-08-02 18:25] AlexGhiondea opened #20037 "Azure Translator Commitments for Python (July-December 2021)"

[2021-08-02 18:29] rakshith91 opened #20038 "Parse stackoverflow questions for eventgrid"
https://stackoverflow.com/search?tab=newest&q=%5bpython%5d%20eventgrid

In the above link, go through any track1 references and updated them

[2021-08-02 18:30] scbedd opened #20039 "Azure-core regression `oldest` check is running extremely long"
Just looking at the build output, this does not seem to make much sense. I believe there are a couple problem packages that are forcing the new `pip` resolver to waste a bunch of time backtracking the installed package. If it is a single package, need to see if we can add some hinting to speed this up. In the meantime, will extend the timeout yet again in an effort to get it building.

[2021-08-02 18:37] #19991 closed

[2021-08-02 19:37] xiangyan99 opened #20040 "After the request is sent, aiohttp closes the stream hence fails to rewind in retry"
The particular async sample that the customer was running sends a receipt file stream in the request:

https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_async.py#L49

The request is sent and the service indicates in the response that it should be retried. When it is retried, the async retry policy trie

[2021-08-02 19:39] lmolkova commented on #18960
thanks, wiki page looks great! it seems it's the same as [readme on opencensus plugin](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/core/azure-core-tracing-opencensus#examples), do we want to keep both of them?

[2021-08-02 20:15] #19159 closed

[2021-08-02 21:15] kristapratico opened #20042 "[formrecognizer] raise exception when call quota volume exceeded"
The service will return a Retry-After header that can be up to 3 days and our azure-core retry policy will honor it and wait... this gives the feel of the call hanging forever. We can improve the customer experience by inserting a custom policy that will check for indicators of the quota being exceeded (code, message) and raise an HttpResponseError immediately. Laurent's sample code for example:

[2021-08-02 21:36] Jendker opened #20044 "Follow-up: Is it possible to create a VM with OS disk type different than Premium SSD?"
My previous issue https://github.com/Azure/azure-sdk-for-python/issues/19786 was closed an I was unable to reopen it so I am opening here a new one.

Could you help me to specify the platform image parameters to use if I want to create a disk from the platform image (Ubuntu 18.04)? For now I was passing:

[code]
But since `'image_reference` is now `osdisk` I have tried passing this information in

[2021-08-02 23:11] lmazuel commented on #20031
Hi @major , there is several layers of answers to your question:
- We still support Python 2.7, which blocks us in 3.0.0. We tried conditional dependencies depending of Python2/3, but the recording format changed which would force us to record tests twice in two versions, in parallel folder or files names, while doubling the number of files on the repo. So we decided to stay in 3.0.0 until we drop

[2021-08-02 23:13] mengyahuUSTC-PU commented on #15261
I did not use WSL. My script can run fine when using compute target an Azure resourses A100. However, by setting compute target to 'local' (without changing anything else), it also hangs at 'starting' status. Could you help me on this?

[2021-08-02 23:18] lmazuel commented on #20000
@xiangyan99 could you investigate the root cause first, thanks!

[2021-08-02 23:19] xiangyan99 commented on #20000
@lmazuel We were assigning the issue at same time. :)

[2021-08-02 23:20] lmazuel commented on #19936
Hi @autohnnaveen
I believe your issue is because the endpoint your passed was incorrect, did you pass the default value of the notebook `YOUR_COG_ENDPOINT` or did you changed it to an actual value?

I think with a proper value this would go away (though I don't deny the error could be better).

[2021-08-02 23:49] lmazuel commented on #17978
@scbedd sure, I guess it's fair now

[2021-08-03 06:38] frrossms opened #20054 "Role assignment creation fails"
- **Package Name**: azure-mgmt-authorization
- **Package Version**: 1.0.0
- **Operating System**: Linux (Ubuntu 20.04 under WSL)
- **Python Version**: 3.8.10

**Describe the bug**

Creating a role assignment with the SDK is sending an incorrect HTTP request body. Instead of sending something of the form

[code]

the value of `properties` is being sent as the top-level object in the request body.

[2021-08-03 08:16] v-xuto opened #20059 "Document Translation Samples issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/translation/azure-ai-translation-document/samples/async_samples/sample_list_document_statuses_with_filters_async.py#L63), [link2](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/translation/azure-ai-translation-document/samples/sample_list_document_statuses_with_filters.py#L60):
![image](https://user-images.

[2021-08-03 09:00] DroidUnknown commented on #9534
Windows 11 preview
azure-core==1.16.0
azure-identity==1.5.0
azure-mgmt-synapse==2.0.0

I am getting this same error when trying to access Synapse

[code]

This is the exception -> azure.core.exceptions.ServiceRequestError: Bearer token authentication is not permitted for non-TLS protected (non-https) URLs.

[2021-08-03 15:27] tjprescott commented on #20044
Adding @Vaibhav-Agar who worked on the other issue.

[2021-08-03 15:29] tjprescott commented on #20035
@major thanks for PR #20036, which addresses this!

[2021-08-03 15:36] major commented on #20035
You're welcome. Hopefully these bite-sized PRs are easier to manage than #19240. 🤭

[2021-08-03 15:58] chlowell commented on #9534
That's by design in this case. Your `base_url` doesn't include a scheme, and the authentication policy requires that requests are protected by TLS, i.e. that their URLS begin with "https", because client requests carry access tokens. The solution then would be to add the scheme: `base_url="https://dev.azuresynapse.net"`.

All that said, I think this is still an incorrect value. SynapseManagementCl

[2021-08-03 15:59] #19493 closed

[2021-08-03 16:36] lmazuel commented on #19850
Hi @koenvers
I would open a support ticket to the automation team on this one, especially since the error message you got is really cryptic and a C# trace on their installer code, they should be able to provide en explanation on what failed during the installation, otherwise either us can't do anything:
https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-

[2021-08-03 18:27] #20059 closed

[2021-08-03 19:03] lmazuel opened #20066 "Low-Level Client GA deliverable"
Epic for issues that are blocking for the GA of LLC product

[2021-08-03 19:24] #19129 closed

[2021-08-03 19:35] #20015 closed

[2021-08-03 20:30] chlowell commented on #19989
I don't see this error on my machine with everything installed as you describe. I think fixing it will require understanding why, in your particular environment, `pywin32` loads an unexpected `pywintypes` (the code is [here](https://github.com/mhammond/pywin32/blob/master/win32/Lib/pywintypes.py), if you're curious). Do you see a similar error running simply `python -c "import azure.identity"` and

[2021-08-03 22:28] #19990 closed

[2021-08-03 23:16] kristapratico opened #20073 "[translation] get architect feedback"
Get feedback on the python design and align with .NET on some of the feedback they received in this issue: https://github.com/Azure/azure-sdk-for-net/issues/23088

[2021-08-03 23:25] #19800 closed

[2021-08-03 23:55] git999-cmd opened #20075 "AsyncLROPoller returned by begin_stop_cluster and begin_start_cluster not working"
- **Package Name**: azure.mgmt.containerservice.aio.ContainerServiceClient
- **Package Version**: 16.0.0
- **Operating System**: Ubuntu 18.0
- **Python Version**: 3.7.3

**Describe the bug**
I am trying to use the following apis to start/stop the cluster.

cs_client.managed_clusters.begin_start_cluster(...)

where cs_client is the ContainerServiceClient

Based on the documentation, the above aysnc

[2021-08-04 00:04] iscai-msft opened #20076 "[rest] investigate the behavior of tuples in response headers"
What happens when the service returns 2 headers with the same name. See what other networks do, and decide whether we want to return a list / what we want to return here.

[2021-08-04 01:09] #19247 closed

[2021-08-04 07:26] DroidUnknown commented on #9534
No I was simply trying to setup Synapse using python SDK. This is my first time trying to do something on azure and did not really understand the details. https://management.azure.com works in this case. Thanks

[2021-08-04 11:52] davystrong commented on #19976
Just to give some additional context, my aim is to split a dataset (in training/validation or more splits) but the dataset contains both inputs and their labels as separate files so I can't just split randomly.

[2021-08-04 13:01] rnestler opened #20083 "Mypy doesn't work with azure-storage-blob"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.8.1
- **Operating System**: Ubuntu 20.04
- **Python Version**: 3.8.10

**Describe the bug**
If I want to use mypy to statically type check my Python code it fails to find the type information of the azure.storage.blob, despite that there are type comments in the module.

**To Reproduce**
Steps to reproduce the behavior:
1. `pip insta

[2021-08-04 13:11] rnestler commented on #20083
If I add the file manually with: `touch lib/python3.8/site-packages/azure/storage/blob/py.typed` mypy starts type checking, but apparently there are type errors in the package:
[code]

[2021-08-04 17:40] enoeden opened #20086 "Some network/cbs auth issue will cause message lost or delay to return to caller during receive"
- **Package Name**: azure-servicebus
- **Package Version**: 7.3.1
- **Operating System**: Ubuntu
- **Python Version**: 3.7.1

**Describe the bug**
We observe msg delay or re-delivery in our env, so we write some simple send-receive code to re-produce.
After running for several days, we found the issue happened many times and many reason will lead to this while few can handle by user, so we fire th

[2021-08-04 17:58] iscai-msft opened #20087 "[llc] remove dep of hybrid and LLC on msrest"
Switch over to `azure.core.serialization`, will probably need to add some ways to escape strings etc for serializing strings for headers etc.

Consider adding a query builder in `azure.core.serialization` since queries are a little more complicated, i.e. "to explode or not to explode"

[2021-08-04 18:00] lmazuel opened #20088 "Low-Level Client 1.1 deliverable"

[2021-08-04 18:30] iscai-msft opened #20090 "[rest] queries inputted as tuples?"
What behavior do we want here. Do we want to allow this? Currently, users can have the same query name by using dictionaries, so we do have this functinoality.

[2021-08-04 18:32] iscai-msft opened #20091 "[rest] accept list of tuples for headers?"
Investigate what our current behavior and what other stacks have

[2021-08-04 18:32] danieljurek opened #20092 "Move auzre-synapse-* docs from GA to preview"
The 0.x.y versions are to be treated as previews.

[2021-08-04 20:29] tjprescott commented on #20086
Thank you for the detailed report! @yunhaoling can you please take a look and advise?

[2021-08-04 20:30] tjprescott commented on #20083
Thank you for the report, @rnestler. @xiafu-msft could you please take a look and advise?

[2021-08-04 20:31] tjprescott commented on #20075
@git999-cmd, thank you for the report. @msyyc could you take a look and advise?

[2021-08-04 20:35] erfannariman commented on #12152
Were you able to solve this @glarose13? I have the same issue. Weird part is that we have been deploying functions quite a while and this error pops up since the last couple of days.

[2021-08-04 21:26] #18732 closed

[2021-08-04 22:07] amishra-dev commented on #10572
The fix has been merged.

[2021-08-04 22:07] #10572 closed

[2021-08-04 22:57] xiafu-msft commented on #20033
Hi @SeaDude
Thanks for reaching out
please refer to this link https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-blob/samples/blob_samples_hello_world.py#L115-L123

let me know if you need any info

[2021-08-04 23:10] yunhaoling commented on #13044
closing it now as there's no dev plan on the issue, we could reopen in the future.

[2021-08-04 23:10] #13044 closed

[2021-08-04 23:27] chlowell commented on #12152
As described above, this is a log message emitted by a dependency azure-identity uses to implement an optional feature (which isn't useful in typical Azure Functions apps). The message doesn't indicate anything wrong with your application so you can safely ignore it or filter it out with with Python's `logging` module. A future version of the dependency will not log this message (https://github.co

[2021-08-05 00:47] annelo-msft commented on #19611
Duplicate of https://github.com/Azure/azure-sdk-for-python/issues/19610

[2021-08-05 00:47] #19611 closed

[2021-08-05 01:50] #19470 closed

[2021-08-05 03:24] shawnxzq commented on #17413
@catalinaperalta Please help close this one since customer confirmed no need to track this and I don't have permission to do so, thanks!

[2021-08-05 06:58] nolaexe commented on #17801
Hey, is there any update?

[2021-08-05 07:32] #17413 closed

[2021-08-05 07:59] msyyc commented on #20075
Hi @BigCat20196 please help on the issue.

[2021-08-05 08:02] #17946 closed

[2021-08-05 08:48] BigCat20196 commented on #20075
Hi @git999-cmd , thanks for the feedback, we’ll investigate asap.

[2021-08-05 09:19] Yangsh-w opened #20108 "Samples for using mgmt SDK to add VNET integration and Private Endpoint for Azure App Service"
We are trying to use the python management SDK to add **VNET Integration** and **Private Endpoint** to our **app service** during or after creating.

We followed this [document](https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-example-web-app?tabs=cmd#4-write-code-to-provision-and-deploy-a-web-app) and successfully created the app service.

But we are not sure how to enable those

[2021-08-05 10:01] #19958 closed

[2021-08-05 12:47] cmonmouton commented on #19412
Hi @xiafu-msft,
Good news, we didn't see the exception happen for while, even before upgrade to latest version.

Just by curiosity I looked up at the changes on master branch of azure blob storage, there is no change on [faulty line](https://github.com/Azure/azure-sdk-for-python/blob/af456fe75579532bdc9d02f54755137a0f75d1d0/sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download

[2021-08-05 15:13] yunhaoling commented on #19777
hey @miroag, I have run a test script for over 3 days, but the memory increase is almost neglectable.

[code]

could you help use my code for testing?

[code]

[2021-08-05 15:38] tjprescott commented on #20108
@msyyc could you please advise?

[2021-08-05 16:30] danieljurek opened #20109 "Docs onboarding scripts should perform more validation of packages before adding them to the list"
Before onboarding a new package or an updated version to a previously onboarded package we should attempt to replicate as many of the steps involved in the docs CI process as possible. This will give us the greatest confidence that we can build docs for this package and that onboarding the package will not break the docs CI build.

[2021-08-05 17:28] swathipil commented on #19781
addressed here: https://github.com/Azure/azure-uamqp-python/pull/263

[2021-08-05 17:28] #19781 closed

[2021-08-05 17:41] jaylabell commented on #18050
@lmazuel Do you have an update on this issue?

[2021-08-05 17:54] sodul commented on #17801
I wrote a script that we run after `pip install`. It detects the unused versions and this got us an azure folder shrink from ~ 680MB to ~ 280MB. It cannot go any lower because for some reason some of the objects model definitions from multiple versions are merged together to make the final list that is then used. The script detects the versions that are used internally by the SDK and preserves the

[2021-08-05 17:55] lzchen opened #20111 "[Monitor] Send span events to App insights as traces"
Based on https://github.com/microsoft/common-schema/issues/217

[2021-08-05 18:21] amishra-dev commented on #18012
@isidentical Hi Batuhan, This is an ask we have raised with the service team, i will keep this issue open and update when i hear back.

[2021-08-05 18:57] #20042 closed

[2021-08-05 19:49] #19895 closed

[2021-08-05 21:05] lmazuel commented on #11042
I do see the dark theme now, closing it.

[2021-08-05 21:05] #11042 closed

[2021-08-05 21:19] #17651 closed

[2021-08-05 21:19] lmazuel commented on #19659
@sbenthall , if you look carefully, you will see you run `pip` under Python 3.6 (see you download cffi cp36), while when you type `python` you open Python 3.8.

So your $PATH is configured in a way that `pip` and `python` are not calling the same interpreter. The right solution to solve it is machine dependent:
- Uninstall one of the two you don't need
- Reset your $PATH to clarify which python to

[2021-08-05 22:07] #19367 closed

[2021-08-05 22:45] mccoyp opened #20113 "[Identity] Update Service Fabric testing documentation"
Update managed identity testing documentation for Service Fabric with the following:

- [x] ACR accounts with uppercase letters in their name may have authentication issues -- make a brief warning about this
- [x] Add clearer instructions about how to set up the browser certificate necessary to access the SF Explorer (and specify that it's the certificate created earlier in the sample)
- [x] Add a

[2021-08-05 23:02] lmazuel opened #20114 "Migrate Tables testsuite to new test proxy infra"
Engsys team and our friend @scbedd worked on a new test proxy infra for all repos (for curious people the code is [here](https://github.com/Azure/azure-sdk-tools/tree/main/tools/test-proxy), but it's not necessary to read it for this issue).

This means we are moving away from "azure-devtools" and the VCRPy integration to use the new system. This implies a few changes in the code for tests on each

[2021-08-06 00:14] lzchen opened #20116 "[Monitor] Change exporters to conform to common schema -> Ai Mapping"
https://github.com/microsoft/common-schema/blob/main/Mappings/AzureMonitor-AI.md

[2021-08-06 01:44] msyyc commented on #20108
Hi @BigCat20196 please help on the issue.

[2021-08-06 08:09] BigCat20196 commented on #20108
Hi @Yangsh-w

Here is a sample about how to manage the web app
[https://github.com/Azure-Samples/azure-samples-python-management/blob/master/samples/appservice/manage_web_app.py](url)

Hope this unblocks you.

[2021-08-06 09:12] HoLengZai commented on #19989
Hi @chlowell

I got a similar issue but I don't need to add any code. As soon I do this "cocktail" modules together, I will get a similar error message (not to say the same)

Here some info of my conf:
[code]

I try to develop a Durable Function
I use Azurite extension and I start it before running the Durable Function

Here my requirements.txt
[code]
or "only"
[code]

To reproduce my env:

1. Pre

[2021-08-06 13:29] sbenthall commented on #19659
@lmazuel That worked. Thank you so much!

[2021-08-06 14:30] sadasant opened #20130 "[Identity] Document the package can be used for more than the Azure SDKs"
Recently, the Azure SDK for TS/JS received requests from customers to improve our introductory paragraph in our Identity README to also mention that the Identity package could be used from applications not using the Azure SDK. We made the changes in our README here: https://github.com/Azure/azure-sdk-for-js/pull/16800. If you agree, we should do a similar change in the Identity README for Python

[2021-08-06 17:19] cameronMData opened #20131 "DefaultAzureCredential failed to retrieve a token from the included credentials."
Hi, I keep getting the following error:

DefaultAzureCredential failed to retrieve a token from the included credentials.
Attempted credentials:
	EnvironmentCredential: EnvironmentCredential authentication unavailable. Environment variables are not fully configured.
	ManagedIdentityCredential: <urllib3.connection.HTTPConnection object at 0x7fbb718fad00>: Failed to establish a new connection: [Errn

[2021-08-06 18:31] scbedd commented on #20114
@YalinLi0312 please check out the branch [integrate-proxy](https://github.com/Azure/azure-sdk-for-python/tree/integrate-proxy). @seankane-msft made a bunch of progress on this. @mccoyp picked up after is working on keyvault tests with this same effort.

[2021-08-06 20:38] #19304 closed

[2021-08-06 23:38] chlowell opened #20137 "ImdsCredential raises ServiceRequestError when connection refused"
When one of its token requests gets no response from IMDS, ImdsCredential should raise ClientAuthenticationError. Currently it propagates whatever exception the pipeline raised, for example ServiceRequestError:

[code]

[code]

I expect this is rare in the real world because it requires IMDS to have first responded to the probe request, which is to say the scenario is that IMDS was available but h

[2021-08-06 23:57] chlowell commented on #20131
Thanks for reporting this. It appears the credential tried to reach an endpoint that wasn't listening. It learns the endpoint from an environment variable (MSI_ENDPOINT) set by the host, so it appears Azure Functions is either not setting that variable or is setting it with a defunct URL. You can determine the case by looking at the log output of a failed run. You should see "ManagedIdentityCreden

[2021-08-07 01:05] #18114 closed

[2021-08-07 01:05] #19588 closed

[2021-08-07 01:21] #20004 closed

[2021-08-08 10:01] #19862 closed

[2021-08-09 01:47] Yangsh-w commented on #20108
Hi @BigCat20196,

Thank you very much for sharing the sample! Since the sample does not contain VNET or Private Endpoint, I assume we could do that in below part?

[code]
But I am not sure how we should set the format for VNET Integration and Private Endpoint in this part.
Would you please share some suggestions regarding this?

[2021-08-09 05:14] danieljurek commented on #20027
This is a duplicate of https://github.com/Azure/azure-sdk-for-python/issues/18077 we can close this one.

That package has been previously removed from the build which is why it's not showing up in the onboarding json file.

[2021-08-09 05:14] #20027 closed

[2021-08-09 05:46] Sharmistha-Rai commented on #15508
#sign-off

[2021-08-09 05:52] Sharmistha-Rai commented on #15508
#close

[2021-08-09 06:50] Yangsh-w commented on #20108
Hello @BigCat20196 ,

We successfully added the VNet Integration to our app with the following code:

[code]

However, we could not use the same method to add the private endpoint, because it is asking for a private endpoint connection which should be generated after we added the private endpoint.

Aslo, I think [begin_approve_or_reject_private_endpoint_connection](https://docs.microsoft.com/en-us

[2021-08-09 07:18] Valdeminas commented on #19989
Sorry, for late reply. Was out on vacation.

Here's my `pip freeze` output:

[code]

[code]

Azure Functions Core Tools:
[code]

[2021-08-09 09:19] RAY-316 commented on #20044
hi @Jendker I successfully created the disk with this parameter
[code]

[2021-08-09 09:46] BigCat20196 commented on #20075
Hi @git999-cmd
According to my investigation, through `begin_start` and `begin_stop` the method runs, if no error is reported, it returns none,. The specific operation status cannot be captured in the middle.

The following is sample code:
[code]

If the above two values are empty, the corresponding command runs successfully.

[2021-08-09 13:36] nikhilmundhra opened #20149 "[BUG Bash] Azure ML Model Local Deployment"
**Describe the bug**
While deploying ML Model to Local, getting the error as:-
ModuleNotFoundError: No module named 'azureml.api'
and
ModuleNotFoundError: No module named 'azure.ml'

***Exception or Stack Trace***
PS C:\Users\nikhil.mundhra> docker run -p 6789:80 -it test
2021-08-09T13:15:30,156931600+00:00 - iot-server/run
2021-08-09T13:15:30,157256100+00:00 - rsyslog/run
2021-08-09T13:15:30,1573

[2021-08-09 13:48] nomadinnovative opened #20150 "basic.py", line 298, in send raise error azure.core.exceptions.ServiceRequestError: <urllib3.connection.HTTPSConnection object at 0x000001A45661BAF0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed"
File "C:\Users\ranaa\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\azure\core\pipeline\transport\_requests_basic.py", line 298, in send
    raise error
**azure.core.exceptions.ServiceRequestError: <urllib3.connection.HTTPSConnection object at 0x000001A45661BAF0>: Failed to establish a new connection: [Errno 11001] getaddri

[2021-08-09 16:05] xiangyan99 commented on #20150
@nomadinnovative Thanks for reporting. [Errno 11001] getaddrinfo failed usually means the host name cannot be resolved.

Could you check your network settings (and DNS) and see if that can solve the problem?

Thanks.

[2021-08-09 16:16] lmazuel commented on #19951
Hi @simonxin ,

This doc should help you, you need to pass the credential_scopes kwargs:
https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-sovereign-domain

Thanks,

Laurent

[2021-08-09 17:01] #19799 closed

[2021-08-09 17:45] xiafu-msft commented on #20083
Hi @tjprescott

Thanks for reporting this, we will try to fix it soon!

[2021-08-09 18:00] G-Gowtham opened #20153 "what is scope here?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b5fb1b3-8c23-d3d9-f1a9-777ae5a1f290
* Version Independent ID: 9be048b7-abf7-098e-4412-fa1850a9053f
* Content: [azure.identity.AzureCliCredential class](https://docs.microsoft.com/en-us/python/api/azure-identity/azure.identity.azureclicredential?view=

[2021-08-09 18:19] major opened #20155 "azure-mgmt-batchai: LICENSE file missing in pypi"
- **Package Name**: azure-mgmt-batchai
- **Package Version**: 7.0.0b1
- **Operating System**: Linux
- **Python Version**: 3.9.6

**Describe the bug**
The `LICENSE.txt` file is missing when azure-mgmt-batchai is packaged for pypi.

**Additional context**
I am preparing a pull request to fix this now.

[2021-08-09 18:22] Dreamsorcerer opened #20157 "Mypy: Syntax errors"
By mistake, we started using the prerelease version 12.9.0b1 of azure-storage-blob in our CI.

This resulted in these syntax errors from mypy:
[code]

If you check the code at those locations, they are obviously wrong as the number of arguments in the type annotation does not match the number of arguments in the definition.

To avoid these mistakes in future, I'd suggest using the common-practice

[2021-08-09 18:30] major opened #20159 "azure-mgmt-compute: LICENSE missing in PyPi"
- **Package Name**: azure-mgmt-compute
- **Package Version**: 22.0.0
- **Operating System**: Linux
- **Python Version**: 3.9.6

**Describe the bug**
The `LICENSE.txt` file is missing from azure-mgmt-compute when the package is pushed to PyPi.

**Additional context**
I'm preparing a PR now to add the license file.

[2021-08-09 18:44] major opened #20161 "azure-mgmt-databoxedge: LICENSE missing in PyPi"
- **Package Name**: azure-mgmt-databoxedge
- **Package Version**:  1.0.0
- **Operating System**: Linux
- **Python Version**: 3.9.6

**Describe the bug**
The `LICENSE.txt` file is missing from packages pushed to PyPi.

**Additional context**
I am preparing a PR to fix this now.

[2021-08-09 18:51] major opened #20163 "azure-mgmt-datamigration: LICENSE missing in PyPi"
- **Package Name**: azure-mgmt-datamigration
- **Package Version**: 9.0.0
- **Operating System**: Linux
- **Python Version**: 3.9.6

**Describe the bug**
The `LICENSE.txt` file is missing from the azure-mgmt-datamigration package in PyPi.

**Additional context**
I am making a PR to fix this now.

[2021-08-09 19:00] major opened #20166 "azure-mgmt-iotcentral: LICENSE missing in PyPi"
- **Package Name**: azure-mgmt-iotcentral
- **Package Version**: 9.0.0b1
- **Operating System**: Linux
- **Python Version**: 3.9.6

**Describe the bug**
The `LICENSE.txt` file is missing from the PyPi package.

**Additional context**
I am making a PR to fix this now.

[2021-08-09 19:02] swathipil commented on #20157
@Dreamsorcerer, thanks for the suggestion! Directing it to the right people, so they can address this!

[2021-08-09 19:04] swathipil commented on #20155
@major, thanks for the feedback and future contribution! Directing it to the right people, so they know!

[2021-08-09 19:05] swathipil commented on #20159
@major, thanks for the feedback and future contribution (again)! Directing it to the right people, so they know!

[2021-08-09 19:07] major opened #20168 "azure-mgmt-loganalytics: LICENSE missing in PyPi"
- **Package Name**:  azure-mgmt-loganalytics
- **Package Version**: 11.0.0
- **Operating System**: Linux
- **Python Version**: 3.9.6

**Describe the bug**
The LICENSE file is missing from the azure-mgmt-loganalytics package in PyPi.

**Additional context**
I am making a PR to fix this now.

[2021-08-09 19:14] swathipil commented on #20153
@G-Gowtham, thanks for your question!
@mccoyp should be able to provide you with more info on this!

[2021-08-09 19:15] major opened #20170 "azure-mgmt-maps: LICENSE missing from PyPi"
- **Package Name**: azure-mgmt-maps
- **Package Version**: 2.0.0
- **Operating System**: Linux
- **Python Version**: 3.9.6

**Describe the bug**
The `LICENSE` file is missing from the pypi package for azure-mgmt-maps.

**Additional context**
Making a PR to fix this now.

[2021-08-09 19:16] swathipil commented on #20161
@major, thanks for the feedback and future contribution (again)! Directing it to the right people, so they know!

[2021-08-09 19:17] swathipil commented on #20163
@major, thanks for the feedback and future contribution (again)! Directing it to the right people, so they know!

[2021-08-09 19:18] swathipil commented on #20166
@major, thanks for the feedback and future contribution (again)! Directing it to the right people, so they know!

[2021-08-09 19:20] swathipil commented on #20168
@major, thanks for the feedback and future contribution (again)! Directing it to the right people, so they know!

[2021-08-09 19:20] swathipil commented on #20170
@major, thanks for the feedback and future contribution (again)! Directing it to the right people, so they know!

[2021-08-09 19:23] major opened #20172 "azure-mgmt-policyinsights: LICENSE missing from PyPi"
- **Package Name**: azure-mgmt-policyinsights
- **Package Version**: 1.0.0
- **Operating System**: Linux
- **Python Version**: 3.9.6

**Describe the bug**
The `LICENSE` file is missing from the PyPi package.

**Additional context**
I am making a PR to fix this now.

[2021-08-09 19:30] mccoyp commented on #20153
Hi @G-Gowtham, thanks again for opening an issue! Scopes are described in detail in this [Permissions and consent in the Microsoft identity platform](https://docs.microsoft.com/azure/active-directory/develop/v2-permissions-and-consent) documentation. The scope provided to `get_token` specifies the permissions you want to obtain for a resource. For example, to request a set of permissions for Azure

[2021-08-09 19:37] major opened #20175 "azure-mgmt-rdbms: LICENSE missing from PyPi"
- **Package Name**: azure-mgmt-rdbms
- **Package Version**: 9.1.0b1
- **Operating System**: Linux
- **Python Version**: 3.9.6

**Describe the bug**
The `LICENSE` file is missing from azure-mgmt-rdbms in PyPi.

**Additional context**
I am making a PR to fix this now.

[2021-08-09 19:45] major opened #20177 "azure-mgmt-recoveryservices: LICENSE missing from PyPi"
- **Package Name**: azure-mgmt-recoveryservices
- **Package Version**: 2.0.0
- **Operating System**: Linux
- **Python Version**: 3.9.6

**Describe the bug**
The LICENSE file is missing from azure-mgmt-recoveryservices in PyPi.

**Additional context**
I am making a PR to fix this now.

[2021-08-09 19:50] major opened #20179 "azure-mgmt-recoveryservicesbackup: LICENSE missing from PyPi"
- **Package Name**: azure-mgmt-recoveryservicesbackup
- **Package Version**: 0.14.0
- **Operating System**: Linux
- **Python Version**: 3.9.6

**Describe the bug**
The `LICENSE` file is missing from PyPi for azure-mgmt-recoveryservicesbackup.

**Additional context**
I am making a PR to fix this now.

[2021-08-09 19:55] major opened #20181 "azure-mgmt-redis: LICENSE missing from PyPi"
- **Package Name**: azure-mgmt-redis
- **Package Version**: 13.0.0
- **Operating System**: Linux
- **Python Version**: 3.9.6

**Describe the bug**
The `LICENSE` file is missing from azure-mgmt-redis in PyPi.

**Additional context**
I am making a PR for this now.

[2021-08-09 20:01] major opened #20183 "azure-mgmt-sql: LICENSE missing from PyPi"
- **Package Name**: azure-mgmt-sql
- **Package Version**: 3.0.1
- **Operating System**: Linux
- **Python Version**: 3.9.6

**Describe the bug**
The `LICENSE` file is missing from azure-mgmt-sql in PyPi.

**Additional context**
I am making a PR for this now.

[2021-08-09 20:56] rakshith91 opened #20187 "Monitor Cross language + pre arch changes"
- [x] Rename LogsBatchQueryReques to LogsBatchQuery https://github.com/Azure/azure-sdk-for-python/pull/20192
- [x] Rename batch_query to quer_batch https://github.com/Azure/azure-sdk-for-python/pull/20192
- [x] return a type instead of a list for batch query to avoid breaking changes in future
- [x] consider using a TimeInterval/ DateTimeRange for duration/start/end https://github.com/Azure/azure-

[2021-08-09 21:22] mccoyp opened #20190 "[Core] Update AzureJSONEncoder's datetime format"
Rather than serializing datetimes with a trailing `+00:00` UTC offset, use `Z` as JavaScript's `Date` does in its [`toJSON` method](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Date/toJSON).

[2021-08-09 21:30] Jendker commented on #20044
Thank you for your answer!
I am still getting following error:

[code]
My assumption is that we are using too old API which does not support this functionality (we are using older `azure-mgmt-storage==11.2.0`, otherwise we would need to rewrite a large portion of our interface). Do you know what is the first `azure-mgmt-storage` version which supports this functionality so that I can test if it st

[2021-08-09 21:50] lmazuel commented on #20183
Hi @major

Most of packages are auto-generated from a template system, so I won't accept your PRs since they will be overwritten by the template anyway. Can you PR the template maybe? This would simplify your work.

https://github.com/Azure/azure-sdk-for-python/tree/main/tools/azure-sdk-tools/packaging_tools/templates

Thanks!

[2021-08-09 22:34] major commented on #20183
@lmazuel Thanks for the tip. I saw that code there but I wasn't sure how or when it was used. I'll try doing a PR there instead.

[2021-08-09 22:38] major commented on #20183
@lmazuel I'm new to the templating setup. Could you take a look at #20193 and let me know if this is the right way to do it? Thanks! 🤗

[2021-08-09 23:28] yunhaoling commented on #20086
hey @enoeden, thanks for reaching out and your very detailed analysis.

re "msg lost"/ "delivery already expired msg to client":
- may I ask what's the message receiving and handling pattern that your application code is using -- are you receiving a batch, handling one by one; have you set the prefetch count when creating the receiver?
- The description _the underlying link receive the TRANSFER fr

[2021-08-09 23:33] lesterlitch commented on #19749
To train:

`# configure and submit your training run
from azureml.core import Dataset, Run, ScriptRunConfig, Experiment, Dataset, Run, Workspace
from azureml.core import ScriptRunConfig

input_dataset = Dataset.get_by_name(workspace, name='EXAMPLE', version=1)

script_folder = "./azure_ml_exp"

config = ScriptRunConfig(source_directory=script_folder,
                         script='EXAMPLE.py',

[2021-08-10 01:20] Rodrigossz commented on #19849
Hello @sambyng-msft

We will fix that references. But you can find the documentation and examples of the SDK [here](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/cosmos/azure-cosmos).

Tks

[2021-08-10 02:35] #20179 closed

[2021-08-10 02:37] msyyc commented on #20181
same issue : https://github.com/Azure/azure-sdk-for-python/issues/20183

[2021-08-10 02:38] msyyc commented on #20177
same issue : https://github.com/Azure/azure-sdk-for-python/issues/20183

[2021-08-10 02:38] msyyc commented on #20175
same issue : https://github.com/Azure/azure-sdk-for-python/issues/20183

[2021-08-10 02:38] msyyc commented on #20172
same issue : https://github.com/Azure/azure-sdk-for-python/issues/20183

[2021-08-10 02:38] msyyc commented on #20170
same issue : https://github.com/Azure/azure-sdk-for-python/issues/20183

[2021-08-10 02:38] msyyc commented on #20168
same issue : https://github.com/Azure/azure-sdk-for-python/issues/20183

[2021-08-10 02:39] msyyc commented on #20166
same issue : https://github.com/Azure/azure-sdk-for-python/issues/20183

[2021-08-10 02:39] msyyc commented on #20166
same issue : https://github.com/Azure/azure-sdk-for-python/issues/20183

[2021-08-10 02:39] msyyc commented on #20155
same issue : https://github.com/Azure/azure-sdk-for-python/issues/20183

[2021-08-10 02:40] msyyc commented on #20159
same issue : https://github.com/Azure/azure-sdk-for-python/issues/20183

[2021-08-10 02:40] msyyc commented on #20161
same issue : https://github.com/Azure/azure-sdk-for-python/issues/20183

[2021-08-10 02:40] msyyc commented on #20163
same issue : https://github.com/Azure/azure-sdk-for-python/issues/20183

[2021-08-10 02:43] enoeden commented on #20086
hi @yunhaoling

#### for "receiving and handling pattern",
1. We use one main thread for batch receive msgs with batch size 10 wait time 20sec, and 20 threads will handle the received msg (record some meta to log, sleep(random.randint(20, 30)) )and settle the msg in thread finally.(we sleep here to simulate some workload)

2. The receiver are reused between batch receives and the prefetch count is

[2021-08-10 04:01] v-xuto commented on #16344
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-python/pull/18067 merged.

[2021-08-10 04:01] #16344 closed

[2021-08-10 04:02] #20031 closed

[2021-08-10 06:25] xiafu-msft commented on #18012
Hi @jpvlerbe @isidentical and @Katzmann1983

Thanks for reaching out.
It looks like @tasherif-msft is correct that based on the doc, container properties should be accessed using account SAS instead of service SAS.

Here's what the doc says:
[code]

So just want to make sure that you were using account SAS instead of service SAS when you were trying to access the container properties.

Let me know

[2021-08-10 08:24] BigCat20196 commented on #20108
Hi @Yangsh-w

Please refer to the example of Azure-cli first. Is it the result you want?（https://docs.microsoft.com/en-us/azure/app-service/scripts/cli-deploy-privateendpoint）

I guess you should use `network_client` if you want to add private endpoints. Then use `begin_approve_or_reject_private_endpoint_connection` method.

Here is an example to create a private endpoint:
https://github.com/Azure

[2021-08-10 08:45] Yangsh-w commented on #20108
Thank you @BigCat20196 for updating!

We are now trying to do everything in mgmt SDK only, CLI might be our Plan B.

I suppose you are right about that we need to create private endpoint first and then approve it.

Please allow me some time to test the script and I will keep here updated.

Thanks again!

[2021-08-10 12:13] m-theisen opened #20199 "[Cosmos DB] `enable_cross_partition_query=False` and `...=None` behave differently"
- **Package Name**: azure-cosmos
- **Package Version**: 4.2.0
- **Operating System**: Ubuntu 18.04 (via WSL)
- **Python Version**: 3.8.0

**Describe the bug**
When using a `continuation_token` on a query created by `query_items` setting the keyword-argument `enable_cross_partition_query` explicitly to `False` results in a `ValueError("continuation tokens are not supported for cross-partition queri

[2021-08-10 15:20] dhaiman opened #20200 "Add new properties to Log Analytics SDK"
Please add Log Analytics Workspace missing properties to SDK.
Attaching last PR: https://github.com/Azure/azure-rest-api-specs/blob/56cd4784756e65c303ed7aba007ffa8c7540a587/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/Workspaces.json#L593

Thanks!

[2021-08-10 16:25] yunhaoling opened #20202 "[Schema Registry] Drop python 3.5 and add python 3.9"
classifiers in setup.py and document should mention that 3.5 is no longer supported/add python3.9 support.

- schemaregistry
- schemaregistry-avroserializer

[2021-08-10 16:53] swathipil commented on #9307
https://github.com/Azure/azure-uamqp-python/pull/261

[2021-08-10 16:53] #9307 closed

[2021-08-10 16:53] swathipil commented on #19835
https://github.com/Azure/azure-uamqp-python/pull/261

[2021-08-10 16:53] #19835 closed

[2021-08-10 16:55] swathipil commented on #20199
@m-theisen thanks for your feedback! Routing this to the correct people.

[2021-08-10 17:10] davystrong opened #20206 "MpiStep: Requirement not set"
- **Package Name**: azureml.pipeline
- **Package Version**: 1.33.0
- **Operating System**: Windows 10
- **Python Version**: 3.7.4

**Describe the bug**
When I try to create a pipeline which includes an MpiStep, I get the following error, even though all these parameters are set:

```ValueError: One of the requirement parameters (name, source_directory, script_name, arguments, compute_target, node_

[2021-08-10 17:53] dlepow commented on #19131
@nickomang - Could you please take a look at the broken links on this page? I think the customer's suggestion to fix is correct. Thanks a lot!

[2021-08-10 18:11] #17463 closed

[2021-08-10 19:25] yunhaoling commented on #19642
@andrea-cassioli-maersk , we have fixed the issue in the release 7.3.2, sorry for keeping you waiting.

[2021-08-10 19:25] #19642 closed

[2021-08-10 19:29] yunhaoling commented on #19362
hey @michaelcredera , we have improved the implementation in the release v7.3.2 so that the message count that auto lock renewer could handle is not limited to the max_worker value, sorry for keeping you waiting and please try it out.

however, it is still recommended that a large max_worker or executor of large max_worker is passed in the case that there're many objects to be renewed.

[2021-08-10 19:29] #19362 closed

[2021-08-10 19:44] swathipil commented on #20206
@davystrong thanks for your feedback! Directing this to the right people.

[2021-08-10 20:17] Rodrigossz commented on #19849
We are working on this issue and we already have an internal working item for that. Tks

[2021-08-10 20:17] #19849 closed

[2021-08-10 20:20] chlowell commented on #19989
I'm unable to reproduce this exception using any of the environments described above, so the root cause must be something more subtle. I think the best we can do in azure-identity is to enable a workaround. I've done that in azure-identity 1.7.0b3, which is now available on PyPI. With 1.7.0b3, you can avoid importing pywin32 by not using a persistent cache. I doubt you'll miss anything by doing th

[2021-08-10 20:57] conzyor34 commented on #19600
Here is one way you can monkey patch the client to work around this omission in the SDK. Is there a better workaround?

[code]

The above example will retrieve one day's worth of records for 2021-08-01.

[2021-08-10 21:14] #20092 closed

[2021-08-10 21:27] natbprice opened #20220 "azure-mgmt-batch==16.0.0 Error creating pool with user assigned identity. azure.core.exceptions.HttpResponseError: (InvalidQueryParameterValue)"
- **Package Name**: azure-mgmt-batch
- **Package Version**: 16.0.0
- **Operating System**: Microsoft Windows 10 Enterprise
- **Python Version**: 3.9.0

**Describe the bug**
Unable to create pool with user assigned identity.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a batch account
2. Create a managed identity
3. Attempt to create a pool using user assigned managed identi

[2021-08-10 21:34] lzchen commented on #20200
@swathipil
I believe this is mis-assigned.

[2021-08-10 21:38] swathipil commented on #20200
@lzchen, thanks for the heads up! will look into who should own this.

[2021-08-10 21:40] swathipil commented on #20220
@natbprice thanks for opening the issue! Routing this to the correct people.

[2021-08-10 22:01] #20000 closed

[2021-08-10 22:30] swathipil commented on #20200
@dhaiman - @srnagar has a better idea of who should be able to help you with this.

[2021-08-10 23:09] #19497 closed

[2021-08-11 05:49] msyyc commented on #19131
Hi @scbedd I don't have access to update [docs](https://github.com/MicrosoftDocs/azure-docs-sdk-python/blob/main/docs-ref-services/latest/containerinstance.md). Could you help to update it with right link?

[2021-08-11 08:30] yoramsinger commented on #20200
@dabenhamMic can you please take a look. Thanks.

[2021-08-11 08:34] dabenhamMic commented on #20200
hey @yoramsinger , @dhaiman
please follow these steps:

Open a ticket  [here](https://portal.azure-devex-tools.com/tools/request-api-release)
	a. Check all Languages that you need (Python)
	b.Paste the PR url from swagger update

[2021-08-11 11:30] ca-ultromics commented on #19989
To add to this issue, I am facing the same issue from VSCode when I am loading the azure-identity module:
from azure.identity import DefaultAzureCredential

All this when I am using the debugger form vs code. Once I go to PowerShell 7 terminal and activate the same .venv there is no problem at all to start it (func host start)

In both cases I am following identical steps:

1) .venv\Scripts\python

[2021-08-11 11:33] chrisasa commented on #19989
To add to this issue, I am facing the same issue from VSCode when I am loading the azure-identity module:
from azure.identity import DefaultAzureCredential

All these when I am using the debugger form vs code. Once I go to PowerShell 7 terminal and activate the same .venv there is no problem at all to start it (func host start)
In both cases I am following identical steps:
	1. .venv\Scripts\python

[2021-08-11 11:38] davystrong opened #20222 "Allow passing mount_options to as_mount()"
**Is your feature request related to a problem? Please describe.**
I'm struggling to work with a large FileDataset in Azure ML Pipelines because when I pass the FileDataset to a step `as_mount`, it fills the cache (and the entire disk) and crashes.

**Describe the solution you'd like**
I'd like to be able to pass `mount_options`, specifically `max_size` and `free_space_required`, to `as_mount()`,

[2021-08-11 12:08] Valdeminas commented on #19989
@chlowell using 1.7.0b3 solved the issue.

Thanks!

[2021-08-11 13:14] robert4os opened #20223 "wait_for_completion in environment.py does not wait for 'Queued' state"
- **Package Name**: azure.ml.core.environment
- **Package Version**: 1.33.0
- **Operating System**: Linux
- **Python Version**: 3.6

**Describe the bug**

wait_for_completion in environment,py does not wait for 'Queued' but only a few of all possible states. This is unexpected behavior.
` while status in ('Running', "GettingOrProvisioningACR"):
`
The similar function wait_for_completion on Run imp

[2021-08-11 14:51] swathipil commented on #20222
@davystrong - thanks for the feedback! Sending this over to the right people.

[2021-08-11 14:53] swathipil commented on #20223
@robert4os - thanks for opening an issue! Routing this to the correct people.

[2021-08-11 15:54] kristapratico opened #20225 "[translation] ux study docs feedback"
- [x] ~~revisit `DocumentTranslationInput` naming. Maybe `DocumentTranslationConfiguration` makes more sense?~~
- [x] ~~fix poller.result() docstring to be more doc translation specific and explain that calling it completes the LRO.~~ (docs won't allow this)
- [x] improve docstring for `begin_translation` - format such that the two options for input are numbered like 1) 2) to give a better idea th

[2021-08-11 15:58] kristapratico opened #20226 "[translation] fix poller.details.id"
Our custom poller has two properties added to it:
![image](https://user-images.githubusercontent.com/31998003/129062685-fa6c4d81-6bd3-4d8c-a146-3f26893a2add.png)

We should ensure that along with poller.id, poller.details.id gets populated immediately with the ID from the initial response.

[2021-08-11 16:01] #13502 closed

[2021-08-11 16:23] aaronsmith1234 commented on #19989
Just as a note, importing both of those using the commands above, in a VSCode Powershell terminal activated in my venv, worked fine with no errors, NOT using  1.7.0b3. However, if i then go and run my function in debug mode (F5), I still get the error

[2021-08-11 20:45] Nickomang commented on #19131
The suggestion looks good to me. @scbedd , I opened a PR with the proposed changes, as well as fixes to the other API links in the article. Feel free to merge if it looks good to you, or reach out if you have any questions.

[2021-08-11 22:05] rakshith91 commented on #19942
Kusto doesn't support - will reopen if necessary in far future

[2021-08-11 22:05] #19942 closed

[2021-08-11 23:55] rakshith91 opened #20237 "[query] address pre arch feedback"
https://apiview.dev/Assemblies/Review/5ccb5dc8cc68463cabe6a920587399ed

Address the ffedback here

- [x] remove request_id from logs query request
- [x] async query batch docs issue

[2021-08-11 23:58] rakshith91 commented on #20011
There is no current action - closing this!! to be reopened if necessary

[2021-08-11 23:58] #20011 closed

[2021-08-12 00:02] #16409 closed

[2021-08-12 00:54] chlowell opened #20240 "Use .NET Identity test secrets"
Using the same test secrets as the .NET SDK will simplify maintenance and enable some new tests, e.g. live ones for username/password auth. See https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/tests.yml for the test secrets in question (e.g. `net-identity-username`). Also consider copying the PowerShell script that writes certs to disk (we do similar in `conftest.py`).

[2021-08-12 04:13] 646826 commented on #19974
Hi @seankane-msft, the main idea is to put the archived data from Azure tables in an Azure blob.
I have a realization to backup Azure Tables to Azure Blob.
![image](https://user-images.githubusercontent.com/1565611/129137175-50f371c3-437d-4575-b50c-def9a6aa7432.png)
But I want to improve this process and I am considering different options, example I try to research getting the stream from Azure Ta

[2021-08-12 15:34] OscartGiles commented on #10814
What permissions are required to cancel subscriptions?

I created this role:

[code]

This API endpoint works:
[code]

This one doesn't:
[code]

I get the following error message:

I need to assign a role to a managed identity which can cancel subscriptions but not do anything else.

Strangely giving the role `Action` permission `*` and `notAction` `Microsoft.Subscription/cancel/action` does not s

[2021-08-12 17:17] Vaibhav-Agar commented on #20044
@tjprescott or @RAY-316 do either of you know?

[2021-08-12 17:20] #13292 closed

[2021-08-12 18:01] #19587 closed

[2021-08-12 18:20] dedsec594 opened #20241 ""Failed to open mgmt link" when using custom_endpoint_address in AWS lambda deployment"
- **azure-eventhub**:
- **5.3.0 and 5.6.0**:
- **AWS Lambda**:
- **Python 3.7**:

**Describe the bug**
When running our python script to connect to an eventhub through a custom endpoint it fails. It fails with the error "Failed to open mgmt link: MgmtOpenStatus.Error". The code is run from AWS lambda with a static IP address. The custom endpoint points to an Azure firewall that filters the traffic

[2021-08-12 21:10] alexespencer opened #20245 "View queue, topic and subscription message counts (including scheduled)"
I would like to be able to obtain the active, pending and dead-letter message counts from a queue, topic or subscription

Either via ServiceBusAdministrationClient or the receiver itself?

You used to be able to do this with the old library?

[2021-08-12 21:50] natbprice opened #20247 "azure-data-tables==12.1.0 Batch transaction fails if update mode is set for all transactions"
- **Package Name**: azure-data-tables
- **Package Version**: 12.1.0
- **Operating System**: Microsoft Windows 10 Enterprise
- **Python Version**: 3.9.0

**Describe the bug**
Batch transaction fails if update mode is set for all transactions.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Insert entities with update mode set

[code]

**Expected behavior**
Transactions are successfull

[2021-08-12 23:41] bbkane opened #20249 "Bad dev.office.com link"
Hello,

The link to the Office blog post about MS Graph details is broken ( https://dev.office.com/blogs/microsoft-graph-or-azure-ad-graph )

http://dig.ping.pe/dev.office.com:A:1.0.0.1 :

![image](https://user-images.githubusercontent.com/6081085/129283467-cde13e45-299b-472b-923a-c422ad3a0636.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-08-13 00:06] annatisch commented on #20247
Thanks for the report @natbprice - this is very curious.
I will try to repro in a test ASAP.

[2021-08-13 00:29] ynpandey commented on #19749
@lesterlich Can you please provide the following for further investigation:

- Driver logs
- Job prep/release logs
- Data prep logs
Also, can you provide details of the directories and the files that you used for creating dataset using /** wildcard?

[2021-08-13 01:08] mccoyp opened #20253 "[Key Vault] Add 7.3-preview support for certificates"
Regenerate on https://github.com/Azure/azure-rest-api-specs/commit/7a42f16c75e5005c59b75fe7f0888c1103294d43 and record tests on 7.3-preview.

[2021-08-13 01:09] mccoyp opened #20254 "[Key Vault] Add 7.3-preview support for secrets"
Regenerate on https://github.com/Azure/azure-rest-api-specs/commit/7a42f16c75e5005c59b75fe7f0888c1103294d43 and record tests on 7.3-preview.

[2021-08-13 01:10] mccoyp opened #20255 "[Key Vault] Add 7.3-preview support for administration"
Regenerate on https://github.com/Azure/azure-rest-api-specs/commit/7a42f16c75e5005c59b75fe7f0888c1103294d43 and record tests on 7.3-preview.

[2021-08-13 10:40] yunhaoling opened #20261 "[Event Hubs] Streaming Producer Preview"
- feature design
  - api view
  - gist
- implementation
- preview release

[2021-08-13 10:41] yunhaoling opened #20262 "[Stress Test] Set up stress test framework by following the latest guideline"
- work with the stress v-team to apply to latest changes regarding to stress test framework
https://github.com/Azure/azure-sdk-tools/blob/main/tools/stress-cluster/chaos/README.md
https://github.com/Azure/azure-sdk/issues/3266#event-5170434756

[2021-08-13 12:45] yunhaoling opened #20263 "[AMQP Python] Improve sending performance"
following up item as:https://github.com/Azure/azure-sdk-for-python/issues/19795

[2021-08-13 13:05] #20202 closed

[2021-08-13 14:10] #19795 closed

[2021-08-13 16:04] annatisch commented on #20247
Thanks again @natbprice - this was a great catch!
The bug was that we were incorrectly comparing the `mode` value to the enum such that the string comparison would fail (using `is` instead of `==`).
I have opened a PR with a fix here: #20264
Once that's merged, the fix will ship in the next release in September.
In the meantime, you can be unblocked by using the enum value instead of the string:
[

[2021-08-13 19:39] ckairen commented on #19928
There's a bug in which the smoke test doesn't download the package version that just got released.

Downloaded Version:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1045637&view=logs&j=811de798-cac6-5a82-8dac-ad597ae5b1be&t=299c6ba1-91d4-5571-bc9b-ca88aacc6166&l=133

Published Version:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1045637&view=logs&j=8a59aa26-f

[2021-08-13 21:31] swathipil opened #20276 "[EventHubs] checkpointstoretable: add tests + config necessary envvars"
clean up checkpointstoretable:
- add environment variables for tests: Tables connection string --> look at test-resources.json in Tables
- check to see if MatchConditions.IfNotModified should be passed in  in `_update_ownership` (what is the difference b/w passing [this](https://github.com/Azure/azure-sdk-for-python/blob/c8291ac6cb0dbd865da03a88dd2bcb9279e2c4a6/sdk/tables/azure-data-tables/tests/t

[2021-08-13 23:20] #19603 closed

[2021-08-13 23:22] #16741 closed

[2021-08-14 04:40] tonybaloney opened #20281 "AzureMonitorTraceExporter not creating Exception envelopes"
This example FastAPI application --

[code]

A request to `/bad_page` will raise a `ZeroDivisionError`, which is then added to the request span under the exception attribute.

[code]

However, the Azure Exporter only send the bad request to App Insights, there is no Exception record in the portal

<img width="1444" alt="screenshot 2021-08-14 at 14 39 48" src="https://user-images.githubusercontent.

[2021-08-14 06:57] SeaDude opened #20282 "`azure.data.tables` `query_entities()` JSON example?"
Hello,

I need to create a JSON object or array from the `table_client.query_entities()` response. All of the examples I've found,  use `print()` ([example](https://github.com/Azure/azure-sdk-for-python/blob/c2524442d71320a9e020cf6f8d7f758be86f3fea/sdk/tables/azure-data-tables/samples/sample_query_table.py#L105)):

**Instead of something like:**

[code]

**How do I get a JSON object from the `<cla

[2021-08-14 07:06] SeaDude commented on #20282
This gets close-ish, but returns `timedate` data.

[code]

**Example:**
- `'dl_end_time': TablesEntityDatetime(2021, 8, 10, 0, 23, 19, tzinfo=datetime.timezone.utc)`

[2021-08-14 08:02] #18460 closed

[2021-08-14 16:03] SeaDude commented on #20282
I _think_ this is correct. Found the [Azure Data Table REST API docs](https://docs.microsoft.com/en-us/rest/api/storageservices/query-entities#request-headers) and added the `nometadata` header to a Python SDK request.

[code]

Can someone validate this is the correct way to return clean JSON?

[2021-08-14 16:14] SeaDude commented on #20282
Hm. The above doesn't quite work because one of the columns in the data table is JSON itself.

All of the `"` 's in the column are escaped and not easily parsed.

[code]
To get the nested JSON clean as well, I have to `dump` and `load` the JSON string:

[code]

Is there an easier way to do this?

[2021-08-14 21:50] SeaDude opened #20283 "Which odata operations are available for Azure Data Tables Python SDK?"
I'm having trouble finding information on which odata options are available when building queries for the `table_client.query_entities()` method. For instance, [the SDK docs here](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-data-tables/12.0.0b1/azure.data.tables.html) do not contain the word "odata"!

**This works:**
`query = f"PartitionKey eq '{partition_key}'"`

**This does not:

[2021-08-15 06:09] dabenhamMic commented on #20200
Hi @dhaiman , please follow the above instructions I added.

[2021-08-15 11:13] nisani33 opened #20284 "Find Tenant license"
Hello
how can I find a license for Azure AD?
SubscriptionClient gives me a list of tenants and information, but I can't find the license information,
like I want to know if my Azure use "Azure AD Premium P2 " or "Azure AD Free"

[2021-08-15 20:05] wangchu1 opened #20285 "AZ_BATCHAI_MPI_MASTER_NODE key error when deploying pytorch lightning job"
When following the example in https://github.com/Azure/azureml-examples/tree/main/python-sdk/experimental/using-pytorch-lightning, I ultimately get an error on "AZ_BATCHAI_MPI_MASTER_NODE " key error, meaning the image constructed by the example cannot find the env variable.

I suppose there are recent code changes of sort which breaks the example? If so, how should I update it now? Thanks a lot!

[2021-08-15 20:27] amishra-dev commented on #20157
Thanks for reporting this @Dreamsorcerer (Sam). We are tracking this work as a part of https://github.com/Azure/azure-sdk-for-python/issues/20083

[2021-08-16 08:56] rnestler commented on #20157
I fixed some of the type annotations in https://github.com/Azure/azure-sdk-for-python/pull/20084

[2021-08-16 09:03] mpremus commented on #19600
Thanks for this monkey patch! With this at least we can use SDK instead of plain API.

[2021-08-16 10:47] sharonelemlightspin opened #20288 "The operation api.get in the module azure.mgmt.apimanagement.operations doesn't return all the fields"
- **Package Name**: azure-mgmt-apimanagement
- **Package Version**: 2.1.0
- **Operating System**:linux
- **Python Version**: 3.8.10

**Describe the bug**
Running the api call api.get returns None in several fields even though they are not supposed to be empty (e.g. "subscription_required")

**To Reproduce**
Steps to reproduce the behavior:
1. Create ApiManagementClient
2. Use the client and run th

[2021-08-16 12:44] Gerrit-K commented on #19362
Hey @yunhaoling, I'd like to note here that this change seemed to be the cause of a significant performance degradation we've observed in a couple of our apps where processing times increased from ~1.7s to ~9s per message.

We're running microservices which process one message at a time in a single process. However, since these services run as containers on an AKS with multi-core nodes, python sti

[2021-08-16 13:46] dedsec594 commented on #20241
Can anyone shed some light on this issue?

[2021-08-16 14:53] swathipil commented on #20241
@dedsec594 - thanks for your patience and bringing this to our attention! Directing this to the right people, so they can help you.

[2021-08-16 14:54] swathipil commented on #20241
@dedsec594 Would you be able to add the steps to reproduce the behavior?

[2021-08-16 14:58] swathipil commented on #20249
@bbkane thank you for your feedback, we'll investigate this ASAP!!

[2021-08-16 15:00] swathipil commented on #20282
@SeaDude thanks for your question and updates! Directing this to the right people!

[2021-08-16 15:01] swathipil commented on #20284
@nisani33 thanks for your question! Routing this to the right people who can help!

[2021-08-16 15:05] swathipil commented on #20285
@fate3439 thanks for your feedback - we'll investigate this ASAP!!

[2021-08-16 15:07] swathipil commented on #20288
@sharonelemlightspin thanks for your feedback - we'll investigate this ASAP!!

[2021-08-16 15:21] swathipil commented on #20241
Ah, okay - this is great @dedsec594. Thanks for the additional information! We'll investigate ASAP!

[2021-08-16 15:50] #18798 closed

[2021-08-16 15:58] swathipil commented on #20245
@alexespencer Thanks for your question!

The active, scheduled, and dead-letter message counts are all provided by the `*RuntimeProperties` objects returned by the `list_*_runtime_properties` methods on the `ServiceBusAdministrationClient`.

For example, you can use the [`get_queue_runtime_properties`](https://docs.microsoft.com/en-us/python/api/azure-servicebus/azure.servicebus.management.service

[2021-08-16 16:25] lzchen commented on #20281
Related to: https://github.com/Azure/azure-sdk-for-python/issues/16413

[2021-08-16 17:06] Dreamsorcerer commented on #20157
As another suggestion, it would be a good idea to actually setup mypy as a CI check. I can review PRs or answer questions relating to this if help is needed (I've setup several other projects before).

[2021-08-16 20:42] sodul commented on #11149
We have written a script that deletes the unreferenced older APIs. It does delete a good chunk of the API folders but not all of it. With the script the Azure directory is now just under 300MB instead of over 700MB. It is compatible with most, but not all, third party packages, as long as they do not point to a version that is trimmed.

https://github.com/clumio-code/azure-sdk-trim

[2021-08-16 20:42] sodul commented on #17801
We have written a script that deletes the unreferenced older APIs. It does delete a good chunk of the API folders but not all of it. With the script the Azure directory is now just under 300MB instead of over 700MB. It is compatible with most, but not all, third party packages, as long as they do not point to a version that is trimmed.

https://github.com/clumio-code/azure-sdk-trim

[2021-08-16 22:01] #20150 closed

[2021-08-16 22:01] #19951 closed

[2021-08-16 22:35] 646826 opened #20301 "Character '"' is not valid at position 20 in 'PartitionKey='"A'aaa"_bbbb3',RowKey='"A'aaa"_bbbb3''."
- **Package Name**: azure-data-tables
- **Package Version**: 12.1.0
- **Operating System**: Linux and Windows
- **Python Version**: 3.8

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
`pip install azure-data-tables`
[code]

**Expected behavior**
- I want to create this PartitionKey: "A'aaa\"_bbbb3
- I  want to use this value "A'aaa\"_bbbb3 for rows

**Screenshots**

[2021-08-16 22:43] annatisch commented on #20301
Thanks for the report @646826!
Looking at [the service documentation](https://docs.microsoft.com/en-us/rest/api/storageservices/understanding-the-table-service-data-model#system-properties) - the partition key and row key values here _should_ be valid. So this seems like a bug in the SDK.

Have you tried the same `upsert` operation as a single request rather than a transaction (e.g. `client.upsert

[2021-08-16 23:03] 646826 commented on #20301
I spent a lot of time trying to write/update this data to a table. And I was not completely sure where the problem was, so I tried all possible options. I have added some additional information to the bug, please see above.

[2021-08-17 01:45] v-xuto commented on #17626
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-python/pull/18752 merged.

[2021-08-17 01:45] #17626 closed

[2021-08-17 04:20] yunhaoling commented on #19362
hey @Gerrit-K , I sincerely apologize for the trouble that the change has caused to you and I totally agree upon that the computing resource are precious.

I suspect that the 0.5s is the key factor here as the locker loop is executed as twice faster as before.
Could you help me to verify that if hacking the sleeping time back to 1 would mitigate your issue?

we set the time interval to a shorter v

[2021-08-17 04:37] yunhaoling opened #20305 "[Schema Registry] Caching Policy Design"
https://github.com/Azure/azure-sdk-for-python/issues/13292#issuecomment-884432650
https://github.com/Azure/azure-sdk-for-python/issues/13292#issuecomment-887627150

[2021-08-17 04:42] yunhaoling opened #20306 "[Schema Registry] Avro Serializer auto schema registry"
auto registry a schema when serializing data
check .NET API: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroObjectSerializerOptions.cs#L17

[2021-08-17 04:46] yunhaoling opened #20307 "[Schema Registry] Settle down on models/method return Type"
languages consensus on:

# Methods
- get_schema
  - return: data, class type
    - Schema -> (content, SchemaProperties), SchemaProperties -> (id, version, …)
- get_schema_id
  - return just id or all of the properties or new model class

------------

# Models
- Response type (naming)
  - get_schema_id, return a string / SchemaId (class) / SchemaRepsonse / SchemaProperties
  - get_schema, return

[2021-08-17 04:51] yunhaoling opened #20308 "[AMQP Python] Handling sending throttling"
state{'rejected': [[b'com.microsoft:server-busy', b'The request was terminated because the entity is being throttled. Error code : 50002. Sub error : 102. Please wait 4 seconds and try again. To know more visit xxxxx, SystemTracker:xxxx, Timestamp:2021-08-12T17:35:50', None]]}

[2021-08-17 04:54] yunhaoling opened #20309 "[AMQP Python] Socket timeout"
tls would throw `Transport endpoint is not connected` if socket.settimeout is taking a small value when working in multithread/remote resource case.

[2021-08-17 06:35] RAY-316 commented on #20220
hi @natbprice I think  `user_assigned_identities` in `azure-mgmt-batch==15.0.0` in your sample seems unclear. Can you continue to provide parameters as 15.0.0 because it seems no changes about `identities` in 16.0.0
![image](https://user-images.githubusercontent.com/59104634/129675666-5091d6ed-2151-4b9c-97ef-b589b744905b.png)

[2021-08-17 13:43] natbprice commented on #20220
@RAY-316 Using your example I receive the following error:

[code]

In my original example, I was following the [BatchPoolIdentity Class documentation](https://docs.microsoft.com/en-us/python/api/azure-mgmt-batch/azure.mgmt.batch.models.batchpoolidentity?view=azure-python) where it seems to indicate I should now use `UserAssignedIdentities()`.

[2021-08-17 16:37] ashishkaransingh commented on #19955
Hello,

I spent a lot of time understanding HTTPFunction trigger, integrated with event hub and now trying to consuming it using consumer group with python sdk.

Here when I print event ...
[code]

I see the following output:
**`{ body: '[{"measurement": "v2.analytics.queues.e25798c8-0d`**

Invalid JSON, I already formatted it to go as influxdb compliant format but due to body not double quoted it

[2021-08-17 16:52] #17932 closed

[2021-08-17 16:57] #20261 closed

[2021-08-17 16:58] yunhaoling commented on #19787
https://apiview.dev/Assemblies/Review/58dd36ca07c14a27b93a1003d5595813
https://gist.github.com/yunhaoling/e77dbed3b7bcc8f8c981b3e7a0043582

[2021-08-17 17:19] swathipil commented on #19376
Hi @michaelcredera, thank you very much for your patience on this! I was finally able to reproduce the `ErrorCodes.UnknownError` after creating a servicebus namespace and queue with your configurations. Here is a snippet of the error log, with `uamqp` logging turned on:
[code]

Ultimately, it looks like this final error that is being raised is the `UnknownError` that you encountered, along with th

[2021-08-17 18:16] yunhaoling opened #20312 "[ServiceBus] Improve test stability on Windows"
Windows mock auto lock renewer test fix quite often in these days.  CI/livetest

We should:

- investigate to see if it's an implementation issue
- if not, then tweak the test, e.g. increase time in the test
- also we should consider getting the sleep interval back to 1 to save cpu cycles

[2021-08-17 18:29] scbedd commented on #19131
@Nickomang merged! Next deployment is **tomorrow**. I will close this issue once it verifies on live. Thanks muchly for the PR!

[2021-08-17 18:42] scbedd opened #20315 "Pull in Docs Readme Feedback"
Hey @annatisch @lmazuel can you help route this to the owner of the package?

[This PR](https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/1402) from a PM in ADT has some feedback, but I am noticing that the content actually comes from the snippet. Can we get the package owner to take a look at the feedback here?

[2021-08-17 20:01] yunhaoling commented on #20086
hey @enoeden, thanks for the input. I'll take a closer look into the log.

Is there any chance that you could share the code snippets with me which could reproduce the issue?

[2021-08-17 20:16] danieljurek opened #20319 "Generate and publish daily docs"

[2021-08-17 20:36] scbedd commented on #9862
That didn't help. Waiting on new docs.ms python generator.

[2021-08-17 20:54] yunhaoling commented on #13749
check GA date

[2021-08-17 21:07] annatisch commented on #20282
Hi @SeaDude, thanks for the question!
I think you've generally landed on the best solution - using the `nometadata` header will remove all the deserialization hints from the response, giving us only raw JSON. The way you've implemented it by passing the header directly is the best way to achieve this for now - but we could look at promoting it to an API-level feature.

The second issue you discove

[2021-08-17 21:23] annatisch commented on #20283
Thanks @SeaDude - this is an interesting question....
The Tables service supports a subset of odata queries - the supported operations are documented here:
https://docs.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities

As for the Python SDK, we have query formatting documented in the samples README here:
https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/tables/az

[2021-08-17 21:58] annatisch commented on #20301
Thanks for your patience - I was able to successfully repro this locally. Investigating the cause now :)

[2021-08-17 23:25] esttenorio opened #20327 "When querying metrics using Azure Monitor Query, it doesn't support interval of less than 1 minute"
We are using the [Azure Monitor Query client library](https://docs.microsoft.com/en-us/python/api/overview/azure/monitor-query-readme?view=azure-python-preview) to fetch both Logs and Metrics to create a custom monitoring Dashboard.

For logs, we have no issues since the interval can be defined with `by bin(TimeGenerated, 10s)` in the Kusto query. But for metrics, our team has developed some custo

[2021-08-17 23:32] maorleger commented on #19944
I recommend pinning to commit https://github.com/Azure/azure-rest-api-specs/commit/7a42f16c75e5005c59b75fe7f0888c1103294d43 as this is what we used in JS.

[2021-08-18 00:38] esttenorio opened #20329 "When querying metrics using Azure Monitor Query, specifics filters have to be used instead of getting data from all dimensions"
Whenever querying metrics with [Azure Monitor Query](https://docs.microsoft.com/en-us/python/api/overview/azure/monitor-query-readme?view=azure-python-preview), the metric query must contain filters with specific dimensions to get accurate information.

When using the Portal there is no need of doing filtering 1 by 1, since the user can either apply a filter or use the split feature or both to see

[2021-08-18 02:51] lesterlitch commented on #19749
Hi, these files contain private information I'm not comfortable sharing on Github.

The filepath is simply: "some_directory/**'

It contains two subfolders, on for train and one for test.

In the job prep it shows it is processing a FileDataset, that is is Downloading dataset and successfully downloads as a folder.

I then get a "not a directory error" in python if I don't check the files are ther

[2021-08-18 03:15] enoeden commented on #20086
hi @yunhaoling, thanks for the reply.

[service_bus_debug.zip](https://github.com/Azure/azure-sdk-for-python/files/7004233/service_bus_debug.zip)

The code used to reproduce attached, it's a little messy cause I just rewrite it from our source code tree and we have a wrapper around service bus sdk cause we also need support other platforms like aws sqs.

The credential you need to fill in is marke

[2021-08-18 07:36] BigCat20196 commented on #20054
hi @frrossms , Thanks for the feedback !

We prefer to call the model in the model to fill in the parameters. suah as:
[code]

If you prefer JSON format, please follow the example below:
[code]

Hope this unblocks you

[2021-08-18 07:58] BigCat20196 commented on #20288
hi @sharonelemlightspin, thanks for your feedback !

After investigation, the api operation `get` return type in apimagement is `_models.ApiContract`. And `subscription_required` parameter type  in `_models.apicontract` is bool, not str.

![image](https://user-images.githubusercontent.com/51037443/129859857-17eecf45-120c-43a5-a7b2-4f4a3d86e307.png)

[2021-08-18 08:03] sharonelemlightspin commented on #20288
Hi @BigCat20196
You are right but the problem is not with the type, it's with the key itself. It supposed to be 'properties.ApiContract.subscriptionRequired' but instead it's 'properties.subscriptionRequired'.

[2021-08-18 08:13] BigCat20196 commented on #20288
Hi @sharonelemlightspin
No worries. I was just current why does apicontract need to be placed behind properties instead of in front?

At present, its complete format is `ApiContract.properties.subscriptionRequired`.

[2021-08-18 08:22] sharonelemlightspin commented on #20288
Hi @BigCat20196
I don't know how the format should look like, I just mentioned the way it worked for me.

[2021-08-18 10:31] moselhy opened #20336 "Incomplete Example"
In the last example, the resource group isn't actually deleted, only the 3 container instance groups

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e732e187-7ff4-bd4f-9aad-44953af44a86
* Version Independent ID: d4baa2d6-8f2f-ed76-e890-3240065f485a
* Content: [Azure Container Instances libraries for Python](https://docs

[2021-08-18 10:35] moselhy commented on #20336
https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/1422

[2021-08-18 10:52] SHLGL282 commented on #16035
Hi, I am facing same kind of issue. May I get to know how I can downgrade package to a particular version.
PyJWT ==2.1.0 and want to move to 1.7.1 version.

[2021-08-18 12:54] psp316r opened #20338 "Can't upgrade python azure version from 4.0.0 from 5.0.0"
**When I try the Following Commnad:**
` pip install azure==5.0.0`

**I got the Following Error:**

`Collecting azure==5.0.0
  Using cached azure-5.0.0.zip (4.6 kB)
    ERROR: Command errored out with exit status 1:
     command: '/home/psp316r/PSP316R/5. Programs/Python/DatalakeGen2/venv3/bin/python' -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-sjq05kcp/azure_8

[2021-08-18 13:36] Gerrit-K commented on #19362
Hi @yunhaoling . Thanks for your hint.

Could you help me to verify that if hacking the sleeping time back to 1 would mitigate your issue?

I was honestly a bit sceptic with that being the culprit, as the performance decrease seemed to be too significant for that. I've monkey-patched the sleep time back to 1 and indeed there was no notable change. Only when using more radical values like 5s or mor

[2021-08-18 14:45] MichalAsh58 opened #20339 "azureml mlflow dependency issue"
- **Package Name**: azureml-mlflow
- **Package Version**: 1.33.0
- **Operating System**: linux, ubuntu
- **Python Version**:  3.9

**Describe the bug**

We are trying to install azureml-mlflow using Environment with conda on Docker, and it keeps failing with the attached error.
sample of the error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create custom env with the following d

[2021-08-18 15:34] psp316r commented on #12744
I Tried Follwoing Code, It Didn't work for me
[code]

I got the Following Error:
[code]

[2021-08-18 15:37] annatisch commented on #20301
Okay - I have found the cause for this. It's the single quote character `'`, the service requires that this be escaped via duplication.
For example, the entity you have in your example:
[code]
When sent over the wire, would need to be formatted like this:
[code]
This is working correctly for deserialization, but not serialization.
I will PR a fix this week to ship in the September release.

[2021-08-18 15:51] lmazuel commented on #18927
@olsaal-msft @ShilpiGautam I'm sorry but this is a Swagger definition issue, that should define the `x-ms-pagable` annotation. `nextLink` is NOT a public parameter in SDK, this is a hiden one based on the `x-ms-pagable` definition in the Swagger. Since the Swagger authoring is owned by service team, please fix the Swagger and add the correct `x-ms-pagable` annotation when needed. When Swagger is f

[2021-08-18 16:02] #20153 closed

[2021-08-18 16:08] psp316r commented on #12744
Even this is giving the same error:
[code]

[2021-08-18 17:08] achiaver commented on #8002
Has this issue been solved?
In case positive, what is the outcome?

[2021-08-18 17:42] swathipil commented on #20276
sync up with Chris on timeline so we can release with JS

[2021-08-18 18:10] chlowell commented on #19989
Thank you everyone for contributing so much detail here. To summarize:

- this issue affects Azure Functions development on Windows
- pywin32 is a transitive dependency of azure-identity used to implement a persistent cache (on Windows)
- pywin32 asserts that one of its modules is loaded exactly once (see its code [here](https://github.com/mhammond/pywin32/blob/master/win32/Lib/pywintypes.py))
- T

[2021-08-18 18:30] lmazuel commented on #19389
Closing, since I don't see regular failure anymore. If not ok, please re-open @rakshith91

[2021-08-18 18:30] #19389 closed

[2021-08-18 18:37] lmazuel commented on #20338
Hi @psp316r

As stated in the error message, we stopped maintaining the `azure` package, and we made the v5.0.0 failing at install time on purpose, to be sure there is no ambiguity that the package is not providing any value to customers.
You can stick to v4.0.0, or as explain in the error message install packages you need individually.
Thans,

[2021-08-18 18:37] #20338 closed

[2021-08-18 19:12] maryamag85 commented on #16375
Hi , I have an issue similar to this one. When I want to connect to blobstorage (following code)  in AML I get the following error :

from azureml.data import OutputFileDatasetConfig
ws = Workspace.from_config()
output = OutputFileDatasetConfig(destination=(blob_datastore, 'unzip'))

TypeError: expected str, bytes or os.PathLike object, not OutputFileDatasetConfig

I am following the reference "ht

[2021-08-18 21:31] rakshith91 opened #20347 "add a test for timeout = 10 mins and make sure azure core is working along with this"

[2021-08-18 21:52] dmarx commented on #19960
Please re-triage this as a bug...

[2021-08-18 23:41] ericthomas1 commented on #13826
Faced this same issue due to the fact I was passing _both_ the connection string and credential to create the initial `BlobServiceClient`.

**Was:**

[code]

**Removed credential to only use conn string:**

- This worked

[code]

[2021-08-19 04:41] chingzchen opened #20351 "azure-synapse-artifacts has bug in create_pipeline_run method"
- **azure-synapse-artifacts**:
- **0.7.0**:
- **ubuntu:16.04**:
- **Python Version: 3.6**:

**Describe the bug**
when call the create_pipeline_run method.
the pipeline can be trigger successfully but will raise an exception in sdk based on [code]
(https://github.com/Azure/azure-sdk-for-python/blob/c8291ac6cb0dbd865da03a88dd2bcb9279e2c4a6/sdk/synapse/azure-synapse/azure/synapse/artifacts/aio/operat

[2021-08-19 04:48] yunhaoling commented on #19362
hey @Gerrit-K , I took a closer look and think it might be the dispatcher worker that's adding the performance overhead.

so basically when max_worker > 1, there's (1) one dispatcher worker thread which keeps checking the queue tasks, while (2) renew worker threads doing the real new lock work.

The dispatcher thread didn't sleep while keep pumping the queue which seems to be the bottleneck here.

[2021-08-19 11:51] Gerrit-K commented on #19362
Hi @yunhaoling indeed that seems to be the culprit 👍  Now that I look at it again I'm wondering how I could _not_ spot that ... I guess my attention was solely drawn towards the inner loop instead of the outer one. Anyhow, a simple `sleep` as you've proposed does the trick.

[2021-08-19 15:54] yunhaoling commented on #19362
hey @Gerrit-K , thanks for the confirmation.

I have a PR out for that, let me do some more test with it making sure lock renew works properly with this extra sleep.
https://github.com/Azure/azure-sdk-for-python/pull/20352

and if it's working fine, I will do a release for the improvement.
apologize again for the trouble that it's causing to you.

[2021-08-19 16:15] yunhaoling opened #20354 "[ServiceBus] Improve Sync AutoLockRenewer to save CPU cycles"
According to: https://github.com/Azure/azure-sdk-for-python/issues/19362#issuecomment-899479641

in the latest implementation of the sync autolockrenewer, there's a one dispatcher thread keeping pumping tasks from queue. It's consuming CPU cycles when there's no much tasks in the queue.

We should seek for improvement to save cpu cycles.

[2021-08-19 16:44] mccoyp opened #20355 "[Test Proxy] Make AzureRecordedTestCase.add_sanitizer a static or module-level method"

[2021-08-19 16:48] xiangyan99 commented on #20351
Thanks for reporting the issue.

The code under sdk/synapse/azure-synapse folder is deprecated.

The latest code is under https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/synapse/azure-synapse-artifacts.

In the code, I see  https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/v2020_12_01/aio/operations/_pipeline_operations.

[2021-08-19 16:50] xiangyan99 commented on #20327
Thanks for the feedback, we’ll investigate asap.

[2021-08-19 16:51] xiangyan99 commented on #20329
Thanks for the feedback, we’ll investigate asap.

[2021-08-19 16:52] xiangyan99 commented on #20336
Thanks for the feedback, we’ll investigate asap.

[2021-08-19 16:53] xiangyan99 commented on #20339
Thanks for the feedback, we’ll investigate asap.

[2021-08-19 17:04] lonico opened #20356 "azure-mgmt-netapp: Operation: 'Change Ownership' is not permitted when creating NFSv4.1 volume"
- **Package Name**: azure-mgmt-netapp
- **Package Version**: 4.0.0
- **Operating System**: linux
- **Python Version**: 3.7

**Describe the bug**
It is not possible to successfully create a NFSv4.1 volume using the new version of the SDK, if the change ownership mode feature is not enabled.  The volome is created but fails to create a mount point and reports
[code]

NFSv4.1 requires to create an Ex

[2021-08-19 17:05] mccoyp commented on #19158
For reference: to run mypy for a package (e.g. `azure-keyvault-certificates`), run
`mypy --exclude _generated --ignore-missing azure`
from the top of the package -- in this case, from `azure-sdk-for-python/sdk/keyvault/azure-keyvault-certificates`

[2021-08-19 17:43] natbprice commented on #20220
@RAY-316 Let me know if you need anything else from me to reproduce this bug.

**Relevant change in docs:**
[16.0.0 docs azure.mgmt.batch.models.BatchPoolIdentity](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-mgmt-batch/16.0.0/azure.mgmt.batch.models.html#azure.mgmt.batch.models.BatchPoolIdentity)
[15.0.0 docs azure.mgmt.batch.models.BatchPoolIdentity](https://azuresdkdocs.blob.cor

[2021-08-19 17:45] jaylabell commented on #19644
@avirishuv can you take a look at this issue?

[2021-08-19 17:53] swathipil commented on #20245
@alexespencer - You mentioned that you were able to find the active, scheduled, and dead-letter message counts in the "old library". Out of curiosity, were you referring to `azure-servicebus==0.50.3` or a different version? This would be useful to know so that we can update our [migration guide](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/servicebus/azure-servicebus/migration_guide

[2021-08-19 18:08] alexespencer commented on #20245
Yes, that is correct. I also checked through the examples you have in the
git repo (like receiving / sending etc) and there isn't an example that
does this. So that could help too?

On Thu, 19 Aug 2021, 18:53 swathipil, ***@***.***> wrote:

[2021-08-19 18:17] avirishuv commented on #19644
hi @kristapratico , were you able to investigate this - would you mind providing an update? Thanks!

[2021-08-19 18:23] swathipil commented on #20245
Very helpful to know, thanks!

[2021-08-19 19:51] avirishuv commented on #19644
hi @wessm the naming in the underlying APIs is inconsistent: https://docs.microsoft.com/en-us/rest/api/compute/virtual-machine-scale-set-vms/list and https://docs.microsoft.com/en-us/rest/api/compute/virtual-machine-scale-sets/create-or-update
Unfortunately we will not be able to change the naming in the APIs at this point, as it will be a breaking change.

Agree with you suggestion going forward.

[2021-08-19 19:51] #19644 closed

[2021-08-19 20:05] hugoaponte commented on #20339
Hello,

Thanks for the detailed logs, repro and information.

azureml packages don't support python 3.9. I was able to create an environment using the deps you provided, except I set python to 3.8.

Will this work for your scenario?

Thanks,

Hugo

[2021-08-19 22:46] yunhaoling commented on #19955
hey @ashishkaransingh , could you call [EventData.body_as_str()](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/eventhub/azure-eventhub/azure/eventhub/_common.py#L345) to check the content of the event instead of just `str(event)`?

or you could call [EventData.body_as_json()](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/eventhub/azure-eventhub/azure/eventhub/_common.py

[2021-08-19 22:52] catalinaperalta opened #20362 "[formrecognizer] Add v3 document analysis methods"
Add omnibus methods for document analysis in `sync` and `async` clients.
Also add the `_from_url` methods that correspond to each.

[2021-08-19 22:55] #20362 closed

[2021-08-19 23:01] mccoyp opened #20363 "[Key Vault] Parameterize tests for administration"
In a spirit similar to other KV packages, run administration tests against all API versions. This will require some refactoring of how we fetch endpoint and credential configuration in these tests.

[2021-08-20 07:46] Gerrit-K commented on #19362
@yunhaoling no worries! Our automated tests caught this one pretty quickly, so we didn't have a big impact - just some confusion 😉  Glad we could be of help detecting this!

[2021-08-20 07:55] pyprateek opened #20371 "Azure python api calls gets stuck sometimes for a long time"

[2021-08-20 08:04] pyprateek opened #20372 "Azure python api calls gets stuck sometimes for a long time"
I observed that sometimes the azure python api calls gets stuck for a long time (about 30-40 mins) and sometimes it is completed in 1-2 mins.
I noticed this mostly for detach disk and attach disk operations.

Attaching the code snipped used:
[code]
For detach disk operation, I check the VM status in the Azure portal and the disk was in detaching state for a long time.

Can someone see what the iss

[2021-08-20 09:17] #20187 closed

[2021-08-20 16:43] xiangyan99 commented on #20356
Thanks for the feedback, we’ll investigate asap.

[2021-08-20 16:46] xiangyan99 commented on #20371
Thanks for the feedback. Could you give more information?

e.g. which API did you call? which Python version did you use? Any repro steps? etc.

Thanks.

[2021-08-20 16:47] xiangyan99 commented on #20371
Seems like this is a dup issue of #20372

[2021-08-20 16:47] #20371 closed

[2021-08-20 16:48] xiangyan99 commented on #20372
Thanks for the feedback, we’ll investigate asap.

[2021-08-20 19:14] benbp opened #20375 "Packages should be installed as a sanity check after release"
Currently this is only done for packages that exist in smoke-tests, but it would be better to do it for every package release.

[2021-08-20 19:51] #20255 closed

[2021-08-20 19:52] #19944 closed

[2021-08-20 19:53] benbp commented on #19928
Related to the bug fix:

We should understand more deeply why we are seeing a pip install delay, and verify if we can reproduce it locally (CC @scbedd for local scripting help). If we can't repro it locally, as is predicted, then we should figure out the difference, as adding a 10 minute delay to the release pipeline is something we should avoid if possible.

[2021-08-20 20:52] chlowell commented on #19363
`DefaultAzureCredential` also takes an optional `authority`:
[code]

Another option is to set environment variable AZURE_AUTHORITY_HOST. All credentials with configurable tenants (i.e. not `AzureCliCredential` or `AzurePowerShellCredential`) will observe that value.

[2021-08-20 20:53] seankane-msft commented on #19363
Issue was addressed.

[2021-08-20 20:53] #19363 closed

[2021-08-20 23:11] #13540 closed

[2021-08-20 23:18] esttenorio opened #20378 "ApplicationInsights does not work out of the box when using ClientSecretCredentials"
- **Package Name**: azure-applicationinsights
- **Package Version**: 0.1.0
- **Operating System**: Linux
- **Python Version**: 3.8.7

**Describe the bug**
The applicationInsights client requires:
- the identity credential must have a signed_session (that is missing from the azure.identity.ClientSecretCredential) so a [wrapper](https://gist.github.com/lmazuel/cc683d82ea1d7b40208de7c9fc8de59d) has t

[2021-08-20 23:58] #19167 closed

[2021-08-23 06:49] MichalAsh58 commented on #20339
Thanks @hugoaponte! It actually worked well

[2021-08-23 08:03] psp316r opened #20383 "Issue in Appending to the Blobs in Python"
I am trying to the Append to the Blobs if the Blob already exist, but from the below code I can only create a file, but can't append to the existing blob.

[code]

I have tried to append using below code, but I think I am using wrong syntax from azure

[code]

[2021-08-23 11:44] psp316r commented on #20383
Issue, Solved by using following code snippet:

[code]

[2021-08-23 11:44] #20383 closed

[2021-08-23 15:32] xiangyan99 commented on #20378
Thanks for the feedback, we’ll investigate asap.

[2021-08-23 16:44] frrossms commented on #20054
Ah, it's not flattened in the Swagger definition. Got it.
________________________________
From: Jiefeng Chen ***@***.***>
Sent: Wednesday, August 18, 2021 12:36 AM
To: Azure/azure-sdk-for-python ***@***.***>
Cc: Frederick Ross ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-python] Role assignment creation fails (#20054)

hi @frrossms<https://nam06.safelinks.protection.outloo

[2021-08-23 17:59] scbedd commented on #19131
Confirming fixed on live. Closing this issue.

[2021-08-23 17:59] #19131 closed

[2021-08-23 20:00] swathipil commented on #20307
- what is new model class in `methods: get_schema_id`?

[2021-08-23 20:56] saikothakapu opened #20388 "Generic credentials for outlook 365 and route attachments from outlook 365 emails to a azure storage account"
Currently , In one of our project we created a dashboard which is scripted in python and all the code is running in a local machine. In this dashboard, it consumes data from excel files which are shared as attachments in an outlook personal email.
For connecting to outlook emails and fetch attached excel files, we are using personal credentials which we wanted to avoid.
Can someone please help us

[2021-08-23 21:29] YalinLi0312 commented on #20388
Thanks for the feedback, we'll investigate asap.

[2021-08-23 21:54] mccoyp commented on #20388
Hi @saikothakapu, thank you for opening an issue! The Storage team has been looped in to help you with anything on the SDK front, but it sounds like your question is mostly about creating a certain kind of Outlook account. To determine how we can best help, it would be great to know if you're having any Azure SDK-specific issues, or if this is Outlook-specific. It may be a good idea to contact sup

[2021-08-23 22:10] saikothakapu commented on #20388
thanks @mccoyp , I have posted the question in outlook forum.

[2021-08-23 23:04] #18970 closed

[2021-08-24 02:00] swathipil commented on #20241
Hi @dedsec594 - I apologize for the lack of updates this past week! I am working on reproducing this issue so I can track down what the root problem might be. This is currently my number one priority, so I'm hoping I can have some sort of answer to you soon. Thank you for your patience!

[2021-08-24 08:02] #19936 closed

[2021-08-24 08:52] mlnewbie987 opened #20397 "use of speechsdk.ResultReason.RecognizedSpeech"
what is the use of speechsdk.ResultReason.RecognizedSpeech

[2021-08-24 14:45] ColtAllen opened #20399 "[Key Vault] 'TypeError: string indices must be integers' Raised During Retrieval"
- **Package Names**:  azure-keyvault-keys (v4.4.0) & azure-keyvault-secrets (v4.3.0)
- **Operating System**: Cloud AzureML Service
- **Python Versions**: 3.6.9 & 3.8.1

When attempting to retrieve KeyVault keys or secrets using either the SecretClient() or KeyClient() method in an AzureML Notebook, the following error trace is returned:

[code]

This type of error is usually raised whenever a list

[2021-08-24 17:39] #20226 closed

[2021-08-24 18:32] swathipil commented on #20241
@dedsec594 I have a few updates.

1) Would you be able to turn on the uamqp logging and share the logs? You can do so by adding the snippets of code shown here: https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/eventhub/azure-eventhub#logging . This will show us the network trace and might help us find the underlying issue.

2) The custom endpoint feature has actually only been tested wi

[2021-08-24 18:44] dedsec594 commented on #20241
We are working on that now as we speak. Ill let you know when we have logs. As to the firewall issue, it does work through the firewall already. That is when we run the code locally on our computers and not in AWS Lambda. It only fails when running from the Lambda.

[2021-08-24 18:46] #20225 closed

[2021-08-24 19:18] dedsec594 commented on #20241
4T19:06:09.521Z    b73cd47d-29db-464c-9e0d-f0602deccf82    Auth closed, destroying session on connection: b'fc1d766a-027a-4663-8858-f50599491f84'.
[INFO]    2021-08-24T19:06:09.521Z    b73cd47d-29db-464c-9e0d-f0602deccf82    Finished shutting down CBS session on connection: b'fc1d766a-027a-4663-8858-f50599491f84'.
[INFO]    2021-08-24T19:06:09.521Z    b73cd47d-29db-464c-9e0d-f0602deccf82    b'send

[2021-08-24 19:48] amjads1 commented on #20372
@jaylabell Could you please look into the issue?

[2021-08-24 20:02] JorickvdHoeven commented on #19277
I see the same issue. My workaround is slightly different, instead of using strings I cast as int and then convert to datetime:

df['Date_col'] = pd.to_datetime(df['Date_col'].view(int) * 1_000_000_000)

The multiply by 1_000_000_000 is due to the default datetime bing in ns if you used  allow_truncated_timestamps=True, engine='pyarrow' and coerce_timestamps ='ms' when writing the parquet file, th

[2021-08-24 20:48] rakshith91 opened #20403 "Arch Feedback"
- [x] Get rid of logsbatchqueryresult
- [x] create a row object type - should be gettable by both col name and index
- [x] ErrorInfo must comeback

[2021-08-24 21:26] swathipil commented on #20241
Thanks for the logging! It looks like there are issues with establishing the initial connection.
Usually, if things are working locally but not in Azure Functions/AWS Lambda, it is due to some inbound/outbound networking configurations. Do you think there might be any rules/configurations for your Lambda that might be causing issues here?

[2021-08-24 21:48] #17918 closed

[2021-08-24 22:16] maorleger opened #20404 "Dynamically deploy attestation service as part of test-resources deployment"
Now that we have a docker image for the attestation service we should migrate away from the statically deployed skrattestation service as per the [guidelines](https://azure.github.io/azure-sdk/general_implementation.html#general-testing-5)

To do so:

1. Take a look at the updated ARM template in this PR as a baseline https://github.com/Azure/azure-sdk-for-js/pull/16848/files#diff-4508ff3a068d9732

[2021-08-25 08:33] rnestler commented on #20083
@xiafu-msft any update on this? Also https://github.com/Azure/azure-sdk-for-python/pull/20084 is still open.

[2021-08-25 13:07] dedsec594 commented on #20241
Our lambdas are set to deny all inbound connections and allow all outbound connections. Nothing more specific than that.

[2021-08-25 13:58] michaelcredera commented on #19376
Hey @swathipil, nice find! I'll try with your code and see if I can get the same error message.

[2021-08-25 14:32] michaelcredera commented on #19376
The below snippet shows my logs with your script - My reading of this log is that connections get throttled until something (race condition?) causes the client to reach an inconsistent state in its error handling. The 500/internal server errors are interesting mixed in with the throttling errors. It's also interesting that the coroutines are all competing with each other.

One thought in addition

[2021-08-25 15:27] Dany9966 opened #20413 "Can't instantiate BlobServiceClient using AzureStack storage account"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.8.1
- **Operating System**: Ubuntu Bionic (18.04-LTS)
- **Python Version**: 3.6.9

**Describe the bug**
Trying to instantiate a `BlobServiceClient` with a storage account created on local AzureStack throws the following error:
`ValueError: Unable to determine account name for shared key credential.`

The account endpoint looks like t

[2021-08-25 16:21] rakshith91 commented on #20327
Hi @esttenorio , an interval of less than 1 minute is not supported by the service team currently, but i have relayed this request to them. Will update you as soon as i have more details.

[2021-08-25 20:15] MartinKosicky opened #20417 "LogsQueryClient should be able to handle platform logs"
Hello, I am trying to use the LogsQueryClient from azure.monitor.query. The API however always requests that I use workspace_id. I have an elastic pool with 100 databases, and I want to query their "Logs" so I would rather need the https://api.loganalytics.io/v1/subscriptions/... instead of https://api.loganalytics.io/v1/workspaces/...  . Are there any plans for that? or is there already a mitigat

[2021-08-26 09:42] mebibou opened #20427 "Exception: ModuleNotFoundError: No module named '_cffi_backend'"
- **Package Name**: azure-blob-storage
- **Package Version**: 12.8.1
- **Operating System**: Azure Function App
- **Python Version**: 3.6

**Describe the bug**

When running the function app, this error is thrown:
[code]

**To Reproduce**
I have set this in `requirements.txt`:
[code]

I am deploying the function via github Actions like this:
[code]

Strangely, if I deploy the function from my mac

[2021-08-26 13:32] JochemBoersma opened #20430 "Converting tier for all blobs in container to Archive"
Converting tier for all blobs in a container works when swapping from 'Hot' to 'Cool' and vice versa. However: Change tier towards 'Archive' gives following error:
[code]
Converting these blob-by-blob, using the BlobClient works, so I could work around, but couldn't point the above error.

Regards, Jochem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-08-26 17:02] tjprescott opened #20432 "Search: Add Skill Versions"
Add a version field to disambiguate between the original (V1) and V3 versions of EntityRecogntion and Sentiment skills, similar to Java and .NET.

[2021-08-26 17:30] scbedd opened #20433 "Azure Core 3.10-rc1 Test Failures"
[Test Failures](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1066475&view=ms.vss-test-web.build-test-results-tab)

Steps for repro:

[code]

@xiangyan99  I am working on getting `azure-identity`, `azure-storage` and `azure-keyvault` working in the same build. It is super duper finicky given the incomplete map of packages that have released for 3.10.

[2021-08-26 17:35] marincon-sarmiento opened #20434 "azure-storage-file-datalake not able to work with Append Blobs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I am trying to work with Append Blobs on Data Lake Gen 2 because my case requires me to write incoming telemetry into files stored on Data Lake storage account. Although, I am able to create Append Blobs manually from the portal, and this p

[2021-08-26 17:54] scbedd opened #20435 "Split docker publish task into individual tool publications"
We want to avoid deploying a docker image if there have been no functional changes.

Easiest way to do this is to simply split `containers/ci.yml` into tool specific docker publish jobs.

[2021-08-26 18:10] #20435 closed, assigned to scbedd

[2021-08-26 18:20] danieljurek opened #20436 "Docs should show preview packages under "Latest" in addition to "Preview" if there is no GA version"
Customers visiting a docs page for the first time may not know to go to the "Preview" moniker to see docs for a preview package. This can be especially confusing in situations where the package in question only has preview versions and no GA versions. If the user doesn't immediately see the package they are searching for under the "Latest" moniker they may incorrectly conclude that package documen

[2021-08-26 23:28] skylaro opened #20438 "Add AES-GCM cipher to azure-blob-storage"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
AES-CBC-256 encryption is appearing as a security vulnerability and AES-GCM-256 is required in its place.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Add AES-GCM-256 algorithm to https:/

[2021-08-27 09:25] Marco-Santoni opened #20442 "ServiceBusError Handler failed when messages are sent repeatedly"
- **Package Name**: azure-servicebus
- **Package Version**: 7.2.0
- **Operating System**: linux
- **Python Version**: 3.9

**Describe the bug**
We run an Azure Function that writes messages to a Service Bus topic. We reuse the Service Bus client among function executions. When we encounter a peak of executions, we are having `ServiceBusError` that say that handler failed.

**To Reproduce**
Steps t

[2021-08-27 19:52] NGeorgescu opened #20447 "blob store upload times out, adjusting 'timeout' parameter does nothing."
- **Package Name**: azure-storage-blob
- **Package Version**: 12.8.1
- **Operating System**: Arch Linux (I use Arch BTW)
- **Python Version**: 3.8.11 (installed from python38 in AUR)

**Describe the bug**
The connection times out when running an upload on a 43.4 MB csv file (which uploads in the portal just fine almost instantly). The command ignores the timeout keyword (put 1 in there or 10000 or

[2021-08-28 08:02] #20131 closed

[2021-08-28 08:30] v-xuto commented on #13397
@lmazuel for notification.

[2021-08-28 08:30] v-xuto commented on #13400
@lmazuel for notification.

[2021-08-28 08:30] v-xuto commented on #13401
@lmazuel for notification.

[2021-08-30 07:04] #20262 closed

[2021-08-30 09:04] pyprateek opened #20452 "Getting circular import error for discovering availability sets"
I am getting the following error while discovering availability sets:
`Exception occurred in get_avail_sets: cannot import name 'AvailabilitySetsOperations' from partially initialized module 'azure.mgmt.compute.v2021_03_01.operations' (most likely due to a circular import) (/opt/VRTSitrptpcims/python-virtual-environments/azure/lib/python3.9/site-packages/azure/mgmt/compute/v2021_03_01/operations/_

[2021-08-30 09:05] pyprateek commented on #20372
Any update on this

[2021-08-30 12:22] mycloudops opened #20455 "Azure Python SDK QueueClient Error"
I installed azure.queue.storage 1.4.0 but while I'm trying to import QueueClient I'm getting the below error:

from azure.storage.queue import QueueClient
ImportError: cannot import name 'QueueClient'

[2021-08-30 17:32] amishra-dev commented on #20430
@JochemBoersma
Hi Jochem,
The error means that some of the batch operations failed. Can you look at the response from set_standard_blob_tier_blobs to see which ones failed. The detailed response will have the details. If you still need help after that please feel free to paste the errors here and we can help.

Thanks
/cc @xiafu-msft (if we have a sample to share that shows how to print the output

[2021-08-30 17:39] #20312 closed

[2021-08-30 17:39] #20354 closed

[2021-08-30 17:41] yunhaoling opened #20458 "[EventHubs] One EventHub Producer design discussion for BufferedProducer"
gist: https://gist.github.com/yunhaoling/c86e38abb6421537a1a543ac11c5fb3e

[2021-08-30 17:57] #20237 closed

[2021-08-30 17:57] rakshith91 commented on #20347
Case covered in #19254

[2021-08-30 17:57] #20347 closed

[2021-08-30 18:00] iscai-msft opened #20459 "[rest] add back in iter_text and iter_lines"
We currently have removed iter_text and iter_lines until we can safely add them back. We want to add them back preferably before we GA `azure.core.rest`

[2021-08-30 18:01] iscai-msft commented on #20459
deleted code:

[code]

[2021-08-30 18:13] dedsec594 commented on #20241
Our engineer found this GitHub issue which may also be linked to the same problem. Wanted to share in case it brought any light to the situation.

https://github.com/Azure/azure-c-shared-utility/issues/428

[2021-08-30 18:31] swathipil commented on #20306
in JS: https://github.com/Azure/azure-sdk-for-js/blob/dc6d4243ce4a3a66043ae39979fc047e940f833e/sdk/schemaregistry/schema-registry-avro/src/schemaRegistryAvroSerializer.ts#L55
in Java: https://github.com/Azure/azure-sdk-for-java/blob/321addf8fbfff0866cbdd2806455d51247799035/sdk/schemaregistry/azure-data-schemaregistry-avro/src/main/java/com/azure/data/schemaregistry/avro/SchemaRegistryAvroSerialize

[2021-08-30 19:21] Jendker commented on #20044
Just wanted to remind about this issue @tjprescott @RAY-316

[2021-08-30 20:33] scottaddie opened #20461 "Incorporate Monitor Query Beta 4 UX study feedback"
Tracking issue to update the next release to incorporate Beta 4 UX study feedback.

Action items:

- [x] #20870
  ![image](https://user-images.githubusercontent.com/10702007/131401519-9de5ea2a-c9f6-49fe-8f26-e7d2bf46c2bc.png)
- [x] In the _README_ file, document the ordering of the results when querying multiple metric names. For example, if I query "SuccessfulCalls" and another metric name, which

[2021-08-30 21:27] swathipil commented on #20241
@dedsec594 thanks for linking this issue. I'm working on adding certs to my deployed function so that I can test just the Azure Application Gateway, without an Azure Firewall. Have you tested the solutions proposed in the linked issues to see if this is actually the problem?

[2021-08-30 23:40] swathipil commented on #20241
@dedsec594 I just tested running the sample with the Application Gateway as the custom endpoint and it was successful. I also took a look at the issue that you linked, and it looks like that issue addressed here. https://github.com/Azure/azure-uamqp-python/issues/167

Were you able to try this? https://github.com/Azure/azure-sdk-for-python/issues/16816#issuecomment-782133443

[2021-08-31 01:47] rakshith91 commented on #19490
Confirmed OdataV4Error works

[2021-08-31 01:47] #19490 closed

[2021-08-31 02:01] rakshith91 commented on #17661
Hi @pmbrull  - Would you be able to check if the recursion is still occurring without opencensus? I don't see which part of OC exporter would cause a recursion.

we are not able to reproduce the issue on our end

[2021-08-31 02:06] lzchen commented on #17661
@pmbrull
Can you try removing the `tracer =` line? Just leave the `config_integration` line for `requests` and see if the issue is reproducible.

[2021-08-31 04:01] yunhaoling commented on #20086
@enoeden sorry for keeping you wait for so long and I finally got some time to check the code/logs.

----------------

I've read your code which looks good to me.
Also I've read into the logs and I could observe the keep attemping refreshing token pattern.

-----------------

1. underlying network error

- The error code "4" literally means [underlying network error](https://github.com/Azure/azure

[2021-08-31 04:02] #20054 closed

[2021-08-31 04:05] yunhaoling commented on #19777
hey @miroag , no worries, I will try creating receiver + receive one msg in the while loop in my test scripts.

[2021-08-31 06:40] xiafu-msft commented on #20447
Hi @NGeorgescu

Thanks for reaching out.
Setting service timeout probably cannot help in this case, since service has their max timeout even you set it to a pretty large one.
Can you please try to set max_single_put_size=4*1024*1024 and see if it helps?
`blob_client.upload_blob(data,overwrite=True, max_single_put_size=4*1024*1024)
`
let me know if it still doesn't work!

[2021-08-31 09:31] v-xuto opened #20471 "Monitor Query readme and samples issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/monitor/azure-monitor-query#batch-logs-query):
![image](https://user-images.githubusercontent.com/57166602/131980094-a0e1f254-0795-439b-a775-f9e706ac421d.png)
![image](https://user-images.githubusercontent.com/57166602/131980541-78e52e7a-423a-4b2a-b103-247211f89814.png)

Reason2,3:
ImportError: cannot import name 'LogsQu

[2021-08-31 13:12] IrangaSubasingheMSFT opened #20472 "List_metrics method's Filter needs Timgrain within"
https://docs.microsoft.com/en-us/python/api/azure-mgmt-cosmosdb/azure.mgmt.cosmosdb.operations.databaseaccountsoperations?view=azure-python#list-metrics-resource-group-name--account-name--filter----kwargs-

When customer uses the Python Azure SDK to get the metrics associated with the Cosmos DB account/Database, the filter needs to have the Timegraing included. Otherwise, it throws HTTP 400 error.

[2021-08-31 15:24] JorickvdHoeven commented on #19277
I kept, digging, and even easier work around is to use the argument flavor='spark' with the pyarrow engine.

[2021-08-31 15:50] #17928 closed

[2021-08-31 15:54] g2vinay opened #20473 "Enable MSAL Logging in Identity SDK."
Enable MSAL Logging for Python Identity SDK.
MSAL Python logging configuration can be found [here]https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging-python

[2021-08-31 15:54] xiangyan99 commented on #20455
Thanks for your feedback.

azure-storage-queue 1.4.0 is deprecated.

Do you have a chance to try latest version https://pypi.org/project/azure-storage-queue/12.1.6/?

Thanks.

[2021-08-31 15:57] xiangyan99 commented on #20452
Thanks for the feedback, we’ll investigate asap.

[2021-08-31 15:58] xiangyan99 commented on #20472
Thanks for the feedback, we’ll investigate asap.

[2021-08-31 16:01] g2vinay opened #20474 "Add support to enable PII Logging in Identity SDK."
Add API support to enable PII Logging in Identity SDK.
if enabled, log the Username that Shared Token Cache Credential uses.

PR to use as reference: https://github.com/Azure/azure-sdk-for-java/pull/23301

[2021-08-31 16:27] swathipil commented on #20307
all comments for changes here: https://teams.microsoft.com/l/message/19:f88a08aeeafd44a18ba3a9f77c1b0d2b@thread.skype/1630009958431?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1630009958431&teamName=Azure%20SDK&channelName=Service%20-%20Schema%20Registry&createdTime=1630009958431

and here: https://teams.microsoft.com/l/message/19:f88a

[2021-08-31 16:34] swathipil commented on #20307
TODO:
- settle on name of `Schema` (either `SchemaRegistrySchema` or something else)

[2021-08-31 16:35] swathipil commented on #20305
proposal here: https://gist.github.com/swathipil/58ad55d1002c2e8d552c2997d722ba6f

[2021-08-31 16:36] swathipil commented on #20305
TODO:
- get Srikanta's design + sync up with other languages

[2021-08-31 17:35] xiafu-msft commented on #20083
Hi @rnestler

Sorry for the delay. Thanks for the pr! It looks great!

[2021-08-31 17:46] xiafu-msft commented on #20413
Hi @Dany9966

Thanks for reaching out. You can pass the credential in this format, then it would work.

credential={'account_name': youraccountname, 'account_key': youraccountkey}

[2021-08-31 18:13] chlowell commented on #20473
Closing this because applications configure all logging through the standard library's `logging` module. MSAL Python itself has no logging configuration.

[2021-08-31 18:13] #20473 closed

[2021-08-31 19:13] #20253 closed

[2021-08-31 19:19] ewheeler opened #20478 "'snapshot' kwarg silently ignored due to typo in azure.storage.fileshare.ShareDirectoryClient's get_file_client"
- **Package Name**: azure-storage-file-share
- **Package Version**: 12.5.0
- **Operating System**: macos
- **Python Version**: 3.9

**Describe the bug**
'snapshot' kwarg ignored due to typo in azure.storage.fileshare.ShareDirectoryClient's `get_file_client`

**To Reproduce**
Steps to reproduce the behavior:
1. provide 'snapshot' parameter when calling azure.storage.fileshare.ShareDirectoryClient's

[2021-08-31 20:07] NGeorgescu commented on #20447
[code]

[2021-08-31 20:48] iscai-msft opened #20480 "[rest] fix context manager for async send_request + _return_pipeline_response"
Right now, the `send_request`

[2021-08-31 21:19] #20190 closed

[2021-08-31 21:48] swathipil commented on #20276
move this outside try: https://github.com/Azure/azure-sdk-for-python/blob/6821987ed5895c3e34469bb2e9524b9df458d551/sdk/eventhub/azure-eventhub-checkpointstoretable/azure/eventhub/extensions/checkpointstoretable/_tablestoragecs.py#L146
remove IfNotModified + "etag" being passed in: https://github.com/Azure/azure-sdk-for-python/blob/6821987ed5895c3e34469bb2e9524b9df458d551/sdk/eventhub/azure-eventhu

[2021-08-31 22:00] NGeorgescu commented on #20447
Ah ok what worked was:

[code]

Can we update the documentation to make this more clear?

[2021-08-31 22:02] rjohnsonrxr opened #20482 ""Fatal error on SSL transport" when exiting python script"
- **Package Name**: azure-eventhub-checkpointstoreblob-aio
- **Package Version**: 1.1.4
- **Operating System**: MacOs 10.15.7
- **Python Version**: 3.9.1

**Describe the bug**
Error is occurring after exiting python program :

**To Reproduce**
Steps to reproduce the behavior:
Minimal repro :
[code]

**Expected behavior**
Error should not occur

**Screenshots**
If applicable, add screenshots to hel

[2021-08-31 22:09] g2vinay opened #20484 "Improve Azure Identity SDK Error Messages and logging details"
Add verbose/debug level logs to Azure Identity that help to explain the code flow to day zero users and provide guidance on issues that the users may encounter.
Add aka.ms Links to the troubleshooting guide in the Error Messages.

PR to port: Azure/azure-sdk-for-java#23502

[2021-08-31 22:18] g2vinay opened #20486 "Add Support for Client Id Env Var support in Managed Identity Credential."
The Managed Identity Credential should read in client from environment variable `AZURE_MANAGED_IDENTITY_CLIENT_ID`.

Note: Arch board approval is required to merge this change. PR can still be opened.

[2021-08-31 22:26] ColtAllen commented on #20399
Hey @mccoyp, I appreciate your prompt response.

We did not encounter any errors when using the asynchronous *azure.keyvault.secrets.aio* package, which has an identical code syntax to that of _azure-keyvault-secrets_. However, the secrets in question are database credentials, and the DB connector was not able to interpret the coroutine objects returned by *azure.keyvault.secrets.aio*. Asynchronou

[2021-08-31 22:27] g2vinay opened #20487 "Add support to configure Interactive Browser Client Id on Default Azure Credential"
Allow the user to configure interactive browser client id in Default Azure Credential similar to other client ids.