[2022-03-18 15:15] mario-guerra opened #23577 "[FEATURE REQ] Enable Azure Table Storage cross-tenant support"
Library name
azure-data-tables

Please describe the feature.
Customer description of issue:

We are trying to enable cross-tenant OAuth based access to customer Azure Tables from our application. As of now, to enable OAuth based Table access between cross-tenant Storage Accounts would require prior knowledge of both tenants. However, with Tenant Discovery enabled for Tables we wouldn’t need the pr

[2022-03-18 16:24] xiangyan99 commented on #21981
Thank you for the confirmation.

Yes. The PR has not been merged yet and it is expected that the one from main branch still fails.

We will update the issue when the fix is merged.

Thank you.

[2022-03-18 16:43] DanielMescheder-TomTom commented on #23576
I cannot reproduce the problem any longer. It may very well be a networking problem and the utf-8 message is just a follow-up error that is distracting from the real issue.

[2022-03-18 17:16] #23324 closed

[2022-03-18 18:13] SaurabhSharma-MSFT commented on #23538
@davystrong Thanks for reporting this issue. We are redirecting it to services team to look into it.

[2022-03-18 18:14] SaurabhSharma-MSFT commented on #23563
@dunalduck0 Thanks for reporting this issue. We are redirecting it to services team to look into it.

[2022-03-18 20:07] tjprescott opened #23580 "Broken links in custom pylint checks"
The custom pylint checks have broken links in them.
https://azure.github.io/azure-sdk/python_introduction.html#types-or-not
https://azure.github.io/azure-sdk/python_introduction.html#method-signatures
https://azure.github.io/azure-sdk/python_introduction.html#naming-conventions
https://azure.github.io/azure-sdk/python_introduction.html#public-vs-private

Looks like they broke when the Python guide

[2022-03-18 20:50] lmazuel commented on #23580
@l0lawrence we have in a link checker in CI, that would block the CI if some links are incorrect. We probably want to see what it takes to make those links part of the CI process. Maybe it means externalizing those links into a file, and the Python code read that file, etc. I'm not sure of the design. We should talk to @weshaggard about this.

[2022-03-18 21:01] rrmistry commented on #4988
We faced similar issue for checking Azure VM status. We were able to resolve the issue by upgrading the `requests` library in Python.

Command for reference if anyone else is also stuck:
[code]

[2022-03-18 22:09] tjprescott opened #23581 "Port APIView checks to Pylint custom checks"
I think some of these are already covered under existing checks:

- [ ] list-return-type: List APIs should return either an `ItemPaged` or `AsyncItemPaged` object, and the item type must be specified in the `rtype` annotation in the docstring.
- [ ] missing-return-type: All methods must specify their return type.  There are three ways to specify return type, Python 2 or 3-style typehints or docstr

[2022-03-19 00:06] jalauzon-msft commented on #23564
Hi @metamoof Giles, thanks for reporting the issue. We'll look into it ang get back to you.

[2022-03-19 00:56] mccoyp commented on #22332
Hi @anotherancientalien, you should require the `Microsoft.KeyVault/vaults/read` permission over your subscription. Below is a screenshot showing the permission as it appears in the "Access Control (IAM)" window of the subscription page.

<img width="522" alt="image" src="https://user-images.githubusercontent.com/39780829/159100220-21127822-3a97-4f79-a0fb-8016a7e8f916.png">

[2022-03-19 01:03] mccoyp commented on #23252
@sebansal Do you know if the service team would be able to take a look at this? Hiding expected errors sounds like a reasonable request, though I'm not sure how doable it would be.

[2022-03-19 20:05] jdudleyie commented on #23487
The issue happened again today.

Please find log file attached - a snippet is below.

The issue started at `2022-03-19T18:59:27.933025992Z` and automatically resolved at `2022-03-19T19:45:04.014786703Z`, so it was happening for about 45 minutes.

The recent code changes above do not seem to have helped. Perhaps I need to update the below method to get a new default credential every time I setup a

[2022-03-20 12:32] Blabll opened #23583 "azure-identity is not compatible with azure-batch"
Hello,

I would like to use **azure-identity** in combination with **azure-batch** to instantiate a `BatchServiceClient`.
But the `BatchServiceClient `requires a _msrestazure Credentials_ and is not compatible with `DefaultAzureCredential`.

After reading the following documentation:
https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-authenticate-hosted-applications#credential-objec

[2022-03-20 12:38] Blabll opened #23584 "ClientAuthenticationError by using VisualStudioCodeCredential"
- **Package Name**: azure-identity
- **Package Version**: 1.8.0
- **Operating System**: Windows 10
- **Python Version**: 3.8

Hello,
I tried to use `VisualStudioCodeCredential` from **azure-identity** in combination with the **Azure Account** VScode extension.
It worked for a while but now a `ClientAuthenticationError` is raised.

Here is the traceback:
[code]

What can I do about it?

Note that I

[2022-03-20 19:53] wjg659 opened #23585 "Automation Runbook Type Enumeration missing options for Python and Python3"
**Is your feature request related to a problem? Please describe.**
I would like to create a Python3 Azure Automation Runbook through terraform.  Since I believe this is the SDK that backs the API I would like to request an enhancement to azure-mgmt-automation that is required before Terraform can accept Python or Python3 as Runbook types.

**Describe the solution you'd like**
I would like the clas

[2022-03-21 04:39] namwooo commented on #19493
I, too, encounter the same error "ModuleNotFoundError: No module named 'main'" as I deploy model to AKS web service. It is occasion and irregular.

[2022-03-21 07:08] #23042 closed

[2022-03-21 07:14] #22779 closed

[2022-03-21 09:02] piotrjedrys-tomtom opened #23588 "Service Bus Error , session object does not exist in obtain_token_by_client_secret"
- **Package Name**: azsdk-python-identity
- **Package Version**: 1.8.0
- **Operating System**: mac
- **Python Version**: 3.7.9

**Describe the bug**
It appears that when asynchronous connection is used, after one hour the token is being internally refreshed (or obtained) but the AsyncTransportProtocol does not have session object set anymore and is not anymore the session owner, which ends with Se

[2022-03-21 09:48] thomasfrederikhoeck commented on #22441
Do you have any updates on this issue, @singankit ? :-) We would love to start using managed endpoints but this is holdings us back.

[2022-03-21 16:24] jayqi commented on #23362
Hi @jalauzon-msft—I was wondering when to expect this fix to make it into a release? This bug had caused an error with mypy static typechecking for my library. I'm trying to understand if it might be released soon or if I should put in a workaround for now. Thanks!

[2022-03-21 16:42] kashifkhan commented on #23561
Hi @sunnycarter & @pdavies, thank you for the feedback. We'll take a look at this and get back to you asap.

[2022-03-21 16:43] ankitmounty2008 opened #23590 "Can we add Address space using some API or SDK "WITHOUT" deleting the Peerings."
A current feature which allows you to add CIDR without deleting peering from the portal but is there any SDK or API available to do the same? I tried begin_create_or_update but it doesn't work if peering exists.
The second part of this activity will be to resync peering and I could find a REST API to resync peering but what I need is to add CIDR without deleting the peering.

[2022-03-21 16:43] azure-sdk commented on #23590
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.061109014,API Management:0.046079885,Synapse:0.03246921'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.5260245,Client:0.4606306,Service:0.012251934'

[2022-03-21 17:27] yunhaoling commented on #18513
auto lock renewer alignment increases the chance of auto lock renew failure due to the python single thread model and the way auto lock renewer is implemented:
- in current impl, whenever the renewable's expiration time is less than 10s from now, the auto lock renewer will try renew, with sleeping 1s interval in the while loop
- in alignment, we're shrinking the time frame from expiration to now i

[2022-03-21 17:27] #18513 closed

[2022-03-21 17:43] maorleger commented on #21456
You can use https://github.com/Azure/azure-rest-api-specs/commit/e2ef44b87405b412403ccb005bfb3975411adf60 to regenerate from

[2022-03-21 17:50] jalauzon-msft commented on #23362
Hi @jayqi Jay, unfortunately this just missed our previous release of 12.10.0. Our next planned release is in early April but that will be a beta/preview release. The next non-beta release is tentatively planned for early May.

[2022-03-21 18:08] swathipil commented on #22961
Hey @v-xuto! Just wanted to give you an update: I believe that the issue had to do with our retry logic in our test. I have a PR out to fix this and am working through a few comments on the PR. Hoping to have this merged by next week.  Thanks @mikeharder for your suggestions on retry and reproducing with location set to Australia!

More details: We were using the underlying `uamqp` ReceiveClient t

[2022-03-21 18:11] kashifkhan commented on #23585
Hi @wjg659  thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-21 18:11] kashifkhan commented on #23583
Hi @Blabll  thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-21 18:14] kashifkhan commented on #23576
Hi @DanielMescheder-TomTom  thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-21 18:19] kashifkhan commented on #23590
Hi @ankitmounty2008, thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-21 18:41] jwxd commented on #23248
Just a quick update, we tried to use the default scope and it works in both Public and Special clouds.

[2022-03-21 18:41] #23248 closed

[2022-03-21 19:17] mccoyp opened #23592 "[Test Proxy] Remove custom default matcher setup in proxy_startup"
Per https://github.com/Azure/azure-sdk-for-python/pull/23148, we now call `set_custom_default_matcher` within `proxy_startup.py` in order to preserve backwards compatibility and ignore headers that we now omit from recordings. Eventually, once recordings are free from these headers, we should remove this call and use the default matcher upon startup.

**Note:** at this point, we should also revert

[2022-03-21 20:20] christothes opened #23593 "Make "2019-08-01" API version of the App Service Managed Identity endpoint available"
Library name
Azure.Identity

Please describe the feature.
Make "2019-08-01" API version of the App Service Managed Identity endpoint appear before the older API version in the Managed Identity sources tried by the Managed Identity Credential.

[2022-03-21 20:21] #20831 closed

[2022-03-21 20:21] #22670 closed

[2022-03-21 20:21] #22671 closed

[2022-03-21 20:49] jalauzon-msft commented on #23564
Hi @metamoof Giles, I have verified that blob SAS is working as expected in this version of the SDK and that your sample works outside of Azurite. Please verify that you have properly setup Azurite to work with the SDKs using this [documentation](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite?tabs=visual-studio#authorization-for-tools-and-sdks).

For further investigatio

[2022-03-21 21:40] lmazuel opened #23596 "Azure Tables May release"
Issues tracking multi-tenant authentication support:

- [ ] https://github.com/Azure/azure-sdk-for-python/issues/23613
- [ ] https://github.com/Azure/azure-sdk-for-python/issues/23617

[2022-03-21 22:02] #23106 closed

[2022-03-21 22:27] jalauzon-msft commented on #23584
Hi @kashifkhan, I don't believe this is a Storage issue. Storage is simply calling into `azure-identity` and the exception is coming from within when fetching the token. I think this may belong with whoever owns `azure-identity` :)

[2022-03-21 22:27] gahl-levy opened #23597 "Client-side request diagnostics"
Support Client-side request diagnostics

[2022-03-22 00:29] #21044 closed

[2022-03-22 01:00] yunhaoling commented on #23588
hey @piotrjedrys-tomtom, do you mind sharing your code snippets for repro?

[2022-03-22 01:05] yunhaoling opened #23598 "[uAMQP] check openssl dependency"
This is a reminder to:

uamqp uses openssl for wheels of macos/manylinux (windows uses schannel)

- check openssl 1.1.1 updates (secruity fixes)
- check openssl 3 support in c: https://github.com/Azure/azure-c-shared-utility/discussions/566

[2022-03-22 01:07] kristapratico commented on #9862
This is fixed now. I think the syntax fix did the trick.

https://docs.microsoft.com/en-us/python/api/azure-ai-textanalytics/azure.ai.textanalytics.textanalyticsclient?view=azure-python-preview#azure-ai-textanalytics-textanalyticsclient-analyze-sentiment

![image](https://user-images.githubusercontent.com/31998003/159387396-a590eb2d-0cc2-4be7-818b-ba67131e1aa4.png)

[2022-03-22 01:07] #9862 closed

[2022-03-22 01:50] zedy-wj commented on #22379
@catalinaperalta - Most of the environments in UsGov have timeouts, and we set the timeout to 8 hours. After investigation, it was found that the current running of a single test for up to an hour caused the current timeout. Could you help to take a look?

[2022-03-22 04:45] LarsKemmann commented on #22255
I second @dterei's request - although in my case it's the .NET SDK giving this error - and the worst part is it is a spurious error: the container I'm trying to delete *doesn't* have an immutability policy set, it's a *different* container in the same account that has that immutability policy set (with version-level immutability support having been turned on at the account level).

[2022-03-22 04:47] LarsKemmann commented on #22255
I guess, for what it's worth, the portal is now giving me the same error. Which is really weird and makes no sense at all. Why would container A being protected in a WORM-enabled account mean that container B can't be deleted?

[2022-03-22 06:24] yunhaoling commented on #23487
hey @jdudleyie , thanks for sharing me with the details.

reading your log makes me feel that the token doesn't get refreshed, leading to the client using the old token until expiration and error raised. There could be potentially two causes here:

- the client didn't perform the refresh token process
- the client performed the refresh token process, tried to refresh the token from the service ass

[2022-03-22 06:27] navba-MSFT commented on #23565
@weishengtoh Apologies for the late reply. Thanks for reaching out to us and sharing the feedback. Tagging the Service team to look into this ask.

@bandsina @Jingshu923 @zhangyd2015 @Frey-Wang Could you please look into this issue and provide an update once you get a chance ? Awaiting your reply.

[2022-03-22 06:29] navba-MSFT commented on #23583
@Blabll Apologies for the late reply. We are looking into this. issue. We will provide an update on this once we have more details on this.

[2022-03-22 06:44] rshafique commented on #23031
Facing the same problem as well. Followed the solution provided in the link below to pip uninstall and pip install azure-storage-blob and it worked.

[https://stackoverflow.com/questions/69526825/cannot-import-name-blobserviceclient-even-if-azure-blob-storage-latest-versi](url)
However, this solution is not applicable when you deploy a pipeline in azure ml.

[2022-03-22 07:48] andrea-cassioli-maersk commented on #21639
hey @yunhaoling ,
sorry for the late reply.  Regarding to your three points:

* yes, this is what I consider the most likely scenario
* no, we have seen no other asyncio related errors so far
* the receiving is in the main thread and it looks a bit like

[code]

[2022-03-22 11:18] jdudleyie commented on #23487
Hi @yunhaoling,

Thanks, happy to try this. Currently I have the below on my main.py entry file (which uses Fast API):

[code]

where `log_config.py` contains the below:

[code]

So I am already logging at the level of INFO for console/app service text logs (warnings for Application Insights).

So given I don't think I have seen the `cbs_auth.py` info messages in my log, do I need to specify some

[2022-03-22 15:34] xiangyan99 commented on #23584
@Blabll Thanks for reaching out.

Could you check the version of the Azure Account extension?

It is a known issue that the latest Azure Account extension does not work well with Azure-identity package.

As a workaround, you can use version 0.9.11 or earlier of the Azure Account extension.

For more information: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/RE

[2022-03-22 16:01] xiangyan99 commented on #21981
The fix has been merged and will be available in next release.

[2022-03-22 16:27] simorenoh commented on #23346
Closing issue with update to docs PR: https://github.com/Azure/azure-sdk-for-python/pull/23608/

[2022-03-22 16:27] #23346 closed

[2022-03-22 16:36] Stael commented on #21849
Hello @yunhaoling,

I am happy to report that after a full week using the solution mentioned previously ... I encountered 0 issue 👍

I will also update my [other issue](https://github.com/Azure/azure-functions-python-worker/issues/931) to let them know that: the issue seems related to how `EventHubProducer` and `AzureFunctions` interact together (AKA: be very careful when using this combo) + we fo

[2022-03-22 16:39] Blabll commented on #23584
Ok sorry I missed this part of the documentation.
The authentication works properly now.

Thank you very much for your help.

[2022-03-22 16:39] #23584 closed

[2022-03-22 16:57] jdudleyie commented on #23487
Oh and just to answer your question:

Yes, it should after the most recent change. I am waiting for the next time this happens, to see if it works (recovers successfully).

Thanks.

[2022-03-22 17:06] rakshith91 opened #23609 "Get rid of static resources for partner namespace testing"
Currently tests for partner namespaces use static resources. Get rid of them and use the arm template.

[2022-03-22 20:51] scbedd commented on #11967
Cannot repo. Closing this.

[2022-03-22 20:51] #11967 closed

[2022-03-22 21:30] #23519 closed

[2022-03-22 22:02] #23483 closed

[2022-03-22 23:28] xiangyan99 opened #23612 "Move validate_authority into beta release"
https://github.com/AzureAD/microsoft-authentication-library-for-python/issues/466

[2022-03-23 01:05] mccoyp opened #23613 "Move multi-tenant authentication-supporting code into azure-core"
**Context:** Key Vault currently supports multi-tenant authentication during tenant discovery, in which the home tenant of a resource is returned by the service during challenge authentication. The resource's tenant is included as part of an [authorization URI](https://github.com/Azure/azure-sdk-for-python/blob/be9bc2ebd94b204d4939b848ec9b23688eeb12c3/sdk/keyvault/azure-keyvault-keys/azure/keyvaul

[2022-03-23 02:10] mccoyp opened #23617 "Use multi-tenant authentication-supporting auth policy from azure-core"
Once `azure-core` has an authentication policy that supports multi-tenant authentication (tracked by https://github.com/Azure/azure-sdk-for-python/issues/23613), Tables should use this policy for AAD authentication, possibly with a subclass if necessary. This would replace the scenario where Tables currently [uses a BearerTokenCredentialPolicy](https://github.com/Azure/azure-sdk-for-python/blob/18

[2022-03-23 06:27] Frey-Wang commented on #23565
@navba-MSFT , this issue is about azureml, not data factory. Thanks!

[2022-03-23 06:41] navba-MSFT commented on #23565
@shbijlan Could you please look into this issue and provide an update on this once you get a chance ? Awaiting your reply.

[2022-03-23 08:49] flixman opened #23620 "TokenCachePersistenceOptions not retrieving cached token from keychain on macOS?"
- **Package Name**: azure-identity
- **Package Version**: 1.8.0
- **Operating System**: macOS 12.3
- **Python Version**: 3.10

**Describe the bug**
Running ```InteractiveBrowserCredential(cache_persistence_options=TokenCachePersistenceOptions())``` twice results in two authentication requests.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute twice the following code
[code]

**Expected

[2022-03-23 09:55] 0xUnicorn opened #23621 "Example text is incorrect (Copy/paste error)"
Below `create_table_if_not_exists` it has an `Example` with the text `Deleting a table from the TableServiceClient object` which is also the text used below for `delete_table`.

The fix would be to change the text to: `Creating a table if it doesn't exist, from the TableServiceClient object`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-03-23 10:03] AWendland-CryptoCompare opened #23622 "reverse parameter on walk_blobs for container clients"
**Is your feature request related to a problem? Please describe.**
We save the name of our files in chronological order, so with the container client it is easy to use walk blobs to get the first entry. However it is not easy to use it to get the last entry.

**Describe the solution you'd like**
An optional parameter for the ContainerClients walk_blobs (and list_blobs) functions of reverse, which

[2022-03-23 10:32] lundholmx opened #23623 "Cannot configure HTTP proxy in `azure-keyvault-secrets`"
- **Package Name**: azure-keyvault-secrets
- **Package Version**: 1.22.1
- **Operating System**: linux
- **Python Version**: 3.9.7

**Describe the bug**
According to [this](https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-configure-proxy?tabs=bash#global-configuration) documentation it should be possible to configure proxies globally by using the `HTTP*_PROXY` environment variable

[2022-03-23 10:35] navba-MSFT commented on #22254
@anotherancientalien Apologies for the late reply. I am looking in to this issue. I will update this thread once I have more detail on this.

[2022-03-23 12:05] jdudleyie commented on #23487
The issue happened again this morning - this time the new code was able to recover from the error by getting a new token.

I can also see these calls to get a token `http://169.254.130.3:8081/msi/token?api-version=REDACTED&resource=REDACTED` every 45-60 minutes in the logs now, maybe due to a recent code change, but I don't see more than that so perhaps I need to enable the logging as asked above.

[2022-03-23 12:45] mike-j-b opened #23624 "AttributeError: 'Deserializer' object has no attribute 'failsafe_deserialize'"

[2022-03-23 12:46] azure-sdk commented on #23624
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute:0.06544977,Cognitive - Form Recognizer:0.062575266,Compute - VM:0.037131533'

[2022-03-23 13:19] kashifkhan commented on #23623
Hi @lundholmx , thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-23 13:20] kashifkhan commented on #23622
Hi @AWendland-CryptoCompare, thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-23 13:30] kashifkhan commented on #23620
Hi @flixman , thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-23 13:31] kashifkhan commented on #23621
Hi @0xUnicorn , thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-23 13:31] kashifkhan commented on #23622
Hi @AWendland-CryptoCompare , thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-23 16:53] navba-MSFT commented on #22254
@anotherancientalien There are no plans to release Azure Blueprint Python SDK for the above operations. We are moving all Blueprint Assignment functionality to [Deployment Stacks](https://www.youtube.com/watch?v=-4E5DsC-RcU&t=1657s) and eventually we will have a Python SDK for that. Please let me know if you have any questions on this before we proceed with archival.

[2022-03-23 17:30] yunhaoling commented on #23576
hey @DanielMescheder-TomTom , `'utf-8' codec can't decode byte 0xe4` means the incoming bytes are corrupted such that the client can not decode it in the right form.

It's very much like what you mentioned that there was a transient networking error leading to this.
You could handle the error by catching the exception and recreating a new client.

[2022-03-23 18:32] l0lawrence opened #23627 "[pylint] Numbering of custom pylint checkers"
Look into how  pylint adding checkers, will affect our numbering of our custom pylint checkers.

[2022-03-23 22:11] amolb089 commented on #22441
@thomasfrederikhoeck Managed endpoint currently does not support using private feeds. The workaround for now is for customers is to BYOC(bring your own container). Build their own dockerfile with appropriate permission. Did you follow any public documentation for managed endpoint which mentions this scenario? I can take that feedback and provide it to the team to correct. Let me know if there is a

[2022-03-23 23:23] blawrence-datadx opened #23632 "DefaultAzureCredential Azure SQL error: VisualStudioCodeCredential The refresh token has expired due to inactivity"
- **Package Name**: azure-identity
- **Package Version**: 1.8.0
- **Operating System**: Windows
- **Python Version**: 3.9.7

**Describe the bug**
Using `DefaultAzureCredential` from `azure.identity` while `get_token()` gives the following error for certain users:
`VisualStudioCodeCredential The refresh token has expired due to inactivity`

**To Reproduce**
Using the following code: https://docs.sq

[2022-03-23 23:32] lzchen commented on #21747
Update on this issue here.

Span events will be mapped to `trace` telemetry unless if the event is an `exception`, in which case it will be mapped to `exception` in app insights.

[2022-03-23 23:32] #20116 closed

[2022-03-23 23:34] lzchen commented on #18171
Closing this issue for now. Please feel free to reopen if any additional details. @gautam-ergo

[2022-03-23 23:34] #18171 closed

[2022-03-24 03:26] catalinaperalta commented on #23385
Hi @gl-Roy the service fix is available now! You can re-run your requests and you should be able to get a response now. Please note that in this case for "incomplete" date values the method to retrieve this information is by accessing the `content` attribute which will return the string representation of the value.

I will close this issue now, but feel free to reopen this if you need more informa

[2022-03-24 03:26] #23385 closed

[2022-03-24 03:30] catalinaperalta commented on #22379
@zedy-wj this seems to be a service issue. I will reach out to them and work out what the problem is. I will update here when I have more information.

[2022-03-24 08:03] #22527 closed

[2022-03-24 08:03] #22380 closed

[2022-03-24 08:20] flixman commented on #23620
@xiangyan99 Absolutely, I have both files ready. How can I share them with you?

[2022-03-24 09:39] tomasgiden commented on #23564
Hi! Can verify the issue on my side too: Tokens generated by 12.10.0 cannot be used with Azurite. Is reported to Azurite (by someone else). https://github.com/Azure/Azurite/issues/1404

[2022-03-24 12:54] kierandarcy opened #23640 "BlobClient returns ClientAuthenticationError when Azure CDN is enabled"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.10.0
- **Operating System**: Ubuntu 20.04.4 LTS
- **Python Version**: 3.9.5

**Describe the bug**
Calling the `BlobClient.exists` method raises a `ClientAuthenticationError` when an Azure CDN account URL is used.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
I would expect the client to authenticat

[2022-03-24 13:21] kashifkhan commented on #23640
Hi @kierandarcy , thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-24 13:23] kashifkhan commented on #23632
Hi @blawrence-datadx , thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-24 14:18] YalinLi0312 opened #23643 "[ACR] Support pull/push OCI blobs and manifests"
This is REST spec: [link](https://github.com/Azure/azure-rest-api-specs/blob/2c33d5572dab4c6f52faf31004f0561205737107/specification/containerregistry/data-plane/Azure.ContainerRegistry/stable/2021-07-01/containerregistry.json).

.NET already finished some implements, this is the feature branch history in .NET: [link](https://github.com/Azure/azure-sdk-for-net/commits/feature/containerregistry/oci-

[2022-03-24 16:42] Nolent opened #23645 "ResourceWarning: unclosed transport"
- **Package Name**: azure.storage.blob
- **Package Version**: tested with 12.9.0 and 12.10.0
- **Operating System**: Debian Bullseye
- **Python Version**: 3.9.2

**Describe the bug**
We get a ResourceWarning even when using BlobServiceClient as a context manager
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
We should not have a warning here

[2022-03-24 17:36] jalauzon-msft commented on #23564
Hi @tomasgiden Tomas, @metamoof Giles, looks like this is being addressed by a change to Azurite. https://github.com/Azure/Azurite/pull/1393

With the current version of Azurite, SAS generated for versions after 2020-10-02 are not currently supported due to an update in SAS token generation.

[2022-03-24 17:52] lzchen opened #23648 "Consider using pytest instead of built-in unit test framework"

[2022-03-24 18:21] kashifkhan commented on #23645
Hi @Nolent  , thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-24 18:33] #23627 closed

[2022-03-24 18:35] #13879 closed

[2022-03-24 18:41] l0lawrence opened #23650 "[pylint] pylintrc file has broken links"

[2022-03-24 21:06] doc commented on #19493
Also seeing this error ... models that previously deployed fine now throw this issue every time

[2022-03-24 22:41] kushagraThapar opened #23655 "AAD support in Cosmos Python SDK"
AAD support in Cosmos Python SDK

[2022-03-24 22:42] kushagraThapar opened #23656 "Patch API Support in Cosmos Python SDK"
Patch API Support in Cosmos Python SDK

[2022-03-25 00:11] xiangyan99 commented on #23632
Thanks for reaching out.

Did you have a chance to login in VS code again?

You can find the information in https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/TROUBLESHOOTING.md#troubleshooting-visual-studio-code-authentication-issues.

[2022-03-25 00:12] xiangyan99 commented on #23620
You can send it to xiangyan@microsoft.com

[2022-03-25 00:12] xiangyan99 commented on #23593
#23626

[2022-03-25 00:20] xiangyan99 commented on #23406
Seems like what you are looking for is to get the secret in Kudu. And client sdk cannot help on this.

I will close the issue and please open a support ticket to send the feedback to the web service.

[2022-03-25 00:20] #23406 closed

[2022-03-25 01:22] yunhaoling commented on #23487
hey @jdudleyie , if simply setting logging level to logging.INFO, service bus sdk should be able to generate loggings like:

[code]

- `logging_enable=True` is for low-level networking activity which I think we **do not** need to turn on.

since you have your own logging config, I think you need to add log handler for module "uamqp" as those loggings are actually coming from our underlying depende

[2022-03-25 01:37] vincenttran-msft commented on #23640
Hi @kierandarcy Kieran, I was unable to reproduce the `ClientAuthenticationError` you are facing on my local machine. However, I will note that there is **a** difference between my local test environment and your environment (I have tested it on Windows 10, while you are running Ubuntu), so I will spin up a Ubuntu VM to cross-verify my results.

Has the issue since resolved? We have had issues wit

[2022-03-25 03:39] proficy commented on #23632
Hi @xiangyan99. Yes, we're using the Azure Account extension and have tried logging out and logging back in and have also tried completely reinstalling VS Code.

[2022-03-25 03:39] blawrence-datadx commented on #23632
Hi @xiangyan99. Yes, we're using the Azure Account extension and have tried logging out and logging back in and have also tried completely reinstalling VS Code.

[2022-03-25 03:52] likebupt commented on #23565
@weishengtoh , Thanks for your suggestions and sorry for the inconvenience caused.
Indeed, the data flow between pipeline step are confusing sometimes, with so many concept.
We actually bring the new experience ML component, which is easier to define input and output, and to reuse among different projects. You can refer to the following document,
[ML components](https://docs.microsoft.com/en-us/az

[2022-03-25 03:52] gyanisinha opened #23665 "catalog_client.entity.list_by_guids"
- **Package Name**:  azure-purview-catalog
- **Package Version**: 1.0.0b2
- **Operating System**: Windows 11 Enterprise 21H2
- **Python Version**: azure-purview-catalog

**Describe the bug**
**The entity.list_by_guids method is not working and from the documentation it is not clear how to pass the list of guids as list str:**

[code]

Throws below error:
Traceback (most recent call last):
  File "

[2022-03-25 05:48] navba-MSFT commented on #23583
@paterasMSFT Could you please share the timeline for the azure-batch package to be compatible with azure-identity ? Awaiting your reply.

[2022-03-25 08:02] #23245 closed

[2022-03-25 08:38] v-yilinhu opened #23667 "Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=284504&view=results

@danieljurek for notification.

[2022-03-25 08:38] azure-sdk commented on #23667
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.51523894,Storage:0.053509247,IoT:0.033491723'

[2022-03-25 09:22] kierandarcy commented on #23640
Thank you for looking into this @vincenttran-msft!

It's been almost 24 hours since the CDN was created and I still have the error. I tested it locally on Ubuntu and Windows 10, and remotely on an Azure VM and a Google Cloud VM.

The CDN seems to be working fine through a browser, it is just the `BlobClient` that seems to continue to have an issue. I have been able to upload files and retrieve the

[2022-03-25 09:34] kierandarcy commented on #23640
Hopefully this is useful (probably not, as it looks like it's just an `HttpResponseError`). This is from an Azure VM running Ubuntu.

[code]

[2022-03-25 09:51] navba-MSFT commented on #18217
@jbernardini Apologies for the late reply. We are looking into this issue. We will provide an update on this once we have more details.

 @exrsuppgithub  Could you please look into this and provide an update once you get a chance ? Awaiting your reply.

[2022-03-25 10:01] Nolent opened #23672 "Resource warning: Sending a large body directly with raw bytes might lock the event loop"
- **Package Name**: azure.storage.blob
- **Package Version**: tested with 12.9.0 and 12.10.0
- **Operating System**: Debian Bullseye
- **Python Version**: 3.9.2

**Describe the bug**
Sending a file throw a ResourceWarning, even when using io.BytesIO as requested in the error

[code]
And indeed, the event loop is locked
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]
Execute it usi

[2022-03-25 10:48] v-xuto commented on #20517
@rakshith91 How is the current progress of this issue?

[2022-03-25 13:30] kashifkhan commented on #23672
Hi @Nolent, thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-25 14:45] paterasMSFT commented on #23583
We do not have an exact timeline, but this is something that we are actively working on for a release later this year.

[2022-03-25 14:45] #23583 closed

[2022-03-25 16:36] #23650 closed

[2022-03-25 16:47] #22209 closed

[2022-03-25 16:47] #22210 closed

[2022-03-25 19:22] kashifkhan opened #23676 "Move KeyVault Certificates to Test Proxy"

[2022-03-25 19:24] kashifkhan opened #23677 "Move KeyVault Keys to Test Proxy"

[2022-03-25 19:35] pfsalminen opened #23678 "Using a client assertion JWT as credentials for BlobServiceClient"
I am looking for a way to supply a client assertion JWT as credentials for a BlobServiceClient object. I am able to receive an access token with the msal library, but cannot find a way to use that token after I receive it. Is there a high level api I can use for this workflow?

[2022-03-25 19:35] azure-sdk commented on #23678
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.22918044,Azure.Identity:0.11493257,Service Bus:0.093396574'

[2022-03-25 19:52] rakshith91 commented on #20517
@v-xuto I have a PR out - i'm hoping to get it merged by next week
https://github.com/Azure/azure-sdk-for-python/pull/23566

[2022-03-25 20:03] kashifkhan commented on #23678
Hi @pfsalminen, thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-03-25 20:23] l0lawrence opened #23679 "[pylint] storage SDK pylint warnings"
When the core pipeline was run with the new custom pylint plugins, the following issues were found:
(see OneNote pylint checker for issue fix)

**REMOVE WHEN ISSUE IS FIXED**
-[ # pylint: disable=enum-must-inherit-case-insensitive-enum-meta]
-[ # pylint: disable=enum-must-be-uppercase]
-[ # pylint: disable=client-accepts-api-version-keyword]

BLOB:

- [x]  [Azure Blobs Models need to inherit CaseI

[2022-03-25 21:01] catalinaperalta opened #23680 "[formrecognizer] Investigate supporting conversion for dates and datetimes in dictionary methods"
Invoices have document fields of type datetime.date. Other models affected: ModelOperationInfo, DocumentModel.

[2022-03-25 21:37] catalinaperalta commented on #23680
Using AzureJSONEncoder.

[2022-03-25 21:37] #23680 closed

[2022-03-25 23:29] joshfree opened #23682 "Redis-py - AAD Auth Sample"
Tracking issue for dogfooding and creating code samples (or documentation) to show best practices for how to use AAD Auth with popular 3rd party OSS Redis clients when connecting to Azure.

Depending on the outcome of the dogfooding:

**Possible Outcome 1:** 0-1 days of extra work (minimal sample code is required to enable the experience):
- Check-in a thin / simple code sample project to our sdk

[2022-03-25 23:33] jalauzon-msft commented on #23564
Closing this as the bug is being tracked/fixed on the Azurite side: https://github.com/Azure/Azurite/issues/1404

[2022-03-25 23:33] #23564 closed

[2022-03-25 23:52] joshfree opened #23684 "Collaborate on solution for validate_authority with MSAL team"
Tracking issue for collaborating with the MSAL team to expose consistent capabilities / APIs such that Azure Identity SDK can then expose a simple and easy to use API for enabling the use of custom domains.

Related Issues:
- expose "validate_authority" so user can explicitly disable the validation if they want to use custom domain. https://github.com/Azure/azure-sdk-for-python/pull/22786/
- [Clie

[2022-03-26 00:03] joshfree opened #23685 "VSCodeCredential Improvements for Copper"
For Copper we are removing `VisualStudioCodeCredential` from `DefaultAzureCredential`'s credential chain. In a future semester we intend to fix it and restore it.

- [x] Remove `VisualStudioCodeCredential` from `DefaultAzureCredential`
- [x] Ensure troubleshooting guides recommend users use the Azure CLI to log in for developemnt time scenarios
- [x] Ensure any logging or exception text no longer

[2022-03-26 00:09] xiangyan99 commented on #23632
@blawrence-datadx Thanks for the information. Could you to check the version of the Azure Account extension?

There is a known issue that azure-identity library does not work well with the latest version of Azure Account extension.

You can get more information in https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/README.md#authenticate-during-local-development

[2022-03-26 00:21] joshfree opened #23686 "Add Token Caching Support for Managed Identity"
**Intro**
When application developers use the developer SDKs and libraries provided by Azure to build apps that run on Azure, they expect built-in support for common and repeatable tasks. From Azure’s perspective, adding support to common patterns helps increase the resilience of the apps running on Azure.  Managed Identity token caching is a common task that’s currently missing in the Azure Ident

[2022-03-26 00:42] joshfree opened #23687 "Add Windows Web Account Manager (WAM) Brokered Authentication Support"
This is a tracking work item for creating/finishing the new Azure.Identity.BrokeredAuthentication client library (separate package from the existing Azure Identity client library).

Related:
- https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity.BrokeredAuthentication/README.md

Dependencies:
- MSAL WAM is supported (Beta) in .NET and Python today
- MSAL WAM support (Be

[2022-03-26 01:16] #23593 closed

[2022-03-26 02:17] blawrence-datadx commented on #23632
@xiangyan99 we are all using v0.10.1. It works fine for me, but the refresh token error happens for my two colleagues

[2022-03-26 04:58] #22254 closed

[2022-03-26 10:04] anotherancientalien commented on #22254
@navba-MSFT I appreciated your kind help.

[2022-03-27 16:44] YutongTie-MSFT commented on #23489
@javhd72 Hello, sorry for the late reply, I have brought this to product team attention, I will let you know once there is any response I get.

[2022-03-27 22:02] #23360 closed

[2022-03-28 01:30] msyyc commented on #23423
[Appl+B2:B16icationinsights] config readme.python by BigCat20196 · Pull Request #18178 · Azure/azure-rest-api-specs (github.com)
[Mysql, iothub, keyvault, monitor]config readme.python by BigCat20196 · Pull Request #18179 · Azure/azure-rest-api-specs (github.com)
https://github.com/Azure/azure-rest-api-specs/pull/18313
https://github.com/Azure/azure-rest-api-specs/pull/18180
https://github.com/Azur

[2022-03-28 01:39] vincenttran-msft opened #23693 "[Storage] Fixing test_blob_tags versioning issues"
- **Package Name**: azure.storage.blob
- **Package Version**: 12.10.0
- **Operating System**: Windows 10
- **Python Version**: 3.10.2

**Describe the bug**
Currently in `test_blob_tags.py`, we added testing for functionality that is only supported in later service versions (i.e. some features are only supported after ServiceVersion 2019-12-12), and so we used a `skipif` mark to skip those tests if

[2022-03-28 01:56] vincenttran-msft commented on #23373
Opened PR #23694 to address this, and that PR has issue #23693 linked to it.

[2022-03-28 02:37] #23364 closed

[2022-03-28 03:59] sergey-ivanchuk commented on #19003
hi everyone, thanks for your recent follow-ups.

@cloga , follow-up comments below:

Yes, exactly.

Hypothetically, I could have a 5-step process and only want to re-run steps 5 (model training)

Very good call-out. I would ideally wish to import from `src` and then hash only on `step_2`. Hopefully this could be feasible.

[2022-03-28 04:00] svadali2 opened #23697 "BlobServiceClient ImportError: cannot import name 'ParamSpec' from 'typing_extensions'"
- **Package Name**: azure.storage.blob
- **Package Version**: 12.10.0
- **Operating System**: Azure Databricks Cluster, DataBricks Runtime 10.3 ML
- **Python Version**: 3.8

**Describe the bug**
An ImportError from typing_extensions package shows up when I run `from azure.storage.blob import BlobServiceClient`. I run the commands from a Notebook inside the Azure Databricks cluster.

**To Reproduce

[2022-03-28 05:40] msyyc opened #23699 "[DPG][docs] Improve the documentation for 10min starter package based on service team's feedback"

[2022-03-28 05:46] weishengtoh commented on #23565
@likebupt Thanks!

The ML component does appear to be a cleaner approach thou I was initially hesitant to use it as it is still under *"Preview"*.

Will try to reformat the codes to work with ML components and see how it goes.

Cheers :)

[2022-03-28 05:46] #23565 closed

[2022-03-28 07:22] zeki07k opened #23704 "ModuleNotFoundError: No module named 'azure.storage'; 'azure' is not a package (Python 3.9.8)"
- **azure-storage-blob**:
- **azure-storage-blob==12.10.0**:
- **Windows 10**:
- **Python 3.9.8**:

**Describe the bug**
Traceback (most recent call last):
  File "C:\Users\MONSTER\Desktop\even_recognition_module\azure.py", line 3, in <module>
    from azure.storage.blob import BlobClient
  File "C:\Users\MONSTER\Desktop\even_recognition_module\azure.py", line 3, in <module>
    from azure.storage

[2022-03-28 08:14] kierandarcy commented on #23640
@vincenttran-msft Just to update you. It's been 4 days, and the error still exists.

[2022-03-28 10:52] thomasfrederikhoeck commented on #22441
@amolb089  Thank you for the answer. How can I specify my own image when using the MLFlow model format and managed endpoints? I don't think I have seen it described? I just assumed it worked in similar fashion to `https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-mlflow-models` which does work for private feeds :-)

[2022-03-28 11:27] abhishekkumaribt commented on #22411
Hi still facing this issue with 5.2.0b2 version

[2022-03-28 11:54] emhacker commented on #16375
Hi, experiencing problem with AzureBlobStorage as well,
Only I don't get any errors - the script just doesn't run.
Any advice?

[2022-03-28 13:30] davystrong commented on #20222
Any update on this? It means I still can't train larger datasets.

[2022-03-28 14:28] romanzdk opened #23706 "DataFactoryManagementClient subscription id"
Would it be possible to change required parameter `subscription_id` for `DataFactoryManagementClient` to `subscription_name` ? In all of the Azure CLI tasks we are using subscription name, but only for this one specific case we need to put subscription id into keyvault. Giving the fact CLI does not required subscription ID I guess (and hope) it could be possible for SDK as well.

[2022-03-28 15:57] #23281 closed

[2022-03-28 15:59] xiangyan99 commented on #23016
Given https://github.com/Azure/azure-cli/issues/21249 is closed, close this one as well.

[2022-03-28 15:59] #23016 closed

[2022-03-28 16:01] #22181 closed

[2022-03-28 16:08] xiangyan99 commented on #23632
If you don't mind, could you share how you use the code snippets?

v0.10.1 was confirmed to not work.

[2022-03-28 16:15] blawrence-datadx commented on #23632
Yes, the code is the same as the SQLAlchemy example:
[code]

[2022-03-28 16:39] blawrence-datadx commented on #23632
That works fine for me, but my colleague gets this error:
[code]

[2022-03-28 16:39] SaurabhSharma-MSFT commented on #23665
@gyanisinha We are looking into it and get back to you for any additional information.

[2022-03-28 16:47] xiangyan99 commented on #23632
Thanks for the information.

Here is my guess:
After you upgraded your azure account extension, it was no longer able to update the refresh token.

The last time your colleagues used earlier version of Azure Account extension to get the token was on 2021-12-06.

To validate it, could you ask your colleagues to downgrade Azure Account extension and try login again?

Thanks.

[2022-03-28 16:54] blawrence-datadx commented on #23632
That worked! Thanks so much @xiangyan99

[2022-03-28 16:55] #23632 closed

[2022-03-28 17:06] danieljurek commented on #23667
Docs team is engaged -- https://ceapex.visualstudio.com/Engineering/_workitems/edit/580120

[2022-03-28 17:07] #23667 closed

[2022-03-28 17:46] kristapratico commented on #23704
Hi @zeki07k thanks for your issue. Since it looks you have multiple versions of Python on your machine, would you mind doing a quick check of your environment as described here: https://github.com/Azure/azure-sdk-for-python/issues/19659#issuecomment-893816623 ?

[2022-03-28 17:48] kristapratico commented on #23706
Hi @romanzdk thanks for your issue. Would you mind clarifying which package this feedback is for? Is this for `azure-mgmt-datafactory`? Also could you share which version of the package you are using?

[2022-03-28 17:56] romanzdk commented on #23706
@kristapratico Azure.Mgmt.Resource, v20.1.0

[2022-03-28 18:31] xiangyan99 commented on #23620
@flixman Thanks for the feedback.

I double checked the expected behavior of

[code]

If we only specify the tenant_id, there could be thousands of different clients in that tenant and InteractiveBrowserCredential does not have enough information to know which one to use. Hence, on the second time you run the code, it pops up the browser to ask you to sign in again.

In order to use the TokenCache

[2022-03-28 18:33] #22666 closed

[2022-03-28 18:51] xiangyan99 opened #23710 "Make sure links to troubleshooting guideline are added into error message"

[2022-03-28 20:08] kristapratico commented on #22411
Hi @abhishekkumaribt are you using a virtual environment and installing the package there?

[2022-03-28 21:27] #23203 closed

[2022-03-28 21:27] #20474 closed

[2022-03-28 21:29] gjwoods commented on #23563
@dunalduck0 - are you using MlFlow for any of your Metric logging?

MlFlow push's logs via a synchronous process, which the normal Metric logging flow does not. This is why you may be seeing the error: "message": "Metric once published using sync API should always use sync API to publish following metrics". More details incase this is the case, once a Metric has been pushed synchronously for a run

[2022-03-28 21:31] mccoyp commented on #23623
Hi @lundholmx, thank you again for opening an issue! I apologize for the delayed response.

@xiangyan99 proxy support comes from `azure-core`, and it seems like the base client for `SecretClient` is [using RequestsTransport](https://github.com/Azure/azure-sdk-for-python/blob/c39db1cc0d9b4a97cce086b8d040acdfcbda6988/sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py#L

[2022-03-28 21:33] #21456 closed

[2022-03-28 21:42] jalauzon-msft opened #23714 "Gzip automatic decompression fails on download with blobs larger than 32 MB"
The underlying HTTP library, `requests`/`aiohttp`, attempts to perform automatic decompression of gzip content during download. For blobs that are less than 32 MB, this works as expected but for larger blobs, the download operation fails with the following exception:

[code]

This is because, by default, blobs that are larger than 32 MB will be downloaded in chunks rather than all at once. This is

[2022-03-28 22:07] #23541 closed

[2022-03-28 22:37] scottaddie opened #23716 "Add sample for using Monitor Query library's visualization data in graph"
### Library name

azure-monitor-query

### Please describe the feature.

Customers need guidance on how to use the visualization JSON with a graphing library (D3.js, Kendo UI, etc.). Add a code sample that shows how to accomplish this. Related comment: https://github.com/Azure/azure-sdk-for-net/issues/27286#issuecomment-1068575952

[2022-03-28 22:39] xiangyan99 commented on #23623
For sync code, we use requests library underneath.

Could you just try

[code]

to see if it works?

[2022-03-29 00:09] #22944 closed

[2022-03-29 00:10] #22473 closed

[2022-03-29 00:14] jalauzon-msft commented on #23678
Hi @pfsalminen Paul, I assume you mean an OAuth token generated for the Storage service? Something you would normally pass in a `Authorization` header in the form `Authorization: Bearer <token>`?

This token would need to be generated with the audience: `https://storage.azure.com/.default`

If this is the case, I don't believe this is officially supported as we expect the usage of the `TokenCreden

[2022-03-29 01:18] pfsalminen commented on #23678
@jalauzon-msft Thanks for getting back to me.I was able to create my own Credential class inheriting from `GetTokenMixin`. I figured it wasn't officially supported, but wanted to see if there was a better solution. Thanks!

[2022-03-29 01:26] YutongTie-MSFT commented on #23489
@javhd72 Hello Javior, I just got confirmation from the development team, there is no probability split policy.

The model determines the percentages and it seems reasonable that the model has given salty as a highly weighted feature for the given context; resulting in equal proportions of probability for those actions. I hope this answers your question.

Regards,
Yutong

[2022-03-29 02:07] kazrael2119 commented on #23061
Hi ，@ankitmounty2008 . Thanks for your feedback. Here is the link of peering sample:https://github.com/Azure-Samples/azure-samples-python-management/blob/main/samples/network/virtual_network/manage_virtual_network_peering.py
I hope this will help you.

[2022-03-29 02:09] #23710 closed

[2022-03-29 02:09] #22327 closed

[2022-03-29 02:10] rfernand2 opened #23721 "Cannot get InteractiveBrowserCredential() to cache credentials"
- **Package Name**:  azure-identity
- **Package Version**: 1.7.0
- **Operating System**: Windows 11
- **Python Version**: 3.8.0

**Describe the bug**
Using InteractiveBrowserCredential() with enable_persistent_cache=True does not seem to cache the credentials over subsequent runs (even for as little as 30 seconds).  When I also specify the authenication_record parameter, it still prompts for crede

[2022-03-29 02:11] xiangyan99 commented on #19509
The new azure account extension broke the vscode credential.

Close this one because it is tracked in another one.

[2022-03-29 02:11] #19509 closed

[2022-03-29 04:43] svadali2 commented on #23697
Sure, here is the azure-core version:

`azure-core                   1.23.0`

[2022-03-29 09:25] lundholmx commented on #23623
We saw that in the source code and also thought the default settings would support proxy (ultimately via `requests.Session` if we understand it correctly). We also tried setting the transport on `SecretClient` explicitly without success.

[2022-03-29 09:27] lundholmx commented on #23623
That actually works, and other libraries using `requests` underneath seem to pickup the proxy configuration correctly from environment variables as well.

[2022-03-29 10:31] navba-MSFT commented on #19202
@JoaquinLeonArg Apologies for the late reply. We will update this thread once we have more details on this.

@tasherif-msft @xiafu-msft Could you please provide an update on this request ? Awaiting your reply.

[2022-03-29 16:00] #23620 closed

[2022-03-29 16:01] kristapratico commented on #23704
@zeki07k looking at this a second time and see that your file is named azure.py - this is conflicting with `azure` itself. Can you try renaming the file and see if that resolves your issue?

[2022-03-29 16:28] zeki07k commented on #23704
Thanks. it worked.

[2022-03-29 16:29] #23704 closed

[2022-03-29 17:16] simorenoh commented on #23655
Sync: https://github.com/Azure/azure-sdk-for-python/pull/23604

[2022-03-29 17:16] simorenoh commented on #23655
Async: https://github.com/Azure/azure-sdk-for-python/pull/23717

[2022-03-29 17:26] simorenoh commented on #23355
Closing issue with PR above, thanks for pointing this out :)

[2022-03-29 17:37] xiangyan99 commented on #23721
Thanks for the feedback. Here is sample code to use token cache:

[code]

Does this work for you?

[2022-03-29 17:38] xiangyan99 commented on #20137
Close as won't fix.

Will revisit it if there is a customer report.

[2022-03-29 17:38] #20137 closed

[2022-03-29 17:42] mccoyp commented on #16910
We now have a strategy for handling these scenarios that should satisfy this issue. There's a central, shared [fake_credentials.py](https://github.com/Azure/azure-sdk-for-python/blob/main/tools/azure-sdk-tools/devtools_testutils/fake_credentials.py) file where multiple packages can share sanitization strings, and this is being publicized by a [CredScan process guide](https://github.com/Azure/azure

[2022-03-29 17:42] #16910 closed

[2022-03-29 17:58] lzchen opened #23728 "Add AAD support for exporters"

[2022-03-29 19:02] #23678 closed

[2022-03-29 19:39] lmazuel opened #23733 "Investigate pylint rule around missing dependency"
Assuming code import a 3rd party package, confirm it's defined in setup.py.

There are many ways and evil details to approach:
- We can hardcode the list package we check (requests, aiohttp, typing_extensions)
- We can smartly discover them (regexp)
- We can smartly discover them and infer what we need based on conditional dependency. Technically, you could say "Install `foo` only on Python 3.6, a

[2022-03-29 20:03] lmazuel opened #23734 "TYPE_CHECKING should not be used to import from typing"
This bad:
[code]

[2022-03-29 20:36] kristapratico opened #23735 "include py.typed in template proj"

[2022-03-29 20:41] rfernand2 commented on #23721
No, that still requires browser authentication every time I run it.  BTW, is this new code supposed to have **Azure** or the **user** do the credential persistence?

Here is the complete version of your new code that I tested:

[code]

[2022-03-29 21:02] rfernand2 opened #23736 "Workspace.get() throws an exception if "auth" not specified for certain workspaces"
- **Package Name**:  azureml-core
- **Package Version**:  1.39.0
- **Operating System**: Windows 11
- **Python Version**: 3.8.0

**Describe the bug**
Trying to create a workspace object for an existing Singularity workspace with specifying the "auth" parameter throws the following exception:

[code]

**To Reproduce**
Steps to reproduce the behavior: run this program:

[code]

**Expected behavior**

[2022-03-29 22:02] #21981 closed

[2022-03-29 22:15] singankit commented on #22441
@thomasfrederikhoeck apologizes for the delay. Since this is an unsupported scenario we are working on a custom sample which can help with this scenario. However it will require using v2 [CLI](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-cli?tabs=cli) to create Managed Online Deployment. Will share the example in couple of days.

[2022-03-29 22:18] vincenttran-msft commented on #23640
Hi @kierandarcy Kieran, thanks for the follow-up! We were able to reproduce your error on an Ubuntu test VM and are currently working to further investigate the issue. I am sorry for any inconvenience this may cause, and we will get back to you when we have any updates or findings!

Thanks!

[2022-03-29 22:34] kristapratico commented on #23736
@rfernand2 thanks for your issue, we'll take a look and get back to you.

[2022-03-29 22:37] xiangyan99 commented on #23721
I doubt "" is a valid scope.

Could you try something like

"https://management.core.windows.net/.default"?

We expect to see a browser pop up in the first request

token = cred.get_token(scopes)

And on the second one

token1 = cred1.get_token(scopes)

It should come from the cache so there should no browser pop up.

[2022-03-29 22:48] rfernand2 commented on #23721
Hi @xiangyan99 - using the above URL for scopes, it still authenticates in the browser, on each run of the test app.  Are you able to repro the problem with my program?

[2022-03-29 22:52] xiangyan99 commented on #23721
No. I cannot repro it.

Here is my app:

[code]

The browser only pops up once.

[2022-03-29 22:54] kristapratico commented on #23697
@svadali2 Just wanted to provide an update -- I'm having trouble reproducing this. I recreated the environment with the same runtime and Python version and I'm not seeing the error raised on import:

![image](https://user-images.githubusercontent.com/31998003/160710471-4f12c565-f501-4023-b1e7-916fdbf965f9.png)

Just to outline my steps, I added the storage library under the library tab here instea

[2022-03-29 22:57] rfernand2 commented on #23721
I just ran your program 4 times - each time, the browser got focus for authentication.  One thing that might be different about my environment - I don't run "az" (Azure CLI).   Is this design somehow dependent on it being installed?

[2022-03-29 23:48] #22847 closed

[2022-03-29 23:48] #23342 closed

[2022-03-29 23:50] #23318 closed

[2022-03-29 23:51] swathipil commented on #23288
- check how to do sphinx doc generation with Python 3 namespaces, b/c doesn't work unless we include init files.
- also fix the docs BUG BASH link to SR tutorial.

[2022-03-29 23:56] rfernand2 commented on #23721
Here is my program:

# sing_test2.py: test out ability to create a workspace object for a singularity workspace
import os
from azureml.core.authentication import TokenAuthentication
from azure.identity import InteractiveBrowserCredential, AuthenticationRecord, TokenCachePersistenceOptions

fn = "cred_cache.txt"
tenant_id = None
deserialized_record = None
scope = https://management.core.windows.net

[2022-03-30 00:18] vincenttran-msft commented on #23640
Hi @kierandarcy Kieran, as it turns out I was not able to reproduce your error as I had a mistake when copying my Account key into my test file. I would recommend you check your Account key and see if that resolves your issue.

If that does not resolve your issue, can you pull a **recent** requestID (within the last day) from a failing request? The requestID is `x-ms-request-id` header in the resp

[2022-03-30 00:48] mccoyp opened #23739 "[Key Vault] Resolve custom pylint rule errors"
Pylint rules are described and errors are tracked [here](https://microsoft.sharepoint.com/teams/AzureDeveloperExperience/_layouts/15/Doc.aspx?sourcedoc=%7B690480f5-58fe-4d8e-ab3e-cb0dcb01b6f0%7D&action=edit&wd=target(Pylint%20Custom%20Rules.one%7C9c3f62eb-f3f3-472d-a5a3-2e251a666fbd%2FPylint%20Custom%20Rules%7Cb334945a-2e97-4c84-8f9b-497658860fb0%2F)&share=IgH1gARp_liOTas-yw3LAbbwAaxfXH_vxxGLggjQm

[2022-03-30 01:09] mccoyp commented on #17228
Update: test proxy recordings successfully redact vault names where the `vcrpy`-based system didn't before. This can be considered an implicit part of https://github.com/Azure/azure-sdk-for-python/issues/21051 -- closing as a result.

[2022-03-30 01:09] #17228 closed

[2022-03-30 01:41] mikeharder opened #23740 "[Perf] NoOpTest.run_async() blocks event loop"
The current implementation of `NoOpTest.run_async()` never awaits anything, so it will block the event loop until completion.

https://github.com/Azure/azure-sdk-for-python/blob/88ff693f8cf239c8eb5fd7b815c15bd925c270d6/tools/azure-devtools/src/azure_devtools/perfstress_tests/system_perfstress/no_op_test.py#L13-L14

This breaks scenarios like running multiple instances in parallel.  The test instan

[2022-03-30 02:50] #22777 closed

[2022-03-30 02:55] kazrael2119 commented on #23585
Hi, @wjg659 Thanks for your feedback.I have understood your issue, but SDK is generated by swagger.If swaager does not have this parameter, the SDK will not have this parameter。

So you can submit your new issue to https://github.com/Azure/azure-rest-api-specs/issues

[2022-03-30 04:39] navba-MSFT commented on #23672
@Nolent Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. I am involving the Service team to take a look into this.

[2022-03-30 05:59] thomasfrederikhoeck commented on #22441
Thank you @singankit . Will you post it here when it is available?

[2022-03-30 06:19] Wzb123456789 commented on #23480
https://github.com/Azure/azure-sdk-for-python/pull/23742

[2022-03-30 07:11] abhishekkumaribt commented on #22411
Thanks @kristapratico worked after using a virtual environment and installing the package there.

[2022-03-30 09:28] kierandarcy commented on #23640
Thank you @vincenttran-msft

One of the first things I tried was to recycle my keys, I have also tried using SAS tokens - all give the same response, which is correct operation when using the https://myaccount.blob.core.windows.net, but authentication errors when using an Azure CDN endpoint.

[2022-03-30 10:32] caitriggs opened #23744 "Setting data path using PipelineParameter within OutputFileDatasetConfig yields unusable path"
- **Package Name**:  azureml-core
- **Package Version**: 1.39.0
- **Operating System**: windows 11
- **Python Version**: 3.7.12

**Describe the bug**
When using a PiplelineParameter to handle the output data path within OutputFileDatasetConfig, the pipeline job will complete successfully but create an unusable path on the Datastore file system.

**To Reproduce**
[code]

**Expected behavior**
Expec

[2022-03-30 12:42] wjg659 commented on #23585
Thank you.  I have opened [this issue](https://github.com/Azure/azure-rest-api-specs/issues/18472) in the azure rest API specs repo to have the swagger modified.

[2022-03-30 16:27] kristapratico commented on #23744
Hi @caitriggs thanks for your issue, we'll investigate and get back to you asap.

[2022-03-30 19:10] SaurabhSharma-MSFT commented on #23665
@gyanisinha You need to use the parameter name like below to get it work -
`response =  catalog_client.entity.list_by_guids(guids=guids)`

[2022-03-30 19:15] SaurabhSharma-MSFT commented on #23489
@javhd72 Please let us know if you have any questions, otherwise, we will proceed with the closure of this issue.

[2022-03-30 19:26] rfernand2 commented on #23721
Thanks to help from @xiangyan99, the below, updated program now works correctly (Azure authentication in browser is only done on first run):

[code]

[2022-03-30 19:48] danielpe-ms commented on #22823
Hi @OTDani the team is going to look at it soon. I'll create a backlog item for this

[2022-03-30 20:18] #23062 closed

[2022-03-30 21:02] kristapratico commented on #23697
@svadali2 the Databricks service team got back to me and said it would be best to file a support ticket for this issue so they can bring in the relevant folks to help. You can do this on your databricks resource in Azure Portal:

![image](https://user-images.githubusercontent.com/31998003/160930161-6079add3-42df-4b4f-bf15-09a5510dbc07.png)

[2022-03-30 22:02] #23576 closed

[2022-03-30 23:34] mshaban-msft opened #23754 "CLU - March SDK - Resolution casting/polymorphism"
- **Package Name**:  ConversationAnalysisClient (azure.ai.language.conversations)
- **Package Version**: 1.0.0b3

**Describe the bug**
CLU March APIs introduced the concept of `resolutions` with each entity.
There are many types of resolutions which share the same `BaseResolution` class that uses `resolution_kind` property to cast this `BaseResolution` into one of these other sub-types like: `AgeR

[2022-03-30 23:55] SaurabhSharma-MSFT commented on #23706
@romanzdk Thanks for your feedback.  This looks like by design, so redirecting this to services team as a feature request.

[2022-03-31 01:26] jalauzon-msft opened #23759 "Async `stage_block()` failing with overflow error when passed string data over 2 GB"
When passing a string to the async `BlobClient.stage_block()` that is larger than 2 GB, the upload will fail with the following error
[code]

This occurs when passing a string directly or using buffered IO such as `StringIO`. When using buffered IO, this does not reproduce on the synchronous client. Interestingly, using Byte data and `BytesIO` works.

I tested our `aiohttp` directly as was able to

[2022-03-31 02:23] Frey-Wang commented on #23706
Hi @romanzdk , subscription name and subscription id are different. The SDK need subscription id to make valid call to backend instead of subscription name. This is by design. Thanks!

[2022-03-31 08:34] BigCat20196 commented on #23590
Hi @ankitmounty2008, thanks for the feedback. There is no denying that this is a good proposal. But the order is reversed, because Python SDK is automatically generated based on [RestAPI](https://github.com/Azure/azure-rest-api-specs). Please go [here ](https://github.com/Azure/azure-rest-api-specs/issues)to open this problem. Thanks!

[2022-03-31 08:43] BigCat20196 commented on #23561
Hi @sunnycarter & @pdavies, thank you for the feedback. As you said, the `next link` will cause the exception of Python iterator and invalidate the `top` filter. This is a pain point of Python SDK. We have investigated and are looking for a solution.

[2022-03-31 09:01] JoelCanteroGCO commented on #23431
I have opened a Support Request on Azure because we need a solution for this issue.

[2022-03-31 09:36] anotherancientalien opened #23762 "Generic Exception For Using SDK in Azure Pipeline"
Hi,

Exceptions in rest api requests are easy. We can use the response.status_code for creating the desired logic.
But in SDK, there isn't any clear results. Consider this code that I used in Pipeline task:

[code]

When I use the exception like except `AzureHttpError as error `the output is ` Code: ResourceNotFound`. That I'm not sure how can be used for custom condition in task because is not ge

[2022-03-31 09:37] azure-sdk commented on #23762
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Factory:0.39207593,Storage:0.13956618,Network - Virtual Network:0.04185162'

[2022-03-31 15:50] #23382 closed

[2022-03-31 16:26] kristapratico commented on #23762
Hi @anotherancientalien thanks for your issue, we'll take a look. A few quick questions to assist in our investigation - is this for `azure-mgmt-network`? And can you share which version of the package you are using?

[2022-03-31 18:07] mccoyp commented on #23623
Hi @lundholmx, thank you for confirming that `requests` is at least picking up the configuration correctly. Have you seen other SDK clients successfully make requests with a proxy, if you're using anything other than a `SecretClient`?

[2022-03-31 18:12] lzchen commented on #17904
This should be handled by OpenTelemetry SpanProcessor [_SUPPRESS_INSTRUMENTATION_KEY](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/trace/export/__init__.py#L354) and [requests](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-requests/src/opentelemetry/instrumentation/r

[2022-03-31 19:00] #17904 closed

[2022-03-31 19:17] kashifkhan opened #23771 "[Search] Resolve Pylint Alias Rule Errors"
Address Pylint errors outlined[ here](https://microsoft.sharepoint.com/teams/AzureDeveloperExperience/_layouts/15/Doc.aspx?sourcedoc=%7B690480f5-58fe-4d8e-ab3e-cb0dcb01b6f0%7D&action=edit&wd=target(Pylint%20Custom%20Rules.one%7C9c3f62eb-f3f3-472d-a5a3-2e251a666fbd%2FPylint%20Custom%20Rules%7Cb334945a-2e97-4c84-8f9b-497658860fb0%2F)&share=IgH1gARp_liOTas-yw3LAbbwAaxfXH_vxxGLggjQmJ9yMqw)

[2022-03-31 19:25] l0lawrence opened #23773 "[pylint] Pin newer version of pylint"
currently 2.5.2

[2022-03-31 20:53] anotherancientalien commented on #23762
Hi @kristapratico ,

Thanks for your reply. I use `azure.mgmt.network` and other mgmt libraries for vm provisioning.

Best

[2022-03-31 21:27] #22769 closed

[2022-03-31 22:05] anotherancientalien commented on #23762
@kristapratico Krista! You are an angel! `AzureHttpError` didn't response the status_code but `HttpResponseError` working like charm! Thank you!

[2022-03-31 22:05] #23762 closed

[2022-03-31 22:30] jalauzon-msft commented on #22917
Hi @DhavalShewale Dhaval, sorry for the long delay on this. We don't have any specific recommendations for mocking our clients. Typical methods for mocking should apply fine to our clients.

You can take a look at [unittest.mock](https://docs.python.org/3/library/unittest.mock.html) from the Python `unittest` or if you are using `pytest` you could also look into [pytest mocking](https://docs.pytes

[2022-03-31 23:23] kristapratico opened #23779 "azure-core github.io docs are published under "Other""
Clicking on "Core" on the side menu does not bring me to azure-core developer docs: https://azure.github.io/azure-sdk-for-python/core.html

It looks like the latest docs are getting published under "Other" along with some other packages which probably shouldn't be there: https://azure.github.io/azure-sdk-for-python/other.html

[2022-03-31 23:33] jalauzon-msft commented on #22917
Hi @DhavalShewale Dhaval, apologies for the long delay. We have no special recommendations around mocking our clients. The typical use of `unittest.mock` should work ([docs](https://docs.python.org/3/library/unittest.mock-examples.html)).

I believe your example is not working as your patch statements are not quite correct. I don't think the first example if a supported way to patch so I would rec

[2022-03-31 23:34] #22917 closed

[2022-03-31 23:46] jalauzon-msft commented on #23645
Hi @Nolent Hebert, it looks like this is a known issue with the underlying async library `aiohttp` and is documented [here](https://docs.aiohttp.org/en/stable/client_advanced.html#graceful-shutdown). That being I said, I did try their workaround of adding `loop.run_until_complete(asyncio.sleep(0.250))` and it did not help with the warning (I also tried much higher sleep values just in case).

Sinc

[2022-03-31 23:50] jalauzon-msft commented on #23672
Hi @Nolent Hebert, what is the size of the `data` you are passing?

[2022-04-01 00:08] #22806 closed

[2022-04-01 00:10] jalauzon-msft commented on #19753
Hi all, while investigating #22784 it seems there was, at one point, an issue where blob download was not properly retrying connection reset errors. I think this was addressed in a later release of `azure-storage-blob` or (more like) `azure-core` so updating to latest may help with error in blob download specifically.

[2022-04-01 00:12] jalauzon-msft commented on #22784
Hi @Neki, I've marked this Issue for close as I think retries are properly occurring in the latest versions, as mentioned. We can use #19753 to track any Connection Reset errors that are getting through the retries. There is also an example of how to increase retry count there.

[2022-04-01 00:17] xiangyan99 commented on #23645
Could you tell us which is the type of accountKey? (e.g. Is it a string? or a azure.identity.TokenCredentials? or None?

Thank you.

[2022-04-01 02:16] #17301 closed

[2022-04-01 08:02] #23161 closed

[2022-04-01 11:50] RamishSiddiqui opened #23784 "AttributeError: 'Run' object has no attribute 'get_output_data'"
I keep getting this error find step run is supposed to return object of type StepRun but it is returning Run object.

[code]

I get output as follows:
[code]

[2022-04-01 15:41] SaurabhSharma-MSFT commented on #23665
@gyanisinha Please let me know if you have any questions else we will proceed with the closure of this issue.

[2022-04-01 17:29] catalinaperalta commented on #22379
@zedy-wj the service team says the issue has been mitigated. Please let me know if you are seeing that? Thanks!

[2022-04-01 17:51] kristapratico commented on #23784
Hi @RamishSiddiqui thanks for your issue. A few questions to help us investigate - which package is this occurring in and what version do you have installed?

[2022-04-01 17:56] xiangyan99 opened #23787 "Update troubleshooting doc to add pygobject check and update vscodecred error to add the link"
The troubleshooting guide should have a line about pygobject.
update the error message to also have a link to the troubleshooting.

[2022-04-01 17:57] azure-sdk commented on #23787
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.087295815,Service Bus:0.08175976,Docs:0.05836124'

[2022-04-01 18:14] kristapratico commented on #23779
This is by design

[2022-04-01 18:14] #23779 closed

[2022-04-01 18:43] EldertGrootenboer commented on #22962
@lukipro Can you open a support ticket for this, and include the sample code, the names of the namespaces, and the timestamps this occurs? Our dev-team will look into this.

[2022-04-01 18:56] omrodrig commented on #23175
Sorry for the inconvenience. but we have a backlog item to fix this issue.

[2022-04-01 20:41] #22048 closed

[2022-04-01 20:41] #23288 closed

[2022-04-01 21:04] catalinaperalta opened #23791 "[formrecognizer] Unskip signature type field tests"
Unskip tests once behavior is updated.

[2022-04-01 23:22] yunhaoling commented on #21847
hey @eavanvalkenburg , FYI I've merged PR for fixing the mypy issue, it will be included in our upcoming release!

[2022-04-01 23:22] #21847 closed

[2022-04-01 23:58] eabase commented on #11982
I still get error from the sample:

**`AttributeError: 'dict' object has no attribute 'query_items'`**

From:
[code]

when using QSQL with:
[code]

In addition I get another error:
**`ResourceWarning: unclosed <ssl.SSLSocket fd=324, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM`**

[2022-04-02 00:12] eabase opened #23794 "ResourceWarning: unclosed <ssl.SSLSocket fd=324, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM"
- **Package Name/Version**:
[code]

- **Operating System**: `Win 10 Pro`
- **Python Version**:  `3.10.3`

**Describe the bug**
Getting SSL error from demo/example code, pointing to ssl.py:
[code]

**To Reproduce**

[code]

**Expected behavior**
No SSL close connection error.

**Screenshots**
N/A

**Additional context**
N/A

[2022-04-02 00:13] azure-sdk commented on #23794
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.34107834,Container Registry:0.07793952,KeyVault:0.03345813'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.58108175,Mgmt:0.41827932,Central-EngSys:0.00038656627'

[2022-04-02 00:17] eabase opened #23795 "Sample code error: AttributeError: 'dict' object has no attribute 'query_items'"
- **Package Name/Version**:
[code]

- **Operating System**: `Win 10 Pro`
- **Python Version**:  `3.10.3`

**Describe the bug**

I get the following error from the sample code using `query_items`:

**`AttributeError: 'dict' object has no attribute 'query_items'`**

From:
[code]

when using QSQL with:
[code]

The JSON DB I'm looking at, looks like this:
[code]

**To Reproduce**

I Have no general st

[2022-04-02 00:23] kristapratico commented on #23794
Hi @eabase thanks for the feedback, @simorenoh can you take a look?

[2022-04-02 00:29] kristapratico commented on #23795
Hi @eabase thanks for your issue. Can you share more of the sample snippet that reproduces this? For example, what is `container` in this example:

[code]

[2022-04-02 01:18] eabase commented on #23795
Hi @kristapratico , I just updated OP with requested info.

[2022-04-02 01:26] eabase commented on #23795
I see, now that there was some name spacing pollution. I had a previous statement with:

[code]
... before the code in OP.

I removed it, and no longer get this error. Closing issue.
However, I still cannot get any result from that query...

[2022-04-02 01:26] #23795 closed

[2022-04-02 02:23] zedy-wj commented on #22379
@catalinaperalta - FormRecognizer is currently able to pass stably on UsGov and China clouds, thank you for your help, we will close this issue, if the same problem occurs again, we will reopen it.

[2022-04-02 02:24] #22379 closed

[2022-04-02 04:30] sprakash1612 opened #23799 "Cosmos Count Query"
I was trying to get the count of records from a cosmos container but was unable to. Is there any way I can get the record count?

[2022-04-02 06:44] zedy-wj opened #23800 "[Form Recognizer] test_dac_analyze_custom_model and test_dmac_training failed in Public cloud"
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
[`test_dac_analyze_custom_model`](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model.py#L212-L231) and [`test_dmac_training`](ht

[2022-04-02 06:44] azure-sdk commented on #23800
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Form Recognizer:0.5173137,Storage:0.078388974,Azure.Core:0.04891953'

[2022-04-02 08:13] azure-sdk commented on #23800
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Form Recognizer:0.5173137,Storage:0.078388974,Azure.Core:0.04891953'

[2022-04-02 08:13] azure-sdk commented on #23800
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Form Recognizer:0.5173137,Storage:0.078388974,Azure.Core:0.04891953'

[2022-04-02 12:02] AFengKK commented on #11982
@[eabase](https://github.com/eabase) Hello, we can't repro your error. Can you provide us with more code details:
1. What I wonder is why your `container` is a dict rather than a `containerproxy` object?
2. Did the version of [azure-cosmos](https://pypi.org/project/azure-cosmos/4.2.0/) package you used is 4.2.0?
3. Can you provide us with a simple data instance you insert through the `container.up

[2022-04-02 12:28] eavanvalkenburg commented on #21847
Thanks for reporting @yunhaoling I'll give it a try!

[2022-04-02 16:19] eabase commented on #11982
@AFengKK
Ah! Yes, I resolved it. The first error was due to a name space pollution from a previously itemized `container` variable. So please disregard.

For the 2nd problem, thanks for the work around idea.
(Still would be interesting why these SSL errors occur.)

[2022-04-02 16:22] eabase commented on #23794
PS. As was mentioned in another issue thread.
To ignore this message we can use:
[code]

[2022-04-02 20:48] rakshith91 commented on #22519
Fixed by https://github.com/Azure/azure-sdk-for-python/pull/23238

[2022-04-02 20:48] #22519 closed

[2022-04-03 19:14] jdudleyie commented on #23487
Planning to add this logging, and will report back once done.

[2022-04-04 04:02] #23160 closed

[2022-04-04 06:17] RamishSiddiqui commented on #23784
I have the following packages:

azure-mgmt-storage            19.0.0
azure-storage-blob              12.9.0
azureml-automl-core           1.38.0
azureml-core                        1.38.0.post2
azureml-dataprep                 2.26.0
azureml-dataprep-rslex        2.2.0
azureml-dataset-runtime      1.38.0
azureml-mlflow                     1.38.0
azureml-pipeline                   1.38.0
azureml-pi

[2022-04-04 13:15] simebg opened #23804 "DataLake async file client cannot download using SAS tokens restricted to specific folders"
- **Package Name**: azure-storage-file-datalake
- **Package Version**: 12.6.0
- **Operating System**: Ubuntu 20.04
- **Python Version**: 3.9.7

**Describe the bug**
SAS tokens for specific folders in a storage account don't work in the async client, however they do in the sync one.

SAS tokens generated on the whole container do work on both async and sync clients.

**To Reproduce**
Replace releva

[2022-04-04 15:02] SaurabhSharma-MSFT commented on #23665
@gyanisinha We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-04 15:02] #23665 closed

[2022-04-04 15:02] #23489 closed

[2022-04-04 15:04] gyanisinha commented on #23665
thanks @SaurabhSharma-MSFT

[2022-04-04 16:29] catalinaperalta commented on #23800
Hi @zedy-wj, I added a fix for these test issues last Friday (in #23781, #23790). If you run the pipeline again it should be clear of these issues now, please let me know if you're still seeing them in a new run.

[2022-04-04 16:41] l0lawrence commented on #23804
Thanks for the feedback, we'll investigate asap.

[2022-04-04 16:48] l0lawrence commented on #23799
Thanks for your question, routing it to the appropriate person!

[2022-04-04 17:08] mccoyp commented on #21051
`azure-keyvault-secrets` was migrated to the test proxy in this PR: https://github.com/Azure/azure-sdk-for-python/pull/22807

[2022-04-04 17:16] Sbacon017 commented on #23640
I'm also encountering this issue after upgrading `azure-storage-blob` from version 2.1 -> 12.10.0. As @kierandarcy noted, this is only an issue when a CDN URL is used. It is definitely not an account key issue, as the same action (we're collecting static assets to store on Blob) does not produce an error before upgrading, nor after upgrading if the environment is not using a CDN URL.

@vincenttran

[2022-04-04 18:48] #22474 closed

[2022-04-04 20:47] Winslohw opened #23809 "These PRs are draft PRs."
These PRs are draft PRs.

We don't want to merge them now.

_Originally posted by @xiangyan99 in https://github.com/Azure/azure-sdk-for-python/issues/23807#issuecomment-1087959708_

[2022-04-04 20:47] azure-sdk commented on #23809
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'EngSys:0.54913574,Azure.Core:0.1301688,Docs:0.055970006'

[2022-04-04 20:49] #23809 closed

[2022-04-04 21:14] mccoyp commented on #17443
Moving into a milestone where we re-record with the new test proxy system.

[2022-04-05 01:57] vincenttran-msft commented on #23804
Hi @simebg Emilian, would you be able to provide a more concrete example for the relevant variables you've blocked out? Of course please omit any sensitive information, but I am mostly interested in the following:

1. Your file and directory structure (which can be revealed with a more concrete `path` and `container` example (even if that means changing the names to things such as `foo` or `blah`)

[2022-04-05 07:20] simebg commented on #23804
Hi @vincenttran-msft, here is the information you asked for. Please let me know if you require more information.

Here is an example of the variables and the file structure:

[code]

The ACL permissions in the container, the folder, and the file have all been left as default.

For generating the SAS token, I used the web interface in the Azure portal and generated one token for the container and o

[2022-04-05 09:45] mpw96 opened #23815 "Typo in API documentation of python RepositoryProperties Class"
Hi, [here](https://docs.microsoft.com/en-us/python/api/azure-containerregistry/azure.containerregistry.repositoryproperties?view=azure-python#azure-containerregistry-repositoryproperties-last-udpated-on) is a typo. It should be `last_updated_on` instead of `last_udpated_on`.

![Screenshot 2022-04-05 at 11 39 12](https://user-images.githubusercontent.com/12065222/161726518-ff8b9e99-b8a0-415d-a678-e

[2022-04-05 13:52] lundholmx commented on #23623
I don't think so. Any suggestion that may work or that I can try with?

[2022-04-05 15:26] scottaddie opened #23817 "Set x-ms-app HTTP request header in Monitor Query library"
### Library name

azure-monitor-query

### Please describe the feature.

The Azure Monitor Log Analytics service team stores the caller information for their REST APIs. To support tracking HTTP requests from the Azure Monitor Query library, send an `x-ms-app` request header. The header's value should be set to `AzureMonitorQuerySDK`. The metrics team uses the user agent to identify the caller. Sen

[2022-04-05 20:31] simorenoh commented on #23655
Both PR's are getting merged and released this week, closing issue.

[2022-04-05 20:31] #23655 closed

[2022-04-05 21:14] swathipil commented on #21199
finished one round of this. will do this again for GA release.

[2022-04-05 23:04] kristapratico opened #23824 "update mypy to use --no-implicit-optional arg"
This mypy option will enforce using `typing.Optional` when a default argument of None is stated:

[code]

`main.py:36: error: Incompatible default for argument "a" (default has type "None", argument has type "int")`

[2022-04-06 01:14] vincenttran-msft commented on #23804
Hi @simebg Emilian, thank for the extra context I really appreciate it!

In conclusion, we have discovered that there is a slight difference in the parsing of the parameters between `sync` and `async` clients, and we are currently working on a bugfix in order to alleviate this difference and make them both behave the same (and correctly).

In the meantime, from our testing and looking into your `R

[2022-04-06 01:20] vincenttran-msft commented on #23640
Hi @kierandarcy Kieran and @Sbacon017 Steph, sorry that both of you are running into this issue. Our team has been actively looking into the issue; however, I believe we are approaching the limit of what we can do with the currently provided information (as we are unable to reproduce the issue locally).

If either (or both of you) could provide a recent (as they are auto-cleared on a rolling basis

[2022-04-06 02:30] ss8913 opened #23826 "Problem authenticating to USGOV cloud at subscription scope"
This is something that used to work with the older APIs, and now does not.  I've been trying for a solid day to get this to work, and i'm told that this is the forum to report issues.  So, basically I'm trying to get a list of subscriptions, or really do anything at the subscription scope; any function that takes a subscription ID will say 'cannot find subscription', and the subscription list come

[2022-04-06 05:54] #22525 closed

[2022-04-06 05:54] #23493 closed

[2022-04-06 05:55] #23537 closed

[2022-04-06 05:55] #23423 closed

[2022-04-06 06:05] navba-MSFT commented on #23804
@simebg Could you please let us know if you had a chance to follow the above action plan ? Awaiting your reply.

[2022-04-06 06:33] simebg commented on #23804
Thank you for looking into this @vincenttran-msft. You are correct about the extra `/`, I did use a leading `/` in the `path`. After removing it, both sync and async worked for me with the folder-specific SAS token.

[code]

Hello @navba-MSFT, I just tried @vincenttran-msft's suggestion, and removing any trailing and leading `/` from the variables fixed the issue with the async client.

Thank you

[2022-04-06 06:34] navba-MSFT commented on #23804
@simebg  Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-06 06:34] #23804 closed

[2022-04-06 06:43] navba-MSFT commented on #23799
@sprakash1612 Apologies for the late reply. Are you trying to get the record count of the document in Azure CosmosDB ? If Yes, there are multiple ways to achieve this requirement.  [This ](https://microsoft.github.io/AzureTipsAndTricks/blog/tip152.html#get-the-record-count-in-cosmos-db) article talks about how to accomplish it from Azure Portal and using C# sample. Please let me know if you are lo

[2022-04-06 06:54] msyyc opened #23828 "[mgmt] Fix duplicated query parameters in request"
related issue: https://github.com/Azure/azure-sdk-for-python/issues/23561.
fix feature: https://github.com/Azure/autorest.python/blob/autorestv3/ChangeLog.md#2022-03-03---5130

we need:
(1) upgrade autorest.python to 5.13.0+
(2) add `reformat-next-link: false` in readme.python.md for service which has similar problems

candidate services:
resources, consumption, advisor

[2022-04-06 06:55] lfraleigh commented on #22545
When will this be ready to move forward?

[2022-04-06 07:24] msyyc opened #23831 "[doc] update meta csv data"
https://github.com/Azure/azure-sdk/blob/main/_data/releases/latest/python-packages.csv

teams chat:
https://teams.microsoft.com/l/message/19:b97d98e6d22c41e0970a1150b484d935@thread.skype/1648836359009?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1648836359009&teamName=Azure%20SDK&channelName=Language%20-%20Python&createdTime=16488363590

[2022-04-06 08:31] wtam opened #23832 "ImportError: cannot import name 'confidentialLedgerClient'"
- **Package Name**: azure-confidentialledger
- **Package Version**: 1.0.0b1
- **Operating System**: Bash/Ubuntu18.04
- **Python Version**: 3.6.9

**Describe the bug**
from azure.confidentialledger import confidentialLedgerClient => ImportError: cannot import name 'confidentialLedgerClient'

**To Reproduce**
Steps to reproduce the behavior:
1. pip3 install azure-identity azure-confidentialledger
2.

[2022-04-06 09:24] Subhashini2610 opened #23833 "ManagedServiceIdentityClient.user_assigned_identities.create_or_update fails"
- **Package name: azure.mgmt.msi**:
- **Package version: 6.0.0**:
- **Operating system: MacOS**:
- **Python 3.10**:

**Describe the bug**
I have a python code written to create a managed identity, which fails. This is my Python code:
[code]
This is the error encountered:
[code]
This was not happening in 1.0.0.
But with 6.0.0, it is throwing the above error. Please help.

[2022-04-06 11:34] blem14 opened #23834 "PathProperties._from_generated raises exception if last_modified is empty"
- **Package Name**: azure-storage-file-datalake
- **Package Version**: 12.6.0
- **Operating System**: Windows 11 x64
- **Python Version**: 3.9.7

**Describe the bug**
Listing paths may fail on directories with empty `last_modified`.
Introduced in [PR #16093](https://github.com/Azure/azure-sdk-for-python/pull/16093).

**To Reproduce**
Steps to reproduce the behavior:
1. Have directory/file in the d

[2022-04-06 13:29] ankitmounty2008 commented on #23061
@kazrael2119 thanks for responding, however, this doesn't answer my question. I am looking for a python SDK or some help on below API Call.

https://docs.microsoft.com/en-us/rest/api/virtualnetwork/virtual-network-peerings/create-or-update

I am making a put call to sync the peering after adding an address space, however, peering gets connected but "peeringSyncLevel" always gives "RemoteNotInSync"

[2022-04-06 13:39] Sbacon017 commented on #23640
@vincenttran-msft I sent a request last night with this `x-ms-request-id`: 308a9386-d01e-0051-7628-498db8000000

How quickly do they auto-cleared? I can generate one of these fairly quickly.

[2022-04-06 13:57] navba-MSFT commented on #23799
@sprakash1612 Could you please confirm if it is for SQL API ?

[2022-04-06 15:17] #23169 closed

[2022-04-06 15:28] l0lawrence commented on #23833
Thanks for the feedback, we'll investigate this asap.

[2022-04-06 15:29] l0lawrence commented on #23834
Thanks for the feedback, we'll investigate this asap.

[2022-04-06 15:38] jsquire opened #23836 "Event Hubs Troubleshooting Guide"
# Summary

In order to provide guidance for customers encountering difficulties with the client library, and support representatives working customer issues, a troubleshooting guide is needed.  The guide should be focused on common scenarios for the client library and not attempt to address service-specific issues.

# Scope

- Wait for the forthcoming [Java troubleshooting guide](https://github.co

[2022-04-06 16:48] simorenoh commented on #22043
Move `is_system_key` logic: https://github.com/Azure/azure-sdk-for-python/pull/23821/ - **RELEASED IN b4**

[2022-04-06 17:11] xiangyan99 commented on #22326
Dup of #23687

[2022-04-06 17:11] #22326 closed

[2022-04-06 17:11] #22299 closed

[2022-04-06 17:43] simorenoh opened #23840 "[Cosmos] async client unable to return 'COUNT' query"
Upon looking into https://github.com/Azure/azure-sdk-for-python/issues/23799, I found that while the synchronous client has no problems executing a count query to return how many items in a container, the async client runs into some errors trying to make sense of the iterator. Will need to look into this.

<img width="259" alt="image" src="https://user-images.githubusercontent.com/30335873/1620356

[2022-04-06 18:08] joshfree commented on #23687
Link to dependency https://github.com/AzureAD/microsoft-authentication-library-for-python/issues/451

[2022-04-06 18:12] cesarwhite opened #23841 "invalid URL: all the samples pointing to www.public-domain-photos.com are invalid. www.public-domain-photos.com is not registered"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f91b0f03-d716-3421-9023-8e871c188188
* Version Independent ID: 4565d28a-0c4d-f663-b9ea-b53e51389d10
* Content: [Azure Cognitive Services Computer Vision SDK for Python](https://docs.microsoft.com/en-us/python/api/overview/azure/cognitiveservices-visio

[2022-04-06 18:42] jalauzon-msft opened #23843 "Fix documentation for `start_copy_from_url()` to better reflect its behavior."
The documentation for `start_copy_from_url()` states:
"For all blob types, you can call status() on the returned polling object to check the status of the copy operation, or wait() to block until the operation is complete. The final blob will be committed when the copy completes."

This is not accurate, we do not return any sort of polling object and rather just some properties of the destination

[2022-04-06 19:05] yunhaoling opened #23844 "[EventHubs] Buffered Producer concurrent sending support"
### Issue
support concurrent sending in the EventHubProducerClient buffered mode

### Background

there are two parameters in .NET:
- `maximumConcurrentSends`: The number of batches that may be sent concurrently across all partitions.
- `maximumConcurrentSendsPerPartition`: The number of batches that may be sent concurrently to each partition.

However, those two parameters are pulled out of the s

[2022-04-06 19:08] yunhaoling opened #23845 "[EventHubs] Buffered Producer sample improvement"
review feedbacks:

- maybe a comment above each of these explaining that you can either: 1) send events without batching or 2) can still send batches?

_Originally posted by @swathipil in https://github.com/Azure/azure-sdk-for-python/pull/23748#discussion_r839059487_

- is there a sample using flush? or is that not a necessary/common scenario?
https://github.com/Azure/azure-sdk-for-python/pull/237

[2022-04-06 19:09] rakshith91 opened #23846 "Eventgrid - adding a deprecation message documentation to all backward compatible enums"
Add a warning message (not an actual warning)

[2022-04-06 21:50] rakshith91 opened #23855 "Add IoTHubDeviceTelemetryEventName = 'Microsoft.Devices.DeviceTelemetry' to system event names"

[2022-04-06 21:57] jalauzon-msft commented on #23834
Hi @blem14, thanks for reporting this and doing a bit of investigation to figure out the issue! I'm also not really sure how a file/directory would end up with no last_modified time from the server, that seems odd. Either way, this does seem like a case we should handle. I'm making changes in this area for the upcoming release, I'll go ahead and fix it there as well.

[2022-04-06 22:10] vincenttran-msft commented on #21044
Hi all, as you can see, we have been quite busy regarding this issue! Although we anticipated to have this feature added in the next release (as seen in PR #23574), after further discussion we have decided to side-line this feature request (currently in progress in #23857), citing idempotency issues when using `create_if_not_exists()` methods in certain cases may actually leave the state not as in

[2022-04-06 23:19] swathipil opened #23860 "[SchemaRegistry] add group name/schema name to SchemaProperties"
as per: https://github.com/Azure/azure-sdk-for-net/issues/27623

This will help with AvroEncoder error handling scenarios.

[2022-04-06 23:47] #23739 closed

[2022-04-07 00:45] #16413 closed

[2022-04-07 00:45] #20111 closed

[2022-04-07 00:45] #20281 closed

[2022-04-07 00:45] #21747 closed

[2022-04-07 01:24] msyyc opened #23862 "[Docs] need sample for other kinds of cloud in Azure"
teams chat: https://teams.microsoft.com/l/message/19:f6d52ac6465c40ea80dc86b8be3825aa@thread.skype/1649201897177?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1649201897177&teamName=Azure%20SDK&channelName=General&createdTime=1649201897177

We need sample in https://github.com/Azure-Samples/azure-samples-python-management to show how to

[2022-04-07 02:08] msyyc opened #23864 "[mgmt][tool] check changelog for mgmt packages"

[2022-04-07 02:18] msyyc opened #23865 "[Docs] update guidance for test"
https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/mgmt/tests.md

[2022-04-07 02:22] msyyc opened #23866 "[synapse] release for `azure-synapse-artifacts`"
RE: Synapse data plane SDK April release

last release: https://github.com/Azure/azure-sdk-for-python/pull/23295

[2022-04-07 02:26] zedy-wj commented on #23800
@catalinaperalta  - Thanks for the quick fix, we will close this issue.

[2022-04-07 02:26] #23800 closed

[2022-04-07 03:26] mccoyp commented on #23623
@lundholmx if you have a Storage account, using something like a `ContainerClient` to do something simple -- for example, [creating a container](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/storage/azure-storage-blob#create-a-container) -- might be a good way to test it out. If you only own a Key Vault, you could also try using other KV clients, like a `KeyClient` from `azure-keyvau

[2022-04-07 04:02] #23585 closed

[2022-04-07 04:02] #22569 closed

[2022-04-07 04:02] #22407 closed

[2022-04-07 04:02] #21252 closed

[2022-04-07 05:36] sprakash1612 commented on #23799
I tried using this method but I am getting error BadRequest

[2022-04-07 05:57] BigCat20196 commented on #23866
https://github.com/Azure/azure-sdk-for-python/pull/23872

[2022-04-07 06:59] BigCat20196 opened #23873 "[mgmt] disable test file if all tests are skipped in it"
![image](https://user-images.githubusercontent.com/51037443/162139292-ba465d1d-306b-46c0-8236-3d069792d17e.png)

[2022-04-07 08:07] MalfuncEddie opened #23876 "AdvisorManagementClient does no longer return security recomendations"
- **Package Name**:
azure-mgmt-advisor
- **Package Version**:
9.0.0b1
- **Operating System**:
Ubuntu 20.04
- **Python Version**:
Python 3.8.10
**Describe the bug**
A clear and concise description of what the bug is.
One or two monts ago when running
` advisor_client = AdvisorManagementClient(
        credential=EnvironmentCredential(), subscription_id=settings["subscription_id"]
    )
    advisor_

[2022-04-07 08:22] MalfuncEddie commented on #23876
user rights issue

[2022-04-07 08:22] #23876 closed

[2022-04-07 10:17] zedy-wj opened #23879 "[Form Recognizer] Most of the environments on UsGov have timeouts."
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
It is the latest result in pipeline: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1487680&view=results

All environments on `UsGov` have timeouts, and we set the timeout to 8 hours. After inves

[2022-04-07 10:26] Winslohw opened #23880 "[![CLA assistant check](https://cla.opensource.microsoft.com/pull/badge/not_signed)](https://cla.opensource.microsoft.com/Azure/azure-sdk-for-python?pullRequest=23875) <br/>Thank you for your submission, we really appreciate it. Like many open source projects, we ask that you sign our [Contributor License Agreement](https://cla.opensource.microsoft.com/Azure/azure-sdk-for-python?pullRequest=23875) before we can accept your contribution.<br/><br/>:x: Winslohw [sign now](https://cla.opensource.microsoft.com/Azure/azure-sdk-for-python?pullRequest=23875)<br/><sub>You have signed the CLA already but the status is still pending? Let us [recheck](https://cla.opensource.microsoft.com/check/Azure/azure-sdk-for-python?pullRequest=23875) it.</sub>"
[![CLA assistant check](https://cla.opensource.microsoft.com/pull/badge/not_signed)](https://cla.opensource.microsoft.com/Azure/azure-sdk-for-python?pullRequest=23875) <br/>Thank you for your submission, we really appreciate it. Like many open source projects, we ask that you sign our [Contributor License Agreement](https://cla.opensource.microsoft.com/Azure/azure-sdk-for-python?pullRequest=23875)

[2022-04-07 10:26] azure-sdk commented on #23880
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Machine Learning Compute:0.39064533,Docs:0.10592467,EngSys:0.05654493'

[2022-04-07 10:26] Winslohw opened #23881 "[BUG Bash]"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2022-04-07 10:55] JoelCanteroGCO commented on #23431
The error has been solved updating the package to azureml-core 1.40.

Thank you very much.
Joel

[2022-04-07 10:55] #23431 closed

[2022-04-07 11:23] petoor opened #23883 "BlobServiceClient find_blobs_by_tags should return a reduced / empty iterator when not matching."
[code]
Returns a StopIteration error today if no blob exists with the ID 1 or 2.

We have a usecase where the tag might not exist, thus causing the entire search to fail.

Idearly find_blobs_by_tags would only return an iterator for the matching cases.

[2022-04-07 12:30] navba-MSFT commented on #23799
@sprakash1612 Could you please paste the complete error message here in this github thread ? Awaiting your reply.

[2022-04-07 13:38] akazlow opened #23884 "Unable to attach cognitive service using python SDK"
- **Package Name**:  Azure Cognitive Search
- **Package Version**:  11.2.1
- **Operating System**: Windows
- **Python Version**: 3.7

**Describe the bug**
When creating an azure search skill set through the Python SDK, I am unable to attach an azure cognitive service. This causes entities populated by the skill set to not be populated. The `CognitiveServiesAccount` model that is to be used by the

[2022-04-07 13:39] azure-sdk commented on #23884
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive Services:0.49177337,Search:0.13391021,Docs:0.08864225'

[2022-04-07 14:17] Winslohw opened #23885 "[BUG Bash]"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2022-04-07 14:52] Subhashini2610 commented on #23833
Could you please provide an update on this? Or should we look at the possibility of downgrading the version from 6.0.0 to a lower stable version?

[2022-04-07 15:47] simorenoh opened #23887 "[Cosmos] async client unable to complete cross-partition 'COUNT' queries"
Upon looking into https://github.com/Azure/azure-sdk-for-python/issues/23799, I found that while the synchronous client has no problems executing a count query to return how many total items in a container, the async client runs into some errors trying to make sense of the iterator. This only happens for cross-partition queries (trying to get the total item count).

<img width="259" alt="image" sr

[2022-04-07 16:02] #23706 closed

[2022-04-07 16:14] azure-sdk commented on #23887
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.36731434,azure-spring:0.059326712,Docs:0.05829083'

[2022-04-07 16:56] kierandarcy commented on #23640
@vincenttran-msft I have generated a few more `RequestID`s for you (just in case you didn't manage to get to see the others - I guess were a few timezone apart).

[code]

These were generated using the example code in my original **Steps to reproduce the behaviour** (with account names and credentials updated).

This issue is preventing us from going live with our project. I would be willing to se

[2022-04-07 17:07] l0lawrence commented on #23883
Thanks for the feedback, we will investigate asap.

[2022-04-07 17:32] xiangyan99 commented on #23282
https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2834

[2022-04-07 17:32] xiangyan99 commented on #23282
https://github.com/MicrosoftDocs/python-sdk-docs-examples/pull/2

[2022-04-07 17:33] l0lawrence commented on #23841
Thanks for the feedback, we'll look into this asap.

[2022-04-07 18:01] mccoyp opened #23892 "[Key Vault] Run samples in test pipelines"
Per the instructions in [this document](https://microsoft.sharepoint.com/teams/AzureDeveloperExperience/_layouts/15/Doc.aspx?sourcedoc={690480f5-58fe-4d8e-ab3e-cb0dcb01b6f0}&action=edit&wd=target%28Guidelines.one%7Ca3c6194a-abe1-416f-805d-c306609e3ebd%2FTest%20Run%20Samples%20in%20Live%20test%20pipelines%7C66ae4967-9f46-4a8e-b620-40743a871a63%2F%29), we should configure our live test pipelines to

[2022-04-07 18:50] kashifkhan commented on #23884
Hi @akazlow , thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-04-07 21:07] #22442 closed

[2022-04-07 21:34] swathipil commented on #22051
Figure out how to add Python 3 typehints to `BaseSession` in `_servicebus_session.py` so that sync and async Sessions constructor `receive` keyword takes the corresponding sync/async `ServiceBusReceiver`.

[2022-04-07 21:46] vincenttran-msft commented on #23640
Hi @kierandarcy Kieran and @Sbacon017 Steph, thank you for your patience as we are trying our best to resolve this issue, and I really appreciate the follow ups from both of you!

We have looked into all the `RequestID`s provided and unfortunately, they have not been as helpful as we were anticipating. However, we do have another thing we would like to check but would require you to follow the fol

[2022-04-07 22:37] vincenttran-msft commented on #23679
Hi @l0lawrence, I had trouble finding you on Teams to ping, but I just wanted to give you a heads up that I have a PR out to fix these warnings. If you could take a look when you have a chance, that would be great! I am still quite new to the team, so I may have misjudged in some areas and used `disable=client-accepts-api-version-keyword` when I should have just added the keyword `api-version`, so

[2022-04-07 23:01] #23771 closed

[2022-04-07 23:23] SaurabhSharma-MSFT commented on #23832
@wtam We are looking into it and get back to you for any additional information.

[2022-04-08 00:31] mccoyp commented on #23623
Hi @lundholmx -- as an update on this, I was able to use a proxy server (specifically, PortSwigger's [Burp Proxy](https://portswigger.net/burp/documentation/desktop/tools/proxy)) to call `SecretClient.get_secret` successfully. I'm wondering if this issue could for some reason be related to the specific proxy configuration you're trying to use, even though it would be a bit surprising since you wer

[2022-04-08 00:39] vladimirjoanovic commented on #22180
Would it be possible to share the way you added a tag to the subscription?  Can you ever see the tag on the subscription eg. in portal?

[2022-04-08 02:54] svadali2 commented on #23697
@kristapratico thanks for the response, i found a workaround in the meantime. i will go ahead and file a support issue with Databricks!

[2022-04-08 04:02] #22784 closed

[2022-04-08 04:55] PramodValavala-MSFT commented on #23826
@ss8913 You would have to set the `credential_scopes` as well when working with sovereign clouds. Refer the [official doc](https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-sovereign-domain#using-pre-defined-sovereign-cloud-constants) for a full sample.

Here is the same for reference

[code]

[2022-04-08 04:55] petoor commented on #23883
So I can solve my problem with the following code :
[code]
yielding a two lists, one of the matches and one where there is no match.
Iterating over the matches now looks like.
[code]

Apparently  find_blobs_by_tags("ID='1' \ ID='2'") is valid syntax, however the iterator will only return the first match, that is ID=1 and then never return the ID=2 cases. This should **_not_** be allowed. (This is

[2022-04-08 05:10] msyyc commented on #23833
Hi, 1.0.0 is  track1 version, and >=6.0.0b1 is track2 version: [changelog](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/resources/azure-mgmt-msi/CHANGELOG.md#600b1-2021-05-19)
There is slight difference between track1 and track2. Here is the [migration guidance](https://devblogs.microsoft.com/azure-sdk/migrating-python-management-libraries/) and hope the doc could help you

[2022-04-08 05:27] msyyc commented on #23862
[Yesterday 11:12 PM] Laurent Mazuel
Short version it's AAD v2 (MSAL), while track1 was AAD v1 (ADAL)
 like 1

[Yesterday 11:14 PM] Laurent Mazuel
.default means "default set of permissions". It could be .read or else

[Yesterday 11:14 PM] Laurent Mazuel
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#the-default-scope
Microsoft identity platform scopes, p

[2022-04-08 06:17] victorsalesa commented on #23175
Hi @omrodrig . Am I able to access that backlog item to track the issue status?. Could you please provide a link?
Thanks

[2022-04-08 07:41] kierandarcy commented on #23640
Hi @vincenttran-msft. I uncommented this line to produce these results: https://github.com/Azure/azure-sdk-for-python/blob/6580b278e0ff108e93b4ada80421f9895f526a04/sdk/storage/azure-storage-blob/azure/storage/blob/_shared/authentication.py#L143

The full output is below, but the highlights are:

**A Successful response**

[code]

**Failed responses**

[code]

[code]

And now, the verbose output fr

[2022-04-08 14:30] dinoelT opened #23906 "Azure-search-documents(PRE-RELEASE 11.3.0b8) semantic query does not return @search.rerankerScore in result"
Returned results when using the python search client do not contain the @search.rerankerScore field.
[code]
However, when making the request using the API/Portal it returns the @search.rerankerScore.
I'm not sure if this is an issue, or I just overlooked something.

[2022-04-08 14:30] azure-sdk commented on #23906
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.30836967,Search:0.18619901,Cosmos:0.04983841'

[2022-04-08 15:08] tjprescott opened #23907 "[Pylint] custom linter check for invalid use of @overload"
https://mypy-play.net/?mypy=latest&python=3.10&gist=0a3f8bdcedf254e4b9647863e2c834d9

Mypy will catch the above mentioned gist. However, if the return types are removed, Mypy will be totally happy with `@overload` sync signatures and an async implementation (or vice versa). However, since this isn't the actual purpose of `@overload` we should check for it.  Since mypy doesn't consistently identify

[2022-04-08 15:09] azure-sdk commented on #23907
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.23540601,Event Hubs:0.08521333,Azure.Core:0.080435924'

[2022-04-08 15:09] azure-sdk commented on #23907
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.23540601,Event Hubs:0.08521333,Azure.Core:0.080435924'

[2022-04-08 15:13] l0lawrence commented on #23906
Thanks for the feedback, we'll investigate this asap.

[2022-04-08 15:41] kashifkhan commented on #23906
Hi @dinoelT, thanks for the feedback. We'll take a look at this and get back to you asap.

[2022-04-08 15:51] lmazuel commented on #23623
Additional thoughts @mccoyp @xiangyan99
- We should split the problem into identity and KV. Can @lundholmx even get a token?
- We should try with the `proxies` kwarg on both: https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/core/azure-core#configurations. Maybe it's just env variables issue, and the kwarg work
- Enable DEBUG and check where it is stuck more precisely

[2022-04-08 16:37] kashifkhan commented on #23906
@dinoelT I am able to reproduce the bug on my side. I will let you know when I can get an update out

[2022-04-08 18:16] yunhaoling opened #23909 "[EventHubs] Buffered Producer back-pressure handling strategy"
### Issue: Back-pressure

How should the `EventHubProducerClient` in buffered mode behave against the scenario of enqueuing events when the buffer is full/not having enough room for the coming events.

(Originally from [comment in PR](https://github.com/Azure/azure-sdk-for-python/pull/23748#discussion_r839924407))

Anna's comment:

[code]

#### sample cases:
max_buffer_length is 100, there's 50 ev

[2022-04-08 19:08] vincenttran-msft opened #23911 "[Pylint] Storage SDK Pylint Warnings Followup"
The original thread regarding Pylint fixes exists at #23679, and the PR meant to address those changes can be found at #23895. However, due to some exclusion rules and pending merges on the Pylint-checker, this pull-request will have to be an incremental operation; one that includes Pylint corrections **without** the use of disables, and then a second pass-through once the new disables introduced

[2022-04-08 20:53] l0lawrence opened #23913 "[pylint] Address Commented out Pylint Custom Plugin Checkers"
- [ ]   # disabled by default, linter.register_checker(CheckDocstringParameters(linter))
- [ ]   # Rules are disabled until false positive rate improved
- [ ]   # linter.register_checker(CheckForPolicyUse(linter))
- [ ]   # linter.register_checker(ClientHasApprovedMethodNamePrefix(linter))
- [ ]   # linter.register_checker(ClientMethodsHaveTracingDecorators(linter))
- [ ]     # linter.register_che

[2022-04-08 21:09] mpender opened #23914 "ValueError: No value for given attribute"
- **Package Name**: azure.mgmt.loganalytics
- **Package Version**:  13.0.0b2
- **Operating System**:  12.12.1 (Monterey)
- **Python Version**:  3.9

**Describe the bug**
listing all datasources for a workspace returns iterator object azure.core.paging.ItemPaged at X that is not iterable
Passing a string to the filter argument results in a http exception message, omitting it entirely also results i

[2022-04-08 21:09] azure-sdk commented on #23914
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Network - Virtual Network:0.083908185,App Services:0.058386613,Azure.Core:0.050293013'

[2022-04-08 23:10] antkmsft opened #23917 "AppConfiguration can't auth in Germany West Central cloud using connection string?"
There was a bug reported for Go SDK, when AppConfig client couldn't authorize in Germany West Central cloud using the connection string: https://github.com/Azure/azure-sdk-for-go/issues/17424

The fix is to use and sign `Date` header instead of `x-ms-date` (the Go PR is linked in the Go issue, it is a 2-line change).

I searched your code base for `"SignedHeaders"` to easily find the place that ha

[2022-04-08 23:24] vincenttran-msft commented on #23640
Hi @kierandarcy Kieran, I have come back with (potentially) good news! From our testing, we have found that the CDN server seems to be changing the HTTP verb on `HEAD` requests to `GET` (`exists()` runs as a `HEAD` request, and so fails).

Unfortunately, this is the at the limit of what the client team can investigate. With that being said, we have already started an internal conversation with the

[2022-04-08 23:40] l0lawrence commented on #23914
Thanks for the feedback, we'll investigate asap.

[2022-04-09 01:43] cccs-eric opened #23919 "[azure-monitor-query] Will there be a new release of azure-monitor-query Python package?"
I am using the azure-monitor-query Python package and I ran into a bug.  While finding a fix for it, I realized that it was already fixed in the main branch, but that commit has not been packaged in a release yet.  Last release was 1.0.1, November 2021.  Anyone know if there is a plan to make another release soon?

[2022-04-09 01:43] azure-sdk commented on #23919
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Monitor - Query:0.43578887,Storage:0.24062324,Monitor:0.027981788'

[2022-04-09 11:40] agribot2 opened #23922 "Export and download custom vision model error;- is already queued for export"
- **Package Name**:
azure.cognitiveservices.vision.customvision
- **Package Version**:
Here is a list of the python packages being used;-
 adal==1.2.6
applicationinsights==0.11.9
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
azure-batch==10.0.0
azure-cognitiveservices-vision-customvision==3.1.0
azure-common==1.1.26
azure-core==1.10.0
azure-graphrbac==0.61.1
azure-mgmt-authorization==0.61

[2022-04-10 04:29] maulberto3 commented on #21878
I am also having issues downloading a Dataset from my blob into my azureml notebook. It just won't complete for a ~10Kb sample dataframe. Any help on this? It was working this morning, but not anymore this afternoon. It's as if azureml won't connect to the blob, or/and viceversa.

[2022-04-11 02:04] BigCat20196 commented on #23865
https://github.com/Azure/azure-rest-api-specs/pull/18618

[2022-04-11 04:28] jiasli opened #23927 "[identity] `azure-identity` should use the latest `msal-extensions` 1.0.0"
Azure Identity has pinned `msal-extensions` to

https://github.com/Azure/azure-sdk-for-python/blob/b8a947329a3c5f9578a7b1f7a345d654b76bdce2/sdk/identity/azure-identity/setup.py#L79

This makes it impossible for Azure CLI to use `msal-extensions` 1.0.0 (https://pypi.org/project/msal-extensions/) which has some improvements like https://github.com/AzureAD/microsoft-authentication-extensions-for-pyth

[2022-04-11 08:42] AFengKK opened #23928 "Digital Twins Core raedme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/digitaltwins/azure-digitaltwins-core#how-to-install):

![GetImage](https://user-images.githubusercontent.com/80307197/162694228-f6ca9493-76d0-4dd5-9e82-25265aed373d.png)

Suggestion:
Add link: https://pypi.org/project/azure-digitaltwins-core/

@jameszliao-msft , @lmazuel , @joshfree and @johngallardo for notification.

[2022-04-11 09:19] carbondamien13 opened #23929 "Carbondamien13"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional cont

[2022-04-11 09:20] azure-sdk commented on #23929
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.15080689,Event Hubs:0.12804638,Subscription:0.07429027'

[2022-04-11 12:06] kierandarcy commented on #23640
@vincenttran-msft and @Sbacon017

I had a long support chat with the CDN Service Team. Azure CDN is not enabled for "Free Trial" accounts, and that the issue will go away when I upgrade my account. I upgraded my account today, and I still have the issue. Hopefully it is resolved soon.

I was directed me to these two pages by way of explanation:

* https://intellipaat.com/community/44245/is-cdn-is-

[2022-04-11 15:42] #19620 closed

[2022-04-11 16:19] swathipil commented on #22961
Hey @v-xuto! I just merged the potential fix for this issue. (Sorry about the long wait time on this!) Would you be able to re-run this test on the China cloud and let me know if the test passes? Thanks!

[2022-04-11 17:38] jalauzon-msft opened #23934 "Azure CLI progress tracking for concurrent blob upload/download not working"
As reported in https://github.com/Azure/azure-cli/issues/21781

With the CLI's recent switch to the Track2 SDK for blob uploads, the progress bar does not work properly. It jumps around and does not usually reach 100%. This is due to an issue where the SDK does not properly report progress on **concurrent** uploads.

This is likely also broken for chunked, concurrent download as well as both opera

[2022-04-11 17:45] mccoyp commented on #23919
Hi @cccs-eric, thank you for opening an issue! I'll tag someone on this who can help with your question.

[2022-04-11 17:47] xiangyan99 commented on #23623
@lundholmx as Laurent suggested, let's try separate the issue. Can you try the code:

[code]
?

This will verify if you can get token successfully (if identity library works correctly or not).

Thanks.

[2022-04-11 17:52] mccoyp commented on #23922
Hi @agribot2, thank you for opening an issue! I'm tagging some folks who should be able to help. For more context about the issue: https://github.com/MicrosoftDocs/azure-docs/issues/91074

[2022-04-11 18:05] mccoyp commented on #23881
Hi @Winslohw, thank you for opening an issue -- this doesn't have any details about a particular bug, so I'm going to close this issue for now. If there is a bug that you'd like to report, please open a new issue with details or re-open this one after adding a full description. Thank you!

[2022-04-11 18:05] #23881 closed

[2022-04-11 18:29] rakshith91 commented on #23919
@cccs-eric Thanks for the issue - may I know more details about the issue and what the fix is? Yes, we will release azure-monitor-query

[2022-04-11 18:56] cccs-eric commented on #23919
thanks @mccoyp and @rakshith91, here is the issue I am looking to fix.  I am querying a source with a column of type `datetime`, but its value is `None`.  When this [code ](https://github.com/Azure/azure-sdk-for-python/blob/azure-monitor-query_1.0.1/sdk/monitor/azure-monitor-query/azure/monitor/query/_helpers.py#L117-L122) is executed, the underlying calls are not handling the `None` value and `ms

[2022-04-11 19:29] annatisch opened #23939 "[ACR] ContainerRegistryClient has sync overloads for async APIs"
I'm not actually sure what this does to the intellisense experience.
I don't think it should break the API to fix this - but we should test/confirm the behaviour:
https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py#L573-L586

[2022-04-11 19:30] SaurabhSharma-MSFT commented on #23928
@AFengKK We are looking into it and get back to you for any additional information.

[2022-04-11 21:43] #23020 closed

[2022-04-11 22:22] sima-zhu commented on #22303
The issue has been resolved since we moved to toc automation.

[2022-04-11 22:22] #22303 closed

[2022-04-11 22:33] vincenttran-msft commented on #23640
Hi @kierandarcy Kieran, I understand that you have upgraded your account from "Free Trial", but if your CDN endpoint is still hosted under the Pricing tier `Microsoft CDN (classic)`, I believe you will still run into the error as we reproduced the error locally on a non-trial account. If possible, could you try one of the workarounds as provided in a previous response above?
Thanks!

[2022-04-12 00:04] catalinaperalta commented on #23879
@ctstone could you help us take a look at this? It seemed to have been fixed for a couple of days, but seems to be happening again. Thanks!

[2022-04-12 01:17] #23679 closed

[2022-04-12 07:38] navba-MSFT commented on #23799
@sprakash1612 Could you please let me know if you had a chance to look at my [above comment](https://github.com/Azure/azure-sdk-for-python/issues/23799#issuecomment-1091676570) and try the suggested plan. Awaiting your reply.

[2022-04-12 07:41] BigCat20196 commented on #23831
https://github.com/Azure/azure-sdk/pull/4195

[2022-04-12 08:36] v-xuto commented on #22961
@swathipil   I have renew a eventhub weekly pipeline, but it still failed in China cloud.
Error: `TimeoutError: Authorization timeout.`
Failed test: `test_send.py::test_send_with_partition_key`, `test_send_async.py::test_send_with_partition_key_async`
More details click here: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1498072&view=results

[2022-04-12 12:08] Nolent commented on #23645
Hello, sorry for the wait.
Account key is a `str`.

[2022-04-12 12:49] Nolent commented on #23672
Hi, sorry for the wait.
I'm sending a 2mo file

[2022-04-12 13:43] kierandarcy commented on #23640
Thank you @vincenttran-msft.

The option to change the Pricing Tier is not available for some reason (the CDN service team thought it might be because I was on a free trial. but that seems not to be related). I guess my only option is to fully delete the CDN and create another with a different pricing tier - I will try that today.

I also tried other methods (e.g. `get_blob_properties()` as you su

[2022-04-12 16:08] falcu commented on #12096
Is there any plan to support this?

[2022-04-12 16:09] Rodrigossz commented on #12096
Yes. No ETA for now. @simorenoh  can add more details.

[2022-04-12 16:53] kristapratico opened #23958 "[textanalytics] renames to align with service"
see [here](https://microsoft.sharepoint.com/:x:/t/luis_core/EabmFH8uAk1Jry2cY6Ug1qEB4KJpv_0pYv9I_emAx2bwHg?e=9FK0yG&CID=1BB935BA-0C38-4CA0-8D7E-27F1C10E2428&wdLOR=c928C7B83-12CD-4B55-992B-99643DB3637C)

[2022-04-12 17:34] lzchen opened #23959 "Implement metrics exporter"

[2022-04-12 17:35] lzchen opened #23961 "Add more examples to metrics exporter"
Views usage
system metrics usage

[2022-04-12 18:45] #23640 closed

[2022-04-12 19:08] rthorn17 commented on #22180
Hi @fxdgear - I am the PM on the engineering team for tags.  Are you still having this issue?  We are not able to reproduce the issue in our test environment, but we want to make sure you are not experiencing it either.  Please let me know if you are still experiencing the same behavior.

[2022-04-12 20:05] l0lawrence opened #23962 "[typing] Typing issues in _utils.py"
I was playing around with a typing checker in pylint and I noticed that:

- [ ] In get_authentication_header, the typing return type and rtype in the docstring do not match:  (missing an 's' HMACCredentialsPolicy)

[code]

- [ ] Also, I think we would want the rtype docstring to contain the full path of both packages and use "or":
```:rtype: ~azure.core.pipeline.policies.BearerTokenCredentialPolic

[2022-04-12 21:39] yunhaoling commented on #22560
there's another issue in the pyamqp repo: https://github.com/Azure/azure-uamqp-python/issues/299

for py3

- removing code for python2 compatibility
- coding style
- signature

[2022-04-12 22:30] simorenoh commented on #22043
Undocument/ remove documentation around build_options, cosmos_client_connection, connection_retry_policy for both clients:
https://github.com/Azure/azure-sdk-for-python/pull/23945
All of the methods and classes mentioned are already private or marked for deprecation with the PR above.

[2022-04-12 22:52] rakshith91 commented on #23919
@cccs-eric Thanks for the details. We will be releasing the package soon. Keep looking out.

[2022-04-13 00:29] jalauzon-msft commented on #23883
Hi @petoor Peter, unfortunately the service still does not support a logical `OR` for this case. It seems there has not been enough demand for this feature to make it into a release.

That being said, I can offer a suggestion on a modification to your solution which may make it a little cleaner and avoid duplicate calls to the service for each ID. You could try using a `dict` to track your matches

[2022-04-13 00:36] #17282 closed

[2022-04-13 00:37] yunhaoling commented on #17282
this issue is addressed by the issue https://github.com/Azure/azure-sdk-for-python/issues/23020

[2022-04-13 00:39] yunhaoling commented on #11690
I'm closing issue since there is no active development and no customer is reporting since then

[2022-04-13 00:39] #11690 closed

[2022-04-13 00:57] jalauzon-msft commented on #23672
Thanks @Nolent Herbert, it looks like this is because we are actually reading the data out of the IO before passing it to the HTTP client for block blobs that get uploaded in a single request (< 64 MB in size).
https://github.com/Azure/azure-sdk-for-python/blob/9344cb5effe9cd3c8ea16a0a933324e92baed602/sdk/storage/azure-storage-blob/azure/storage/blob/_upload_helpers.py#L91

I'm not entirely sure w

[2022-04-13 05:36] yunhaoling commented on #13468
there's no plan yet for supporting different multiple types of input, closing the issue now

[2022-04-13 05:36] #13468 closed

[2022-04-13 10:28] gpnikhil opened #23970 "Azure App Config Feature Manager python sdk"
az appconfig feature filter add -n azureDBconfig --feature check --filter-name Microsoft.Targeting --filter-parameters Audience={\"DefaultRolloutPercentage\":0,\"Users\":[\"d.g@f.com\",\"a.n@c.com\"]}

I would like to perform this az command, using azure sdk, but not able to find specific examples or use case, can any one guide me here
Thanks

[2022-04-13 15:27] blal00963 opened #23971 "[BUG Bash]"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2022-04-13 16:00] sdegiacomi opened #23972 "ServiceBus on Windows 7: CertCreateCertificateChainEngine failed with error 0x80070057"
- **Package Name**:  azure-servicebus
- **Package Version**: 7.6.1
- **Operating System**: Windows 7 Build 7601
- **Python Version**: 3.8.10

**Describe the bug**
Latest Python ServiceBus SDK fails to connect to ServiceBus when using Windows 7. The same exact code works on other platforms (Windows 10, ubuntu 16.10, Mac 10.13 and others).
The following logs are printed by the SDK:
[code]

The SDK f

[2022-04-13 17:01] #23959 closed

[2022-04-13 17:10] xiangyan99 commented on #22868
https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/604/Sovereign-Cloud-Testing

[2022-04-13 17:39] catalinaperalta opened #23973 "[formrecognizer] Missing bracket in docs"
Add missing bracket in docs:
https://github.com/Azure/azure-sdk-for-python/blob/dcfad094300df3051412720e5a3b16c4c5454aff/sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py#L770

https://github.com/Azure/azure-sdk-for-python/blob/dcfad094300df3051412720e5a3b16c4c5454aff/sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_cli

[2022-04-13 17:44] mccoyp commented on #23970
Hi @gpnikhil, thank you for opening an issue! I'll tag the appropriate folks so we can look into this as soon as possible.

[2022-04-13 17:50] mccoyp commented on #23971
Hi @blal00963, thank you for opening an issue -- this doesn't have any details about a particular bug, so I'm going to close this issue for now. If there is a bug that you'd like to report, please open a new issue with details or re-open this one after adding a full description. Thank you!

[2022-04-13 17:50] #23971 closed

[2022-04-13 21:06] #23478 closed

[2022-04-13 21:07] #23476 closed

[2022-04-13 21:24] l0lawrence opened #23978 "[pylint] Integrate typing and docstring checkers"
If someone has no typehints, but they have all of their docstring types- we can not throw an error since we will have the types from one source

[2022-04-13 21:47] #23927 closed

[2022-04-13 21:52] #19180 closed

[2022-04-13 22:06] lmazuel commented on #15171
Given this operation is available in ARM, we'll update the docstring of the DP operation to suggest to use the ARM API for creation of subcscription with rules, and close the issue.
cc @kashifkhan

[2022-04-13 23:01] l0lawrence opened #23985 "[Cosmos] Fix Cosmos pylint errors"
Fix client-accepts-api-version-keyword pylint errors.

The checker lives in the feature/pylint-plugins branch and is due to be merged 4/15.

[2022-04-13 23:02] l0lawrence opened #23986 "[Communication] fix pylint errors"
Should the pylint diables for client-accepts-api-version-keyword be there?

[2022-04-13 23:13] yunhaoling commented on #16304
closing the issue as there's no active development plan for it.
besides we heard no feedback from the community.

Please create a new issue if you feel this is the feature you need, and we could discuss.

[2022-04-13 23:13] #16304 closed

[2022-04-14 00:28] jalauzon-msft commented on #23834
This has been merged and will be part of our upcoming release.

[2022-04-14 00:28] #23834 closed

[2022-04-14 00:56] catalinaperalta commented on #23879
Just wanted to add a quick update, I spoke with the service team today and they are aware of the issue and investigating it.

[2022-04-14 02:53] msyyc opened #23991 "[tools] Collect api version used by azure-stack"
source files:
https://github.com/Azure/azure-rest-api-specs/tree/main/profiles/definitions
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/profiles/_shared.py

pipeline:
https://dev.azure.com/azure-sdk/internal/_build?definitionId=3920

code:
https://github.com/msyyc/azure-sdk-for-python/tree/collect-api-version/scripts/collect_api_version_for_multi_api_sdk

output:
h

[2022-04-14 03:12] BigCat20196 commented on #23828
related issue: https://github.com/Azure/azure-sdk-for-python/issues/22823, https://github.com/Azure/azure-sdk-for-python/issues/21932, https://github.com/Azure/azure-sdk-for-python/issues/23175

[2022-04-14 03:31] zedy-wj commented on #23879
@catalinaperalta  - Thanks for following up :)

[2022-04-14 04:11] candylaces opened #23995 "[BUG Bash]"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2022-04-14 07:06] annatisch opened #23997 "[Tables] Support existing edm types in an entity"
If an entity passed into `create_entity` or `upsert_entity` has already been formatted with EDM type information, we should directly pass this through to the service.

[2022-04-14 08:02] #23588 closed

[2022-04-14 15:01] hassanselim0 commented on #23640
@kierandarcy does the issue still happen with your Custom CDN?
I don't use Azure CDN, I use CloudFlare instead, and I'm having the same issue.

[2022-04-14 15:19] l0lawrence opened #23999 "[ContainerRegistry] Fix Pylint Supressed issues"
These are suppressed for now:
- [x] azure\containerregistry\_anonymous_exchange_client.py:18: [C4748(client-accepts-api-version-keyword)
- [x] azure\containerregistry\_base_client.py:19: [C4747(enum-must-inherit-case-insensitive-enum-meta)
- [x] azure\containerregistry\_base_client.py:25: [C4748(client-accepts-api-version-keyword)
- [x] azure\containerregistry\_exchange_client.py:33: [C4748(client

[2022-04-14 15:45] l0lawrence opened #24000 "[Tables] Fix suppressed pylint issues"
Suppressed for now:

- [ ] azure\data\tables\_base_client.py:208: [C4748(client-accepts-api-version-keyword)
- [x] azure\data\tables\_entity.py:27: [C4747(enum-must-inherit-case-insensitive-enum-meta)
- [x] azure\data\tables\_error.py:240: [C4747(enum-must-inherit-case-insensitive-enum-meta)
- [x] azure\data\tables\_error.py:242-308: [C4746(enum-must-be-uppercase)
- [x] azure\data\tables\_models.p

[2022-04-14 15:54] l0lawrence opened #24001 "[AppConfig] Client constructor should accept api-version keyword"
These have been suppressed:

- [ ] azure\appconfiguration\_azure_appconfiguration_client.py:47: [C4748(client-accepts-api-version-keyword)
- [ ] azure\appconfiguration\aio\_azure_configuration_client_async.py:48: [C4748(client-accepts-api-version-keyword)

[2022-04-14 17:02] l0lawrence opened #24005 "[pylint] Fix check-docstring errors"
- [ ] docstring-missing-param: doesn't check for ivar
- [ ] docstring-should-be-keyword

[2022-04-14 17:56] deyaaeldeen opened #24006 "[Text Analytics] Updates/Renames for Custom Text and Language"
The service team requested the updates/renames documented in https://github.com/Azure/azure-sdk-for-js/issues/21406#issue-1204786325

[2022-04-14 17:58] mccoyp commented on #23995
Hi @candylaces, thank you for opening an issue -- this doesn't have any details about a particular bug, so I'm going to close this issue for now. If there is a bug that you'd like to report, please open a new issue with details or re-open this one after adding a full description. Thank you!

[2022-04-14 17:58] #23995 closed

[2022-04-14 17:59] kristapratico commented on #23958
closing in favor for #24006

[2022-04-14 17:59] #23958 closed

[2022-04-14 18:19] simorenoh commented on #23985
PR: https://github.com/Azure/azure-sdk-for-python/pull/24008

[2022-04-14 20:25] scbedd commented on #22489
![image](https://user-images.githubusercontent.com/45376673/163469820-e1b7fb15-1df8-4f48-aba1-a504532d98d2.png)

[2022-04-14 21:36] yunhaoling opened #24011 "[EventHubs] for buffered producer, revisiting the error experience before GA"
### background

in the preview release of the buffered producer feature, the current error experience is:

- `send_batch/send_event` will raise OperationTimeoutError if it fails to enqueue events within the given timeout
- `flush` will raise `EventDataSendError` if any partition buffered producer fails to flush the events within the given timeout
  - the error includes the partial failure informat

[2022-04-14 21:51] yunhaoling opened #24013 "[EventHubs] Buffered producer consider using the number of partitions as the default worker count"
### background

In the sync buffered implementation implementation:

- the `max_worker` and `executor` are remove from the public api surface
- for implementation, a default `ThreadPoolExecutor` is created -- Python will decide `max_worker` value.

Anna: Wondering if we should use the number of partitions as the default worker count?

_Originally posted by @annatisch in https://github.com/Azure/az

[2022-04-14 22:52] swathipil commented on #22961
@v-xuto Would you be able to run against this PR? https://github.com/Azure/azure-sdk-for-python/pull/24014

Updated timeout here and am retrying when there's a timeout error.

[2022-04-14 23:44] xiangyan99 opened #24017 "Clarify the documentation of azure-core."
E.g. Our retry policy example: [azure.core.pipeline.policies.RetryPolicy class | Microsoft Docs](https://docs.microsoft.com/en-us/python/api/azure-core/azure.core.pipeline.policies.retrypolicy?view=azure-python#examples), is incomplete.  A standard user reviewing the example does not know where some of the variables and modules are coming from.

the customer’s request is for one of the following o

[2022-04-15 02:20] v-xuto commented on #22961
@swathipil I have renew a eventhub weekly pipeline by your PR https://github.com/Azure/azure-sdk-for-python/pull/24014. But it only runs on the `Public` Cloud.
Pipeline results: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1506942&view=results

If you want test weekly pipeline by your PR, you need to refer to PR https://github.com/Azure/azure-sdk-for-python/pull/21715 and make c

[2022-04-15 11:56] agonzalez-mob opened #24026 "Python SDK - create_images_from_urls - CustomVisionErrorException: No image urls provided"
- **Package Name**: azure-cognitiveservices-vision-customvision
- **Package Version**:
azure-cognitiveservices-vision-customvision==3.1.0
azure-common==1.1.28
azure-core==1.23.1
azure-storage-blob==12.11.0
- **Operating System**: MacOs Monterrey 12.3.1
- **Python Version**: Python 3.8.13

**Describe the bug**
When trying to upload a picture using ImageUrlCreateBatch I get the error: `CustomVisionE

[2022-04-15 16:02] #23833 closed

[2022-04-15 16:23] #23928 closed

[2022-04-15 16:23] lmazuel commented on #23928
PR merged

[2022-04-15 16:26] lmazuel commented on #23815
Hi @mpw96
This was actually a typo in the code itself, that we fixed with some black magic of Python playing with `__getattr__`. The next update should have the fix:
https://github.com/Azure/azure-sdk-for-python/pull/23562

Closing this issue as ACR is planned for release this Tuesday
cc @YalinLi0312

[2022-04-15 16:26] #23815 closed

[2022-04-15 17:46] mccoyp commented on #24026
Hi @agonzalez-mob, thank you for opening an issue! I'm tagging some folks who should be able to help.

[2022-04-15 18:15] yunhaoling commented on #23487
hey @jdudleyie , is there any updates on gathering the logging?

[2022-04-15 18:23] natbprice commented on #21416
@annatisch @mccoyp It looks like this issue was closed without any fix. I am also experiencing what I believe is the same error. Let me know if I should open a new issue.

I think a call to SharedTokenCacheCredential() as part of a call to DefaultAzureCredential() is failing in an unexpected way (expired token) which prevents me from reaching the VisualStudioCodeCredential() I want to use.

[code]

[2022-04-15 18:26] jalauzon-msft commented on #23883
I have made a formal, internal request to the service team to add logical `OR` in `FindBlobsByTags` as this is the second GitHub request for it. However, it is unlikely this will be prioritized anytime soon if I'm honest.

I think for now the best approach is to implement something like you had originally posted or my suggestion above.

[2022-04-15 18:26] #23883 closed

[2022-04-15 18:35] mccoyp commented on #21416
@natbprice thank you for the error details! You're right -- this issue was automatically closed due to inactivity, but it does look like there's work we can do to improve the error experience here. I'll reopen this issue to track that effort.

Though your issue is related per the `azure-data-tables` error message, could I ask you to open a separate issue so we can focus on the `azure-identity`-spe

[2022-04-15 18:43] natbprice commented on #21416
@mccoyp wow fast response! Sorry, I don't understand what you are suggesting. I agree it is `azure-identity` issue. Do you want me to open a separate ticket related to `azure-identity` and #21416 will focus on `azure-data-tables`?

[2022-04-15 18:46] mccoyp commented on #21416
@natbprice Yep, that would be great! I think we can keep #21416 focused on addressing the error messaging issue, and we could address your `SharedTokenCacheCredential` issue in a new ticket 🙂 I'll keep an eye out for the issue and get things triaged when you have a chance to open one

[2022-04-15 19:17] natbprice opened #24032 "`SharedTokenCacheCredential()` fails with unexpected error causing `DefaultAzureCredential()` to fail"
- **Package Name**: azure-identity
- **Package Version**: 1.9.0
- **Operating System**: Windows 10
- **Python Version**: 3.6.13

**Describe the bug**
`SharedTokenCacheCredential()` fails with unexpected error causing `DefaultAzureCredential()` to not proceed to next authentication method (e.g., `VisualStudioCodeCredential()` or `AzureCliCredential()`)

**To Reproduce**
1. Create an invalid token i

[2022-04-15 19:19] jalauzon-msft commented on #8784
This has been addressed in a recent PR to add missing SAS parameters. The doc string now just includes the permission letter for brevity but should include all possible options as well as proper order. Example:
https://github.com/Azure/azure-sdk-for-python/blob/b6217931d29f98abece37f9142470bbf2bb179e8/sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py#L530

[2022-04-15 19:19] #8784 closed

[2022-04-15 19:29] mccoyp commented on #24032
Hi again @natbprice, thank you for opening this issue, tagging the related issue, and providing logs! I'll tag someone who should be able to help and we'll get back to you as soon as possible.

[2022-04-15 19:55] mccoyp commented on #24032
@natbprice the error you're getting here seems to be caused by the cached token being invalid, due to having permissions revoked, per the error message. This is slightly different than the issue described in https://github.com/Azure/azure-sdk-for-python/issues/21718 (where a refresh token had expired), but a workaround should be the same in your case: excluding the `SharedTokenCacheCredential` fro

[2022-04-15 20:35] #23049 closed

[2022-04-15 21:12] natbprice commented on #24032
Thanks @mccoyp for responding so quickly! I see now that #21718 is very similar to the issue I reported here. It seems the solution is to simply exclude `SharedTokenCacheCredential()`. Also, that issue discusses the logic behind why `DefaultAzureCredential()` should abort the search for other credentials when cache credentials do not work (https://github.com/Azure/azure-sdk-for-python/issues/21718

[2022-04-15 21:25] yunhaoling commented on #23972
hey @sdegiacomi, I'm sorry to inform you that [support for Windows 7 ended on January 14, 2020](https://www.microsoft.com/en-us/windows/windows-7-end-of-life-support-information) and we have no plan for our SDKs to keep supporting Windows 7.

is there anything else we could help with or is there a reason what Windows 7 is wanted by you?

[2022-04-15 21:34] l0lawrence opened #24035 "[ConfidentialLedger] pylint issues"
Are these warnings we would want to keep disabled?
- [ ] azure\confidentialledger\identity_service\_client.py:28: [C4748(client-accepts-api-version-keyword), ConfidentialLedgerIdentityServiceClient] The client constructor needs to take in an optional keyword-only api_version argument. https://azure.github.io/azure-sdk/python_design.html#specifying-the-service-version

- [ ] azure\confidentialledge

[2022-04-15 21:40] l0lawrence opened #24036 "[DigitalTwins] pylint issues"
Are these warnings we would want to keep disabled?

- [ ] azure\digitaltwins\core\_digitaltwins_client.py:39: [C4748(client-accepts-api-version-keyword), DigitalTwinsClient] The client constructor needs to take in an optional keyword-only api_version argument. https://azure.github.io/azure-sdk/python_design.html#specifying-the-service-version

- [ ] azure\digitaltwins\core\aio\_digitaltwins_client

[2022-04-15 21:43] l0lawrence opened #24037 "[EventGrid] pylint issues"
The pylint changes/disables that happened:

- [ ] azure\eventgrid\_event_mappings.py:11: [C4747(enum-must-inherit-case-insensitive-enum-meta)
- [ ] zure\eventgrid\_event_mappings.py: [C4746(enum-must-be-uppercase)
- [ ] azure\eventgrid\_publisher_client.py:69: [C4748(client-accepts-api-version-keyword), EventGridPublisherClient] The client constructor needs to take in an optional keyword-only api_

[2022-04-15 22:02] mccoyp commented on #24032
Thank you @natbprice for bearing with the multiple tickets and responding quickly as well!

Yes, the short term solution to unblock the `DefaultAzureCredential` is to skip credentials that have a stale cached token (as #21718 shows, `VisualStudioCodeCredential` can also be affected by this). `azure-identity` could probably make the error message in this scenario more descriptive and point to this

[2022-04-15 22:05] l0lawrence opened #24039 "[MixedReality] pylint issues"
- [ ] azure\mixedreality\authentication\_client.py:31: [C4748(client-accepts-api-version-keyword), MixedRealityStsClient] The client constructor needs to take in an optional keyword-only api_version argument. https://azure.github.io/azure-sdk/python_design.html#specifying-the-service-version

- [ ] azure\mixedreality\authentication\aio\_client_async.py:31: [C4748(client-accepts-api-version-keyword

[2022-04-15 22:08] l0lawrence opened #24040 "[Monitor-query] pylint issues"
The pylint changes/disables that happened (client-accept-api-version-keyword were all disabled)

- [ ] azure\monitor\query\aio\_logs_query_client_async.py:25: [C4748(client-accepts-api-version-keyword), LogsQueryClient] The client constructor needs to take in an optional keyword-only api_version argument. https://azure.github.io/azure-sdk/python_design.html#specifying-the-service-version
- [ ] azu

[2022-04-15 22:13] l0lawrence opened #24042 "[RemoteRendering] pylint issues"
- [ ] azure\mixedreality\remoterendering\_api_version.py:10: [C4747(enum-must-inherit-case-insensitive-enum-meta), RemoteRenderingApiVersion] The enum must inherit from CaseInsensitiveEnumMeta.
https://azure.github.io/azure-sdk/python_implementation.html#extensible-enumerations

[2022-04-15 22:15] l0lawrence opened #24043 "[SchemaRegistry] pylint issues"
- [ ] azure\schemaregistry\_common\_constants.py:29: [C4747(enum-must-inherit-case-insensitive-enum-meta), SchemaFormat] The enum must inherit from CaseInsensitiveEnumMeta. https://azure.github.io/azure-sdk/python_implementation.html#extensible-enumerations

- [ ] azure\schemaregistry\_common\_constants.py:38: [C4747(enum-must-inherit-case-insensitive-enum-meta), ApiVersion] The enum must inherit

[2022-04-15 22:21] l0lawrence opened #24044 "[servicebus] pylint issues"
- [ ] azure\servicebus\_servicebus_client.py:45: [C4748(client-accepts-api-version-keyword), ServiceBusClient] The client constructor needs to take in an optional keyword-only api_version argument. https://azure.github.io/azure-sdk/python_design.html#specifying-the-service-version
- [ ] azure\servicebus\aio\_servicebus_client_async.py:38: [C4748(client-accepts-api-version-keyword), ServiceBusClien

[2022-04-15 23:19] l0lawrence commented on #24044
working on this, just added as an fyi

[2022-04-18 04:22] navba-MSFT commented on #23799
@sprakash1612 Please let me know if you have any update on this. Awaiting your reply.

[2022-04-18 05:37] msyyc commented on #23970
Hi @gpnikhil, azure-cli depends on azure python sdk. We will write a doc to guide users how to realize same function with python SDK if they knows azure cli cmd.

[2022-04-18 05:54] msyyc opened #24060 "[Docs] translate azure-cli to python SDK code"
Sometimes customers want to realize some function with python SDK even though they have known the corresponding azure-cli cmd. Actually, azure-cli depends on python SDK, so we need guidance for them to know how to "translate" azure-cli code to python SDK code.

rough steps:
azure-cli cmd + `--debug` => get the rest api => get SDK function

[2022-04-18 05:55] msyyc commented on #24060
https://github.com/Azure/azure-sdk-for-python/issues/23970

[2022-04-18 06:02] msyyc commented on #23914
Hi @mpender, type of `filter` is `str` so `none` is invalid. please refer [example](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/examples/DataSourcesListByWorkspace.json#L6) to pass in right params

[2022-04-18 06:08] msyyc commented on #23515
Hi @rikiAnodot , the error code is responded by server which seems mean that you don't have access to do the operation. We need expert from service team to help on the issue

[2022-04-18 07:16] msyyc commented on #23494
Hi @josvo , I can't reproduce the error. Could you follow the [doc](https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/debug_guide.md) to provide more detailed log?(please conceal  sensitive info)

[2022-04-18 08:38] BigCat20196 commented on #23991
pr here: https://github.com/Azure/azure-sdk-for-python/pull/22838

[2022-04-18 09:16] msyyc opened #24064 "[tools] optimize change_log to check client_name"
currently, change log tool does not check client_name which may cause breaking change for customers. ([example](https://github.com/Azure/sdk-release-request/issues/2666#issuecomment-1092545748)).

steps:
(1) optimize code_report to gather client_name
(2) optimize change_log to generate report including client_name

[2022-04-18 16:35] italoveloso89 opened #24066 "Blob delete method it's not working"
**Describe the bug**
Hi guys, I'm trying to delete a blob(directory).
But for some reason, I can't delete it because this directory isn't empty.

***Exception or Stack Trace***
PS C:\Users\Italo Veloso\Desktop\Lumeto\PlayfabPY>  c:; cd 'c:\Users\Italo Veloso\Desktop\Lumeto\PlayfabPY'; & 'C:\Users\Italo Veloso\AppData\Local\Programs\Python\Python310\python.exe' 'c:\Users\Italo Veloso\.vscode\extens

[2022-04-18 18:14] l0lawrence opened #24069 "[pylint] Create Pylint Checker Implementation Doc"

[2022-04-18 22:17] #23860 closed

[2022-04-19 04:45] sreekeren opened #24081 "generate_blob_sas sdk sometimes doesnt work in python"
I am using the following method from python SDK for azure-iot-hub.

sas_blob = generate_blob_sas(account_name= STORAGE_ACCOUNT_NAME, account_key = ACCOUNT_ACCESS_KEY, container_name= containername, protocol = "https", start = datetime.datetime.utcnow() - timedelta( minutes= 40) , expiry= datetime.datetime.utcnow() + timedelta(hours=24), permission=BlobSasPermissions(read=True), blob_name = local_f

[2022-04-19 06:54] msyyc commented on #23175
Hi @victorsalesa , python SDK is generated with swagger. Just like https://github.com/Azure/azure-sdk-for-python/issues/23175#issuecomment-1049065339, swagger doesn't define the operation as pageable so SDK will not treat it as pageable. If you want the feature, it is better to make issue in https://github.com/Azure/azure-rest-api-specs/issues. Thanks!

[2022-04-19 07:13] msyyc commented on #22823
Hi @OTDani , Python SDK is just tools to send/receive request/response. According to the context, it seems that server does not take the filter effect. Please follow https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/debug_guide.md to provide more detailed logs. With the logs, you could see the raw request and response from server. If the request is right with filters while server sti

[2022-04-19 09:24] josvo commented on #23494
Hi @msyyc
This is strange, I cannot reproduce this behavior anymore. I tried with different Python versions and also different library versions, they all seem to work fine now.
I'm going to close this issue. In case I run into the problem again, I will reopen this bug report and provide the debug information.
Thanks for your efforts.

[2022-04-19 10:31] asergaz commented on #24081
Relates with: https://docs.microsoft.com/en-us/answers/questions/801684/index.html

[2022-04-19 12:54] agonzalez-mob commented on #24026
Btw, using the api worked
[code]

[2022-04-19 15:14] #24043 closed

[2022-04-19 15:18] #24042 closed

[2022-04-19 15:18] #24039 closed

[2022-04-19 17:17] sima-zhu opened #24084 "Error detected in aggregate-report"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1514312&view=logs&j=3b141548-98d7-5be1-7ef8-eeb08ca02972&t=41e0d8dc-42df-5fff-2417-80cd016cccdb

We have one error reported in aggregate-report.

Could you please investigate and take action on either remove or rotate the secret?

[2022-04-19 18:51] bostdiek opened #24085 "FormRecognizer Prebuilt Invoice Currency is not JSON serializable"
- FormRecognizer:
- API Version 2022-01-30
- Azure Machine Learning compute instance (linux):
- **Python Version**: 3.9

**Describe the bug**
Running the invoice model with async following the example on https://github.com/Azure/azure-sdk-for-python/blob/5eb462494af1be848453f05fda0558208431e1aa/sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_invoices_async

[2022-04-19 20:24] annatisch opened #24087 "[QnA] Fix live test runs"
Live tests for QnA have been failing - this needs to be resolved before the next preview release for the authoring APIs.

[2022-04-19 21:50] rakshith91 commented on #24081
@sreekeren  Thanks for opening this issue. We will investigate this asap

[2022-04-19 21:51] rakshith91 commented on #24081
@jalauzon-msft Can you take a look at this?

[2022-04-19 21:53] rakshith91 commented on #24085
@bostdiek  Thanks for reporting this - we will investigate this asap!

[2022-04-19 21:54] rakshith91 commented on #24085
@catalinaperalta @kristapratico Can someone take a look ?

[2022-04-19 21:58] catalinaperalta commented on #24085
I can take a look. Thanks for reporting this @bostdiek! Could you please let me know which version of the SDK you are using as well?

[2022-04-19 23:06] l0lawrence opened #24094 "[Cosmos] Fix Pylint Disable API Keyword"
Cosmos SDK has a pylint:disable statement around the required api_version kwarg.

cc: @johanste , @tjprescott

[2022-04-20 00:24] bostdiek commented on #24085
I think I am using the most recent version, although I am not sure how to tell. My environment is

[code]

[2022-04-20 00:29] catalinaperalta commented on #24085
Ah yes I see the environment has `azure-ai-formrecognizer==3.2.0b3`. We fixed this bug in `3.2.0b4`. If you upgrade your to the latest beta version the issue should be resolved. Let me know if that fixes the issue!

[2022-04-20 00:55] #23911 closed

[2022-04-20 07:45] thomasfrederikhoeck commented on #22441
@singankit @amolb089  do you have an update on an example on how to achieve it? :-)

[2022-04-20 08:02] #19085 closed

[2022-04-20 08:16] BigCat20196 commented on #23828
resources: https://github.com/Azure/azure-rest-api-specs/pull/18591

[2022-04-20 13:32] agribot2 commented on #23922
Hi,
Has this defect been considered by the team ? Has any decision been made about what to do next ?
Thanks

[2022-04-20 16:34] jdthorpe opened #24106 "FileSystemClient.get_paths() throws a ContainerNotFound error even when container exists"
- **Package Name**: azure-storage-file-datalake
- **Package Version**: 12.6.0
- **Operating System**: OSX
- **Python Version**: 3.9

**Describe the bug**

`FileSystemClient.get_paths()` throws a `ContainerNotFound` error even thought the container exists

**To Reproduce**
Steps to reproduce the behavior:

This code throws a `ContainerNotFound` error every time:

[code]

but this equivalent code fr

[2022-04-20 16:59] kristapratico opened #24107 "[metricsadvisor] clients should accept api_version kwarg"
We are doing a pylint ignore right now so we don't break core ci, but this should be added in the next release.

https://github.com/Azure/azure-sdk-for-python/pull/24105

[2022-04-20 17:40] tjprescott commented on #24094
@l0lawrence why was this issue created and then removed?

[2022-04-20 18:04] l0lawrence commented on #24094
I made it after seeing the PR comments on cosmos, but then Simon mentioned that he was still getting that reviewed so I closed it.

[2022-04-20 18:29] catalinaperalta commented on #24085
Hi @bostdiek, the reason there's an error with the code above is that on the last two lines of the code there's a `wb` instead of just a `w` to write the given string to the output file. With the `wb` then it's expecting a bytes-like object and `to_dict()` returns a `str`.

[2022-04-20 18:31] bostdiek commented on #24085
Ah perfect, thank you so much for your help!

On Wed, Apr 20, 2022 at 2:30 PM catalinaperalta ***@***.***>
wrote:

[2022-04-20 18:33] catalinaperalta commented on #24085
Anytime! :) I will close this issue now. Feel free to report new issues in the future.

[2022-04-20 18:33] #24085 closed

[2022-04-20 18:48] jalauzon-msft opened #24109 "Add additional filtering to Storage test recordings"
There are a couple of elements of test recordings that we should be automatically filtering out. Currently we change account names to `storagename` in the request `uri` field but not in the async response where url is actually shown in the `url` field (l not i). There are also a couple of headers that should be filtered and some additional filtering we should be doing.

Additional fields that shou

[2022-04-20 19:26] jalauzon-msft commented on #24081
Hi @sreekeren, I have a couple of follow-up questions to help us better understand your issue:

- You mentioned you observed the SAS tokens for consistency. Did you notice any different in the SAS tokens that work and the ones that don't?
- Are you able to get a working AND non-working token for the same blob? Or is it some blobs that don't work?
- Would you mind sharing an example of a working to

[2022-04-20 20:48] ahuja-himanshu commented on #18905
/unresolve

[2022-04-20 20:51] ahuja-himanshu commented on #18905
This is throwing `ValueError: Unknown type of azure resource: TriggerResource`, I've imported TriggerResource from `azure.mgmt.datafactory.models`

[2022-04-20 21:17] yunhaoling commented on #23972
latest update:

Simone Degiacomi is from internal team and reached out to me via Teams.

for short term fix, he could patch the C code, compile and get the sdk work on Windows7.
for long term fix, we will have the pure python-based service bus sdk, and we will get Simone be our early adopter to try the SDK out.

[2022-04-20 21:19] rakshith91 commented on #24106
@jdthorpe  Thanks for the issue - we will investigate this asap

@jalauzon-msft Can you take a look?

[2022-04-20 21:37] jalauzon-msft commented on #23256
Hi @UtkarshShrivastava16 Utkarsh, are you still experiencing this issue? I did some verification of what James had mentioned above and it does seem like the SDK *should* support traversing clients with this form of endpoint so I think you may just have a configuration issue with your IoT device or the like.

If you are still experiencing the issue, here are some things to check:
- Did you verify y

[2022-04-20 23:00] l0lawrence opened #24117 "[Cosmos] Pylintrc ignore-paths"
Once Cosmos PR is merged, remove Cosmos files from pylintrc ignore-paths

[2022-04-21 03:46] navba-MSFT commented on #23799
@sprakash1612 We hope you had a chance to follow the suggestion provided in the [above comment. ](https://github.com/Azure/azure-sdk-for-python/issues/23799#issuecomment-1091676570 )We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-21 03:46] #23799 closed

[2022-04-21 11:36] rachhek opened #24124 "Page not found for the quickstart guide link for data factory"
- **azure-mgmt-datafactory**:
- **4.5.1 (2022-04-18)**:
- **windows**:
- *3.7**:

**Describe the bug**
The URL for the quickstart guide for the azure data factory library is no longer available on the readme page.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'quickstart guide' on the readme page for azure-mgmt-datafactory

**Expected behavior**
2. Opens the quickstart page for az

[2022-04-21 16:41] xiangyan99 commented on #24084
#24126

[2022-04-21 16:47] xiangyan99 commented on #22868
Done

[2022-04-21 16:47] #22868 closed

[2022-04-21 16:48] #17949 closed

[2022-04-21 17:24] mmascolino opened #24128 "Key Vault link is broken"
[Enter feedback here]
The key vault link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db9755ce-e891-b94a-fc52-8e6b85586914
* Version Independent ID: 6a41e776-488a-8551-60f3-daae067492c8
* Content: [Reference](https://docs.microsoft.com/en-us/python/api/overview/azure/?view=azure-python&source=docs)
* Conten

[2022-04-21 17:26] azure-sdk commented on #24128
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.5334371,KeyVault:0.44496015,Azure.Identity:0.0030592892'

[2022-04-21 17:43] zyzil commented on #23091
I'm also trying to use Azure Tables with a service principal/managed identity and am facing the same issue.

[2022-04-21 19:22] swathipil opened #24129 "[Mgmt] broken link to quickstart guide in EventHubs README"
Looks like the guickstart guide link under `USAGE` in the `azure-mgmt-eventhub` README is broken. https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/eventhub/azure-mgmt-eventhub

I _think_ it should be linking here? https://github.com/Azure-Samples/azure-samples-python-management/tree/main/samples/eventhub

[2022-04-21 19:25] vishghelani commented on #16878
I can confirm that I'm also struggling to get this effective routes from a vhub route table using this same python call.
I've tried writing this using both in sync and async mode (i.e. azure.mgmt.network.aio) I simple get back .result() of None

`import os
import asyncio
from azure.identity.aio import DefaultAzureCredential
from azure.mgmt.network.aio import NetworkManagementClient

RESOURCE_GROUP

[2022-04-21 19:47] SatishBoddu-MSFT commented on #24129
@swathipil
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-21 19:49] SatishBoddu-MSFT commented on #23922
@agribot2
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-21 19:51] SatishBoddu-MSFT commented on #23794
@eabase Thanks for reaching out on this issue, we are routing this to Service Teams' Attention for further action!

[2022-04-21 20:14] James-Beckwith commented on #23091
Indeed as @zyzil points out, I didn't assign myself the correct role. I was also testing on different systems and found that some did not have the relevant IP addresses whitelisted for the storage account, which also caused access issues.

Note to self; always check role access and whitelisted IPs first.

Thanks the clarification all. I shall close this issue.

[2022-04-21 20:14] #23091 closed

[2022-04-21 20:21] satya5186 opened #24130 "List VNET through python returns null"
**Describe the bug**
List VNET through python returns null

***Exception or Stack Trace***
No stack trace but value returns NULL

**To Reproduce**
Steps to reproduce the behavior:
1. Just create a VNET
2. execute this simple block of code

***Code Snippet***
Add the code snippet that causes the issue.

from azure.identity import AzureCliCredential
from azure.mgmt.resource import ResourceManagement

[2022-04-21 20:56] simorenoh opened #24132 "[Cosmos] follow-up conversation on `api_version` parameter"
Follow up to https://github.com/Azure/azure-sdk-for-python/pull/24008/.

Cosmos is currently ignoring the passing in of this option to the client init methods, but further conversation on the subject is requested to ensure this decision makes sense. Using this issue to mark this topic as a follow-up conversation to be had with the central SDK team.

[2022-04-21 22:26] xiangyan99 commented on #23236
This is by design.

When we query configuration settings, we try to match both key and label.

If you don't specify a label, we don't regard this as "any label", instead, we regard this as "no label" and try to find the one without a label.

[2022-04-21 22:28] sylnsr opened #24135 "ChangeFeedClient.list_changes() causes InvalidQueryParameterValue error"
- **azure-storage-blob-changefeed**:
- **12.10.0b3**:
- **OSX**:
- **3.9**:

I'm using the [sample code to list all change feed events](https://docs.microsoft.com/en-us/python/api/overview/azure/storage-blob-changefeed-readme?view=azure-python-preview#enumerating-all-events). My code is almost the same, verbatim, save the fact that I need to [workaround for issue 12568](https://github.com/Azure/az

[2022-04-21 22:30] xiangyan99 commented on #12700
Close this one as there is no plan to ship Azure account plugin for pycharm

[2022-04-21 22:30] #12700 closed

[2022-04-22 00:48] SaurabhSharma-MSFT commented on #24026
@agonzalez-mob I am seeing the same behavior and checking internally on the same.  I will get back to you with my findings.

Thanks
Saurabh

[2022-04-22 03:09] msyyc opened #24139 "[docs] quick_start link is broken"
https://aka.ms/azsdk/python/mgmt in [template](https://github.com/Azure/azure-sdk-for-python/tree/main/tools/azure-sdk-tools/packaging_tools/templates) does not work anymore

[2022-04-22 03:10] msyyc commented on #24139
related issue:
https://github.com/Azure/azure-sdk-for-python/issues/24129#event-6473522973

[2022-04-22 04:54] msyyc commented on #24139
Fixed: go to `aka.ms` to change the target url.
`[Redirection Production Update Notification]: Your AKA Link azsdk/python/mgmt has been updated by xinrzhu at 4/22/2022 3:56:21 AM`

[2022-04-22 04:54] #24139 closed

[2022-04-22 04:54] msyyc commented on #24129
Fixed

[2022-04-22 04:54] #24129 closed

[2022-04-22 06:51] Indy2222 commented on #21985
Hey. Is there any progress on the issue?

[2022-04-22 07:12] BigCat20196 commented on #23866
pypi link: https://pypi.org/project/azure-synapse-artifacts/0.13.0/

[2022-04-22 08:02] #23590 closed

[2022-04-22 08:37] suxi-ms opened #24142 "ManagedIdentityCredential authentication unavailable, no managed identity endpoint found for aio ManagedIdentity"
- **Package Name**: azure-storage-blob==12.8.1
- **Package Version**: 12.8.1
- **Operating System**: 18.04.1-Ubuntu
- **Python Version**: 3.9

**Describe the bug**
Error " azure.identity._exceptions.CredentialUnavailableError: ManagedIdentityCredential authentication unavailable, no managed identity endpoint found." occured when query request increased but it works well when QPS is low. The logic

[2022-04-22 08:37] azure-sdk commented on #24142
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.5393793,Storage:0.30737743,Azure.Core:0.05351754'

[2022-04-22 09:48] v-yilinhu opened #24143 "Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=289358&view=results

@danieljurek for notification.

[2022-04-22 09:48] azure-sdk commented on #24143
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.398138,Azure.Identity:0.044686526,Storage:0.036631923'

[2022-04-22 13:08] pawel-f opened #24144 "enable_node_public_ip doesn't have any effect in AmlCompute.provisioning_configuration due to old api version"
- **Package Name**: azureml-core
- **Package Version**: 1.40.0.post2
- **Operating System**:Ubuntu 18.04.4 LTS
- **Python Version**: 3.7

**Describe the bug**
When trying to create a compute cluster in a secured Azure ML workspace (dedicated subnet), without assigning public IP to the cluster nodes
the cluster is always created with public IP option enabled.

**To Reproduce**
Steps to reproduce th

[2022-04-22 13:52] josvo commented on #23494
Hi @msyyc
Was able to reproduce it now. This is what I get:

[code]
The code I use to create the PolicyAssignment:
[code]

As before, this works perfectly with version 20.0.0, but doesn't with 20.1.0 and also not with 20.1.0.

[2022-04-22 14:32] agonzalez-mob opened #24145 "Custom Vision - Unclear documentation - training type value in Python SDK and RestAPI"
**Is your feature request related to a problem? Please describe.**
I can't find documentation explaining what are the possible values for the 'training type' option when training a model in custom vision.

In the [Python SDK](https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-vision-customvision/azure.cognitiveservices.vision.customvision.training.models.trainingtype?view=azure-py

[2022-04-22 14:51] swathipil commented on #22852
update resource group name in ARM template as per: https://github.com/Azure/azure-sdk-for-python/pull/24010#discussion_r855676209

[2022-04-22 15:00] AikoBB opened #24146 "Fix Pylint warnings for the new checkers"
**Context**
Fix lint issues regarding the recently added new checkers(the Alias, Enum, API pylint checkers).
The deadline to merge into main branch: 4/15/22
New pylint checkers were added to the lint check and the lint run is failing for communication packages are in the CI pipeline.

**What to do**
1. For the new checkers: 

   - ALIAS:  
       - [ ] Checks if there is aliased code that is expos

[2022-04-22 18:27] simorenoh opened #24147 "[Cosmos] `upsert_item` method allows for incorrect item creation"
SDK is currently sending an option with name `disableIdGeneration` while the parser expects `disableAutomaticIdGeneration` - should be a quick bugfix code-wise to properly parse `disableAutomaticIdGeneration` in `upsert_item` method for both clients.

This bug would potentially allow users to create items without including an `id` field in the body by providing system-generated id's by default - w

[2022-04-22 18:44] kristapratico opened #24148 "[textanalytics] rerecord tests after service fix for params only accepted in kebab-case"
related service bug: https://dev.azure.com/msazure/Cognitive%20Services/_workitems/edit/14137925

~Currently hand editing swagger for projectName and deploymentName, but can't do the same for modelVersion since the batch endpoint expects "model-version" while the non-batch endpoint expects camelCase and they share the same input model.~ Generating as the swagger specifies and waiting for the servi

[2022-04-22 19:26] rakshith91 commented on #24124
@rachhek Thanks for pointing it out - we will fix it soon

@msyyc Can you take a look?

[2022-04-22 19:28] rakshith91 commented on #24124
@rachhek  Is this the link you are looking for?

https://docs.microsoft.com/en-us/azure/developer/python/sdk/azure-sdk-overview#provision-and-manage-azure-resources-with-management-libraries

[2022-04-22 19:31] rakshith91 commented on #24135
@sylnsr Thanks for the issue. We will take a look asap

[2022-04-22 19:33] rakshith91 commented on #24144
@pawel-f  Thanks for the issue. We will take a look asap.

@msyyc Can you take a look?

[2022-04-22 19:34] rakshith91 commented on #24145
@agonzalez-mob Thanks for the issue. We will take a look asap.

[2022-04-22 19:59] mccoyp commented on #24128
Ah, I see -- the "Key Vault" service link on [this reference page](https://docs.microsoft.com/python/api/overview/azure/?view=azure-python&source=docs) is broken. Other services seem to be fine. @scbedd, do you know who would know more about this?

[2022-04-22 20:07] agonzalez-mob commented on #24145
Thank you. I rephrased the question as it was poorly written.

[2022-04-22 20:21] jalauzon-msft commented on #24135
Hi @sylnsr Mike, I believe your issue might be caused by the fact that you are using the `dfs` endpoint for account URL. I believe we only support ChangeFeed on the Blob endpoint so you should provide the blob endpoint for your account when constructing the client. This matches the URL used in our samples. Additionally, I don't think you should need the workaround with `credential` in this case si

[2022-04-22 20:38] stevenhurwitt commented on #8497
i am seeing this same issue on a databricks cluster, but the above solution does not resolve the issue.

I am trying `import azure-mgmt-resource` and getting this error:
`ModuleNotFoundError: No module named 'azure.profiles'`

Here is the output of my relevant pip freeze:
[code]

cluster python is Python 3.7.5

[2022-04-22 20:56] jalauzon-msft commented on #23672
I have confirmed that the above code I referenced is likely a bug and can/should probably be removed. I will open a PR for this soon.

[2022-04-22 21:17] paololazzari commented on #8497
@stevenhurwitt I suggest you open a new issue - I don't think you'll get anyone looking at this one since it's closed

[2022-04-22 21:25] swathipil commented on #21985
Hey @Indy2222 - apologies for the late update! I'll make sure to discuss this with the team this upcoming week and keep you posted on when we can address this. Thanks!

[2022-04-22 21:29] mparq commented on #10502
@ManojBableshwar, re-surfacing this issue in 2022 since I found this thread after running into a similar problem where calling `run.get_children()` too quickly seems to return incomplete set of child runs.

To work around this, instead of relying on `run.get_children()`, we just keep track of the child runs that we submit in the parent run and call wait_for_completion() in that loop. Is there a re

[2022-04-22 21:42] stevenhurwitt opened #24151 "ModuleNotFoundError: No module named 'azure.profiles'"
- **Package Name**:  azure-mgmt-resource
- **Package Version**: 21.0.0
- **Operating System**: Databricks cluster (linux)
- **Python Version**: 3.7.5

**Describe the bug**
I am trying to `import azure-mgmt-resource` and getting this error:

`ModuleNotFoundError: No module named 'azure.profiles'`

**To Reproduce**
Steps to reproduce the behavior:
1. `import azure-mgmt-resource`

**Expected behavior

[2022-04-22 21:43] azure-sdk commented on #24151
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Container Registry:0.08040685,Event Hubs:0.051581953,Compute:0.046560343'

[2022-04-22 21:43] jsquire opened #24152 "Service Bus: Custom Endpoint Address Support"
# Summary

When using an Express Route circuit, there are some configurations which are not able to open the initial connection to the Service Bus service using the fully qualified namespace as the connection endpoint.  In these cases, a custom endpoint address is needed to ensure the correct routing for the connection but should only be used when first establishing the connection; after that poin

[2022-04-22 21:43] jsquire commented on #24152
//cc: @kashifkhan, @swathipil, @LibbaLawrence

[2022-04-22 23:47] swathipil opened #28717 "[Test Proxy] Failure when passing in one client to multiple AvroEncoder objects"
In one of the [SchemaRegistry AvroEncoder](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/schemaregistry/azure-schemaregistry-avroencoder) test cases, we want to create multiple `AvroEncoder` objects and pass the same `SchemaRegistryClient` in during initialization. For example, if I were to add
[code]
under this line [[here](https://github.com/Azure/azure-sdk-for-python/blob/ec767520

[2022-04-23 00:21] vincenttran-msft commented on #24106
Hi @jdthorpe Jason, I was looking into this issue alongside @jalauzon-msft and we were able to successfully reproduce your error.

After further testing, we have discovered that there is some odd service behavior with SAS tokens generated using `generate_account_sas()`. We noticed that you are using `generate_account_sas()` but also providing a `container_name`, and so below we have provided some

[2022-04-23 04:02] #24032 closed

[2022-04-23 14:30] keuj6 opened #24155 "ImportError: cannot import name 'HTTPPolicy' from partially initialized module 'azure.core.pipeline.policies'"
- **Package Name**: azure.ai.formrecognizer
- **Package Version**: 3.2.0b3
- **Operating System**: Windows 10 Enterprise
- **Python Version**: 3.9

**Describe the bug**
When trying to run the command `from azure.ai.formrecognizer import DocumentAnalysisClient`
following error is raised:

**To Reproduce**
Follow the steps explained on [this tutorial page](https://docs.microsoft.com/en-us/azure/appl

[2022-04-23 18:50] jdthorpe commented on #24106
Thanks!  Yes, this resolves my specific issue.

As a user, I'm often confused by the fact that the account url sometimes matters and sometimes doesn't, in part because of the fact that at least some of the functions in the filedatalake library are just thin wrappers around the blob library (for example, `DataLakeServiceClient.list_file_systems()` just calls `self._blob_service_client.list_containe

[2022-04-23 19:06] jdthorpe opened #24156 "`BlobServiceClient.list_containers()` fails when using a sas token generated using `generate_account_sas`"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.12.0b1
- **Operating System**: OSX
- **Python Version**: 3.9

**Describe the bug**

`BlobServiceClient.list_containers()` fails when using an account SAS token generated using `generate_account_sas`

**To Reproduce**
Steps to reproduce the behavior:

If I create an account SAS token like this:

[code]

`BlobServiceClient.list_contain

[2022-04-24 03:25] yifan-zhou922 opened #24158 "Catalog Python SDK returns bad request when calling entity delete by guids"
- **azure-purview-catalog**:
- **1.0.0b3**:
- **Windows**:
- **Python 3.9.1**:

**Describe the bug**
Delete entities by guids will return Bad Request

**To Reproduce**
Steps to reproduce the behavior:
list_by_guids will return the details successfully but delete_by_guids will fail
<img width="676" alt="image" src="https://user-images.githubusercontent.com/78060542/164954901-e1869042-5516-41bd-8b83

[2022-04-24 03:25] azure-sdk commented on #24158
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.29228032,Azure.Core:0.21135615,Media Services:0.05932756'

[2022-04-24 03:35] msyyc commented on #24158
Hi @yifan-zhou922 , the error seems related with service server, please  follow https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/debug_guide.md to provide more detailed logs

[2022-04-24 03:43] yifan-zhou922 commented on #24158
@msyyc here is the detailed logs.
2022-04-24 11:41:34,252 - azure.core.pipeline.policies.http_logging_policy - INFO - Request URL: 'https://contosopurview.purview.azure.com/catalog/api/atlas/v2/entity/bulk?guid=REDACTED'
Request method: 'DELETE'
Request headers:
    'Accept': 'application/json'
    'x-ms-client-request-id': '6fe037c7-c380-11ec-8f25-0050b6f1ab7d'
    'User-Agent': 'azsdk-python-pur

[2022-04-24 03:48] yifan-zhou922 commented on #24158
@msyyc here is the detailed logs for delete by guids.
2022-04-24 11:41:34,252 - azure.core.pipeline.policies.http_logging_policy - INFO - Request URL: 'https://{accountName}.purview.azure.com/catalog/api/atlas/v2/entity/bulk?guid=REDACTED'
Request method: 'DELETE'
Request headers:
    'Accept': 'application/json'
    'x-ms-client-request-id': '{id}'
    'User-Agent': 'azsdk-python-purview-catalog/

[2022-04-24 04:48] msyyc commented on #24158
Hi @yifan-zhou922 , the log shows that the request corresponds with swagger definition. Could you check which part of request in is not right?

[2022-04-24 07:13] cloga commented on #10502
@mparq , would you help to provide which doc are you referring to?

From this doc: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-track-monitor-analyze-runs?tabs=python#submit-child-runs

We already recommend the approach you have mentioned. We may need update the doc you have mentioned also.

Thanks.

[2022-04-24 08:58] yifan-zhou922 commented on #24158
Root cause discovered. Closing the issue.

[2022-04-24 08:58] #24158 closed

[2022-04-24 23:17] xiaoyongzhu commented on #23697
I also found this issue, and can be reporduced by using Databricks 10.2 ML runtime.

[2022-04-25 01:28] msyyc commented on #24124
fixed: https://github.com/Azure/azure-sdk-for-python/issues/24139

[2022-04-25 01:28] #24124 closed

[2022-04-25 06:32] navba-MSFT commented on #24135
@sylnsr Thanks for reaching out to us. I hope you had a chance to follow the above suggestion provided by @jalauzon-msft.

Only standard general-purpose v2, premium block blob, and Blob storage accounts can enable the change feed. Accounts with a hierarchical namespace enabled are not currently supported. More Info [here](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-change-fee

[2022-04-25 12:12] agonzalez-mob opened #24164 "Cognitive Services: Custom Vision - Unclear documentation - GetIterationPerformance RestAPI"
**Is your feature request related to a problem? Please describe.**
There's no explanation of the possible/default values of the parameters used in [GetIterationPerformance](https://southcentralus.dev.cognitive.microsoft.com/docs/services/Custom_Vision_Training_3.3/operations/5eb0bcc7548b571998fdded0), in particular `threshold` and `overlapThreshold`.

For example:
[code]
What are the ranges of the

[2022-04-25 12:13] azure-sdk commented on #24164
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive Services:0.12460461,Docs:0.06039851,KeyVault:0.05489946'

[2022-04-25 14:24] sylnsr commented on #24135
Can we at least get a more intuitive error message then please. The current error is a red-herring.

[2022-04-25 16:22] #23317 closed

[2022-04-25 16:50] kristapratico commented on #23697
@xiaoyongzhu moving the chat from the PR to this issue:

@xiaoyongzhu thanks for bringing to my attention, as it is still an issue I'm going to re-open this. Can you provide more details on how to set up your Databricks environment? I had previously tried to repro this error in a Databricks notebook with no luck (see above). Are you running this in a notebook? Also which version of `typing-extensi

[2022-04-25 16:57] xiaoyongzhu commented on #23697
I'll ping you in teams and give an environment so you can repro @kristapratico

[2022-04-25 17:28] xiangyan99 commented on #21719
Closing because this is not an SDK issue.

Please open service support ticket to track it.

[2022-04-25 17:28] #21719 closed

[2022-04-25 17:28] jalauzon-msft opened #24167 "Add ChangeFeed features for next release"
There have been a couple of minor changes to ChangeFeed made in .NET for the PITR team. These should also be implemented in the Python SDK. See internal emails for details.

- Add adjustable chunk size
- Do not return BlobNotFound if the ChangeFeed blob does not exist, instead return and empty list of results.

[2022-04-25 17:43] jalauzon-msft commented on #24106
Hi @jdthorpe Jason, I'm glad you were able to resolve the issue and thanks for the additional feedback.

The interaction between blob and datalake can be a confusing topic but the general recommendation is to always use `blob.core.windows.net` URLs with the blob SDK and `dfs.core.windows.net` URLs with the datalake SDK. While some operations are interchangeable, this should ensure all requests wor

[2022-04-25 17:43] #24106 closed

[2022-04-25 18:07] tevoinea opened #24169 "`Explore the Management APIs` button links to a 404"
The link from this button is broken.
<img width="219" alt="image" src="https://user-images.githubusercontent.com/58236992/165148144-ba01d879-3a71-466c-b828-3c93c06958b2.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fc1c70b-6ce5-8115-921d-8db80c1d43db
* Version Independent ID: 5b033609-afc0-a8e0-4059-89e77bbcd28

[2022-04-25 18:10] simorenoh commented on #24147
PR: https://github.com/Azure/azure-sdk-for-python/pull/24150

[2022-04-25 18:19] danieljurek commented on #24143
This error appears transient among scheduled builds as we're no longer seeing it. Thanks for opening. :)

[2022-04-25 18:19] #24143 closed

[2022-04-25 18:55] danieljurek commented on #23344
Clearing assignment and tagging for `Client` ... This requires attention from the client SDK team. See comment above.

[2022-04-25 18:56] danieljurek commented on #23344
cc @lmazuel

[2022-04-25 18:59] jalauzon-msft commented on #24135
Hi @sylnsr Mike, you are correct that `StorageV2 (general purpose v2)` is the correct account type however what I believe @navba-MSFT was pointing out was that Change Feed is not supported for account with hierarchical namespace enabled. This is a property on a Storage account that can be seen on the home screen for an account:
![image](https://user-images.githubusercontent.com/96087589/165153097-

[2022-04-25 19:18] EFulmer opened #24171 "Question: Equivalent to legacy BlockBlobService.create_blob_from_path() in V12?"
Hello there!

I want to upload a Parquet file to Azure Blob Storage. However, when I modify the examples that use `BlobClient.upload_blob`, I get a `UnicodeDecodeError`, implying `upload_blob` is expecting text data. Example & specific error below:

[code]

I found (don't remember how, my apologies) that the legacy SDK had a class named `BlockBlobService` with a method `create_blob_from_path` ([do

[2022-04-25 19:28] kristapratico commented on #23697
Some notes:

This issue repros in DataBricks ML Runtimes, specifically. Standard runtimes do not have the issue. The current workaround is to downgrade the azure-core version to 1.22.1:

`!pip install azure-core==1.22.1`

I've opened a support request with the azure databricks team and will ping updates to this thread as I get them.

[2022-04-25 19:40] sylnsr commented on #24135
Say whaaaat?. So this thing is even more misleading since ".**blob**.core.windows.net" is actually an **immutable** part of how the API is used, however, because it's taken as part of the param it therefore implies it's not.

It would make so much much more sense to simply take the storage account name only, as the param and then simply do:
`"https://{}.blob.core.windows.net".format(ACCOUNT_NAME_P

[2022-04-25 20:12] #23773 closed

[2022-04-25 20:12] tjprescott commented on #24171
Hi @EFulmer, thanks for reach out!
@jalauzon-msft could you take a look at this?

[2022-04-25 20:13] #23210 closed

[2022-04-25 20:15] tjprescott commented on #24169
Hi @tevoinea thanks for reporting this! @msyyc could your route this to the appropriate team?

[2022-04-25 20:18] azure-sdk commented on #24164
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.18423106,Cognitive Services:0.13722889,KeyVault:0.026460405'

[2022-04-25 20:19] tjprescott commented on #24164
@agonzalez-mob thank you for your inquiry. Someone from the CXP team will route your question to the appropriate service team.

[2022-04-25 20:20] tjprescott commented on #24156
@jdthorpe thank you for reaching out! @jalauzon-msft could you take a look at this?

[2022-04-25 20:22] tjprescott commented on #24155
@keuj6 thank you for the repro! @catalinaperalta @kristapratico could one of you take a look at this?

[2022-04-25 20:23] azure-sdk commented on #24151
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.08743066,Docs:0.08443268,Container Registry:0.052605137'

[2022-04-25 20:24] tjprescott commented on #24151
@stevenhurwitt thank you for the report. @msyyc can you please investigate?

[2022-04-25 20:49] catalinaperalta commented on #24155
@keuj6 thanks for reporting this. I just installed `azure-ai-formrecognizer==3.2.0b3` in a clean Python 3.9 environment and ran the sample. I did not manage to reproduce this error. Could you please share the output of `pip list` for your environment?

[2022-04-25 21:33] swathipil commented on #23191
Hey @aticie - Thanks for your report! We just merged a PR to fix this, so InternalServerErrors will be retried. This will be included in our next release.

Currently, we're not planning on releasing in the upcoming month. Is this blocking you? If so, I'll discuss releasing in the upcoming month with the team, so that you're not blocked. Thanks again!

[2022-04-25 21:35] #21199 closed

[2022-04-25 21:48] jalauzon-msft commented on #24135
@sylnsr Mike, sorry, I was simplifying a bit. We do need to support other account URLs such as [custom domains](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-custom-domain-name?tabs=azure-portal), [CDNs](https://docs.microsoft.com/en-us/azure/cdn/cdn-create-a-storage-account-with-cdn), [static websites](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website

[2022-04-25 21:51] sylnsr commented on #24135
OK, that makes a lot more sense. So yeah, if we could just get that error message improved. That would be great.

[2022-04-25 22:11] jalauzon-msft commented on #24171
Hi @EFulmer Eric, I believe you may just need to open your file in binary mode using "r**b**" so that we do not attempt any decoding on the bytes.
[code]

This also matches the [legacy implementation](https://github.com/Azure/azure-storage-python/blob/4306898850dd21617644fc537a57d025e833db74/azure-storage-blob/azure/storage/blob/blockblobservice.py#L483) :)

Hopefully that helps, thanks!

[2022-04-25 23:24] lmazuel commented on #19974
Hi @646826
We re-discussed this issue today with @annatisch , and we concluded that the service do not support the feature, and we don't want to implement the feature in SDK. However, it's fair that we provide a sample of the scenario for informational purposes. I'm keeping this issue open as the action item to provide a sample.
Thanks!

[2022-04-25 23:54] jalauzon-msft commented on #24156
Hi @jdthorpe Jason, thanks so much for trying out the beta version and reporting this issue! It turns out this is an SDK bug that was introduced in the latest beta release. We will work on getting this fixed ASAP and it will be fixed in our next production release.

For now, reverting back to 12.11.0 should fix the issue for you.

[2022-04-26 00:54] suxi-ms commented on #24142
Thank you for the quick response @xiangyan99 ,  I have only one blobServiceClient instance for the whole service and it is only initialized once. But for the blobClient, every time I download some blob, it is a new instance.  I used the blob client to download blob. So for your question, I think my answer is yes, I reused the blob service client, but the error is thrown

[2022-04-26 00:55] keuj6 commented on #24155
Thx for looking into it @catalinaperalta,
My apologies for waisting your time m(_ _ )m. My venv was compromised. A fresh install solved the (non-)problem.
I close the issue

[2022-04-26 00:55] #24155 closed

[2022-04-26 00:57] catalinaperalta commented on #24155
No worries! Feel free to reach out if you need to open other issues with our SDKs. :)

[2022-04-26 01:38] kristapratico opened #24178 "[textanalytics] known issues"
We currently have several workarounds in code which need to be fixed before our beta release:

1) ~No AAD auth support yet --> skipping tests/samples~ (Fixed in 2022-04-01-preview)
2) ~Cancellation support in april api version, but GET fails --> skipping tests/samples [link](https://dev.azure.com/msazure/Cognitive%20Services/_workitems/edit/14303656/). This presently occurs when a job is tried to

[2022-04-26 03:12] RakeshMohanMSFT commented on #24164
@agonzalez-mob Thank you for reaching out, we are looking into it.

[2022-04-26 03:30] msyyc opened #24180 "[auto-release] Optimize flow to make PR before live test"
Some packages take a lot of time to generate code and run live test. If timeout, all the work is abandoned. So we need to make PR with generated code, then run live test and commit the test result

[2022-04-26 04:01] kelly1108 opened #24182 "Is firewall_policy_rule_collection_groups.begin_create_or_update() incremental update or overwrite"
I tired this function firewall_policy_rule_collection_groups.begin_create_or_update() and I found that when I set a new rule to it ,it will overwrite my group and if I set some incorrect params ,any old rule will disappear in the group?

[2022-04-26 04:02] azure-sdk commented on #24182
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.1727051,Storage:0.10345899,Search:0.039443884'

[2022-04-26 05:59] msyyc commented on #24151
Hi @stevenhurwitt, thanks for your feedback and we will fix it soon. Before that, please `pip install azure-common`, then `azure-mgmt-resource` shall work

[2022-04-26 06:47] msyyc commented on #24151
Hi @stevenhurwitt , according to this comment: https://github.com/Azure/azure-sdk-for-python/issues/8497#issuecomment-1106840964, I think the reason is that version of `azure-common` is too low. Please try the latest version.

[2022-04-26 07:14] efehana commented on #23191
No problem it's not blocking me since I do the retry operation for these kinds of errors.

[2022-04-26 08:32] navba-MSFT commented on #24169
@tevoinea Thanks for reaching out to us and sharing this feedback. This PR https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/1543 has been created to fix this issue. It is currently under Review phase.

[2022-04-26 08:54] agonzalez-mob commented on #24164
@RakeshMohanMSFT thank you. I just modified the question a bit to include `overlapThreshold` in the example given in the original question.

[2022-04-26 10:04] #23914 closed

[2022-04-26 10:05] #23175 closed

[2022-04-26 10:51] glaubitz opened #24188 "azure-identity: Version conflict with msal-extensions requirement with azure-cli-core"
The latest version of `azure-cli-core` 2.36.0 just bumped its dependency of `msal-extensions` to 1.0.0 meaning that both `azure-cli-core` and `azure-identity` can no longer be co-installed on Linux distributions which ship the Azure SDK and CLI as packages.

Could the version dependency of `azure-identity` on `msal-extensions` be bumped to 1.0.0?

[2022-04-26 10:53] glaubitz commented on #24188
Ah, that has already happened in  #23932.

Could the new version be released?

[2022-04-26 12:42] cpiment opened #24189 "OpenTelemetry gRPC exporter fails because SpanKind is None"
- **Package Name**: azure-core-tracing-opentelemetry
- **Package Version**: 1.0.0b9
- **Operating System**: Windows Server 2012 R2
- **Python Version**: 3.8.10

**Describe the bug**
When trying to use opentelemetry-exporter-otlp-proto-grpc to export OpenTelemetry traces created by Azure Python SDK, some traces fail to get exported because the generated OpenTelemetry Spans are not created with a va

[2022-04-26 12:51] tevoinea commented on #24169
Awesome, thank you both! Closing the issue since the fix is in PR.

[2022-04-26 12:51] #24169 closed

[2022-04-26 15:45] tjprescott commented on #24182
@kelly1108 what SDK are you working with?  Is it `azure-mgmt-network`?

[2022-04-26 15:47] tjprescott commented on #24182
However, a method that is called `begin_create_or_update` means that it is a PUT, which does mean that whatever was in place before is overwritten. So the behavior you observe is correct. If you wanted to add a rule to an existing collection, you'd need to retrieve the object (such as with a get call), add the rule, and put the entire object back using this method.

[2022-04-26 15:51] tjprescott commented on #24189
@cpiment thank you for the issue and detailed repro! @xiangyan99 can you please take a look at this?

[2022-04-26 15:55] xiangyan99 commented on #24188
We are working with the CLI team to make it happen.

[2022-04-26 16:12] cpiment commented on #24189
I have created a minimal repo with steps to reproduce the issue: https://github.com/cpiment/otel-azure-grpc

Please let me know if you need more help

[2022-04-26 16:18] jdthorpe commented on #24156
Thanks! That's good information and should solve my issue.

FYI, I didn't intend to install a beta version.  I just uses pip install without a version number.  Is that intended? Normally I think of beta versions as something you have to opt into.