[2020-09-11 02:21] LianwMS commented on #13600
I cannot repo the issue
On the other hand, the **azureml-train-automl** is not in the repo of azure-sdk-for-python.
Add service attention label

[2020-09-11 02:23] LianwMS commented on #13598
It seems like the issue of azureml sdk, which is not in current repo. Add service attestation label

[2020-09-11 02:31] changlong-liu commented on #13443
Hi @soped @arpitkath , would you try the new alertsmanagement package here: https://pypi.org/project/azure-mgmt-alertsmanagement/0.2.0rc2/

[2020-09-11 02:37] gavinshark opened #13730 "Python Service Bus submission failure"
- **Package Name**:  azure-servicebus
- **Package Version**:  0.20.2
- **Operating System**: CentOS release 6.6
- **Python Version**: 2.7.6

**Describe the bug**
A clear and concise description of what the bug is.
Message submission failure. The call stack can be found as follows:

' File "/usr/local/lib/python2.7/site-packages/azure/servicebus/servicebusservice.py", line 1228, in _perform_request

[2020-09-11 03:04] changlong-liu commented on #9549
Hi @onenessboy , no existing SDK doing this.
Need to list all subscriptions and then query gallery images one by one.

list subscription like this:
[code]

[2020-09-11 05:14] idear1203 commented on #13441
@lmazuel , I am not quite familiar with Python. Could you please help me understand what I should do here?

[2020-09-11 07:13] 3ttp opened #13735 "[BUG Bash]"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2020-09-11 07:57] hermanschaaf commented on #9596
In case it helps anyone else out there: when moving from Azure blob storage v2 to v12, we experienced a significant regression in performance when uploading many small files (-50%). However, we discovered a seemingly undocumented `session` argument to `BlobServiceClient` which allowed us to share one session per process across many `BlobServiceClient` instances. We were doing this in v2, but origi

[2020-09-11 08:28] AkhilGNair commented on #12744
Sorry to highjack this a little. I was trying to use
[code]

to check if a container existed. I had expected either an immediate `ResourceNotFound` or otherwise some authorised message - basically anything that would allow me to fail fast. Instead the command runs for about 2 minutes, retrying twice (three times in total, I believe with some backoff) resulting in

[code]

I have also tried all the

[2020-09-11 10:12] 3ttp opened #13737 "[BUG Bash]"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2020-09-11 10:12] 3ttp commented on #13737
ت

[2020-09-11 11:15] rblock-aw commented on #13479
Hi @xiafu-msft

I get that it is a valid response code, however, it looks like `readall()` is returning prematurely. Basically, when retrieving the file and parsing it, it fails due to the input validation (more importantly there is no network error or so being raised, so it looks like the download came through without any issues). However, when retrying when reading from the same buffer, parsing

[2020-09-11 12:57] andreacassioli opened #13738 "0.50.3 docs keep mentioning 0.50.2"
This is clearly a minor issue but it might relate to the way docs are generated: the docs for the current stable version

https://azuresdkdocs.blob.core.windows.net/$web/python/azure-servicebus/0.50.3/index.html

keep mentioning 0.50.2 all over. This is quite annoying and does not give much confidence that the docs are really up-to-date.

[2020-09-11 14:58] jannekeskitalo opened #13739 "[Eventhubs] Cannot send encoded bytes"
- **Package Name**: azure-eventhub
- **Package Version**: 5.1.0
- **Operating System**: python:3.8 (dockerhub image)
- **Python Version**:  3.8

**Describe the bug**
I fetch rows from a SQL server database and send those in batches to Eventhubs using the async client. I have had multiple instances of the service running against different databases without problems until now with some new tables I

[2020-09-11 15:38] chlowell commented on #12601
#13053 added [`GetTokenMixin`](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/identity/azure-identity/azure/identity/_internal/get_token_mixin.py) as a general solution. The remaining work here is refactoring credentials to use it.

[2020-09-11 16:22] menum724 opened #13740 "Insert more spacing to the end of code. Also dial tones for switchboard responds with error. Not with attachment. Or question. Just want to report a potential bug."
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional cont

[2020-09-11 16:44] #13405 closed

[2020-09-11 17:03] tasherif-msft commented on #13363
@zorzigio any updates?

[2020-09-11 18:13] yunhaoling opened #13742 "[SchemaRegistry] Protobuf serializer demo"
- [x] write examples for serialize/deserialize
- [x] protobuf serializer demo
- [x] EH integration investigation

[2020-09-11 18:29] scbedd opened #13743 "Python Docs CI Crashing Since 9/10"
[example](https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=161831&view=results)

At this moment, the error seems to be originating from the new `eventhub` packages. But after pinning to the previous versions these errors are _still_ occurring.

![image](https://user-images.githubusercontent.com/45376673/92960047-c38b3600-f421-11ea-87ac-f1cfc9acc2f8.png)

At this moment, my hunc

[2020-09-11 18:37] pjachowi commented on #13187
Thank you for the explanation.

I've searched Azure/azure-sdk-for-python repository and it seems that `__path__ = __import__('pkgutil').extend_path(__path__, __name__)` in `__init__.py` is is commonly used. [This query](https://github.com/Azure/azure-sdk-for-python/search?q=__path__+%3D+__import__%28%27pkgutil%27%29.extend_path%28__path__%2C+__name__%29&unscoped_q=__path__+%3D+__import__%28%27pkgu

[2020-09-11 18:45] KieranBrantnerMagee opened #13744 "[ServiceBus] Release ServiceBus 7.0.0b7"
Note: This may either be GA or b7 depending on cross-language concerns and architectural signoff.  TBD.

**Feature work:**
- [x] (blocker) Make proposal for connstr builder
- [x] (blocker) AMQP bugs
- [x] (blocker) Complete client side validation consistency review
- [x] (blocker) Client invalid connection fail-on-open
- [ ] Failure reconnection hardening
- [ ] Distributed tracing readiness

**Mai

[2020-09-11 18:52] rakshith91 commented on #12963
@lmazuel  tagging you on this so we can decide on how to tackle the mgmt samples

[2020-09-11 19:51] KieranBrantnerMagee opened #13745 "[ServiceBus] Connstr Builder Proposal"
Currently to provide a connection string to any of the `from_connection_string` methods in ServiceBus, one must either copy this from a known location or produce it by hand.

This is not robust in terms of providing a good interface to expose to users the increasing range of capabilities a Connection String offers.

A pattern that exists broadly for addressing this is a ConnectionStringBuilder.  A

[2020-09-11 19:55] amishra-dev commented on #6778
Please reactivate if you are still facing this

[2020-09-11 19:55] #6778 closed

[2020-09-11 20:00] KieranBrantnerMagee opened #13746 "[ServiceBus] Address Doc generation warnings"
For folks who are following closely and may recognize similar issues, this is going to be semi-recurring if any doc warnings occur during final generation (during release) which would not have been flagged by earlier pylint/mypy gates.  In the long run it would be nice to have this as part of static analysis, but in the interim, kindly address the warnings exposed in [the following PR](https://git

[2020-09-11 20:10] KieranBrantnerMagee opened #13747 "[ServiceBus] [(Potentially)Preparers] Address "Resource does not exist" preparer errors."
Occasionally a Preparer will fail during livetest run because the resource it relies on does not appear to exist, despite that creation method having successfully returned.  See the failure below:

[code]

This has been observed at all levels, including RG, so may require centralized preparer fix, although lately has most been occurring as seen for AuthRules beneath ServiceBus, so focusing on that

[2020-09-11 20:16] KieranBrantnerMagee commented on #13676
Hey Andrea, thanks for the pointer.  (Saw the other README issue you created as well, very appreciated.)  Have confirmed this and will be mitigating as part of the following issue :) https://github.com/Azure/azure-sdk-for-python/issues/13746

(Closing this now to dedup only because that issue has a link to the authoritative warning list, but don't take this as any negatives, very very thankful to

[2020-09-11 20:16] #13676 closed

[2020-09-11 20:21] KieranBrantnerMagee commented on #13738
Let me take full responsibility for this one, when we pushed out the latest preview I clearly had some gaps properly find-replacing all the old version IDs.

Adam has been so prudent as to already have begun addressing this in [this PR](https://github.com/Azure/azure-sdk-for-python/pull/13719/files) and I will attempt to fast-track the rest of the fixes while alongside looking into doing an out-of

[2020-09-11 20:27] KieranBrantnerMagee commented on #13730
Hey @gavinshark , very appreciated for your taking the time to write this up so comprehensively and report it to us.

My first response reading is to raise an eyebrow at '0.21.0'.  That is, to put it lightly, a very dated version.  (We're currently in the process of releasing what we refer to as "track 2" versions of the library via 7.0.0b6, 0.21 would be "Track 0", so, quite a bit back.)

Is ther

[2020-09-11 20:32] KieranBrantnerMagee opened #13748 "[EventHub] Addres Doc Generation warnings"
For the following EH doc releases, kindly go through warnings and address them

https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/798
https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/795
https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/797

[2020-09-11 20:52] xiafu-msft commented on #10277
We are actively working on this now!

[2020-09-11 20:58] skvark commented on #13598
You should be probably using the headless variant `opencv-python-headless` instead of `opencv-python`. It does not depend on GUI libraries which are not present in server environments.

[2020-09-11 21:16] chlowell commented on #13747
Prior art from `KeyVaultPreparer`, handling name conflict and resource group not found: https://github.com/Azure/azure-sdk-for-python/blob/e25a3539b293731b345e1306e4ec601c69e8df70/tools/azure-sdk-tools/devtools_testutils/keyvault_preparer.py#L102-L115

[2020-09-11 21:22] KieranBrantnerMagee commented on #12427
Update: OstensiblynNov timespan for python, .net will be going live with reference implementation with the other languages following.

[2020-09-11 21:40] yunhaoling opened #13749 "[SchemaRegistry] Namespace structure"
https://gist.github.com/yunhaoling/e59c4e95905c628472f43b7e7d09d061

[2020-09-11 22:00] #13045 closed

[2020-09-11 22:23] KieranBrantnerMagee opened #13751 "[EventHubs] Release EventHubs T1 1.3.4"
This is a tracking issue for releasing a bugfix version of the Track 1 EH library.  Currently scheduled for Nov. milestone.  Expect more details as the date gets closer.

[2020-09-11 22:29] menum724 commented on #13740
Bc no-one knows what I am talking about. And I can only say that I am just an explorer.

[2020-09-11 22:30] menum724 commented on #13740
Bye

[2020-09-11 22:30] #13740 closed

[2020-09-11 22:36] tasherif-msft commented on #10277
Hi @dadbrains and @bno1,

I have just put a PR addressing this issue! Hopefully the fix will be released soon :)
I'll keep you updated!

[2020-09-11 23:03] sebansal commented on #11333
Closing this issue as it is duplicate to Azure/azure-rest-api-specs#9432

[2020-09-11 23:03] #11333 closed

[2020-09-11 23:12] lmazuel commented on #13441
Hi @glaubitz
The nspkg is an optional dependency for Python 3, which mean `azure-synapse-accesscontrol` will in practical term use PEP420, since `azure-synapse-nspkg` won't be installed. This makes the actual content of `azure-synapse-nspkg` not really important on Python3 (it's why I simplified the packaging compared to `azure-mgmt-nspkg`). Does that answer your question?

[2020-09-12 09:30] glaubitz commented on #13441
Well, I'm not happy with that solution because:

1. It's inconsistent with the rest of the ```-nspkg``` packages
2. We're always packaging all Azure packages in openSUSE/SLE, including the ```-nspkg``` as our package builds still support Python2 and Python3, so the package gets actually built for Python3 and is now different from the other ```-nspkg``` packages which is why I had to modify the par

[2020-09-13 01:13] v-jaswel opened #13756 "[BUG][Face] OperationStatus does not deserialize correctly due to attribute map mismatch"
- **Package Name**: azure.cognitiveservices.vision.face
- **Package Version**: 0.4.1
- **Operating System**: Windows 10 Enterprise 1909
- **Python Version**: 3.8.3

**Describe the bug**
When I take a snapshot and then call client.snapshot.get_operation_status, the server's response is not deserialized into an OperationStatus object correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. R

[2020-09-13 08:19] Racknaraock commented on #8907
Close this issue. After almost a year I don't know if this problem is still happening.We stopped using data factory due to the failures we are having.

[2020-09-13 08:19] #8907 closed

[2020-09-13 14:03] jaspkaur28 commented on #13212
We've got this triaged and added it to the Automation backlog, however , the team is completely occupied with other priorities right now , we plan to pick this up in early Q4 CY20.

[2020-09-13 18:20] andreacassioli opened #13757 "No getting started, overview or examples for azure-mgmt-servicebus?"
Hi,
I am thinking to use the `azure-mgmt-servicebus` to allow my API to red and/or adjust some queue settings at runtime. I have been looking at

https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/servicebus/azure-mgmt-servicebus

and following the links I got to

https://docs.microsoft.com/en-us/python/api/overview/azure/servicebus?view=azure-python

which only contains a very bare doc

[2020-09-13 18:28] tasherif-msft commented on #12744
Hi @AkhilGNair, interesting issue you've come across, but this is actually an unexpected behavior. The error you're getting implies the request was not sent (you would receive a `ResourceNotFound` response from the server if the request was sent). I believe this is an unrelated issue.
I would advise opening up another issue for it :)

[2020-09-13 18:36] tasherif-msft commented on #13116
Hi @Juliehzl, any updates on this issue? could you further explain the problem?
otherwise we can close this issue if it has been resolved.

[2020-09-13 18:38] #12778 closed

[2020-09-13 18:58] andreacassioli commented on #13738
Hi @KieranBrantnerMagee the overall docs need a check. For instance in

https://azuresdkdocs.blob.core.windows.net/$web/python/azure-servicebus/0.50.3/index.html

the link to SDK code points to

https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/servicebus/azure-servicebus

which is your development branch. This is very confusing especially if one is used to take a look at the code of t

[2020-09-14 01:47] tasherif-msft commented on #12405
Hi @andersbogsnes, I have taken on this issue and will have discussions to surface these exceptions better for users.
I will let you know as soon as I have an update :)

Thank you!

[2020-09-14 03:34] githubkingchamp commented on #13577
did anybody can able to solve the issue?

[2020-09-14 03:35] githubkingchamp commented on #13577
did anybody found the solve for this issue?

[2020-09-14 08:03] dr-dolittle commented on #12778
@xiafu-msft Just tested it again. The warning is still displayed

[code]

[2020-09-14 08:31] AkhilGNair opened #13765 "Container client fails slowly instead of ResourceNotFound"
- `azure-storage-blob`
-  `12.3.2`
- Ubuntu 20.04
- 3.8.2

**Describe the bug**
I've been advised in #12744 to open a new issue for this behaviour.

I'm trying to use

[code]

to check if a container exists. I had expected either an immediate `ResourceNotFound` or otherwise some unauthorised message - basically anything that would allow me to fail fast. Instead the command runs for about 2 minutes

[2020-09-14 08:31] AkhilGNair commented on #12744
Thanks @tasherif-msft, done!

[2020-09-14 10:52] piyushgup opened #13768 "azure search documents fails to create index with custom analyzers"
I was trying to create an index using the azure search documents api.

But it fails. On investigating, I found that the api was internally creating a copy of the CustomAnalyzer object but without passing the name field resulting in a key error. When changed the source python file to accept name, it blew up saying the index name was invalid. The index name I used is test-index

The first error:

`F

[2020-09-14 14:47] CharlPels commented on #1067
can someone post a sample of how to attach a route table to a subnet

[2020-09-14 15:49] jsenich-r7 opened #13769 "azure-mgmt-security does't support the latest version of the API"
- **azure-mgmt-security**:
- **0.4.1**:
- **any**:
- **any**:

**Describe the bug**
The currently available version of the `azure-mgmt-security` sdk does not support the latest stable version of the API from the spec https://github.com/Azure/azure-rest-api-specs/tree/master/specification/security/resource-manager/Microsoft.Security/stable/2020-01-01.

**To Reproduce**
Steps to reproduce the behavi

[2020-09-14 16:47] chlowell commented on #12698
This is default behavior. `DeviceCodeCredential` prints instructions to stdout when a user doesn't pass a value for the (optional) `prompt_callback` keyword argument.

[2020-09-14 16:47] #12698 closed

[2020-09-14 16:51] xiafu-msft commented on #13765
Hi @AkhilGNair

The error says "Temporary failure in name resolution"
can you try to change the container name to "container01"

[2020-09-14 17:01] #11151 closed

[2020-09-14 17:05] lmazuel commented on #13441
Hi @glaubitz
There is actually some work saved, since this way makes the wheel universal (and we don't have to release both a py2 and a py3 wheel). Yes, it's inconsistent with the current nspkg, and yes I changed my mind compared to #4461: it's a year later with some experience and feedback from other parties in the meantime.

What I don't understand, is why this is a problem on your build side th

[2020-09-14 17:11] lmazuel commented on #13756
Thanks @v-jaswel for this very detailled bug, it seems indeed there is an important gap between what the Swagger that produces attribute_map is showing and the server. Needs help from the server team to conclude on this.

[2020-09-14 18:35] xiangyan99 commented on #13768
Thank you for reporting the issue.  The error message "The request is invalid. Details: index : Index name must only contain lowercase letters, digits or dashes, cannot start or end with dashes and is limited to 128 characters." is from the service.

Could you help to share some repro steps or create_index.py to us so we can debug to see what exact request we send to server?

Thanks

[2020-09-14 19:27] kaerm commented on #13737
It seems that you didn't fill the issue template with an actual issue description, so we're closing this but feel free to open any issues if you have any comments about the SDK

[2020-09-14 19:27] #13737 closed

[2020-09-14 19:28] kaerm commented on #13735
It seems that you didn't fill the issue template with an actual issue description, so we're closing this but feel free to open any issues if you have any comments about the SDK

[2020-09-14 19:28] #13735 closed

[2020-09-14 19:28] kaerm commented on #13251
It seems that you didn't fill the issue template with an actual issue description, so we're closing this but feel free to open any issues if you have any comments about the SDK

[2020-09-14 19:28] #13251 closed

[2020-09-14 19:34] githubkingchamp commented on #13607
Having exact same issue in macOS Catalina as well.

ERROR: Could not find a version that satisfies the requirement onnxruntime==1.0.0 (from azureml-train-automl-runtime~=1.13.0->azureml-train-automl~=1.13.0; extra == "automl"->azureml-sdk[automl,explain]) (from versions: 1.2.0, 1.3.0, 1.4.0)
ERROR: No matching distribution found for onnxruntime==1.0.0 (from azureml-train-automl-runtime~=1.13.0->az

[2020-09-14 21:23] menum724 commented on #13740
I thought I did close the pull request myself. You'll have to excuse me,
This whole thing is really massive.

On Fri, Sep 11, 2020, 3:30 PM Swarts, Collin <notifications@github.com>
wrote:

[2020-09-14 21:42] chlowell commented on #5630
I'm closing this because I doubt we'll find a general solution that's preferable to the status quo. Thank you everyone for the ideas.

[2020-09-14 21:42] #5630 closed

[2020-09-14 21:46] chlowell commented on #11860
This is done.

[2020-09-14 21:46] #11860 closed

[2020-09-14 21:58] yunhaoling commented on #13187
hey @pjachowi , after a long discussion the team has agreed on the fix and I've merged your PR.
It would be carried in our next EventHub release (which is still under planning). I'll keep you updated.

Again, thanks for your patience and contribution!

[2020-09-14 22:16] KieranBrantnerMagee commented on #13747
Aha.  First; thanks for even noting this and thinking to add your breadcrumb, it's of great comfort to know that this isn't unprecedented.  Second, I'm curious if you have any thoughts on whether there would be a viable fix at the framework level? (If not, no worries, going to dig in myself for this work, just figured I'd ask in case there was any context you had encountered ala "don't waste your

[2020-09-14 23:04] chlowell commented on #13747
It's easy enough to solve on an individual preparer basis. A more appropriate fix for Key Vault's case would arguably be to have `ResourceGroupPreparer`--which should own creating the group--poll ARM to ensure the group it creates is available before returning control to the framework. So at first thought it seems feasible for each preparer to do similar, or to expose to the framework a way to ver

[2020-09-14 23:07] KieranBrantnerMagee commented on #13738
Pushed out a small PR to address the top-level links that weren't version-specific and would thus be misdirecting folks;  thanks as always for the eyes and calling this out++

Regarding the 0.50.2, turns out the problem is slightly more interesting, it looks like although 0.50.3 went out as a package the doc release never succeeded, so we'll be getting two birds with one stone with the aformention

[2020-09-14 23:22] KieranBrantnerMagee commented on #13747
The first part of your train of thought is exactly where I was going with this. (shared method to determine resource existence) but the latter part (only seeing similar errors from certain things) does align with what I've seen.

I believe I've only ever seen it from RG (creating SB namespace within it) and the namespace itself (creating an auth rule within it), HOWEVER, for all I know this is jus

[2020-09-14 23:34] KieranBrantnerMagee commented on #13739
Hey @jannekeskitalo , thanks for reaching out, and sorry for any trouble you're having with this.

Given the nature of that error, I'm _VERY_ curious to learn more about the data you're sending that triggers this;   Is there any way you could log/provide that information? We run stress tests of the SDK and I can't honestly say I've ever seen this symptom before, so any clues that would help facili

[2020-09-15 00:12] KieranBrantnerMagee commented on #13548
Correct; sorry to not be able to give a neater solution to this out-of-box.

That said, don't hesitate to let me know if you had any other questions or help I could provide in line with this.

[2020-09-15 00:23] KieranBrantnerMagee commented on #8905
Closing this for now; feel free to reopen if the issue isn't mitigated by updating to the latest version, or if there is any further help we can provide.

[2020-09-15 00:23] #8905 closed

[2020-09-15 00:35] swatig007 commented on #10403
Hi @jorgeso the issue with the tagging has been fixed, and you should be able to see your tags in the studio.

[2020-09-15 00:45] swatig007 commented on #10403
i'm unable to close this issue for some reason, but it has been fixed

[2020-09-15 00:54] swatig007 commented on #10403
@kaerm i'm unable to close this issue, but it's been fixed. can you pls go ahead and close it

[2020-09-15 00:58] #10403 closed

[2020-09-15 01:00] jorgeso commented on #10403
@swatig007 I noticed it! Thank you very much!

[2020-09-15 01:06] #13187 closed

[2020-09-15 05:22] jobala commented on #13189
@chlowell  using **AuthenticationRecord** works as expected. @MIchaelMainer, you  can close this issue at your convenience.

[2020-09-15 05:56] #13189 closed

[2020-09-15 07:59] qiaozha commented on #13769
@chlahav Which api are you referring to? Because I have checked several swagger inside https://github.com/Azure/azure-rest-api-specs/tree/master/specification/security/resource-manager/Microsoft.Security/stable/2020-01-01 folder. and the sdk code version indicates it's 2020-01-01. For example discoveredSecuritySolutions.json maps to https://github.com/Azure/azure-sdk-for-python/blob/7c5ca2eec6d6ee

[2020-09-15 10:13] foobarna commented on #13183
I can confirm that the `.detele_blobs()` method now work with no modification on the code/library version nor Azure Blob Storage account.

[2020-09-15 13:28] jsenich-r7 commented on #13769
@qiaozha It looks like it's only the `2020-01-01` version of alerts.json spec that hasn't made it into the sdk code yet.

[2020-09-15 15:03] #13508 closed

[2020-09-15 15:41] chlowell commented on #11767
#13490 made this change to the sync credential.

[2020-09-15 15:44] chlowell commented on #12094
Closed by #12870.

[2020-09-15 15:44] #12094 closed

[2020-09-15 16:01] kaerm commented on #7112
Thanks for the clarification. I am closing this as it seems that `azure-mgmt-containerservice` is the right package to use in this case. Feel free to open a new issue in case of any follow ups

[2020-09-15 16:01] #7112 closed

[2020-09-15 16:43] tasherif-msft commented on #11784
Hi @markkuleinio, a PR has been put up for additional docstrings and a sample example.
I will let you know when its merged in!

[2020-09-15 16:44] chlowell commented on #13353
There's no reasonable way to do this automatically but we do have a manual test case for it. Adding these arguments to your `pytest` command line should run it: `--manual -s -k device_code`. The device code will print to stdout.

[2020-09-15 17:13] #13632 closed

[2020-09-15 17:22] pvrk commented on #12878
@onenessboy : Strange behavior. What was the output of the script? can you please share over email? That would help us prepare for any meeting, if required.

[2020-09-15 17:44] rakshith91 opened #13790 "EventGrid Beta 3 release"

[2020-09-15 18:22] uday1kiran commented on #4087
How to check the list of roles assigned to the user logged in with?

[2020-09-15 19:01] jannekeskitalo commented on #13739
I will copy some sample data from the problematic tables into my local test environment and try reproducing the issue. Much easier to debug that way.

[2020-09-15 20:47] #13456 closed

[2020-09-15 20:50] scbedd commented on #13743
Ran down the issue. Boils down to the fact that `eventhub` vendors `azure-storage-blob` internally. Within that, there are docstrings that refer to _storage_ samples. This crashes the docs CI job as it can't resolve the relative path to the `literalInclude`.

[Commit #1](https://github.com/MicrosoftDocs/azure-docs-sdk-python/commit/df30737fcc766519c22f567470a223fe44d5e0fb#diff-1d1a0d99b8261801575c

[2020-09-15 21:46] #13743 closed

[2020-09-15 23:05] #12093 closed

[2020-09-15 23:05] chlowell commented on #12093
Closed by #12848

[2020-09-16 00:01] KieranBrantnerMagee opened #13796 "[ServiceBus][EventHubs][AMQP] Produce documentation for non-wheel install steps (Alpine)"
**Is your feature request related to a problem? Please describe.**
Currently, if one tries to pip install azure-servicebus/eventhub/uamqp on a standard Alpine install, one will run into a set of errors, as our manylinux whl is built for libc and not musl, and we do not have an alpine tagged whl.

**Describe the solution you'd like**
We should, at minimum, provide good steps for completing an insta

[2020-09-16 00:11] mikeharder opened #13797 "[Performance] Consider sharing a single HTTP connection pool by default"
To improve performance, Python should consider sharing a single HTTP connection pool by default, as is already done by other languages like .NET.

For example, this .NET code will use a single HTTP connection for both uploads, significantly improving the performance of the second upload:

[code]

In contrast, this Python code will use a new HTTP connection for each upload:

[code]

It's possible t

[2020-09-16 00:14] mikeharder commented on #9596
@hermanschaaf: Thank you for reporting this.

The missing documentation is a known issue covered by #12122.

I opened a new issue #13797 to discuss changing Python to share HTTP connections by default, so you would not need to manually share a `session`.

[2020-09-16 02:17] qiaozha commented on #13769
@jsenich-r7 The sdk is released before the alert.json updated. @chlahav Could you please file an release request via aka.ms/openapihub for this issue? We need a new sdk to be released per @jsenich-r7's question.

[2020-09-16 05:18] gavinshark commented on #13730
Hey @KieranBrantnerMagee , thank you very much for your replay.
I have tried azure-servicebus SDK with version 0.50.2. And the issue disappeared. I will keep on watching its availability.

[2020-09-16 16:53] #13678 closed

[2020-09-16 18:24] yunhaoling opened #13816 "Regression test failure for new released package (SchemaRegistry and SchemaRegistryAvroSerializer)"
Problem:
Regress test is failing in `python - schemaregistry` pipeline.
[code]

Context:

`azure-schemaregistry 1.0.0b1` and `azure-schemaregistry-avroserializer 1.0.0b1` has been released on Sep 9.
`azure-schemaregistry-avroserializer` depends on `azure-schemaregistry`, which makes it a candidate for regression testing.

Inputs from @scbedd

The main conflict is that it's looking for the specific

[2020-09-16 19:35] annatisch opened #13819 "[Core] Support results_per_page in the by_page iterator"
Currently the `ItemPaged.by_page()` function only takes a continuation_token.
We should also allow specifying the page size.
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/azure/core/paging.py#L98

Not all services will support setting a page size (just as not all services support a continuation token). So in order to prevent breaking any existing implementations tha

[2020-09-16 19:58] #13711 closed

[2020-09-16 21:04] tasherif-msft commented on #13765
Hi @AkhilGNair any updates on the issue? is it still persistent even after the container renaming?

[2020-09-16 21:09] AkhilGNair commented on #13765
Sorry, haven't been able to check this yet - will update tomorrow morning UK time! Thanks

[2020-09-16 23:04] lmazuel commented on #13617
Hi @ctolley2
May I ask you to try this RC SDK?
https://github.com/AzureSDKAutomation/azure-sdk-for-python/pull/2086

The diff is big since there is some generators update, but there should be not breaking changes, just a a new API for you under `service_principals`

[2020-09-16 23:42] lmazuel commented on #12947
Fixed in recent version of autorest (after 5.3.0)

[2020-09-16 23:42] #12947 closed

[2020-09-17 00:39] inc0 opened #13826 "Azure blob client fails with authz error while same operation is allowed via CLI"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.5.0
- **Operating System**: MacOS
- **Python Version**: 3.8

**Describe the bug**
This command:
`az storage blob list --container-name mycontainername --account-name myaccount` works and returns list of blobs
in python:
`ContainerClient(account_url="myaccount.blob.core.windows.net", container_name="mycontainername", credential=AzureC

[2020-09-17 00:43] inc0 commented on #13826
from the CLI debug logs
`https://myaccount.blob.core.windows.net:443 "GET /mycontainername?restype=container&comp=list&maxresults=5000` works and returns 200

[2020-09-17 01:09] scbedd opened #13827 "Storage Regression Failing - Storage-DataLake"
This is the [error](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=538883&view=logs&j=3fadc984-4acf-5cfe-b896-a35ffcc3efec&t=a3be59ed-d39f-5c28-9412-740b87c11dc3).

`Incorrect version of package azure-storage-blob is installed. Expected version 12.8.0`

However, everything looks fine from a setup PoV. No regression failures.

[2020-09-17 01:22] scbedd commented on #13827
This failure is down to the requirements of the _dependent packages_.

`azure-storage-file-datalake` takes a dependency on `azure-storage-blob~=12.4.0`

The way regression works is:
 1. Install Package we're regression testing (`azure-storage-blob` in this context)
 2. Install dev_requirements for the dependent package (`azure-storage-file-datalake` in this context)
 3. Install target dependent pa

[2020-09-17 09:20] FelixS90 opened #13834 "PKCE Support with AuthorizationCodeCredential"
**Is your feature request related to a problem? Please describe.**
[Public Key for Code Exchange](https://oauth.net/2/pkce/) is an extension to OAuth2 to mitigate the risk of interception attacks and [recommended by Microsoft](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-authorization-code). There is not yet built-in support in `azure.identity

[2020-09-17 10:48] FelixS90 opened #13838 "Missing option to restrict scope to specific storage account"
**Is your feature request related to a problem? Please describe.**
When [requesting an access token](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-access-token) using OAuth 2.0 auth code grant to access Azure Storage, I want to be able to restrict the scope to `https://{}.blob.core.windows.net/user_impersonation".format(STORAGE_NAME)`, i.e. kee

[2020-09-17 12:46] AkhilGNair commented on #13765
Sorry for the long delay!

When trying

[code]

I get the same error. A very long wait time, followed by

[code]

Thanks!

[2020-09-17 14:48] tuckeryatesjvion commented on #13634
Am I missing anything in my sample code? I find it strange that the create and query work, but the delete doesn't. It also looks like the upsert works, but the replace does not.

[2020-09-17 15:05] Rodrigossz commented on #13634
We are working on you sample and will reach you back ASAP. Tks.

[2020-09-17 15:40] #9754 closed

[2020-09-17 17:39] seankane-msft opened #13844 "[Tables] Merge operation fails with a Cosmos endpoint"
The Merge operation (which is implemented as Patch) always fails with a 405 MethodNotAllowed response against Cosmos table endpoints. Inspecting the traffic sent by the track 1 client reveals that they send Merge as Post with an additional header: X-HTTP-Method: MERGE . Adding this header and changing the method to Post results in a successful merge in my testing.

Ideally the Cosmos Table endpoin

[2020-09-17 18:34] v-jaswel commented on #13756
Per sbowles, this is going to be fixed on the server side and not the SDK side. Therefore I am closing.

[2020-09-17 18:34] #13756 closed

[2020-09-17 20:56] yunhaoling opened #13850 "[SchemaRegistry] Ref doc doesn't show up correctly in the doc tree on the review smoke test branch"
- [x] Check the doc wiki to see the doc process
- [x] Apply the same update to SchemaRegsitry doc as the PR: https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/815/files

[2020-09-17 21:03] inc0 commented on #13826
I should add that trying to list blobs or access blobs via UI works well too. Listing containers via python sdk like

[code]
works well too

[2020-09-17 22:21] xiangyan99 commented on #13276
Fixed.

[2020-09-17 22:21] #13276 closed

[2020-09-17 22:33] chlowell commented on #13834
Thanks for opening this issue. It looks like you're using `AuthorizationCodeCredential` as an intermediate to authenticate a user via a web browser. Have you tried our [`InteractiveBrowserCredential`](https://aka.ms/azsdk/python/identity/docs#azure.identity.InteractiveBrowserCredential)? It does this, and may be easier for you to use because it acquires the authorization code itself.

To the broad

[2020-09-17 22:40] lmazuel opened #13853 "Make sure no SDK are still shipped with autorest "azure-core" branch"
Back at the beginning of the ADP team, autorest was used from a branch called "azure-core", which was still the C# generator bu adapted for track2./
The point of this issue, is to regenerate any SDK that are still wrapping code from that period, with autorest.python v5.x.

This issue is NOT about making sure the latest autorest is used ([though this could be useful](https://github.com/Azure/azure-

[2020-09-17 23:09] vinjiang commented on #6975
@blueww , can you take a look from mgmt SDK perspective.

[2020-09-17 23:11] inc0 commented on #13826
Additional debug: It seems that CLI does request to `/subscriptions/<my sub id>/resourceGroups/synth-harness-resource-group/providers/Microsoft.Storage/storageAccounts/<my account>/listKeys` - I assume it tries to authenticate with `accessKey` rather than creds, which would be different to what python is doing. When I go to UI I also see that UI uses `accessKey`.

Is there way to programmatically

[2020-09-18 00:15] tasherif-msft commented on #11437
@angiurgiu @AlexeyRaga are you still encountering this issue?

[2020-09-18 03:59] blueww commented on #6975
'StorageAccountTypes' is defined in compute management plane swagger, not in storage swagger. The API is owned by compute team/
https://github.com/Azure/azure-rest-api-specs/blob/535109d5f9dae0e789affb02cb13bce8727feb44/specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json#L7106

So remove storage tag, and add compute tag.

[2020-09-18 04:04] srinathnarayanan commented on #11721
@databasedav , @chrisyeh96 I verified that the nested index query succeeds when enableCrossPartitionQuery is True, and fails when a partition key is passed. This behavior is present in both the python and the .NET SDK, meaning it is a backend bug with our query infrastructure. Can you please raise a support ticket with Azure Cosmos DB from the portal? thanks!

[2020-09-18 04:07] blueww commented on #10526
@dw511214992

As the customer has not responds for a long time, do you mind to close it.
And as this issue is for StorageCache SDK, but not storage SDK, do you think we should add a new tag for “StorageCache", to separate the storageCache issues from Storage issues?

[2020-09-18 04:55] chrisyeh96 commented on #11721
@srinathnarayanan Wouldn't it be more effective if you raised a support ticket since you work at Microsoft?

[2020-09-18 06:39] KieranBrantnerMagee commented on #13730
Glad this seems to have helped.  Feel free to reopen this if any further issues or questions; closing for now.

[2020-09-18 06:39] #13730 closed

[2020-09-18 09:08] gison93 opened #13871 "Unable to authenticate to Azure ML Workspace using Service Principal"
- **Package Name**: azureml-core
- **Package Version**: 1.13.0
- **Operating System**: Windows 10.0.18363
- **Python Version**: 3.6.2

**Describe the bug**
Unable to authenticate to Azure ML Workspace using Service Principal.
I get the following error:
AttributeError: 'AdalAuthentication' object has no attribute 'get_token'.

**To Reproduce**
Steps to reproduce the behavior:
1. pip install azureml

[2020-09-18 09:37] magrathj commented on #13871
Having a similar issue connection to Azureml using service principle

[2020-09-18 09:46] hari-buddhavarapu commented on #13871
Same issue I have been facing as well. It worked fine until yesterday. Unable to connect to Azureml using service principal

[2020-09-18 09:58] sajalda23409 commented on #13871
Same here. It was working fine till yesterday. From today, I am facing the same issue.

[2020-09-18 09:59] andrea-cassioli-maersk opened #13872 "servicebus `fetch_next` coarse timeout granularity"
Not sure this is a bug or by design, just do not feel correct to me.

- **Package Name**:  `servicebus`
- **Package Version**: 0.50.3
- **Operating System**: OSX
- **Python Version**: 3.7

**Describe the bug**
Function `fetch_next` has a parameter `timeout` that is express in seconds. This is clearly a pretty coarse value for a message fetching, considering that the code internally switches to mil

[2020-09-18 09:59] magrathj commented on #13871
Was working fine for me until around 6.30am GMT+1 this morning

[2020-09-18 10:02] jarandaf commented on #13871
Same here, started to fail today.

[2020-09-18 10:03] avtokit2700 commented on #13871
Hello guys. I'm facing the same problem. All was a fine couple hours ago.

[2020-09-18 10:07] gison93 commented on #13871
**Workaround/Possible Solution**
In azure\core\pipeline\policies\_authentication.py in class BearerTokenCredentialPolicy instead of calling get_token use _token_retriever() and take the element with index one.

[code]

[2020-09-18 10:13] hari-buddhavarapu commented on #13871
Hi, I have been using Azure Devops Pipelines with Microsoft Hosted Agents to connect to Azure ML. I am seeing this error "AttributeError: 'AdalAuthentication' object has no attribute 'get_token'"

[2020-09-18 10:18] jarandaf commented on #13871
Can confirm @gison93 proposal seems to solve this issue. I don't fully understand what may have changed if there has been no version update, though.

[2020-09-18 10:23] gison93 commented on #13871
I suspect is due to the recent update of azure-mgmt-keyvault to version 7.0.0 some hours ago

[2020-09-18 10:31] hari-buddhavarapu commented on #13871
@gison93 can we use your proposal on microsoft hosted agents?

[2020-09-18 10:48] jarandaf commented on #13871
I think it is easier to roll back to the previous stable version of `azure-mgmt-keyvault`, i.e. force to use `azure-mgmt-keyvault==2.2.0` in the meantime. This seems to solve the issue on my end.

[2020-09-18 11:32] chengyu-liu-cs commented on #13871
Same here. It was working fine till yesterday. From today, I am facing the same issue. The codes work perfectly from my local computer but did not work from Azure hosted agents.

[2020-09-18 11:38] andrea-cassioli-maersk opened #13873 "Servicebus messages cannot be completed or abandoned outside the receiver context?"
- **Package Name**: `servicebus`
- **Package Version**: 0.50.3
- **Operating System**: OSX
- **Python Version**: 3.7

**Describe the bug**
- **Package Name**: `servicebus`
- **Package Version**: 0.50.3
- **Operating System**: OSX
- **Python Version**: 3.7

**Describe the bug**
Not sure if it is by design I cannot find anything helpful in the docs. Here it is:

* I have a function that receives mes

[2020-09-18 11:46] avtokit2700 commented on #13871
On local, workaround from @gison93 work's perfectly, but I'm using Azure DataBricks as a compute target and cannot change the source code of libraries. I find a solution with downgrade lib `azure-mgmt-resource` from **15.0.0** to **8.0.1**.

[2020-09-18 11:47] sajalda23409 commented on #13871
Yes, I agree with @chengyu-liu-cs

[2020-09-18 11:49] chengyu-liu-cs commented on #13871
This solution did not work for me.

[2020-09-18 11:54] jarandaf commented on #13871
They are probably changing more stuff at the moment. This did work but is is not working anymore. We will have to wait for a proper fix I guess.

[2020-09-18 12:00] chengyu-liu-cs commented on #13871
I did further investigation comparing package differences. Actually, both local and hosted agents have azureml-core==1.12.0.post1. So My guess  azureml-core version might not be the direct reason.

There were many packages that have different versions from my local versions. But I rolled back a couple of most possible ones and solved the issue (at least for now)
azure-mgmt-keyvault==2.2.0
azure-mg

[2020-09-18 12:42] sajalda23409 commented on #13871
A new version of Azure Mgmt Resource client library released 5 hours ago. Is that caused the issue?

https://pypi.org/project/azure-mgmt-resource/

[2020-09-18 13:10] gbrault opened #13874 "resclient = get_client_from_auth_file(ResourceManagementClient) fails in version 15.0.0 of azure-mgmt-resource in Ubuntu"
- **azure-mgmt-resource**:
- **15.0.0**:
- **Ubuntu 20.4**:
- **3.8.2**:

**resclient = get_client_from_auth_file(ResourceManagementClient) fails**
In version 10.2.0 I had no issue login to azure from my local linux machine, with a json file
with 15.0.0 it fails

[2020-09-18 13:36] abij commented on #13871
It's not because of AzureML. (downgrading to 1.12.0 causes the same issue.)
As @sajalda23409 mentioned it's related to https://pypi.org/project/azure-mgmt-resource/15.0.0/

Fixed with pinning the previous version:
`pip install azure-mgmt-resource==10.2.0`

Or if you are using Databricks:
[code]

[2020-09-18 16:02] nickzhums commented on #13871
We are taking a look at this issue, and will provide update later
For the time being, a workaround is using **azure-mgmt-resources 10.2.0**
cc @yonzhan  @changlong-liu  @00Kai0 @jsntcy

[2020-09-18 16:05] yonzhan commented on #13871
You can temporarily fixed with pinning the previous version:
pip install azure-mgmt-resource==10.2.0

[2020-09-18 16:10] Prasanna-Padmanabhan commented on #12654
@spoloj apologies for the delay, Azure Advisor alerts are basically activity log alerts. https://github.com/Azure-Samples/azure-samples-python-management/blob/master/samples/monitor/manage_activity_log_alert.py has a Python sample for creating activity log alerts. And https://docs.microsoft.com/en-us/azure/advisor/advisor-alerts-arm?tabs=CLI has details on the template you can use to set up Adviso

[2020-09-18 16:47] azeltov commented on #13871
it fixes the issue with the service principle by pinning mgmt-resource (azure-mgmt-resource==10.2.0) , but its breaking automl now:
  957         except ValidationException as ex:

/databricks/python/lib/python3.7/site-packages/azureml/automl/core/package_utilities.py in _get_package_incompatibilities(packages, ignored_dependencies)
    420                     target=','.join(incompatible_packages

[2020-09-18 17:09] noelbundick opened #13875 "Docs for DefaultAzureCredential.get_token"
The `get_token` [docs for DefaultAzureCredential](https://docs.microsoft.com/en-us/python/api/azure-identity/azure.identity.defaultazurecredential?view=azure-python) (as well as all other credential classes) have a prominent callout that reads **This method is called by Azure SDK clients. It isn't intended for use in application code.**

This is mostly true when working exclusively with Azure SDK

[2020-09-18 17:10] noelbundick commented on #13875
@jongio - FYI on cross-language docs

[2020-09-18 17:19] inc0 commented on #13826
After looking [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac-portal#azure-roles-for-blobs-and-queues) we've added missing permission and it worked. I think CLI uses access keys under the hood. It may be good idea to document how to pull access keys and use them in python sdk too. I'll close this issue for now

[2020-09-18 17:19] #13826 closed

[2020-09-18 17:43] tasherif-msft commented on #13826
Hi @inc0,
I was trying to repro this issue on my end. Using `credential=AzureCliCredential()` works fine as a credential when trying to list blobs in a container in the Python SDK. However, I was going to suggest ensuring that your account was listed as a `Storage Blob Data Owner` as it appears to be a common issue when this is not set.

 It's good to note that the Python SDK also supports passing

[2020-09-18 17:47] inc0 commented on #13826
Default credential didn't work as well. My suspicion is that CLI pulls access key under the hood and uses it, which makes it work without data owner permissions. If we provide docs with python snippet to pull access key and use it instead of credentials, I think that'd be useful.

[2020-09-18 17:50] kristapratico opened #13876 "client library samples should be run in CI"
In our guidelines: https://azure.github.io/azure-sdk/python_documentation.html

Our samples should be run in CI, but we don't do this for all libraries because the test infrastructure code sometimes muddies the sample scenario and can make it less straightforward. Look into ways to make this better.

[2020-09-18 17:50] jongio commented on #13875
@schaabs @joshfree

[2020-09-18 18:00] tasherif-msft commented on #13826
In the Python SDK you can use a connection string/Account Key/Account Name (found under `Access Keys` in the Azure Portal) to perform all the operations you wanted to perform above.
However, if you are referring to being able to fetch this access key using the Azure Cli Credentials then that's definitely a discussion to be had internally on our side!

[2020-09-18 18:01] kristapratico opened #13877 "pylint docstring checker"
Some work has been done on a pylint docstring checker to ensure that params / return types are properly documented. If completed, we could also enable this as an opt-in check in the CI.

[2020-09-18 18:06] inc0 commented on #13826
right, if you ask people to pull that key themselves, that requires this key to be stored in some secure manner, and that's a lot to ask. I'd suggest giving a way in python sdk to pull that key on runtime using existing auth method. It already is available over API via `/subscriptions/<my sub id>/resourceGroups/synth-harness-resource-group/providers/Microsoft.Storage/storageAccounts/<my account>/l

[2020-09-18 18:07] imdaslayer opened #13878 "Failed to upload any CSV file greater than 9MB"
- **Package Name**: Azure Blob storage
- **Package Version**: Azure Blob storage v12.5.0
- **Operating System**:Windows 10
- **Python Version**: 3.7

**Describe the bug**
A clear and concise description of what the bug is.

it failed to upload any csv have a size greater than 9MB.
any CSV less than 9MB works perfect

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. upload any csv great

[2020-09-18 18:10] kristapratico opened #13879 "[pylint] api_version lint rule"
Guideline: https://azure.github.io/azure-sdk/python_design.html#specifying-the-service-version

Our ServiceClients should accept a keyword argument called `api_version`.

[2020-09-18 18:56] tasherif-msft commented on #13765
Hi @AkhilGNair,

On a closer look at your example, I noticed you put `storage1234567` as your account url, which is incorrect. Your account url for the blob service should look something like: `https://<STORAGE_ACC_NAME>.blob.core.windows.net` or just `<STORAGE_ACC_NAME>.blob.core.windows.net`.

So assuming your account name is `storage1234567`, the account url would be: `https://storage1234567.bl

[2020-09-18 20:12] joshfree commented on #13875
@schaabs let's reword this XML doc comment for the October release per discussion in https://github.com/Azure/azure-sdk-for-net/issues/13531

[2020-09-18 20:17] yunhaoling commented on #13850
fix PR merged: https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/820

[2020-09-18 20:17] #13850 closed

[2020-09-18 20:26] rakshith91 opened #13882 "Add samples for tracing"
Add samples using EH, SB for tracing

[2020-09-18 20:27] rakshith91 opened #13883 "Eventgrid Mypy Comaptibility"
EG should be mypy compatible

[2020-09-18 22:06] chlowell commented on #13005
Specifically, testable samples inserted into `CryptographyClient` docstrings.

[2020-09-18 22:39] sriramg96 commented on #13871
+1. There were also issues with creating virtual networks with the azure-mgmt-network package, and this was solved with reverting to the previous version:
`pip install azure-mgmt-network==10.2.0`

[2020-09-19 00:56] jongio opened #13886 "Create Auto Release Notes Script"
Take this .NET script that Pavel created and adapt it to Python

https://github.com/Azure/azure-sdk-for-net/blob/master/eng/scripts/Collect-Changelogs.ps1

[2020-09-19 01:01] ramaganesan-rg commented on #12995
This doesnt appear to a service issue. Please let the team know if you need further assistance.

[2020-09-20 08:31] itssimon commented on #10308
Thanks for the update @TFR258. Are you able to give us an estimate when this will be released?

[2020-09-20 10:26] Vinci141 commented on #9521
Hey , I got similar problem . the solution i applied is using below code( **no quotes**)
cog_key = YOUR_COG_KEY
cog_endpoint = YOUR_COG_ENDPOINT

It is possible your code is having quotes somewhere which is preventing to locate to the right direction. Hope this helps.

[2020-09-20 15:34] m-dorfman opened #13891 "signed_session error when using log analytics package"
- **Package Name**: azure-loganalytics==0.1.0
- **Operating System**: ubunutu 20.04
- **Python Version**: 3.8

proper environment variable have been set as per instructions for local testing.
[code]
using the following script:
[code]

running this outputs the following:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/user/work/azfun/.venv/lib/python3.8/site-

[2020-09-20 18:56] jbulow commented on #11503
This is still an issue. Why was it closed?

[2020-09-20 20:15] cyly commented on #13871
Please uninstall the azure-mgmt-resource==15.0.0 and azureml-core==1.13.0.

Then install azureml-core==1.13.0.post1. It should fix the issue.

[2020-09-21 05:22] nickzhums commented on #13874
Hi @gbrault , there has been a major upgrade for Python SDK management libraries. In the new version of SDK, the authentication mechanism has been changed, please refer to this changelog:
[changelog](https://pypi.org/project/azure-mgmt-resource/15.0.0/)

There is also migration guide here for [update instructions](https://azure.github.io/azure-sdk-for-python/python_mgmt_migration_guide.html)

The

[2020-09-21 05:31] nickzhums commented on #13871
Hi guys, I wanted to provide an update here. The real cause of this behavior is the version upgrade for azure-mgmt-resources from 10.2.0 to 15.0.0

Basically,  we did a major upgrade for Python SDK management libraries for some services. In the new version of SDK, the authentication mechanism has been changed, we have mentioned those changes in the release notes, please refer to this changelog:
[c

[2020-09-21 05:32] gbrault commented on #13874
@nickzhums thanks for the answer. I will stick with 10.2.0 for the moment as this is not critical for my project. I will upgrade when the ACI documentation is going to be updated. I am using the ACI (azure containers instances) and I followed the documentation associated to manage containers creation and life cycle. Maybe their are going to be some changes there as well. Thanks again. This helps a

[2020-09-21 05:36] nickzhums commented on #13874
@gbrault You're welcome :) We are also collecting feedback from current Python management library users, if you have time, we would really appreciate any form of feedback using the Python SDK. For example:
- What are your use case scenarios? (why are you using the SDK?)
- How is the developer experience so far? (API design and documentation)

Thanks!

[2020-09-21 06:10] gbrault commented on #13874
@nickzhums

- Use case:
   - Domain specific modeling is communicated to people through notebooks
   - People buy those notebooks and the associated workload as domain experts, no IT expert
   - Notebooks run on a set of pre-built container images which are tested and validated
   - The platform insure (process and pre-test) the notebook is going to work (no IT glitch)
   - Time from intent to use

[2020-09-21 06:20] nickzhums commented on #13874
@gbrault Thanks for your info and greatly appreciate it. Just wanted to double check, by "notebook", did you mean a virtual notebook? or actually real hardware? and are you guys using the Python SDK (e.g. containerinstances) to manage those images?

[2020-09-21 07:02] gbrault commented on #13874
@nickzhums

sorry for the confusion about notebook: it's a virtual notebook, which in fact is a Jupyter Notebook (but we use some extension to 'show' the notebook in a 'run time' manner and the user interact just with the provided interface (no programming). It's up to the notebook author to select which interface he wants to provide to people.

We use the AZURE python SDK to manage the life cycle

[2020-09-21 07:20] nickzhums commented on #13874
@gbrault thanks for the great info! cc @yonzhan  @jsntcy @changlong-liu , do you guys know about performance of Container Registry vs Container Instance?

[2020-09-21 08:22] gison93 commented on #13871
Thank you @nickzhums! I will take a look at the new version

[2020-09-21 09:47] TFR258 commented on #10308
@itssimon , It should be out already =)
https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts-sdk/client-library?pivots=programming-language-csharp

[2020-09-21 12:20] gison93 commented on #13871
Hi @nickzhums, I tried to use ClientSecretCredential instead of ServicePrincipalCredential with no luck.

[code]

I get the following error:
AttributeError: 'ClientSecretCredential' object has no attribute '_get_workspace'

Should I open a new issue?

[2020-09-21 12:29] nickzhums commented on #13871
It  seems like you are directly passing credentials to Workspace.from_config method, which I'm not sure if it will support. The standard practice is to use a service client.

Yes, please open an issue and we can track it from there

[2020-09-21 12:41] yonzhan commented on #13874
@yugangw-msft may help with performance question.

[2020-09-21 12:42] gison93 opened #13905 "Unable to authenticate to Azure ML Workspace using ClientSecretCredential"
- **Package Name**: azureml-core
- **Package Version**: 1.13.0.post1
- **Operating System**: Windows 10.0.18363
- **Python Version**: 3.6.2

**Describe the bug**
Unable to authenticate to Azure ML Workspace using ClientSecretCredential.
I get the following error:
AttributeError: 'ClientSecretCredential' object has no attribute '_get_workspace'

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-09-21 16:13] muthvar1 opened #13906 "No Sample scripts or usage examples provided for azure.mgmt.apimanagement"
- **Package Name**: azure.mgmt.apimanagement
- **Package Version**: 0.2.0
- **Operating System**:Linux
- **Python Version**: 2.7

**Describe the bug**
There are no examples in github or the python sdk page for API management sdk usage. Can we please provide a baisci example with vent injection and without vnet injection please?

**To Reproduce**
Steps to reproduce the behavior:
1. N/A

**Expected

[2020-09-21 16:37] xiangyan99 opened #13907 "Fix _SUPPORTED_API_VERSIONS"
Should be '2020-06-30'

[2020-09-21 18:55] #13686 closed

[2020-09-21 20:12] kgopi05 commented on #13527
i'm unable to see the version_id in the blob parameters list , can you refer the right documentation link please ?

[2020-09-21 20:31] KieranBrantnerMagee commented on #13873
Hello again @andrea-cassioli-maersk  :)
So your assessment is pretty on-the-mark.  In 0.50 you won't be able to settle a message outside of the receiver context.  While I don't have _deep_ familiarity with the prior historical version I would postulate it worked there because it was almost purely REST based, which may have let operations happen with fewer constraints than in 0.50 and beyond when w

[2020-09-21 21:03] KieranBrantnerMagee commented on #13872
Excellent callout as always.  For us this was by design in 0.50 (although as you say not well documented), but this is an item that we are looking to align cross-language-language for semantic-consistency in 7.0, for which a discussion is actually currently underway.

I have a personal opinion on this but I'll keep it close to the vest to not influence you yet; as I'm going to abuse this issue to

[2020-09-21 21:07] Rodrigossz commented on #13634
Hello @tuckeryatesjvion ! Thank you so much for detecting this bug. It is fixed in this PR: https://github.com/Azure/azure-sdk-for-python/pull/13855 and will be merged later this month. We don't have a schedule for a new release now, but you can monitor the PR to see when it will be merged into the SDK code. After that, you can test it downloading the code, while pip install will only work when we

[2020-09-21 21:17] Rodrigossz commented on #12096
Done here: https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/cosmos/azure-cosmos#limitations

[2020-09-21 21:17] #12096 closed

[2020-09-21 21:39] tuckeryatesjvion commented on #13634
Thanks for getting this resolved so quickly @Rodrigossz ! I'll look out for the next release.

[2020-09-21 22:46] amishra-dev commented on #13838
the question is for the identity folks even though it uses the storage example

[2020-09-21 23:40] KieranBrantnerMagee opened #13910 "[ServiceBus] Emplace test config parameters to run against Canary region"
Tests opting into the region override flow (as servicebus does) can now be provided a custom region via env-var.

Provide this via our test.yml files, and validate that it works

See [example in .net](https://github.com/Azure/azure-sdk-for-net/pull/15265) for how it is done in the other languages

[2020-09-21 23:58] tasherif-msft commented on #13878
Hi @imdaslayer, I was not able to reproduce this issue on my end (experimented with 11MB and 600MB CSV files). Would you be able to provide me with logs during the attempt of this operation?

Thank you :)

[2020-09-22 00:12] chlowell commented on #13838
This looks like a storage question to me. If something like "https://my-storage-account.blob.core.windows.net" is a valid Azure AD scope, then any credential in azure-identity can get a token for it. This particular scenario then requires `ContainerClient` to expose configuration or replacement of its `BearerTokenCredentialPolicy`.

But taking a step back, I expect the best answer to the broader q

[2020-09-22 01:04] scbedd opened #13911 "GA of mgmt-resource makes mindependency of azure-core < 1.7.0 testing not possible?"
We use `azure-devtools` to enable resource creation from our live tests.

In the written tests, this boils down to inheriting from `AzureMgmtTestCase` and then populating some `preparer` attributes.

The newest release of `azure-mgmt-resource`  requires `azure-core>=1.7.0;<2.0.0`.

If we install a version of azure-core _earlier_ than this. We face build errors that look [like this.](https://dev.az

[2020-09-22 01:24] kwhitehall opened #13913 "No flag to set overwrite=True in Dataset"
- **azureml-core, azureml-dataprep**:
- **1.12.0, 2.0.7**:
- **Operating System**:
- **Python Version = 3.7**:

**Describe the bug**
No flag to set overwrite=True in as_download method.
Output from failed method:
Dataset initialization failed: UserErrorException:
    Message: File "/mnt/location/dataset.json" already exists. Set overwrite=True to overwrite it.
    InnerException None
    ErrorResp

[2020-09-22 06:23] andrea-cassioli-maersk commented on #13873
OK, thanks. The overall logic makes sense (I get it that the message needs to retain some kind of connection object reference).

I was surprise of such a change moving from 0.20 to 0.50, as they are minors. Moreover, I could not find any specific mention in the doc and the example are so basic!

On top of that, the error I got was pretty obscure and I could have a guess only because it printed out

[2020-09-22 06:23] #13873 closed

[2020-09-22 08:39] andrea-cassioli-maersk commented on #13872
I see. Just think that one second is a lot of time in some scenario, and I might just want to fetch was is there. But good that you have it on the radar.

[2020-09-22 08:39] #13872 closed

[2020-09-22 10:42] AkhilGNair commented on #13765
This is great (and makes me feel stupid :wink:) - the validation would be perfect as it was just the URL validation I was missing.

Creds are fine, no issue there - just wanted to catch the unauthorised error.

Thank you!

[2020-09-22 14:59] tomarv2 opened #13943 "Error validating/creating Storage Account"
- **Package Name**:
- **Package Version**:
- **Operating System**: MacOS
- **Python Version**: 3.6

**Describe the bug**

Following this doc to validate and create a storage account and its erroring out:

https://docs.microsoft.com/en-us/samples/azure-samples/storage-python-manage/storage-python-manage/#create-account

Error:

[code]

[2020-09-22 16:13] jboelterintc commented on #13506
The headers should be on every outgoing request. As noted in the bug, the headers are absent from `upload_data_chunks` and `upload_substream_blocks`. Not if this may show up in other call paths.

[2020-09-22 16:14] jboelter commented on #13506
The headers should be on every outgoing request. As noted in the bug, the headers are absent from `upload_data_chunks` and `upload_substream_blocks`. Not if this may show up in other call paths.

[2020-09-22 16:53] #13745 closed

[2020-09-22 17:51] yunhaoling commented on #13155
https://github.com/Azure/azure-sdk-for-python/pull/13884

[2020-09-22 17:51] #13155 closed

[2020-09-22 17:53] yunhaoling commented on #13742
https://github.com/yunhaoling/protobuf-python-demo

[2020-09-22 17:53] #13742 closed

[2020-09-22 18:30] pvrk commented on #12878
@onenessboy : A gentle reminder to share updates/information over email.

[2020-09-22 19:40] xiangyan99 opened #13947 "SearchIndex is not serializable"
The user scenario is:
We have an index created with an older api version might have different settings (such as the type of similarity). It would be really helpful (if it is possible) is to have something that can convert any response from Azure Cog Search to JSON.  For example, the index schema object that comes back, if there was a .json() or similar function, I could easily see and make edits t

[2020-09-22 19:40] xiangyan99 commented on #12264
We received similar request in Search. #13947

[2020-09-22 19:46] scbedd opened #13949 "Newly released version of `cryptography` won't install on windows AZDO image"
In short term, pinning the transitive dep.

In longer term, investigating what is breaking the new image, and filing/resolving an issue to get it fixed in the images repo.

[2020-09-22 20:35] abdale opened #13951 "os.environ causes azure-eventhub send_stream.py to fail"
- **Package Name**: azure-eventhub
- **Package Version**: 5.2.0
- **Operating System**: Windows 10
- **Python Version**: 3.8.5

**Describe the bug**

https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/eventhub/azure-eventhub/samples/sync_samples/send_stream.py

This script keeps erroring out unless you **remove** the [os.environ](https://github.com/Azure/azure-sdk-for-python/blob/7eda38

[2020-09-22 21:33] srinathnarayanan commented on #11689
Fixed with https://github.com/Azure/azure-sdk-for-python/pull/13857
We now expose partitionKey param in the query_items_change_feed API (can be passed as a named parameter)

[2020-09-22 21:33] #11689 closed

[2020-09-22 21:41] KieranBrantnerMagee opened #13956 "[ServiceBus] Migration guide should specify .5 vs .2 deltas precisely."
Thus far, the 7.0.0 migration guide is oriented towards .5 users upgrading linearly.  As [this issue](https://github.com/Azure/azure-sdk-for-python/issues/13873) shows, that's not an assumption we can make.

We should add either a subsection (if only very subtle behaviors are different) or a note to each example where relevant (if differences are more enmeshed) to describe .2->7.0 deltas.

I would

[2020-09-22 21:43] kristapratico commented on #13534
done, https://pypi.org/project/azure-cognitiveservices-formrecognizer/

[2020-09-22 21:43] #13534 closed

[2020-09-22 21:49] #13816 closed

[2020-09-22 21:49] #13827 closed

[2020-09-22 22:06] KieranBrantnerMagee commented on #13873
Doc gap is totally understood; an unfortunate bit of debt from the history of how these libraries grew more informally in the beginning.  I've added [an issue](https://github.com/Azure/azure-sdk-for-python/issues/13956) to create subsections in our GA version migration guide to specify coming from .2 vs .5 to hopefully mitigate this sort of confusion for the future.

[2020-09-23 00:35] yunhaoling opened #13958 "[SchemaRegistry] Generate client code using the latest swagger"
- [ ] Use kwargs to pass content type into generated code:
 - https://github.com/Azure/azure-sdk-for-python/blob/8cac468cb6e3d604c70930fd0fe5fa1896666e4c/sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/operations/_schema_operations.py#L222
- [ ] Rerun test to generate the correct yaml recordings
 - **Wrong** example: https://github.com/Azure/azure-sdk-for-python/blob/12ff1b

[2020-09-23 07:02] v-xuto opened #13974 "Identity Readme issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/identity/azure-identity#defining-a-custom-authentication-flow-with-chainedtokencredential):
![image](https://user-images.githubusercontent.com/57166602/93972867-bec16d00-fda5-11ea-8ce2-3bd8cff2916e.png)

Reason:
ImportError: cannot import name 'EventHubClient' from 'azure.eventhub'.

Suggestion:
Update to 'EventHubProd

[2020-09-23 07:02] v-xuto opened #13975 "App Configuration Readme and Samples issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/appconfiguration/azure-appconfiguration#contributing):
![image](https://user-images.githubusercontent.com/57166602/93972988-0647f900-fda6-11ea-80cf-f977c02a352d.png)
Suggestion:
1).Add hyperlink for `Microsoft Open Source Code of Conduct` https://opensource.microsoft.com/codeofconduct/
2).Add hyperlink for `Code of Con

[2020-09-23 07:02] v-xuto opened #13976 "Search Documents Sample issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/search/azure-search-documents/samples/async_samples/sample_indexers_operations_async.py#L57):
![image](https://user-images.githubusercontent.com/57166602/93973643-1dd3b180-fda7-11ea-9ea5-0c3eb4180900.png)

Suggestion:
Update to `async-indexer-datasource`，make it consistent with the data source name below.

@jongio for

[2020-09-23 07:02] v-xuto opened #13977 "Data Tables Readme and Samples issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/tables/azure-data-tables#general):
![image](https://user-images.githubusercontent.com/57166602/93974070-dbf73b00-fda7-11ea-8aa0-cefb05655770.png)

Suggestion:
1).Add
[code]

2).Update `TableServiceClient(connection_string)`to `TableServiceClient.from_connection_string(connection_string)`.

2.
Section [Link](https://git

[2020-09-23 07:02] v-xuto opened #13978 "Event Grid Readme and Samples issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/eventgrid/azure-eventgrid#install-the-package):
![image](https://user-images.githubusercontent.com/57166602/93975856-a4d65900-fdaa-11ea-9fcd-467ef2814068.png)

Suggestion:
Add hyperlink for `pip` https://pypi.org/project/pip/

2.
Section [Link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/eventgrid/azu

[2020-09-23 08:26] tanmaydattta commented on #13471
All it is a blocker if we want to use Azure platform with 64bit python (which is what we should have been default in my opinion). Our code uses in-memory operation with large datasets and we can not go with python 32 bit extension at all.

[2020-09-23 15:11] southpolesteve commented on #11721
@chrisyeh96 Customer support tickets get higher priority than ones filed internally

[2020-09-23 15:29] OrrinEdenfield opened #13985 "Upload to IoT Edge Blob Storage: ExceptionMessage:The value 2019-12-12 provided for request header x-ms-version is invalid."
- **Package Name**:  Azure Blob storage v12.5.0
- **Package Version**: 12.5.0
- **Operating System**:
  PRETTY_NAME="Raspbian GNU/Linux 10 (buster)"
  NAME="Raspbian GNU/Linux"
  VERSION_ID="10"
  VERSION="10 (buster)"
  VERSION_CODENAME=buster
  ID=raspbian
  ID_LIKE=debian
  HOME_URL="http://www.raspbian.org/"
  SUPPORT_URL="http://www.raspbian.org/RaspbianForums"
  BUG_REPORT_URL="http://www.ra

[2020-09-23 16:02] weshaggard opened #13987 "Support standard arm template approach for test resource provisioning"
Python currently uses ARM Api calls to provision test resources which has worked well for their needs but all the other languages have moved to a model where we use ARM templates to provision resources. In order help drive consistency and easy for partner teams to work across the different language repos we should try to add support for using the same ARM template model that all the other language

[2020-09-23 17:06] #13514 closed

[2020-09-23 17:14] chlowell commented on #13471
I'm unfamiliar with Webjobs, so I can't say what's going wrong in your case. I was able to run one that uses DefaultAzureCredential in Python 3.6 x64 though. I wouldn't be surprised to learn there's a better way, but here's what I did to get mine working:
1. Create a Windows App Service
1. Enable Managed Identity
1. Add the "Python 3.6.4 x64" extension
1. Use the diagnostic console to install azur

[2020-09-23 17:44] seankane-msft commented on #13544
Hi @ellabbarw, the new library for tables was released this month. Please try out the new library and let us know if that solves your problem.

https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/tables/azure-data-tables

[2020-09-23 18:08] lmazuel opened #13989 "Testing service attention for EventGrid as of today"
This is not a real issue :)

[2020-09-23 18:08] #13989 closed

[2020-09-23 20:56] chlowell commented on #8138
Closed by #13772

[2020-09-23 20:56] #8138 closed

[2020-09-23 21:52] smarlowucf opened #13996 "ModuleNotFoundError: No module named 'adal'"
- **Package Name**: azure-common
- **Package Version**: 1.1.25
- **Operating System**: Ubuntu 16.04.6 LTS
- **Python Version**: 3.7

**Describe the bug**
Attempting to use get_client_from_auth_file function from azure-common client_factory module leads to import error.

**To Reproduce**
Steps to reproduce the behavior:
1. pip install azure-common
2. Import: from azure.common.client_factory import

[2020-09-23 22:59] chlowell commented on #13576
A failed operation looks like this in JSON:
[code]
Today, the HttpResponseError [raised by LROPoller](https://github.com/Azure/azure-sdk-for-python/blob/fa582c6e0fe7790acb8202094b4215aeaddead74/sdk/core/azure-core/azure/core/polling/_poller.py#L262) when polling fails has the unhelpful message I quoted above. HttpResponseError does [parse the body's `error` object](https://github.com/Azure/azure-s

[2020-09-23 23:04] #12377 closed

[2020-09-23 23:05] chlowell commented on #13128
Closing this because the autorest issue is closed.

[2020-09-23 23:05] #13128 closed

[2020-09-23 23:14] amishra-dev commented on #13943
@vinjiang can you please help with this, its a management plane sdk ask.

[2020-09-23 23:33] tanmaydattta commented on #13471
This might not work for this particular scenario as I forgot to mention that we do not have many of these settings available to us. (We are working on a very restricted azure portal)
1. It works behind proxy so pip install is not available, hence the need for local wheel packaging
2. Dev are unable to access the advanced tools
Seems to me like the best solution (for us) might be to request proper

[2020-09-24 00:59] MehaKaushik commented on #4210
I validated that it is fixed in the latest release. Closing this. Please feel free to open if you have any other questions related to this.

[2020-09-24 00:59] #4210 closed

[2020-09-24 01:56] xiafu-msft commented on #13527
Hi @kgopi05

Sorry I was looking at BlobClient.delete_blob() which is this https://azuresdkdocs.blob.core.windows.net/$web/python/azure-storage-blob/12.4.0/azure.storage.blob.html#azure.storage.blob.BlobClient.delete_blob

Please use this as reference, the doc for ContainerClient.delete_blob() is not accurate enough! Thanks for helping catch this, we will post a pr in a bit

[2020-09-24 05:31] xiafu-msft commented on #13506
Hi @jboelter

It looks like we intended to only add the customized header in the exact "write" operation (change blob content) which is upload blob or commit block list operation. So it's not a bug....
While I think it doesn't hurt if we add it to all internal requests! We will post a pr to add customized header to all sub requests soon!

[2020-09-24 05:46] xiafu-msft commented on #13479
Hi @rblock-aw

I'm pretty sure readall() blocks and will return a string.
Can you try this and see what happens:

- 1. return XXXXXX.readall() directly instead of wrapping it with a StringIO
- 2. do json.loads(document) directly

Thanks for your patience!

[2020-09-24 08:00] #13402 closed

[2020-09-24 10:39] pvrk commented on #9574
We recently prepared few python samples and we will update the SDK documentation soon.

[2020-09-24 10:39] pvrk commented on #9574
Sincere apologies for the delay.

[2020-09-24 10:53] pvrk commented on #12569
Sincere apologies for the delay. Investigation was delayed due to other priorities and will be taken up very soon.

[2020-09-24 12:49] rblock-aw commented on #13479
We'll give it a go, but it'll take some time since the error only pops up very sporadically. I'll come back to you when I have collected the necessary data points.

[2020-09-24 13:28] smarlowucf commented on #13996
Same issue with msrestazure package.

[code]

[2020-09-24 13:38] simonlindblad opened #14011 "Importing SkuFamily from azure.mgmt.keyvault isn't supported in 2.2 (dependency isn't pinned down)"
- **Package Name**:  azure-sdk-tools
- **Package Version**:  master
- **Operating System**: Linux/Windows
- **Python Version**:  3.6

**Describe the bug**
[This setup.py](https://github.com/Azure/azure-sdk-for-python/blob/master/tools/azure-sdk-tools/setup.py) doesn't specify a specific azure-mgmt-keyvault, but importing SkuFamily as is done [here](https://github.com/Azure/azure-sdk-for-python/blo

[2020-09-24 13:44] smarlowucf commented on #13996
It looks like msrestazure has a proper requirement on adal: https://github.com/Azure/msrestazure-for-python/blob/master/setup.py#L54

It seems that azure-common should have a similar requirement on adal and msrestazure in setup.py to ensure dependency tree is installed accordingly.

[2020-09-24 13:55] shawnswlin commented on #13085
Hello all,

Any new update for this issue? We are looking forward to seeing this issue to be solved.

[2020-09-24 14:18] glaubitz commented on #13441
It's a problem because packaging is partially performed in an automated manner due to the large number of packages in the Azure SDK.

So, whenever possible packages should follow a common scheme. Anything that deviates needs manual intervention which costs time and slows down the process of keeping the packages in openSUSE/SLE up-to-date.

That's why it would be great if the ```nspkg``` packages w

[2020-09-24 15:50] xiangyan99 commented on #13975
Fixed

[2020-09-24 15:50] #13975 closed

[2020-09-24 15:51] xiangyan99 commented on #13996
@scbedd is this something you are working on?

[2020-09-24 15:53] xiangyan99 commented on #13976
Fixed

[2020-09-24 15:53] #13976 closed

[2020-09-24 15:54] xiangyan99 commented on #13768
@piyushgup given we have not heard back from you, we will close this issue. Feel free to re-open it or open a new one if it is still repro-able.

[2020-09-24 15:54] #13768 closed

[2020-09-24 16:00] chlowell commented on #13471
I'd raise a request through your usual support channel. I think that would be the best way to get in touch with someone familiar with WebJobs.

[2020-09-24 16:20] lmazuel commented on #14011
Hi @simonlindblad
This package is not designed to be used outside of the repo, we apply changes to match the status of master, to be to be backward compatible with previous packages. You can see in the setup.py you mention for instance:

We _coud_ add a `>=7.0.0`, but again that won't be any help here since this package is designed as helper tool while everything is installed from local branches.

[2020-09-24 16:26] allegradomel commented on #13085
@changlong-liu - does this need investigation on the service side?

[2020-09-24 16:28] lmazuel commented on #13996
Hi @smarlowucf
We do NOT want to add a dependency on msrestazure/adal in `azure-common` on purpose. This is a long story of backward compatibility and impact that this will have to suddenly install a new dependency. Most of the code in this code is catching ImportError to explain that auth features requires additional installation of `msrestazure manually.

https://github.com/Azure/azure-sdk-for-p

[2020-09-24 17:05] ramya-rao-a opened #14013 "Review Distributed Tracing features in the new Service Bus library"
When we were working on the latest Event Hubs package, we had a definite set of requirements of how each send request and the different modes of receiving events did tracing. Service Bus is in a similar boat as Event Hubs in terms of tracing needs with the addition of a whole new set of methods for peek, receiving deferred messages, sending scheduled messages etc.

This issue is to review how much

[2020-09-24 18:16] #13261 closed

[2020-09-24 18:43] tasherif-msft commented on #13261
The PR for the change has been merged and will be in our next release. Thank you

[2020-09-24 20:02] smarlowucf commented on #13996
Hi, @lmazuel thanks for the explanation. IMHO it's not nice to force downstream packages to have dependencies on packages that really are used upstream. This can become very troublesome to properly manage. The downstream packages now have to add all this in their own requirements.txt:

[code]

Which is quite confusing and inaccurate because adal and msrestazure are not used in those packages direc

[2020-09-24 20:06] smarlowucf commented on #13996
This issue has only come up recently which means a backwards incompatible change was made somewhere in the Azure packages. In my case I have requirements on:

[code]

Thus while some backwards incompatible changes are being avoided it seems that is not the case in all packages?

[2020-09-24 20:07] tasherif-msft opened #14015 "Migrate Blob Storage to use autorest.python v5.x for Code Generation"
This issue is intended to track the migration effort for blob storage to use `autorest.python` v5.x generator over using the deprecated `azure-core` branch for `autorest.python` (https://github.com/Azure/autorest.python/tree/azure-core)

This effort is part of https://github.com/Azure/azure-sdk-for-python/issues/13853

[2020-09-24 20:10] tasherif-msft opened #14016 "Migrate Fileshare to use autorest.python v5.x for Code Generation"
This issue is intended to track the migration effort for fileshare storage to use `autorest.python` v5.x generator over using the deprecated `azure-core` branch for `autorest.python` (https://github.com/Azure/autorest.python/tree/azure-core)

This effort is part of https://github.com/Azure/azure-sdk-for-python/issues/13853

[2020-09-24 20:14] tasherif-msft opened #14017 "Migrate File Datalake to use autorest.python v5.x for Code Generation"
This issue is intended to track the migration effort for file datalake storage to use `autorest.python` v5.x generator over using the deprecated `azure-core` branch for `autorest.python` (https://github.com/Azure/autorest.python/tree/azure-core)

This effort is part of https://github.com/Azure/azure-sdk-for-python/issues/13853

[2020-09-24 20:15] tasherif-msft opened #14018 "Migrate Queues to use autorest.python v3 for Code Generation"
This issue is intended to track the migration effort for queue storage to use `autorest.python` v5.x generator over using the deprecated `azure-core` branch for `autorest.python` (https://github.com/Azure/autorest.python/tree/azure-core)

This effort is part of https://github.com/Azure/azure-sdk-for-python/issues/13853

[2020-09-24 21:04] axayjo commented on #9549
@changlong-liu There are two issues here:
1. List all galleries (within and from other tenants) that a user has access to using Python SDK. I'm checking whether its possible with API today.
2. Deploy VMs from shared image gallery images from other tenants using Python SDK. This is possible today with API, CLI, PowerShell etc., but seems like Python SDK doesn't support it. We might want to check if

[2020-09-24 22:10] #13041 closed

[2020-09-24 22:10] chlowell commented on #13041
Closing this because `KeyVaultPreparer` [defaults to creating premium vaults](https://github.com/Azure/azure-sdk-for-python/blob/b9cc959187e72ae5c6dc338c9fb7c2151156bf58/tools/azure-sdk-tools/devtools_testutils/keyvault_preparer.py#L39). We also have some coverage of [RSA-HSM keys](https://github.com/Azure/azure-sdk-for-python/blob/b9cc959187e72ae5c6dc338c9fb7c2151156bf58/sdk/keyvault/azure-keyvau

[2020-09-24 22:55] bensussman opened #14022 "Unable to authenticate to Azure GraphRBAC using DefaultAzureCredential OR CredentialWrapper"
- **Package Name**: azure-graphrbac
- **Package Version**: 0.61.1
- **Operating System**: Mac OS 10.14.6
- **Python Version**: Python 3.7.6

**Describe the bug**
We are unable to use the `DefaultAzureCredential` OR the [CredentialWrapper class (cred_wrapper.py)](https://gist.github.com/lmazuel/cc683d82ea1d7b40208de7c9fc8de59d) to authenticate the `graphrbac` client to create an App, Service Princi

[2020-09-24 23:00] changlong-liu commented on #13085
Hi @shawnswlin , @racchen ,

It looks like it retrieve token from "localhost", would you print trackback to have a detail view on the error?
Adding below code in the except block and try again:
[code]

[2020-09-25 00:18] #13125 closed

[2020-09-25 01:45] changlong-liu commented on #9549
Hi @axayjo ,

Would you suggest which RESTFUL API can achieve across tenant gallery operations? Does it defined in the azure-rest-api-specs repo?

The gallery related Python SDK operations are generated from this swagger file: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/gallery.json
I don't see interfaces for

[2020-09-25 01:58] v-xuto opened #14027 "Key Vault Administration Readme issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/keyvault/azure-keyvault-administration#contributing), [link2](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/keyvault/azure-keyvault-certificates#contributing), [link3](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/keyvault/azure-keyvault-keys#contributing), [link4](https://github.com/Az

[2020-09-25 08:49] dommgifer opened #14044 "Azure-mgmt-monitor credential can't get token"
- **Package Name**:
azure-mgmt-monitor

- **Package Version**:
1.0.1
- **Operating System**:
Ubuntu 18.04

- **Python Version**:
3.7

**Describe the bug**
I want to get VM CPU usage,
So I run **MonitorClient(credentials, subscription_id).metrics.list()**

But get error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install package
azure-identity==1.4.0
azure-core==1.8.1
azur

[2020-09-25 08:53] elabbarw commented on #13544
Thanks! I will check it out.

[2020-09-25 09:17] dommgifer opened #14045 "azure-mgmt-monitor can't get VM CPU percentage average"
- **Package Name**:
azure-mgmt-monitor

- **Package Version**:
0.9.0
- **Operating System**:
Ubuntu 18.04

- **Python Version**:
3.7

**Describe the bug**
I want to get VM CPU usage average,
But get return None.
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My Code
[code]
2. Run metrics.list() by parameter

[code]

3. Get None value
[code]

4. Change  step 2 parameter **aggregation

[2020-09-25 09:39] dommgifer commented on #14044
I found this [doc](https://azure.github.io/azure-sdk-for-python/python_mgmt_migration_guide.html#authentication)

use **from azure.identity import ClientSecretCredential** and It work.

[2020-09-25 09:39] #14044 closed

[2020-09-25 09:44] dommgifer commented on #14045
Sorry , I had not noticed.
Use data.average can get CPU average

for item in metrics_data.value:
            for timeserie in item.timeseries:
                for data in timeserie.data:
                    print("{}: {}".format(data.time_stamp, data.average))

[2020-09-25 09:44] #14045 closed

[2020-09-25 10:32] bateau84 commented on #13891
I get this same error, but with other azure modules

[2020-09-25 11:31] #11784 closed

[2020-09-25 12:47] OrrinEdenfield commented on #13985
HI @tasherif-msft I may be doing something wrong, feel free to ping me if that is the case. Thank you!

[2020-09-25 13:34] zepptron commented on #11777
any update on this? would be nice to have this

[2020-09-25 14:28] sajalda23409 opened #14048 "MSAL use for Azure ML resource deployment"
Hi,

I am responsible for deploying Azure ML resources like workspace, compute target and datastore using Python from Azure CI/CD Devops Pipeline.  I have Service principal certificate for authentication. I am confused about which authentication method of Python I will follow.
Shall I used MSAL authentication? or
please suggest a secure authentication method of python that supports Service Princip

[2020-09-25 17:41] KieranBrantnerMagee commented on #13951
Hey abdale; thanks for reaching out.  I'll need a little more detail on the failure you're seeing; as I attempted to reproduce sight unseen but for me the script runs properly.  If you give a full breakdown of the issue and error I might be able to give better guidance.

If helpful, what I did: (where you'll need to provide the values for the two env vars yourself)
- `$env:EVENT_HUB_NAME='my-test-

[2020-09-25 17:47] KieranBrantnerMagee commented on #13548
Closing as I believe we have a mitigation/understanding of the current interaction.  Don't hesitate to reopen this, and if this scenario continues to be a friction point for folks, I'm more than happy to accumulate those asks to present a case to allow this, so anyone (addressing this both to OP and anyone who comes across this in the future) can feel free to give a shout if relevant.

[2020-09-25 17:47] #13548 closed

[2020-09-25 18:40] gbrault commented on #13874
I made the test with an Azure registry located in the same resource and there is no increase of performance compared to using Docker hub.

[2020-09-25 18:42] #13005 closed

[2020-09-25 19:24] xiafu-msft commented on #13985
Hi @OrrinEdenfield
Based on the doc https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob#supported-storage-operations
it seems only service version `2017-04-17` is supported if I understand properly, please double check and correct me if I'm wrong.
Currently azure-storage-blob 12.5.0 takes 2017-04-17 as an invalid version, we can provide you a .whl file and you can install that,

[2020-09-25 19:30] OrrinEdenfield commented on #13985
@xiafu-msft sure. I'll give that a try if you can point me in the right direction. Thank you!

[2020-09-25 19:40] xiafu-msft commented on #13985
Thanks for your patience!
You need do:
1. unzip this first
2. do `pip install your/path/azure_storage_blob-12.5.0-py2.py3-none-any.whl
`
[azure_storage_blob-12.5.0-py2.py3-none-any.zip](https://github.com/Azure/azure-sdk-for-python/files/5284987/azure_storage_blob-12.5.0-py2.py3-none-any.zip)

[2020-09-25 21:48] tasherif-msft commented on #13527
Hey @kgopi05 I have just put up a PR to fix the docstrings for `ContainerClient` :)

[2020-09-25 22:48] johanste opened #14053 "https://azure-storage.readthedocs.io/# refers to older versions of azure storage"
We should update the readthedocs page.

[2020-09-25 22:59] m-dorfman commented on #13891
the signed session issue seems to have come up in a few of the azure sdk packages and was repaired. it looks like the sdk as a whole or the specific packages were not properly updated in the most recent version.

[2020-09-25 23:59] manuchandel opened #14055 "SDK should support reading certificate from buffers instead of file paths."
Using Azure SDK to authenticate via certificateCredential requires parameter **filePath to pem cert including private key**. This is not desirable in an environment where it is not safe to have pem certs that include private key.

If the user has pem bytes in the variable, he should be able to pass it and authenticate.

One use case is Azure Databricks Environment. User does not want to store the

[2020-09-26 00:40] #13974 closed

[2020-09-26 00:51] chlowell commented on #14055
Thanks for opening this. It may require some clever design but I think this is a reasonable feature request. I've put it on our backlog.

[2020-09-26 08:00] #13241 closed

[2020-09-27 04:51] kaimast opened #14059 "ServicePrincipalCredentials' object has no attribute 'get_token'"
I'm running the following code (derived from the [examples](https://github.com/Azure-Samples/virtual-machines-python-manage/blob/master/example.py)).

[code]

However I get the following error. ([and others seem too](https://stackoverflow.com/questions/64063850/azure-python-sdk-serviceprincipalcredentials-object-has-no-attribute-get-to) )

[code]
Any idea what am I doing wrong? Are the examples ou

[2020-09-27 10:53] shawnxzq commented on #10597
@changlong-liu we already fixed the issue, please close this one, thanks!

[2020-09-27 11:02] shawnxzq commented on #12735
@qiaozha This is already fixed, please notify the author to verify and close this one, thanks!

[2020-09-27 16:12] maecky commented on #13985
@xiafu-msft is this python package a different version than the one from pypi: https://pypi.org/project/azure-storage-blob/#history

If so, could you please update the pypi version?

[2020-09-28 02:06] changlong-liu commented on #10597
Hi @shawnxzq , if fixed in swagger, would you submit release request for Python?

[2020-09-28 02:08] qiaozha commented on #12735
@shawnxzq I still can't find the definition of https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py here? Have you submitted a release request and has the SDK been released yet?

[2020-09-28 02:22] keecm commented on #13985
i was having the same error with python.
Added api_version='2019-07-07' to BlobServiceClient solved the problem.

[2020-09-28 02:45] imdaslayer commented on #13878
hi @tasherif-msft  what logs do you need?

[2020-09-28 02:57] imdaslayer commented on #13878
this is what i got in return

`Traceback (most recent call last):

  File "C:\upload.py", line 197, in UploadToBlob
    blob_client.upload_blob(data,overwrite=True)

  File "C:\SDK\Anaconda3\lib\site-packages\azure\core\tracing\decorator.py", line 83, in wrapper_use_tracer
    return func(*args, **kwargs)

  File "C:\SDK\Anaconda3\lib\site-packages\azure\storage\blob\_blob_client.py", line 539, in

[2020-09-28 10:20] OrrinEdenfield commented on #13985
Hi @xiafu-msft - I followed step1-3 here and when I run my code (updated line below), I'm now recieving an error on the API version number.

**Updated line calling BlobClient:**
`blob = BlobClient.from_connection_string(conn_str=connection_string, container_name=localcontainer, blob_name=local_file_name, api_version='2017-04-17')`

**New error:**
`pi@pizerowcam:~/gardencam $ python3 localblob.py
T

[2020-09-28 10:30] OrrinEdenfield commented on #13985
@keecm After updating with the whl file provided by @xiafu-msft I tried setting api_version='2019-07-07' per your suggestion (2019-07-07 does seem to be one of the supported api versions per the previous error). When I run this, I'm receiving the exception below that looks to be auth related? Maybe this is caused by the ? character in my account key? If I properly escape the connection string?

`p

[2020-09-28 14:13] andrea-cassioli-maersk opened #14066 "docs broken link"
In

https://azuresdkdocs.blob.core.windows.net/$web/python/azure-storage-blob/12.4.0/azure.storage.blob.html?highlight=readall#azure.storage.blob.StorageStreamDownloader.readal

the return type link is broken.

[2020-09-28 15:07] keecm commented on #13985
try with 64-byte base64 key as per suggestion by the msft docs https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-blob

[2020-09-28 15:40] andreasbotsikas opened #14067 "Blob Storage SDK - Server failed to authenticate request after extended timeout"
- **Package Name**:  azure-storage-blob
- **Package Version**:  12.4.0
- **Operating System**: Ubuntu 18.04
- **Python Version**:  3.6.6

**Describe the bug**
Running a read intense application and at some point of time, a time out happens while the application is trying to read from the blob storage (we have an active incident to identify why this is happening).

[code]

Timeout lasts for approxi

[2020-09-28 15:51] OrrinEdenfield commented on #13985
Sorry - I mis-read my text editor, I did have a 64-byte base64 key.

However, upon changing the key in the running IoT Edge module and the .py file - I am now uploading to the local Blob storage service running on IoT Edge without error.

Thank you!

[2020-09-28 16:41] #14027 closed

[2020-09-28 18:31] KieranBrantnerMagee commented on #13150
Designing this feature revealed pitfalls.
- A user can provide credentials at the client level.
- This can include credentials for a specific entity, not the top level namespace.
- On top of that, one may have provided NOT the entity-specific connstr, but the raw sas key/policy.  The key to realize here is that they did NOT provide the entity path.
- This has the consequence, to my understanding,

[2020-09-28 18:31] #13150 closed

[2020-09-28 18:38] chlowell opened #14071 "Investigate conflict error when creating Key Vault instances"
Nightly test runs on
[9/28](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=554622&view=results) and [9/22](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=547484&view=results) (internal links) failed due to a 409 while creating a couple of vaults. Interestingly, the error message ("A conflict occurred to prevent the operation from completing.") is not the usual one

[2020-09-28 19:03] annatisch opened #14073 "[Communication-Admin] Issues in setup.py"
- **azure-communication-administration**:
- **1.0.0b1**:

**Describe the bug**
- Setup.py is missing the `long_description_content_type='text/markdown',` flag. The readme is not rendering correctly on PyPI:  https://pypi.org/project/azure-communication-administration
- The Project source URL is incorrect - it's pointing to `github.com/Azure/azure-sdk-python` rather than `azure-sdk-for-python`
- Th

[2020-09-28 20:21] kristapratico opened #14075 "[metricsadvisor] MetricsAdvisorCredential should support credential rotation"
@kristapratico commented on [Thu Aug 20 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/504)

Like AzureKeyCredential, we need to add an update_credential/key method to the the credential type. Since there are two keys passed in, we'll have to figure out how we want to expose this / coordinate across languages.

[2020-09-28 20:22] kristapratico opened #14077 "[metricsadvisor] Add content to README"
@kristapratico commented on [Thu Aug 20 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/505)

[2020-09-28 20:23] kristapratico opened #14078 "[metricsadvisor] Add sync/async samples"
@kristapratico commented on [Thu Aug 20 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/506)

[2020-09-28 20:23] kristapratico opened #14079 "[metricsadvisor] pylint/mypy"
@kristapratico commented on [Thu Aug 20 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/507)

Enable for metrics advisor and get a clean pass

[2020-09-28 20:24] kristapratico opened #14080 "[metricsadvisor] Add docstrings and ref docs snippets"
@kristapratico commented on [Thu Aug 20 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/508)

[2020-09-28 20:24] kristapratico opened #14081 "[metricsadvisor] Add tests"
@kristapratico commented on [Thu Aug 20 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/509)

Also need to figure out a strategy for tests. Likely will all be sharing one resource across languages

[2020-09-28 20:25] kristapratico opened #14082 "[metricsadvisor] create live test pipeline"
@kristapratico commented on [Thu Aug 20 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/510)

and schedule daily run

[2020-09-28 20:25] kristapratico opened #14083 "[metricsadvisor] create MetricsAdvisorClient"
@kristapratico commented on [Thu Aug 20 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/512)

- [x] add_feedback
- [x] get_feedback
- [x] list_incident_root_causes
- [x] list_metrics_series_data
- [x] list_alerts_for_alert_configuration
- [x] list_anomalies_for_alert
- [x] list_anomalies_for_detection_configuration
- [x] list_dimension_values_for_detection_configuration
- [x] list_fe

[2020-09-28 20:25] kristapratico opened #14084 "[metricsadvisor] use swagger transforms"
@kristapratico commented on [Thu Aug 20 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/513)

Look into where we can use swagger transforms to rename models/properties to reduce overhead of maintaining models.

[2020-09-28 20:26] kristapratico opened #14085 "[metricsadvisor] support AAD when ready"
@kristapratico commented on [Thu Aug 20 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/514)

[2020-09-28 20:26] kristapratico opened #14086 "[metricsadvisor] add repr to models"
@kristapratico commented on [Tue Aug 25 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/517)

[2020-09-28 20:27] kristapratico opened #14087 "[metricsadvisor] update links to public repo"
@kristapratico commented on [Tue Sep 01 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/541)

Analyze check will fail right now because it can't access the links (e.g. sample links) in the private repo. Add these later when we've moved to the public repo

[2020-09-28 20:28] kristapratico opened #14088 "[metricsadvisor] input model types should also be accepted as a dict representation of the model"
@kristapratico commented on [Tue Sep 08 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/563)

https://azure.github.io/azure-sdk/python_design.html#python-client-splat-args

[2020-09-28 20:28] kristapratico opened #14089 "[metricsadvisor] find solution to remove edits to generated code"
@kristapratico commented on [Thu Sep 10 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/577)

We're currently editing the generated code everywhere there is a FIXME to avoid an invalid URL being created where the base_url gets the absolute nextLink URL appended to it.

https://github.com/Azure/azure-sdk-for-python-pr/blob/feature/metricsadvisor/sdk/metricsadvisor/azure-ai-metricsadvi

[2020-09-28 20:28] kristapratico opened #14090 "[metricsadvisor] Cross-language renaming effort to make model names less generic"
@kristapratico commented on [Thu Sep 10 2020](https://github.com/Azure/azure-sdk-for-python-pr/issues/582)

Per Johan, we should get together as a crew and make sure our naming is not too generic before we do an arch board.

[2020-09-28 20:37] kristapratico opened #14091 "[Metrics Advisor] Release metricsadvisor beta 1"
## Feature implementation

- [x] [Metrics Advisor] implement DataFeed functionality
- [x] [Metrics Advisor] implement AnomalyAlertingConfiguration functionality
- [x] [Metrics Advisor] implement AnomalyDetectionConfiguration functionality
- [x] [Metrics Advisor] implement Alerting querying methods
- [x] [Metrics Advisor] implement Detection querying methods
- [x] [Metrics Advisor] implement Feedba

[2020-09-28 21:14] sima-zhu opened #14093 "Fixed the broken links reported from aggregate-report"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=553445&view=results

[2020-09-28 21:22] axayjo commented on #9549
Hi @changlong-liu

I'm looking at the listing capability on the API side.

The #2 in my earlier comment was around Python SDK support for cross tenant scenarios in general that requires an auxiliary token - is that supported?

[2020-09-28 22:51] KieranBrantnerMagee commented on #13624
Discussion with python crew today came to consensus that we will make this change.  Re-enabling old PR and writing unit tests.

Primary reasons:
1. ARM uses names, not objects.
2. Want to remove ambiguity that, e.g. in delete, ONLY the target is being deleted, not the intermediary things.
3. Make more explicitly clear to users what is expected in a given field.

The one pitfall here is the update_

[2020-09-28 22:53] lmazuel opened #14098 "Storage accounts needs to be cleaned properly"
There is right now 489 storage accounts that starts with pyacrstorage:
![image](https://user-images.githubusercontent.com/1050156/94493857-9c16c600-01a2-11eb-9132-5bbe2fa2a1c5.png)

It means some logic is broken in the cleaning, and we need to investigate

[2020-09-29 01:29] #7099 closed

[2020-09-29 01:30] scbedd commented on #7258
This is technically un-necessary. This issue is about the actual `install_requires` which are NOT different between whl and sdist.

[2020-09-29 01:37] v-xuto opened #14099 "TextAnalytics Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/textanalytics/azure-ai-textanalytics#get-the-endpoint):
![image](https://user-images.githubusercontent.com/57166602/94502038-d1b8bf00-0235-11eb-8fa4-629559ba462e.png)

Reason:
![image](https://user-images.githubusercontent.com/57166602/94502072-e4cb8f00-0235-11eb-851b-209249fec82e.png)
Suggestion:
Update to:
[code]

@j

[2020-09-29 01:37] v-xuto opened #14100 "Storage Blob Changefeed Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/storage/azure-storage-blob-changefeed#create-a-storage-account):
![image](https://user-images.githubusercontent.com/57166602/94502465-c87c2200-0236-11eb-9475-f51d4c968faa.png)

Suggestion:
By following oxford comma, add  "," after the `Azure Portal` and `Azure PowerShell`.

2.
Section [link](https://github.com/Azure/az

[2020-09-29 01:43] scbedd commented on #12075
This is actually completed.

![image](https://user-images.githubusercontent.com/45376673/94503045-641b7d00-01ba-11eb-9376-8dd76357eb2b.png)

[2020-09-29 01:43] #12075 closed

[2020-09-29 01:44] scbedd commented on #12306
We definitely still have this issue. It is _super_ easy to ameliorate, simply run with `BuildTargetinString` set to just the dependent package. That resolves the error going forward.

I'm keeping this issue around because maintaining a manual step is definitely not the way to go.

[2020-09-29 02:30] changlong-liu commented on #14059
Hi @kaimast ,

Are you using the latest azure-mgmt-compute package?

The sample for latest package can be found here: https://github.com/Azure-Samples/azure-samples-python-management/tree/master/samples/compute

And here is a migration guide for using the latest sdk: https://github.com/Azure/azure-sdk-for-python/blob/master/doc/sphinx/python_mgmt_migration_guide.rst

[2020-09-29 02:39] 3ttp commented on #14059
?? ??????? 29 ??????? 2020 ?? 5:31 ?? ??? changlong-liu <notifications@github.com>:Hi @kaimast ,Are you using the latest azure-mgmt-compute package?The sample for latest package can be found here: https://github.com/Azure-Samples/azure-samples-python-management/tree/master/samples/computeAnd here is a migration guide for using the latest sdk: https://github.com/Azure/azure-sdk-for-python/blob/mast

[2020-09-29 07:39] jannekeskitalo commented on #13739
I can now reproduce the issue locally. It doesn't seem to be related to the shape of the data. It's a combination of the eventhub connection expiration and the amount of data going into the batch afterwards. Here's a test case:

[code]

[2020-09-29 07:39] dernat71 opened #14106 "azure-eventhub : Aggregate reception from multiple partitions into a single list"
- **Package Name**: azure-eventhub
- **Package Version**: 5.2.0
- **Operating System**: Windows 10
- **Python Version**: 3.7

[I introduced a StackOverFlow question earlier here.](https://stackoverflow.com/questions/64101623/azure-eventhub-python-sdk-batch-of-everything-in-time-window-from-all-partitio) I'm currently trying to implement a batch reading from an Azure EventHub created with 32 partit

[2020-09-29 13:28] jsenich-r7 commented on #13769
@chlahav @qiaozha Any ETA on a new sdk release to address this?

[2020-09-29 13:50] jazelenk opened #14111 "msrestazure.polling.arm_polling problems with patch operations"
- **msrestazure**:
- **0.6.4**:
- **Linux**:
- **3.7.3**:

**Describe the bug**
When I use an SDK to issue an update operation (such as virtual_machines.update), I get back a long running op object. If the update is a noop (for example, remove all data disks from a VM that has no data disks), it crashes when I invoke op.wait().

**To Reproduce**
Steps to reproduce the behavior:
1. Start with a VM

[2020-09-29 16:11] r3mattia commented on #9310
Any updates on this?

[2020-09-29 17:57] #13527 closed

[2020-09-29 22:11] kurtzeborn commented on #8754
Pretty sure this isn't needed any more.  We'll Open a new issue if it is.

[2020-09-29 22:11] #8754 closed

[2020-09-29 22:11] kurtzeborn commented on #8523
Pretty sure this isn't needed any more.  We'll Open a new issue if it is.

[2020-09-29 22:11] #8523 closed

[2020-09-29 22:11] kurtzeborn commented on #8522
Pretty sure this isn't needed any more.  We'll Open a new issue if it is.

[2020-09-29 22:11] #8522 closed

[2020-09-29 22:12] kurtzeborn commented on #8520
Pretty sure this isn't needed any more.  We'll Open a new issue if it is.

[2020-09-29 22:12] #8520 closed

[2020-09-29 22:12] kurtzeborn commented on #8521
Pretty sure this isn't needed any more.  We'll Open a new issue if it is.

[2020-09-29 22:12] #8521 closed

[2020-09-29 22:12] kurtzeborn commented on #8525
Closing old epic.

[2020-09-29 22:12] #8525 closed

[2020-09-29 22:32] anthonychu commented on #9310
I think this works now with azure-mgmt-resource v15 https://pypi.org/project/azure-mgmt-resource/

[2020-09-29 22:55] kurtzeborn commented on #13639
This feels like something that should be labeled "Client" instead of "Central-EngSys" but it's already assigned to @scbedd, so I'm assuming there's some additional context there that means he should follow up on this.  If I'm incorrect, please relabel.

[2020-09-29 23:33] #14079 closed

[2020-09-29 23:42] #14087 closed

[2020-09-29 23:44] GaneshMSFT opened #14124 "When using the role_assignments.list_for_scope() function to query for role assignments, assignments with the role 'Storage Account Key Operator' are no longer returned in results"
**Describe the bug**
A clear and concise description of what the bug is.

When calling azure.mgmt.authorization.AuthorizationManagementClient. role_assignments.list_for_scope(scope=storage_account_resource_id, filter=f"principalId eq '{object_id}'"), role assignments of the role "Storage Account Key Operator" are not returned.

***Exception or Stack Trace***
Add the exception log and stack trace i

[2020-09-30 06:54] chengyu-liu-cs opened #14130 "Python3 native logging does not work properly with Azure ML sdk"
- **Package Name**: azureml
- **Package Version**: 1.12 but has seen this since 1.0.62
- **Operating System**: mac & linux
- **Python Version**: python3

**Describe the bug**

Native logging package does not log anything in a case where azureml sdk was used. It has been issue for me for a while and recently I found the cause. The cause is related to `from azureml.pipeline.steps import PythonScript

[2020-09-30 07:00] #13353 closed

[2020-09-30 08:31] andrea-cassioli-maersk opened #14131 "service bus messages with empty body?"
- **Package Name**: servicebus
- **Package Version**: 0.50.3
- **Operating System**: OSX
- **Python Version**: 3.7

This is not a bug, but rather request for explanation. I am wondering whether it is possible to create a `Message` in service bus that has no body. From the code

https://azuresdkdocs.blob.core.windows.net/$web/python/azure-servicebus/0.50.3/_modules/azure/servicebus/common/message.h

[2020-09-30 15:55] mohamad-ali-nasser opened #14132 "[Bing Spell Check] Azure spell check not working with the Arabic language"
Hi,

I am using Bing Spell Check API following the [documentation here](https://docs.microsoft.com/en-us/azure/cognitive-services/Bing-Spell-Check/overview). While the language support page does specific that the [Arabic language is supported](https://docs.microsoft.com/en-us/azure/cognitive-services/Bing-Spell-Check/language-support), it doesn't seem to be. I have tried my code with both the Engl

[2020-09-30 16:08] kaimast commented on #14059
Thank you! That sample works indeed :)

[2020-09-30 16:08] #14059 closed

[2020-09-30 16:50] iscai-msft opened #14134 "[text analytics] remove length property"

[2020-09-30 17:27] yunhaoling opened #14137 "[EventHubs] Occasional livetest failure related to CI blob storage ResourceExistsError"
Right on it only happens on Windows Python27 on pipeline running: 20200903.1, 20200925.1, 20200924.1

The error log is as following, needs further investigation.

[code]

[2020-09-30 17:37] yunhaoling opened #14138 "[ServiceBus] Define the meaning of receive max_wait_time being 0"
We need to settle it before GA. @KieranBrantnerMagee

current implementation:
0 is taken as no timeout which is equal to None, it's definitely not the behavior we want.

options:
1. 0 means returning immediately
  - python idiomatic/user intuitive if they want to drain
  - implementation would be setting a small timeout value internally
2. raise error if user passes 0 to the sdk
  - consistent wit

[2020-09-30 17:46] gison93 opened #14139 "PipelineRun.wait_for_completion(show_output=True) raises UnicodeEncodeError"
- **Package Name**: azureml-core
- **Package Version**: 1.0.62
- **Operating System**: vs2017-win2016
- **Python Version**: 3.6.8 x64

**Describe the bug**
Calling wait_for_completion for a PipelineRun object with show_output=True raise error:

[code]

Full traceback:

[code]

Looking at the line in the logs that causes the issue I find:
[code]

I suspect that ● is not encoded properly into tab wh

[2020-09-30 18:07] avanigupta opened #14140 "[AppConfig] Unhandled exception when connection string secret has incorrect padding"
- **Package Name**: azure-appconfiguration
- **Package Version**: 1.1.0
- **Operating System**: Windows 10
- **Python Version**: Python 3.7.4

**Describe the bug**
If the "Secret" segment of a connection string has less or more number of characters, it cannot be base 64 decoded.
If this invalid connection string is used to create AzureAppConfigurationClient, the application fails with UnexpectedEr

[2020-09-30 18:08] heaths opened #14141 "November release of Cognitive Search for Python"

[2020-09-30 18:26] kaerm commented on #14053
Hey @xiafu-msft does this page need to be maintained in the first place? If not could we take it down? If yes, would it be possible to add a big pointer to v12 on the landing page?

[2020-09-30 18:36] ctstone opened #14143 "FormRecognizerClient outputs duplicate logs, including un-redacted headers"
- **Package Name**: azure-ai-formrecognizer
- **Package Version**: 3.0.0
- **Operating System**: Ubuntu 18.04
- **Python Version**: 3.8.0

**Describe the bug**
When using the standard `logger` we see duplicate log messages in STDOUT for http request/response. The first message contains plaintext headers, but the second message contains `REDACTED` for most headers.

**To Reproduce**
Steps to reprod

[2020-09-30 19:38] chengyu-liu-cs opened #14147 "ComputeTarget.get_status() return None instead of string of provision_state"
- **Package Name**: azureml sdk
- **Package Version**: 1.12
- **Operating System**: mac & linux
- **Python Version**: 3.6

**Describe the bug**
When an AmlCompute is provision with unsupported vm_sizes (why someone uses unsupported vm sizes ? because the [documentation is not clear ](https://github.com/Azure/MachineLearningNotebooks/issues/1169#issuecomment-701587839)), the provision failed and er

[2020-09-30 19:38] seankane-msft opened #14148 "[Tables] Cosmos Account Preparer uses name_prefix in caching and more testing needs to be done to verify that it is necessary"
In the cosmos preparer located [here](https://github.com/Azure/azure-sdk-for-python/tree/master/tools/azure-sdk-tools/devtools_testutils), the caching ability is set as:
[code]
The name_prefix being used forces the caching to check if there exists a resource with that exact tuple (`parameter_name, name_prefix`). This was added while debugging a nasty recordings bug and left as is without testing i

[2020-09-30 19:42] KieranBrantnerMagee commented on #14148
Dropping my mental state while I have it:  The one reason this might be necessary is if there is code which relies on a fixed name prefix (or that could cause it to become misaligned with the cached object) which would itself be a bad smell, so I would hope that anything requiring this would be able to be triaged if it was a real need.

[2020-09-30 19:44] #14134 closed

[2020-09-30 20:01] jannekeskitalo commented on #13739
I'm planning to workaround the issue by keeping track of idle time and recreating the client if more than 4min has passed since the last send. I don't like this approach much, so is there a better way to keep the client alive?

[2020-09-30 20:40] jazelenk opened #14150 "azure-mgmt-compute: VirtualMachineIdentityUserAssignedIdentitiesValue became mangled somewhere between 13.0.0 and 17.0.0"
- **Package Name**: azure-mgmt-compute
- **Package Version**: 17.0.0
- **Operating System**:Linux
- **Python Version**: 3.7.3

**Describe the bug**
`azure.mgmt.compute.models.VirtualMachineIdentityUserAssignedIdentitiesValue` has changed to `azure.mgmt.compute.models.Components1H8M3EpSchemasVirtualmachineidentityPropertiesUserassignedidentitiesAdditionalproperties`. Changing names of classes and m

[2020-09-30 20:46] KieranBrantnerMagee commented on #14106
Hey Dernat,  thanks again for reaching out.

To quickly echo my initial response on SO and followup,  I mentioned that you have a few ways to do aggregation depending on what semantics you care about, but it may be most effective to just have one consumer pushing to a unified Queue, which is then read from when appropriate. (as opposed to 32 consumers all aggregating)

I've put together [the follo

[2020-09-30 21:12] weshaggard opened #14152 "Enable SDK Automation for new code generator"
The SDK Automation spec can be found at https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/sdkautomation/sdk_customization.md.

- [ ] Add [automation configuration](https://github.com/Azure/azure-rest-api-specs/blob/master/specificationRepositoryConfiguration.json) for new code generator in the specs repo
- [ ] Add new swagger_to_sdk configuration file in the language repo
- [

[2020-09-30 21:37] kristapratico commented on #14143
Hey @ctstone

Thanks for opening the issue and providing the repro info! I looked into this and reached out to our azure-core folks about the logging policies.

In your example code, you set the logging level DEBUG, which _will_ return un-redacted headers and any logging messages that have a severity level higher than DEBUG, following this hierarchy: `CRITICAL > ERROR > WARNING > INFO > DEBUG`. So

[2020-09-30 21:45] ctstone commented on #14143
Hi @kristapratico !

We are using same example from the docs on pypi:

[code]

Should that be `INFO`?

[2020-09-30 22:04] kristapratico opened #14154 "[formrecognizer] update logging example on readme"
Logging section shows how to enable DEBUG logging. Switch to showing how to enable INFO level.

Check if we can link to azure-core docs here

[2020-09-30 22:08] kristapratico commented on #14143
I opened an issue to update the example to show setting it at the INFO level. https://github.com/Azure/azure-sdk-for-python/issues/14154

[2020-09-30 23:05] AddySanto commented on #13769
@chlahav no longer handles these issues, we'll reroute to the appropriate owner soon.  Be aware that the next ~10 days are a local holiday here so expect delayed response.

[2020-09-30 23:10] xiangyan99 commented on #14140
Hi @avanigupta

We made a fix in https://github.com/Azure/azure-sdk-for-python/pull/14145. Could you help to take a look to see if this is what you expected?

Thanks.

[2020-10-01 00:36] avanigupta commented on #14140
Hi @xiangyan99, thanks for the quick response! LGTM.

[2020-10-01 01:09] areed145 opened #14159 "Error retrieving the environment definition"
- **Package Name**: azureml
- **Operating System**: linux
- **Python Version**:  3.7

**Describe the bug**
Traceback (most recent call last):
  File "pipeline.py", line 169, in <module>
    automl_run = experiment.submit(automl_config, show_output=False)
  File "/azureml-envs/azureml_53944c83b0f490385cabad6315352750/lib/python3.6/site-packages/azureml/core/experiment.py", line 219, in submit
    r

[2020-10-01 02:20] rawwar opened #14161 "Contributing guidelines link is broken"
file link: https://github.com/Azure/azure-sdk-for-python/blob/master/CONTRIBUTING.md

" Microsoft Azure Projects Contribution Guidelines."  redirects to "http://azure.github.io/guidelines/" . But, this link is broken(getting 404 error).

[2020-10-01 06:47] d5chaub commented on #10099
Having this issue in a big way. Unable to fix it with reinstallation or new environments. Agreed that this is a huge gotcha which should be handled by package maintainers.

[2020-10-01 09:11] ZLNjust opened #14163 "Error: Face.detect_with_stream() with list of return_face_attributes=[]"
- **Package Name**:
import asyncio
import io
import glob
import os
import sys
import time
import uuid
import requests
from urllib.parse import urlparse
from io import BytesIO
from PIL import Image, ImageDraw
import pandas as pd
from azure.cognitiveservices.vision.face import FaceClient

- **Package Version**:
- **Operating System**:
Mac os
- **Python Version**:
Python 3.8

Here I tried to use loca

[2020-10-01 10:00] andrea-cassioli-maersk opened #14164 "servicebus renew_lock exception"
- **Package Name**: servicebus
- **Package Version**: 0.50.3
- **Operating System**: OSX
- **Python Version**: 3.7

I have just observed the following:
* my app tried to renew a lock on a message in service bus calling the method `Message.renew_lock`
* the process went in timeout (we have observed a number of issues last night with Azure...) and raised an exception in
`azure/servicebus/base_handle

[2020-10-01 10:12] glaubitz opened #14165 "Missing PyPi package update for azure-synapse"
In #11608, changes were made to the ```azure-synapse``` package. In particular, the package was split into three individual packages.

However, ```azure-synapse``` is still available on PyPi and it's not marked as deprecated which is confusing.

It would be nice if the current status of the package could be clarified.

[2020-10-01 11:45] ctstone opened #14166 "FormRecognizerClient redacts non-sensitive information from logs"
- **Package Name**: azure-ai-formrecognizer
- **Package Version**: 3.0.0
- **Operating System**: Ubuntu 18.04
- **Python Version**: 3.8.0

**Describe the bug**
When logging is enabled, the output headers and query string are redacted. These are not sensitive values and including them can streamline support cases, particularly the `apim-request-id`. Only the `Ocp-Apim-Subscription-Key` should be re

[2020-10-01 11:58] ctstone opened #14167 "NetworkTraceLoggingPolicy does not redact Cognitive Services hey header"
- **Package Name**: azure-core
- **Package Version**: 1.8.1
- **Operating System**: Ubuntu 18.04
- **Python Version**: 3.8

**Describe the bug**
The logger currently [redacts](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/azure/core/pipeline/policies/_universal.py#L283-L284) the `Authorization` header, but does not redact `Ocp-Apim-Subscription-Key` which is the cre

[2020-10-01 12:59] chengyu-liu-cs opened #14168 "Unschedulable: CPU/Memory resource insufficient, 1 replicas unschedulable. Please add more node(s) with SKU more than 1.1 CPU Cores and 2.6GB Memory to host your replicas OR reduce your replica count and service resource requirements."
- **Package Name**:  azureml sdk
- **Package Version**:  1.12
- **Operating System**: linux
- **Python Version**: 3.6

**Describe the bug**
Many times I had issues with AksCompute when I deploy akswebservice onto it. Quite often I got errors like:

"Unschedulable: CPU/Memory resource insufficient, 1 replicas unschedulable. Please add more node(s) with SKU more than 1.1 CPU Cores and 2.6GB Memory t

[2020-10-01 16:26] kristapratico commented on #14166
Thanks for pointing this out, @ctstone . I will add

[code]
to the un-redacted headers list for Form Recognizer.

[2020-10-01 16:35] chlowell opened #14169 "Expose backup/restore operation status on poller objects"
Currently the only way to get an operation's job ID from a poller is by examining the status object held by the polling method, for example:
[code]
It would be more ergonomic and discoverable if the poller itself exposed the ID, or even the entire status object. Looks like such a change would require subclassing `LROPoller`.

[2020-10-01 16:40] d5chaub opened #14171 "ImportError: cannot import name 'LeaseProperties' from 'azure.storage.blob'"
- **azure-storage-file-datalake**:
- **12.1.2**:
- **Windows 10**:
- **3.7.9**:

**Describe the bug**
Despite being in a fresh virtual environment, I get errors after running the exact example code seen here,
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-python

"Traceback (most recent call last):
  File "c:\Users\d.schaub\Desktop\PITS_gen2.py", line 4,

[2020-10-01 16:55] xiangyan99 commented on #14140
Fixed. Will be available in next release.

[2020-10-01 16:55] #14140 closed

[2020-10-01 17:06] kaerm commented on #14150
Thanks @jazelenk for reporting this, @nickzhums could you take a look at this

[2020-10-01 18:00] yunhaoling opened #14173 "[SchemaRegistry] Investigate fastavro usage and whether we want to support"

[2020-10-01 19:07] annatisch opened #14176 "[Core] Support continuation token on AzureError"
We should expand the available properties on the [base AzureError](https://github.com/Azure/azure-sdk-for-python/blob/fa6c1b8c33a8e46641731b5a7b26ecefaf166ce4/sdk/core/azure-core/azure/core/exceptions.py#L187) object to include `continuation_token`.
This would allow errors raised during paging, LRO, etc to be able to be manually re-attempted.

This could either take the form of an attribute on the

[2020-10-01 19:12] annatisch opened #14177 "[Storage.Datalake] Remove DataLakeAclChangeFailedError"
We will add (or document) support for `continuation_token` to AzureError in azure.core: #14176
Once this added we should remove this object and support raising the original error along with the continuation token.

This will need to happen before the GA release.

This also applies to the storage pageable operations - where the continuation token can be added to exceptions raised while iterating.

[2020-10-01 19:18] kristapratico commented on #14167
Hey @ctstone

This is expected according to our logging docs:

I will update our README to point to these docs so there is no confusion.

[2020-10-01 19:20] KieranBrantnerMagee commented on #11255
Brief update; [item in PR](https://github.com/Azure/azure-sdk-for-python/pull/14178), working through some considerations, bumping to oct sprint due to high urgency UAMQP work and the relative risk/ROI of pushing this in without completing evaluation.

[2020-10-01 19:58] ctstone commented on #14167
In that case, the docs are incorrect because the `NetworkTraceLoggingPolicy` _does_ do redaction for the `authorization` header:

https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/azure/core/pipeline/policies/_universal.py#L283-L284

[2020-10-01 20:26] seankane-msft opened #14184 "[Tables] Remove old `storage_account` method now that preparers take care of allocating resources"
Cached preparers now take care of resource allocation, make sure that no code is touching the `def storage_account():` at the end of `tests/_shared/testscase.py` and remove.

[2020-10-01 20:51] Vaibhav-Agar commented on #6975
Since the issue was opened very close to the actual launch of Ultra SSD, this might just be due to the changes rolling after the issue was created. Can @samyak4680 or someone verify if the issue still exists? If not, I will like to close this. Thanks!

[2020-10-01 21:11] johanste commented on #14176
@tg-msft, I don't know if you have considered something similar for .NET?

[2020-10-01 21:26] chidozieononiwu opened #14186 "Unify version update Logic"
- [x] Unify version update such that logic is shared across https://github.com/Azure/azure-sdk-for-python/blob/master/eng/scripts/SetTestPipelineVersion.ps1 and https://github.com/Azure/azure-sdk-for-python/blob/master/eng/versioning/version_increment.py
- [ ] Move common logic into eng/common

[2020-10-01 21:37] KieranBrantnerMagee opened #14187 "[ServiceBus] Track2 - normalize commonly named service-bus specific exceptions with a prefix."
**Is your feature request related to a problem? Please describe.**
Objects like Message exist across other SDKs.  Thus, errors like MessageError are rather generic.  This may merit a ServiceBusError style prefix for clarity where appropriate.  Work with python architects to decide our philosophical threshold for this being needed.

**Describe the solution you'd like**
Ambiguously generic exception

[2020-10-01 21:38] #13911 closed

[2020-10-01 21:38] #13949 closed

[2020-10-01 21:54] KieranBrantnerMagee commented on #13040
1. Mode has been fixed within SB.
2. Design discussion was had regarding these signatures, we're apt to add a prefix for items where cross-SDK verbiage exists (ala MessageError).  Task has been created to do this work [Here](https://github.com/Azure/azure-sdk-for-python/issues/14187).
3. Problem diagnosed, intentional design choice in UAMQP to log this as warning.  Proposed solution is a "known ve

[2020-10-01 21:54] #13040 closed

[2020-10-01 22:22] #14166 closed

[2020-10-01 22:22] kristapratico commented on #14154
done in #14180

[2020-10-01 22:22] #14154 closed

[2020-10-01 22:27] kristapratico commented on #14143
Doc updated with #14180

[2020-10-01 22:27] #14143 closed

[2020-10-01 22:28] kristapratico commented on #14167
I asked the same question. Will open an issue with docs to make this more clear. Thanks again for all your help here :)

[2020-10-01 22:31] tg-msft commented on #14176
No, we created specific `DataLakeAclChangeFailedException` exception in https://github.com/Azure/azure-sdk-for-net/pull/15317 that contains the continuation token and an awesome error message.

[2020-10-01 22:32] tg-msft commented on #14176
(Though continuable/resumable/retriable errors are a thing we've heard asks for)

[2020-10-01 22:34] annatisch commented on #14176
@tg-msft - yes they did that in Python too - I'm advocating for it's removal because if means that users have to handle things like ServiceRequestError differently for that one API.
#14177

[2020-10-01 22:39] kristapratico commented on #14167
https://github.com/MicrosoftDocs/azure-dev-docs/issues/312

[2020-10-01 22:41] tg-msft commented on #14176
That wouldn't solve it for us in .NET, unfortunately, because I couldn't wrap a `TaskCanceledException` in an `Azure.RequestFailedException` to add the continuation token.

[2020-10-01 23:14] KieranBrantnerMagee commented on #14164
I love when I get to be the bearer of good news. We have a [PR open](https://github.com/Azure/azure-sdk-for-python/pull/13854) to address precisely that timeout (and add a timeout parameter to all functions for which it is appropriate, ala peek, schedule, etc) in 7.0.  (It's ready to go in pending this week's UAMQP release, to add support into the core for this feature.)

That said, your points ab

[2020-10-01 23:17] ctstone commented on #14167
Thanks for pushing the docs update. However, I think the question still stands: should `ocp-apim-subscription-key` get the same treatment as `authorization` with respect to `azure.core` logging?

[2020-10-01 23:56] KieranBrantnerMagee commented on #14131
It is in fact possible, although we don't make it easy.
`Message(None, message=uamqp.Message())`
(If you wanted to give a session id it'd look like this)
`Message(None, message=uamqp.Message(properties=uamqp.message.MessageProperties(group_id=session_id)))`

So if you think your sender might have a reason to provide a None body, it might be defensive to look out for that; but if I trusted my sende

[2020-10-02 00:13] kristapratico opened #14191 "[azure-core] Authorization header should be un-redacted if using NetworkTraceLoggingPolicy"
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/azure/core/pipeline/policies/_universal.py#L283-L284

Guideline: https://azure.github.io/azure-sdk/python_implementation.html#python-logging-debug

According to guidelines/[docs](https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-logging#set-logging-levels), we should expect to see sensitive information lo

[2020-10-02 00:26] kristapratico commented on #14167
No, it's intended to be that way. Our guidelines state that DEBUG will have sensitive info:
https://azure.github.io/azure-sdk/python_implementation.html#python-logging-debug
A user must also pass the `logging_enable` keyword to opt into using this azure-core policy / expose sensitive information in logs. If wanting to enable logging, but have `ocp-apim-subscription-key` redacted, then logging leve

[2020-10-02 00:27] KieranBrantnerMagee commented on #13739
Aha, it was not immediately clear when I read your tests, comprehensive as they were, but your mention of 4 minutes rang a key bell.  The service has a link idle timeout of 4 minutes.  We ostensibly have a reconnect logic in during the send you're performing, but something seems to be going wrong in the C; I would not expect that error.  I'm going to need to dig in once we're out the side of this

[2020-10-02 00:56] #13592 closed

[2020-10-02 00:58] #14077 closed

[2020-10-02 00:58] #14078 closed

[2020-10-02 00:58] #14081 closed

[2020-10-02 00:58] #14083 closed

[2020-10-02 00:58] #14080 closed

[2020-10-02 01:04] johanste commented on #14176
@tg-msft, would you be able to add the continuation token to the `Data` property of the exception? And maybe I should open a separate issue in the .NET repo for this suggestion to be shot down, and not have the Python discussion be hijacked...

[2020-10-02 06:08] xiafu-msft commented on #14066
Thanks for reporting this! We will fix this in the next release (it should be tomorrow)

[2020-10-02 06:20] xiafu-msft commented on #13985
Hi @OrrinEdenfield

Thanks for investigating and find out the solution.
So set api_version='2019-07-07' work and api_version='2017-04-17' doesn't work?
If that is the case do you think it's necessary to change the doc here? https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob#supported-storage-operations base on this it looks like only '2017-04-17' is supported (I feel), did I mi

[2020-10-02 07:14] skasara-CS opened #14201 "[QUERY] while iterating list of blobs, with results per page and using continuation token, it got stuck for some hours"
while iterating list of blobs, with results per page and using continuation token, it was stuck for some hours, around 20 hours and then thowing error: Request header too old
Iam not sure if this is already solved by someone! Please help !
 - OS: MacOS
 - IDE : Pycharm
 - Version of the Library used: 12.5.0

Here is the code
[code]
In read_blobs function:
[code]

[2020-10-02 07:48] KieranBrantnerMagee commented on #13408
Fixed in the linked PR

[2020-10-02 07:48] #13408 closed

[2020-10-02 08:22] HarleyB123 opened #14198 "azure.mgmt.web update settings doesn't allow for colons"
- **Package Name**:
azure.mgmt.web
- **Package Version**:
0.48

- **Operating System**:
MacOS and Ubuntu

- **Python Version**:
Tested on 3.6 and 3.8

**Describe the bug**
When updating the application settings for a webapp, if one of the key-value pairs contains a colon, then the code fails

**To Reproduce**
Steps to reproduce the behavior:
[code]

works, but

[code]
does not work

**Expected beh

[2020-10-02 08:25] xiafu-msft commented on #14067
hi @andreasbotsikas

Thanks for reaching out.
For the connection timeout error, you can set connection_timeout=2 on BlobServiceClient/BlobClient/ContainerClient
let me know if this doesn't help

[2020-10-02 08:26] xiafu-msft commented on #13878
Hi @imdaslayer

I will try to reproduce it tomorrow and get back to you!

[2020-10-02 10:11] rblock-aw commented on #13479
We're still working on it. As said: it occurs sporadically and we need time to collect the data... I will update this as soon as we have the results in.

[2020-10-02 10:20] OrrinEdenfield commented on #13985
@xiafu-msft I changed my script to below and it worked. I was not able to get api_version='2017-04-17' to work but maybe I'm doing something incorrectly? If the doc page is not correct I'm happy to submit a PR for that.

[code]

[2020-10-02 11:08] nickzhums commented on #14150
@jazelenk there was a major version upgrade in Python SDK from 13.0.0 to17.0.0. This is actually the reason why there was such a big version jump and an indication for important new changes (and breaking changes)
We actually released a beta version of 17.0.0 a while ago and it has been in preview for several months.

The new version of Python SDK introduces some breaking changes but also important

[2020-10-02 15:38] kmrwong opened #14199 "Attempts to create AKS user nodepool with minCount 0"
**Describe the bug**
Attempts to add a user nodepool using Python SDK API and Jenkins failed with the following:

10:27:19   File "/var/lib/jenkins1/workspace/azure/ENGLAB/TESTING/pepper/azure-base-runner/35/build-35/lib/python3.6/site-packages/azure/mgmt/resource/resources/v2019_05_10/operations/_deployments_operations.py", line 1438, in create_or_update
10:27:19     **operation_config
10:27:19

[2020-10-02 16:02] xiafu-msft commented on #14171
![image](https://user-images.githubusercontent.com/49707495/94944328-f1e2bb00-048d-11eb-9617-d9c0e837ec5e.png)
Here is what I did, it looks I can import using python

[2020-10-02 16:03] jmonty42 commented on #8670
I see that there is a fixed option and an exponential option for retries. Would a linear option simply be adding the back_off value each time?

[2020-10-02 16:25] tg-msft commented on #14176
[That was my proposal](https://github.com/Azure/azure-sdk-for-net/pull/15317#discussion_r492978599), but we didn't go that way.  This feels like the sort of issue that could be filed in https://github.com/Azure/azure-sdk for every language's Azure.Core exception/error type?

[2020-10-02 16:28] rakshith91 commented on #13978
Thanks for reporting!
Fixed here https://github.com/Azure/azure-sdk-for-python/pull/14128

[2020-10-02 16:28] #13978 closed

[2020-10-02 16:46] KieranBrantnerMagee opened #14202 "[ServiceBus] Message properties migration guide segment"
**Is your feature request related to a problem? Please describe.**
ServiceBus.Message properties have changed significantly since track1.  In lead up to GA, let's ensure the migration guide is comprehensive for changes in how various message properties should be translated from 0.5 to 7.0

**Describe the solution you'd like**
Ensure major paths through message properties are documented in the appr

[2020-10-02 16:46] KieranBrantnerMagee opened #14203 "[ServiceBus] Deduplicate parse_connection_string functions"
**Is your feature request related to a problem? Please describe.**
from_connection_string is a core component of our APIs, both the ServiceBusClient and ServiceBusAdministrationClient.  However, we currently have two distinct implementations, which while _very similar_ are not quite aligned.
(see breadcrumb [here](https://github.com/Azure/azure-sdk-for-python/blob/32bfb29b0ed5f22ded9008c1533b7e9ae

[2020-10-02 16:47] KieranBrantnerMagee opened #14204 "[ServiceBus] Backfill async test_sb_client"
**Is your feature request related to a problem? Please describe.**
Currently in servicebus tests, there is a file, test_sb_client.py  There was however no async version when track2 was created, and it has only recently begun being populated.  This should likely be back-filled with the missing sync tests.

**Describe the solution you'd like**
Pretty much a 1:1 copy of the existing sync tests.  HOWE

[2020-10-02 17:37] rakshith91 opened #14207 "[ServiceBus] add auto renew message sample in readme"
Automatically renew Message or Session locks only contain the sample to auto renew session, no auto renew message, which doesn't match the title. I think we might add some snippets to illustrate how to register a message.

[2020-10-02 17:37] #13746 closed

[2020-10-02 18:33] xiangyan99 commented on #13907
Fixed. It will be available in next release.

[2020-10-02 18:33] #13907 closed

[2020-10-02 18:56] #13718 closed

[2020-10-02 18:57] kraigb opened #14212 "Current azure-cli-core not compatible with track2 management libraries"
- **Package Name**:  azure-cli-core
- **Package Version**: 2.12.1
- **Operating System**:
- **Python Version**: 3.8

**Describe the bug**

I’m working on updating the Python Developer Center's example pages for track 2 management libraries, starting with https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-example-resource-group (and its peers in the TOC).

These examples use azure.co

[2020-10-02 19:03] mikeharder commented on #11044
A similar issue was reported against curl on Windows that might be related:

https://curl.haxx.se/mail/lib-2018-07/0080.html

[2020-10-02 20:14] KieranBrantnerMagee opened #14217 "[EngSys][ServiceBus/Tables] Remove workaround in preparers.py after fixing cosmos non-recording tests."
For the hotfix [here](https://github.com/Azure/azure-sdk-for-python/pull/14195)

This fix should be deprecated and the underlying problem addressed.  It was initially constructed to handle tests that were marked live but did not have a recording/did not generate HTTP traffic, but if used in cached mode, this would cause problems with how the in_recording variable is set. (it sets a random name whi

[2020-10-02 20:36] seankane-msft opened #14219 "[Tables] Remove `pytest.mark.skip` from test files in favor of better descriptions"
Replace the skipped tests with either [xfails](https://github.com/Azure/autorest.python/blob/494403c61c4402da241f51b53eec8c1421cfb144/test/vanilla/AcceptanceTests/test_validation.py#L140) or with links to the GitHub issue tracking the problem

[2020-10-02 20:43] bradleydamato commented on #14203
Hey @KieranBrantnerMagee; currently looking at this! If I think it's above my head I'll post again here. @YijunXieMS if you have something on the history of the distinction, feel free to post here!

[2020-10-02 21:32] bradleydamato commented on #14203
Still doing some reading and researching @YijunXieMS

I did some pruning of the doc-strings and visual diffing to try and see the core differences here.

**Service Bus Client variant**
[code]

**Service Bus Administration Client variant**
<pre>
def from_connection_string(
    cls,
    conn_str: str,
    **kwargs: Any) -> "ServiceBusAdministrationClient":

        endpoint, <b>###host  in ServiceBu

[2020-10-02 21:33] YijunXieMS commented on #14203
@KieranBrantnerMagee @bradleydamato
Frankly speaking I don't remember why there are two parse_conn_str.
By looking back into the history, I guess I found the parse_conn_str in module azure.servicebus._common back then so I used it in the ServiceBusManagementClient(Now renamed to ServiceBusAdministrationClient).
The parse_conn_str in module azure.servicebus._common has been there since the creation

[2020-10-02 21:35] YijunXieMS commented on #14203
@bradleydamato right, the ServiceBusAdministrationClient doesn't care entity path.

[2020-10-02 21:43] bradleydamato commented on #14203
@YijunXieMS @KieranBrantnerMagee you guys care if I unify, edit the imports, test, and then submit a PR?

[2020-10-02 21:45] KieranBrantnerMagee commented on #14203
:) Go right ahead.  I will be candid that we're getting a release out the door this friday/monday so my responses may be slightly async until that's locked, but always appreciate the help and would be glad to see this in.

[2020-10-02 22:14] yonzhan commented on #14212
azure-cli-core

[2020-10-02 22:15] KieranBrantnerMagee opened #14225 "[ServiceBus] Normalize ServiceBusAdministrationClient name parameter naming."
**Is your feature request related to a problem? Please describe.**
See [this comment ](https://github.com/Azure/azure-sdk-for-python/pull/14116#discussion_r498419775)

In short, the other "name" fields within the ServiceBusAdministrationClient are being changed to be explicitly queue_name, topic_name, etc.  This should be consistent even for the "final named argument", as this makes it consistent

[2020-10-02 23:02] bradleydamato commented on #14203
@KieranBrantnerMagee @YijunXieMS PR is here https://github.com/Azure/azure-sdk-for-python/pull/14228

[2020-10-02 23:12] andreasbotsikas commented on #14067
Thanks @xiafu-msft , can you please provide an example of how to specify the connection_timeout? I can't find any reference to that constructor property in [ContainerClient](https://docs.microsoft.com/en-us/python/api/azure-storage-blob/azure.storage.blob.containerclient?view=azure-python)/[BlobClient](https://docs.microsoft.com/en-us/python/api/azure-storage-blob/azure.storage.blob.aio.blobclient

[2020-10-02 23:20] heaths opened #14231 "Regenerate Search libraries from swagger"
With https://github.com/Azure/azure-rest-api-specs/pull/10839 having been merged for api-version 2020-06-30, please regenerate models. This PR adds `encryptionKey` to `searchIndexer`, `searchIndexerDataSource`, and `searchIndexerSkillsets` but should look similar to `searchIndex.encryptionKey` which uses the `searchResourceEncryptionKey` model.

[2020-10-02 23:37] #13512 closed

[2020-10-02 23:40] heaths opened #14233 "November relese of Key Vault for Python"
# Features

- [ ] Secure key release
- [ ] Local cryptography (as many algorithms - including new - as possible)

# Testing

- [ ] RBAC
- [ ] Backup/restore
- [ ] Secure key release
- [ ] Local cryptography

[2020-10-02 23:47] databasedav commented on #8636
please vote here! https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/41539546-async-python-support

[2020-10-03 00:05] xiangyan99 commented on #14231
Fixed.

[2020-10-03 00:05] #14231 closed

[2020-10-03 00:05] lmazuel commented on #14212
@chlowell I'd like your two cents on CLI auth and azure-identity.

@kraigb we are trying to deprecate azure-common, so I wonder if we should not take a step back and rewrite a little more with azure-identity instead

[2020-10-03 02:57] #13624 closed

[2020-10-03 02:57] #13910 closed

[2020-10-03 03:12] rakshith91 commented on #13748
Closing since there are no EH specific doc warnings in the PRs

[2020-10-03 03:12] #13748 closed

[2020-10-03 18:47] jannekeskitalo commented on #13739
I added the connection recycling -logic and it seems to keep the service alive. Closing the old connection after >4min of idle time still generates some nasty looking log entries, but nothing fatal happens.

Sending dummy messages would have an impact on the consumers, hence I rather just recycle the client for now.

Thanks for your help.

[2020-10-04 07:31] talmachani commented on #11149
Any update on this?

[2020-10-04 16:41] talsheldon commented on #7043
This issue wasn't resolved yet. I'm using Python 3.7 sdk version 12.5.0.

[2020-10-04 18:22] andrea-cassioli-maersk commented on #14164
Thanks @KieranBrantnerMagee , good to see you already cover this.j

[2020-10-04 18:22] #14164 closed

[2020-10-04 18:30] andrea-cassioli-maersk commented on #14131
@KieranBrantnerMagee thanks for the explanation. In my case I control both sender and receiver for now, but maybe in the future I will not.

IMHO, if you can set a `None` body via a message, then why not via `body`, mostly for consistency sake?

[2020-10-04 18:30] #14131 closed

[2020-10-04 21:25] Co0olboi opened #14238 "Hi @KieranBrantnerMagee I assume this patch is release in 0.50.3. I cannot find explicit mention in the release notes...."
Hi @KieranBrantnerMagee I assume this patch is release in 0.50.3. I cannot find explicit mention in the release notes....

_Originally posted by @andreacassioli in https://github.com/Azure/azure-sdk-for-python/pull/7453#issuecomment-691075777_

[2020-10-05 05:05] samruddhi2909 opened #14241 "msrest.exceptions.AuthenticationError: , AdalError:"
1. "msrest.exceptions.AuthenticationError: , AdalError: Get Token request returned http error: 504

2.  "msrest.exceptions.AuthenticationError: , AdalError: Get Token request returned http error: 503 and server response: {""error"":""temporarily_unavailable"",""error_description"":""AADSTS90033: A transient error has occurred. Please try again.\r\nTrace ID: 7c3280d4-5d54-4240-bc1b-97a405a38000\r\n

[2020-10-05 12:47] dernat71 commented on #14106
@KieranBrantnerMagee , thanks a lot for the gist! It definitely helped 👌
For posterity, I finally ended up using the Threading/Queue pattern a bit like follows :

[code]

[2020-10-05 12:52] dernat71 commented on #14106
This issue can be closed 👍

[2020-10-05 14:04] axc450 opened #14242 "Multiple warnings generated using SearchField"
- **Package Name**: azure-search-documents
- **Package Version**: 11.0.0
- **Operating System**: Windows
- **Python Version**: 3.8.1

Exact same issue as #12455 - Not too much more I can add. The index gets created successfully despite the warnings.
I'm basically just following the examples provided in this repo.

Code:
[code]

[code]

[2020-10-05 14:06] axc450 commented on #14242
@heaths @xiangyan99 Pinging for visibility 😄

[2020-10-05 14:34] areed145 commented on #14159
what team should this go to?

[2020-10-05 15:35] #14099 closed

[2020-10-05 16:33] chlowell commented on #14212
As of azure-identity 1.4.0, applications can use either AzureCliCredential or DefaultAzureCredential to authenticate as the identity signed in to the CLI. This is implemented by invoking the CLI in a subprocess, so I expect it's less performant than azure-cli-core but still acceptable for local development and scripting.

[2020-10-05 16:33] lmazuel commented on #14241
Hi @samruddhi2909
The error talks about a 50x and "transient error", it was likely a server issue, maybe related to this:
https://www.zdnet.com/article/microsofts-azure-ad-authentication-outage-what-went-wrong/

Please confirm things are working as expected right now, thank you!

[2020-10-05 16:39] rtanase commented on #14159
Hi @areed145! Can you please try upgrading azureml-train-automl-client package to 1.15.0.post1? The error should no longer occur.

[2020-10-05 16:42] areed145 commented on #14159
@rtanase This is executed on AML remote compute. Should I add this version to the compute target environment, the compute where the pipeline is created, or both?

[2020-10-05 17:25] kraigb commented on #14212
OK, so examples that have been using azure.common.client_factory.get_client_from_cli_profile should be switched over to using AzureCliCredential, correct?

[2020-10-05 18:20] iscai-msft commented on #13461
just add tests for this

[2020-10-05 18:21] iscai-msft commented on #13460
folded into this issue https://github.com/azure/azure-sdk-for-python/issues/13458

[2020-10-05 18:30] diondrapeck commented on #14139
Hi @amitsethitx - there is not yet a resolution for this. While we are working to fix it, please set the `show_output` param to `True` in order to avoid this error.

[2020-10-05 18:42] lmazuel opened #14248 "EventGrid November 2020 release"

[2020-10-05 18:47] lmazuel commented on #13227
Will ds

[2020-10-05 18:47] #13227 closed

[2020-10-05 18:48] lmazuel commented on #12963
@rakshith91 Let's do a simple disclaimer in the front Readme to say "This repo is about azure-eventgrid v1, if you are using azure-eventgrid v2, please look here <link>. This repo will be archived once the v2 will be released as stable"

[2020-10-05 19:08] lmazuel commented on #13555
Closing, bytes are sent with data_base64, and string as data, that's enough

[2020-10-05 19:08] #13555 closed

[2020-10-05 19:12] lmazuel commented on #13581
We should raise a TypeError if data type is six.binary_type

[2020-10-05 19:38] iscai-msft opened #14258 "[text analytics] remove unnecessary code (due to generated code upgrade)"
i.e. error mapping is unnecessary now

[2020-10-05 19:38] #12053 closed

[2020-10-05 19:39] iscai-msft opened #14259 "Release Text Analytics Python 5.1.0 GA"

[2020-10-05 19:41] iscai-msft opened #14260 "[text analytics] replace v3_1_preview API version enum with v3.1 after service GAs"

[2020-10-05 19:42] #8730 closed

[2020-10-05 22:38] ramya-rao-a commented on #14013
Closing in favor of #13047

[2020-10-05 22:38] #14013 closed

[2020-10-05 23:52] #13875 closed

[2020-10-05 23:58] rakshith91 opened #14270 "Opentelemetry exporter for Azure Monitor December 2020 release"
- [ ] https://github.com/Azure/azure-sdk-for-python/issues/14273
- [ ] https://github.com/Azure/azure-sdk-for-python/issues/14272
- [ ] https://github.com/Azure/azure-sdk-for-python/issues/14271
- [ ] https://github.com/Azure/azure-sdk-for-python/issues/14274

[2020-10-06 00:04] rakshith91 opened #14271 "monitor exporter - port exporter related tests to track2 from track 1"
https://github.com/microsoft/opentelemetry-azure-monitor-python/tree/master/azure_monitor/tests/trace

@hectorhdzg @lzchen

[2020-10-06 00:07] rakshith91 opened #14272 "Write E2E samples for track2 exporter"
@lzchen

[2020-10-06 00:08] rakshith91 opened #14273 "Port track1 export/ functionality to track2"
The exporter functionality is in this folder
https://github.com/microsoft/opentelemetry-azure-monitor-python/tree/master/azure_monitor/src/azure_monitor/export

transmit <=> track
https://github.com/microsoft/opentelemetry-azure-monitor-python/blob/master/azure_monitor/src/azure_monitor/export/__init__.py#L108

[2020-10-06 00:14] rakshith91 opened #14274 "Setup live tests for Opentelemtry Exporter for Azure monitor"
set up live tests and recordings

https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/117/Setting-up-a-new-Unified-Pipeline?anchor=advanced-one-off-creation-of-pipelines

[2020-10-06 00:22] chlowell commented on #14212
Right, there's nothing special about `AzureCliCredential` for clients. To a client it's just another credential. So instead of calling `get_client_from_cli_profile` you would construct a client as usual, giving it an instance of `AzureCliCredential`.

[2020-10-06 00:40] yunhaoling commented on #8670
hey @jmonty42 , thanks for your help. Fixed retry is equal to liner retry.

sorry about not mentioning any background knowledge before, and I just added more description in the context. Hope it would be clear to you know and feel free to ping me if you need more input.

and apologize to @Hanse00 as well, I truthfully forget the issue here, I wish you were still interested in getting it resolved😊

[2020-10-06 00:45] tasherif-msft commented on #13506
Hi @jboelter just wanted to let you know that we have a PR up for this issue. I'll let you know once its merged.

[2020-10-06 00:48] tasherif-msft commented on #13183
Hi @foobarna we will now close this issue. Let us know if anything else comes up.
Thank you.

[2020-10-06 00:48] #13183 closed

[2020-10-06 00:54] yunhaoling commented on #13739
hey @jannekeskitalo , I'm testing sending-after-long-sleeping locally but my result showed that functionality doesn't get impacted -- second send after 5mins would succeed as it would re-established the connection, so wondering what error does your code get.

Our sdk has implemented retry: when the producer wants to send an event after 4 mins (service timeout), the sdk would get an error then retr

[2020-10-06 01:41] yunhaoling opened #14275 "[ServiceBus] Python3.9 support (pending uamqp 1.2.12)"
https://github.com/Azure/azure-uamqp-python/pull/174
- [ ] use uamqp 1.2.12 whls for sb livetest
- [ ] stress test

[2020-10-06 01:41] yunhaoling opened #14276 "[EventHubs] Python3.9 support (pending uamqp 1.2.12)"
https://github.com/Azure/azure-uamqp-python/pull/174
- [x] use uamqp 1.2.12 whls for eh livetest
- [x] stress test

[2020-10-06 03:44] d5chaub commented on #14171
I am not able to get this code to work. New virtual environments don't help. It seems from online research that I am not alone in issues with old azure packages causing problems with new ones, in spite of environmental isolation. This seems to be particularly true for the blob libraries.

Is there any command to uninstall all azure libraries at once?

[2020-10-06 04:47] xiafu-msft commented on #14171
hi @d5chaub

Sorry that there's no command to uninstall all azure lib at once.
Can you open a powershell and follow the screenshot to see if that works? We need more info to help, since it's not reproduceable.

Thanks for your patience

[2020-10-06 07:08] xiafu-msft commented on #14067
Hi @andreasbotsikas

Take BlobClient as an example:
`BlobClient(youraccounturl, credential=storage_account_key, container_name='foo', blob_name='bar', connection_timeout=22)`

Meanwhile it's weird that you get `Request date header too old` error
can you check if you computer has the correct time? If it does, then can you try some other api like get_blob_properties() and see if it can succeed?

Tha

[2020-10-06 07:11] xiafu-msft commented on #14066
This is fixed in 12.6.0b1! Thanks again for reporting this

[2020-10-06 07:11] #14066 closed

[2020-10-06 07:24] xiafu-msft commented on #14201
Hi @skasara-CS

Thanks for reaching out! We need some info to do further investigation.
1. Does this always happen or randomly?
2. Can you please confirm that your computer has the proper time?
3. If your computer has the proper time, can you try get_blob_properties() api to see if you can receive the response successfully?
4. Your account name

[2020-10-06 08:00] #13363 closed

[2020-10-06 09:00] andreasbotsikas commented on #14067
Thanks for the example! FYI @jdippolito.

As for the error, I agree that this is a very odd one and it is not system related. The system is running 48 parallel processes and the rest of the threads are working fine. Only the one that got the 10minute timeout gets an follow up exception that the `Request date header too old`. This is exactly the reason why I thought of reporting this issue as it se

[2020-10-06 11:09] Mrbm5 opened #14282 "The Resource 'Microsoft.Compute/snapshots/snap1601239344' under resource group 'RG_NAME' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"."
- **azure-mgmt-compute**:
- **13.1.0**:

**Describe the bug**
When 200 incremental snapshot limit reached we are trying to create full snapshot with the same name. the snapshot is getting created. but when I try to retrieve snapshot information using computeclient.snapshots.get(),  API returns  -  Azure Error: ResourceNotFound"
Message: The Resource 'Microsoft.Compute/snapshots/1601239344' under r

[2020-10-06 13:24] jazelenk opened #14285 "msrest.service_client.ServiceClient objects generate requests with stale access tokens (ExpiredAuthenticationToken)"
- **Package Name**: msrest
- **Package Version**: 0.6.18
- **Operating System**:Linux
- **Python Version**: 3.7.3

**Describe the bug**
Long-running applications that use SDK clients have these client objects "go stale" and return errors. It appears that they generate access tokens once and do not renew them. The access fails with a `CloudError` that looks like this:
[code]

**To Reproduce**
Steps

[2020-10-06 14:51] bmc-msft opened #14287 "azure.applicationinsights query is missing api-version"
- **Package Name**: azure-applicationinsights
- **Package Version**: 0.1.0
- **Operating System**: Ubuntu
- **Python Version**: 3.8.2

**Describe the bug**
Using `ApplicationInsightsDataClient.query.execute` fails due to not providing api-version query param

**To Reproduce**
Steps to reproduce the behavior:

Set APP_ID to your application insights app ID.  (note, this is *not* the instrumentation

[2020-10-06 15:34] tasherif-msft commented on #13142
Hi @Juliehzl, is the issue still persisting?

[2020-10-06 15:47] areed145 commented on #14159
@rtanase This worked, thanks for the help. Where is the best place to monitor for changes like this in the future to the azureml sdk?

[2020-10-06 16:34] rtanase commented on #14159
@areed145, glad it worked out and thanks for reporting the issue! Unfortunately, this particular issue we only discovered after the release went out to PyPi, so we had to release a patch after.

[2020-10-06 18:03] jeking3 commented on #14022
I am also unable to use a ClientSecretCredential, and I think it is because you cannot set the resource parameter to https://graph.windows.net/ (I am using the AzureIdentityCredentialAdapter that was posted by a Microsoft employee to adapt azure-identity for use by older azure sdk constructs, like graphrbac.  It works with all the other services I use but not with azure.graphrbac.

[2020-10-06 18:16] jeking3 commented on #14022
@bensussman have you tried https://github.com/microsoftgraph/msgraph-sdk-python-core ?

[2020-10-06 19:11] KieranBrantnerMagee opened #14294 "[Test][Epic] Create unified python test onboarding guidelines and coalesce around them."
**Goals**
This issue will track the work to do the following high level goals.
1. Create a set of documentation for onboarding onto and writing proper tests for azure-sdk-for-python.
2. The steps necessary to allow SDK owners to coalesce their libraries to the guidance decided in 1.
3. Any work arising from 2 that occurs as needed. (e.g. framework instability, additional features, etc, preventing

[2020-10-06 19:51] iscai-msft opened #14298 "[text analytics] fix rendering of API -> SDK table in readme"
thank you @kristapratico

the following snippet renders

This table shows the relationship between SDK versions and supported API versions of the service
|SDK version|Supported API version of service
|-|-
|Latest GA release (can be installed by removing the `--pre` flag)| 3.0
|Latest release (beta)| 3.0, 3.1-preview

[2020-10-06 19:52] srusun commented on #14022
@jeking3 We were actually able to figure out a way to use the GraphRBAC Client and the DefaultAzureCredential - However, when trying to use the new Microsoft Graph API, I was running into a 503 error - "503 Server Error: Service Unavailable for url: https://graph.microsoft.com/v1.0/applications". The response body was as follows,
{
  "error": {
    "code": "Service_ServiceUnavailable",
    "messag

[2020-10-06 20:39] iscai-msft opened #14300 "[form recognizer] uncomment test assertions where FIXME"
Updates in the prediction models with the newer service version has resulted in different values being returned in a few places. These have been commented out in the tests since they are not SDK issues, but we should see if we can uncomment them at some point. All comments are prefaced with FIXME to find easily.

[2020-10-06 21:22] bradleydamato commented on #14203
Hey @KieranBrantnerMagee @YijunXieMS, did the release go out yet?

[2020-10-06 23:03] JoshLove-msft opened #14306 "Consider adding support for json.env files to Test Framework"
Using the -OutFile flag of the [New-TestResources.ps1](https://github.com/Azure/azure-sdk-tools/blob/master/eng/common/TestResources/New-TestResources.ps1#L71) script, will cause the script to create a test-resources.json.env file next to the test-resources.json file that contains the environment settings in an encrypted format.

The .NET Test Framework [reads](https://github.com/Azure/azure-sdk-f

[2020-10-06 23:56] xiangyan99 opened #14310 "Add get_buffered_sender in SearchClient"

[2020-10-07 00:15] yunhaoling opened #14311 "[SchemaRegistry] Livetest rewrite using ARM template to manage test resources"
There is a way to use ARM template to CRUD schema registry resource.
Need to investigate how does it apply to python, usually python uses azure-mgmt-xxx from test resources management.

[2020-10-07 03:39] #13744 closed

[2020-10-07 03:51] KieranBrantnerMagee commented on #10891
Good news on the long-awaited doc fix, the core of this work is currently in PR.

However, given that we've had another customer ask this same question lately, the second point you mention (Jesse) in giving _some_ guidance to convert is really the giant open question even even with the doc fix, insofar as giving a good experience.  Going to leave this issue open and up-for-grabs for when we have c

[2020-10-07 03:58] Hanse00 commented on #8670
@yunhaoling Not a problem, I'm happy to have been able to highlight an issue that needed some help. The first step to allowing people to help us in open source, is making sure we give them the tools and information they need to help 😄

I might be interested in taking a stab at this myself if nobody else does, I'll need to get around to it when I'm a little less busy at work.

[2020-10-07 05:11] scbedd opened #14317 "Resolve Split Between Track1 and Track2 mgmt testing"
Previous tags like `azure-appconfiguration_1.0.0` that we leverage to test "the world as it was" against the latest version of azure-core, hit some major bumps with the dependency on mgmt-resources.

[This PR](https://github.com/Azure/azure-sdk-for-python/pull/14069) made azure-sdk-tools compatible with `azure-mgmt-resources` and `azure-mgmt-keyvault` track1/track2. However, since we use tools "as

[2020-10-07 05:12] ian-young-sydney opened #14318 "Storage Blob downloader ignores exceptions from each chunk"
Package:    azure-storage-blob
Version:    12.4.0
System:    ubuntu-bionic-core-cloudimg-amd64 (container)
Python:    3.6.5

**Describe the bug**
I'm executing this code to simply download a file:
[code]
I'm expecting this to throw any exception is there is a problem during this process.  99.9% of the time it's perfectly fine, but after running the service using this code for days, I found that I'

[2020-10-07 05:13] scbedd commented on #14317
[passing regression storage](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=565964&view=results)
[passing regression core]()

[2020-10-07 05:14] ian-young-sydney opened #14319 "Storage Blob Async downloader ignores exceptions from chunks"
Package:    azure-storage-blob
Version:    12.4.0
System:    ubuntu-bionic-core-cloudimg-amd64 (container)
Python:    3.6

**Describe the bug**
I'm executing this code to simply download a file:
[code]
I'm expecting this to throw any exception is there is a problem during this process.  99.9% of the time it's perfectly fine, but after running the service using this code for days, I found that I'm

[2020-10-07 05:26] tasherif-msft commented on #13104
Hi @likun47 we will proceed to close this issue since it looks like it is resolved on your end, if anything else comes up feel free to reach out :)

[2020-10-07 05:26] #13104 closed

[2020-10-07 05:48] tasherif-msft commented on #12926
Hi @Juliehzl, it should be working. As you have mentioned our list blobs operation is using `ListBlobsFlatSegmentResponse` however it does deserialize metadata. It has an attribute `segment` that gets desarialized. This attribute has a dependency on `BlobFlatListSegment` class which contains an attribute `BlobItermInternal` class which contains the `metadata` attribute.

Please let us know if you

[2020-10-07 06:15] tasherif-msft commented on #13099
Hi @Juliehzl, the PR related to this issue has been merged. I will proceed to close this issue. Let us know if anything else comes up!

[2020-10-07 06:15] #13099 closed

[2020-10-07 08:11] rakshith91 opened #14321 "Investigate Event Mappings"
Currently the event mappings are in a large unmaintainable dictionary. Need a long term strategy to make it more maintainable - ideally in swagger

[2020-10-07 08:15] rakshith91 opened #14322 "[EventGrid] Tests for Samples"

[2020-10-07 08:52] ryogok commented on #11656
TextOperationStatusCodes is not available in 0.6.0 library anymore, and the documentation including the [Quickstart ](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts-sdk/client-library?pivots=programming-language-python)page for Python client library seems to have been updated already. Please refer to the updated Quickstart page.

[2020-10-07 14:31] HarleyB123 commented on #14198
On this, the Azure API itself **does** allow for colons in the keys, which makes me think it's something to do with the fact that the SDK requires a dictionary with string keys and values? maybe it might be easier to accept a JSON object?

If possible, can a PR be assigned to this issue when ready as I am curious to see how this is fixed 😄

[2020-10-07 16:33] jmonty42 commented on #8670
@yunhaoling, alright, thanks for the clarification, I will close my PR since it doesn't address the issue now. I'll take a closer look at the updated requirements to see if I could take a crack at that.

[2020-10-07 17:07] seankane-msft opened #14328 "[Tables] Remove `await_prepared_test` from asynctestcase.py"
This functionality is deprecated

https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/tables/azure-data-tables/tests/_shared/asynctestcase.py#L32-L43

[2020-10-07 17:21] kimix92 commented on #14159
#please-close

[2020-10-07 18:37] smanross commented on #12145
While searching for a similar solution, I found that the "Bad Request" may be a result of the virtual_network and/or subnet not being set to allow private_endpoints properly.

By befault, virtual_networks and subnets look to have this property enabled... and in order to get it to work correctly, it must be disabled...  (or at least that's what the azure portal seems to do before creating a private

[2020-10-07 19:09] southpolesteve commented on #11643
Since we have been unable to reproduce this issue, I am going to close it. If anyone is able to come up with a stand alone repro, please let me know.

[2020-10-07 19:09] #11643 closed

[2020-10-07 19:19] kraigb commented on #14212
@lmazuel Given the discussion here, is it proper to not expect azure-cli-core to be suitably updated for track2? If that's the case, then I can close this issue.

[2020-10-07 19:22] KieranBrantnerMagee opened #14332 "[ServiceBus][Epic] Release ServiceBus 7.0.0 GA"
**Open Questions and Design:**
- [x] AutoLockRenew => AutoLockRenewer?
- [x] Should we remove the is_live expired guards on message settlement functionality? ( or address clock skew failure mode at the 5 minute edge) (Likely should; test if underlying error is cogent)
- [x] Should we rename logging_enable, since it's not really "all logging" (enable_amqp_frame_logging or something to that effect?)

[2020-10-07 19:46] KieranBrantnerMagee opened #14334 "[ServiceBus] Investigate settle-after-close fallback behavior and why it doesn't appear to be allowed."
**Is your feature request related to a problem? Please describe.**
See this issue.  https://github.com/Azure/azure-sdk-for-python/issues/13873
The ability to settle a message after closing was added as a fallback in T2.
However, we currently have a test validating that one _cannot_ do this.

**Describe the solution you'd like**
Reconcile these two things.  we likely want this functionality, so why

[2020-10-07 19:50] KieranBrantnerMagee opened #14335 "[ServiceBus] Functions should take dict-representations of objects, and optional kwarg-parameters for updates"
Per python guidelines: https://azure.github.io/azure-sdk/python_design.html#python-client-splat-args
- mgmt update methods should take updateable fields as kwargs (e.g. update_queue should perhaps take DeleteOnIdle or what-have-you as a kwarg to override, if specified, the one in the primary description object)
- For mgmt (and non-mgmt) functions where an object is taken, also accept a dict repres

[2020-10-07 19:54] KieranBrantnerMagee opened #14336 "[ServiceBus] Ensure autolockreceiver halts session renewal on volntary close, determine if desired for messages."
AutoLockRenew doesn't appear to halt itself when a session is closed voluntarily.

This probably applies to normal receivers via message renewal as well? But what about our 'fallback' mechanism to allow settlement even after close.  Determine if we want this as well, but the former item is certainly desired.

Normal process, implement, tests, document etc.

[2020-10-07 19:58] KieranBrantnerMagee opened #14337 "[ServiceBus] Attempt to remove public-export of ServiceBusSession without breaking completion or docs."
**Is your feature request related to a problem? Please describe.**
Currently we export ServiceBusSession.  The user should never need to instantiate or use this class on its own, however, it is used for completion and docs.

**Describe the solution you'd like**
See if there's a way we can remove this public export while still allowing proper doc linkability and IDE completion.

**Describe alternat

[2020-10-07 20:04] KieranBrantnerMagee opened #14338 "[ServiceBus] Align stress tests to cross-language min-bar before GA"
Towards GA fit-and-finish:  Ensure our stress test coverage is on par with other SDK priorities.

**Message lock renewal**

Keep sending messages in a stream, keep receiving them and
	○ manually keep renewing the lock for X duration
	○ Use auto renew for X duration

Variation - load the queue with a set of messages initially

Snapshot
	- Time stamp
	- Number of operations performed
	- Number of su

[2020-10-07 20:07] KieranBrantnerMagee opened #14339 "[ServiceBus] Do a pass over logging. Ensure parity with EventHub for min-bar."
pre-GA-release fit and finish.

Ensure we have useful logging telemetry for users.  If seeking inspiration on "what is too much/not enough", use EventHub as an example.

[2020-10-07 20:08] KieranBrantnerMagee opened #14340 "[Servicebus] Doc cleanup and review pass pre-GA"
GA fit-and-finish.

Read through all of our docs, ensure no gaps, major things we'd like to change, etc.

Primary focus:
- sample/README gaps.
- migration guide gaps.

[2020-10-07 20:10] KieranBrantnerMagee opened #14341 "[Servicebus] Docstring review and bolstering pre-GA"
pre-GA fit-and-finish.

Review all of our docstrings.  Ensure text is clear, accurate, up-to-date and comprehensive.

Things to focus on:
- are all params covered?
- rval and returns? (both defined type and description)
- custom errors being thrown?
- typedefs in all the places? (both # type: and docstring types)

[2020-10-07 20:10] kaerm commented on #11656
Thanks @ryogok for the update I am closing this issue but feel free to open a new one if there are any follow ups.

[2020-10-07 20:10] #11656 closed

[2020-10-07 20:12] KieranBrantnerMagee opened #14342 "[ServiceBus] Pre-release bug bash."
Pre-GA fit and finish.

This issue will serve to track all bug bashing on the SDK between now and release.  Use comment chain/edit as you see fit.

Not much to say here; go hard on the SDK, throw rocks, let's see if we can do some digging and polish.

[2020-10-07 20:32] lmazuel commented on #13790
Released

[2020-10-07 20:32] #13790 closed

[2020-10-07 20:33] kristapratico commented on #14091
Released! https://pypi.org/project/azure-ai-metricsadvisor/

[2020-10-07 20:33] #14091 closed

[2020-10-07 20:47] #13364 closed

[2020-10-07 20:48] seankane-msft commented on #13420
@annatisch Do we want to change this to make integer serialization use Int64 if a number is larger than a 32 bit representation? If not I think we can close this issue.

[2020-10-07 20:49] seankane-msft commented on #12423
@leonbrag were you able to solve the issue?

[2020-10-07 20:50] #13226 closed

[2020-10-07 20:50] #12717 closed

[2020-10-07 20:56] KieranBrantnerMagee commented on #14187
From planning discussion:  Also inherit base exception from AzureError (azure.core)

[2020-10-07 21:11] leonbrag commented on #12423
While I have not tested it, go ahead and close as resolved. In case it’s not working, I will reopen.
Thanks

[2020-10-07 21:16] chlowell opened #14345 "Clients using AzureCliCredential may send invalid access tokens"
AzureCliCredential invokes `az get-access-token` to acquire tokens. This command gives the token's expiry time in local time as produced by datetime.fromtimestamp ([here](https://github.com/Azure/azure-cli/blob/3c9b5651c20c450344f23c2de624ff0321647e7b/src/azure-cli/azure/cli/command_modules/profile/custom.py#L82)), with no timezone information. Because AzureCliCredential uses a naive datetime to c

[2020-10-07 21:25] #12423 closed

[2020-10-07 21:50] #13515 closed

[2020-10-07 21:55] xiangyan99 commented on #13723
Released

[2020-10-07 21:55] #13723 closed

[2020-10-07 22:01] shabbyrobe commented on #11643
I tried the reproduction steps I provided again, with 4.0.0 and now with 4.1.0, and the problem persists. I don't believe this should be closed. If I can provide more debugging information to assist with reproducing on your own machines, please let me know.

[2020-10-07 22:14] #14159 closed

[2020-10-07 22:28] xiangyan99 commented on #14242
The fix is available in latest release.

[2020-10-07 22:28] #14242 closed

[2020-10-08 00:06] chlowell commented on #14345
This is fixed in azure-identity 1.4.1 and 1.5.0b2.

[2020-10-08 00:06] #14345 closed

[2020-10-08 00:18] seankane-msft opened #14352 "[Tables] Use AzureTestCase instead of AzureMgmtTestCase"
The test classes in `testcase.py` and `asynctestcase.py` inherit from the management plane test class.

[2020-10-08 00:31] amishra-dev commented on #14318
@ian-young-sydney
Hi Ian,
This is good work, thanks. Since you have done the investigation in details, do you want to send us a PR? I am happy to get it reviewed and merged.
Let me know if you can else i will assign someone to do the work.

Thanks
Ashish

[2020-10-08 00:31] amishra-dev commented on #14319
@ian-young-sydney
Hi Ian,
This is good work, thanks. Since you have done the investigation in details, do you want to send us a PR? I am happy to get it reviewed and merged.
Let me know if you can else I will assign someone to do the work.

Thanks
Ashish

[2020-10-08 02:16] g2vinay opened #14354 "[FEATURE REQ] Apply Device Code Credential Consistency Review Feedback"
- [x] Make Client Id optional. Default to Developer Single Sign On Id (Azure CLI Id for now.) (#14474)
- [ ] Add Tenant Id validation after confirming with Arch board.
- [ ] Investigate if message should / can be passed to callback

[2020-10-08 04:23] ian-young-sydney commented on #14319
Hi Ashish,

I don't really have the time to create a fix for this.  Also not sure what tests need to be updated for this as I think you need to ensure these chunk exceptions are caught.  I think it's best to assign someone to make the fix.

Thanks,
Ian.

[2020-10-08 05:35] amishra-dev commented on #14319
@ian-young-sydney
No worries, i will get the work scheduled at our end. We do appreciate the time you took to log the issues. Feel free to share any other feedback you have about the SDK with me.

Thanks,
Ashish

[2020-10-08 08:00] #13478 closed

[2020-10-08 08:00] #13443 closed

[2020-10-08 08:00] #13425 closed

[2020-10-08 08:00] #12907 closed

[2020-10-08 09:43] shwars opened #14356 "[Storage] Confusing behavior accessing nonexistent Azure Queue Storage"
- **Package Name**: azure-storage-queue
- **Package Version**: 12.1.3
- **Operating System**: windows / linux
- **Python Version**: 3.7.4

**Describe the bug**
When trying to access non-existent account of Azure queue storage, `QueueClient` is created w/out errors, and calling `receive_messages()` results in a long timeout (followed by an error).

**To Reproduce**:

Consider the following code:
[c

[2020-10-08 14:17] wynnlone commented on #14159
Package Name: azureml
    Operating System: Windows10
    Python Version: 3.7

Describe the bug

Exception                                 Traceback (most recent call last)
<ipython-input-23-d2a917d37bca> in <module>
----> 1 remote_run=experiment.submit(automl_config, show_output=False)
      2 remote_run

/anaconda/envs/azureml_py36/lib/python3.6/site-packages/azureml/core/experiment.py in submit

[2020-10-08 15:27] rtanase commented on #14159
@wynnlone , the stacktrace above is still pointing to the unpatched 1.15.0 package. Did you restart your kernel after upgrading the package? If you haven't done so, can you please try it?

[2020-10-08 16:07] vbarbaresi commented on #14067
We experience the same ~15min timeout issue, when iterating for the next message on a queue with multiple pollers. It also happens randomly

https://github.com/Azure/azure-sdk-for-python/blob/0e82fae6b881d39497f8eb6890a33969dd9eec31/sdk/core/azure-core/azure/core/pipeline/transport/_requests_basic.py#L120
https://github.com/Azure/azure-sdk-for-python/blob/0e82fae6b881d39497f8eb6890a33969dd9eec31/s

[2020-10-08 16:27] andreasbotsikas commented on #14067
I used mitmproxy to intercept the blob read requests and in my case it is retrying 4 times before throwing the ServiceRequest Error.

https://github.com/rndazurescript/FunWithAzureML/blob/ed9b6f7c5e73e5a36f324af6f9385f75deeb1ab0/reproduce-14067.py#L60

What I noticed is that it is sending a cached x-ms-date which could explain the  `Request date header too old` error:
![image](https://user-images.

[2020-10-08 16:38] wynnlone commented on #14159
Nope. Just tried, still not working.

[2020-10-08 16:44] areed145 commented on #14159
@wynnlone I had to explicitly add the package to the remote compute environment conda-dependencies, ie clone a curated environment, add the patch package, then register the env under a new name

[2020-10-08 17:00] vbarbaresi commented on #14067
interesting.. nice work on the reproduction script.
Maybe it's doing a backoff retry, and during these retries it doesn't update the request date?
I'll wait for Azure support to answer.

I should add that in our case, there is no reason for 15 minute timeouts. It looks a bit like we're being throttled

[2020-10-08 17:17] tasherif-msft commented on #14356
Hi @shwars I was able to reproduce the issue, I'm gonna look into finding a solution for getting a shorter timeout and will get back to you :)

[2020-10-08 17:29] lmazuel opened #14359 "Test framework should support .env file"
If the .env is found at the root of the repo, we should load it. We should simplify a ton the "mgmt_settings_real", and even make it obsolete with enough luck, while being an approach that is known to be reliable.

https://pypi.org/project/python-dotenv

[2020-10-08 17:43] yunhaoling commented on #13413
PR merged: https://github.com/Azure/azure-sdk-for-python/pull/13854

[2020-10-08 17:43] #13413 closed

[2020-10-08 17:58] xiafu-msft commented on #14356
hi @shwars

This should be resolved if you set retry_connect=0 when initiating QueueClient, this will help throw immediately on connection failure. currently the connection_timeout=20 (seconds) you can set to a smaller value if you want.

Let me know if you have any questions!

[2020-10-08 18:05] shwars commented on #14356
Hi @xiafu-msft, thank you for the clarification. I was thinking about the possibility to manually setting timeout to smaller value. However, considering first-time user, it would be convenient to have timeout set to some reasonable value by default. 20 seconds is probably a reasonable value (although rather on a long side), but it is not clear why the actual waiting time in my case is 80 seconds,

[2020-10-08 18:16] #13977 closed

[2020-10-08 18:17] seankane-msft commented on #13544
@elabbarw did this solve your issue?

[2020-10-08 18:27] xiafu-msft commented on #14356
Hi @shwars

SDK defaults retry_connect=3, which means SDK will automatically retry to connect for you internally.
Setting retry_connect=0 will stop from retry when there's connection error.

[2020-10-08 18:40] Drewm3 commented on #14282
@Vaibhav-Agar, could you please look into this issue.

[2020-10-08 18:47] #13461 closed

[2020-10-08 19:08] kristapratico opened #14360 "[metricsadvisor] Release Metrics Advisor 1.0.0b2"

[2020-10-08 19:08] Vaibhav-Agar commented on #6975
Hi @samyak4680,

I am resolving this now as I don't believe that this issue exists anymore. If you still see this, please feel free to re-open.

[2020-10-08 19:08] #6975 closed

[2020-10-08 19:09] kristapratico opened #14361 "[metricsadvisor] UX study feedback"
* placeholder

[2020-10-08 19:10] kristapratico opened #14362 "[metricsadvisor] Address Arch board feedback"
Java/JS Arch Board:
* reconsider naming - many names need to be shortened
* KC would like us to reconsider the client naming to have something about "anomaly"
* consider passing one object into create data feed instead of separate pieces #14674
* dates should be accepted as datetime or str (this might currently be the case, but docs should be updated) #14517

Python Arch Board:
- [ ] Look at flatt

[2020-10-08 19:16] kristapratico opened #14363 "[metricsadvisor] add complete set of samples"
Check for which methods we are missing samples / snippets and add them.

[2020-10-08 19:22] kristapratico opened #14364 "[formrecognizer] Address arch board feedback"
- [x] Remove SelectionMarkState​ from type annotation / docstrings for state​ in SelectionMark
- [x] Consider parsing FormType **(Krista: we won't do this for now. no useful hierarchy for customers.)**
- [x] Expose locale​ parameter in method as an extensible enum instead of string **(Krista: this was not feedback for Python?)**
- [x] Should we move `model_name` to a positional parameter? I don't

[2020-10-08 19:57] KieranBrantnerMagee commented on #14106
Glad to be of assistance!  Don't hesitate to reach out if anything we can help with in the future.

[2020-10-08 19:57] #14106 closed

[2020-10-08 21:08] #12963 closed

[2020-10-08 21:12] kristapratico opened #14368 "[formrecognizer] Add tests for other language forms"
We currently only test forms that are in english. With v2.1, there are multiple supported languages. We should ensure we are testing these scenarios.

https://westcentralus.dev.cognitive.microsoft.com/docs/services/form-recognizer-api-v2-1-preview-1/operations/AnalyzeLayoutAsync

[2020-10-08 21:22] xiafu-msft commented on #14177
Hi Anna!

Just want to clarify a bit about the `error` field of `DataLakeAclChangeFailedError` class: https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py#L826
The error is a type of AzureError instead of the exact AzureError instance. For example, we caught `ServiceRequestError` which is a subclass of AzureError, w

[2020-10-08 21:25] kristapratico opened #14369 "[formrecognizer] Add optional kwarg `language`"
Not in swagger yet but will be part of layout endpoint: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/FormRecognizer/preview/v2.1-preview.1/FormRecognizer.json#L671

https://westcentralus.dev.cognitive.microsoft.com/docs/services/form-recognizer-api-v2-1-preview-1/operations/AnalyzeLayoutAsync

Re-evaluate if we should be exposing `language` o

[2020-10-08 21:30] KieranBrantnerMagee opened #14370 "[EventHub] Custom exceptions should inherit from azure.core AzureError."
**Is your feature request related to a problem? Please describe.**
Currently, our Exceptions simply derive from Exception.

**Describe the solution you'd like**
This should be improved to the standard/best practice of inheriting from AzureError at the base.

(not much for further detail as it's a "let's conform to guidelines" issue and somewhat truth-in-advertising per the title.)

[2020-10-08 21:38] joshfree opened #14371 "Create Identity e2e tests for running in Azure Arc"
Tracking item to create new /sdk/e2e Azure.Identity smoke tests for running in Azure Arc hosted environment.

1. Add new /sdk/e2e tests for Azure Arc
2. Update Parent issue https://github.com/Azure/azure-sdk/issues/1908 with instructions for Test team

[2020-10-08 21:45] joshfree opened #14372 "Create Identity e2e tests for running in Azure Service Fabric"
Tracking item to create new /sdk/e2e Azure.Identity smoke tests for running in Azure Service Fabric hosted environment.

1. Add new /sdk/e2e tests for Azure Service Fabric
2. Update Parent issue https://github.com/Azure/azure-sdk/issues/901 with instructions for Test team

[2020-10-08 22:51] #13460 closed

[2020-10-08 22:51] #13459 closed

[2020-10-08 22:52] kristapratico opened #14373 "[formrecognizer] rename display_name to model_name"

[2020-10-08 22:54] #13458 closed

[2020-10-09 01:58] annatisch commented on #14177
We would prefer not to have an "error within an error" for Python - in Python we use `try/except` syntax to have different handling for different error types - but you cannot use this syntax if the different error types are an attribute of only one error.
For example, we would prefer this:
[code]
Instead of:
[code]

[2020-10-09 03:38] xiafu-msft commented on #14177
Yeah you are absolutely right that we'd want to let user use the simplest syntax when dealing with error.
Just the reason we decided to create DataLake specific error for all three platforms was we don't want  to use a generic error for a specific purpose. Here is the [original discussion](https://github.com/Azure/azure-sdk-for-net/pull/15317#discussion_r492978599).
Since that wasn't a random deci

[2020-10-09 04:31] idear1203 commented on #14165
Thanks! We will deprecate the package in future. FYI @lmazuel

[2020-10-09 08:11] Akhofreeze opened #14384 "Impossible to print custom entity values - azure-data-tables"
- **Package Name**: Azure Data Tables
- **Package Version**:  Latest
- **Operating System**: CentOs8
- **Python Version**:  3.8

**Describe the bug**
After many tries I can't print my custom values. They were printed as "<azure.data.tables._entity.EntityProperty object at 0x7f023d348080>"

**To Reproduce**
Steps to reproduce the behavior:
1. Use this https://github.com/Azure/azure-sdk-for-python/b

[2020-10-09 08:32] nickzhums commented on #14161
@jongio @lmazuel this seems to be under the azure sdk web site page, could you guys update the link?

[2020-10-09 08:34] changlong-liu commented on #14199
Hi service team, please confirm whether minCount==0 is available in this case.

[2020-10-09 08:39] rawwar commented on #14161
I would have made a pull request. But, because of this hactoberfest.. didn't want to look like a spam PR. :-D

[2020-10-09 08:39] changlong-liu commented on #14285
Hi @lmazuel , would you help on this msrest issue? Thanks!

[2020-10-09 09:07] nicolaibaralmueller opened #14386 "Ansible 2.10 and azure"
**Describe the bug**
Unable to use ansible azure modules in Ansible 2.10.

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]
also tried
[code]
and
[code]

***Code Snippet***
[code]

**Setup (please complete the following information):**
 - Python Version: Python 3.8.5

[code]

**Information Checklist**
Kindly make sure that you have added all the following information above and chec

[2020-10-09 09:48] storesund commented on #14130
I believe this is due to AzureML calling the "module level" logger in its import. This forces the root logger to be created, and it will then ignore any subsequent calls to "logging.basicConfig". You might need to either
- Run `basicConfig` prior to loading the AzureML library (any member of azureml.core I believe..)
or
- Create a local logger with its own handler, that does not propagate the logs

[2020-10-09 10:34] vbarbaresi commented on #14067
I went a bit further in the investigation:

### Why does it timeout despite setting timeouts to 1 second in the client
I put a logger in this place:
https://github.com/Azure/azure-sdk-for-python/blob/0e82fae6b881d39497f8eb6890a33969dd9eec31/sdk/core/azure-core/azure/core/pipeline/transport/_requests_basic.py#L258
to get the actual timeout that was used.

I tried with my code (on azure queue), and

[2020-10-09 11:46] jorrip opened #14388 "azure-mgmt-monitor: Failed to find resource mapping for provider: Microsoft.Compute, resourceType: virtualMachineScaleSets/virtualMachines,"
I'm trying to retrieve disk metrics via:

`
metrics_data = monitor_client.metrics.list(
    disk['managed_by'],
    timespan="{}/{}".format(
        lastminutes, utctime
    ),
    interval='PT60M',
    metricnames=met,
    aggregation='Maximum, Minimum, Average, Total, Count'
)
`

Everything goes fine when the disk is managed by a regular VM but when the disk is managed by a VirtualMachineScaleSe

[2020-10-09 11:46] jorrip opened #14389 "azure-mgmt-monitor: Failed to find resource mapping for provider: Microsoft.Compute, resourceType: virtualMachineScaleSets/virtualMachines,"
I'm trying to retrieve disk metrics via:

`
metrics_data = monitor_client.metrics.list(
    disk['managed_by'],
    timespan="{}/{}".format(
        lastminutes, utctime
    ),
    interval='PT60M',
    metricnames=met,
    aggregation='Maximum, Minimum, Average, Total, Count'
)
`

Everything goes fine when the disk is managed by a regular VM but when the disk is managed by a VirtualMachineScaleSe

[2020-10-09 13:17] andrea-cassioli-maersk opened #14390 "storage recurring broken doc"
- **Package Name**: storage
- **Package Version**: 12.5.0
- **Operating System**: OSX
- **Python Version**: 3.7

There is a recurring broken parameter doc  `:keyword str if_tags_match_condition` in several places in the storage API docs.

For instance

https://azuresdkdocs.blob.core.windows.net/$web/python/azure-storage-blob/12.5.0/azure.storage.blob.html#azure.storage.blob.BlobClient.create_snaps

[2020-10-09 13:26] andrea-cassioli-maersk opened #14391 "how to know if BlobClient overwrites"
- **Package Name**: storage
- **Package Version**: 12.5.0
- **Operating System**: OSX
- **Python Version**: 3.7

I am looking at `BlobClient.upload_blob` method and I have two questions:

* how can I know if the blob has been overwritten if I set `overwrite=True`?
* Is there any docs about what is in the dictionary that is returned by the `upload_blob` method?

[2020-10-09 14:46] #14389 closed

[2020-10-09 16:18] marwanad commented on #14199
@kmrwong which api version are you using?

[2020-10-09 17:55] scbedd opened #14394 "New Analyze Check"
Per #13903

using tarballs on Linux, as the git repository gets automatically
converted, but the tarball stores the original line ending,
so the two do not match anymore.

Add a step in the `Analyze` Step that runs `dos2unix` after all the others. This should ensure that no more CRLF readmes make it into our repo.

[2020-10-09 18:11] #14373 closed

[2020-10-09 18:40] kaerm commented on #14384
Thanks @Akhofreeze for reporting this, @seankane-msft can you take a look at this?

[2020-10-09 19:00] seankane-msft commented on #14384
You can't "print" an entity but you can print the values contained with the entity by doing:
[code]
This will let you print out the values but I'm a bit confused by what you mean with "print my entity values in order to get a value & increment it for finally update it". The `EntityProperty` is a wrapper on the Python `dict` class so anything you normally do with `dict`.

@Akhofreeze can you elabor

[2020-10-09 20:22] marwanad commented on #14199
also you can't specify minCount on the system nodepool. It would be great if you can provide the entire template.

[2020-10-09 21:53] kristapratico opened #14401 "[formrecognizer] page number on ContactNames field"
ContactNames field on business cards returns a list of objects which consist of full name objects which then have their own children for the first/last name. Some information is included on the full name parent object including text, bounding box, and confidence. Since page number is not returned here, should we use the page number on first/last name for the full name? Get clarity from service bef

[2020-10-09 21:59] kristapratico opened #14402 "[formrecognizer] support for prebuilt model - Invoices"
swagger: https://github.com/Azure/azure-rest-api-specs/pull/10805/files

This is very similar to receipt/business cards and we will re-use most of the code in the response handers.

- [x] sync implementation
- [x] async implementation
- [x] tests
- [x] add multipage tests
- [x] samples
- [x] update readme

[2020-10-09 22:12] seankane-msft opened #14403 "[Test] Fix the get_azure_core_credentials method"
https://github.com/Azure/azure-sdk-for-python/blob/master/tools/azure-sdk-tools/devtools_testutils/mgmt_settings_fake.py#L36-L47

does not import `ClientSecretCredential`, also the tenant should be tenant_id

[2020-10-09 23:17] xiafu-msft commented on #14391
Hi @andrea-cassioli-maersk

Thanks for reaching out.

1. If there is an existing blob, and you call upload_blob with overwrite=True, as long as there's no exception thrown, the existing blob is overwritten. If you want to make sure the existing blob is overwritten, creation time, etag or blob version (if you have this feature enabled) can help.
2. Here are the response headers for reference https:

[2020-10-09 23:20] xiafu-msft commented on #14390
Hi @andrea-cassioli-maersk

Thanks so much for catching this. The doc was fixed in 12.6.0b1 release https://azuresdkdocs.blob.core.windows.net/$web/python/azure-storage-blob/12.6.0b1/azure.storage.blob.html#azure.storage.blob.BlobClient.create_snapshot

[2020-10-09 23:20] #14390 closed

[2020-10-09 23:28] xiafu-msft commented on #14067
Hi @vbarbaresi
Thanks so much for the investigation and summary, you can disable retry policy by setting retry_total=0, and set connection_timeout or read_timeout according to your need.
eg. BlobClient(youraccounturl, credential=storage_account_key, container_name='foo', blob_name='bar', retry_total=0, connection_timeout=2)

more retry param could be found here https://github.com/Azure/azure-sdk-f

[2020-10-10 05:33] changlong-liu commented on #14198
Hi service team, I get below error with @HarleyB123 's code from REST call response, would you confirm colon is allowed or not? Thanks.

[code]

[2020-10-10 05:56] jsntcy commented on #14212
@kraigb , if we need update azure-cli-core, we'll create issue in https://github.com/Azure/azure-cli/issues for us to track as this repo is only for python SDK.

@lmazuel , please help confirm.
cc @jiasli

[2020-10-10 07:39] vbarbaresi commented on #14067
Thanks, but the problem comes from the `ManagedIdentityCredential` client requests
It has his own client with his own policies, and it's initialized before the BlobClient. It's initialized right when we create the Credential object
https://github.com/Azure/azure-sdk-for-python/blob/117a6f509d5995ed2c56aca3d134b093e019b577/sdk/identity/azure-identity/azure/identity/_authn_client.py#L187-L197

So I

[2020-10-10 08:00] #11437 closed

[2020-10-11 18:35] andrea-cassioli-maersk commented on #14391
Thanks @xiafu-msft
As for (1), we are fine with the behaviour, but in our use case if a blob gets overwritten we would like to have some logging. That's way we would like a way to easily now if that happens. I guess then that using `Last-Modified` is our best chance.