[2022-04-26 17:04] simorenoh commented on #24132
PR: https://github.com/Azure/azure-sdk-for-python/pull/24008

[2022-04-26 17:19] davystrong opened #24191 "Allow merging multiple datasets in a pipeline step"
In Azure ML pipelines, I would like to keep various smaller file datasets each with specific characteristics and then merge them into a single `Dataset` object in a pipeline step.

I would like a new method for the `Dataset` object that allows me to chain it with another `Dataset` (similar to the [chain](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.chain) function in Rust's iterat

[2022-04-26 17:40] heaths opened #24193 "Add MigrationGuide.md for CLU"
Like with Question Answering, add a MigrationGuide.md for CLU

[2022-04-26 19:00] mikeharder opened #24194 "[Perf] Invalid intermediate results when using multiple processes"
When testing the multi-process support in #22997, I sometimes see invalid intermediate results.  The last line reports `-27` operations which is obviously wrong.  But the final results (72 operations in 5.09s) are correct.

[code]

[2022-04-26 19:11] kristapratico commented on #23697
Update: heard back from the service team. The issue breaks down to this -- `typing-extensions` is already loaded into the namespace for the ML runtime. Installing `azure-core` requires a newer version of `typing-extensions` which _should_ upgrade from 3.7.4.3 to 4.X.X. However, since the module was already loaded in the notebook, it does not get reloaded. It's possible to manually trigger this usi

[2022-04-26 19:35] jalauzon-msft commented on #24156
@jdthorpe, Hmm not sure why that would happen. Typically `pip` has you opt-in to pre-release installs and it does look like `12.12.0b1` is marked as pre-release on [PyPi](https://pypi.org/project/azure-storage-blob/12.12.0b1/).

[2022-04-26 20:41] #23985 closed

[2022-04-26 20:42] stevenhurwitt commented on #24151
thanks for the help, that worked!

[2022-04-26 20:42] #24151 closed

[2022-04-26 20:42] #24147 closed

[2022-04-26 21:38] mparq commented on #10502
@cloga that was the doc I was referring to. The important line is this one in published documentation which we were seeing leads to unexpected results due to the `run.get_children` issue which seems to be mentioned higher in this thread:
[code]

In code snippet I pasted above, I explicitly maintain a list of child run objects which get returned by `parent_run.submit_child` and iterate over that li

[2022-04-26 21:52] swathipil opened #24196 "[EventHubs] separate Avro API from Buffered Producer changes"
For May 2020 release of EH, we need to do the 5.9.0 GA the Avro API changes. Currently, the 5.9.0b3 includes BufferedProducer, which we don't want to GA yet.
Questions:
1) What will be the new version for the BufferedProducer?  --> 5.10.0b1

We need to separate these, by either:
1) Making all BufferedProducer public API private, but keeping actual code changes on `main`.
2) Moving all BufferedProd

[2022-04-26 23:02] rakshith91 opened #24197 "tranport method name should be snake cased. It's currently Transport"
interesting, do you know why Adam capitalized this method name?

_Originally posted by @swathipil in https://github.com/Azure/azure-sdk-for-python/pull/23722#discussion_r859162773_

[2022-04-26 23:02] azure-sdk commented on #24197
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.44946474,Storage:0.077758454,Docs:0.031162012'

[2022-04-26 23:57] SaurabhSharma-MSFT commented on #23922
@agribot2 I could see the same and it only runs for the first time.  I am checking internally and get back to you.

[2022-04-27 01:57] scbedd commented on #24128
@mccoyp Thank you for bringing this to my attention!

This is a real issue, and I believe I have a [PR](https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/1545) that addresses the problem. Hoping we can get the fix rolled out to `live` by EoD tomorrow.

[2022-04-27 06:33] navba-MSFT commented on #24171
@EFulmer Could you please let us know if you had a chance to look at the above comment and try out the suggestion ? Awaiting your reply.

[2022-04-27 06:52] jiasli commented on #24188
Pending on https://github.com/Azure/azure-sdk-for-python/pull/23932 to be released.

[2022-04-27 06:54] sybnex commented on #23927
So when will this be released? The combination of azure cli v2.36.0 and the azure-identity module is not working at the moment!

[2022-04-27 16:44] jdthorpe commented on #24156
Looks like the beta version of azure-blob-storage is [explicitly listed in the dependency range](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-file-datalake/setup.py#L80) of azure-storage-file-datalake, which is likely how I got the beta version of azure-storage-blob.

[2022-04-27 18:09] kristapratico opened #24207 "[textanalytics] support FHIR in healthcare"
Can re-gen on this branch: https://github.com/deyaaeldeen/azure-rest-api-specs/blob/e524c9183623dcff66ba3a43079a506357033fd4/specification/cognitiveservices/data-plane/Language/preview/2022-04-01-preview/textanalytics.json#L787

[2022-04-27 18:49] Praveen288g opened #24209 "Unable to retrieve secrets from azure keyvault"
In Azure VM , when executing our python application exe , which uses
**ClientSecretCredential(tenant_id: str, client_id: str, client_secret: str, kwargs: Any)** function to Authenticate and retrieve secret's value from Azure Key Vault and the VM  doesn't have Client Certificate and Azure CLI.

We are getting the following error where credentials are not successfully authenticated and we get follow

[2022-04-27 19:33] mccoyp commented on #24209
For more context: a similar application, written in C#, is able to successfully fetch a token in the same environment. For the Python application, the secret request successfully reaches Key Vault and we do get a response (the 401 challenge shown in the log screenshot). However, token requests are hanging and timing out repeatedly until there's eventually a connection error from a lack of a respon

[2022-04-27 20:13] bitsofinfo opened #24212 "private dns zones.... nothing here?"
There is nothing listed on this page... what python library for azure can i use to manage private dns zones?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2868cc0d-7011-36c8-d49d-1401ed242f6c
* Version Independent ID: 76b18862-a6e4-a4a0-b2e7-4b02d84ce2f6
* Content: [Private DNS](https://docs.microsoft.com/en-us/python

[2022-04-27 20:14] azure-sdk commented on #24212
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.4950169,Client:0.33264786,Central-EngSys:0.16193752'

[2022-04-27 20:26] EFulmer commented on #24171
Hi @navba-MSFT & @jalauzon-msft, that worked! Thank you so much!

[2022-04-27 20:26] #24171 closed

[2022-04-27 21:00] scbedd opened #24213 "Create PyPI -> Dev Feed Build"
Just so that we can load packages into our dev feed and not need to hit both. Upstream feeds are not supported.

Stuff like `pytest`, `pylint`, as pinned in `ci_tools.txt`/`test_tools.txt` will be a great start.

[2022-04-27 21:27] xiangyan99 commented on #24209
To separate the question, could you try code:

[code]

And see if identity works?

[2022-04-28 01:42] #24180 closed

[2022-04-28 02:10] msyyc commented on #24180
only `azure-mgmt-network` needs the feature so we don't think it deserves the effort

[2022-04-28 02:57] msyyc opened #24221 "[pipeline] upgrade autorest.python from `5.13.0` to `5.16.0`"
To fix the [content_type](https://github.com/Azure/autorest.python/blob/autorestv3/ChangeLog.md#2022-04-18---5160), we have to upgrade version(>= 5.16.0). Now we find that [compute](https://github.com/Azure/azure-rest-api-specs/pull/17988/checks?check_run_id=6197650799) has the bug, we must upgrade it before next release for compute.

5.16.0 needs min version of `azure-core` is 1.23.0, so we have

[2022-04-28 07:12] BigCat20196 commented on #23494
Hi @josvo, there may be a problem with the parameter format. Here is a [sample](https://github.com/Azure-Samples/azure-samples-python-management/blob/main/samples/resources/manage_resource_policy.py) fyi, it could work well in 20.0.0 or 21.0.0.

[2022-04-28 08:36] alonzo86 opened #24226 "error creating a firewall rule on SQL server using python package azure-mgmt-sql"
**Describe the bug**
error creating a firewall rule on SQL server using python package azure-mgmt-sql

***Exception or Stack Trace***
  "site-packages/azure/mgmt/sql/operations/_firewall_rules_operations.py", line 174, in create_or_update
    raise HttpResponseError(response=response, error_format=ARMErrorFormat)
azure.core.exceptions.HttpResponseError: (InvalidApiVersionParameter) The api-version

[2022-04-28 10:35] EysteinWaade opened #24227 "containerclient from container url"
azure-storage-blob==12.11.0

Hi,

I have problems making authorized requests using a container client based on a sas URL.

Are there any limitations on a ContainerClient initiated through from_container_url?
[code]
azure.core.exceptions.HttpResponseError: This request is not authorized to perform this operation.
RequestId:2bb3b4ac-f01e-007d-25ea-5a37c9000000
Time:2022-04-28T10:29:09.0336057Z
Error

[2022-04-28 12:13] JoelCanteroGCO commented on #23371
It is solved using this command in my [conda environment folder]/Scripts

`python Scripts\pywin32_postinstall.py -install`

Reference: https://github.com/mhammond/pywin32/issues/1431#issuecomment-548584385

It is a problem with pywin32=227 dependency of azureml-core. Maybe updating this version to the last one can solve the problem.

Thank you very much,
Joel

[2022-04-28 13:01] tjprescott commented on #24227
Hi @EysteinWaade thanks for your inquiry. @jalauzon-msft can you take a look at this?

[2022-04-28 13:05] tjprescott commented on #24191
@bandsina can you please take a look at this issue?

cc/ @Azure/ml-github-maintainers

[2022-04-28 13:07] azure-sdk commented on #24212
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.4950169,Client:0.33264786,Central-EngSys:0.16193752'

[2022-04-28 13:07] azure-sdk commented on #24212
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.4950169,Client:0.33264786,Central-EngSys:0.16193752'

[2022-04-28 13:09] tjprescott commented on #24212
@bitsofinfo thanks for opening this issue. I believe that `azure-mgmt-network` is the appropriate SDK for this. @msyyc can you please route this to the appropriate team so these docs can be fixed?

[2022-04-28 13:59] IvoMerchiers opened #24229 "Explain that pipelineRun variables are optional"
Variables will only be returned if the server has them available.
This can be confusing for a developer if they rely on the values being available. Therefore it would be useful if this is added in the documentation.

Example:
When the 'status' is 'Queued', then the 'duration_in_ms' will not be available in the response.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-04-28 14:44] bitsofinfo commented on #24212
This is all I see in `azurew-mgmt-network` relating to private dns.... i need to be able to manipulate everything that `azure-mgmg-dns` does (i.e. manage actual records)... all this appears to permit is something w/ "groups"... https://docs.microsoft.com/en-us/python/api/azure-mgmt-network/azure.mgmt.network.v2020_06_01.operations.privatednszonegroupsoperations?view=azure-python

[2022-04-28 14:46] bitsofinfo commented on #24212
i guess its here: https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/network/azure-mgmt-privatedns

[2022-04-28 16:08] tjprescott commented on #24229
@IvoMerchiers thanks for the report! @msyyc could you route to the appropriate team for action?

[2022-04-28 16:52] mccoyp commented on #24209
Confirmed offline that this environment isn't using any proxy configuration. We unfortunately can't access logs for the C# application that successfully makes token requests.

[2022-04-28 17:01] mccoyp commented on #24128
Hi @mmascolino, thank you again for bringing this to our attention! The link in the reference page and table of contents has been fixed.

[2022-04-28 17:37] jalauzon-msft commented on #24227
Hi @EysteinWaade, I believe this is caused by a permission issue rather than a URL issue. `ContainerClient.exists()` calls [Get Container Properties](https://docs.microsoft.com/en-us/rest/api/storageservices/get-container-properties) to check for existence of the container. This is a service level operation and therefore can only be performed by the account owner ([doc](https://docs.microsoft.com/

[2022-04-28 18:01] jalauzon-msft commented on #24135
We will talk with the service team about trying to catch this specific case and put in a better error message, but it may be technically difficult. We're also reluctant to put in a client-side check here in case the service team adds support for this in the future.

Going to close this issue though, as it seems the primary issue has been resolved. Thanks

[2022-04-28 18:01] #24135 closed

[2022-04-28 18:20] #24196 closed

[2022-04-28 20:17] #24156 closed

[2022-04-28 20:19] jalauzon-msft commented on #24156
@jdthorpe, the beta version is listed as a dependency in `main` but was only released for the beta version of datalake. Did you happen to install the current beta version of datalake?

[2022-04-28 22:04] xiangyan99 commented on #24209
Did they have a chance to try the code above? @mccoyp

[2022-04-28 22:04] lzchen opened #24238 "Create sample using CNCF cloud event library"
https://github.com/cloudevents/sdk-python

[2022-04-28 22:15] mccoyp commented on #24209
@xiangyan99 not yet, but I bumped the suggestion in our chat. Some other folks who are digging into the networking think that the issue could be a firewall -- which would make sense based on what we're seeing, but would also raise the question of how the C# application doesn't have this issue

[2022-04-28 23:39] jongio commented on #16828
I resolved this today by running `Azure: Sign In`
![image](https://user-images.githubusercontent.com/2163001/165864488-1ab5d22c-37ff-4897-9b60-760e95e04713.png)

[2022-04-28 23:42] l0lawrence opened #24239 "[EventHubs] Misspelled private method in _producer_client.py"
def _get_max_mesage_size(self):  in

[2022-04-29 00:06] iotmani opened #24240 "Using azure-sdk-for-python for Government security FIPS compliance"
Hello,

[I was directed by Azure support case 2204280010000006 to open a GitHub issue for this].

I have a question regarding the azure-sdk-for-python, we use the clients in there to fetch millions of metrics per minute from Azure for us as well as on behalf of our customers.

We're in the process of doing an audit for FIPS 140-2 compliance, and want to confirm if the Python SDK Client code makes

[2022-04-29 00:06] azure-sdk commented on #24240
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.10000186,Azure.Core:0.0611055,Compute:0.053724825'

[2022-04-29 01:29] msyyc commented on #24212
Hi @bitsofinfo please have a try whether azure-mgmt-privatedns meets your requirements.

[2022-04-29 05:43] JarroVGIT opened #24249 "Utilize lease containers when consuming the change feed in CosmosDB"
**Is your feature request related to a problem? Please describe.**
When creating a consumer that listens to the change feed of CosmosDB, the python sdk doesn’t offer any way to use lease containers to store state of the consumer(s). This prevents using this feature in python, as there is no resilience or scalability.

**Describe the solution you'd like**
A similar implementation as found in the .N

[2022-04-29 06:24] suxi-ms commented on #24142
any update on this?

[2022-04-29 06:38] EysteinWaade commented on #24227
@jalauzon-msft
Thank you very much!

[2022-04-29 06:38] #24227 closed

[2022-04-29 08:38] msyyc opened #24251 "[tools] optimize change_log for added parameters"
The following change shall not be treated as breaking change:

![image](https://user-images.githubusercontent.com/70930885/165911531-cd5e3dea-bdfb-4b98-8201-9b7deac155de.png)

![image](https://user-images.githubusercontent.com/70930885/165911400-782d6fee-afad-4ce9-a106-fcf62e7157d8.png)

[2022-04-29 09:43] Praveen288g commented on #24209
@mccoyp  when we tried with DefaultAzureCredential() function we were able to successfully authenticate and get the AKV secret value successfully

[2022-04-29 09:51] MrKriss commented on #23032
Any update on this? Having a secure way to capture and version datasets prior to modeling is a key requirement of ours to use Azure ML Workspaces. And for us, this dataset saving step needs to run on a Linux OS.

[2022-04-29 14:06] danieljurek commented on #24128
@scbedd, thanks for the fix!

@mmascolino -- Thanks for reporting! We published the updated link on Wednesday.

[2022-04-29 15:33] tjprescott commented on #24240
Hi @iotmani that's a great question. @xiangyan99 can you look into this?

[2022-04-29 15:37] tjprescott commented on #24249
Thanks for the question @JarroVGIT. @simorenoh can you comment on this?

[2022-04-29 15:38] xiangyan99 commented on #24209
@Praveen288g Thanks for the update.

To make sure I understand correctly, you mean it failed when you used ClientSecretCredential but succeeded when you use DefaultAzureCredential?

This makes me think maybe other types of credentials worked? e.g. MSI?

[2022-04-29 16:14] Praveen288g commented on #24209
Yep you are correct @xiangyan99

[2022-04-29 16:22] Praveen288g commented on #24209
@xiangyan99 yep , i need confirmation whether AzureDefaultCredential() is best method to use in SFTP server/Azure VM , want to make sure whether it could cause any problem in future

[2022-04-29 16:29] xiangyan99 commented on #24209
It should not cause problems if you use AzureDefaultCredential() in a production environment (means it is stable and will not change).

If you want to have a more deterministic behavior, you can use a specific type of credential rather than AzureDefaultCredential which is a chain of credentials.

[2022-04-29 16:40] praveenRI007 opened #24255 "400 bad request : Unable to connect with FileShare in python for Upload"
I followed up a tutorial from MS docs for Uploading a file to Azure File share [https://docs.microsoft.com/en-us/python/api/overview/azure/storage-file-share-readme?view=azure-python](url) , faced a Bad request 400 error .

Please specify the path_name format i have to define in the function parameter

[2022-04-29 17:56] catalinaperalta commented on #23879
@zedy-wj, @ctstone  would be the best person to answer that question, but I will also follow up with the service team offline about this and see if they resolved the issue.

[2022-04-29 20:34] xiangyan99 commented on #24240
Are you asking if our SDK libraries can work under FIPS mode?

Could you tell us which libraries are you using?

My understanding is that FIPS mode needs to be enabled at the OpenSSL level.

Most libraries should continue to work.

But some of our libraries make OpenSSL part of the package we ship (e.g. uAMQP) hence they will not work under FIPS mode.

[2022-04-29 21:03] swathipil commented on #21246
Notes for updating pyamqp API surface for uamqp switch:
- update Message.message_annotations -> annotations.

[2022-04-29 21:38] jdthorpe commented on #24156
Looking back, I may have (re)installed the ADLS library with the `--pre` flag to resolve a different issue, which would explain how I got the preview version of ADLS which depended on the beta version of azure-storage-blob.  Thanks.

[2022-04-29 21:56] tjprescott commented on #24255
Hi @praveenRI007 thanks for reaching out! @jalauzon-msft could you take a look at this?

[2022-04-29 22:25] xiangyan99 commented on #24188
azure-identity 1.10.0 with msal-extensions 1.0.0 support has been released.

[2022-04-29 22:25] #24188 closed

[2022-04-30 00:21] jalauzon-msft commented on #24255
Hi @praveenRI007, could you please share the following information so we can better assist you? Thanks!

- A code sample of what you are trying to do.
- The exact error/exception you are receiving.
- The version of the file-share SDK and the version of Python you are using.

[2022-04-30 03:50] praveenRI007 commented on #24255
Hi @tjprescott ,

- Here is the sample code :
   from azure.storage.fileshare import ShareFileClient

   file_client = ShareFileClient.from_connection_string(conn_str="<connection_string>", share_name="my_share",
   file_path="my_file")

   with open("./SampleSource.txt", "rb") as source_file:
       file_client.upload_file(source_file)

-  The exception that i got:
![image](https://user-images.gi

[2022-04-30 08:02] #23826 closed

[2022-05-02 07:06] Jagadishbobadeg opened #24264 "Acquire a connection to a Blob storage via outbound reverse proxy settings."
**Is your feature request related to a problem? Please describe.**
Acquire a connection to a Blob client via outbound proxy settings.

curl -v -X GET 'https://**********.xx.net:8443/<Container_name>/<SAS>Token' -H
'Host: Azurestorage.blob.core.windows.net' -H "Rest of the curl
headers"

We have an outbound proxy in place and all of the external connection has to go via an 'https://********.xx.net:

[2022-05-02 07:15] praveenRI007 commented on #24255
Hi @navba-MSFT
![image](https://user-images.githubusercontent.com/55011941/166197901-42f9efc5-ce20-4c06-bd4b-eae80dbc5ada.png)
I am getting this error now , can you please provide solution for this asap

[2022-05-02 08:07] navba-MSFT commented on #24255
@praveenRI007 Thanks for sharing the error details. I looked at the backend logs, I see that your request URL (file path) was incorrect. I could see **//** in the request URL file path after the ShareName. Could you please fix that and check if that helps ? Awaiting your reply.

Your Request URL: https://XXXXXXXXXX.file.core.windows.net:443/archive-attachments//DTS/Archival/CIS

Syntax: https://My

[2022-05-02 08:57] thec0dewriter opened #24265 "ACI Python SDK samples are outdated"
Hello,
Currently the examples seems to be outdated for the current version of SDK.
For example in the samples appear:
[code]
while the SDK contains only ``` begin_create_or_update ``` method
https://docs.microsoft.com/en-us/python/api/azure-mgmt-containerinstance/azure.mgmt.containerinstance.operations.containergroupsoperations?view=azure-python#azure-mgmt-containerinstance-operations-containergro

[2022-05-02 09:51] praveenRI007 commented on #24255
@navba-MSFT Thanks ! it worked :)

[2022-05-02 09:52] navba-MSFT commented on #24255
@praveenRI007 Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-02 09:52] #24255 closed

[2022-05-02 11:03] PetreBogdan opened #24266 "Is there a way to create a route table for associated virtual network?"
I need to create a route table for an existing virtual network using python. I don't have access to the Azure interface but I want to make an automated script to create a virtual network with associated subnet and route table.
I managed to create the virtual network and subnet but no clue for route table. I followed this example here: https://docs.microsoft.com/en-us/python/api/overview/azure/netw

[2022-05-02 15:27] agonzalez-mob opened #24267 "Azure Custom Vision - Image classified differently by a model during training/testing."
- **Package Name**: azure-cognitiveservices-vision-customvision
- **Package Version**:
azure-cognitiveservices-vision-customvision==3.1.0
azure-common==1.1.28
azure-core==1.23.1
azure-storage-blob==12.11.0
- **Operating System**: MacOs Monterrey 12.3.1
- **Python Version**: Python 3.8.13

**Describe the bug**
The same image is classified as tag A during training but then classified as tag B if it'

[2022-05-02 15:28] azure-sdk commented on #24267
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Custom Vision:0.39474893,Storage:0.115595296,Cognitive Services:0.08412356'

[2022-05-02 16:28] swathipil commented on #24264
@Jagadishbobadeg - Thanks for the question! Tagging the right people so they can address it as soon as possible!

[2022-05-02 16:31] swathipil commented on #24265
@thec0dewriter - Thanks for your feedback! Tagging the right people so they can address this as soon as possible.

[2022-05-02 16:33] swathipil commented on #24266
@PetreBogdan - Thanks for your question! Tagging the right people so they can address this asap!

[2022-05-02 16:33] Jagadishbobadeg commented on #24264
Thank you @swathipil

[2022-05-02 16:44] azure-sdk commented on #24267
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Custom Vision:0.5052704,Cognitive - Computer Vision:0.15335168,Cognitive Services:0.06845899'

[2022-05-02 16:49] swathipil commented on #24267
@agonzalez-mob - Thanks for your feedback! Directing this to the right people.

[2022-05-02 16:52] agonzalez-mob commented on #24267
much appreciated... i don't really know where else to post this~

[2022-05-02 17:59] jalauzon-msft commented on #24264
Hi @Jagadishbobadeg, there is a unique way to configure a proxy in the Python SDK. Here is the [documentation ](https://docs.microsoft.com/en-us/azure/developer/python/sdk/azure-sdk-configure-proxy?tabs=cmd)on how to do it. Once setup, you can just use the standard account URL / connection string options in the client.

Hope that helps! Thanks

[2022-05-02 19:36] Jagadishbobadeg commented on #24264
@jalauzon-msft Thank you for the pointers. I have already tried this proxy settings option, i get an error 'Proxy connection failed'.
Its a reverse proxy and it has to be called as an endpoint on port 8443 with a host header option.

[2022-05-02 20:06] jalauzon-msft commented on #24264
Hi @Jagadishbobadeg, ok, another thing you can try is building the connection string with the custom endpoint (as your tried to do, it looks like). This can be done with the `BlobEndpoint` field in the connection string. See [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string#create-a-connection-string-for-an-explicit-storage-endpoint).

Then, to specif

[2022-05-02 20:34] Jagadishbobadeg commented on #24264
I get this error
Unexpected return type <class 'str'> from ContentDecodePolicy.deserialize_from_http_generics.
azure.core.exceptions.ResourceNotFoundError: <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<div style="color:#000000; background-color:white"><p>Sorry, you've encountered an error. Please try again.</div>
</body>
</html>

For AccountKey=myAccountKey. Can i paste in SAStok

[2022-05-02 20:40] catalinaperalta commented on #23879
The service team informed me that the mitigation process for these issues is still ongoing. Some of the latency issues have been addressed but others may still occur.

[2022-05-02 20:44] catalinaperalta commented on #20993
Confidence issue has been resolved. Content is populated instead of value when the phone number cannot be normalized.

[2022-05-02 20:44] #20993 closed

[2022-05-02 21:09] Jagadishbobadeg commented on #24264
I see a good progress now. At least i see a storage account is being reached via reverse proxy!!!

Ignore the above error, i had made a copy paste error.

[code]
I get this error

[code]

uripath in the error and the path i passed is different. Not sure how it is changing.

[2022-05-02 21:13] JustinCharbonneau commented on #23906
Hi, I would like to mention that I am using the Python SDK version 11.3.0b8 and I'm having this issue also. The reranking seems to be applied on the ordering of the returned results, but I do not have access to the @search.rerankerScore. (Which is available in the Search Explorer).

Any updates on this issue? Thanks!

[2022-05-02 21:15] cpiment commented on #24189
Hi @rakshith91, do you have any news regarding this issue? Were you able to reproduce it? Thanks in advance for your help!!

[2022-05-02 21:58] jalauzon-msft commented on #24264
@Jagadishbobadeg, I think you need to make a couple of changes to the connection string.
- When using a SAS token in a connection string, there is a separate field for that called `SharedAccessSignature`. See [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string#create-a-connection-string-using-a-shared-access-signature).
- You should not include the cont

[2022-05-02 23:59] iscai-msft opened #24273 "[core] add async test for offline test_compress_compressed_no_header_offline"
Right now we only have the sync test for test_compress_compressed_no_header_offline. Please see the original [here](https://github.com/Azure/azure-sdk-for-python/blob/33c845aa7674c26bf851313daeae23e2f3f5459c/sdk/core/azure-core/tests/async_tests/test_streaming_async.py#L94),

cc @marcusc2

[2022-05-03 00:00] iscai-msft commented on #24273
@kristapratico assigning you because I can't assign one of the impact students

[2022-05-03 02:17] msyyc commented on #24144
Hi @luigiw , please help on the issue

[2022-05-03 04:02] #17470 closed

[2022-05-03 08:02] #23623 closed

[2022-05-03 08:04] chobostar commented on #17477
I had similar issue during local testing with self-signed certs and Azurite.

this construction helped me:
[code]

Package version: 12.11.0

[2022-05-03 09:30] Jagadishbobadeg commented on #24264
@jalauzon-msft  I was able to make a successful connection to the Storage account. I added additional two statements to retrieve container client objects as we access rights at the container level only.

[code]

[2022-05-03 11:52] #24264 closed

[2022-05-03 11:52] Jagadishbobadeg commented on #24264
@jalauzon-msft  Thanks again for the help and tips. Have a good day!

[2022-05-03 14:52] agonzalez-mob commented on #24267
Apologies. This ticket was because of an error from my side. I'll close it.

[2022-05-03 14:52] #24267 closed

[2022-05-03 15:16] yochananrachamim commented on #24226
Tried to follow the repro steps using latest Python (3.10.4) using the most recent management package (3.0.1)
and was not able to reproduce the problem as described.

@alonzo86 - have you tried using more recent Python?

[2022-05-03 16:57] dkmiller commented on #24191
cc @jfomhover , @wayliums . This may be worth considering as a built-in component in the upcoming registry.

[2022-05-03 17:53] samy-dougui opened #24282 "AuthorizationPermissionMismatch when using AzureCliCredential"
- **Package Name**:  azure-identity / azure-storage-blob
- **Package Version**: azure-identity==1.10.0 / azure-storage-blob==12.11.0
- **Operating System**: Azure Pipeline (image: ubuntu-latest)
- **Python Version**: 3.9.12

**Describe the bug**
When we run the following python script in Azure Devops Pipeline (using a service connection), it fails halfway through:

[code]

Even though  this comman

[2022-05-03 18:26] jalauzon-msft commented on #24282
Hi @samy-dougui Samy, thanks for reaching out. We'll take a look and get back to you soon.

[2022-05-03 19:37] amitjattan commented on #21902
But above provided samples, doesn't have any methods on how to create the subscriptions using new MCA

[2022-05-03 21:29] #24213 closed

[2022-05-03 21:53] #23531 closed

[2022-05-03 22:02] #23191 closed

[2022-05-03 22:36] simorenoh commented on #24249
@JarroVGIT Thank you for using our SDK and for opening this issue. This feature you mentioned is part of a larger feature outlined in the limitations that are present in the repo's README.md file, under the Change Feed Processor bullet points. As of today, only the .NET and Java SDKs have these capabilities.

We also do not have a timeline for when this work will happen for this SDK unfortunately.

[2022-05-03 23:01] #23292 closed

[2022-05-03 23:01] #23316 closed

[2022-05-04 01:17] kristapratico commented on #23532
closed with https://github.com/Azure/azure-sdk-for-python/pull/24281

[2022-05-04 01:17] #23532 closed

[2022-05-04 06:59] navba-MSFT commented on #24266
@PetreBogdan Thanks for reaching out to us. Did you refer the [RoutesOperations ](https://raw.githubusercontent.com/Azure/azure-sdk-for-python/1818ade4194d536c92cc46ae955cba5c741e5008/sdk/network/azure-mgmt-network/azure/mgmt/network/v2021_08_01/operations/_operations.py)class ? You should not instantiate this class directly. Instead, you should create a Client instance that instantiates it for yo

[2022-05-04 07:38] marcelo321 opened #24289 "Associate and disassociate IP of VM"
Sorry for making an issue here but I have been trying for 2 hours without success.

I am trying to remove the public IP of a VM:

[code]

Now I know I need to use `network_client.public_ip_addresses.begin_create_or_update()` but I don't understand the parameters. I want to know how to remove and add a public IP to a existing VM. Would appreciate any help

[2022-05-04 07:38] azure-sdk commented on #24289
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Network - Virtual Network:0.42260206,Compute:0.41772202,Azure.Identity:0.038641464'

[2022-05-04 07:44] navba-MSFT commented on #24212
@bitsofinfo Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. Could you please refer [this ](https://docs.microsoft.com/en-us/python/api/azure-mgmt-privatedns/azure.mgmt.privatedns.operations.privatezonesoperations?view=azure-python)link and let me know if that helps ? Also do let me know if you need any further assistance on this. Awaiting your reply.

[2022-05-04 09:25] PetreBogdan commented on #24266
But is there a way to associate a Route Table class to a Virtual Network? I see that neither of those has an attribute or a variable to link them together.

[2022-05-04 10:22] sachin-laddha opened #24291 "Azure disk snapshot state after which I/O can be resumed inside a virtual machine"
Azure disk snapshot API reponse has "properties.provisioningState" property.

We are holding the I/O inside the virtual machine till the snapshot is complete i.e the provisioningState goes into "sucessful" state.  The snapshot time is not predictable and at times it takes couple of minutes to complete, which is not acceptable in our case.

So wanted to know what value for the provisioningState pro

[2022-05-04 10:22] azure-sdk commented on #24291
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute - VM:0.3785508,Compute:0.10494001,Storage:0.034567866'

[2022-05-04 13:50] #23677 closed

[2022-05-04 13:51] pavelm10 commented on #21985
Hey guys, I encountered exactly the same issue. Any time estimate when this could be fixed? thanks

[2022-05-04 15:59] vijaydulange1310 opened #24293 "BlobClient.start_copy_from_url takes too much time to copy blob"
- azure-storage-blob==12.8.1
- 12.8.1
- windows
- Python 3.8

Using BlobClient.start_copy_from_url method to copy blob across storage account.
For 50GB vhd, it is taking more than 20 minutes
Where I tried azcopy to copy blob.It got completed in 4-5 mins

Expected behavior:
It should take same time as azcopy to copy blob.

[2022-05-04 16:14] #23972 closed

[2022-05-04 16:31] swathipil commented on #24289
Hey @marcelo321 - thanks for your question! Tagging the right people so we can get your question addressed asap!

In the meantime, we have a sample here that might be helpful for you?
https://github.com/Azure-Samples/azure-samples-python-management/blob/main/samples/network/ip/manage_public_ip_address.py

[2022-05-04 16:42] swathipil commented on #24293
Hey @vijaydulange1310 - Thanks for your question! Tagging the right people to address this.

[2022-05-04 17:26] marcelo321 commented on #24289
Thanks @swathipil

I know that with az cli it is possible to do it like this:

Remove:
[code]

Add:
[code]

But I am completely lost on how to do it with python sdk

[2022-05-04 17:41] #23526 closed

[2022-05-04 17:51] iotmani commented on #24240
Hello @xiangyan99,
Thanks for the response.

Yes I'm wondering whether they'd work in FIPS mode or at the least if TLS >=1.2 is used when it's supported (which looks to be the case as `requests` picks the best one supported by the `management.azure.com` server for API calls).

To my knowledge, none of the packages we use come with their own OpenSSL libraries, but please do correct me if I'm wrong:

[2022-05-04 18:02] GuerreiroLeonardo commented on #8327
Thank you [annatisch](https://github.com/annatisch), saved my life

[2022-05-04 18:23] xiangyan99 commented on #24240
Thank you for the information @iotmani .

You are right. None of the libraries has OpenSSL baked into the package.

They work with TLS >= 1.2. (To clarify, they don't require TLS >= 1.2. If both service and OS support TLS >= 1.2, they will use TLS 1.2 automatically).

[2022-05-04 18:47] azure-walker opened #24294 "Updating a pipeline in Data Factory on a different branch than main"
I need to update pipeline settings in Data Factory on a dev branch. At the moment, my code can read from main but how do you change branches in the code before you attempt make an update. Any attempt to update the code fails. I am guessing because it doesn't know which branch to update.

[2022-05-04 20:32] annatisch commented on #8327
Thanks @GuerreiroLeonardo
It sounds like you got stuck with the same behaviour - clearly we could document or sample this better...
Can I ask where the first place you searched for reference was?
Maybe we could add snippets to the API reference docs, or perhaps more details in the README for the package?

cc @simorenoh

[2022-05-04 22:01] kristapratico opened #24297 "[textanalytics] add samples for healthcare action"

[2022-05-04 22:15] #23973 closed

[2022-05-04 22:37] SaurabhSharma-MSFT commented on #24289
@swathipil Thanks for sharing the code.
@marcelo321 Please go through the below code if this helps to update your existing VM NIC with the new ip.

[code]

[2022-05-04 23:08] lmazuel commented on #24189
Hi @cpiment

Based on your stacktrace, the likely cause for me is that GRPC considers `kind` required, see the line in code here:
https://github.com/open-telemetry/opentelemetry-python/blob/739760586ade075b18d29fa58ce7ac3dbae90869/exporter/opentelemetry-exporter-otlp-proto-grpc/src/opentelemetry/exporter/otlp/proto/grpc/trace_exporter/__init__.py#L277

There are two things here:
- Maybe indeed `ki

[2022-05-04 23:12] scbedd opened #24299 "Produce `cbl-mariner` base image for python"
To be consumed by

- [ ] sdk/eventhub/azure-eventhub/stress/Dockerfile
- [ ] sdk/identity/azure-identity/tests/managed-identity-live/Dockerfile
- [ ] sdk/servicebus/azure-servicebus/stress/Dockerfile
- [ ] tools/Dockerfile

[2022-05-04 23:13] lmazuel commented on #24189
By the way, your change in azure-core is interesting:
https://github.com/Azure/azure-sdk-for-python/blob/cb41edef66c7b1cf2b3d4234da68bb212af3ac3e/sdk/core/azure-core-tracing-opentelemetry/azure/core/tracing/ext/opentelemetry_span/__init__.py#L67-L70

When you change line 67 to `INTERNAL`, but you didn't get an exception before from line 68, it means indeed we consider kind to be optional. You thin

[2022-05-05 00:05] iotmani commented on #24240
Excellent, thanks very much!

[2022-05-05 00:05] #24240 closed

[2022-05-05 00:46] #24207 closed

[2022-05-05 00:46] #23527 closed

[2022-05-05 00:59] marcelo321 commented on #24289
Hi @SaurabhSharma-MSFT,

I almost got it, but I am facing this error:

`In order to delete the public IP, disassociate/detach the Public IP address from the resource.`

So I need the first part to detach the IP before deleting it.

Altought what I wanted in first place was detaching it and not deleting it, I think deleting it is also helpful (but I need the part of detaching it.)

[2022-05-05 04:31] navba-MSFT commented on #24293
@vijaydulange1310 Thanks for reaching out to us and sharing this feedback. Could you please try with the [async version of start_copy_from_url ](https://github.com/Azure/azure-sdk-for-python/blob/1446fbfdb0bc3bd68675ab1c6f336dfdb8eb54f8/sdk/storage/azure-storage-blob/samples/blob_samples_common_async.py#L194) code and test if that gives a low latency ? Awaiting your reply.

Also could you please c

[2022-05-05 04:40] #24164 closed

[2022-05-05 05:16] sachin-laddha commented on #24291
I m using following SDKs

azure-mgmt-compute==23.0.0
azure-mgmt-network==19.0.0
azure-mgmt-resource==20.0.0
azure-mgmt-storage==19.0.0

[2022-05-05 05:25] vijaydulange1310 commented on #24293
We are trying to copy blob across  storage account located in different region. Anyway copy is working in async mode. we are waiting for success copy status.
blob_client = blob_service_client.get_blob_client(container="conatiner1", blob="blobname")
blob_client.start_copy_from_url(sasurl)
while True:
        props = blob_client.get_blob_properties()
        status = props.copy.status
        if sta

[2022-05-05 05:27] navba-MSFT commented on #24293
@vijaydulange1310 Thanks for getting back. So can you confirm if you are seeing a better performance by testing using the async mode ? Awaiting your reply.

[2022-05-05 05:49] vijaydulange1310 commented on #24293
No.. To get copy status as success,  more than 20 mins are required for 50GB blob.

[2022-05-05 05:59] navba-MSFT commented on #24293
@vijaydulange1310 Could you please share the below details over email ?

Storage Account name of source and destination account.
Time of the issue when the copy operation was performed in UTC

My email: navba@microsoft.com

[2022-05-05 07:17] rakshith91 opened #24306 "We could look at providing a TypedDict for this. Not important right now though."
We could look at providing a TypedDict for this. Not important right now though.

_Originally posted by @annatisch in https://github.com/Azure/azure-sdk-for-python/pull/23722#discussion_r861362840_

[2022-05-05 07:17] azure-sdk commented on #24306
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.32646456,Event Hubs:0.043027963,HDInsight:0.033004805'

[2022-05-05 07:52] vijaydulange1310 commented on #24293
Can I know for what purpose this information will be used as it is organization account.

[2022-05-05 07:55] navba-MSFT commented on #24293
@vijaydulange1310 The Storage account details and time of the issue is required, so that we can look into the backend logs and metrics for the cause of latency issue.

If you don't wish to share this information, You could open a support ticket to troubleshoot this issue further.

[2022-05-05 08:03] msyyc opened #24307 "[tools] optimize comparison strategy of changelog"
When generating changelog, python compares current code with last SDK version no matter the version is beta version or not. For other languages:
- Java: If current version is beta, compare with last version; if stable, compare with last **stable** version
- Go: same with Java
- Js: always compare with last **stable** version

Python shall adopt one of up categories.

[2022-05-05 08:56] hansmbakker commented on #23632
Asking to install an old version is not a solution for this problem in my opinion.

Could you please reopen this issue and keep it open until the root cause is solved?

#please-reopen

[2022-05-05 11:21] swathipil commented on #24291
@sachin-laddha - Tagging the right people to help address this asap!

[2022-05-05 11:28] swathipil commented on #24294
@azure-walker - Thanks for your question! To confirm: Are you running into this issue when using the `azure-mgmt-datafactory` SDK?

[2022-05-05 12:14] bitsofinfo commented on #24212
the API works fine, the issue is the docs which are blank per the original comment above

[2022-05-05 12:17] navba-MSFT commented on #24212
@bitsofinfo thanks for getting back. Yes, We are aware of this docs issue. The above PR has been filed to address it and it is currently under review. Thanks again for sharing this feedback. If you have any questions in the meantime, please feel free to ask.

[2022-05-05 12:34] azure-walker commented on #24294
Yes. the latest version 2.4.0

[2022-05-05 15:46] xiangyan99 commented on #23632
@hansmbakker We have https://github.com/Azure/azure-sdk-for-python/issues/23685 to track the work.

[2022-05-05 16:01] hansmbakker commented on #23632
thank you!

[2022-05-05 18:38] #23676 closed

[2022-05-05 18:55] jalauzon-msft commented on #24293
Hi @vijaydulange1310, this difference in speed is likely because AzCopy uses a fundamentally different way to copy blobs across Storage accounts than `start_copy_from_url` in the Blob SDK.

For large blobs, AzCopy will perform the copy synchronously by using a series of [Put Block from URL](https://docs.microsoft.com/en-us/rest/api/storageservices/put-block-from-url) calls whereas `start_copy_from

[2022-05-05 19:25] marcelo321 commented on #24289
@swathipil I am not being able to find this type of command to simply detach the ip in the link you shared or the docs

[2022-05-05 19:41] vijaydulange1310 commented on #24293
@jalauzon-msft Thanks for pointing out different. In our case we are working with Page blob, so I guess stage_block_from_url wont help us out. right ?

[2022-05-05 19:44] SaurabhSharma-MSFT commented on #24289
@marcelo321 The code which I have shared is run disassociates the old IP Address while executing `network_client.network_interfaces.begin_create_or_update`.  Also, please find the below the gif showing the same.
![nic_ip_deassociate](https://user-images.githubusercontent.com/38112130/167013224-83618b43-5631-4376-b82e-82ce7b8973b7.gif)
Is this not working for you ?

Thanks
Saurabh

[2022-05-05 20:20] kashifkhan commented on #23906
@JustinCharbonneau I'll be meeting with the Search team and will have an update on when we will do our next beta release for this.

[2022-05-05 20:28] lzchen commented on #9256
Bumping this issue. Azure monitor exporter needs this to differentiate from different azure resources. The experience on Azure monitor (particularly the UX) depends on a `type` field to be populated from the Azure monitor exporters which can only be identified and derived from a `az.namespace` attribute.

[2022-05-05 20:39] rakshith91 opened #24315 "Websocket async implementation must use pure async lib when available"
Currently, we use `websocket-client` library which does not have a pure async implementation

`websockets` has one, but it does not support http proxy https://github.com/aaugustin/websockets/issues/364

When possible use a pure async library

[2022-05-05 20:46] cpiment commented on #24189
I've changed this line as suggested and now the exception is this one:

[code]

This exception does not crash the program, and it tries to send to the exporter other Spans that have the `kind` set. If I don't modify the line, the program crashes without trying to export any Span.

Thanks for your time and your help!

[2022-05-05 20:52] marcelo321 commented on #24289
Hey @SaurabhSharma-MSFT,

Yes now it works (I changed the code before). So this code is creating a new IP and associating it with the VM nic name, that automatically detaches the old publicIP and then deletes i.

I noticed that when this happens, the PublicIP stays the same value (in the few tests I did) but has the new publicIP that is created. I think this happens because the VM is never without

[2022-05-05 21:17] heaths opened #24317 "Add entityId to secrets, keys, and certificates"

[2022-05-06 00:21] vincenttran-msft commented on #24282
Hi @samy-dougui Samy, unfortunately we were unable to reproduce your error on our end. Taking a look at the Azure CLI operation you called and the provided code snippet, here are some suggestions that may help resolve your issue:

1. Ensure RBAC permissions are set correctly ([link](https://docs.microsoft.com/en-us/azure/storage/blobs/assign-azure-role-data-access?tabs=portal))
2. Ensure that the

[2022-05-06 06:33] Scherlac commented on #16594
I hade a similar issue with ADF see: [link](https://github.com/pysmt/pysmt/issues/652#issuecomment-1119297102)

In my case it was caused by pysmt-0.9.0 package, witch had silently overwritten my previously installed six-1.16.0 package with version 1.10.0. They are already on it and the next release should fix that.

[2022-05-06 09:44] BigCat20196 commented on #24221
Resources pr:
5.13.0 https://github.com/Azure/azure-sdk-for-python/pull/24325
5.16.0 https://github.com/Azure/azure-sdk-for-python/pull/24326

[2022-05-06 11:01] LacquerShell opened #24327 "CosmosDB container.replace_item not working when document ID is urlencoded?"
- **Package Name**: azure-cosmos
- **Package Version**: 4.2.0
- **Operating System**: CentOS 7
- **Python Version**: 3.7

**Describe the bug**
As stated. I get the below error:

[code]
When I attempt to call `container.replace_item` with a document of the following ID:

[code]

There appears to be some kind of mismatch of base64 urlencoding going on here; I can insert an item with this ID fine, bu

[2022-05-06 14:09] lilumdaru opened #24329 "Add support for Azure Digital Twins sourceTime"
Hi,
the python Azure Digital Twin API is from "2020-10-31". Can you please update to a more recent version (>2021-06-30-preview). Or in other words: Can you please add support for updating a azure digital twins properties sourceTime:
https://docs.microsoft.com/en-us/azure/digital-twins/how-to-manage-twin#update-a-propertys-sourcetime

[2022-05-06 16:02] #24128 closed

[2022-05-06 17:04] xiangyan99 commented on #24329
Thanks for the feedback, we’ll investigate asap.

[2022-05-06 17:05] xiangyan99 commented on #24327
Thanks for the feedback, we’ll investigate asap.

[2022-05-06 17:23] michaeloliverx opened #24330 "`azure-identity` - Typings for sync and async credential context managers produce `Any` in `mypy`"
- **Package Name**: `azure-identity`
- **Package Version**: `1.10.0`
- **Operating System**: Windows 10
- **Python Version**: `3.9.12`

**Describe the bug**
I am using [`mypy`](https://github.com/python/mypy) in my workflow and the return type of the `__aenter__` methods is `Any`.

**To Reproduce**
Steps to reproduce the behavior:
[code]

mypy output:
[code]

**Expected behavior**
The revealed typ

[2022-05-06 17:40] xiangyan99 commented on #24330
Thanks for the feedback, we’ll investigate asap.

[2022-05-06 19:10] kashifkhan opened #24333 "Move KV Admin Tests to Test Proxy"

[2022-05-06 22:30] JimacoMS4 opened #24336 "Remove Python DPS service SDK documentation from docs.ms.com"
**Is your feature request related to a problem? Please describe.**
The DPS Python service SDK is no longer supported and the API reference should be removed from docs.ms.com: https://docs.microsoft.com/en-us/python/api/azure-iothub-provisioningserviceclient/?view=azure-python

**Describe the solution you'd like**
Remove the API reference.

**Describe alternatives you've considered**
A clear and co

[2022-05-06 22:30] azure-sdk commented on #24336
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.35896277,Cognitive Services:0.08772821,AAD:0.041995343'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.5423309,Client:0.45580146,Service:0.0014128536'

[2022-05-06 22:35] JimacoMS4 commented on #24336
#assign @anushprabhu

[2022-05-06 22:38] rakshith91 commented on #23919
@cccs-eric We have released the bug fix. Please check this out https://pypi.org/project/azure-monitor-query/

[2022-05-06 22:38] #23919 closed

[2022-05-06 22:47] JimacoMS4 commented on #24336
@anushprabhu please see email thread with subject: "RE: How to remove Python DPS service SDK from docs.microsoft.com" for details.

[2022-05-07 03:28] msyyc opened #24342 "[DPG] update docs"
update quick start tool:
https://github.com/Azure/azure-sdk-for-python/pull/24341
https://github.com/Azure/azure-sdk-for-python/pull/24343

[2022-05-07 08:02] #23487 closed

[2022-05-07 08:02] #22962 closed

[2022-05-07 08:42] BigCat20196 commented on #24221
Compute pr:
5.13.0: https://github.com/Azure/azure-sdk-for-python/pull/24346
5.16.0: https://github.com/Azure/azure-sdk-for-python/pull/24347

[2022-05-07 09:32] msyyc commented on #24307
https://github.com/Azure/azure-sdk-for-python/issues/24307

[2022-05-08 04:14] shonohs commented on #23922
I think the behavior is by design. If export_iteration was called twice, it will throw error for the second call. I guess we need two fixes; 1) fix the document so that the sample code calls get_export first to check if the iteration was already exported. 2) Fix the API error message.  "...is already queued for export..." is not very clear.

[2022-05-09 02:56] msyyc opened #24351 "[mgmt][multiapi] demo to reduce package size"
prepare base demo SDK:
https://github.com/Azure/azure-rest-api-specs/pull/18958

[2022-05-09 03:01] #23862 closed

[2022-05-09 03:02] #23866 closed

[2022-05-09 03:02] #23481 closed

[2022-05-09 03:03] #23480 closed

[2022-05-09 03:09] #23873 closed

[2022-05-09 03:26] suxi-ms commented on #24142
any update on this question?

[2022-05-09 03:29] navba-MSFT commented on #24293
Thanks @jalauzon-msft for your pointers.

@vijaydulange1310 Could you please let us know if you had a chance to implement the above suggestions provided by @jalauzon-msft ? Do you see an improvement in the performance ? Awaiting your reply.

[2022-05-09 05:15] msyyc opened #24352 "[mgmt][sample] update sample for mgmt package"
repo: https://github.com/Azure-Samples/azure-samples-python-management

[2022-05-09 05:17] msyyc commented on #24352
https://github.com/Azure-Samples/azure-samples-python-management/pull/90

[2022-05-09 05:17] msyyc commented on #24352
https://github.com/Azure-Samples/azure-samples-python-management/issues/61

[2022-05-09 05:42] BigCat20196 commented on #24221
Network pr:
5.13.0: https://github.com/Azure/azure-sdk-for-python/pull/24354
5.16.0: https://github.com/Azure/azure-sdk-for-python/pull/24353

[2022-05-09 05:44] msyyc commented on #23156
- test env: https://github.com/openapi-env-test/azure-rest-api-specs/pull/3047
- env config: https://github.com/openapi-env-test/azure-rest-api-specs/blob/main/specificationRepositoryConfiguration.json
- env branch: https://github.com/openapi-env-test/azure-sdk-for-python/tree/dpg-readme

[2022-05-09 06:42] msyyc commented on #23156
integration to production env:
code: https://github.com/Azure/azure-sdk-for-python/pull/24355

[2022-05-09 07:08] msyyc commented on #24352
https://github.com/Azure-Samples/azure-samples-python-management/pull/91

[2022-05-09 11:35] cccs-eric commented on #23919
Thanks @rakshith91 , just tested the new release and it fixed my problem!

[2022-05-09 12:10] sachin-laddha commented on #24291
Any update on this issue.
This is a blocking issue for us. Any updates would be highly appreciated

[2022-05-09 16:42] swathipil commented on #24291
@msyyc - Would you be able to take a look at this?

[2022-05-09 16:59] simorenoh opened #24357 "[Cosmos]"
Using this issue to keep track of items mentioned during the arch-board review. These are:

- GetAuthorizationHeader new method should be made private
- remove __aenter from any and all documentations
- open an issue to make refresh_routing_map_provider and entire CosmosClientConnection object private
- conversation around the enable_cross_partition_query option and functionality in sync vs. async

[2022-05-09 17:00] simorenoh commented on #24357
PR for first of the two: https://github.com/Azure/azure-sdk-for-python/pull/24358

[2022-05-09 17:05] simorenoh opened #24359 "[Cosmos] Make CosmosClientConnection object private"
Opening this issue to track this change that should be made.
Even though the file the object is used in is private, we should also make the object private such as to deter any interaction with the object from users' side. This object should only be used internally by the SDK.

[2022-05-09 17:17] simorenoh commented on #24357
- naming of read_conflict() vs get_conflict()

For this one, I also found that all calls in the `scripts.py` file are named as 'get_xxx' even though they make network calls and incur in RU usage - with this in mind, we should change those to 'read_xxx' naming as well.

[2022-05-09 20:48] jgentil commented on #23721
Why is this closed?  Shouldn't InteractiveBrowserCredential try to load from the cache first?

[2022-05-09 20:52] xiangyan99 commented on #23721
Yes. And this is the code snippet how to achieve it.

https://github.com/Azure/azure-sdk-for-python/issues/23721#issuecomment-1083539872

[2022-05-09 21:39] jgentil commented on #23721
Maybe I don't understand the design decision here.  When I look at SharedTokenCacheCredential, if I don't pass an authentication_record parameter, it figures it out for me.  Why isn't this the case for InteractiveBrowserCredential?

My work-around for this was to use a chained credential of (SharedTokenCacheCredential, InteractiveBrowserCredential) so that they loaded.  But it's silly that Interac

[2022-05-09 22:15] xiangyan99 commented on #23721
If you don't mind, could you share your code snippets how you use those credentials?

My guess is you did not specify tenant_id for them. If it is not specified, SharedTokenCacheCredential gives a default one but InteractiveBrowserCredential cannot give a default one hence it prompts you to specify.

[2022-05-10 02:22] msyyc commented on #24291
It seems that it is long running operation. Please refer [doc](https://github.com/Azure/autorest.python/blob/autorestv3/docs/client/operations.md#long-running-operations).

[2022-05-10 11:07] agonzalez-mob commented on #24145
Any update guys?

[2022-05-10 14:26] SRich93 commented on #13871
Anyone else seeing this error again today?

[2022-05-10 17:05] scbedd opened #24372 "Update `verifywhl/verifysdist` to confirm presence of `py.typed` file"
1. Verify `setup.py` arguments contain `include_package_data` set to `True`
2. Verify `setup.py` contains a `package_data` argument that includes at least one dictionary key that contains value `py.typed`.

[2022-05-10 18:38] marcelo321 commented on #24289
Any idea if it is possible @SaurabhSharma-MSFT?

[2022-05-10 18:54] scbedd opened #24379 "`min/latestdependency` checks failing azure-storage release"
[Here is the build failure](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1558053&view=results)

It is not my expectation that the storage folks would be hitting this issue. They were quite up front about wanting to develop two version bumps (including package A depending on B) in a single changeset.

Need to investigate why it broke this month, when it was fine last.

[2022-05-10 18:55] #22231 closed

[2022-05-10 20:44] #24333 closed

[2022-05-10 21:08] kashifkhan opened #24374 "[AMQP Python] Investigate Slow Receives"
During websockets & custom endpoint test there was a delay when receiving events from EventHub, longer than a few seconds. These were not being seen on uamqp.

[2022-05-10 22:39] swathipil opened #24378 "[EventHubs] align explicit kwargs b/w client constructors and from_connection_string"
Need to update sync + async ProducerClient constructors and `from_connection_string` methods, so that the explicit kwargs align across the board.

For example, the constructor and `from_connection_string` should have the same params listed here:
* https://github.com/Azure/azure-sdk-for-python/blob/3bc5ce6f445caac4c61d7b4242b78b14d9bf7d38/sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_cli

[2022-05-10 23:55] mccoyp commented on #23186
Resolved by https://github.com/Azure-Samples/key-vault-python-authentication/pull/12 -- current guidance is to point to samples and migration guides in this repo, and to archive deprecated sample repos.

[2022-05-10 23:55] #23186 closed

[2022-05-11 00:28] kristapratico opened #24383 "[textanalytics] parsing of job-level error target"
Once we know the shape of the error target for language API, we can make sure we parse it and return partial results successfully.

[2022-05-11 00:38] mikekistler opened #24384 "Generate authentication support from REST API security definitions"
**Describe the solution you'd like**

The Python generator should support generation of authentication support based on the security definitions in the REST API document.

**Additional context**

In the March 2022 release, Autorest generalized its support for recognizing security schemes:

https://github.com/Azure/autorest/blob/main/docs/releases/march-2022.md#modelerfour-security-scheme-generaliz

[2022-05-11 00:44] #24384 closed

[2022-05-11 00:44] mikekistler commented on #24384
Issue moved to [Azure/autorest.python #1249](https://github.com/Azure/autorest.python/issues/1249) via [**ZenHub**](https://www.zenhub.com/)

[2022-05-11 01:31] #23865 closed

[2022-05-11 02:29] rguptar opened #24387 "Broken links in Azure Resources libraries for Python"
The links to the packages are broken.

For example, clicking `azure.mgmt.resources.features` takes you to
https://docs.microsoft.com/en-us/python/api/azure.mgmt.resource.features
instead of
https://docs.microsoft.com/en-us/python/api/azure-mgmt-resource/azure.mgmt.resource.features

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-05-11 06:48] JarroVGIT commented on #24249
@simorenoh Thanks for your reply and sorry to hear this feature will be exclusive to the .NET and Java SDK's for the time being. I will close this feature request :) Keep up the great work!

[2022-05-11 06:48] #24249 closed

[2022-05-11 09:08] navba-MSFT opened #24395 "Azure SDK Python mgmt packages overview page needs services.md"
**Describe the bug**
Most of mgmt packages explained [here](https://docs.microsoft.com/en-us/python/api/overview/azure/automation?view=azure-python) doesn't have service.md file [here](https://github.com/MicrosoftDocs/azure-docs-sdk-python/tree/main/docs-ref-services/latest) due to which it results in empty page.

Example for mgmt packages where Services.md file is missing causing a blank page to

[2022-05-11 09:09] prawalgangwar commented on #11149
Facing issues with pylance. The python language server crashes as soon as I installed azure-mgmt-network.

[code]

[2022-05-11 18:02] jalauzon-msft commented on #23934
Both of the fixes have been released in version 12.12.0.

[2022-05-11 18:02] #23934 closed

[2022-05-11 18:28] jalauzon-msft opened #24397 "Update Queue `receive_messages` docs to better reflect what's required."
Porting this Issue over from the Docs repo. Vignesh has suggested some changes to the Queue `receive_messages` documentation around what params are actually required when. I think this is a good change to take.
https://github.com/MicrosoftDocs/azure-docs-sdk-python/issues/1552

Those docs are auto-generated from the code in this repo so the change needs to be made to eh docstrings here.

[2022-05-11 18:51] jalauzon-msft opened #24399 "Investigate all skipped Storage tests"
We have quite a few tests marked with `pytest.skip`, `pytest.mark.skip`, or `pytest.mark.skipif` that have various comments about past Issues or things that need to be "investigated later". Some have GitHub issues mentioned in the comments and some do not. It looks like some were also skipped because they don't run Live/Recorded but we have other mechanisms for that. Ignored tests have a huge pote

[2022-05-11 19:07] xiangyan99 commented on #23282
Merged.

[2022-05-11 19:07] #23282 closed, assigned to xiangyan99

[2022-05-11 20:19] scbedd commented on #22489
This hasn't popped up since April 1st.

We will continue to simplify the installation work being completed during builds. As those improvements filter in, we should see the complete elimination of this error.

Given how sparsely it appears, I'm just going to close this with comment. If it repros we'll re-open.

[2022-05-11 21:25] anthonyvercolano commented on #24336
I've created PRs in the two repos.  Hopefully it will be merged soon
@anushprabhu, @cartertinney, @JimacoMS4

[2022-05-11 22:28] scbedd commented on #24379
Ok! @jalauzon-msft  I have run this down! It's a test bug, and I'm going to end up fixing it with a much greater rework that I'm working on with our feeds.

The reason the [build](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1558053&view=results) failed when it did was due to the following.

- During the `depends` check. We attempt to install your package _without dev requiremen

[2022-05-11 22:41] #21482 closed

[2022-05-12 02:27] swathipil opened #24411 "[AMQP Python] add async keep_worker_alive to async client"
follow up from #23722: https://github.com/Azure/azure-sdk-for-python/pull/23722/files#r865443467

removing this method in #24410.
Need to add this back in.

[2022-05-12 03:00] suxi-ms commented on #24142
Kindly ping， if you need more information about my code, feel free to reach me

[2022-05-12 07:40] BigCat20196 commented on #24294
Hi @azure-walker, thanks for your feedback. After my investigation, it seems that the [rest API](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json#L5017) does not support submitting branch modifications to the unexpected branch of the collaborationbranch. The definition of collaborationbranch

[2022-05-12 07:46] navba-MSFT commented on #24293
@vijaydulange1310 I wanted to do quick follow-up to check if you had a chance to follow the above action plan. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-12 11:34] josvo commented on #23494
Hi
Found the time to test it:
The example provided at [Microsoft docs](https://docs.microsoft.com/en-us/azure/governance/policy/assign-policy-python) uses:
[code]
whereas your sample uses:
[code]

It turns out the behavior in _policy_client.py changed from using `base_url=None` to `base_url="https://management.azure.com"`.
See [this](https://github.com/Azure/azure-sdk-for-python/pull/22748/files#d

[2022-05-12 11:45] #23494 closed

[2022-05-12 11:49] nbessi opened #24420 "Wrong type in ReservationsProperties"
- **azure-mgmt-reservations**:
- **Latest**:
- **Linux**:
- **3.8**:

**Describe the bug**
At that line there is a type mismatch between date and datetime:
https://github.com/Azure/azure-sdk-for-python/blob/7d577fadf2187134cbb25070bb7e3504d6e60fb7/sdk/reservations/azure-mgmt-reservations/azure/mgmt/reservations/models/_models_py3.py#L3074

I seems that now the API returns datetime

**To Reproduce*

[2022-05-12 13:33] IssacH opened #24421 "Delete_directory API could not delete folders which contain large amount of file pieces"
- **Package Name**:   azure.storage.filedatalake.DataLakeDirectoryClient
- **Package Version**: v12.10.0
- **Operating System**: Windows
- **Python Version**: python 3.9.10

**Describe the bug**

Basically when we call the delete_directory API against a folder with small amount of file pieces, it is working fine and None will be returned.

But when we call this api against a folder with large amou

[2022-05-12 13:33] azure-sdk commented on #24421
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Lake Storage Gen2:0.37117285,Storage:0.26989755,Docs:0.06558976'

[2022-05-12 15:37] xiangyan99 commented on #24421
Thanks for the feedback, we’ll investigate asap.

[2022-05-12 15:38] xiangyan99 commented on #24420
Thanks for the feedback, we’ll investigate asap.

[2022-05-12 19:57] simorenoh opened #24423 "[Cosmos] overload sync client methods to match async"
As part of the release of the async client, we want to push for parity as much as possible between the two. One of these processes would be in overloading the methods to accept kwargs for options the way the async client does. This issue will serve as a reminder to track this work.

[2022-05-13 08:02] #21735 closed

[2022-05-13 08:24] v-xuto commented on #20517
@rakshith91 How is your PR going so far? When will this PR be merged?

[2022-05-13 08:27] v-xuto commented on #23879
@catalinaperalta Thanks for your prompt reply. If there is any progress of this issue, please let us know in time. Thanks a lot.

[2022-05-13 08:30] v-xuto commented on #22961
@swathipil Is there any progress on the fix of this issue? If there is any progress, please keep us informed. Thanks a lot.

[2022-05-13 09:52] prprabhu-ms opened #24439 "[dev setup] On a fresh codespaces instance, command prompt hangs for several seconds after each command"
*This bug report is not about any of the packages, but an issue I faced as I was setting up my dev environment to contribute to one of the packages.*

- **Package Name**: Not Applicable
- **Package Version**: Not Applicable
- **Operating System**: Not Applicable
- **Python Version**:  Not Applicable

**Describe the bug**
On a fresh codespaces instance, on a terminal (via VSCode Desktop), command p

[2022-05-13 09:52] azure-sdk commented on #24439
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.10227746,Azure.Core:0.08798309,IoT:0.04854565'

[2022-05-13 10:33] rakshith91 commented on #20517
@v-xuto I have a few more tests to fix before merging the PR. Meanwhile, feel free to test it on my branch. You'd be seeing some test failures, but no set up failures.

cc: @kashifkhan

[2022-05-13 15:57] dougalII opened #24440 "ClientSecretCredential ignores authority and throws InvalidAuthenticationTokenAudience"
- **Package Name**: azure-identity==1.10.0, azure-mgmt-network==20.0.0
- **Package Version**: 1.10.0
- **Operating System**: Linux Ubuntu 20.04.4 LTS
- **Python Version**:  3.8.10

**Describe the bug**
When using Track2 authentication with `azure.identity.ClientSecretCredential` you cannot set cloud_environment directly but the documentation here: [ClientSecretCredential](https://docs.microsoft.co

[2022-05-13 17:32] swathipil commented on #21985
Hey all! Apologies for the long delay here. Unfortunately, it's been a very busy month and we were not able to find time to investigate this issue. However, this is definitely on our radar, and I will be bringing this up to the team again in a few weeks.

[2022-05-13 17:46] mccoyp commented on #23185
Closing to track this through https://github.com/Azure/azure-sdk-for-python/issues/23184.

[2022-05-13 17:46] #23185 closed

[2022-05-13 17:47] mccoyp commented on #23184
PR to resolve this: https://github.com/Azure-Samples/key-vault-python-storage-accounts/pull/4

[2022-05-13 17:47] mccoyp commented on #23183
PR to resolve this: https://github.com/Azure-Samples/key-vault-python-network-acl/pull/4

[2022-05-13 18:09] xiangyan99 commented on #24440
Thanks for the feedback, we’ll investigate asap.

[2022-05-13 18:14] xiangyan99 commented on #24439
Thank you for your feedback.

Do you have a chance to check if this only happens upon azure-sdk-for-python repo or it also repros in other repos?

This will help us narrow down if this is an azure-sdk-for-python repo issue or a codespace issue.

Thank you

[2022-05-13 19:43] #24148 closed

[2022-05-13 20:31] swathipil commented on #22961
Hey @v-xuto - Really sorry about the delay! I had to prioritize a few other things, unfortunately. However, I was able to reproduce this error that you were running into on a Linux VM. Strangely enough, I know that before I made an update to this test, it was passing on Linux but not Windows. I need to dig a little more to find the source of the error, before I can fix this.

Thanks for checking i

[2022-05-13 20:54] #24330 closed

[2022-05-14 00:58] anpaz opened #24443 "Deadlock when making async http calls on azure.quanum"
- **Packages**:
  - azure-core         1.24.0
  - azure-identity     1.10.0
  - azure-quantum      0.24.208100
- **Operating System**: windows
- **Python Version**:  3.9.12

**Describe the bug**
Trying to make async calls to Azure Quantum to create a job using the aio library. However, only one of the threads completes the submission and the rest get stock in an apparent deadlock.

**To Reproduce*

[2022-05-14 00:59] azure-sdk commented on #24443
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.2135054,Azure.Identity:0.04269715,App Services:0.04016068'

[2022-05-14 05:48] nagyesta opened #24446 "CryptographyClient should keep port number of vault URI when created"
**Is your feature request related to a problem? Please describe.**
Currently, when we are using the ```CryptographyClient``` with non-default port number in the key Id, the vault URI will not contain the port after the ```CryptographyClient``` instance is created.

For example, if the key Id is ```https://localhost:8443/keys/rsa-2048/2d93f37afada4679b00b528f7238ad5c```, the vault URI will be ```ht

[2022-05-14 10:02] mcourville opened #24447 "TypeError: request() got an unexpected keyword argument 'metric_namespace'"
- **Package Name**: azure-monitor-query
- **Package Version**: 1.0.2
- **Operating System**: Linux
- **Python Version**: 3.9

**Describe the bug**
Getting the following error using MetricsQueryClient [query_resource](https://docs.microsoft.com/en-us/python/api/azure-monitor-query/azure.monitor.query.aio.metricsqueryclient?view=azure-python#azure-monitor-query-aio-metricsqueryclient-query-resource)

[2022-05-14 10:02] azure-sdk commented on #24447
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Services:0.46021083,Functions:0.38603857,Azure.Core:0.014318997'

[2022-05-14 18:04] gpnikhil opened #24448 "Documentation for Azure Devops SDK"
Hello Team,

I came across python sdk for azure devops  [link](https://pypi.org/project/azure-devops/), but was unable to find any documentations for its use, I request you to please add a documentation section for better understanding of this SDK and how we can utilise them in our work process.

Thank you

[2022-05-14 18:05] azure-sdk commented on #24448
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.43226972,Search:0.05111786,IoT:0.04383592'

[2022-05-16 01:53] msyyc commented on #24440
Hi @dougalII There is similar issue: https://github.com/Azure/azure-sdk-for-python/issues/23862. Please refer the sample: https://github.com/Azure/azure-samples-python-management/blob/main/samples/loganalytics/manage_workspace_with_gov_cloud.py

[2022-05-16 03:08] necusjz opened #24451 "`final-state-via` introduced inconsistent behavior for long running operations"
- **Package Name**: azure-core
- **Package Version**: 1.24.0
- **Operating System**: Windows
- **Python Version**: 3.8.10

**Describe the bug**
The following PR introduces support for "final-state-via":
- https://github.com/Azure/azure-sdk-for-python/pull/22713

But, this document says "Azure-AsyncOperation" has higher priority:
- https://docs.microsoft.com/en-us/azure/azure-resource-manager/manag

[2022-05-16 03:08] azure-sdk commented on #24451
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Authorization:0.12401441,Docs:0.0746295,Network - Application Gateway:0.045894098'

[2022-05-16 03:13] navba-MSFT commented on #24293
@vijaydulange1310 The action is currently pending on you to follow the suggestions provided in [the above comment](https://github.com/Azure/azure-sdk-for-python/issues/24293#issuecomment-1118940009). We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-16 03:13] #24293 closed

[2022-05-16 06:10] mickare opened #24458 "DefaultAzureCredential and ImdsCredential deadlocks on macOS"
- **Package Name**: azure-identity
- **Package Version**: 1.10.0
- **Operating System**: macOS Monterey (12.3.1)
- **Python Version**: 3.10.4

**Describe the bug**
On MacOS the `ImdsCredential` **always** freezes / deadlocks for 5 minutes. Consequentially the `DefaultAzureCredential` and `ManagedIdentityCredential` are affected by this deadlock too.

**To Reproduce**
Steps to reproduce the behavio

[2022-05-16 06:13] mickare commented on #24458
Curl on the IMDS service IP 169.254.169.254 results in a timeout!

[code]

[2022-05-16 06:26] msyyc commented on #24387
Hi @scbedd could you help merge the fix [PR](https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/1555) or address proper person to merge it? Thanks!

[2022-05-16 08:02] v-xuto commented on #22961
@swathipil Thank you for your prompt reply. I'm looking forward to your PR fix.

[2022-05-16 08:11] v-xuto commented on #20517
@rakshith91 Thank you for your prompt reply. I'm looking forward to your PR being merged soon.

[2022-05-16 08:45] dougalII commented on #24440
Yup, that did the trick, Thank you @msyyc,

It would be nice to have the `credential_scopes` as a defined input... This is not mentioned in the class headers or on the API docs site.

https://docs.microsoft.com/en-gb/python/api/azure-mgmt-network/azure.mgmt.network.networkmanagementclient?view=azure-python

[code]

[2022-05-16 08:50] #24064 closed

[2022-05-16 08:51] #23991 closed

[2022-05-16 08:53] #24251 closed

[2022-05-16 08:54] #23864 closed

[2022-05-16 09:13] samy-dougui commented on #24282
Hi @vincenttran-msft,

Sorry for the delayed answer.
Unfortunately, this bug still persists, but I realized that it was also happening locally, so it might be easier to reproduce the error.

The version used locally is still `python 3.9.12`.
The python script is the same.

Here is the request-id when executing the python script with the execution-time:
`RequestId:8675da84-101e-0023-0702-6967710000

[2022-05-16 09:16] #24440 closed

[2022-05-16 12:15] dhirschfeld commented on #21996
Hi @xiangyan99,
When doing distributed parallel calculations (e.g. with `dask.distributed`) you want each of your workers to be able to access cloud storage which requires serialised credentials to be passed to them. In this use-case you can assume the communication channels are private so there isn't a risk of exposing secret information.

Working in a security conscious organisation we still don

[2022-05-16 16:26] azure-sdk commented on #24448
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.43226972,Search:0.05111786,IoT:0.04383592'

[2022-05-16 16:33] YalinLi0312 commented on #24447
Thanks for your feedback, we'll investigate ASAP.

[2022-05-16 16:38] lmazuel commented on #24446
Hi @nagyesta

Thanks for your report! Your investigation is great, and while I'm not myself working on KV, I feel you're into something :). @mccoyp in our team will look into that soon, thanks!

[2022-05-16 16:41] YalinLi0312 commented on #24448
Hi @gpnikhil , after opening the link you attached, I would recommend you to ask in the `homepage` link(in another GitHub repo) on PyPI page: https://github.com/microsoft/azure-devops-python-api .

Thanks!

[2022-05-16 16:45] #23621 closed

[2022-05-16 16:48] #21848 closed

[2022-05-16 16:58] nagyesta commented on #24446
Hi @lmazuel and @mccoyp, thank you both for looking into this!

[2022-05-16 20:45] lmazuel commented on #24189
Sorry for the late answer. Your stacktrace helps, as I see it's coming from the decorator of the function. I assume seeing `vm_name=VM_NAME` you're using some package like `azure-mgmt-compute` ? Knowing what is line 55 would be helpful to track the caller.

@lmolkova , for the logical span we create for a function call, what kind should we use for that span? Client? Producer? Internal?

[2022-05-16 20:57] lmolkova commented on #24189
@lmazuel logical call spans should have `Internal` kind

[2022-05-16 21:12] cpiment commented on #24189
Hi @lmazuel,

The line 55 is from this reproducer repo:

https://github.com/cpiment/otel-azure-grpc

You can clone it and reproduce the issue. As you guessed, in this example I'm using `azure-mgmt-compute`, but this happens with other packages as well.

Thanks for your help!

[2022-05-16 22:30] mccoyp commented on #24446
Hi @nagyesta, thanks again for opening this issue! (And double-thanks for pointing to the exact line to fix 🙂)

I opened the following PR to fix this: https://github.com/Azure/azure-sdk-for-python/pull/24466

[2022-05-16 23:07] xiangyan99 commented on #24458
Thanks for reaching out.

To make sure I understand correctly, it only repros when you have VPN connected and proxy set, right?

Because we have code self._client.request_token(*scopes, connection_timeout=0.3, retry_total=0), I am wondering if the root cause may be related to the VPN and/or proxy?

Could you help to check if it repros in such scenarios:
1. No VPN, No proxy
2. VPN, No proxy
3. Prox

[2022-05-16 23:51] HK-Zhang commented on #16166
I get the same issue with overwrite Flag set to False.

azure-storage-blob==12.9.0
azure-storage-file-datalake==12.5.0

[2022-05-17 00:05] l0lawrence opened #24470 "[Eventhub] test_receive.py AMQPOverWebsocket timing issues"
Async version of this test is performing correctly. With the sync version, when running in the _connection.py listen() function it is taking a really long time to read and process the incoming frames. This is causing the assertion to fail for this test in the pipeline. Investigate why this test is taking so long to run.

Potential Eventhub Latency eror?

[2022-05-17 00:32] xiangyan99 opened #24471 "Add 'signed_session’ into trouble shooting doc for identity"

[2022-05-17 01:32] marcelo321 commented on #24289
Hi, wanted to check again if someone can take a look please @SaurabhSharma-MSFT @swathipil

[2022-05-17 08:18] timothyvries opened #24480 "Bug in azure data tables when deleting an entity without a row key"
- **Package Name**: azure-data-tables
- **Package Version**: 12.4.0
- **Operating System**: Independent, both on azure functions as locally debugging
- **Python Version**: 3.9

**Describe the bug**
When using the azure-data-tables package to delete an entity in a table, it throws an error when supplying a entity or a keyword argument with a empty RowKey.

**To Reproduce**
Steps to reproduce the be

[2022-05-17 12:02] jazelenk commented on #19102
I see that https://docs.microsoft.com/en-us/rest/api/loganalytics/workspaces/create-or-update#workspacesku no longer shows this property, so I believe this issue may be closed.

[2022-05-17 12:02] #19102 closed

[2022-05-17 12:42] zepef opened #24482 "Cannot pull files from blobs from python anymore"
### Library name and version

azure-storage-blob==12.12.0

### Query/Question

Hello,

I cannot download blobs from python since azure-storage-blob==12.12.0.

def pull_blob_file(local_storage: str, blob_filename: str) -> str:

    blob_service_client_instance = BlobServiceClient(account_url=STORAGE_ACCOUNT_URL, credential=STORAGE_ACCOUNT_KEY)
    blob_client_instance = blob_service_client_instance

[2022-05-17 13:25] Min-june opened #24483 "[can't pickle _cffi_backend.FFI objects problem] in django frameworks"
- **Package Name**: azure-storage-blob package
- **Package Version**: 22.22.0
- **Operating System**: Docker python:3.7 image (ubuntu)
- **Python Version**: 3.7

**Describe the bug**
'can't pickle _cffi_backend.FFI objects problem' problem has occurred.
We have used Django framework on our server
and want to install 'azure-storage-blob' package

but we have above problem

**To Reproduce**
Steps to

[2022-05-17 15:22] YalinLi0312 commented on #24482
Thanks for your feedback, we'll investigate ASAP.

[2022-05-17 15:22] jsquire opened #24486 "Service Bus: Client Identifier Support"
# Summary

When creating one of the Service Bus client types, it can be useful for a host application to be able to uniquely identify the client instance.  The Service Bus service also supports setting the identifier of an AMQP link, which it will associate with some error messages to make it easier to correlate errors with a given client instance.

# Scope of Work

- The options for each Service

[2022-05-17 15:23] YalinLi0312 commented on #24480
Thanks for your feedback, we'll investigate ASAP.

[2022-05-17 15:30] YalinLi0312 commented on #23643
Updates:
Have enabled in sync client in ACR May release, the async one is blocked by an issue in aiohttp: https://github.com/Azure/azure-sdk-for-python/issues/20040

[2022-05-17 15:57] jsquire opened #24487 "Service Bus: Sample Scenarios Consistency"
# Summary

To ensure developers are able to be productive using the Service Bus client library, a consistent set of samples should be available across all languages to illustrate usage for core scenarios.

# Scope of Work

- Ensure that the following core scenarios are captured in samples:<br />
  - Constructing ServiceBusClient with the various auth forms - connection string, `TokenCredential`, a

[2022-05-17 18:27] kashifkhan commented on #24470
We are seeing an issue when using `AmpqOverWebsocket` sync while trying to receive events. There is a significant delay getting events compared to the same call when using `Amqp`. This call `data = self.ws.recv()` in _read `_transport.py` is where things are slow if there are fewer frames available than the max of 300. As the number of frames cross that things resume at normal speed

**Steps to re

[2022-05-17 18:47] Bogdan-Stancescu-RBC commented on #24482
Same here. Code sample:

Shell:
[code]

Then, in Python:
[code]

[2022-05-17 19:31] rubberduck203 commented on #23744
@kristapratico has anyone looked into this yet? It's been about 6 weeks since your message. I just ran headfirst into this issue today.

[2022-05-17 20:29] vincenttran-msft commented on #24482
Hi @zepef Pierre-Emmanuel, unfortunately I was unable to reproduce your error as it seems to be working on my end. I think the first step is to try to clear up any ambiguity that might be the source of the error.

1. What exactly are you failing at (line or API call), and what is the exact error?
2. Just to confirm, you note that you cannot download "_since azure-storage-blob==12.12.0._". If I am

[2022-05-17 20:34] Bogdan-Stancescu-RBC commented on #24482
@vincenttran-msft I have actually attempted to reproduce the same issue with vanilla azure CLI, and it works when I try that. It's rather difficult for me to provide an abstract code sample that works in CLI and doesn't work in Python (notice the hoops I had to go through in the sample above). On a personal level, I can assure you my CLI user is really allowed to do pretty much anything with those

[2022-05-17 21:03] PatrickFarley commented on #23922
@shonohs what steps are needed to re-export an iteration? If we check, and it was already exported, how do we export again?

[2022-05-17 21:24] shonohs commented on #23922
You can use get_exports() to get a link to an exported model. We don't have API to force re-generate it. (Even if we had the API, new exported model will be exactly same as the old one.)

[2022-05-17 21:41] scbedd opened #24496 "Inconsistent dependency is crashing `apistubgen` in specific circumstances"
[Build Failure](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1574557&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t=651a14cc-88df-515d-1311-e0e8b23b578a&l=166)

Unfortunately this error did not repro on the `core` build that tested the change that is causing this to throw. Investigating that.

[2022-05-17 22:28] l0lawrence commented on #24470
prefetch in consumerclient on the sync side works over AmqpOverWebsocket, adding in prefetch also fixes the connection not closing issue.

[2022-05-17 23:09] vincenttran-msft opened #24498 "test_list_handles_with_marker | Skipped, requires rigorous manual setup"

[2022-05-17 23:10] #24498 closed

[2022-05-17 23:10] azure-sdk commented on #24498
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.37490848,Storage:0.07244097,Event Hubs:0.034466486'

[2022-05-17 23:33] lovettchris opened #24499 "Better int64 support"
**Is your feature request related to a problem? Please describe.**

Python integers are variable sized, for example:

[code]

but the current azure.data.tables entity serialization maps all python integers to int32 on Azure, which is not very friendly because you are bound to hit a nasty error at runtime when your python integer overflows int32.  Then you have to monkey around the documentation an

[2022-05-17 23:34] azure-sdk commented on #24499
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Tables:0.14738512,Service Bus:0.13976018,Azure.Core:0.11805622'

[2022-05-18 00:01] annatisch commented on #24499
Thanks for the feedback @lovettchris
This is definitely an interesting question. The reason this design was originally chosen - i.e. to always treat Python integers as int32, with int64 requiring special handling, is for full compatibility with other languages.
In Python, if were to dynamically select the int32/int64 type depending on the input, this could crash a different client that was process

[2022-05-18 00:18] lovettchris commented on #24499
Cool, thanks for the quick reply.  Yeah, numpy is so much of a defacto standard in the python world it makes sense to handle it's [datatypes ](https://numpy.org/doc/stable/user/basics.types.html) in a first class way.

[2022-05-18 00:49] annatisch commented on #24499
Thanks - this is a great recommendation!
I will go through the numpy data types and start with the ones that have obvious equivalents and we can expand from there :)

[2022-05-18 02:29] zepef commented on #24482
Hello,

Thank You very much, I'll try all of that right away. I will keep You updated.

All the best,

Pierre-Emmanuel

De : vincenttran-msft ***@***.***>
Envoyé : mardi 17 mai 2022 23:29
À : Azure/azure-sdk-for-python ***@***.***>
Cc : Pierre-Emmanuel FEGA ***@***.***>; Mention ***@***.***>
Objet : Re: [Azure/azure-sdk-for-python] Cannot pull files from blobs from python anymore (Issue #24482)

H

[2022-05-18 03:19] zepef commented on #24482
Hello again,

  1.  Here is the total error dump:

Traceback (most recent call last):
  File "e:\LocalRepos\Projects\systra-semantic-search\systrasemsearch\sem_search_cli.py", line 244, in <module>
    local_file = pull_blob_file(local_storage, document_to_retrieve)
  File "e:\LocalRepos\Projects\systra-semantic-search\systrasemsearch\sem_search_cli.py", line 178, in pull_blob_file
    blob_data =

[2022-05-18 03:38] navba-MSFT commented on #24266
@PetreBogdan Apologies for the late reply. Subnet Class in Azure Python SDK has route_table as a Parameter. Refer [this](https://docs.microsoft.com/en-us/python/api/azure-mgmt-network/azure.mgmt.network.v2018_01_01.models.subnet?view=azure-python).

If you have created the route table and Vnet / Subnet, all you have to do is:
a)	update the Subnet class, and supply the route_table parameter and the

[2022-05-18 05:20] mickare commented on #24458
I tested a little bit more and it seems to be a problem of the network configuration on the Mac. Since it is a managed device I'll to close this comment and forward this issue internally.

It works as expected on another linux machine without any vpn&proxy. It will not timeout and curl reports after 3 seconds that it failed to connect (as expected).

To summarize, if I understand it correctly: `16

[2022-05-18 05:24] mickare commented on #24458
Now I'm thinking why the `ImdsCredential` is using the proxy anyway? It would not solve my issue because the problem would still persist. But now it's a security question.

https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py#L101

[2022-05-18 05:30] mickare commented on #24458
Found another temporary solution: Add `169.254.169.254` to your `no_proxy` environment variable.

[2022-05-18 05:43] zepef commented on #24482
Hello again,

Now I am trying:

def pull_blob_file(local_storage: str, blob_filename: str) -> str:

    local_file = os.path.join(local_storage, blob_filename)
    print(local_file, blob_filename)

    blob = BlobClient.from_connection_string(conn_str="DefaultEndpointsProtocol=https;AccountName=systrastore;AccountKey=<real_account_key_obfuscated_but rotated>EndpointSuffix=core.windows.net", contai

[2022-05-18 08:46] PetreBogdan commented on #24266
Thank you for the reply, I have one last issue and I don't know if it's a bug or not. I created a route_table with network_client.route_tables.begin_create_or_update and it has the parameters: (resource_group_name, name, parameters). I gave it a name parameter but after creating it and print it, the name is None. Name show up only in id. Is it something that I'm missing?

[2022-05-18 09:00] navba-MSFT commented on #24266
@PetreBogdan I haven't tried this yet. But as a quick suggestion, I would recommend checking from [this REST API](https://docs.microsoft.com/en-us/rest/api/virtualnetwork/route-tables/get#routetable) to confirm if the **name** is returned in its response. Hope this helps.

Refer [get](https://docs.microsoft.com/en-us/python/api/azure-mgmt-network/azure.mgmt.network.v2020_06_01.operations.routetabl

[2022-05-18 09:31] amitdwivedi-broadcom opened #24503 "AZCLient: NetworkManagementClient is not having flow_logs attribute"
- **azure.mgmt.network**:
- **azure-mgmt-network==2.7.0**:
- **Operating System:Mac**:
- **Python Version: 3.7**:

**Describe the bug**
NetworkManagementClient is not having flow_logs attribute

**To Reproduce**
Steps to reproduce the behavior:

sub = 'd8e556db-074e-4a5f-a34a-bc1dbc554039'
rg = 'NetworkWatcherRG'
mgmt_client = NetworkManagementClient(credentials, sub)
watcher_list = mgmt_client.ne

[2022-05-18 10:53] PetreBogdan commented on #24266
This is the reponse: {'additional_properties': {}, 'id': '/subscriptions/{subscription_id}/resourceGroups/capic-ui-automation/providers/Microsoft.Network/routeTables/route-table-test', 'name': None, 'type': None, 'location': None, 'tags': None, 'etag': None, 'routes': None, 'subnets': None, 'disable_bgp_route_propagation': None, 'provisioning_state': None, 'resource_guid': None}

I called method f

[2022-05-18 10:57] navba-MSFT commented on #24266
@PetreBogdan Thanks for your reply. As mentioned in my above comment, did you try to call the [get](https://docs.microsoft.com/en-us/python/api/azure-mgmt-network/azure.mgmt.network.v2020_06_01.operations.routetablesoperations?view=azure-python#azure-mgmt-network-v2020-06-01-operations-routetablesoperations-get) operation to fetch the routable table details and check the response ?

[2022-05-18 11:20] PetreBogdan commented on #24266
For now I'm looking for a way to make calls in the API.  As I mentioned in the first post, I don't have access to the Azure interface and the only tokens I have are client_id and secret_id, subscription_id and tenant_id. It seems that postman needs something else form those, right?

[2022-05-18 11:55] rubberduck203 commented on #23744
Ok. So, I've got a workaround for folks in the mean time.
This results in a directory structure like this

[code]

In your pipeline definition/submission script.

[code]

Then, in the script that the step will execute (in this case `some_script.py`)

[code]

[2022-05-18 15:59] lmazuel commented on #24483
Hi @Min-june

We don't use CFFI in any of our libraries, and your stacktrace do not show any lines coming from storage blob. Moreover, we don't have any static initialization that would run code if you never imported anything from storage blob namespace.

I would suggest you look for a bug in the django project, as I don't see any angle on which it could come from our products. If you're 100% sure

[2022-05-18 16:12] Min-june commented on #24483
Thank you for your comment @lmazuel. In this case cffi library used in cryptogrphy package. And it looks like azure storage blob use cryptography package (we can check this [pipenv graph])

Like your comment, this bug is not shown in azure package. But we can see this bug message when azure storage blob installed. So, I expected there to be a conflict between the already installed package and the

[2022-05-18 17:01] kristapratico commented on #23744
Sorry for the delay on this, tagging @azureml-github to help. I also reached out the relevant service team to get some visibility on this issue.

[2022-05-18 17:13] xiangyan99 commented on #24458
Thank you for the updates.

169.254.169.254 is IMDS endpoint. It can only be accessible when your VM is hosted in Azure.

In terms of your question
why the ImdsCredential is using the proxy anyway

This is by design that all our http requests honor your proxy settings.

Could you describe your case a little more to help us understand why this may cause security concerns?

Thanks.

[2022-05-18 17:39] zepef commented on #24482
Hello,

I have found something interesting. Remember my terminal output:

There are 16 documents in the 'azureblob-index' search index.
<Response [200]>
Please enter a query in French or English:
What is a knowledge graph?
en
Status code:  200
Please enter the response number:
0
Creating a Knowledge Graph with neo4j.pdf
C:\Users\Public\Documents\Creating a Knowledge Graph with neo4j.pdf Creating a

[2022-05-18 18:26] vincenttran-msft commented on #24482
Hi @zepef Pierre-Emmanuel, you are very welcome! I am glad that we were able to work together to resolve your issue. If that is all, may I close the thread and mark your issue as resolved? Thanks!

Hi @Bogdan-Stancescu-RBC Bogdan, looking through our open issues, did you actually mean to respond to this thread? [https://github.com/Azure/azure-sdk-for-python/issues/24282](https://github.com/Azure/a

[2022-05-18 18:38] mccoyp commented on #21051
- `azure-keyvault-administration` migration PR: https://github.com/Azure/azure-sdk-for-python/pull/24334
- `azure-keyvault-certificates` migration PR: https://github.com/Azure/azure-sdk-for-python/pull/24256
- `azure-keyvault-keys` migration PR: https://github.com/Azure/azure-sdk-for-python/pull/24165

[2022-05-18 18:38] #21051 closed

[2022-05-18 18:40] caitriggs commented on #23744
I ended up creating an upload step and using a pipeline parameter to pass in a FileDataset instead of relying on using OutputFileDatasetConfig. So it looks like:

build_pipelines.py
[code]

data_uploader.py takes a FileDataset and an output path and uploads it to our storage to that output path, in our case an ADLSgen2, using azure.storage.filedatalake.DataLakeServiceClient and creating an azure.i

[2022-05-18 21:00] scbedd opened #24510 "Publish to Feed failing during regular release"
[Example Build Failure](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1576755&view=logs&j=49259b2a-9f18-5945-e5de-00969e5597f4&t=4653ad50-6b7f-5583-d643-bc99a1438c3d)

Need to figure out what's up here.

[2022-05-18 21:54] scbedd commented on #24510
Discussed internally. This was a bit that had been flipped on the `internal` project. That has been resolved.

[2022-05-18 21:54] #24510 closed

[2022-05-18 22:59] mccoyp commented on #17443
Moving to backlog for more investigation at a later time. Redacting certificate values would be straightforward with body key sanitizers that sanitize `cer`, `csr`, and `value` fields in `azure-keyvault-certificates` recordings (which currently contain test certificate content). Trying this caused failures in playback tests, though:
[code]
Certificate operations need to be able to be decoded from

[2022-05-19 00:46] vincenttran-msft commented on #24421
Hi @IssacH, sorry for the delay in response as I have been trying to reproduce your findings with no success. Looking at it from a code perspective, I absolutely agree that the documentation does need to be expanded and revised to better reflect this behavior, and possibly that we may alter the behavior of `delete_directory` to match your suggestion raised in point 2 under 'Expected behavior'. Res

[2022-05-19 02:41] calvinhzy opened #24515 "ContentSettings in storage blob makes empty string None"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.12.0
- **Operating System**: Windows
- **Python Version**: 3.9.6

**Describe the bug**
A clear and concise description of what the bug is.
ContentSettings in azure-storage-blob convents an empty string '' to None
https://github.com/Azure/azure-sdk-for-python/blob/0db0c16559023eec3140970b1e00b9eb12e1e0b4/sdk/storage/azure-storage-blob

[2022-05-19 04:09] zepef commented on #24482
Hello,

You can close the thread and mark it as resolved thanks again !

¨Pierre-Emmanuel

De : vincenttran-msft ***@***.***>
Envoyé : mercredi 18 mai 2022 21:27
À : Azure/azure-sdk-for-python ***@***.***>
Cc : Pierre-Emmanuel FEGA ***@***.***>; Mention ***@***.***>
Objet : Re: [Azure/azure-sdk-for-python] Cannot pull files from blobs from python anymore (Issue #24482)

Hi @zepef<https://nam12.saf

[2022-05-19 09:22] PetreBogdan commented on #24266
Ok so I called the GET operation for route table and the response is:
{'additional_properties': {}, 'id': '/subscriptions/{subscription_id}/resourceGroups/{project_name}/providers/Microsoft.Network/routeTables/route-table-test', 'name': 'route-table-test', 'type': 'Microsoft.Network/routeTables', 'location': 'centralus', 'tags': None, 'etag': 'W/"ecba362c-74cd-414d-8fb4-44b04a4ec4e4"', 'routes': [

[2022-05-19 10:02] Alex97schmid-zeiss commented on #11593
Hey @xiafu-msft I have tried your approach, but unfortunately I'm getting an error: `BlobPropertiesPaged' object has no attribute '__anext__` Can you help me?

[2022-05-19 11:27] nbessi commented on #24420
hello @BigCat20196

I use 2.0.0  and the trace is:

[code]

[2022-05-19 11:29] nbessi commented on #24420
Using list did not change the issue.

[2022-05-19 11:43] nbessi commented on #24420
Here is the debug output. I removed sensible info:

[code]

[2022-05-19 12:06] faizanbashir opened #24522 "How do I get the latest events from eventhub"
Hi,

I am using the below code snippet to get the events from the beginning of the partition. I want to get the latest events. How do I get that?

`with client:
    client.receive(
        on_event=on_event,
        starting_position="-1",  # "-1" is from the beginning of the partition.
    )
`

[2022-05-19 16:05] YalinLi0312 commented on #24522
Thanks for your feedback, we'll investigate ASAP!

[2022-05-19 16:09] YalinLi0312 commented on #24503
Thanks for your feedback, we'll investigate ASAP!

[2022-05-19 16:10] lmazuel commented on #24483
I've never seen an issue like that before :(. You may want to try to install cryptography alone (without any azure packages) and see if this reproduce the issue. If it does, you may want to create a bug in the cryptography Python project, as we can support problem of installation between django and cryptography. If you don't reproduce with cryptography alone, but you do have a problem with storage

[2022-05-19 18:05] #24482 closed

[2022-05-19 19:00] jalauzon-msft commented on #24515
Hi @calvinhzy Zhiyi, thanks for bringing this up. I'm wondering if there is a use case where a customer would want `content_type` (or other `ContentSettings`) to be set to empty string? Rather than just not having them set at all?

[2022-05-19 20:27] sshrishipwc opened #24527 "Python SDK Issue for Azure Data Factory Delete Activity"
The value for recursive  parameter is default to False but if we do not add this in code and deploy ADF Pipeline it shows the value is set (Or check box) is checked but execution does not show any logs (This is verify hard to find out issue).

If we do not specify in code ADF should not show check box checked.
DeleteActivity Class

https://docs.microsoft.com/en-us/python/api/azure-mgmt-datafactory

[2022-05-19 23:08] #24167 closed

[2022-05-19 23:50] vincenttran-msft commented on #24421
Hi @IssacH, after some more investigating and pulling in some SME from the team, I was able to reproduce your issue. I believe that you are running into this issue as DataLake operations are intended to be used on an HNS-enabled account (hierarchical namespace), but some operations may still work on flat namespace accounts (but are **not** officially supported by the SDK).

With that being said, o

[2022-05-20 01:30] msyyc commented on #24503
Hi @amitdwivedi-broadcom azure-mgmt-network<16.0.0b1 is track1 version which has been deprecated. Please try latest version and here is the migration guidance: https://devblogs.microsoft.com/azure-sdk/migrating-python-management-libraries/

[2022-05-20 03:19] zepef commented on #24482
Thanks again, now I am in deployment phase which is another interesting story...

All the best !

Pierre-Emmanuel

De : vincenttran-msft ***@***.***>
Envoyé : jeudi 19 mai 2022 21:06
À : Azure/azure-sdk-for-python ***@***.***>
Cc : Pierre-Emmanuel FEGA ***@***.***>; Mention ***@***.***>
Objet : Re: [Azure/azure-sdk-for-python] Cannot pull files from blobs from python anymore (Issue #24482)

Closed

[2022-05-20 03:26] navba-MSFT commented on #24266
@PetreBogdan Thanks for getting back. I am adding the Service Team to take a look at the name and location value being returned as None issue. See: 'name': None, 'location': None,

@vnetsuppgithub Could you please look into this issue and provide an update ?

[2022-05-20 04:19] MeaningOfLights commented on #9743
In Azure KeyVault, click "Manage Deleted Secrets" and the trick is to click the 'Load more' link at the bottom!

[2022-05-20 05:59] preetesh33 opened #24538 "Azure: azure.mgmt.monitor python SDK, generates inconsistent OpreationName localized_value"
Issue: Python SDK "azure.mgmt.monitor" generates inconsistant opreationName localizedValue.
Expection: Python SDK "azure.mgmt.monitor" should generate consistent localized_value

Steps to reproduce the issue:
1. Scenario A: Activity log of unattached disk deleted on - 2022-05-03

[code]

Output:
[code]

2. Scenario B:  Activity log of unattached disk deleted on - 2022-05-13
Same code used as above

[2022-05-20 05:59] azure-sdk commented on #24538
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute:0.09395385,Storage:0.08561296,Service Bus:0.058888473'

[2022-05-20 06:16] msyyc opened #24540 "[mgmt][pipeline] Remove global configuration "multiapi""
Only small amount of mgmt packages are multiapi-packages, so "multiapi" shall not be [global configuration](https://github.com/Azure/azure-sdk-for-python/blob/dfa109c36598d93aaf74238feded516352c20f4c/swagger_to_sdk_config_autorest.json#L8) in swagger pipeline.
test link: https://github.com/openapi-env-test/azure-rest-api-specs/pull/3141

steps:
(1) update template files:
https://github.com/Azure/a

[2022-05-20 07:14] Min-june commented on #24483
Thank you for your answer @lmazuel

We have installed cryptography package alone.
And this problem has occurred too...
 I think we need to find this package and cffi.

Thank you for your attention

[2022-05-20 07:33] msyyc opened #24544 "[mgmt][pipeline] update existing python configuration `clear-output-folder` from `false` to `true`"
If we don't set it to `true`, some code will be left without reference and become "zombie" code.

[2022-05-20 08:28] navba-MSFT commented on #23970
@gpnikhil Please refer this docs which explains how to find the SDK in AzCLi command:  https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/find_sdk/find_sdk_in_cli_command.md
Hope this helps.

[2022-05-20 10:36] fswane commented on #18610
Morning @lzchen

Metrics are now released as part of OpenTelemetry!

https://github.com/open-telemetry/opentelemetry-python/releases/tag/v1.12.0rc1

1) Do you have an ETA  to update the metrics exporter for ApplicationInsights?

2) An alternative that could also work for me is to use a Collector to receive metrics from local containers using OTLP and the Collector then routes metrics to Applicatio

[2022-05-20 17:24] mikeleuer opened #24547 "Wild card search for Gen2 storage (Data Lake)"
**Is your feature request related to a problem? Please describe.**
I cannot use AZURE python functions to search for blob files.

**Describe the solution you'd like**
I want the ability to use wild cards or regular expressions to search for blobs in Gen2 storage.

search should be something like this
Storage location
`Sandbox/ExampleProject/2022-05-13T15:14:08Z/123dfa21qdaswq213fdasqqqqqq.json`
Fi

[2022-05-20 17:24] azure-sdk commented on #24547
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Lake Storage Gen2:0.51935405,Storage:0.39799753,Azure.Identity:0.076990254'

[2022-05-20 20:38] #24448 closed

[2022-05-20 20:40] xiangyan99 commented on #24483
Thank you for the updates.

[2022-05-20 20:40] #24483 closed

[2022-05-20 21:23] #24294 closed

[2022-05-20 21:37] xiangyan99 commented on #24026
@SaurabhSharma-MSFT any updates?

[2022-05-20 21:53] xiangyan99 commented on #1122
@nohyunho  Given the latest azure-mgmt-web is 6.1.0. Could you help to check if this is solved?

[2022-05-20 22:04] xiangyan99 commented on #3171
@ttruong-a10 Given latest azure-mgmt-commerce is 6.0.0, could you help to check if this issue is stall valid?

Thank you.

[2022-05-20 22:28] xiangyan99 commented on #17254
@RAY-316 I still see it in latest azure-mgmt-cosmosdb 7.0.0b5. Please double check.

[2022-05-20 23:14] xiangyan99 commented on #21794
Thanks for reporting the issue. Unfortunately we don't support adding data retention value in this version.

[2022-05-20 23:18] xiangyan99 commented on #21882
@DhavalShewale we created a sample code snippet for the scenario. https://gist.github.com/xiangyan99/cb15bb686e56bac020f93d71f524208f

please let me know if this works.

Thanks.

[2022-05-20 23:22] xiangyan99 commented on #22061
Since this is a service issue rather than an SDK issue. We will close this one.

Please feel free to open a support ticket for the service team.

Thanks.

[2022-05-20 23:22] #22061 closed

[2022-05-20 23:40] xiangyan99 commented on #22250
@YalinLi0312 Seems like this still repros in latest stable version. Please take a look.

[2022-05-20 23:43] vincenttran-msft opened #24552 "[Storage] Investigate remaining skipped Storage tests"
Previous work has been done (#24550) to triage some skipped Storage tests, but more tests remain to be triage'd and investigated to completion. This issue tracks the remaining tests.

✔Checkmark = Resolved
☐ No checkmark = **Not resolved, comment to the right**

**pytest.skip**
- [x] test_copy_blob_with_blob_tier_specified **| Skipped because doesn't work on premium, needs further investigation**

[2022-05-20 23:51] kristapratico opened #24553 "[cognitivelanguage] fix live tests pipeline"
It looks like the live tests pipeline has been failing for services under cognitivelanguage. Investigate the cause of the failures.

https://dev.azure.com/azure-sdk/internal/_build?definitionId=3088&_a=summary

[2022-05-20 23:56] xiangyan99 commented on #22542
@GranamyrBR Sorry. Seems like this is empty and no actions we can take.

Closing the issue and feel free to open a new one with more details.

[2022-05-20 23:56] #22542 closed

[2022-05-21 00:04] xiangyan99 commented on #23371
Thank you for the updates.

[2022-05-21 00:04] #23371 closed

[2022-05-21 00:07] xiangyan99 commented on #23515
Please open a support ticket for the service team.

[2022-05-21 00:07] #23515 closed

[2022-05-21 00:43] rubberduck203 commented on #23744
@xiangyan99 how exactly has this been addressed?

[2022-05-21 02:18] rikjansen-hu commented on #20427
For future readers, I had this same issue when using `azure.keyvault.keys.crypto.CryptographyClient`. Turned out I only needed the additional `cryptography` package from the above list.

[2022-05-21 08:02] #24081 closed

[2022-05-21 08:02] #23256 closed

[2022-05-21 08:56] thomasfrederikhoeck commented on #22441
/unresolve

[2022-05-21 20:38] cpiment commented on #24189
Hi @lmazuel, sorry for the delay. I have just tested it and it works flawlessly :smile:  Thanks!

[2022-05-22 08:12] msyyc opened #24555 "[Mgmt][Docs] Python issue Q&A"
For better customer usage experience, we could summarize some Q&A to make docs for some common issues. It is for SDK owners, also for customers.

[2022-05-22 10:48] domjancik opened #24556 "Automated method to determine required permissions for SDK calls for least privilege purposes"
When using SDK calls, it is unclear which permissions I need before calling and possibly getting an unauthorized error, which contains the required permission.

This is something that can be very useful when trying to set up a secure system and adhere to the least privilege principle.

I found the documentation page about this topic, but it contains just a mapping between services and resource pro

[2022-05-22 10:48] azure-sdk commented on #24556
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Search:0.049442086,App Services:0.04004268,Docs:0.03406554'

[2022-05-22 22:16] ukbg opened #24557 ""AKV10000: Request is missing a Bearer or PoP token.""
- **Package Name**: azure-keyvault-sercrets
- **Package Version**: 4.4.0
- **Operating System**: Windows 10 / Linux
- **Python Version**: 3.9

**Describe the bug**
When trying to to retrieve a secret using `DefaultAzureCredential()` from `azure.identity`  as credential the argument `client = SecretClient(vault_url=key_vault_url, credential=credential)` get error `{"error":{"code":"Unauthorized","m

[2022-05-22 22:29] ukbg commented on #24557
I'm missing `.value`, this is working as expected.

[2022-05-22 22:29] #24557 closed

[2022-05-23 02:35] BigCat20196 commented on #24420
Hi @nbessi, thanks for your reply! After investigation, this is a issue of [rest definition](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/reservations/resource-manager/Microsoft.Capacity/stable/2022-03-01/reservations.json#L2036), and I have opened this issue in the right place.
fyi: https://github.com/Azure/azure-rest-api-specs/issues/19176

[2022-05-23 03:03] navba-MSFT commented on #24329
@johngallardo, @ashish93-stack, @sjiherzig, @Satya-Kolluri Could you please look into this issue and provide an update once you get a chance. Awaiting you reply.

[2022-05-23 03:09] navba-MSFT commented on #24503
@amitdwivedi-broadcom Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. Could you please check and let us know if you had a chance to follow the above suggestion ? Awaiting your reply.

[2022-05-23 08:20] BigCat20196 commented on #24130
Hi @satya5186, thanks for your feedback!  After investigation, if you want to list Vnet, you should use `Microsoft.Network/virtualNetworks` type instead of `Microsoft.Compute/virtualMachines`.

We prefer to use a dedicated SDK to manage resources, such as `azure-mgmt-network` and `azure-mgmt-compute`. You could easily install them by `pip`.
fyr: https://github.com/Azure-Samples/azure-samples-pytho

[2022-05-23 11:02] satya5186 commented on #24130
Hi,

Thanks for the reply. Sorry I pasted the wrong code, I did use Microsoft.network to list vnets, it is not working

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jiefeng Chen ***@***.***>
Sent: Monday, May 23, 2022 3:20:37 AM
To: Azure/azure-sdk-for-python ***@***.***>
Cc: Satyanarayana Prasad Chalavadi ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/

[2022-05-23 15:48] xiangyan99 commented on #24420
Closing as this is swagger issue, not SDK issue.

[2022-05-23 15:48] #24420 closed

[2022-05-23 16:05] caitriggs commented on #23744
No, it's a very custom workaround. The bug behavior of a PipelineParameter in OutputFileDatadetConfig outputing an unusable blob path still exists. Plz refer to original post

[2022-05-23 16:06] xiangyan99 commented on #23744
Thank you for the clarification. I misunderstood. Removed issue-addressed label.

[2022-05-23 16:39] stevenhurwitt commented on #20877
Is there a timeline for graphrbac to use new azure-identity yet? Getting this error with azure-graphrbac==0.61.1: `AttributeError: 'AzureCliCredential' object has no attribute 'signed_session'`

[2022-05-23 17:59] LacquerShell commented on #24327
Thanks - any update on this?

[2022-05-23 18:47] ddzialak opened #24566 "azure-storage-blob returned incomplete data without raising an exception"
- **Package Name**: azure-storage-blob
- **Package Version**: 2.1.0
- **Operating System**: Rocky Linux 8.6
- **Python Version**:  3.10

**Describe the bug**
Received incomplete data from object storage

**To Reproduce**
It's hard to reproduce, happens very rarely, steps to reproduce:
1. upload 33MB with blocks (multipart upload)
2. reading data may return only ~150kB

**Expected behavior**
whole

[2022-05-23 19:03] simorenoh commented on #24327
Hi @LacquerShell, thank you for opening this issue and using our SDK. I have started looking into this and it seems you may have found a gap in our SDK's functionality - it's not just the replace method that is affected with these encoded id's. Will keep you posted as I make progress.

[2022-05-23 22:21] simorenoh commented on #24327
Hi @LacquerShell, it seems like the use-case you;re trying to do is something that we do not support with CosmosDB in general - here's a document outlining the fact that we ask users to avoid using characters that require URL encoding with some of the more common characters: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.resource.id?view=azure-dotnet#remarks

Although it doe

[2022-05-23 22:22] vincenttran-msft commented on #24066
Hi @italoveloso89 Italo, the reason why you are running into this issue is because the `delete_blobs` API from `azure-storage-blob` is a batch operation that does **not** support the deletion of non-empty directories. As you have listed that your "Expected Behavior" is to delete the directory, below I have provided two code samples (one that **is** recommended, and one that is _**not**_ recommende

[2022-05-24 01:59] hacknorris opened #24572 "Not A Feature Request but Requesting Help with an Error When Calling Azure Python SDK"
We are getting some errors when trying to pull data and are requesting some assistance.

We are trying to call azure.mgmt.security.operations.ConnectorsOperation.list but are getting this error.

The first image is related to pulling connectors from Microsoft Defender for Cloud (Azure Security Center) and we would expect it to not error out.

<img width="931" alt="sdk-connectors-error" src="https:

[2022-05-24 01:59] azure-sdk commented on #24572
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Security:0.10406777,Azure.Core:0.0580057,azure-spring:0.04761129'

[2022-05-24 03:08] BigCat20196 commented on #24130
Hi @satya5186, could you please use followed code to try?
[code]

In addition, which version of `azure-mgmt-resource` do you use?

[2022-05-24 03:35] satya5186 commented on #24130
I will try and let you know the result
________________________________
From: Jiefeng Chen ***@***.***>
Sent: Monday, May 23, 2022 10:08:36 PM
To: Azure/azure-sdk-for-python ***@***.***>
Cc: Satyanarayana Prasad Chalavadi ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-python] List VNET through python returns null (Issue #24130)

Hi @satya5186<https://nam11.safelinks.protectio

[2022-05-24 09:38] BigCat20196 commented on #24289
Hi @marcelo321, In the [cli command](https://github.com/Azure/azure-sdk-for-python/issues/24289#issuecomment-1119036313) you provided, you did not directly operate on the VM, but released a public IP and gave a new public IP in the network interfaces, and the corresponding SDK is `network_client.network_interfaces.begin_create_or_update`.

Hope this unblock you.

[code]

[2022-05-24 14:02] dominikhait commented on #22384
We also would like to upgrade our project to Python 3.9, is there any update on this issue? @bandsina @kristapratico

[2022-05-24 15:39] simorenoh commented on #24357
4.3.0 Released https://pypi.org/project/azure-cosmos/4.3.0/

[2022-05-24 16:01] simorenoh commented on #24094
@tjprescott can we close this issue if we're using this one as a reminder for follow-up? https://github.com/Azure/azure-sdk-for-python/issues/24132

[2022-05-24 16:04] #22043 closed

[2022-05-24 16:14] #24094 closed

[2022-05-24 16:35] kristapratico commented on #22384
@azureml-github

Sorry, for the delay. Let me find someone from the Azure ML team to help with this query.

[2022-05-24 17:59] xiangyan99 commented on #2828
Is this issue still valid in azure-mgmt-web 6.1.0?

[2022-05-24 18:04] xiangyan99 commented on #2908
Is this issue still valid in azure-mgmt-web 6.1.0?

[2022-05-24 18:34] pallavit opened #24583 "[Azure Search] SearchClient.Search method does not have the right set of parameters in the documentation"
Incorrect documentation for the method SearchClient.Search https://azuresdkdocs.blob.core.windows.net/$web/python/azure-search-documents/latest/azure.search.documents.html#azure.search.documents.SearchClient.search

[2022-05-24 18:53] jalauzon-msft commented on #20434
Hi @marincon-sarmiento, sorry for the long delay in response and thanks for question.

Unfortuantely, the datalake SDK does not support Append Blobs. Datalake files are backed by Block Blobs as Block Blobs can support the append + flush operations that datalake files need and therefore there is not usually a need for an Append Blob. So, you have a couple of options for your scenario.

1. Use the d

[2022-05-24 21:19] #24399 closed

[2022-05-25 00:04] vincenttran-msft commented on #23693
Update: `test_filter_blobs_using_account_sas` is now resolved, still need further testing to resolve `test_set_blob_tags_using_blob_sas`

[2022-05-25 00:04] anthony-sarkis opened #24587 "`name_starts_with` should be `prefix` for consistency"
Regarding `def list_blobs(self, name_starts_with=None,`

it uses `name_starts_with` instead of `prefix`
it passes it to `ItemPaged(command, prefix=name_starts_with,`
without any modification. this is just odd confusion.

`name_starts_with`  should be renamed to `prefix`  to keep it consistent

[2022-05-25 00:04] azure-sdk commented on #24587
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.08444973,azure-spring:0.046834294,Azure.Core:0.04527308'

[2022-05-25 00:16] kristapratico opened #24588 "[cognitivelanguage] add patches/fixes before release"
- [ ] Add a patch at the operation level to set the stringIndexType to the Python default (UnicodeCodePoint) and un-expose in the input for the user.
- [ ] Add a patch at the operation level to fix the client method docstrings such the request/response doc is copy/paste-able example
- [ ] Change the link in the swagger README to point to the official swagger and regenerate
- [ ] Naming updates per

[2022-05-25 00:29] SiberianTiger01 opened #24589 "AttributeError: 'PipelineResponse' object has no attribute 'get'"
hello  Azure SDK for Python  team,

my client  set up Pacemaker on SUSE Linux Enterprise Server in Azure,  came across  the  Error   "ERROR: Failed: Unable to deserialize to object: type, AttributeError: 'PipelineResponse' object has no attribute 'get'".  As a  Azure support engineer,   I  have tried  many times  but  failed  to  fix this error.  As  I  traced  the  origin  of  PipelineResponse  c

[2022-05-25 00:29] azure-sdk commented on #24589
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Factory:0.35301474,Docs:0.09512764,Compute - VM:0.0456159'

[2022-05-25 00:47] annatisch commented on #24589
Thanks @SiberianTiger01
We will need a bit more information in order to get find the best people to help - the PipelineResponse object is a structural part of all the Azure Python SDKs, so it would be great if we could narrow this down a bit.
Are you able to provide a more complete error stack so we can see which file/SDK is raising the attribute error?
Or maybe your client is able to provide more

[2022-05-25 01:18] annatisch commented on #24587
Thanks for the report @anthony-sarkis!
I'm curious why you have needed to use the constructor of `ItemPaged`?
This is largely an internal implementation and there shouldn't be a need to construct this object directly... so the names of the parameters in the constructor _should_ be inconsequential.

To rename the `name_starts_with` parameter of `list_blobs` would be a breaking change to the API, so

[2022-05-25 01:47] SiberianTiger01 commented on #24589
the hosting  vm  is  Azure VM  using  SLES 15 image.  Python2.7.18  and  Python 3.6.15  are  installed.
Client set up  STONITH by using an Azure fence agent  following  this  article:  https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-suse-pacemaker
Client install  the  Azure fence agent  and  other  dependency  packages  by  zypper install.

vm-psapapp0

[2022-05-25 01:52] SiberianTiger01 commented on #24589
The STONITH device uses a service principal to authorize against Microsoft Azure.  Client use an Azure fence agent, which restarts a failed node via the Azure APIs.

[2022-05-25 02:22] msyyc opened #24590 "[Mgmt][Docs] `READMD.md` shows link to sample repo or auto-generated samples"
add link in [README.md](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/advisor/azure-mgmt-advisor/README.md) to help customers find samples quickly

[2022-05-25 02:29] annatisch commented on #24589
Thanks @SiberianTiger01
From the linked guide - the only reference I can find to the Python SDK is [here in step 10A](https://docs.microsoft.com/azure/virtual-machines/workloads/sap/high-availability-guide-suse-pacemaker#install-the-cluster), which would seem to narrow the scope down to either azure-identity or azure-mgmt-compute.
[code]

However from this alone it's still hard to tell where the e

[2022-05-25 03:14] SiberianTiger01 commented on #24589
2022-05-25 12:34:34,516 INFO: 'User-Agent': 'azsdk-python-identity/1.5.0 Python/3.6.15 (Linux-4.12.14-197.83-default-x86_64-with-glibc2.3.4)'

[2022-05-25 03:25] annatisch commented on #24589
Thanks - I'll tentatively tag this as `identity` for now.

[2022-05-25 06:18] anthony-sarkis commented on #24587
I appreciate the speed and friendliness of your answer - there are lots of good reasons

1. It matches the API https://docs.microsoft.com/en-us/rest/api/storageservices/list-blobs
<html>
<body>

prefix | Optional. Filters the results to return only blobs whose names begin with the specified prefix.
-- | --

</body>
</html>

It's confusing to have an SDK function that names such a key item differen

[2022-05-25 08:02] #24209 closed

[2022-05-25 08:26] edoboker commented on #21957
That's odd, I've always used the interactive class and it'd always worked for me. I didn't use `DefaultAzureCredential` because of some complexities in my setup. However, I don't think it would make any difference - eventually, they all generate an AAD access/refresh token...

[2022-05-25 10:18] awoimbee commented on #19282
seems like this is fixed: https://github.com/aio-libs/aiohttp/pull/4445

[2022-05-25 16:02] jsquire opened #24597 "Event Hubs: Client Identifier Support"
# Summary

When creating one of the Event Hubs client types, it can be useful for a host application to be able to uniquely identify the client instance.  The Event Hubs service also supports setting the identifier of an AMQP link, which it will associate with some error messages to make it easier to correlate errors with a given client instance.

# Scope of Work

- The options for each Event Hubs

[2022-05-25 16:03] #24597 closed

[2022-05-25 16:34] lzchen commented on #18610
Will be doing a release for metrics exporter once metrics becomes stable in OT (rc tag is removed).

Currently OT Python has an otlp metrics [exporter](https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-otlp-proto-grpc/src/opentelemetry/exporter/otlp/proto/grpc/metric_exporter/__init__.py) but there is no exporter that maps otlp signals to app insights

[2022-05-25 19:14] simorenoh commented on #23794
Hi @eabase, I have spent some time trying to re-create this behavior but have been unable to. Is this something that you're still seeing in your application?

For now, I would recommend updating to the new azure-cosmos 4.3.0 release that came out this week as well as updating any other old dependencies and seeing if anything changes.

[2022-05-25 19:42] #24372 closed

[2022-05-25 20:09] meco0597 opened #24600 "SDK calls HttpRequest._to_pipeline_transport_request() which is not a valid method of the HttpRequest object."
- **Package Name**: azure.purview.account
- **Package Version**: (1.0.0b1)
- **Operating System**: Windows 11
- **Python Version**: 3.10

**Describe the bug**
When calling the .next() function of a return ItemPaged response I get the error:

...\core\rest\_helpers.py", line 210, in __getattr__
    return self.__getattribute__(attr)
AttributeError: 'HttpRequest' object has no attribute '_to_pipelin

[2022-05-25 20:10] azure-sdk commented on #24600
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'KeyVault:0.1509785,Azure.Identity:0.14881708,Cognitive Services:0.075175874'

[2022-05-25 23:02] #24189 closed

[2022-05-25 23:08] xiangyan99 commented on #24589
From the log, I found:
ClientSecretCredential.get_token succeeded -- looks like we got the access token successfully.

and

2022-05-19 18:30:51,084 INFO: Request URL: 'https://management.azure.com/subscriptions/f2124a35-xxx-xxx/resourceGroups/RG-LPMAUSAPPROD-AE-APP-01/providers/Microsoft.Compute/virtualMachines?api-version=REDACTED'
2022-05-19 18:30:51,084 INFO: Request method: 'GET'
2022-05-19 18

[2022-05-26 00:17] #23577 closed

[2022-05-26 00:31] annatisch commented on #24600
Thanks @meco0597 - @iscai-msft would you be able to take a look into this one?

[2022-05-26 01:03] zsandrus commented on #573
/unresolve

[2022-05-26 03:52] navba-MSFT commented on #24572
Removing CXP attention label, This is being looked upon by the SDK and Service team.

@chlahav Could you please look into this ask when you get a chance ? Awaiting your reply.

[2022-05-26 05:08] navba-MSFT commented on #24503
@amitdwivedi-broadcom I wanted to do quick follow-up to check if you had a chance to follow the above suggestions. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-26 05:24] amitdwivedi-broadcom commented on #24503
This worked with latest version thanks

On Thu, May 26, 2022, 10:38 navba-MSFT ***@***.***> wrote:

--
This electronic communication and the information and any files transmitted
with it, or attached to it, are confidential and are intended solely for
the use of the individual or entity to whom it is addressed and may contain
information that is confidential, legally privileged, protected by priva

[2022-05-26 05:25] navba-MSFT commented on #24503
@amitdwivedi-broadcom Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-26 05:25] #24503 closed

[2022-05-26 09:00] v-xuto commented on #19200
@tasherif-msft Do you have any progress on this issue?

[2022-05-26 09:15] alonzo86 commented on #24226
after retesting this issue, it seems that it's no longer reproducible, probably something temporary.
tested again with original version of the package azure-mgmt-sql 2.0.0

[2022-05-26 09:15] #24226 closed

[2022-05-26 09:59] Bubblyworld opened #24606 "ApplicationInsightsManagementClient doesn't accept a `subscription_id` and crashes."
- **Package Name**: `azure-mgmt-applicationinsights`
- **Package Version**: `3.0.0`
- **Operating System**: `macOS Big Sur`
- **Python Version**: `3.9`

**Describe the bug**
According to the [documentation](https://docs.microsoft.com/en-us/python/api/azure-mgmt-applicationinsights/azure.mgmt.applicationinsights.applicationinsightsmanagementclient?view=azure-python), `ApplicationInsightsManagementC

[2022-05-26 10:02] Bubblyworld commented on #24606
It's possible to work around this bug by manually setting `subscription_id`, but this is ugly:

[code]

[2022-05-26 13:47] YalinLi0312 commented on #21957
Could you try with a newer package version(1.0.0b7 or later)? The error doesn't exist with my test.

[2022-05-26 13:48] DSollickOnyx opened #24608 "Sending full azure.mgmt.healthcareapis.models.ServicesDescription object to begin_create_or_update method causes failure due to Private Endpoint Configuration being included."
- **Package Name**: azure-mgmt-healthcareapis
- **Package Version**: 1.1.0
- **Operating System**: Linux-5.10.102.1-microsoft-standard-WSL2-x86_64-with-glibc2.29
- **Python Version**: 3.8.10

**Describe the bug**
It is not possible to submit a whole azure.mgmt.healthcareapis.models.ServicesDescription object if the ServiceProperties class contains an private_endpoint_connections entry. It responds

[2022-05-26 13:49] azure-sdk commented on #24608
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Configuration:0.0801791,Service Bus:0.06559843,Extensions:0.06413912'

[2022-05-26 15:18] lmazuel commented on #24189
PR has been merged, will be released next week (probably Wednesday)

[2022-05-26 15:23] l0lawrence opened #24609 "[pyscript] Steven the Intern"
Pyscript Tasks for this Summer:

The base goal for this summer is to demonstrate how pyscript can be used to interact with an SDK in the browser without using a server. Pyscript allows you to write python within HTML.

[2022-05-26 15:24] l0lawrence opened #24610 "Getting Started"

[2022-05-26 15:47] #24609 closed

[2022-05-26 16:30] l0lawrence opened #24613 "2. First Steps"
1. Create an HTML page using pyscript that has a text box to take in a key credential for authentication and then pass that key into the TextAnalytics client.
      - [x] Set up an HTML page with a text box for input
      - [x] Import the Azure SDK for Python Text Analytics Client
      - [x] In Pyscript, pass the inputted key credential into the Text Analytics Client
      - [x] Verify that the

[2022-05-26 16:40] l0lawrence opened #24615 "3. Base Demo"
The goal for this internship is to have a demo at the end for the team Sprint Review that demonstrates how pyscript can be used to integrate with the python SDKs.

The demo will model how a customer can input an authentication key, create a TextAnalytics client and then input a string of text. Then, using the wrapped Fetch API transport class, it will send the request using the Text Analytics clie

[2022-05-26 16:40] l0lawrence opened #24616 "4. Stretch Goals"
The stretch goal as of right now for the project is to change the method of authentication. Instead of just using a key, the HTML page will support Azure Identity.

[2022-05-26 17:35] kristapratico opened #24618 "[translation] arch board feedback"
- [x] rename xxx_language_code -> xxx_language ([comment](https://apiview.dev/Assemblies/Review/3fe2d18bbf02471eae4fd292c0d5f36e#8a69e1e128da442bacc722a908414b83))
- [x] Move `results_per_page` to the by_page() or don't expose ([comment](https://apiview.dev/Assemblies/Review/3fe2d18bbf02471eae4fd292c0d5f36e#6116b5c104f342de80c821ebaf01cc95))
- [x] hide `from_continuation_token` from the docs ([com

[2022-05-26 17:50] metamoof commented on #20497
It's well over a year and a half since the last update of this message. I'm wondering if there's been any progress on a date for GROUP BY?

[2022-05-26 18:17] iscai-msft commented on #24600
Thanks for opening the issue @meco0597 !

`azure.purview.account` has been deprecated and replaced with `azure.purview.administration`.  Can you follow these steps and tell me if it fixes your error?

1. `pip install azure-purview-administration`
2. change `from azure.purview.account import PurviewAccountClient` to `from azure.purview.administration.account import PurviewAccountClient`?

Thanks!

[2022-05-26 19:03] rguptar commented on #24387
@scbedd can you review this when you get a chance?

[2022-05-26 19:21] #24446 closed

[2022-05-26 19:36] annatisch commented on #24608
Thanks for the report @DSollickOnyx - we'll take a look asap :)

[2022-05-27 03:24] hongli750210 opened #24629 "SDK - Bill of Materials readme issue"
1.
**Section** [link](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/boms/azure-sdk-bom/README.md#table-of-contents)
![image](https://user-images.githubusercontent.com/74638143/170621390-45dc248d-0723-4f9a-9329-5dd48bbd5992.png)

**Reason:**
Invalid page link and no found matching text description in the readme file.
**Suggestion:**
Delete this invalid page link.

joshfree, pallavit and

[2022-05-27 03:25] azure-sdk commented on #24629
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.23657902,Azure.Core:0.11415986,EngSys:0.089923404'

[2022-05-27 03:31] hongli750210 opened #24630 "Cognitive Search samples issue"
1.
**Section** [link](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/HttpResponseExceptionExample.java#L83)
![image](https://user-images.githubusercontent.com/74638143/170623115-cf286c4a-ae0d-4727-a1cf-73ae5f7ae50a.png)

**Reason:**
'search(java.lang.String, com.azure.search.documents.models.SearchOptions, com.azu

[2022-05-27 08:56] vincenttran-msft commented on #23513
Hi @afogarty85 Andrew, thanks for your inquiry! Just to clarify, are you comparing the `azure-storage-file-datalake` asynchronous performance against the `azure-storage-blob` asynchronous performance or is your context referring to `azure-storage-blob` asynchronous performance being greater than it's synchronous counter-part, and that this performance gain is not present in the `azure-storage-file

[2022-05-27 10:42] herberthamaral commented on #22297
@jalauzon-msft OP has posted a link to the original issue from the django-storages' repo. They are using this library as intended. Also, there's a TypeError deep down in this library code, so it'd be pretty odd if this is actually a bug in django-storages.

Could you please re-visit this? I was about to report the same issue when I found this one.

[2022-05-27 18:53] meco0597 commented on #24600
This worked thank you! should we update our docs to not use azure.purview.account anymore?

[2022-05-27 18:53] #24600 closed

[2022-05-27 20:47] scbedd opened #24634 "`azure-ai-ml` failing on python 36 windows"
The core of the problem is that...

1. We have a transitive dependency on `pywin32` from azure-identity in the dev_requirements for package `azure-ai-ml`
2. During initial venv setup, we install `eng/test_tools.txt` and `dev_requirements.txt`
3. Right before invoking pytest, we install the target package from whatever packaging method we're supposed to be testing.

3) is where the error pops up:

[2022-05-27 21:26] vincenttran-msft commented on #24566
Hi @ddzialak, as mentioned above, version `2.1.0` of `azure-storage-blob` is deprecated and so we would recommend you migrate to the latest version `12.12.0` to see if that will resolve your issue.
Thanks!

[2022-05-27 21:52] vincenttran-msft commented on #22445
Hi @verikono, thanks for your inquiry! Unfortuantely we have not been able to reproduce your findings on our end. However, there a couple things to note that may help to resolve your issue:

1. Your `account_url` seems to be missing an endpoint (typically `dfs` or `core`). For our attempt to reproduce, the URL is in the following format: `"https://<STORAGE_ACCOUNT_NAME>.dfs.core.windows.net"`.
2.

[2022-05-27 22:02] #24265 closed

[2022-05-27 22:04] xiangyan99 commented on #24629
Please open it in https://github.com/Azure/azure-sdk-for-java repo

[2022-05-27 22:04] #24629 closed

[2022-05-27 22:04] xiangyan99 commented on #24630
Please open it in https://github.com/Azure/azure-sdk-for-java repo

[2022-05-27 22:04] #24630 closed

[2022-05-27 22:12] scbedd commented on #24634
[Resolved as commit in this pr](https://github.com/Azure/azure-sdk-for-python/pull/24622)

[2022-05-27 22:14] cheryl-catalog commented on #19753
/unresolved
I am seeing this error as well:

2022-05-27T21:51:42+0000 __next__():186 Unable to stream download: ("Connection broken: ConnectionResetError(104, 'Connection reset by peer')", ConnectionResetError(104, 'Connection reset by peer'))
2022-05-27T21:51:42+0000 wrapped():79 Download stream interrupted.

pip3 freeze | grep azure
azure-common==1.1.28
azure-core==1.24.0
azure-storage-blob==12.

[2022-05-27 22:15] cheryl-catalog commented on #19753
/unresolve

[2022-05-27 22:24] cheryl-catalog opened #24636 "Download stream interrupted"
/unresolved
I am seeing this error as well:

2022-05-27T21:51:42+0000 __next__():186 Unable to stream download: ("Connection broken: ConnectionResetError(104, 'Connection reset by peer')", ConnectionResetError(104, 'Connection reset by peer'))
2022-05-27T21:51:42+0000 wrapped():79 Download stream interrupted.

pip3 freeze | grep azure
azure-common==1.1.28
azure-core==1.24.0
azure-storage-blob==12.

[2022-05-27 23:53] lovettchris opened #24638 "conditional table update?"
**Is your feature request related to a problem? Please describe.**
Is there any way to update a row "conditionally", e.g. iff a certain value is already present or not?  I need the equivalent of an "interlocked exchange" while updating a row in order to do something like "grab a lock on that row" across a Kubernetes cluster of machines running jobs all controlled from a central azure job status ta

[2022-05-27 23:56] lovettchris commented on #24638
Having said all that, is [MERGE ](https://stackoverflow.com/questions/22832863/how-to-do-conditional-update-of-azure-table-storage-entity-with-etag) the answer with it's built in ETag check?

[2022-05-28 04:02] #23561 closed

[2022-05-28 04:02] #23236 closed

[2022-05-28 04:02] #21794 closed

[2022-05-28 04:02] #17378 closed

[2022-05-28 07:14] faizanbashir commented on #24522
Thanks, @kashifkhan.

[2022-05-28 07:14] #24522 closed

[2022-05-30 00:09] SiberianTiger01 commented on #24589
yes,  CX  login  successfully.  but  came across  this error,  "ERROR: Failed: Unable to deserialize to object: type, AttributeError: 'PipelineResponse' object has no attribute 'get'"

[2022-05-30 02:21] junshi356 opened #24641 "typing STL APIs in documents should link to STL documentation page"
- **Package Name**: azure.eventhub.aio
- **Package Version**: 5.9.0
- **Operating System**: N/A
- **Python Version**: N/A

**Describe the bug**
In documents, [typing](https://docs.python.org/3/library/typing.html) package APIs like `Dict`,`Any`,`Optional` aren't linked to python STL documentations. It's also influencing pages on Microsoft Docs (e.g. [azure.eventhub.aio.checkpointstore](https://doc

[2022-05-30 03:06] BigCat20196 commented on #24589
Hi @SiberianTiger01, thanks for your feedback, I used the same package version, but did not reproduce your results.

Could you please run the following demo script and tell us your results?
[code]
fyi: https://github.com/Azure-Samples/azure-samples-python-management/blob/main/samples/compute/README.md

[2022-05-30 05:59] fswane commented on #18610
Thanks @lzchen, looking forward to using the updated metrics exporter!

[2022-05-30 07:46] Chroxvi commented on #21996
Doing a /unresolved to get some feedback on @dhirschfeld suggestion for making `ManagedIdentityCredential` picklable which seems very reasonable to me.

[2022-05-30 08:40] Wzb123456789 commented on #24538
Hi, @preetesh33
The sdk is generated by swagger, however, the sdk receives the result returned from the service, so the sdk cannot modify the result.
It is recommended to go to service to file your issue.

fyi: https://github.com/Azure/azure-rest-api-specs/issues

[2022-05-30 10:45] preetesh33 commented on #24538
@Wzb123456789 Raised below issue:
https://github.com/Azure/azure-rest-api-specs/issues/19267

[2022-05-30 16:02] #24329 closed

[2022-05-30 20:44] anishnair-kpmg opened #24643 "azure-identity | CertificateCredential fails to parse PEM certificate (Error "Failed to deserialize certificate in PEM or PKCS12 format")"
- **Package Name**: azure-identity
- **Package Version**: 1.10.0
- **Operating System**: Windows 10
- **Python Version**: 3.10.4

**Describe the bug**
Getting 'Failed to deserialize certificate in PEM or PKCS12 format' error while using 'CertificateCredential' python module in 'azure.identity' python package. More details error logs below:

Traceback (most recent call last):
  File "C:\Users\userf

[2022-05-31 01:36] #24544 closed

[2022-05-31 02:26] BigCat20196 commented on #24289
Close this issue, because resolved. Due to the related dependency `msrest` has not been upgraded to the latest version.

[2022-05-31 02:26] #24289 closed

[2022-05-31 05:43] MarkusDressel opened #24644 "[azureml] update pyarrrow to version 6"
**Is your feature request related to a problem? Please describe.**
I am using the latest python azure machine learning sdk (version: 1.42.0). Training HuggingFace Models most often require the use of [datasets](https://github.com/huggingface/datasets). Unfortunately, this is not possible since azureml-datasets requires pyarrow<4.0.0 while latest version of HuggingFace Datasets requries at least ve

[2022-05-31 05:43] azure-sdk commented on #24644
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Machine Learning:0.5091826,Azure.Core:0.07414987,Data Factory:0.037709437'

[2022-05-31 05:49] BigCat20196 commented on #21854
Hi @anotherancientalien, We have created a sample [here](https://github.com/Azure-Samples/azure-samples-python-management/tree/main/samples/recoveryservicesbackup). Hope this can help you.

[2022-05-31 06:34] Wzb123456789 commented on #24538
@preetesh33 ,Thank you for your feedback.
If you have any questions, please communicate with me in time.

[2022-05-31 06:47] BigCat20196 commented on #24608
Hi @DSollickOnyx, thanks for your feedback! Could you please Provide some code snippets to reproduce this issue?

As for the use of the update function, it is an overall update. It needs to pass the parameters that need to be updated and the original parameters.

BTW, Since the python SDK is generated based on the [rest API](https://github.com/Azure/azure-rest-api-specs), it will not deliberately

[2022-05-31 09:01] anotherancientalien commented on #21854
@BigCat20196  I appreciate your kind help.

[2022-05-31 09:01] #21854 closed

[2022-05-31 10:05] QHivert opened #24646 "Get secret from keyvault hangs when using with a proxy"
- **Package Name**:  azure-keyvault-secrets, azure-identidy, azure-core
- **Package Version**: azure-keyvault-secrets==4.3.0, azure-identidy==1.6.1, azure-core==2.12.1, requests==2.27.1, urllib3==1.26.9
- **Operating System**: Ubuntu 18.04
- **Python Version**:  3.9.12

**Describe the bug**
My bug is similar to #23623
My teams encouters a problem when using azure python sdk with a proxy. The pytho

[2022-05-31 13:09] DSollickOnyx commented on #24608
Hi @BigCat20196, this scenario came up when, for example, I wanted to edit the provisioned Resource Units for the backing cosmosdb. I .get() the resource, try to edit the relevant property, and then it flops on its face *if the existing FHIR resource has a PE enabled*.

from azure.mgmt.healthcareapis import HealthcareApisManagementClient
hc_client = HealthcareApisManagementClient(credentials, subs

[2022-05-31 14:29] alzimmermsft opened #24648 "azure-search-documents Guides and Samples Updates"
The guides and samples for `azure-search-documents` should include new features such as:

- [x] Using AAD for authentication
- [x] Querying with semantic search
- [x] Resetting documents and skills

[2022-05-31 17:19] catalinaperalta commented on #24646
Thanks for reporting this @QHivert! We'll investigate and back to you asap.

[2022-05-31 17:27] catalinaperalta commented on #24643
Thanks for reaching out @anishnair-kpmg! We'll investigate asap.

[2022-05-31 17:30] catalinaperalta commented on #24638
Thanks for reaching out @lovettchris! We'll investigate asap.

[2022-05-31 17:45] mccoyp commented on #24646
Hi @QHivert, thank you for providing context/logs and attempting to fetch a token directly with the credential! Based on the stack trace, it looks like the `EnvironmentCredential` token request failed and that the `ManagedIdentityCredential` is hanging on its token request.

If you haven't referenced it already, [here](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/identity/azure-iden

[2022-05-31 18:00] chlowell opened #24652 "EnvironmentCredential supports certificate passwords"
Add this support by having the credential read a password from `AZURE_CLIENT_CERTIFICATE_PASSWORD`. See https://github.com/Azure/azure-sdk-for-go/pull/17099 for an example.

[2022-05-31 18:44] iscai-msft commented on #24600
Yep! There should be no more `azure.purview.account`, it should all be `azure.purview.administration` (maybe more specifically `azure.purivew.administration.account`) from now on. Thanks!

[2022-05-31 18:44] swathipil commented on #23191
Hi @mbelak-dtml - sorry for the delayed response! This fix will be included in our upcoming June release: `azure-servicebus==7.7.0`. I'll update this issue as soon as the package has been released. Thanks for your patience!

[2022-05-31 18:54] xiangyan99 commented on #24646
It looks like your app stuck when connecting to imds.

Can you try

curl 'http://169.254.169.254/metadata/identity/oauth2/token' -v

to validate it? (It is expected to hang too).

If this is the case, a temporary solution is: Add 169.254.169.254 to your no_proxy environment variable.

[2022-05-31 23:28] CTownsdin opened #24656 "Maybe add more info about required parameter formatting?"
scopes are listed as required strings

where can we find the format of a scope?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca1bf974-4052-598a-7197-f052ee3985ed
* Version Independent ID: 948fc19f-f68d-258d-53b1-390cb34969f8
* Content: [azure.identity.DefaultAzureCredential class](https://docs.microsoft.com/en-us/pyt

[2022-06-01 03:48] BigCat20196 commented on #24572
Hi @hacknorris, sorry for late reply.

For Q1, it may be caused by the low version of msrest. Please try to update it to the latest version.

For Q2, Different types of cloud support are different. It mainly depends on whether the version of API is deployed on the cloud. This is not controllable by the SDK. the supported API versions in the cloud have been given in the error message.

[2022-06-01 06:28] anishnair-kpmg commented on #24643
@xiangyan99 Sure, it's '**37.0.2**'. I remember trying with '3.4' as well and it was giving me same error but please let me know if you want me to try any specific cryptography version.

[2022-06-01 07:24] QHivert commented on #24646
Hello, thanks for your quick replies.

You were effective because you brought us solutions ^^

I've tried this solution and it worked ! I explore further by doing this:
[code]
So the hanging part seems to come from Managed Identity Credential. Which is too bad because our application can use CLI or Managed Identity depending on its environnement.

Then, as for @xiangyan99 answer:
Without editing n

[2022-06-01 07:24] #24646 closed

[2022-06-01 11:28] TobiRoby opened #24661 "Typing errors in blob storage documentation code"
Hi,

I am receiving typing errors from `mypy` when following the `blob storage` examples in the [official documentation](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python?tabs=environment-variable-windows).

It would be awesome, if the documentation can provide an example with no type errors :)

This is the code I am type checking (copy & pasted from the linked d

[2022-06-01 13:33] #24066 closed

[2022-06-01 17:07] manojpotluri opened #24662 "URL for Button "Explore the Management API's" is landing in a page not found error."
Hyperlink redirect for Explore the Management API's Button is landing in a Page not found error
Hyperlink:
https://docs.microsoft.com/en-us/python/api/overview/azure/logicapps/management
![image](https://user-images.githubusercontent.com/453395/171461037-6c256432-79c5-44ec-8add-3962d68e8038.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-06-01 17:32] jboliv01 opened #24663 "UsageDetailsOperations.get_next() pagination failing at 1000 records"
- **Package Name**: azure-consumption-management
- **Package Version**: 9.0.0
- **Operating System**: Debian GNU/Linux 11 (bullseye)
- **Python Version**: 3.10-bullseye

**Describe the bug**
 When calling usage_details.list() method on a ConsumptionManagementClient and setting a "StartDate" and "EndDate" parameter, pagination fails after 999 result records are returned. I believe the issue is with

[2022-06-01 17:53] catalinaperalta commented on #24661
Thanks for reaching out @TobiRoby! We'll investigate and get back to you asap.

[2022-06-01 19:35] mdlopresti commented on #24663
Found the issue, PR to come

[2022-06-01 22:26] helen-linkedin commented on #14543
@yunhaoling  hey Yunhao, I noticed the redesign happens it 5.8.0a3- wondering if the newest 5.9.0 version contains your change to not rely on C? Thank you!

[2022-06-01 23:53] vcolin7 opened #24670 "[Key Vault] Add error logging for when downloading an HSM's security domain fails."
Downloading an HSM's Security domain sometimes fails for our live tests without us logging a possible error message from the Powershell cmdlet. We can leverage [.NET](https://github.com/Azure/azure-sdk-for-net/blob/79fddcfff8d895a19cbea334ccea6d1a20cc918a/sdk/keyvault/test-resources-post.ps1#L99)'s approach to alleviate this in [test-resources-post.ps1](https://github.com/Azure/azure-sdk-for-pytho

[2022-06-02 07:17] pavelm10 commented on #21985
Hi,

I have tested it with:
`python = 3.7.9, 3.8.6, 3.9.12`,
`azure-servicebus = 7.6.1`,
`uamqp = 1.5.3`,
`OS: Ubuntu 20.04.4 LTS`
With `3.9.12` it does not happen, with the others it does.

[2022-06-02 12:03] Wzb123456789 commented on #21587
Hi，@flixman. Thanks for the feedback!
After investigation, since vm_creation_resource_group is a read-only parameter, vm_creation_resource_group cannot be modified.

[2022-06-02 14:52] #24152 closed

[2022-06-02 15:10] l0lawrence opened #24680 "[AMQP Python] Exception Parity"
Currently between uamqp and Pyamqp we have different exceptions being handled (i.e Websocket TimeoutError on Pyamqp), we want to ensure that both uamqp and pyamqp have similar exceptions so that customers get similar exceptions across the board.

[2022-06-02 15:37] gjwoods commented on #23563
Hi @vsablok123 - this isn't an issue we can fix.
For each Metric on a Run, once the first value is sent sync or async - additional values must be sent the same way. This is a system limitation. MlFlow sends synchronously.

Generally, I recommend using MlFlow or the SDK, but not both. If you share details about your run, I can look deeper into your specifics.

[2022-06-02 15:44] kashifkhan commented on #24680
@swathipil this will come in to play when you are working on the uamqp/pyamqp switch

[2022-06-02 16:51] xiangyan99 commented on #24643
Thanks for your reply. Could you help to try cryptography 3.4.8? There was a breaking change introduced in 35.0.0. Just wanted to make sure it was not the cause.

Thank you.

[2022-06-02 16:54] xiangyan99 commented on #24142
@jalauzon-msft @vincenttran-msft could you help to take a look?

[2022-06-02 17:23] catalinaperalta commented on #24662
Thanks for reaching out @manojpotluri! Could you please open this issue in: https://github.com/MicrosoftDocs/azure-docs-sdk-python to get a fix. :)

[2022-06-02 19:48] rakshith91 opened #24685 "Address search API view feedback"
https://apiview.dev/Assemblies/Review/ef46bf352f2148c9b3958c3f0b283e0e?diffRevisionId=612ca526379f4faca8e50fa2078edd17&doc=False&diffOnly=False&revisionId=82b6e1dcef54446f98940cdca9db1cd4

[2022-06-02 19:49] azure-sdk commented on #24685
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.5940047,Service:0.24534091,Client:0.15568857'

[2022-06-02 21:16] #24618 closed

[2022-06-02 21:55] lzchen opened #24689 "Should we add resource attributes to envelope properties?"

[2022-06-02 23:12] vincenttran-msft opened #24690 "[Storage] Investigate test_quick_query_output_in_arrow_format"
This has been a long withstanding issue that keeps coming up in the pipeline every once and awhile (due to changes on the Service end). For the time being, the test only does the following:
- **Test that the Service accepts our SQL-like query**
- **Test that our SQL-like query is well-formatted and does not return an exception**

We would like to eventually extend the test to also do the following

[2022-06-02 23:13] azure-sdk commented on #24690
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.13890193,Compute:0.11040757,Service Bus:0.10453697'

[2022-06-03 00:43] VictorHdzF opened #24694 "Additional "runbook_type" available, update the documentation please"
I've detected new values available:

'GraphPowerShellWorkflow'
'PowerShell7'
'Script'
'PowerShell'
'Python3'
'GraphPowerShell'
'Python2'
'PowerShellWorkflow'

Update the description https://docs.microsoft.com/en-us/python/api/azure-mgmt-automation/azure.mgmt.automation.models.runbook?view=azure-python#parameters -> runbook_type

thanks!
---
#### Document Details

⚠ *Do not edit this section. It is

[2022-06-03 00:50] #24670 closed

[2022-06-03 06:34] rcampos87 commented on #6671
I'm having the exact same issue with azure-mgmt-web 0.48.0 where the list_skus() return empty no matter which subscription i call it with. Even trying out https://docs.microsoft.com/en-us/rest/api/appservice/list-skus/list-skus results in an empty response.

[2022-06-03 06:45] rcampos87 opened #24695 "azure-mgmt-web list_skus() always returns empty list from Azure Mgmt API"
I'm having the exact same issue as described in this issue https://github.com/Azure/azure-sdk-for-python/issues/6671 except with azure-mgmt-web 0.48.0 where the list_skus() return empty no matter which subscription i call it with. Even trying out https://docs.microsoft.com/en-us/rest/api/appservice/list-skus/list-skus results in an empty response.

- **Package Name**:  azure-mgmt-web
- **Package V

[2022-06-03 06:45] azure-sdk commented on #24695
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Services:0.5586482,Subscription:0.029501835,Web Apps:0.026061742'

[2022-06-03 08:33] erwinkramer commented on #10814
/unresolve

This is still the case, I've set a Custom Role and assigned it to a group (at subscription level) of which i'm member of, this is part of the custom role:

[code]

And i can still cancel and rename a subscription (I've waited at least 12 hours before checking again). I don't have any significant other roles on that subscription, except some reader role.

[2022-06-03 10:17] eabase commented on #23794
@simorenoh
Yes, I just updated to:
[code]

And I still get the errors about unclosed sockets in `ssl.py`.

[2022-06-03 10:25] michyweb opened #24696 "Exception when accessing the property compliance_results of the SecurityCenter class"
- **Package Name**: azure-mgmt-security
- **Package Version**: 1.0.0 and 2.0.0b1
- **Operating System**:Ubuntu 20.04
- **Python Version**: 3.8.10

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
No exception at all

**Workaround**
[code]

[2022-06-03 14:47] #21882 closed

[2022-06-03 17:00] azure-sdk commented on #24695
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Services:0.5586482,Subscription:0.029501835,Web Apps:0.026061742'

[2022-06-03 17:19] xiangyan99 commented on #20113
https://github.com/Azure/azure-sdk-for-python/pull/21370

[2022-06-03 17:25] iscai-msft opened #24699 "[dpg] add doc for send_request"
Add a central doc for `send_request` that all clients can link to

[2022-06-03 17:25] simorenoh commented on #23794
@eabase Yep, I have tried all things that I could think of in terms of setting up and replicating the environment you're using (Windows machine, Python 3.10.3, same package versions) but have been unable to run into this issue.

It would make sense, as you say, that the VPN is giving some sort of warning with the SSL library since that directly affects the connections made - I'd recommend you try

[2022-06-03 18:04] #24699 closed

[2022-06-03 18:14] simorenoh opened #24702 "[Cosmos] clean up tests and add further configurations to testing matrix"
Even though the SDK is now able to run consistently in the pipeline and causes no issues, we are missing further account configurations to be used in several tests that should be put in place to verify additional performance reliably. The Java SDK's setup files should be a good point for comparison.

There are also some tests that are currently disabled due to this - should look into getting those

[2022-06-03 18:16] #20113 closed

[2022-06-03 19:28] swathi-c opened #24704 "DefaultAzureCredentials and ChainedTokenCredential not working"
- **Package Name**: azure-identity
- **Package Version**: 1.9.0
- **Operating System**: Linix
- **Python Version**: 3.6.8

**Describe the bug**
AzureCliCredential works, but when DefaultAzureCredentials or ChainedTokenCredential are used subscription client is not able to list subscriptions

**To Reproduce**
Azure CLI version 2.22.1 or 2.37.0

azure.identity==1.8.0 or 1.9.0

Steps to reproduce the

[2022-06-03 21:43] kristapratico commented on #24273
Marcus is working on this issue

[2022-06-03 22:48] vincenttran-msft commented on #23622
Hi @AWendland-CryptoCompare Alex, thanks for your inquiry and we will see what we can do about this. Unfortunately, a feature request like this requires support from the Service team, and so while we can put in the request, it is very unlikely that it will be triaged any time soon as there are several other higher priority items on their docket.

In the meantime, here is a suggestion that may help

[2022-06-03 22:50] catalinaperalta opened #24707 "[formrecognizer] Unskip AAD tests"
AAD isnt configured yet for the preview.

[2022-06-03 22:56] vincenttran-msft commented on #18012
Hi @jpvlerbe, just wanted to check in if this issue still needs support from our team, or if the issue has been resolved? Just to re-iterate, it is expected behavior that `get_container_properties()` and `exists()` fail with a container-level SAS, and that those require at minimum an account-level SAS as stated by @xiafu-msft in a previous reply!

If we don't hear back from you within a week, I wi

[2022-06-04 00:06] catalinaperalta commented on #24704
Thanks for reaching out @swathi-c! We'll investigate and get back to you asap.

[2022-06-04 00:28] vincenttran-msft commented on #18122
Hi @edwinvehmaanpera Edwin, thanks for your inquiry. I have been able to successfully reproduce this behavior and will work with the team to improve the thrown exception. I will post an update as soon as a resolution is met!
Thanks!

[2022-06-04 01:03] QawYousef commented on #23914
ValueError: No points given

[2022-06-04 01:04] QawYousef commented on #23914
KIndly, assist me in this. I am trying to plot the ConvexHull for Breast cancer dataset by applying pca

The above error comes and stops my progress.

Regards

[2022-06-04 01:04] QawYousef commented on #23914
I wrote this code:
# Scatterplot against PC1 and PC2
fig, ax = plt.subplots(1,1, figsize=(16,12))

# Row masks for each category
rows_0 = Y==0;
rows_1 = Y==1;
rows_2 = Y==2;

# Plot
ax.scatter(df_pca.loc[rows_0.tolist(), 1], df_pca.loc[rows_0.tolist(), 2], c='blue', edgecolor='k', s=120, label='Zero')
ax.scatter(df_pca.loc[rows_1.tolist(), 1], df_pca.loc[rows_1.tolist(), 2], c='red', edgecolor='k'

[2022-06-04 01:53] AdmiralGT commented on #22297
I've done some more digging into this in my local dev environment.

Ultimately the error that's reported is https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-blob/azure/storage/blob/_download.py#L125 where self.end_index is None.

The root of this seems to be caused by the parsing of the initial request before parsing any information in the response. The range-heade

[2022-06-04 04:03] #19753 closed

[2022-06-04 08:03] #24439 closed

[2022-06-04 16:12] kb185177 commented on #644
I have a similar issue, not sure if its a compatibility issue between msrest version and azure commons , tried reinstalling, installling on a new venv. I am trying to use azure azure_rm_keyvault_info - Here is the error trace - Any suggestions would help >
[code]
`azure-keyvault-secrets 4.4.0 requires msrest>=0.6.21, but you have msrest 0.4.29 which is incompatible.`

`azure-mgmt-keyvault 0.30.0rc

[2022-06-05 11:06] agribot2 commented on #23922
Thank you for the suggestion that users must use the get_exports() method as a work-around for this defect.
Allow me to say...

Having an API that work only once and fails if run a second time is poor quality.

However, given that there are work-arounds available I can understand the decision.
I do hope that the team that manages the tutorial and example code at
[[https://docs.microsoft.com/en-us/

[2022-06-05 13:12] anishnair-kpmg commented on #24643
@xiangyan99  I have tried but getting same error. Logs below:

_-----azure identity version-----
1.10.0
-----cryptography  version-----
3.4.8
Azure Blob Storage v12.11.0 - Python quickstart sample
Before credentials step
Traceback (most recent call last):
  File "C:\Users\userfolder\AppData\Local\Programs\Python\Python310\lib\site-packages\azure\identity\_credentials\certificate.py", line 90, in l

[2022-06-06 07:01] #24540 closed

[2022-06-06 09:57] Wzb123456789 commented on #24527
Hi @sshrishipwc, thank you for your feedback.

Please provide the exact version, specific steps and error messages according to the format of this [issue](https://github.com/Azure/azure-sdk-for-python/issues/21587)

Read the doc linked below to help you understand how to effectively resolve issues.
fyi: https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/issues/resolve_issues_effective

[2022-06-06 12:22] domjancik commented on #24556
Thanks @annatisch,
I understand that it would be difficult to keep up to date manually.

I was hoping that you have the mapping somewhere internally - used to actually make the access control work.

I'd definitely like to hear what is the best way to approach this problem given the current options.

[2022-06-06 14:26] eabase commented on #23794
@simorenoh
So maybe this bug need to be reported to the `ssl.py` maintainers.
* https://github.com/python/cpython/blob/3.10/Lib/ssl.py

[2022-06-06 15:07] simorenoh commented on #23794
@eabase That might be worthwhile - however, I see in the issue you created that you didn't add any information about the VPN you use and I believe that would be the most useful information for them to have as well. Please ensure you provide as much information as possible so whatever investigation or answer you're looking for is easier to find for the responsible team.

If there's any other questi

[2022-06-06 16:06] xiangyan99 commented on #24704
@swathi-c Seems like ManagedIdentityCredential() does not work in your case. If you disable ManagedIdentityCredential(), it should work.

Could you clarify what you want to achieve?

Thank you.

[2022-06-06 16:22] swathi-c commented on #24704
Hi @xiangyan99 This same Python package needs to run using managed identity credential if it is available. For testing we want it to use the Azure CLI credentials. So we definitely need the ManagedIdentityCredential() to work. Is there a way to check if managed identity is not valid, and then use the Azure CLI credential? Or, the other way around?

[2022-06-06 16:25] xiangyan99 commented on #24704
Thank you for the clarification.

Then could you help to share the full log?

EnvironmentCredential.get_token failed: EnvironmentCredential authentication unavailable. Environment variables are not fully configured.

only shows EnvironmentCredential is disabled due to missing environment variables.

Thanks.

[2022-06-06 17:16] swathi-c commented on #24704
I think we will go with the workaround of using azure cli first. The workstation VM had a managed identity and I think that is what was causing the issues, since I wasn't expecting any associated with the VM.
[code]

[2022-06-06 17:42] scbedd commented on #24387
Github auto-closed the issue when I merged the PR. Re-opening until the change is actually visible on docs.ms.

[2022-06-06 19:31] dunalduck0 opened #24721 "Cannot customize a registered environment by Environment.clone()"
- **Package Name**: azureml-core
- **Package Version**: v1.40.0
- **Operating System**: Linux
- **Python Version**: 3.8.10

**Describe the bug**
I wanted to add a private python package to a registered environment. The registered environment "CodeQL" was created in AML Studio web portal by filling a dockerfile. I didn't find a way to add a private Python package on AML Studio web portal. Thus, I w

[2022-06-06 19:32] azure-sdk commented on #24721
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Machine Learning:0.45194763,Azure.Identity:0.14082195,Storage:0.027925817'

[2022-06-06 20:21] scbedd opened #24722 "Create Integrated `Run CLI Tests` Build"
- [x] Choose Python Version
- [x] Choose which packages from the azure-sdk-for-python repo should be installed
- [x] Choose which additional packages should be installed
- [x] Invoke CLI recorded CLI tests

[2022-06-06 20:26] #24722 closed

[2022-06-06 21:57] kristapratico opened #24727 "[tox] issues with running sphinx when tox env already exists"
Seeing this error message when running `tox -e sphinx -c ../../../eng/tox/tox.ini`:

[code]

If I delete the `.tox/dist` this will generally resolve, but this wasn't an issue maybe a month ago (?). Sorry hazy on the timing of when the behavior changed, but seems there are a few of us who have experienced this issue now so wanted to see if there is something we can do.

[2022-06-07 00:28] jalauzon-msft commented on #22297
Thanks @AdmiralGT Geoff, for your further investigation! I do agree that this is likely an issue in the SDK as we should never really be throwing that kind of `TypeError`. We can investigate this further. The issue I was having during my initial investigation is that I could not reproduce the error even trying the same scenario that `django-storages` looked to be doing. This made it quite hard to

[2022-06-07 00:29] catalinaperalta opened #24732 "[formrecognizer] Unskip failing tests"
The following tests are failing in ppe:

- [x] W-2 tests return internal server error
- [x] test_custom_document_multipage_transform --> test_dac_analyze_custom_model_async.py & test_dac_analyze_custom_model.py
- [x] test_document_specify_pages (regression in one test case), test_document_multipage_transform --> test_dac_analyze_general_document_async.py & test_dac_analyze_general_document.py

[2022-06-07 04:53] navba-MSFT commented on #24662
@manojpotluri Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. We are looking into this and will provide an update soon.

[2022-06-07 04:54] navba-MSFT commented on #24694
@VictorHdzF Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-07 05:52] rguptar opened #24740 "CertificateCredential for AzureUSGovernment cloud"
- **Package Name**: azure-identity
- **Package Version**: 1.10.0 / 1.11 (see description)
- **Operating System**: Linux Debian
- **Python Version**: 3.7

**Describe the bug**
Unable to get access token via CertificateCredential from service principal in the AzureUSGovernment cloud.

**To Reproduce**
[code]

**Expected behavior**
Access token acquisition.

**Additional context**
I applied the patch

[2022-06-07 06:31] Wzb123456789 commented on #24695
Hi @rcampos87,thank you for your feedback.
After investigation, it is recommended that you use the latest version of `azure-mgmt-web`.

Read the doc linked below to help you understand how to effectively resolve issues.
fyi: https://github.com/Azure/azure-sdk-for-python/blob/main/doc/dev/issues/resolve_issues_effectively.md

[2022-06-07 07:01] rcampos87 commented on #24695
@Wzb123456789 thank you for the reply, as of now we are unable to the anything past v0.48.0 because of the azure authentication method into the API, as I have seen,  for higher versions the authentication flow was changed or rewritten from the normal client_id, client_secret. The latest version of the Rest API found at https://docs.microsoft.com/en-us/rest/api/appservice/list-skus/list-skus does n

[2022-06-07 08:26] navba-MSFT commented on #24694
@VictorHdzF The above PR has been filed. It is currently under review. If you have any questions in the meantime, please feel free to ask.

[2022-06-07 09:57] vsablok123 commented on #23563
Hi gjwoods, Thank you for your reply.
Your advice worked for me. I will tell in brief how I was able to resolve the above-mentioned issue?

I have removed MLFlow from the logging flow, and rely only on Native Metric tracking.

Following advice only applies if you are working with transformers models(Huggingface).
I am using transformers model for training. The hugging-face transformers will use th

[2022-06-07 10:39] domjancik commented on #24556
Out of curiosity, can required permissions for an SDK call change depending on the supplied API version?

[2022-06-07 18:17] AdmiralGT commented on #22297
Here's the script that I can reproduce the error with without using `django-storages`, where I'm connecting to a blob storage account with a `media` container.

[code]

Interestingly the error only occurs when using a CDN, if I use the storage account URL directly I get no such problem. So for instance, with the `account_url` above set to `https://<account_name>.blob.core.windows.net` no error is

[2022-06-07 18:44] #24727 closed

[2022-06-07 19:23] anishnair-kpmg commented on #24643
@xiangyan99 Thank you Xiang. I have tried with the following code:
----------------------------------------------------------------------------------------------
[code]
----------------------------------------------------------------------------------------------
Please note that password is mandatory argument I have provided it as None since password is not required to open the certificate.

I ge

[2022-06-07 20:36] xiangyan99 commented on #24740
Did you have a chance to look at https://docs.microsoft.com/en-us/azure/developer/python/sdk/azure-sdk-sovereign-domain?

Does this work?

[2022-06-07 21:08] rakshith91 commented on #21135
MErged

[2022-06-07 21:08] #21135 closed

[2022-06-07 21:16] jboliv01 commented on #24663
Hi @BigCat20196, we attempted to use the code snippet you provided, but it did not work for us. More specifically, it returned 7 days worth of data (6/1/2022 - 6/7/2022). We believe this may have to do with the fact we are under an Enterprise Agreement.

[2022-06-07 21:30] mikeharder opened #24757 "[Perf] storage-file-datalake perf tests fail with exception"
The storage-file-datalake perf tests are failing in the pipeline with the following error:

[code]

https://dev.azure.com/azure-sdk/playground/_build/results?buildId=1624082&view=logs&j=da3f6c98-a301-5ab2-d70b-97175b0af4ce&t=23cd606f-1d93-56fd-b998-ffc1408b9dca&l=558

[2022-06-07 22:18] vincenttran-msft commented on #18122
This issue has been addressed and resolved in #24730. Thanks again for bringing awareness to this issue!

[2022-06-07 22:18] #18122 closed

[2022-06-07 22:29] #23791 closed

[2022-06-08 03:05] BigCat20196 commented on #24663
Hi @jboliv01, I agree with you. Cost Management supports only Enterprise Agreement, Web direct and Microsoft Customer Agreement offer types. Actually, I gave the above sample based on my experience. Because our subscription types are different.

I found relevant definitions in `rest`. It seems that the API does not support filtering query results by date.
fyi: https://github.com/Azure/azure-rest-a

[2022-06-08 07:10] BigCat20196 commented on #24696
Hi @michyweb, thanks for your feedback! After my investigation, this is due to the `next_link` returned by [rest API](https://github.com/Azure/azure-rest-api-specs)  error.

This is a normal `next_link`, should contain `skiptoken`, and it only contains '_ dynamic'.
normal:
```https://management.azure.com/subscriptions/xxxxxx-xxxxxx-xxxxxx-xxxxxx-xxxxxx/resources?%24api-version=2021-01-01&%24skipto

[2022-06-08 07:59] Wzb123456789 commented on #24695
Hi @rcampos87
The SDK is generated by [swagger](https://github.com/Azure/azure-rest-api-specs). The SDK receives and processes the data returned by the service. From the SDK's point of view, it cannot solve your problem.
It is recommended that you re-report the issue you encountered in https://github.com/Azure/azure-rest-api-specs/pulls

[2022-06-08 11:01] TamGB opened #24765 "ImportError: cannot import name 'SerializationError' from 'azure.core.exceptions'"
- **Package Name**:  azure-storage-blob
- **Package Version**: 12.9.0
- **Operating System**: Azure Databricks Cluster
- **Python Version**:  3.8

**Describe the bug**
Attempts to import BlobProperties from azure.storage.blob results in an error: `ImportError: cannot import name 'SerializationError' from 'azure.core.exceptions' (/databricks/python/lib/python3.8/site-packages/azure/core/exceptions.

[2022-06-08 13:58] jboliv01 commented on #24663
Hi @BigCat20196, I believe the underlying API does support date filtering as I was able to successfully query the API with the following GET request:

GET https://management.azure.com/subscriptions/{subscription}/providers/Microsoft.Consumption/usageDetails?$expand=properties/additionalInfo&api-version=2021-10-01&metric=actualcost&startDate=2022-04-01&endDate=2022-04-01

[https://docs.microsoft.co

[2022-06-08 14:15] xiangyan99 commented on #24643
Thanks for your confirmation.

If your certificate is valid (I assume it is. :)), seems like there is a bug in cryptography library.

I would suggest opening issues in https://github.com/pyca/cryptography.

[2022-06-08 16:12] jimdigriz opened #24766 "plumb in support for `version_id` in `delete_blobs`"
- **Package Name**: azure_storage_blob
- **Package Version**: 12.12.0
- **Operating System**: Debian "bullseye" 11
- **Python Version**: 3.9.2

**Describe the bug**
Though [`delete_blobs` does not support `version_id`](https://docs.microsoft.com/en-us/azure/developer/python/sdk/storage/azure-storage-blob/azure.storage.blob.containerclient?view=storage-py-v12#delete-blobs--blobs----kwargs-=), it is

[2022-06-08 16:16] jimdigriz commented on #24766
Support for this was brought up in https://github.com/Azure/azure-sdk-for-python/issues/13527 but looks like it never was followed up...

[2022-06-08 18:51] vincenttran-msft commented on #24766
Hi @jimdigriz Alexander, thanks for bringing this to our attention and also providing a public domain code sample! I am sorry about your previous experience with contributing to our projects -- this is not the experience we want customers who are contributors to our open source to have and hopefully we can make things right this time!

In the PR you mentioned (#13527), it seems that there was just

[2022-06-08 19:26] kapoor1992 commented on #24765
We are also seeing this issue pop up and we're on `azure-core==1.14.0`.

Stacktrace:
[code]

We didn't have `msrest` in dependencies and so we were upgraded to `0.7.0` which released yesterday (June 7, 2022). Pinning to `0.6.21` did the trick.

[2022-06-08 20:28] kristapratico opened #24769 "[textanalytics] adjust code for 2022-05-01 api changes"
TA GA swagger diffs:
- [x] Removes ExtractiveSummarization
- [x] CustomSingleLabelClassificationResult/CustomMultiLabelClassificationResult merged into CustomLabelClassificationResult
- [x] Removes FHIR
- [x] JobMetadata -> JobState
    - lastUpdateDateTime -> lastUpdatedDateTime
    - adds partiallyCompleted status

[2022-06-08 20:57] xiangyan99 commented on #24740
Did you specify the credential_scopes when you create the client?

e.g.

[code]

[2022-06-08 23:02] scbedd opened #24774 "Revert run_apistub.yml to calling `tox` environment in CI"
[This issue](https://github.com/Azure/azure-sdk-for-python/issues/24496) has a super finicky root cause.

It is _some_ interaction of the the agent image, `tox`, and `astroid`.

How can we tell that it's a specific combination of problems? Well, the problem refuses to repro anywhere _except_ the CI agents. Manually created Ubuntu 20.04 VMs? Good. Local WSL? Still good. Export and re-use of venv si

[2022-06-08 23:21] xiangyan99 opened #24775 "core doc is missing from github.io page"
azure-core link is missing in https://azure.github.io/azure-sdk-for-python/core.html.

While if I type the full path directly, e.g. https://azuresdkdocs.blob.core.windows.net/$web/python/azure-core/1.24.0/index.html, it works.

[2022-06-09 00:49] kristapratico opened #24777 "[textanalytics] consider adding `kind` to *Result types"
Adding a `kind` == typing.Literal to the *Result types in TA will make static type checking less painful, especially with the analyze actions union return type. This will let users write code which checks `kind` instead of doing `isinstance` checks to make mypy happy.

[2022-06-09 02:09] BigCat20196 commented on #24663
Hi @jboliv01, thanks for your reply! Adding params to operation coincides with a new feature of autorest.python5.15.0.
fyi: https://github.com/Azure/autorest.python/blob/autorestv3/ChangeLog.md#2022-04-07---5150

Python SDK is generated by [autorest.python](https://github.com/Azure/autorest.python) based on the [rest API](https://github.com/Azure/azure-rest-api-specs).  We will use the new version

[2022-06-09 08:03] #24458 closed

[2022-06-09 12:09] victorsalesa commented on #23175
@sgiovetti I was the one notificating that and copying that. It seems that the python api is generated with azurerest tool. I guess that it will be simply changing the swagger definition for the next release to include the iteration capability but no answer yet

[2022-06-09 14:23] stockersky opened #24785 "azure-storage-blob : BlobClient creates an unwanted subsirectory inside the container"
- **Package Name**:  azure-storage-blob
- **Package Version**: 12.12.0
- **Operating System**: Windows
- **Python Version**: 3.10.4

**Describe the bug**
When creating a blob inside a container with BlobClient, the blob is created but inside a subfolder having the same name as the container.
Note : I use BlobClient directly and the parameter "account_url" is not the one of the whole storage accoun

[2022-06-09 14:30] james-tn opened #24786 "receive_messages() is not thread safe in azure.storage.queue"
- **Package Name**: azure.storage.queue
- **Package Version**: azure-storage-queue==12.3.0
- **Operating System**: linux
- **Python Version**: 3.8.5

**Describe the bug**
I have multiple processes pulling from the same azure.storage.queue
messages = queue_client.receive_messages(visibility_timeout=6*60,timeout=30)
    for message in messages:
       do some processing()

Some time, some process re

[2022-06-09 15:44] MatthewGleeson opened #24787 "Azureml-core incompatible with azure-cli"
- **Package Name**: Azureml-core
- **Package Version**: 1.42
- **Operating System**: Windows
- **Python Version**: 3.8

**Describe the bug**

I'm trying to install this package in a python environment. In my requirements.txt, I have:

azure-cli==2.37.0
azureml-core==1.42.0

However, I get this error:

Cannot pip install both packages, the conflict is caused by:
azure-cli 2.37.0 depends on azure-mg

[2022-06-09 15:45] azure-sdk commented on #24787
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Machine Learning:0.47212404,Azure.Core:0.19476324,Compute:0.0992854'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.53714144,Mgmt:0.45914882,Service:0.0022905446'

[2022-06-09 16:23] danieljurek commented on #15793
This is because the [metadata updating process](https://github.com/Azure/azure-sdk-tools/blob/main/eng/common/scripts/Update-DocsMsMetadata.ps1#L78) which takes README.md content, appends metadata, updates the title, and pushes into the docs repo is set to look specifically for title content like:

[code]

In this case the title `Azure EventHubs Checkpoint Store client library for Python using Sto

[2022-06-09 16:25] danieljurek commented on #15793
@annatisch -- You're the first owner in CODEOWNERS, can you route the above question?

[2022-06-09 17:23] rguptar commented on #24740
Thanks! This worked for us. Couple questions:
1. Could we improve the error message, either by propagating down or by saying something along the lines of "failed to set credential_scopes"?
2. Are there any plans to expand the AzureAuthorityHosts enum set?

[2022-06-09 17:35] xiangyan99 commented on #24740
@msyyc, A possible way to improve the error message in https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/core/azure-mgmt-core/azure/mgmt/core/policies/_authentication.py. How do you think?

[2022-06-09 17:37] shannonlowder opened #24789 "GraphRbacManagementClient thows signed_session error when trying to lookup service principals"
I am unable to lookup service principal names using a GraphRbacManagementClient.   if I try to use AzureCliCredential(), I get an error:
``` AttributeError: 'AzureCliCredential' object has no attribute 'signed_session' ```

If I try to use DefaultAzureCredential(), i get:
``` AttributeError: 'DefaultAzureCredential' object has no attribute 'signed_session' ```

If I use the CredentialWrapper() wor

[2022-06-09 17:37] azure-sdk commented on #24789
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.2162234,Service Bus:0.16615818,Event Hubs:0.07627347'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5916612,Mgmt:0.40576646,Service:0.001940971'

[2022-06-09 18:04] scbedd commented on #24496
This is turning out to be an issue specific to `azure-agrifood-farming`. This makes me think there is actually something going wrong, and we're just not certain of why.

Here's what I've investigated.

It is _some_ interaction of our specific agent image, `tox`, and `astroid`.

How can we tell that it's a specific combination of problems? Well, the problem refuses to repro anywhere _except_ the CI

[2022-06-09 18:16] anishnair-kpmg commented on #24643
@xiangyan99  Happy to raise the issue with pyca cryptography. However, could you please let me know then why I'm able to read the certificate in azure identity **1.4.0** version?

[2022-06-09 18:22] #24662 closed

[2022-06-09 19:14] #24774 closed

[2022-06-09 19:24] kristapratico opened #24791 "[core] add a `details` property on LROPoller"
There are several services now (mostly cognitive, I believe) that expose long running operations which have relevant metadata on the operation. This metadata usually indicates the state of the operation one way or another. Here's an example in Text Analytics: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/cognitiveservices/data-plane/Language/stable/2022-05-01/textanalytics.

[2022-06-09 19:24] kristapratico commented on #24791
@johanste @annatisch @xiangyan99

[2022-06-09 20:49] xiangyan99 commented on #24643
Could you help to check the cryptography version when you use azure identity 1.4.0 and it works?

[2022-06-09 21:26] anishnair-kpmg commented on #24643
@xiangyan99  I'm using latest Cryptography "**37.0.2**" while using azure identity "**1.4.0**" version. However, if I use azure identity "1.10.0" even if it is  latest or older 3.4.8 cryptography  version I get the same error.

Sure I will the code which you have suggested and let you know the outcome. I assume 'pem_bytes' parameter to be passed is the content of my certificate.

[2022-06-09 22:04] #24656 closed

[2022-06-09 22:33] nsquaretologn commented on #3863
Adding these four lines on docker file solved my issue

Find arm64 variant of deb buster
[code]

[2022-06-10 00:15] vincenttran-msft commented on #24785
Hi @stockersky, thanks for inquiry. I think that you may have some of your terms mixed up, so hopefully my response will help to clarify what these terms mean and where to most easily locate them in Azure Portal, as well as provide a code sample to achieve what you are trying to do!

When providing `account_url` for the `BlobClient` constructor, `account_url` in this context is generally in this f

[2022-06-10 03:40] hacknorris commented on #24572
sorry @BigCat20196  - missed your reply on this.  Can you clarify on the update of msrest for Q1.  For Q2, does someone on the Microsoft product team have to update the API for GCC High?

[2022-06-10 04:44] msyyc commented on #24740
Hi @xiangyan99 Good point! There were customers who met similar problems. I think we could add domain doc link, possible solution or sample to customers.

[2022-06-10 05:16] msyyc opened #24802 "[auto release] permit users to release any tag"
Sometimes customers want to release an old tag instead of default tag in swagger readme. To meet the requirements, we need to:

(1) update swagger pipeline to permit additional configuration for autorest:
https://github.com/Azure/azure-sdk-for-python/blob/main/tools/azure-sdk-tools/packaging_tools/auto_codegen.py#L26

the new item in `generate_input.json` will be `"python_tag": "..."`
(2) update a

[2022-06-10 07:43] BigCat20196 commented on #24802
test result: https://github.com/Azure/azure-sdk-for-python/pull/24809/files#diff-5bf4dccc78ca03222f701241453d7cf4c861363cd5ea8db1bd663a9d08ca3adeR54

[2022-06-10 15:32] stockersky commented on #24785
Hi @vincenttran-msft, thank a lot for your support :)
Your explanations really helped me to understand : now it works perfectly.

[2022-06-10 17:11] xiangyan99 commented on #24775
https://github.com/Azure/azure-sdk/pull/4411

[2022-06-10 17:22] xiangyan99 commented on #24789
Unfortunately graph library has not been migrated to track 2 and does not work with azure.identity library.

@dkershaw10 @baywet, do you have schedule when graph library will be migrated to track 2?

[2022-06-10 17:56] kristapratico opened #24811 "[cognitivelanguage] projects subnamespace"
Both QA and CLU contain authoring and inference APIs. QA shipped their authoring APIs under a `projects` subnamespace (still in beta). This raises the question whether CLU should follow this structure for authoring or keep everything under azure.ai.language.conversations/.aio.

It seems ([from old PRs](https://github.com/Azure/azure-sdk-for-python/pull/21803#discussion_r762315483)) that there was

[2022-06-10 20:09] vincenttran-msft commented on #24785
Hi @stockersky glad that my previous post was able to clear up any confusion! In regard to your question about setting chunk size, that is correct that it is in bytes. Here is the docstring that may provide more useful information:
[BlobClient Constructor Docstring](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py#L117)

Gene

[2022-06-10 20:22] lmazuel commented on #24765
`msrest` 0.7.0 requires `azure-core` 1.24.0. If anyone pins `azure-core`, but not `msrest`, you may end up in a scenario were pip will upgrade only `msrest`, but not `azure-core.

The recommended approach is to either pin to `msrest` 0.6.21 and any version of `azure-core`, or to ping to `msrest` 0.7.0 + `azure-core` 1.24.0. The last one is the prefered one, as you get more updated packages.

[2022-06-10 23:24] jenhagg opened #24814 "Check if path is a file or directory"
**Is your feature request related to a problem? Please describe.**
I'm using the `azure-storage-file-datalake` python package together with a storage account with hierarchical namespace enabled. It seems like the only way to check if a path is a file or directory is using the `FileSystemClient.get_paths` method, which returns an iterable, and checking the `is_directory` property in the matching re

[2022-06-11 06:24] #18012 closed

[2022-06-11 06:26] vincenttran-msft commented on #23622
Hi @AWendland-CryptoCompare Alex, just wanted to check in to see if this was a suitable resolution for your use-case? If so, we can follow through with the closure of the issue, but if you do have any doubts please go ahead and raise them in a separate comment and we can see what we can do to further assist you.
Thanks!

[2022-06-11 08:03] #24421 closed

[2022-06-11 08:03] #24291 closed

[2022-06-11 08:03] #23970 closed

[2022-06-11 08:03] #23233 closed

[2022-06-11 08:03] #22823 closed

[2022-06-11 08:03] #22180 closed

[2022-06-11 08:03] #13547 closed

[2022-06-11 08:03] #3171 closed

[2022-06-11 08:03] #1122 closed

[2022-06-11 09:06] Piranha688 commented on #23744
Is there any progress on this? I'm running into the exact same problem using ParallelRunStep.

[2022-06-11 19:54] baywet commented on #24789
@samwelkwanda is the dev for the python lib

[2022-06-11 20:46] dimbleby commented on #24661
I think this is a mypy bug, specifically https://github.com/python/mypy/issues/3644

I reckon it can be worked around by changing the type so that instead of
[code]
it goes
[code]

[2022-06-12 10:12] nadavu commented on #13316
/unresolve

[2022-06-12 10:29] nadavu opened #24815 ""Warning: Discriminator source is absent or null, use base class ResourceDetails." when iterating SecurityAssessment object"
- **site-packages/azure/mgmt/security/operations/_assessments_operations.py**:
- Module: **SecurityAssessmentList**
- **MacOS**:
- **Python Version- 3.8**:

**Describe the bug**
getting this warning for every iteration over SecurityAssessmentList object.
`Discriminator source is absent or null, use base class ResourceDetails.`

**To Reproduce**
Steps to reproduce the behavior:
1. list of assessmen

[2022-06-12 10:30] nadavu commented on #24815
related to https://github.com/Azure/azure-sdk-for-python/issues/13316 which wasn't fixed

[2022-06-12 22:57] annatisch commented on #15793
Adding @swathipil to help take a look :)

[2022-06-12 23:04] annatisch commented on #24787
Thanks for the report @MatthewGleeson!
@luigiw - would you be able to direct this to the correct devs?
We should make sure to remove the upper bounds for the dependencies of other Azure packages in the new azure-ai-ml package

[2022-06-13 02:24] msyyc opened #24817 "[auto release] put secrets into keyvault"
- https://dev.azure.com/azure-sdk/internal/_apps/hub/ms.vss-build-web.ci-designer-hub?pipelineId=2500&nonce=e1j0VNSRhnsC8a01SdI2/A%3D%3D&branch=main
- https://dev.azure.com/azure-sdk/internal/_apps/hub/ms.vss-build-web.ci-designer-hub?pipelineId=2384&nonce=CJr06OXwz978Uwl5oNrtew%3D%3D&branch=auto-release-debug
![image](https://user-images.githubusercontent.com/70930885/173268276-ca7f915d-f86b-4854

[2022-06-13 02:56] navba-MSFT commented on #24789
Since Service ATtention label has been added removing the CXP attention label from this

[2022-06-13 03:07] #24307 closed

[2022-06-13 05:34] teemujoel commented on #24765
Hi,

Just a side note, **azure-keyvault-secrets** library was also upped on June 7, which caused my code to crash with same Serialization Error as with azure-core described above.  When azure-keyvault-secrets was pinned at 4.4.0, the problem disappeared.

[2022-06-13 10:45] nagydavid commented on #23538
HI @SaurabhSharma-MSFT, is there any update regarding the support of M1 ?

[2022-06-13 12:34] flobeier commented on #13316
/unresolve

[2022-06-13 13:35] jboliv01 commented on #24663
@BigCat20196 Any idea on the release cadence/next targeted release for the SDK? Thank you!

[2022-06-13 16:52] #15793 closed

[2022-06-13 18:48] james-tn commented on #24786
@jalauzon-msft I need a queue service that can support multiple concurrent readers. Is there such a service like that? Is Service Bus such a thing?

[2022-06-13 18:51] kristapratico opened #24827 "[cognitivelanguage] patch client docstring"
https://github.com/Azure/azure-sdk-for-net/pull/29144#discussion_r896026568

The CLU swagger has a bug in the description for the endpoint. We should either patch the client docstring to remove the `api` part of the endpoint or use a swagger transform to fix it. Should be: https://:code:`<resource-name>`.cognitiveservices.azure.com

https://github.com/Azure/azure-sdk-for-python/blob/55811b70988f24

[2022-06-13 19:38] jalauzon-msft commented on #24785
Hi @stockersky, one small clarification that may help to clear up the confusion. `max_single_put_size` only affects whether the client will decide to use chunks to upload the blob or not. Setting this to 64 will just mean that any blob over 64 Bytes will be uploaded in chunks rather than in a single request. However, the chunk size is controlled by a different argument, `max_block_size` which defa

[2022-06-13 19:53] jalauzon-msft commented on #24661
Hi @TobiRoby, for your second error `Argument 1 to "write" of "BufferedWriter" has incompatible type "Union[bytes, str]"`, this is an error in the built-in `write` method due to the return type of our `readall`. Our `readall` can return an `str` if you specify an encoding in your call to `download_blob` so that is expected. You may be able to tell `mypy` that you expected a `bytes` back using a ty

[2022-06-13 20:11] dimbleby commented on #24661
@jalauzon-msft the advice you are offering should be applied to your own code: this isn't the user's code it is

[2022-06-13 20:28] dimbleby commented on #24661
One more thought, perhaps the most important one really: wouldn't it be nice if the workflows for this repository checked the type annotations, so that such things were caught before they were shipped?

[2022-06-13 23:31] JimacoMS4 commented on #24336
@anthonyvercolano I think we closed on this correct?

[2022-06-13 23:57] #24775 closed

[2022-06-14 01:30] #24694 closed

[2022-06-14 06:50] #24757 closed

[2022-06-14 07:39] Wzb123456789 commented on #24606
Hi @Bubblyworld, thank you for your feedback.
After investigation, the `ApplicationInsightsManagementClient` method in the code you provided is missing the necessary parameter `subscription_id`.

It is also suggested in the [document](https://docs.microsoft.com/en-us/python/api/azure-mgmt-applicationinsights/azure.mgmt.applicationinsights.applicationinsightsmanagementclient?view=azure-python) that

[2022-06-14 13:40] stockersky commented on #24785
Hi @vincenttran-msft and @jalauzon-msft. Thanks a lot for your precious support.

Yes, this is very interesting. I have a first Proof of Concept that works well : point is to manage backup & restore of CosmosDB database with the MongoDB API.

Here is a little code snippet:

[code]

As you can see, my use of the BytesIO object is really sub-optimal. Because, in the end, it holds the whole database

[2022-06-14 14:55] bluenote10 opened #24836 "Storage clients should handle AzureNamedKeyCredential as credential"
**Is your feature request related to a problem? Please describe.**

The storage clients (blob, queue, ...) doesn't seem to support the type `AzureNamedKeyCredential`. This is inconsistent with many other parts of the API. For instance the table client allows it:

https://github.com/Azure/azure-sdk-for-python/blob/c8a02681b2cff658237e9ea117ee67e65a8c79ca/sdk/tables/azure-data-tables/azure/data/tabl

[2022-06-14 15:10] kashifkhan commented on #24836
@bluenote10 Thanks for your feedback, we'll investigate asap.

[2022-06-14 15:17] stockersky commented on #24785
Actually, I ended up trying this :

[code]

Pretty fast and no objects growing in memory.

[2022-06-14 17:49] ShunChi100 opened #24839 "Inconsistent code"
"Adding documents to your index"and "Creating an index" codes are inconsistent. Cannot just copy and run.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b717f98-d488-97cb-ba1c-e98acf57ff3e
* Version Independent ID: 420a4d45-cabe-c129-7f47-a6b1ddbda10e
* Content: [Azure Cognitive Search client li