[2022-10-20 13:23] marlinspike commented on #23245
Confirmed. **AzureCLICredential()** works, but not **DefaultAzureCredential()**

This seems to be a regression, since it's worked in the past. I find the suggestion to use AzureCLICredential() as a workaround daft, since the purpose of DefaultAzureCredential() is to write Auth code once and push it to any environment. I'm never logging in using CLI in a production container.

[2022-10-20 13:42] marlinspike opened #26950 "DefaultAzureCredential doesn't authenticate successfully (even when logged in via CLI)"
- **Package Name**: azure.identity
- **Package Version**: 1.11.0
- **Operating System**: MacOS 12.6
- **Python Version**: 3.10.8

**Describe the bug**
DefaultAzureCredential() fails, but AzureCliCredential() works. This breaks the expected behavior for DefaultAzureCredential().

Here's the error:

DefaultAzureCredential failed to retrieve a token from the included credentials.
Attempted credential

[2022-10-20 14:16] nswitanek opened #26951 "amlsdkfeedback@microsoft.com is no longer a live email address"
We invite feedback on SDK v2 on the README of https://github.com/Azure/azureml-examples/tree/sdk-preview/sdk, but the linked email address, amlsdkfeedback@microsoft.com, is no longer valid.

Please either update the email address or direct all feedback to github issues.

[2022-10-20 14:16] azure-sdk commented on #26951
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.17322378,Docs:0.1410335,Compute:0.062266905'

[2022-10-20 15:28] xiangyan99 commented on #23245
Thanks for your feedback.

Please feel free to open a new issue and share your environment and error log.

[2022-10-20 15:39] xiangyan99 commented on #26951
@azureml-github

[2022-10-20 15:42] xiangyan99 commented on #26950
This is because latest VSCode does not work with our VSCodeCred.

For now, you can disable VSCodeCred by using

[code]

It will be disabled by default in next release (in Nov.)

For more details, please see https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/TROUBLESHOOTING.md#troubleshoot-visualstudiocodecredential-authentication-issues.

[2022-10-20 16:02] marlinspike commented on #23245
https://github.com/Azure/azure-sdk-for-python/issues/26950

[2022-10-20 16:15] tjprescott commented on #26922
@bandsina can you answer @pievalentin's question? cc/ @azureml-github

[2022-10-20 16:15] tjprescott commented on #26947
@bandsina can you offer any advice to @fc90? cc/ @azureml-github

[2022-10-20 16:31] harneetvirk commented on #26947
We tried installing both azure-ai-ml and azureml-flow together as part of the same command in the conda environment, but pip didn't report any compatibility issues.

(azmlflow39) C:\Users\test>pip install azureml-mlflow azure-ai-ml
Collecting azureml-mlflow
  Downloading azureml_mlflow-1.46.0-py3-none-any.whl (811 kB)
     ---------------------------------------- 811.6/811.6 kB 12.7 MB/s eta 0:00:

[2022-10-20 16:57] luigiw commented on #26922
@pievalentin you can do `ml_client.jobs.list(parent_job_name="sweep-job-name")`

[2022-10-20 17:19] swathipil commented on #26229
credentials:
- EventHubSharedKeyCredential:

| kwargs/exception | test file | test case | passed? |
| ------------ | ------------------ | --------- | --------- |
| valid key_name, access_key | test_auth.py, test_auth_async.py | test_client_sas_credential | y |

[2022-10-20 18:02] pievalentin commented on #26922
@luigiw Thank you for answer.
Continuing on your answer, I have the following code:
[code]

[2022-10-20 18:37] heaths opened #26955 "Conversational summarization is returning warnings for CLU 2022-10-01-preview"
What was returned before containing aspecs issue and resolution is now returning warnings like GenerationFailure. I will disable assertions in tests for now until this is resolved.

[2022-10-20 18:38] azure-sdk commented on #26955
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Monitor - ApplicationInsights:0.057679564,Machine Learning:0.053544216,Authorization:0.04272917'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.53450084,Client:0.46215668,Service:0.0023708334'

[2022-10-20 18:44] #26443 closed

[2022-10-20 18:54] pievalentin commented on #26922
Ok I guess I won't be able to have the same behavior as the sdk v1. Here is the closest thing I have for retrieving the ouput of a single trial of a sweep job.
[code]
[code]
Now you can doanload the output directory.
[code]
I am not sure if the mlflow API enable file renaming

Hope this help someone in the future

[2022-10-20 19:31] jbernardini commented on #18217
no we're just an API consumer like you, but we had to have it working in production.Sent from my iPhoneOn Oct 20, 2022, at 12:34 PM, James Harr ***@***.***> wrote:﻿
Is your operational patch going to be put into a release of this SDK soon?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-20 19:35] fc90 commented on #26947
@harneetvirk and @tjprescott Thank you for the quick help. We are using pip-compile to generate a requirements.txt from a requirements.in file, and the screenshot is actually the output of this tool. It seems to be an issue of pip-compile which is not able to resolve the dependencies. After adding the constraint **azure-storage-file-datalake<12.9** manually, it's now working.

[2022-10-20 19:51] #26922 closed

[2022-10-20 19:58] pievalentin opened #26958 "[Question] How do I run an exhaustive sweep job?"
- **Package Name**:  azure.ai.ml.sweep
- **Package Version**:  1.0.0
- **Operating System**: Ubuntu
- **Python Version**: py38

Here is the config I have for my sweep job

[code]
This get submitted successfully. Thing is the trials that AzML generate are not exhaustive. period does not go up to 23 even though I submitted a `range(12,24)`

TL;DR How do I perform a complete grid search?

[2022-10-20 19:58] azure-sdk commented on #26958
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute:0.29606834,Service Bus:0.05661819,Storage:0.05000894'

[2022-10-20 20:05] skylernorgaard-syk opened #26959 "Unable to connect to blob storage from AzureML notebook (using abfss: method)"
- **Package Name**: AzureML Notebook (with AzureML SDK V2)
- **Package Version**: 2
- **Operating System**: AzureML notebook
- **Python Version**: 3.10

**Describe the bug**
We’re facing some challenges when trying to (easily) connect to the data in our Azure blob storage from an AzureML notebook. In the [docs](https://learn.microsoft.com/en-us/azure/machine-learning/concept-data?tabs=uri-file-exa

[2022-10-20 20:05] azure-sdk commented on #26959
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5642203,Azure.Core:0.13535,Machine Learning:0.05893651'

[2022-10-20 20:19] tommy-dunn commented on #26840
/unresolve

[2022-10-20 20:22] tommy-dunn commented on #26840
your resolution to this issue was to tell me that duplicate resource names cannot exist? I already know that from the output of the error. please tell me this was a joke @tjprescott

[2022-10-20 20:58] pievalentin commented on #26958
Ok my bad it was an easy fix. The grid option do an exhaustive search. Just make sure that here
`sweep_job.set_limits(max_total_trials=20, max_concurrent_trials=10, timeout=7200)`
You specify a `max_total_trials` that encompass all the combination.

[2022-10-20 20:58] #26958 closed

[2022-10-20 21:33] #25772 closed

[2022-10-20 21:40] #10071 closed

[2022-10-20 21:40] luigiw commented on #10071
Closing as Estimators are deprecated.

[2022-10-20 21:59] luigiw commented on #15261
Hello, I'm closing this issue as v1 SDK is in maintenance only mode. Please consider upgrading to v2 SDK. https://learn.microsoft.com/en-us/azure/machine-learning/concept-v2#azure-machine-learning-python-sdk-v2

[2022-10-20 21:59] #15261 closed

[2022-10-20 22:01] jamesharr commented on #18217
How simple is your patch?

[2022-10-20 22:14] harneetvirk commented on #26951
The main branch has been updated to include the instructions to share the feedback with the product team:
https://github.com/Azure/azureml-examples/tree/main/sdk/python

[2022-10-20 22:26] harneetvirk commented on #26841
This seems like an issue with pyOpenSSL package. Could you please try uninstalling the package: pyOpenSSL from the environment?

[2022-10-20 23:41] luigiw commented on #26922
@pievalentin thx for sharing your solution. Another thing you can try is `ml_client.jobs.download(name=trial.name)`

[2022-10-20 23:54] luigiw commented on #16805
Closing legacy issue.

Please consider upgrading to AzureML CLI/SDK v2. https://learn.microsoft.com/en-us/azure/machine-learning/concept-v2

[2022-10-20 23:55] luigiw commented on #18501
Closing legacy issue.

Please consider upgrading to AzureML v2 CLI/SDK. https://learn.microsoft.com/en-us/azure/machine-learning/concept-v2

[2022-10-20 23:55] #18501 closed

[2022-10-20 23:56] luigiw commented on #18597
Closing legacy issue.

Please consider upgrading to AzureML v2 CLI/SDK. https://learn.microsoft.com/en-us/azure/machine-learning/concept-v2

[2022-10-20 23:56] #18597 closed

[2022-10-20 23:58] luigiw commented on #19003
@cloga please add this feature request to the proper backlog. I'm closing this issue for now.

[2022-10-20 23:58] #19003 closed

[2022-10-20 23:59] luigiw commented on #19563
Closing legacy issue.

Please consider upgrading to AzureML v2 CLI/SDK. https://learn.microsoft.com/en-us/azure/machine-learning/concept-v2

[2022-10-20 23:59] #19563 closed

[2022-10-21 00:00] luigiw commented on #19426
Closing legacy issue.

Please consider upgrading to AzureML v2 CLI/SDK. https://learn.microsoft.com/en-us/azure/machine-learning/concept-v2

[2022-10-21 00:00] #19426 closed

[2022-10-21 00:00] luigiw commented on #19960
Closing legacy issue.

Please consider upgrading to AzureML v2 CLI/SDK. https://learn.microsoft.com/en-us/azure/machine-learning/concept-v2

[2022-10-21 00:00] #19960 closed

[2022-10-21 00:02] luigiw commented on #19976
The ask is added to backlog already. Closing for now.

[2022-10-21 00:02] #19976 closed

[2022-10-21 00:02] luigiw commented on #20149
Closing legacy issue.

Please consider upgrading to AzureML v2 CLI/SDK. https://learn.microsoft.com/en-us/azure/machine-learning/concept-v2

[2022-10-21 00:02] #20149 closed

[2022-10-21 00:02] luigiw commented on #20222
Closing legacy issue.

Please consider upgrading to AzureML v2 CLI/SDK. https://learn.microsoft.com/en-us/azure/machine-learning/concept-v2

[2022-10-21 00:02] #20222 closed

[2022-10-21 00:04] luigiw commented on #20937
Closing legacy issue.

Please consider upgrading to AzureML v2 CLI/SDK. https://learn.microsoft.com/en-us/azure/machine-learning/concept-v2

This can be addressed by workspace connections in v2. Here are some examples. https://github.com/Azure/azureml-examples/blob/main/sdk/python/resources/connections/connections.ipynb

[2022-10-21 00:04] #20937 closed

[2022-10-21 00:06] luigiw commented on #21419
Closing legacy issue.

@ynpandey can you help to share a link to the new v2 mltable package?

[2022-10-21 00:06] #21419 closed

[2022-10-21 00:08] luigiw commented on #21713
Closing legacy issue. @h-vetinari please create a new issue if you have the same ask for AzureML SDK v2 packages.

https://learn.microsoft.com/en-us/azure/machine-learning/concept-v2

[2022-10-21 00:08] #21713 closed

[2022-10-21 00:10] luigiw commented on #21725
Closing legacy issue.

Please consider upgrading to AzureML v2 CLI/SDK. https://learn.microsoft.com/en-us/azure/machine-learning/concept-v2

[2022-10-21 00:10] #21725 closed

[2022-10-21 00:10] luigiw commented on #21740
Closing legacy issue.

Please consider upgrading to AzureML v2 CLI/SDK. https://learn.microsoft.com/en-us/azure/machine-learning/concept-v2

[2022-10-21 00:10] #21740 closed

[2022-10-21 00:11] luigiw commented on #21741
Closing legacy issue. @janluke AzureML SDK v2 is open source. Please create a different issue if you have the same ask for v2 Python SDK.

Please consider upgrading to AzureML v2 CLI/SDK. https://learn.microsoft.com/en-us/azure/machine-learning/concept-v2

[2022-10-21 00:11] #21741 closed

[2022-10-21 00:18] luigiw commented on #22441
I don't think you need to do anything special once a workspace connection is added for your private feed. @vizhur correct me if I was wrong here.

[2022-10-21 00:22] vizhur commented on #22441
for base image + conda spec case we'll update urls from the spec with the auth from ws connections using the closest match (if there are multiple connections for the same host name)

[2022-10-21 01:49] h-vetinari opened #26968 "package azureml-* v2 for conda-forge"
_Originally posted by @luigiw in https://github.com/Azure/azure-sdk-for-python/issues/21713#issuecomment-1286295527_

Not legacy, need is still there.

[2022-10-21 02:52] Wzb123456789 commented on #26747
Hi @ImMin5 thanks for your feedback.

Suggest try to use `list_by_resource_group` to solve your problem, like:
`ContainerInstanceManagementClient.container_groups.list_by_resource_group()`
https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/operations/_container_groups_operations.py#L439

[2022-10-21 03:16] #26778 closed

[2022-10-21 04:04] #26604 closed

[2022-10-21 04:12] ImMin5 commented on #26747
Hi @Wzb123456789 thanks for your suggestion.

Your solution seems like best for me.
but finally I want to get all `Container Instances` resources under my subscription by one call.
that because i want to reduce network latency as much as possible

[2022-10-21 04:23] vjrantal commented on #5315
If someone is looking for a functional end-to-end sample in Python, you can find one here https://github.com/vjrantal/event-hub-publisher-policy-sample.

[2022-10-21 06:20] Wzb123456789 commented on #26403
Hi @aeetos

According to my investigation, you can get information including `subPlan` field using:
[code]
Hope it can help you

[2022-10-21 08:09] thomasfrederikhoeck commented on #22441
@vizhur   Hmm. okay. This issue was actually created because this didn't happen with managed endpoints but only for v1 ACIs?
I don't think the logic surrounding private pip is very transparent. What happens if I create a private pip connection but don't specify a `--index-url` in the `pip` section of the conda spec? Is it still used?

[2022-10-21 09:11] janluke commented on #21741
Isn't `Model` still part of the Python SDK for v2?

[2022-10-21 09:32] AFengKK opened #26974 "Cosmos DB samples issues"
1.

Section [link1](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/cosmos/azure-cosmos/samples/database_management.py#L68), [link2](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/cosmos/azure-cosmos/samples/database_management_async.py#L80), [link3](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/cosmos/azure-cosmos/samples/container_management.py#L190
), [lin

[2022-10-21 09:43] janluke commented on #21741
Okay, I guess in v2 you use the `Model` class from `azure.ai.ml`: https://learn.microsoft.com/en-us/python/api/azure-ai-ml/azure.ai.ml.entities.model?view=azure-python

[2022-10-21 15:16] GyroKGL opened #26979 "Any operation on ledger client in Azure Confidential Ledger faced with NotAllowed error"
- **Package Name**: azure-confidentialledger
- **Package Version**: 1.0.0
- **Operating System**: Windows 10
- **Python Version**: 3.10.6

**Describe the bug**
 Azure Confidential Ledger client created in Python cannot execute any operations like `create_ledger_entry` or `get_user` and faces with `HttpResponseError: (NotAllowed) Not allowed to call POST`

**To Reproduce**
The Following code was us

[2022-10-21 17:34] tjprescott commented on #26968
@bandsina please take a look at @h-vetinari's issue. cc @azureml-github

[2022-10-21 17:35] azure-sdk commented on #26959
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5642203,Azure.Core:0.13535,Machine Learning:0.05893651'

[2022-10-21 17:35] tjprescott commented on #26959
@bandsina please take a look at @skylernorgaard-syk's question. cc @azureml-github

[2022-10-21 17:45] tjprescott commented on #26979
@SaurabhSharma-MSFT can you route @GyroKGL's question to the Confidential Ledger team?

[2022-10-21 17:54] maxnewbould commented on #26606
Environment related, I can't recreate now.  Thanks

[2022-10-21 19:05] poocat opened #26982 "`SharedTokenCacheCredential` with Custom `TokenCachePersistenceOptions` Does Not Persist"
I am not getting the `SharedTokenCacheCredential` to work as expected. Considering the following script:

[code]

The first time, it runs as expected. At `credential.get_token(...)`, a browser tab opens and I am prompted to sign in. On successful sign in, it generates the token, and the script returns.

On all subsequent runs, it does _not_ behave as expected.

- **Expected:** the token should be

[2022-10-21 19:46] amarco opened #26984 "domain list empty"
When I run the following code the domain list returned is unexpectedly empty. The code runs without errors.
I am not sure why this would be the case as when I create login credentials from the command line  and use creds = identity.AzureCliCredential()  instead of generating creds it works.

import functools
import logging
from typing import Any, Dict, List
from azure import identity
from azure.id

[2022-10-21 19:58] #26955 closed

[2022-10-21 19:59] scbedd commented on #4554
Hey @Prernajha2609, apologies for the late response, I've been quite buried under an upcoming release.

We built a markdown scanner that can evaluate documents and ensure that they follow the basic structure that we decide. In this case, we have decided that we want our readmes to at least have the major sections:

- Azure .+ client library for Python
- ^Getting started$
- ^Key concepts$
- ^Exampl

[2022-10-21 20:42] kristapratico commented on #26195
And CustomConversationSummarization

[2022-10-21 20:50] heaths commented on #26933
@mikaelsitruk @mhurst-microsoft could you help answer this? From looking over the added job status monitors I don't think these are wrong as authored, but confirmation would be appreciated.

[2022-10-21 20:52] mhurst-microsoft commented on #26933
Hi Heath - can you provide the reference / link?

Matt
________________________________
From: Heath Stewart ***@***.***>
Sent: Friday, October 21, 2022 1:50 PM
To: Azure/azure-sdk-for-python ***@***.***>
Cc: Matthew Hurst ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-python] [CLU] authoring LROs may need return types (Issue #26933)

@mikaelsitruk<https://nam06.safelinks.prot

[2022-10-21 20:58] heaths commented on #26933
Sorry, but I'm not sure to what link you reference. The description in the original issue post lists the newly-added CLU authoring operations and what those operations result in. For LROs, for example, the operation returns a 202 with an `Operation-Location` header; however, for *some* operations in the SDK we end up polling that location until a terminal state is found, then we GET a resource - t

[2022-10-21 22:58] mikaelsitruk commented on #26933
I cannot really answer for CLU authoring, but LRO without a job status seems strange.

[2022-10-21 23:08] heaths commented on #26933
The LRO has job status. I'm asking if any of these LROs eventually result in a model. Example flow:

1. POST returns an Operation-Location
2. While status != terminal, GET operation location
3. If status == success, GET ??? to get final result

Alternatively, the status object might also end up with extra properties when status == "success", though those are technically supposed to be nested withi

[2022-10-21 23:20] lynshi commented on #26979
Hi @GyroKGL, sorry for the inconvenience! This can happen if the identity retrieved by `DefaultAzureCredential` is not registered in the Confidential Ledger as an allowed user. Some possible explanations:
1. Multiple identities are available in the environment in which you have run the code. For example, the code is run on a virtual machine with an assigned identity and you have separately logged

[2022-10-24 01:26] coreyryanhanson opened #26993 "Large file timeout error in azure-storage-file-datalake"
- azure-storage-file-datalake:
- 12.9.1:
- Debian Bullseye:
- 3.10.5:

**Describe the bug**
No matter what I've tried I've gotten failed uploads for an unknown timeout when sending large files to the data lake.

**To Reproduce**
Steps to reproduce the behavior:
I uploaded a 109 MB zip file using the upload_data method on an instance of the DataLakeFileClient class with a very generous timeout argu

[2022-10-24 04:20] pvaneck commented on #26982
Hey, @poocat. Thanks for reporting the issue.

Can you try setting the cache name to "msal.cache" (the default cache name) or removing `cache_persistence_options` from each of the credentials? I believe the custom cache name may not be propagating correctly, and `SharedTokenCacheCredential` keeps looking for "msal.cache" (which doesn't exist) instead of "my.cache".

[2022-10-24 05:06] ImMin5 commented on #26747
Hi again @Wzb123456789

I did test `list_by_resource_group`.
As a result that method also didn't have some information for example instance view.

Here are screen shots.
- list_by_resource_group()
![image](https://user-images.githubusercontent.com/38625842/197451808-b86d4731-77c1-4674-881a-0387b12f40a4.png)

- get()
![image](https://user-images.githubusercontent.com/38625842/197452195-fe267d56-8cc

[2022-10-24 05:55] Wzb123456789 commented on #26558
Hi @ChronosSong thanks for your feedback!

I found that there is some problem with the parameter format you fill in the function, I suggest you try the following ways to solve your problem，like
[code]

[2022-10-24 07:08] MrNickArcher opened #26997 "azure.identity.ManagedIdentityCredential does not work in Synapse Analytics notebook"
- **Package Name**: azure.identity
- **Package Version**: 1.5.0
- **Operating System**: Synapse Analytics (Linux vm-d0268763 4.15.0-1151-azure <i>#</i>166-Ubuntu SMP Tue Sep 6 17:42:35 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux)
- **Python Version**:  3.8.10 | packaged by conda-forge | (default, May 11 2021, 07:01:05) \n[GCC 9.3.0]

**Describe the bug**

Attempt to use `ManagedIdentityCredential` in

[2022-10-24 07:09] azure-sdk commented on #26997
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.39929336,Storage:0.39017525,Event Hubs:0.016472006'

[2022-10-24 07:53] wiwski commented on #26921
Thanks @Wzb123456789 for the workaround but the code is executed correctly. The problem is the wrong typing that triggers mypy error.
Your code is functional but it will make a second call with `deployment = ResourceManagementClient(...).deployments.get(...)` which is not necessary.
/unresolve

[2022-10-24 07:54] wiwski commented on #26921
/unresolve

[2022-10-24 08:10] GyroKGL commented on #26979
@lynshi Thank you for the clear explanation! The problem was solved by **adding the AAD app as a user using the object id of its Enterprise application** and also by using an explicit authentication credential, other than the `DefaultAzureCredential` shown in the example above.

Thank you so much!

[2022-10-24 08:10] #26979 closed

[2022-10-24 09:28] msyyc commented on #26446
Hi @ralucachintoanu Did the api work before?

[2022-10-24 11:04] ralucachintoanu commented on #26446
I'm not sure. I mean, yes I've used this api before, actually the same code used to work before and at some point just stopped working. But I'm not sure if when it used to work, we had more than 50 linked services (because with <= 50 linked services it works even now) and at some point we just created more linked services and this is the reason it stopped working.

I've just tested the new version

[2022-10-24 13:17] chrissmiller commented on #26839
/unresolve Discussed this further offline, but did not come to any resolution. Workaround has been removing the stubbed async smoke test, but the issue remains present if we add it back.

[2022-10-24 15:44] rosshukla1 opened #27007 "Security Center Workspace Setting Returns an Error Message Even When Successful"
Package Name: azure.mgmt.security
Package Version: 2017_08_01_preview
Operating System: Linux (ubuntu 20.04)
Python Version: 3.9.14

Describe the bug: When deleting a workspace setting, the operation is successful and returns 200 OK but still returns an error message:

File "***/azure/mgmt/security/v2017_08_01_preview/operations/_workspace_settings_operations.py", in delete
    raise HttpResponseE

[2022-10-24 15:56] lmazuel commented on #26968
@xiangyan99 actually this one is for you, add `azure-ai-ml` to our conda channel.

cc @annatisch

[2022-10-24 18:45] poocat commented on #26982
@pvaneck thank you very much for your reply.

Switching the name to `"msal.cache"` worked!

Removing `cache_persistence_options` did not.

[2022-10-24 20:22] swathipil commented on #26984
Hi @amarco - Thanks for opening an issue! We'll investigate as soon as possible.

[2022-10-24 20:24] swathipil commented on #26993
Hi @coreyryanhanson - Thanks for your descriptive bug report! Tagging the right people to take a look at this as soon as possible.

[2022-10-24 20:28] swathipil commented on #26997
Hi @MrNickArcher - Thanks for the detailed instructions on reproducing the behavior! We'll take a look as soon as possible!

[2022-10-24 20:34] swathipil commented on #27007
Hi @rosshukla1 - Thanks for opening an issue. It looks like you're using quite an old version of the `azure-mgmt-security` package. The most recent stable version is [v2022_05_01](https://learn.microsoft.com/en-us/python/api/azure-mgmt-security/azure.mgmt.security.v2022_05_01?view=azure-python). Would you be able to test with this version of the package?

[2022-10-24 20:41] xiangyan99 commented on #26997
Thanks for reaching out.

Unfortunately, azure-identity does not work for the jobs that run in synapse workspace.

For more information, you can check https://learn.microsoft.com/en-us/azure/synapse-analytics/synapse-service-identity?context=%2Fazure%2Fsynapse-analytics%2Fcontext%2Fcontext.

[2022-10-24 20:44] xiangyan99 commented on #26984
Thanks for reaching out.

Could you help share the information which packages you used? (and which versions)

[2022-10-24 20:46] amarco commented on #26984
#azure-common           1.1.28
#azure-core             1.26.0
#azure-identity         1.11.0
#azure-mgmt-compute     29.0.0
#azure-mgmt-core        1.3.2
#azure-mgmt-resource    21.2.1
#azure-mgmt-storage     20.1.0
#azure-mgmt-web         7.0.0
#azure-storage-blob     12.14.1

[2022-10-24 20:52] xiangyan99 commented on #26984
Could you try

[code]

[2022-10-24 20:57] amarco commented on #26984
I got what appears to be a token returned but the domain list is still empty

[2022-10-24 21:05] xiangyan99 commented on #26984
Then may be an azure-mgmt-storage problem.

@msyyc could you take a look?

[2022-10-24 21:16] rosshukla1 commented on #27007
Hello  @swathipil :
sec_instance = SecurityCenter(subscription_id=SUBSCRIPTION_ID, credential=new_credential, api_version='2022-05-01')

When I try to specify the api version above ^, I get this error: API version 2022-05-01 does not have operation group 'workspace_settings'.

I also saw this on the documentation: workspace_settings Instance depends on the API version: 2017-08-01-preview
https://l

[2022-10-24 22:23] luigiw commented on #23158
It is now recommended to use v2 endpoints for this use case. Please consider upgrading. https://learn.microsoft.com/en-us/azure/machine-learning/v1/how-to-deploy-azure-container-instance

[2022-10-24 22:23] #23158 closed

[2022-10-24 22:25] luigiw commented on #23277
@janluke v1 SDK is in maintenance only mode in favor of the v2 SDK being GA. Please file an issue for v2 SDK if your requests stand for v2.
https://learn.microsoft.com/en-us/azure/machine-learning/how-to-migrate-from-v1

[2022-10-24 22:25] #23277 closed

[2022-10-24 22:29] luigiw commented on #23278
@janluke v1 SDK is in maintenance only mode in favor of the v2 SDK being GA. Please file an issue for v2 SDK if your requests stand for v2.
https://learn.microsoft.com/en-us/azure/machine-learning/how-to-migrate-from-v1

[2022-10-24 22:29] #23278 closed

[2022-10-24 22:30] luigiw commented on #23538
v1 SDK is in maintenance only mode in favor of the v2 SDK being GA. Please file an issue for v2 SDK if your requests stand for v2.
https://learn.microsoft.com/en-us/azure/machine-learning/how-to-migrate-from-v1

[2022-10-24 22:30] #23538 closed

[2022-10-24 22:31] luigiw commented on #24144
v1 SDK is in maintenance only mode in favor of the v2 SDK being GA. Please file an issue for v2 SDK if your requests stand for v2.
https://learn.microsoft.com/en-us/azure/machine-learning/how-to-migrate-from-v1

[2022-10-24 22:31] #24144 closed

[2022-10-24 22:33] luigiw commented on #25059
@annatisch this is done for v2 SDK. Can we close this now?

[2022-10-24 22:34] luigiw commented on #25365
@hugoaponte FYI.

[2022-10-24 22:35] #26900 closed

[2022-10-24 23:04] lmazuel commented on #16861
Update, code using conditional import because of Python 2 should disapear:
[code]
or
[code]

[2022-10-24 23:05] lmazuel commented on #16993
As EG don't ship models anymore, not needed anymore

[2022-10-24 23:05] #16993 closed

[2022-10-24 23:08] lmazuel commented on #20926
Will revisit later if necessary

[2022-10-24 23:08] #20926 closed

[2022-10-24 23:09] lmazuel commented on #19797
Checked with @mccoyp , no longer needed

[2022-10-24 23:09] #19797 closed

[2022-10-24 23:16] lmazuel commented on #24197
Checked with @swathipil this was internal work only, closing the issue

[2022-10-24 23:16] #24197 closed

[2022-10-24 23:18] lmazuel commented on #20378
As the package is no longer maintained, we do not plan to add `azure-identity` support.

Please use https://pypi.org/project/azure-monitor-query/ for query, and our telemetry SDK for logging activity like https://pypi.org/project/azure-core-tracing-opentelemetry/ to replace it.

[2022-10-24 23:18] #20378 closed

[2022-10-24 23:41] annatisch commented on #25059
Yup!

[2022-10-24 23:41] #25059 closed

[2022-10-25 00:07] vincenttran-msft commented on #26993
Hi @coreyryanhanson Corey, thanks for your inquiry. Can you please try adding the following parameter to your `upload_data` API call: `connection_timeout=3000`

Hopefully that can help to unblock your workflow, but please reach out if that is not the case.

Thanks!

[2022-10-25 00:37] david-msft commented on #13033
is this going to be in .net SDK as well?

[2022-10-25 00:57] waqassiddiqi commented on #25365
@rdzotz well we didn't find any solution, so reverted back to v1 sdk

[2022-10-25 01:02] jalauzon-msft commented on #26993
@coreyryanhanson Corey, to provide some additional information. An upload through the `upload_data` API will split the upload into 100 MiB chunks by default. Then there is a client-side timeout, `connection_timeout`, that defaults to 20 seconds. If you are unable to upload the 100 MiB in 20 seconds, you will get the client-side timeout error as you have. The `timeout` keyword you set is the **serv

[2022-10-25 01:05] mccoyp opened #27015 "[Test Proxy] Write script for pushing recording assets"
See https://github.com/Azure/azure-sdk-tools/pull/4458#discussion_r1003778974. We should have a script in the Python repository that can populate the necessary Git configuration variables, most likely using the `.env` file that should already be present for tests. The script should accept the test proxy push command arguments but populate everything else automatically.

[2022-10-25 01:06] azure-sdk commented on #27015
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.32689387,Extensions:0.050768666,Storage:0.028663576'

[2022-10-25 01:40] MrNickArcher commented on #26997
As I demonstrated, azure-identity *does* work in synapse if Microsoft wants it to.
It is needed for some use-cases such as accessing storage queue from a synapse python notebook. (Synapse only really has convenient mechanisms to access blob storage and basically nothing else) The alternative is to use keyvault + storage account access key to access the queue. I don't understand why Microsoft prefe

[2022-10-25 01:52] mccoyp commented on #17129
Resolved by https://github.com/Azure/azure-sdk-for-python/pull/22368

[2022-10-25 01:52] #17129 closed

[2022-10-25 02:06] msyyc commented on #27007
@Wzb123456789 Please help on this issue

[2022-10-25 02:07] msyyc commented on #26984
we will take an investigation asap

[2022-10-25 02:29] #26446 closed

[2022-10-25 05:32] coreyryanhanson commented on #26993
Setting the other timeout value did the trick. Thank you!!!

[2022-10-25 07:29] rdzotz commented on #25365
@waqassiddiqi In my case this issue was resolved by `pip install azureml-defaults`. Obviously this is not the root of the problem though hopefully it unblocks your use of CLI V2

[2022-10-25 07:39] morpel opened #27023 "High memory usage in multiple async files upload"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.12.0, 12.14.0
- **Operating System**: linux
- **Python Version**: 3.6.9, 3.8, 3.10

**Describe the bug**
We are using the `azure.storage.blob.aio` package to upload multiple files to our storage container. In order to make the upload efficient, we are creating a batch of async upload tasks and executing them all using `await asyncio.

[2022-10-25 09:12] zedy-wj opened #27024 "[Event Hub] Deploy test resources failed: DatabaseAccount is in a failed provisioning state."
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
Deploying test resources error occurred in all environments under `China cloud`. The error message was shown as below:
[code]

For more details, please click [here](https://dev.azure.com/azure-sdk/internal/_build

[2022-10-25 09:12] azure-sdk commented on #27024
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.13106398,EngSys:0.12765792,ARM:0.113638476'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.5242262,Client:0.4608038,Service:0.014240665'

[2022-10-25 14:44] poocat commented on #26982
Yes, it has been addressed. Thank you!

In the meantime, until the bug gets fixed in a later release, it might be best to change the [documentation](https://learn.microsoft.com/en-us/python/api/azure-identity/azure.identity.tokencachepersistenceoptions?view=azure-python) so that it does not urge you in an enormous font to "specify a cache name to isolate the cache from other applications".

[2022-10-25 17:17] swathipil commented on #27023
Hi @morpel - Thanks for the detailed report! We'll investigate asap!

[2022-10-25 17:22] swathipil commented on #27024
Hey @benbp - Do you know if this is expected behavior and how to resolve this?

[2022-10-25 17:27] SaurabhSharma-MSFT commented on #26558
@Wzb123456789 Thanks for looking into this but I have tried your code, but it is throwing error.
![image](https://user-images.githubusercontent.com/38112130/197841645-6aa5d53d-6cc3-4ddc-90cf-2164ae6d9f69.png)

[2022-10-25 17:35] vincenttran-msft opened #27029 "[Storage] Improve documentation of `connection_timeout` for `upload_data` API"
It has come to our attention in a couple GitHub issues that often times even if one sets the `timeout` parameter which is exposed in the docstring, the issue that customers are facing is that the **connection** hits the client-side default of 20 seconds.

Although not exposed, `connection_timeout` does get parsed with certain APIs (including `upload_data`), and so we should consider to either impr

[2022-10-25 17:40] #26993 closed

[2022-10-25 17:48] pvaneck commented on #26982
Hah, yea, the formatting is messed up on that doc page and will be fixed in the next release. Meanwhile, I opened #27030 which should fix the issue here.

[2022-10-25 18:44] ShivangiReja opened #27032 "[App Configuration] Add Key-value snapshots feature"
Key-value snapshots allow developers to create a point-in-time snapshot of their configuration store. These snapshots are immutable. They can be deleted, but will have soft-delete enforced. During creation, developers can add filters to their snapshots to filter what key-values get put inside. This allows developers to create immutable, composed views of their configuration store that they can rel

[2022-10-25 20:37] YalinLi0312 opened #27035 "[ACR] Enable to run samples in live pipelines"
Samples are not set to run in weekly live tests pipelines, need to make the same setting like in [Tables](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/tables/tests.yml#L18). May need to fix some errors in samples tests.

[2022-10-25 20:38] azure-sdk commented on #27035
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3157079,Tables:0.1781701,Data Factory:0.1368856'

[2022-10-25 20:55] YalinLi0312 opened #27037 "[Tables] Enrich tables copy samples"
We've added samples about copy a table from Tables storage table to Storage blob and vice versa. https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/tables/azure-data-tables/samples/sample_copy_table.py
We still need to provide samples about:
- copy a table from Tables cosmos table to Storage blob (not sure, @annatisch please correct me if it's not necessary)
Update: it's a similar way, we

[2022-10-25 21:51] adrian-gonzalez opened #27038 "Failing to find Subscription ID when targeting AzureUSGovernment Tenant"
- **Package Name**:  MLClient
- **Package Version**:  SDK V2
- **Operating System**:  AML Compute Instance STANDARD_DS11_V2
- **Python Version**: Python 3.10

**Describe the bug**
After initializing an instance of the MLClient module, executing any of it's methods results in the error below.

**To Reproduce**
Steps to reproduce the behavior:

Pre-requirements:
1. Have an AzureUSGovernment tenant a

[2022-10-25 22:03] #26827 closed

[2022-10-25 22:42] #26883 closed

[2022-10-25 23:08] #26176 closed

[2022-10-25 23:30] YalinLi0312 opened #27042 "[Tables] Regen with latest autorest"

[2022-10-25 23:36] annatisch opened #27044 "[Tables] Update to Python 3 inline type hints"
We're still using the old backwards-compatible type hints, e.g.:
https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/tables/azure-data-tables/azure/data/tables/_table_client.py#L375-L380

[2022-10-25 23:58] mimiandcanada commented on #16761
This worked for me.. it wouldve been useful to know this beforehand, someone document this stuff if not already.

[2022-10-26 00:02] TajiHarrisMicrosoft commented on #25365
@waqassiddiqi could I receive the environment.yaml and score.py file used. Also, what region was this done in?

[2022-10-26 00:03] TajiHarrisMicrosoft commented on #25365
@waqassiddiqi could I receive the environment.yaml and score.py file used. Also, what region was this done in?

[2022-10-26 00:50] vincenttran-msft commented on #27029
Resolved, https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-file-datalake/README.md#other-client--per-operation-configuration

[2022-10-26 00:50] #27029 closed

[2022-10-26 03:02] Wzb123456789 commented on #26747
Hi @ImMin5

According to my investigation.

- get()
https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/operations/_container_groups_operations.py#L513

- list()
https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/operations/_contai

[2022-10-26 03:13] Wzb123456789 commented on #26921
@wiwski

I re-tried the code you used and that works fine.
![image](https://user-images.githubusercontent.com/51410816/197925933-2ca9e9eb-5361-4f46-b4e0-9d8f7808044a.png)
It is recommended that you update the `azure-mgmt-resource` to the latest version and try running your code again.

[2022-10-26 03:35] Wzb123456789 commented on #26840
@tommy-dunn

I observed your code, and I found that the `app_gw.ssl_certificates.append(ssl_cert)` you used is wrong, because an `ssl_cert` already exists in `ssl_certificates`, and then you append a `ssl_cert` with the same name directly, so this will lead to Report duplicate resource error.

You can use this code:
[code]
In this way, only the expired ssl_cert is replaced, and the problem of rena

[2022-10-26 04:03] #26888 closed

[2022-10-26 05:05] navba-MSFT commented on #26537
Adding Service team to assist on this.

[2022-10-26 05:06] navba-MSFT commented on #26537
@johngallardo, @ashish93-stack, @sjiherzig, @Satya-Kolluri Could you please look into this issue and provide an update ?

[2022-10-26 06:11] jbernardini commented on #18217
Sorry for the delayed response. I saw this, intended to respond the next morning and then spaced it till tonight. Our patch is pretty basic. We build on Ubuntu 20.04 which includes Python 3.8. We just use the [patch command](https://man7.org/linux/man-pages/man1/patch.1.html).

We install the pip library azure-mgmt-network==18.0.0. I see the line numbers have changed in 22.1.0 as follows:

We have

[2022-10-26 07:51] Wzb123456789 commented on #27007
Hi @rosshukla1

According to my investigation, the status code that the service should return is 204 but it doesn't seem to be, which is not consistent with the swagger definition [here](https://github.com/Azure/azure-rest-api-specs/blob/6e200951429f0953d4ecf189070c758cd1edf7d0/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/workspaceSettings.json#L194-L219).

[2022-10-26 08:10] adrianomartinelli opened #27058 "MLTable and Azure ML Datasets"
Hi,

I am trying to register a dataset with azure ml studio. I have my MLTable artifact on the azure blob store (access level: container).
I am able to load the MLTable with:

[code]
However, if I try to register this dataset with:
[code]

I get the error
[code]
There is a missing `/` in the URL of the error message which might be a problem?

Thanks,

---
#### Document Details

⚠ *Do not edit this

[2022-10-26 08:20] thomasfrederikhoeck commented on #22441
@luigiw @vizhur What you describe is actually what I did (see top of Issue) but it failed? :-) It only looks like updating of URLs happen in environments created by the user and **not** the ones created automatically by AzureML when deploying a MLFlow model to managed endpoints (where the env can't be controlled).

[2022-10-26 10:03] #26347 closed

[2022-10-26 10:56] piotrszajer opened #27064 "Bad request in resource filtering"
- azure-mgmt-resource
- 21.2.1
- Ubuntu 22:
- Python 3.9:

**Describe the bug**
Filtering is not working when combined

**To Reproduce**
This works:
[code]
This also works:
[code]
But this does not work - Bad Request
[code]
**Expected behavior**
Properly filtered items will be returned

[2022-10-26 13:23] potiuk opened #27066 "Support for Python 3.11"
**Is your feature request related to a problem? Please describe.**

I know it is eaarly (Python 3.11 has just been released yesterday) but we are hoping in Apache Airflow to a much faster cycle of adding new Python releases - especially that Pyhon 3.11 introduces huge performance improvements (25% is the average number claimed) due to a very focused effort to increase single-threaded Python perfor

[2022-10-26 13:34] DanielHabenicht commented on #24282
I can reproduce this issue.
On CLI it warns about the missing credentials, but goes ahead by querying for an account key:
[code]

For `AzureCliCredential` it just fails, until one adds his own user to the "Storage Blob Data Contributor" Role in the Storage Account.
So this Issue is more of a feature request:

`AzureCliCredential` should also query for an storage account key when the full credentia

[2022-10-26 15:08] ImMin5 opened #27068 "[Container Instances] ContainerGroups list method result doesn't have instance_view info"
- **Package Name**: azure-mgmt-containerinstance
- **Package Version**:  10.0.0
- **Operating System**: Mac OS
- **Python Version**:  3.8

**Describe the bug**
A clear and concise description of what the bug is.
- container_groups of ContainerInstanceManagementClient list method can't collect `instance_view` info of container filed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Azur

[2022-10-26 16:42] xiangyan99 commented on #26997
Thanks for the feedback.

To make sure we are on same page, synapse does support managed identity.

It has its own implementation hence azure.identity.managedidentity does not work in such environments.

Agreed that it will have better experience if we can integrate them into one package and don't ask customers to be aware of the difference.

[2022-10-26 17:44] swathipil commented on #27058
Hi @adrianomartinelli - Thanks for your bug report! Tagging the right people to take care of this.

[2022-10-26 17:47] swathipil commented on #27058
@azureml-github - can you take a look at this?

[2022-10-26 17:55] #26982 closed

[2022-10-26 18:04] swathipil commented on #27064
Hi @piotrszajer - Thanks for opening an issue! We'll investigate as soon as possible!

[2022-10-26 18:06] ImMin5 opened #27071 "[Web PubSub Service] web_pub_sub's get and list method doesn't work"
- **Package Name**: azure-mgmt-webpubsub
- **Package Version**: 1.0.0
- **Operating System**: Mac OS
- **Python Version**:  3.8

**Describe the bug**
A clear and concise description of what the bug is.

In my case, web_pub_sub's methods didn't work.
they returned `None`.
- get()
- list_by_subsrciption()
- list_by_resource_group()

I refered to these sites
- sdk reference
  - https://github.com/Azu

[2022-10-26 18:17] swathipil commented on #27066
Hi @potiuk - We're actually planning to release azure-core (+ many other `azure-*` libraries!) with Python 3.11 support in the upcoming November release cycle. We're targeting 11/3/2022 for azure-core release.

Side note: We're targeting next week for the `uamqp` with Python 3.11 support release. 🙂

Thanks!

[2022-10-26 18:26] swathipil commented on #27068
Hi @ImMin5 - Thanks for your report! We'll investigate asap!

[2022-10-26 18:28] swathipil commented on #27071
Hi @ImMin5 - Thanks for opening an issue! Tagging the right people to take a look asap!

[2022-10-26 19:07] vincenttran-msft commented on #26919
Hi @christianholland Christian, after speaking with my colleagues, I believe I am seeing what behavior you are observing. It is related to when attempting to access a Storage account that has public access `Disabled` without providing the account key. I am currently working on a fix and will attach it to the issue once it is resolved. Thanks for your contribution 😄

[2022-10-26 19:29] yedeng-anomali opened #27074 "Let Azure Storage get_blob_properties() return part of the properties"
Testing env:
`azure-core==1.24.0`
`azure-storage-blob==12.10.0`
`Operating System: Ubuntu, Mac OS`

Azure Storage blob related APIs provide a function called `get_blob_properties` to return the properties of a blob.
We are using it to poll a blob to check its current properties (e.g. blob size). However, we find that there is no way to define what selected property fields to return. The whole retu

[2022-10-26 20:27] ronniegeraghty opened #27075 "[AppConfig] Support for AAD authentication challenge"
Provide customers with a proper way to obtain AAD authentication tokens with proper audience for different clouds.

[2022-10-26 20:28] azure-sdk commented on #27075
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.12202877,AppAuthentication:0.11863097,App Configuration:0.06922944'

[2022-10-26 20:42] #26857 closed

[2022-10-26 20:43] ronniegeraghty opened #27077 "[AppConfig] Support for configuration snapshot"
Add APIs to the SDK for the new REST APIs of the configuration snapshot feature in App Config.

[2022-10-26 20:58] swathipil opened #27079 "[EventHubs] credential arg should override default credential from connection string"
* Passing in a credential to the client when using `from_connection_string` should override the default credential that's created based on the sas info in the connection string.

* Currently, the following passes and should instead raise an AuthenticationException.
[code]

[2022-10-26 21:09] ronniegeraghty opened #27082 "[Core] Regional Fallback"
Add regional fallback to azure core.

[2022-10-26 21:09] azure-sdk commented on #27082
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.36030927,Cosmos:0.21671401,Azure.Identity:0.10827617'

[2022-10-26 21:28] lcasucciIT opened #27084 "additional actions needed to restore a blob - undelete is not enough"
[Enter feedback here]

In order to successfully restore a blob, undelete command is not enough.
I had to do also get the blob file url and subsequently issue a copy from url from the blob service client for that particular blob file
See this example below, basicaly the last line is what I think needs to be added to the documentation because the undelete only is not enough  :

source_blob = BlobCli

[2022-10-26 21:29] YalinLi0312 commented on #24638
Hi @lovettchris , thanks for reaching us!

We support two update modes - `MERGE`, `REPLACE`- right now, unfortunately we don't have a mode dedicated for `CONDITIONAL_REPLACE`. But it's still possible to update an entity conditionally by `match_condition` and entity's `etag`. The PR reference above includes samples about that, hope it helps.

Thanks

[2022-10-26 21:33] lovettchris commented on #24638
Ah right, I did eventually find that and am using it, works great, thanks.

[2022-10-26 21:33] #24638 closed

[2022-10-26 21:37] ronniegeraghty commented on #27077
duplicate of #27032

[2022-10-26 21:37] #27077 closed

[2022-10-26 21:52] kristapratico opened #27087 "[TA] Entity linking task returns erroneous error about language support"
https://dev.azure.com/msazure/Cognitive%20Services/_workitems/edit/15859145

Marking this as blocking since there should only be a result _or_ an error for a single document. When both is returned, the client library returns the error and disregards the result.

[2022-10-26 21:53] azure-sdk commented on #27087
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive Services:0.32786018,Azure.Core:0.209589,Storage:0.034966055'

[2022-10-26 21:55] kristapratico opened #27089 "[TA] dynamic classification response returns `classifications` instead of `class`"
https://dev.azure.com/msazure/Cognitive%20Services/_workitems/edit/15947340

Marking as blocking since we need to understand (and account for) whether the service behavior will be fixed for the name of the property (or the swagger) in the client library.

We're currently patching this in the client library to look for either `class` or `classifications` (from additional_properties) in the response

[2022-10-26 21:56] azure-sdk commented on #27089
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive Services:0.30598,Storage:0.07981333,Service Bus:0.06363528'

[2022-10-26 21:58] xiangyan99 commented on #16861
https://github.com/Azure/azure-sdk-for-python/pull/27072

[2022-10-26 21:58] potiuk commented on #27066
Fantastic news!

[2022-10-26 21:58] kristapratico opened #27090 "[TA] Abstractive summarization phraseControls returns InvalidParameterValue"
https://dev.azure.com/msazure/Cognitive%20Services/_workitems/edit/15919116

Marking as blocking release since this feature is currently unusable in the API and client libraries.

[2022-10-26 21:59] azure-sdk commented on #27090
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive Services:0.40348378,Azure.Core:0.07070632,Cognitive - Form Recognizer:0.027017122'

[2022-10-26 22:00] kristapratico opened #27091 "[TA] lastUpdateDateTime should be lastUpdatedDateTime"
https://dev.azure.com/msazure/Cognitive%20Services/_workitems/edit/15758510

Blocking - mismatch of swagger and service behavior.

[2022-10-26 22:01] azure-sdk commented on #27091
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive Services:0.129122,Azure.Core:0.11275112,Service Bus:0.09867603'

[2022-10-26 22:02] colbydh opened #27092 "How to use check if Advance Threat Protection is enabled azure-mgmt-security package?"
I'm trying to find if ATP is enabled in my Azure subscription and having problems with the code. Am I on the right path? Here's what I have so far:

def azure_atp_enabled(client):

    security_features = client.advancedThreatProtectionSettings.get()
    if security_features.status == 'Enabled':
        result = outputs.json_results("pass")
    else:
        result = outputs.json_results("fail")

[2022-10-26 22:02] azure-sdk commented on #27092
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.514912,Mgmt:0.4744188,Service:0.008056964'

[2022-10-26 22:29] johngallardo commented on #26537
@gs9824 - I believe the issue is the comma on this line:
[code]

That creates a tuple of CustomerName ... which serializes as a string as ("ABC",) in your case. I believe you should remove the comma at the end of that line. Please reactivate if that isn't the case and I am misinterpreting something.

[2022-10-26 22:29] #26537 closed

[2022-10-26 22:35] kristapratico opened #27094 "[personalizer] leave a breadcrumb on track 1 package pointing to new package"
Leave a breadcrumb on the readme and changelog pointing to the new package like we did for textanalytics: https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics

we should also re-release the track 1 package so this note gets published on PyPi.

[2022-10-26 22:40] jalauzon-msft commented on #24282
Thanks for the information @DanielHabenicht! This does appear to be the likely cause of the behavior OP and others were seeing here. I wasn't aware that the CLI had this additional functionality to query for the account key.

That being said, I don't think the `AzureCliCredential` used through an SDK should be querying for the account key in this case. When using a `TokenCredential` (which `AzureC

[2022-10-26 22:44] jalauzon-msft commented on #13033
@david-msft, yes, the plan is for the to be added to the .NET SDK as well once its available from the service. Still no ETA on it but this feature in.NET should be released at the same as Python.

[2022-10-26 23:26] annatisch commented on #23997
Adding some clarifying detail here:
Currently the API prioritizes usability with Python type system. This means we will automatically convert Python types into the `EdmType` equivalent. For example, if a user provides the following entity definition:
[code]
Then the SDK serializer will automatically convert the payload into:
[code]

However, it's possible that a customer has loaded entities from a

[2022-10-27 00:02] catalinaperalta opened #27099 "[formrecognizer] Unskip copy tests"
Unskip `test_copy_model_fail_bad_model_id` in sync and async once error scenario is resolved.

[2022-10-27 00:28] kristapratico opened #27103 "[QA] include 3.11 in release"
Done for TA and CLU releases in Nov.
Add to QA as well.

[2022-10-27 00:33] azure-sdk commented on #27103
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.39453855,Service Bus:0.05246015,Search:0.024656331'

[2022-10-27 01:38] MrNickArcher commented on #26997
Aware of the difference? Synapse has a managed Identity, `mssparkutil.credentials` lets you obtain a valid token using that identity, but there is no documentation for how to use that token to construct
`QueueServiceClient(account_url = "...", credential  = ????)` in a python notebook environment.

[2022-10-27 02:01] msyyc commented on #27068
according to our investigation, it is the service issue so we transfer it to proper respo: https://github.com/Azure/azure-rest-api-specs/issues/21280. Please wait for the response of service team. Thanks!

[2022-10-27 02:09] ImMin5 commented on #27071
Hi, @swathipil, @msyyc
I solved this problem. I was my bad.
So you guys do close or delete this issue.
But I think people need document on website about `azure-mgmt-webpubsub`.
-  https://learn.microsoft.com/en-us/python/api/overview/azure/web-pubsub?view=azure-python

[2022-10-27 02:25] Wzb123456789 commented on #26984
Hi @amarco

According to my investigation, the domains field data you want, the swagger definition is a read-only parameter.
https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/resources/azure-mgmt-resource/azure/mgmt/resource/subscriptions/v2021_01_01/models/_models_py3.py#L847

The python SDK is generated by swagger. It receives the data returned by the service and displays it to the use

[2022-10-27 03:04] swathipil commented on #27071
Hi @msyyc - Confirming that I can't find documentation for `azure-mgmt-webpubsub` in the [docs.microsoft.com](https://learn.microsoft.com/python/api/azure-messaging-webpubsubservice/azure.messaging.webpubsubservice.webpubsubserviceclient?view=azure-python) site.

The links in the "[Usage" section](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/webpubsub/azure-mgmt-webpubsub#usage) of

[2022-10-27 05:04] msyyc commented on #27071
Got it. And we will update the doc link asap

[2022-10-27 08:00] Wzb123456789 commented on #26558
@SaurabhSharma-MSFT

The above solution is a little wrong, it has been corrected, please try again.

[2022-10-27 08:37] QuentinBriand commented on #25198
Hello, do you have any updates on this issue ?

[2022-10-27 10:04] #26542 closed

[2022-10-27 10:04] #26366 closed

[2022-10-27 13:26] wiwski commented on #26921
@Wzb123456789 the code works fine but running `mypy .` will give an error. Have you tried running `mypy` on that code ?

[2022-10-27 13:31] edgBR commented on #26329
Hi, any update on this?

[2022-10-27 14:48] xiangyan99 commented on #26997
Yes. QueueServiceClient(account_url = "...", credential = ????) uses azure.identity.credentials while in Synapse environment, azure.identity.managedidentity cannot successfully get the token.

In other words, you need to compose your own requests and add the token into headers if you want to use QueueServiceClient in Synapse.

And that's the difference.

[2022-10-27 16:04] #26950 closed

[2022-10-27 17:22] ChronosSong commented on #26558
I found that some parameters were lost during the serialization and conversion of json by filter_parameters.
Code `azure/mgmt/datafactory/operations/_pipeline_runs_operations.py` Line 283
`_json = self._serialize.body(filter_parameters, "RunFilterParameters")`
When i run the code.
filter_parameters `{'additional_properties': {}, 'continuation_token': None, 'last_updated_after': datetime.datetime(2

[2022-10-27 17:27] swathipil commented on #27074
Hi @yedeng-anomali - Thanks for opening an issue! Directing this to the right people.

[2022-10-27 17:28] skylaro opened #27116 "AzureCliCredential not scoped correctly for global admin logins"
- **Package Name**: azure.identity
- **Package Version**: 1.11.0
- **Operating System**:
- **Python Version**: 3.9.13

**Describe the bug**
There exists a bug where after an 'az login' command and authentication flow completes, and then an empty AzureCliCredential is created, that the following stack trace prints:

[There is a command ](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/i

[2022-10-27 17:36] swathipil commented on #27084
Hi @lcasucciIT - Thanks for your feedback! We'll take a look asap!

[2022-10-27 17:52] swathipil commented on #27092
Hi @colbydh - Thanks for opening an issue! Tagging the right people.

@msyyc - I wasn't able to find any `azure-mgmt-security` samples in the mgmt samples repository [[here](https://github.com/Azure-Samples/azure-samples-python-management/tree/main/samples)]. Would you be able to take a look? Thanks!

[2022-10-27 18:03] SaurabhSharma-MSFT commented on #26558
Thanks @Wzb123456789 but I am still seeing error with the new code.
![image](https://user-images.githubusercontent.com/38112130/198365025-91a06a1a-31b9-4bc3-b112-ceca58da943a.png)

[2022-10-27 20:05] xiangyan99 commented on #27116
Thanks for reaching out.

Could you share how you used the AzureCliCredential?

If you want to use it to get a token, you need

cred = AzureCliCredential()
token = cred.get_token(SCOPE)

And the SCOPE will be used in the --resource argument.

[2022-10-27 21:08] rohit-ganguly opened #27124 "Python AMQP"
Linked here: https://github.com/Azure/azure-sdk/issues/4707

Assigned effort/cost: **23**

[2022-10-27 21:09] azure-sdk commented on #27124
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.2588322,Service Bus:0.09381214,Machine Learning:0.03012158'

[2022-10-27 21:09] skylaro commented on #27116
@xiangyan99 it's being used with a GraphClient from the msgraph.core library:

cli = AzureCliCredential()
client = GraphClient(credential=cli)
result = client.get('/me', headers={'Content-Type': 'application/json'})

[2022-10-27 21:11] rohit-ganguly opened #27125 "Python - Zinc Engsys work"
Original issue: https://github.com/Azure/azure-sdk/issues/4707

Assigned effort/cost: **15**

[2022-10-27 21:11] azure-sdk commented on #27125
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.121521845,Docs:0.10362123,Event Hubs:0.08439001'

[2022-10-27 21:13] rohit-ganguly opened #27126 "Python - Azure Core"
Linked: https://github.com/Azure/azure-sdk/issues/4705

Assigned cost/effort: **10**

[2022-10-27 21:30] xiangyan99 commented on #27116
Thank you.

Could you tell me which library GraphClient comes from?

[2022-10-27 21:36] skylaro commented on #27116
msgraph-core: https://pypi.org/project/msgraph-core/

[2022-10-27 21:42] xiangyan99 commented on #27116
MS Graph is not an Azure product, so we can't help you on this repo unfortunately. Please open issues in:
https://github.com/microsoftgraph/msgraph-sdk-python-core.

[2022-10-27 21:42] #27116 closed

[2022-10-27 21:55] benbp commented on #27024
Is this a continuous error on re-run?

[2022-10-27 21:58] pvaneck commented on #27116
Can also try passing in the scope via the client as that looks like it is supported:
[code]

[2022-10-27 22:01] luigiw commented on #26329
@edgBR thx for your feedback. As AzureML is migrating to v2 CLI/SDK, we'll not accept feature requests on v1 anymore.

[2022-10-27 22:06] #26947 closed

[2022-10-27 22:06] #26792 closed

[2022-10-27 22:06] #26754 closed

[2022-10-27 22:06] #26378 closed

[2022-10-27 22:06] #24636 closed

[2022-10-27 22:18] swathipil opened #27128 "[EventHubs] fix errors raised for invalid connection verify path"
Currently, passing an invalid/non-existent file path to `connection_verify` in the EventHubProducerClient and EventHubConsumerClient constructors results in the following errors respectively:
  - EventHubError
  - FileNotFoundError

Discuss whether these should be ConnectErrors instead. Have modified the code in this commit to raise these errors. However, these changes may need to be reverted. htt

[2022-10-27 22:21] harneetvirk commented on #27038
Here is an example for running a notebook in Non-public cloud: https://github.com/Azure/azureml-examples/blob/main/sdk/python/jobs/multicloud-configuration.ipynb

You may need to pass the cloud name in the kwargs for MLClient.

    # NOTE: cloud parameter is required in kwargs to signal mlclient to connect to the appropriate endpoints in Azure.
    kwargs = {"cloud": "AzureChinaCloud"}
    ml_clie

[2022-10-27 22:49] wemoveon2 commented on #19493
did anyone get this fixed? I'm trying to deploy a MLFlow model locally, which I don't think requires a scoring script as shown in [the examples repo for the cli](https://github.com/Azure/azureml-examples/tree/main/cli/endpoints/online/mlflow).

Did the Azure ML CLI v1 not require a scoring script or something...?

[2022-10-27 23:38] catalinaperalta opened #27131 "[formrecognizer] Add Python 3.11 support"

[2022-10-27 23:41] skylaro commented on #27116
@pvaneck that works! Thanks a ton!

[2022-10-28 01:31] swathipil opened #27137 "[EventHubs] retry_total>0 sync consumer hangs when exception"
Setting retry_total>0 in the sync consumer results in the consumer hanging without calling the error callback b/c of [[this return block](https://github.com/Azure/azure-sdk-for-python/blob/a8e1d62ece9deac8b6727112d7caf4cd670fa804/sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py#L198)].

This seems to be b/c consumer.running is set to False when `_handle_exception` is called [[here](https://

[2022-10-28 02:48] v-jiaodi opened #27139 "Identity e2e tests for running fail in Azure Arc and Azure Container Instances"
**Describe the issue:**
1.When test the Testing azure-identity in Azure Arc with [instructions for Test team](https://github.com/Azure/azure-sdk/issues/1908#issuecomment-724376120)(`Repro steps`) and run the `pytest -k managed_identity_live` command, it displays the error :
![image](https://user-images.githubusercontent.com/80496810/198200492-07a2f5a2-254c-42eb-8e1f-fb15a5091ffc.png)

2.When test

[2022-10-28 02:55] navba-MSFT commented on #26088
Adding Service team to look into this.

@acsdevx-msft Could you please look into this once you get a chance ?

[2022-10-28 04:32] selvavm opened #27144 "Azure storage: list_blob_names is slow"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.14.1
- **Operating System**: Windows
- **Python Version**: Python 3.8

**Describe the bug**
I have 30k files in the azure storage account in below structure and when I do list_blob_names it takes 15+ mins.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create 30k files like above
2. Execute below code
[code]

**Expected

[2022-10-28 05:05] ImMin5 opened #27145 "[Web PubSub Service] Feature request for custom domain info"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I want to get `custom doamin` information via sdk but i can't find it.
- https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/webpubsub/azure-mgmt-webpubsub/azure/mgmt/webpubsub/operations

if you look REST API [here](https://learn.

[2022-10-28 05:05] azure-sdk commented on #27145
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.3093172,App Services:0.10403671,Subscription:0.09100042'

[2022-10-28 05:38] zedy-wj commented on #27024
Yes, there is the latest pipeline: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1950842&view=results

[2022-10-28 05:44] msyyc commented on #26558
Hi @ChronosSong The serialization error shall be caused by wrong input of `values`:
![image](https://user-images.githubusercontent.com/70930885/198511962-8788e785-a8b3-42ad-8f42-7122f4fffc78.png)
I fix it and please try https://github.com/Azure/azure-sdk-for-python/issues/26558#issuecomment-1288455249 again.

[2022-10-28 06:15] msyyc commented on #27064
@piotrszajer SDK is generated with [swagger](https://github.com/Azure/azure-rest-api-specs/blob/e82a24def11ffc98cc263884f9f1742c99f2df5e/specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/resources.json#L2428-L2433) automatically. According to the definition, there is no problem in your usage. In view of that I am not expert who has much domain knowledge, I will transfe

[2022-10-28 07:57] MrNickArcher commented on #26997
Ok, can I construct some object, I dunno, maybe something in `azure.core.credentials` that would be accepted by the `QueueServiceClient` constructor credential parameter? I don't think manually constructing headers is a good way to go. I really appreciate the work you have done to create these python libraries so that I don't need to do that, except for in this case apparently.

[2022-10-28 09:19] RakeshMohanMSFT commented on #26127
@ameitg Thank you for reaching out, we will look into it.

[2022-10-28 10:16] mkhusid opened #27161 "AppendBlob doesn't works with .txt files"
`ContainerClient.upload_blob` method doesn't work correctly when using `blob_type == 'AppendBlob'` for blobs that has `.txt ` file extension. It throws the next exception:
`ResourceExistsError: The blob type is invalid for this operation.`
If the blob extension has another format, e.g. '.csv', everything works fine despite the source files being in the '.txt' format.

If that is expected behavior

[2022-10-28 11:14] v-jiaodi opened #27163 "Identity e2e tests for running kill in Cloudshell"
**Describe the issue:**
When test the Testing azure-identity in Cloudshell with [instructions ](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/tests/managed-identity-live/cloudshell.md)(`Repro steps`) and run the `pytest ./tests -vrs -m cloudshell` command, it displays the error :

![image](https://user-images.githubusercontent.com/80496810/198207126-4a0a519e-8

[2022-10-28 11:14] v-jiaodi opened #27164 "Identity e2e tests for running fail in Azure VM MSI"
**Describe the issue:**
Test the Testing azure-identity in Azure VM MSI with [instructions ](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/tests/managed-identity-live/vm.md) (`Repro steps`). When install prerequisites, it displays the error :

![image](https://user-images.githubusercontent.com/80496810/198570586-7690a226-0c6b-480a-8280-624ffc408d9c.png)

We tr

[2022-10-28 11:15] azure-sdk commented on #27164
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.57662404,Client:0.4201317,Service:0.002363803'

[2022-10-28 15:17] adrian-gonzalez commented on #27038
Hi @harneetvirk , unfortunately I am still facing the same error.

Below is my latest attempt.

First I make sure that the authentication works (replacing the placeholder values with the correct values)

[code]
This results in a successful authentication and token retrieval.

But then running the below command, after putting in the correct subscription ID, using the ML Client errors out.

[code]

[2022-10-28 16:28] xiangyan99 commented on #27164
Could you give more details about how you setup the machine and how you upgraded the Python?

e.g. did you use ubuntu 18.04? (its default Python version is 3.6)

[2022-10-28 16:30] xiangyan99 commented on #27163
Could you help to collect some logs?

[2022-10-28 16:32] xiangyan99 commented on #27139
@pvaneck could you help to take a look? (Maybe we need to update the instructions)

[2022-10-28 16:55] SaurabhSharma-MSFT commented on #26558
Thanks @msyyc.  It works for me now.

@ChronosSong  Waiting for your confirmation.

[2022-10-28 17:32] scottaddie opened #27167 "[Monitor Query] Document sovereign cloud support in logs and metrics query clients"
In the Azure Monitor Query library, public cloud is the default. Add a section to the README that explains how to configure the library's clients for non-public cloud usage. I suggest adding this guidance in https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/monitor/azure-monitor-query/README.md#create-the-client.

[2022-10-28 17:33] azure-sdk commented on #27167
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Monitor:0.3131241,azure-spring:0.14838123,Monitor - Query:0.11759176'

[2022-10-28 18:05] xzyang123 opened #27169 "Fail to install azure-identity and azure-keyvault in docker devcontainer"
- **Package Name**: azure-identity & azure-keyvault
- **Package Version**: latest
- **Operating System**: linux
- **Python Version**: 3.8

**Describe the bug**

try to install azure-identity and azure-keyvault but all failed.

AttributeError: 'str' object has no attribute 'name'

I only attach the screenshot for installing keyvault, but the error messages are the same.

**Screenshots**
If applicab

[2022-10-28 18:39] kristapratico commented on #27090
This will not be supported in 2022-10-01-preview and is being removed from the swagger.

[2022-10-28 18:39] #27090 closed

[2022-10-28 18:42] kristapratico opened #27171 "[TA] Healthcare task returns detectedLanguage as string instead of object"
https://dev.azure.com/msazure/Cognitive%20Services/_workitems/edit/16040765

[2022-10-28 18:44] #26188 closed

[2022-10-28 19:24] swathipil commented on #27144
Hi @selvavm - Thanks for opening an issue! Tagging the right people to take a look asap!

[2022-10-28 19:26] swathipil commented on #27145
Hi @ImMin5 - Thanks for your feedback! We'll take a look asap!

[2022-10-28 19:28] swathipil commented on #27161
Hi @mkhusid - Thanks for your feedback! We'll take a look at this asap!

[2022-10-28 19:36] mccoyp commented on #27139
Related issue: https://github.com/Azure/azure-sdk-for-python/issues/26237

[2022-10-28 19:50] vincenttran-msft commented on #27161
Hi @mkhusid thanks for your inquiry. As mentioned above by @swathipil, if you could provide the version of the `azure-storage-blob` package that would be great. In any case, it is always recommended to use the latest version when available.

Unfortunately, I was unable to reproduce your findings locally on our end. If possible, could you please attach a code sample (with sensitive information reda

[2022-10-28 19:52] #26190 closed

[2022-10-28 20:27] #27169 closed

[2022-10-28 20:27] xzyang123 commented on #27169
update pip solves this issue

[2022-10-28 20:56] kottofy commented on #27038
I can perform the following in an Azure US Gov ML Studio notebook targeting Python 3.10 - SDK V2 (default Compute) and it works.

Seems like there is a default version installed of `azure-ai-ml` at 2.4.1 that might be causing some issues.

---------CELL 1---------

`pip list | grep azure`

Output:
azure-ai-ml              2.4.1
azure-common             1.1.28
azure-core               1.22.1
azure-

[2022-10-28 21:06] kashifkhan opened #27175 "[EventHub Mgmt] Deprecated Asyncio.coroutine decorator in test"
In Eventhub Management tests, [this line](https://github.com/Azure/azure-sdk-for-python/blob/87fa4a73fd098116fbeecfe387fafe02b8c0545d/sdk/eventhub/azure-mgmt-eventhub/tests/_aio_testcase.py#L21) is causing the Eventhub CI pipeline to fail in 3.11 at this [point](https://dev.azure.com/azure-sdk/public/_build/results?buildId=1952726&view=logs&j=84b20eb0-323b-5722-f041-399ea9857d18&t=1024ff5b-59a4-55

[2022-10-28 21:21] harneetvirk commented on #27038
Could you please try to login to azure cli from the same machine from where you are running the notebooks and set the default subscription?
[code]

This should set the default subscription for you on the machine.

I have tried the following code snippet in Government cloud, and this is working with azure-ai-ml==1.0.0.
Had to update the call to create compute by appending .result() for LRO poller.

[2022-10-28 21:59] jalauzon-msft commented on #27074
Hi @yedeng-anomali, are you concerned about the properties size from a network perspective or a client memory perspective? If it's from a network perspective, there is likely not much that can be done as the [service API](https://learn.microsoft.com/en-us/rest/api/storageservices/get-blob-properties) that backs `get_blob_properties` will always return all the properties and does not support select

[2022-10-28 22:20] yedeng-anomali commented on #27074
Hi @jalauzon-msft thanks for your reply.
Ideally, I think we should resolve this issue from [service API](https://learn.microsoft.com/en-us/rest/api/storageservices/get-blob-properties) side.
Would you help me to forward this feature request to the appropriate engineering team? I filed a ticket on Azure cloud (and marked it as an Azure Storage Account related issue), and I get redirected to here.

[2022-10-28 22:35] #26329 closed

[2022-10-29 00:32] loomlike commented on #26477
@lmazuel I'm getting the same issue and due to #23697, cannot just update the package to newer version...

[2022-10-29 01:30] pvaneck commented on #26237
Confirming that simply seting the following environment variables allows the tests to be run:

[code]

[2022-10-29 01:34] pvaneck commented on #27139
#27182 pushes updated code/instructions that should fix the issues.

[2022-10-29 14:59] udbj commented on #16434
Still looks weird today, almost one year later.
![font_size](https://user-images.githubusercontent.com/20730509/198838523-30941ccf-ffc5-4bdb-a3a5-8795a298fafb.png)

[2022-10-29 23:55] CarlosOnline opened #27184 "Cannot turn off Azure Service Bus / Azure storage verbose logging without turning off all logging."
What categories do I need to use to disable verbose logging from Azure Storage & Azure Service Bus?
I still need to see my own log messages, so I don't want to turn off all logging.

Setting **default** logging level to **warning** is un-acceptable because I need to see my own log messages.
What  are used by Azure Storage for logging?

Disabling `"Azure.Messaging.ServiceBus": "Warning"` works for

[2022-10-29 23:55] azure-sdk commented on #27184
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.34285802,Service Bus:0.26426625,Azure.Core:0.1295001'

[2022-10-30 08:49] #26039 closed

[2022-10-30 14:36] ChronosSong commented on #26558
@mccoyp Thanks for the guidance, it worked

[2022-10-30 14:36] #26558 closed

[2022-10-30 16:56] harneetvirk commented on #27038
@adrian-gonzalez : I created a new Conda environment and installed the GA version of SDK (1.0.0) and tried running the notebook in usgovvirginia region to repro this issue but unfortunately, I was able to able to reproduce this issue after I configure the cloud name and account using CLI.

[code]
By default, the SDK or CLI tries to connect to public cloud.

[2022-10-30 17:57] adrian-gonzalez commented on #27038
Hi @harneetvirk  -

Please read through our previous comments.

The steps to reproduce the issue lies with azure-ai-ml v2.4.1.

it is this version that is the default when we are creating an instance of Azure Machine Learning, and therefore preventing our team from using this python package.

[2022-10-30 22:07] pvaneck commented on #27163
Updated cloudshell instructions in https://github.com/Azure/azure-sdk-for-python/pull/27182 which should now work.

[2022-10-30 22:08] pvaneck commented on #27164
Updated VM instructions with https://github.com/Azure/azure-sdk-for-python/pull/27182 which should now work. Note, that it now has the VMs created using an Ubuntu 20.04 image which now has Python 3.8 installed by default

[2022-10-31 01:53] msyyc commented on #27175
Thanks for your feedback and we will investigate it asap

[2022-10-31 02:58] v-jiaodi commented on #27163
@xiangyan99 , @pvaneck  It can work with cloudshell instructions in https://github.com/Azure/azure-sdk-for-python/pull/27182.  In addition, we need to update the code in [test_cloud_shell_async.py](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/tests/managed-identity-live/test_cloud_shell_async.py#L16).
![image](https://user-images.githubusercontent.com/8049681

[2022-10-31 03:48] v-jiaodi commented on #27164
@xiangyan99 , @pvaneck  According to the VM instructions with https://github.com/Azure/azure-sdk-for-python/pull/27182, **Install prerequisites** is passed , but **Run tests**, I encountered the following errors:

![image](https://user-images.githubusercontent.com/80496810/198926830-208661d5-6441-4b75-904f-e846b2c92dc5.png)

[2022-10-31 04:09] msyyc commented on #27092
@colbydh please refer to sample: https://github.com/Azure-Samples/azure-samples-python-management/tree/main/samples/security

[2022-10-31 05:49] v-jiaodi commented on #27164
@xiangyan99 , @pvaneck  It can work with VM instructions in https://github.com/Azure/azure-sdk-for-python/pull/27182.

[2022-10-31 07:07] v-jiaodi commented on #27139
@xiangyan99 , @pvaneck It can work with Arc and Container Instances  instructions in https://github.com/Azure/azure-sdk-for-python/pull/27182.

[2022-10-31 07:28] navba-MSFT commented on #27145
@ImMin5 Thanks for reaching out to us and reporting this issue. The [1.1.0 version of azure-mgmt-signalr](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/signalr/azure-mgmt-signalr/CHANGELOG.md#110-2022-03-28) package has added added operation group **[SignalRCustomDomainsOperations](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/signalr/azure-mgmt-signalr/azure/mgmt/signa

[2022-10-31 09:06] Wzb123456789 commented on #26921
@wiwski

I tried mypy on the modified code, and the situation is normal.
![image](https://user-images.githubusercontent.com/51410816/198971409-96ed6793-0df0-4162-98e4-2f7ad38f1f62.png)
You can provide a screenshot of your error message and mypy version information to better solve the problem for you.

[2022-10-31 09:50] wiwski commented on #26921
Hmm, weird.. On my side I have `error: Item "None" of "Optional[DeploymentPropertiesExtended]" has no attribute "provisioning_state"`

[2022-10-31 10:04] #26403 closed

[2022-10-31 17:25] joshfree commented on #27164
@v-jiaodi can this be resolved/closed now?

[2022-10-31 17:43] #27139 closed

[2022-10-31 17:47] harneetvirk commented on #27038
azure-ai-ml v2.4.1 is having some known issues and will be removed from CI from the next release and will be replaced with azure-ai-ml 1.0.0 from pypi. To unblock, please install azure-ai-ml 1.0.0 from pypi.

[2022-10-31 17:48] mccoyp commented on #26237
Resolved by https://github.com/Azure/azure-sdk-for-python/pull/27182

[2022-10-31 17:48] #26237 closed

[2022-10-31 19:13] #26189 closed

[2022-10-31 20:45] xiangyan99 commented on #27184
Thanks for reaching out.

Could you tell us which language you used?

This can help us route to the right team.

[2022-10-31 20:50] jds3d opened #27202 "query_by_factory not showing "debug" pipelines"
Environment: Azure Function

**Describe the bug**
I run query_by_pipeline and it only returns "triggered" pipelines, not the ones executed via "debug."

**To Reproduce**
Steps to reproduce the behavior:
1. Execute a pipeline via debug button.
2. run query_by_factory.

**Expected behavior**
It should show both triggered and debug pipelines.

**Screenshots**
If applicable, add screenshots to help ex

[2022-10-31 21:00] xiangyan99 commented on #26997
QueueServiceClient looks for credential.get_token(scopes).

Maybe you can make your own credential class and wrap its get_token method to call into mssparkutil.credentials

[2022-10-31 21:03] xiangyan99 commented on #25625
Done.

[2022-10-31 21:03] #25625 closed

[2022-10-31 21:03] xiangyan99 commented on #25567
Done.

[2022-10-31 21:03] #25567 closed

[2022-10-31 21:23] jalauzon-msft commented on #27074
Hi @yedeng-anomali, your best bet is to make a post (or upvote an existing one) on [AzStorageFeedback](https://aka.ms/AzStorageFeedback) with the request for the service team. This will allow others to see it and possibly upvote it and help the service team prioritize feature requests. I can also forward the request along internally.

I will admit though that unfortunately the service team is quit

[2022-10-31 22:46] xiangyan99 commented on #27202
Thanks for reaching out.

Could you share more information about which library did you use and which version?

Thanks.

[2022-10-31 22:54] jalauzon-msft commented on #27084
Hi @lcasucciIT Lucia, thanks for the report. Just to confirm, this is the expected behavior only when "blob versioning" is enabled on the Storage account. This is documented [here](https://learn.microsoft.com/en-us/azure/storage/blobs/soft-delete-blob-manage?tabs=dotnet#restore-soft-deleted-objects-when-versioning-is-disabled-1) and [here](https://learn.microsoft.com/en-us/azure/storage/blobs/soft

[2022-10-31 23:03] kristapratico opened #27206 "[TA] update testing region"
We're currently testing in eastus since this region supports the gated preview features. We should revert back to the default once the features are deployed in the rest of the regions.

https://github.com/Azure/azure-sdk-for-python/pull/27174/files#diff-eb14a08a0193ff909aa7473225ab154a8560d8fe8b1ae9a7243060deea8640a9L14

[2022-10-31 23:04] azure-sdk commented on #27206
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Container Registry:0.07581946,Docs:0.06727839,Cognitive Services:0.04664562'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5109884,Mgmt:0.44128242,Service:0.04496284'

[2022-10-31 23:14] jds3d commented on #27202
Hi xiangyan99,
Thanks for the quick response.  The libraries I imported are:
from azure.mgmt.datafactory.models import RunFilterParameters, RunQueryFilter
from azure.mgmt.datafactory import DataFactoryManagementClient

Version:
azure_mgmt_datafactory-2.9.0-py3-none-any.whl

Execution:
adf_client = DataFactoryManagementClient(credentials, subscription_id)
pipeline_runs = adf_client.pipeline_runs.qu

[2022-10-31 23:17] xiangyan99 commented on #27202
Thanks for your information.

[2022-11-01 02:08] #27163 closed

[2022-11-01 02:12] #27164 closed

[2022-11-01 02:43] lcasucciIT commented on #27084
Correct,

This happens when versioning is enabled and you want to restore a specific
version.

Let me know when you update the documentation and by the way, I am a fellow
microsoft employee too :)

On Mon, Oct 31, 2022 at 3:54 PM Jacob Lauzon ***@***.***>
wrote:

[2022-11-01 05:42] CodeProcessor commented on #10826
Yeah, it should be set level.

[2022-11-01 05:58] HoiDam commented on #22180
I am encountering this issue also Please help

[2022-11-01 07:21] pritamDas9191 commented on #27058
@adrianomartinelli This error is a non blocking one. You should still be able to successfully create your data asset.
 This error occurs while validating MLTable schema and hence is supposed to non blocking which skips validation and creates the data asset.
 As for fixing the issue for validation(url problem you noticed) , the fix is in a PR and will be fixed as part of next release.

[2022-11-01 10:54] jernejknechtl opened #27228 "Logic App Service Filter issue"
- **Package Name**:    azure-mgmt-logic
- **Package Version**:  10.0.0
- **Operating System**: Windows
- **Python Version**:  3.9.9

**Describe the bug**

When using a filter to retrieve data from Azure I get an error while iterating over the iterator object returned. If re-running the code the error can occur at different stages of the iteration process (e.g. sometimes it fails at the 3rd iterati

[2022-11-01 10:55] azure-sdk commented on #27228
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Logic App:0.3111548,Storage:0.13452737,Cosmos:0.078935064'

[2022-11-01 16:33] #27058 closed

[2022-11-01 19:17] #27084 closed

[2022-11-01 19:20] jalauzon-msft commented on #27084
Thanks @lcasucciIT, I just merged #27208 which included an update to the docstring for the `undelete_blob` about restoring the base blob when versioning is enabled. The docs are automatically generated from our code docstrings and therefore it will be some time before the docs online are updated. This change will need to be released and then the docs published.

[2022-11-01 21:53] yedeng-anomali commented on #27074
@jalauzon-msft
Thanks for your suggestion. I made [a post](https://feedback.azure.com/d365community/idea/27fbe857-2f5a-ed11-a81b-000d3ae5ae95) for this on the Azure Storage forum.

[2022-11-01 23:53] kristapratico commented on #24383
Updated in this PR: https://github.com/Azure/azure-sdk-for-python/pull/27232/files

The client library parses error targets for both TA and Language API versions.

[2022-11-01 23:53] #24383 closed

[2022-11-02 05:16] swathipil opened #27241 "[EventHubs] re-format BP docstring"
Fix buffered producer related docstring formatting.
ex. https://learn.microsoft.com/en-us/python/api/azure-eventhub/azure.eventhub.aio.eventhubproducerclient?view=azure-python#azure-eventhub-aio-eventhubproducerclient-send-event

- Check if docstring for timeout param under[ send_event/send_batch ](https://learn.microsoft.com/en-us/python/api/azure-eventhub/azure.eventhub.aio.eventhubproducerclien

[2022-11-02 06:28] Wzb123456789 commented on #27202
Hi @jds3d Can you provide a screenshot of your run result? And mark which field you need in order to better solve your problem.

[2022-11-02 10:15] Cvaniak opened #27252 "Absence of information about default behavior"
## Overview
Documentation list all available methods for class `IotHubRegistryManager` and theirs parameters. However there is no description about default/hidden behavior.

## Problem
I wanted to create/register new Device that will use SAS as authentication method.
There is method `create_device_with_sas` that creates device and set SAS as authentication method. However it requires from user to

[2022-11-02 11:55] jds3d commented on #27202
I'm not sure how a screenshot of missing debug pipelines would help.  When I run query_by_factory, it only returns triggered pipelines.  I don't need an additional field, unless you plan to make the return of debug pipelines optional, then return_debug_piplines=False (by default?) as a parameter to query_by_factory.

[2022-11-02 13:54] tonyskidmore opened #27255 "azureml-pipeline incompatible with azure-cli"
- **Package Name**:
 azureml-pipeline
- **Package Version**:
azureml-pipeline==1.47.0
- **Operating System**:
Linux
- **Python Version**:
3.8.10

**Describe the bug**
Unable to install `azureml-pipeline` package alongside `azure-cli==2.42.0`, `azureml-core==1.47.0` and `azureml-mlflow==1.47.0`.  It could be that there are subsequent errors trying to install other updated `azureml-pipeline*` packag

[2022-11-02 15:58] ImMin5 commented on #27145
Additionally, I found an update
- https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/webpubsub/azure-mgmt-webpubsub/azure/mgmt/webpubsub/operations
- https://pypi.org/project/azure-mgmt-webpubsub/1.1.0b1/

Thanks for your perfect feedback of this issue @swathipil @navba-MSFT @shanselman

[2022-11-02 16:02] ImMin5 commented on #27071
Hi, @msyyc
I saw your PR!
I am waiting for merge

[2022-11-02 16:21] brupelo opened #27257 "How do you know a blob connection has been properly established?"
Consider this little snippet:

        blob_service_client = BlobServiceClient.from_connection_string(
            config.get("AZURE_BLOB_CONNECTION_STRING")
        )
        blob_service_client.get_service_properties()

Let's say `AZURE_BLOB_CONNECTION_STRING` env var is pointing out locally to [azurite](https://www.npmjs.com/package/azurite) but I don't have azurite up and running, this code wo

[2022-11-02 16:21] azure-sdk commented on #27257
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.42908558,Storage:0.29378223,Service Bus:0.15017255'

[2022-11-02 20:27] jalauzon-msft commented on #27144
Hi @selvavm, thanks for the report. This does seem much slower than expected for listing 30k blobs. Once thing I do want to mention is that `list_blob_names` is a client-side convenience method to speed up client-side processing of a List Blobs response. That method will still download all data from the service and therefore is not faster in terms of networking.

I have a couple of questions to he

[2022-11-02 21:13] xiangyan99 commented on #27255
@azureml-github

[2022-11-02 21:56] nathan-copperfrog opened #27266 "DefaultAzureCredential - RestError: [TokenExpired] Error validating token: 'S2S12086'"
- Azure Identity:
- 1.10 and 1.11:
- Linux:
- 3.8:

**Describe the bug**
We currently have an azure function app behind and API. This function interacts several third party services, Cosmo, Sales Force to name a through. The functions will run

`    credential = DefaultAzureCredential(exclude_visual_studio_code_credential = True, exclude_shared_token_cache_credential=True)
    client = SecretClien

[2022-11-02 22:47] mhurst-microsoft commented on #26933
It missed my attention that this was an authoring question - @Hadeer ***@***.***> to field this one.

Matt
________________________________
From: Heath Stewart ***@***.***>
Sent: Friday, October 21, 2022 4:08 PM
To: Azure/azure-sdk-for-python ***@***.***>
Cc: Matthew Hurst ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-python] [CLU] authoring LROs may need return types (Issue

[2022-11-02 23:58] #26246 closed

[2022-11-03 01:06] jalauzon-msft commented on #27257
Hi @brupelo Bruno, the delay in this error being shown is likely because of the automatic retry policy that the SDK has in place. This type of an error is a retriable error and therefore the retry policy will attempt the request a few times with some time in between each.

The default configuration for the retry policy results in usually around 90 seconds before any error would be shown due to a b

[2022-11-03 03:16] pvaneck commented on #26159
Closed via #26483

[2022-11-03 03:16] #26159 closed

[2022-11-03 05:21] msyyc commented on #21346
Hi @danieljurek @sima-zhu , the [description](https://github.com/Azure/azure-sdk-for-python/blob/ed691f3888a5c712a2cea77dd06afb9ad4ef9a8b/sdk/webpubsub/azure-mgmt-webpubsub/azure/mgmt/webpubsub/models/_models_py3.py#L663-L675) is generated automatically with [swagger definition](https://github.com/Azure/azure-rest-api-specs/blob/591b17c5a50e7fc0ef09211197279e6d9f7ebc22/specification/webpubsub/reso

[2022-11-03 05:22] msyyc commented on #27071
related issue: https://github.com/Azure/azure-sdk-for-python/issues/21346

[2022-11-03 05:45] navba-MSFT commented on #27145
@ImMin5 Thanks for getting back. Could you please follow the suggestions provided in [this thread ](https://learn.microsoft.com/en-us/answers/questions/714847/error-the-user-group-or-application-does-not-have.html)? This should help in addressing the above error.

[2022-11-03 10:07] mhurst-microsoft commented on #26933
+Abdelrahman., DRI to check the issue.

From: Matthew Hurst ***@***.***>
Sent: Thursday, November 3, 2022 12:47 AM
To: Azure/azure-sdk-for-python ***@***.***>; Azure/azure-sdk-for-python ***@***.***>; Hadeer Magdy ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-python] [CLU] authoring LROs may need return types (Issue #26933)

It missed my attention that this was an authori

[2022-11-03 10:49] brynn-code commented on #27255
I also met this issue, and find the root cause is the dependencies line below:
azureml-pipeline-steps -> azureml-train-automl-client -> azureml-dataset-runtime -> azureml-dataprep -> azure-identity==1.7.0 -> msal-extensions~=0.3.0
azure-cli-core==2.42.0 -> msal-extensions~=1.0.0

The azure-identity==1.11.0 required msal-extensions<2.0.0,>=0.3.0 seems could fix this issue, however, azureml-dataprep

[2022-11-03 12:52] mhurst-microsoft commented on #26933
Hello,

For such LROs that should return results (e.g., export operation) you'll find "resultUri" property next to the "status" when you reach a terminal state, you can hit that "resultUri" to get your model.
Please let me know if that answers your questions.
From: Hadeer Magdy ***@***.***>
Sent: Thursday, November 3, 2022 12:08 PM
To: Matthew Hurst ***@***.***>; Azure/azure-sdk-for-python ***@***

[2022-11-03 15:05] mcfuhrt commented on #17941
@Nicole227
Is there any news on this?

Which version are you using?

Is there any documentation on how an upload via generators works?

[2022-11-03 16:47] xiangyan99 commented on #27266
Thanks for reporting the issue.

To help narrow down the cause, do you know which type of credential you used? ManagedIdentityCredential? Service principal?

Thanks.

[2022-11-03 17:30] kristapratico commented on #26933
@mhurst-microsoft does that mean our above assumptions are correct? And only in the situation of a JobState returning a resultUri, we should follow that Uri?

[2022-11-03 17:49] heaths commented on #26933
Such an LRO is not supported by our code generators, nor is standard. See https://github.com/Azure/autorest/blob/main/docs/extensions/readme.md#x-ms-long-running-operation-options for what is supported. The standard is actually [defined here](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#long-running-operations--jobs).

Since we're generating DPGs, this is not somethin

[2022-11-03 17:58] mhurst-microsoft commented on #26933
Please work with @Hadeer ***@***.***> on authoring related topics.

Thanks,

Matt
________________________________
From: Krista Pratico ***@***.***>
Sent: Thursday, November 3, 2022 10:30 AM
To: Azure/azure-sdk-for-python ***@***.***>
Cc: Matthew Hurst ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-python] [CLU] authoring LROs may need return types (Issue #26933)

@mhurst-mic

[2022-11-03 21:28] joshfree opened #27284 "Expose an API to log out the current account and clean up any related cached credential"
Related to https://github.com/Azure/azure-sdk-for-net/issues/31498

[2022-11-03 21:44] heaths commented on #26933
@hadeer if we could find a way to support this - and we may have to because it's an authenticated call, for which our client is configured already - could you describe why CLU only supports the "format=Conversation" query parameter pair, while "format" for Question Answering supports "csv", "tsv", and "json"? This is incongruent and a little confusing. Comparing with QA and looking at [your swagge

[2022-11-03 22:12] jalauzon-msft commented on #27074
Thanks @yedeng-anomali! That is the best place for this type of request. I will go ahead and close this issue.

[2022-11-03 22:12] #27074 closed

[2022-11-03 22:12] nathan-copperfrog commented on #27266
We are using Service Principal.

[2022-11-03 23:52] #23311 closed

[2022-11-04 01:51] bendanye opened #27295 "Enquiry on query logs for Application Insights"
Is there a way to use azure SDK to run custom query on application insights?

I am been able to use LogsQueryClient in azure-monitor-query to run query on log analytics but having no luck using the same for application insights because LogsQueryClient requires a workspace_id which Application Insights does not have any workspace_id.

[2022-11-04 03:02] Wzb123456789 commented on #27228
Hi @jernejknechtl

We have released a new version about `azure-mgmt-logic`[here](https://pypi.org/project/azure-mgmt-logic/10.1.0b1/), the new version can solve your problem, please update `azure-mgmt-logic` to the latest version and try again.

[2022-11-04 08:38] Wzb123456789 commented on #26921
Hi @wiwski

I use the same Operating System and Python Version as you to test with no problem, this is my test code:
[code]
Also, my python version is 3.8.4 (of course I also tested with 3.10.8), mypy: 0.982.

You can compare how your code is different.

[2022-11-04 08:51] Wzb123456789 commented on #27202
According to my investigation, the data returned by `query_by_factory` is a self-reading field.

Since the `python SDK` is generated by `swagger`, it is responsible for receiving the data returned by the service and processing and displaying it to the user, so the `python SDK` will not modify or delete a certain parameter.

So I think this is a service problem.

[2022-11-04 11:22] pankajkumar002 opened #27303 "azure.core.exceptions.ServiceRequestError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1091)"
Hi,

I am trying to authenticate to a secure Azure ML workspace using an SPN. And the module is failing for a few team members while it is working for some of them.

**Error Message -**
**Traceback (most recent call last):
  File "C:\Users\user_name\Anaconda3\envs\env_name\lib\site-packages\utils\auth\azkvsecret.py", line 46, in get_az_kv_secret
    secret_value = client.get_secret(name)**
  File

[2022-11-04 11:22] azure-sdk commented on #27303
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.41671595,KeyVault:0.33573103,Storage:0.038466632'

[2022-11-04 14:54] xiangyan99 commented on #27303
Thanks for the feedback, we’ll investigate asap.

[2022-11-04 14:54] xiangyan99 commented on #27295
Thanks for the feedback, we’ll investigate asap.

[2022-11-04 16:33] xiangyan99 commented on #27266
Thanks for the information.

Could you help to collect some logs?

e.g. you can add code like:
import logging
logging.basicConfig(filename='c:/temp/log.log', level=logging.DEBUG)

[2022-11-04 16:39] heaths commented on #26933
@johanste, @hadeer, would it make sense to effectively copy "Conversation" and "Luis" enums to `assetKind` and add support for "json", "tsv", and "excel" like QA has to `format` but still support "Conversation" and "Luis" as JSON-only. While we can't fix the past, we can improve the future and make QA and CLU consistent.

[2022-11-04 17:59] pvaneck commented on #27295
Hey, @bendanye. I am assuming you are probably trying to query a [classic Application Insights](https://learn.microsoft.com/azure/azure-monitor/app/create-new-resource) resource which has been deprecated. It's strongly recommended that you [migrate to a workspace-based](https://learn.microsoft.com/azure/azure-monitor/app/convert-classic-resource) App Insights resource.

For querying classic resour

[2022-11-04 18:45] kottofy opened #27306 "ClientAuthenticationError with System Assigned Managed identity for Azure ML Studio in Gov Cloud"
- **Package Name**: azure-ai-ml
- **Package Version**: 1.0.0
- **Operating System**: Azure ML Studio Linux
- **Python Version**: 3.10 - SDK V2

**Describe the bug**
Cannot create an Azure ML Job with System Assigned Managed Identity in an Azure ML Studio Notebook in Azure US Gov Cloud.

**To Reproduce**
I followed the steps from the sample [Tutorial: Azure Machine Learning in a day](https://learn.

[2022-11-04 18:45] azure-sdk commented on #27306
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.40110892,Machine Learning:0.05681284,Service Bus:0.029255945'

[2022-11-04 19:51] xiangyan99 commented on #26294
Fixed in #27288

[2022-11-04 19:51] #26294 closed

[2022-11-04 19:54] xiangyan99 commented on #24839
Could you give more details?

e.g. what's the error?

[2022-11-04 20:33] diberry opened #27309 "azure.cognitiveservices.search.newssearch SDK - what is the correct endpoint?"
- **Package Name**:  azure.cognitiveservices.search.newssearch
- **Package Version**:
- **Operating System**: windows
- **Python Version**:  3.9

**Describe the bug**

I _believe_ my issue the how to find and use the correct endpoint to use the SDK.

* REST API works
    * Getting the search news via [REST with Python](https://github.com/diberry/azure-samples/blob/main/bing-news/py/search_via_rest

[2022-11-04 20:42] lmazuel commented on #27309
This package is no longer supported as an Azure product, and has been replaced by this repo:
https://github.com/microsoft/bing-search-sdk-for-python

My apologies that the Readm of this package doesn't have a clear deprecation notice, I'm taking a note to do them now.

[2022-11-04 20:42] #27309 closed

[2022-11-04 21:14] swathipil opened #27314 "[EventHubs] pyamqp sync slow receive with empty partitions"
Ex.
Preloading 1 of 32 partitions, and synchronously receiving from all 32 partitions results in a huge perf diff b/w uamqp and pyamqp.

Uamqp: (1,913 ops/s, 0.0005226 s/op)​
pyamqp: (128.3 ops/s, 0.007793 s/op)​

This is b/c in pyamqp, we're waiting on empty partitions to timeout and we set this timeout value [here](https://github.com/Azure/azure-sdk-for-python/blob/2c16b57136e343d4f760422b29b2c6

[2022-11-04 23:45] antkmsft commented on #23917
This was reproing in Germany West Central back in April. Now it no longer repros, both `Date` and `x-ms-date` are fine.

[2022-11-05 00:03] antkmsft commented on #23917
No, sorry, my bad, it still reproes.
Germany West Central.
You can try accessing my `antk-appconfig2` using the connection string, you can find one in the Developer Playground.

[2022-11-05 09:53] dev-td opened #27317 "FormRecognizer behavior when service starts throttling"
- **Package Name**: azure-ai-formrecognizer
- **Package Version**: 3.2.0
- **Operating System**: Windows / Linux
- **Python Version**:  3.8 / 3.9

**Describe the bug**
When service form recognizer starts to throttle it raises error I/O Operation on closed file.

**To Reproduce**
Please check code snippet below.
`

    async def analyse_document_async(document: io.BytesIO):
          endpoint, key

[2022-11-05 09:54] azure-sdk commented on #27317
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.12575616,Cognitive - Form Recognizer:0.12186136,Service Bus:0.104554616'

[2022-11-05 14:44] glebrh opened #27318 "[Azure ML SDK v2] Issue while reading data from `uri_folder` Input type via https://<account_name> scheme"
- **Package Name**: azure-ai-ml
- **Package Version**: 1.0.0
- **Operating System**: Windows Server 2022 Standard
- **Python Version**: 3.9.13

**Describe the bug**
According to the documentation it should be possible to access public blob storage containers using `Input(type='uri_folder')` instance. While passing actual path of the data, [azure docs](https://learn.microsoft.com/en-us/azure/machin

[2022-11-05 14:44] azure-sdk commented on #27318
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.21718025,Azure.Core:0.16009027,Data Lake Storage Gen2:0.13490766'

[2022-11-05 14:46] glebrh commented on #27318
BTW with `uri_file` option works normally with paths like this: `https://azuremlexamples.blob.core.windows.net/datasets/iris.csv`

[2022-11-06 14:18] michaelmingram opened #27319 "HttpResponseError: InvalidHeaderValue When appending to file in ADLSv2 storage account container"
- azure-storage-file-datalake
- 12.9.1
- Ubuntu 20.04.4 LTS
- 3.8.10

**Describe the bug**
I am running a batch job that creates a file in an ADLSv2 storage account, then retrieves data from a remote system in 2000 record pages, processes them lightly, and appends the records to the file in ADLS. Intermittently when appending data to the file I receive an azure.core.exceptions.HttpResponseError: (

[2022-11-06 20:40] tboerstad opened #27320 "High memory usage in multiple async file download"
* **Package Name**: azure-storage-blob
* **Package Version**: 12.14.1
* **Operating System**: linux, windows
* **Python Version**: 3.7.15, 3.11

**Describe the bug**
We are using the `azure.storage.blob.aio` to download a lot (~50k) of small (100 kB) blobs.
The memory usage (> 1 GB) of our program increases indefinitely over time, and it seems to be related to the BlobClient.

**To Reproduce**
Ste

[2022-11-06 20:41] tboerstad commented on #27320
cc @swathipil
This seems related to #27023

[2022-11-07 02:54] ImMin5 commented on #27145
Hi @navba-MSFT
Thanks for your advice. I fix the error :)

[2022-11-07 03:12] navba-MSFT commented on #27145
@ImMin5 Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-11-07 03:12] #27145 closed

[2022-11-07 06:36] guhuajun opened #27327 "The resource type 'alerts' could not be found in the namespace 'Microsoft.CostManagement' for api version '2019-11-01'"
- **Package Name**: azure-mgmt-costmanagement
- **Package Version**: 3.0.0
- **Operating System**: Windows 10 21H2 (OS Build 19044.2130)
- **Python Version**: 3.10.8

**Describe the bug**
Failed to call CostManagementClient().alerts.list(scope=scope)

I am playing with azure-mgmt-* packages for checking the readiness of these python packages. ConsumptionManagementClient().usage_details.list() is w

[2022-11-07 06:36] azure-sdk commented on #27327
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'API Management:0.057374503,KeyVault:0.050402462,ARM:0.044054143'

[2022-11-07 09:26] a-alwu opened #27336 "Update documentation for start_copy_from_url() source_authorization with more detailed explanations"
Hi,

Our application is using start_copy_from_url() to copy blobs from one storage account to another (different subscriptions). The sender requested us to use service principal to interact with the storage. We tried to pass the parameter source_authorization to authenticate the https requests. However the documentation is not clear how the format of the string should look like, and what the clien

[2022-11-07 09:26] azure-sdk commented on #27336
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.23647323,azure-spring:0.18212682,Authorization:0.103432454'

[2022-11-07 14:35] gs9824 commented on #26537
@johngallardo sorry for the late response.
I can confirm that is/was indeed the issue. Thank you for the solution.

[2022-11-07 17:01] #26543 closed

[2022-11-07 17:04] xiangyan99 commented on #27306
@azureml-github

[2022-11-07 17:06] xiangyan99 commented on #27317
Thanks for the feedback, we’ll investigate asap.

[2022-11-07 17:07] xiangyan99 commented on #27318
@azureml-github

[2022-11-07 17:07] xiangyan99 commented on #27319
Thanks for the feedback, we’ll investigate asap.

[2022-11-07 17:08] xiangyan99 commented on #27320
Thanks for the feedback, we’ll investigate asap.

[2022-11-07 17:09] xiangyan99 commented on #27327
Thanks for the feedback, we’ll investigate asap.

[2022-11-07 17:10] xiangyan99 commented on #27336
Thanks for the feedback.

Could you help to provide the information which library did you use and which version?

Thanks.

[2022-11-07 18:12] a-alwu commented on #27336
Hi Xiang, I am using the BlobClient and the library is azure-storage-blob   12.14.1. Thank you very much

[2022-11-07 18:13] xiangyan99 commented on #27336
Thanks for the information.

[2022-11-07 18:36] pallavit opened #27342 "Enable support for large blob upload/download in the Blob Client"

[2022-11-07 18:38] pallavit opened #27343 "GA blob client for ACR"
- [x] Consistency review for API Surface Area
- [x] Samples and readme consistency review

        https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/containerregistry/azure-containers-containerregistry/README.md#sync-examples
- [x] Changelog consistency review
- [x] TSG review

[2022-11-07 18:53] nathan-copperfrog commented on #27266
Here are some of the logs leading up to the errors. This is 24 hours after restarting the Function App running the code.

[2022-11-07 19:29] xiangyan99 commented on #27266
@mccoyp Looks like we don't refresh the token in challenging scenario?

Could you help to take a look?

[2022-11-07 20:05] tboerstad commented on #27320
I’m no longer convinced the example accurately depicts the error.

I was creating tasks at a rapid pace, and even though there were a maximum of 75 concurrent downloads, there were many more paused tasks (with BlobClients in them) presumably consuming memory.

[2022-11-07 20:16] jalauzon-msft commented on #27336
Hi @a-alwu, thanks for reaching out. I do agree this documentation is a bit confusing. What `source_authorization` is actually looking for is an OAuth Bearer token that has access to the data you are copying. So, what you need to do is use a different library/function to fetch a proper Bearer token using your tenant id, client id, and client secret and then supply it to `start_copy_from_url`

One

[2022-11-07 20:55] kristapratico opened #27347 "[QA] update sample to get exported project"
This sample should show how to get the exported project from the resultUrl. Right now we aren't doing anything with that information.

https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/sample_export_import_project.py#L55

Note that it may be useful to show how to do this with the various supported formats -- JSON, cs

[2022-11-07 20:56] azure-sdk commented on #27347
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.48993063,Docs:0.08554102,Cosmos:0.015346169'

[2022-11-07 21:30] diberry opened #27349 "Q: DefaultAzureCredential with Key vault needs additionally_allowed_tenants?"
If I'm connecting to Azure Storage, I can use a DefaultAzureCredential() but that doesn't work with Key vault, in which I can only get a secret if I configure the DefaultAzureCredential with tenants.

[code]

How should I know I need tenants when I'm reading the reference docs or quickstarts? I don't see it in the [quickstart](https://learn.microsoft.com/en-us/azure/key-vault/secrets/quick-create-

[2022-11-07 22:44] xiangyan99 commented on #27349
I believe https://learn.microsoft.com/en-us/azure/key-vault/secrets/quick-create-python?tabs=azure-powershell%2Cazure-cli#create-the-sample-code is out of date. In our latest code (which will be released this week and it will be a GA release), users don't need to specify additionally_allowed_tenants argument in DAC if they use cli credential which is used in the quickstart.

[2022-11-07 22:46] diberry commented on #27349
@xiangyan99 When do users need to specify additionally_allowed_tenants? Can you provide a link to documentation?

[2022-11-07 22:49] xiangyan99 commented on #27349
We have the doc to describe the scenario in https://aka.ms/azsdk/blog/multi-tenant-guidance.

[2022-11-08 00:44] swathipil commented on #23572
addressed

[2022-11-08 00:44] #23572 closed

[2022-11-08 00:44] swathipil commented on #25936
addressed

[2022-11-08 00:44] #25936 closed

[2022-11-08 00:48] swathipil commented on #22051
fix pylance error when `# type: ignore` is removed from `eventhub/_pyamqp/_transport.py` line 719 (`except (WebSocketTimeoutException, ...) as exc:`

[2022-11-08 03:52] guhuajun commented on #27327
Greetings,

I can confirm that I have a successful call to the cost management rest API endpoint directly. Personally speaking, it will not be a block issue to me for data visualization work items later. It's my turn to prepare some complex request.

[code]

[code]

[2022-11-08 03:54] b0scode opened #27357 "Readonly attribute will be ignored in class <class 'azure.mgmt.appconfiguration.v2022_05_01.models._models_py3.KeyValue'>"
Hi Sir,

We've used this SDK to create key-value with a specific label for App Configuration,
but encounter the error:
Readonly attribute label will be ignored in class <class 'azure.mgmt.appconfiguration.v2022_05_01.models._models_py3.KeyValue'>

Would you please help?
Thank you!

[2022-11-08 13:41] den-arm opened #27364 "az vm list error by ComputeManagementclient used the package to 28.0.0"
**Describe the bug**
Operations in the ComputeManagementclient that require pagination are failing after used the package to 28.0.0 and 29.0.0
There are 76 VMS in total. After 61 VMS are obtained, an exception occurs. Like the following error.

***Exception or Stack Trace***
Traceback (most recent call last):
  File "C:\Users\xxx\PycharmProjects\dragonfly\flask\tests\integration\syncer\test_azure_

[2022-11-08 14:22] adrian-gonzalez commented on #27038
Thank you @harneetvirk . We can do that as a temporary workaround.

When is the next release slated for?

Can you confirm if once azure-ai-ml v2.4.1 is removed from CI, whether newly created AML instance won't have this issue moving forward?

Just want to be sure that from a developer experience, that teams creating new AML instances don't have to always manually downgrade the auzre-ai-ml package

[2022-11-08 15:27] xiangyan99 commented on #27357
Thanks for the feedback, we’ll investigate asap.

[2022-11-08 15:28] xiangyan99 commented on #27364
Thanks for the feedback, we’ll investigate asap.

[2022-11-08 17:56] #26195 closed

[2022-11-08 17:56] #26196 closed

[2022-11-08 17:56] #26197 closed

[2022-11-08 19:52] jalauzon-msft commented on #27023
Hi @morpel, just wanted to update that we are still investigating this and trying to reproduce the issue on our end. Will update when we know more. Thanks.

[2022-11-08 19:54] jalauzon-msft commented on #27320
Hi @tboerstad Thomas, thanks for the info. My current thinking is that you may be correct in saying this is related to #27023 which we are actively investigating. For now, we'll treat this as the same. Please see other issue for when we provide updates.

[2022-11-08 20:10] scbedd opened #27368 "Analyze Dependencies should catch UNSPECIFIED dependencies"
Let's say we have a shared_requirements.txt of

[code]

if a `setup.py` specifies

[code]

This does **not** throw. Because TECHNICALLY there are no conflicts. Isodate just doesn't SPECIFY a requirement. We should sing out if this occurs.

[2022-11-09 01:21] pvaneck opened #27380 "[Perf] Validate/improve profiling integration with PerfStress framework"
Currently, the PerfStress framework does have a `--profile` option which profiles a single iteration with cProfile, and outputs a binary file into the current working directory that is meant to be analyzed with something like `pstats` or `snakeviz`.

Some items we should consider:

- [ ] Validate that the cProfile is enough to fit profiling needs and correctly works within the framework.
- [x] Pro

[2022-11-09 01:21] azure-sdk commented on #27380
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3054045,Storage:0.05118258,Cosmos:0.044038422'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.5381077,Client:0.4591876,Service:0.0017938041'

[2022-11-09 01:27] pvaneck opened #27381 "[Perf] Enable profiling in perf pipelines"
Would be useful to start collecting a history of profiling data that can be used to pinpoint causes for any performance regressions. The PerfStress framework has the ability to profile with cProfile. We should start using this functionality within the currently active performance pipelines.

Related issue for profiling improvements: https://github.com/Azure/azure-sdk-for-python/issues/27380

[2022-11-09 01:28] azure-sdk commented on #27381
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Factory:0.30407637,Storage:0.11652765,Azure.Core:0.030107887'

[2022-11-09 06:00] Wzb123456789 commented on #27327
Hi @guhuajun

We have updated the version about `azure-mgmt-costmanagement`, please update the package version to `4.0.0b1`, and try to run the code again.

[2022-11-09 06:51] Wzb123456789 commented on #27357
Hi @b0scode

Could you provide me with your run code block? And the version of azure-mgmt-app configuration you are using, and the result you expect to better solve your problem.

[2022-11-09 07:45] guhuajun commented on #27327
Hello @Wzb123456789,

I can confirm the 4.0.0b1 package is working, thanks for updating the package.
Let me keep on playing with the azure-mgmt-costmanagement package.

[code]

[2022-11-09 08:12] w0ut0 commented on #25868
Is there somebody that wrote a wrapper/package with some more advanced support for CosmosDB in Python (`GROUP BY`, `PATCH`,..)?

[2022-11-09 09:13] jernejknechtl commented on #27228
Thank you! This seems to solve the problem.

[2022-11-09 09:13] #27228 closed

[2022-11-09 17:55] kristapratico commented on #27087
This will be fixed on the service end.

[2022-11-09 19:45] l0lawrence opened #27402 "[Pipelines] Windows test runs "ValueError: underlying buffer has been detached""
(as @kristapratico pointed out) On Windows, for python tests pipelines, when installing dependencies at the start of "Run Tests" you get a logging statement with the error "ValueError: underlying buffer has been detached"

Examples:

[ServiceBus](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1976652&view=logs&j=d4f72375-ff6a-522a-0e39-e9ab7520415c&t=3a088c44-811c-504b-9620-1239eb

[2022-11-09 19:55] michaelmingram commented on #27319
Hi @vincenttran-msft:

1. RequestId:a45df50e-e01f-009d-2ed3-f01814000000, Time:2022-11-05T05:00:41.0157658Z
2. I'm appending to the file sequentially. The batch job is running in parallel with multiprocess, but each process is concerned with a different file.

Regards,
Mike

[2022-11-09 20:25] catalinaperalta commented on #27317
Thanks for reaching out @dev-td! If possible, could you please share the error message you're getting?

@vkurpad could you loop someone in from the service team to take a look?

[2022-11-09 20:26] jabbera opened #27404 "azure-monitor-opentelemetry-exporter b9 AzureMonitorLogExporter totally broken"
- **Package Name**:  azure-monitor-opentelemetry-exporter
- **Package Version**: 1.0.0b9
- **Operating System**: Linux
- **Python Version**:  3.10

**Describe the bug**
Cannot start monitor telemetry.

[code]
Statsbeats uses removed attribute:

https://github.com/Azure/azure-sdk-for-python/blob/9c4492a5f9aaf24c771cf380e2fe11acc0979601/sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/

[2022-11-09 20:28] dev-td commented on #27317
Hi @catalinaperalta , sure it's
ValueError: I/O operation on closed file
I can try to provide the error stack of that helps.

[2022-11-09 20:29] kristapratico commented on #27317
@catalinaperalta possibly related: https://github.com/Azure/azure-sdk-for-python/issues/20040

[2022-11-09 20:31] catalinaperalta commented on #27317
Ah I see, thanks for the info @dev-td and @kristapratico. Let me take a look

[2022-11-09 20:38] benbp commented on #27402
@l0lawrence So this does work if you pin on `3.7.9` ([pipeline](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1977852&view=results)) but not for `3.9` ([pipeline](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1977843&view=results)). I think the issue we may be seeing here was with vulnerabilities and the patch versions need to be pinned or set to `>=` for tests.

[2022-11-09 20:41] justinqquall opened #27406 "[Text analytics] Missing enums in HealthcareEntityRelation and HealthcareEntityCategory"
- **Package Name**: azure-ai-textanalytics
- **Package Version**:  5.2.1
- **Operating System**:
- **Python Version**: 3.10
**Describe the bug**
The following enums are received from the API but not included in the list of enums for `HealthcareEntityRelation`
[code]
The following enums are received from the API but not included in the list of enums for `HealthcareEntityCategory`
[code]
**To Reprod

[2022-11-09 20:41] azure-sdk commented on #27406
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Text Analytics:0.094449885,Storage:0.06462542,Tables:0.036182404'

[2022-11-09 20:43] kristapratico commented on #27406
Thanks @justinqquall, I'll take a look and get back to you asap.

[2022-11-09 20:43] justinqquall opened #27407 "[Text analytics] Warning about document length inconsistent with API service documentation"
- **Package Name**: azure-ai-textanalytics
- **Package Version**:  5.2.1
- **Operating System**:
- **Python Version**: 3.10
-
**Describe the bug**

The text analytics endpoint indicates that the max size per document is 30,720 characters however when submitting a document considerably smaller, a warning is received despite smaller character count. See below traceback printing the value of the docu

[2022-11-09 20:44] azure-sdk commented on #27407
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Text Analytics:0.54613066,Docs:0.21392056,Cognitive Services:0.044528954'

[2022-11-09 20:55] kristapratico commented on #27406
@peytonfraser these enum values were not defined in the swagger spec for [2022-05-01](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/cognitiveservices/data-plane/Language/stable/2022-05-01/analyzetext.json) and so the SDKs missed exposing them in the GA release. Can you provide the known list of values for these two enums?

[2022-11-09 21:02] justinqquall commented on #27406
Thank you, Krista!  Much appreciated.  Hope you’re having a nice week.

[2022-11-09 21:21] azure-sdk commented on #27407
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Text Analytics:0.54613066,Docs:0.21392056,Cognitive Services:0.044528954'

[2022-11-09 21:45] jalauzon-msft commented on #27023
Hi again @morpel, we were able to reproduce your findings on our side and did some investigation to determine what was happening. While we are still investigating the root cause, we believe we have a recommendation that should solve this memory issue for you.

Ultimately, this seems to be caused by you creating a new client instance for each request. We usually recommend that you re-use a single c

[2022-11-09 22:02] kristapratico commented on #27407
Hey @justinqquall, my understanding is that the 30k char limit is the max you can send in a request, any more than that and the request will fail. From your screenshot, the request succeeds, but there is a warning. Warnings are usually returned to indicate that the quality of the model prediction may be affected due to some reason. @peytonfraser from the Language service team to confirm.

[2022-11-09 22:11] kristapratico commented on #27406
Adding @aurghob, can you share all the known values for these two enums?

https://github.com/Azure/azure-rest-api-specs/blob/bdb63328ebe9214f0e513c0073ae7c97c6d4844f/specification/cognitiveservices/data-plane/Language/stable/2022-05-01/analyzetext.json#L825

https://github.com/Azure/azure-rest-api-specs/blob/bdb63328ebe9214f0e513c0073ae7c97c6d4844f/specification/cognitiveservices/data-plane/Langua

[2022-11-09 22:13] natbprice opened #27410 "azure.data.tables: 'ClientAuthenticationError' object has no attribute 'error_code'"
**Packages:** azure-data-tables==12.4.1, azure-identity==1.12.0
**Operating System:** Windows 10
**Python Version:** 3.10.4

**Describe the bug**
When `DefaultAzureCredential()` fails to retrieve a token with `azure.data.tables.aio.TableServiceClient().create_table_if_not_exists()` the error does not appear to be handled properly.

Observed error message:
`'ClientAuthenticationError' object has no

[2022-11-09 22:13] kristapratico commented on #27407
Adding @aurghob to confirm.

[2022-11-09 22:54] #26871 closed

[2022-11-10 00:07] #27404 closed

[2022-11-10 00:34] nathan-copperfrog commented on #27266
Following up to keep the post alive and see if there was any update on looking into the bug.

[2022-11-10 01:00] vincenttran-msft commented on #27319
Hi @michaelmingram Mike, thanks for the follow up. After taking a look into the `RequestID` provided above, I believe to have identified the cause. The exception `azure.core.exceptions.HttpResponseError: (InvalidHeaderValue)` you are receiving in this particular case is due to your header failing a null or empty check. I was able to reproduce this error locally by making an append call that attemp

[2022-11-10 02:31] mikeharder opened #27415 "Async clients close() does not close TCP connection"
**Update 11/11/22:** This issue might be purely in aiohttp, and not involve any of our code.  It repros when using aiohttp directly with a Blob SAS URL.

It appears that async clients `close()` method does not close the underlying TCP connection.  While running the app below, when the app is waiting for input the second time, `session.closed` is `True`, but the TCP connection is still `ESTABLISHED

[2022-11-10 03:34] msyyc commented on #26921
Hi @wiwski, I think you can avoid the error by making a little change like:
[code]

[2022-11-10 06:02] den-arm commented on #27364
@msyyc Thanks for the feedback.
My development environment list the version information as following:
<img width="651" alt="1" src="https://user-images.githubusercontent.com/68268464/201008644-92275338-dd94-4b5a-97e1-c7d22719e16e.png">

The api version is not set in my sourcecode.
In addition, what is the version number of 'azure-mgmt-compute' corresponding to api version '2022-07-02'?
I searched

[2022-11-10 06:35] dubiety commented on #3824
Hi @eavanvalkenburg,

We have published the following packages for Azure Maps. Sorry for waiting so long. Happy coding! :)

| PyPi Links  | README | Samples |
|-------------|-----------|----------|
|[azure-maps-search](https://pypi.org/project/azure-maps-search/)| [README](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/maps/azure-maps-search/README.md) | [Samples](https://github.com/A

[2022-11-10 06:35] #3824 closed

[2022-11-10 07:33] eavanvalkenburg commented on #3824
Thanks for circling back, I will have a look!

[2022-11-10 14:25] dalepotter opened #27424 "Question: Advice for mocking datetime"
- **Package Name**: azure-cosmos
- **Package Version**: 4.2.0
- **Operating System**: Ubuntu 20.04
- **Python Version**: 3.8

**Describe the bug**
[May not be a bug]
What is the advice for mocking `date` or `datetime` objects whilst interacting with Cosmos?
Currently, attempts to fix the date are generating a `CosmosHttpResponseError`:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I

[2022-11-10 14:46] wiwski commented on #26921
@msyyc
Yes indeed making the change fix the issue. I thought I tried this before opening the ticket.
So sorry for wasting your time on this. Thank you for taking the time to answer and find a solution.

[2022-11-10 14:53] diberry opened #27425 "Q: strip hyphens from Key Vault resource name?"
I ran into a situation with @pamelafox where the Key vault resource name was created with hyphens but the Azure portal removed the hypens for the endpoint URL. When constructing the URL for the SDK, instead of using the resource name, the hyphens had to be stripped out in order to successfully connect to the key vault.

Is this a known/doc'd issue somewhere? When should customers use hyphens in re

[2022-11-10 16:20] RakeshMohanMSFT commented on #26127
@ameitg This repository is for issues with the Python SDK itself and based on your query, it would be best to ask this in the Microsoft Q&A forum to better engage the wider community.

Please go through this document https://learn.microsoft.com/en-us/azure/logic-apps/logic-apps-azure-functions?tabs=consumption it can help with the direction.

[2022-11-10 16:39] xiangyan99 commented on #27410
Thanks for the feedback, we’ll investigate asap.

[2022-11-10 17:03] edgBR commented on #26329
Hi @luigiw, I'm sorry but this does not look reasonable.

The SDK 2.0 lacks of a lot of functionalities like publishing ML pipelines as endpoints, it lacks a proper example of datadrift in the solutions accelerator and honestly there are still a lot of things missing!!!

As a customer of Azure my company and I are really astonished about this behaviour.

Are you really not going to fix this issue

[2022-11-10 17:08] xiangyan99 commented on #27410
@YalinLi0312 Seems like we made the assumption [here](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/tables/azure-data-tables/azure/data/tables/_error.py#L214) that HttpResponseError must have error_code.

Could you help to take a look?

[2022-11-10 17:26] lmolkova opened #27428 "[ACR] Document upload/download artifacts samples"
- [ ]  Add sample code
- [ ]  Update Readme
- [ ] Nice-to-have: Live tests

[2022-11-10 17:35] glebrh opened #27429 "[Azure ML SDK v2] Issue while registering new data asset and then getting it back right after registration"
- **Package Name**: azure-ai-ml
- **Package Version**: 1.0.0
- **Operating System**: Windows Server 2022 Standard
- **Python Version**: 3.9.13

**Describe the bug**
When I try to register **a new data** asset using `MLClient.data.create_or_update()` and then try to get newly registered entity by name using `MLClient.data.get()` right after creation, it throws me an error like:

[code]

However, af

[2022-11-10 17:35] azure-sdk commented on #27429
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.11162622,Storage:0.06302417,Tables:0.0483478'

[2022-11-10 18:30] danieljurek commented on #21346
It's been a while. I think `code-block` was not supported. Will check in on whether this has changed.

If not, the fix would be to have the tools which generate this code output different doc comments.

[2022-11-10 20:13] #27161 closed

[2022-11-10 21:27] luigiw commented on #26329
@edgBR I really appreciate your feedback. Pipeline jobs as endpoints are coming up in the next a couple of months in v2. I'd love to know what other gaps you're facing that block you from upgrading to v2. If you can open a separate issue for that, that will help us a lot.

I'll argue the original issue you reported is more of a feature request than bug, which is hard to get teams within AzureML to

[2022-11-10 21:37] #23124 closed

[2022-11-10 21:47] jalauzon-msft commented on #17574
Reviving this item as we still see some issues with local files occasionally so would be good to switch to `tmpfile` or alike as Laurent has suggested.

[2022-11-10 22:34] pvaneck opened #27436 "[Monitor] Improve Ingestion compression logic"
The ingestion service has a 1MB upload size limit. Currently we loop through the log data until we get to 1MB of data, _then_ we compress it. So in the end, we are only uploading a fraction of what we could be uploading. (e.g. 1 MB of raw data ends up being 200KB compressed, so the payload is 200KB which leaves ample space until the limit is reached.

We should investigate how to improve this. May

[2022-11-10 22:34] azure-sdk commented on #27436
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.231941,azure-spring:0.13580751,Service Bus:0.08548776'

[2022-11-10 22:54] kashifkhan opened #27437 "[Pyamqp] Investigate Asyncio Story"
In pyamqp currently we are using futures for a lot of tasks to be run concurrently and be treated as fire n forget. This has caused some issues with tasks in pending states, exceptions not being raised etc. when things go off the happy path.

We want to examine how to effectively use Tasks and manage the exception strategy when using asyncio.gather, wait_for etc. This might require some shifting a

[2022-11-10 22:54] azure-sdk commented on #27437
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.14180927,azure-spring:0.059692796,Storage:0.059553955'

[2022-11-10 22:58] kashifkhan opened #27439 "[Pyamqp] Investigate coordination of receive task and client call back"
Today we are using two concurrently running background tasks to do the follow

* Receive messages from EH or SB and populate a buffer
* Callback task that reads from the buffer and calls the user defined function

The coordination between these two can lead to some odd behaviors in exception state, locks esp as the number of partitions increase. There is a patch today that address this issue.

We

[2022-11-10 22:59] azure-sdk commented on #27439
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3959683,Service Bus:0.22461891,Storage:0.14262989'

[2022-11-11 02:27] msyyc commented on #27364
@den-arm
(1) Please run `az -v` to show your cli version
(2) Please add ` --debug` when you run cmd like: `az vm list ... --debug`. With that, detailed log will be shown and please pay attention to "api-version" and "package version":
![image](https://user-images.githubusercontent.com/70930885/201249004-c46220e3-b0d2-46b4-b15a-3a522e0e05b8.png)

[2022-11-11 09:49] mbecker opened #27454 "[Azure ML SDK v2] File is not written to output azureml datastore"
- **Package Name**: azure.ai.ml
- **Package Version**: latest in Azure ML Notebooks (Standard)
- **Operating System**: Azure ML Notebooks (Standard)
- **Python Version**: Azure ML Notebooks (Standard)

**Describe the bug**
The Azure ML datastore `tfconfigs` has multiple files in the base path.

For a pipeline job the Azure ML Datastore `tfconfig` is defined as an output to write data:

[code]

The

[2022-11-11 09:49] azure-sdk commented on #27454
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Configuration:0.13678811,Storage:0.08488751,Compute:0.07487632'

[2022-11-11 19:57] scbedd opened #27550 "`tox_harness` should honor the new common check exclusion list"
For context, the `common check list` is defined in @kristapratico's PR #26704 that centralizes our exclusion lists.

Currently our `tox_harness` blindly invokes each set of tox environments as defined for the pipeline. It iterates across each package in the service, and invokes them in parallel.

[code]

Unfortunately, this means that for an environment that is a `check` like `pylint` or `pyright`

[2022-11-11 22:54] #23351 closed

[2022-11-13 07:46] morpel commented on #27023
Thank you @jalauzon-msft .
So how would you recommend using the `ContainerClient` in an app that is constantly running and uploading files to storage? Should I create the containerClient instance on startup and never close it? Otherwise I will have to recreate it for each upload and it seems that I will cause some memory issues as well

[2022-11-13 21:12] solidcloudio commented on #23697
I think the underlying issue here is the version of python typing_extensions library that's being used.  The latest azure core sdk utilizes ParamSpec type from the typing_extensions library.  the dev requirements file says you need typing_extensions>=3.7.2

https://github.com/Azure/azure-sdk-for-python/blob/c8291ac6cb0dbd865da03a88dd2bcb9279e2c4a6/sdk/core/azure-mgmt-core/dev_requirements.txt

How

[2022-11-14 09:56] tboerstad commented on #27023
@jalauzon-msft Can you also look at #27320?

That example uses a single `ContainerClient`, and calls `download_blob()` directly without creating a `BlobClient`, yet it still gobbles gigabytes of memory for ~100k blobs.

[2022-11-14 12:31] sfonteneau opened #27470 "Use "CredentialData" (AADHash) with azure-sdk-for-python"
Hello

I came across a powershell script that seems to do exactly what I want

https://github.com/Gerenios/AADInternals/blob/master/AzureADConnectAPI.ps1#L1190
https://github.com/Gerenios/AADInternals/blob/master/AzureADConnectAPI_utils.ps1#L296

I want to send azure ad the derivative of an md4 hash

In my case I do not have the password in clear

I can't find anything in "azure-sdk-for-python" th

[2022-11-14 12:32] azure-sdk commented on #27470
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.42646587,Azure.Identity:0.22251286,Azure.Core:0.061595697'

[2022-11-14 13:38] shbanua opened #27472 "Azure Service Bus Error while publish_message:: Handler failed: Authorization timeout."
Packages: azure-servicebus==7.8.1 azure-identity==1.12.0
Operating System: Windows 10
Python Version: 3.7.9

**Environment Setup**
Running the service bus in Private VNET with the private end point configured and trying to access it from local machine with VPN.

**Describe the bug**
Not able to publish the message using connection_string (shared access policies) to the service bus, but able to do

[2022-11-14 13:43] Krande commented on #17478
Hey, any progress on this issue? I've tried to glue together a workaround based on [this](https://stackoverflow.com/questions/63587660/yielding-asyncio-generator-data-back-from-event-loop-possible/63595496#63595496) but so far been unsuccessful :(

Any help would be much appreciated!

[2022-11-14 14:12] anup1227 opened #27473 "Azure EventHub Error : azure.eventhub.exceptions.AuthenticationError: Unable to open authentication session on connection"
**Packages**: azure-eventhub = "5.10.1" azure-identity==1.12.0
Operating System: Windows 10
Python Version: 3.7.9

**Environment Setup**
Running the event hub in Private VNET with the private end point configured and trying to access it from local machine with VPN.

**Describe the bug**
Not able to publish the message using connection_string (shared access policies) to the event hub in private net

[2022-11-14 16:46] xiangyan99 commented on #27429
@azureml-github

[2022-11-14 16:49] xiangyan99 commented on #27472
Thanks for the feedback, we’ll investigate asap.

[2022-11-14 16:49] xiangyan99 commented on #27473
Thanks for the feedback, we’ll investigate asap.

[2022-11-14 17:07] kristapratico commented on #23697
@solidcloudio, can you share the output of `pip freeze` for your environment and help me understand where you see the failure?

azure-core installs typing-extensions==4.0.1: https://github.com/Azure/azure-sdk-for-python/blob/3482c85d8500e465f16e1b84133068a07a0a03f5/sdk/core/azure-core/setup.py#L72

The dev_requirements.txt file is used for testing purposes only and the versions specified in that f

[2022-11-14 17:53] ziyadss commented on #26933
How can it be supported? Do we have to make changes on our side? Since the APIs are GA'd, any changes would have to be non-breaking. I'll look into the supported LRO polling methods and see what can be done there.

`format` can be "Conversation" or "Luis", for the import API it lets us know if we're dealing with a CLU project file, or one that's migrating from LUIS. It's still a query parameter fo

[2022-11-14 18:17] aurghob commented on #27406
Hi,
Thanks for bringing this up. We will discuss these with the team that works on the model to make sure there are no other discrepancies before we move forward.

[2022-11-14 18:21] danieljurek commented on #21346
It seems `code-block` _is_ supported... I'm going to run a test and see if the latest version successfully builds the package in question.

[2022-11-14 18:50] kashifkhan commented on #27473
Hi @anup1227 ,

I have some follow up questions for you:
* Is service bus explorer running on the same local machine as the python SDK ?
* Is the local machine part of the VNET ? are you able to run `nsloopup <eventhubs-namespace>.servicebus.windows.net` and get it resolved?
* Are you able to use websocket transport by passing in `transport_type=TransportType.AmqpOverWebsocket` in to `from_connect

[2022-11-14 18:51] kashifkhan commented on #27472
Hi @shbanua ,

I have some follow up questions:

* Is service bus explorer running on the same local machine as the python SDK ?
* Is the local machine part of the VNET ? are you able to run `nsloopup <eventhubs-namespace>.servicebus.windows.net` and get it resolved?
* Are you able to use websocket transport by passing in `transport_type=TransportType.AmqpOverWebsocket` in to from_connection_strin

[2022-11-14 18:54] sam-mtm commented on #27266
@mccoyp Is there any update you can share on this ticket?

[2022-11-14 19:35] mccoyp commented on #27266
Hi @nathan-copperfrog and @sam-mtm, sorry about the delay. I was out of the office last week, but I'll look into this and provide an update as soon as possible.

[2022-11-14 19:57] jalauzon-msft commented on #27023
Hi @morpel, creating a single `ContainerClient` instance on startup and using it for all your requests should be find and would be the recommended approach. This should work across threads as well.

[2022-11-14 20:28] heaths commented on #26933
About support, I was talking specifically about the SDK. Even then, I don't think there's a good way to solve this. But please make sure LROs follow [guidance](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#long-running-operations--jobs) henceforth so that our SDKs do the right thing. And we would've supported even this LRO though it's an older LRO style, except that th

[2022-11-14 22:12] #26457 closed

[2022-11-15 01:40] #25238 closed

[2022-11-15 12:48] MoElias1 commented on #25018
Have the same problem, M1, Mac OS Ventura, python 3.9.6!

[2022-11-15 13:59] shbanua commented on #27472
Hi @kashifkhan

Thank you for your inputs.

The 3rd step mentioned by you worked perfectly by passing the transport_type=TransportType.AmqpOverWebsocket in to from_connection_string, and able to publish the message to the service bus.

[2022-11-15 14:02] LucasVascovici commented on #23906
#https://github.com/Azure/azure-sdk-for-python/pull/27502

[2022-11-15 14:03] LucasVascovici commented on #23906
Created a PR #27502

[2022-11-15 14:13] galtman5 opened #27503 "Add more JSON parsing capability to the DelimitedJsonDialect class for querying blob storage JSON files"
**Is your feature request related to a problem? Please describe.**
I am trying to query a json file that sits in blob storage. I get a null response no matter what I delimit it by because of (I think) the way the json is formatted. The json file is a list of json's. For example:
[code]

The query i'm trying to run is "SELECT COUNT(*) FROM BlobStorage"

**Describe the solution you'd like**
I would

[2022-11-15 15:10] DoronGaznavi opened #27504 "Scale set virtual machine instance creation time"
- **Package Name**: azure.mgmt.compute
- **Package Version**: 29.0.0
- **Operating System**:Ubuntu 20.04
- **Python Version**: 3.8

**Describe the bug**
From api version 22-11-01 and up, the field timeCreated is available in the resource json of a scale set virtual machine instance.
But using the ComputeManagementClient is not resulting the new resource json format.
[ComputeManagementClient defaul

[2022-11-15 16:37] pankajkumar002 commented on #27303
Hi @xiangyan99 @mccoyp any updates on this?

[2022-11-15 17:08] urucoder opened #27505 "Service Bus: Authorization timeout and intermitent connection using multiprocessing"
- **Package Name**: azure-servicebus
- **Package Version**: 7.8.1
- **Operating System**: cbl-mariner docker with tag python:3-cm2.0
- **Python Version**: 3.9.13

**Describe the bug**
The queue receiver fails with a *ServiceBusError('Handler failed: Authorization timeout..')* without a specific time period, we've implemented a recovery system based on [this example](https://github.com/Azure/azure-

[2022-11-15 17:44] xiangyan99 commented on #24765
@yeamusic21 Thanks for your feedback.

@luigiw FYI.

[2022-11-15 18:27] xiangyan99 commented on #27470
Thank you for the feedback. We will discuss the request with our architects.

[2022-11-15 18:52] #27349 closed

[2022-11-15 18:52] YalinLi0312 commented on #23917
Thanks @antkmsft , I'll try to reproduce the problem asap.

[2022-11-15 19:05] mccoyp commented on #27303
Hi @pankajkumar002, sorry about the delayed response. I was out of office last week, but I'll look into this and provide an update as soon as possible.

[2022-11-15 19:42] #27066 closed

[2022-11-15 19:43] xiangyan99 commented on #27504
Thanks for the feedback, we’ll investigate asap.

[2022-11-15 19:44] xiangyan99 commented on #26392
Dup of #26895

[2022-11-15 19:44] #26392 closed

[2022-11-15 20:33] scottaddie opened #27509 "Add configurable process timeout for dev-time credentials"
Add configurable process timeout for the following credential types:

- Azure CLI
- Azure PowerShell

Related to https://github.com/Azure/azure-sdk-for-net/pull/28792

[2022-11-15 21:31] scbedd opened #27512 "Address storage conda failures"
[Example Build](https://dev.azure.com/azure-sdk/public/_build/results?buildId=1988363&view=logs&j=8873f527-7357-58e7-5ce6-43dabf5f3769)

Explore and resolve this.

[2022-11-15 21:32] azure-sdk commented on #27512
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3575701,Storage:0.27771208,Docs:0.018013472'

[2022-11-15 23:02] catalinaperalta opened #27513 "[AnomalyDetector] Regenerate SDK from latest Python CADL DPG"
Regenerate once endpoint encoding is fixed and models are imported in files where they are being referenced.

[2022-11-15 23:03] azure-sdk commented on #27513
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Anomaly Detector:0.537173,Service Bus:0.100183606,Storage:0.081166446'

[2022-11-16 00:01] jalauzon-msft opened #27515 "[Storage] Make sure all upload APIs support and document the same types for data"
We have many different upload APIs that differ on what they have for a type-hint and what they actually support; with some claiming to support things they do not currently support.

The type support for `BlobClient.upload_blob` is probably most correct:
`Union[bytes, str, Iterable[AnyStr], AsyncIterable[AnyStr], IO[AnyStr]],` (`AsyncIterable` for async only)

All these types are actually supported

[2022-11-16 00:14] #26034 closed

[2022-11-16 00:17] #26916 closed

[2022-11-16 00:21] vincenttran-msft commented on #27503
Hi @galtman5 thanks for your inquiry. I want to preface my response with the fact that I am not too familiar with the mechanisms of these queries, but I believe I have been able to get a working proof of concept that you can modify to work with more complex use cases.

Code snippet:
[code]
Example Output: ` b'{"_1":2};'`

With that being said, again I'm not sure if this is the expected value from

[2022-11-16 01:13] catalinaperalta commented on #27317
Hi @dev-td, I wanted to follow up and let you know that we're still looking into a fix for this issue. In the meantime, if possible, could you share the error stack please?

[2022-11-16 01:19] lmazuel commented on #20040
@xiangyan99 let's solve the problem like aiobotocore:
https://github.com/aio-libs/aiobotocore/blob/88a43098b1194bf759581acc710ad5bdbdd99a96/aiobotocore/_endpoint_helpers.py#L28-L34

IOW, a wrapper that ignore close, so we avoid aiohttp taking ownership

[2022-11-16 01:23] xiangyan99 commented on #20040
@lmazuel Yalin proposed a work around in https://github.com/Azure/azure-sdk-for-python/pull/27413/files#diff-88ebf1ca1c5f592762e5578cd2f3ce7fa323a37c7d34eb09f33b260b5fb4b3bd and is waiting for architect feedback.

Basically it uses same mechanism that hacks the close method and takes over the ownership of the stream.

We will port it into core if it gets approval from our architects.

[2022-11-16 01:29] jalauzon-msft commented on #27257
Closing this issue, please let me know if you have any more questions. Thanks.

[2022-11-16 01:29] #27257 closed

[2022-11-16 02:09] bupt-wenxiaole commented on #24836
any update on this?  I also encountered issues that storage client does not support AzureNamedKeyCredential

[2022-11-16 02:26] galtman5 commented on #27503
Hey Vincent, thanks for the response! I could be mistaken here, but your example data does not reflect the format of my initial question. Using just your data code, I get a json with just the curly bracket pairs separated by a \n. (the \n is fine)
i.e -
[code]

The format of my json is a **_list_** of curly bracket pairs.
i.e.
[code]

[2022-11-16 02:50] pvaneck opened #27522 "[Monitor Query] Support resource-centric logs queries"
With https://github.com/Azure/azure-rest-api-specs/pull/18141 merged, the azure-monitor-query code should be regenerated using the latest specs/autorest.  We should also be setting `version-tolerant: true` in the swagger file to ensure that we use CADL DPG.

- [ ] Add API surface to support new `/{resourceId}/query` endpoint
- [ ] Add code example
- [ ] Update README (we currently say a workspace

[2022-11-16 02:50] azure-sdk commented on #27522
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'azure-spring:0.2643865,Monitor - Query:0.1414261,Monitor:0.07571463'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.50597346,Client:0.45510432,Service:0.036323722'

[2022-11-16 04:53] Mchristos commented on #20083
Is there any update regarding @polys comment above RE removing `py.typed`? I'm in the exact same situation and am forced to pin my version to the old 12.8.1

[2022-11-16 05:00] guhuajun commented on #27327
Greetings,

Close this issue due to the new release of azure-mgmt-costmanagement.
I am busy with other topics, and further tests are delayed.

[2022-11-16 05:00] #27327 closed

[2022-11-16 06:43] msyyc commented on #21346
Hi @danieljurek Please help review: https://github.com/Azure/azure-sdk-for-python/pull/27531

[2022-11-16 07:07] #26869 closed

[2022-11-16 08:09] #22370 closed

[2022-11-16 08:10] Wzb123456789 commented on #27504
Hi @DoronGaznavi, thanks for your feedback.

Please provide what method you use when doing the `Initiate instances in the new scale set` operation, so that your problem can be better solved.

[2022-11-16 16:47] #22808 closed

[2022-11-16 17:59] giseliramos opened #27543 "DeviceCodeCredential from docker run in container does not output the code"
- **Package Name**:  azure-identity
- **Package Version**:  1.9.0
- **Operating System**: Ubuntu 18.04.6 LTS
- **Python Version**: Python 3.7.5

**Describe the bug**
When using a bash script to call the following container:
[code]
And in the script `run_python_script.sh` from the container I call a python script (by `python -m myscript.py`) that simply invokes the following:
[code]
It simply stops

[2022-11-16 17:59] azure-sdk commented on #27543
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.2151818,Subscription:0.13143085,Container Registry:0.11104807'

[2022-11-16 19:29] xiangyan99 commented on #27470
This is the doc for `InteractiveBrowserCredential`: https://learn.microsoft.com/en-us/dotnet/api/azure.identity.interactivebrowsercredential?view=azure-dotnet

[2022-11-16 19:36] Reddragonemperor58 commented on #18838
Hi scbedd could you tell me the location of the code block

[2022-11-16 19:43] sfonteneau commented on #27470
🧐 this does not solve my problem ...

"Credentialdata" used by "azure AD connect" why not use it?

Will it be replaced by another equivalent method?

[2022-11-16 20:11] lisabecker-ml6 opened #27547 "Instantiating a CosmosClient throws 'NoneType' object has no attribute 'ConsistencyPolicy' error"
- **Package Name**:  azure-cosmos
- **Package Version**:  4.3.0
- **Operating System**:  WSL Ubuntu (in VSCode)
- **Python Version**:  3.7.5

**Describe the bug**
I'm trying to instantiate a CosmosClient from a connection string. It throws an `AttributeError: 'NoneType' object has no attribute 'ConsistencyPolicy'` error. The NoSQL resource exists and contains one database with one container, which

[2022-11-16 20:21] kashifkhan commented on #27505
Hi @urucoder, I havent been able to reproduce this on my end yet. There are two thoughts I have in the meantime, in the past Ive noticed this happen especially with Authorization timeouts :
* Intermittent network connections - > are you able to see from logs if a connection was lost?
* Too many connections and stuff not closing properly, not disposed -> are you seeing a lot of socket connections o

[2022-11-16 21:20] pallavit commented on #22229
I vaguely remember this was a conscious call we had made at the time but I do not recollect the reason :|. I believe some of our SDKs today do have a default especially for national cloud support does it makes sense for us to do the same for ACR as well?
/cc: @annelo-msft , @lmolkova

[2022-11-16 22:08] lmolkova commented on #22229
ACR for Java defaults to public cloud. But [it's required](https://github.com/Azure/azure-sdk-for-net/blob/7e822ad7ddc2164d51fe81dc0449b58c0f4bed81/sdk/containerregistry/Azure.Containers.ContainerRegistry/src/ContainerRegistryClient.cs#L75) on .NET (it was introduced here https://github.com/Azure/azure-sdk-for-net/pull/23141, it seems there was a need to postpone choosing default value).

BTW I ne

[2022-11-16 22:26] lmolkova commented on #22229
Found the guideline: https://azure.github.io/azure-sdk/policies_support.html#azure-clouds

[2022-11-16 23:48] xiangyan99 commented on #27543
Thanks for reaching out.

creds = DeviceCodeCredential() only creates the object. It does not do anything. Did you call creds.get_token()?

[2022-11-16 23:49] xiangyan99 commented on #27547
Thanks for the feedback, we’ll investigate asap.

[2022-11-17 00:03] azure-sdk commented on #27550
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.22307134,Azure.Core:0.12598448,Service Bus:0.09513172'

[2022-11-17 00:03] scbedd commented on #27550
Resolved by #27487

[2022-11-17 00:04] #27550 closed

[2022-11-17 00:08] vincenttran-msft commented on #10277
A PR was merged that fixes this bug at #26991. Closing this issue 😄

[2022-11-17 00:08] #10277 closed

[2022-11-17 00:48] jalauzon-msft commented on #24836
Hi @bupt-wenxiaole, support for `AzureNamedKeyCredential` was released in the latest version of each Storage package. For blob, that would be 12.4.1 (feature first added in [12.14.0b1](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/storage/azure-storage-blob/CHANGELOG.md#12140b1-2022-08-23)). Please try with the latest version, thanks.

[2022-11-17 00:57] YalinLi0312 commented on #24480
@timothyvries , thanks for your waiting!
We are working on re-factoring the de/serialization of `TableEntity` type in this semester, we'll take your feedback into consideration. Stay tuned!

[2022-11-17 01:01] YalinLi0312 commented on #25403
@edgarhuichen , thanks for your waiting!
We are working on re-factoring the de/serialization of TableEntity type in this semester, we'll take your feedback into consideration. Stay tuned!

[2022-11-17 01:55] mccoyp commented on #27303
Hi again @pankajkumar002 -- after looking into this more, I'm pretty confident that this isn't particular to Key Vault. My guess would be that requests to different endpoints might fail with the same error, but correct me if I'm wrong.

I wouldn't expect that the Key Vault service is providing an invalid, self-signed certificate, so I think this should be a local configuration issue. Online search

[2022-11-17 03:42] mccoyp commented on #27266
Just to confirm, @nathan-copperfrog, is your code using `azure-keyvault-secrets` version 4.4.0? That was the first package to use API version 7.3 (which I see in the logs), and was the latest release when `azure-identity` 1.10.0 was released.

I'm still looking into the cause, but based on the output you shared, it looks like you received a 401 response/challenge request at the start of the intera

[2022-11-17 05:37] wallflower762 opened #27562 "Async delete_blobs method raises an exception when using Azurite"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.14.1
- **Operating System**: Windows 10 64 bit
- **Python Version**: 3.8.6
- **Azurite Version**: 3.20.1 installed using VS Code extension

**Describe the bug**
Calling `await delete_blobs(*blobs)` results in an exception. This only seems to occur against Azurite, using this method against a standard storage account seems to work as

[2022-11-17 05:45] rahulsoni43 opened #27563 "ModuleNotFoundError: No module named - azure.storage.cloudstorageaccount"
- **Package Name**: azure-storage-blob and azure-storage-common
- **Package Version**: 12.11.0 and 2.1.0
- **Operating System**: Ubuntu 20.04
- **Python Version**:  3.8

**Describe the bug**
Facing issue wrt to Azure SDK of Cloud Storage and installed all latet required packages as described here
https://azure.github.io/azure-sdk/releases/latest/all/python.html

**To Reproduce**
Steps to reproduce

[2022-11-17 05:45] azure-sdk commented on #27563
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.26552102,Azure.Core:0.087159306,Docs:0.061409093'

[2022-11-17 08:46] anup1227 commented on #27473
Hi @kashifkhan when passing in transport_type=TransportType.AmqpOverWebsocket to the producer client then able to publish the message with no such previous error, but is any any other way it can be fixed without using transport_type as an extra parameter?

[2022-11-17 09:46] fredrike opened #27566 "Problem using mldesigner Output"
- **mldesigner**:
- **0.1.0b8**:
- **Linux f170461 5.4.0-1074-azure #77~18.04.1-Ubuntu SMP Wed Mar 30 15:36:02 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux**:
- **Python 3.8.13 (default, Mar 28 2022, 11:38:47) **:

**Describe the bug**
According to `mldesigner/_input_output.py` there should be support for `path` and `mode` parameters for Output like the example below:

[code]

This does however yeild t

[2022-11-17 09:46] azure-sdk commented on #27566
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute:0.08512443,Event Hubs:0.08366934,Azure.Core:0.051539335'

[2022-11-17 11:20] qlbp opened #27567 "Form recognizer serialization"
**Is your feature request related to a problem? Please describe.**
I would like to be able to retrieve the JSON output from Form Recognizer using the python Form Recognizer SDK.

For example in `sample_convert_to_and_from_dict.py`, the result is serialised in data.json by:

1.  Obtaining a form recognizer result (an AnalyzeResult object)
2.  Converting to a dictionary with the to_dict method
3.  S

[2022-11-17 11:20] azure-sdk commented on #27567
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Form Recognizer:0.25944063,Service Bus:0.080457345,Storage:0.0652676'

[2022-11-17 14:42] HeathArhturLouis commented on #25018
Same here, M1, Mac OS, Python 3.9.6

[2022-11-17 14:47] github-Hesham commented on #26537
- [•] -

[2022-11-17 14:48] kashifkhan commented on #27473
@anup1227 since websockets are working this means that port 443 is allowed on the firewall ( which is https traffic and also used for amqp over websockets ). My guess will be that the firewall on the vnet needs to allow the AMQP ports 5671 and 5672, this way you wont need to pass in a transport_type in to your connection string

[here](https://learn.microsoft.com/en-us/azure/event-hubs/troubleshoo

[2022-11-17 15:30] nathan-copperfrog commented on #27266
@mccoyp  Thank you for getting back.

We currently don't have the azure-keyvault-secrets version locked so the most recent deploy is using 4.6.0.

Some added information, as an experiment last week we locked azure identity to version 1.9.0 and since then we have not had the authentication problem. Its only been three days since we stopped restarting the Azure function automatically every 12 hours,

[2022-11-17 16:35] xiangyan99 commented on #27567
Thanks for the feedback, we’ll investigate asap.

[2022-11-17 16:37] xiangyan99 commented on #27566
@azureml-github

[2022-11-17 16:38] xiangyan99 commented on #27563
Thanks for the feedback, we’ll investigate asap.

[2022-11-17 16:38] xiangyan99 commented on #27562
Thanks for the feedback, we’ll investigate asap.

[2022-11-17 17:36] praveenkuttappan opened #27572 "Enable check for preview release approval in APIView for Python"
Enable approval for preview release. We should fail build job if APIView returns error code 202 for a preview version package when release date is set in change log.

[2022-11-17 17:36] azure-sdk commented on #27572
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.09009077,Cosmos:0.045588426,Tables:0.040689252'

[2022-11-17 18:40] giseliramos commented on #27543
Hi, I actually use it later in the code to retrieve a secret from key vault:
[code]
If I call directly the python script from inside container, it works ok, by showing the code. But starting from bash script to docker run the container and call the python script from script, it does not show the code :(
How I use the creds.get_token? Inside the SecretClient constructor?

[2022-11-17 19:37] jalauzon-msft commented on #27563
Hi @rahulsoni43, the issue is likely that you installed `azure-storage-common==2.1.0` with `azure-storage-blob=12.11.0`. Version `12.x.x` of the blob SDK are not compatible with `azure-storage-common` as that package is deprecated. I would try uninstalling `azure-storage-common`.

There may also be other incompatibilities with installing all of those azure packages. Do you need all the azure packa

[2022-11-17 19:48] urucoder commented on #27505
Hi @kashifkhan, this is a hard bug to reproduce, given it requires the connection to be inactive for an X time-lapse and what happens when the messages get lost is still black magic for us. I just implemented your suggestion and added more logs, I have to wait for approval on the changes and deploy it to test. I'll be back to you as soon as I have more information

[2022-11-17 21:08] #26138 closed

[2022-11-17 21:17] xiangyan99 commented on #27543
creds.get_token will be called automatically when your SecretClient needs a token.

IOW, when you use your SecretClient and call a method, SecretClient calls creds.get_token and get the token on your behalf.

Coud you share more about your scenario?

Is it by design that secret_client = SecretClient(f'https://{secret_data["keyvault"]}.vault.azure.net/', credential=creds) does not try to get token

[2022-11-17 21:22] scbedd opened #27575 "Conda Publishing Updates"
CC @xiangyan99 for awareness.

## Re-orchestrate conda artifact assembly

- [x] Remove manual test invocations of the conda packages.
- [x] Create a separate pipeline in `internal` for publishing and package assembly.
- [x] Need to bring `integration` publishing online all the packages. Doing so will enable tiered update when Xiang is rolling out a set of conda packages. EG: He releases `azure-cor

[2022-11-17 21:22] azure-sdk commented on #27575
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.1591071,Azure.Identity:0.11496227,EngSys:0.051701605'

[2022-11-17 21:23] scbedd commented on #18312
Closing this as duplicate of new work item #27575

[2022-11-17 21:23] #18312 closed

[2022-11-17 21:29] scbedd commented on #27512
Going to be following up with #27575.

We are going to stop explicitly running tests against these conda packages. It's just duplicated work. Going to close this item when I have disabled these in code.

[2022-11-17 22:53] #27512 closed

[2022-11-17 22:53] #26165 closed

[2022-11-18 00:21] sefouber opened #27579 "[Service Bus] Session is not closeable"
**Describe the bug**
Setting a Service Bus session state to `None` causes an exception

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:

 receiver.session.set_state(None)

***Code Snippet***
Add the code snippet that causes the issue.

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

Being able to set the state

[2022-11-18 00:51] sebastian2696 opened #27582 "[Service Bus] Session is not closeable"
**Describe the bug**
Setting a Service Bus session state to `None` causes an exception

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:

 receiver.session.set_state(None)

***Code Snippet***
Add the code snippet that causes the issue.

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

Being able to set the state

[2022-11-18 00:52] #27579 closed

[2022-11-18 00:52] sefouber commented on #27579
Submitted from right account

[2022-11-18 02:15] #21346 closed

[2022-11-18 02:29] vincenttran-msft commented on #27503
Hi @galtman5, thanks for your response. I see that my original response was not accurately depicting your initial question. I believe the following does however:
[code]

And running your query against this results in a non-null value:
`b'{"_1":1};'`

However, I can see how this still does not solve your problem of counting the rows. Again, apologies for my lack of depth in this area, but I believe

[2022-11-18 03:38] brynn-code commented on #27566
@fredrike The root cause is we are using one Output class for both defining a component and consuming a component, 'path' is a field which can only be used when consuming the component, so at the end, error message said: 'path': ['Unknown field.'].

[2022-11-18 05:31] anup1227 commented on #27473
Thank you @kashifkhan for the resolution will look into our vnet if required for now closing the issue.

[2022-11-18 05:31] #27473 closed

[2022-11-18 05:37] rahulsoni43 commented on #27563
Thanks @xiangyan99 for picking up this.. I did tired that couple of times before reporting but no luck there too..
When i am using `pip3 install azure-storage-blob` it is installing just `12.11.0` not sure why it is not picking up the latest one as stated by you - `12.14.1`

For your reference

[code]

[2022-11-18 05:55] rahulsoni43 commented on #27563
I did install `azure-storage-blob==12.14.1` seems no luck, still the same issue

[2022-11-18 06:28] colbydh opened #27592 "How to use filters in azure.mgmt.authorization class?"
I'm trying to filter to my subscription using my scope but the documentation for Azure is a little confusing on how it works. It says, "Use $filter=atScope() to return all role assignments at or above the scope." I tried the following but am getting an error saying "name 'atScope' is not defined. Any help would be great!

[code]

[azure.mgmt.authorization class](https://learn.microsoft.com/en-us/p

[2022-11-18 07:00] rahulsoni43 commented on #27563
I am sending my Dockerfile where I am encountering this issue..

[code]

[2022-11-18 07:03] colbydh commented on #27592
I found a workaround:

[code]

[2022-11-18 07:03] #27592 closed

[2022-11-18 07:54] lisabecker-ml6 commented on #27547
Update: I believe the authentication token error is linked to WSL being out of sync after the laptop was in sleep mode (like described here and in other GitHub issues: https://github.com/microsoft/WSL/issues/4245)

Since resetting the WSL clock with `sudo hwclock -s` regularly, I haven't encountered the `'NoneType' object has no attribute 'ConsistencyPolicy'` anymore. Since I can't reproduce the e

[2022-11-18 07:54] #27547 closed

[2022-11-18 08:22] a-alwu commented on #27336
Thank you very much @jalauzon-msft :) Will test it out and let you know asap.

[2022-11-18 08:27] a-alwu commented on #27336
Just tested. It worked. Thanks a lot.

[2022-11-18 08:29] schumixmd commented on #24815
/unresolve
this seems to still be a problem

[2022-11-18 12:00] giseliramos commented on #27543
Sure, I'll try to detail the scenario. First, I have a script `trigger_container.sh`, that have the following:
[code]
So, it specifies an entrypoint, another script called `run_python_script.sh`. Inside this script (running from the $CONTAINER_IMG):
[code]
And finally in the mycustommodule python part:
[code]
   So, if I run by using the script `trigger_container.sh`, when I reach the part of the

[2022-11-18 17:48] catalinaperalta commented on #27567
Thanks for reaching out @qlbp! I want to make sure I understand the problem, you're looking to get the raw JSON response that's returned by the service?

[2022-11-18 17:58] qlbp commented on #27567
Thanks for the replies @catalinaperalta and @xiangyan99. Yeah receiving the raw JSON response might be good?
I'm trying to get the same JSON results as Form Recognizer Studio gives.

[2022-11-18 18:23] catalinaperalta commented on #27567
I see, thanks for the info. To get the raw response from the SDK you can use a callback in the following manner:
[code]

Let me know if that helps!

[2022-11-18 19:01] xiangyan99 commented on #27563
Could you share the output when you run this?

[2022-11-18 19:22] galtman5 commented on #27503
I see. I haven't had much luck with putting query together to get it returning a non null value.

It's a pretty large file and even with 'SELECT * FROM BlobStorage' it returns null pretty quickly so it leads me to believe it's something with the json parser where it's not able to run the query at all. I'd appreciate if you guys could look into it for me.

Thank you :smile:

[2022-11-18 19:48] jalauzon-msft commented on #27562
Hi @wallflower762, since this works against the Storage service but not Azurite (which I have confirmed in my testing), I would recommend opening an issue in the [Azurite Repo](https://github.com/Azure/Azurite/issues). It is possible that batch delete is just not supported in Azurite yet or there may be some other issue going on. Given this works as expected against the service, I don't suspect th

[2022-11-18 19:55] xiangyan99 commented on #27543
Thanks for the detailed information.

Can you try add

import logging
logging.basicConfig(level=logging.DEBUG)

in our code so we can get more hints to tell us what happens? :)

[2022-11-18 19:55] qlbp commented on #27567
Yeah that's a really nice solution for my issue, thank you very much @catalinaperalta!

[2022-11-18 19:55] #27567 closed

[2022-11-18 20:18] hholst80 commented on #19755
I have quite a bit of blobs in my container. But I do not see any performance improvement.

Please advice.

![image](https://user-images.githubusercontent.com/6200749/202795003-cbae79ac-244d-4f0f-a40d-aee60c953b8e.png)

[2022-11-18 20:19] xiangyan99 commented on #27266
@nathan-copperfrog As mccoyp pointed out, the difference between identity 1.9.0 and 1.10.0 is the msal-extension version.

Could you help to share the msal-extension version when you use identity 1.9.0 vs latest one?

Another experiment could be keep using the latest identity but downgrade msal-extension to 0.3.0 and see if the issue goes away.

Thanks.

[2022-11-18 20:21] xiangyan99 commented on #27470
Agreed that it does not 100% cover your scenario.

But unfortunately, this scenario is being deprecated and I am afraid there is no equivalent method to replace it.

[2022-11-18 20:22] giseliramos commented on #27543
Okay, I´ve found the problem. I discovered that I need to use the flag `-it` in the `docker run` command, so by using:
[code]
With this flag I was finally able to see the code :smile: The logging info in debug mode yields the following if I don´t use the docker `-it` flag (I´ve redacted sensitive info):

[code]
Not sure if this log is useful. If the log does not give any new info, I guess that you

[2022-11-18 20:24] xiangyan99 commented on #27543
The log looks correct.

Thanks for your updates and I will close the issue. :)

[2022-11-18 20:24] #27543 closed

[2022-11-18 21:53] hholst80 commented on #27144
Is the prefix matching slowing it down? I also see very poor performance when using either of the methods to list blobs with a prefix.

[2022-11-19 00:40] #25213 closed

[2022-11-19 00:42] mccoyp commented on #27425
Hi @diberry, thank you for opening an issue! This isn't something I've seen before, and may be a regression. I personally use a Key Vault with a hyphen in its name and haven't had issues with it, but the vault was created a while back. I'll tag someone from the service team who can take a look.

cc @jlichwa

[2022-11-19 00:51] jalauzon-msft commented on #27320
Hi @tboerstad Thomas, I tried to reproduce the runaway memory usage you were seeing by cloning your scenario as closely as I could, but I was unable to reproduce the issue unfortunately. I setup a container with 50k 100 KiB blobs and ran your exact script to download them and copy them to a local directory. The memory usage stayed fairly constant for me around 70 MiB and didn't grow beyond that du

[2022-11-19 11:59] tboerstad commented on #27320
Thank you @jalauzon-msft for the investigation.
Your findings make sense, I see the same behaviour on my end.

I expect that removing the `Semaphore` will reproduce the other behaviour.

[2022-11-20 13:35] feuersteiner opened #27617 "Azure ModuleNotFound in Python examples for azure services (after upgrade to v5)"
- **Azure**:
- **5**:
- **MacOS**:
- **3.8**:

**Describe the bug**
The azure team deprecated the python azure package as of v5. Yet most code examples rely on it.
There's no way to run the code samples now, unless I install the azure v4 example.

**To Reproduce**
Steps to reproduce the behavior:
1. download the azure batch python example (https://learn.microsoft.com/en-us/azure/batch/quick-run-py

[2022-11-20 13:36] azure-sdk commented on #27617
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.3794613,Batch:0.06887035,Azure.Core:0.05954338'

[2022-11-21 01:35] wallflower762 commented on #27562
Thanks for confirming, I will raise against the Azurite repo.

[2022-11-21 01:35] #27562 closed

[2022-11-21 05:30] solidcloudio commented on #23697
Well, I'm in a "specific context" Nvidia's Omniverse code that uses an embedded version of the python and pip libraries.  The typing extensions library in this context is fixed to 3.7.4.3, which doesn't contain the "ParamSpec" type, so my code that tries to use azure-identity and azure-mgmt-resources fails in this context with:

`[Error] [omni.ext.impl.custom_importer] Failed to import python modu

[2022-11-21 07:20] #27472 closed

[2022-11-21 08:42] ttnn5876 opened #27621 "DataLakeServiceClient Can't create files and directories"
- **Package Name**: azure.storage.filedatalake
- **Package Version**: 12.9.1
- **Operating System**: Azure Databricks cluster
- **Python Version**: 3.8.10

**Describe the bug**
I have an Azure Databricks cluster set up, where I want to use the DataLakeServiceClient API to read and write files to a storage account of kind "StorageV2 (general purpose v2)".
I can create file system, directory and fil

[2022-11-21 09:11] rahulsoni43 commented on #27563
@xiangyan99 I have fixed this issue by pinning `az.azurecollections` version as `1.13.0` which has `azure-storage==0.35.1` whereas in  `1.14.0` of `az.azurecollections`  packages has been replaced with `azure-storage-blob==12.14.1` which doesnt help..

Any other workaround we can use `1.14.0` version of `az.azurecollections` ?

[2022-11-21 10:23] mansoorsyed11 opened #27623 "Deployment isn't working for Status Model"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional cont

[2022-11-21 10:23] azure-sdk commented on #27623
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Docs:0.15955779,Event Hubs:0.1090115,Subscription:0.06740354'

[2022-11-21 10:25] mansoorsyed11 opened #27624 "Deployment isn't working for Status Model"
Operating System
Windows

Version Information
Python version 3.8

Name: azure-ai-ml
Version: 0.1.0b6

Steps to reproduce
we followed Microsoft documentation of Online managed Endpoint
we imported below libraries.

import required libraries
from azure.ai.ml import MLClient
from azure.ai.ml.entities import Workspace
from azure.ai.ml.entities import (
ManagedOnlineEndpoint,
ManagedOnlineDeployment,
M

[2022-11-21 10:26] azure-sdk commented on #27624
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Machine Learning:0.1357334,Azure.Identity:0.07060335,ARM:0.06648127'

[2022-11-21 10:29] mansoorsyed11 commented on #27624
Status Models are not deploying in Online Endpoints.

[2022-11-21 10:40] #27623 closed

[2022-11-21 13:23] ghost opened #27625 "Async CosmosDB client raises: 'Got more than 8190 bytes (11994) when reading Header value is too long.'"
**Describe the bug**
We recently switched some of our applications to the new async CosmosDB client that was released in azure-cosmos 4.3.0. Since then we started seeing this error when iterating over large result sets:

`Got more than 8190 bytes (10904) when reading Header value is too long.`

The error is thrown by aiohttp while fetching/parsing the next result on the AsyncItemPaged returned by

[2022-11-21 16:29] flixman opened #27626 "Unable to list blobs from azure-storage-blob container"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.14.1
- **Operating System**: MacOS Ventura
- **Python Version**: 3.9

**Describe the bug**
The following snippet does not succeed, although the identity running the scripts (set through AZURE_* environment variables) has contributor access to the resource group of the storage account. What I get instead is:

azure.core.exceptions.Htt

[2022-11-21 16:39] flixman commented on #27626
Fixed: The role was missing the permission "Storage Blob Data Contributor"

[2022-11-21 16:39] #27626 closed

[2022-11-21 18:57] kristapratico commented on #23697
@solidcloudio I see. Maybe I miss something, but from how you describe it this problem appears to be related to your environment. The azure packages specify the version needed for typing-extensions, but it seems your environment chooses the fixed version.

I'm not familiar with Nvidia's omniverse, but wondering if you could maybe use the omni.kit.pipapi to install the 4.0.1 version: https://docs.o

[2022-11-21 19:05] lmazuel commented on #22649
We don't plan any more release of this package

[2022-11-21 19:05] #22649 closed

[2022-11-21 19:40] #27572 closed

[2022-11-21 20:08] #23563 closed

[2022-11-21 20:09] luigiw commented on #24644
@anliakho2 Can you provide an update for this thread? Thank you.

[2022-11-21 20:12] luigiw commented on #24721
@dunalduck0 we now suggest customers to switch to AzureML SDK v2. There's more info on how to switch. Thank you for your input. https://learn.microsoft.com/en-us/azure/machine-learning/how-to-migrate-from-v1

[2022-11-21 20:13] luigiw commented on #25018
@anliakho2 Can you provide an update on this issue? Thank you.

[2022-11-21 21:54] rayluo commented on #27266
Although [`msal-extensions` received some changes between its 0.3.0 and 1.0.0](https://github.com/AzureAD/microsoft-authentication-extensions-for-python/compare/0.3.0...1.0.0), they are mostly on the underlying file locking mechanism, whose potential failure would typically fail noisy as some sort of "unable to encrypt/descript" or "unable to read/write file" exceptions.

The symptom in this issue

[2022-11-21 23:24] jalauzon-msft commented on #27563
Hi @rahulsoni43, I do not believe we own/maintain `az.azurecollections` but it seems like there is some incompatibility in their list of packages. I believe the `azure-storage-cloudstorageaccount` package has to do with a management plane package (containing `mgmt` in name) so it's likely one of those packages causing the issue. I'm not familiar with management plane so I can't identify which one.

[2022-11-22 00:06] jalauzon-msft commented on #27320
Hi @tboerstad Thomas, sorry but do you still suspect an issue with the blob SDK here or do you think it's something else? I'm not sure which behavior you are referencing when you mention removing the semaphore but with the sample code as is, I wasn't able to see a memory issue.

[2022-11-22 00:30] luigiw commented on #25124
#24644

[2022-11-22 00:44] luigiw commented on #25146
@ZekunZh AzureML doesn't support deleting artifacts from customers' storage today. You'll need to do that manually.

[2022-11-22 00:54] luigiw commented on #25469
@Rainfarm thx for your feedback. AzureML recommends customers to switch to SDK v2 now. Here's more info. https://learn.microsoft.com/en-us/azure/machine-learning/how-to-migrate-from-v1

[2022-11-22 01:03] luigiw commented on #25925
@tomasvanpottelbergh what exact resources do you need to access during training time (if you can share)? This article may be helpful to you. https://learn.microsoft.com/en-us/azure/machine-learning/how-to-identity-based-service-authentication?tabs=cli

[2022-11-22 01:10] luigiw commented on #26394
@JingchaoZhang thx for your feedback. subscription_id, resource_group, workspace are refereeing to local variables one should define in advance.

[2022-11-22 01:24] jalauzon-msft commented on #27621
@ttnn5876, something that may help in investigation is to note that the datalake SDK actually talks with both the dfs endpoint (https://account.dfs.core.windows.net) and the blob endpoint (https://account.blob.core.windows.net) depending on the operation. The `exists` API (which internally calls get properties) talks with the blob endpoint whereas the create APIs talk with the dfs endpoint. So, it

[2022-11-22 01:24] anliakho2 commented on #25589
We should be releasing a version with upgraded azure-identity dependency in December

[2022-11-22 01:26] anliakho2 commented on #23032
End of year goal is to remove dotnetcore dependency for dataset execution.
When you say dataset saving step, which dataset methods are actually being invoked on this Linux OS?
Thanks!

[2022-11-22 01:28] mccoyp opened #27633 "[Key Vault] Un-skip rotation policy test when possible"
Once regular default policy behavior is restored by the service, we should remove the flag to skip our sync and async [test_key_rotation_policy](https://github.com/Azure/azure-sdk-for-python/blob/eeae1f1db5668c0e3354b994d0c160f1b99d14af/sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py#L658) tests.

[2022-11-22 02:28] jackphillipsjmu commented on #25589
Thank you for the update @anliakho2 glad to hear this is moving forward!

[2022-11-22 03:51] vincenttran-msft opened #27640 "[Storage] Fix changefeed sharding tests"
This issue tracks that more work is remaining to be done for `test_changefeed.py`. Since there was some changes to the default behavior, for now #27546 is merged, but pending work is required for the remaining 5 tests that involve sharding.

[2022-11-22 04:42] solidcloudio commented on #23697
Well that seemed to resolve the ParamSpec error.  Seeing this now:
`2022-11-22 04:38:25  [Error] [omni.ui.python] TypeError: '>' not supported between instances of 'int' and 'object'
2022-11-22 04:38:25  [Error] [omni.ui.python]
2022-11-22 04:38:25  [Error] [omni.ui.python] At:
2022-11-22 04:38:25  [Error] [omni.ui.python]   c:\users\x\appdata\local\ov\pkg\create-2022.3.0\kit\extscore\omni.kit.pip

[2022-11-22 05:01] solidcloudio commented on #23697
That seems to have resolved it.  I can't call reload(typing_extensions) or it seems to reset some things.  But, it is loading the azure python and pip packages now..  awesome!

[2022-11-22 08:47] ttnn5876 commented on #27621
That definitely pointed me to the right direction -
I ended up using tcpdump on the web terminal to see what requests the client tries to make.
It was requesting "account.dfs.core.windows.net" and "privatelink.dfs.core.windows.net".

Turns out that the DNS configuration of the private endpoint I used to connect the Databricks service to the storage only had the "account.dfs.core.windows.net" as a

[2022-11-22 08:47] #27621 closed

[2022-11-22 13:52] mhangaard opened #27645 "azure.identity.DefaultAzureCredential.get_token docs do not explain scopes arg."
What are `scopes`?

`azure.identity.DefaultAzureCredential` and other Credential classes have the method `get_token` with the arguments `scopes` and `tenant_id`, both of type str. It is not precisely explained what these arguments are or how they may be obtained.

It would be valuable to have a precise description here in the documentation or an example.
---
#### Document Details

⚠ *Do not edit t

[2022-11-22 17:41] kristapratico commented on #17137
It is described in detail on this service [docs page](https://learn.microsoft.com/en-us/azure/cognitive-services/language-service/personally-identifiable-information/concepts/entity-categories) which entities are returned via categories_filter and domain_filter="phi" (or both). Will update the link in our SDK docs.

[2022-11-22 17:43] kristapratico commented on #19435
We've addressed this by only showing champion scenarios on the README and mentioning/linking to the samples for other skills

[2022-11-22 17:43] #19435 closed

[2022-11-22 18:19] #27295 closed

[2022-11-22 19:32] jalauzon-msft commented on #27621
Thanks for confirming @ttnn5876. I am actually surprised that you didn't get the endpoint information in the original error. That error comes directly from the underlying HTTP transport lib and I would have expected it to provide the endpoint and I think I remember seeing it before.

We can look into improving this error in the future. Thanks

[2022-11-22 20:23] #22855 closed

[2022-11-23 02:32] ImMin5 opened #27652 "[azure-mgmt-web] Site Model info broken at web_app"
- **Package Name**: azure-mgmt-web
- **Package Version**:  7.0.0
- **Operating System**: Mac OS
- **Python Version**: 3.8

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. you can see broken info [here](https://learn.microsoft.com/en-us/python/api/azure-mgmt-web/azure.mgmt.web.v2021_02_01.models.site?view=azure-python)

[2022-11-23 03:28] szelenka opened #27654 "Aggregation columns are always returned in alphabetical order, but columns list not updated to reflect this"
- **Package Name**: azure-mgmt-costmanagement
- **Package Version**: 3.0.0
- **Operating System**: Linux
- **Python Version**: 3.10.8

**Describe the bug**
When performing a `query.usage` for a given scope, if you define an aggregation

**To Reproduce**
Steps to reproduce the behavior:
1. create a QueryDefinition with the following aggregation
[code]
2.  when returned, note how the `results.col.um

[2022-11-23 03:33] azure-sdk commented on #27654
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cosmos:0.123029314,Storage:0.06748315,Service Bus:0.05586098'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.5124438,Client:0.4428012,Service:0.043604318'

[2022-11-23 08:54] MonikaDy opened #27661 "link to workspace.write_config method does not work"
Link  [workspace.write_config](https://learn.microsoft.com/en-us/python/api/azure-ai-ml/%5Bhttps://aka.ms/ml-workspace-class%5D(https://aka.ms/ml-workspace-class)?view=azure-python) method, does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4e5945db-4000-bb16-abce-130029f6fa59
* Version Independent ID: 6009d

[2022-11-23 09:54] alittlesliceoftom commented on #27547
Same issue running CosmosClient(url, key).

On windows running in a python venv inside a cmdr terminal

[2022-11-23 09:56] csaras84 opened #27663 "ImportError: cannot import name 'AbstractSummaryAction'"
Hello, I received an approval to use the gated preview of Azure's Abstractive Summarization and I'm following the sample code from here - https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/textanalytics/azure-ai-textanalytics/samples/sample_abstract_summary.py

However I get an import error:

   from azure.ai.textanalytics import (
ImportError: cannot import name 'AbstractSummaryAction'

[2022-11-23 10:14] vaishnavi-mindtree opened #27664 "python event hub connection closing and creating delay in consuming packet"
- ****:
- **Package Version**:
-azure-core==1.24.1
azure-eventhub==5.10.0
azure-eventhub-checkpointstoreblob==1.1.4
azure-eventhub-checkpointstoreblob-aio==1.1.4
azure-storage-file-share==12.9.0

- **Operating System**:
- **Python Version**: 3.9

Describe the bug
I am using the python sdk to receive events from an event hub. It worked for a while but now I am getting the below error:

ConnectionCl

[2022-11-23 10:59] tboerstad commented on #27320
@jalauzon-msft
I have tested again, and I am also unable to see any memory issue.
If I have something in the code I'm working on, it must be unrelated to the Blob SDK.

Thank you for you clarifications, you have helped solve my issue.

[2022-11-23 10:59] #27320 closed

[2022-11-23 15:51] mabecke opened #27666 "When reading a blob content, the first time returns the value, second time returns empty string"
- **Package Name**: azure-storage-blob
- **Package Version**:  12.14.0
- **Operating System**: Docker python:3.7.15-slim-buster
- **Python Version**: 3.7.15

**Describe the bug**
When reading a blob content, the first time returns the value, second time returns empty string

**To Reproduce**
Steps to reproduce the behavior:

[code]

When installing 12.13.1
`pip install azure-storage-blob==12.13.1`

[2022-11-23 17:53] csaras84 commented on #27663
This doesn't work, here is the error:

Could not find a version that satisfies the requirement azure-ai-textanalytics==5.3.0b1 (from versions: 1.0.0b1, 1.0.0b2, 1.0.0b3, 1.0.0b4, 1.0.0b5, 1.0.0b6, 1.0.0, 5.0.0, 5.1.0b1, 5.1.0b2, 5.1.0b3, 5.1.0b4, 5.1.0b5, 5.1.0b6, 5.1.0b7, 5.1.0, 5.2.0b1, 5.2.0b2, 5.2.0b3, 5.2.0b4)
No matching distribution found for azure-ai-textanalytics==5.3.0b1

Please note I'm

[2022-11-23 18:17] kristapratico commented on #27663
@csaras84 which version of Python are you using? azure-ai-textanalytics==5.3.0b1 requires Python 3.7 or greater.

[2022-11-23 18:39] #17137 closed

[2022-11-23 19:24] kristapratico commented on #14089
This was resolved when we regenerated/refactored metrics advisor with DPG. I verified that the nextLink is correctly formed in the current library.

[2022-11-23 19:24] #14089 closed

[2022-11-23 19:25] kristapratico commented on #23824
We get this for free with pyright and we'll get this in mypy when we bump our currently pinned version (TBD) because this option is now enabled by default.

[2022-11-23 19:25] #23824 closed

[2022-11-23 19:47] kristapratico commented on #26933
Created a work item in DO to update `assetKind` with possible values: https://msazure.visualstudio.com/Cognitive%20Services/_workitems/edit/16378155

[2022-11-23 19:47] #26933 closed

[2022-11-23 19:55] kristapratico commented on #23697
Closing this issue since the problem is not in the SDK.

[2022-11-23 21:39] marvinbuss opened #27670 "AML Registry Model Download not working"
- **Package Name**:  azure-ai-ml
- **Package Version**: 1.1.1
- **Operating System**: Windows 11
- **Python Version**: 3.9.6

**Describe the bug**
A clear and concise description of what the bug is.
When downloading a model from the registry the download is not executed successfully.
[code]
Output:
[code]
When I check the folder, there is no model. This is different when downloading from a standar

[2022-11-23 21:40] azure-sdk commented on #27670
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.22333762,Container Registry:0.101131834,Docs:0.058950648'

[2022-11-23 22:29] edrogers commented on #573
For those looking to get the instance status for all VMs without having to make API calls for each VM one-by-one, I had success using the [`ComputeManagementClient.virtual_machines.list_all(status_only=True)`](https://learn.microsoft.com/en-us/python/api/azure-mgmt-compute/azure.mgmt.compute.v2022_08_01.operations.virtualmachinesoperations?view=azure-python#azure-mgmt-compute-v2022-08-01-operation

[2022-11-23 22:38] lmazuel commented on #27563
Untangling this discussion:
- azcollection is owned by this repo: https://github.com/ansible-collections/azure
- `cloudstorageaccount` was [a module part of azure-storage-common](https://github.com/Azure/azure-storage-python/blob/master/azure-storage-common/azure/storage/common/cloudstorageaccount.py) which is deprecated
- It seems 1.13.0 was using the deprecated SDK ([see req](https://github.com/

[2022-11-23 22:41] luigiw commented on #26959
@skylernorgaard-syk, thx for your feedback. The support of this will come up very soon.

[2022-11-24 00:14] mccoyp commented on #22373
Closed by #25902.

[2022-11-24 00:14] #22373 closed

[2022-11-24 05:06] #26127 closed

[2022-11-24 05:55] jairamjidgekar opened #27678 "Upload files from web(python web scraping) to azure blob storage"
Hi,

I have an use case where I would like to upload a file from web (web scraping the .zip files from website).
These zip files are huge (>2GB) and after unzipping, the file size increases drastically (>40GB in some cases).

I would like to leverage the Azure blob storage for this using Python and azure connectivity.

My thought process is to scrape the content from the python and process the fil

[2022-11-24 07:18] csaras84 opened #27683 "Results from Abstractive Summary on language studio portal and python sdk are different"
I'm using Azure Abstractive Summarization to summarize a bunch of captions. I'm using Python SDK sample from here: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/textanalytics/azure-ai-textanalytics/samples/sample_abstract_summary.py

I have a story with 10 sentences and no matter what max_sentence_count we provide, with the python sdk I'm getting just a single same sentence as result

[2022-11-24 07:19] azure-sdk commented on #27683
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Text Analytics:0.41821828,Azure.Core:0.07173236,Docs:0.05387793'

[2022-11-24 07:48] Murugan-mindtree commented on #27664
HI Azure Team,

I am also facing the same issue, please address as earlier as possible

[2022-11-24 09:27] deepankersingh96 opened #27684 "Intermittent dropping of files while mounting FileDataset in local machine."
- **Package Name**: azureml-core
- **Package Version**:  1.44.0
- **Operating System**: Ubuntu 18.04.6 LTS
- **Python Version**: Python 3.6.13 |Anaconda, Inc.| (default, Jun  4 2021, 14:25:59)

**Describe the bug**
The task is fairly simple. I have uploaded Synscapes dataset (https://synscapes.on.liu.se/download.html) to Azure Blob Storage and have registered the same in my AzureML Studio datastor

[2022-11-24 10:33] ricardobranco777 commented on #573
This only returns the statuses but not the instance views.

[2022-11-24 21:18] davidbairdala commented on #573
If you are wanting to get instance view properties for a list of VMs in an efficient manner you might consider just using the Graph API instead (see https://learn.microsoft.com/en-us/graph/use-the-api)

[2022-11-25 03:27] heyheys opened #27688 "How to avoid repeatedly upload the source code"
When I use azure.ai.ml.command() to summit a job specifying:

command(code = <local_source_dir>)             # a local code folder to run

My local source code will be uploaded to the Blob Storage. If I run multiple experiments (i.e. submitting the job multiple times), my source code will be repeatedly uploaded to the Blob Storage, sitting at the sub-directories of different directories at Blob.

[2022-11-25 05:16] ashweasly opened #27689 "SSL Error when connecting to Azure Sdk"
I am using form recognizer through azure sdk. please see below code.

import calendar
import datetime
import pandas as pd

from azure.core.credentials import AzureKeyCredential
from azure.ai.formrecognizer import DocumentAnalysisClient

# Put your the credencials and the containerUrl
file = 'xxxx.pdf' # File Name

formUrl = "xxxxxx".format(file)

# Azure Form Recognizer
endpoint = "xxxxx"
key = "x

[2022-11-25 05:17] azure-sdk commented on #27689
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.4269821,Cosmos:0.04696174,Event Hubs:0.04446763'

[2022-11-25 07:38] AFengKK opened #27695 "Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=333361&view=results

@danieljurek for notification.

[2022-11-25 07:38] azure-sdk commented on #27695
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.46134168,Cosmos:0.09376739,Service Bus:0.07099276'

[2022-11-27 05:59] AndrewRTsao commented on #27318
+1 I am facing this issue as well. I had to switch to using `URI_FILE` instead of `URI_FOLDER` as the initial input in my pipeline code as a workaround.

[2022-11-28 08:35] zachschillaci27 commented on #27625
Seems related to https://github.com/aio-libs/aiohttp/issues/2304

[2022-11-28 14:39] kashifkhan commented on #27664
Hi,

Are there any more logs or information on your side. Its a challenge to determine what exactly is happening. Usually when a connection closes these are some of the common reasons:

* Intermittent network issues -> are there any problems in the connection dropping etc
* A long turn around time for the sdk to receive a reply from the service -> are they in the same region ?
* Connection via pro

[2022-11-28 17:25] kristapratico commented on #27663
@csaras84 glad to hear this was resolved. I'm going to close out this issue since I see you opened a new issue regarding the difference in results. I will respond on that issue https://github.com/Azure/azure-sdk-for-python/issues/27683

[2022-11-28 17:25] #27663 closed

[2022-11-28 17:29] xiangyan99 commented on #27617
Thanks for reaching out.

Did you use https://github.com/Azure-Samples/batch-python-quickstart/blob/master/src/requirements.txt?

The package versions do not match what they show in your screenshot and azure-storage-blob 1.4.0 is deprecated.

Maybe this is the reason?