[2017-08-21 16:03] lmazuel commented on #1376
Hi @h-hwang
I created an issue in the core serializer about that. Thank you for the feeback!

[2017-08-21 16:03] #1376 closed

[2017-08-21 20:23] blndev commented on #1104
Hi @lmazuel

The new page looks well. I was able to follow your suggestions and establish a connection with the german cloud by using the predeclared cloud definition.

From my point of view the main issue is solved.
Thanks!

[2017-08-22 03:23] songyangeric commented on #1380
@lmazuel Thanks for your comment. I am using a generalized vhd. I now convert the vhd to a managed image instead of a disk according to your link and it works. The osProfile now can coexist. The modified part is listed below:
[code]

[2017-08-22 19:24] delubi opened #1384 "CERTIFICATE_VERIFY_FAILED when connecting to Azure"
I'm using Ansible with Azure SDK 2.0.0.rc5 to connect to Azure. Ansible is running in a CentOS7 VM via VMware player running on my laptop.

I set up the subscription_id, client_id, secret and tenant in the ${HOME}/.azure/credentials file.

When invoking ansible tasks to connect to Azure, I got:

The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_AciD5f/ansible_module_az

[2017-08-22 20:23] lmazuel commented on #1384
Hi @delubi

Could you update or install the certifi package (`pip install -U certifi`) and tells if this makes a difference?

Thanks!

[2017-08-22 20:24] lmazuel commented on #1380
Thanks @songyangeric for the code and update!

I will make sure this goes to the documentation and keep this open until then.

[2017-08-22 20:25] lmazuel commented on #1104
Hi @blndev , thanks for the feedback!

I'm closing this issue for now, but anyone feel free to open a new one if necessary.

Thanks!

[2017-08-22 20:25] #1104 closed

[2017-08-22 21:09] delubi commented on #1384
The certifi package appears to be already installed. Assume it's not a difference maker.

[root@localhost ansible]# pip install -U certifi --trusted-host pypi.python.org
Requirement already up-to-date: certifi in /usr/lib/python2.7/site-packages

Thanks,
Forrest

[2017-08-23 05:56] AnushaY1 commented on #1018
issue solved.
Thanks..

[2017-08-23 06:07] lmazuel commented on #1018
Could you share how you solve this issue? Thanks.

[2017-08-23 06:22] AnushaY1 opened #1386 "billing & consumption packages not working"
Hi,

1. consumption package

[code]
i am getting below error

[code]

2. billing package
[code]

i followed these documents
http://azure-sdk-for-python.readthedocs.io/en/latest/ref/azure.mgmt.billing.html
http://azure-sdk-for-python.readthedocs.io/en/latest/ref/azure.mgmt.consumption.html

can anyone please solve this error
thanks

[2017-08-23 06:38] AnushaY1 commented on #1018
my system version Ubuntu 14.04 &  upgraded to 16.04. there i did n't find  any issue like enter password....

[2017-08-23 16:35] lmazuel commented on #1018
@AnushaY1 thanks for the feedback!

[2017-08-23 16:35] #1018 closed

[2017-08-23 16:42] lmazuel commented on #1386
For problem 1, the scope should be real, not having `subscription_id` in it. For instance:
[code]

For 2, could you give me your version of keyring installed, and your system. Seems this is an authentication problem. At worst, could you try using the Adal wrapper (which is not using keyring):
https://docs.microsoft.com/python/azure/python-sdk-azure-authenticate

[2017-08-23 16:53] lmazuel commented on #1386
For 2, could you also install `keyrings.alt` with `pip install -U keyrings.alt` to see if it helps

[2017-08-23 23:48] lmazuel commented on #1386
For (2), please update to msrestazure 0.4.12 (`pip install -U msrestazure`)

[2017-08-23 23:48] lmazuel commented on #1384
@yugangw-msft any idea?

[2017-08-23 23:49] lmazuel commented on #1358
@smereczynski
Update: I released msrest 0.4.14 that gives me the necessary tools to fix it. Still in progress.

[2017-08-24 06:18] AnushaY1 commented on #1386
Hi Imazuel,

OS version Centos 7.3
Python 2.7.5
keyring==10.4.0
keyrings.alt==2.2
msrestazure==0.4.12

[2017-08-24 06:33] AnushaY1 commented on #1386
I checked this in OS version Centos 7.3

 getting below errors

...    print i
...
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/msrest/paging.py", line 109, in __next__
    self.advance_page()
  File "/usr/lib/python2.7/site-packages/msrest/paging.py", line 95, in advance_page
    self._response = self._get_next(self.next_link)

[2017-08-24 12:38] irl opened #1389 "Need to skip tests that require DBus"
Build environments, such as Debian's, will not have DBus available.
[code]

[2017-08-24 13:08] delubi commented on #1384
Thanks for looking into it.

Just to let you know that the CERTIFICATE_VERIFY_FAILED error appears to be related to something in our Corp network.

When I worked in office all outbound/inbound traffic to/from Internet has to go through our Corp network. That’s where I encountered the error.

I’m working from home today. Tried the same playbook again from the same running VM environment. The connec

[2017-08-24 15:23] lmazuel commented on #1384
Ok, corp net means proxies usually. In direct SDK, you would have been able to pass "verify=False" to bypass SSL from your corpnet. @tstringer do you know if this is available in the Ansible configuration?

[2017-08-24 15:24] lmazuel commented on #1389
Hi @irl
I released msrestazure 0.4.12 yesterday that should take care of this. Could you confirm?
Thanks!

[2017-08-24 15:27] lmazuel commented on #1389
Ho actually the `import keyring` itself is failling.... So msrestazure 0.4.12 will not be enough. I created an msrestazure issue:
https://github.com/Azure/msrestazure-for-python/issues/42

I'll try to fix that today with a 0.4.13

[2017-08-24 15:29] lmazuel commented on #1386
@Panda-Wang any ideas?

[2017-08-24 15:55] Panda-Wang commented on #1386
I’m no longer working on these RPs. Loop in current owner.

Thanks,
Panda

From: Laurent Mazuel [mailto:notifications@github.com]
Sent: Thursday, August 24, 2017 8:29 AM
To: Azure/azure-sdk-for-python <azure-sdk-for-python@noreply.github.com>
Cc: Panda Wang <caixiaw@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for-python] billing & consumption packages not wor

[2017-08-24 16:41] irl commented on #1389
Ok thanks. I have updated Debian unstable now to msrestazure 0.4.12, so that's what I was building with. I have a local package for the current git HEAD of azure-python-devtools also, which is the only difference between my build environment and Debian unstable, if you wanted to check other version numbers.

[2017-08-24 17:26] inhifistereo opened #1390 "No error when creating NIC tied to VNet in different resource group"
I'm attempting to create a NIC in the "VMs" resource group tied to vnet1 in the "VNets" resource group. I'm using the following CLI statement:

`az network nic create -g vms --vnet-name vnet1 --subnet default -n MyNic4`

I retrieve the following once the CLI runs:

`{}`

Further, no NIC is created in Azure.

When I create the NIC in the "VNets" resource group the NIC is successfully created. Is th

[2017-08-24 18:26] tstringer commented on #1384
@lmazuel This is currently not available from and Ansible standpoint. But this sounds like something that would be useful. I'll be sure to put this on our backlog.

@delubi I would think an appropriate workaround for the time being would be to perhaps stand up a VM in Azure to work as your Ansible host. Is that a possibility?

[2017-08-24 18:28] lmazuel commented on #1390
Hi @inhifistereo
This needs to be tracked in the CLI issue tracker:
https://github.com/Azure/azure-cli/issues

However, this is an interesting SDK question, that I can ask to the RestAPI team (we're not responsible to decide when the RestAPI should accept, refuse or do an error).

Thanks!

FYI @tjprescott

[2017-08-24 18:34] lmazuel commented on #1389
@irl I released "msrestazure" 0.4.13 that should fix your problem.

[2017-08-24 18:45] lmazuel commented on #1310
@apengwin can we close this issue or you think it does not respond correctly to it?
Thanks!

[2017-08-24 18:46] lmazuel commented on #1386
(2) being fixed, (1) is a duplicate of https://github.com/Azure/azure-sdk-for-python/issues/1307

[2017-08-24 18:50] lmazuel commented on #1214
Closing, since I have no reason to believe that it's not fixed in 0.1.1. Please open a new issue if the problem still persists in 0.1.1. Thanks!

[2017-08-24 18:50] #1214 closed

[2017-08-24 18:54] lmazuel commented on #1089
Probably duplicate https://github.com/Azure/azure-sdk-for-python/issues/1384

[2017-08-24 18:54] lmazuel commented on #1384
Probably duplicate https://github.com/Azure/azure-sdk-for-python/issues/1089

[2017-08-24 18:55] lmazuel commented on #1055
Closing this issue since I have no reason to think it's not solved. Feel free to open a new one for any question. Thanks!

[2017-08-24 18:55] #1055 closed

[2017-08-24 18:58] brendandburns commented on #1283
we need to push a swagger update...

[2017-08-24 19:07] inhifistereo commented on #1390
My bad. I'll close here and open issue in CLI.

[2017-08-24 19:07] #1390 closed

[2017-08-24 19:15] awalker125 commented on #1384
We only ever saw this intermittently with an explicit proxy. Never got to the bottom of it and we switched to an implicit proxy model instead. I suspected this was a requests issue but never managed to find the root cause.

[2017-08-24 19:16] rjtsdl commented on #1283
@jmalobicky , can you elaborate more on the issue? I don't have the context of Azure cost calculator. A minimal repro will be great !

[2017-08-24 19:59] delubi commented on #1384
@tstringer Standing up a VM in Azure and using it as Ansible host is feasible, although not desired. My desired use case is to have ansible run on-premise and be able to provision VMs either in VMware vCenter (on-premise) or in Cloud (i.e. Azure). It's not a showstopper at the moment but would like to see if there is a workaround that we can implement within the Corp boundary.

@awalker125 Is the

[2017-08-24 20:35] lmazuel commented on #1307
@AnushaY1 @indumathyn could you send me by email your subscription id, so we can take a look in our internal log. My email is <my github alias> @microsoft.com
Thanks!

[2017-08-24 21:38] lmazuel commented on #1347
Close, per @ro-joowan recommendation, was fixed internally.

[2017-08-24 21:38] #1347 closed

[2017-08-24 23:47] apengwin commented on #1310
@lmazuel yup. thanks!

[2017-08-24 23:47] #1310 closed

[2017-08-25 04:32] indumathyn commented on #1307
Its working now actually its authorization issue...Thanx for your effort....

On 25 Aug 2017 2:05 a.m., "Laurent Mazuel" <notifications@github.com> wrote:

[2017-08-25 05:41] awalker125 commented on #1384
On the azure side using user defined routes and a proxy device

[2017-08-25 16:39] lmazuel commented on #1307
Thanks @indumathyn :)

[2017-08-25 16:39] #1307 closed

[2017-08-25 16:42] lmazuel commented on #1386
Re-opening this one and closing #1307 instead.

@AnushaY1 Do you know you offer id? For instance:
https://azure.microsoft.com/en-us/offers/ms-azr-0025p/

Because there is some limitation based on offer id right now.

You should also be able to get a `error` attribute on the exception to get more details. I created an [issue ](https://github.com/Azure/msrest-for-python/issues/46)at the runtime leve

[2017-08-25 16:44] lmazuel commented on #1386
You can also activate the DEBUG level the see what the payload is:
[code]
at the beginning of your script

[2017-08-25 17:50] irl commented on #1389
That solves that one.

[2017-08-25 17:50] #1389 closed

[2017-08-25 17:53] irl opened #1393 "Please provide a means to disable tests requiring network access"
The Debian build environment does not have network access, so I get failures such as:

[code]

These are expected failures and should be ignored, possibly via raise nose.SkipTest or similar. A simple test such as "can I resolve microsoft.com in DNS?" should be able to tell you if you have meaningful network access and work across platforms.

[2017-08-25 18:48] lmazuel commented on #1393
The problem is that this should not happen. Our Travis has no access to the network too (to be more precise, he does not have the necessary credentials and all call will fail). We record our tests as files, to avoid that. It's unclear why the test framework thinks he needs to access network...

Note that I noticed a [few bugs in VCRPy](https://github.com/kevin1024/vcrpy/issues/327) about this. Are

[2017-08-25 18:50] irl commented on #1393
It would be tag 1.10.0.

[2017-08-25 22:41] lmazuel commented on #1393
I'm confused, there is no tag like 1.10.0 ? Could you be more precise?

[2017-08-26 06:59] AnushaY1 commented on #1386
yes, I know offer id.

[2017-08-29 15:38] smereczynski commented on #1358
@lmazuel it is still failing with msrest 0.4.14. I appreciate that it is in progress. Waiting for update :)

[2017-08-29 16:11] smereczynski commented on #1358
P.S. @lmazuel in msrest v. 0.4.12, 0.4.13 and 0.4.14 there is a serialization errror during some operations (in my case, during attaching managed disk to the VM): https://gist.github.com/smereczynski/0eead16c2101100faab99648d1a3bf28

I think it should be rolled back to 0.4.11 - where it works. I see regression in changelog: https://pypi.python.org/pypi/msrest

My code:

    vm2.storage_profile.dat

[2017-08-30 09:06] gabriel-samfira opened #1401 "Sending ETag on VM operations"
Hi,

I have the need to potentially manipulate the attached disks of a single VM from multiple locations. As such, when updating the VMs disks (or any other characteristics for that matter), I would like to be sure that I am not overwriting another operation, and inadvertently detaching the previously attached disks.

Sending the ETag on the ```virtuam_machine``` resource, would ensure that this d

[2017-08-31 10:05] binaryfolks-biswarup opened #1404 "@123"

[2017-08-31 10:06] #1404 closed

[2017-08-31 20:57] johanste commented on #1401
@gabriel-samfira, thanks for your suggestion. I would have to check to see if the Compute Resource Provider supports etags for Virtual Machine resources (not all resource providers do).

[2017-09-01 00:42] johanste commented on #1401
@gabriel-samfira, unfortunately, the VM PUT operation does not support etags/if-match/if-non-match headers. So there is not much the Azure Python SDK can do.

@lmazuel, for services that **do** support etags, we should make sure that we have examples on how to correctly use it. As it stands today, I'm not sure what the easiest way is to pick up the etag header from a resource GET response (sending

[2017-09-01 04:57] gabriel-samfira commented on #1401
Ahh, I see.

Thanks for the reply @johanste

[2017-09-04 01:53] ps-jay opened #1410 "Broken link in README"
Hi there,

as at 2017-09-04, the link here: https://github.com/Azure/azure-sdk-for-python/blame/master/azure-mgmt-containerinstance/README.rst#L40 leads to a 404.

[2017-09-05 13:24] jmalobicky commented on #1283
The Calculator https://azure.microsoft.com/en-us/pricing/calculator/#container-service5 (You might have to add a Container -> Kubernetes to be able to see the agents)

I was looking for 'F' class agents which are listed in the cost calculator but not listed in the available types so the request to create then within Kubernetes throws an error.

[2017-09-05 16:33] lmazuel commented on #1410
Thanks @ps-jay !
In the meantime, this might help:
https://github.com/Azure-Samples/container-service-python-manage

[2017-09-05 20:33] lmazuel commented on #1358
PS @smereczynski The new code is correct, 'create_option' is supposed to be typed `DiskCreateOptionsType`. See here https://docs.microsoft.com/en-us/python/api/azure.mgmt.compute.compute.v2017_03_30.models.datadisk?view=azure-python
This was not checked before.

[2017-09-05 22:01] rjtsdl commented on #1283
AH, i see. I have a pending PR should solve this. You can see, I have added the new 'F' class agents.

https://github.com/Azure/azure-rest-api-specs-pr/pull/105/files#diff-7bab307640fc7c8c78d35d2401287753R401

[2017-09-06 09:35] hieuhc opened #1414 "Can see messages in subscription of bus service but can't retrieve"
I can see there are a number of messages in a subscription both in Azure portal and when using `message_count` method of that subscription. But I can't retrieve any of them with `receive_subscription_message`. Those messages are supposed to be unlock already. Does anyone know what could be the reason for this behavior?

Also, I need to delete those messages. Is the only way with Python API  to use

[2017-09-06 19:37] lmazuel commented on #1386
This offer ID is not supported yet, the service team is evaluating if this offer id can be supported.

[2017-09-07 00:17] lmazuel commented on #1156
I'm closing this one, since I just released on PyPI the source for all nspkg packages. Sorry for the delay, I had to make sure no side effect will come.

[2017-09-07 00:17] #1156 closed

[2017-09-07 17:53] lmazuel commented on #1414
I'm unfortunately not a specialist in SB, but it seems to me the last time I saw that, was a DLQ:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-letter-queues

You can try SBE to figure that out:
https://github.com/paolosalvatori/ServiceBusExplorer

[2017-09-08 00:30] lmazuel commented on #1358
Hi @smereczynski
I released the fix:
https://pypi.python.org/pypi/azure-mgmt-scheduler/1.1.3

I'm closing this one, but feel free to still comment on it if I missed something, or open a new issue if you find another issue.
Thanks!

[2017-09-08 00:30] #1358 closed

[2017-09-08 14:31] ecgg opened #1422 "backup_protectable_items_operations: Input provided for the call is invalid"
**Version info**
[code]
**Issue**

Following the test case [here](https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt/tests/recoveryservicesbackup_testcase.py) I do the following.

The backup vault is in another resource group ( config['Backup']['ResourceGroup'] ) than the VM. I can add the VM to backups via Azure Portal.

[code]

This results in

[code]

[2017-09-08 15:05] lmazuel commented on #1422
@DheerendraRathor, what do you think?

[2017-09-08 18:36] DheerendraRathor commented on #1422
@ecgg Can you give me request id for debugging purpose? It is present in raised exception. You can add try except block around list protectable item code and request id is present in exception as `exp.request_id` where exp is an instance of CloudError.

[2017-09-08 20:35] ecgg commented on #1422
Here's what I did

[code]

And here's the output:

[code]

[2017-09-09 21:00] DheerendraRathor commented on #1422
@ecgg
Please use list call as per following code:
[code]

These filters were introduced due to recent service side changes. I'll update tests and SDK to incorporate these soon.

[2017-09-11 04:46] ecgg commented on #1422
That worked - thank you

[2017-09-11 04:46] #1422 closed

[2017-09-11 20:23] dpedu2 opened #1431 "Server error while create/updating a machine."
I received this traceback and error while creating a machine:

[code]

Now, I'm pretty confident that this is a server-side issue. I'm posting it here in case I'm wrong as Azure's support told me to. The code I'm using to call the Azure SDK hasn't changed in some time; the error is very seldom seen and seems to randomly happen, irrespective of code or parameter changes. I think this supports my id

[2017-09-11 20:26] lmazuel commented on #1431
Hi @dpedu2

This version of compute was in preview, and is now deprecated and no longer supported anymore, please update to version at least 1.0.0.

Thanks,

[2017-09-11 20:40] dpedu2 commented on #1431
Sounds like you're familiar with this problem; is there something specific that was changed you can point to?

[2017-09-11 22:13] lmazuel commented on #1431
I'm not sure I understand your question :(
If your question is about migration information from 0.20.0 to 1.0.0, there is this document which explains how to migrate from 0.20.0 to 0.30.0 (there is more change here than from 0.30.0 to 1.0.0).
https://github.com/Azure/azure-sdk-for-python/wiki/Migrate-from-1.0.x-0.20.0-to-2.0.0-0.30.0

But I would recommend starting with official samples:
https://g

[2017-09-13 09:01] waytai opened #1439 "azure-mgmt-iothub"
my platform is ubuntu14.04 and my python is 2.7.6
when I run the example in azure-mgmt-iothub

Traceback (most recent call last):
  File "createiot.py", line 15, in <module>
    'mypassword',      # Your password
  File "/usr/local/lib/python2.7/dist-packages/msrestazure/azure_active_directory.py", line 366, in __init__
    self.set_token()
  File "/usr/local/lib/python2.7/dist-packages/msrestazur

[2017-09-13 13:43] hieuhc commented on #1414
Thanks for suggesting SBE. I checked and they are actually Dead Letter Queue messages. I wonder if you have plan to implement methods to count active and DLQ messages separately?

[2017-09-13 19:26] lmazuel commented on #1414
DLQ is a regular queue, it's just that the name is a system one. There is a staticmethod `format_dead_letter_queue_name` to build that name for you. You can then use a DLQ with exactly the same method.
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-servicebus/azure/servicebus/servicebusservice.py#L157-L160

[2017-09-14 00:28] lmazuel commented on #1439
Hi @waytai

Could you share the code and not only the stacktrace?

Note that the error seems to say that your credentials are not valid for your operation, it's probably not a Python issue but a credential configuration.

[2017-09-14 01:09] waytai commented on #1439
It's alright now， thank you

[2017-09-14 01:09] #1439 closed

[2017-09-14 10:07] hieuhc commented on #1414
Ah nice. Thank you for your support. I close this (not really) issue here.

[2017-09-14 10:07] #1414 closed

[2017-09-15 00:46] lmazuel commented on #1393
@irl the initial bug we had in the test framework is fixed. "master" should no longer try to access Network anymore.

[2017-09-15 00:47] lmazuel commented on #1386
@AnushaY1 the service team confirmed they are working right now to add this offer id. More info soon (you can re-try regularly in the meantime).
Thanks!

[2017-09-15 01:04] irl commented on #1393
Ok, will test shortly.

[2017-09-18 12:06] mathiasertl opened #1447 "authorized_keys file of admin user empty after deployment"
I'm trying to deploy a VM with an SSH key using [this recipe](https://github.com/Azure-Samples/resource-manager-python-template-deployment). The VM launches fine, along with all resources. But the ~/.ssh/authorized_keys file of the admin user always remains empty, meaning I can't log in.

[code]

The relevant parts of my `parameters` variable:

[code]

... and from `template` (again, I trimmed par

[2017-09-18 18:56] abhi1509 commented on #482
But isn't this then incompatible with what New-AzureRmResourceGroupDeployment in Powershell?
That expects the full json with outer elements.

[2017-09-20 11:51] ernstp commented on #574
Looks like this is fixed now indeed.

[2017-09-20 15:41] lmazuel commented on #574
@singhkays for guidance

[2017-09-20 16:46] singhkays commented on #574
@lmazuel In the past when I've discussed with the dev team, the answer has been that this is expected. The case on the rg name is not expected to be preserved. cc: Adding @nibhat since he owns Compute RP and might want to look into this

[2017-09-21 18:25] lmazuel commented on #1386
Hi @AnushaY1
The service team tolds me that they added this offer id. Can you check if this is now working?
Thanks!

[2017-09-22 06:37] AnushaY1 commented on #1386
still am getting the same error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/msrest/paging.py", line 109, in __next__
    self.advance_page()
  File "/usr/local/lib/python2.7/site-packages/msrest/paging.py", line 95, in advance_page
    self._response = self._get_next(self.next_link)
  File "/usr/local/lib/python2.7/site-p

[2017-09-22 13:58] spiperac opened #1462 "."

[2017-09-22 15:46] #1462 closed

[2017-09-22 18:04] lmazuel commented on #1447
@yugangw-msft any ideas?

[2017-09-22 18:12] lmazuel commented on #1431
Closing this issue for inactivity, and since this preview version of the Python SDK is out of support.

[2017-09-22 18:12] #1431 closed

[2017-09-25 23:12] mxplusb opened #1477 "Subscriptable support for Azure objects"
Working with some basic Python code:

[code]

I get this error:

[code]

This error is thrown because the `ResourcesOperations` class doesn't implement `__getitem__()`.

I was looking through a lot of the various `<Endpoint>Operations` classes, and none of them implement `__getitem__()`. Would it be possible to implement `__getitem__()` across the board? You could leverage the `internal_paging()`

[2017-09-26 15:37] mxplusb opened #1478 "Mismatching API Versions in Documentation"
With this code:

[code]

Following this documentation: https://docs.microsoft.com/en-us/python/api/azure.mgmt.resource.resources.v2017_05_10.operations.resourcesoperations?view=azure-python

I get this error:

[code]

According to the documentation, the API version to use is `2017-05-10`, but when I call `azure.mgmt.resource.resources.v2017_05_10.operations.resourcesoperations.delete_by_id()`, it

[2017-09-26 21:44] rafael6 commented on #1067
Can you tell us how you did it. I'm trying to attach a route_table to a subnet, but I'm not sure how to use the route_table parameter.

[2017-09-26 21:59] rafael6 opened #1484 "How to attach a route table to a subnet: How to use the route_table property"
I need to attach a route_table to a subnet. I understand subnet has a route_table property, but I'm not sure how to use such property or how to express the value (the route_table) for it.

Any examples out there?

Thanks in advance!

[2017-09-26 22:07] lmazuel commented on #1478
Hi @mxplusb
When you are using `XXXX_by_id` methods, you need to provide the Api version of the resource provider you're targeting.The API version 2017-05-10 is for provider `Microsoft.Resources` for operations like `resource_groups.create_or_update`. I agree that the documentation is not explicit about it.

For you, since you target `Microsoft.Storage`, you should use 2017-06-01. Or you can direc

[2017-09-26 22:09] lmazuel commented on #1484
@tjprescott Do you know? In particular, is this possible to do it either way or there is one way only (i.e. update route_table to use subnet or update subnet tp use route_table)

[2017-09-27 14:57] rafael6 commented on #1484
Below is how we are attaching a route table to the subnet today, but I was wondering if there another way other than using the id of the route table object such as the route table name, etc...

create_update_subnet(
        my_network_client,
        GROUP_NAME,
        VNET_NAME,
        SUBNET_NAME,
        {'address_prefix': '10.1.1.0/24',
         'route_table':{'id': '/subscriptions/MY_SUBSCR

[2017-09-27 16:44] lmazuel commented on #1484
@rafael6 no, since route_table and subnet are two different resource type, they are connected together by their resource ID only. Note that you can re-create the ID easily from the subscription ID, the resource group name and the route table name.

[2017-09-27 18:27] rafael6 commented on #1484
@lmazuel Got it; thank you for the information and the tips.

[2017-09-27 18:27] #1484 closed

[2017-09-29 23:48] lmazuel commented on #1477
Hi @mxplusb

Just change your last line by:
[code]

If you really want to use the dict syntax:
[code]

[2017-09-30 03:28] mxplusb commented on #1477
Ah that's good to know, thanks!

I believe it would still give a more native experience if there's an opportunity to use `__getitem()__`. It looks like a lot of these classes are auto generated. How do you generate them?

[2017-10-01 14:20] weihangChen opened #1497 "not able to unsintall all azure packages"
"pip install azure", installs all packages, but "pip uninstall azure" does not uninstall . uninstall specific package one by one works though

[2017-10-01 18:01] mxplusb commented on #1478
Interesting. Is there a way we can make the docs more explicit about how to
use API versions?
On Tue, Sep 26, 2017 at 4:07 PM Laurent Mazuel <notifications@github.com>
wrote:

--
Thanks!

Mike Lloyd
USMC
808-633-8998

[2017-10-02 08:09] tonnelj opened #1498 "Try to update azure_rm_securitygroup : source_address_prefix"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`azure_rm_securitygroup`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.3

Steps of the Ansible installation
[code]

##### SUMMARY

Hello,

When I try to update network security group rules for Azure, in fact the option **source_address_prefix**, the value updated in the YML is not updated in Azure. Howeve

[2017-10-02 16:31] lmazuel commented on #1477
We added `to_dict` to avoid using magic method here, because "[explicit is better than explicit](https://www.python.org/dev/peps/pep-0020/)" :)

We generate using [Autorest](https://github.com/Azure/autorest.python) and a [Swagger](https://github.com/Azure/azure-rest-api-specs) file.

[2017-10-02 16:43] lmazuel commented on #1478
@lisawong19 we should discuss this point for the doc.

[2017-10-02 16:47] lmazuel commented on #1497
It's a Python and pip limitation, for all packages that has dependencies, uninstalling the initial package does not uninstall the dependencies.
We recommend using a virtual environment to simplify your installation.

[2017-10-02 16:47] #1497 closed

[2017-10-02 16:48] lmazuel commented on #1498
@tstringer FYI
@tonnelj please open this issue in the Ansible repo. https://github.com/ansible/ansible/

Thank you,

[2017-10-02 16:48] #1498 closed

[2017-10-02 18:32] mxplusb commented on #1477
It might take some time since I've never used Autorest, but I'll look into implementing that logic into autorest.python. If it's fairly easy enough, I'll submit a PR.

[2017-10-02 22:44] lmazuel commented on #1477
@mxplusb I don't think we want to add this behavior in the generator, and if we have to, it will be in the runtime `msrest` library, not in Autorest.python itself.

[2017-10-11 23:09] lisawong19 commented on #1478
@lmazuel: where is a list of acceptable values for api versions?

[2017-10-12 14:01] smoser opened #1527 "required options should be arguments"
The syntax on many commands require a group but make it an option rather than an argument.

    $ az group delete -h | tail -n 5
    Examples
        Delete a resource group.
            az group delete -n MyResourceGroup

Why isn't that?

    $ az group delete MyResourceGroup

[2017-10-12 14:45] smoser commented on #1527
re-filed on azure-cli
 https://github.com/Azure/azure-cli/issues/4656

[2017-10-12 14:45] #1527 closed

[2017-10-12 21:04] lmazuel commented on #1478
@lisawong19 depends of the provider you point too, I guess the best answer is the rest api doc. For instance for Storage:
https://docs.microsoft.com/en-us/rest/api/storagerp/
[code]

[2017-10-16 13:13] saulcruz opened #1532 "is ADF V1 supported?"
First of all, thanks for this library, I've been trying to find my data factories (v1) in my resource group and it can only find the v2 data factories, does this library only support ADF v2? if so, is there a workaround?

My resource group is in location US East 2
MY data factory V1 is in US East

[code]

Error

`b'{"error":{"code":"ResourceNotFound","message":"The Resource \'Microsoft.DataFactory

[2017-10-16 16:28] lmazuel commented on #1532
Hi @saulcruz
I think this is supporting only v2, but maybe @hvermis has not insights about this.

[2017-10-16 19:34] hvermis commented on #1532
ADF Python SDK supports only our V2. For V1 we have Powershell and C# only.

Sent from my iPhone

On 16 հոկ, 2017թ., at 9:28, Laurent Mazuel <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @saulcruz<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fsaulcruz&data=02%7C01%7Chvermis%40microsoft.com%7Ca2d74f97f6894558638708d514b2f27c%7C72f988bf86f141a

[2017-10-16 19:35] lmazuel commented on #1532
Thanks @hvermis !

[2017-10-16 19:35] #1532 closed

[2017-10-16 19:57] saulcruz commented on #1532
thanks @hvermis

[2017-10-19 18:32] saulcruz opened #1552 "azure.mgmt.datafactory.models.error_response.ErrorResponseException: The template validation failed: 'The number of template actions limit exceeded: maximum '500' and actual .."
This is a DataFactoryManagementClient question

When creating pipelines runs of over 40 activities, I get the error

azure.mgmt.datafactory.models.error_response.ErrorResponseException: The template validation failed: 'The number of template actions limit exceeded: maximum '500' and actual '730'.'.

Not sure of what template actions are, have you seen something like this?

This is how I run it
[co

[2017-10-19 21:17] jogipraveen commented on #573
I'm trying to fetch the VM instances with the status. It would be great if we get the all VM details (VM size, memory, IP, status, etc..) in one place.

[2017-10-19 23:15] lmazuel commented on #1552
@hvermis please, any ideas?

[2017-10-20 15:26] devigned commented on #573
@squillace or @singhkays any feedback on this issue?

[2017-10-20 18:43] singhkays commented on #573
@nibhat should be able to answer decisively once he's back from leave but I haven't heard anything about this being considered as an add to the REST API over the many other priorities for the Compute team.

[2017-10-20 21:21] devigned commented on #573
Thank you, @singhkays!

[2017-10-21 00:04] troydai opened #1556 "Monitor: the ErrorResponse in the ErrorResponseException is not deserialized."
The following payload in a 400 response is not correct deserialized:
[code]
Debug info, note both code and message proeprties are `None`
[code]

The msreset seems to expect a different payload structure:
https://github.com/Azure/msrest-for-python/blob/909652a49c72c8b1625a2561ca10e256aba21a4c/msrest/exceptions.py#L141
[code]

[2017-10-21 00:19] lmazuel commented on #1556
@troydai msrest is case sensitive, since JSON is case sensitive :/

[2017-10-21 00:21] lmazuel commented on #1556
@troydai This code implies there is a custom Exception used in the Swagger. Do you have the name of the model? So we can look into the model how the JSON is described?

[2017-10-21 06:23] troydai commented on #1556
No, I get these from debugging. I haven't looked into the swagger yet.

[2017-10-22 23:06] przemolb opened #1558 "ModuleNotFoundError: No module named 'azure.common'"
Hi,
I am trying to write simple python script with Azure SDK:
[code]
but I get the following error:
[code]
but:
[code]
I am using pip 9.0.1.

[2017-10-23 16:08] lmazuel commented on #1556
What was the call you made?

[2017-10-23 16:19] troydai commented on #1556
Do you need the SDK invocation of the HTTP request?

[2017-10-23 16:28] troydai commented on #1556
https://github.com/Azure/azure-sdk-for-python/blob/371cb4a2aff8b767f01eb5a976ea0cc9c07717fd/azure-monitor/azure/monitor/models/error_response.py#L26

[2017-10-23 18:42] lmazuel commented on #1558
Did you update from a previously existing venv? See this disclaimer in the ChangeLog:
https://github.com/Azure/azure-sdk-for-python/blob/38b3ce0fe3fdd6dd1e607627c611b8a9c97c2372/ChangeLog.rst#2017-05-16-azure-200

You should re-install on a fresh venv.

If you can't (i.e. system install), force a reinstall of azure-nspkg:
pip install -I azure-nspkg

[2017-10-23 20:42] Katana-Steel opened #1562 "can't update traffic manager profiles"
I'm trying to update the DNS TTL from az, however I keep getting this error:

the debug output that indeed it adds to the endpoint list to the PUT request... however according to the example: [Profiles - Update (Traffic Manager) | Microsoft Docs](https://docs.microsoft.com/en-us/rest/api/trafficmanager/profiles/update#Examples)
only the sections that is being updated needs to be present in the PUT

[2017-10-23 22:21] lmazuel commented on #1562
Hi @Katana-Steel , please submit this issue on the CLI side:
https://github.com/Azure/azure-cli/issues

I keep this one opened until we are sure it's CLI and not SDK. FYI @tjprescott

[2017-10-23 23:24] Katana-Steel commented on #1562
thank you, hopefully we can get this resolved soon.
I'm creating script to update ttl, enabling/disabling endpoints, and endpoint priority,
to move client traffic on multiple TMs between regions.

[2017-10-25 06:37] przemolb commented on #1558
I have re-created the venv and now it is working fine.

[2017-10-25 06:37] #1558 closed

[2017-10-25 19:41] sharonlo101 commented on #1552
Hi @saulcruz this is a bug on error messages on part. The limit of 30 activities is put into place for recommended design on # of activities in a pipeline (we found in the past, customers were putting lots of activities in a single pipeline), which diminished both performance and the monitoring experience. To split up your pipelines, we also have an "Execute Pipeline" activity where you can easily

[2017-10-27 16:36] yugangw-msft opened #9272 "Provider auto-reg: use a dedicated field to get the provider name"
Please use the `target` field, and remove the regular expression matching.

[code]

[2017-10-27 18:43] apengwin opened #1581 "How to download publicly available objects from blob storage?"
I have some files in blob storage that I want publicly available, but I"m unsure of how someone would fetch them.

It looks like the [`azure.storage.common.storageclient module`](https://azure-storage.readthedocs.io/en/latest/ref/azure.storage.common.storageclient.html) is the right way to go, but It's unclear how to use this.

[2017-10-27 20:05] lmazuel commented on #1581
Hi @apengwin
Please ask your question on the specific issue tracker of Storage:
https://github.com/Azure/azure-storage-python/issues

Thanks

[2017-10-27 20:05] #1581 closed

[2017-10-27 21:01] DheerendraRathor opened #1582 "RecoveryServices tests aren't running post pytest migrations"
Tests in test_mgmt_recoveryservices.py aren't running as test methods are written in `*_test` format which were supported in nosetest but not in pytest. pytest and standard python convention is `test_*`.

[2017-10-27 22:50] lmazuel commented on #1582
Damn, I missed that
I renamed the methods, re-recorded the tests and migrate them to the new test framework (see PR attached). Once it's green I'll merged.
Thanks for noticing!

[2017-10-27 23:36] #1582 closed

[2017-10-31 20:38] saulcruz opened #1591 "ADF Documentation/Example using a Scheduled Trigger?"
As always, thanks for this library.

This an azure.mgmt.datafactory question.
This is not necessarily an issue, maybe something that is not clear in the documentation.

Not sure what I'm doing wrong here and unfortunately the documentation is not enough to guide me through the process, or maybe I'm missing something. The below code is how I build all the elements required to create and start a sch

[2017-10-31 21:15] nitzmahone commented on #1384
Sounds like one of two things:
* your company's got a MITM HTTPS proxy, so you need to add its CA root to the cert trust store on the Ansible host
- or -
* someone's removed the Microsoft CA root from the trust store on the Ansible host (it needs to be added back).

@lmazuel is the `verify=False` option exposed somewhere globally on msrestazure or elsewhere that we could set it? I'm not opposed to

[2017-10-31 21:35] saulcruz commented on #1591
Never mind, I figured this one out, however the errors messages weren't helping :) , for documentation purposes only, the problem is the way I formatted the dates in the recurrence (ScheduleTriggerRecurrence object)

python isoformat() does not include the UTC offset (-08:00, -04:00, etc.)

I had to add the UTC offset and voila!

for example:

[code]

This post also helped me to get there:

https:

[2017-10-31 22:26] hvermis commented on #1591
@saulcruz, thank you for reporting we will open internal items to improve our error messaging. @sharonlo101 will follow up with documentation.

[2017-10-31 22:31] lmazuel commented on #1591
@saulcruz By default, Python does not set the `tzinfo` (too dangerous and not obvious). But if you do it yourself, `isoformat` will do it:
[code]

Note that the SDK install python-dateutil, which can help as well:
[code]

Note that the last one will use the tz of the system. It's nice for a desktop machine, usually more dangerous for a VM or a server.

[2017-10-31 23:10] lmazuel commented on #1384
@nitzmahone Yes, there is even two solutions:
- Add the keyword argument `verify=False` when creating `UserPassCredentials` or `ServicePrincipalCredentials` (only these twos).
- Use a session callback:
[code]
This last one is available everywhere, whatever the authentication class used.

[2017-11-01 22:24] saulcruz opened #1595 "ADF Question: DatasetDateTimePartitionValue( ) date_property possible values and how to use {year}, {month} placeholders"
I've been trying to dynamically change the folder path of an Azure Data Lake Store dataset following the [logic](https://blogs.msdn.microsoft.com/data_insights_global_practice/2015/10/19/slicing-and-dicing-configuring-external-data-input-to-azure-data-factory/) in ADF V1 where a variable called SliceStart would let us get the date of when the data slice was being executed.

Now, the use case is si

[2017-11-02 13:17] hutch34 opened #1596 "Cannot set 'required_resource_access' during application create or patch."
I'm attempting to set the 'required_resource_access' for an Application either during creation or by patching after creation but am unable to do so.

Passing as a parameter during creation gives me the following error:

`msrest.exceptions.SerializationError: Unable to build a model: Cannot deserialize as [str] an object of type <class 'str'>, DeserializationError: Cannot deserialize as [str] an ob

[2017-11-02 18:18] lmazuel commented on #1596
This is because you didn't pass the expected arguments (in pass a str when a list was expected).
See `required_resource_access` should be a list of RequiredResourceAccess:
https://docs.microsoft.com/en-us/python/api/azure.graphrbac.models.applicationcreateparameters?view=azure-python

And a RequiredResourceAccess must contains a list of ResourceAccess and optionally a resource_app_id:
https://docs

[2017-11-03 05:25] Balachandar-R opened #1602 "Azure Blob service access - Python client with Proxy"
Hi Team,

I need to list down the blobs available in the Azure Blob containers. But python client is running behind the proxy. Could you please tell me how to access the azure services via proxies in python code level.

Thanks,
Balachandar Raju

[2017-11-03 20:38] lmazuel commented on #1602
Hi @Balachandar-R
Azure storage is not this repo, but here:
https://github.com/Azure/azure-storage-python

That being said, we all use `requests` as core library, this might help:
http://docs.python-requests.org/en/master/user/advanced/#proxies

Especially the environment variable.

If you have more specific question on how to declare it using the azure-storage client, please open an issue in the

[2017-11-03 20:38] #1602 closed

[2017-11-03 21:54] #1359 closed

[2017-11-03 23:59] lmazuel commented on #1359
This is in this PR https://github.com/Azure/azure-sdk-for-python/pull/1599
and will be released next Monday

[2017-11-06 03:56] Balachandar-R opened #1606 "Azure Blob - Proxy Access"
Hi @lmazuel ,

With reference to the closed ticket(#1602)., Iwould like to know the python code to use the azure storage client using proxy. Please let me know the sample code in python.

Thanks
Balachandar Raju

[2017-11-06 17:47] vnimbalkar opened #1607 "ImportError: No module named common.credentials"
Facing below issue on running my pyhton file:

Traceback (most recent call last):
  File "test.py", line 10, in <module>
    from azure.common.credentials import ServicePrincipalCredentials
ImportError: No module named common.credentials

pip show azure
Name: azure
Version: 2.0.0rc5
Summary: Microsoft Azure Client Libraries for Python
Home-page: https://github.com/Azure/azure-sdk-for-python
Author

[2017-11-06 18:04] lmazuel commented on #1606
Hi @Balachandar-R

As I told you, Azure storage is not this repo, but here:
https://github.com/Azure/azure-storage-python

If you have more specific question on how to declare it using the azure-storage client, please open an issue in the storage repo.

Note that I suggested you to read the `requests` documentation that states:
http://docs.python-requests.org/en/master/user/advanced/#proxies
[code

[2017-11-06 18:04] #1606 closed

[2017-11-06 19:28] #1607 closed

[2017-11-06 19:28] vnimbalkar commented on #1607
Resolved

[2017-11-07 16:11] Voronenko opened #1610 "VaultSecretGroup: TypeError: 'Subresource' object is not iterable [jython]"
When using Azure SDK under jython, in case if we configure VaultSecretGroup - we get unexpected exception

TypeError: 'Subresource' object is not iterable

This is caused by fact, that in
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-compute/azure/mgmt/compute/v2017_03_30/models/vault_secret_group.py#L28

we have mapping
[code]

while right mapping which plays well, seems to

[2017-11-07 18:15] lmazuel commented on #1610
Thanks for the report @Voronenko
Do you have a complete stacktrace? No just `TypeError: 'Subresource' object is not iterable`? Your fix might work, but I'm not sure there not is not a deeper issue (SubResource _may_ be fine in some context). Did you try using CPython? What version of Jython are you using?
Thanks,

[2017-11-07 19:38] Voronenko commented on #1610
1. I need jython, as engine I am integrating azure part into uses that python dialect
2. Jython version - 2.7.1
3.  Versions of compute & network:
  jython ":azure-mgmt-compute:2.0.0:azure"
  jython ":azure-mgmt-network:1.5.0:azure"
4.
For code
[code]

callstack is

[code]

I also confirm that per change suggested in first comment - code runs like a charm both in python and jython.

[2017-11-07 23:22] NoOrangeJuice opened #1612 "readthedocs link is broken."
Hello, the link for the azure-mgmt-datafactory documentation is broken. Is there another source for this information, or perhaps a working link? Thanks.

[2017-11-08 00:34] lmazuel commented on #1610
`_convert_to_datatype` does not exist anymore, could you update your `msrest` and `msrestazure` lib? They are compatible with network/compute you use.

[2017-11-08 01:28] lmazuel commented on #1612
Hi @NoOrangeJuice
The doc is migrating here:
https://docs.microsoft.com/en-us/python/api/overview/azure/datafactory?view=azure-python

This does not answer your question, since there is no sample yet for ADF, but when they will exists, they will be there :)

@hvermis @sharonlo101 ? Is there sample for ADF in Python?

[2017-11-08 17:11] mzxgiant opened #1613 ""Sign with Version" test case does not pass version code to function"
https://github.com/Azure/azure-sdk-for-python/blob/7b5b7e612a7d8fc8ee47ee5c0a69a8c59c26aa70/azure-mgmt/tests/test_key_vault_data.py#L540

Minor mismatch with tests here -- there is an identical function call on L533. The test on the cited line (L540) should be using version as an argument but passes an empty string.

[2017-11-08 18:48] NoOrangeJuice commented on #1612
Thanks for the update Imazuel.

[2017-11-08 22:51] saulcruz commented on #1595
Update:
I'm able to use dynamic paths by using expressions within the folder path parameter, for example

params_for_dataset = {}

[code]

However this still does not solve the problem which is an environment variable at the activity/dataset level, there are only pipeline() and trigger() scope variables. I came up a very rudimentary workaround which updates the folder_path every day, however I nee

[2017-11-09 22:25] lmazuel opened #1615 "Generate Provisioning Services SDK"
@AutorestCI generate https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/provisioningservices/resource-manager/readme.md

[2017-11-09 22:55] AutorestCI commented on #1615
Working on generating this for you!!!

[2017-11-09 22:55] AutorestCI commented on #1615
Done! I created this branch and this PR:
- provisioningservices.mgmt
- https://github.com/Azure/azure-sdk-for-python/pull/1617

[2017-11-10 02:15] kalyan08 commented on #1595
Hi Saul Cruz,

You can declare a parameter named ScheduledTime on both pipeline and dataset.
From trigger, when referencing pipeline, pass value of @trigger().scheduledTime, or some expression of it, as parameter value, like this:
            {
                "pipelineReference": {
                    "type": "PipelineReference",
                    "referenceName": "Pipeline-1"
                }

[2017-11-10 18:53] saulcruz commented on #1595
@kalyan08  thanks for the suggestion, I tried something very similar, however this is only at the **trigger** or **pipeline** scope right? from what I remember SliceStart was using the **dataset/activity** scope which is very handy as that's the actual level that the folder name depends on , correct me if I'm wrong.

For example, if the activity/dataset ran yesterday but failed, I'd like to pick u

[2017-11-11 00:42] lmazuel commented on #1615
Closing, since generating as expected

[2017-11-11 00:42] #1615 closed

[2017-11-12 01:20] szlerner opened #1619 "A timeout in servicebus receive_queue_message returns an empty message."
It's not clear how to differentiate between an empty message and a timeout.  I'm currently looking for "msg._queue_name == None" but that's a test that's not guaranteed to always work.

[2017-11-12 17:51] Voronenko commented on #1610
Dear Imazuel,

  I can confirm that with upgraded msrest/msrestazure works smoothly.

[code]

[2017-11-13 05:52] troydai opened #1620 "[Monitor] Can't update or create tags for diagnostic settings"
Reference: https://github.com/Azure/azure-sdk-for-python/blob/39990b16105d89d59f646b0de67aa3d98d5e09b3/azure-mgmt-monitor/azure/mgmt/monitor/models/diagnostic_settings_resource.py#L65

[2017-11-13 17:42] lmazuel commented on #1610
Thanks @Voronenko !

[2017-11-13 17:42] #1610 closed

[2017-11-13 18:27] lmazuel commented on #1620
Swagger issue created and linked to this one.

[2017-11-13 18:37] troydai commented on #1620
Thank you.

[2017-11-13 18:53] lmazuel commented on #1619
Hi @szlerner ,

Looking at the RestAPI doc, the difference between an empty message and a timeout is the HTTP status code:
https://docs.microsoft.com/en-us/rest/api/servicebus/receive-and-delete-message-destructive-read

Code | Description
-- | --
200 | Message successfully retrieved and deleted.
204 | No messages available within the specified timeout period.

We indeed don't keep that informatio

[2017-11-13 19:34] szlerner commented on #1619
Yes!  In addition, I would hope that this is a design goal; i.e. all APIs that go through the REST interface return the code.

I also wonder whether this should be explicit by returning both the http response code as well as the structure.  Something like

    msg, httpStatusCode = ...

msg can be None if httpStatusCode indicates that message is not present.

Thanks!

[2017-11-13 19:57] kalyan08 commented on #1595
I think there are two possible approaches to the scenario we could recommend, both that are easiest to describe with scheduled trigger calling a “master pipeline” with the desired “slice” based on trigger scheduledTime, which uses a custom activity to query monitoring for previous runs of regular pipeline and decides what to do next.

Approach 1: Master pipeline uses custom activity to query monit

[2017-11-14 02:47] yuwzho commented on #1168
Also reproduced in version 2017-06-01

[2017-11-14 14:01] oak-tree opened #1623 "msg.renew_lock() does not update the broker_properties['LockedUntilUtc']"
# Details:

`Message` can be lock. This lock has `timeout`. The timeout can be found at `msg.broker_properties['LockedUntilUtc']`. But when one calls `renew_lock()` This field does not get an update

## Possible solution:

@lmazuel suggested to have `when_expire` function. On default it returns `LockedUntilUtc` but on successful `renew_lock` call it returns an update clock field.

More info can be

[2017-11-14 17:50] lmazuel commented on #1619
@szlerner that's a good point, but I'm not a huge fan of multiple return. Especially here, this would be a breaking change.
Most important is I understand what scenario I must unlock for you, whatever the way I do it :)

[2017-11-15 16:48] lmazuel commented on #1623
Thanks for creating this issue :)

[2017-11-16 07:09] hello-azure opened #1629 "msrest.exceptions.AuthenticationError: , InvalidClientIdError: (invalid_request) AADSTS90013: Invalid input received from the user."
Hi Team,

My name is George from China Azure support team. The question details and reproduce steps are as bellow. Please confirm if it's a bug? Any suggestions?

Details:
---------------------------------------------------------------------------------------------------
If azure account password contains string like "<[a-zA-Z]",  some samples as bellow:
"<a"
"<AAA"
....
we can reproduce the issue

[2017-11-16 17:02] lmazuel commented on #1629
Hi @hello-azure
Did you reproduce this issue on public Azure? I don't have a China subscription :/

Could you try ADAL, and let me know if it's better:
https://github.com/AzureAD/azure-activedirectory-library-for-python

Just try to get a token using ADAL (not necessary to do an SDK call).

[2017-11-16 21:34] saulcruz commented on #1595
@kalyan08  thanks for your response, do you have a simple example ?  if not that's fine, i will try to implement a custom activity (I've never tried it before)

what I'm doing now is getting the activity latest metadata using python (get the latest status and get the date if it was successful, otherwise just leave it as it is) and every time i run my python script to update accordingly the dataset

[2017-11-17 01:31] Sraw commented on #1629
@lmazuel Acutally, I'm the customer who met this issue. And I have reproduced this issue on public Azure.

It gives exactly the same error when I was using a public Azure subscription.

[2017-11-17 12:31] saulcruz commented on #1595
Update:

The Microsoft team reached out to me about this issue and stated: “After discussion with PM team, I was communicated that as of now there is no easy work around to achieve this scenario. “

[2017-11-20 09:34] shivab90 commented on #995
Hi
I want to extract Azure Guest Os metrics using "Azure Monitor Poweshell.
I enabled Diagnostics in azure portal.
I have configured guest agent (WAD/LAD) to collect performance counters to their storage account, I have tried the below command to retrieve the data

Get-AzureTableEntity -TableName $tableName -StorageAccountName $ComputerInventory_StorageAccountName -StorageAccountAccessKey $Storage

[2017-11-20 17:19] lmazuel commented on #995
Hi @shivab90
This repo is for SDK for Python, please ask your PS question here:
https://github.com/Azure/azure-powershell

Thanks

[2017-11-21 09:46] hello-azure commented on #1629
Hi lmazuel,
As the issue is easy to reproduce, customer also tested public azure,  so could you check it?

[2017-11-23 12:04] jjindrich opened #1647 "Resource group permissions cannot setup"
Hi, I cannot find way how to setup permissions on resource group. I need to assign specific role (e.g. Reader) to resource group for specific users/group from AAD.

[2017-11-27 08:46] SHASHANKKS commented on #1607
@vnimbalkar What was the solution /fix for the above problem. I am still facing the same issue with the latest azure_common python sdk package

[2017-11-27 13:20] clemensv commented on #1623
The field is not updated because the message is not being redelivered. The properties are reflective of what the broker set when the message was delivered and has no interaction with the renew operation.

[2017-11-27 16:05] oak-tree commented on #1623
@clemensv
Hey, yes this is true.  @lmazuelz even mention this at https://github.com/Azure/azure-sdk-for-python/pull/742

But while this is the case what is the best way to update the `lockduration` when there is a need to renew a message lock?

thanks

[2017-11-27 16:11] Jennifer1114 opened #1648 "VPN Gateway Connection for Azure Gov failing"
When I use the python sdk operations to create an azure gov vpn gateway connection between a local network gateway and a virtual network gateway, the operation fails with an Internal Server Error. The steps I take to set up this connection with all its dependencies are as follows:

1. Create resource group
2. Create virtual network
3. Create GatewaySubnet
4. Create Public IP Address
5. Create Loca

[2017-11-27 16:50] vnimbalkar commented on #1607
For me there were some weird issues where I was unable to install azure-keyvault.

Uninstalling manually downloaded packages and running below commands worked for me:

git clone git://github.com/Azure/azure-sdk-for-python.git
cd azure-sdk-for-python
python setup.py install

[2017-11-27 18:27] lmazuel commented on #1647
Hi @jjindrich
Assigning role is done with the `azure-mgmt-authorization` package:
https://docs.microsoft.com/python/api/overview/azure/authorization
http://azure-sdk-for-python.readthedocs.io/en/latest/sample_azure-mgmt-authorization.html

I indeed don't have specific samples for that, but this is an example from another sample that assign a ServicePrincipal id the "Contributor" role to a specific

[2017-11-27 18:37] lmazuel commented on #1648
Hi @Jennifer1114

I sent your question to VPN team and Gov expert, hopefully we will have a response soon.

[2017-11-27 19:09] Jennifer1114 commented on #1648
@Imanzuel, thank you!

[2017-11-27 19:10] Jennifer1114 commented on #1648
Imazuel, thank you!

[2017-11-27 22:22] lmazuel opened #1652 "MarketPlace ordering"
@AutorestCI generate https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/marketplaceordering/resource-manager/readme.md

[2017-11-27 22:22] AutorestCI commented on #1652
Working on generating this for you!!!

[2017-11-27 22:23] AutorestCI commented on #1652
Something's wrong:
[code]

[2017-11-27 22:31] #1652 closed

[2017-11-27 22:38] lmazuel commented on #1648
@Jennifer1114 can use execute your script with logs? This should be enough:
[code]
You can remove your sub id from the logs before posting, or send them to me directly at my MS address: `<mygithubalias>@microsoft.com`

[2017-11-28 04:07] SHASHANKKS commented on #1607
Thanks!!

[2017-11-28 09:03] gsacavdm commented on #1648
I wasn't able to repro this either. I wonder if this was due to an expired token or somehow auth getting messed up. Seems unrelated to local network gateway though...

[2017-11-28 11:49] clemensv commented on #1623
The renew operation extends the lock by the queue's/subscription's default lock duration from the instant you call it on onwards. That's simple datetime math.

[2017-11-28 11:50] oak-tree commented on #1623
@clemensv thanks for the info. How to get via python the `default lock duration`?

[2017-11-28 11:51] clemensv commented on #1623
You don't need to get it. The system knows it. It's a property of the queue itself and you don't pass a parameter.

[2017-11-29 09:30] oak-tree commented on #1623
Hey, I'm not sure I'm following:
I'm currently having heavy task while reading a message from a `subscription`. This task split to several sub tasks. Therefor, for before each sub task there is a verification of the lock time of the message i.e

[code]

But when there first `renew_lock()` is firing the message lock is begin extending by the `default lock duration`.  As renew_lock does not update a

[2017-11-29 18:18] Jennifer1114 commented on #1648
[code]

[2017-11-30 16:09] gsacavdm commented on #1648
Thanks for the headers @Jennifer1114 .

To confirm, the Auth error was transient and is no longer occurring nor reproducible. You are now consistently getting that internal server error... Is that happening always on that same VPN Gateway or if you recreate the whole thing (resource group, vnet, etc) do you keep getting that issue just on the gateway connection?

Also, this seems to be on the DoD

[2017-11-30 16:38] clemensv commented on #1623
1. as you do it
2. it's ok to renew the lock before the next step if there's any risk that the lock will expire

The renewed lock time is the current time plus the queue's lock duration. You can get that with the python SDK from the object returned by [get_queue()](https://github.com/Azure/azure-sdk-for-python/blob/master/azure-servicebus/azure/servicebus/servicebusservice.py#L289) as [lock_durati

[2017-11-30 17:09] oak-tree commented on #1623
@clemensv thanks for answering :)

[2017-11-30 17:37] lmazuel commented on #1623
Thanks @clemensv !

[2017-11-30 17:37] #1623 closed

[2017-11-30 17:50] jmalobicky opened #1659 "App Insights module needed"
Hello, I am looking to utilize application insights resources but there is no module currently. Is it possible to generate a appinsights module to create the appinsights component and create web tests?

[2017-12-01 13:20] charliejllewellyn commented on #1384
@nitzmahone I have tried the first solution and this doesn't seem to work.

My scenario is slightly different in that I am using Azure Stack rather than Azure proper but I imagine there are a lot of similarities.

In my scenario we are querying the metadata endpoint which calls a method (_populate_from_metadata_endpoint) in msrestazure/azure_cloud.py. This appears to be hardcoded to not pass verif

[2017-12-01 15:27] charliejllewellyn opened #1660 "Unable to run against Azure Stack"
I am indirectly using this module via Ansible against Azure Stack. I have run into an issue that prevents Ansible from running because the same endpoints as public Azure are not available.

When specifying a metadata discovery endpoint (export AZURE_CLOUD_ENVIRONMENT="https://management.local.azurestack.external/metadata/endpoints?api-version=2016-01-01") I receive the following error.

[code]

We

[2017-12-01 15:38] charliejllewellyn opened #1661 "Azure Stack inconsistency"
I am using this module indirectly via Ansible however I am unable to create storage accounts.

The error I receive is:

[code]
fatal: [localhost]: FAILED! => {"changed": false, "msg": "value of account_type must be one of: Premium_LRS,Standard_GRS,Standard_LRS,Standard_RAGRS,Standard_ZRS, got: StandardLRS"}
[code]

[2017-12-01 16:06] charliejllewellyn commented on #1661
Upon further investigation this doesn't work against Azure. It seems the value should be StandardLRS?

[2017-12-01 18:23] lmazuel commented on #1384
Thanks @charliejllewellyn ! That's an excellent point. I created an issue for msrestazure, and created an issue in the Azure CLI as well (since they don't know but they have the same issue as Ansible)

[2017-12-01 19:53] lmazuel commented on #1661
Correct value is `Standard_LRS` are you writing this in an Ansible playbook, or is this hardcoded in Ansible?

[2017-12-01 19:56] lmazuel commented on #1660
Could you download this URL using `curl` or `requests` and post the JSON you received (remove all personal information, the only thinkg I need is the JSON structure).
Then, I will check if it's a AS bug.

In the meantime, could you change `"/usr/lib/python2.7/site-packages/msrestazure/azure_active_directory.py", line 152` to call the `resource_manager` attribute instead of `management` ?

@derekbe

[2017-12-01 20:48] lmazuel commented on #1659
The App Insights has made their own client here:
https://github.com/Microsoft/ApplicationInsights-Python

Does this contains what you need, or there is missing part?

[2017-12-01 20:59] jmalobicky commented on #1659
I did not even know that client existed. Let me give it a once-over and see if it has everything.

[2017-12-01 21:05] jmalobicky commented on #1659
From the looks of it, that client is for adding into my application versus interacting with the resources in Azure. I need to create an App Insights component and then add web tests from https://docs.microsoft.com/en-us/rest/api/application-insights/. These features do not seem to be part of the Telemetry client or any contexts.

[2017-12-01 23:29] lmazuel opened #1664 "AppInsights Mgmt"
@AutorestCI generate https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/appinsights/resource-manager/readme.md

[2017-12-01 23:29] AutorestCI commented on #1664
Working on generating this for you!!!

[2017-12-01 23:30] AutorestCI commented on #1664
Something's wrong:
[code]

[2017-12-01 23:32] lmazuel commented on #1660
Fixed in msrestazure 0.4.18

[2017-12-01 23:32] #1660 closed

[2017-12-01 23:32] lmazuel commented on #1661
@tstringer FYI

[2017-12-01 23:34] lmazuel commented on #1384
Could you try:
- Update to msrestazure 0.4.18
- Download the certificate: https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-cli-admin
- Set the REQUESTS_CA_BUNDLE env variable to it: http://docs.python-requests.org/en/master/user/advanced/#ssl-cert-verification

[2017-12-01 23:38] lmazuel commented on #1664
@AutorestCI generate https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/appinsights/resource-manager/readme.md

[2017-12-01 23:39] lmazuel commented on #1664
@AutorestCI generate https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/appinsights/resource-manager/readme.md

[2017-12-01 23:39] AutorestCI commented on #1664
Working on generating this for you!!!

[2017-12-01 23:39] AutorestCI commented on #1664
Something's wrong:
[code]

[2017-12-01 23:47] lmazuel commented on #1664
@AutorestCI generate https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/applicationinsights/resource-manager/readme.md

[2017-12-01 23:47] AutorestCI commented on #1664
Working on generating this for you!!!

[2017-12-01 23:47] AutorestCI commented on #1664
Done! I created this branch and this PR:
- applicationinsights.mgmt
- https://github.com/Azure/azure-sdk-for-python/pull/1665

[2017-12-01 23:48] lmazuel commented on #1659
Gotcha. I create a client from the service metadescription:
https://github.com/Azure/azure-sdk-for-python/pull/1665

If you could try it, would be nice :)

Thanks!

[2017-12-01 23:48] #1664 closed

[2017-12-02 00:08] lmazuel commented on #1615
@AutorestCI generate https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/provisioningservices/resource-manager/readme.md

[2017-12-02 00:08] AutorestCI commented on #1615
Working on generating this for you!!!

[2017-12-02 00:08] AutorestCI commented on #1615
Something's wrong:
[code]

[2017-12-02 00:09] lmazuel commented on #1615
@AutorestCI generate https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/provisioningservices/resource-manager/readme.md

[2017-12-02 00:09] AutorestCI commented on #1615
Working on generating this for you!!!

[2017-12-02 00:10] AutorestCI commented on #1615
Done! I created this branch and this PR:
- provisioningservices.mgmt
- https://github.com/Azure/azure-sdk-for-python/pull/1666

[2017-12-02 07:28] charliejllewellyn commented on #1384
@lmazuel Thanks for looking at this so quickly :) You cannot just specify only the self-signed cert as this overrides the OS CA bundle causing the auth request to login.microsoft.com to fail to verify as the official MS cert is not available. however adding this cert to the OS CA bundle and then referencing that works so thanks!

[2017-12-03 14:21] tstringer commented on #1661
Thanks for looping me in, @lmazuel!!

@charliejllewellyn have you tried correcting the value as per the above comment? Let me know if you're running into any more issues.

[2017-12-04 05:00] kemura opened #1668 "Azure batch authentication failed when using other Azure resources"
Hi,
My customer met the same issue below.

[Azure Batch Pool: How do I use a custom VM Image via Python?](https://stackoverflow.com/questions/46756780/azure-batch-pool-how-do-i-use-a-custom-vm-image-via-python)

According to the article above, we need to use ServicePrincipalCredentials when we use Azure resources in batch.
However, in Azure batch, only SharedKeyCredentials is provided but no infor

[2017-12-04 09:42] charliejllewellyn opened #1669 "Unable to authenticate against Azure Stack"
Hi,

This could be related to as I previously got this working by working by making some amendments to the code but I believe it has stopped working since this change was implemented.

I am again using this module indirectly via Ansible. I am using Active Directory Auth. I have set the following parameters with Ansible.

[code]

When running Ansible I receive the following error:

[code]

Running

[2017-12-04 11:02] charliejllewellyn commented on #1661
@tstringer I have corrected the value in Azure Public and I can confirm "Standard_LRS" creates a storage account. I am unable to test against Azure Stack ATM as the authentication seems to have broken with a recent change. Once this is solved I'll test and update the issue :)

[2017-12-04 16:52] lmazuel commented on #1384
Hi @charliejllewellyn ! Thanks for the feedback. May I ask you to detail how you "adding this cert to the OS CA bundle", just to have clear answer to this thread? Especially, it's probably different on Windows/MacOSX/Ubuntu, and I'd be curious myself to see your exact scenario. Thanks!

[2017-12-04 17:05] charliejllewellyn commented on #1384
np :)

I'm using Docker with a default Centos image "library/centos". The bit that does the cert is as follows:

[code]

[2017-12-04 17:17] lmazuel commented on #1668
@annatisch could you answer this one please?

[2017-12-04 17:19] lmazuel commented on #1669
Hi @charliejllewellyn testing the env would be awesome indeed :)

@yugangw-msft are you doing some magic to authenticate the CLI against AzureStack?

[2017-12-04 23:19] jmalobicky commented on #1659
@lmazuel Thanks for generating. I will give it a test run and let you know if there are any issues.

[2017-12-05 01:14] lmazuel commented on #1615
@AutorestCI generate https://github.com/Azure/azure-rest-api-specs/blob/current/specification/provisioningservices/resource-manager/readme.md

[2017-12-05 01:14] AutorestCI commented on #1615
Working on generating this for you!!!

[2017-12-05 01:14] AutorestCI commented on #1615
Something's wrong:
[code]

[2017-12-05 01:15] lmazuel commented on #1615
@AutorestCI generate https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/provisioningservices/resource-manager/readme.md

[2017-12-05 01:15] AutorestCI commented on #1615
Working on generating this for you!!!

[2017-12-05 01:15] AutorestCI commented on #1615
Done! I created this branch and this PR:
- provisioningservices.mgmt
- https://github.com/Azure/azure-sdk-for-python/pull/1674

[2017-12-05 14:14] Jennifer1114 commented on #1648
@gsacavdm for a few weeks I have been building, having the local and virtual gateways successfully be created, having the connection fail, deleting everything, and then rebuilding with the connection still failing. I am on the us gov Virginia region, and I have not attempted to set this up in the portal.

[2017-12-05 16:31] annatisch commented on #1668
Hi @kemura,
You are correct in that when Batch needs to access other resources (e.g. VNets and Custom Images), it requires Active Directory authentication rather than SharedKey.
The tools required to authenticate via AAD are already supplied for use with the management SDKs and so are not re-packaged with Batch.

Once you have followed the instructions [in this article](https://docs.microsoft.com/

[2017-12-05 17:52] charliejllewellyn commented on #1669
@lmazuel I've sent some details through in a mail for our Lab :)

[2017-12-05 18:29] lmazuel commented on #1668
Thanks @annatisch !
@kemura please let us know if your problem is solved now :)

[2017-12-06 00:46] kemura commented on #1668
Hi @annatisch and @lmazuel ,
Thanks for replying and helping me to understand how we should code when using other resources
My customer solved the issue by using ServicePrincipalCredentials.

Plus, thanks for sharing the information. I understood that we need to acquire token from batch endpoint "https://batch.core.windows.net/".

My customer had a trouble because he didn't set resource = "https:/

[2017-12-06 01:12] #1668 closed

[2017-12-06 10:40] Amit-Singh-N opened #1679 "not able to download BlockBlobFile from SasUri using python SDK"
Dear Sir/Madam,

I am receiving SasUri ""SasUri":"https://MyBlob.blob.core.windows.net/scustomer/20171127T182624_98e74a63-3ffe-4ded-9d54-a15359792b9e?sv=2016-05-31&sr=c&si=datatest_customer_MyClient_r&sig=gzabDDEx%2BBhPJGUjPdk%2F58EWLELpTTDJCVV5a1MvmOc%3D"" from the Azure service bus, when i am clicking SasUri it is downloading the file to default folder, how ever i want to download the file using

[2017-12-06 18:39] gsacavdm commented on #1648
@Jennifer1114 , can you try via the portal and see if it also fails there please?

[2017-12-07 16:49] Jennifer1114 commented on #1648
@gsacavdm starting Tuesday, I have been able to successfully provision the virtual network gateway connection a few times and the status is now "connecting". I am not sure why it is no longer giving me the InternalServerError, and I have not changed anything in my code. I can do a log comparison and perhaps see if there are any differences for why it is now working and we can close the issue.

[2017-12-07 17:35] gsacavdm commented on #1648
Given your latest finding and the fact that it's worked fine for me, I'm strongly inclined to believe this isn't a azure-sdk-for-python issue, rather a service issue.

I'd suggest you or @lmazuel close the issue. If the service-side issue comes back I'd open a support ticket instead.

[2017-12-07 20:21] lmazuel commented on #1679
Hi @Amit-Singh-N
This is a storage issue, please open the issue on their tracker, in order to have the storage experts looking at your issue:
https://github.com/Azure/azure-storage-python/issues

Thank you,

[2017-12-07 20:21] #1679 closed

[2017-12-07 21:07] lmazuel commented on #1648
Thanks @gsacavdm !
Closing the issue for now.

[2017-12-07 21:07] #1648 closed

[2017-12-08 19:42] jmalobicky commented on #1659
@lmazuel application insights module seems to be working fine. I havent run into any issues with the use cases I have. I would think it is fine to merge.

[2017-12-09 01:40] lmazuel commented on #1659
Thanks for the heads up! Will do on Monday

[2017-12-11 22:34] saulcruz opened #1691 "Trying to upgrade azure-mgmt-datafactory from .2.2 to .3"
Hi everybody

I'm running:

` pip install azure-mgmt-datafactory --upgrade`

however I don't see version 0.3.0 , the version that I get after the upgrade is  0.2.2

I was expecting to get all the updates regarding this version:
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-datafactory/azure/mgmt/datafactory/version.py

am i missing something in my pip install?

[2017-12-12 09:47] alexandreg19 opened #1695 "Can't export devices from my IOTHub"
- **OS and version used:** <VERSION>  Ubuntu 16.04 (Bash For Windows)

- **Python runtime used:** <VERSION>  Python 3.5.2 (default, Sep 14 2017, 22:51:06)

- **SDK version used:** <VERSION>
azure-iothub-service-client==1.1.0.19
azure-mgmt-iothub==0.2.2
azure==2.0.0

# Description of the issue:

When I try to use the iot_hub_resource.export_devices() method, I got an Error : `too many 500 error res

[2017-12-12 10:55] #1647 closed

[2017-12-12 14:18] charliejllewellyn commented on #1669
I have spent a little time on this and we have discovered that the issue is being caused because the resource being set when fetching a token is the ARM endpoint, it appears with Azure Stack this resource should be the active_directory_resource_id.

I have a thread open on the MSDN forum discussing this in more detail here, https://social.msdn.microsoft.com/Forums/azure/en-US/20845560-cb08-4e6e-9c

[2017-12-12 14:23] charliejllewellyn opened #1696 "Hardcoded API's"
Hi, I am using this module indirectly via Ansible with Azure Stack.

It appears the API versions are hardcoded which causes failures with Azure Stack that appear to use very specific API versions.

Looking at the code in /usr/lib/python2.7/site-packages/azure/mgmt/storage/v2017_06_01/operations/storage_accounts_operations.py we can see the API is set to "2017-06-01"

We get the following result wi

[2017-12-12 14:25] charliejllewellyn commented on #1696
It looks like the azure cli have worked around this by allowing API profiles to be set e.g.

az cloud update \
  --profile 2017-03-09-profile

Is there something similar here that can also be used with Ansible?

[2017-12-12 14:28] charliejllewellyn commented on #1661
I obviously made a mistake when getting this to work with Azure Stack. I can confirm it works as expected apart from a hardcoded API version. I have logged a separate issue for that. Thanks for looking into it!

[2017-12-12 14:28] #1661 closed

[2017-12-12 17:46] lmazuel commented on #1691
Hi @saulcruz
You're not missing something, the PR for 0.3 was merged but not released yet. I'm working on it, you can expect that today.

[2017-12-12 18:08] lmazuel commented on #1691
Released https://pypi.python.org/pypi/azure-mgmt-datafactory/0.3.0

Sorry for the confusion, usually I dislike a lot having master not in sync with PyPI, but got side track on this one...

[2017-12-12 18:08] #1691 closed

[2017-12-12 18:10] lmazuel commented on #1691
FYI @hvermis

[2017-12-12 18:46] lmazuel commented on #1696
Hi @charliejllewellyn
Yes, the azure.mgmt.storage.StorageManagmentClient has an api-version:
https://github.com/Azure/azure-sdk-for-python/blob/7cbff93b40a244bd222d81b97597c0530161169e/azure-mgmt-storage/azure/mgmt/storage/storage_management_client.py#L73-L74

Ansible should use that, or provide a parameter to change that (like the CLI).
FYI @tstringer

I'm closing this one, since it's not a SDK i

[2017-12-12 18:52] lmazuel commented on #1695
Hi @alexandreg19
This is most likely a RestAPI issue :/
@annatisch do you you have contact on the IoTHub team we can tag here?

[2017-12-12 19:00] lmazuel commented on #1669
Thanks @charliejllewellyn that helps a lot!
It's on me, and I did a PR for that:
https://github.com/Azure/msrestazure-for-python/pull/65

I need more testing, since it's critical, but should releasable soon.

Thanks again!

[2017-12-12 21:05] annatisch commented on #1695
Sure, @zolvarga might be able to take a look :)

[2017-12-13 06:48] charliejllewellyn opened #1704 "Unable to create virtual machine in Azure Stack"
I am using this module indirectly via Ansible.

I have temporarily worked around the issue https://github.com/Azure/msrestazure-for-python/issues/64 by setting the storage endpoint so VM's can be created. However I am now receiving the following error when trying to create a new VM.

[code]

[2017-12-13 09:39] charliejllewellyn commented on #1704
It appears that I get this error against Azure itself so this might be a wider issue?

[2017-12-13 16:50] lmazuel commented on #1704
Hi @charliejllewellyn
This one I can answer :)

When you call a RestAPI, you need to specify an API-Version. It's a requirement of Azure, there is no default ApiVersion. However, the SDK does this for you, for simple scenario on public Azure (but you can configure that of course).

Now, when you call an operation, the object you give as parameter changes depending of the ApiVersion. This is known

[2017-12-13 17:05] lmazuel commented on #1704
Related discussion https://github.com/ansible/ansible/issues/26195

[2017-12-13 17:09] charliejllewellyn commented on #1704
Hey @lmazuel tanks for the comprehensive answer...I think I'll need to read it a few more times. I should say though that we have been struggling a little here with API versions and Azure Stack as using the correct model and API in some scenarios doesn't work.

For example if I install ansible azure and change nothing (apart from the fix for the auth - thanks for the pull request BTW :-) then I ge

[2017-12-13 18:02] lmazuel commented on #1704
Unfortunately, it does not pick up the right model if you import `azure.mgmt.storage.models`, like Ansible is doing:
https://github.com/tstringer/ansible/blob/d031ff8aec3ce8bb626c4db40cba9ecb1c6dfb98/lib/ansible/modules/cloud/azure/azure_rm_storageaccount.py#L161-L162

Since when doing a generic import of models, we load the latest public Azure one.

Replace this line:
https://github.com/tstringer

[2017-12-15 01:24] saulcruz opened #1714 "ADF V2 Create or update pipeline error using datafactory 0.3, AttributeError: 'str' object has no attribute 'values'"
after upgrading the python library from .2.2 to .3 I started getting the following error when creating/updating pipelines:

[code]

This is how I create a pipeline, not sure I'm completely missing something, I've reviewed my code and looks exactly as when it was working with .2.2
[code]

Did the way to create PipelineResources change? or something else?

Thanks for your help and efforts on this li

[2017-12-15 01:42] lmazuel commented on #1714
This error means that the model is expecting a dictionary, but it got a string (i.e. we call `values()` because the meta-data says it will be a dict, but we got a `str` and `str` does not have value). Note to myself: improve the error message with the name of the property validated.

Since it's a serialization issue, your `PipelineResource` object is defined incorrectly: you pass a string where a

[2017-12-15 02:31] hvermis commented on #1714
It could also be caused by your activities since PipelineResource serialization includes everything in the pipeline. Our version .3 has some breaking changes compared to .2.2, so you could see some issues in your scripts. What sources and sinks are you using in Copy activities?

[2017-12-15 16:58] saulcruz commented on #1714
@hvermis  SqlSource and SqlSink CopyActivities, however i downgraded it to azure-mgmt-datafactory-0.2.2 and it worked so not sure if this is related to the copy activities unless there was a change in the way we define CopyActivities

@lmazuel I think I'm using the right signature (as specified in the link you provided)  which is

[code]
And regarding the msrest, I tested it with 0.4.21 and with d

[2017-12-15 17:30] lmazuel commented on #1714
@saulcruz Being the number of recursive call in your stacktrace, it's likely not in PipelineResource directly, but deep inside the model, in one of the submodel.
Being that you don't provide `additional_properties` or `parameters`, it's probably deep inside activities.

Note that each model has a `validate` method, like this:
```pl_resource_object.validate()```

You can try to validate each subpar

[2017-12-15 17:50] lmazuel commented on #1714
@saulcruz , could you replace your msrest with this one from a branch, and try to see if the exception is better now?

[code]

[2017-12-15 21:25] saulcruz commented on #1714
@lmazuel  sorry about the delay and thanks for the suggestion, and yeah I'm actually getting a better exception now.

i'm getting the error: msrest.exceptions.ValidationError: Parameter 'additional_properties' must be of type '{object}'

so, I added additional_parameters={} and an empty dictionary  as I thought it was like the pipeline parameters where I need to pass the empty dict. I'm doing that

[2017-12-15 21:32] hvermis commented on #1714
You should be able to not specify additional properties and it should work as they have default value None

[2017-12-15 21:48] saulcruz commented on #1714
@hvermis that's how my code was originally and that's when I got the error for the first time after upgrading to datafactory=0.3.0

[2017-12-15 21:48] lmazuel commented on #1714
Additional_properties was added in msrest 0.4.20 (it's why I was talking about that). Could you try with msrest 0.4.19 and adf 0.3.0 (I think you tried 0.4.21 and 0.2.2, I'd like the contrary now :)). My guess is it will fail with an horrible error.

Additional_properties was added in adf 0.3.0, but the ADF team (I mean @hvermis ) was not aware that it was not supported in Python. Coincidence is I

[2017-12-15 21:58] lmazuel commented on #1714
@saulcruz I pushed another commit to the previous branch, if you could try this should solve all your problem.

[2017-12-15 22:06] saulcruz commented on #1714
@lmazuel  awesomeness!!!! it works, I really appreciate your help, and thanks for the recommendations @hvermis

[2017-12-15 22:08] lmazuel commented on #1714
Thank you for your testing @saulcruz ! I release this version as msrest 0.4.22. Next fresh install of ADF will pick it up automatically.
Thanks again!

[2017-12-18 10:28] charliejllewellyn opened #1720 "Creating queues in Azure Stack fails"
I have a very simple piece of code to create a queue in Azure Stack.

[code]

This fails with the following error:

[code]

and also

[code]

Fails with the same error:

[code]

This same code works in Azure.

[2017-12-18 18:05] lmazuel commented on #1720
Hi @charliejllewellyn

Note that the Storage repo (for issues) is here (the Storage team supports the client themselves, not the central SDK team where I am):
https://github.com/Azure/azure-storage-python

But I have context on this one, so let me give you what I know.

As ARM, Storage has constraints in term of ApiVersion for AzureStack support. Recommended ApiVersion for Azure Stack and Storage

[2017-12-18 18:23] bganapa commented on #1720
Thanks for flagging me , We will take this up with the storage team

[2017-12-18 18:32] zezha-msft commented on #1720
Thanks @lmazuel!

@charliejllewellyn, for more information on the differences between Azure Storage and Azure Stack Storage, please refer to this [link](https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-acs-differences).

[2017-12-19 07:29] charliejllewellyn commented on #1720
Hey both,

Firstly @lmazuel thanks for the detail in your response and also for your help over the last few weeks.

I thought this might be an API version issue again, I guess my concern is that since Azure Stack is marketed as "An extension to Azure" and the concept is that you just re-target deployment code and apps to Azure Stack, the complexity of actually getting this working really concerns

[2017-12-19 10:44] alexandreg19 commented on #1695
Hi @annatisch @lmazuel

Any news on this subject ?
I originaly post this issue on the sdk-python-iot repo, but @zolvarga told me that it concerns the management repo (if I'm correct), so here I am.

Regards,
Alexandre

[2017-12-19 17:10] lmazuel commented on #1720
Hi @charliejllewellyn
I'm glad if I was able to help you :)
@bganapa tagged here is from the Azure Stack team.

You can send me an email, and I can forward to at least @bganapa, and he will know the best list to handle the discussion.

[2017-12-19 17:15] lmazuel commented on #1695
Hi @alexandreg19
That's indeed a Management issue, but it's also a HTTP 500, meaning that's a RestAPI issue more than a Python issue. I made a few search, tagging specifically IoTMgmt this time:

@mastermanu @andrew-buckley could you please help with this ARM issue that returns a 500?
Thanks,

[2017-12-21 17:03] lmazuel commented on #1695
@alexandreg19 Could you activate the logs:
[code]
And sent it to me by private email? \<my_github_alias\>@microsoft.com
Thanks!

[2017-12-21 21:14] #1714 closed

[2017-12-21 21:16] lmazuel commented on #1695
@alexandreg19 answer from @mastermanu after investigation on the server side:

[2017-12-22 09:12] adomenech73 opened #1727 "ResourceManagementClient trivial example stopped working"
I had a trivial example extracted from documentation that used to work
Now I'm triyin to reuse it and I'm getting extrage error message when creating a new ResourceManagementClient

`resource_client = ResourceManagementClient(credentials, subscription_id)`

gets:

`TypeError: __init__() takes exactly 2 arguments (3 given)`

[2017-12-23 01:24] lmazuel commented on #1727
What you described is very unlikely, this client is the foundation of all the SDK code (including CLI, Ansible, etc.). Every unittest are creating a ResourceManagementClient (to get a ResourceGroup created).

Could you share more:
- pip freeze
- complete code until this point (including import)
- exact stacktrace

Thank you

[2017-12-26 10:08] bharathmakawana opened #1728 "VNET Resource group is not under VM Resource group"
Hi Y' All,

I was just trying to provision an VM in azure, but it seems the VNET resource group is not under the VM resource group and because of which I couldn't proceed ahead.

The current ansible version is ansible 2.3.1.0 and I get the below error...

TASK [Create VM] *******************************************************************************************************************************

[2017-12-27 18:51] lmazuel commented on #1728
Hi @bharathmakawana
Please open Ansible issues in the Ansible repo:
https://github.com/ansible/ansible/issues

If I'd guess your issue, I would say that you probably took a sample playbook and forgot to replace `VM-RESOURCE-GROUP-NAME` with your wanted resource group name.

Thanks,

[2017-12-27 18:51] #1728 closed

[2017-12-27 19:10] bharathmakawana commented on #1728
Thanks for your reply, but that is not the case here.

Sent from Moto G

On Dec 28, 2017 12:21 AM, "Laurent Mazuel" <notifications@github.com> wrote:

[2017-12-27 20:03] lmazuel commented on #1728
What "is not the case"? You're definitely using Ansible, this is not the correct repo. And my last sentence as I said is a "guess", but according to the message, there is definitely a parameter somewhere where the value is `VM-RESOURCE-GROUP-NAME`, since this is a templated message.
But again, I was just trying to help, this is an Ansible issue.
Thank you.

[2017-12-28 07:39] bharathmakawana commented on #1728
I highly appreciate your response, but the case here is VNET resource group and VM resource group are different and even after giving the correct VM-RESOURCE-GROUP-NAME.

I get the error stating that "VNET resource group is not under the VM resource group"

[2017-12-28 16:33] lmazuel commented on #1728
Again, this is an Ansible issue, please open an issue on the Ansible repo:
https://github.com/ansible/ansible/issues

Thank you,

[2017-12-29 14:51] alexandreg19 commented on #1695
Hi !

As I said to @lmazuel , I followed this hint and it's a little bit better. Here my code updated with the SASToken :

[code]

Now, blobs are created, but there is nothing in it. The script creates 5 blobs (one for each failed execution ) and do nothing more, and finally end with the Internal Error.

Regards,
Alexandre

[2018-01-05 05:44] nitzmahone opened #9271 "Support for request batching via /batch endpoint?"
After seeing how the portal batch-fetches VM `instanceView`s for PowerState so quickly via the `/batch` endpoint, I hacked together a batched version of `instance_view()` on `ComputeManagementClient`. I couldn't find any docs about the batch endpoint though (complicated by the prevalence of docs for the Batch service)..

Is `/batch` actually supported, and if so, any chance for "official" support

[2018-01-09 09:21] the1bit opened #1743 "AttributeError: 'MonitorManagementClient' object has no attribute 'metric_definitions'"
Hi,

I would like to manage the Azure subscription related metrics and alerts from Python. I have started the discovering of capabilities of this area and I am facing an serious issue.
I am following this article: [https://docs.microsoft.com/en-us/python/api/overview/azure/monitoring?view=azure-python](https://docs.microsoft.com/en-us/python/api/overview/azure/monitoring?view=azure-python)
After t

[2018-01-09 12:11] tuanfred opened #1744 ""Dead lock" when listening service bus queue"
I have an application in multithreading mode, each thread has its own bus client and listen to the same queue.
It works well, but every 2 or 3 days (after 2K or 3K messages), bus client (of each thread) stop to listening, without any error or exception, like a "dead lock".
It stop at this line (nothing happens):
msg = self.bus_client.receive_queue_message(self.queue_name, peek_lock, timeout)

(pea

[2018-01-09 17:45] lmazuel commented on #1743
Hum, that's strange, [there is definitely metric_definitions in this class](https://github.com/Azure/azure-sdk-for-python/blob/6bbab4181bbabf5db1c278dda870598acc9f0021/azure-mgmt-monitor/azure/mgmt/monitor/monitor_management_client.py#L142). Based on your content, you have the 0.3.0 version installed. Could you:
- `print(azure.mgmt.monitor.__version__)`
- do a `pip freeze` to see the entire packag

[2018-01-09 20:31] jmalobicky commented on #1659
@lmazuel has this been merged yet? I have been using it for quite some time without issues. Thanks.

[2018-01-09 21:16] lmazuel commented on #1659
@jmalobicky Not yet, will schedule it for soon. Thanks!

[2018-01-10 12:56] the1bit commented on #1743
Hi,

Yes, I found the class related information in the source.
Here are the results you requested:
- `print(azure.mgmt.monitor.__version__)` : 0.2.1
- Packages by `pip freeze`
azure-batch==3.0.0
azure-common==1.1.8
azure-datalake-store==0.0.17
azure-graphrbac==0.30.0
azure-keyvault==0.3.7
azure-mgmt==1.0.0
azure-mgmt-authorization==0.30.0
azure-mgmt-batch==4.0.0
azure-mgmt-cdn==0.30.3
azure-mgmt-c

[2018-01-10 14:00] the1bit commented on #1743
Hi,

I guess I have found the solution. Unfortunately I do not know how did it happen.

1. I checked the version of packages: `pip freeze` (result: `azure-mgmt-monitor==0.4.0`)
2. I tried to uninstall the whole "azure-mgmt-monitor" package: `pip uninstall azure-mgmt-monitor`
3. I checked the version of packages **again**: `pip freeze` (result: `azure-mgmt-monitor==0.2.1`)
4.  I tried to uninstall

[2018-01-10 16:36] lmazuel commented on #1743
This can happen if you use an old version of virtualenv, and you install the package in the system and then in the virtualenv. This flag was by default in old version:
https://virtualenv.pypa.io/en/stable/userguide/#the-system-site-packages-option

But since you didn't talk about virtualenv, I guess it's not that.

One other solution would be if your "pip" does not use your default "python". To be

[2018-01-10 16:36] #1743 closed

[2018-01-11 09:45] alexandreg19 commented on #1695
Hi @lmazuel @mastermanu,

My issue is now fixed thanks to you two.
It was indeed the SAS token :

[code]

All is working great now, thank you for the help.

Regards,
Alexandre

[2018-01-11 09:45] #1695 closed

[2018-01-12 20:01] atengler opened #1778 "Encrypted kube_config in get_access_profiles response"
For some reason access_profile recently vanished from ManagedCluster.get response, in order to get kubeconfig I tried to update `azure-mgmt-containerservice` package from 2.0.0 to 3.0.0. There is new method `get_access_profiles` which returns access_profile as expected, but in kubeconfig property, there is kubeconfig not only encoded, but also encrypted. After `base64` decode I get the encrypted v

[2018-01-12 20:14] atengler commented on #1778
It seems it was just some weird virtual environment problem, so I will close this issue, until I investigate some more, about what is actually happening with this new version.

[2018-01-12 20:14] #1778 closed

[2018-01-14 15:15] RobertoPrevato commented on #496
Hi @parker-andy
I did, too. I am interested in using Azure Storage for my Python applications, and I am actually willing to alter the official Azure Storage SDK to support asyncio. I just published an [article in my blog about this topic](https://robertoprevato.github.io/Upgrading-Azure-Storage-Python-SDK-to-support-asyncio/) and a fork in GitHub: [https://github.com/RobertoPrevato/azure-storage-p

[2018-01-14 21:17] pmarques commented on #1629
Same issue here. Any updated on this?

[2018-01-15 01:00] Sraw commented on #1629
Is this issue too difficult for even the top software company to solve?

[2018-01-15 09:37] the1bit opened #1780 "'x-ms-failure-cause': 'gateway' in MCD 'x-ms-routing-request-id': 'WESTEUROPE' cause Response status: 404"
Hi,

I would like to manage the Azure subscription related metrics and alerts from Python. I have started the discovering of capabilities of this area and I am facing a serious issue.

**I work in MCD (Microsoft Cloud Deutschland).**

When I  create Monitor client `client = MonitorManagementClient(credentials,subscription_id)` it seems everything is OK. Then I want to make a request something like

[2018-01-16 09:33] tuanfred commented on #1744
For information, i made a workaround to renew bus client after every 24:
self.bus_client = ServiceBusService(
            service_namespace=ns,
            shared_access_key_name=kn,
            shared_access_key_value=kv)

[2018-01-16 16:32] aribornstein opened #1781 "Custom Vision Service Api Won't install"
[code]

[2018-01-16 17:42] lmazuel commented on #496
@mayurid @johanste FYI
Hi @RobertoPrevato. I read your blog post and you are taking exactly the same approach as I do right now :).
We are close to be able to propose every packages on this repo with async and aiohttp. A few details needs to be double tested correctly (like your proxy or headers issue).
Note that I'm not talking about azure-storage right now, but you might want to discuss with @ze

[2018-01-16 17:46] lmazuel commented on #1629
Hi @Sraw
This is not a problem of difficulty, but of time and priority. If you have time to help, note that I kindly asked if someone could test with ADAL. This would be valuable information :)
Thanks,

[2018-01-16 20:54] lmazuel commented on #1780
Hi @the1bit
The metric name change depending on the resource you'd like:
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-supported-metrics

Most likely you ask for a metric name that is not available for your resource. The metrics_definitions endpoints allows you to get dynamically supported metrics for a given resource. If you use something that was not returned by "m

[2018-01-16 20:55] lmazuel commented on #1744
Hi @tuanfred
I'm sorry I didn't have the opportunity to look into your issue. Be sure this issue will stay open until I have the necessary time to investigate.
Thank you,

[2018-01-16 20:57] lmazuel commented on #1781
That's not SDK issue, you need to enable long path for git:
`git config --system core.longpaths true`

https://stackoverflow.com/a/26111092/4074838

[2018-01-16 20:57] #1781 closed

[2018-01-16 20:58] zezha-msft commented on #496
Thanks @lmazuel!

Hi @RobertoPrevato, great work on the proof of concept! And it's awesome that you wrote everything down with such detail. Your blog could also serve as a great example for modifying the Storage SDK. 😄

FYI we do have an item in our backlog to create a new async version of the Storage SDK, which will not only support asyncio, but will also feature a new design, as well as leverage

[2018-01-16 21:05] aribornstein commented on #1781
I did run that command. This is error you what get after resolving that issue. I believe it is because git allows you to clone the directory but the file name is still too long for the windows file system.

In order to get the code to run I had to clone to my c drive and manually pip install locally.

I can reproduce on more than one machine so it is worth looking into.

The culprit seems to be tw

[2018-01-16 21:18] lmazuel commented on #1727
Closing due to inactivity. Please fell free to open a new issue if necessary.

[2018-01-16 21:18] #1727 closed

[2018-01-16 21:19] lmazuel commented on #1393
I think it's fixed now, thanks!

[2018-01-16 21:19] #1393 closed

[2018-01-16 21:20] #1384 closed

[2018-01-16 21:47] lmazuel commented on #1629
I confirm this works correctly with ADAL. Until I found time to investigate this code, suggested workaround is to use `AdalAuthentication` wrapper:
https://docs.microsoft.com/python/azure/python-sdk-azure-authenticate

[2018-01-16 22:05] lmazuel commented on #1629
Narrow this down to `requests-oauthlib` issue:
[code]
At this point, could be a bug in `oauthlib` or `requests_oauthlib`.

Since UserPassCredentials is considered deprecated ([see doc](https://docs.microsoft.com/python/azure/python-sdk-azure-authenticate#mgmt-auth-legacy)), please update your code:
[code]
to this:
[code]

[2018-01-16 22:07] #1629 closed

[2018-01-16 22:37] lmazuel commented on #1781
Ok, if git is ok, then you need Python 3.6 and Longpath support on Windows:
https://docs.python.org/3/using/windows.html#removing-the-max-path-limitation

1- I don't see why you think this filename is not pep8 compliant? pep8 is about max characters, not long filename.
2- With a pip install from git, pip is clone the entire repo. I don't think there is something we can do about this (or it's pip e

[2018-01-17 00:54] Sraw commented on #1629
@lmazuel Thanks for your efforts.

[2018-01-17 08:20] the1bit commented on #1780
Hi @lmazuel ,

It is clear but the issue here is not the resource. The issue here is a script **works fine in MCI** and  **does not work in MCD**.

I guess the msrest related gateway the root cause here. `DEBUG:msrest.http_logger: 'x-ms-routing-request-id': 'WESTEUROPE:20180111T155250Z:...'`

Do you understand me?

Thanks in advance.

BR,
Tibor

[2018-01-17 09:29] RobertoPrevato commented on #496
Hi @lmazuel, @zezha-msft
I'm really happy to receive your positive feedback. :)
And thanks for taking the time to read my post and write here. If possible, I am interested in contributing to the async version of the Storage SDK, when you will start working on this work item.

Before that time, I think I will continue working on my fork. Thanks!

[2018-01-17 17:43] lmazuel commented on #1780
Gotcha.
@gucalder any opinions on this one?

[2018-01-17 19:49] lmazuel commented on #1780
Hi @the1bit

I got a flash, I realize you didn't define the base_url in the client constructor:
[code]

Could you confirm this solves your issue?

[2018-01-17 20:51] grindthemall opened #1791 "Problems with the azure libraries and Ansible"
I'm trying to use the azure python libraries with Ansible.  OS is Ubuntu in the Windows linux subsystem.

When running the inventory script I get the following error:

./inventory/azure_rm.py
The Azure python sdk is not installed (try 'pip install azure') - No module named compute

However when I ask pip to install the library, it appears to be already there:

PC1:/mnt/d/UserPhil/Documents/Onecode

[2018-01-17 22:32] SachinBadgujar opened #1794 "Querying resource properties programmatically"
Hello Team, I am using ResourceManagementClient().resources.list() to get all my resources. However, I want to get property of each of this resource (let's say function app, SQL data warehouse, and API management). Which library should be used? Among all different packages, how to figure out which service belong to which package? ( Service 'function' --> package ? to list all functions )
Thanks

[2018-01-18 00:58] lmazuel commented on #1659
Released! https://pypi.python.org/pypi/azure-mgmt-applicationinsights

[2018-01-18 00:58] #1659 closed

[2018-01-18 09:26] the1bit commented on #1780
Hi @lmazuel ,

You are right. The base_url was missed. I fix all of my clients in the code now.
`DEBUG:msrest.http_logger:    'x-ms-routing-request-id': GERMANYCENTRAL:20180118T092418Z:...'`

Somebody should fix this in the official documantation. :-)

Thank you for your help.

CLose the Question.

[2018-01-18 09:26] #1780 closed

[2018-01-18 15:39] Rafal-Spryszynski opened #1798 "azure.mgmt.logic.models.RecurrenceSchedule is badly formatted"
When trying to change autoscale settings I get the following error:

The time zone property is missing.

After a fix I get the next error.

The reason is that there is wrong JSON key used. It should be 'days', but it is 'weekDays'.

Simple fixes to azure.mgmt.logic.models.RecurrenceSchedule are required:
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-logic/azure/mgmt/logic/mo

[2018-01-18 17:24] tuanfred commented on #1744
I finally catch the exception, hope that help you:
Exception in thread QueueWorker_1:
Traceback (most recent call last):
  File "/home/pythonjob/.venv/lib/python3.4/site-packages/urllib3/connectionpool.py", line 387, in _make_request
    six.raise_from(e, None)
  File "<string>", line 2, in raise_from
  File "/home/pythonjob/.venv/lib/python3.4/site-packages/urllib3/connectionpool.py", line 383, i

[2018-01-18 22:37] lmazuel commented on #1794
Hi @SachinBadgujar
Usually, the package are at the Resource Provider (RP) level. Example, the "Microsoft.Compute" provider is inside the "azure-mgmt-compute" package. For [Function](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/getfunction), they are under the "Microsoft.Web" RP, and then in the package "azure-mgmt-web".
If you need a programmatic way to know from a RP what is the p

[2018-01-18 22:38] lmazuel commented on #1791
Ansible has a specific set of SDK versions compatible. You need to install ansible with "pip install ansible[azure]"
http://docs.ansible.com/ansible/latest/guide_azure.html

[2018-01-18 22:38] #1791 closed

[2018-01-20 19:49] cancanf3 opened #1814 "azure.mgmt.scheduler.operations.JobsOperations.create_update() Malformed Job Object"
Hello,

I am trying to create a new Job in the Azure Scheduler using the Python SDK. However, the respond from the API is not providing enough details of the error and I have tried to find my own problem re-checking the API's doc multiple times but I haven't been able to found the error.

### Here is the stack trace of the respond from the API

[code]

I have replaced subscriptionId and the uri wi

[2018-01-22 19:57] lmazuel commented on #1814
Hi @cancanf3
Could you enable DEBUG logging and post the JSON you actually send to Azure?
Thanks!

[2018-01-24 03:34] cancanf3 commented on #1814
Thanks for your response @lmazuel
DEBUG is already enabled in Django settings. I am using the Python SDK for Azure to build the job object, I am not building a JSON.

Since the request is sent through HTTPS, I can not sniff it. Could you suggest another way to provide you more details?

[2018-01-24 12:55] geeday opened #1826 "Servicebus dead letter queue"
Hi,

One bug (i think) and 1 question if I may:

I want to count the number of messages in a dead letter queue.

[code]

To add to the DL queue, do we try/except around the processing of the original message from the main queue, then post ourselves back on to the DL one?

[2018-01-24 17:51] lmazuel commented on #1814
I don't how your Django settings are set, but you should be able to get logging from the "msrest" logger. And yes, you are building a JSON under the hood to communicate with Azure :)

If you can't get the logs from "msrest" logger, you should be able to print the serialization of your model. You can print an instance of `JobDefinition` using:
[code]

[2018-01-24 18:01] lmazuel commented on #1826
Hello,
See this SO answer:
https://stackoverflow.com/a/43170448/4074838

Hope this helps,
Thanks

[2018-01-24 20:25] geeday commented on #1826
Thanks!!! :)
 I always search "dead letter queue", which I think is part of the reason I never found the SO thread.

[2018-01-24 20:25] #1826 closed

[2018-01-24 20:39] lmazuel commented on #1826
I know Python documentation on ServiceBus is far from perfect :/

[2018-01-26 16:02] cancanf3 commented on #1814
Haha yes! but Azure is doing it, not me.  :P

I tried to inject the adapter and request to the logger but I haven't figure it out yet (sorry, I am new on this)

However here is the JSON of the request. I hope this help you, if not I will try again to setup the logger.

[code]

[2018-01-26 17:24] lmazuel commented on #1814
Could you create the job manually through the [portal](https://portal.azure.com/), and then go on:
https://resources.azure.com

On this website, you should be able to find your job resource that should looks like. On the left panel, open "subscriptions", then your subscription name, then "Microsoft.Scheduler" and find your manually created job. Then post the JSON you'll see here, so we can compare

[2018-01-27 20:22] tangentToNothing opened #1841 "No Longer a method to extract Activity Log for a resource"
The `azure-monitor` python package contained the `MonitorClient`, capable of accessing `activity_logs` and filtering by resource_id, resource_group, etc. With `azure-monitor`'s deprecation, surely `azure-mgmt-monitor` would have this type of functionality? Nope.

Even better, the hosted docs on microsoft's website state that the `MonitorManagementClient` of the `azure-mgmt-monitor` package _should

[2018-01-29 10:05] vamsikrishnakonakalla opened #1844 "Unable to create Azure container service"
The following code gives me
msrestazure.azure_exceptions.CloudError: 400 Client Error: Bad Request for url: https://management.azure.com/subscriptions/**********/resourceGroups/kriskroshh/providers/Microsoft.ContainerService/containerServices/elphio?api-version=2017-07-01 . I am trying to understand if there is any error in creating the request

[code]

[2018-01-29 13:27] cancanf3 commented on #1814
Sorry for the Delay. This is the JSON of a job that I created from the Azure webapp
[code]

[2018-01-30 04:43] nitzmahone opened #1851 "Single-version API clients are potentially not forward-compatible"
I keep forgetting to ask about this: single-version API clients are not being generated with the same patterns as multi-version APIs. The most notable omissions are the `api_version` and `profile` args on the main client `__init__`; this prevents the current API version from being "pinned" by a caller, so a future SDK upgrade that adds a new (potentially incompatible) version could break it. They'

[2018-01-31 00:05] lmazuel commented on #1814
Could you confirm the version of your package (`pip freeze`)? And really try to create the exact same job through the portal (for instance the last one you mentionned doesn't have the same `retryPolicy`).

[2018-01-31 06:18] nitzmahone opened #1864 "api_version is ignored for sub-versioned operations with SdkProfile"
The current implementation of profile-versioned operations properties on the main client class will override the requested REST API version in favor of the one defined in the internal default profile.

eg:
[code]

I'd expect to get `2016-04-30-preview` for both of these, but since `disks` is defined in the internal profile, it uses that value first (returning `2017-03-30` in this case). Short of s

[2018-01-31 14:19] cancanf3 commented on #1814
I had to change the retryPolicy in the one I am trying to create from django because the tier doesn't allow minutes.

package version:
azure-mgmt-scheduler==1.1.3
msrest==0.4.25
msrestazure==0.4.20

Therefore I am sending you the new json from django that still has the same exception and the one from azure.

From Python SDK:
[code]

From https://resources.azure.com
[code]

[2018-01-31 17:20] lmazuel commented on #1814
The only thing I can see right now, is the `retryInterval`, but it's supposed to be fixed in 1.1.3 (it's why I asked you the version). Could you try to replace `timedelta(minutes=3)` by the string `"03:00:00"`? If it works, I know what I have to fix (again....).
If it doesn't, at this point I need to take some time to try to repro myself :/
Thanks for your patience,

[2018-01-31 17:30] cancanf3 commented on #1814
It's all good! I am always enjoy contributing.

Alright, so I tried your suggestion but I got an exception:
[code]

Therefore I also tried setting retry_interval=None and retry_count=None. But I still get the same error.

[2018-01-31 18:08] lmazuel commented on #1864
@nitzmahone That's the behavior I wanted: api_version as a default value less important than profile. For instance, if you write:
[code]
'2016-04-30-preview' does not exists for this one, so I have to use the profile, so the idea was:
- Use profile first
- If no key in profile, fallback to api_version
- If still nothing, fail

This indeed means that if you don't change the profile, changing api_ve

[2018-01-31 18:11] lmazuel commented on #1851
Linking this PR https://github.com/ansible/ansible/pull/35538 (copy/pasting my answer I put there here)

@nitzmahone Indeed, there is two types of packages:
1- Multi-api packages. Currently there is 5: storage, network, compute, resource, containerregistry. These packages have:
    - A `models` method on the client, that takes an ApiVersion as parameter
    - An `api_version` parameter in `__init_

[2018-01-31 18:13] lmazuel commented on #1844
@mboersma Do you see something obviously wrong here?

[2018-01-31 18:23] vamsikrishnakonakalla commented on #1844
I needed to add servicePrincipal profile

On 31 Jan 2018 11:43 p.m., "Laurent Mazuel" <notifications@github.com>
wrote:

[2018-01-31 18:24] mboersma commented on #1844
Nothing jumps out at me as wrong. @vamsikrishnakonakalla did you run this in a location where ACS is available? It's not in *every* region yet.

[2018-01-31 18:26] lmazuel commented on #1841
Hi @tangentToNothing

Let's try to separate all your concerns:

1- Yes, azure-mgmt-monitor has the activity logs. Here's my testing live, no hack:
[code]

Please double-check your installation that you have at least `azure-mgmt-monitor` 0.4.0

2- "Why support so many language specific SDKs and keep them essentially out of sync with one another and the PS cmdlets?"

That's essentially not true for

[2018-01-31 21:35] nitzmahone commented on #1864
I think in the grand scheme of things, once profiles are "first class citizens", this is probably the behavior we want... Probably more to the point: nobody will want/care about specific api_versions in the face of properly-formed and fully-supported profiles, because that's the only way end-users will interface with it.

The question you ask is another one that I went back to the source and did l

[2018-01-31 21:37] nitzmahone commented on #1864
(because I did wonder exactly "what happens if I ask for an operations class that's not defined for a given REST API version, which led me down a long Google/"to the code!" rabbithole ;) )

[2018-01-31 23:49] nitzmahone commented on #1851
(response on https://github.com/ansible/ansible/pull/35538#issuecomment-362106392) - we should probably have further discussion here though so the thoughts aren't lost in a random Ansible PR ;)

[2018-02-01 01:05] cosbyr opened #1873 "Custom Vision: CurrentIterationID property not retrieving most current iteration"
In the Training API I am creation a project, then doing one training iteration.

When I later retrieve the project.current_iteration_id it retrieves an ID that does not belong to the most recent iteration. Does Custom Vision create a blank iteration that hasn't been trained when you first create a project?

[2018-02-01 06:02] vamsikrishnakonakalla commented on #1844
Hi, The moment i added the serviceprincipal profile, it started working, it was a bit surprising to me, as i have already instantiated the container_client with Credentials

[code]

[2018-02-01 06:03] vamsikrishnakonakalla commented on #1844
You can mark this as closed.

[2018-02-02 00:26] #1844 closed

[2018-02-02 18:44] aribornstein opened #1892 "Installation error"
I get the following installation error when following the docs. https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/python-tutorial

Collecting azure-cognitiveservices-vision-customvision from git+https://github.com/Azure/azure-sdk-for-python#egg=azure-cognitiveservices-vision-customvision&subDirectory=azure-cognitiveservices-vision-customvision
  Cloning https://github

[2018-02-02 19:13] #1892 closed

[2018-02-06 14:34] jpoizat opened #1914 "azure.mgmt.storage.v2015_06_15.operations.list does not work"
Hello,

I'm trying to use the storage_accounts.list function on azure.mgmt.storage.StorageManagementClient.
when iterating over the StorageAccountPaged Iterator, I get the following :

[code]

[2018-02-06 15:45] jpoizat commented on #1914
Found out I was using list instead of list_by_resource_group... sorry about that.

[2018-02-06 15:45] #1914 closed

[2018-02-06 16:45] lmazuel commented on #1914
no problem :)

[2018-02-07 02:48] davidbairdala commented on #573
Has there been any progress on this issue, or is anyone from Microsoft able to comment on this? I see that the REST [(documentation)](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/listall#virtualmachine) for List All virtual machines now includes in results 'properties.instanceView', but when I call this api directly the instance view is not returned.

[2018-02-07 02:52] squillace commented on #573
apologies, @davidbairdala I'll ping the appropriate people. I'm not the one to handle it.

[2018-02-07 02:54] davidbairdala commented on #573
Thank @squillace

[2018-02-07 03:43] squillace commented on #573
@lmazuel can you have a look? Thanks so much.

[2018-02-07 08:33] 1oglop1 opened #1926 "Navigation properties missing"
Hello,
I had this problem [Stack Overflow](https://stackoverflow.com/questions/48646155/list-groups-which-has-access-to-enterprise-application-azuread-rbac)
Short story:  I was trying to list Users/Groups which are assigned to role in Application
and thanks to @lmazuel I was able to resolve the issue at least partially.

It turned out that Navigation properties are missing from sdk `azure-graphrba

[2018-02-07 13:22] 1oglop1 commented on #1926
I was able to resolve this partially myself. I did create `models` for appRoleAssigned and added new operations to service principal: `role_assignments` , maybe all Navigation properties could be converted to operations.

[2018-02-07 17:50] lmazuel commented on #573
As far as I know, this is still not supported. We are investigating alternative ways, but nothing solid enough to be documented and suggested yet.

[2018-02-07 18:36] lmazuel commented on #1926
@1oglop1 Yes, navigation properties are definitely operations (look for "owners" for instance).
Please list the navigations properties you'd like, and we'll work with @amarzavery to update the SDK.

Thanks!

[2018-02-08 01:31] lmazuel commented on #1873
@areddish could you help for this question please?

[2018-02-08 08:29] 1oglop1 commented on #1926
@lmazuel I noticed that code has been somehow generated therefore I did not try PR.

I would like to have navigation properties for these entities:
* Application Entity
* DirectoryObject Entity
* DirectoryRole Entity
* Group Entity
* DirectoryRole Entity
* User Entity

It would be nice to have all listed navigation properties, but in case it's not possible then most useful are operations regarding

[2018-02-08 17:16] lmazuel commented on #1926
@1oglop1 ownership has been added in the release I made earlier this week:
- [add_owner](https://docs.microsoft.com/en-us/python/api/azure.graphrbac.operations.applicationsoperations?view=azure-python#azure_graphrbac_operations_ApplicationsOperations_add_owner)
- [list_owners](https://docs.microsoft.com/en-us/python/api/azure.graphrbac.operations.applicationsoperations?view=azure-python#azure_grap

[2018-02-08 17:17] lmazuel commented on #1926
And yes, this code is generated from a Swagger file:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/stable/1.6/graphrbac.json

[2018-02-08 21:09] dagrooms52 opened #1937 "Header Parsing Error"
**Operation**
Azure BlockBlobService save operation

**Expected Result**
Operation completed with no errors

**Actual Result**
Sometimes a HeaderParsingError is raised

**Versions**
Running in docker container image `python:3.6.3-jessie`
[code]

**Relevant Information**

Running the following code:
[code]

Sometimes produces this error:
[code]

Relevant header info:

[code]

[2018-02-08 21:10] dagrooms52 commented on #1937
Is this error safe to ignore since the entities are being saved regardless?

[2018-02-08 22:58] areddish commented on #1873
Yes, when you create a project the system will also create a blank iteration. It will have the status field == 'New' and the trained_at and domain_id fields == None.

This iteration can be ignored and we're making changes in future releases to remove/not expose it.

[2018-02-09 00:44] cosbyr commented on #1873
@areddish Thanks for the help. Is the iteration referenced by the current_iteration_id supposed to the most recent training iteration?

[2018-02-09 07:35] 1oglop1 commented on #1926
@lmazuel Perfect thanks, it seems I'm going to learn a lot of new stuff.
Btw are there any plans to support Microsoft Graph? There seems to be slightly more properties but it's still in Beta and I would like to use python instead of powershell :)

[2018-02-09 18:14] lmazuel commented on #1926
There is no plan on-board to support MS-Graph in near future mainly for the reason that the Azure Resource manager itself, which all SDK/CLI work with, has not integrated with MS-Graph yet.

You can however find many top awesome samples on using Python with the RestAPI directly made by @dmahugh from MSGraph
https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/concepts/python.md

[2018-02-12 17:31] lmazuel commented on #1937
Hi @dagrooms52
The Storage SDK has its own issue tracker:
https://github.com/Azure/azure-storage-python/issues

Please open an issue their for real experts :) (like @zezha-msft)
Thanks!

[2018-02-12 17:31] #1937 closed

[2018-02-12 21:39] CMLL opened #1964 "Metrics definition for MySQL."
I'm trying to retrieve the metrics definition from the Azure Database for MySQL service, the same way that I'm retrieving the SQL Server ones, but while the first ones give the definitions correctly, the second doesn't return anything in the response.

I'm retrieving the definitions by doing...

[code]

Both resource ids seem to be fine and have the same format...
[code]
[code]
If I check the Azur

[2018-02-13 17:38] areddish commented on #1873
@cosbyr It's a bit more confusing than that, it is identifying the next iteration available for training.

So when you create a project an iteration gets created to be ready for training. That's what project.current_iteration_id is pointing at (status = "New"). When you then go and train it will train that iteration (status="Training" and eventually status="Completed). At the time you request trai

[2018-02-13 18:15] cosbyr commented on #1873
@areddish Gotcha. That makes sense now.

As I've been playing with the SDK it seems like the iteration i want to use the most for any given project is the most recently trained iteration. For my particular projects the most recently trained iteration seems to always be here: trainer.get_iterations(project.id)[-2]. Second to last iteration returned by that list.

Thanks for the feedback.

[2018-02-14 17:25] lmazuel commented on #1964
Hi @CMLL
Metrics implementation is done by the RP team, meaning that even if your thinking is natural, `Microsoft.Sql` and `Microsoft.DBforMySQL` might not provide the same metrics.
You can check live using the `metrics_definitions` operation group:
https://docs.microsoft.com/en-us/python/api/overview/azure/monitoring?view=azure-python
[code]
This way you can compare what is available.
Also, the o

[2018-02-14 20:57] CMLL commented on #1964
Thanks for the information. Yeah, I was expecting certain metrics to be available at database level but I see that they are simply not there. Those links you passed me are extremely useful.

[2018-02-14 20:57] #1964 closed

[2018-02-15 18:23] IshirDutta-bsn opened #1990 "Unable to fetch all subnet parameters from route table"
Subnets returned by route_table.subnets only show subnet id. All other parameters are returned as "None". Checked with the Java API and it doesn't have the same issue.

https://github.com/Azure/azure-sdk-for-python/blob/fbc86e377617b7c20b7876f5cc8198c381d362ce/azure-mgmt-network/azure/mgmt/network/v2017_11_01/models/route_table.py#L59

[2018-02-15 21:50] lmazuel commented on #1990
Hi @IshirDutta-bsn
Java SDK is fetching for you the list from the ids in the list. The RestAPI is the same, no magic :)

I might want to do that as well, I keep this issue open until I find time to address a recursive call to fill the model. Note that this would be optional, since this has performance impact that I can't afford if users is not interested by the subnets.

[2018-02-21 19:59] axelgMS opened #2023 "OSProvisioningTimedOut with IaaS VM Name because OS Disk name is not unique"
CRI 60564263

Getting an OSProvisioningTimedOut (OSPTO) with the following repro steps:
- create a VM named "XYZ" from a Marketplace Image
- delete the VM
- create a new VM with same name "XYZ" from Marketplace image
--> Provisioning failed. OS Provisioning for VM '1ce0l5gdqjuo0t242' did not finish in the allotted time. The VM may still finish provisioning successfully. Please check provisioning s

[2018-02-22 01:23] lmazuel commented on #2023
Hi @axelgMS
I feel like this is RestAPI question, since Python is just a messenger here and doesn't anything by default. @johanste who can be tag here?

[2018-02-22 01:44] johanste commented on #2023
@axelgMS, which market place image are you using?

From the description above, this sounds like the market place image has a problem. @ravbhatnagar, can you help out here?

[2018-02-22 07:23] lx1054331851 opened #2042 "azure3.0 import error"
my code is:
[code]
error occurred as below:
[code]

I can not find module '_to_int' in the '_deserialization' file.

[2018-02-22 20:23] axelgMS commented on #2023
I haven't found time to repro yet - but I don't think it's an image issue

At this stage, I don’t know if:
-	Customer didn’t provide any name for the disk, and Python SDK just gave a default **_disk name_**  equal to **_VM name_** (that’s what needs to be improved from Azure SDK for Python)
-	Or if customer explicitly provided a **_disk name_** that is equal to **_VM Name_** – and Python SDK shoul

[2018-02-22 21:06] lmazuel commented on #2042
@zezha-msft that's actually in the storage repo. Do you know why?
Thanks,

[2018-02-23 00:02] johanste commented on #2023
@axelgMS, the Python SDK does not provide a disk name. It is up to the calling application to do so.

The Python SDK also cannot introduce randomness in naming since that would break idempotency of creates. Which would be very bad since applications would now start leaking resources when run multiple times with the same inputs.

[2018-02-23 01:25] zezha-msft commented on #2042
Thanks @lmazuel for tagging me.

Hi @lx1054331851, it is a [known issue](https://github.com/Azure/azure-cosmosdb-python/issues/19) caused by the cosmosdb sdk depending on an older version of azure-storage-common. I'll follow up with them to get this resolved ASAP. Thanks!

[2018-02-23 18:29] lmazuel commented on #2042
Closing this issue, @lx1054331851 please follow resolution on the issue @zezha-msft mentionned. Thanks!

[2018-02-23 18:29] #2042 closed

[2018-02-23 18:30] lmazuel commented on #2023
I agree with @johanste , and the closing the bug. Thanks!

[2018-02-23 18:30] #2023 closed

[2018-02-28 15:55] Briksins opened #2075 "Azure Stack authentication based on Service rather then User"
Hello

We are using Azure Stack and we would like to authenticate through service rather than a specific user with password.

In [Read The Docs](http://azure-sdk-for-python.readthedocs.io/en/latest/multicloud.html#using-your-own-cloud-definition-e-g-azure-stack) page showed an example of authentication only through user credentials, but no service.

We still attempted to do so, by creating applica

[2018-03-01 08:53] jambt opened #2082 "blob_service.exists() logs error"
Hi,

I found a problem that the blockblockservice _logs_ an error (does not throw one) when exists() is called on a non-existing file.

[code]

This produces the following output:
[code]
While the correct answer (`False`) is given, the logged error is unexpected.

Is this the intended behaviour?

[2018-03-05 08:44] subhankarc opened #2099 "Availability zone support for the APIs"
Currently, when we create a snapshot, we do it like this.

[code]

Similarly, for a volume creation, we do it this way

[code]

We were trying to use the availability zone preview version. But the library at this point do not support it. We have the following questions.

1. Is there a way we can pass the availability zone information for disk creation?
2. Our assumption is that snapshot is not a z

[2018-03-05 23:41] scoriani opened #2104 "Example on how to asynchronously create multiple virtual machine instances in parallel"
A common scenario in many workloads is the ability to asynchronously create multiple VM instances in parallel and check for completion before executing additional configuration steps.
An example on how to implement this scenario with Python SDK would be quite useful.

[2018-03-06 08:42] reeshabhraj1 opened #2105 "Partial download reported as success in SDK API get_blob_to_path()"
We are downloading the Azure blob using Azure python SDK with API get_blob_to_path(). API reports success, however data downloaded is partial.

Below is the code snippet
Note: This is the custom code snipet. The main code is the call to the SDK API get_blob_to_path() in below sample.

[code]

Below are logs from above code path
10294: 2018-01-25 11:04:15,503 - DEBUG - lib.ms_azure.azure_file_handl

[2018-03-07 10:31] anubhav-s opened #2118 "Exception while installing azure SDK from the github codebase"
comma is missing in install_requires. Throws error "error in azure-keyvault setup command: 'install_requires' must be a string or list of strings containing valid project/version requirement specifiers; Expected ',' or end-of-list in msrest>=0.4.17azure-common~=1.1.5 at ~=1.1.5".

[2018-03-07 10:32] anubhav-s commented on #2118
Already raised a pull request myself.

https://github.com/Azure/azure-sdk-for-python/pull/2117

[2018-03-07 11:04] ioannisas commented on #573
This would be a really nice enhancement to have. It's impossible, as far as processing time is concerned, to have the power state along with other VM info. Any update on this?

[2018-03-07 16:42] lmazuel commented on #2118
PR merge, thanks @anubhav-s !

[2018-03-07 16:42] #2118 closed

[2018-03-07 16:43] lmazuel commented on #2105
@zezha-msft to the rescue please :)

[2018-03-07 16:43] lmazuel commented on #2104
Definitely needed :). Thank you for the issue :)

[2018-03-07 16:45] lmazuel commented on #2099
AZ is supported in this library. However, you might have to create the disk before using the "disks" operation group, since it seems you cannot specify it when you create the VM.
@yugangw-msft any comment or suggestions here?

[2018-03-07 16:46] lmazuel commented on #2082
@zezha-msft to the rescue :)

[2018-03-07 16:48] lmazuel commented on #2075
@bganapa any recommendations here?

[2018-03-07 17:21] bganapa commented on #2075
@Briksins It should have worked, though I have not tried with Python SDK+Service Principal before. I will get back to you.

[2018-03-07 20:11] lmazuel commented on #1864
Hi @nitzmahone
I thoughts about this one, and I think this is confusing and you're right. I will release soon the new major version (kwargs only args, new LRO implementation, etc.) and I want to take this opportunity to refactor this one as well.

I want to:
- Make `api_version` and `profile` mutually exclusive. This solves this issue here. Profile can take a `None` key if you want to say "everyth

[2018-03-07 20:17] zezha-msft commented on #2082
Hi @jambt, thanks for reaching out!

Yes, we are aware of this issue. Right now all HTTP errors are being logged, even though some of them were expected. We are still looking for a solution. I'm tracking this issue by keeping this [pr](https://github.com/Azure/azure-storage-python/pull/399) open.

In the future, please post issues [here](https://github.com/Azure/azure-storage-python) for problems

[2018-03-07 20:17] zezha-msft commented on #2105
Hi @lmazuel, please close this issue as it is already tracked [here](https://github.com/Azure/azure-storage-python/issues/434). Thanks!

[2018-03-07 20:58] lmazuel commented on #2082
Thanks @zezha-msft. Closing this issue, @jambt please follow the work on the links @zezha-msft gave.

[2018-03-07 20:58] #2082 closed

[2018-03-07 20:59] lmazuel commented on #2105
Sure, thanks!

[2018-03-07 20:59] #2105 closed

[2018-03-07 21:20] Briksins commented on #2075
Ok got it working, it was our fault, the ticket can be closed

The problem was in the setup of the admin panel.
Basically here is an instruction:

- Go to Azure **Cloud** portal
- Create an App in AD -> Register App
- Grant Permissions to "Azure Stack" (_Note: Azure Stack permissions are not listed, you have to specifically search it - not user-friendly to be honest_)
- Create a Secret Key for an

[2018-03-07 21:20] #2075 closed

[2018-03-08 01:33] himanshu219 opened #2127 "How to check status of azure function invocation via python sdk?"
This feature is similar to this https://github.com/Azure/azure-cli/issues/4066
My scenario is that I am writing integration tests for azure function and wanted to check whether my function ran successfully.
Is there another way of doing this reliably using output binding of azure function(reading blob storage logs) or fetching invocation logs?

[2018-03-09 00:14] lmazuel commented on #2127
As mentionned in the bug you link, this should be followed here:
https://github.com/Azure/azure-functions-host/issues/1329

Thank you,

[2018-03-09 00:14] #2127 closed

[2018-03-10 00:16] F2EVarMan opened #2146 "How to get a list of virtual machine SKUs ?"
I want check VM SKU availability.[ create  a zoned linux vm](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/create-cli-availability-zone). I didn't find how to get that in the Python sdk.

[2018-03-12 19:35] Zimmergren opened #2150 "Updated list of supported VM-sizes"
Hi,

The list of supported VM-sizes in [this code file](https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-containerservice/azure/mgmt/containerservice/models/container_service_client_enums.py#L21) is a bit outdated. There is for example support for B-series VM's since the end of February. ([Read announcement here](https://azure.microsoft.com/nl-nl/blog/introducing-burstable-vm-s

[2018-03-13 01:00] marcus-sds opened #2153 "_acquire_token_with_authorization_code question"
When I deploy test with examples code for AzureResourceViewer, error message is like below. Is it issue of python module?

   2018-03-13T00:55:27.78+0000 [APP/PROC/WEB/0] ERR [2018-03-13 00:55:27,782] ERROR in app: Exception on /authorized [GET]
   2018-03-13T00:55:27.78+0000 [APP/PROC/WEB/0] ERR Traceback (most recent call last):
   2018-03-13T00:55:27.78+0000 [APP/PROC/WEB/0] ERR   File "/home/v

[2018-03-13 06:46] F2EVarMan commented on #2150
Excuse me，do you know how to get a list of availability zones in those locations where the SKU is available?

[2018-03-13 21:22] devbrian opened #2161 "How to set query param instead of table for ADF copy activity?"
here is my code, I can't seem to find a way to switch the source to use a query instead of table format for accessing the data.

    act_name = 'copyBlobtoBlob'
    blob_source = AzureMySqlSource()
    blob_sink = AzureDataLakeStoreSink()
    dsin_ref = DatasetReference("AzureSql_input")
    dsOut_ref = DatasetReference("Adls_output")
    copy_activity = CopyActivity(act_name,

[2018-03-14 08:17] thelazy opened #2165 "VirtualMachine object's attribute "resources" doesn't give proper VirtualMachineExtension objects."
I compared the output given by azure CLI and the python SDK for Virtual Machines's resources which have objects of "VirtualMachineExtension". Python SDK gives objects which have most of its attributes as "None", while CLI lists all the attributes properly.
Can someone please help with the inconsistencies between these two results.

Python sample code:
`    for VM in compute_client.virtual_machines

[2018-03-14 08:52] TheRainManPY opened #2166 "ImportError: No module named concurrent.futures"
if max_connections > 1:
        import concurrent.futures
        from threading import BoundedSemaphore

python: 2.7
azure-common: 1.1.8
azure-storage: 0.36.0

[2018-03-15 00:23] lmazuel commented on #2146
Sorry for the late answer.
`resource_skus` attribute should be what you want:
https://docs.microsoft.com/en-us/python/api/azure.mgmt.compute.computemanagementclient?view=azure-python

[2018-03-15 00:24] lmazuel commented on #2153
Definitely this code is outdated and should be removed from the repo :(
Please consider AzureResourceViewer as deprecated

[2018-03-15 00:25] lmazuel commented on #2150
@mboersma I think it's your Swagger? Do you plan to update this list? Thanks!

[2018-03-15 00:26] lmazuel commented on #2161
@hvermis to the rescue :)

[2018-03-15 00:27] lmazuel commented on #2165
It's because the CLI is iterating other this list to ask instanceView of the VM

[2018-03-15 00:28] lmazuel commented on #2166
Are you implying that the SDK has not a correct set of dependencies? Where the snippet of code you mention is coming from?
Thanks,

[2018-03-15 00:56] TheRainManPY commented on #2166
concurrent.futures in python3, python2 need pip install futures

[2018-03-15 01:10] hvermis commented on #2161
try this:
blob_source = AzureMySqlSource(query = "select * from SalesLT.Customer WHERE Title = 'Mr.'")

[2018-03-15 06:38] thelazy commented on #2165
Sorry, but I didn't understand your comment. Can you please elaborate over that?
Also, it would be good if you can suggest me a way to list the details of VM extensions using python SDK.

[2018-03-15 08:39] youngbm opened #2181 "Can't connect to azure when using python sdk：SSLError"
I'm using  Azure python SDK azure (2.0.0) to connect to Azure. The scripts work on other environment. But i can't work on the new one.  I got error：

[code]

Here is my main function of loging：
[code]

[2018-03-15 09:37] youngbm commented on #2181
I workmate helps me to solve， it's because the moudel of  pyopenssl.

[2018-03-15 09:37] #2181 closed

[2018-03-15 14:09] devbrian commented on #2161
@hvermis same results, however I figured this out, for anyone that's interested:

AzureMySqlSource's query has no affect from what I could tell, you have to declare it as a SqlSource (no matter what the source actually is) and then pass the sql as a parameter for it to work.  Not sure why the query parameter is an option for AzureMySqlSource, perhaps it's deprecated? Not sure.

[2018-03-15 14:41] devbrian opened #2182 "Is there built-in branching API for ADF?"
Is there a built-in branching feature for ADF in this API (Could not find it)? Or do I just need to manually set Dependencies with additional parameters?

[2018-03-15 19:45] #2150 closed

[2018-03-15 21:41] lmazuel commented on #2166
Note that you didn't answer my question at all :)

[2018-03-15 22:16] linda33wj commented on #2161
@devbrian to confirm, are you copying data from **Azure SQL DB** or **Azure Database for MySQL**? SqlSource is for the former and AzureMySqlSource is for the latter - you can see the property name for query is different, see documentation at https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-sql-database#copy-activity-properties and https://docs.microsoft.com/en-us/azure/data-fact

[2018-03-16 00:13] lmazuel commented on #2165
You can two different VM view, summary and detailled. Detailled is called "instanceView":
[code]
All list operation are returning summary, meaning if you want to fill the details, you need to iterate and call all VM to get details. See for instance:
https://github.com/Azure/azure-sdk-for-python/issues/573

@yugangw-msft , how do you list extensions installed on a VM?

[2018-03-16 00:14] lmazuel commented on #2182
Are you talking about this?
https://github.com/Azure/azure-sdk-for-python/pull/2011

[2018-03-16 16:27] ddavtian opened #2201 "key vault get_secrets ignores maxresults argument"
Using the latest version of azure-mgmt-keyvault (0.40.0)

The vault currently has `6 secrets`, when I pass maxresults of 1 or any other number it's ignored and the full set of 6 are returned.

    vault_url = 'https://xxx-int-vault.vault.azure.net/'
    try:
        akv = azure_utils.AzKeyVault()
        secrets = list(akv.az_kv_client.get_secrets(vault_url, maxresults=1))
        print(secrets)

[2018-03-19 21:26] glstream opened #2222 "Support for Databricks in ADF v2 sdk"
Will microsoft be including support for databricks linked services and activities in the python SDK so we can have access the databricks features?

[2018-03-19 21:33] glstream opened #2223 "HDInsightOnDemandLinkedService class errors from multiple runs."
I am testing the use of On Demand clusters with the Python SDK. I can get a Cluster pipeline up and running fine, but when I manually delete the cluster and then re-porvision to test a new pre-action on the cluster I get the error:

{
    "errorCode": "2310",
    "message": "The cluster not found, ClusterEndpoint=https://sdkrun54bf5f8b-eb52-4b13-ab75-b53a22398a32.azurehdinsight.net/",
    "failure

[2018-03-20 15:02] #2166 closed

[2018-03-22 06:19] prakhark opened #2252 "list_all() for network_watchers only lists network watchers with provisioning state 'Succeeded'"
The count should always be 27 since there are 27 network watchers if I disable one of them then count becomes 26 which shouldn't happen

[code]

Following is the link to Network_watchers class
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-network/azure/mgmt/network/v2017_11_01/operations/network_watchers_operations.py/#L21

[2018-03-22 17:25] lmazuel commented on #2222
@hvermis please :)

[2018-03-22 17:26] lmazuel commented on #2223
I feel like your question is more a HDInsight RestAPI / service question then a Python one? You should probably reach out directly to the HDInsight team directly, since this repo doesn't have HDInsight Python SDK :(

[2018-03-22 17:26] lmazuel commented on #2201
@schaabs ?

[2018-03-22 19:19] hvermis commented on #2222
Yes, it is coming in our next release which is scheduled for 3/26.

[2018-03-22 19:19] #2222 closed

[2018-03-23 11:34] AmitANetskope opened #2266 "Parameters are not properly deserialized when calling update API of StorageAccountsOperations class"
StorageAccountCreateParameters Class is being used while deserializing though StorageAccountUpdateParameters class should have been used.

Code -
azure_storage_client = StorageManagementClient(credentials, subscription_id)
parameters = {'enable_https_traffic_only': True}
azure_storage_client.storage_accounts.update(resource_group_name, account_name, parameters)

Error -
  File "/Users/amit.a/Pycha

[2018-03-23 11:54] AmitANetskope commented on #2266
was using wrong API by mistake, was actually using create instead of update

[2018-03-23 11:54] #2266 closed

[2018-03-23 16:30] glstream opened #2268 "AzureDataLakeAnalyticsLinkedService() error on passing SecureString() to service_principal_key. azure-mgmt-datafactory"
When calling the AzureDataLakeAnalyticsLinkedService() and running a u-sql activity in a pipeline I am getting an error on the pipe: 'Invalid credentials AADSTS50012: Invalid client secret is provided.'

I have verified that my service_principal_key is correct and have opened this piece of the pipeline and then manually entered my service_principal_key into the linked service in the portal and the

[2018-03-23 17:54] glstream opened #2270 "ADF v2 Error submitting action scripts and accessing ADLS files in Spark Activity. azure-mgmt-datafactory"
My HDInsightSparkActivity() is failing to run the entry_file_path object with an error 'Spark job failed, batch id:0' in the Pipeline runs Monitor. I am also receiving an error when trying to run pySpark code against ALDS in Jupyter on the cluster that has been provisioned with the SDK. The error I am receiving is: 'fs.adl.oauth2.client.id not found' in the notebook. I am also receiving an error o

[2018-03-25 21:18] #1841 closed

[2018-03-25 21:31] tangentToNothing commented on #1841
Closing this, I addressed a lot of these through various other channels, a lot of it through Azure support and some customer reps.

My most sincere apologies for being quite rude in my issue posting. I'm sincerely impressed by your calm and thorough response to me!

One of the key things that helped me out: my pointer package `azure` was too old, and the organization I am in had an in-house packag

[2018-03-26 23:48] jpdiazsidaras commented on #573
Hey Team! I'm doing some report right now, using PowerBI and the Azure API's, It will be great, if the status of the machine cannot be added to the standard ListAll VMs call, at least have a ListAll for the instaceView, so you can call all the instanceView at once and after that cross the information. Thanks!

[2018-03-27 22:24] hankok commented on #2165
Same problem here,

        instances = self._compute_client.virtual_machines.list(self._resource_group, expand='instanceview')

This will return a VM with instance_view object set to None. Had to call:
                vm = self._compute_client.virtual_machines.get(self._resource_group, instance.name, expand='instanceview')

every each time when to get the powerstauts of a VM

[2018-03-27 22:29] lmazuel commented on #2165
Closing, since duplicate of https://github.com/Azure/azure-sdk-for-python/issues/573

[2018-03-27 22:29] #2165 closed

[2018-03-28 00:37] lmazuel commented on #2270
@hvermis ?

[2018-03-28 00:37] lmazuel commented on #2268
@hvermis ?

[2018-03-28 00:41] hvermis commented on #2270
@linda33wj, can you please take a look at this?

[2018-03-28 00:44] hvermis commented on #2268
@linda33wj, can you take a look at this one too?

[2018-03-28 01:29] Katana-Steel commented on #1562
fixed since Azure-cli release 2.0.21
thank you

[2018-03-28 01:29] #1562 closed

[2018-03-28 05:21] shawnxzq commented on #2270
Hi glstream, you need to link your ADLS account to the cluster before you can use it, please refer to the HDI documentation for details.
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-use-data-lake-store?toc=%2Fen-us%2Fazure%2Fhdinsight%2Fspark%2FTOC.json&bc=%2Fen-us%2Fazure%2Fbread%2Ftoc.json

[2018-03-28 05:26] glstream commented on #2270
No I am not talking about using the ADLS as storage for the cluster. I am talking about a ADF provisioned cluster using ADLS as a service for setting up a spark context for the data transformation. I can use the blob storage for the .py files, that is fine no problem, but I want the cluster to execute against ADLS as a service. Also, there is a general error here when provisioning a cluster in ADF

[2018-03-28 07:13] ninishaha commented on #2268
@glstream you mean you're able to make it on portal with the same key but failed using python SDK?  I'm trying to repro this issue.

[2018-03-28 16:09] glstream commented on #2268
@ninishaha Yes, after the run fails from the console using the SDK I can open the portal and edit the ADLA linked service by adding the same key I have used in the sdk script and it runs.

[2018-03-29 00:25] gauravmalhot commented on #2270
Hi glstream, I assume that this is a Bring Your Own HDInsight Spark cluster meaning you have created the HDI cluster in azure portal and hooked it up with ADLS storage and now you are using ADF to build your pipelines that run the jobs using HDI cluster? Also, are you using ADF v1 or v2?

[2018-03-29 02:41] glstream commented on #2270
Hi @gauravmalhot. I am using ADF v2, and I am trying to spin up an on demand cluster programatically. I was under the impression that HDInsightOnDemandLinkedService() would spin up a cluster for me in ADF when its called with a sparkActivity, if I should be using HDInsightLinkedService() to get this done let me know, (maybe I am just using the wrong class!).  My understanding is that the storage l

[2018-03-29 07:59] Liuzhj opened #2302 "use azure-sdk-for-python, error SubscriptionNotFound"
my code:

[code]

[code]

I'm sure the subscription is correct , i don't know what happend ,
how to solve it ?
Thanks.

[2018-03-29 08:09] Liuzhj commented on #2302
I'm used Azure China , may be  need to add some parameter in my code,

[2018-03-29 08:11] shawnxzq commented on #2270
Hi glstream, for ondemand cluster, we don't support create processing data from ADLS. As you restated the goal, please create a cluster in Azure Portal by yourself first, and then use ADF run your spark against this cluster, this the usage of BYOC clusters in ADF, please refer to the documentation here:
https://docs.microsoft.com/en-us/azure/data-factory/compute-linked-services#bring-your-own-comp

[2018-03-29 11:02] Liuzhj opened #2303 "what's mean of "vm.instance_view.statuses""
code

[code]

result:
[code]

Q:
why double result return?
what's mean of `ProvisioningState/succeeded` or `PowerState/running`
what's mean of `Provisioning succeeded` or `VM running`

what's difference of them ?
are there have some doc whih this case ?
Thank you .

[2018-03-29 12:55] jpoizat opened #2304 "Errors output on normal operations"
All,

I'm having the following issue I'm trying to solve.
I run the following script in python to make a backup of a container :

[code]

it works fine but if the container already exist, the function blob_service.exists(copy_to_container) send an output :
Client-Request-ID=94b37614-3336-11e8-b5d0-000d3a253149 Retry policy did not allow for a retry: Server-Timestamp=Thu, 29 Mar 2018 09:50:14 GMT,

[2018-03-29 16:27] glstream commented on #2270
Ok, so there is no way for an ADF on Demand cluster to access files in ADLS, irregardless of the storage configured? Similar to the way that you provision access to ADLS in the portal? See Below...

<img width="795" alt="20180329_092049" src="https://user-images.githubusercontent.com/7170978/38100657-d72e3322-3332-11e8-9192-d5ba648c33d7.png">

We have VM's access files on ADLS in python via azure-

[2018-03-29 17:29] prburgu opened #2306 "azure-mgmt-sql - create sql server is broken"
With `0.8.6 (2018-03-22)` version of `azure-mgmt-sql`, create sql server is broken. Getting the following error with Python 3. Downgrading to `0.8.5 (2018-01-18)` fixes the issue.

[code]

[2018-03-29 23:48] lmazuel commented on #2306
Could you precise what version of Python? I can't reproduce the issue.

[2018-03-29 23:50] lmazuel commented on #2304
@zezha-msft for a storage question :)

[2018-03-29 23:51] prburgu commented on #2306
[code]

[2018-03-29 23:53] lmazuel commented on #2303
Statuses store the status of the VM other time:
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/get#instanceviewstatus

Name | Type | Description
-- | -- | --
code | string | The status code.
displayStatus | string | The short localizable label for the status.
level | StatusLevelTypes | The level code.
message | string | The detailed status message, including for alerts and error

[2018-03-29 23:53] #2303 closed

[2018-03-30 05:07] shawnxzq commented on #2270
Yes, ADF on demand cluster can't access data from ADLS, you need to use BYOC to work around at moment.

And for BYOC cluster, you can configure the cluster to access ADLS as shown in the picture you added above.

[2018-03-30 05:12] gstream1 commented on #2270
Ok, thank you for confirming @shawnxzq.

[2018-03-30 06:26] zezha-msft commented on #2304
Please close this issue as it is already being tracked [here](https://github.com/Azure/azure-storage-python/issues/437). Thanks!

[2018-03-30 10:31] sadaithal23 opened #2315 "Unable to create Server Firewall Rule with 0.0.0.0 as starting and ending IP"
Through Azure UI, it is possible to create a Firewall Rule for a server, with starting and ending IP as 0.0.0.0 but through python sdk it doesn't return any error but it doesn't show up in the UI.

Code :
`sql_client = SqlManagementClient(credentials,subscription_id)
 response2 = sql_client.firewall_rules.create_or_update(GROUP_NAME, 'sada-server', 'sada-firewall', "0.0.0.0", "0.0.0.0")`

[2018-03-30 16:16] #2304 closed

[2018-03-30 16:49] aaronsteers commented on #2270
Hi, @shawnxzq. Is this something you have on your roadmap or would consider adding?

The workaround you propose requires an always-on cluster, which is more costly versus dynamically spinning up the cluster.

[2018-03-30 16:59] lmazuel commented on #2306
Cannot reproduce it:
[code]
[code]
This message is way later then the exception you get. I can also confirm that the attribute is here:
[code]

So my guess is you have a corrupted env somehow.

[2018-03-30 17:47] prburgu commented on #2306
The above steps are not reproducing the problem for me either. However, our tests are failing with the following error even with fresh env.

[code]
Looking at the code it has something like this.

[code]

[code]

[code]

It appears `create_or_update` is defined as a function as well as a member. May be you should change the member name or get the url in `_create_or_update_initial` as follows.
[cod

[2018-03-30 17:55] prburgu commented on #2302
Yes, I think you would need to pass `base_url` parameter for `ComputeManagementClient`. I think, the default is `https://management.azure.com` and for China cloud it could be different.

[2018-03-30 23:33] rems75 opened #2321 "UserPassCredentials showing password in debug mode"
Hello,

I'm using the UserPassCredentials class from azure.common.credentials.
When initializing an instance of the class with a logging level at DEBUG, the password is shown in plain text at at least three locations:
- 03/30/2018 06:16:46 PM (DEBUG): Supplying headers {'Accept': 'application/json', 'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'} and data {'resource': 'https://v

[2018-04-02 06:01] shawnxzq commented on #2270
Hi aaronsteers, we understand the workaround is not idea and it is in our backlog, but I don't have a concrete ETA for now.

[2018-04-02 15:33] lmazuel commented on #2306
Seems you're using a wrapping function:
[code]
My guess is that in the process of wrapping the function, you lost the metadata dictionary associated to the function. Could you share a little more code about your wrapper?

[2018-04-02 16:20] gstream1 commented on #2270
That sounds great, it would be great functionality to have, thank you @shawnxzq.

[2018-04-03 05:09] ninishaha commented on #2268
I can successfully create my linked service with python SDK.  Looks like service principal key is wrong based on the that error message.

[2018-04-04 03:58] yoshiomura commented on #2315
You can check the result on  [Azure Resource Manager ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-overview).
The  rule which you want looks already set as default.
I tried your code and found the default rule name changed.

[code]
[code]

[2018-04-04 05:55] Liuzhj commented on #2302
@prburgu Thank you very much , this problem is solved ,Thank you .

[2018-04-04 05:55] #2302 closed

[2018-04-04 12:47] NightFantomJ2 opened #2346 "python example very outdated and/or broken"
The example shown [here](https://github.com/Azure/azure-sdk-for-python/blob/master/doc/sample_azure-monitor.rst) doesn't work for various reasons:

Link at [line  14](https://github.com/Azure/azure-sdk-for-python/blame/master/doc/sample_azure-monitor.rst#L14) doesn't work.

Import at [line 20](https://github.com/Azure/azure-sdk-for-python/blame/master/doc/sample_azure-monitor.rst#L20) doesn't work

[2018-04-04 13:02] NightFantomJ2 commented on #2346
link at line 14 should link [here](https://github.com/Azure/azure-sdk-for-python/blob/7fc134e12a47454733250c35808b0246ed0293a8/doc/quickstart_authentication.rst) (which it doesn't), but has since moved [here](https://docs.microsoft.com/en-gb/python/azure/python-sdk-azure-authenticate?view=azure-python)

[2018-04-04 16:30] lmazuel commented on #2321
Could you confirm what version of msrest you used? There is a fix for that in 0.4.27. If you don't have this one,  could you update to this version and tell me if it's all gone?

[2018-04-04 16:32] lmazuel commented on #2315
@jaredmoo you want to add something?

[2018-04-04 16:33] lmazuel commented on #2346
Hi @NightFantomJ2
This file will be removed, it's an old one indeed. The updated version is here:
https://docs.microsoft.com/en-us/python/api/overview/azure/monitoring?view=azure-python

[2018-04-04 16:38] lmazuel opened #2347 "command 'bdist_wheel' has no such option 'azure_namespace_package'"
This issue is caused by a compatibility problem with wheel 0.31.0 released April 1st 2018. This is only if you build the `wheel` from the `sdist` or from source.
Short term solution:
- Downgrade your `wheel` to 0.30.0
- Or, update your pip. Some old version of pip will still use the `sdist` even if the wheel is available, and newer version will switch automatically to wheel download.
- Or, use `pi

[2018-04-05 05:30] NightFantomJ2 commented on #2346
@lmazuel oh, that explains a lot, thanks!

[2018-04-05 07:24] olavt commented on #1313
+1, Any news / progress on this?

[2018-04-05 08:31] NightFantomJ2 commented on #2346
As for the updated version, where do I get the ARM id for something that is not a vm for example? And there doesn't seem to be an explanation of the credentials either.

[2018-04-05 13:48] Grigorsuv96 commented on #738
@lmazuel how can i receive when sessionId is enable ?
`msg = Message()
msg.broker_properties = {"SessionId":"test1"}
bus_service.receive_queue_message(EntityPath,msg)
`

[2018-04-06 08:56] olavt opened #2356 "Calling ServiceBusService.receive_subscription_message with higher than default timeout will cause crash"
If you call ServiceBusService.receive_subscription_message with a higher than default timeout (at least 66 seconds) it will crash.

Program to reproduce:
-------------------------
from azure.servicebus import ServiceBusService, Message, Topic, Rule, DEFAULT_RULE_NAME

bus_service = ServiceBusService(
    service_namespace='yournamespace',
    shared_access_key_name='RootManageSharedAccessKey',

[2018-04-09 18:14] prburgu commented on #2306
Here are the details about wrapper.

[code]

[code]

[2018-04-09 23:25] kirthik opened #2368 "Release stable versions of Cognitive services Bing API SDKs"
Please release Cognitive Services Bing API SDKs and update samples to use stable versions of the packages.

This must be completed before //build.

[2018-04-09 23:27] kirthik opened #2369 "Release stable version of azure-eventgrid library"
Please release stable version of azure-eventgrid library and update samples to use stable versions of the library.

This must be completed before //build.

[2018-04-10 08:01] taroyutao opened #2372 "ImportError: No module named common.credentials"
# install virtualenv
pip install virtualenv
#
virtualenv  test
#
source test/bin/activate
#

git clone git://github.com/Azure/azure-sdk-for-python.git

cd azure-sdk-for-python/
#
python setup.py  install

#test
python
from azure.common.credentials import ServicePrincipalCredentials

issues:
 No module named common.credentials

----------------------------
OS：Centos 7.0
Python: 2.7.5

[2018-04-10 13:07] bangi123 opened #2373 "azure Monitor : Aggregation works only for "Total" others [Minimum, Maximum, Average ] does not work"
Issue: I am trying to get metrics using Azure monitor client, For some reason, I am not getting Maximum, Minimum and Average.

azure:
➜  ~ pip freeze | grep "azure"
azure==3.0.0
azure-batch==4.0.0
azure-batch-extensions==1.0.1
azure-cli==2.0.29
azure-cli-acr==2.0.22
azure-cli-acs==2.0.28
azure-cli-advisor==0.5.0
azure-cli-appservice==0.1.29
azure-cli-backup==1.0.7
azure-cli-batch==3.1.11
azure-cli

[2018-04-10 13:59] tingqin2017 opened #2374 "autorest doesn't support --sync-methods for python"
We would like to generate async call for our python client using autorest. It looks like the option --sync-methods=all is not working for python. The version of autorest:
AutoRest code generation utility [version: 2.0.4262; node: v7.10.0]
core       @microsoft.azure/autorest-core           2.0.4274
extension  @microsoft.azure/autorest.python         2.1.34

Could this feature be added for python g

[2018-04-10 14:58] annatisch commented on #2374
Thanks @tingqin2017 - the async generator for Python is almost complete.
You can track progress here:
https://github.com/Azure/autorest.python/tree/async

If you wish to try out this async version of the generator, you can follow these instructions to run autorest from a fork/branch:
https://github.com/Azure/autorest/blob/master/docs/developer/autorest-extension.md

Though bare in mind that in ord

[2018-04-10 15:27] TimSimpsonR opened #2375 "Generated Python 3 modules has syntax errors, causing a fall back to Python 2 modules"
I'm assuming recent changes have made the code generator output two versions of the code, one for Python 2 and another for Python 3.

However, the Python 3 generated code contains a recurring pattern where a parent class's __init__ method is called with a malformed parameter list starting with a comma (`__init__(, arg1, arg2, etc)`, causing a syntax error. Here are some examples:

https://github.c

[2018-04-10 15:39] annatisch commented on #2369
Thanks @kirthik,
Is the code in master ready to be released as-is, or is this release waiting on a PR merge/swagger update?
Additionally, has the version been bumped and HISTORY.rst updated?

Thanks!

[2018-04-11 21:14] TihoElek opened #2380 "Conversion to managed drives renames the drives"
The errors started happening after the machines were converted from unmanaged to managed drives.
Example:
Message: The Resource 'Microsoft.Compute/disks/string000-OSDisk' under resource group 'xxxx' was not found.
Failed to create snapshot of: string000-OSDisk
Azure Error: ResourceNotFound
Message: The Resource 'Microsoft.Compute/disks/string000-LogDisk' under resource group 'xxxx' was not found.

[2018-04-12 07:52] themr0c opened #2384 "azure-mgmt should depend on azure-mgmt-rdbms~=0.3.1 to follow new pricing model"
azure-mgmt-rdbms 0.3.x was released to follow new pricing model.

my guess is that azure-mgmt-rdbms 0.1.0 does not work anymore with the new pricing model, and the dependency should be adapted in azure-mgmt.

[2018-04-12 11:05] jtlz2 opened #2385 "Is there a custom vision endpoint in a non-US region e.g. Europe?"
I have searched and searched, been directed to marketing by Azure, asked on stackoverflow, am not sure whether this is the right place to ask, but:

What are the custom vision endpoints apart from southcentralus?

If they are not yet available, when will they be?

Thanks

[2018-04-12 14:28] #2373 closed

[2018-04-13 20:14] annatisch commented on #2380
Thanks @TihoElek - this seems like a service issue rather than an SDK issue.
@hyonholee - are you able to provide any insight into this behavior?

[2018-04-16 16:26] lmazuel commented on #2380
@yugangw-msft any idea?

[2018-04-16 21:59] lmazuel commented on #2385
@areddish please? :)

[2018-04-16 22:01] lmazuel commented on #2375
Hi @TimSimpsonR
I noticed that this morning as well :(. I'm on it, this has to be fixed asap.

PS: I wanted annotations for a while :). And async/await is coming ;)

[2018-04-16 22:09] lmazuel commented on #2372
Hello,
I just fixed a bug in master, could you give it a retry?
Thanks,

PS: Why aren't you using pip?

[2018-04-16 22:31] lmazuel commented on #2375
Fix in progress:
https://github.com/Azure/autorest.python/pull/54

[2018-04-17 16:12] #2375 closed

[2018-04-17 17:50] lmazuel commented on #2375
Released on PyPI, thanks for the report!

[2018-04-18 06:06] kirthik commented on #2368
Also release Visual search SDK  (https://github.com/Azure/azure-rest-api-specs/tree/master/specification/cognitiveservices/data-plane/VisualSearch)

[2018-04-18 16:37] paragsalgaonkar opened #2422 "Fetch all the Azure Function Apps programmatically?"
I could not find a way to programmatically fetch all the Function Apps in my account. Is there a way to do this with the Python SDK or otherwise?

[2018-04-18 16:42] yugangw-msft commented on #2380
Please share more detail of 2 activities you mentioned:
1. How did you `converted from unmanaged to managed drives.`
2. How did you `rebuild the machine with the above disk names `
Once i know the detail, I can provide more helo

[2018-04-18 17:15] TihoElek commented on #2380
Hi Yugang,

1.) We converted to managed drives using:
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-compute/azure/mgmt/compute/v2017_03_30/operations/virtual_machines_operations.py#L590

2.) We "rebuilt" the machine using delete (
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-compute/azure/mgmt/compute/v2017_03_30/operations/virtual_machines_operations

[2018-04-18 17:56] yugangw-msft commented on #2380
In the rebuild step, to confirm, when you tried to rebuild the same VM with unmanaged disk, you got the error of `The Resource 'Microsoft.Compute/disks/string000-OSDisk' under resource group 'xxxx' was not found.`?

[2018-04-18 18:11] TihoElek commented on #2380
There were several scenarios:
1.) Snapshot operation failed with the The Resource
'Microsoft.Compute/disks/string000-OSDisk' error after the conversion to
managed without any rebuilds.
2.) When we rebuild machines we try to attach the existing disks with
predefined names and if they don't exist then they are added as empty
disks. On a rebuild after the conversion the disks we are sure were there
g

[2018-04-18 19:40] yugangw-msft commented on #2380
Let us handle one after one, for 1), can you share with me the code you wrote for capturing a snapshot from an existing disk?
If the code volume is big, you can send me to yugangw at microsoft dot com. My initial take is the request payload is not right, particularly the resource id for the source disk.

[2018-04-18 20:27] TihoElek commented on #2380
It is important to note that this code always works on resource groups
created as managed. It also works on some of our converted resource groups
without any problems and it works on all but several machines in this
resource group.
I agree that managed_disk.id could be wrong, but probably because it was
created differently on conversion, unlikely that we payload it incorrectly.

    def snapshot_d

[2018-04-18 22:14] yugangw-msft commented on #2380
Please change your code to use  `source_resource_id`, instead of `source_blob_uri` which is used to capture snapshot from unmanaged disk blob
[code]
If it helps, you can cross check  CLI's [code logics](https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py#L380-L383)

[2018-04-18 22:47] lmazuel commented on #2385
Closing, since the question is answered. Thanks @areddish !

[2018-04-18 22:47] #2385 closed

[2018-04-18 23:05] lmazuel commented on #2306
Ok, so that's definitely the problem. You replace the method by a new one that doesn't have the attribute. After your `setattr`, you should do something like:
[code]

[2018-04-18 23:08] TihoElek commented on #2380
According to:
https://github.com/Azure/azure-sdk-for-python/wiki/Managed-Disk

Create a snapshot of a Managed Disk that is currently attached to a Virtual
Machine.

        managed_disk = compute_client.disks.get('my_resource_group', 'myDisk')
        async_snapshot_creation =
self.compute_client.snapshots.create_or_update(
                'my_resource_group',
                'mySnapshot',

[2018-04-18 23:28] yugangw-msft commented on #2380
I don't think `source_uri=managed_disk.id` would work for other scenarios, as the `source_uri` is meant for unmanaged blob uri; but feel free to share the code that works and I will cross check.

[2018-04-18 23:33] TihoElek commented on #2380
Thanks for quick responses :)

The code I shared above works for 12 machines in the same resource group.
It snapshot their disks correctly. The same code fails for 3 machines in
the same resource groups. There is nothing different between machines. They
were all created as unmanaged and converted to managed using the same
method.

        I don't think source_uri=managed_disk.id would work for oth

[2018-04-18 23:37] yugangw-msft commented on #2380
Okay, for working case, can you share out the http trace with request & response payload? I believe you can get it by turning on debug/verbose logging?

[2018-04-18 23:41] TihoElek commented on #2380
We can only backup at certain times since it's a production environment.
Are there any server side logs that support could access?
You were mentioned on another thread with support. I think they should have
access to our subscription. Can you please respond there?

Thanks,
Tiho

[2018-04-19 16:25] lmazuel commented on #2346
Hi @NightFantomJ2
Sorry for the late answer, I was out of office for a while.
- All ARM resource have an ID. You can get it from the portal, CLI or any SDK call
- Authentication tutorial: https://docs.microsoft.com/en-us/python/azure/python-sdk-azure-authenticate?view=azure-python
Thanks,

[2018-04-19 16:26] lmazuel commented on #1313
Unfortunately no :(. For ServiceBus, we are prioritizing AMQP support right now and are actively working on it.

[2018-04-19 18:43] afengli opened #2432 "azure.mgmt.loganalytics.saved_searches.get_results() will receive "Saved search result not supported for the new query language""
It comes to my attention that when the workspace has features.searchVersion == 1:

https://resources.azure.com/subscriptions/c5f9d2a9-7ade-4db7-a89a-0d4bb6c3xxx/resourceGroups/TestLogAnalysisRG/providers/Microsoft.OperationalInsights/workspaces/testloganalysis

{
  "properties": {
    "source": "Azure",
    "customerId": "xxxx",
    "portalUrl": "xxxx",
    "provisioningState": "Succeeded",
    "s

[2018-04-19 20:48] ndeixonne commented on #1558
Okay, you know what, for me what worked is clear all azure thing related:

`sudo pip uninstall -y $(pip freeze | grep azure)`
and reinstall again:
`sudo pip install azure`

[2018-04-19 21:30] prburgu commented on #2306
Thank you. I tried this and it works great. Closing this ticket.

[2018-04-19 21:30] #2306 closed

[2018-04-20 10:00] Totzmaster commented on #345
Hi,
we are dequeuing data with HTTP requests (out of Oracle PL/SQL)
and are experiencing the same delays on partitioned queues.
I think, the REST middleware/interface has a bug.
The lock timeout has something to do with the delay.
If its 1 min, then the delay will be x times 36 seconds (0 sec, 36 sec, 72sec ,...)

Bye

[2018-04-20 18:18] derekbekoe opened #2441 "Date on https://pypi.org/project/azure-common/ for 1.1.9 is wrong"
It's 2017 instead of 2018.
Not urgent but it did confuse me for a second.

[2018-04-23 23:55] rturner3 opened #2455 "Python 2.7, 3.3, and 3.4 compatibility broken on Linux"
On Linux, there is a downstream dependency on a package called `SecretStorage` coming from the dependency on the `msrestazure` package. `SecretStorage` is only compatible with Python >=3.5.

I installed using `pip install azure` as mentioned in the documentation.

[code]

[2018-04-24 19:48] rturner3 commented on #2455
Now fixed as of msrestazure v0.4.28

[2018-04-24 19:48] #2455 closed

[2018-04-24 20:16] pipern opened #2462 "Guidance on porting code to new SDKs"
Please could you point us at where to find guidance on porting code to newer SDK versions?

In https://github.com/Azure/azure-sdk-for-python/commit/4dbe837e5b256da2865a300ab68078b7a58c14ea#diff-ddfd642a99bc6edf8ec1a1b4ab58aba8 we see that `azure.mgmt.authorization.models.RoleAssignmentProperties` has gone away; however Google doesn't lead me to find anywhere Microsoft documentation about what it's

[2018-04-24 20:59] schaabs commented on #1172
This has been fixed in the 1.0.0b1 release of the azure-keyvault package.  The operation has been marked long running so the generated code now returns a polling result rather than returning the vault directly.  Accessing the result() method on the value returned from vaults.create_or_update will properly poll until the vault is finished provisioning and the DNS entries have replicated.

[2018-04-24 20:59] #1172 closed

[2018-04-25 04:49] amrx101 opened #2464 "Send serializable Python objects as Topic message."
I couldn't find anything on the docs that instructed how do we send a Python object instance that is serializable as the message body when publishing to a Topic in Azure Service Bus.

[2018-04-25 05:39] taroyutao commented on #2372
Thanks, it works now.

[2018-04-25 05:39] #2372 closed

[2018-04-25 19:03] prburgu opened #2467 "Refresh_token doesn't seem to be working"
It seems refresh_token is not working correct with latest azure sdk. If I pin, msrest and msrestazure to following version then it is working correctly.
[code]

Here is the error with latest azure sdk.
[code]

[2018-04-26 06:22] holgerjay opened #2470 "Cosmos DB database accounts: 'locations' parameter not necessarily required."
Hi,

upon Cosmos DB database account creation, it is not necessary to enable geo replication. In this case, it is also not necessary to mark the **'locations'** parameter as required - as there is no need for additional replication targets then.

Imho, 'required' could be set to _False_ here: azure-sdk-for-python/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/database_account_create_update_paramet

[2018-04-26 09:01] 4c74356b41 commented on #1044
@lmazuel this doesnt really work terribly reliably, right? this wont scale or if the host changes this will need manual intervention?

[2018-04-26 17:16] kirthik commented on #2369
@annatisch  - this is release ready. Can you also release stable version of event grid management library too besides azure-eventgrid?

[2018-04-26 23:27] lmazuel commented on #2369
Done
https://pypi.org/project/azure-eventgrid/1.0.0/
https://pypi.org/project/azure-mgmt-eventgrid/1.0.0/

[2018-04-26 23:27] #2369 closed

[2018-04-26 23:29] lmazuel commented on #2470
Thank you @holgerjay for the report! Let's bring a CosmosDB expert: @dmakwana could I get your input on this one? Thanks!

[2018-04-26 23:32] lmazuel commented on #2467
Thanks @prburgu for your report. I did change a little this implementation recently, since I introduced a problem :(
Could you tell me if you're using `UserPasswordCredentials` or `ServicePrincipalCredentials`?
Thanks

[2018-04-26 23:42] lmazuel commented on #2464
Is there anything here that answers your question?
https://github.com/Azure/azure-sdk-for-python/blob/master/doc/servicebus.rst

Otherwise, could you precise a bit?
Thank you

[2018-04-27 00:04] lmazuel commented on #2462
Hi @pipern
First, I can't say anything about CLI problems, you would have to declare an issue in:
https://github.com/Azure/azure-cli/issues

The CLI doesn't pin dependencies, so `pip install azure-cli==2.0.6` won't install what the CLI was when 2.0.6 was released. If you want exactly this, CLI team have Docker containers frozen in time.

I don't have migration documentation unfortunately :(

[2018-04-27 01:06] #2441 closed

[2018-04-27 13:10] pipern commented on #2462
Thank you for these insights - in particular, I'll switch and specify all the libraries for pip install.

Do you know the best approach for porting/discovering what is changed? I'm unclear what the 'canonical' documentation for the SDK is (keyed by version).

[2018-04-27 16:12] lmazuel commented on #2462
I try to be as specific as possible in the ChangeLog:
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-authorization/HISTORY.rst

Clearly, what you say is I missed something in the ChangeLog :/. The code is auto-generated, and ChangeLog is manual, so I missed stuff sometimes :(. I plan to work on a tool to provide this ChangeLog is a more automatic way, but I don't have it yet.

[2018-04-27 16:49] lmazuel commented on #2422
Function is a subset of WebApp, so you need to list the webapps in your subscription and/or resourcegroup using `azure-mgmt-web`, and filter by `kind` to be to `function`.
See this code, which is the implementation of the CLI `az functionapp list`:
https://github.com/Azure/azure-cli/blob/979854e2047269d04b25a31b79d06a89acbd5a84/src/command_modules/azure-cli-appservice/azure/cli/command_modules/app

[2018-04-27 17:22] #2467 closed, assigned to nobody

[2018-04-27 17:46] QingqingYuan commented on #2384
We didn't deprecate the old API yet. So azure-mgmt-rdbms 0.1.0 is still working as we handle backward compatibility. But we're planning to retiring supporting the old version. So yes, please update the dependency to the new version. And we want to follow new pricing model.

[2018-04-29 16:11] smereczynski opened #2494 "Please enter password for encrypted keyring"
During the custom Linux build agent deployment for Visual Studio Team Services (Ubuntu Server 18.04-LTS) I noticed that there is an issue with something I did not noticed previously on Ubuntu Server and I'm not noticing on my Mac OS X. When I'm trying to run Python (3.6) script, which is using Azure SDK, I'm receiving interactive prompt "Please enter password for encrypted keyring". It's not a pro

[2018-04-30 06:31] olavt opened #2495 "Getting "Internal Server Error" from receive_subscription_message?"
I have the following code being called in an endless loop:

[code]

It was running with no issues for about 14 days until it crashed with:

2018-04-28 00:38:04.908 - INFO - Waiting for environment to respond to action...
Traceback (most recent call last):
  File "c:\Users\olavt\source\repos\gym_co2_ventilation\examples\test_keras_rl_production.py", line 88, in <module>
    history = dqn.fit(env, n

[2018-04-30 10:11] yfried opened #2496 "disk/list snapshots doesn't respect "resource_group""
Most `list()` calls (such as `compute.virtual_machines.list`) accept resource group name as input. `disks` and `snapshots` `list()` methods don't.

[2018-05-01 18:28] lmazuel commented on #1044
A v2 of Azure Functions is coming for Python:
https://docs.microsoft.com/en-us/azure/azure-functions/supported-languages#languages-in-runtime-1x-and-2x

For the first examples I saw in Python v2, this kind of trouble will disapear.

[2018-05-01 18:48] 4c74356b41 commented on #1044
@lmazuel do you know the timeline? also, that article doesnt list python as available for 2.0...

[2018-05-02 08:07] 4c74356b41 commented on #1044
well, the article you linked doesnt support your claim in any way (i'm not saying you are wrong, i'm just saying that I dont see any evidence in that article that supports your claim). thanks @lmazuel

[2018-05-02 19:26] #2368 closed

[2018-05-08 16:27] lmazuel commented on #2374
I'm closing this issue, since the answer to the initial question is: we won't support `--sync-methods`, once async will be in, Autorest will generate async all the time, will not be configurable (don't see the point of making it configurable, since the async methods will auto-disabled themselves on 2.7).

You can follow the async support question here:
https://github.com/Azure/azure-sdk-for-python

[2018-05-08 16:27] #2374 closed

[2018-05-08 16:28] lmazuel commented on #496
If you wish to use async in this SDK, @annatisch wrote some instructions how to use our SDK generator from the work in progress branch:
https://github.com/Azure/azure-sdk-for-python/issues/2374#issuecomment-380132318

Note that it's highly experimental for now :)

[2018-05-08 16:32] lmazuel commented on #2496
Yes there is :)
- https://docs.microsoft.com/en-us/python/api/azure.mgmt.compute.v2017_03_30.operations.disksoperations?view=azure-python#list-by-resource-group
- https://docs.microsoft.com/en-us/python/api/azure.mgmt.compute.v2017_03_30.operations.snapshotsoperations?view=azure-python#list-by-resource-group

It's just that `list` is per subscription, and `list-by-resource-group` per RG

[2018-05-08 16:32] #2496 closed

[2018-05-08 16:35] lmazuel commented on #2495
You're right, a client should never see any `500` error, that's a bug from the RestAPI side.

However, since we're talking here about the Python SDK, I'm not in the SB team, and it will be best to open a support ticket for the SB team with your TrackingId and symptoms (saying you're using the HTTP endpoint).

Thank you for the report, I'm sure the SB team will take over the issue and solve it.
Tha

[2018-05-08 16:35] #2495 closed

[2018-05-08 16:38] lmazuel commented on #1410
The link now brings correctly to
https://docs.microsoft.com/python/api/overview/azure/containerinstance

Which is the service page, and the service is responsible to write the samples that goes there (yes, there is no sample yet... :( )

Closing, since the initial question of broken link is solved.

[2018-05-08 16:38] #1410 closed

[2018-05-08 16:40] lmazuel commented on #1612
Links is fixed and brings correctly to https://docs.microsoft.com/en-us/python/api/overview/azure/datafactory?view=azure-python now

[2018-05-08 16:40] #1612 closed

[2018-05-08 16:43] lmazuel commented on #2153
Closing, this I remove this deprecated samples today

[2018-05-08 16:43] #2153 closed

[2018-05-08 16:44] lmazuel commented on #2346
Closing for inactivity, and I think anyway we answered the initial question. Please still comment or open a new issue if necessary. Thank you.

[2018-05-08 16:44] #2346 closed

[2018-05-08 18:04] hvermis commented on #1612
We have sample for aDF documented here: https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-python
@lmazuel should we provide you the full script?

[2018-05-08 18:11] lmazuel commented on #1612
@hvermis let's discuss this by email (sending it right now)

[2018-05-10 15:39] forhonourlx opened #2558 "Cannot import azure.common on Win10 Python3.5"
PS C:\Users\simon\Desktop\Rainbow_Ref\deeprl-baselines-master\baselines\rainbow\experiments\atari> pip install azure-common
Requirement already satisfied: azure-common in c:\program files\python35\lib\site-packages\azure_common-1.1.9-py3.5.egg

PS C:\Users\simon\Desktop\Rainbow_Ref\deeprl-baselines-master\baselines\rainbow\experiments\atari> python rainbow.py
Traceback (most recent call last):
  F

[2018-05-14 10:14] dalemyers opened #2559 "Cannot install due to futures issue"
A few hours ago, all of our builds started failing because the command `pip3 install azure` was failing. It seems that it's trying to install `futures` even though this is Python 3. We haven't changed anything about our build process. This just randomly started. I unfortunately don't have any more information than this. Here are the logs:

[code]

Pip version: 10.0.1
Python version: 3.6.5
Operatin

[2018-05-14 15:58] hosungsmsft commented on #2559
Same here with me. Our Travis CI is [failing](https://travis-ci.org/Azure/Moodle/builds/378783334) due to this same issue.

Calling out @rgardler FYI.

[2018-05-14 16:06] joshz commented on #2559
This statement causes the wheel to end up with an unconditional requirement for futures if built with Python < 3:
[code]
Replacing that with:
[code]
will cause the condition to be properly reflected in the meta files inside the wheel that hold requirements.

[2018-05-14 18:45] stefangordon commented on #2559
https://github.com/agronholm/pythonfutures/issues/83

[2018-05-15 16:27] lmazuel commented on #2559
Hi,
I'll keep this issue open until someone from CosmosDB answer in the initial repo, but there is nothing I can do myself :(. The `azure` bundle package is not the initial root of the issue. The right fix is already in a PR:
https://github.com/Azure/azure-cosmosdb-python/pull/23

In the meantime, if you don't need CosmosDB package, change your dependency to rely on the service you need. It will i

[2018-05-15 16:31] hosungsmsft commented on #2559
Thanks much @lmazuel for your following up on this. I know it's a dumb question, but could you recommend what specific dependency I might need for our project's Travis CI? All we need is to create a resource group and create/delete an ARM template deployment, and yet we are installing the whole Azure Python SDK (see https://github.com/Azure/Moodle/blob/master/.travis.yml#L18), so facing this issue

[2018-05-15 16:40] lmazuel commented on #2559
Will be `azure-mgmt-resource` and that's it :)

[2018-05-15 16:44] lmazuel commented on #2559
Closing the issue, since the `futures` guy removed the problematic release 3.1.2.

Honestly, the release 3.1.2 wasn't problematic, people needs to use the Python dependency system correctly. But at least he was kind enough to unlock people.

[2018-05-15 16:44] #2559 closed

[2018-05-16 12:44] kapilt opened #2569 "conflicting dependency set across azure python packages"
Our ci started failing this morning due to conflicting dependencies caused azure client sdk python universe.

[code]

fwiw, our declared dependency set is `"azure", "azure-cli-core", "adal"`

[2018-05-16 13:03] kapilt commented on #2569
removing the implied direct dependency from adal from our setup.py didn't resolve, so the sub dependency graph is still an issue, albeit only when mixing azure and azure-cli graphs. Explicitly pinning it in our setup.py did however resolve it.

[2018-05-16 13:03] #2569 closed

[2018-05-17 10:11] realrill opened #2577 "Create a new guest user (Invite an external user into Azure AD)"
Hi all,

I have some trouble with the SDK/documentation. Maybe it is just my fault so please do not hate me.

I have been working on a project where I have two ongoing issue.

1. Create a new guest user (Invite an external user into Azure AD)
2. Assign the invited user into a subscription as reader via the user object_id(or somehow)

I found the [PowerShell alternative](https://docs.microsoft.com/

[2018-05-17 16:04] andrewkittredge opened #2579 "Synchronous messaging between .net WebRole and Python"
Our site is served by a .net WebRole.  I want to process data from the user synchronously in a Python process.  The Python process has to be able to use extension packages, scikit-learn specifically, so I think Azure lambda is out.

I am considering an architecture whereby the .net WebRole process communicates with a Python WorkerRole via an Azure Relay Hybrid Connection.   Hybrid Connections do n

[2018-05-18 11:01] guptasakshi01 opened #2584 "Filter List Users"
Python Module Used:- azure-graphrbac

How to use filter option while listing O365 users using following method:-
list(filter=None, custom_headers=None, raw=False, **operation_config) ?

We are not able to filter using this:-
client.users.list(filter=<display_name>)

[2018-05-18 23:00] annatisch commented on #966
@VaanPan - this is a feature of the new in-preview Event Hub python SDK build on AMQP.
It would be great if you could try it out. Expect GA is end of June.
https://pypi.org/project/azure-eventhub/#description
https://github.com/Azure/azure-event-hubs-python/tree/develop

[2018-05-18 23:04] annatisch commented on #1056
Hi @Hoovs - a new AMQP-based Python SDK for Event Hubs is now in preview:

https://pypi.org/project/azure-eventhub/#description
https://github.com/Azure/azure-event-hubs-python/tree/develop

It would be great if you could try it out and let us know any feedback you have :)

[2018-05-21 11:18] hrncek opened #2593 "list_topics does not list partitioned topics"
from azure.servicebus import ServiceBusService, Message

bus = ServiceBusService(......)

topics = bus.list_topics()

I can see topics which have partitioned false, but not the one which have partitioned true

[2018-05-21 17:07] annatisch commented on #2593
Thanks @hrncek - we are currently building a new AMQP-based service bus Python SDK, so we are not actively working on this legacy SDK.
However I will be sure to test this scenario on the new SDK, and when the new SDK goes into preview I will update this issue thread.

[2018-05-21 23:59] little-eyes opened #2600 "Persist logs/outputs to linked blob storage"
Hi,

I'm running batch with docker container workload, but I want to upload the job and task's output/errors/logs to a linked blob storage account. Is this possible using python sdk? Can you give an example?

[2018-05-22 06:26] mamathy opened #2602 "Azure Billing API not working for CSP Account"
Using below python api for Azure Billing,

_commerce_client  = UsageManagementClient(credentials, subscription_id)
usage_list = commerce_client.usage_aggregates.list(start, end)_

It will works fine for EA account,but throw exception for CSP account as follows,

**Operation returned an invalid status code 'Bad Request'**

[2018-05-22 14:05] annatisch commented on #2600
Hi @little-eyes - yes this should be possible using the storage SDK for Python.
However Batch already supports automatically uploading the output/errors/logs of the workload to storage via declaration in the API - could this not be used instead?

Reference docs:
https://docs.microsoft.com/en-us/rest/api/batchservice/task/add#outputfile
Article:
https://docs.microsoft.com/en-us/azure/batch/batch-ta

[2018-05-22 20:09] little-eyes commented on #2600
@annatisch thanks a lot. do you know what's the working directory it runs on Ubuntu? I tried to copy the std*.txt files, but it seems to succeed with nothing copied.

[code]

[2018-05-22 20:17] annatisch commented on #2600
No problem @little-eyes - I believe the stdout and stderr files are a directory above the working directory.
I have used this in the past which seems to work:
`"filePattern": "../stdout.txt",`

[2018-05-24 10:58] mvperez opened #2620 "Azure service fabric sdk for python sample link is dead"
Hi,
This [link](https://docs.microsoft.com/en-us/python/api/overview/azure/servicefabric/clientlibrary) is dead. Where can we find the samples using service fabric sdk for python?

[2018-05-24 22:29] annatisch commented on #2584
Hi @guptasakshi01 - could you try using syntax along the lines of:
`filter='startswith(displayName,\'some_name\')'`

[2018-05-25 00:48] bganapa opened #2623 "Multi api versioned package needed for azure-mgmt-authorization"
azure stack cli is broken for az role commands as stack does not support the latest authorization api-version 2018-01-01-preview,  Azure stack supports the api-version 2015-07-01

Here is the complete set for  2017-03-09-profile

        "microsoft.authorization": {
			"2015-01-01": [
				"locks"
			],
			"2015-07-01": [
				"operations",
				"permissions",
				"roleAssignments",
				"roleDefiniti

[2018-05-25 09:55] mamathy opened #2624 "Azure Billing API not working for CSP Account"
Using below python api for Azure Billing,

commerce_client = UsageManagementClient(credentials, subscription_id)
usage_list = commerce_client.usage_aggregates.list(start, end)

It will works fine for EA account,but throw exception for CSP account as follows,

Operation returned an invalid status code 'Bad Request'

[2018-05-25 11:50] alvercau commented on #1744
I have the exact same issue. Is there any updates on this?

[2018-05-29 03:12] little-eyes commented on #2600
@annatisch, yes, it works. Thanks a lot!

[2018-05-29 03:13] #2600 closed

[2018-05-29 12:51] adamcunnington commented on #2569
Why is this issue closed? What is the solution? I've ran into the same thing.

[2018-05-29 14:07] ageorgou opened #2644 "Incorrect requirement for azure.mgmt.compute"
It seems that the version requirement for `azure-common~=1.1` in `azure.mgmt.compute` is too broad: new versions of the package reference `azure.profiles`, which was introduced in `azure-common` 1.1.9.

For example, if I try to install the latest version (4.0.0rc2) of `azure.mgmt.common` in an environment which already has a previous, older version of `azure-common`, the installation completes suc

[2018-05-29 17:59] MingweiSamuel opened #2646 "Creating Disk: Unable to serialize value <DiskCreateOption object>"
I can't figure out how to create a disk. It seems that it isn't handling the DiskCreateOption correctly?

https://docs.microsoft.com/en-us/python/api/azure.mgmt.compute.v2017_03_30.operations.disksoperations?view=azure-python#create-or-update

Code:
[code]

Output:
[code]

[2018-05-29 19:54] lmazuel commented on #2646
That's weird, I try to look at that asap. In the meantime, could you confirm your package version number of `azure-mgmt-compute` and `msrest`?
Thank you

[2018-05-29 19:56] lmazuel commented on #2644
Hi @ageorgou
Yes you're right, I should write `~=1.1;>=1.1.9`. I didn't notice since I do fresh env each time, but on update it won't work. Will fix it asap. Thanks!

[2018-05-29 19:57] lmazuel commented on #2624
@sandeepnl do you know the right person to help here?
Thank you,

[2018-05-29 19:59] lmazuel commented on #2584
As @annatisch says, filter will use the RestAPI syntax as a string here:
https://msdn.microsoft.com/Library/Azure/Ad/Graph/api/users-operations#GetUsers
https://msdn.microsoft.com/Library/Azure/Ad/Graph/howto/azure-ad-graph-api-supported-queries-filters-and-paging-options#filter

Thanks,

[2018-05-29 19:59] #2584 closed

[2018-05-29 20:00] lmazuel commented on #2620
Hi @marvinvperez
SF correct is this one:
https://docs.microsoft.com/python/api/overview/azure/servicefabric

It seems there is no samples for Python yet wrote by the service team. @samedder could you help here?

Thanks,

[2018-05-29 20:02] lmazuel commented on #2602
Closing as duplicate of https://github.com/Azure/azure-sdk-for-python/issues/2624

Thanks,

[2018-05-29 20:02] #2602 closed

[2018-05-29 20:03] lmazuel commented on #2558
Hi @forhonourlx
`azure-storage` is deprecated, and shouldn't be used anymore. This creates trouble with more recent packages. See note from Storage team:
https://github.com/Azure/azure-storage-python#download

[2018-05-29 20:59] lmazuel commented on #2577
Hi @realrill !
Sorry for the late answer. What you want do is likely to be done with `azure-mgmt-authorization`. I don't have a specific sample, but this part of this might help you:
https://github.com/Azure-Samples/compute-python-msi-vm#role-assignement-to-the-msi-credentials

[code]

[2018-05-29 21:13] lmazuel commented on #2579
Hi @andrewkittredge
I'm not an expert in Azure architecture, so I can't tell right now, and you should ask you question on MSDN to get more input.
However, when you say "Azure lambda is out", assuming you're talking about Azure Functions, WebApp for Containers might do the work for you:
https://azure.microsoft.com/en-us/services/app-service/containers/

Thanks,

[2018-05-29 21:13] #2579 closed

[2018-05-29 21:22] MingweiSamuel commented on #2646
I have
[code]

[2018-05-29 22:32] lmazuel commented on #2646
azure 2.0.0 installs azure-mgmt 1.0.0, so I guess at some point you either just did "pip install azure" or updated azure-mgmt?
Could you give me the version of `azure-mgmt-compute`, that the one that matters.
Thanks

[2018-05-29 22:41] MingweiSamuel commented on #2646
Oops, its `azure-mgmt-compute==1.0.0`

[2018-05-29 23:31] lmazuel commented on #2646
So, API Version 2017-03-30 did not exists in 1.0.0, so something's wrong here :/. It was introduced in 2.0.0. Also, latest stable is 3.0.1, but you should use 4.0.0rc2 which is close to stable and can be relied on.
Could you test more recent packages and/or figure out the inconsistency here?
Thanks,

[2018-05-30 03:00] MingweiSamuel commented on #2646
Ok, I will let you know tomorrow

[2018-05-30 07:06] adamcunnington commented on #2569
Great, thanks.

[2018-05-30 07:47] realrill commented on #2577
Hi @lmazuel,

Thank you for your response.

I just quickly overviewed the doc of `azure-mgmt-authorization` and looks like this is what I looked for the user assignment to subscription.
I guess I focused on the `Active Directory` and `Resources` documentation and did not realise I was on the wrong page.

Fortunately I made a workaround with native REST Api but I would prefer use SDK.

I will test

[2018-05-30 10:38] ageorgou commented on #2644
Hi @lmazuel,

Yes, I only noticed this when updating an existing installation.

I was looking at this again and realised that it happens in other packages too. A quick search (`grep "azure.profiles"`) shows:
- `azure-mgmt-compute`
- `azure-mgmt-resource`
- `azure-mgmt-storage`
- `azure-mgmt-network`
- `azure-mgmt-containerregistry`

The last two already require specific versions. I have submitted

[2018-05-30 13:20] adamcunnington opened #2662 "azure.mgmt.containerinstance.ContainerInstanceManagementClient.container_groups list operations returning stale / incomplete resources"
I have instantiated an authorised azure.mgmt.containerinstance.ContainerInstanceManagementClient object. When i iterate over .container_groups.list() I see the 3 container groups but their instance_view property is None. However, when I call .container_groups.get() the object I get has all the properties populated and I can see the instance_view property.

Therefore, unless this is somehow deliber

[2018-05-30 16:47] lmazuel commented on #2577
@yugangw-msft what would you do for:

[2018-05-30 16:50] lmazuel commented on #2644
Hi @ageorgou
I released storage this morning including the fix, so your PR conflicts :/. If you could remove storage from your PR, I'll merge it.
Thanks!

[2018-05-30 16:54] lmazuel commented on #2662
Hi @adamcunnington
That's a common pattern I see from RestAPI on Azure, that `list` is listing the common properties, and you need an additional `get` to get the detailled property (see #573 for instance). So I would consider this more a lack of features than a bug actually. But let me send an email to the RestAPI service team, to see if they have guidance or suggestion here.
Thanks,

[2018-05-30 17:11] ageorgou commented on #2644
Hi @lmazuel, done now.

[2018-05-30 17:26] MingweiSamuel commented on #2646
Uninstalled everything and installed the latest of the packages I need:
[code]

Then for mgmt-compute, `azure-mgmt-compute==3.1.0rc3 or 3.0.1 or 2.1.0` all had the original issue.

Using `azure-mgmt-compute==4.0.0rc2` had a different exception, something relating to profiles:
[code]

**Using `azure-mgmt-compute==4.0.0rc1` works as expected, creates the disk, no errors or warnings.** So I will use

[2018-05-30 17:26] lmazuel commented on #2662
Hi @adamcunnington
I got confirmation from the team, it's not possible yet because that's a very expensive operation. So let's say the list returns 100 container groups, this might take more time than a reasonable Rest call. Note that you can parallelize the `get` calls to be fast if necessary. We are also working on the async version of this SDK, which would do the parallelize code simple to writ

[2018-05-30 17:27] #2644 closed

[2018-05-30 22:50] lmazuel commented on #2646
Thanks @MingweiSamuel that's very valuable! I try to look into the details now asap

[2018-05-31 07:34] prburgu opened #2670 "[azure-mgmt-monitor] Support for Metric Alerts"
Azure now has next generation metric alerts and the REST API is documented at https://docs.microsoft.com/en-us/rest/api/monitor/metricalerts
It would be good to have SDK support for this. Is it in the works?

[2018-05-31 07:49] adamcunnington commented on #2662
Thank you for confirming. I don't mind this behaviour (although it's not typical behaviour for REST APIs) - it's just not documented as far as I can see. The description at https://docs.microsoft.com/en-us/python/api/azure.mgmt.containerinstance.operations.containergroupsoperations?view=azure-python is basically identical for list and get operations.

[2018-05-31 17:41] yugangw-msft commented on #2577
This is not possible till we are able to integrate AAD team's swagger into SDK's spec repository. There is an ownership discussion going on right now, and I hope we can resolve that and get this scenario covered soon.

[2018-05-31 18:26] lmazuel commented on #2662
Hi @adamcunnington
I agree it's not documented, since get and list return the same object, it's not obvious that the ones from list with be `None` always. I take a note to improve that as well.

[2018-05-31 19:31] lmazuel commented on #2670
Hi @prburgu
Yes! You can try to preview client from this PR:
https://github.com/Azure/azure-sdk-for-python/pull/2460

[2018-06-01 22:46] jafreck opened #2680 "Batch VirtualMachineConfiguration docstring has broken link"
This link in the docstring is broken.

https://github.com/Azure/azure-sdk-for-python/blob/9db9674585fe98265cb54680c4977645caac30cd/azure-batch/azure/batch/models/virtual_machine_configuration.py#L47

[2018-06-04 23:39] lmazuel commented on #2680
Hi @jafreck
As suggested in your PR, that's a Swagger fix, please PR there, or open an issue there.
Thanks!