[2020-06-16 22:15] sfonteneau commented on #4018
Hello

We have more and more customers who want to use Office 365 with samba4. This implementation would be really useful (it already exists because azure ad connect connections use it but I don't know how to use it). Can you help me or tell me who could help me with this? (I am aware that this is not specific to the python API)

I have the hashnt, it would be really practical to be able to send i

[2020-06-16 23:35] ctaggart opened #12080 "invalid json in swagger_to_sdk_config.json"
Python SDK builds are failing for my new pull request at https://github.com/Azure/azure-rest-api-specs/pull/9859. The error is:

[code]

I think it is because #11654 committed invalid json 18 hours ago:
https://github.com/Azure/azure-sdk-for-python/pull/11654/files#diff-40123192e960d9409ef3d787d75962cdR11

cc @NullMDR @zikalino

[2020-06-17 02:48] Rodrigossz opened #12084 "Capability to create Analytical Store enabled containers"
**Is your feature request related to a problem? Please describe.**
To provide parity with .NET and Python V3 SDKs: https://docs.microsoft.com/en-us/azure/cosmos-db/configure-synapse-link#net-sdk

**Describe the solution you'd like**
Just another option on the API Call.

**Additional context**
As discussed in our emails. It will provide and end to end Python Experience for Analytical Store/Synapse

[2020-06-17 04:22] lmy269 commented on #12050
@shawnxzq, can you take a look?

[2020-06-17 04:40] NullMDR commented on #12080
Already fixed. Thanks for raising up this issue.

[2020-06-17 04:40] #12080 closed

[2020-06-17 05:30] v-xuto opened #12085 "azure-servicebus Readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/servicebus/azure-servicebus#timeouts):
![image](https://user-images.githubusercontent.com/57166602/84858738-54aa7500-b09e-11ea-8663-f69ff03730d8.png)

Suggestion:
Update "occuring" to "occurring",
Update "aformentioned" to "aforementioned".

[2020-06-17 05:30] v-xuto commented on #12085
@jongio, for notification.

[2020-06-17 15:43] #12055 closed

[2020-06-17 17:12] YijunXieMS commented on #11289
It's merged

[2020-06-17 17:12] #11289 closed

[2020-06-17 17:15] YijunXieMS opened #12092 "[Event Hubs] Add options of load balancing strategy"

[2020-06-17 17:31] chlowell opened #12093 "Update aka links in readme"
See https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/233/Azure-SDK-AKA.ms-Links

[2020-06-17 17:32] chlowell opened #12094 "Update aka links in readme"
See https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/233/Azure-SDK-AKA.ms-Links

[2020-06-17 18:12] southpolesteve opened #12096 "[Cosmos] GROUP BY query support"
Need to add GROUP BY support to the Python SDK. JS SDK PR for reference https://github.com/Azure/azure-sdk-for-js/pull/5749

[2020-06-17 19:43] rakshith91 commented on #11989
fixed in https://github.com/Azure/azure-sdk-for-python/pull/12090/files

[2020-06-17 19:43] #11989 closed

[2020-06-17 19:49] #12051 closed

[2020-06-17 20:40] mw-root opened #12099 "[COSMOS Account] Network FW Configuration is rudementary/lacking"
There does not appear to be any way to set the firewall to a whitelisting settup without defining CIDRs. (only allow selected networks in the portal).

We're stuck with wide open access, when we want to lock it down and add networks and ranges as required.

IPs are also ingested via CSV string which is ok, but very basic.

The storage account SDK has a [suitable solution.](https://docs.microsoft.c

[2020-06-17 21:06] ctstone opened #12102 "Azure SDKs for Python should support custom urllib3 connection pool size."
**Is your feature request related to a problem? Please describe.**
When I run the Storage SDK against a single account using a ThreadPool, `multiprocessing.pool.ThreadPool`, I see frequent warnings like `urllib3.connectionpool:HttpConnectionPool is full, discarding connection`. Urllib3 has a well-defined default connection pool [max size of 10](https://urllib3.readthedocs.io/en/latest/advanced-usa

[2020-06-17 21:44] lmazuel commented on #12102
Hi @ctstone

You should be able to pass your own session:
[code]

Could you try and let me know? I will try to get some time to try it too, but can't tell when precisely. Thanks!

[2020-06-17 21:44] ross-p-smith commented on #10489
I have to agree with Jason, I've been trawling all the docs for a worked example of connecting to Storage with a User Managed Identity and it is really not obvious how you do it, all of the documents fall back to Access keys

[2020-06-17 22:29] lmazuel commented on #11048
Full stacktrace:
[code]

[2020-06-18 00:15] jasonzio commented on #10489
I'm sorry I missed this question.

- Start with [the Azure Blob storage Quickstart](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python). All it talks about is the Connection String, obtained based on storage key. Not even the slightest hit to other sources of authentication.
- The [Azure Storage Blobs client library](https://docs.microsoft.com/en-us/azure/develope

[2020-06-18 00:27] rakshith91 opened #12108 "Opencensus 0.7.8 fails with NameError"
![image](https://user-images.githubusercontent.com/14154054/84963933-a31c3b80-b0bf-11ea-91b5-f41737d39fb9.png)
Remove the pin from 0.7.7 once the issue is resolved:

Tracking issue in OC:
https://github.com/census-instrumentation/opencensus-python/issues/914

[2020-06-18 00:39] heaths opened #12109 "Must send back sentinel value when updating a SearchIndexerDataSourceConnection"
Through testing, I found that we cannot send back a null or empty `SearchIndexerDataSourceConnection.ConnectingString` ("credentials"). Instead, you have to use an undocument sentinel value of "<unchanged>" (include brackets). I opened Azure/azure-rest-api-specs#9877 to make sure this gets documented, but it something we'll need to do for GA to support `CreateOrUpdateDataSourceConnection` properly

[2020-06-18 01:25] rakshith91 commented on #12108
fixed - tested in the ci here https://github.com/Azure/azure-sdk-for-python/pull/12106

[2020-06-18 01:26] #12108 closed

[2020-06-18 03:13] #12072 closed

[2020-06-18 11:23] ctstone commented on #12102
Thanks @lmazuel, this works great!

[code]

However, `session` is not a documented parameter on the `ContainerClient`. Guessing it gets passed down to some lower level Azure.Core handler...

Might I suggest adding it to all client doc strings?

[2020-06-18 16:44] lmazuel opened #12121 "Add "Available Transports" to Core dev doc"
With the table of kwarg/operation level, like we did for Available Policies:
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md#available-policies

See also #12102 (customer was looking for "session" kwargs in the RequestTransport)

[2020-06-18 16:49] lmazuel opened #12122 "[Brainstorm] Make advanced kwargs discoverable"
See #12102 , no-one can guess what kwargs are available just looking at the doc.

We have the content already:
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md#available-policies

How do we make it available for each client? A "aka.ms/options" in all client docstring? Else?

One thing for sure is I don't want to hard-code it, especially sinc

[2020-06-18 16:49] lmazuel commented on #12102
@ctstone yes, the entire set of supported kwargs is not obvious, there is a generic list here with _most_ of them:
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md#available-policies

And this one was missing, so I created another issue:
https://github.com/Azure/azure-sdk-for-python/issues/12121

That makes the doc complete, but not discover

[2020-06-18 20:07] ctstone commented on #12102
Closing this issue since it's fixed in the provided solution. Thanks!

[2020-06-18 20:07] #12102 closed

[2020-06-18 21:32] kristapratico opened #12125 "[formrecognizer] [ service bug] Unsupported media type error"
Service returns "Unsupported media type" error when pdf form is sent via GitHub URI. This error only occurs with recognize custom forms without labels.

[2020-06-18 21:35] kristapratico opened #12126 "[formrecognizer] [service bug] Generic error during prediction"
Custom form recognition with labels returns wrong error when an invalid URL is passed to it.

Expected code: 3003 OCR extraction error; Image URL is badly formatted
Actual: code: 3014 Generic error during prediction.

Confirmed service regression.

[2020-06-18 22:02] kristapratico opened #12127 "[formrecognizer] create strongly typed receipt sample"
to align with .NET samples

[2020-06-18 23:27] kaerm commented on #10489
@jasonzio thank you so much for the thorough write up - this is great!

@maggiepint and @kraigb this should be helpful for the updates for the general authentication docs

[2020-06-18 23:34] kraigb commented on #10489
@jasonzio @kaerm Can you clarify for me what "MSI" means. I see the term thrown around somewhat but haven't really been clear on what it really entails.

[2020-06-18 23:41] kaerm commented on #10489
I always understood it as [Managed Identity](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview)

[2020-06-19 00:06] rakshith91 commented on #11882
Some initial feedback from Java/JS UX study

- [ ] Add documentation to clarify getFieldValue() and getValueText()

- [ ] Order fields in position for the document (unsupervised map of fields). Currently, field ordering is not maintained.

- [ ] Helper function to search and return fields to shortcut getFields().get("FieldName") (Might need more discussion).

- [ ] Helper/accessor to get Table cel

[2020-06-19 00:27] jasonzio commented on #10489
@kraigb - @kaerm is correct, MSI in various Azure sources means Managed Identity. (See, for example, [What are managed identities for Azure resources](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview).

[2020-06-19 01:58] 00Kai0 commented on #11782
seems like no reply, I close it.

[2020-06-19 01:58] #11782 closed

[2020-06-19 08:02] shurd commented on #12099
Hi @mw-root thank you for opening this issue. Today, we added the ipRules property in 0.15.0, which should allow you to add IP addresses as an array of object.

Alternatively, if you want to deny all public access to your account until the proper firewall rules are in place, you can use the property "publicNetworkAccess". If set to "Disabled", all requests are denied by default.

[2020-06-19 10:00] v-xuto opened #12133 "azure-ai-formrecognizer Readme and Samples issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/formrecognizer/azure-ai-formrecognizer#train-a-model):
![image](https://user-images.githubusercontent.com/57166602/85120820-5c147e80-b256-11ea-90a9-c8aca8011946.png)
Reason:
TypeError: begin_training() missing 1 required positional argument: 'use_training_labels'.

Suggestion:
Add positional argument "use_training_labe

[2020-06-19 10:10] v-xuto opened #12134 "azure-ai-formrecognizer : copy a custom model ,when target_region = 'EastUS', running the code will be hung here."
- **Package Name**: azure-ai-formrecognizer
- **Package Version**: 1.0.0b4.dev20200615001
- **Operating System**: win10
- **Python Version**: 3.7.4

**Describe the bug**
Sample [sample_copy_model.py](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_copy_model.py):
When target_region = 'eastus', the result of this sample code is pas

[2020-06-19 10:15] v-xuto commented on #12134
@jongio , for notification.

[2020-06-19 10:15] v-xuto commented on #12133
@jongio , for notification.

[2020-06-19 13:56] SeaDude commented on #7617
I'm also having a problem creating a Linux Premium App Plan. The SKU's are hard to find in the docs. I tried P2v2, EP2, but both seem to fail when deployed with:

[code]

Latest try fails with...

[code]

Please advise which Premium SKU's can be used with Linux Runtimes.

Thank you

[2020-06-19 15:02] kristapratico commented on #12134
Thanks @v-xuto I'll look into this issue.

[2020-06-19 18:44] NayangiriGoswamiGit opened #12135 "Application Properties are not part of event"
I route IoTHub Device Telemetry messages to its default events end point.
Than it triggers serverless function written in python with IotHub's eventhub binding.
The received event in azure serverless function does not contain application properties which has been set by device.
Here is code:
[code]

When I do dir(event), it shows me,
['EventHubEventbody', '_EventHubEventenqueued_time', '_EventHubE

[2020-06-19 23:23] southpolesteve commented on #11030
Closing in favor of https://github.com/Azure/azure-sdk-for-python/issues/8636

[2020-06-19 23:23] #11030 closed

[2020-06-20 02:17] johanste opened #12137 "Le Azure Core is broken when trying to send requests with content-type: text/plain."
- **Package Name**: azure-core

**Describe the bug**
We disregard the content-type header and try to set the body as json unless it is an xml element tree. See https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/azure/core/pipeline/transport/_base.py#L705

We either have to provide a new parameter type (e.g. `body` in addition to `content`, or we should honor the content-

[2020-06-20 17:53] jongio opened #12138 "[FEATURE REQ] AzureCliCredential and all new credentials need to be added to docs"
**Library or service name.**
Azure Identity

**Is your feature request related to a problem? Please describe.**
Cannot find docs on how to use AzureCliCredential or any of the new credentials, i.e. VSCodeCredential, etc

azsdke2e

[2020-06-22 04:00] anurag-ae commented on #11437
I am also facing the same issue. Any solution?

[2020-06-22 07:19] chunyu3 commented on #10315
answered. close it.

[2020-06-22 07:19] #10315 closed

[2020-06-22 07:22] cdunklau commented on #12048
Thanks for the detailed clarification :)

[2020-06-22 09:49] chunyu3 commented on #12135
The package azure.functions is not mgmt, seems it is data-plan. Add service team to look at it. thanks.

[2020-06-22 13:08] RodgeFu commented on #7617
@yungezz , shall I transfer this to azure-cli repo? thanks.

[2020-06-22 15:22] banderous commented on #12096
Can you please make it clear in your [documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-group-by) that your client libraries are not feature complete?

I have just wasted a lot of development time finding out that your client library doesn't support GROUP BY (I cannot fathom why a query engine feature should require client library support anyhow).

[2020-06-22 15:44] #11305 closed

[2020-06-22 15:45] #11306 closed

[2020-06-22 15:49] xiangyan99 commented on #12109
Fixed in #12129

[2020-06-22 15:49] #12109 closed

[2020-06-22 16:24] ndjido opened #12145 "Getting `BadRequest` exception when creating `private_endpoints`"
- **Package Name**:  `azure.mgmt.network`  -> `NetworkManagementClient`
- **Package Version**: v10.2.0 -- API v2020_04_01
- **Operating System**: MacOS
- **Python Version**:  3.6
**Describe the bug**
I am getting s `Bad request` error with the following `private endpoint` creation :

[code]
The exception I am getting is:
`azure.mgmt.network.v2020_04_01.models._models_py3.ErrorException: Operation

[2020-06-22 16:26] #12135 closed

[2020-06-22 16:26] lmazuel commented on #12135
Issue moved to [Azure/azure-functions-python-worker #698](https://github.com/Azure/azure-functions-python-worker/issues/698) via [**ZenHub**](https://www.zenhub.com/)

[2020-06-22 16:54] anurag-ae commented on #11437
In my case the issue was calling the read() function of Flask FileStorage.

https://stackoverflow.com/questions/3906137/why-cant-i-call-read-twice-on-an-open-file

[2020-06-22 21:30] iscai-msft opened #12151 "[BUG] weird / flaky behavior in the Python CIs"
Running into flaky failures that I can't repro locally. The failures are different across the different matrices:

1. for linux 2.7 I had coverage errors like [this](https://dev.azure.com/azure-sdk/public/_build/results?buildId=433858&view=logs&j=24e84196-b4b8-5123-c7ea-5e853df7a17a&t=9348bb1d-06b8-5827-b532-d0a0d6f8589e) (sdist and whl commands passed for mgmt, but then I got a ton of Coverage.py

[2020-06-22 21:31] iscai-msft commented on #12151
@kristapratico added she's seeing these errors: https://teams.microsoft.com/l/message/19:59dbfadafb5e41c4890e2cd3d74cc7ba@thread.skype/1592843100575?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1592843100575&teamName=Azure%20SDK&channelName=Engineering%20System%20%F0%9F%9B%A0%EF%B8%8F&createdTime=1592843100575

[2020-06-22 22:02] glarose13 opened #12152 "azure function app error: Runtime dependency PyGObject is missing, Linux Module ‘gi’ not found"
Sharing information on experience with azure-identity 1.4.0b5
- **Package Name**: azure-identity
- **Package Version**: 1.4.0b5
- **Operating System**: Linux
- **Python Version**:  3.7

**Describe the bug**
Execution of python 3.7 azure function app with storage queue trigger -> text file processing method, created expected output, but showed trace error of Runtime dependency PyGObject missing, Li

[2020-06-22 22:08] kaerm commented on #12152
@glarose13 thanks for reporting this, cc: @chlowell can you take a look at this

[2020-06-22 22:29] chlowell opened #12153 "Enable configuring HttpLoggingPolicy allow list at initialization"
Key Vault has custom diagnostic headers whose values are by default redacted by `HttpLoggingPolicy`. Preventing that redaction requires instantiating a policy then modifying its allow list:
https://github.com/Azure/azure-sdk-for-python/blob/2c8bfa1277094260cf9d4b8a7b97aefa928d7d0f/sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py#L29-L32

It would be nice if the pol

[2020-06-22 23:57] chlowell commented on #12152
Do you mean you didn't continue because you were concerned something was wrong, or that your deployment failed due to the error?

That log output comes from a dependency, [msal-extensions](https://github.com/AzureAD/microsoft-authentication-extensions-for-python/blob/dev/msal_extensions/libsecret.py#L22), which we use to implement an optional feature. In `azure-identity` we anticipate and handle t

[2020-06-23 00:43] xiafu-msft commented on #11437
Hi @anurag-ae

Flask FileStorage is not Storage SDK, would you like to explain a bit about when you have the hanging problem?

[2020-06-23 02:52] changlong-liu commented on #8343
Hi Service team, we plan to release a Python SDK for resourcehealth, and want to confirm whether the service side & swagger definition ready for a public release?

[2020-06-23 02:54] changlong-liu commented on #10621
Hi @chenjianfei2017 , would you help to confirm this is fixed in swagger? Thanks.

[2020-06-23 02:59] changlong-liu commented on #9272
close since it's too long ago issue. It's low priority and we don't meet complaining about this recently.  If we does meet this issue, we can reopen this and fix it.

[2020-06-23 02:59] #9272 closed

[2020-06-23 03:10] changlong-liu commented on #9634
we checked that the latest release azure-template (May 2020) in PyPi has source code in it.  Since this is a data-plan package, +@lmazuel for double confirm.

[2020-06-23 03:12] changlong-liu commented on #9564
close. we will add test for databoxdedge when we onboard track2 sdk for it.

[2020-06-23 03:12] #9564 closed

[2020-06-23 03:17] changlong-liu commented on #9549
We don't support multi-subscription operation for now.

Hi @Abyssknight , help to give an example for how to go through multiple subscription

[2020-06-23 03:23] changlong-liu commented on #11148
from the error description, it should be a service issue. And we don't meet customer complain for it.

[2020-06-23 03:23] #11148 closed

[2020-06-23 03:24] changlong-liu commented on #6101
Hi @Abyssknight , help to have a try on this.

[2020-06-23 03:33] changlong-liu commented on #7476
Add service attention, since this operation is not defined as LRO in swagger.

[2020-06-23 03:35] changlong-liu commented on #7280
close since we have do it in track2

[2020-06-23 03:35] #7280 closed

[2020-06-23 03:38] changlong-liu commented on #7952
Hi service team, would you help to confirm whether the sku should be an object or a simple value?

[2020-06-23 03:42] changlong-liu commented on #4210
Hi @Abyssknight , help to verify whether this is fixed in latest release.

[2020-06-23 03:50] changlong-liu commented on #4211
Hi @sfibich , we are cleaning up issues. Want to know whether you have got enough solution for this issue? We will close this issue if didn't hear you in one month.

[2020-06-23 03:52] changlong-liu commented on #4474
Hi, Add @lmazuel for it's a codegen issue.

[2020-06-23 07:38] bulkware opened #12160 "Monitoring outputs different results depending on what times I enter to the query"
- **Package Name**: azure-mgmt-monitor
- **Package Version**: 0.9.0
- **Operating System**: CentOS Linux 7
- **Python Version**: 2.7.5

**Describe the bug**
Monitoring outputs different results depending on what times I enter to the query.

**To Reproduce**
Steps to reproduce the behavior:

1. Run example code:
[code]

2. Check output:
[code]

**Expected behavior**
I expected to receive a total of

[2020-06-23 11:22] glarose13 commented on #12152
thank you @chlowell, yes did not continue as I was concerned something wrong that could have future unexpected impact on production.  will test with disabling feature.  thank you for the quick response and the helpful description of the log output.

[2020-06-23 11:22] #12152 closed

[2020-06-23 16:50] agiokas-dbg opened #12165 "tutorial of form recogniser training results in invalid model?"
- **azure-ai-formrecognizer**:
- **1.0.0b3**:
- **Ubuntu 18.04**:
- **3.6.9**:

**Describe the bug**
I'm following the example for training a form recogniser, and yet all I get is invalid models.
The error indicates that there are no labels.
I'm using the example from [the pip package](https://pypi.org/project/azure-ai-formrecognizer/)
with a copy-paste, just changing `endpoint`, `api key` and `co

[2020-06-23 17:00] gsimore commented on #9549
We were able to solve our issue by first calling the subscription client to list all subscriptions available to the tenant, then instantiating a new client for each one, and calling into the galleries api to list all shared gallery images available to each subscription.

[2020-06-23 17:25] kristapratico commented on #12165
Hi @agiokas-dbg

To train with labels, pass in the `use_training_labels` parameter into the `begin_training` method:

[code]

As for the folder hierarchy, I'm looking into this for you.

[2020-06-23 17:38] Petermarcu opened #12166 "Blob Storage SDK hits timeout issue periodically, no indication as to why"
Reported by @Garfinkel. @Garfinkel if you could share more details of the script you used, that would be helpful.

I ran a Python script which uploads a ~30-50mb GZIP file to Azure Blob Storage through the Python SDK (v 12.3.1) using Python 3.7.5 and 3.7.7. The error I receive indicates a timeout issue with no indication why other than "server response error".

We should better indicate when issue

[2020-06-23 17:46] #8327 closed

[2020-06-23 19:57] #12133 closed

[2020-06-23 20:50] kristapratico commented on #12165
@agiokas-dbg

Regarding the file hierarchy, make sure you are specifying the `prefix` argument in order to let the service know which subfolder should be used for training. For example, if you intend to train on the files in the `BE.DIE.filing_confirmation.print.fle` folder then the call to training should look like this:

[code]

Please give it a try and let me know if it resolves your issue.

[2020-06-23 21:04] #12127 closed

[2020-06-23 23:01] #12137 closed

[2020-06-23 23:09] heaths opened #12171 "Change Azure.Search.Documents version to 11.0.0"
For preview 5, change the package / assembly version to 11.0.0. We will GA with that version instead of 1.0.0.

[2020-06-24 00:19] scbedd commented on #12151
This ALL boils down to `virtualenv` updates that break us. Temporarily pinning to `20.0.23` to more fully understand why `20.0.25` doesn't work for us.

[2020-06-24 06:14] kuba-lilz opened #12184 "azure-storage-blob - sas tokens for azurite container invalid in version 2.1.0"
- **Package Name**:
azure-storage-blob
- **Package Version**:
2.1.0
- **Operating System**:
OSX 10.15.5
- **Python Version**:
3.8
**Describe the bug**
sas tokens generated for files stored in azurite container (`arafato/azurite:2.6.5`) are invalid and container returns 403 response.
For same code and data, but with `azure-storage-blob==1.5.0` valid tokens are generated and data can be accessed.
(s

[2020-06-24 07:14] #10215 closed

[2020-06-24 07:21] 00Kai0 commented on #6712
Hi,@lusbyr. you can print table name like this:
[code]
The reoute_table_list you got is an iterator.

[2020-06-24 09:05] agiokas-dbg commented on #12165
@kristapratico Thank you very much! This seems to have worked just fine, I suppose it's a niche case which is why the tutorial didn't cover it. Thank you for your help :+1:

[2020-06-24 09:05] #12165 closed

[2020-06-24 11:19] soderluk opened #12186 "Failure to use `azure-cosmos` on Cosmos DB MongoDB server 3.6"
- **Package Name**: azure-cosmos
- **Package Version**: 4.0.0
- **Operating System**: Ubuntu 18.04
- **Python Version**: 3.6.8

**Describe the bug**
We're using Azure Cosmos DB in MongoDB compatibility mode, server version 3.6.

Using the `azure-cosmos` Python library, we just keep getting 404's all the time, e.g. `CosmosResourceNotFoundError` is raised.

The `azure-cosmos` DOES however work (to s

[2020-06-24 14:20] cccs-jc opened #12188 "Custom Credentials Class only called onced to retrieve AccessToken (no support for user authenticated long running script)"
- **Package Name**:
azure-identity==1.3.1, azure-storage-file-datalake==12.0.1
- **Operating System**:
linux
- **Python Version**:
3.6

**Describe the bug**
The DataLakeServiceClient does not call the custom credentials class get_token method every time it makes an API call. It is thus not possible to have long running scripts which use this client. The AccessToken returned by the custom credentia

[2020-06-24 15:36] chlowell opened #12189 "Remove lazy instantiation of MSAL applications"
`MsalCredential` defers instantiating `msal.ClientApplication` because that class's initializer sends network requests. It will stop doing that in a future version (tracked at AzureAD/microsoft-authentication-library-for-python#187), allowing some simplification of `MsalCredential`.

[2020-06-24 17:14] #10629 closed

[2020-06-24 17:21] kaerm commented on #12186
@soderluk thanks for reporting this, @annatisch, @southpolesteve can you take a look at this

[2020-06-24 17:26] xiangyan99 opened #12191 "on board new test framework and enable live tests for Search"

[2020-06-24 17:28] southpolesteve commented on #12186
@soderluk `azure-cosmos` only supports SQL API accounts. Mongo is not supported. You should use pymongo or another mongo package/tool to interact with Cosmos Mongo accounts.

[2020-06-24 17:28] #12186 closed

[2020-06-24 18:28] lmazuel commented on #12153
I remember @johanste got strong opinions on this, that this list was SDK specific and that we shall not expose a kwarg accessible to customers. Thoughts?

[2020-06-24 18:40] kristapratico opened #12194 "[formrecognizer] Document content_type as accepting str or FormContentType enum"
Try to get this to show up in intellisense.
Trying this is not working for me in pycharm:
`:paramtype content_type: str or ~azure.ai.formrecognizer.FormContentType`

[2020-06-24 20:07] christopheranderson commented on #12186
@soderluk - while this is by design (because while it's technically possible, 999/1000 times folks did this in the past, it broke them so lots of support issues and messy manual data repairs), I'm curious why you're using the SQL API to create a collection for a collection on an account set for MongoDB API. Was there a setting you couldn't do via Mongo API or some thing else that made SQL seem lik

[2020-06-24 20:18] yunhaoling opened #12197 "[Service Bus] Receive prefetch and max_batch_size reconcile"

[2020-06-24 22:01] Rodrigossz commented on #10759
Hello!

I could not reproduce the problem, create_item rejecting the boolean value. But, when I was testing here, I found a similar issue.

Data Explorer isn't keeping True with capital T if you open an item. Please check the attached images.

![ok](https://user-images.githubusercontent.com/11827523/85632130-93ef3d80-b62b-11ea-84d4-9dac0b5e5e64.PNG)

![nok](https://user-images.githubusercontent.co

[2020-06-25 02:31] chenjianfei2017 commented on #10621
hi @changlong-liu  @lmazuel  @kaerm
it was resolved in this pr: https://github.com/Azure/azure-rest-api-specs/pull/9580/files

[2020-06-25 02:44] alecgonzales commented on #11478
Getting the same issue.

[2020-06-25 04:36] xiafu-msft commented on #12166
Hi @Petermarcu

It could because of the max_single_put_size, sometime the first put blob request cannot finish within the specified/default timeout value, set max_single_put_size to a smaller value could be a workaround to fix the problem. We will investigate offline and see how we should modify the SDK.

[2020-06-25 04:38] Petermarcu commented on #12166
Note I filed this on behalf of @Garfinkel

[2020-06-25 06:06] xiafu-msft commented on #12203
azure-storage==0.36.0 is not expected to be here, would you like to create a new virtual environment and do pip install azure-storage-blob to see if your problem could be resolved?

[2020-06-25 11:05] soderluk commented on #12186
@christopheranderson I had some issues with pymongo, not being able to handle the partition keys, if I remember correctly it was in the lines of `document does not contain shard key`.

I tested out with pymongo again, but the issue is that it creates the collection with `Storage capacity: Fixed` while we'd need the Storage capacity to be `Unlimited`. Is there a way with Pymongo to create an unlimi

[2020-06-25 15:10] iscai-msft commented on #12153
As an added note, this would help with how the wrapped code interacts with the new autorest generated code. With this change, we would just be able to pass the kwarg directly to the generated client, instead of having to pass in the `policies` kwarg to the generated client that includes the [list of all the policies](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/azu

[2020-06-25 16:04] johanste commented on #12153
The primary consumer of the allow list is indeed the service specific client library. I don't know of any scenarios where a caller of the library would write code to add more headers to the allow list rather than just enable network level logging. But, as always, I am game for being proved incorrect - so if there are valid scenarios where a user of a client library would need this, I'm all game.

[2020-06-25 17:33] kristapratico commented on #12134
Update: reported this to the service team and they confirmed a fix is coming.

[2020-06-25 21:34] #12151 closed

[2020-06-26 00:55] changlong-liu commented on #10621
Thanks @chenjianfei2017 !

[2020-06-26 00:55] #10621 closed

[2020-06-26 06:55] eavanvalkenburg commented on #3824
Any updates on this?

[2020-06-26 15:46] chlowell opened #12215 "ClientAuthenticationError: Authentication failed: 'NoneType' object has no attribute 'session'"
The version of `msal` released yesterday, 1.4.0, is incompatible with `azure-identity`. A workaround for this error is to manually install `msal` 1.3.0, e.g. `pip install msal==1.3.0`.

[2020-06-26 16:56] iscai-msft commented on #12153
After talking to @lmazuel we have decided to expose property `http_logging_policy` on the Configuration object, which will allow users to individually set the http logging policy without having to pass in the whole [list of policies(https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/core/azure-core/azure/core/_pipeline_client.py#L105).

There will be one PR in azure-core and azure-mgmt-

[2020-06-26 16:57] yunhaoling opened #12217 "[Service Bus] Adjust receive behavior to match .NET's algorithm"
In .NET:
- max wait time is for the first message
- on receipt of the first message, keep receiving for fixed extra time (20ms)
- return
  - the extra wait time expired
  - max batch size reached
  - max wait time expired if no message received

Things to do:
- [x] expose functionality of link credit reset in uamqp
- [x] implement the receive logic in SB
- [x] find the suitable value for the fixed

[2020-06-26 17:42] iscai-msft opened #12219 "[core] whitelist and blacklist -> allowlist and blocklist"
Based on conversations in [this](https://teams.microsoft.com/l/message/19:f6d52ac6465c40ea80dc86b8be3825aa@thread.skype/1592075876181?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1592075876181&teamName=Azure%20SDK&channelName=General&createdTime=1592075876181) teams post

[2020-06-26 18:59] #8391 closed

[2020-06-26 18:59] #11944 closed

[2020-06-26 22:13] #12194 closed

[2020-06-26 22:20] chlowell commented on #12215
This fixed with `msal` 1.4.1.

[2020-06-26 23:09] lmazuel commented on #9634
This package should not have been released :(. @scbedd FYI

This is a starter package for dev on the repo, and is not intendend to be installed as-is, the presence on PyPI is un unfortunate mistake...

[2020-06-26 23:11] lmazuel opened #12223 "Remove azure-template from PyPI"
I have no idea how it went there, but it shouldn't have :(

[2020-06-26 23:11] lmazuel commented on #9634
Closing this issue in favor of the removal one I just created, since we won't publish anything:
https://github.com/Azure/azure-sdk-for-python/issues/12223

[2020-06-26 23:11] #9634 closed

[2020-06-26 23:12] lmazuel commented on #11363
This is a fair feedback for the Swagger definition

[2020-06-26 23:52] lmazuel commented on #4474
One year later my last comment, the current recommendation is to split this clients in two clients, since there is no simple way to make this parameter optional. This would be a Swagger rework.

[2020-06-26 23:55] lmazuel commented on #3824
@kaerm is this team in your backlog of data-plane? There is no swagger but it seems a RestAPI exists.

[2020-06-27 00:02] #11504 closed

[2020-06-27 00:22] kristapratico opened #12226 "[formrecognizer] add api_version"
Client should take keyword argument `api_version`.
Only value accepted currently should be "2.0", throw `ValueError` for anything else. If not passed use lastest version.

[2020-06-27 00:49] prajaktasd commented on #573
Is this resolved yet or one still needs to perform get call by lopping over the list of vms to get the status.

[2020-06-27 01:42] kaerm commented on #3824
@jongio is maps in the inventory?

[2020-06-28 08:46] ms-premp commented on #6403
Yes, we are ready and we have no concerns. Please release a new version.

[2020-06-28 09:14] ms-premp commented on #4362
Please try this example, we are not able to repro this issue.
https://github.com/ms-premp/AzureConsumptionSamples/blob/master/Python_sdk/usage_details_list_python_sdk_example.py

[2020-06-28 09:43] ms-premp commented on #8232
Please see this example
 https://github.com/ms-premp/AzureConsumptionSamples/blob/master/Python_sdk/usage_details_list_python_sdk_example.py

[2020-06-28 14:13] kayousef commented on #8576
Hi @ddu1

Yes, Composite Entities are not being retired and replaced with [ML Entities](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/reference-entity-machine-learned-entity?tabs=V3) that support all features of both Simple Entities and Composite Entities as well.

For more details on how to migrate your existing model if needed, please refer to the documentation [here](https://do

[2020-06-29 00:23] ramaganesan-rg commented on #8232
closing as per Prem's inputs.

[2020-06-29 00:23] #8232 closed

[2020-06-29 00:38] ramaganesan-rg commented on #4362
Closing per above.

[2020-06-29 00:38] #4362 closed

[2020-06-29 00:40] ramaganesan-rg commented on #9687
Closing this issue based on the recommendations given by Prem. Please feel free to re-open this issue if needed, after reviewing the sample shared.

[2020-06-29 00:40] #9687 closed

[2020-06-29 06:48] sreecodeslayer opened #12244 "[websearch] Operation returned an invalid status code 'Resource Not Found' for a valid request"
- **Package Name**: `cognitiveservices/search/websearch/`
- **Package Version**: `2.0.0`
- **Operating System**: `macOS Mojave [10.14.5 (18F132)]`
- **Python Version**: `3.7.2`

**Describe the bug**
Search api call returns `Operation returned an invalid status code 'Resource Not Found'`

**To Reproduce**
I was following [this quickstart guide](https://docs.microsoft.com/en-us/azure/cognitive-servi

[2020-06-29 15:42] xiangyan99 commented on #12191
Enabled

[2020-06-29 15:42] #12191 closed

[2020-06-29 15:43] xiangyan99 commented on #12171
Fixed in #12154

[2020-06-29 15:43] #12171 closed

[2020-06-29 15:44] iscai-msft opened #12245 "[core] remove __init__ file from async tests"

[2020-06-29 16:45] alexcombessie commented on #11875
Hi @kristapratico !

I hope all is well. Do you have an update on the timeline?

Thanks,

Alex

[2020-06-29 16:54] yunhaoling commented on #10343
Some extra context: In recent user study sessions, most users don't complain about the double "with" statement as the pattern is introduced in readme/sample smoothly.

Let wait for more feedback on this.

[2020-06-29 16:55] yunhaoling commented on #12197
duplicate issue:

https://github.com/Azure/azure-sdk-for-python/issues/12197

[2020-06-29 16:55] #12197 closed

[2020-06-29 17:01] MonikaReddy-MSFT opened #12246 "Not able to retrieve azure service principal password using azure sdk for python"
From Customer Question - https://github.com/MicrosoftDocs/azure-docs-cli/issues/2052

Is there a way to retrieve azure service principal password using azure sdk for python? I am creating service principal using following but service principal create response has empty password.

def create_azure_service_principal(self, app_name=None):

    app = self.graphrbac_client.applications.create({

[2020-06-29 17:04] ramaganesan-rg commented on #6403
closing as per Prem's comments. thank you!

[2020-06-29 17:04] #6403 closed

[2020-06-29 17:08] yunhaoling commented on #4248
closing duplicate issue.
please uset the issue: https://github.com/Azure/azure-sdk-for-python/issues/11444 to track the progress.

[2020-06-29 17:08] #4248 closed

[2020-06-29 17:08] yunhaoling commented on #10714
closing duplicate issue.
please uset the issue: https://github.com/Azure/azure-sdk-for-python/issues/11444 to track the progress.

[2020-06-29 17:08] #10714 closed

[2020-06-29 17:38] praveenkuttappan commented on #12075
This requires an update in guidelines. Python version comparison requires dev version to be appended to actual version so version comparison works fine. If z dev version for preview version X.Y.Zb1 is set to X.Y.Z.devYYYYMMDDrrr then this dev version will be considered latest even if preview version is released. To comply with this comparison logic, we have set dev version to X.Y.ZbN.devYYYYMMDDrr

[2020-06-29 19:40] ramaganesan-rg commented on #11920
closing the issue per comments above. you are welcome to reopen this if needed. thank you for your feedback!

[2020-06-29 19:40] #11920 closed

[2020-06-29 20:53] kaerm commented on #3824
Confirmed, this is accounted for in our data-plane SDK backlog, but no ETA as for now

[2020-06-29 21:00] kristapratico commented on #11875
Hi @alexcombessie - I don't have an update for you yet, but I'll be sure to post here when I do have information I can share. Thank you for being patient. :)

[2020-06-29 21:03] ramaganesan-rg commented on #11777
Removed "Subscription" tag. This should belong in Management Group

[2020-06-29 21:25] assafi commented on #11875
Not yet unfortunately. We will be having at least one additional preview iteration very soon, adding support for different offset interpretations (e.g. offsets in UTF8 code points vs code units) and built-in redaction capability. We also still need to iterate on the SDK itself. I would assume that it will be around the Fall of 2020 before we would GA it, but can't really give a hard date ATM.

[2020-06-29 21:59] erikanderson opened #12250 "Diagnostic Setting Azure B2C - Resource provider not supported: microsoft.azureactivedirectory"
- **azure.mgmt.monitor**
- **0.10.0**
- **OSX**
- **3.8.3**

**Describe the bug**
Listing of diagnostic settings in Azure AD B2C doesn't seem to be possible.

**To Reproduce**
Steps to reproduce the behavior:
1. Get credential and attempt to list diagnostic settings
[code]
2. Receive error:
[code]
**Expected behavior**
List of diagnostic settings is returned

**Additional context**
Working from th

[2020-06-29 22:24] erikanderson commented on #12250
Got the same thing when I tried using the same subscription/account/etc here:
https://docs.microsoft.com/en-us/rest/api/monitor/diagnosticsettings/list
[code]
So not limited to this SDK, closing

[2020-06-29 22:24] #12250 closed

[2020-06-29 22:57] lmazuel commented on #12246
@yugangw-msft may I pull your memory here, even if I know you didn't use that SDK for a long time now :)

[2020-06-29 22:58] #12153 closed

[2020-06-30 02:05] KieranBrantnerMagee commented on #11751
Hey Hazhzeng,
Sorry you ran into this trouble;  you're not wrong that this isn't surfaced anywhere super obvious; the way you're setting broker_properties is for the legacy HTTP implementation of this library.

For 0.50, I would point you [here](https://docs.microsoft.com/en-us/python/api/uamqp/uamqp.message.messageproperties?view=azure-python#variables) namely at the content_type property; that y

[2020-06-30 02:05] #11751 closed

[2020-06-30 10:07] tohnperfect opened #12262 "Cannot upload images to a customvision project"
- **Package Name**: azure-cognitiveservices-vision-customvision
- **Package Version**: 3.0.0
- **Operating System**: Ubuntu 18.04
- **Python Version**: 3.6.9

**Describe the bug**
I tried to follow https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/quickstarts/object-detection?pivots=programming-language-python to upload my image to the project.

I got this error

`msr

[2020-06-30 15:14] iMicknl opened #12264 "RecognizedForm is not serializable"
- **Package Name**: azure-ai-formrecognizer
- **Package Version**: 1.0.0b3
- **Operating System**: Linux (Azure Durable Functions)
- **Python Version**: 3.7.7

**Describe the bug**
Using Azure Functions, it is hard to work with Form Recognizer SDK since you can not pass the result of the call to another function.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `begin_recognize_custom_for

[2020-06-30 16:50] kristapratico commented on #12264
Hi @iMicknl

I'm looking into this for you. In the meantime could you try this and see if it works for you:

`recognized_form_json = json.dumps(recognized_form, default=lambda x: x.__dict__)`

[2020-06-30 16:50] kurtzeborn commented on #12223
@lmazuel this package is used for testing purposes with our release pipeline.  @weshaggard and I are thinking we'd want to keep it there so we can continue testing with it when we're trying new things with releases.  Is there a way to hide it or something instead of deleting it?

@scbedd, are we off on this?  It seems like we'd want it around to test with.

[2020-06-30 17:33] iMicknl commented on #12264
@kristapratico thanks, that works. I would have expected to have something in the class making it JSON serialisable by default, but not sure if this is default behaviour in Python.

Thanks for tagging it as a feature request @lmazuel.

[2020-06-30 17:42] areddish commented on #12262
@tohnperfect Thanks for the feedback. Yes, the latest python SDK updated the signature for create_images_from_files to take an ImageFileCreateBatch instead of the list of images & tags. You'll need to add an import for the ImageFileCreateBatch class and change the last line to:

[code]

I've submitted a PR to update the documentation.

[2020-06-30 17:55] iMicknl commented on #12264
@kristapratico my follow up request / question would be if it is possible to serialize it back to a `List[RecognizedForm]`? So you can use the typed object again.

[2020-06-30 18:11] scbedd commented on #12223
It really does help to have a test all the way to publish (versus checking that the appropriate wheels are _present_ and then exiting early).

I am perfectly ok with `yanking` all the available versions of it.

[2020-06-30 18:12] #11308 closed

[2020-06-30 18:13] #11309 closed

[2020-06-30 18:30] lmazuel commented on #12223
It's publicly available to customer, clearly creates confusing since the Readme are not saying anything about the intent of the package. But I do understand the value to test it, there was a PyPI test server at some point:
https://packaging.python.org/guides/using-testpypi/

If you want a package to test, I would do a azure-test or something with explicit readme that says it's not for any usage an

[2020-06-30 20:52] kristapratico commented on #12264
@iMicknl glad that worked for you. Can you help me understand the scenario a bit better and why you'd like to serialize it back to a `List[RecognizedForm]`?

Not sure if this addresses your issue completely, but you can pass keyword argument `raw_response_hook` with a callback function into `begin_recognize_custom_forms_from_url` to get both the JSON and `RecognizedForm`:

[code]

[2020-06-30 21:12] iMicknl commented on #12264
I am building a pipeline for various Form Recognizer tasks using Azure Durable Functions for Python. (
[architecture](https://user-images.githubusercontent.com/1424596/86175222-3bd0a380-bb23-11ea-9626-2c840df5a64b.png)). Every step is in a different Activity Function, where data will be passed to by the orchestrator.

My idea of serialising it back was only to make the code more readable and type

[2020-06-30 21:54] #9897 closed

[2020-06-30 22:01] kristapratico commented on #12264
Very cool! Thank you for explaining and sharing how you're using the SDK. :)

Just wanted to call out - the Form Recognizer SDK does support aiohttp, you can find the clients under the `azure.ai.formrecognizer.aio` namespace. And here are some [samples](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples) you can take a look at

[2020-06-30 22:29] kristapratico opened #12274 "[formrecognizer] more renames to allow for non-text elements"
Addresses these issues:

1) The problem with the naming of FieldText for things that can be labeled and/or returned that are non-text
2) The issue regarding the naming of properties valueText and labelText being objects, not text

Property renames:
labelText -> labelData
valueText -> valueData
text_content -> field_elements

Model renames:
FieldText -> FieldData
FormContent -> FormElement

Paramet

[2020-06-30 22:34] weshaggard commented on #12223
I agree we could probably add a note in the readme to make it clear but we have this azure-template package for all the languages which is used as a starting point for new libraries and we also use it for testing E2E to our package managers, while testpypi is helpful in some cases we still like to have something to test exactly how we plan to release.

@lmazuel what about just hiding it on pypi?

[2020-06-30 22:35] kristapratico opened #12275 "[formrecognizer] ux study item: point to examples from key concepts"
since people were having trouble finding examples

[2020-06-30 22:38] kristapratico opened #12276 "[formrecognizer] support container local file paths"
still waiting for v2.0 container to be ready for testing.

per Johan - make sure that, to the extent that the service supports file paths, we don't do any client side validation that would incorrectly reject a call that the service would have accepted/the call would have succeeded.

[2020-06-30 22:39] kristapratico commented on #11882
Spun off new issues for anything pending, closing this issue

[2020-06-30 22:39] #11882 closed

[2020-06-30 22:42] kristapratico opened #12277 "[formrecognizer] Consider adding a training duration"
Idea brought up in arch board.

This would be `training_completed_on` - `training_started_on`. Need to understand if this is something users want/need.

[2020-06-30 22:43] kristapratico commented on #11881
Spun off anything pending into new issue, closing this

[2020-06-30 22:43] #11881 closed

[2020-07-01 01:55] tohnperfect commented on #12262
Thank you! I worked now.

[2020-07-01 01:55] #12262 closed

[2020-07-01 07:20] cxznmhdcxz opened #12296 "[identity] azure-identity1.4.0b5 and azure-cli are incompatible"
- **Package Name**: azure-identity
- **Package Version**: 1.4.0b5
- **Operating System**: Docker container
- **Python Version**: python:3.8-slim-buster

Working on identity E2E tests in containers.
I need to use `azure-identity==1.4.0b5` (currently latest release) in a container, which includes `AzureCliCredential`, together with `azure-cli`.
However, if I first install `azure-identity`, and then

[2020-07-01 16:27] chlowell commented on #12296
Well, pip is correct here, `azure-identity` really does have those requirements 😄

If you install these packages together, pip will choose the more recent `msal` and `msal-extensions` versions. It will still warn about incompatibility but you'll get versions that work with `azure-identity` and probably also with `azure-cli` (no guarantee though):
[code]

Do you need to install `azure-cli` into you

[2020-07-01 16:56] xiangyan99 opened #12305 "advanced Batch feature"
More details to come..

[2020-07-01 17:42] praveenkuttappan opened #12306 "Dev build package is missing if required package is not released"
Dependency test needs a required package in PyPI or devops feed. CI is failing if required package is missing in both locations. Daily dev build version of this package is not getting uploaded to devops feed if CI is failing and if package is not available in devops feed then CI is failing. This causes a circular failure.

for e.g. azure-core 1.7.0 is required by azure-mgmt-core. azure-core versio

[2020-07-01 18:08] KieranBrantnerMagee commented on #12085
This went in with the aforementioned commit, should be addressed.  Thanks again for reaching out!

[2020-07-01 18:08] #12085 closed

[2020-07-01 18:46] kristapratico opened #12308 "Release Form Recognizer Track 2 Python Preview 5"

[2020-07-01 18:50] iMicknl commented on #12264
@kristapratico should I close this issue? Or is it a valid issue and will you use it for tracking to make sure that RecognizedForm is serialisable out of the box?

[2020-07-01 18:56] kristapratico commented on #12264
Thanks for checking, let's leave the issue open as a feature-request.

[2020-07-01 19:07] LibbaLawrence opened #12309 "Create sync client/service client second iteration"

[2020-07-01 19:08] LibbaLawrence commented on #12309
Add PR info and design meeting info

[2020-07-01 19:08] LibbaLawrence opened #12310 "Look into encryption tests"

[2020-07-01 19:09] LibbaLawrence opened #12311 "[Table] Table SDK Python Epic #3"
#12309
#12310
#11310
#12336
#12379

[2020-07-01 19:12] #11311 closed

[2020-07-01 19:13] #12275 closed

[2020-07-01 22:32] kristapratico commented on #11883
Service intends to update the error messages so we will not update in the SDK. Linked .NET issue has details.

[2020-07-01 22:32] #11883 closed

[2020-07-01 23:40] YijunXieMS opened #12318 "[Service Bus] Avoid token in swagger file url"
The [swagger](https://raw.githubusercontent.com/YijunXieMS/azure-rest-api-specs-pr/servicebus_mgmt/specification/servicebus/data-plane/servicebus-swagger.json?token=ALQFVABEGSXQX2IEVU26V2K7AYZ4K) is now in a forked repo. The URL has a token. We need to find out whether this token will expire, and why we need this token while storage swagger doesn't need the token.
Possible reason is storage swagge

[2020-07-02 00:35] kristapratico opened #12321 "parameters not showing up in function signature on github.io"
e.g. https://azuresdkdocs.blob.core.windows.net/$web/python/azure-ai-formrecognizer/1.0.0b3/azure.ai.formrecognizer.html#azure.ai.formrecognizer.FormRecognizerClient.begin_recognize_content

This has a parameter `form` which is documented but does not show up in the function signature.

Edit: this seems to be more systemic. Similar issues in text analytics (see 1.0.0b6 -> 1.0.0) docs and storage

[2020-07-02 01:14] scbedd commented on #12321
This is, in fact, a generic issue:

https://azuresdkdocs.blob.core.windows.net/$web/python/azure-storage-blob/12.3.2/azure.storage.blob.html#azure.storage.blob.BlobClient.download_blob

[2020-07-02 02:32] cxznmhdcxz commented on #12296
I install `azure-identity` in the last place and for now it is fine for me. Thank you.

[2020-07-02 02:32] #12296 closed

[2020-07-02 04:11] southpolesteve commented on #11643
Relabeling this as a bug. The cross partition query code has some bugs around edge cases and properly accounting RUs. I have hit these in JavaScript as well.

[2020-07-02 04:13] southpolesteve commented on #11689
Relabeling this as a bug. Partition Key Range Id shouldn't be exposed here. We should instead be accepting a partition key and change feed is scoped to a single partition key value. Cross partition change feed is something we would eventually like to support, but it requires some additional work.

[2020-07-02 04:43] scbedd commented on #12321
Will resolve after updating existing documentation.

[2020-07-02 07:48] praveenkuttappan opened #12332 "Verify change log step in release is failing for nspkg packages"
Laurent has reported an issue in releasing azure-synapse-nspkg and noticed two issues causing this.

##1. New change log verification code is failing to load script.devops_tasks.common_tasks module.
[code]

[2020-07-02 08:41] shawncx commented on #12246
@MonikaReddy-MSFT In my understanding, password cred should belongs to app, but not sp. You can get the password when you first create the app

[2020-07-02 10:55] Lilja opened #12335 "HttpOperationError is not defined for logic app workflow trigger"
- **Package Name**: azure-mgmt-logic
- **Package Version**: 3.0.0
- **Operating System**: N/A
- **Python Version**: N/A

**Describe the bug**
The exception is not imported for this file: https://github.com/Azure/azure-sdk-for-python/blob/aff33bd40c12b16ec3eeaf9ccb7925f884a8a913/sdk/logic/azure-mgmt-logic/azure/mgmt/logic/operations/workflow_triggers_operations.py#L287

[code]

[2020-07-02 13:08] tapatel commented on #12246
@shawncx Following is app creation response. We don't see password field in there.

Looking at Azure CLI doc, We get app id and password when we create ServicePrincipal. So we want to know following :

Using Azure sdk/api :
1) how do we create  service principal  to get app_id and password?
2) How to retrieve the existing service principal password?
3) How to reset the existing ServicePrincipal pa

[2020-07-02 13:18] LibbaLawrence opened #12336 "Fill in README and remove references to queue"

[2020-07-02 15:39] xiangyan99 commented on #11914
Fixed in #11915

[2020-07-02 15:39] #11914 closed

[2020-07-02 15:45] xiangyan99 commented on #11081
Fixed in #10840

[2020-07-02 15:45] #11081 closed

[2020-07-02 15:46] xiangyan99 commented on #11738
Fixed in #11914. Will be available in July's release.

[2020-07-02 15:46] #11738 closed

[2020-07-02 16:02] xiangyan99 opened #12341 "Broken links in azure-core-tracing-opencensus readme"
In Troubleshooting section.
the Azure Core exception link is broken.

[2020-07-02 16:07] #12274 closed

[2020-07-02 16:14] #12341 closed

[2020-07-02 17:48] kristapratico opened #12347 "[textanalytics] add api_version"
Add api_version keyword argument to TextAnalyticsClient and validate user-passed versions. Should default to latest version if none specified.

[2020-07-02 17:52] #11444 closed

[2020-07-02 17:52] #11863 closed

[2020-07-02 18:00] yunhaoling opened #12348 "[ServiceBus] Received message resendable"

[2020-07-02 19:01] kaerm commented on #12335
Thanks @Lilja for reporting this, @nickzhums can you take a look at this?

[2020-07-02 20:44] lmazuel commented on #12223
@weshaggard  I don't think you can hide it. You can delete it probably after each release though and recreate it each time. Yanking the releases is not enough, since the project page will still be there.

I would still investigate testpypi, it's really designed to be the same thing, with just a url difference and that's it.

[2020-07-02 20:56] weshaggard commented on #12223
Yeah I couldn't figure out how to hide the package but pypi, unlike other package managers, does allow you to delete a package. So I suggest we simply delete the package now and anytime after we finish our testing. We should also be able update the readme with some text telling folks this is just a test package for the time it does show up on pypi.

While we could use another package for publishin

[2020-07-02 21:06] lmazuel commented on #12223
@weshaggard if you manually delete it each time that's fine to me ;)

[2020-07-02 21:09] weshaggard commented on #12223
That seems doable as we don't test this all the way to pypi often. @praveenkuttappan @scbedd can you guys delete the template package from pypi after you are done testing its publishing?

[2020-07-02 22:44] aliyevmirzakhan opened #12353 "[Azure Event Hub]- Sending Event Message with Partition Key of type int is DANGEROUS"
Hi, a few days ago I wrote script that sends the real time events to Event Hub. I used Azure Durable Functions to implement parallelism, and in doing so I used partition_key to ensure events with same id is directed to same partition. For some reason I thought the key can be single number and thus I used int types as partition keys, and while sending I never had any error about it. Later I impleme

[2020-07-02 23:32] scbedd commented on #12223
@weshaggard Yep. 100%. I'll close this item after we execute on this.

[2020-07-02 23:51] #12092 closed

[2020-07-03 03:35] scbedd opened #12358 "Enhance Release Changelog Verification"
We enabled changelog verification during patch in #12271

I admit I understood this to mean verification that a changelog entry was _present_, but not that it enforced the date as stringently as it does.

Right now we attempted to [release](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=446651&view=logs&j=03d6a537-e695-54b7-ecf3-7b333a8a48cc&t=e59c6d37-1f37-5e47-6959-bfa16e54a6d6)

[2020-07-03 03:47] chidozieononiwu commented on #12358
Sorry about this.
I can update the logic to allow a +or -1 day grace for the changelog date.

[2020-07-03 04:22] scbedd commented on #12358
Do you know if the behavior changes for when the second stage is approved?  That would be awesome if so!

I think your proposal works though! Waiting for the others to chime in.

[2020-07-03 05:32] chidozieononiwu commented on #12358
I have a PR that verify the changelog using the BuildNumber which contains the date the pipeline was queued https://github.com/Azure/azure-sdk-tools/pull/755/files

[2020-07-03 17:17] lmazuel commented on #12358
Side note (troll mode / devil's advocate): why do we even bother to check the date in the ChangeLog is the same as the current day? Is that a so common error? Does the effort to make it work really outbalance the potential (and real in this case) bugs that it brings?
In all matter, I think I would suggest as @scbedd to support a buffer of date. I think @scbedd has an excellent summary of why tryin

[2020-07-05 14:09] ndjido commented on #12145
@timMSFT , Hi there! Any update about this issue?

[2020-07-06 02:20] changlong-liu commented on #12335
Hi @lmazuel , this looks like a codegen issue since HttpOperationError is not imported.  Would you help to have a look, thank you!

[2020-07-06 06:29] Juliehzl commented on #10774
could you also add `x-ms-lease-time`?

`azure.core.pipeline.policies.http_logging_policy :     'x-ms-lease-time': 'REDACTED'`

[2020-07-06 09:02] terrycain opened #12368 ""Error validating token: IDX10223" Whilst getting a KeyVault secret"
- **Package Name**: azure-keyvault-secrets
- **Package Version**: 4.1.0
- **Operating System**: Ubuntu 20.04
- **Python Version**: 3.8

**Describe the bug**
After some period of time, running the following will return an error
[code]

Stacktrace
[code]

**To Reproduce**

Unknown, it happens after a few hours/days, I've had this happen in 3 different environments now,

**Expected behavior**
I expec

[2020-07-06 11:46] howardjones opened #12370 "parsing incorrect for network_profile in container_group.create_or_update()"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

Ubuntu 18 LTS
Python 3.8.0
azure-mgmt-containerinstance 1.5.0
azure-mgmt-network           11.0.0
azure-core 1.6.0

**Describe the bug**
Container Instance SDK incorrectly finds error with object produced by networks SDK.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a NetworkProfile object wit

[2020-07-06 16:58] #11960 closed

[2020-07-06 16:58] #10934 closed

[2020-07-06 16:59] #12217 closed

[2020-07-06 17:10] kristapratico opened #12375 "[formrecognizer] switch to testing GA endpoint"

[2020-07-06 17:14] kaerm commented on #12353
@aliyevmirzakhan thanks for reporting this, @yunhaoling, @YijunXieMS can you take a look at this?

[2020-07-06 17:16] kaerm commented on #12370
Thanks @howardjones for reporting this, @nickzhums can you take a look at this?

[2020-07-06 17:24] weshaggard commented on #12358
I suggest we don't verify a specific date but instead only verify that it is a date and not "(Unreleased)". I don't believe there is much value in being strict about the specific date because builds might need to back or future date for different reasons, lets leave this up to the developer authoring the changelog.

[2020-07-06 17:26] iscai-msft opened #12376 "[keyvault] improve multi api test coverage"
- [ ] add calls for each instantiation of a client with a different API version and ensure the correct API version is passed through
- [ ] test getting new features on older API versions to ensure that it's handled correctly
- [ ] potentially run all tests against every API version like .NET (link [here](https://teams.microsoft.com/l/message/19:7b87fb348f224b37b6206fa9d89a105b@thread.skype/1594056

[2020-07-06 17:38] iscai-msft opened #12377 "September release of KeyVault for Python"

[2020-07-06 17:42] scbedd commented on #12358
Assigning to Dozie, as he has a PR open over [here](https://github.com/Azure/azure-sdk-tools/pull/755).

[2020-07-06 17:44] #11303 closed

[2020-07-06 17:44] #11301 closed

[2020-07-06 17:47] LibbaLawrence opened #12379 "ArchBoard design meeting"

[2020-07-06 18:01] yunhaoling commented on #12353
Hello @aliyevmirzakhan ,

May I ask first confirm which language and what version of the EventHub sdk are you using?

Because from the error information `Unable to cast object of type 'System.Int32' to type 'System.String`, it looks like you're using  EventHub sdk of .NET, while this repo mainly focuses on Python SDKs.

[2020-07-06 18:54] johanste opened #12381 "Azure speech SDK compliance with Python design guidelines"
- Missing sdist on PyPi
- Callbacks on non-main thread
- No Python 2.x support
- Callback-happy - we should look at alternate patterns (including iterators and decorated dispatch methods for long-running tasks)

Code style:
- Too many positional parameters where position is not logical (e.g. `AudioConfig.__init__`)
- `isinstance` checks e.g. `get_property` checks for `PropertyId` enum as opposed t

[2020-07-06 18:58] chlowell commented on #12368
It's no consolation to you I'm sure, but this is an interesting bug 😄

IDX10223 means the client sent an expired access token. This is unexpected because if a token appears to be expired or expiring within 5 minutes, the client will ask for a new one. If that failed, you would see a different error. It is possible for the client to send an expired token, however, because it will use a new token on

[2020-07-06 19:23] kaerm commented on #12381
cc: @robch

[2020-07-06 19:53] datascinerd opened #12392 "Throwing an error using Cognitive Services Custom Vision"
I'm getting an error attempting to train a model using Custom Vision. My code hasn't changed in several months and worked as late as 6/9/2020. It seems to be attempting string functions against Custom Vision objects.

The images in question are URLs stored in a Pandas dataframe.

  for index, row in train.loc[train['audit_label'] == tag].iterrows():
    trainer.create_images_from_urls(project.id,

[2020-07-06 20:00] datascinerd opened #12383 "Throwing an error using Cognitive Services Custom Vision"
I'm getting an error attempting to train a model using Custom Vision. My code hasn't changed in several months and worked as late as 6/9/2020. It seems to be attempting string functions against Custom Vision objects.

The images in question are URLs stored in a Pandas dataframe.

for index, row in train.loc[train['audit_label'] == tag].iterrows():
trainer.create_images_from_urls(project.id, [Image

[2020-07-06 21:31] chidozieononiwu commented on #12358
Fixed with [PR](https://github.com/Azure/azure-sdk-tools/pull/755)

[2020-07-06 21:31] #12358 closed

[2020-07-06 22:29] iscai-msft opened #12389 "[text analytics] improve error for too many documents"

[2020-07-06 23:07] #9866 closed

[2020-07-07 00:29] t-swpill opened #12393 "EventGrid - Sprint 3 - Prototyping EventGrid Python Track2"
Design (1 week)

* Create Convenience Layer API and samples to meet the following champion scenarios/customer reqs. :
  - [x] publish EGEvent/CloudEvent to topics
  - [x] publish EGEvent/CloudEvent to domain topics (takes in the same params as custom topics)
  - [x] publish EGEvent/CloudEvent to partner topics (not needed for single users, only partners. same as custom topics)
  - [x] ~~publish EG

[2020-07-07 02:34] nickzhums commented on #12370
@RodgeFu to take a look, thanks!

[2020-07-07 06:30] dw511214992 commented on #12370
Hi @howardjones
When creating ContainerGroup,  you input `network_profile_created`, whose type is `NetworkProfile`. However, python sdk asks to input type `ContainerGroupNetworkProfile`. Please try again.

[2020-07-07 13:45] terrycain commented on #12368
Thanks @chlowell, I've done some digging around the cluster and verified all the clocks are in sync. I also noticed it happened across multiple clusters in short succession which roughly followed the order in which I deployed the containers so I'm thinking that it was given an expired token by aad-pod-identity. It works at first so a cached expired token makes sense to me. I'll go bug those guys a

[2020-07-07 15:55] andersbogsnes opened #12405 "Document which exceptions are raised for what events."
**Is your feature request related to a problem? Please describe.**
When I build libraries on top of Azure SDKs, I need to know what exceptions are thrown for what cases, so that I can catch the relevant ones and handle them. I'm mainly having this issue with Azure Blob Storage v12 at the moment

**Describe the solution you'd like**
Some form of documentation indicating where the various exceptions

[2020-07-07 16:12] lmazuel commented on #10774
Closing this issue, since the remaining headers are storage specific and there is issue #10960 for that

[2020-07-07 16:12] #10774 closed

[2020-07-07 16:14] lmazuel commented on #12335
Created an autorest issue https://github.com/Azure/autorest.python/issues/703

[2020-07-07 16:42] KieranBrantnerMagee opened #12407 "Release Service Bus Track 2 Library Preview 5 for Python"
Note: These items subject to change post cross-language sync and priority alignment.

**Design**
* [x] max wait time/idle time overloads and naming given dual generator design.
* [x] ATOM API Integration (class name, standalone or get from main client?)
* [x] ATOM API update, should use distinct class from create for non-writeable fields?
* [x] ATOM API runtime vs. description properties, should a

[2020-07-07 16:52] datascinerd commented on #12392
I've been able to confirm that this issue is with Custom Vision 3.0 and not msrest.

[2020-07-07 16:52] #12392 closed

[2020-07-07 16:58] lmazuel commented on #12335
@RodgeFu @changlong-liu This is a Swagger issue that is fixed in https://github.com/Azure/azure-rest-api-specs/pull/8934
You can decide to re-ship a stable version 3.1.0 or 3.0.1 using autorest v4 of latest swagger in order to fix this issue

[2020-07-07 17:09] chlowell commented on #12048
The fix is available now in azure-identity 1.4.0b6. Thanks again for opening this issue.

[2020-07-07 17:09] #12048 closed

[2020-07-07 17:17] kaerm commented on #12405
@andersbogsnes thanks for reporting this,
cc: @lmazuel maybe there is something we could do here across the libraries?

[2020-07-07 17:24] #12215 closed

[2020-07-07 17:38] johanste commented on #12353
I believe the issue is more likely somewhere in the azure event hubs binding for functions. I don't know the protocol well enough to definitively state if an integer is a valid partition key or not - but if my understanding is correct, the value gets transmitted all the way to the receiver, which would imply that it is.

[2020-07-07 18:35] lmazuel opened #12410 "Support params as list for exploding parameters"
When doing a call like this:
[code]
We are coming here:
https://github.com/Azure/azure-sdk-for-python/blob/194ae8dd5ea80ccc3304e9ba463ccb8055a9f9f3/sdk/core/azure-core/azure/core/pipeline/transport/_base.py#L288-L305

We should accept a list of string as params for instance `{'a':['b','c']}`, and explode the parameters in that case: `a=b&a=c`

FYI @johanste

[2020-07-07 18:36] #11129 closed

[2020-07-07 18:43] #12121 closed

[2020-07-07 18:52] #11336 closed

[2020-07-07 19:12] KieranBrantnerMagee commented on #11983
Closing this with the hope/assumption that the prior response was useful; don't hesitate to reopen or reach out again if any further questions or issues with what was provided.

Thanks as always!

[2020-07-07 19:12] #11983 closed

[2020-07-07 19:19] LibbaLawrence opened #12411 "Figure out version of SDK"

[2020-07-07 19:58] KieranBrantnerMagee opened #12412 "Design ATOM api integration"
There are two approaches to integrating the management API.

1. Standalone client, as we had via control client
2. a getter/creator off of the core ServiceBusClient (e.g. as if it was a receiver.)

Create proposal, OK past architects, align with broader SDK family.

(To transfer mental state into this ticket, the one big concern about 2 was that you now have 2 "levels' of potentially conflicting-s

[2020-07-07 19:59] KieranBrantnerMagee opened #12413 "ATOM API runtime vs. description properties, should any move from former to latter"
Currently service bus mgmt APIs return two different entity-description blobs, runtime properties and description properties.

Align with broader SDK family on if these settings are divided properly, if needed proposal->architects etc.

[2020-07-07 20:00] KieranBrantnerMagee opened #12414 "ATOM API update, should use distinct class from create for non-writeable fields"
Should we limit the fields that we allow to be updateable when performing an Update operation vs Create?
(to better communicate to a user that certain fields cannot be changed and will error)

[2020-07-07 20:02] #11889 closed

[2020-07-07 20:04] KieranBrantnerMagee opened #12415 "Servicebus Track2 Consistency review"
Perform consistency review with broader SDK family.  Make any changes as needed.

as of 8/12 consistency review was performed, summarized outcome:

Design topics:
- [x] Create a roadmap for if post-GA "change property on deadletter" was implemented, to ensure it will fit nicely in our current plan. (no backcompat issues, etc.)
- [x] create_queue_receiver vs get_queue_receiver (Keeping get; precede

[2020-07-07 20:05] KieranBrantnerMagee opened #12416 "Servicebus Track2 Implement ReceiveForever/GetIterator"

[2020-07-07 20:09] KieranBrantnerMagee opened #12417 "Servicebus Track2 Ensure consistent top level message properties with other language SDKs (e.g. label, content type, etc)"
Currently Python does not provide all top-level types as other languages on our Message objects.
(e.g. lacking Label, content_type)

Normalize on this.  Ensure approach has buyin from architects.

[2020-07-07 20:35] KieranBrantnerMagee opened #12419 "Servicebus Track2 UAMQP may need changes to support not closing receiver when generator terminates."
Truth in advertising.  We've been relying on lazy-reopening to ensure a user could consume the generator, interrupt, then resume consumption, but it might be a more proper semantic to simply not close it unless explicitly closed (or the context manager ends).

This may require UAMQP-side changes as well.

[2020-07-07 21:06] jsquire commented on #12353
Hi @aliyevmirzakhan.   Would you be so kind as to help clarify a bit more about your scenario so that we can make sure to get the right folks involved to assist?  It would be helpful to understand:

- How is the event being published to Event Hubs?  The .NET SDKs only allow a `string` to be used as a partition key when publishing events, so it would seem that the event is being published using som

[2020-07-07 21:16] donets420 opened #12422 "tags on subscription level"
Hi team,
I am trying to find method to return list of all available tags on subscription level.
SubcriptionClient(azure.mgmt.subscription) doesn't have this information.

Is it possible to grap this information?
Thanks in advance!

[2020-07-07 21:24] kristapratico commented on #11450
released 1.0.0b4

[2020-07-07 21:24] #11450 closed

[2020-07-07 21:29] YijunXieMS commented on #12353
@johanste Yes the protocol supports string, int (and maybe other types) from our test.
We decided to make it a string for all languages back then. Python has type annotation and documentation to indicate it's a string like below.
[code]
But we don't raise an error when a user passes an int. If we add the validation now, is this regarded as a break change?

[2020-07-07 21:31] johanste commented on #12353
What does the *service* support?

[2020-07-07 21:32] leonbrag opened #12423 "Azure Table Api ignore timeout, when wrong host name is used"
- **Package Name**:

azure-common==1.1.25
azure-core==1.6.0
azure-cosmos==4.0.0
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.6
azure-nspkg==3.0.2

Windows 10

Python 3.7.3

Following code connect to the purposely wrong account:

[code]

Even though socket_timeout and timeout specified as 3 seconds, APIs takes a very long time to timeout (much more then 3 seconds)

Here is the error, as ex

[2020-07-07 21:42] jsquire commented on #12353
The service contract is not formally documented, to my knowledge.  The closest that I'm aware of is the [AMQP 1.0 in Azure Service Bus and Event Hubs protocol guide](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-protocol-guide#message-annotations), which does not contain formal type information.   The entry for the [PartitionKey](https://docs.microsoft.com/en-us/dot

[2020-07-07 21:57] #11850 closed

[2020-07-07 21:58] #12332 closed

[2020-07-07 22:12] ramya-rao-a commented on #12353
Partition Key is set in the message annotations part of the AMQP message which is essentially a map i.e key-value pair. The type of the value is retained. Therefore, if user passes a non string value for partitionKey and the client passes it along as is, the service will receive the message with partition key as a non string value.

The service does not seem to have any issues with such a message.

[2020-07-07 23:37] YijunXieMS opened #12426 "Release Event Hubs August 2020 update for Python"
This is a parent issue tracking the work planned for Event Hubs for the August 2020 update.
Code complete date: July 31st, 2020

## API design
- [ ] Use autorest to generate code for schema registry, decide package, client naming, etc. #12559

## Features
- [ ] Idempotent event hub producer. #12428

## Test
- [x] Remove Event Hubs live test dependency on ServiceBus SDK #12429

[2020-07-07 23:45] YijunXieMS opened #12427 "[Event Hubs] Idempotent producer"
Feature spec (.NET Design Proposal): https://gist.github.com/jsquire/1cc4db6b3ca4ef13d26dc5315483555b
Python gist: https://gist.github.com/yunhaoling/c17ddd3c1bfbe5c4ba156a8eb0e54e7d
.NET Sample gist: https://gist.github.com/jsquire/0f3bc5701388fe03ccd027e86f1994f1

.NET Implementation PR:

https://github.com/Azure/azure-sdk-for-net/pull/15034/files
https://github.com/Azure/azure-sdk-for-net/pull/

[2020-07-07 23:49] YijunXieMS opened #12428 "[Event Hubs] Use autorest to generate code of schema registry"
Auto generate the Schema Registry, decide package & client naming etc, but not ship it. This is to tease out any issues we may have with the code generator.

[2020-07-07 23:53] YijunXieMS opened #12429 "[Event Hubs] Remove Event Hubs live test dependency on ServiceBus SDK"
Event Hubs live test still has a dependency on Service Bus Control Client, which is going to be deleted in Service Bus SDK soon.
Consider using resource preparer. Still to be discussed.

[2020-07-08 03:46] changlong-liu commented on #12335
Hi service team,  I see new features and block changes in https://github.com/Azure/azure-rest-api-specs/pull/8934. Would you help to submit sdk-release-request if the changes are ready to release? Thanks.

[2020-07-08 06:04] aliyevmirzakhan commented on #12353
Hi I am using Python runtime for both sending messages to Event Hub, and receiving them in a Function App that is triggered by Event Hub.

[2020-07-08 08:49] v-xuto opened #12441 "azure-servicebus Samples issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py), [link2](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py):
![image](https://user-images.githubusercontent.com/57166602/86898042-c5432f80-c13a-11ea-

[2020-07-08 08:50] v-xuto commented on #12441
@jongio for notification.

[2020-07-08 09:30] v-xuto opened #12442 "azure-identity Readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/identity/azure-identity#credentials):
![image](https://user-images.githubusercontent.com/57166602/86902404-7bf5de80-c140-11ea-9765-1502df4e9163.png)

Suggestion:
Click `DefaultAzureCredential` should jump to hyperlink:https://azuresdkdocs.blob.core.windows.net/$web/python/azure-identity/1.2.0/azure.identity.html#azure.

[2020-07-08 09:30] v-xuto commented on #12442
@jongio for notification.

[2020-07-08 12:45] jsquire commented on #12353
Thank you, @aliyevmirzakhan.

Based on that, I think @johanste's initial assessment is likely.  The Azure Functions infrastructure is based on .NET and the bindings are running in the context of that infrastructure using the .NET Event Hubs client rather than running in the context of the Python language worker and using the Python SDK.

The root cause would appear to be that the partition key is

[2020-07-08 15:28] #12389 closed

[2020-07-08 15:32] chlowell commented on #11550
Thanks for the additional details. I'm closing this issue because this particular behavior is correct, and orthogonal to supporting authentication in foreign tenants (the broader feature request described in #11551).

[2020-07-08 15:32] #11550 closed

[2020-07-08 15:43] chlowell commented on #11551
Thanks again for all the details. I'm closing this issue because the behavior described at the top is correct for the scenarios `SharedTokenCacheCredential` supports. I'm leaving #11549 open as a request to support authenticating in foreign tenants.

[2020-07-08 15:43] #11551 closed

[2020-07-08 16:53] praveenkuttappan opened #12446 "Regression test for azure-core is failing if test folder is missing in dependent package repo"
Regression test runs test cases in dependent package repo against latest azure-core. test or tests folder is missing for autogenerated packages like azure-synapse-accesscontrol and failing with an exception.

Regression test should skip these packages from test.

[2020-07-08 17:49] xiangyan99 commented on #12410
fixed in #12420

[2020-07-08 17:49] #12410 closed

[2020-07-08 19:33] kaerm commented on #12423
@leonbrag thanks for reporting this, @annatisch can you take a look at this

[2020-07-08 20:15] lmazuel commented on #12223
@scbedd I see you yanked the releases, I think we were discussing to entirely remove the project altogether from PyPI.

[2020-07-08 21:31] YijunXieMS opened #12450 "Feature request: Accept manually-generated XML request body and / or support request hook"
ServiceBus namespace API uses XML. The XML that msrest serializes by using Python's xml ElemetTree library doesn't use default namespace. In some cases the serialized XML isn't compatible with ServiceBus, even though it's correct XML.

So I was thinking of two workarounds:
1. making the XML in correct format and passing the XML string as request body. But this doesn't work because the XML string w

[2020-07-08 22:04] lmazuel commented on #12450
It's a azure-core feedback, especially (1), Let's keep the issue for brainstorm. It's low priority to me though to be clear, since there is a policy workaround already, and we actually generates a valid XML and it's the server that is not XML compliant.

[2020-07-08 22:28] lmazuel commented on #12405
This page is here for that:
https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/core/azure-core#azure-core-library-exceptions

@andersbogsnes I want to address two things: completeness and discoverability:
- Is the previous link complete?
- Where would you think a link to this doc should be visible?

FYI @xiangyan99

[2020-07-08 23:45] heaths opened #12452 "Installation instructions for azure-search-documents shows --pre"
On https://pypi.org/project/azure-search-documents/ for recently-GA'd azure-search-documents, the installation section shows:

[code]

This is in the README for 11.0.

[2020-07-09 00:30] heaths opened #12455 "SearchField helpers show warning about bad mappings to SearchField"
- **Package Name**: azure-search-documents
- **Package Version**: 11.0
- **Operating System**: Windows 10 / WSL2 (Ubuntu 18.04)
- **Python Version**: 3.6.8

**Describe the bug**
Using the `SearchField` helpers like `SimpleField` and `SearchableField`, I get warnings printed to stdout that various fields are "not a known attribute of class \<class 'azure.search.documents.indexes._internal._generate

[2020-07-09 02:07] ramya-rao-a commented on #12353
cc @serkantkaraca for input from the service team

[2020-07-09 05:00] serkantkaraca commented on #12353
Both track-0 and track-1 .NET clients explicitly cast partition key value from message-annotations-map into EventData.PartitionKey. Service doesn't do any validation on the delivered type and assumes sender library already conducted sanitary checks. This applies to every entry in the annotations map as far as I know.

Unfortunately the messaging AMQP guide that @jsquire pointed doesn't mandate typ

[2020-07-09 05:12] YijunXieMS commented on #12353
@serkantkaraca how is the partition_key used in the service to decide which partition an event is sent to when it's an int and when it's a str?

[2020-07-09 05:34] serkantkaraca commented on #12353
@YijunXieMS service ignores partition-key if it is not string type.

[2020-07-09 08:38] andersbogsnes commented on #12405
@lmazuel Thanks, that looks like exactly what I was looking for!
The docs look great, albeit generalized, though for completeness, I would probably add somewhere what module the exceptions are imported from (I'm guessing azure.core.exceptions?). Just updating the first code example with `from azure.core.exceptions import AzureError` would probably be enough.

My issue is that there is nowhere in t

[2020-07-09 14:19] manojkumarpotlapalli opened #12467 "how to receiving message from Topic>Subscription in Python using azure==0.50.1 ver."
**Describe the bug**
can you please provide sample snippet for ServiceBusClient.get_subscription_receiver()
I am seeing error while I am trying to connect to ServiceBusClient.get_subscription_receiver.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***

message = ServiceBusClient.get_subscription

[2020-07-09 15:57] kaerm commented on #12467
@manojkumarpotlapalli thanks for logging the issue, @KieranBrantnerMagee can you take a look at this

[2020-07-09 17:48] xiangyan99 commented on #12452
Fixed in #12404

[2020-07-09 17:48] #12452 closed

[2020-07-09 18:18] xiangyan99 commented on #12455
@heaths

Could you tell me how I can repro it?

Our SearchField is from 'azure.search.documents.indexes._internal._indexes..SearchField' not 'azure.search.documents.indexes._internal._generated.models._models_py3.SearchField'

[2020-07-09 18:47] heaths commented on #12455
I used the repo code above with python3. It was in a virtual environment with no access to my global site-packages, so this was just the 11.0.0 GA version of azure-search-documents.

[2020-07-09 19:00] xiangyan99 commented on #12455
I tried it on python 3.6.8 on wsl with azure-core 1.7.0 & search 11.0.0 installed.

I ran

[code]

But I did not see the warnings.

[2020-07-09 20:01] praveenkuttappan commented on #12075
Discussed with Wes,. This needs to be revisited to keep dev version uniform across all languages. Current formatting is to keep it as per PEP 440 and to run import all test without making changes in package requirement, We should try to update version as per azure-sdk dev versioning guideline and update package requirement to pin dev version to run import test.

[2020-07-09 20:02] amishra-dev commented on #12405
https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/storage/azure-storage-blob#general has the list for storage exceptions. Does this help?

[2020-07-09 20:03] heaths commented on #12455
I don't know why warnings even showed up to begin with, honestly. There was more in the script (not much) before this, so maybe something hooked up tracing? Unfortunately, I no longer have the script.

Do you have tests that actually assert attributes on these field helpers transcribe to attributes on `SearchField`, or default to `None` if not set?

[2020-07-09 20:13] xiangyan99 commented on #12455
If you have
from azure.search.documents.indexes._internal._generated.models import SearchIndex,
that can cause the problem.

(and this is not a supported scenario)

[2020-07-09 20:32] heaths commented on #12455
I don't think so. VSCode wasn't auto-completing anything, so I had to type everything in manually. That import statement above, though, was actually copied and pasted from your sample (which is how I noticed the other problem with the README).

Do you have tests that cover the attributes during conversation? If so, we could close this. I'm not sure how it happened, but it's why I switched over to

[2020-07-09 20:36] xiangyan99 commented on #12455
Yes. We have tests to verify the attributes exist.

https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/search/azure-search-documents/tests/test_index_field_helpers.py

[2020-07-09 20:39] xiangyan99 commented on #11048
Fixed in #12106

[2020-07-09 20:39] #11048 closed

[2020-07-09 21:16] heaths commented on #12455
That doesn't translate them to `SearchField`, though, does it? It seems like it's just testing class member defaults. When they get "converted" to a raw `SearchField`, where are tests for that?

[2020-07-09 21:24] xiangyan99 commented on #12455
`ComplexField`, `SearchableField`, `SimpleField`, all of them are translated into exposed `SearchField`.

This test also tests that exposed `SearchField` has hidden attribute for example.

We don't expose raw `SearchField` to SDK users and raw `SearchField` is internal only and does not have hidden attribute.

SDK user will not be aware of raw `SearchField`.

[2020-07-09 21:34] #12223 closed

[2020-07-09 21:35] #12321 closed

[2020-07-09 21:38] iscai-msft opened #12473 "Opinion Mining Text Analytics Python Epic"
- [x] Regenerate v3.1-preview.1: https://github.com/Azure/azure-sdk-for-python/issues/12474
- [x] Clear final design with architect: https://github.com/Azure/azure-sdk-for-python/issues/12475
- [x] implement design: https://github.com/Azure/azure-sdk-for-python/issues/12476
- [x] tests: https://github.com/Azure/azure-sdk-for-python/issues/12477
- [x] samples: https://github.com/Azure/azure-sdk-for

[2020-07-09 21:41] #11737 closed

[2020-07-09 21:42] iscai-msft opened #12474 "[text analytics] generate v3.1-preview.1 code"

[2020-07-09 21:50] iscai-msft opened #12475 "[text analytics] clear opinion mining design with architect"

[2020-07-09 21:53] iscai-msft opened #12476 "[text analytics] implement opinion mining design"

[2020-07-09 21:55] iscai-msft opened #12477 "[text analytics] tests for opinion mining"

[2020-07-09 21:56] iscai-msft opened #12478 "[text analytics] samples for opinion mining"

[2020-07-09 22:45] heaths commented on #12455
If you can't repro this, feel free to close for now. That code above was copied and pasted and hardly anything more was in that script - just imported and used the `getopt` library for argument parsing.

[2020-07-09 22:50] xiangyan99 commented on #12455
Close for now. Will reopen it if we see it again.

[2020-07-09 22:54] #12455 closed

[2020-07-09 23:20] kristapratico commented on #11324
we won't be implementing an indexer until we have more data on customer need and therefore this sample is not necessary.

[2020-07-09 23:42] anuragdalmia commented on #12422
@rthorn17 - can you take a look at this please.

[2020-07-10 09:07] andersbogsnes commented on #12405
Hi @amishra-dev, thanks for the link.

So it says that azure blob storage raises exceptions from `azure.core` and it raises `StorageErrorException` and then links to a list of error codes.

1. I can't see where StorageErrorException is defined. It's not in Azure.core, there's no exceptions.py or something similar in the blob storage repo that would indicate that an exception is defined there.
Afte

[2020-07-10 11:05] RodgeFu commented on #12370
close per the thumb-up from @howardjones . Feel free to reopen if needed. thanks.

[2020-07-10 11:05] #12370 closed

[2020-07-10 12:47] howardjones commented on #9076
I also just hit this issue. Still nothing in the docs! :-) (8 months)

[2020-07-10 17:03] rthorn17 commented on #12422
@donets420 You should use this python sdk: https://pypi.org/project/azure-mgmt-resource/. with the api, with parameter -resourceId (provide subscriptionId). This will get all tags on the subscription

[2020-07-10 17:04] yunhaoling commented on #12467
Hi @manojkumarpotlapalli ,

I'm assuming you're trying the sample code in our master branch.
The sample code in the master branch is for the latest azure-servicebus sdk v7.0.0b4 not for v0.50 -- in v0.50, ServiceBusClient doesn't have `get_subscription_receiver` method.

We've decided deprecated the old preview azure-servicebus v0.50, please shift to our latest service bus v7 which is currently in

[2020-07-10 17:37] KieranBrantnerMagee commented on #10846
Hey prabdeb; thanks for reaching out.

While I can't claim familiarity with MagicMock/Patch, my immediate question when reading this is twofold.
1. If you want to test on_event, why not just test it directly?  I would assume simply mocking the inputs to it would be more feasible.
2. Why would you expect on_event to be called in the code you've provided?  To actually trigger that natively would req

[2020-07-10 18:16] xiafu-msft commented on #9498
It looks like you've got the answer, so we plan to close this issue for now, feel free to reopen it if you are still stuck or you have any other questions! ^_^

[2020-07-10 18:16] #9498 closed

[2020-07-10 18:28] xiafu-msft commented on #12204
Hi @F-Schmidt1

Sorry about the late response. The encoding doesn't mean that the text would be displayed in the encoded format, if you want your text to be encrypted, you should [use encryption](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage-queue/tests/test_queue_encryption.py#L75) instead of encoding. Encoding is just for when the queue message is transferre

[2020-07-10 18:28] #12204 closed

[2020-07-10 18:31] xiafu-msft commented on #10650
You should be able to config the chunk_size now by specifying upload_data(data, chunk_size=*)

[2020-07-10 18:31] xiafu-msft commented on #10650
Close this issue for now since it's fixed. Feel free to reopen it if you have any concern!

[2020-07-10 18:31] #10650 closed

[2020-07-10 19:02] donets420 commented on #12422
yep, it works, thanks!

[2020-07-10 19:02] #12422 closed

[2020-07-10 22:10] kristapratico opened #12496 "[formrecognizer] Review samples and docs"
- Ensure we have the right sample set / aren't missing any samples that other languages have. Make sure samples display each scenario fully and that any comments added are accurate
- Review ref docs/docstrings and add clarity where needed

[2020-07-10 22:21] #12375 closed

[2020-07-10 22:23] #12226 closed

[2020-07-13 06:21] v-xuto opened #12506 "azure-search-documents Readme and samples issues"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/search/azure-search-documents#querying) and [Link2](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/search/azure-search-documents#async-apis):
![image](https://user-images.githubusercontent.com/57166602/87274840-4d488100-c50f-11ea-9df2-7deeb68512e2.png)

Reason:
KeyError: 'hotelId', 'hotelName'.

Suggest

[2020-07-13 06:21] v-xuto commented on #12506
@jongio for notification.

[2020-07-13 11:05] GitelGeiger opened #12513 "migrate GraphRbacManagementClient to Microsoft Graph"
Why does GraphRbacManagementClient from azure-sdk-python call to Azure AD Graph API (https://graph.windows.net/) and does not support Microsoft Graph (https://graph.microsoft.com/)?

https://developer.microsoft.com/en-us/graph/blogs/microsoft-graph-or-azure-ad-graph/ - "Starting June 30th, 2022, we will end support for and Azure AD Graph and will no longer provide technical support or security upd

[2020-07-13 13:25] #11313 closed

[2020-07-13 16:06] seankane-msft opened #12515 "sean's first issue"

[2020-07-13 17:17] kaerm commented on #12506
@v-xuto thanks for reviewing this, @xiangyan99 can you take a look at this

[2020-07-13 17:20] fedler opened #12517 "Issues are being unintentionally ignored when issues are marked closed and others continue to find problems."
First, can someone please look into issue #9076 It's affecting a lot of people and seems that it would not take a lot of work to close out.

Second, I believe when the following event order takes place that issues are effectively being unintentionally ignored.

1. Someone raises an issue.
1. A dev works on and closes the issue.
1. People return to the issue and leave comments that it is not resolv

[2020-07-13 18:14] scbedd opened #12518 "azure-mgmt-network 16.0.0b1 crashes Preview docs.ms CI"
[Build Failure](https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=149189&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=9643ad93-c679-553d-f778-5678c5e8d713)

Temporarily removed and filed this issue to understand what is actually failing.

[2020-07-13 18:26] chlowell commented on #12442
There's a section of the README devoted to `DefaultAzureCredential`. I linked its entry in the credential table to that section because I thought it would be a more helpful introduction than the API reference.

[2020-07-13 18:26] xiafu-msft commented on #11419
Hi @sfc-gh-mkeller

It looks like you've got the answer, so we want to close the issue for now ^_^
feel free to reopen it if you have any concern or question!!

[2020-07-13 18:26] #11419 closed

[2020-07-13 18:27] xiafu-msft commented on #11681
This is resolve in azure-stroage-blob v12.3.2, so we'd close this issue. Feel free to reopen it if you have any concern or question!

[2020-07-13 18:27] #11681 closed

[2020-07-13 19:31] xiafu-msft commented on #11947
Hi @planetmarshall

It seems your issue has been resolved! We'd close this issue for now, feel free to reopen it is you have any question!

[2020-07-13 19:31] #11947 closed

[2020-07-13 19:32] xiafu-msft commented on #11593
Hi @mockodin

Do you have any other concern or question about this issue?

[2020-07-13 19:34] xiafu-msft commented on #12203
Hi @TheHunter896

It looks like this issue is not actionable for Storage SDK side, so we will close this issue for now. Feel free to reopen it if you have any question!

[2020-07-13 19:34] #12203 closed

[2020-07-13 19:37] xiafu-msft commented on #10572
It looks like this issue is resolved? We would close this issue for now. Feel free to reopen it if you still have the problem or have any question!

[2020-07-13 20:24] #12474 closed

[2020-07-13 21:43] #12515 closed

[2020-07-13 21:52] lmazuel commented on #12517
Hi @fedler

Thanks for your report, I agree with you this is not ok to miss notifications because issues are closed :(. I'll take the opportunity of your issue to re-discuss this with our team at the next stand-up, and clarify expectation on Github follow-up.

I let you decide when to close this issue, I feel like closing it myself would sound like a paradox somehow :). But be sure the message is

[2020-07-13 22:30] scbedd commented on #9076
Removing @xiafu-msft , adding myself. Status: opened a PR and am pushing a resolution through the docs pipeline.

[2020-07-13 23:16] xiafu-msft commented on #9076
Hi @howardjones

Please refer to this doc for now, https://azuresdkdocs.blob.core.windows.net/$web/python/azure-storage-blob/12.3.2/azure.storage.blob.html#azure.storage.blob.BlobClient.upload_blob it should have keyword arguments listed. Sorry about the inconvenience.

[2020-07-13 23:49] xiafu-msft commented on #11357
Hi @v-xuto

Thanks for catching this and the pr! It looks good to me!

[2020-07-13 23:52] xiafu-msft commented on #11357
I'm gonna close this issue for now since you've helped fix it ^_^ We can reopen it if you have any concern! Thanks again

[2020-07-13 23:52] #11357 closed

[2020-07-13 23:58] yunhaoling opened #12521 "[ServiceBus] Investigate/verify/implement the drain feature"
The service team has mentioned that they had supported drain feature in AMQP.

Basically it "drains" the remaining credits on the receiver link when there is not enough messages available on the sender.
It's a flag on the amqp FLOW frame. -- check the spec: http://docs.oasis-open.org/amqp/core/v1.0/cos01/amqp-core-transport-v1.0-cos01.html#doc-flow-control

This feature needs to be verified probab

[2020-07-14 01:21] #12442 closed

[2020-07-14 02:52] KieranBrantnerMagee opened #12533 "ServiceBus - Track2 - Deprecate AsyncServiceBusSharedKeyCredentialPolicy and Credential"
Currently there are both sync and async implementations of this policy and credential.

Per python SDK guidelines, we should unify on a single shared model in the primary (non aio) namespace.

[2020-07-14 06:17] Petermarcu commented on #8912
Since the latest packages are all released and aligned can this be closed?

[2020-07-14 16:04] chrisyeh96 commented on #9507
Are there any updates on this? I would really appreciate a `blob_client.exists()` method for checking if a blob exists within a given container, especially since this was a feature in v2.1 of the Azure Python SDK.

For the record, here's what I currently am doing to check for whether a blob exists, but it's far more verbose than it really should be.

[code]

[2020-07-14 16:50] praveenkuttappan opened #12536 "Simplify CI logs to improve debugging"
CI currently runs 5 different tests in parallel when running scheduled job and this makes it harder to find what exactly has failed due to current logging when tox is running in parallel. We need to simplify this logging to make it easier to find failures and reasons.

Please find below email thread for more info

[code]

[2020-07-14 16:59] praveenkuttappan opened #12537 "Simplify CI logging for better debugging"
CI runs 5 different types of jobs in parallel using tox parallel runs. Current logging makes it harder to find what has failed out of all the jobs. We need to reduce logging level and at the same time, need to summarize which job has failed at the end to make it easier for dev to identify.

Please find below for more info from  Scott's email.

[code]

Feedback from Laurent
[code]

[2020-07-14 17:04] #12536 closed

[2020-07-14 17:24] praveenkuttappan opened #12538 "Create wiki of Python CI test"
Engsys is currently running multiple tests to ensure the quality and dependency of packages that are currently being developed as well as dependency with released packages. We need to create a wiki about all these tests to ensure every team member( current and future) in python SDK team is aware of these tests and what exactly is being tested by each of these jobs. Dependency tests that are in que

[2020-07-14 17:25] praveenkuttappan commented on #12538
just fyi, @scbedd @lmazuel

[2020-07-14 17:26] praveenkuttappan commented on #12537
just fyi. issue to track simplifying CI logs.
@scbedd @lmazuel

[2020-07-14 18:15] KieranBrantnerMagee opened #12539 "EventHubs - Should name variables denoting absolute time as <foo>_utc"
Currently times are specified as such:  `enqueued_time`

To conform to best practices, we should adjust these to `enqueued_time_utc` at the next major iteration for EH.

(We don't believe this meets the threshold for a breaking change on its own, but we would like to slip this in when possible to normalize with our other/modern python libs.)

[2020-07-14 21:27] seankane-msft opened #12541 "[Tables] Invalid table name error doesn't indicate the issue"
When a user attempts to create a table with an invalid name (table names must be alphanumeric) the error thrown does not give information as to what the user is doing wrong.

[code]

[2020-07-14 21:38] scbedd commented on #9076
Added `EngSys` label and updated title for better tracking of this issue.

[2020-07-14 21:43] annatisch commented on #12541
Thanks @seankane-msft - good catch - that is definitely an unfortunate error....
@LibbaLawrence - we may need to do some kind of regex on the table name before calling create.

This is what we were discussing this morning when I mentioned removing client-side validation to see how the service responds. In this case the service is raising a particularly unhelpful error - so client-side validation i

[2020-07-14 21:54] #12446 closed

[2020-07-14 23:09] lmazuel commented on #12513
Hi @GitelGeiger
The graph SDK you are looking for is here: https://github.com/microsoftgraph/msgraph-sdk-python-core

I could not give much update on it, since it's not part of Azure and our org.

This also means that "azure-graphrbac" will keep its current status: Azure AD Graph API as its name suggest it. This will be stored in this repo, since it's part of the azure story.

Hope this clarifies!

[2020-07-14 23:19] yunhaoling commented on #8912
thanks @Petermarcu for following upon the issue which I totally missed.

Hey @imeya @ibnipun10 , apologize for letting the issue fall off my track.
It has been a while since EventHub v5 was released, does it meet your requirements with Storage v12 properly?
Let me know if there's any help I can provide you with regards to usage of the latest EventHub SDK.

[2020-07-15 01:37] xiangyan99 opened #12544 "Enable bandit in our pipeline"
Please help enable static analysis tool in our pipeline.

This is used to check if there is any security issues in our library.

In order to enable it, we need
1.	Install bandit by using pip install bandit  (https://pypi.org/project/bandit/)
2.	Run bandit -r . -ll In the library folder

The output will look like:

(env) PS E:\ms\azure-sdk-for-python\sdk\identity> bandit -r . -ll
[main]  INFO    pr

[2020-07-15 03:52] johanste commented on #12381
Added a [gist](https://gist.github.com/johanste/5cc62daa23adc3a68ae4cca49d109fd5) for decorator based handler registration. Snippet of user code below, but more complete example in the gist...

[code]

[2020-07-15 06:43] ramya-rao-a opened #12557 "Review ObjectSerializer proposal for Python"
https://github.com/Azure/azure-sdk/issues/1454 tracks the proposal for ObjectSerializer from the .Net perspective.
Java has something similar.

We need to review the discussion there and come up with corresponding proposal in Python for the ObjectSerializer

One upcoming use case for this would be the Avro serializers for Azure Event Hubs.

cc @lmazuel

[2020-07-15 06:44] ramya-rao-a commented on #12557
Related issue in JavaScript: https://github.com/Azure/azure-sdk-for-js/issues/10069

[2020-07-15 06:55] ramya-rao-a opened #12559 "Onboard Schema Registry service"
Schema Registry is a new service that is currently in private preview.
This issue is to track work to onboard the SDK for this service.
This work is planned for the August milestone and does not involve shipping the package which will be done in the September milestone.

- decide package name
- auto generate the package using the latest code generator on the [swagger](https://github.com/Azure/azur

[2020-07-15 09:08] GitelGeiger commented on #12513
Hi @lmazuel , thanks for your answer!

Does Microsoft Azure plan to officially maintain or support this SDK? I don't see any officially documentation.
Or maybe will be another alternative?

[2020-07-15 15:33] lmazuel commented on #12557
C#: https://github.com/Azure/azure-sdk-for-net/pull/12258

[2020-07-15 17:10] southpolesteve commented on #11721
@databasedav Were you able to do a repro?

[2020-07-15 19:31] scgbear commented on #8636
<details>
<summary>Internal Tracking</summary>
CSEF370143
</details>

[2020-07-15 19:36] #10759 closed

[2020-07-15 19:37] Rodrigossz commented on #10759
Will open a new issue with the new problem. The original one was fixed.

[2020-07-15 19:43] annatisch commented on #10759
Thanks @Rodrigossz - I think the reason for this is that a lowercase `true` is the correct JSON serialization.
In the Python SDK we accept the Python value `True` and serialize the JSON body - which will convert to lowercase `true` to send over the wire.
On receiving an item in the SDK, it is deserialized back from JSON to the Pythonic value.

[2020-07-15 20:19] yunhaoling commented on #12467
Hey @manojkumarpotlapalli ,

I'm closing the issue assuming that you've already got the problem solved.
Feel free to re-open the issue and reach out to us if you still have troubles with the samples.

[2020-07-15 20:19] #12467 closed

[2020-07-15 22:52] lmazuel commented on #12513
Hi @GitelGeiger
This SDK will stay operational as long as the endpoint is available. We will fix bugs that would apply to the Python wrapping layer, but bugs in the RestAPI service itself are unlikely to be addressed, neither new features (but this question would have to be addressed with the AD team as needed, we're just Python messenger :)).

[2020-07-15 23:05] chrisyeh96 opened #12563 "azure.storage.blob.BlobClient.get_blob_properties() returns incorrect "name" and "container" properties"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.3.2
- **Operating System**: Windows 10 Version 10.0.19041 Build 19041, running WSL 1
- **Python Version**: 3.8.3

**Describe the bug**
`azure.storage.blob.BlobClient.get_blob_properties()` returns incorrect "name" and "container" properties

**To Reproduce**
Steps to reproduce the behavior:

Code

[code]

Running Code in Python REPL:

[2020-07-16 00:17] praveenkuttappan opened #12566 "Enable Change log check during release and analyse step"
Change log check is disabled now due to issues we have noticed during last release. We need to make required fix and enable this before next release. Here are the two issues we have noticed last.

1. Preview release version is incorrectly parsed or formatted for no change log is found for the version
2. Unreleased change log header check should be done only for release build and not for manual bui

[2020-07-16 00:28] chidozieononiwu commented on #12566
1. The issue with preview version being formatted wrongly is fixed with https://github.com/Azure/azure-sdk-tools/pull/772/files

2. Why is this necessary? The intention is to run the Verify-ChangeLog on release only when there is an actual release approval. In which case you are already certain it is going out for release. in which case all you need to do is pass the `ForRelease` parameter when yo

[2020-07-16 00:31] scbedd commented on #12566
You're absolutely correct, but we have changelog verification in our BUILD phase as well. What's currently happening is that the "Build" stage is SUCCEEDING prior to failing during the release. This is super confusing for the devs because the build stage (which INCLUDES verify-changelog) WAS GREEN!

[2020-07-16 00:32] praveenkuttappan commented on #12566
Our intention is to ensure that same check is performed during analyze  and release for release build so if release is going to find any issue then it's better to find that in analyze phase

[2020-07-16 00:36] chidozieononiwu commented on #12566
Ok, I see what you mean.

[2020-07-16 01:17] #10533 closed

[2020-07-16 02:05] chrisyeh96 commented on #12563
Update: the issue is actually in `azure.storage.blob.BlobClient.from_blob_url()`.

[code]

Running Code in Python REPL:

[code]

[2020-07-16 03:51] chrisyeh96 opened #12568 "azure.storage.blob.ContainerClient() initializer does not support emulated blob storage from Azurite"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.3.2
- **Operating System**: Windows 10 Version 10.0.19041 Build 19041, running WSL 1
- **Python Version**: 3.8.3

**Describe the bug**
`azure.storage.blob.ContainerClient()` throws errors on emulated local blob storage.

**To Reproduce**
Steps to reproduce the behavior:

[code]

Running Code in Python REPL:
[code]

**Expected behavio

[2020-07-16 05:20] shreyasmoolya09 opened #12569 "Backup Usage Summaries of VaultRecoveryServicesBackup gives End of Paging error"
- **Package Name: azure-mgmt-recoveryservicesbackup**:
- **Package Version: 0.8.0**:
- **Operating System: windows10**:
- **Python Version: 3.8**:

**Describe the bug**
I have created a `RecoveryServicesBackupClient`. I am then using `iterator_object = backup_usage_summaries.list(resource_group_name, vault_name)` method to create an iterator object. On Using `next(iterator_object)` to iterate thro

[2020-07-16 08:06] sl-sandy opened #12570 "Inaccurate type comment in functions for azure-cosmos package"
- **Package Name**: azure-cosmos
- **Package Version**: 4.0.0
- **Operating System**: win10
- **Python Version**: 3.8

**Describe the bug**
For the query related functions in container.py which has the optional "parameters", all theses functions comment the parameters with type Optional[List[str]]. This leads to code highlit and warning in IDE.

**To Reproduce**
Steps to reproduce the behavior:

[2020-07-16 09:04] v-xuto opened #12571 "Form recognizer Readme issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/formrecognizer/azure-ai-formrecognizer#recognize-forms-using-a-custom-model):
![image](https://user-images.githubusercontent.com/57166602/87652022-424b5600-c786-11ea-9953-a5d73ace71fe.png)

Suggestion:
Update `form_url` to `form_url_jpg`.

[2020-07-16 09:17] v-xuto commented on #12571
@jongio for notification.

[2020-07-16 14:27] tapatel commented on #12246
@shawncx @MonikaReddy-MSFT Any update on this issue? Please let me know if you need any more info.

[2020-07-16 16:21] seankane-msft opened #12573 "[Tables] The _shared/_error.py file imports azure.common errors instead of azure.core"
The _error.py file imports errors from azure common instead of core, causing the testing pipeline to fail. These error types need to be swapped out.

[2020-07-16 17:16] KieranBrantnerMagee opened #12576 "ServiceBus - Track2 - Normalize management argument naming with other languages"
Two components:
1. https://github.com/Azure/azure-sdk-for-net/issues/13352
- Input to Create* is Create*Options
- Rename *Description -> *Properties (none of the properties are optional)
- Rename *RuntimeInfo -> *RuntimeProperties
2. https://github.com/Azure/azure-sdk-for-net/issues/13353
- Flatten MessageCountDetails
- Rename MessageCount -> TotalMessageCount
- Size property should be in bytes

A

[2020-07-16 17:36] kaerm commented on #12568
cc: @jongio

[2020-07-16 17:39] kaerm commented on #12570
@sl-sandy thanks for reporting this, adding @southpolesteve and @annatisch to take a look at this

[2020-07-16 18:02] fedler commented on #12517
Thanks for the quick response. I've seen an update to the original post and will close this one out.

[2020-07-16 18:02] #12517 closed

[2020-07-16 18:30] shurd commented on #12099
I am going to close this issue as there are no further questions. If you are still encountering issues using ipRules, please open a new issue or support ticket via the Azure portal.

[2020-07-16 18:30] #12099 closed

[2020-07-16 18:33] #12571 closed

[2020-07-16 18:34] devang93 opened #12577 ""One or more fields contain incorrect values" error while creating new API through apimanagement python sdk"
**Describe the bug**
We are trying to use apimanagement python sdk to automate api deployment into api management service over azure.
Using apimanagement v 0.2.0.

Using following configs and code to create a simple test api using sdk and its throwing "One or more fields contain incorrect values" error. It doesn't tell us which fields are incorrect, making it harder to debug.

[code]

***Exception

[2020-07-16 18:46] iscai-msft commented on #12475
@johanste gives his approval!

[2020-07-16 18:46] #12475 closed

[2020-07-16 19:01] pvrk commented on #12569
@pratimaupadhyay02: Can you please take a look?

[2020-07-16 19:19] ramya-rao-a commented on #12413
@KieranBrantnerMagee Can we close this if #12576 tracks the same but with more details?

[2020-07-16 19:25] #12412 closed

[2020-07-16 19:26] KieranBrantnerMagee commented on #12412
Settled with architects and broader SDK crew on distinct clients for GA.  If necessary an off-client creator could come later.

[2020-07-16 19:30] KieranBrantnerMagee commented on #11255
As a note: This may rely on decisions that we make as part of Yannis "chart out all exceptions and how we want them to pan out" investigation.  Moving this to september sprint accordingly but feel free to pull forward if that discussion ended up happening with enough leeway to get this done.

[2020-07-16 22:16] mikeharder opened #12581 "Add Python PerfStress framework"
Move Python PerfStress framework from https://github.com/mikeharder/azure-sdk-perf to https://github.com/Azure/azure-sdk-for-python.

[2020-07-16 22:35] notlaforge commented on #12570
@sl-sandy which IDE were you using?

[2020-07-17 00:09] sl-sandy commented on #12570
@notlaforge My IDE is the Pycharm community. I tried version 2019.3 and 2020.1 and both can reproduce this.

[2020-07-17 00:34] chidozieononiwu commented on #12566
I have a PR addressing this https://github.com/Azure/azure-sdk-tools/pull/797

[2020-07-17 00:56] derrix060 opened #12583 "Unable to get security group"
- **Package Name**: azure-mgmt-network
- **Package Version**: 16.0.0b1
- **Operating System**: Linux (Ubuntu 18.04.4)
- **Python Version**: 3.8.0

**Describe the bug**
I'm unable to get the security group using the latest azure-mgmt-network package (but I can get a subnet, for example).

Example of code:
[code]

Versions:
[code]

Error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-07-17 01:32] derrix060 commented on #12583
Turns out the issue is that I was closing the connection when getting the subnet.  I'd rather to have more meaningful information instead of an `AttributeError: 'NoneType' object has no attribute 'request'` though

[2020-07-17 01:32] #12583 closed

[2020-07-17 01:32] ramya-rao-a commented on #12428
Closing in favor of #12559 as it has more details

[2020-07-17 01:32] #12428 closed

[2020-07-17 01:42] ramya-rao-a commented on #8533
Looks like the upstream issue https://github.com/Azure/azure-functions-python-worker/issues/418 is closed as fixed, but folks are still reporting problems.

If anyone here is still seeing this issue, please log a new GitHub issue at https://github.com/Azure/azure-functions-python-worker

Closing this issue as there are nothing that can be done from the Python Event Hubs SDK perspective.

[2020-07-17 01:42] #8533 closed

[2020-07-17 01:45] ramya-rao-a commented on #8533
Also, based on https://github.com/Azure/azure-functions-python-worker/issues/639 and https://github.com/Azure/azure-functions-python-worker/issues/698, it looks like we are just waiting for the next deployment of the python worker

[2020-07-17 01:49] ramya-rao-a commented on #8912
@yunhaoling Given that we have tests that use Storage v12 for checkpointing when using Event Hubs v5, I would recommend we close this issue.

@imeya, if you still see any issues using the packages @yunhaoling has mentioned above, please log a new issue in this repo. We would be happy to hear any feedback you have using the new packages as well.

[2020-07-17 01:49] #8912 closed

[2020-07-17 01:52] ramya-rao-a commented on #9224
There are no plans at the moment to provide the support from the Event Hubs package to take in an IotHub connection string. For any customers wanting this feature, please refer to the sample that shows how to [convert an IotHub connection string to an Event Hub compatible connection string](https://github.com/Azure-Samples/azure-iot-samples-python/tree/master/iot-hub/Quickstarts/read-d2c-messages)

[2020-07-17 01:52] #9224 closed

[2020-07-17 01:57] ramya-rao-a commented on #10978
@yunhaoling, Isnt this the same as #8670?

[2020-07-17 03:09] #7342 closed

[2020-07-17 03:10] yunhaoling commented on #7342
closing this issue -- The long term goal is to implement pure-python uamqp library, not c-based.

[2020-07-17 07:50] praveenkuttappan opened #12590 "Regression test is failing due to incorrect version comparison"
pip freeze operations command is used to identify list of installed packages and it's version to verify if expected version is installed. Latest version of pip is not returning version number for any installation from whl  available in local path and as a result, regression test assumes that version installed for a given package is not expected version. This needs to be fixed by finding the versio

[2020-07-17 08:56] praveenkuttappan opened #12593 "APIstubgen step is failing during analyse step"
APIstubgen step is failing for core, storage and eventhub. This issue is happening when apistubgen is running inside tox. Two changes required here:

1. Disable apistubgen step temporarily until issue is identified
2. Fix issue in importing extensions module in these failing services.

[2020-07-17 11:36] #12593 closed

[2020-07-17 14:05] ChrisHMSFT commented on #6698
Hi @v-jaswel ,
Looks like this issue was solved with the updated libraries. Please re-open if you continue to experience the problem

thanks!
Chris

[2020-07-17 14:05] #6698 closed

[2020-07-17 15:54] #11210 closed

[2020-07-17 17:20] yunhaoling commented on #10978
@ramya-rao-a , nice catch, they're the same one.

shall I close the one here? As I see there is a user responding to that thread who might want to contribute to the feature and provide more context to him.

[2020-07-17 17:49] ramya-rao-a commented on #10978
Sure

[2020-07-17 17:49] #10978 closed

[2020-07-17 18:13] xiangyan99 commented on #12506
Fixed in #12595

[2020-07-17 18:13] #12506 closed

[2020-07-17 22:10] chlowell opened #12601 "Refactor proactive refresh logic for better reuse"
This logic:

[code]

seems to be present in most if not all the credentials. Perhaps it could be moved into a base or mixin, and have the implementation just provide a callback or an override for the `# get new token` functionality?

_Originally posted by @schaabs in https://github.com/Azure/azure-sdk-for-python/pull/12136_

That comment thread also has a sketch of a potential solution:
[code]

[2020-07-17 22:44] databasedav commented on #11721
Here is a full repro with `azure-cosmos==4.0.0`:

[code]

At this point I'm wondering if this is even cost effective? I am currently just fetching the chat document and iterating through the moderator objects to check if a certain user is a moderator; is maintaining a separate index on the moderator user id even worth it if I expect the number of moderators to be around 20-30 max? Thanks!

[2020-07-18 00:06] lmazuel opened #12603 "KeyVault SDK must have the CustomHookPolicy in their pipeline"
This allows the injection of kwargs raw_response_hook/raw_request_hook

FYI @johanste

[2020-07-18 00:10] lmazuel commented on #12603
Side note, there is an instance already in the generated code, but it's not plugged in the policies list:
https://github.com/Azure/azure-sdk-for-python/blob/117a6f509d5995ed2c56aca3d134b093e019b577/sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_generated/v7_0/_configuration.py#L46

https://github.com/Azure/azure-sdk-for-python/blob/117a6f509d5995ed2c56aca3d134b093e019b577/sdk/

[2020-07-18 00:18] yunhaoling opened #12604 "[EventHubs] Update user-agent implementation according to the guideline"
In current EH, user defined user_agent string are appended to the whole user agent string, and the length limitation is 512 which is not correct.

According to the guideline: https://azure.github.io/azure-sdk/general_azurecore.html#telemetry-policy
user defined string (application_id/user_agent) should be prepended to the whole user_agent string with length limitation of 24.

right format: [<appli

[2020-07-18 00:40] praveenkuttappan commented on #12590
Regression test for azure-core is failing when running regression against keyvault-certificates. This still needs to be fixed.

[2020-07-18 02:32] #12417 closed

[2020-07-18 19:00] terrycain commented on #12368
Hey @chlowell so I've done some digging. Clock skew seems unlikely, and I've spoken to the AAD guys and they do no caching and pass through the requests straight to the metadata endpoint.

Got some logs when it happened the other day.

These log lines all followed the stacktrace above, so it happens 4 times a day
[code]
The issue is slightly more complicated as there are 2 workers serving requests

[2020-07-19 07:54] asheeshmathur commented on #11656
Any update or fix for this issue

[2020-07-19 17:30] davidt99 commented on #9291
Not sure who's responsible for prioritizing this issue but we had to revert to the old drive, this is a blocker for us.

[2020-07-19 19:50] GitelGeiger commented on #12513
Ok, thank you!

[2020-07-19 19:50] #12513 closed

[2020-07-19 23:08] kappa opened #12606 "error: error in setup.cfg: command 'bdist_wheel' has no such option 'azure_namespace_package'"
Describe the bug

I am trying to build the wheel for azure-cli and the build fails with the message
"error: error in setup.cfg: command 'bdist_wheel' has no such option 'azure_namespace_package'" in several dependant packages which I am trying to list here:

azure-mgmt-billing
azure-mgmt-applicationinsights
azure-mgmt-consumption
azure-mgmt-datalake-analytics
azure-mgmt-relay

To Reproduce

$ pip

[2020-07-19 23:08] kappa opened #12612 "error: error in setup.cfg: command 'bdist_wheel' has no such option 'azure_namespace_package'"
Describe the bug

I am trying to build the wheel for azure-cli and the build fails with the message
"error: error in setup.cfg: command 'bdist_wheel' has no such option 'azure_namespace_package'" in several dependant packages which I am trying to list here:

azure-mgmt-billing
azure-mgmt-applicationinsights
azure-mgmt-consumption
azure-mgmt-datalake-analytics
azure-mgmt-relay

To Reproduce

$ pip

[2020-07-20 00:52] kappa commented on #12606
The problem does not reproduce on master which means what's needed is to release new packages to pypi.org. For example, https://pypi.org/project/azure-mgmt-billing/ was last released more than 2 years ago.

[2020-07-20 02:49] changlong-liu commented on #12577
Hi service team, would you have a look at this issue? I don't reproduce this in my side, and the message should comes from the service http response. Thank you.

[2020-07-20 03:25] YijunXieMS commented on #9917
@amitgadhavi7 Do you have more questions for this issue? If no, I'm going to close this issue.

[2020-07-20 03:27] YijunXieMS commented on #10389
@amitgadhavi7 I'm closing this issue since it's been a while. Pls create a new issue should you have more questions.

[2020-07-20 03:27] #10389 closed

[2020-07-20 03:30] YijunXieMS commented on #10537
@dipanjan1201 I'm closing this issue since it's been a while. Please create a new issue if you have more questions.

[2020-07-20 03:30] #10537 closed

[2020-07-20 03:43] xiafu-msft commented on #9291
Hi @cbcoutinho and @davidt99

Sorry for the late response...
you can specify read_timeout and connection_timeout parameters when initiating ServiceClient, BlobClient or ContainerClient and the value would be respected. You can also try to set retry_read=0 or retry_connect=0 https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage-blob/README.md#retry-policy-configuration

[2020-07-20 03:45] YijunXieMS commented on #10980
@tartieret, can I close this issue if you don't have more questions?
BTW, what was your final solution?

[2020-07-20 04:12] schinckel commented on #10013
If you use Python 3 to install tox instead of Python 2, then this problem goes away (without having to patch).

Even if your project still runs under Python 2, you can install tox into python 3, and have it generate PY2 environments.

[2020-07-20 08:00] #8576 closed

[2020-07-20 08:22] amishra-dev commented on #11593
Please reactivate if you have further questions or concerns.

[2020-07-20 08:22] #11593 closed

[2020-07-20 13:27] ppessi opened #12608 "Blob upload gets stuck after two consecutive upload attempts"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.3.2
- **Operating System**: Windows 10
- **Python Version**: 3.8.1

**Describe the bug**
My program attempts to re-upload a blob with a different name if the first upload attempt fails with a `ResourceExistsError`. It seems that the second upload never succeeds, and the program responds very slowly to a KeyboardInterrupt. I think the

[2020-07-20 15:32] briwo opened #12609 "Not seeing all resource groups from resource_groups.list()"
- **Package Name**:
- **Package Version**:
- **Operating System**:
- **Python Version**:

**Describe the bug**
when pulling resources groups, not all of the items visible in the console are returned, it seems. Not sure if there is some reason a subset would be returned by this call, or not.

**To Reproduce**
Steps to reproduce the behavior:
1.

e.g.

client = get_client_from_auth_file(ResourceMana

[2020-07-20 16:01] iscai-msft commented on #12603
@lmazuel we have PRs out to switch all of the keyvault code to the new autorest generated code, ex [here](https://github.com/Azure/azure-sdk-for-python/pull/12101/files#diff-5226c27f7f7470a20755f1dd4078b214R33). We haven't merged these yet since we're waiting for the service to make the 7.1 swagger GA and will merge once we have that generated code. Once these are merged, this issue should be fixe

[2020-07-20 16:37] kaerm commented on #12606
Thanks @kappa for reporting this, adding @RodgeFu to take a look at this

[2020-07-20 16:50] kaerm commented on #12609
@briwo thanks for reporting this, @nickzhums could you take a look at this

[2020-07-20 16:56] nickzhums commented on #12609
@briwo hello could you tell us the name and version of the library you are using, thanks

[2020-07-20 16:59] briwo commented on #12609
Sure….

azure-common (1.1.25)
azure-graphrbac (0.61.1)
azure-mgmt-authorization (0.60.0)
azure-mgmt-nspkg (3.0.2)
azure-mgmt-resource (9.0.0)
azure-monitor (0.3.1)
azure-nspkg (3.0.2)

[2020-07-20 17:08] chlowell commented on #12368
You could enable debug logging on the client with `logging_enable=True`:
[code]

That would log all its requests at `DEBUG` level with nothing redacted. So, security warning there, but it would let you read the token from a failed request's `Authorization` header and check its `exp` claim (the token is a JWT). Alternatively, you could do similar with the credential instead, i.e. `DefaultAzureCrede

[2020-07-20 17:12] mikebutak opened #12610 "Additional Clarity For databricks documentation needed"
Hello,

I'm trying to expand our team's use of the Azure Python SDK to provision an Azure Databricks service.  The docs [here](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-mgmt-databricks/0.1.0/azure.mgmt.databricks.html) have gotten me started, but are not clear enough to explain how to create a workspace.  @lmazuel was generous enough to offer some pointers [on gitter](https://gi

[2020-07-20 17:25] annatisch opened #12611 "[Storage-Blob] Support file-like API for Blobs"
We should add support for a Pythonic "file-like" API for blobs.
Equivalent concepts are already supported/in dev for .Net and Java SDKs.

This API should reflect the Python API for consumer files:
https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files

We could start with a first iteration as being open/read support, with adding open/write support in a subsequent iteration.

[2020-07-20 17:44] YijunXieMS commented on #10846
@prabdeb The following code should work. I defined method `receive`, which calls the callback `on_event`, for mock object `mock_event_hub_consumer_client`.
Let me know if you have more question.

[code]

[2020-07-20 17:48] xiafu-msft commented on #12608
Hi @ppessi

Thanks for reaching out.

The SDK has some default retry, https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage-blob/README.md#retry-policy-configuration SDK will wait some time before retry.
You can specify retry_total=0 to stop retry since your code has retry.

Let me know if that doesn't help! Thanks

[2020-07-20 17:50] scbedd commented on #10013
@schinckel I'm going to give this suggestion a shot. IIRC this error was actually occurring during the run, so the encoding error we were seeing isn't coming from the env  creation. However, I definitely could see the `venv`-rolled `py27` environment being different than the devops-installed one. Thanks!

[2020-07-20 17:57] xiafu-msft commented on #12563
Hi @chrisyeh96

Thanks for reporting this and post that pr. It's the SDKs problem with parsing blob url with sub directories! Sorry for the inconvenience.

[2020-07-20 17:59] lmazuel commented on #12606
Hi @kappa
This is a CLI bug related to some known packaging issues https://github.com/Azure/azure-cli/issues/8164

Moving your issue to the CLI repo.

Thanks!

[2020-07-20 18:03] davidt99 commented on #9291
Will add these definitions and report back with the results.

[2020-07-20 18:05] lmazuel commented on #12612
@kappa Moving it back, the CLI has the same issue, but that's not what your issue is about :p

@RodgeFu @changlong-liu this means CLI is still using a version of SDK that contains the old packaging approach. This is a two steps fix:
- Ensure that there is at least one version on PyPI with the new system for each of them (CLI could have pinned an old version). If not, release a new version (doesn't

[2020-07-20 18:25] mikebutak commented on #12610
Thanks @lmazuel !

[2020-07-20 18:26] lmazuel commented on #12610
Hi @mikebutak

I'm not a Databricks expert, but from a pure Python perspective your code is incorrect, you didn't account for `self` being the first parameter if you use the method as a class member. This should be more accurate:
[code]

[2020-07-20 18:28] devang93 commented on #12577
@changlong-liu Were you able to create an api using the api parameters listed above? Are those parameters looks good to you?

[2020-07-20 18:31] lmazuel commented on #12603
@iscai-msft given that KV has its own pipeline definition, a regeneration of code wouldn't be enough, unless you stop doing your own pipeline

[2020-07-20 19:15] mikebutak commented on #12610
Thanks @lmazuel : )

I simplified my code.  The greater context is:

from azure.common.credentials import ServicePrincipalCredentials
from azure.mgmt.resource import ResourceManagementClient
from azure.mgmt.databricks import DatabricksClient
from azure.mgmt.databricks.models import Workspace
from azure.mgmt.databricks.operations import WorkspacesOperations
import time
from my_auth import MyAuth

c

[2020-07-20 19:22] YijunXieMS opened #12616 "[Event Hubs] Use resource preparer to create test resources"
#12429 uses pytest fixture to create resource group, eventhub namespace and eventhubs for the event hubs tests.
It doesn't work with resource preparer, which requires all test methods to be in a subclass of `AzureMgmtTestCase`, a descendent of unittest.TestCase.

There are two options in the future:
1. Update event hub tests to be in a subclass of `AzureMgmtTestCase`.
2. Make resource preparer to

[2020-07-20 19:29] tartieret commented on #10980
Yes you can close this issue. Due to other limitations with EventHub/Stream Analytics we ended up dropping these technologies to use Kafka

[2020-07-20 19:39] dalmat36 opened #12617 "iter method on dict doesn't work in python 3.x"
https://github.com/Azure/azure-sdk-for-python/blob/f72e4a08f0502205a515691b82513c65f3517d4a/sdk/storage/azure-storage-blob/azure/storage/blob/_shared/response_handlers.py#L94

[2020-07-20 19:42] dalmat36 commented on #12617
Log message from azure function:
Result: Failure Exception: AttributeError: 'dict' object has no attribute 'iter' Stack: File "/azure-functions-host/workers/python/3.8/LINUX/X64/azure_functions_worker/dispatcher.py", line 336, in _handle__invocation_request call_result = await self._loop.run_in_executor( File "/home/miniconda/lib/python3.8/concurrent/futures/thread.py", line 57, in run result = se

[2020-07-20 20:56] seankane-msft opened #12618 "[Tables] Create a base client for the sync and async classes to inherit from"
The async and sync base classes (TableClient and TableServiceClient) inherit from different classes with repeated code. These classes should inherit from a common base, TableClientBase and TableServiceClientBase.

[2020-07-20 22:08] #12570 closed

[2020-07-21 01:48] NZSmartie opened #12625 "Can not install azure-identity with poetry with --allow-prereleases"
- **Package Name**: azure-identity
- **Package Version**: 1.4.0b6
- **Operating System**: Ubuntu 20.04
- **Python Version**: 3.8

**Describe the bug**
When using [Poetry](https://python-poetry.org/) to manage a python project. Installing the current pre-release version of azure-identity fails with a max recursion depth error.

**To Reproduce**
Steps to reproduce the behavior:
1. Install poetry
[co

[2020-07-21 01:51] changlong-liu commented on #12577
Hi, @devang93 , I get ErrorResponseException with a different error message using the api parameters listed above.
The error message is returned by the service side.

[2020-07-21 06:48] kjw217 opened #12632 "Cannot refer to azure.storage in Python 2.7"
[code]
When I use a command '**python setup.py install**' using the above `setup.py`, the `import azure` statement refers to `.../site-packages/azure_nspkg-3.0.2-py2.7.egg/azure/` directory. But, the directory has not any submodules like `storage`. So, it raises `ImportError: no module named storage` if I states `import azure.storage`.

When I tried it python 3.x, it worked well. But, I should use

[2020-07-21 07:03] ghost opened #12633 "[azure-cognitiveservices-knowledge-qnamaker] Need to enter runtime key twice once in generate answer and once in client creation"
- **Package Name**:  azure-cognitiveservices-knowledge-qnamaker
 Need to enter runtime key twice once in generate answer and once in client creation

runtimeClient = QnAMakerRuntimeClient(runtime_endpoint=queryingURL, credentials=CognitiveServicesCredentials(queryRuntimeKey))

generate_answer(client=runtimeClient,kb_id=kb_id,runtimeKey=**queryRuntimeKey**)

def generate_answer(client, kb_id, runti

[2020-07-21 07:05] bingisbestest opened #12634 "[azure-cognitiveservices-knowledge-qnamaker]Fix name qn_amakaer"
- **Package Name**:  azure-cognitiveservices-knowledge-qnamaker
https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-knowledge-qnamaker/azure.cognitiveservices.knowledge.qnamaker.runtime?view=azure-python

Rename qn_amakaer to qna_maker

[2020-07-21 07:07] bingisbestest opened #12635 "[azure-cognitiveservices-knowledge-qnamaker] Make it a major bump since it now has 2 packages"
- **Package Name**:  azure-cognitiveservices-knowledge-qnamaker
Please release a major version bump since it now has 2 packages

[2020-07-21 07:11] xiafu-msft commented on #12568
Hi @chrisyeh96
The second commit in https://github.com/Azure/azure-sdk-for-python/pull/12619 is to fix this problem.
Currently you can use this as a workaround
[code]

[2020-07-21 08:58] ppessi commented on #12608
@xiafu-msft
I did that and waited a couple minutes (not sure if I ever waited that long before) and got this error.
[code]

[2020-07-21 11:42] prabdeb commented on #10846
Thanks a lot @YijunXieMS it is now working as expected, is it possible to have this documented as a sample test case, so that it will be useful for future use?

[2020-07-21 14:59] v-jaswel commented on #6472
Closing as fixed.

[2020-07-21 14:59] #6472 closed

[2020-07-21 15:16] #5548 closed

[2020-07-21 15:24] chlowell commented on #12625
Thanks for reporting this. `azure-identity` gets `portalocker` transitively from `msal-extensions`. Since we do need that library and it isn't part of the Azure SDK, I'm closing this issue in favor of AzureAD/microsoft-authentication-extensions-for-python#62.

[2020-07-21 15:24] #12625 closed

[2020-07-21 15:28] #10785 closed

[2020-07-21 15:42] LianwMS commented on #12612
@kappa , you mention that the issue cannot repo on master branch. So which branch are you using to repo?

[2020-07-21 16:32] bingisbestest commented on #12635
Since the current package has some breaking changes I think the suggestion from @diberry  was to release it as a new major version rather than a minor version release. Hope that makes sense. Thanks.

[2020-07-21 16:38] lmazuel commented on #12632
Hi @kjw217
This version of `azure` has been released 4.5 years ago and is not supported anymore. In fact, the `azure` package itself is not supported anymore and has been deprecated, in favor of direct SDK installation.
If you wish to use storage as it was 4.5 years ago, you can install `azure-storage==0.20.3`, but this package won't be supported anymore as well.
thanks,

[2020-07-21 16:38] #12632 closed

[2020-07-21 16:56] lmazuel commented on #12610
That would mean the result of `workspace_obj = client_obj.client.workspaces.get(self.rg_name, self.databricks_workspace_name)` is `None`, which would make sense if you are trying to get an object that didn't exist yet.

You need to create a `Workspace` instance with the necessary required parameters at least (which according to the doc is `location` and `managed_resource_group_id`:
https://azuresd

[2020-07-21 17:19] YijunXieMS commented on #10846
@prabdeb Thanks for the suggestion. I'm closing this issue now and will follow-up with the sample test case separately.

[2020-07-21 17:19] #10846 closed

[2020-07-21 17:57] xiafu-msft commented on #12608
Hi @ppessi

It looks like a read timeout.
Were you able to upload any blob?

[2020-07-21 18:15] devang93 commented on #12577
@changlong-liu  got it. I am trying to debug it by changing some parameters to None but still unable to figure out for which parameters its giving me this error. Waiting on the service team's response. Thanks

[2020-07-21 18:40] kappa commented on #12612
@LianwMS here's what I did to test on master (testing on azure-mgmt-billing):

1. Downloaded and unpacked https://github.com/Azure/azure-sdk-for-python/archive/master.zip.
2. cd azure-sdk-for-python-master/sdk/billing/azure-mgmt-billing
3. pip wheel --no-binary .

^ This succeeds as opposed to:

1. pip wheel --no-binary azure-mgmt-billing

This one fails because it uses the source from https://pyp

[2020-07-21 18:42] iscai-msft opened #12645 "[text analytics] update multiapi generation after autorest fixes are merged"
This will get us better multiapi support that will be handled by the generated code

The 2 PRs that need to be merged:
1. https://github.com/Azure/autorest.python/pull/719
2. https://github.com/Azure/autorest.python/pull/715

[2020-07-21 18:45] #12347 closed

[2020-07-21 18:47] iscai-msft opened #12646 "[text analytics] add back offset and length"

[2020-07-21 18:55] KieranBrantnerMagee commented on #12413
It's not QUITE the same, the issue you link had to do with the actual split itself, and the naming surrounding it, where this was questioning whether any of the internal properties should shuffle around.

For the purpose of cleaning up the board though I can encapsulate this question inside that issue though, it's not unreasonable.

[2020-07-21 18:55] #12413 closed

[2020-07-21 19:05] iscai-msft opened #12647 "[text analytics] add back PII endpoint"

[2020-07-21 19:05] iscai-msft opened #12648 "[text analytics] make v3.1-preview.1 default API"

[2020-07-21 19:10] annatisch opened #12649 "[Tables] Move Tables package into azure-data namespace"
Migrate the package and all internal and docs references to updated `azure.data.tables` namespace.

[2020-07-21 19:11] annatisch opened #12650 "[Tables] Create azure-data namespace package"
Build and publish a namespace package for `azure.data`.

[2020-07-21 19:12] annatisch opened #12651 "[Tables] Add a Table object"
Add a Table class as the return type of iterables from `list_tables` and `query_tables`.

[2020-07-21 19:13] chlowell commented on #11757
I'm closing this issue because the problem is apparently a transient fault of the endpoint. To make the credential resilient against this particular fault without affecting its behavior in other scenarios, we would need a way to distinguish it from the endpoint having no configured identity. If you continue to see this failure, please reopen this issue with details of the endpoint's response. The

[2020-07-21 19:13] #11757 closed

[2020-07-21 19:33] KieranBrantnerMagee opened #12652 "sending amqp annotated message of different AMQP Body types design and implementation"
API Design:

https://gist.github.com/yunhaoling/8f5a632c4ba4c105b86b255360bb6387#gistcomment-3678799

See history [here](https://github.com/Azure/azure-sdk-for-net/issues/11143) for .net's version of this discussion

We have the same consideration in terms of how to incorporate AMQP body type variants into our design.

@yunhaoling kindly wrote up proposals for our options, to be found [here](https

[2020-07-21 20:00] iscai-msft opened #12653 "[text analytics] regenerate v3.1-preview.2"
This will be needed to get the `string-index-type` query parameter support

[2020-07-21 20:51] scbedd commented on #9562
Update to `sphinx-docfx-yaml` published to pypi. Merging output to `live` ASAP.

[2020-07-21 21:36] spoloj opened #12654 "Python SDK for Azure Advisor Alerts"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
It would be much easier and better if python SDK is supported for Azure Advisor Alerts as It is difficult to create and maintain Advisor alerts manually when there are multiple subscriptions.

**Describ

[2020-07-21 23:18] scbedd opened #12655 "onboard azure-mgmt-hybridkubernetes"
New packages need new onboarding. This is the first time this package has been published, which means we need to add it to CI.

@weidongxu-microsoft When `docs.ci onboarding` tasks are completed (required completion before august 10th), you'll get tagged on the appropriate PR. The plan is to have this enabled by August 3rd. I'd be super happy to see management packages exercising the new code 👍

[2020-07-22 01:20] #10686 closed

[2020-07-22 02:53] ian-young-sydney commented on #8636
I would expect this feature too.  Does the "Internal Tracking" number mean that this is being worked on?

[2020-07-22 06:11] v-xuto opened #12661 "Storage blob Readme and Sample issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/storage/azure-storage-blob#clients):
![image](https://user-images.githubusercontent.com/57166602/88140614-a194e480-cc24-11ea-87d2-cec32e118d78.png)

Suggestion:
Remove the extra `to`.

2.
Section [Link](https://github.com/Azure/azure-sdk-for-python/blob/a1021baee066dfd75abe2c92fe0aad3edb92a095/sdk/storage/azure-storage

[2020-07-22 06:20] v-xuto opened #12662 "Storage blob changefeed Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/storage/azure-storage-blob-changefeed#azure-storage-blob-changefeed-client-library-for-python):
![image](https://user-images.githubusercontent.com/57166602/88141170-a60dcd00-cc25-11ea-9121-5060f67375e5.png)

Suggestion:
* Update the `Source code` link to:
https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/st

[2020-07-22 06:26] v-xuto opened #12663 "Storage file datalake Samples issues"
1.
Sample [datalake_samples_instantiate_client_async.py](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage-file-datalake/samples/datalake_samples_instantiate_client_async.py)
![image](https://user-images.githubusercontent.com/57166602/88141734-bffbdf80-cc26-11ea-8ac1-5b0272691ac3.png)

Suggestion:
This is an asynchronous sample, so asynchronous methods should be u

[2020-07-22 06:28] v-xuto opened #12664 "Storage file share Readme issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/storage/azure-storage-file-share#clients):
![image](https://user-images.githubusercontent.com/57166602/88142105-7f509600-cc27-11ea-8abb-5105c2f85a7b.png)

Suggestion:
Remove the extra `to`.

[2020-07-22 06:29] LianwMS commented on #12612
@kappa, I tried your repo step. but both of command work: Here is some screenshot:
![image](https://user-images.githubusercontent.com/9375712/88142200-a7d89000-cc27-11ea-83da-741f2587a7a5.png)
![image](https://user-images.githubusercontent.com/9375712/88142254-c474c800-cc27-11ea-80a6-498840dfd0dc.png)

[2020-07-22 06:33] shawnxzq commented on #10597
@changlong-liu The TabularTranslator is indeed defined in the entityTypes/Pipeline.json, could you please double confirm whether we have some infra issue that blocks customer to use this? Thanks!

[2020-07-22 10:14] v-xuto commented on #12661
@jongio for notification.

[2020-07-22 10:15] v-xuto commented on #12662
@jongio for notification.

[2020-07-22 10:15] v-xuto commented on #12663
@jongio for notification.

[2020-07-22 10:15] v-xuto commented on #12664
@jongio for notification.

[2020-07-22 12:57] adamal opened #12665 "TopicSender unable to recover after timeout"
- **Package Name**:
azure-servicebus
- **Package Version**:
0.50.2
- **Operating System**:
Experienced in Docker image `python:3.8-slim-buster` as well as locally on macOS 10.14.6
- **Python Version**:
3.8

**Describe the bug**
Trying to send a message after the 240 s of inactivity results in various errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a sender `sender = TopicClient.f

[2020-07-22 15:17] shril opened #12666 "Unable to upload file using azure-storage-blob"
Unable to import `BlobClient`

[code]

Result of `pip freeze`

[code]

Python version - `Python 3.6.5 `

[2020-07-22 15:44] PiroHiroPiro opened #12667 "How to get advisor recommendations in non-English language"
**Is your feature request related to a problem? Please describe.**
I can't get advisor recommendations in Japanese (or non-English language) using the SDK.

**Describe the solution you'd like**
Get advisor recommendations in Japanese (non-English language).

**Describe alternatives you've considered**
When the following source code was prepared and executed, it was output in English.

Code Snippet

[2020-07-22 16:32] #12649 closed

[2020-07-22 16:32] #12651 closed

[2020-07-22 17:17] #11312 closed

[2020-07-22 17:36] ramya-rao-a commented on #12559
Please wait until the swagger makes it to the https://github.com/Azure/azure-rest-api-specs/ repo. I'll post an update here when it does

[2020-07-22 18:30] kappa commented on #12612
@LianwMS I am sorry, I didn't copy the command correctly, because "--no-binary" switch requires an argument.

Here's the correct repro command:

$ pip3 wheel --no-binary azure-mgmt-billing azure-mgmt-billing

Attaching the screenshot as well.
![screen_$r_2020-07-22-001](https://user-images.githubusercontent.com/47310/88214230-b1093300-cc0e-11ea-94df-b27a56e0cc5f.png)

[2020-07-22 18:39] southpolesteve commented on #8636
Internal tracking number does not mean it is being worked on

[2020-07-22 18:48] #12650 closed

[2020-07-22 18:54] LibbaLawrence opened #12670 "Update changelog for Azure Data Tables"

[2020-07-22 18:55] LibbaLawrence opened #12671 "Fix datetime issue with timezone"
import dateutil not allowed -> replicate tzutc() in deserialization

[2020-07-22 18:57] LibbaLawrence opened #12672 "Look into switching ExponentialRetry (base_client) to azure-core RetryPolicy"
pipeline error with hosts

[2020-07-22 20:45] joshfree commented on #9316
Moving this to the September milestone for wrapping up the WebJobs python-specific tests.  EngSys is working on supporting WebJobs test automation now, so getting this finished in the September milestone would be good timing.

[2020-07-22 20:46] joshfree commented on #9318
Closing as the logging and error improvements have been committed and shipped in previews

[2020-07-22 20:46] #9318 closed

[2020-07-22 20:47] joshfree commented on #9319
Closing Manganese tracking item as improvements have shipped in public previews

[2020-07-22 20:47] #9319 closed

[2020-07-22 20:47] joshfree commented on #9320
Closing Manganese tracking item as improvements have shipped in public previews

[2020-07-22 20:47] #9320 closed

[2020-07-22 20:52] joshfree commented on #9321
Closing as we've completed all intended dev-time credential improvements for the upcoming Identity GA

[2020-07-22 20:52] #9321 closed

[2020-07-23 05:03] scbedd commented on #10087
[This PR](https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/707) Resolve this issue!

[2020-07-23 06:36] ppessi commented on #12608
Yes, it works fine except if I try to do it two times in a row.

[2020-07-23 06:45] LianwMS commented on #12612
@kappa, I tried repo steps you provided, it's correct. but It seems that only billing have the issue. other 4 you list cannot repo.
@languy, Could you explain more what's impact now? if we do not release new SDK, what will happened? Thanks

[2020-07-23 07:58] xiafu-msft commented on #12608
Hi @ppessi

Thanks for the info, while I still have two questions and I need some info to reproduce it successfully.

If you’ve uploaded successfully, then “ Upload successful” should be printed out right? I’m just assuming the console has all output info.

Does “Do it twice in a row” mean uploading to the same blob twice or to two different blobs?

[2020-07-23 08:03] ppessi commented on #12608
Ah, sorry for being unclear, I meant that when there is no blob of the same name already it does succeed. This problem only occurs when a blob with the same name already exists and I try to create a new one with a different name. So first I attempt to upload to blob A, then to blob B, and it fails to upload to B.

[2020-07-23 08:13] PiroHiroPiro commented on #12667
Thank you for confirmation.
I've been asked this question from a customer, so please let me know if it is possible or not.

[2020-07-23 09:06] shawnxzq commented on #12050
"preserve" is not supported properties in copy activity, we don't allow arbitrary properties and it's by design.

[2020-07-23 09:49] LianwMS commented on #12666
Is it belong to data-plane?

[2020-07-23 11:42] shawnxzq commented on #8914
Please use the latest version of Az module, it should work.

[2020-07-23 11:55] shawnxzq commented on #8914
@zikalino Could you please help close it since I can't close it, thx!

[2020-07-23 15:25] kappa commented on #12612
@LianwMS this is the output from my original command (building the wheel for azure-cli with dependencies) in the task:
https://gist.github.com/kappa/718802ed7e3bef53b5c49bd10c92558a

123 wheels built successfully and 5 failures for the packages I mentioned.

[2020-07-23 15:36] kappa commented on #12612
@LianwMS The reason why we don't see the errors when we build other packages individually is because the new packages are already released for them but azure-cli specifies old versions as dependencies. See:

    pip wheel --no-binary azure-mgmt-applicationinsights azure-mgmt-applicationinsights

This is successful and build a wheel for azure-mgmt-applicationinsights-0.3.0 which was released in Apr

[2020-07-23 16:06] shreyasmoolya09 opened #12685 "An error of type CloudError has occurred. Error says: Azure Error: ResourceNotFound Message: The Resource 'Microsoft.RecoveryServices/vaults/<vault_name>' under resource group <resource_group_name> was not found"
- **Package Name**: azure-mgmt-recoveryservices
azure-mgmt-recoveryservicesbackup
- **Package Version**: ==0.5.0;==0.8.0 respectively
- **Operating System**: windows 10
- **Python Version**: 3.8

**Describe the bug**
I am fetching the azure vaults from a resource group and then trying to use the usage summaries of vaults for the same vaults from the resource groups which considered previously. I g

[2020-07-23 16:29] xiafu-msft commented on #12608
Hi @ppessi

Thanks for clarifying this! I will try to reproduce it today and see if I have any clue!

[2020-07-23 17:24] iscai-msft opened #12688 "[text analytics] remove batch_ prefix from the name of code snippets"

[2020-07-23 17:39] #8914 closed

[2020-07-23 17:43] YijunXieMS commented on #12429
Done with PR https://github.com/Azure/azure-sdk-for-python/pull/12501 merged

[2020-07-23 17:43] #12429 closed

[2020-07-23 18:03] #12541 closed

[2020-07-23 18:05] weshaggard commented on #12566
While I completely understand there is a little confusion between running the verify-changelog step as part of the build and as part of the release there are reasons for splitting the verification. We want to do as much verification as we can during the build/analyze phase to make sure folks are thinking about and at least have a place holder for the current active version. During release we want

[2020-07-23 18:47] KieranBrantnerMagee opened #12690 "service bus should not have a pypy run in the CI pipe."
since servicebus relies on uamqp, users cannot use pypy.  pypy was disabled in the manual test runs for servicebus, but apparently not for the scheduled runs.  This should be carried over such that unit tests involving the uamqp package do not fail.

[2020-07-23 19:20] joshfree opened #12693 "Azure Identity Iron Semester for Python"
The Azure Identity library provides Azure Active Directory token authentication support across the Azure SDK. It provides a set of TokenCredential implementations which can be used to construct Azure SDK clients which support AAD token authentication.

This issue tracks the new features, reliability improvements, and the release of minor updates to Azure.Identity for the Python language during Sep

[2020-07-23 19:57] joshfree opened #12695 "Move to latest App Services MSI API version"
- Move Azure.Identity to the latest App Services MSI API version.
- Update /sdk/e2e Azure Functions date parsing tests

[2020-07-23 20:01] joshfree opened #12696 "Add ADFS / Azure Stack Support"
- On-prem active directory instance support
- Requested by CLI / PSH for .NET and Python

- [x] `ClientSecretCredential` and `CertificateCredential` (#13215)
- [x] `SharedTokenCacheCredential` (#13490)
- [x] user credentials (`DeviceCodeCredential`, `InteractiveBrowserCredential`, `UsernamePasswordCredential`)
- [ ] async credentials (waiting for AzureAD/microsoft-authentication-library-for-python

[2020-07-23 20:20] joshfree opened #12698 "Add "Use Console" Option to DeviceCodeCredential"
Investigate adding a "Use Console" option for Device Code Credential

[2020-07-23 20:25] seankane-msft opened #12699 "[Tables] Create samples for async client code"
the samples for the asynchronous code need to be updated.

[2020-07-23 20:41] joshfree opened #12700 "Add PyCharmCredential Support"
Connect to Azure using the credential provided by the PyCharm extension 'Azure Account'. Once the user has logged in via the extension, this credential can share the same refresh token that is cached by the extension.

[2020-07-23 21:29] #10931 closed

[2020-07-23 21:52] #12348 closed

[2020-07-23 22:02] joshfree opened #12702 "Azure.Identity Support for Managed Identity for Azure Arc Applications"
Managed identities for Azure resources provide Azure services with an automatically managed identity in Azure Active Directory. Using a managed identity, you can authenticate to any service that supports Azure AD authentication without having credentials in your code.

https://azure.microsoft.com/en-us/services/azure-arc/

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-

[2020-07-23 22:45] YijunXieMS opened #12704 "[ServiceBus] Replace isodate for iso8601 (datetime/timedelta) strings"
ServiceBus management client uses [isodate](https://pypi.org/project/isodate/) to serialize and deserialize iso8601 datetime/duration string. isodate is also used in msrest.

msrest may replace isodate with [aniso8601](https://pypi.org/project/aniso8601/) to parse iso8601 strings some day because isodate could be desupported. But aniso8601 isn't bidirectional. It doesn't serialize a datetime or ti

[2020-07-23 23:12] joshfree opened #12705 "Azure.Identity Support for Managed Identity for Service Fabric Applications"
A common challenge when building cloud applications is how to securely manage the credentials in your code for authenticating to various services without saving them locally on a developer workstation or in source control. Managed identities for Azure solve this problem for all your resources in Azure Active Directory (Azure AD) by providing them with automatically managed identities within Azure

[2020-07-23 23:53] HarshaNalluru opened #12707 "[Service Bus] ATOM API: Add `ScheduledMessageCount` to `TopicRuntimeProperties`"
Scheduled messages remain in the topic until their scheduled time, so the `ScheduledMessageCount` is not relevant for subscriptions.

TODO:
- [ ] Remove `ScheduledMessageCount` from the `SubscriptionRuntimeProperties`.
- [ ] Add `ScheduledMessageCount` to the `TopicRuntimeProperties`

[2020-07-23 23:58] scbedd commented on #9076
This was erroneously closed. Issue being resolved when [this PR](https://github.com/MicrosoftDocs/azure-docs-sdk-python/pull/708) merges.

[2020-07-24 01:20] xiafu-msft commented on #12617
Hi @dalmat36

Thanks for reaching out!
Can you give us more details about what you were trying to do? We need some info to reproduce the problem on our side.
You can paste the code you were using! Thanks!

[2020-07-24 02:42] xiafu-msft commented on #12608
Hi @ppessi

I wasn't able to reproduce the hanging problem by uploading to the same block blob twice.

If it's an read timeout, can you increase the read_timeout value? If you are using python2 let's increase it to 40, if you are using python3 then it shouldn't be read timeout. Can you add HttpResponseError (as the code below) to see if can help catch any other error? Also can you confirm the beha

[2020-07-24 06:00] LianwMS commented on #12612
So, it seems that, we only need to release billing for new. Then Cli need update to the recent version. I will try to release billing first.

[2020-07-24 06:28] #9917 closed

[2020-07-24 06:35] YijunXieMS commented on #10980
@tartieret Thanks for the information. May I know what limitations does EventHub Stream Analytics have so you dropped it?

[2020-07-24 09:45] ppessi commented on #12608
Hmmm it started working now even though I didn't change anything significant?? I'm using a different wi-fi than before, could that affect it...? Nothing should've changed on the storage account's side, either.

And yeah the behavior I want is that it continues trying until it finds a blob that doesn't exist and then uploads that. I don't really know if this is the best way to do that but it's for

[2020-07-24 15:30] seankane-msft opened #12717 "[Tables] Create decorator to avoid creating a client for every test"
From iscai-msft
"nit: you can create a separate decorator so you don't have to create a client in every single test. Here's an example of the code we have for TextAnalytics, and what it looks like in practice. Ping me if you have any questions about how to implement this"
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/textanalytics/azure-ai-textanalytics/tests/testcase.py#L98
https:

[2020-07-24 17:02] annatisch opened #12719 "[Storage] Samples need to be updated for STG73"
The samples will need to updated to reflect the most recent API updates. For example blob query:
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage-blob/samples/blob_samples_query.py

[2020-07-24 17:08] tartieret commented on #10980
We switched to Kafka + [Faust](https://faust.readthedocs.io/en/latest/). Here are the limitations we found in the combo EventHub + Stream Analytics, due to our specific use case:
- limited support for table/stream joins: reference data can only loaded at max every 1min in Stream Analytics, and you can't write to it. In our application, the system maintains a state machine that is used by the "stre

[2020-07-24 17:22] KieranBrantnerMagee commented on #11935
This should be largely mitigated per #12307 , which among other things makes renew_period internal as it should not need to be adjusted for proper functionality, and adjustment only opens room for pitfalls as described.

This notably also adds on-failure callback capabilities to better alert if a lock renewal failure DOES occur nonetheless, as another component of the exchange that spawned this is

[2020-07-24 19:01] scbedd opened #12723 "docs.ms refdoc gen Is marking all parameters required, not just positional"
[Rendered](https://docs.microsoft.com/en-us/python/api/azure-storage-file-datalake/azure.storage.filedatalake.datalakefileclient?view=azure-python#flush-data-offset--retain-uncommitted-data-false----kwargs-)

**In the actual source:**
![image](https://user-images.githubusercontent.com/45376673/88425906-0d05c000-cda5-11ea-8260-dc39db90b741.png)

**Rendered:**
![image](https://user-images.githubuser

[2020-07-24 20:51] scbedd commented on #9076
Fixed. [keyword params render](https://docs.microsoft.com/en-us/python/api/azure-storage-file-datalake/azure.storage.filedatalake.datalakefileclient?view=azure-python#flush-data-offset--retain-uncommitted-data-false----kwargs-)

Apologies to everyone for the wait.

I've filed another [follow-up](https://docs.microsoft.com/en-us/python/api/azure-storage-file-datalake/azure.storage.filedatalake.data

[2020-07-24 20:51] #9076 closed

[2020-07-24 20:58] #12618 closed

[2020-07-24 23:01] yunhaoling commented on #11865
legacy control client already removed, eh using mgmt-eventhub for resource preparation now

[2020-07-24 23:05] devang93 commented on #12577
@changlong-liu Any updates here? I am not sure how to reach out to the service team and we are blocked here.

[2020-07-24 23:08] praveenkuttappan opened #12729 "Aggregate report pipeline is failing"
Aggregate report pipeline runs all steps in analyze.yml and new change in this analyze.yml to download artifact has failed since there are no artifact to download when running aggregate report pipeline. We need a fix to ensure that download artifact is not triggered for aggregate pipeline and also run only required steps in analyze template for aggregate report.

[2020-07-26 03:59] antgonmir opened #12735 "'StoreWriteSettings.type can not be None' exception when creating a pipeline with linked service of type Azure File Storage"
- **Package Name**: azure-mgmt-datafactory
- **Package Version**: 0.11.0
- **Operating System**: Linux
- **Python Version**: 3x

**Describe the bug**
**pipelines.create_or_update** in **DataFactoryManagementClient** results in the following exception if the pipeline uses a linked service of type **Azure File Storage**:

[code]
The **pipeline** object is read directly from the pipeline specificatio

[2020-07-27 05:56] PiroHiroPiro commented on #12667
I'm done.

Just set `accept language`...

[code]

Thanks all.

[2020-07-27 05:56] #12667 closed

[2020-07-27 07:37] LianwMS commented on #12685
@shreyasmoolya09 Hi, in your sample code, you fetch all resources in resource group first. Does it mean all resources in the resource group are "Recovery Services vault"?

[2020-07-27 09:12] smoolya17 commented on #12685
@LianwMS yes, I set a debugger point and checked all names

[2020-07-27 11:38] marcoszh opened #12739 "Unable to initiate BlobServiceClient on Alpine Linux"
- **azure-storage-blob**:
- **azure-core-1.7.0 azure-storage-blob-12.3.2**:
- **Alpine Linux 3.10**:
- **3.7.7**:

**Describe the bug**
Cannot initiate BlobServiceClient with the correct connection string. Codes work fine on Ubuntu, but fail with Alpine Linux.

**To Reproduce**
Steps to reproduce the behavior:
1. Call blob_service_client = BlobServiceClient.from_connection_string(connect_str) on A

[2020-07-27 14:15] shreyasmoolya09 commented on #12685
`all_resources = resource_management_client.resources.list_by_resource_group(resource_group_name=rsv)`

if this line you mean to ask, then yes i am listing all resources by resource_group inside which i have all the recovery service vaults..

[2020-07-27 15:32] #12573 closed

[2020-07-27 15:34] xiangyan99 opened #12740 "Please help add regression test runs for identity"
Now we have regression runs for azure-core.

Can we add the regression tests for identity as well?

What we want is to install latest bits and run tests against last GA release. So we can make sure we don't introduce breaking changes between two GA releases.

[2020-07-27 16:55] joshfree commented on #12138
Moving this to the August milestone

[2020-07-27 17:58] schaabs opened #12742 "Investigate removing Application Authentication API from GA"
This includes removing the following APIs from the public surface area:
- [ ] EnablePersistentCache
- [ ] AllowUnencryptedCache
- [ ] AuthenticationRecord
- [ ] Authenticate

[2020-07-27 17:59] KedarJoshi commented on #12577
@devang93 are you using actual OpenApiSpec in the Value field (instead of sample_test)?  you can first try to do this using REST API https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/apis/createorupdate

value= "sample_test",
format="openapi"

[2020-07-27 18:00] seankane-msft commented on #12672
@annatisch The StorageRetryPolicy that ExponentialRetry inherits from has a use for the kwarg `hosts` and ExponentialRetry does not. Is this a storage specific kwarg and mean we should continue to use the specific RetryPolicy?

[2020-07-27 18:02] seankane-msft opened #12743 "[Tables] Make full use of generated code"
The table client and table service client have some parts (creating pipeline and configuration) that are done explicitly when it's possible this was taken care of by the generated code.

[2020-07-27 18:32] devang93 commented on #12577
@KedarJoshi I didn't quite understand it. What is the expected value for "value" field?

I just commented the "value" field out and I was able to create the api in apim. However, it doesn't import all the operations automatically.

[2020-07-27 19:41] devang93 commented on #12577
@KedarJoshi after going through the rest api documentation I understand that "value" field requires api spec documentation.

I am passing the following values for a sample api but it still fails with the same error. The sample api in this example uses swagger specs.

[code]

I also tried to download the swaggerspec file and then pass that entire file string into value but it again failed with same

[2020-07-27 20:16] dharmab opened #12744 "How do I determine if a storage container or blob exists?"
In older versions of the Azure SDK for Python, I could call [`BaseBlobService.exists()`](https://docs.microsoft.com/en-us/python/api/azure-storage-blob/azure.storage.blob.baseblobservice.baseblobservice?view=azure-python-previous#exists-container-name--blob-name-none--snapshot-none--timeout-none-) to check if a container or blob exists.

I don't see any equivalent function in the documentation for

[2020-07-27 21:59] #12441 closed

[2020-07-27 23:13] RupengLiu commented on #12577
Please try this one:
 `
value= "https://conferenceapi.azurewebsites.net/",
 format="openapi-link"
`

[2020-07-27 23:41] devang93 commented on #12577
@RupengLiu yes, it worked. I was also able to figure out another swagger-link-json as well. I figured out that the ConferenceApi I was trying out with was not swagger formatted.

My issue has been resolved but however, it would be nice if the error/exception given described which field is missing or have incorrect value. Following error doesn't explain much or help in debugging:

[code]

[2020-07-28 00:13] JoshLove-msft opened #12750 "Consider reconnecting session link on transient errors"
See https://github.com/Azure/azure-sdk-for-net/pull/13735

[2020-07-28 00:22] kristapratico opened #12751 "[formrecognizer] consistency check items"
- [x] `document_name` -> `name`
- [x] `include_sub_folders` -> `include_subfolders`
- [x] update FieldValueType enum to python specific types - "list", "float", "dictionary"

[2020-07-28 02:13] LianwMS commented on #12685
@shreyasmoolya09 , All the resources in resource group are recovery service vaults? I tried the same code, if there are non recovery service vaults in resource group. the following line will return error, as it's not recover service vault

`usage_summary_iterator = recovery_backup_client.backup_usage_summaries.list(resource_group_name=rsg,                                                         va

[2020-07-28 02:18] marcoszh commented on #12739
I have bypassed the issue by replacing the platform.platform() call with a fixed string in /azure/core/pipeline/policies/_universal.py.

[2020-07-28 02:18] #12739 closed

[2020-07-28 04:05] smoolya17 commented on #12685
@LianwMS yes all are recovery services vaults, I have verified each name setting debugger points

[2020-07-28 06:52] shreyasmoolya09 commented on #12685
@LianwMS yes i checked all recovery services vaults

@LianwMS I have checked recovery services vaults, for some it gives the above error and in some it gives `End of paging`

[2020-07-28 12:14] terrycain commented on #12368
Have not seen it reoccur in the environment with the additional logging. Am working on it :D

[2020-07-28 13:20] iamvishnuks opened #12762 "Message: Required parameter 'hyperVGeneration' is missing (null) while creating a Managed Disk image from blob storage"
- **Package Name**: azure.mgmt.compute
- **Package Version**: v2020_06_01
- **Operating System**: ubuntu 18.04
- **Python Version**:  Python 3.7

**Describe the bug**
Instead of creating the disk it throws `Message: Required parameter 'hyperVGeneration' is missing (null).`  error.

**To Reproduce**
Steps to reproduce the behavior:
1. Run below code
[code]
**Expected behavior**
Disk should be creat

[2020-07-28 14:42] YijunXieMS commented on #10980
Thanks @tartieret for the detailed information

[2020-07-28 14:42] #10980 closed

[2020-07-28 16:51] lmazuel commented on #12666
Hi @shril , I can't reproduce your issue on a fresh environment with `pip install azure-storage-blob azure-functions`. Could you give more details on how you reproduce it?
Thank you

[2020-07-28 17:18] kristapratico opened #12764 "[tables] set up live test pipeline and scheduled run"
Tables has a tests.yml but needs the live test pipeline created in the internal DevOps and a daily run scheduled.

[2020-07-28 18:05] #12671 closed

[2020-07-28 19:10] LibbaLawrence opened #12767 "Add typehints to client code"

[2020-07-28 20:05] Abhinavtuteja commented on #751
Hi @vaibhavparnalia @lmazuel **I'm facing the issue related creating a resource**

here below is my code when I try to run this It gives me following error image attached below :--

resource_client = get_client_from_cli_profile(ResourceManagementClient)
para = {
        'location':'West US',

    }

rg_result = resource_client.resources.create_or_update(
                resource_group_name= "LUIS-

[2020-07-28 20:30] #10087 closed

[2020-07-28 20:30] #9562 closed

[2020-07-28 21:54] #12544 closed

[2020-07-28 21:54] #12590 closed

[2020-07-28 21:54] #12690 closed

[2020-07-28 21:55] #12729 closed

[2020-07-28 22:01] xinyeah opened #12772 "support azure storage table"
Do we have any plan to support azure storage table?

[2020-07-28 22:07] annatisch commented on #12772
Thanks for your interest! We actually have an SDK in development:
Current development progress: https://github.com/Azure/azure-sdk-for-python/issues/12311
PR: https://github.com/Azure/azure-sdk-for-python/pull/12766

Rather than Storage Table - it will likely be published as `azure-data-tables` - and we are hoping to ship the first preview in September.

[2020-07-28 23:04] ramya-rao-a commented on #12559
https://github.com/Azure/azure-rest-api-specs/pull/10220 is the link to the PR adding the swagger to the rest-api-specs repo. Please give this a try and see if there are any issues

[2020-07-28 23:28] xiafu-msft commented on #12744
Hi @dharmab

Thanks for reaching out!
Currently you can use blob_client.get_blob_properties() and it will throw ResourceNotFoundError if the blob/container/blob_snapshot doesn't exist.

We have an feature request to add exists() api, so users will be less confused about this.

[2020-07-28 23:30] xiafu-msft commented on #12608
Hi @ppessi

It looks like you don't encounter the problem anymore, is it good for you to close the issue now?

[2020-07-29 01:08] changlong-liu commented on #12577
Hi @devang93 , the detail reasons are in the response body of the apimanagement service response. It's too complex to show in one exception message.

Would you try this code:
[code]
You may find details information for the error.

[2020-07-29 04:07] yangsiyu007 opened #12775 "App Configuration `client.list_configuration_settings()` unexpected keyword argument 'keys'"
- **Package Name**:
azure.appconfiguration

- **Package Version**:
1.0.0

- **Operating System**:
Mac

- **Python Version**:
3.6.10

**Describe the bug**
Following the example for listing configuration settings (https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/appconfiguration/azure-appconfiguration#list-configuration-settings), the for-each loop gives the error
[code]
suggesting that

[2020-07-29 05:13] qiaozha commented on #12735
@antgonmir Can you share more details about the pipeline definition? What kind of activities are you trying to create? What's your dataset definition?

[2020-07-29 05:51] dr-dolittle opened #12776 "How to disable HTTP logging for azure.cosmos (Python)?"
- **Package Name**: azure.cosmos
- **Package Version**: 4.0.0
- **Operating System**: Windows
- **Python Version**: 3.8.1 / 3.8.3

Goal is to suppress the verbose HTTP logging when doing requests. For storage I found https://github.com/Azure/azure-sdk-for-python/issues/9422 what is working fine. But the HTTP logging for CosmosDb related requests is still happening.

I.e. when setting `log.getLogge

[2020-07-29 07:25] qiaozha commented on #12735
After furthur investigation, there is because there's no definition of AzureFileStorageWriteSettings in the swagger https://github.com/Azure/azure-rest-api-specs/blob/master/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json, but it has AzureFileStorageReadSettings. Add service attention here.

[2020-07-29 08:22] ppessi commented on #12608
Well it's still a mystery why it didn't work at first but not sure there's anything that can be debugged... but it does work now.

[2020-07-29 08:22] #12608 closed

[2020-07-29 08:25] dr-dolittle opened #12778 "Azure Storage Blob: delete_blobs returns warning when using list[dict] as argument"
- **Package Name**: azure.storage.blob
- **Package Version**:  12.3.2
- **Operating System**: Windows
- **Python Version**:  3.8.1

I retrieve blobs matching a certain pattern and then delete them:

[code]

It works but it emits the following warning logs for each request made through the deletion process:

[code]

Is this intended? If not, can you please fix that?

Thanks

[2020-07-29 08:33] dr-dolittle opened #12779 "Azure Storage Blob: delete_blobs returns "tuple index out of range" when list_blobs are zero"
- **Package Name**:  azure-storage-blob
- **Package Version**: 12.3.2
- **Operating System**: Windows
- **Python Version**:  3.8.1

I retrieve blobs matching a certain pattern and then delete them. Currently it is implemented with a (costly) workaround as you can see in the following issue: https://github.com/Azure/azure-sdk-for-python/issues/12778

When passing `blob_paged` directly to `delete_bl

[2020-07-29 08:57] LianwMS commented on #12685
[code]
Could you please help to **add print(res.name + ':' + res.type)** and paste here? Thanks

[2020-07-29 14:56] Mystorius opened #12780 "Azure ModelPackage class returns wrong location"
- **Package Name**: Azure ModelPackage
- **Package Version**: azureml-contrib-services-1.10.0 azureml-core-1.10.0.post1
- **Operating System**: mcr.microsoft.com/azureml/intelmpi2018.3-ubuntu16.04:20200723.v1
- **Python Version**: /opt/hostedtoolcache/Python/3.7.8/x64

**Describe the bug**
We got a bug that the  ModelPackage class does not return the correct location of a registered image.

From t

[2020-07-29 15:53] seankane-msft opened #12781 "[Tables] Update _table_service_client_async.py"
update to be consistent with the sync method

[2020-07-29 15:55] LibbaLawrence opened #12782 "Verify etag and match_condition set-up is correct"

[2020-07-29 15:56] LibbaLawrence opened #12783 "Figure out correct version for changelog"

[2020-07-29 17:02] annatisch commented on #12776
Thanks @dr-dolittle!
The azure-cosmos client is also using the same HttpLoggingPolicy in azure-core:
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py#L193

Just to confirm, the logging output that you're seeing here - what level is it output to? INFO or DEBUG?

[2020-07-29 18:40] avirishuv commented on #12762
@Vaibhav-Agar is this something you could take a look at?

[2020-07-29 18:55] LibbaLawrence opened #12785 "Get rid of _shared folder"

[2020-07-29 18:58] elhorton opened #12786 "[Python IoT SDK] Issue generating preview reference documentation"
- **Package Name**: azure-iot-hub
- **Package Version**: https://pypi.org/project/azure-iot-hub/2.2.1rc2/
- **Operating System**:
- **Python Version**:

**Describe the bug**
Need to generate API reference documentation for this package, but the build is failing.

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**
A clear and concise description of what you expected to happ

[2020-07-29 19:03] LibbaLawrence opened #12787 "Infer types EDM.Types for UUID and Bytes"
We should automatically infer the type from passing in uuid.UUID

We should automatically infer the type from passing in bytes (or six.binary_type)

[2020-07-29 19:08] dr-dolittle commented on #12776
@annatisch I just checked again. It seems to happen only when initializing the client. When executing e.g. a query logs are not showing up.

The logs are as far as I can see level `INFO`. It can't be `DEBUG` as the minimum level logged is `INFO`.

Here an example:

[code]

[2020-07-29 19:36] seankane-msft commented on #12785
Factor out methods that are imported from the `_shared` directory and place them in appropriate files in the root. Most will probably belong in serialize, deserialize, and the models file. Afterwards, remove the `shared` directory.

In addition, with the imports verify that all imports from the tables directory are relative imports

[2020-07-29 20:50] lmazuel commented on #12383
Hi @datascinerd
I would assume that you updated customvision SDK from 2.x to 3.x, could you confirm the version of the SDK you are using? This API changed in 3.x
Thank you

[2020-07-29 21:43] datascinerd commented on #12383
Yes this is SDK 3.x.

[2020-07-29 22:18] scbedd commented on #12518
Locally reproing, there is something pretty significantly off to me. It's still streaming output in my terminal and this is what it looks like in task manager:

![image](https://user-images.githubusercontent.com/45376673/88859449-9c98dd80-d1ae-11ea-8026-ad91d0a91dab.png)

[2020-07-29 23:11] KieranBrantnerMagee commented on #12665
Hey adamal;

Thanks for reaching out, sorry you've run into this trouble.

The 4 minute timeout is a known behavior, this is a service-side timeout to terminate inactive links.  This was also ostensibly something addressed in version 0.50.3, the final pre-release version of Servicebus. (Our GA release currently is in beta, as a note.)  I would first encourage updating to that (`pip install azure-s

[2020-07-30 04:33] shreyasmoolya09 commented on #12685
Here's the output:
[code]

[2020-07-30 05:13] LianwMS commented on #12685
@shreyasmoolya09 in output, not all resource is Microsoft.RecoveryServices/vaults. I think that's why the follows code throw error. Could you add the filter and try again:
[code]

[2020-07-30 05:25] shreyasmoolya09 commented on #12685
Yes I have added the filter & it works properly. It was my semantic error where i checked the name of resource only to misunderstand as its type. Thanks for resolving the issue @LianwMS! . I am closing this issue

[2020-07-30 05:25] #12685 closed

[2020-07-30 07:34] mgsnuno commented on #9596
@mikeharder any update on this?

[2020-07-30 11:01] Azrael1 opened #12823 "Dumping outputs/ & logs/ in ADLS gen2 datastore"
- **Package Name**: `azureml`
- **Package Version**: 0.2.7
- **Operating System**: Windows
- **Python Version**: 3.7

**Describe the bug**
A clear and concise description of what the bug is.
I am running the BERT algorithm on Azure, where I am using the python-sdk for the same, I define the output directory as

`output_dir = Dataset.File.from_files((ds,'/path/on/adls-gen-2-datastore/here/'))
`
I g

[2020-07-30 11:03] Azrael1 commented on #12823
If this is not possible, or not implemented yet, how can I get the outputs in my local directory(from where I am running the experiments then?

[2020-07-30 15:34] iscai-msft opened #12824 "[text analytics] clean up repr tests"

[2020-07-30 15:44] LibbaLawrence opened #12825 "Fix links on README to be real"

[2020-07-30 15:44] #12647 closed

[2020-07-30 15:49] #12751 closed

[2020-07-30 16:29] lmazuel opened #12828 "HttpLoggingPolicy should acknowledge the existence of a body"
By design, HttpLoggingPolicy does not log the body of the request. However, this makes debugging complicated in some scenario, when we want at least to know if _any_ body has been sent.

This issue is about adding something like:
[code]
to at least indicate that something was sent or not.

This is pseudo-code, the PR should think about data/files and all possible kind of body a request can hold.

[2020-07-30 16:41] areddish commented on #12383
@datascinerd The 3.0 SDK changed the signature of `create_images_from_urls` such that it now takes an ImageUrlCreateBatch instead of the raw list. You will need to update the code to construct the batch and pass that. For example:

`trainer.create_images_from_urls(project.id, ImageUrlCreateBatch(images=[ImageUrlCreateEntry(url=row['image_url'], tag_ids=[project_tag.id])]))`

[2020-07-30 16:47] xiangyan99 commented on #12775
Thanks for reporting the issue.

We have a fix for it and it will be available in next release.

[2020-07-30 16:58] annatisch commented on #12776
Thanks for these details @dr-dolittle!
Given that it's only happening on client initialization I'm reclassifying as a bug because I think there's an issue with the pipeline not behaving correctly in the client init. Still digging into why that might be happening...

[2020-07-30 17:31] xiangyan99 commented on #12775
Fixed in #12784

[2020-07-30 17:50] mikeharder commented on #9596
@mgsnuno: Thanks for reporting the issue at dask/adlfs#57.  If this is indeed a perf regression in azure-storage-blob v12, we would like to investigate and fix it.

However, it's not clear to me that dask/adlfs#57 is related to this issue.  It looks like dask/adlfs#57 is about large files, while this issue is specific to small files (600 bytes).

Can you please open a new issue in this repo with d

[2020-07-30 18:00] mikeharder commented on #9596
For the original scenario uploading and download 600 byte blobs, using the customer-provided repro app in the ICM, I was able to verify v12 is 7-21% slower than v2:

Scenario | Size | Parallel | 2.0.1 - time | 2.0.1 - ops/s | 12.1.0 - time | 12.0.1 - ops/s | 12.1.0/2.0.1 - ops/s
-- | -- | -- | -- | -- | -- | -- | --
UploadSerial | 600 | 1 | 13994 | 129 | 14992 | 120 | 93%
DownloadSerial | 600 | 1

[2020-07-30 18:00] #12775 closed

[2020-07-30 19:19] scbedd commented on #11956
Opened to associate a PR with it. Re-closing.

[2020-07-30 19:19] #11956 closed

[2020-07-30 20:02] t-swpill opened #12831 "msrest.serialization serializes CloudEvent data field object as string"
I am trying to send a CloudEvent to an Event Grid topic, where CloudEvent is a model which inherits from `msrest.serialization.Model`. The CloudEvent is the following:

[code]

The CustomSample class is:

[code]

When the CloudEvent is serialized to send to the Event Grid service, the CustomSample object in the data field is serialized into a string. This means that, when I try to deserialize the

[2020-07-30 21:05] YijunXieMS commented on #12559
Code is generated with the swagger file in the above mentioned PR. There is a warning raised by autorest. I've pasted detailed information to that PR comment.

WARNING (PreCheck/SchemaMissingType): The schema 'SchemaId' with an undefined type and decalared properties is a bit ambigious. This has been auto-corrected to 'type:object'

[2020-07-30 21:07] Vaibhav-Agar commented on #12762
Investigating

[2020-07-30 21:18] #12021 closed

[2020-07-30 21:18] #12603 closed

[2020-07-30 21:26] iscai-msft opened #12832 "[text analytics] update references to v3.1-preview.1 in docstrings"
Right now, in docs for PII and opinion mining, I'm including references that they're only available for API version v3.1-preview.1 and up. Once the service GAs, this will switch to v3.1 and up, since we won't be supporting the previews at that point

[2020-07-30 21:28] iscai-msft opened #12833 "[text analytics] verify confidence scores in tests add up to 1"

[2020-07-30 21:30] Petermarcu commented on #8899
Is this resolved now with the codegen fix or does something need to get released?

[2020-07-30 21:32] KieranBrantnerMagee commented on #12414
Transferring to Yijun due to accidental duplication of tracking issue; see prototype and arch review q&A here https://github.com/Azure/azure-sdk-for-python/pull/12741

[2020-07-30 21:39] lmazuel commented on #8899
@Petermarcu We did not re-release all autogen Cognitive with the new generator, I would expect this to be solved if we do so.

[2020-07-30 21:41] Petermarcu commented on #8899
Ok, I marked it as the next step being on the Service to regenerate and ship.

[2020-07-30 21:43] Petermarcu commented on #11875
@assafi is there a channel where you would normally make these kinds of GA timeline details public. Wondering if we can just point to that. That way we don't need to keep an issue open tracking it and remember to update in both places.

[2020-07-30 21:53] xiafu-msft commented on #9596
Here's the profile investigation Rakshith has done about this issue, while currently there's no obvious clue...https://microsoft.sharepoint.com/teams/AzureDeveloperExperience/_layouts/15/Doc.aspx?sourcedoc={690480f5-58fe-4d8e-ab3e-cb0dcb01b6f0}&action=edit&wd=target%28Services.one%7C7edf4d8f-3cf7-4200-bcd2-567d6a7e429c%2FPerformance%7Cb53f1222-0012-4b47-bcac-13f62d27a6a6%2F%29

[2020-07-30 22:09] assafi commented on #11875
@Petermarcu I don't believe we have such a channel externally.

[2020-07-30 22:31] kristapratico opened #12835 "[formrecognizer] unskip copy tests once fixes are deployed to prod"
This bug is fixed in canary, but since we test in both canary/prod currently, we will wait until the deployment is done (~8/17) to unskip test

https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model.py#L74

[2020-07-30 22:36] dr-dolittle commented on #12776
I did some deeper digging in the code and found the issue (and it was on our side). Basically what happened was that under certain conditions the client was initialized before the logging level had been set. Thanks for your support and sorry for the efforts.

[2020-07-30 22:36] #12776 closed

[2020-07-30 22:59] YijunXieMS opened #12836 "[Event Hubs] Enabling "File share soft delete" in the storage account for checkpoint store causes slow response."
A storage account disables "File share soft delete" by default as shown in the picture.
If it's enabled, EventHubs checkpoint store extension library will gradually experience slow response.
According to Storage service team,

_"What is happening here is that most likely versioning or soft delete for blobs/containers is on. Because of this every time you overwrite a blob an object is left behind t

[2020-07-30 23:51] xiafu-msft commented on #9596
Note: There was perf improvement for parallel upload in version 12.3.2 https://github.com/Azure/azure-sdk-for-python/blob/azure-storage-blob_12.3.2/sdk/storage/azure-storage-blob/CHANGELOG.md#1232-2020-6-12

[2020-07-31 01:49] kristapratico opened #12840 "[formrecognizer] update how value_data is set on FormField to align with other languages"
Sets `value_data` to None on `FormField` if none of `bounding_box`, `text`, or `page` is returned on `FieldData`. As described in this Teams [chat](https://teams.microsoft.com/l/message/19:88f2d9dea2344075b5d4bc34d82a3d1c@thread.skype/1586470046196?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1586210857171&teamName=Azure%20SDK&channelNa

[2020-07-31 02:05] aim-for-better commented on #6117
We will fix it soon.

[2020-07-31 08:10] RodgeFu commented on #12612
quick update: @LianwMS is working with Billing team on updating the swagger accordingly.

[2020-07-31 14:56] #12476 closed

[2020-07-31 14:56] #12477 closed

[2020-07-31 14:59] #12022 closed

[2020-07-31 15:00] #12648 closed

[2020-07-31 15:00] #12645 closed

[2020-07-31 16:35] lmazuel opened #12846 "Clarify the no-body logs"
This is the way the network logger is logging the body:
https://github.com/Azure/azure-sdk-for-python/blob/0021b7b0ba4ee9276f6313631373b0e2d6f584a4/sdk/core/azure-core/azure/core/pipeline/policies/_universal.py#L292

This might be confusing, to make an explicit difference between "there was no body, it was None" and "there was a 4 bytes body with the letters N-o-n-e" ([example](https://github.com/

[2020-07-31 18:47] xiangyan99 commented on #12846
#12830

[2020-07-31 20:46] #12478 closed

[2020-07-31 21:28] yunhaoling opened #12849 "[ServiceBus] settled property on ReceivedMessage"
In Track1 ServiceBus, there's a read-only property `settled` on `Message` which indicates whether the message is completed/abandoned/deferred/dead_lettered. After a message is settled, the corresponding internal variable would be set to True.

In Track2 Preview 5, we decided to remove the property from public interface to align with Java/.Net sdk avoiding long discussion on a single property.

Thi

[2020-08-01 01:19] #11310 closed

[2020-08-01 01:34] xinyeah commented on #12772
Thanks for your reply. Looking forward to that SDK.

[2020-08-01 01:34] #12772 closed

[2020-08-01 17:04] iamvishnuks commented on #12762
I found a work around  [here](https://github.com/Azure/azure-sdk-for-python/pull/4931 )
But the mentioned git branch is no longer available

[2020-08-01 18:36] KieranBrantnerMagee commented on #8905
Hey Imeya,
First, apologies that this sat for so long.
Second, I'd observe (from the doc link you sent) that you're on the track 1 EH library.  I'd recommend updating to 5.1.0 (pip install --upgrade azure-eventhub) and seeing if this mitigates the spurious error.

If you're still seeing it can gladly dig in and see what we can do.

Don't hesitate to let us know if any issues/blockers in this, or i

[2020-08-01 23:42] AvivAvital2 commented on #8707
Hi,
Using the documented example [here](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-servicebus/7.0.0b4/azure.servicebus.aio.html#azure.servicebus.aio.ServiceBusReceiver.receive_deferred_messages) and [here](https://github.com/Azure/azure-sdk-for-python/blob/9d218ea0225d7bc4bca86abe96993f9fc6685d92/sdk/servicebus/azure-servicebus/samples/async_samples/receive_deferred_message_queue

[2020-08-03 09:32] zuckerruebe opened #12861 "Setting of scheduled enqueue time via Message.schedule is not reflected in Message.scheduled_enqueue_time"
- **Package Name**:
azure-servicebus
- **Package Version**:
0.50.3
- **Operating System**:
Windows 10
- **Python Version**:
3.7.7

**Describe the bug**
Setting of scheduled enqueue time via `azure.servicebus.Message.schedule` is not reflected in `azure.servicebus.Message.scheduled_enqueue_time`.

**To Reproduce**
[code]

**Expected behavior**
`azure.servicebus.Message.scheduled_enqueue_time` shoul

[2020-08-03 15:29] kristapratico opened #12863 "[formrecognizer] version release"
Bump version to 3.0.0b1

references that need update: https://github.com/Azure/azure-sdk/issues/1620

[2020-08-03 15:48] chlowell opened #12864 "Test optional keyword arguments"
Key Vault clients have optional keyword arguments which are not tested, for example the `tags` argument to `create_` APIs. We need to identify all of these and ensure they're used in tests.

[2020-08-03 16:44] yunhaoling opened #12866 "[EventHubs] Update code in stress test to use mgmt library to create resources"
As we've shifted from using servicebus library to eventhub-mgmt library to create test resources in livetest, we should do this for stress test scripts as well.

[2020-08-03 16:49] lmazuel commented on #12861
Thanks @zuckerruebe ! Our ServiceBus expert will come soon to investigate your question ;)

[2020-08-03 18:02] #12824 closed

[2020-08-03 18:03] #12688 closed

[2020-08-03 19:13] #12138 closed

[2020-08-03 20:18] alexcombessie commented on #11875
@assafi @Petermarcu I'm interested in the channel if you decide to create it!

[2020-08-03 20:41] #12833 closed

[2020-08-03 21:15] #12023 closed

[2020-08-03 21:33] YijunXieMS commented on #12414
Two changes made in PR #12829 regarding this issue.
1. Removed updatable properties from **kwargs of update_queue method. Users should update the input queue object. Same applies to Topic, Subscription and Rule
2. create_queue now uses **kwargs instead of QueueProperties as input. Same for Topic, Subscription and Rule

[2020-08-03 22:00] #12496 closed

[2020-08-04 00:13] praveenkuttappan commented on #11247
Reopened this issue to restructure test and add it as additional test matrix in CI pipeline

[2020-08-04 03:05] dyhe83 opened #12877 "How to get tenant list which contain more information?"
Hi All,

I'm searching for how to get tenant list by using Python SDK.
After some research I find out [SubscriptionClient][SubscriptionClient] can get list of tenants which only contain `id` & `tenant id`.
But [SubscriptionClient][SubscriptionClient] does not provide sufficient information as [Azure Restful API][RestfulAPI] (name, country code, etc...).

I would like to know is there any other met

[2020-08-04 06:19] onenessboy opened #12878 "How to create a azure vm backup via python sdk . Steps needed please with example"
- **Operating System**: Linux
- **Python Version**: 3.6

**Describe the bug**
Not able to create a backup of azure vm via python sdk,. Need clear cut example if you have one.. Thank you
Can you please give some documentation with example how to do create given vm backup via python sdk please

[2020-08-04 11:36] praveenkuttappan opened #12881 "Refresh eng and scripts in release/v3"
Refresh EngSys pipelines and tools in release/v3 to have changes in master branch level

[2020-08-04 12:08] mgsnuno commented on #9596
@mikeharder I understand your request, I haven't done it yet because it is pretty clear in dask/adlfs the issue and don't have code done with azure V12 storage alone. The main issue is not the file being big or small and more than speed, it's the memory usage, I see 2x-5x higher memory usage.

[2020-08-04 14:16] CoenraadS opened #12882 "No name 'storage' in module 'azure"
- **Package Name**: azure-storage-blob
- **Package Version**: 12.3.2
- **Operating System**: Linux
- **Python Version**: 3.7.8

**Describe the bug**
Cannot import package as described in documentation

**To Reproduce**
Steps to reproduce the behavior:
1. I am working in a python dev container, so I have a very clean environment
`mcr.microsoft.com/vscode/devcontainers/python:0-3.7`

I ensure my env

[2020-08-04 15:32] #12646 closed

[2020-08-04 15:35] #12840 closed

[2020-08-04 15:45] lmazuel commented on #12882
Hi @CoenraadS
It's because your file is called `azure.py` this confuses Python on who is the right `azure` namespace: your script or the SDK installation?
Rename your file and you should be good ;)

[2020-08-04 15:50] CoenraadS commented on #12882
Oh no how embarrassing 😳

Ty! For some reason never even crossed my mind..

[2020-08-04 15:50] #12882 closed

[2020-08-04 16:12] lmazuel commented on #12882
No problem :). Feel free to open any issues if you have questions on our SDK. Thanks!

[2020-08-04 16:34] lmazuel commented on #4773
This was done and this issue was forgotten to be closed. We have an autorest job now. CC @praveenkuttappan @scbedd

[2020-08-04 16:34] #4773 closed

[2020-08-04 16:54] ramaganesan-rg commented on #12877
Routing to a AAD for this question.

[2020-08-04 17:36] ramya-rao-a opened #12885 "[Schema Registry] Add convenience layer for SchemaRegistryClient"
This issue is a follow up for #12559

Using the [Java SchemaRegistryClient](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/schemaregistry/azure-data-schemaregistry) as a reference, add a convenience layer to the generated client in `@azure/schema-registry` package applying [Python SDK guidelines](https://azure.github.io/azure-sdk/python_introduction.html).

The corresponding package i

[2020-08-04 17:45] mikeharder commented on #9596
@mgsnuno: We are eager to investigate any performance regression in v12, whether it's lower throughput or higher memory usage.  But to investigate we will need a repro using only azure-storage-blob.

[2020-08-04 17:56] iscai-msft opened #12886 "[text analytics] change ApiVersion -> TextAnalyticsApiVersion"
@kristapratico brought up the point of name clashing, i.e. if someone is using both TA and FR